[2018-09-26 14:03] usmanalikhan93 commented on #437
Thanks @JessicaSOS. Let me discuss this with my dev team. I will revert back to you tomorrow on this.

[2018-09-26 14:08] JessicaSOS commented on #434
I have not received a video ...
The price of the stain was never displayed during a trade in a few weeks ago. Recently, the regular selling price is displayed.

[2018-09-26 14:13] usmanalikhan93 commented on #434
Hi @JessicaSOS

Sorry I just missed this. I have figured one scenario in which this issue exists. So I have reported to our dev team. Hopefully it will be fixed in next week.

[2018-09-26 14:15] usmanalikhan93 commented on #449
@JessicaSOS can you explain this with a screenshot ? So I can understand this in a better way.

[2018-09-26 14:28] usmanalikhan93 commented on #449
Thank you so much @JessicaSOS :) I will revert back to you tomorrow once I check with that video.

[2018-09-26 14:34] JessicaSOS commented on #449
Tnx 😊

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579> 418 999.1579 |  <tel:4506771579> 450 677.1579 |  <tel:18559991579> 1 855 999.1579
 <mailto:jessica@sosphone.ca> jessica@sosphone.ca
 <https://sosphone.ca/?utm_source=signature&utm_medium=urlsite&utm_content=sosphone.ca&utm_campaign=outils> sosphone.ca
5375, boul. Guillaume Couture, Lévis, G6V 4Z3
2750, 1re Avenue, Limoilou, G1L 3

[2018-09-27 10:51] usmanalikhan93 commented on #446
Hi @ireparo

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!

[2018-09-27 13:12] usmanalikhan93 commented on #449
Hi @JessicaSOS

I hope you are well. I have checked that video and it is an issue. I have verified on my end. I am assigning this to our development team. I hope it will be fixed early next week. :)

[2018-09-28 11:16] usmanalikhan93 commented on #420
Hi @JessicaSOS

I hope you are doing well. Your reported issue has been fixed. I have verified on your account. Please verify at your end and do let us know if you have question.

Thanks!

[2018-09-28 12:55] JessicaSOS commented on #420
Fixed !

[2018-09-28 12:55] #420 closed

[2018-09-28 13:27] #446 closed

[2018-09-28 15:09] JessicaSOS opened #453 "Customer Group"
Hello,
We use a customer group "Business Customers (Net 30 open account)". We have customers in this group (and maybe the other group too I do not know) that automatically changes to "individual". Every month, there are 2 or 3 that change to "individual" because the total number of our customer group "Business Customers (Net 30 open account)" decreases every month. Only one person has permission t

[2018-09-28 19:31] JessicaSOS opened #454 "Show Cost price for User have no acces to see"
An employee whose option "view cost price" is disabled in the privilege of his post, has access to visualized the cost price of an item in the history. See Attachment.
<img width="935" alt="costpriceuser" src="https://user-images.githubusercontent.com/40500094/46229393-7a747100-c333-11e8-95b1-3ef15ab2691b.png">

_--
french:
Un employé dont l'option "voir le cost price" est désactivé dans le privil

[2018-10-01 05:37] usmanalikhan93 commented on #341
Hi again @quangc   - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Thanks
Usman Ali.

[2018-10-01 05:37] #341 closed

[2018-10-01 05:52] usmanalikhan93 commented on #448
Hi @SamHext

I hope you are doing well. We already have option for printnode to print the receipt on checkout. And for the other option, I have noted your concern.

[2018-10-01 06:42] usmanalikhan93 commented on #437
Hi @JessicaSOS

I have assigned this to Dev. Once I get more info on this, I will revert back to you.

[2018-10-01 10:05] usmanalikhan93 commented on #453
Hi @JessicaSOS

I have noticed that now there are 64 customers in that customer group. It's definitely strange. I have to look deeper in it. Once I get more information, I will revert back to you.

[2018-10-01 11:03] usmanalikhan93 commented on #439
Hi @JessicaSOS

Lead expire after 7 days by own.
The second option needs to be improve. I am notifying my product manager, once he approves this, I will let you know.

Thanks
Usman Ali.

[2018-10-01 11:13] usmanalikhan93 commented on #397
Hi @JessicaSOS

Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!

Thanks
Usman Ali

[2018-10-01 13:44] JessicaSOS commented on #454
But could not you rather block the cost price in the history for the employee since the latter is entitled and access to the histirique but not the cost price ...

[2018-10-02 09:20] usmanalikhan93 commented on #454
Hi @JessicaSOS

Till now it's not possible for the developer to block any cost price in Admin history. Best way is to hide the history of that employee.

[2018-10-02 22:31] Trevorshaw7 opened #455 "Use the Alternate store name for identifying the store"
If you have a chain of stores all the store names are likely going to be called the same thing.  Therefor identifying the stores in reports and other sections should be done by the alternate store name.  If you dont use the alternate store name for this purpose it doesn't really have a purpose.
<img width="340" alt="screen shot 2018-10-02 at 4 28 07 pm" src="https://user-images.githubusercontent.c

[2018-10-02 23:03] Trevorshaw7 opened #456 "Language Editor is not working properly"
The language editor is not working properly.  We translated each word but still shows the english name despite the field being translated. See the screen shots for examples.
![img_0002](https://user-images.githubusercontent.com/43588617/46381812-128c9600-c665-11e8-96ae-4005b485b6f2.jpg)
![img_0001](https://user-images.githubusercontent.com/43588617/46381814-14565980-c665-11e8-82f3-ac0b82c61925.jpg

[2018-10-02 23:08] Trevorshaw7 opened #457 "Indication if a field is changable"
Can you make some sort of indicator for the fields that are changeable? It is sometimes very difficult to know wether a field can be changed as not all colored fields are always changeable.

[2018-10-02 23:11] Trevorshaw7 opened #458 "Locking status after part is put on RMA"
After a part has been put on a RMA from a warranty claim, the status of the part should be locked, because if you switch it back to "used" it will allow you to do another warranty claim without taking stock out of inventory to be warrantied

[2018-10-02 23:29] Trevorshaw7 opened #459 "Inventory model listed when adding it on a ticket"
When adding inventory items to tickets it doesn't show the model in the description.  It shows the maufacturer and the item name but not the model.  This makes it difficult to select the correct item.
<img width="1424" alt="screen shot 2018-10-02 at 10 49 16 am" src="https://user-images.githubusercontent.com/43588617/46382553-b297ee80-c668-11e8-870d-20f83a24c934.png">
<img width="1281" alt="screen

[2018-10-02 23:35] Trevorshaw7 opened #460 "Pre and Post test triggered by the clock"
When you have multiple phones or lines on a ticket, the second line clock pulls of the pre and post test from line 1, but if you click pre and post test from action it will bring up the correct one.

[2018-10-03 06:40] usmanalikhan93 commented on #455
Hi @Trevorshaw7

Thank you for bringing this to our attention! It looks like there's a bug that just popped up 🐛.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information! 😃

Thanks
Usman Ali.

[2018-10-03 07:00] usmanalikhan93 commented on #459
Hi @Trevorshaw7

I have checked your concern but it looks like it is showing model in description. Please check screenshot
![inventory](https://user-images.githubusercontent.com/39614480/46394890-f5f36b00-c703-11e8-9d72-fe6f80a538cb.png)

[2018-10-03 07:02] usmanalikhan93 commented on #456
Hi @Trevorshaw7

Can you provide RD credentials to our support team on live chat ? I need to investigate this internally.

[2018-10-03 07:04] usmanalikhan93 commented on #458
Sure thing @Trevorshaw7 . Let me take a look at this and revert back in 6-12 hours. I will reach out to you if I need more information.

Thanks
Usman Ali.

[2018-10-03 07:11] usmanalikhan93 commented on #460
Hi @Trevorshaw7

Thank you for bringing this to our attention! It looks like there's a bug that just popped up 🐛.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information! 😃

Thanks
Usman Ali.

[2018-10-03 07:21] usmanalikhan93 commented on #451
Hi again @ibroken-aus  - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2018-10-03 07:21] #451 closed

[2018-10-03 07:57] usmanalikhan93 commented on #458
Hi @Trevorshaw7

Thank you for bringing this to our attention! It looks like there's a bug that just popped up 🐛.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information! 😃

Thanks
Usman Ali.

[2018-10-03 08:05] usmanalikhan93 commented on #457
Hi @Trevorshaw7

Can you please elaborate with relevant screenshots ?

[2018-10-03 11:54] quangc opened #461 "Manage Casual items into category same as Accessories"
We have a lots of similar Casual items and it make it very long list. Please have a feature into road map that can group similar category into 1 folder, so we can put them together for better mouse tracking.

[2018-10-03 12:04] quangc commented on #432
What is the latest? How come it cannot be reproduced? It should have system log of why the number change from 5 to 3. Either human or system make these changes, it must records in the system.

[2018-10-03 13:37] JessicaSOS commented on #454
It's a bit contradictory you do not find? I must remove access to the employee who has access to the history because the option to hide the cost price does not work properly as a whole ... The option to hide the cost price does not work. If you wish to hide it, you must remove access to the RMA, the history in an inventory item, etc ...

[2018-10-03 13:39] JessicaSOS commented on #432
It's random, it's not every time. If I know what is causing it, I will mention it to you, but it is not the case.

[2018-10-03 13:57] JessicaSOS opened #462 "Tag in customer portal"
Hello, can we add the following tags in the response to the customer portal please.

   {store_name}       {store_address}       {store_email}       {store_mobile}       www.sosphone.ca

--
French:
Bonjour, pouvons-nous ajouter les tags suivants dans la réponse au portal client svp.
  {store_name}       {store_address}       {store_email}       {store_mobile}       www.sosphone.ca

[2018-10-03 14:27] JessicaSOS opened #463 "Tag in Du invoice reminder"
add the following tags in the unpaid invoice reminder.

{store_name}       {store_address}       {store_email}        {store_mobile}      www.sosphone.ca

_--
french:
ajouter les tag suivants dans le rappel de facture impayé.

{store_name}  {store_address}  {store_email}  {store_mobile} www.sosphone.ca_

[2018-10-03 14:36] JessicaSOS opened #464 "Tag in Payment confirmation email"
Add the following tags in the automatic email when the customer applies a payment to their invoice:

{store_name} {store_address} {store_email} {store_website} {store_phone} (or {store_mobile})

_--
French:
ajouter les tag suivants dans le courriel automatique lorsque le client applique un paiement à sa facture:

{store_name}  {store_address}  {store_email}  {store_website}  {store_phone} (or {sto

[2018-10-03 14:41] JessicaSOS opened #465 "Password in POS"
Can not write a code with letters since yesterday in the POS. Only the numbers work.
<img width="582" alt="pos" src="https://user-images.githubusercontent.com/40500094/46417991-cf7c0280-c6f8-11e8-8139-c8686aa92885.png">

_--
French:
Impossible d'écrire un code avec des lettres depuis hier dans le POS. Seulement les chiffres fonctionnent._

[2018-10-03 16:58] foneworkshop opened #466 "Discount on invoice"
Can we have the invoice show the discount that has been given either in money or %

[2018-10-03 18:41] Trevorshaw7 commented on #459
Can you explain my 2 screenshots then?

On Wed, Oct 3, 2018 at 1:01 AM Usman Ali Khan <notifications@github.com>
wrote:

--

Trevor Shaw
Bad Apple

[2018-10-03 18:42] Trevorshaw7 commented on #456
Sorry what do you mean?

On Wed, Oct 3, 2018 at 1:02 AM Usman Ali Khan <notifications@github.com>
wrote:

--

Trevor Shaw
Bad Apple

[2018-10-03 18:47] usmanalikhan93 commented on #459
@Trevorshaw7

It means it is not showing phone model.

[2018-10-03 19:01] Trevorshaw7 commented on #459
Mine is still not showing the model

On Wed, Oct 3, 2018 at 12:47 PM Usman Ali Khan <notifications@github.com>
wrote:

--

Trevor Shaw
Bad Apple

[2018-10-04 04:43] usmanalikhan93 commented on #459
@Trevorshaw7

Can you please share your login details to support team ? I have to check into your account.

[2018-10-04 04:51] Trevorshaw7 commented on #459
How do I share it without putting it on this thread?

On Wed, Oct 3, 2018, 10:43 PM Usman Ali Khan <notifications@github.com>
wrote:

[2018-10-04 05:34] usmanalikhan93 commented on #459
Just contact customer support through website. Go to settings > Customer Support.

[2018-10-04 06:37] usmanalikhan93 commented on #465
Hi @JessicaSOS

Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!

Thanks
Usman Ali.

[2018-10-04 10:27] Uzair-RepairDesk commented on #462
Hey @JessicaSOS
I hope you are doing well. Thank you for highlighting this. We are going to start working on canned responses improvements at end of this quarter.
I will include your feedback on the same task. Thanks

[2018-10-04 10:28] Uzair-RepairDesk commented on #463
Hey @JessicaSOS
I hope you are doing well. Thank you for highlighting this. We are going to start working on canned responses improvements at end of this quarter.
I will include your feedback on the same task. Thanks

[2018-10-04 10:29] Uzair-RepairDesk commented on #464
Hey @JessicaSOS
I hope you are doing well. Thank you for highlighting this. We are going to start working on canned responses improvements at end of this quarter.
I will include your feedback on the same task. Thanks

[2018-10-05 05:58] Uzair-RepairDesk commented on #466
Hi @foneworkshop
Thank you for your post. We have both options of "% and Amount" discount for "In-Line and Overall" discount. If you either give a discount in %age or amount, both discounts are calculated in a specific value.
Can you specify where you exactly want to display on the invoice that the discount is either in "value or %"?

[2018-10-05 11:06] usmanalikhan93 commented on #465
Hi @JessicaSOS

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!

[2018-10-05 11:07] usmanalikhan93 commented on #455
Hi @Trevorshaw7

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali.

[2018-10-05 11:08] usmanalikhan93 commented on #445
Hi @ThinkDigitalRepair

We have improved search on POS. Please verify on your end and do let us know if you have any question.

Thanks
Usman Ali

[2018-10-05 11:09] usmanalikhan93 commented on #449
Hi @JessicaSOS

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2018-10-05 15:35] ThinkDigitalRepair commented on #445
Yo, it's perfect!

On Fri, Oct 5, 2018, 4:08 AM Usman Ali Khan <notifications@github.com>
wrote:

[2018-10-05 15:38] ThinkDigitalRepair commented on #445
Super happy with the change!

[2018-10-05 15:54] #445 closed

[2018-10-08 04:43] usmanalikhan93 commented on #456
Hi @Trevorshaw7

I got your login details. I will look into it and revert back to you in 4-5 hours.

Thanks
Usman Ali.

[2018-10-08 05:52] usmanalikhan93 commented on #434
Hi again @JessicaSOS  - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2018-10-08 05:52] #434 closed

[2018-10-08 05:52] usmanalikhan93 commented on #449
Hi again @JessicaSOS  - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2018-10-08 05:52] #449 closed

[2018-10-08 05:53] usmanalikhan93 commented on #465
Hi again @JessicaSOS - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2018-10-08 05:53] #465 closed

[2018-10-08 05:53] usmanalikhan93 commented on #455
Hi again @Trevorshaw7 - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2018-10-08 05:53] #455 closed

[2018-10-08 07:54] usmanalikhan93 commented on #456
Hi @Trevorshaw7

I hope you are doing well. I have checked your account and in translate editor, all the text are not translated. Please translate it manually and save it. If you still find any confusion, you can contact any of our customer support.

Thanks
Usman Ali.

[2018-10-08 08:12] usmanalikhan93 commented on #454
@JessicaSOS  Yes you have to hide history too in this case. I have talked to developer and he said it is not possible to do this now because it can disturb history. So, it is recommended to hide history if you restrict employee to see the cost price.

[2018-10-08 13:57] Trevorshaw7 commented on #456
We have translated everything already. Please see the screen shots

On Mon, Oct 8, 2018, 1:54 AM Usman Ali Khan <notifications@github.com>
wrote:

[2018-10-08 15:18] Trevorshaw7 commented on #455
Seems to be fixed, thanks

On Sun, Oct 7, 2018 at 11:53 PM Usman Ali Khan <notifications@github.com>
wrote:

--

Trevor Shaw
Bad Apple

[2018-10-08 23:00] Trevorshaw7 commented on #457
<img width="1196" alt="screen shot 2018-10-08 at 4 59 39 pm" src="https://user-images.githubusercontent.com/43588617/46637930-a0f89000-cb1b-11e8-9fbf-82731f05a114.png">

[2018-10-08 23:04] Trevorshaw7 commented on #457
Everything in the white box is editable, as is the pending box and the in progress box, but the partial box is not editable. given the pending and in progress box is editable you would think the partial is too, but because there is nothing that sets it apart other than color (and there are so many colors we can not know which ones are editable and which are not).  There are more examples of this.

[2018-10-09 00:02] Trevorshaw7 opened #467 "Taxes not working correctly in store setup"
I can not get the taxes to show up in store set up.

<img width="526" alt="screen shot 2018-10-08 at 6 01 06 pm" src="https://user-images.githubusercontent.com/43588617/46639583-3c8dfe80-cb24-11e8-9d25-8015252d966b.png">

[2018-10-09 00:02] Trevorshaw7 commented on #467
<img width="1034" alt="screen shot 2018-10-08 at 6 02 30 pm" src="https://user-images.githubusercontent.com/43588617/46639593-5af3fa00-cb24-11e8-8800-3199792eb3de.png">

[2018-10-09 00:13] #467 closed

[2018-10-09 07:50] usmanalikhan93 commented on #448
Hi again @SamHext - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2018-10-09 07:50] #448 closed

[2018-10-09 12:58] usmanalikhan93 commented on #456
Hi @Trevorshaw7

Just a quick question. Are you selecting Chinese Traditional ?

[2018-10-09 13:01] Trevorshaw7 commented on #456
Simplified

On Tue, Oct 9, 2018, 6:58 AM Usman Ali Khan <notifications@github.com>
wrote:

[2018-10-09 13:03] usmanalikhan93 commented on #457
Hi @Trevorshaw7

In Partial case, you have to select status internally. E.g. 2 issues have different status in a ticket, you have to make it same to change the partial status. I hope it helps.

[2018-10-09 13:03] usmanalikhan93 commented on #456
Ok. Let me look into it.

[2018-10-09 13:16] Trevorshaw7 commented on #457
The problem isn't that I have to change it internally. The problem is not
knowing what I can change from a particular screen.

On Tue, Oct 9, 2018, 7:03 AM Usman Ali Khan <notifications@github.com>
wrote:

[2018-10-09 16:52] JessicaSOS commented on #465
Fixed !

[2018-10-09 16:57] JessicaSOS commented on #449
It seems to be corrected. Thank you very much.

[2018-10-09 16:59] JessicaSOS commented on #434
It seems to be corrected. Thank you very much.

[2018-10-10 05:30] Trevorshaw7 commented on #457
I am not asking to be taught. I am more asking for an indicator. I just
don't think we are on the same page on this request.

On Tue, Oct 9, 2018, 11:26 PM Usman Ali Khan <notifications@github.com>
wrote:

[2018-10-10 05:43] ibroken-aus opened #468 "Suggestion - iPad POS App to allow adding a part with serial number to a repair."
We can add an accessory with serial to ticket or invoice, this extended to add parts to repair items would make the iPad POS app more efficient.

[2018-10-10 07:04] Uzair-RepairDesk commented on #457
Hi @Trevorshaw7
I apologize if we are not able to answer your question. There is not a specific indicator, however, please note down the following scenario's that allow you to edit fields from Manage Tickets screen.

1: You can change the employee or assign the ticket to another employee from "Assigned to" filed. It's editable. If there are multiple devices in a single ticket, you can assign it to

[2018-10-10 07:11] Uzair-RepairDesk commented on #468
Hi @ibroken-aus
Thank you for sharing your idea. I am pleased to inform you that we are already working on "Add Part" option while you select the specific repair problem and doesn't have a specific part available.
We hope to release it in the next update.

[2018-10-10 07:28] ibroken-aus commented on #468
Super important that it allows serialized inventory. I know on the old app it didn't allow selection of a part with serial.

Ideally selection of the part needs to be something that can be added after the device has been checked in for repair.

[2018-10-10 07:59] Uzair-RepairDesk commented on #468
Thank you for your response. If you have serialized parts, we already have an option available to "Select Serial" when you select it for the repair. Please check the screenshot attached.
![ipad select part serial](https://user-images.githubusercontent.com/22955861/46721375-4af72a00-cc8c-11e8-9c92-96626aa32239.jpeg)

[2018-10-10 13:54] JessicaSOS commented on #454
You should register it somewhere close to the cost price option, for your other customers who like me, think the cost price will hide everywhere when we do not give access ...

[2018-10-11 03:40] ThinkDigitalRepair opened #469 "Ability to Edit Manual In/Out Transactions from History Window"
Right now we just... can't :)
![2018-10-10 20_38_18-window](https://user-images.githubusercontent.com/23037821/46779436-a6490c80-cccc-11e8-9f83-d68eb9071e0a.jpg)

[2018-10-11 05:45] Uzair-RepairDesk commented on #469
Hi Jonathan @ThinkDigitalRepair,

Hope you are well. Currently, it's not possible to edit the Manual In/Out transaction. Its associated with "Start/End shift functionality". If we give the option to edit the records, it may create disturbance in transaction log and reconciliation of the shift. The major problems will come up if users do it after ending the specific shift.
We advise you to use "Exp

[2018-10-11 05:48] ThinkDigitalRepair commented on #469
Hi, the reason I needed to edit it is that I deposit at the bank early at times I manual that out. I forgot to change it from manual in to manual out and so now the drawer shows $400 extra instead of $400 less. So since I can’t edit it, I have to manual out $800. This causes an incorrect report. It seems like making it editable only while the shift is open shouldn’t create an issue, since nearly a

[2018-10-11 06:04] Uzair-RepairDesk commented on #469
Thank you for sharing your idea. We are working on documentation for "Validation on deletion and Void records" option.
I can pass your feedback to my team so they can incorporate your idea in the same document.
"During the shift, if you log "Manual In/Out" transaction and there is a mistake, we will give an option to "Void" the record so you can void it and make a correction. Once its voided, the

[2018-10-11 06:05] ThinkDigitalRepair commented on #469
Great, thank you. That would solve my issue. Thanks for the response!

[2018-10-11 10:05] usmanalikhan93 commented on #460
Hi @Trevorshaw7

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2018-10-11 11:51] quangc opened #470 "Salary for staff changes for no reason"
One of our staff got the salary changed from $20 to $18, and we did not make any changes in the system. Even in the staff management, showing as $20.

Another question is why there are 2 places showing the pay rate instead of 1, and how it affect each other if one is set to another figure?

[2018-10-11 11:52] quangc commented on #470
![screen shot 2018-10-11 at 5 34 51 pm](https://user-images.githubusercontent.com/22993605/46802130-37d97c80-cda8-11e8-89e7-796a7765c7e3.png)

[2018-10-12 05:37] usmanalikhan93 commented on #470
Sure thing @quangc. Let me take a look at this and revert back in 6-12 hours. I will reach out to you if I need more information.

Thanks
Usman Ali.

[2018-10-12 10:01] usmanalikhan93 commented on #459
Hi @Trevorshaw7

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2018-10-12 10:59] usmanalikhan93 commented on #397
Hi @JessicaSOS

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2018-10-12 13:16] usmanalikhan93 commented on #470
Hey @quangc

Can you confirm the Employee name against you facing this issue ?

[2018-10-12 14:17] usmanalikhan93 commented on #409
Hi @JessicaSOS

We’ve gone live with following improvements in employee commission module:
1: Employee commission can be set in amount or percentage
2: Commission value can be set globally, with respect to inventory item categories e.g. cases, chargers or individual items too.
3: Setup to split commission between a sales person and technician
4: Configuration to set commission based on total sales

[2018-10-12 14:18] usmanalikhan93 commented on #412
Hi @JessicaSOS

We’ve gone live with following improvements in employee commission module:
1: Employee commission can be set in amount or percentage
2: Commission value can be set globally, with respect to inventory item categories e.g. cases, chargers or individual items too.
3: Setup to split commission between a sales person and technician
4: Configuration to set commission based on total sales

[2018-10-12 22:05] quangc commented on #470
Trinh Duong / tiffany duong

Best Regards,
Quang Cao.
General Manager.
+ Repair Centre Frankston
+ Repair Centre Springvale
+ Repair Partners
P: 1300 89 82 99
A : Shop 6 Shannon Street Mall, Frankston, Vic, 3199.

On 13 Oct 2018, at 12:16 am, Usman Ali Khan <notifications@github.com> wrote:

[2018-10-13 15:51] serfma opened #471 "Purchase Order Search for Items Doesn't Work with Multi SKU"
If you use multiple SKU for your parts, you will be unable to search for them in purchase orders after you select a supplier.
![image](https://user-images.githubusercontent.com/1673121/46907287-488c0e80-cede-11e8-87e9-b8a26606c4a7.png)

As you can see here, I have an item for a white iPhone 6, using multiple SKU and search cannot find it.
![image](https://user-images.githubusercontent.com/1673121/

[2018-10-14 02:52] mobilebarn opened #472 "image duplication in woo commerce after product is updated in RD"
Hi guys, i have been trialing the woo commerce integration and it works great apart from one thing ive noticed. If i upload or have a product in RD with an image, everytime i update that product in RD  and save, it will duplicate the image in my media library within woo commerce. Not sure why this happens but i have worked out so long as i just add the image from within woo commerce and not RD thi

[2018-10-15 04:35] #458 closed

[2018-10-15 04:35] #459 closed

[2018-10-15 04:35] #397 closed

[2018-10-15 04:44] usmanalikhan93 commented on #456
Hi @Trevorshaw7

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali.

[2018-10-15 04:44] usmanalikhan93 commented on #470
Thanks for the information .

[2018-10-15 04:46] usmanalikhan93 commented on #471
Sure thing @serfma . Let me take a look at this and revert back in 6-12 hours. I will reach out to you if I need more information.

[2018-10-15 04:47] usmanalikhan93 commented on #472
Sure thing @mobilebarn . Let me take a look at this and revert back in 6-12 hours. I will reach out to you if I need more information.

[2018-10-15 04:52] Uzair-RepairDesk commented on #169
Hey @quangc
I am pleased to inform you that we’ve gone live with following improvements in employee commission module:
1: Employee commission can be set in amount or percentage
2: Commission value can be set globally, with respect to inventory item categories e.g. cases, chargers or individual items too.
3: Setup to split commission between a sales-person and technician
4: Configuration to set com

[2018-10-15 04:52] #169 closed

[2018-10-15 04:53] Uzair-RepairDesk commented on #196
Hey @quangc
I am pleased to inform you that we’ve gone live with following improvements in employee commission module:
1: Employee commission can be set in amount or percentage
2: Commission value can be set globally, with respect to inventory item categories e.g. cases, chargers or individual items too.
3: Setup to split commission between a sales-person and technician
4: Configuration to set com

[2018-10-15 04:53] #196 closed

[2018-10-15 04:55] Uzair-RepairDesk commented on #265
Hey @kristan79
I am pleased to inform you that we’ve gone live with following improvements in employee commission module:
1: Employee commission can be set in amount or percentage
2: Commission value can be set globally, with respect to inventory item categories e.g. cases, chargers or individual items too.
3: Setup to split commission between a sales-person and technician
4: Configuration to set

[2018-10-15 04:55] #265 closed

[2018-10-15 05:32] usmanalikhan93 commented on #471
Hi @serfma

I hope you are doing well. Purchase order search works on supplier you have selected. If you have selected a supplier, it will only search those item which are belongs to that supplier.

[2018-10-15 07:36] usmanalikhan93 commented on #470
Hi @quangc

I am assigning this to dev team. They will further investigate why its changing the rate. I will revert back to you once I get more info on this.

Thanks
Usman Ali.

[2018-10-15 10:40] mobilebarn commented on #472
ive created screen recording but unable to attach it @

[2018-10-15 10:42] mobilebarn commented on #472
here it is zipped
[rd bug.mp4.zip](https://github.com/Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS/files/2478384/rd.bug.mp4.zip)

[2018-10-15 10:54] usmanalikhan93 commented on #472
@mobilebarn Thanks for the video. Let me look into it. I will revert back to you soon if I need more info on this.

[2018-10-15 12:57] usmanalikhan93 commented on #437
Hi @JessicaSOS

Please Find developer's feedback:
"  Normally we create 3 webhooks:
1- Order Updated
2- Order Created
3- Product Created

But your client has to create another one which is order.deleted "

[2018-10-16 06:43] usmanalikhan93 commented on #409
Hi again @JessicaSOS  - I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Usman Ali.

[2018-10-16 06:43] #409 closed

[2018-10-16 06:47] usmanalikhan93 commented on #412
Hi again @JessicaSOS  - I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Usman Ali

[2018-10-16 06:47] #412 closed

[2018-10-16 07:44] usmanalikhan93 commented on #470
Hi @quangc

Here is the feedback from dev:

" It was changed manually by client. I have checked in database. Even he has changed pay to 5$ yesterday and than again 20$. If he wants to update his rate in reports, then ask him "

Do you want to change all the 18$ to 20$ in reports against Tiffany doung ?

[2018-10-16 11:42] quangc commented on #470
Please send me detailed logs. I want to see who made the changes. Only my account has access to that payroll system ad I did not make any changes myself. This is security breach. I have to investigate urgently.

Best Regards,
Quang Cao.
General Manager.
+ Repair Centre Frankston
+ Repair Centre Springvale
+ Repair Partners
P: 1300 89 82 99
A : Shop 6 Shannon Street Mall, Frankston, Vic, 3199.

On

[2018-10-16 21:57] JessicaSOS commented on #412
ok i will test

[2018-10-16 22:09] JessicaSOS commented on #453
Here is the example of a customer who is given individually!
![customer](https://user-images.githubusercontent.com/40500094/47050486-8f903300-d16e-11e8-88b6-e5681af070ef.png)

[2018-10-16 22:14] JessicaSOS commented on #437
When a command is erase? I'm the one who erased the bill, because it does not have to be. The devices must not be able to be removed from the inventory if they are not sold. In the case attached, the inventory is updated negatively on 2 of the 3 devices. The webhook is no longer effective if we fraudulently purchase the same item 2 times or 3 times? Is it possible ?

_--
french:
Lorsqu'une command

[2018-10-17 09:50] usmanalikhan93 commented on #472
Hi @mobilebarn

Your reported issue has been assigned to development team and I hopefully it will be fixed early next week.
Your patience would be highly appreciated.

Thanks!
Usman Ali

[2018-10-18 06:14] usmanalikhan93 commented on #470
Hi @quangc

I have checked with our technical department and they said they can not share Database details with you. It was only identified that you have changed the salary in manage employees. It is recommended that if you feel it was changed by someone else, then please change you password.

[2018-10-18 06:20] quangc commented on #470
I want to see the record of when (time and date) my account is used to change this.

I’m 100% sure no one access my account except me. It must be from the system or your team.

Best Regards,
Quang Cao.
General Manager.
+ Repair Centre Frankston
+ Repair Centre Springvale
+ Repair Partners
P: 1300 89 82 99
A : Shop 6 Shannon Street Mall, Frankston, Vic, 3199.

On 18 Oct 2018, at 2:14 pm, Usman Ali

[2018-10-18 06:28] usmanalikhan93 commented on #470
@quangc

You can check in Employee Activity Report in Reports section.

[2018-10-18 06:32] usmanalikhan93 commented on #456
Hi again @Trevorshaw7  - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2018-10-18 06:32] #456 closed

[2018-10-18 07:16] usmanalikhan93 commented on #470
Hey @quangc

I have checked with Danish and he told me what you want. I have assigned to developer, Hopefully he will do the needful :) I will update you once I get more info on this.

[2018-10-18 09:49] usmanalikhan93 commented on #470
Hi @quangc

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2018-10-18 10:03] quangc commented on #470
It has been showed as $20 today. But I still need to know why it happens.

Best Regards,
Quang Cao.
General Manager.
+ Repair Centre Frankston
+ Repair Centre Springvale
+ Repair Partners
P: 1300 89 82 99
A : Shop 6 Shannon Street Mall, Frankston, Vic, 3199.

On 18 Oct 2018, at 5:50 pm, Usman Ali Khan <notifications@github.com> wrote:

[2018-10-18 10:05] usmanalikhan93 commented on #470
@quangc

I already told you what developer said. It was changed manually.

[2018-10-18 10:36] quangc commented on #470
Please give me the date the make was changed so I can look up in the employee activity report. Thanks

Best Regards,
Quang Cao.
General Manager.
+ Repair Centre Frankston
+ Repair Centre Springvale
+ Repair Partners
P: 1300 89 82 99
A : Shop 6 Shannon Street Mall, Frankston, Vic, 3199.

On 18 Oct 2018, at 6:05 pm, Usman Ali Khan <notifications@github.com> wrote:

[2018-10-18 10:39] usmanalikhan93 commented on #470
ok let me ask developer.

[2018-10-18 10:54] usmanalikhan93 commented on #470
He said he has removed data. I think it was 15th or 16th Oct. @quangc

[2018-10-19 05:07] #470 closed

[2018-10-19 14:00] JessicaSOS commented on #397
fixed

[2018-10-22 21:02] serfma commented on #471
I see you moved this to Week 4, does this mean you understand what the issue is and are working on it? It sounded like the problem was misunderstood so I wanted to verify as it very much is a headache still.

[2018-10-22 21:40] Trevorshaw7 opened #473 "Store Name should be Alternate Store on Ticket under location"
See attached,
I looked up a ticket from the customer section, and the store name is unidentifiable under location because all my stores have the same name, but have different alternate names.
<img width="1436" alt="screen shot 2018-10-22 at 3 35 07 pm" src="https://user-images.githubusercontent.com/43588617/47321062-a6bc9e00-d610-11e8-8458-bef8deb9d4ef.png">

[2018-10-23 04:43] usmanalikhan93 commented on #473
Hi @Trevorshaw7

Sure thing customer name. Let me take a look at this and revert back in 6-12 hours. I will reach out to you if I need more information.

[2018-10-23 04:46] usmanalikhan93 commented on #471
Hey @serfma

Sorry for the delay. Just an update we have fixed reported issue and it’s available for beta testing on sandbox server. We are hoping to go live with this either today or tomorrow hopefully. I will let you know once it will be live.

[2018-10-23 12:11] usmanalikhan93 commented on #439
Hi @JessicaSOS

I hope you are doing well. Now we have improved the lead that you have to manually change the status of lead to expire. It will not changed automatically after 7 days. Please verify on your end and do let us know if you have any question.

Thanks
Usman Ali

[2018-10-23 12:14] usmanalikhan93 commented on #472
Hi @mobilebarn

We have fixed your issue. Please also find developers comment on this
"due to some complication and woocommerce limitation image will only sync first time when product is creating first time on wc from rd."

Thanks
Usman Ali

[2018-10-23 16:34] JessicaSOS opened #474 "New lead alert"
Regarding confrmation alerts for a new LEAD.
In the "Appointment calendar widget" settings, the alerts are correctly selected to the employee "kelsye Bélair" for the SOS Phone Lévis store. However, it's been several times that she mentions me that she has no popup when a new lead is created via our website. Can you please check.

_--
french:
Concernant les alertes de confrmation d'un nouveau LEAD.

[2018-10-23 19:00] JessicaSOS commented on #413
Do we have development concerning this? It would be good and very convenient to have it soon!

[2018-10-23 21:11] JessicaSOS commented on #439
Ok good ! Is it only for the new lead or for the old ones too?

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579> 418 999.1579 |  <tel:4506771579> 450 677.1579 |  <tel:18559991579> 1 855 999.1579
 <mailto:jessica@sosphone.ca> jessica@sosphone.ca
 <https://sosphone.ca/?utm_source=signature&utm_medium=urlsite&utm_content=sosphone.ca&utm_campaign=outils> sosphone.ca
5375, boul. Guillaume

[2018-10-24 06:12] usmanalikhan93 commented on #474
Hi @JessicaSOS

Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

Thanks
Usman Ali.

[2018-10-24 08:06] paengkie opened #475 "Time in / Out"
History must have an option to delete, i manage to do a trial for 2 employees which was successful but i cannot delete my trials time in and out.

[2018-10-24 16:43] usmanalikhan93 commented on #439
For the old ones too, if its status is not expired yet.
@JessicaSOS

[2018-10-25 04:39] #439 closed

[2018-10-25 04:42] usmanalikhan93 commented on #472
Hi again @mobilebarn  - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Usman Ali

[2018-10-25 04:42] #472 closed

[2018-10-25 04:45] usmanalikhan93 commented on #473
Hi @Trevorshaw7

Just an update we have fixed reported issue and it’s available for beta testing on sandbox server. We are hoping to go live with this either today or tomorrow hopefully.

[2018-10-25 07:47] Uzair-RepairDesk commented on #475
Hi @paengkie
Thank you for your post. Currently, it's not possible to delete the time log however we certainly give the option to update the time log if you have an admin account.
You can go to "Timesheet" and click on "Update" to update the time log.

[2018-10-25 07:58] usmanalikhan93 commented on #474
Hi @JessicaSOS

Your reported issue has been assigned to development team and hopefully it will be fixed today or tomorrow. I will update you accordingly.

Usman Ali

[2018-10-25 10:47] afrahm opened #476 "Default tickets as un-assigned"
Be able to make tickets default to un-assigned rather than the person logged in.

Our business process now requires staff to open the ticket prior to starting work and assign themselves to the ticket. Being able to set them as un-assigned when created will help us keep track of what our techs are working on.

[2018-10-26 01:26] Trevorshaw7 opened #477 "Reorder levels"
I need to be able to upload reorder levels at the main store without changing the reorder levels at other stores.  I uploaded inventory today to the main level, but it set reorder levels all the same across all stores.
Also I checked low stock report and nothing was on it, even though all my Quantity on hand are 0 and there are reorder levels set.  I checked a few skus to make sure they were set a

[2018-10-26 01:46] hitman1986 opened #478 "error in view tickt in ipad app"
when open view ticket in ipad apps auto close apps ..why?

[2018-10-26 01:51] hitman1986 opened #479 "creat ticket without customer information"
creat ticket without comustomer information in ipad app, but I have also set the settings to force the employee to enter the information

[2018-10-26 02:04] hitman1986 opened #480 "disable password requaird"
disable password requaird after checkout on ipad app. i have to disable it from settings

[2018-10-26 02:09] hitman1986 opened #481 "add in search filter"
i need to add search by type in search filter in low stock report , this is amazing idea to easy search and quickly

[2018-10-26 06:29] usmanalikhan93 commented on #480
Hi @hitman1986

Till now there no such thing in settings which can disable password after checkout on ipad app. Moreover we have a plan to improve this. Hopefully we will add this in our coming releases.

[2018-10-26 07:16] usmanalikhan93 commented on #478
Hey @hitman1986

Are you using latest build? And whats you ios version? If your build is not latest, please download latest build. I have tested but it's working fine.

[2018-10-26 07:17] usmanalikhan93 commented on #477
Sure thing @Trevorshaw7 . Let me take a look at this and revert back in 6-12 hours. I will reach out to you if I need more information.

[2018-10-26 07:35] Uzair-RepairDesk commented on #481
**Hi @hitman1986**
I really appreciate that you took the time to share your idea.
I can certainly see how suggested improvements would be useful. We are **already working to improve "Low Stock Report" functionality specification document** so I can pass your feedback to the team to incorporate it. We have a plan in the **roadmap to improve the report in this quarter.**

And I hope that if there’s

[2018-10-26 07:44] Uzair-RepairDesk commented on #476
Hi Andrew @afrahm,

Thank you for sharing your idea. Above option facilitates to the user of "One Man Army" and scenario differs with respect to business policies. I will discuss it with the team that what we can do to come up with the solution of the above suggestion. Thanks

Regards,
Uzair Shah
RepairDesk Team

[2018-10-26 09:48] usmanalikhan93 commented on #471
Hi @serfma

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2018-10-26 09:48] usmanalikhan93 commented on #473
Hi @Trevorshaw7

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2018-10-26 09:54] usmanalikhan93 commented on #474
Hi @JessicaSOS

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2018-10-26 09:58] usmanalikhan93 commented on #479
Hi @hitman1986

Currently settings are not replicating on iPAD app. I will discuss this with my product manager and will revert back to you once I get more info.

Thanks
Usman Ali

[2018-10-26 09:59] usmanalikhan93 commented on #480
Hi @hitman1986

Currently settings are not replicating on iPAD app. I will discuss this with my product manager and will revert back to you once I get more info.

Thanks
Usman Ali

[2018-10-26 10:17] hitman1986 commented on #478
yes im used last update from ios and last update from build app ، It seems that the error occurs because the language of the entry for tickets is Arabic

[2018-10-26 10:46] hitman1986 opened #482 "improve checkout"
Suggestion:
The sales process will certainly be easier and faster. The less the number of clicks on the iPad, for example, the process of ending the sale of accessories requires pressing on: checkout-select the price - Complete payment- new sale
We can shorten it just one click :
If a customer is a walking  without specifying who it is, the sales process is a one click in a button ( Pay the full a

[2018-10-26 10:47] hitman1986 commented on #481
thank you

[2018-10-26 15:10] JessicaSOS opened #483 "Inventory adjustement missing in inventory transfert"
It seems to be missing a transaction in item history # 3082. By logging on to SOS Phone Limoilou, in the item history, we can not see the inventory adjustment of transfer # TO-2199 from SOS Phone Limoilou to SOS Phone Ste-foy. Still, the invenatire adjustment was done correctly. The pieces were in stock and it was received by the shop of Ste-Foy. What is difficult to understand is not that the tra

[2018-10-27 18:33] Trevorshaw7 opened #484 "Inventory Valuation no longer an option"
Why is Inventory Valuation no longer an option?

[2018-10-29 04:19] usmanalikhan93 commented on #471
Hi again @serfma  - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Thanks
Usman Ali

[2018-10-29 04:19] usmanalikhan93 commented on #473
Hi again @Trevorshaw7  - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Thanks
Usman Ali

[2018-10-29 04:19] #473 closed

[2018-10-29 06:30] usmanalikhan93 commented on #484
Hi @Trevorshaw7

Can you explain a bit more if possible with a screenshot or a video ?

[2018-10-29 06:33] Uzair-RepairDesk commented on #482
Hey @hitman1986
I really appreciate that you took the time to share your idea.

I can certainly see how suggested improvement would be useful and save the clicks to mark the full payment like we have the option available on the checkout page of the web. With a small team and a big roadmap, we have to pick new features and improvements based on the value and complete the main features of iPad App.

[2018-10-29 06:33] usmanalikhan93 commented on #478
Hi @hitman1986

We are releasing new release today, hopefully this issue will be fixed in this release. And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.

[2018-10-29 06:53] usmanalikhan93 commented on #484
Hi @Trevorshaw7

I believe inventory valuation method is implemented on your account. Please verify on your account. And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.

Regards
Usman Ali

[2018-10-29 07:45] #484 closed

[2018-10-29 10:43] usmanalikhan93 commented on #414
Hi @JessicaSOS

Can you explain me again this issue ?

[2018-10-29 10:47] usmanalikhan93 commented on #438
Hi @JessicaSOS

I hope this issue is resolved now. If it occurs again in future, you can open this issue again. For now I am closing this.

Thanks
Usman Ali.

[2018-10-29 10:47] #438 closed

[2018-10-31 13:43] JessicaSOS commented on #438
But you did nothing to correct the situation? No modification? It was not the first time he had arrived. You want another example?

_--
french:
Mais vous n'avez rien fait pour corriger la situation? Aucune modification? Ce n'était pas la première fois que sa arrivait. Vous désirez une autre exemple?_

[2018-10-31 13:45] JessicaSOS commented on #411
Happy Birthday! This issue was opened a year ago yesterday! We do not want this task to pass the two years ....

[2018-10-31 13:49] JessicaSOS commented on #398
We are no longer able to view paid or unpaid invoices in the client interface, manage client. We are able to view invoices made at our branch only. Before it was not like that and in the tickets it's not like that. Can you put it back as before? Since early August we expect that has recovered.

[2018-10-31 14:17] JessicaSOS opened #486 "Tax Problem not fixed yet (TVQ)"
Hello,
This problem is not really recent. It has already been postponed several times. There is an improvement each time, but it is never corrected in full. We still have problems with taxes. They default, but when we modify the notes or add an item, the amounts do not correspond to reality. Only the GST puts it. The calculation of the QST no longer works. Also, when we convert a lead into a ticke

[2018-10-31 14:54] JessicaSOS commented on #454
tnx

[2018-10-31 15:07] JessicaSOS commented on #414
In the transaction log, there are 11 payment methods. (You can view them in the image named "payment in transaction log")
<img width="945" alt="payment in transaction log" src="https://user-images.githubusercontent.com/40500094/47797562-faa84080-dcfc-11e8-9b41-4be0ab8f1a1b.png">

First, the error is that the payment methods created in the payment method settings do not match those shown in the tra

[2018-10-31 15:46] JessicaSOS commented on #417
#1 Not fixed. Need to be fixed.

#2 fixed.

#3 Not fixed. Need to be fixed.

[2018-10-31 15:58] JessicaSOS opened #487 "Negative adjustement in inventory item & note in inventory item"
Hello,
A customer has a coin on order in a ticket. We do not have it in inventory so the inventory drops to -1 when the coin is put in the ticket.

For another file, I refunded a customer, but I left the room on his phone. So I have to remove the coin in the invenatire manually, because after my refund, the inventory is adjusted to +1 (because of the refund).

In this moment, I am therefore at 0 a

[2018-10-31 17:55] JessicaSOS commented on #474
Is fixed tnx ! :)

[2018-10-31 18:21] JessicaSOS commented on #439
It seems to be corrected, thank you!

[2018-10-31 19:17] JessicaSOS opened #488 "Double scan (sku) in count inventory"
The double scan works in the Pos. They do not work, however, when we take inventory. Only one of the two scan (sku) is taken into account when taking inventory, even if both scan were previously added to the item. Example: gear4 iphone 6 gold piccadilly sku # 1: 654728952792 sku # 2: 4895200201847

_--
french:
Les doubles scan fonctionnent dans le Pos. Ils ne fonctionnent cependant pas lorsque nou

[2018-10-31 19:47] yossigrosskopf opened #489 "Ticket - inventory association problem"
When creating a ticket with a repair the ticket isn't associating the inventory item ID
This causes a big problem when updating the inventory.
If you change the inventory Manufacturer, Device/ Model or problem then any open tickets associated with that inventory item will be blank, it will remove all the device and task information.

Another problem is inventory is case sensitive and can allow the

[2018-10-31 19:48] JessicaSOS opened #490 "Note in Lead"
Whether in "additional information" (under the lead's task) or in "customer comment", the notes entered in these two places do not appear in the client's submission. If the customer wants us to add a detail or a note, it is impossible for him to see it on his submission. The note disappears ...
<img width="938" alt="leaddd" src="https://user-images.githubusercontent.com/40500094/47814576-6f42a580-

[2018-11-01 14:02] JessicaSOS commented on #410
fixed

[2018-11-01 14:02] #410 closed

[2018-11-01 14:30] JessicaSOS opened #491 "Add option «repaired» & «complete» in notification setting"
Hello,
Can you add in automated notifications:
1- send the customer an **email notification** when the status **"repaired"** was put in a ticket.
2- send the customer an **email notification** when the status **"completed"** has been put in a ticket.
3- send the client an **SMS notification** when the **"repaired"** status has been put in a ticket.
4- send the client an **SMS notification** when t

[2018-11-01 14:44] JessicaSOS commented on #418
any news ? that this still produce ....

[2018-11-01 14:46] JessicaSOS commented on #398
Still not corrected and it's a problem

[2018-11-01 15:39] JessicaSOS opened #492 "Text note is missing when invoice is sending by mail"
When we want to email an invoice to a customer, the text we enter in the "note" field does not send. The customer never receives the text sent with his invoice. This is written in no notes location either. See Attachment.
<img width="945" alt="invoice action" src="https://user-images.githubusercontent.com/40500094/47862032-95228580-ddca-11e8-9f4d-580d9b2a86bb.png">
<img width="929" alt="invoice by

[2018-11-01 19:54] JessicaSOS opened #493 "SMS confirmation for parts in stock"
Hello,
I enabled the option to send a confirmation SMS to the customer after making an appointment. It's really great and it works well. What I wonder, the confirmation sms is sent to the customer that we have in stock the room to perform the repair of the customer's device or not. This can cause a problem if the part is no longer available in inventory.

When the bundle will be fixed and modifiab

[2018-11-02 15:17] hitman1986 commented on #478
slove the issue by your employee (danny hasan) thanks

[2018-11-02 15:17] #478 closed

[2018-11-05 10:07] #477 closed

[2018-11-05 10:14] usmanalikhan93 commented on #417
ok thanks. Let me check.

[2018-11-05 12:07] usmanalikhan93 commented on #492
Sure thing @JessicaSOS . Let me take a look at this and revert back in 12-24 hours. I will reach out to you if I need more information.

[2018-11-05 12:08] usmanalikhan93 commented on #490
Sure thing @JessicaSOS . Let me take a look at this and revert back in 12-24 hours. I will reach out to you if I need more information.

[2018-11-05 12:09] usmanalikhan93 commented on #488
Sure thing @JessicaSOS . Let me take a look at this and revert back in 12-24 hours. I will reach out to you if I need more information.

[2018-11-05 12:10] usmanalikhan93 commented on #487
Sure thing @JessicaSOS . Let me take a look at this and revert back in 12-24 hours. I will reach out to you if I need more information.

[2018-11-05 12:11] usmanalikhan93 commented on #486
Sure thing @JessicaSOS . Let me take a look at this and revert back in 12-24 hours. I will reach out to you if I need more information.

[2018-11-05 17:06] JessicaSOS opened #494 "Error in the detail sales transaction "Tradein" in the "Location Sales By Item Type" REPORT"
We sold an iPhone 5 today on November 5, 2018. However, I do not see it in the tradein report. It should appear because it has been sold.

I have attached to you a screenshot of Limoilou's sales report dated November 5, 2018. We can see that 2 devices have been sold. However, 3 devices were sold today. Missing item # 9232.
<img width="946" alt="tradein november5" src="https://user-images.githubuse

[2018-11-05 19:31] JessicaSOS opened #495 "Commission report"
Hello,
This is the first time I look at the new commission reports and already, they do not match.

In the report "Sales By Item Report" of October 2018, in the "products" category, for the employee "Stephanie Cloutier", the result is 200 items.

# 1) The most popular item sold is "Apple iPhone 6 / 6S / 7/8 - Tempered Glass". It was sold 33 times by Stephanie during this period. When I click on th

[2018-11-05 22:26] JessicaSOS opened #496 "ghost adjustement"
Hello,
I noticed that the inventory is being adjusted for no reason. See screenshot of item # 2286. Adjustments in red are neither inventory adjustments, stocktaking, notes, etc.

It's the same thing in several items. Another example: 2250
<img width="931" alt="item 2286" src="https://user-images.githubusercontent.com/40500094/48030708-eeb6e700-e11f-11e8-89d9-da37903a7125.png">

_--
french:
Bonjou

[2018-11-05 22:56] Trevorshaw7 opened #497 "Reorder levels are set but not showing up on low stock report"
My reorder levels are set but not showing up on low stock report.  All have 0 QOH but still not showing up

[2018-11-05 23:23] Trevorshaw7 opened #498 "Cancelled inventory transfers do not place inventory back into system"
![screen shot 2018-11-05 at 4 22 05 pm](https://user-images.githubusercontent.com/43588617/48033066-0b9aec80-e117-11e8-98b6-0f8fd4786fce.png)
If an inventory transfer is cancelled Where does the inventory go?

[2018-11-06 05:39] Uzair-RepairDesk commented on #493
Hi @JessicaSOS
Thank you for sharing this with us. I want to notify you that Part bundle is not directly linked with "Appointment (Leads)" functionality.
Its only assign the part to specific repair service when you convert lead into a ticket.
The reason is that appointment (lead) is not confirmed. When you convert into a ticket, lead is marked with status "Won" and then the part is assigned to a t

[2018-11-06 05:41] Uzair-RepairDesk commented on #494
Hey @JessicaSOS
I sincerely apologize for the inconvenience.
@usmanalikhan93
Please check the above-highlighted issue and assist Jessica accordingly. Thanks

[2018-11-06 05:46] Uzair-RepairDesk commented on #495
Hey @JessicaSOS
Thank you for bringing this out to our attention.

Please forward it to the Bilal from QA team with urgent priority and ask him to check all above-highlighted concerns to update Jessica.

[2018-11-06 05:49] Uzair-RepairDesk commented on #496
Hi @JessicaSOS
I apologize for the inconvenience. Let me check this issue in detail and I revert back to you in the next 24 hours.
Thank you for your patience.

[2018-11-06 06:33] Uzair-RepairDesk commented on #497
Hi @Trevorshaw7
Thank you for sharing your concern. Can you please confirm if you have "Stock Warning" value set along with "Reorder Level" value?
Item comes up in "Low Stock Report" if the item "On Hand" value is equal or less than the "stock warning" value.
Briefly, item comes up in the low stock report on the basis of both "Stock Warning" and "Reorder Level" value.
Check screenshot from the low

[2018-11-06 07:04] Uzair-RepairDesk commented on #498
Hi @Trevorshaw7
If you mark cancelled status before marking the status "Shipped", inventory item doesn't transfer and remain in the "On Hand" value of the same store. However, if you mark item shipped then it deducts from "On Hand" and stock value goes into the "In-Transit Report" i.e. a middle layer in inventory transfer.

If you mark the status "Cancelled" from the same store before receiving it

[2018-11-06 07:08] Uzair-RepairDesk commented on #483
@usmanalikhan93
You need to check this concern. Please review ASAP and update @JessicaSOS

[2018-11-06 07:21] Trevorshaw7 commented on #498
But how do you account for the inventory? I can see it goes on a report,
but how do you get it back into the transferring store? If it is cancelled
it should go back to the store in which it came from.

On Tue, Nov 6, 2018, 12:04 AM Muhammad Uzair Shah <notifications@github.com>
wrote:

[2018-11-06 08:07] Uzair-RepairDesk commented on #496
Hi @JessicaSOS
I checked your screenshot in detail. The dates to update inventory is before the "Inventory Adjustment" and "Inventory Valuation" feature. All the stock updates made manually before adjustment. Old records cannot be updated however you will get the valid reason of adjustment if you make any stock updates after the implementation of this feature.

[2018-11-06 08:07] #496 closed

[2018-11-06 09:57] usmanalikhan93 commented on #492
Hi @JessicaSOS

I have checked your concern but unfortunately, I am unable to reproduce your issue. It's working fine kindly check again. See Screenshot below:
![email_invoice_notes](https://user-images.githubusercontent.com/39614480/48056712-2da67480-e1d4-11e8-9596-29d254e4f957.png)

[2018-11-06 12:03] usmanalikhan93 commented on #488
Hi @JessicaSOS

Can explain this to me with Screenshots ? It may be easy for me to understand the issue.

[2018-11-06 12:04] usmanalikhan93 commented on #486
Hi @JessicaSOS

Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!

[2018-11-06 12:07] usmanalikhan93 commented on #494
Sure @Uzair-RepairDesk

[2018-11-06 15:21] JessicaSOS commented on #453
Here is the name of another customer who has always been in business account but, who comes since we do not know how long, to change into an individual group. Nobody made these changes.
**Yann Louisor**

[2018-11-06 15:27] JessicaSOS opened #499 "Customer update (error in phone number)"
Whenever we want to update information in a customer's profile (name, address or other), an error appears regarding the phone number. Even though we have not made any changes to this level.
<img width="942" alt="customer update" src="https://user-images.githubusercontent.com/40500094/48074234-8236f900-e1ae-11e8-8cae-933fca8f4f19.png">

--
French:
A chaque fois que nous souhaitons mettre à jour une

[2018-11-06 19:21] JessicaSOS commented on #488
<img width="947" alt="4522" src="https://user-images.githubusercontent.com/40500094/48088162-3d6f8a00-e1cf-11e8-8547-64b5512e7cbf.png">

[2018-11-06 19:36] JessicaSOS commented on #492
I found the problem. It was missing a tag in my scheduled responses. The tag "notes" was missing ...
Fixed

[2018-11-06 19:36] #492 closed

[2018-11-06 19:45] JessicaSOS commented on #496
But even before the change, if the employee did not have access to adjust the inventory other than in an inventory count, that may be this adjustment? The inevnatire transfer and the inevnatire count are displayed?

[2018-11-06 19:55] JessicaSOS commented on #493
I understand what you mention to me. I also understand that leads do not remove any piece of inventory and that's perfect as well. What I'm wondering is if it's possible for the lead to consider inventory parts when the customer clicks "make an appointment". Without making any adjustments, simply by confirming that a piece is available before sending a confirmation, or having 2 different notificat

[2018-11-07 06:13] usmanalikhan93 commented on #486
Hi @JessicaSOS

Thank you for bringing this to our attention! It looks like there's a bug that just popped up .
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!

Usman Ali

[2018-11-07 18:44] JessicaSOS opened #500 "Inventory transfert modification"
I put item # 2336 and item # 2337 in an inventory transfer. Once the transfer was recorded, I physically went to the room of our inventory. Unfortunately, there was an error because the room was no longer physically available. So I changed the TO-2306 inventory transfer and removed item # 2337. However, item # 2337 did not recover. Yet, the transfer had just been created just 1 minute ago and it h

[2018-11-07 19:58] 1TonyBA opened #501 ""Invalid Mobile number""
Disable "Invalid Mobile number" It will confuse employees when updating customer info because we know that the phone numbers are valid.[
<img width="1426" alt="screen shot 2018-11-07 at 12 54 11 pm" src="https://user-images.githubusercontent.com/44849184/48157367-a36e1700-e28c-11e8-82f7-02f221f865c1.png">
](url)

[2018-11-07 21:17] JessicaSOS opened #502 "Cost price problem in ticket"
The sale amount is displayed in the estimated profit without considering the cost price. Yet, the cost is in the room. In addition, the cost price is not displayed next to the coin.
<img width="944" alt="ticket l-10217" src="https://user-images.githubusercontent.com/40500094/48161456-919a6d00-e2a8-11e8-8134-81f92820ba2d.png">

<img width="930" alt="11138" src="https://user-images.githubusercontent

[2018-11-08 13:55] JessicaSOS commented on #412
The service category is still in the accessories category. Not all products in the service category are displayed, but this is not fixed.

[2018-11-08 13:59] JessicaSOS commented on #426
Hello,
I am still without news of this. I have an employee who resigned me for this Friday. I will need a new employee next week, but at the moment, I reached the limit of 30 users. Can we put former employees into an Ex-Employee category instead of just disabling them or instead of deleting them?
Thank you for quickly answering me.

--
french:
Bonjour,
Je suis toujours sans nouvelle de ceci. J'ai

[2018-11-08 16:20] Repair-Desk opened #503 "Internal Wiki Doesn't Work"
I'm trying to test this out to see if we can use internal wiki however whenever I click on Internal Wiki I cannot enable it. It just refresh the page and nothing happens

![drphonefix](https://user-images.githubusercontent.com/21986026/48211890-495c7700-e39c-11e8-8776-63c21d2a68d4.jpeg)

Can you please check this and release a fix at your earliest convenience.

Reported By: Dr Phone Fix

[2018-11-09 05:02] usmanalikhan93 commented on #502
Hey @JessicaSOS ,
Usman Ali here, Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2018-11-09 05:02] usmanalikhan93 commented on #500
Hey @JessicaSOS ,
Usman Ali here, Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2018-11-09 05:02] usmanalikhan93 commented on #501
Hey @1TonyBA  ,
Usman Ali here, Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2018-11-09 05:54] Uzair-RepairDesk commented on #426
Hi @JessicaSOS
Hope you are well. I apologize if it's not sorted yet. We have a plan to add improvements that will allow disabling the employee's account and once its disable, you will not be able to enable it again however you can add a new employee under the same subscription.
We will do it once we stable the complete employee management module.
However, I have asked Ali again to contact you to

[2018-11-09 06:02] Uzair-RepairDesk commented on #493
Yes, I got that but I am wondering that we cannot link inventory item with Appointment/Leads as it's not confirmed for the final sale.
The best workaround i can suggest this time is to check part availability according to repair service and send notification to customer about the part availability.

[2018-11-09 06:03] #493 closed

[2018-11-09 06:07] Uzair-RepairDesk commented on #496
If you update on-hand inventory with inventory count, it will update it in Admin history with the reason of count.
The system will automatically add the reason if a stock is adjusted from direct action.
Hope it helps.

[2018-11-09 06:11] Uzair-RepairDesk commented on #491
Hello @JessicaSOS
We have already automatic notifications available if a ticket is marked "Repaired" or "Completed".
The system certainly sends an email or SMS (if integration is enabled).
Please go to Store Settings > Email & Notifications > Notification
and make sure that notification triggers are ON.
Please check the screenshot attached.
![notification config](https://user-images.githubusercont

[2018-11-09 06:14] Uzair-RepairDesk commented on #489
Hi @yossigrosskopf
Can you help us to check this concern with relevant screenshots? It will be appreciated. Thanks

[2018-11-10 01:08] jeffsand8243 opened #504 "Transaction not recorded as paid (but it printed a receipt)"
transaction was paid with cyan but was marked as not paid in rd even though it was processed and printed a receipt as paid for customer

[2018-11-12 07:47] benjamingartner opened #505 "401 Error - WooCommerce not Syncing"
Woocommerce will not sync the below newly created products .

![image](https://user-images.githubusercontent.com/39751801/48333391-2ed31800-e692-11e8-8cd9-27acebac8d8f.png)

[2018-11-12 08:18] usmanalikhan93 commented on #504
Hello Jeff,

I hope you are doing well. It would be highly apreciated if you kindly share the invoice number with a relevant screen shot or it will be better if you share the steps or video as well for better understanding. I have verified it at my end to produce it, but i were unable to produce it. It is working fine at my end.

Waiting for your kind response.

Regards,
Usman

[2018-11-12 10:06] usmanalikhan93 commented on #501
Hey @1TonyBA ,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up 🐛.

I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information! 😃

Regards
Usman Ali khan

[2018-11-12 10:20] usmanalikhan93 commented on #499
Hey! 👋 @JessicaSOS ,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up 🐛.

I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information! 😃

Regards
Usman Ali Khan

[2018-11-12 17:44] phonefixdfw opened #506 "Need ability to merge two different inventory items"
We sometimes have situations where there is more than one inventory item for a single product.

Example, someone adds "J7 2017 lcd (black) and another tech adds "J727 lcd (black)"

We may have 1 in stock at one location under one name, and 2 in stock at another location under the 2nd name.

We also consolidate cases once they are no longer a hot item. Originally we list them as "case x - black" an

[2018-11-12 21:30] phonefixdfw opened #507 "Clickatell charging me crazy prices randomly"
I use clickatell integration with 2 way sms. I've always gone weeks without being recharged and suddenly a couple of days ago i started getting billed daily. Something is up and I think its how RD processes the texts.

Standard notificaitons are usually like 1 cent or less. 2 way is higher. However, im getting charged 2 way price for ticket auto notifications now when i never did before.

currentl

[2018-11-12 23:08] phonefixdfw opened #508 "EAN13 barcades add an extra digit"
![image](https://user-images.githubusercontent.com/37640713/48380449-66938d00-e69d-11e8-80e4-3cf3c3764004.png)

![image](https://user-images.githubusercontent.com/37640713/48380463-714e2200-e69d-11e8-868e-ebcc6a08e7d7.png)

i dont really care that it adds the extra #, but when you scan item in POS you have to delete that last number for it to find it. This has to be a bug?

[2018-11-12 23:10] phonefixdfw commented on #508
![image](https://user-images.githubusercontent.com/37640713/48380524-b5d9bd80-e69d-11e8-90c7-f50a8f25fc07.png)

![image](https://user-images.githubusercontent.com/37640713/48380554-d30e8c00-e69d-11e8-9c83-c2a5673f00fc.png)

[2018-11-12 23:12] phonefixdfw commented on #508
also, i assume this is case bc ean13 is 13 digits, but repairdesk will not allow more than 12 digit in upc box. I need this style format because my scanners never seem to work scanning the other style
![image](https://user-images.githubusercontent.com/37640713/48380633-254fad00-e69e-11e8-9468-99529365b512.png) like that

[2018-11-13 06:03] Uzair-RepairDesk commented on #498
Hi, Thank you for your response @Trevorshaw7
There are both cases for the cancelation. Most of the chances are that if its cancelled, it means you have lost the items in between the inventory transfer process.

"However, we can certainly make an improvement in "Inventory Transit Report" that if transfer order is cancelled and items exist in "Transit Report", there should be an option to send adjus

[2018-11-13 06:40] Uzair-RepairDesk commented on #506
Hi @phonefixdfw
I really appreciate that you took the time to share your idea.

With a small team and a big roadmap, our focus is to improve our existing features and reporting in this quarter. We have to pick new features based on the value they’ll add to the most users possible.
I have added a label "On-hold to consider" so we can discuss it and decided if we can add it in the roadmap for the ne

[2018-11-13 07:03] usmanalikhan93 commented on #508
Hey @phonefixdfw ,
I have reviewed and verified it with the development team, this is an expected behavior with the EAN 13. System automatically adds the extra number and you are right it doesn't display the result on entering the complete number. However if you click or tap on enter button, system adds that item and it is working fine with the scanner as well.

For the barcode that you want to us

[2018-11-13 07:12] usmanalikhan93 commented on #507
Hey @phonefixdfw ,
There is an issue with the Clickatell side. Please disable it and use their standard notification instead of two way. Please contact Clickatell team to help or sort out your issue.

Hope for answer the question.

Feel free to contact us any time.

Thanks,
Usman

[2018-11-13 15:06] JessicaSOS commented on #491
What I was mentioning was separating notifications from status "repaired" and status "completed". Currently, it is written "completed" in the notifications, but a notification is also sent if the status is "repaired". Am I wrong?

[2018-11-13 15:10] JessicaSOS commented on #496
I am going to close this issue because you mention having made an improvement in this module. I am not sure this problem is really fixed. We will see in the future.
Thank you

[2018-11-13 15:11] phonefixdfw commented on #508
I am already set to barcode 39, but I still don't think this is how it should act. If it adds extra # when printing the label, it should add it within RD also so that you can search by that. Can it be altered to search for the added number as well?

I did test hitting enter after which I guess works but adds an extra step for no reason

[2018-11-13 15:14] JessicaSOS commented on #493
But, without making an inventory adjustment for a pay / lead, is it possible to add an option for the appointments to take inventory parts into consideration in the selected store? The confirmation SMS could be different depending on whether the part is in stock or not.

[2018-11-13 15:17] JessicaSOS commented on #426
Ali offers me to increase my current package emloyé. However, I do not currently employ 30 employees. I have many employees who have only worked a few days or months and are no longer active. When do you make these changes?

[2018-11-13 21:00] JessicaSOS opened #509 "Tradein automatic change from sold to in stock"
Hello,
Several trade in this put "in stock" without us having modified them. See example in attachment.
Exemple #8550
<img width="947" alt="8550" src="https://user-images.githubusercontent.com/40500094/48442740-0e23c480-e75d-11e8-9335-603ed38264b4.png">
<img width="944" alt="8550 history" src="https://user-images.githubusercontent.com/40500094/48442742-10861e80-e75d-11e8-8771-ffdfbe81e3e1.png">

E

[2018-11-14 05:08] Uzair-RepairDesk commented on #491
"Completed" and "Repaired" status are considered as the same status for the ticket.
You can make an SOP to set either "Repaired" status or "Completed" status.
By the way, we are going to update the complete module to **Link Notifications + Canned Responses + Status.**
We have completed the documentation and design. **Please find design attached for the reference.**
We have the plan to start develo

[2018-11-14 05:08] #491 closed

[2018-11-14 05:51] Uzair-RepairDesk commented on #426
If you want to keep the linkage of data for the employees who are no longer active, you should not delete their records and increase your package subscription. However, if you want to list new employees with the same package, you can delete the employee's record and add new employee account in the same subscription. In this case, data linkage of the employee will not be there for you.
**The above

[2018-11-14 06:29] Uzair-RepairDesk commented on #509
Hi @JessicaSOS
Your last screenshot of admin history for an item "#8430" depicts that after its sold you made a refund and while refunding the item, you sent it back to the inventory. When an item comes back in the stock, its status automatically becomes "In Stock" if you don't mark it "Faulty" specifically.
Check screenshots attached for your understanding.
Please verify it at your end and please

[2018-11-15 14:10] Cumbr1at3ch opened #510 "bugs within daily sales reports"
.githubusercontent.com/40138325/48557984-fde82280-e8df-11e8-86c1-fbdbdec2913d.png)
![image](https://user-images.githubusercontent.com/40138325/48557991-02acd680-e8e0-11e8-99ce-d76c96f56e04.png)
error within the location dalily sales - the costs are all wrong, The

[2018-11-15 17:21] JessicaSOS commented on #509
For item # 8340:
I understand what you said but, it went from "pending refurb" to "in stock" without any adjustment.

  And for item # 8550?

I also have another example: # 8828 (sold in January 2018), # 8822 (sold in May 2018), # 8811 (sold in March 2018), # 8804 (sold in February 2018), etc.
I had to go change the status from "in stock" to "sold" myself, manually.

And yesterday is Wednesday the

[2018-11-15 20:40] JessicaSOS commented on #437
No development? Still not set ... See item # 11483. The payment did not work. The sale is not completed. However, the item has been removed from the inventory and an invoice is created. I have to manually delete the invoice each time. See Attachment.
<img width="931" alt="item 11483" src="https://user-images.githubusercontent.com/40500094/48580242-ad2af680-e8ec-11e8-9e00-d9757b5e35b5.png">
<img wi

[2018-11-15 22:03] JessicaSOS commented on #426
ok tnx

[2018-11-15 22:03] #426 closed

[2018-11-15 22:18] JessicaSOS commented on #491
Can you consider separating the Repaired option and the Completed option? Or put an option if we want them to be together or not? the only problem comes from the ticket transfer. When a ticket is repaired at another branch, the "repaired" status can send a notification to the customer, but the phone is not ready to be picked up at the original branch. That's why I wanted to separate the options. D

[2018-11-16 19:11] phonefixdfw commented on #508
The 'hit enter after' trick doesn't work on store to store transfers, have to delete last digit. I still say this entire thing is a bug

[2018-11-16 19:17] phonefixdfw commented on #508
does not work on purchase orders either.

[2018-11-18 18:02] phonefixdfw opened #511 "Self checkin bugs and improvements"
Can we please have ability to change top text? If not, at minimum, can the extra <br> be removed to save a line of space.
![image](https://user-images.githubusercontent.com/37640713/48676205-26169200-eb29-11e8-981c-3fbb306ba25d.png)

Options for this page include:
Hide Device info fields
Customer email is mandatory
Hide Network Field
Hide IMEI Field
Make How did you find us, (Mandatory)

Can we ad

[2018-11-18 18:03] phonefixdfw commented on #511
![image](https://user-images.githubusercontent.com/37640713/48676271-fd42cc80-eb29-11e8-99a4-91afea4b9b1e.png)

[2018-11-18 18:06] phonefixdfw commented on #511
Additionally any ability to alter format would be amazing. Could we do a template like email notifications have? The page looks awful currently and isn't formatted well to use all available space

[2018-11-19 04:39] usmanalikhan93 commented on #511
Hey @phonefixdfw !
Thank you for bringing this to our attention! Let me forward this to our Product Manager and he will look into it.
@Uzair-RepairDesk can you look into this ?

[2018-11-19 04:43] usmanalikhan93 commented on #510
Hey @Cumbr1at3ch ,
Usman Ali here, Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2018-11-19 05:46] usmanalikhan93 commented on #503
Hi @Repair-Desk

Issue has been fixed.

[2018-11-19 05:46] #503 closed

[2018-11-19 06:29] usmanalikhan93 commented on #486
Hi @JessicaSOS

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2018-11-19 07:14] usmanalikhan93 commented on #510
Hi @Cumbr1at3ch

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2018-11-19 16:40] JessicaSOS opened #512 "Inventory Transfert SOS Phone Sainte-Foy"
My store employee in Sainte-Foy is not able to perform an inventory transfer. She only has the option to transfer to her own store. No changes have been made. On my side it works, maybe because I'm an admin? See Attachment.
![ste-foy transfert](https://user-images.githubusercontent.com/40500094/48721434-e6ff4400-ebef-11e8-91f0-46f1004781f9.png)

--
french:
Mon employé du magasin de Sainte-Foy n'es

[2018-11-19 16:54] JessicaSOS commented on #486
It seems to work well in a ticket. On the other hand, when we modify a lead by adding a second task, there is still a problem with the QST. I have not tested converting a lead into a ticket yet ...

[2018-11-19 17:05] JessicaSOS commented on #502
Fixed, tnx !

[2018-11-19 17:05] #502 closed

[2018-11-20 05:39] usmanalikhan93 commented on #512
Hey @JessicaSOS

Usman Ali here, Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2018-11-20 06:09] usmanalikhan93 commented on #512
Hi @JessicaSOS

It may be due to she has no access to other stores. Can you check in Manage Employees in settings ?

[2018-11-20 11:59] usmanalikhan93 commented on #507
Hi again - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Usman Ali

[2018-11-20 11:59] #507 closed

[2018-11-20 16:46] JessicaSOS commented on #512
She has access only to her store (and no question of giving access to all stores to all employees) but, she can not even transfer parts to us. It was not like that some day ago ...

[2018-11-20 20:49] ali-repairdesk opened #513 "Warranty Claim Issue | Modesto | DrPhone Fix"
Hi Sir,

**Business Name / Store Name:**
Modesto | DrPhone Fix

**Customer Credentials:**
Shared via Skype

**OS: Windows / MacBook**
Module: Warranty Claim for Repair Part
Configuration Setting: Correct
Roles & Permissions: Correct

**Issue:**
Warranty Claim for Repair Parts not working in case of Lifetime.

**Steps to Reproduce Issue/Provide Video:**
1. Go to **Store Settings >> Module Configura

[2018-11-20 21:01] ali-repairdesk opened #514 "Separate Column for Opening Cash Balance while Closing Shift - Modesto | DrPhone Fix"
**Hi Sir,**

**Business Name / Store Name:**
Modesto | DrPhone Fix [40 Store Locations and looking to SignUp soon]

**Module:** Cash Register and End Shift

**Improvement:**
Customer has come up with a request that:
Once closing shift, there's no way to see how much cash came in, not every employee that closes shift knows what the opening cash balance was for them to open calculator and do $120 -

[2018-11-20 21:04] ali-repairdesk opened #515 "Inventory Reconciled Report - Modesto | DrPhone Fix"
**Hi Sir,**

**Business Name / Store Name:**
Modesto | DrPhone Fix [40 Store Locations and looking to SignUp soon]

**Module:** Inventory Count

**Feature Request:**
Customer has come up with a request that:
IF there is any way to see an Inventory Reconciled Report [PDF] something they can print that shows the inventory changes by actually listing the items. Customer has given an example with a sc

[2018-11-20 21:05] ali-repairdesk commented on #514
![opening balance](https://user-images.githubusercontent.com/26381305/48802741-eec70180-ed31-11e8-97a5-d95e7e3721ce.jpg)

[2018-11-20 21:06] ali-repairdesk commented on #515
![inventory reconciliation](https://user-images.githubusercontent.com/26381305/48802783-09997600-ed32-11e8-81f7-3577944c7590.jpg)

[2018-11-20 21:40] ali-repairdesk commented on #513
This issue was fixed however customer still facing issue:
https://repairdesk.atlassian.net/browse/REP-730

[2018-11-21 00:29] ali-repairdesk opened #516 "Inventory Count Not Saving - Modesto | DrPhone Fix"
**Hi Sir,**

**Business Name / Store Name:**
Modesto | DrPhone Fix

**Customer Credentials:**
Shared via Skype

OS: Windows / MacBook
Module: Inventory Count
Configuration Setting: Correct
Roles & Permissions: Correct

**Issue:**
Once doing Inventory count, It was completed hit save and entire record disappeared :(

**Steps to Reproduce Issue/Provide Video:**
Customer is suspecting that issue come

[2018-11-21 01:04] ali-repairdesk opened #517 "Reconciliation Report Email and SMS Issue - Modesto | DrPhone Fix"
**Hi Sir,**

**Business Name / Store Name:**
Modesto | DrPhone Fix

**Customer Credentials:**
Available on Jira

OS: Windows / MacBook
Module: Cash Drawer/Shift Functionality
Configuration Setting: Correct
Roles & Permissions: Correct

**Issue:**
Ending shift not sending Reconciliation Report via SMS and Email.

**Steps to Reproduce Issue/Provide Video:**
1. Login to RepairDesk Test account.
2. Go

[2018-11-21 04:31] Uzair-RepairDesk commented on #511
This one is also listed on the Facebook user group.
@usmanalikhan93
Please check my comments there and please review it. Thanks

[2018-11-21 04:32] Uzair-RepairDesk commented on #509
@usmanalikhan93
Please review it in detail from Jessica account and it will be appreciated if you can find out the issue. Thanks

[2018-11-21 05:49] usmanalikhan93 commented on #509
Sure @Uzair-RepairDesk

[2018-11-21 07:13] hamzaakbar4444 commented on #516
Hey!
Dear Ali, i have verified this issue at my end and it is working fine. When i review your video, you can see that you are not reviewing the item with the same id. e.g. when you first update the count, id of item were 2921 and after that the item at which you display the count is 0 the id of that item were 2502. It is your understanding issue.

Hope the answer the question. If you need anythin

[2018-11-21 08:06] hamzaakbar4444 commented on #517
Hey!
it is working fine on my end.Kindly reverify at customer end.
if issue is still perisist kindly create a jira ticket and Assign it to Developer.

Thanks..

[2018-11-21 08:13] hamzaakbar4444 commented on #513
Hey!
This issue is already open and Developer is working on it.

Thanks..

[2018-11-21 12:43] usmanalikhan93 commented on #510
Hi again @Cumbr1at3ch   - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2018-11-21 12:43] #510 closed

[2018-11-21 12:44] usmanalikhan93 commented on #501
Hi @1TonyBA

We sincerely apologize for the inconvenience and we have released a fix for this issue. Can you please confirm if you are still getting the same issue?

[2018-11-21 12:44] usmanalikhan93 commented on #499
Hi @JessicaSOS

We sincerely apologize for the inconvenience and we have released a fix for this issue. Can you please confirm if you are still getting the same issue?

[2018-11-22 21:11] JessicaSOS commented on #512
The problem is that all employees have access only to their store. Whether in **inventory transfers** or in the **inventory summary**. It should be corrected quickly, because it is really not very practical.

[2018-11-22 21:15] JessicaSOS commented on #499
Its actually seems to be corrected, thanks!

[2018-11-22 21:15] #499 closed

[2018-11-22 22:43] afrahm opened #518 "Last modified date not updated when ticket created via customer portal"
When a customer logs in to the portal and creates a ticket themselves the last modified date is set as 1970
<img width="589" alt="screen shot 2018-11-23 at 8 19 39 am" src="https://user-images.githubusercontent.com/1414304/48923269-e53bc600-eef8-11e8-9087-d919038391e4.png">

[2018-11-24 04:15] Trevorshaw7 opened #519 "Pre/Post conditions more obviously placed"
It is very easy to miss where the pre/post link in manage tickets is.  Can we find a better location that makes it stand out a little more?
<img width="1426" alt="screen shot 2018-11-23 at 9 01 32 pm" src="https://user-images.githubusercontent.com/43588617/48964459-eb678c00-ef64-11e8-915b-5eafc86f5904.png">

[2018-11-26 04:57] #501 closed

[2018-11-26 05:32] usmanalikhan93 commented on #518
Hey @afrahm  ,
Usman Ali here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2018-11-26 05:48] usmanalikhan93 commented on #518
Hey @afrahm

Thank you for bringing this to our attention! It looks like there's a bug that just popped up 🐛.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information! 😃

Usman Ali

[2018-11-26 05:51] usmanalikhan93 commented on #505
Hi again @benjamingartner  - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2018-11-26 05:51] #505 closed

[2018-11-26 05:51] usmanalikhan93 commented on #504
Hi again @jeffsand8243  - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2018-11-26 05:51] #504 closed

[2018-11-26 06:17] usmanalikhan93 commented on #511
Hey @phonefixdfw
Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!

[2018-11-26 07:41] usmanalikhan93 commented on #512
Hi @JessicaSOS

There is improvements done in Employee section. Now Employee can access only to those store which have access to them. E.g. to see the reports, employee should have access to that store.

But for transfer inventory it should display all stores regardless of store permission.
Let me assign this development team to fix this ASAP.

Usman Ali.

[2018-11-26 07:47] usmanalikhan93 commented on #486
Ok let me check this.

[2018-11-26 17:18] jeffsand8243 commented on #504
no, we are still having that issue!  i just don’t have time to be making videos of the issues

Thanks,
Jeff Sandridge
The Smartphone Medics
256-414-1199 <tel:256-414-1199>
www.TheSmartphoneMedics.com <http://www.thesmartphonemedics.com/>
 <>7449 Highway 72 W. Suite D Madison, AL 35758 <x-apple-data-detectors://2/2>

Locations

Madison (main location) -
7449 Highway 72 <x-apple-data-detectors://5>

[2018-11-26 17:23] JessicaSOS opened #520 "Customer from woo commerce"
Can not find a customer who has purchased via woo commerce. No results are displayed. We had this problem in the past and it was corrected. Here he is again.

--
french:
Impossible de rechercher un client qui a acheter via woo commerce. Aucun résultat n'affiche. Nous avions déjà eu ce problème dans le passé et il avait été corrigé. Le voilà à nouveau.

[2018-11-27 05:32] Uzair-RepairDesk commented on #519
Hi @Trevorshaw7
Thank you for your suggestion. However, we have a trigger available to make "Pre-Repair Device Conditions" mandatory before booking a repair job (ticket).
The system automatically asks you to log "Pre-Repair Device Conditions" if you miss to record it.
You can go to **Store Settings > Module Configurations > Repairs > Enable "An employee must test pre-repair device condition before

[2018-11-27 05:33] Uzair-RepairDesk commented on #520
I believe it shows reference of an Online transaction on the Invoice view page.
@usmanalikhan93
Can you check this?

[2018-11-27 05:38] Uzair-RepairDesk commented on #515
We have certainly an option to download PDF of "Inventory Count" activity.
You can go to **Inventory Count > Export PDF** for each inventory count.
![uzairshah manage inventory count](https://user-images.githubusercontent.com/22955861/49060727-9364aa00-f230-11e8-83cd-c8bb7de26c8b.png)

[2018-11-27 07:13] usmanalikhan93 commented on #504
Hey @jeffsand8243

Sorry for the inconvenience. Our support team will reach you and try to resolve your issue ASAP.

[2018-11-27 09:00] ali-repairdesk commented on #517
Customer has been updated.

Waiting for feedback.

[2018-11-27 09:01] ali-repairdesk commented on #516
I have updated customer on it and trying to get the exact steps.

The moment I have an update, I will let you know.

[2018-11-27 09:43] ali-repairdesk opened #521 "Make Compulsory While Booking a Repair Job - Modesto | DrPhone Fix"
**Hi Sir,**

**Business Name / Store Name:**
Modesto | DrPhone Fix [40 Store Locations and looking to SignUp soon]

**Module:**
Repair Ticket

**Improvement:**
Customer has come up with a request that:
Once we are booking a repair ticket, just the way there is an option to make compulsory Pre Repair Conditions, there must be an option to make compulsory:
1. Pattern/Passcode
2. Physical Location
3.

[2018-11-28 04:33] usmanalikhan93 commented on #520
Sure @Uzair-RepairDesk

[2018-11-28 07:01] Repair-Desk opened #522 "Display Device Manufacturer, Brand and other info on the serials"
Also option search a serial should be great
![select serial](https://user-images.githubusercontent.com/21986026/49134443-54545880-f305-11e8-8d8b-b255f104b006.jpg)

[2018-11-28 07:03] Repair-Desk opened #523 "Option to add comments while end shift"
There should be an option to enter comments while ending shift.

Also would be great if you can see cash out on the same screen which will assist with reconcilation

[2018-11-28 07:04] Repair-Desk opened #524 "Option To Select Date Format - Trevor"
Is there a way to change the date format? We would like it where the month displays first instead of the day  (11 / 28 / 2018)

[2018-11-28 07:05] Repair-Desk opened #525 "Option to View All Stores On Inventory Transfer - Trevor"
On inventory transfers the logic doesnt make sense. We have employees locked to stores and when they need to to transfer inventory from their store they can not select their store as the from store.

![46831067_327835657803369_2575219183310602240_n](https://user-images.githubusercontent.com/21986026/49134585-de9cbc80-f305-11e8-8d49-4fe06eb145b1.jpg)
 

[2018-11-28 09:12] Uzair-RepairDesk commented on #521
@ali-repairdesk
Thank you for the request. What is the priority for this improvement?

[2018-11-28 09:20] Uzair-RepairDesk commented on #525
This issue has been fixed and verified on Beta. Task reference:-
https://repairdesk.atlassian.net/browse/REP-832
It will be live in the upcoming release

[2018-11-28 10:13] Uzair-RepairDesk commented on #524
**Backlog task initiated again.**
Task reference for internal use of RepairDesk:-
https://repairdesk.atlassian.net/browse/REP-90

[2018-11-28 17:23] Repair-Desk opened #526 "Option to tax exempt customer group or individual customer"
There should be an option to mark customer group or an individual customer as tax exempt or setup a different tax class for them

[2018-11-28 18:42] JessicaSOS commented on #512
I expect from you quickly, because it is a real problem now. As much in the summary report as in the transfer of inventory.

[2018-11-28 20:15] serfma commented on #471
I'm going to update this issue as this is the official location you guys want to track bug reports.

As on 11/28/2018 it is not fixed. It does let you search by SKU, but not by name, regardless what supplier you're set to.

[2018-11-29 00:51] ali-repairdesk commented on #517
Issue has been identified and will be fixed by end of this week.

Task reference:
https://repairdesk.atlassian.net/browse/REP-849

[2018-11-29 01:20] ali-repairdesk commented on #513
Jira task link:
https://repairdesk.atlassian.net/browse/REP-842

Issue will be fixed on Live by end of this week.

[2018-11-29 07:12] usmanalikhan93 commented on #471
Hi @serfma

Just an update we have fixed reported issue and it’s available for beta testing on sandbox server. We are hoping to go live with this today. I will update you once it will be available on live server.

[2018-11-29 11:30] usmanalikhan93 commented on #512
Hi @JessicaSOS

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

If employee wants to see other store inventory summary report, he/she should have access to that store.

Thanks!

[2018-11-29 11:37] usmanalikhan93 commented on #518
Hi @afrahm

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2018-11-29 11:49] usmanalikhan93 commented on #511
Hi @phonefixdfw

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2018-11-30 05:31] #497 closed

[2018-11-30 07:57] usmanalikhan93 commented on #471
Hi @serfma

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2018-11-30 09:43] Uzair-RepairDesk opened #527 "Estimates say convert to invoice instead of convert to ticket - Trevor"
When we create an estimate of "Repairs", Why do some record says "Convert to invoice" and some says "convert to ticket".
Check screenshot attached.

If there are repair services, the system should ask to "Convert to Ticket".

I have converted all of them to the ticket after the screenshot but now few estimates say to "View Ticket" but they open "View Invoice".

RepairDesk Task Reference (Internal

[2018-11-30 09:51] Uzair-RepairDesk commented on #522
**Update:** We have completed the FS document and sent to the design for the popup.

[2018-11-30 09:53] Uzair-RepairDesk commented on #523
**Update:** We have started the functional specification document for this update.

[2018-11-30 22:48] Trevorshaw7 opened #528 "Please make Multi Store report a Role permission - Trevor"
Please make Multi Store report a Role permission

[2018-12-03 05:17] #525 closed

[2018-12-03 05:17] #471 closed

[2018-12-03 05:17] #512 closed

[2018-12-03 05:18] #518 closed

[2018-12-03 05:18] #511 closed

[2018-12-03 10:59] Uzair-RepairDesk opened #529 "Register Sales Report Issue with Refunds - Trevor"
When you view register sales on the line that has the refund, it doesn't show a negative in the Paid column, and if you add up the sales manually it is off by the 8.22 that is
misrepresenting the value for the refund

RepairDesk Task Reference (Internal Use Only)
https://repairdesk.atlassian.net/browse/REP-882

[2018-12-03 15:50] JessicaSOS commented on #494
The problem is still here. Another example is item # 10139, sold on December 1, but does not appear in the report.

[2018-12-03 16:50] JessicaSOS commented on #412
I have not received any development regarding the commission module that still does not work properly. In the "sales report by item" the item total is 220 for: Employee: Stephanie + Store: SOS Phone Limoilou + Date: Nov. 1 - Nov. 30, 2018 + Category "product". The result includes trade in. When I make a trade in report with the same search filters, I have a total of 43. However, it is not the same

[2018-12-03 20:18] JessicaSOS commented on #512
You have closed this task, however, the Inventory Summary report is not corrected. Thank you for reopening this task.

[2018-12-03 20:18] JessicaSOS commented on #512
You have closed this task, however, the Inventory Summary report is not corrected. Thank you for reopening this task.

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579> 418 999.1579 |  <tel:4506771579> 450 677.1579 |  <tel:18559991579> 1 855 999.1579
 <mailto:jessica@sosphone.ca> jessica@sosphone.ca
 <https://sosphone.ca/?utm_source=signature&utm_medium=urlsite&utm_content=sosphone.ca&

[2018-12-03 23:13] faizanzaheer opened #530 "Default Repair Time Set"
Hi Sir,

Business Name / Store Name:
Sajid Abubaker | Capital Connection (London) Limited

Module:
Point Of Sale

Improvement:
Customer has come up with a request that:
Once we are booking a repair ticket, there is no option to set the time by default according to his will as it shows with an hour difference already by default:

Expected Result:
We can add a function to make Task Due Date & Time s

[2018-12-04 05:01] Uzair-RepairDesk commented on #512
Hi @JessicaSOS
We have already fixed the stores issue in Inventory Transfer. Your employee will be able to transfer it to any specific store. Please verify the fix at your end.
However, employees will be able to view only those stores in search filter of reports where they have access to those stores.
It's important to make this validation that if any specific employee doesn't have access to a sto

[2018-12-04 05:55] usmanalikhan93 commented on #517
Hi @ali-repairdesk

Issue has been fixed. Please verify at your end.

[2018-12-04 05:56] usmanalikhan93 commented on #516
@ali-repairdesk

Any update on this issue ?

[2018-12-04 11:04] quangc opened #531 "The inventory does not adjust correctly against invoices"
The invoice which is created manually in the invoice section will make the system adjust inventory incorrectly. If create using POS then it is working fine.

Please investigate by creating invoice manually and put in 5 items, the system will only deduct 1 and it always 1, does not matter how many item inside the invoice.

If Check out in the POS then it adjust the inventory correctly.

MASSIVE BUG

[2018-12-04 11:10] quangc commented on #498
Cancel means get stocks back to the original store not lost is common sense. How can Cancel is LOST? If Lost it should be Lost status.

[2018-12-04 11:30] usmanalikhan93 commented on #531
Hi @quangc
Usman Ali here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2018-12-04 14:58] JessicaSOS commented on #512
The report is a summary of all stores. Can you stop changing things that work correctly please. I would like you to correct it as it was before so that an employee can inform his client if a piece is available in another shop.

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579> 418 999.1579 |  <tel:4506771579> 450 677.1579 |  <tel:18559991579> 1 855 999.1579
 <mailto:jessica@sosphone.ca

[2018-12-04 14:59] JessicaSOS commented on #512
The report is a summary of all stores. Can you stop changing things that work correctly please. I would like you to correct it as it was before so that an employee can inform his client if a piece is available in another shop.

[2018-12-04 15:24] JessicaSOS commented on #512
I do not want to give full access to all the stores just to see the inventory. I understand your point but I do not want to give access to all the employees at all the shops, otherwise it is useless to have any restrictions.

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579> 418 999.1579 |  <tel:4506771579> 450 677.1579 |  <tel:18559991579> 1 855 999.1579
 <mailto:jessica@sosphone.ca>

[2018-12-05 10:08] usmanalikhan93 opened #532 "Did not come up with customer info - Trevor"
When you click on view invoices in pos, or you scan the barcode. It brings up the sale but does not have the customers info attached. When you search invoice it's there, but when you open it into pos it is gone.

RepairDesk Task Reference (Internal Use Only)
https://repairdesk.atlassian.net/browse/REP-899

[2018-12-05 14:01] ali-repairdesk commented on #517
Customer has been updated.

Still waiting for feedback.

[2018-12-05 14:06] ali-repairdesk commented on #521
Since customer has Signed Up now, so we will be doing this enhancement soon.

In my opinion the priority needs to be Medium however Usman will be dropping an email to Modesto about the changes that needs to be done.

So I will keep you posted on this piece.

[2018-12-05 14:06] usmanalikhan93 commented on #532
Just an update. This issue has been fixed. Please verify.

[2018-12-05 14:08] ali-repairdesk commented on #514
Customer has been updated as per above.

[2018-12-05 14:14] ali-repairdesk commented on #516
We are trying ti figure out the scenario and for 1 scenario we have created a task and its on Beta. I will keep you posted on this piece.

https://repairdesk.atlassian.net/browse/REP-897

Thanks,

[2018-12-05 14:43] ali-repairdesk commented on #513
Issue has been fixed.

Waiting for feedback.

[2018-12-07 04:31] phonefixdfw opened #533 "Bug on purchase order settings page"
![image](https://user-images.githubusercontent.com/37640713/49627822-a3a22500-f9a6-11e8-8deb-c533565c5c9a.png)
shows 82 results and 6 pages of pagination even though its only the 7 default status' and one page

[2018-12-07 04:41] phonefixdfw opened #534 "tickets do not auto create invoice"
![image](https://user-images.githubusercontent.com/37640713/49628117-f3cdb700-f9a7-11e8-8c27-5a445c36065d.png)

i have this option unchecked, but when going through POS and making a ticket, it does not create an invoice. Once i edit a ticket, it does ask if i want to create an invoice, and I can or can cancel...

Is this normal? Or should it create invoice as soon as the ticket is made?

[2018-12-07 04:43] phonefixdfw opened #535 ""you probably want to do one of the following" suggestion"
![image](https://user-images.githubusercontent.com/37640713/49628183-4909c880-f9a8-11e8-9aa6-45e52d50386c.png)
this pop up after creating a ticket should
a) show the new ticket number
b) give option to create invoice and/or add payment

[2018-12-07 04:49] phonefixdfw opened #536 "2 way sms (clickatell) suggestions for alerts"
![image](https://user-images.githubusercontent.com/37640713/49628264-ca615b00-f9a8-11e8-9575-2f6177d4dc9f.png)

alerts settings for 2 way clickatell sms only allow alerts to be set on employees that have that location as a default. Not their default store? They wont see sms alerts. Would be best to do it by store not employee.

Also, maybe an sms flag for unread messages on ticket queue
![image](h

[2018-12-07 05:19] usmanalikhan93 commented on #533
Hey @phonefixdfw
Thank you for bringing this to our attention! It looks like there's a bug that just popped up .

I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!

Usman Ali

[2018-12-07 05:46] usmanalikhan93 commented on #534
Hi @phonefixdfw

Thank you for highlighting your concern. Actually this trigger is referred to when you create ticket from "Manage Tickets" section. Please check this video, it will help you to understand.

[2018-12-07 05:58] usmanalikhan93 commented on #516
Hi @ali-repairdesk

Reported issue has been fixed. Please ask customer to verify on his end.

[2018-12-07 11:21] ProductTeam-RepairDesk opened #537 "Ticket Transfer Functionality Improvements - Trevor"
If you transfer ticket to another store, the system should ask if inventory parts should be transferred to another store (for each part)
It should be in both cases of "In-House Transfer" and "Physical Transfer"
The stock will be deducted accordingly. If a ticket is transferred back and the stock is already deducted from the store who repaired the device, then the stock should transfer to the store

[2018-12-07 12:58] usmanalikhan93 commented on #529
Hi @Uzair-RepairDesk

Reported issue has been fixed.

[2018-12-10 07:08] usmanalikhan93 commented on #527
@Uzair-RepairDesk

Issue has been fixed.

[2018-12-10 07:08] #532 closed

[2018-12-10 07:30] Uzair-RepairDesk commented on #527
I have informed to Trevor in my last email.

[2018-12-10 07:30] #527 closed

[2018-12-11 00:56] hitman1986 opened #538 "a few of issue"
im facing few issue in ipad app:
1-When the customer pays some of the price of the repair in the ticket does not appear when the full amount is paid as previously paid, but it is possible to pay for more than once and does not appear as in the web program
2-casual-section items are not available in the program
3 It automatically closes the program several times a day
4-The program displays invoice

[2018-12-11 01:00] hitman1986 opened #539 "issue"
Hello When I print the ticket label with the Google printer, the printed printer is printed vertically but when I print it normally, the computer appears correctly. Why?

[2018-12-11 05:10] #529 closed

[2018-12-11 05:10] #513 closed

[2018-12-11 05:56] #516 closed

[2018-12-11 06:19] usmanalikhan93 commented on #539
Hey @hitman1986 ,

Usman Ali here, Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2018-12-11 06:20] usmanalikhan93 commented on #538
Hey @hitman1986 ,

Usman Ali here, Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2018-12-11 20:58] ali-repairdesk opened #540 "Option to quickly View Repair Services Prices on POS Window | Modesto | DrPhone Fix"
**Hi Sir,**

**Business Name / Store Name:**
Modesto | DrPhone Fix

**Module:**
POS

**Improvement:**
Customer has come up with a request that:

**In order to quickly view Repair Services Pricing, there is no quick method.**

Just the way we have a search bar for Items, Can we have the same thing for Repair Services as well?

**Current Result:**
In order to view Prices for Repairs, Currently there

[2018-12-11 21:06] ali-repairdesk opened #541 "Select Part Compulsory on POS Window | Modesto | DrPhone Fix"
**Hi Sir,**

**Business Name / Store Name:**
Modesto | DrPhone Fix

**Module:**
POS

**Improvement:**
Customer has come up with a request that:

His employees often forget to select Parts,

I have told him to use Bundled Parts option. He has agreed for now however he is still looking for a trigger that can make Selecting Part mandatory.

**Current Result:**
We can book Repair Ticket without select

[2018-12-11 22:33] phonefixdfw opened #543 "SMS notificaton on lead approval"
I have "Enable Lead Approval" on. When using appointment widget, it sends SMS on appointment request ( as well as email) but once I approve the request, no sms confirmation is sent. There is an email on that step as well, but can we confirm via sms too?

"Send sms reminder to customer on appointment day   " Does it do this a certain amount of time before appointment?

[2018-12-11 22:35] phonefixdfw opened #544 "appointment confirmation page - hours"
![image](https://user-images.githubusercontent.com/37640713/49834711-b4fe7f00-fd62-11e8-8d9e-b91e8124d899.png)

where is it getting these hours from? I am not aware of having these hours listed anywhere (as they are not accurate)

[2018-12-11 22:37] phonefixdfw commented on #544
nevermind, i see in advanced config template now under "On Site Success Page"

can this not pull from same hours listed on the appointments integration?

[2018-12-11 22:48] phonefixdfw opened #545 "appointment leads not showing on calendar"
made a test lead with appointment calendar, approved the lead... but shows nothing on calendar view
![image](https://user-images.githubusercontent.com/37640713/49835285-5803c880-fd64-11e8-84ff-1c446a80e91f.png)
![image](https://user-images.githubusercontent.com/37640713/49835348-841f4980-fd64-11e8-9530-5d734deb5895.png)

![image](https://user-images.githubusercontent.com/37640713/49835367-91d4cf00

[2018-12-11 22:49] phonefixdfw commented on #545
it would be great if there was a menu item at top, similar to notifications, that you could click and see upcoming appointments

[2018-12-11 22:56] phonefixdfw commented on #545
and yes, I understand if i convert it to a ticket that it then shows on calendar... but an appointment shouldn't be a ticket until they show up. And it should be on the calendar as an appointment/lead so store can plan on them showing up, then convert to a ticket upon arrival.

[2018-12-11 22:59] phonefixdfw commented on #543
also no email or sms when it is converted to a repair ticket

[2018-12-12 06:38] Uzair-RepairDesk commented on #545
Hi Brendon @phonefixdfw ,
Thank you for your post. We have already worked on "Dispatch Module" phase 1 that allows you to view "All Tickets and Appointments (Leads)" on a single calendar page. It allows "One Window Operation".
Please check the screenshot attached.

Its available for our few customers for beta testing. We have a plan to deploy it on live for all in a couple of weeks.
If you want to

[2018-12-12 06:49] Uzair-RepairDesk commented on #544
Hi @phonefixdfw
The above screenshot is a success message/email to the customer when the appointment is confirmed from Appointment Calendar Widget.
It's a template that can be edited under Advanced Configuration of the "Appointment Calendar Widget".
Since its a default template with the editable source file, we cannot place individual working hours automatically based on your appointment hours.
Yo

[2018-12-12 13:08] usmanalikhan93 commented on #520
Hi @JessicaSOS

Can you share the woo commerce order id against you were searching ?

[2018-12-12 17:05] JessicaSOS opened #546 "All Invoice are disappear * *"
All the bills are gone! It's as if the customers had made tickets but we would never have made an invoice. For the client attached, I saw bills last night paid and unpaid. Poutant, there is no bill this morning! It's like that for all customers! Corrected quickly please !!!
<img width="946" alt="invoice disapear" src="https://user-images.githubusercontent.com/40500094/49885812-30fdd300-fe06-11e8-8

[2018-12-12 17:19] phonefixdfw opened #547 "Module Configuration - Invoice : text is not being added to invoices"
I added some test text in the invoice settings however they do not show on generated invoice.

Only customization that showed up what "default invoice title"

all others did not
Default Invoice Slogan
Default Invoice Footer
Default Terms & Conditions
Terms & Conditions on Signature
Terms & Conditions on Refund Signature

<img width="1224" alt="invoice details" src="https://user-images.githubuserco

[2018-12-12 17:24] #547 closed

[2018-12-12 18:10] ali-repairdesk opened #548 "IP address Dis-Functionality in case of Switch User | Modesto | DrPhone Fix"
**Hi Sir,**

**Business Name / Store Name:**
Modesto | DrPhone Fix

**Module:**
Manage Employee Section

Configuration Setting: Correct
Roles & Permissions: Correct

**Issue:**
IP address Dis-Functionality in case of Switch User

**Steps to Reproduce Issue/Provide Video:**
1. Go to **Store Settings >> Employees >> Manage Employees**
2. Against **Employee Irtiza**, go to **Action >> Edit**
3. In **

[2018-12-12 18:43] Repair-Desk commented on #517
@usmanalikhan93 Customer is still facing the issue where he doesn't receive an email or sms when a shift is closed. Can we check this again?

[2018-12-13 04:30] usmanalikhan93 commented on #546
Hi @JessicaSOS

Thank you for bringing this to our attention. We have released a hotfix for this. Now it's been resolved. Please verify at your end and do let us know if you have any question.

Thanks
Usman Ali.

[2018-12-13 05:13] usmanalikhan93 commented on #548
Hey @ali-repairdesk
Thank you for bringing this to our attention! It looks like there's a bug that just popped up 🐛.

I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information! 😃

[2018-12-13 05:18] phonefixdfw commented on #545
yes, id love to try it out

[2018-12-13 05:26] Uzair-RepairDesk opened #549 "Phone Number Format Improvements"
**Request:**
Is there a way to remove country code from phone number format? I have selected both "international" and "default" in the store options under 'phone format'

We only deal with US walk in customers and do not need the international format displayed (its not normal to display that in usa)

Requested by: Brandon Noll
Source: Facebook User Group

**Recommended Solution:**
We can add a "Ra

[2018-12-13 05:43] usmanalikhan93 commented on #425
Hi @rlltd

Just an update we have improved our sales summary report. Can you check and let us know that if you are still facing this issue ?

[2018-12-13 05:52] usmanalikhan93 commented on #543
Hi @phonefixdfw

Usman Ali here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2018-12-13 06:14] usmanalikhan93 commented on #543
Hi @phonefixdfw

No for confirmation we only have email. No SMS for confirmation of lead.
When you convert lead to ticket, there is no email and sms sent.

[2018-12-13 06:17] phonefixdfw commented on #543
Seems like sms for confirmation of lead is more important than request? That was customer knows 'ok I'm confirmed and need to be there'

Same thing, can we add notification on convert to ticket? Again, seems important. A regular ticket creation gets a notification with ticket number and stuff saying it's in progress (with link to ticket tracker), why wouldn't it if converted from a lead?

[2018-12-13 06:18] usmanalikhan93 commented on #490
Hi @JessicaSOS

With my understanding, you are asking to add customer notes on estimates PDF ?

[2018-12-13 06:34] usmanalikhan93 commented on #509
Hi @JessicaSOS

I have reviewed your concern on my test account but I was unable to reproduce the issue on my end. Can you help me more to replicate this ?

[2018-12-13 06:35] usmanalikhan93 commented on #453
Hi @JessicaSOS

I did not find a case that how it disappears. Just want to know that are you still facing this issue ?

[2018-12-13 06:38] usmanalikhan93 commented on #432
Thanks @JessicaSOS

[2018-12-13 06:47] usmanalikhan93 commented on #494
HI @JessicaSOS

Can you specify or you know any case in which it happens ? It will be more easy for me to replicate and try to resolve this issue ASAP.

[2018-12-13 07:06] usmanalikhan93 commented on #488
Hi @JessicaSOS

Thank you for bringing this to our attention! It looks like there's a bug that just popped up .

I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!

[2018-12-13 17:17] ali-repairdesk commented on #515
We are already working on its improvements,

https://repairdesk.atlassian.net/browse/REP-912

Thanks,

[2018-12-13 19:54] JessicaSOS commented on #546
Fixed tnx !

[2018-12-13 19:54] #546 closed

[2018-12-13 20:54] JessicaSOS commented on #494
I did not find the source of the error. It appears regularly, but I do not know the constancy. It's not everyday but it's a few times a week, in any of our shops. Sorry, but I have no more iformation. I mentioned 2 examples a little higher ...

[2018-12-13 20:58] JessicaSOS commented on #453
yes we still have this problem. I had to correct the client "Yann Louisor" yesterday again ...

[2018-12-13 21:07] JessicaSOS commented on #509
I do not know how to reproduce it ... I gave you some example mentioned above. I can let you know if I see this problem again soon ...

[2018-12-13 21:11] JessicaSOS commented on #490
Yes exactly, because sometimes it is necessary for us or for the customer to have a particular note on his submission (for insurance purposes, to provide a precision or other). Currently, no matter what notes are written under "additional information" or "customer comment", none are visible.

[2018-12-13 23:08] JessicaSOS commented on #520
http://sosphone.ca/wp-admin/user-new.php
User : jeandavid
Pass : sosphone123
* please do not make any changes or modifications. *

[2018-12-14 06:47] usmanalikhan93 commented on #520
Hi @JessicaSOS

I have removed your last comment as it is a public. So everyone can see this.

[2018-12-14 06:52] usmanalikhan93 commented on #517
Hi @ali-repairdesk @Repair-Desk

We have found that in case of employee login, Ending shift not sending Reconciliation Report via SMS and Email. I have assigned to developer. Hopefully it will be fixed soon.

[2018-12-14 07:45] Uzair-RepairDesk commented on #534
Hi @phonefixdfw
I just got a chance to check your post. Currently, there is no option to auto-create invoice from POS when you hit "Create Ticket".
If you want to create an invoice along with the ticket, you can simply click on checkout enter the payment details if required or simply click "Confirm" for "Unpaid Invoice".
There is already flexibility on POS to create an invoice along with the ticke

[2018-12-14 09:11] Uzair-RepairDesk commented on #540
We have already an option to search repair service from POS and you can see the price as well. Did you tell the customer about this option?
**Check screenshot attached**
![repair search](https://user-images.githubusercontent.com/22955861/49994002-19f7e600-ffaa-11e8-9d5d-982a852f7078.png)

[2018-12-14 09:12] Uzair-RepairDesk commented on #536
@usmanalikhan93 can you please check this?

[2018-12-14 09:43] usmanalikhan93 commented on #490
OK thanks for the feedback. Let me discuss this with Uzair. I will let you know once I get more info on this.

[2018-12-14 15:42] phonefixdfw commented on #536
not to confuse, but lead pop up notification works in the same way

[2018-12-14 16:47] JessicaSOS commented on #520
I do not know how to put a private comment. Thank you !!!!

[2018-12-17 07:44] usmanalikhan93 commented on #531
Hi @quangc

I hope you are doing well. I just want to know that are you facing this issue ? If yes, can you identify the steps you are doing when you face this issue.
I have tried on my end with multiple scenarios but quantity deducts accurately.

[2018-12-17 07:54] usmanalikhan93 commented on #520
Hi @JessicaSOS

I have checked in your account and in manage invoices if we select "View all WooCommerce", it displays all woocommerce invoices. And it does have customer info too.

[2018-12-17 08:00] Uzair-RepairDesk commented on #545
Can you share your account details at uzair@repairdesk.co
Thanks

[2018-12-17 08:52] quangc commented on #531
Yes, the issue is not fixed. But it is very intermittent.

Best Regards,
Quang Cao.
General Manager.
+ Repair Centre Frankston
+ Repair Centre Springvale
+ Repair Partners
P: 1300 89 82 99
A : Shop 6 Shannon Street Mall, Frankston, Vic, 3199.

On 17 Dec 2018, at 6:44 pm, Usman Ali Khan <notifications@github.com> wrote:

[2018-12-17 16:32] JessicaSOS opened #550 "WooCommerce - Status not changed for "sold""
Hello,
I was looking for a phone that was "in stock", but that I did not have physically. Item # 11008. I have been searching for really long time. Still, it was sold online November 30, 2018. It was shipped and correctly registered as "finished" in the WooCommerce, but the sales status did not change to "sold". Normally, the status changes correctly.

Cepedant, the same thing is produced with ite

[2018-12-17 17:19] JessicaSOS commented on #520
#520 is fixed !

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579> 418 999.1579 |  <tel:4506771579> 450 677.1579 |  <tel:18559991579> 1 855 999.1579
 <mailto:jessica@sosphone.ca> jessica@sosphone.ca
 <https://sosphone.ca/?utm_source=signature&utm_medium=urlsite&utm_content=sosphone.ca&utm_campaign=outils> sosphone.ca
5375, boul. Guillaume Couture, Lévis, G6V 4Z3
2750, 1re Avenue, Limoi

[2018-12-17 17:19] #520 closed

[2018-12-17 17:20] JessicaSOS commented on #488
I will check after the Christmas holidays.

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579> 418 999.1579 |  <tel:4506771579> 450 677.1579 |  <tel:18559991579> 1 855 999.1579
 <mailto:jessica@sosphone.ca> jessica@sosphone.ca
 <https://sosphone.ca/?utm_source=signature&utm_medium=urlsite&utm_content=sosphone.ca&utm_campaign=outils> sosphone.ca
5375, boul. Guillaume Couture, Lévis, G6V

[2018-12-18 04:37] usmanalikhan93 commented on #533
Hi @phonefixdfw

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2018-12-18 04:37] #533 closed

[2018-12-18 06:14] usmanalikhan93 commented on #550
Hi @JessicaSOS  ,

Usman Ali here, Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2018-12-18 06:17] #534 closed

[2018-12-18 10:57] quangc commented on #531
When this URGENT matter will be looked at and fix?

[2018-12-18 11:55] usmanalikhan93 commented on #531
Hi @quangc

We are trying to replicate on our end but it didn't reproduce. Once we have a use case for this, we will resolve this ASAP.

[2018-12-18 21:34] JessicaSOS opened #551 "Follow up widget texte problem"
Hello,
Before, we could see the texts of the translation widget (see image). Now nothing is displayed ... (see picture)
Before:
![suivibilletlongueuil](https://user-images.githubusercontent.com/40500094/50184275-952b0600-02e2-11e9-8e28-fdefb1bfa713.png)
After:
<img width="943" alt="follow up widget" src="https://user-images.githubusercontent.com/40500094/50184289-a542e580-02e2-11e9-834a-f001d92b8b

[2018-12-19 10:04] Repair-Desk opened #552 "Inventory Transfer - Display Total Cost"
It would be great to view total cost on inventory transfer.

Bad Apple

![inventory transfer improvements](https://user-images.githubusercontent.com/21986026/50213381-4db67f80-039f-11e9-9985-9f828e15a129.jpg)

[2018-12-19 13:33] ali-repairdesk opened #553 "Purchase Order Improvement to show Employee Name | Modesto | DrPhone Fix"
**Hi Sir,**

**Business Name / Store Name:**
Modesto | DrPhone Fix

**Module:**
Purchase Orders

Configuration Setting: Correct
Roles & Permissions: Correct

**Improvement:**
Once an employee creates a purchase order, we are not able to see his name against the purchase order that is created.

We can add Employee Name on 3 different windows. [Screenshots Attached]

**Current Results:**
Employee Na

[2018-12-20 01:18] JessicaSOS opened #554 "Tradein Commission report"
When a phone is put in a note under the "accessory / tradein" category, it is counted in commission reports as an accessory. It's the only place we can put a phone in a ticket.

See example of the clilente "Annie Bacon" and the employee's commission report "Stephanie Cloutier".

There is also the example of the client "Jocelyne Habonimana" who bought 2 accessories and 1 phone. However, Stéphanie's

[2018-12-20 10:33] usmanalikhan93 commented on #548
Hi @ali-repairdesk

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2018-12-20 10:33] usmanalikhan93 commented on #517
Hi @ali-repairdesk

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2018-12-20 10:36] usmanalikhan93 commented on #539
Hi @hitman1986

I hope our support guy Danish has guided you with this and you are all set now. If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.

[2018-12-20 10:36] #539 closed

[2018-12-20 10:37] usmanalikhan93 commented on #538
Hi @hitman1986

I hope our support guy Danish has guided you with this and you are all set now. If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.

[2018-12-20 10:37] #538 closed

[2018-12-20 10:38] usmanalikhan93 commented on #551
Hey @JessicaSOS ,

Usman Ali here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2018-12-21 01:53] quangc opened #555 "GST Calculation Wrong"
I have recorded into a video file but cannot upload in here.

[2018-12-21 05:46] usmanalikhan93 commented on #555
Hey @quangc ,
Usman Ali here, Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2018-12-21 06:30] usmanalikhan93 commented on #555
Hi @quangc

I have reviewed your concern on my test account, GST is calculating correctly on PO in case of inclusive. Can you share more info on this ?

[2018-12-21 06:32] usmanalikhan93 commented on #486
Hi @JessicaSOS

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali.

[2018-12-21 06:33] usmanalikhan93 commented on #554
Hey @JessicaSOS ,
Usman Ali here, Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2018-12-21 11:56] Repair-Desk opened #556 "Enter Access PIn To Create Ticket & Invoice Trigger - POS"
When customer facing display is switched on enter access pin pop up doesn't display before a repair ticket or invoice is created.

In case of customer facing display is switched on "the pop up should display before customer facing display"

Bad Apple

[2018-12-21 11:59] Repair-Desk opened #557 "Tax Exempt on edit ticket is not working"
On Edit ticket page when you change a tax class from Sales tax to tax exempt it doesn't reset it to zero.

Bad Apple

[2018-12-21 12:02] Repair-Desk opened #558 "Inventory Summary - Export Excel, PDF Not Working"
When you try to export inventory summary to excel or PDF server times out.

Bad Apple

[2018-12-21 12:04] Repair-Desk opened #559 "Transaction Logs Not Listed Chronologically"
If you process transactions from the iPAD & Web transactions are not listed Chronologically.

[2018-12-21 12:05] Repair-Desk commented on #558
Since the inventory size is bigger the server time out. there are 2 solutions

1- It only downloads the item displayed on the page.
2- We run the SQL query and it sends you an email with excel + PDF. Please advise

[2018-12-21 12:06] Repair-Desk commented on #557
We're investigating this and hopefully it will be fixed early next week. In the meantime you can reset it on the invoice

[2018-12-21 12:07] Repair-Desk commented on #556
Thank you for bringing this to our attention! It looks like there's a bug that just popped up 🐛. I'm gonna reach out to our Engineers to get this taken care of.

We will try to get this issue resolved tonight or by Monday.

[2018-12-21 12:08] Repair-Desk commented on #559
We're improving end shift module and transaction log and other suggested improvements will be taken care of it. We've started the development and will try to wrap it up before end of next week.

[2018-12-22 00:42] Repair-Desk opened #560 "Square Deep Integration"
I have not enabled deep integration yet. Our square account has multiple locations inside of one main account and all the transactions were going to our main account. Once I sign into a location, it would log out of the previous store.

Bad Apple

[2018-12-24 09:51] usmanalikhan93 commented on #556
Hi @Repair-Desk

I have assigned this to development team. Hopefully it will be fixed in the end of this week.

For internal use:
https://repairdesk.atlassian.net/browse/REP-1034

[2018-12-24 20:49] ali-repairdesk commented on #515
This improvement has gone Live.

Customer will verify this and share an update. We can close this ticket for now.

[2018-12-25 07:10] Uzair-RepairDesk commented on #553
What is the priority for this improvement? Please confirm. Thanks

[2018-12-25 07:11] Uzair-RepairDesk commented on #541
What is priority for this improvement @ali-repairdesk ?

[2018-12-25 07:19] #544 closed

[2018-12-25 10:00] Uzair-RepairDesk commented on #545
Hi Brandon @phonefixdfw
We have activated "Dispatch" module on your account.
Please note that our current dispatch module is in BETA. It allows you to view "All Tickets and Appointments (Leads)" on a single calendar page. It allows "One Window Operation".

You can review at your end and share your feedback. Thanks

[2018-12-25 12:55] #517 closed

[2018-12-25 12:55] #548 closed

[2018-12-26 03:16] phonefixdfw commented on #545
Will test more, things I see now

- when booking an appointment with lead approval on, customer gets a text
and email. When the lead is approved they get another email confirming, but
no text. Text here is super important to confirm.

-the format on calendar of appointment looks weird. This screen shot
attached is mobile phone but looked same on laptop before it died on me.

-will look at it furth

[2018-12-31 06:50] Uzair-RepairDesk opened #561 "In/Out Breakdown under "Location Payment Method" on Dashboard"
Where do these numbers come from? Cash out? (I can’t find more than $3000 from cash refunds and manual outs) we should be able to click on these numbers to see a breakdown of what makes them.
Customer: **Jeff Sandridge**
Source: **RepairDesk UserGroup**

Recommended Idea: I liked the idea to show a summary of each transaction to show a breakdown of "In/Out" payments. Perhaps we can display it in a

[2018-12-31 07:56] Uzair-RepairDesk commented on #481
Hi @hitman1986
I am pleased to inform you that we have gone LIVE with major updates in "Low Stock Report".
We have also added search filter by Category on your request that will allow you to select criteria by category to search low stock items from any specific category.
Please check the screenshot attached.

You can review the updates and share your feedback. Thanks

![uzairshah low stock report

[2018-12-31 07:56] #481 closed

[2018-12-31 09:47] Uzair-RepairDesk commented on #521
@ali-repairdesk
Its already logged on JIRA and story document is scheduled in this week:-
Task Reference:
https://repairdesk.atlassian.net/browse/REP-927

[2018-12-31 14:43] ali-repairdesk opened #562 "Option to View Reports by Specific Days - Matt Sams | Crack'd Mobile Device Repair"
**Hi Sir,**

**Business Name / Store Name:**
Matt Sams |  Crack'd Mobile Device Repair

Module:
Reports

Configuration Setting: Correct
Roles & Permissions: Correct

**Improvement:**
Customer is looking for a method in which we are able to run a sale report from a specific day of the week only. For example, I want to run a report showing the total sales from every Sunday in 2018. Usman has advised

[2018-12-31 19:37] ali-repairdesk commented on #541
For now, Customer is using the feature of Bundled Parts.

However since by end of Jan, he will be on-boarding almost 10-15 Stores so I will request if we can have this feature added by end of Jan.

Please share your thoughts on this.

Thanks,

[2018-12-31 19:39] ali-repairdesk commented on #553
https://repairdesk.atlassian.net/browse/REP-1070

Jira Link,

[2018-12-31 19:43] ali-repairdesk commented on #540
Thanks Sir,

Customer was updated accordingly. We can close this ticket.

[2019-01-01 05:01] usmanalikhan93 commented on #486
Hi again @JessicaSOS - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2019-01-01 05:01] usmanalikhan93 commented on #488
Hi again @JessicaSOS - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2019-01-01 05:01] #488 closed

[2019-01-01 05:02] usmanalikhan93 commented on #551
Hi again @JessicaSOS  - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2019-01-01 05:02] #551 closed

[2019-01-01 05:05] usmanalikhan93 commented on #556
Hi @Repair-Desk

Reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!

[2019-01-01 05:10] #540 closed

[2019-01-01 06:40] usmanalikhan93 commented on #432
Hi @JessicaSOS

I have come up with one use case after testing, this issue comes is case of e.g. when you are logged in on store A and in inventory transfer you select from store B and to store C, it does not log history against that inventory. So for now I recommend you that please select from store in which you are logged in.

Furthermore, I am discussing this with developer for log transfer his

[2019-01-01 06:41] usmanalikhan93 commented on #483
Hi @JessicaSOS

I have come up with one use case after testing, this issue comes is case of e.g. when you are logged in on store A and in inventory transfer you select from store B and to store C, it does not log history against that inventory. So for now I recommend you that please select from store in which you are logged in.

Furthermore, I am discussing this with developer for log transfer his

[2019-01-01 06:41] usmanalikhan93 commented on #418
Hi @JessicaSOS

I have come up with one use case after testing, this issue comes is case of e.g. when you are logged in on store A and in inventory transfer you select from store B and to store C, it does not log history against that inventory. So for now I recommend you that please select from store in which you are logged in.

Furthermore, I am discussing this with developer for log transfer his

[2019-01-01 06:41] usmanalikhan93 commented on #407
Hi @JessicaSOS

I have come up with one use case after testing, this issue comes is case of e.g. when you are logged in on store A and in inventory transfer you select from store B and to store C, it does not log history against that inventory. So for now I recommend you that please select from store in which you are logged in.

Furthermore, I am discussing this with developer for log transfer his

[2019-01-01 08:05] usmanalikhan93 commented on #558
Hi @Uzair-RepairDesk

It is on beta server. Hopefully we will go live with today.

[2019-01-01 08:17] Uzair-RepairDesk opened #563 "Search Filter by Store in Manage Tickets (If trigger to view all tickets is enable) - Trevor"
We will add search filter by a store in Manage Tickets that will allow you to search tickets from any specific store (If trigger to view all tickets is enable)
![uzairshah ticket config](https://user-images.githubusercontent.com/22955861/50571267-873bb180-0dc7-11e9-9c36-085383da5334.png)

[2019-01-01 09:38] #425 closed

[2019-01-01 12:10] ali-repairdesk commented on #521
Thanks for the update.

Appreciate that.

[2019-01-01 14:06] ali-repairdesk opened #564 "Option to keep track of Damaged Inventory - Modesto | DrPhone Fix"
**Hi Sir,**

**Business Name / Store Name:**
Modesto | DrPhone Fix

**Module:**
Inventory

**Configuration Setting:** Correct
**Roles & Permissions:** Correct

**Improvement:**
Customer is looking for a way in order to track Damaged Inventory Items/Parts. For now there is no Report or any way in which we can track which part was faulty or which is broken. In case we can come up with a way.

For no

[2019-01-01 15:39] ali-repairdesk opened #565 "Option to Update Working Hours for a Non Admin Account - Modesto | DrPhone Fix"
**Hi Sir,**

**Business Name / Store Name:**
Modesto | DrPhone Fix

**Module:**
Payroll Module

**Configuration Setting:** Correct
**Roles & Permissions:** Correct

**Improvement:**
Customer is looking for a way in which Non Admin user with most of the permissions can update Working Hours for his employees.

For better understanding, I have compiled a small video as well. I will appreciate if you

[2019-01-02 01:13] quangc commented on #555
When you added one item with GST inclusive options, the system will work out the GST wrong. I will take another video shots here for you to see.

[2019-01-03 05:31] #556 closed

[2019-01-03 06:33] usmanalikhan93 commented on #557
For internal use:
https://repairdesk.atlassian.net/browse/REP-1024

[2019-01-03 06:35] usmanalikhan93 commented on #555
Can you share the video ?

[2019-01-03 07:17] Uzair-RepairDesk commented on #562
I need more clarity on this. Also please specify the reports. @ali-repairdesk

[2019-01-04 04:41] quangc commented on #555
Did you try in the Purchase Order area?

[2019-01-04 04:46] quangc commented on #555
Just checked again now, all working fine. Someone must fixed it.

[2019-01-04 04:53] quangc commented on #531
Who did this into our system? This is not a proper fix to my opinion.
![screen shot 2019-01-04 at 3 52 05 pm](https://user-images.githubusercontent.com/22993605/50674289-e9e7b400-1038-11e9-8194-7d6e377ffef4.png)

[2019-01-04 04:54] quangc commented on #531
This is very patchy fix, and they only fix from the date we reported. How about those previous days?

[2019-01-04 05:07] usmanalikhan93 commented on #555
Thanks for the update.

[2019-01-04 05:07] #555 closed

[2019-01-04 05:40] usmanalikhan93 commented on #557
Please check developer feedback:

"Its not the issue of Tax Exempt. Price were not changing due to customer group attached with the customer. and calculations are done according to Customer group. don't know the status of client updated or not? And Tax exempt in reported transaction was used with value greater than 0 .so that calculation saved with that Transaction . we cannot update that record.

[2019-01-04 05:40] #557 closed

[2019-01-04 10:52] usmanalikhan93 commented on #531
Hi @quangc

Did you check employee activity report ?

[2019-01-04 16:55] Repair-Desk opened #566 "Low Stock Report - Add a new column for item ID"
![bad apple 1](https://user-images.githubusercontent.com/21986026/50700051-cdcb1f00-1006-11e9-8619-7d816e23b60f.jpg)

Source: Bad Apple

[2019-01-04 21:07] Repair-Desk opened #567 "Improvements In Customer Module - Option to Display Store Name Under Tickets & Invoice & add store filter under tickets and invoice"
For corporate customers they need to see invoice across all stores. Would be great if there was a store filter that allows you to view invoices.

![store name](https://user-images.githubusercontent.com/21986026/50711032-fc0e2600-1029-11e9-9442-c033a80c6a84.jpg)

[2019-01-05 12:13] TechreviveAu opened #568 "Float Count Start/End Shift Reporting"
Opening and closing float value should never be included in daily takings and needs to be amended in reporting. Current way confuses staff when finalizing shift

[2019-01-05 17:51] Repair-Desk opened #569 "Improvements In Ticket, Inventory & RMA Label"
Following macros should be available on ticket label:

- store name,
- customer phone,
- mobile

[2019-01-05 17:53] Repair-Desk commented on #569
It would be good to add store name to RMA label.

[2019-01-05 18:05] Repair-Desk opened #570 "Store Search Filter on Manage Tickets"
![ticket](https://user-images.githubusercontent.com/21986026/50727553-bdd03f80-10d9-11e9-8d59-8fdea3aa149f.jpg)

Also would be great if you click on ticket number for other store and you should be able to view it or if not possible switch it to other store.

[2019-01-05 18:09] Repair-Desk opened #571 "Customer Facing Display Improvements"
On POS using CFD if customer details are mandatory and you click on create ticket it asks for a pin, you capture customer signature and then it displays an error customer details are required.

Also sometimes it doesn't request customers to enter their signatures. Would be great if there was an easier way to get customer signatures if the ticket was created. Perhaps on confirmation pop up we can a

[2019-01-05 19:46] Repair-Desk opened #572 "Cancelled Repair Ticket"
When you mark a repair ticket status as cancelled it would be really cool that it displays a pop up if they want the part to go back to inventory.

Also it should request employee's to enter their PIN to track which employee removed the part.

[2019-01-05 20:17] Repair-Desk opened #573 "Bug / Improvement In Warranty Claim"
**Improvements:**

Lets say you do a screen repair whose default warranty period is 60 days.

Customer comes in on 50th day saying there is a problem with screen and if you replace the screen, RepairDesk resets the warranty period to 60 day however it should not.

What would be really cool is, if there was warranty added against a part this should be added towards the screen repair.

Bug: Ticket 1

[2019-01-06 10:53] Repair-Desk opened #574 "POS - Option to View Inventory Across all Stores"
For Multi Stores it would be great when you ring an item there should be an option to view stock across all stores.

**See Below:**

![view stock](https://user-images.githubusercontent.com/21986026/50735125-9a9fa180-1166-11e9-89fe-44fcd7955909.jpg)

This option should be visible to multi-store employees only

[2019-01-06 10:56] Repair-Desk commented on #571
Also when CFD is switched on and it sends a request to the front facing display, you find an issue and
you click on cancel request.

When you correct the issue and click on create ticket, it doesn't request the access pin at all and simply create the repair ticket

[2019-01-06 10:57] Repair-Desk commented on #571
It takes good 8-15 sometimes 20 sections before it loads the info. Is there a chance we can make it quicker?

[2019-01-06 10:57] Repair-Desk commented on #571
We also need to re-write CFD with option to edit front facing default slide.

[2019-01-06 10:58] Repair-Desk commented on #571
Sometime I accept terms and conditions + submit button takes 2-4 taps which is inconvenient

[2019-01-06 11:08] Repair-Desk commented on #572
![image](https://user-images.githubusercontent.com/21986026/50735231-bdcb5080-1168-11e9-9331-dfcece3a5ab8.png)

[2019-01-06 11:21] Repair-Desk opened #575 "Improvements - Sales By Item Type Report"
![sales by item type report improvements](https://user-images.githubusercontent.com/21986026/50735314-69c16b80-116a-11e9-8334-ccafee24423c.jpg)

1- Also when you export items to excel it doesn't display the item type (category)
2- It doesn't display their totals

[2019-01-06 11:41] Repair-Desk commented on #569
It would be good to add following macros to Serialized Inventory:

{{serial_warranty}} Warranty

![rd-inventory-serial-88-28-default](https://user-images.githubusercontent.com/21986026/50735496-4fd55800-116d-11e9-996f-7c52d7fc523a.png)

[2019-01-06 11:44] Repair-Desk commented on #569
Item Name on the Inventory label - Serialized Inventory or Trade-In should not be more than 20 characters. In case multiple device items are compatible it creates an issue. See below:

$devicemodels=substr($devicemodels,0,20)

[117230501546603930.pdf](https://github.com/Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS/files/2730410/117230501546603930.pdf)

[2019-01-07 06:49] Uzair-RepairDesk commented on #487
@JessicaSOS
hope you are fine, currently,
1. you cannot create negative adjustment when you onhand stock is zero. negative adjustment can only be done when the stock is present.
2. Notes added while doing the adjustment are shown in the report for stock adjustment. it is also for the record that why a user is adding adjustment. but we can work on the option for adding notes along with item admin h

[2019-01-07 07:33] Uzair-RepairDesk commented on #570
We have the trigger available "Display all Tickets to super admin on Manage Tickets" under Settings > Module Configurations > Tickets.
**We can give store search filter only if the above trigger is enabled.**
In fact, we already have it but on the demo and we didn't make it live so far(Confirmation by Sir Imran).
Trevor discussed it with me on the last call and I recommended the same.

**Regarding

[2019-01-07 09:32] Uzair-RepairDesk commented on #573
@usmanalikhan93
Can you check the bug highlighted above in description?

[2019-01-07 10:05] Uzair-RepairDesk commented on #575
**Logged on JIRA**
https://repairdesk.atlassian.net/browse/REP-1107

[2019-01-07 10:12] Uzair-RepairDesk commented on #568
Thank you for sharing your idea Will @TechreviveAu
Can you please explain your idea along with screenshot and example so I can discuss it with the team in detail. It will be appreciated. Thanks

[2019-01-07 10:16] usmanalikhan93 commented on #490
Hi @JessicaSOS

Your reported issue has been assigned to development team and hopefully it will be fixed in this week.

[2019-01-07 11:37] usmanalikhan93 commented on #573
Sure @Uzair-RepairDesk

[2019-01-07 16:46] #558 closed

[2019-01-07 23:05] Trevorshaw7 opened #576 "Inventory Summary Report Not Working Properly"
If you run the inventory summary with a date the report doesn't work right with serialized items.  If there is no date it seems to work.  See attached screen shots for clarification.
<img width="1411" alt="screen shot 2019-01-07 at 4 02 59 pm" src="https://user-images.githubusercontent.com/43588617/50798556-02a0d580-1296-11e9-97cf-3886c0e3b15f.png">
<img width="1412" alt="screen shot 2019-01-07 at

[2019-01-07 23:18] Trevorshaw7 opened #577 "Searching by Serial"
If you search by serial it doesn't give you information on that specific serial, it brings up all the others in the same SKU
<img width="1421" alt="screen shot 2019-01-07 at 4 16 43 pm" src="https://user-images.githubusercontent.com/43588617/50799052-ca01fb80-1297-11e9-98c5-b8f3d03e95d1.png">

[2019-01-08 00:00] Trevorshaw7 opened #578 "Enhancement to RMA"
It would be great to get an RMA report, but in the meantime can you add a cost summary like the inventory counts have?
<img width="1414" alt="screen shot 2019-01-07 at 4 39 36 pm" src="https://user-images.githubusercontent.com/43588617/50800488-ab9efe80-129d-11e9-82f1-3fd5f1e49db6.png">
<img width="1410" alt="screen shot 2019-01-07 at 5 00 16 pm" src="https://user-images.githubusercontent.com/4358

[2019-01-08 00:08] Trevorshaw7 opened #579 "Customer History"
When viewing a customer you should be able to view the history of all transactions not just a single stores transactions. Also when looking at revenue by customer the report isnt working right.
<img width="1419" alt="screen shot 2019-01-07 at 5 08 03 pm" src="https://user-images.githubusercontent.com/43588617/50800751-d50c5a00-129e-11e9-8297-5dab6f357f1d.png">
<img width="1420" alt="screen shot 20

[2019-01-08 00:16] Trevorshaw7 opened #580 "Inventory Count Export"
Can we get the store alternate name on this report?
<img width="1084" alt="screen shot 2019-01-07 at 5 14 20 pm" src="https://user-images.githubusercontent.com/43588617/50800963-fcaff200-129f-11e9-80e2-3edab0d52363.png">

[2019-01-08 04:54] Uzair-RepairDesk commented on #577
Hi @Trevorshaw7
Thank you for your post. We have already logged the improvement in "Inventory Summary Report" to give the option to "View Serials" for each item in the popup.
I am posting the above request in the same task that if you search for a specific serial, we should optimize the search results and only the specific store should come up in the list where serial exists rather than a list of

[2019-01-08 04:56] Uzair-RepairDesk commented on #576
@usmanalikhan93 Can you please check

[2019-01-08 05:03] Trevorshaw7 commented on #577
yes agreed

On Mon, Jan 7, 2019 at 9:54 PM Muhammad Uzair Shah <notifications@github.com>
wrote:

--

Trevor Shaw
Bad Apple

[2019-01-08 05:05] Uzair-RepairDesk commented on #577
Great.
In-House Task Reference:
https://repairdesk.atlassian.net/browse/REP-1093

[2019-01-08 05:37] Uzair-RepairDesk commented on #576
**Delayne fro Bad Apple Team also reported the following:-** @usmanalikhan93 can we also check this?

"I am still having some issues with the Inventory Summary report.  When it is converted to a csv file a few of the SKU are ending up with a space in front of the Store Name thus creating a new store name in excel. (excel pivot table below). What can be done to fix this? See SKUs below"
![1](https:

[2019-01-08 06:53] usmanalikhan93 commented on #576
Hi @Trevorshaw7

I hope you are doing well. I have reviewed your concerns related to inventory summary. It seems to be working fine. Can you provide more info on this ? A short video with a use case will be really helpful.

[2019-01-08 07:44] Trevorshaw7 commented on #576
Look at the screen shots. It displays differently with a date attached

On Mon, Jan 7, 2019, 11:53 PM Usman Ali Khan <notifications@github.com
wrote:

[2019-01-08 08:08] Uzair-RepairDesk commented on #578
Hey @Trevorshaw7
Thank you for sharing your idea.
We have a plan to improve our complete RMA module however do you want to view a total of RMA on Manage RMA listing page?

[2019-01-08 08:21] Uzair-RepairDesk commented on #570
https://github.com/Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS/issues/563

[2019-01-08 09:58] usmanalikhan93 commented on #576
Ticket has been created and Assigned it to Dev, https://repairdesk.atlassian.net/browse/REP-1114. We are not seeking this issue in our accounts but its been verfied, its an issue with your account.

[2019-01-08 13:32] usmanalikhan93 commented on #490
Hi @JessicaSOS

I hope you are doing well. We have added customer notes in lead estimate receipt. Please verify at your end and do let us know if you have question.

![lead_estimate_live](https://user-images.githubusercontent.com/39614480/50833653-bfb52f80-1373-11e9-86d7-5eb63c3863f1.png)

[2019-01-08 14:24] Trevorshaw7 commented on #578
Yes, it would be helpful.

On Tue, Jan 8, 2019, 1:08 AM Muhammad Uzair Shah <notifications@github.com
wrote:

[2019-01-08 14:36] usmanalikhan93 commented on #407
Hi @JessicaSOS

I hope you are doing well. We have released a fix for this issue as I have mentioned the use case earlier. Now history will be come up in inventory in these cases. I hope in future, you will not face these issues again related to missing transactions.

For now I am closing all tasks you reported related to missing inventory.

[2019-01-08 14:36] usmanalikhan93 commented on #432
Hi @JessicaSOS

I hope you are doing well. We have released a fix for this issue as I have mentioned the use case earlier. Now history will be come up in inventory in these cases. I hope in future, you will not face these issues again related to missing transactions.

For now I am closing all tasks you reported related to missing inventory.

[2019-01-08 14:36] usmanalikhan93 commented on #483
Hi @JessicaSOS

I hope you are doing well. We have released a fix for this issue as I have mentioned the use case earlier. Now history will be come up in inventory in these cases. I hope in future, you will not face these issues again related to missing transactions.

For now I am closing all tasks you reported related to missing inventory.

[2019-01-08 14:36] usmanalikhan93 commented on #418
Hi @JessicaSOS

I hope you are doing well. We have released a fix for this issue as I have mentioned the use case earlier. Now history will be come up in inventory in these cases. I hope in future, you will not face these issues again related to missing transactions.

For now I am closing all tasks you reported related to missing inventory.

[2019-01-08 14:36] #418 closed

[2019-01-08 14:37] #483 closed

[2019-01-08 14:37] #432 closed

[2019-01-08 14:58] Repair-Desk commented on #574
Option to view on hand stock across all stores has been added. See below:

![on hand stock](https://user-images.githubusercontent.com/21986026/50838401-ca8ba800-1312-11e9-8957-98438eafb2b4.jpg)

[2019-01-08 14:58] #574 closed

[2019-01-09 07:59] usmanalikhan93 commented on #417
Hi @JessicaSOS

I hope you are doing well. I have reviewed your concern point 1, it is working fine. See screenshot attached.
![due_invoice_reminder _](https://user-images.githubusercontent.com/39614480/50885043-7108a380-140e-11e9-9c6b-57af642d69a2.png)

[2019-01-09 08:09] Uzair-RepairDesk commented on #515
@ali-repairdesk
Please update?

[2019-01-09 22:31] phonefixdfw opened #581 "sms reply times are way off"
![image](https://user-images.githubusercontent.com/37640713/50932703-02d2d980-142c-11e9-8338-f24cd5db7ca1.png)
this customer replied not long after her 3:40pm text and it is time marked hours off. Any ideas on ways to fix?

[2019-01-10 04:55] usmanalikhan93 commented on #414
Hi @JessicaSOS

I hope you are doing well. Sorry for the late reply. I have checked this in your account and found that there are some payments in transaction log with these extra payment methods showed in your transaction log. That's why it is showing in this. I hope it will help.

Usman Ali

[2019-01-10 07:34] usmanalikhan93 commented on #581
Hi @phonefixdfw . Can you check the log of your sms service provider ?

[2019-01-10 10:19] Uzair-RepairDesk commented on #575
We have gone live with the above improvements

[2019-01-10 10:19] #575 closed

[2019-01-10 10:20] Uzair-RepairDesk commented on #521
We have gone live with the above improvement. Please review and update the customer. @ali-repairdesk

[2019-01-10 10:20] #521 closed

[2019-01-10 10:30] Uzair-RepairDesk commented on #528
@Trevorshaw7
We have added comprehensive reports permissions under "Employees Roles Permissions"
It's highly recommended to update permissions for each employee role.
You can do it by following given steps:-

**Store Settings > Employees > Roles Permissions > Select Role > Update Reports Permissions > Save Changes**

[2019-01-10 10:30] #528 closed

[2019-01-10 12:08] Uzair-RepairDesk commented on #579
Hey @Trevorshaw7  Hope you are fine.
Issue related to  revenue by customer reports has been fixed and its live, where as other issue you mentioned is still under development . once that issue is resolved we will update you.

[2019-01-10 12:44] usmanalikhan93 commented on #576
Hey @Trevorshaw7 ,

This issue has been resolved *(mentioned below)*. Please verify it for your convenience.
If you run the inventory summary with a date the report doesn't work right with serialized items. If there is no date it seems to work.

[2019-01-10 15:54] phonefixdfw commented on #581
I am using clickatell. It does look like time is wrong on clickatell, but why wouldnt it use local time to us like the outgoing message does? and mark the time same as whatever time it comes in at. I dont see a way to change timezone on clickatell but i will keep looking

[2019-01-10 20:31] ali-repairdesk commented on #521
Thanks, Customer has been updated as well.

[2019-01-10 20:32] ali-repairdesk commented on #553
Customer has been updated as well

[2019-01-10 21:06] Repair-Desk commented on #567
It should display store name against a repair ticket as well

[2019-01-10 21:06] Repair-Desk commented on #567
Is it possible to just display store name against ticket and invoice and release a hot fix on Friday?

[2019-01-11 04:56] usmanalikhan93 commented on #581
Hi @phonefixdfw

Just Developer needs to know that did you get these SMS on time and it is showing 10:03 PM ?
For example you get reply on 4:00 PM and on RD it is showing 10:00 PM.

[2019-01-11 05:09] Uzair-RepairDesk commented on #567
@Repair-Desk
I have already discussed it with the developer day before yesterday. We **had the option to view all the tickets and invoices of all stores** under Manage Customers section and only those specific tickets and invoices are clickable that are linked with the same store. Currently, it's not coming under Invoices.
Its also **linked with Store type functionality** and sharing of customers

[2019-01-11 05:21] #407 closed

[2019-01-11 05:21] #490 closed

[2019-01-11 08:25] TechreviveAu opened #582 "Reconciliation sms"
Reconciliation SMS notification to managers is enabled but only works for the manager ending shift.

Would be a good idea to have the option to notify all managers

[2019-01-11 08:27] TechreviveAu opened #583 "Trade in devices"
We have set trade in devices not to display until 30 days has lapsed however you can still search for these in POS when entering the name manually

This option when enabled should not let the user search or select the traded in device under any circumstances until desired time has lapsed.

[2019-01-11 11:05] TechreviveAu opened #584 "Pre and post conditions specific time device type"
Pre and post condition module needs to be re-written so that conditions can be specific to device category I.e a laptop, tablet, phone etc would all have different scenarios

[2019-01-11 11:15] Uzair-RepairDesk commented on #573
@usmanalikhan93
Whats the update on this?

[2019-01-11 14:06] phonefixdfw commented on #581
Yes the reply was sent soon after the original text. It looks like customer reply time is using clickatell server time which is south Africa and they say can't be changed. I believe the reply was at 4:03 but says 10:03 because of the server time difference

[2019-01-11 20:48] ali-repairdesk opened #585 "Invoice Sync Issue"
**Hi Sir,**

**Business Name / Store Name:**
Orange Phone Care

**Customer Credentials:**
Email: Shared on Skype
Password: Shared on Skype
Admin:  Yes

**Store Name For The Issue:**
Issue coming on all Stores

**OS:** Windows / MacBook
**Module:** QuickBook
**Configuration Setting:** Correct
**Roles & Permissions:** Correct

**Issue:**
Customer has reported an issue that once we do the following:

[2019-01-12 11:13] TechreviveAu opened #586 "Clear Leads"
Option to delete leads in bulk

[2019-01-12 15:05] Repair-Desk commented on #567
Thanks for sharing additional info @Uzair-RepairDesk. We can engage Bilal for the update of customer module.

Looking forward to go live with this improvement soon.

[2019-01-12 15:08] Repair-Desk commented on #570
**Hello @Uzair-RepairDesk**

Thanks for sharing additional info and please find my feedback below:

**1- We can give store search filter only if the above trigger is enabled.**
Let's do it.

**2- Regarding store switch, I discussed with Imran and we can do the following:-
We can show an alert if user "View" or "Edit" ticket that store will be switched to "Store Name" and store will be switched fir

[2019-01-12 15:59] Repair-Desk commented on #580
Also it would be good to display total inventory dollar value

![transfer](https://user-images.githubusercontent.com/21986026/51075423-06d74500-1640-11e9-96e9-aa377ffd284c.jpg)

[2019-01-12 16:01] #576 closed

[2019-01-12 16:07] Repair-Desk commented on #585
@ali-repairdesk Umair will check this first thing Monday morning

[2019-01-12 16:10] Repair-Desk commented on #584
Assigned to Bilal. We will need to update this on iPAD. @Uzair-RepairDesk I believe hassan has the documentation ready. Please involve Irfan for the mock ups

[2019-01-13 00:17] TechreviveAu commented on #584
Would like to see this for use on computer aswell as iPad POS. Our store is not using iPad POS

[2019-01-14 00:06] TechreviveAu opened #587 "Pin code mandentory issue"
Since activating pin code mandentory upon booking in device through pos., I can now no longer save tickets. An error keeps appearing with "Passcode or pattern is required" regardless of if pin or pattern code being saved to ticket

[2019-01-14 05:48] usmanalikhan93 commented on #587
Hi,
Issue is with the editing of ticket, when the trigger is on. We have created the ticket and will get back to you.
https://repairdesk.atlassian.net/browse/REP-1136

Thanks

[2019-01-14 05:48] usmanalikhan93 commented on #587
Hi @TechreviveAu

Your reported issue has been assigned to development team and hopefully it will be fixed tomorrow or day after tomorrow. For the time being, you can switch off the trigger and work with that.
Your patience would be highly appreciated.
Thanks!
Usman Ali.

[2019-01-14 06:34] usmanalikhan93 commented on #581
Thanks for the information @phonefixdfw . I will discuss this with developer and revert back to you tomorrow.

[2019-01-14 07:09] #531 closed

[2019-01-14 07:54] Uzair-RepairDesk commented on #582
Hey Will @TechreviveAu
If you go to **Store Settings > Cash Register > Notification**
You can enable "**SMS On Shift Close**" for any store user you want. It sends SMS Reconciliation summary upon shift end.
Please make sure that **"SMS Integration"** should be enabled and specific admin/users should have **valid "Mobile Number"** in the profile settings.

I have just verified it for the email and

[2019-01-14 08:08] TechreviveAu commented on #582
It will work for the staff member who ends shift. We would like to have the option to notify multiple managers on end shift. Currently this does not work via SMS.

For example, if my wife ends shift she will get an SMS with totals however I do not.

If I end shift, I get an SMS with totals but my wife does not.

[2019-01-14 08:10] Uzair-RepairDesk commented on #583
Hey Will @TechreviveAu ,

If I am not wrong, you have set "Sale Date" under "Seller Invoice Settings" to "30 Days".
I also just did the same and set value of 7 days. It doesn't come up in the "Trade-In" listing on POS even the status is "In Stock".
Can you please share more details on this where you are able to search so I can get it fixed?
Screenshots will be appreciated. Thanks.

Hope to hear fr

[2019-01-14 09:59] Uzair-RepairDesk commented on #582
Thank you for the example Will @TechreviveAu . I can get it checked in case of SMS.
Did you check it with the notifications of email from your account? Can you please confirm if admin/users get the reconciliation email at end of the shift?
Please refer to the screenshot attached
![uzairshah shiftclosesetting cashdrawer](https://user-images.githubusercontent.com/22955861/51106237-fa541780-180c-11e9

[2019-01-14 10:01] usmanalikhan93 commented on #581
For internal use:
https://repairdesk.atlassian.net/browse/REP-1141

[2019-01-14 11:39] TechreviveAu commented on #582
Thanks Uzair for the prompt reply.
I can confirm that both my managers have the "SMS on Shift Close" enabled however only the manager who closes the shift receives the SMS

[2019-01-14 11:46] TechreviveAu commented on #583
Hi Uzair,
This issue seems to have rectified itself. thanks for getting back to me promptly

[2019-01-14 11:46] #583 closed

[2019-01-14 19:58] Trevorshaw7 opened #588 "Negative on Serialized"
There is a negative on serialized item, How does this happen?
<img width="501" alt="screen shot 2019-01-14 at 12 57 30 pm" src="https://user-images.githubusercontent.com/43588617/51137584-1dc29680-17fc-11e9-844d-205c7d10db10.png">

[2019-01-15 04:39] Uzair-RepairDesk commented on #498
Update: The document is completed for Inventory Transfer and Inventory Transit report and currently in design phase.
We will proceed with the development in the next week.

[2019-01-15 07:01] Uzair-RepairDesk commented on #572
I reviewed scenarios to link inventory item and part item with ticket and invoice. I have also discussed it with Imran sb.

There is no problem if there is only repair service and bundled part of the ticket, however, **there are quite a lot of scenarios with the linkage of inventory along with the ticket, part, and invoice.
Few are listed below with deletion scenario:-**

1: If we add inventory it

[2019-01-15 07:20] #417 closed

[2019-01-15 21:15] Trevorshaw7 opened #589 "Reports"
On reports, Can we get it to only pull the on hand SKU instead of having to sift through all the QTY of 0?

[2019-01-16 06:22] Trevorshaw7 opened #590 "Inventory Summary Report Improvements"
Inventory summary is not exporting all data, causing it to not show correct numbers.

Inventory Summary also puts a space in front of stores randomly, so it makes it more difficult to sort.

If there is a way to exclude the 0 QTY skus in this report by a click of the button it would really help with sorting the CSV after it is downloaded as well as increase the speed of downloading and report crea

[2019-01-16 06:25] Trevorshaw7 opened #591 "Switching stores"
Currently every time you switch a store it will send you back to the welcome page.  It would be really nice if it would keep you on the same page that you were in but just change the data according to the store. Check with Uzair for explaination.  It gets really time consuming starting over everytime you need to switch to a different store.  having 11 outlets that time adds up, as well as it makes

[2019-01-16 06:27] Trevorshaw7 opened #592 "Reports Home page"
Reports home page sends you to the multi store report when it should display all available reports.  If someone wanted to view the multi store report you could click on that to view it.  But currently how it is set up for me to look at parts consumption I have to go through the multi store report to get to reports page, and it get time consuming to be forced into the same report every time.

[2019-01-16 09:05] ireparo opened #593 "Employee Productivity"
All the repairs that are made by the technician do not count them in productivity from the employee to the technician, but they are accounted for by the person who charges and delivers the terminal. In this way you can not know how much the technician generates for the company.

[2019-01-16 10:48] #587 closed

[2019-01-16 12:58] Uzair-RepairDesk commented on #593
@usmanalikhan93   kindly check this issue

[2019-01-16 16:47] Trevorshaw7 opened #594 "Employee activity report"
The employee activity report is not correct.
<img width="1420" alt="screen shot 2019-01-16 at 9 45 36 am" src="https://user-images.githubusercontent.com/43588617/51264428-b3ccfd00-1973-11e9-87b0-c698d461cb18.png">
<img width="977" alt="screen shot 2019-01-16 at 9 25 02 am" src="https://user-images.githubusercontent.com/43588617/51264448-bf202880-1973-11e9-88dc-9ec3617dfcbd.png">

[2019-01-16 17:38] Trevorshaw7 opened #595 "Sales by Item"
It makes it difficult to account properly when this report splits the item from repair tickets and products.
<img width="734" alt="screen shot 2019-01-16 at 10 35 48 am" src="https://user-images.githubusercontent.com/43588617/51267382-d0206800-197a-11e9-9693-68feb5ec15e4.png">
<img width="554" alt="screen shot 2019-01-16 at 10 35 19 am" src="https://user-images.githubusercontent.com/43588617/51267

[2019-01-17 00:14] Trevorshaw7 opened #596 "Inventory count reversal"
There has to be a way for the admin to be able to reverse an inventory count adjustment.

[2019-01-17 00:16] Trevorshaw7 opened #597 "All inventory counts are showing a 0 cost"
Why is there no cost associated with the counts?
<img width="1416" alt="screen shot 2019-01-16 at 5 15 23 pm" src="https://user-images.githubusercontent.com/43588617/51286929-6f148680-19b2-11e9-98cb-9981d6ff95e3.png">

[2019-01-17 02:40] Repair-Desk opened #598 "Inventory Count for Trade-In Items"
You should be able to select inventory Type: Products or Trade-In Item so it fetch all trade-in items so you can do their count as well.

You should be able to print a sheet with all the info so its easier to count.
![trade-in items](https://user-images.githubusercontent.com/21986026/51291972-ea198380-1a2a-11e9-8782-3128c3b07143.jpg)

[2019-01-17 06:17] usmanalikhan93 commented on #597
Sure @Uzair-RepairDesk

[2019-01-17 06:18] Uzair-RepairDesk commented on #593
Hi @ireparo
Can you please elaborate it with screenshots? Is it about the "Employee Sales Performance" in productivity?
Hope to hear from you soon.

[2019-01-17 07:03] ireparo commented on #593
As you can see in the image, the technician Bader has made several repairs and they are counted in the lower part but their productivity in employee income does not come out. If I select the person who delivers the device to the customer then the benefit is posted. But I would need you to count it to the technician and not to the person who delivers it.

![captura de pantalla 2019-01-17 07 49 57](

[2019-01-17 11:56] Uzair-RepairDesk commented on #586
Hey @TechreviveAu   the above issue is solved kindly verify at your end.

[2019-01-17 11:56] #586 closed

[2019-01-17 11:58] Uzair-RepairDesk commented on #563
Done and verified on live

[2019-01-17 11:58] #563 closed

[2019-01-17 12:00] Uzair-RepairDesk commented on #577
Hey @Trevorshaw7   the Above issue is solved kindly verify at your end.

[2019-01-17 12:00] #577 closed

[2019-01-17 12:01] Uzair-RepairDesk commented on #570
Done.

[2019-01-17 12:01] #570 closed

[2019-01-17 12:07] TechreviveAu commented on #586
Working my end. Thanks fellas !

[2019-01-17 13:09] Uzair-RepairDesk commented on #580
@Trevorshaw7  reported issue is done, kindly verify.

[2019-01-17 17:50] Trevorshaw7 commented on #577
Can we get it so the serials export as well?

[2019-01-17 21:50] Repair-Desk opened #599 "Ability to Display Admin Dashboard to Employees"
There should be an option where we can set under employee roles & permission so that they should not just see a technician dashboard

![employee](https://user-images.githubusercontent.com/21986026/51351149-da9e4700-1acb-11e9-8ec4-b6dc1713f9aa.jpg)

**but admin dashboard. See below:**

![admin dashboard](https://user-images.githubusercontent.com/21986026/51350992-6ebbde80-1acb-11e9-8b67-5f62e487e35

[2019-01-17 21:54] Repair-Desk commented on #599
Also under employee roles and permission there should be an ability that allow store manager to update time sheet or clock in / out of employee's.

![employee roles](https://user-images.githubusercontent.com/21986026/51351324-69ab5f00-1acc-11e9-9ab1-0446d5a39d3e.jpg)

Currently only super admin can update clock in / out time. See below:

![timesheet1](https://user-images.githubusercontent.com/2198

[2019-01-17 22:00] Repair-Desk opened #600 "Inventory Type = Option To Select IF They Should Be Displayed On POS OR Not"
Currently Parts categories are also displayed on the point of sale screen. **See below:**

![parts](https://user-images.githubusercontent.com/21986026/51351595-184f9f80-1acd-11e9-9f5e-0efd25c14012.jpg)

It would be great if we can setup on the inventory type page which categories should be displayed on POS or not. By default "parts" categories should not be displayed on POS.

![show on pos](https:

[2019-01-17 22:02] Repair-Desk opened #601 "Employee Roaster / Scheduling"
There should be an option to set & view employee schedule for a week for any store.

![schedule](https://user-images.githubusercontent.com/21986026/51352267-eccdb480-1ace-11e9-8442-3bed184e975f.jpg)

Reference: https://joinhomebase.com/

[2019-01-17 22:08] Repair-Desk opened #602 "Ability To Update Ticket From POS"
Scenario # 1: If you've just added a repair ticket and forgot to associate a part or would like to add a new service item to it. There is no easy way.

See below:

![edit ticket](https://user-images.githubusercontent.com/21986026/51351918-f276ca80-1acd-11e9-8f39-396c4f18aced.jpg)

And

![ticket update](https://user-images.githubusercontent.com/21986026/51351957-13d7b680-1ace-11e9-8c74-a4bc0a62a83e

[2019-01-17 22:24] afrahm commented on #581
We have found the exact same thing and we are using SMS Broadcast in Australia
<img width="548" alt="screen shot 2019-01-18 at 8 22 17 am" src="https://user-images.githubusercontent.com/1414304/51352804-6d55da80-1afa-11e9-8f83-6aae1b812cbb.png">

[2019-01-18 04:02] Trevorshaw7 opened #603 "In Transit report isn't accurate, and there is no way to do anything with the inventory."
In Transit report isn't accurate, and there is no way to do anything with the inventory.  There has to be a way to resolve the inventory that is intansit.
<img width="1426" alt="screen shot 2019-01-17 at 9 01 08 pm" src="https://user-images.githubusercontent.com/43588617/51364961-33092080-1a9b-11e9-9c9e-b91be32c436d.png">
<img width="1423" alt="screen shot 2019-01-17 at 9 00 41 pm" src="https://us

[2019-01-18 04:31] Uzair-RepairDesk commented on #578
Hey, @Trevorshaw7  Total added in RMA listing page, kindly verify at your end.

[2019-01-18 05:18] Uzair-RepairDesk commented on #603
@usmanalikhan93
Please check this. You can take details from Facebook chat group as well.

[2019-01-18 06:58] Uzair-RepairDesk commented on #202
Listed new request:-
https://github.com/Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS/issues/602
Closing it from here

[2019-01-18 06:58] #202 closed

[2019-01-18 07:03] #578 closed

[2019-01-18 07:08] Uzair-RepairDesk commented on #577
@Trevorshaw7 We already planned it but with respect to development, if we add serials in the export file, it will make the report and export process slow. You can track the serials for each item from the report in the above improvement.

[2019-01-18 07:59] #580 closed

[2019-01-18 08:09] Uzair-RepairDesk commented on #582
@usmanalikhan93
Please review and check with development if we can review it with SMS

[2019-01-18 09:40] usmanalikhan93 commented on #588
Hi @Trevorshaw7

Your reported issue has been fix. Please verify at your end and do let me know if you have any question.

Thanks.
Usman Ali

[2019-01-18 09:40] #588 closed

[2019-01-18 11:08] usmanalikhan93 commented on #582
Sure @Uzair-RepairDesk

[2019-01-18 17:14] phonefixdfw opened #604 "Not translated data! Sms error"
I had a ticket at my sachse location, sw-0455 with 3il ipad repairs on same ticket.

I edited ticket and changed them all from in progress to repaired and it sent this message via clickatell to customer instead of the normal repaired message.

[2019-01-18 18:12] Trevorshaw7 commented on #603
Yes that is what happened

[2019-01-18 19:11] Repair-Desk commented on #604
@phonefixdfw Definitely strange.

Can you share a screenshot so we can check this for you?

[2019-01-18 19:12] #560 closed

[2019-01-18 19:12] Repair-Desk commented on #560
This was an understanding issue and client is using the Square deep integration

[2019-01-18 19:13] phonefixdfw commented on #604
sorry, i forgot to attach
![image](https://user-images.githubusercontent.com/37640713/51407921-d05b6780-1b22-11e9-87f2-294a878297a0.png)

[2019-01-18 19:13] phonefixdfw commented on #604
just noticed it sent "not translated data" email too

[2019-01-18 19:14] Repair-Desk commented on #597
@usmanalikhan93 I believe one of the reason can be COGS for these items are $0.00

When you add a positive inventory count this increase the quantity but doesn't increase the price. @Uzair-RepairDesk what should be the solution in that case :)

[2019-01-18 19:18] Repair-Desk commented on #567
Also if you are in orem store and you're looking for invoice of Riverdale, it will throw a 404 error

however it can display a pop up, you're opening invoice for Riverdale store and your store will be switched to Riverdale, please confirm which should switch his profile.

[2019-01-18 19:19] Repair-Desk commented on #398
@JessicaSOS Sorry for the delay. We got caught up with work and didn't get a chance to update this thread.

Our team is scheduled to work on this improvement during next week and more details on upcoming changes can be found here: https://github.com/Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS/issues/567

[2019-01-19 20:21] Repair-Desk commented on #604
Thanks for sharing the screenshot. We will release a hot fix for this issue early next week.

[2019-01-19 22:05] phonefixdfw opened #605 "suggestions/wishlist for self checkin"
The perfect workflow for me:
-Customer comes in
-checks in at kiosk by entering name/phone/email (no signature, nothing else but info)
-tech opens that check-in at counter, consults about issue
-tech adds device/repair
- then customer sees the price and their info, terms, sign to accept both and creates ticket

Self check-in really could be great but it just sucks. The signature is pointless and I

[2019-01-20 10:57] Repair-Desk commented on #605
**@phonefixdfw** Thanks for bringing this up!

Being able to capture customer info using self check-in and get their signature using customer facing display on store terms of conditions would definitely be a cool improvement to have!

I'll go ahead and flag this with my product team so they know this is something you'd like to see. Definitely makes sense how that would make check-in process easier

[2019-01-20 11:37] Repair-Desk opened #606 "ADD OPTION OF "THIS YEAR" & "ALL" UNDER VIEW INVOICE, DASHBOARD AND REPORTS"
It would be good to add an option that allow you to view stats for year to date or for all invoices.

**Manage Invoice**
![this year](https://user-images.githubusercontent.com/21986026/51438705-7351e400-1cd1-11e9-9b57-95c07d62da86.jpg)

**Dashboard**

![dashboard](https://user-images.githubusercontent.com/21986026/51438718-a005fb80-1cd1-11e9-992e-98b3d4c8f2b7.jpg)

[2019-01-21 04:18] Trevorshaw7 opened #607 "Transfer orders with serial numbers"
Transfer orders TO-260 from the warehouse, and TO-263 from the warehouse has several serialized items on them.  When you view the serialized items they show the same numbers for each serialized item. Also it only has the serial number and not the rest of the information like the new update for the inventory summary.

[2019-01-21 04:23] Trevorshaw7 opened #608 "search by IMEI on inventory adjustment report"
It would be helpful to search by IMEI on the inventory adjustment report.

[2019-01-21 04:32] usmanalikhan93 commented on #509
Hi @JessicaSOS

If you face this issue again in future you can open this task. For now I am closing this.

[2019-01-21 04:32] #509 closed

[2019-01-21 04:33] usmanalikhan93 commented on #500
Hi @JessicaSOS

We have released a fix for inventory transfer and done some improvements in this module. Hopefully you will not get this issue in future.

Thanks
Usman Ali.

[2019-01-21 04:34] #487 closed

[2019-01-21 04:37] usmanalikhan93 commented on #437
Sorry for the delay @JessicaSOS Let me check this again at my end and will revert back to you if I get this issue on my end.

[2019-01-21 05:21] usmanalikhan93 commented on #603
For internal use
https://repairdesk.atlassian.net/browse/REP-1176

[2019-01-21 05:41] Uzair-RepairDesk commented on #179
Its already done
![uzairshah shiftclosesetting cashdrawer](https://user-images.githubusercontent.com/22955861/51454928-10139080-1d69-11e9-908a-98aaa4085a1a.png)

[2019-01-21 05:41] #179 closed

[2019-01-21 06:04] #125 closed

[2019-01-21 07:13] usmanalikhan93 commented on #607
Hi @Trevorshaw7

Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!

[2019-01-21 10:59] usmanalikhan93 commented on #604
Hi @phonefixdfw

Your reported issue has been fixed. Please verify at your end and do let us know if you have any question.

Thanks
Usman Ali.

[2019-01-21 11:06] #604 closed

[2019-01-21 12:42] usmanalikhan93 commented on #593
Hi @ireparo

Can you please confirm that your technician does start the repair timer when he/she starts working on the assigned repair and change the status to "repaired" ?

[2019-01-21 13:01] usmanalikhan93 commented on #597
@Repair-Desk we have checked this case but it's working fine on our end. But we are investigating on our end about this issue. I will post here feedback once I get more info on this.

[2019-01-21 17:31] Trevorshaw7 opened #609 "Opening Balance listed on the transaction log"
Can we get the opening balance listed on the transaction log?

[2019-01-21 20:43] ochoaonline opened #610 "Option to Separate Setting Access by User Role"
Would like to be able to separate Settings access by role
**For Example Manager Role:**

1.  Access To Employee Module
2. Module Configuration for: Invoices, RMA, Purchases, Inventory , etc , etc
3. How Did you hear about us

**For Example Owner Role:**
1. Access to Integrations
2. Employee Pay
3. Cash Register , Email & Notifications

Basically make it a little more custom since currently i can o

[2019-01-21 20:51] Repair-Desk commented on #569
If you would like to implement new ticket label which is in beta you can follow the steps as explained here: https://docs.google.com/.../1cybbLby4FdNJ1yynA12g.../edit...

I've tested this with manual print option which worked great however I haven't tested that with GCP or Printnode yet.

Please try this out and would love to get your feedback if you feel a certain macros should be added or not an

[2019-01-21 20:53] Repair-Desk commented on #508
@phonefixdfw Are you still facing this issue?

[2019-01-21 21:14] #217 closed

[2019-01-21 23:04] Trevorshaw7 opened #611 "Items sold look up by serial"
We need a way to search for sold serialized Items.

[2019-01-21 23:17] Trevorshaw7 commented on #611
Priority level for me is pretty high on this

[2019-01-22 04:31] usmanalikhan93 commented on #494
Sorry @JessicaSOS I have tried to reproduce the use case for this but it is working fine on our test accounts. I will appreciate if you come up with a use case or something which can help us to replicate this.

[2019-01-22 04:45] Uzair-RepairDesk commented on #611
Hey @Trevorshaw7
Do you mean that for each item you want to search serialized item with "Sold" status or you are looking for a report criteria for this?
Can you please provide more information on this? Thanks

[2019-01-22 04:49] Uzair-RepairDesk commented on #609
Hi @Trevorshaw7

While ending shift, there might be a closing balance of different payment methods (Payment methods that are 'accumulative') that becomes the opening balance of next shift on the same register.
Do you want to view "Total Opening Balance" of all possible payment methods on the transaction log report?

Looking forward to hearing from you.

Regards,
Uzair

[2019-01-22 04:55] usmanalikhan93 commented on #582
Hi Will@TechreviveAu

I hope you are doing well. Do discuss this issue with Danish today when you have a remote session with him.

[2019-01-22 05:04] usmanalikhan93 commented on #581
Sorry for the inconvenience @afrahm. I have already assigned this to developer, he will check why this issue is coming up. I will revert back to you once I get more info on this.

[2019-01-22 05:47] usmanalikhan93 commented on #508
Hi @phonefixdfw

Sorry for the delay. I have again reviewed this issue. As I have come up with that it is working on POS. We have to make it work on inventory count, Purchase order, Transfer order, and RMA. I am reporting this to our dev team. And we will try to release a fix for this in early next week. Thanks for the patience. I will revert back to you once I get more info on this.

Thanks
Usman

[2019-01-22 05:54] usmanalikhan93 commented on #508
For internal use
https://repairdesk.atlassian.net/browse/REP-1196

[2019-01-22 06:05] usmanalikhan93 commented on #550
Hi @JessicaSOS just want to confirm whether you are still facing this issue or not ?

[2019-01-22 07:01] Trevorshaw7 commented on #611
Yes we want to be able to get a report of serialized items sold.

On Mon, Jan 21, 2019, 9:45 PM Muhammad Uzair Shah <notifications@github.com
wrote:

[2019-01-22 07:03] Trevorshaw7 commented on #609
I want to see the opening balance listed as sales are with the amount
listed in the same way.

On Mon, Jan 21, 2019, 9:49 PM Muhammad Uzair Shah <notifications@github.com
wrote:

[2019-01-22 07:14] Uzair-RepairDesk commented on #611
Thank you for your comment.
I will discuss it with the team.

[2019-01-22 10:34] Uzair-RepairDesk commented on #584
Hi Will @TechreviveAu
We have designed mockup's to update Pre/Post Device Conditions functionality. **Please check screenshots attached.**

Currently, we are planning to tie up with our Repair Categories module. All the categories that are active will come up on "Manage Pre/Post Conditions" and you can mark conditions with each category. This will allow auto-populate Pre Conditions checklist accor

[2019-01-22 16:22] Repair-Desk commented on #611
How were you tracking this in your previous software. Did you have a separate report for serialized inventory?

@Uzair-RepairDesk Just a thought can we use sales by item type report with a filter to search for serialized items or any other report. See below:

![serialized item](https://user-images.githubusercontent.com/21986026/51549244-da1afd00-1e8b-11e9-9dd6-b9e108b5c246.jpg)

[2019-01-22 16:29] Repair-Desk opened #612 "iPAD App - Don't Download More than 25 items under each category When The App is Launched"
Currently when an app stays in active for 3 - 4 hours or you launch the app for the first time and if it has 17,000 items it will take forever to load. It would be great that it loads 25-30 items under each inventory category (in total) and display those items as well.

Moreover when you're in that category and there should be an option to either scroll down which loads 100 more items just like Fa

[2019-01-22 18:04] ochoaonline opened #613 "Sales Report Based on Item Type / Top Category"
For a store to be able to track sales at the top

1. Mobile Repair Sales
2. Tablet Repair Sales
3. Computer Repair Sales
4. Game Consoles
5. Smart Watch

and any other top category we create in the system so at the end of the month i can see
i had $5,000 in computer sales, vs Mobile Sales and know which category is one giving me the most sales and also which category is giving me the most profit
!

[2019-01-22 18:11] ochoaonline commented on #564
Current Work around im using is by Creating a Vendor as Damaged By Employee, but once a status is able to be created would be even better since then i can add it under the Real Vendor and Status would be Damaged by Employee and a section where you can enter name of employee that damaged it.

[2019-01-22 21:56] ochoaonline opened #614 "Option to Change RMA Status directly on Warranty Item"
![rma sent to supplier](https://user-images.githubusercontent.com/35181467/51567949-80eca280-1e66-11e9-87ee-7a79c6f4f387.jpg)
If it would be possible, to Add Status option on back end when creating an RMA directly from back end of a Warranty customer, so from one step they are able to Create RMA Mark it as "Sent To Supplier" so inventory will instantly leave the system and be able to have correct

[2019-01-22 22:52] JessicaSOS opened #615 "woo commerce sync problem"
Nothing has been changed. What's the problem?

![image](https://user-images.githubusercontent.com/40500094/51570894-64546880-1e6e-11e9-9bc4-824be3a7da8c.png)

[2019-01-23 00:38] Repair-Desk commented on #614
@ochoaonline  I believe we can make this feature trigger based as some store owners would want to make one RMA and send it to the supplier collectively.

@Uzair-RepairDesk Secondly we can also add a functionality where it ask you to add it to an existing RMA similar to what we have done on low stock report where it ask you if you want to add it in an existing PO or transfer order

[2019-01-23 04:38] Uzair-RepairDesk commented on #615
@usmanalikhan93
Can you please check this?

[2019-01-23 04:47] Trevorshaw7 opened #616 "Entering a transaction number only brings up numerical keyboard."
Entering a transaction number only brings up numerical keyboard. For Square tranaction codes we need alphanumeric.
![87969](https://user-images.githubusercontent.com/43588617/51583764-3d5a5e80-1e8f-11e9-941d-9b723864f79e.jpeg)

[2019-01-23 04:48] Trevorshaw7 opened #617 "Sales by item report error"
![87987](https://user-images.githubusercontent.com/43588617/51583792-6975df80-1e8f-11e9-8d22-0e53abe4492f.jpeg)

[2019-01-23 04:51] Trevorshaw7 commented on #611
Previous system didn't have serialized items

[2019-01-23 06:30] Repair-Desk commented on #617
@usmanalikhan93 Can we check the error log?

[2019-01-23 06:54] usmanalikhan93 commented on #617
Hi @Trevorshaw7 ,
Sorry for inconvenience, Issue has been logged, i will get back to you once it will be fixed from dev side. https://repairdesk.atlassian.net/browse/REP-1204

Thanks

[2019-01-23 07:50] usmanalikhan93 commented on #615
Hi @JessicaSOS ,

Sorry for inconvinience, issue is present. Let us resolved it asap. Ticket has been created for the dev to work on it https://repairdesk.atlassian.net/browse/REP-1205. We will get back to you ASAP.

Thanks,

[2019-01-23 15:15] JessicaSOS commented on #486
Hello,
Sorry for the response time I was on vacation. This problem actually seems to be fixed.
Thank you !

[2019-01-23 15:30] JessicaSOS commented on #488
Hello,
Sorry for the response time, I was on vacation. I can not count inventory using sku (single or double). I tried with several items. I therefore consider this problem as unresolved. I ask you to reopen this issue.
Thank you

[2019-01-23 15:54] JessicaSOS commented on #551
This is actually fixed with the detail you mention to me.
Thank you

[2019-01-23 16:08] JessicaSOS commented on #432
Hello,
We are only connected to 1 store when this problem is displayed. I understand that I can only see the history of the store I am connected to. The history of the item is however not supposed to miss transactions. As in the example, go from 5 to 3 in the same store without knowing the reason. I really hope you have corrected this problem.

[2019-01-23 16:12] JessicaSOS commented on #432
I did not need to look far, the same item ... One or more transaction missing. See Attachment.
This task should be reopened please.
<img width="944" alt="same item" src="https://user-images.githubusercontent.com/40500094/51620175-d32dd200-1eff-11e9-8233-d14a38723a3c.png">

--
Je n'ai pas eu besoin de chercher bien loin, le même item... Il manque une ou plusieurs transaction. Voir pièce jointe.
Cet

[2019-01-23 16:21] JessicaSOS commented on #483
As previously mentioned, we were connected to store A. A transfer was made from A to B and received by B. All was done correctly and there is no C store in the story. This is possibly related to the problem # 432 which has not been solved yet ...

[2019-01-23 16:31] JessicaSOS commented on #418
There is no A-B-C-D store. There is an error in the store inventory. There are missing transactions. See example attached since the changes were supposedly done on your side (2019) ...
Please open this task again, it is not fixed.
<img width="956" alt="9148" src="https://user-images.githubusercontent.com/40500094/51621369-5fd98f80-1f02-11e9-9ca7-f29f2668fc37.png">

--
Il n'y a pas de magasin A-B-C

[2019-01-23 16:41] JessicaSOS commented on #495
It took me almost a day to count all the examples in the same place to show you the error and the observations I made. There are several errors mentioned in this email (ex: "service" and "trade in" appear with accessories, quantities sold between different reports do not match, etc ...). I would like you to take the time at least to read it and test the problems because they are present. When I po

[2019-01-23 16:43] JessicaSOS commented on #398
Good, let me know when is live please.

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579> 418 999.1579 |  <tel:4506771579> 450 677.1579 |  <tel:18559991579> 1 855 999.1579
 <mailto:jessica@sosphone.ca> jessica@sosphone.ca
 <https://sosphone.ca/?utm_source=signature&utm_medium=urlsite&utm_content=sosphone.ca&utm_campaign=outils> sosphone.ca
5375, boul. Guillaume Couture, Lévis, G6V 4Z3

[2019-01-23 16:46] JessicaSOS commented on #615
If ever his can help you,
I checked with the person in charge of my website before contacting you and he wrote me:
One thing I notice:
The API called via the URL of the webhook (web hook) is the v1 ...
But the version of the WP API is the v2. And there is also v3 ...

Can repairDesk validate with me?
Nicolas 1-418-557-4112

[2019-01-23 16:48] JessicaSOS commented on #550
I do not think I had this problem again and I have no idea what might have caused this. I'll let you know if it happens again.

[2019-01-23 16:48] #550 closed

[2019-01-23 16:51] ochoaonline commented on #614
@Uzair-RepairDesk yes that would be awesome and better, another thing kind of related to this if you can print RMA's from a time period for the same vendor , for some of our vendors we send them a master RMA list, since we ship out RMA once a week or every other week, currently we go on RMA section filter my date range , take screen shot of screen and then print it via browser , and we also do one

[2019-01-23 17:08] JessicaSOS commented on #494
I'm coming back from vacation so I have not seen this problem lately. I will pay attention in the next few days and write to you when I see this problem.
--
Je revien de vacance donc je n'ai pas vu ce problème dernièrement. Je vais porter une attention dans les prochains jours et vous écrire lorsque je verrai ce problème.

[2019-01-23 17:21] JessicaSOS commented on #500
This problem is always present. You only have to test it to see it!
PLease reopen and fix it!

[2019-01-23 17:29] ochoaonline commented on #614
![warranty rma mock](https://user-images.githubusercontent.com/35181467/51625100-56ecbc00-1f0a-11e9-9e89-f5ac774b9dc1.jpg)
MOCK IDEA, of the RMA / WARRANTY this eliminates have to click VIEW RMA, then hitting EDIT on RMA, updated all fields then hit SAVE
@Uzair-RepairDesk

[2019-01-23 17:34] JessicaSOS commented on #407
I will wait for your news for the rest. The problem with these tasks may be related: # 407, # 418, # 432 ...

[2019-01-23 18:04] JessicaSOS commented on #487
1- If I have to make an adjustment from 1 to 0, because there is an error in the inventory and I already have an item put in a ticket, how am I supposed to do? I understand the principle of not being able to adjust unless 0, but if customers are already waiting for this coin and it is put in a note, it is normal to be in negative quantity (-1, -2, - 3 etc ...). Negative adjustment is therefore nec

[2019-01-23 18:10] JessicaSOS commented on #421
We have been waiting for a long time after this change. When will it be effective?

[2019-01-23 19:42] JessicaSOS opened #618 "Unsubscibe from mailchimp"
Hello,
When we want to disable the mailchimp status of a client, the change is not saved. We go in client, change the client and click on "unsubscribe from Mailchimp". This change gives nothing even if we wait several minutes / hours. We have to do it 4 or 5 times in a row to make the change.
<img width="944" alt="mailchimp" src="https://user-images.githubusercontent.com/40500094/51632336-0cc10600

[2019-01-23 19:54] JessicaSOS commented on #486
if we enter a price manually in a lead, the TVQdoes not register.
Please reopen, :(
--

si nous entrons un prix manuellement dans un lead, la TVQ ne s'inscrit pas.
merci de réouvrir cette tâche

[2019-01-23 20:07] JessicaSOS commented on #490
Whether in the "customer note" or the "additional information", no note written in these two places appears on the estimate, in the lead or in the notes of the lead. At no place. It's simply erased. I also have
try to reset the model of the estimate by default before testing, but without success. Thank you for reopening this task.
--
Que se soit dans le "customer note" ou le "additionnal informati

[2019-01-23 21:21] JessicaSOS commented on #421
I have not seen but you have added an option: Allow Item Bundle Creation. I tested it and all works. So we can close this task. Thank you so much !!

[2019-01-23 21:21] #421 closed

[2019-01-23 22:02] JessicaSOS opened #619 "Trade in History"
Hello,
I would like if it is possible to add in the history of the trade in, all the modifications which are brought there. As much in "size, network, state, change of name, etc ...)

Also, I wonder if it would be possible to add a field for notes at the bottom, that would be great.
<img width="939" alt="history tradein" src="https://user-images.githubusercontent.com/40500094/51640139-b2ca3b80-1f3

[2019-01-24 05:32] Uzair-RepairDesk commented on #619
Hi @JessicaSOS
Thank you for your post.

**1: Admin History**
Do you mean that when you add new Trade In the item, the admin history should display all the detail of the item like size, network, condition etc or you want to get it updated when you update the details of the trade in item?

**2: Also, I wonder if it would be possible to add a field for notes at the bottom, that would be great.**
Can

[2019-01-24 05:47] Uzair-RepairDesk commented on #487
Hey @JessicaSOS
Hope you are fine.

Point number 1: for this, i had to connect with  Developer and then I will revert back to you.
Point number 2 is already done, you can see the notes added while adjustment in item history.as you can see in attached screen.
![repair phones edit mobile accessories parts 123465](https://user-images.githubusercontent.com/22955861/51656978-bdceab80-1fc4-11e9-8809-183

[2019-01-24 09:10] Uzair-RepairDesk commented on #614
Thank you for the mockup and details Modesto. @ochoaonline
I appreciate it. We will plan this to start working on it.

[2019-01-24 12:11] brazelab opened #620 "Ticket label Template editor working"
It is impossible to use the ticket label template editor to get a working template.
Changes are not saved properly and tags are not working.

A simple test shows the problem with the editor.
1. edit the ticket label
2. change nothing and save the ticket.
3. preview the ticket and you will see there is data missing.

Reorganizing the tags makes the problem even worse, the labels are no longer organ