[2019-04-02 14:27] JessicaSOS opened #752 "notification for unlock in the "in-house" section"
Hello,
I see all the options "in-house" for lead, tickets, GRN, PO but I see nothing for unlock. Is it possible to add a notification for unlock in the "in-house" section to notify a member of our team when creating a new unlock ticket?
--
French:
Bonjour,
je vois toutes les options "in-house" pour les lead, les billets, les GRN, les PO mais je ne vois rien our les unlock. Est-ce possible d'ajoute

[2019-04-02 20:23] fahadimran303 commented on #731
@usmanalikhan93 This issue has been fixed.

We can close this ticket.

[2019-04-02 20:44] JessicaSOS opened #753 ""Assignment" in the management of employees"
It would be nice to be able to assign "Assignment" in the management of employees without having to give access to this person ... I say this because currently, without access, it is impossible for me to send an email from a ticket whose person has access due to a ticket transfer. That is not very practical.

--
French:
Sa serait bien d'être capable d'assigner "Assignment" dans la gestion des empl

[2019-04-03 04:26] #731 closed

[2019-04-03 05:18] Uzair-RepairDesk commented on #753
Hey @JessicaSOS

Thank you for your suggestion however it's not possible to set "Assignment" without giving "Access" to that specific store. If a user doesn't have "Access" option and you assign him/her ticket/lead of any activity, he/she will not be able to view details.

If a specific user wants to send an email to another user only, you can give "Access" of the store without giving him "Assignm

[2019-04-03 05:18] #753 closed

[2019-04-03 06:06] usmanalikhan93 commented on #745
Hi @GR-Phones

We have updated your those 2 trade in's which you have mentioned to Danish. Please verify at your end and do let us know if you have any question.

Thanks
Usman Ali.

[2019-04-03 06:06] #745 closed

[2019-04-03 12:03] MrMacDK commented on #728
Okay, we've tested out the features now and have jotted down our ideas as well as screenshots to elaborate.
This is where we are right now.

- We have run a test of the customer service portal and how it transfers information into repairdesk on our end by using a local html file with the iFrame code. From what we can tell, the problem is that customers are unable to book a time through the custome

[2019-04-03 12:51] #710 closed

[2019-04-03 12:52] usmanalikhan93 commented on #711
Hello Modesto

We have added logs in RMA to track down these type of issues. Do let us know if you have any issue. We will investigate for you.

Thanks

[2019-04-03 12:52] #711 closed

[2019-04-03 12:55] usmanalikhan93 commented on #716
Hi Modesto @ochoaonline

We are still getting this error. I have reconfirmed from our CTO. Please check this at your domain end.

Thanks
Usman Ali

[2019-04-03 12:58] usmanalikhan93 commented on #684
Hi @JessicaSOS

We have done as you said about #11869. Please verify at your end and do let us know if you have any question.

Thanks
Usman Ali

[2019-04-03 12:58] #684 closed

[2019-04-03 15:45] JessicaSOS commented on #750
SOS Phone limoilou, sample item # 11246 & # 11225

And as you say, it's when the status of the ticket is "completed" or "repaired and collected" that the status disappears.

--
french:
SOS Phone limoilou, exemple item #11246 & #11225

Et comme vous dite, c'est lorsque le statut du billet est "completed" ou "repaired and collected" que le statut disparait.

[2019-04-03 15:50] JessicaSOS commented on #684
fixed for all phone mentionned here

[2019-04-03 15:59] JessicaSOS commented on #753
But if this person has "Access" to the store, she has access to view everything from the store. However, if a ticket comes from Limoilou and I send it for repair in Longueuil (by transferring a ticket), I do not want to give access to the Limoilou store to my Longueuil employee only so that he can send me an email for a ticket about the limoilou shop. I only want him to be able to repair and send

[2019-04-03 18:32] JessicaSOS commented on #750
As the status "scrapped for part" can not be changed. I have 2 phones that share error got into this status. Can not change the status "scrapped for part" ... not very practical!

--
french:
Comme le statut "scrapped for part" ne peut pas être modifié. J'ai 2 téléphones qui part erreur se sont mis dans ce statut. Impossible de changer le statut "scrapped for part"... pas très pratique!

[2019-04-03 21:12] JessicaSOS commented on #750
It's really annoying what you did with the statutes. One item was sold and put back in inventory by mistake. Impossible to put it again "sold" even if it is sold. I would like you to return the statutes accessible as before.
Exemple: #11024 Ste-Foy store
--
French:
C'est vraiment agaçant ce que vous avez fait avec les statuts. Un item a été vendu et remis en inventaire par erreur. Impossible de le

[2019-04-04 09:52] Uzair-RepairDesk commented on #753
Hey @JessicaSOS
Perhaps you got the confusion in this workflow.
Let me explain your concerns below:-

1: his person has "Access" to the store, she has access to view everything from the store.
**If you give "Access" to the store, you can restrict employee to only access certain areas from "Roles & Permissions" module. If there is access, it doesn't mean that specific employee can access everything

[2019-04-04 12:36] Uzair-RepairDesk commented on #750
Hey @JessicaSOS

We have implemented validations on Trade In statuses to avoid problems in Trade in report and analysis. You also reported few issues when you faced few issues with reporting.
The reasons for all the issues are because of the random behavior of statuses.

**Please check few scenarios that we updated because of the following reasons:-**

1: If a trade-in device is "**In Stock**" you

[2019-04-04 16:58] JessicaSOS opened #754 "Problem with Appointements in Lévis Store"
Hi!
Online appointments work for all stores except Lévis. However, we touched nothing and all the settings of RepairDesk are similar to Lévis in other shops. I wanted to go see the iFrame code that is registered and nothing has changed to level. I have access to see the devices and repair available. The problem is that I have no date available to make an appointment. However, in the settings of th

[2019-04-04 21:02] JessicaSOS commented on #747
do you see ?

[2019-04-04 21:12] JessicaSOS commented on #413
Hello,
I am still unaware of this task.
Thank you

[2019-04-04 21:13] JessicaSOS commented on #415
I am still unaware of this task and it has been postponed often. When will it be effective?
Thank you

[2019-04-04 21:52] JessicaSOS commented on #463
not fixed yet...

[2019-04-04 22:12] JessicaSOS commented on #750
I have to send phones for repair and it is impossible to put them in pending refurb. Can you quickly correct please, all status starts to be mixed and they do not represent anything anymore.

[2019-04-05 05:17] usmanalikhan93 commented on #754
Hi @JessicaSOS

Usman Ali here, Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2019-04-05 07:07] usmanalikhan93 commented on #751
Hi @Omar1892

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali.

[2019-04-05 07:07] #751 closed

[2019-04-05 07:09] usmanalikhan93 commented on #735
Hi @JessicaSOS

I hope you are doing well. We have removed toggles now in Email and Notification against those which are action based. For example in case of sending manual email. Please verify at your end and do let us know if you have any question.

Thanks
Usman Ali.

[2019-04-05 07:12] usmanalikhan93 commented on #746
Hi @JessicaSOS

I hope you are doing well. I have checked this with developer and he said this issue has been fixed now. Can you please check this at your end or let us know if you are facing this issue again ?

Thanks
Usman Ali.

[2019-04-05 07:26] usmanalikhan93 commented on #747
Hi @JessicaSOS

Yes I checked it thoroughly. I have checked the content even it does not matched. Email was not from the campaigner. If campaigner is not active then no email sent to anybody. Please check this again at your end.

Thanks
Usman Ali.

[2019-04-05 07:26] Uzair-RepairDesk commented on #413
Hey @JessicaSOS
Thank you for your follow up on this.
I can see that the above-suggested improvement is useful for you. However as I mentioned above, with a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible.
Its already marked with "On-Hold to Consider", we will certainly pick it up according to the priority.
Hope you can understan

[2019-04-05 07:40] Uzair-RepairDesk commented on #737
We have enhanced RMA module to link it up with Serialized inventory according to the requirement.

[2019-04-05 07:40] #737 closed

[2019-04-05 07:46] Uzair-RepairDesk commented on #469
Hey Jonathan @ThinkDigitalRepair

We have enhanced our module according to your requirements. Once you log the record for Manual In/Out, you can "Update" it from the report before ending the shift.
You can check more details from following knowledgebase article:-

https://repairdesk.uservoice.com/knowledgebase/articles/810864-what-is-cash-in-out

Please review at your end. Thanks

[2019-04-05 07:46] #469 closed

[2019-04-05 07:47] usmanalikhan93 commented on #729
Hi @JessicaSOS

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-04-05 07:47] #729 closed

[2019-04-05 07:49] Uzair-RepairDesk commented on #610
**Update:** We have completed the development of this module and under final testing. We are expecting to make it LIVE in next release.

[2019-04-05 07:52] Uzair-RepairDesk commented on #736
Hey Modesto @ochoaonline

Good News! We have added an option to upload "Reference Document" along with "Cash In/Out" record.
You can also download the reference document from the report.
We have also given the option to update/edit the record of "Cash In/Out" before you end the shift.
You can find details from the following link:-
https://repairdesk.uservoice.com/knowledgebase/articles/810864-what

[2019-04-05 07:52] #736 closed

[2019-04-05 08:07] Uzair-RepairDesk commented on #594
We have made this improvement LIVE. You can track deleted inventory records from "Employee Activity Log" report.

[2019-04-05 08:07] #594 closed

[2019-04-05 09:46] Uzair-RepairDesk commented on #419
Hey @JessicaSOS

You can filter the "Refurbishment" ticket with the search filter of "Refurbishment" under task type. Please check screenshot attached.
You can review at your end. Thanks

![uzairshah   Ticket](https://user-images.githubusercontent.com/22955861/55619098-7ed18900-57b1-11e9-980d-d21f569167ad.png)

[2019-04-05 09:46] #419 closed

[2019-04-05 10:08] Uzair-RepairDesk commented on #728
Hi @MrMacDK

Thank you for your suggestions to enhance the workflow of "Customer Portal". I will discuss with the team to see if it's feasible to add in current system behavior.
I will update you soon. Thanks.

Regards,
Uzair

[2019-04-05 10:26] Uzair-RepairDesk commented on #689
We are going to introduce a new report with reference #690 so "Payment Received" will actually be a "Net Sales" value without tax. There will also be "Gross Sales" value that will also actually Payment Received with tax (Cash Basis).
There will also be "Franchise Fee" field that will be applied on "Payment Received / Net Sales (Without Tax) once you set the criteria on the basis of "Payment Receiv

[2019-04-05 10:30] Uzair-RepairDesk commented on #682
We also need to display employee name in Assigned To dropdown alphabetically.

[2019-04-05 10:41] Uzair-RepairDesk commented on #641
**Update:** We will start working on the documentation from next week to start development.

[2019-04-05 11:30] usmanalikhan93 commented on #750
Hi @JessicaSOS

For this flow you can add a new custom status as "Pending Refurb". So when you want to manually add this status you can change it when you want. I hope this will works for you.

Thanks
Usman Ali.

[2019-04-05 11:33] usmanalikhan93 commented on #730
Hi @JessicaSOS

I have tried to reproduce this issue but it works fine. We have faced one issue related to this in last month but it was fixed. If you face again this issue you can message me on this task.

Thanks
Usman Ali.

[2019-04-05 11:59] Uzair-RepairDesk commented on #433
@usmanalikhan93
We need to check this case again.

[2019-04-05 12:05] usmanalikhan93 commented on #754
I have checked this @JessicaSOS, there is something wrong. I have discussed this with developer. He will look into it.

[2019-04-05 12:07] usmanalikhan93 commented on #754
For internal use:
https://repairdesk.atlassian.net/browse/REP-1821

[2019-04-05 12:30] Uzair-RepairDesk commented on #748
Hey @Trevorshaw7,
Currently item populates according to the tax class, we will still see the feasibility to exclude tax from RMA however I will advise you to select “Tax Exempt” class for the item if you want to keep the price without tax.

[2019-04-05 16:21] Trevorshaw7 commented on #748
It's a step that should not have to be taken though. And I do t trust that
my employees will take that step.

On Fri, Apr 5, 2019, 6:30 AM Muhammad Uzair Shah <notifications@github.com>
wrote:

[2019-04-06 00:20] Omar1892 opened #755 "Integration: Pop Up Screen At Check Out"
Hello, I would like to share an idea. When were checking out a costumer at the end of a repair it would be a good idea for a pop up screen to remind us to offer accessories or any deals that we have going on in the store.

Another thing, a lot of iPhones are having a lot of motherboard issues lately. And it would be a good idea that a device is selected a pop screen comes just as a reminder of wha

[2019-04-06 00:24] Omar1892 opened #756 "Booking In A Ticket"
I would like to report an issue when booking in a repair. Instead of creating a ticket, it will create an invoice and it won't let us create a ticket. It has happen 2 times in this week.

[2019-04-08 04:27] usmanalikhan93 commented on #756
Hi @Omar1892

Usman Ali here, Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2019-04-08 05:10] usmanalikhan93 commented on #756
Hi @Omar1892

I have checked your concern but it seems to work fine on my test account. Can you help me to reproduce this issue ? The steps you were performing while making a ticket.

[2019-04-08 08:12] Uzair-RepairDesk commented on #755
**Hi @Omar1892**

I really appreciate that you took the time to share your ideas. I can certainly see how the suggested improvements would be useful. The above requested enhancement is actually "**Suggestive Sales Alert**" functionality. We already planned to do it for "Inventory Items" where you can mark few inventory items and the system can give you an alert to add them in the transaction.
We c

[2019-04-08 14:09] SajAbu opened #757 "Address Search"
If we could search for customers using their address or post code as we have many duplicate names and customers don't usually remember their mobile numbers

[2019-04-09 05:03] Uzair-RepairDesk commented on #757
Hi @SajAbu

Happy to help you with this. Currently, there are the following 2 primary keys to make a unique record for each customer:-
1: Email Address
2: Mobile Number

You can keep an email address as well and search it from email if you find out a unique record.

Hope it help.

[2019-04-09 11:39] usmanalikhan93 commented on #433
For internal Use:
https://repairdesk.atlassian.net/browse/REP-1841

[2019-04-09 16:18] JessicaSOS commented on #750
I understand what you said, but if I use a status "pending refurb custom" the true "pending refurb" will no longer serve any purpose. In addition, the automatic status that goes into "pending refurb" when creating a ticket will no longer work.

Also, what comes into conflict are devices that I have repaired before selling them. As soon as the status of the repair ticket is set to "repaired", the s

[2019-04-09 16:24] JessicaSOS commented on #735
I do not understand the changes you made. You have removed the option to send invoice reminder to pay by e-mail because they will send to the email? I'm not sure when this will happen ...

And about attaching invoices to email?
And concerning automatically sending the due date the statements of account?
Can you enlighten me please.

[2019-04-09 16:35] JessicaSOS commented on #554
Is it settled from what date? Does this correct commissions before that date too?
Because the invoice FL-15267 of SOS Phone Limoilou shows us that the problem is still present.

[2019-04-09 16:43] JessicaSOS commented on #730
Hello,
This problem is always present and regular. See exenple of the L-12321 SOS Phone Limoilou. Please reopen this task.
tnx

[2019-04-09 16:52] JessicaSOS commented on #746
I still have the same problem. Now, all sales are no longer tied with repairdesk. Phones remain "in stock" and invoice are not created. Can you help me quickly please.

[2019-04-09 17:04] Omar1892 commented on #756
Hi, it happen randomly to me and my business partner last week. Since than we haven't had the issue again. But if it happens again ill just take a screen shot so I can send it over to you guys.

[2019-04-09 17:06] Omar1892 commented on #755
Yeah, if you like to send me an email I can check it out.

Thank you.

[2019-04-09 17:12] JessicaSOS commented on #727
12072 is non-existent ... It is completely missing ...

--
French:
12072 est inexistant... Il est complètement disparu...

[2019-04-09 17:54] JessicaSOS commented on #419
Thank you for this change. It should however, that the search filter works! At the moment, I have several repair tickets (open and closed) with tradein "refurb" devices and yet none are displayed. Whether I put a status or not, no result is displayed. Thank you corrected

--
french:
Merci pour cette modification. Il faudrait cependant, que le filtre de recherche fonctionne! En ce moment, j'ai plus

[2019-04-09 17:58] JessicaSOS commented on #413
I understand perfectly. However, it's been a long time since I asked for it and it's a change that David (the owner) would like to have. It is something that would help us greatly. Are you able to give me a date?

[2019-04-09 18:07] JessicaSOS commented on #746
This problem is not solved, it is reproduced last Friday.

[2019-04-09 19:30] JessicaSOS commented on #753
I understand that it is not because a person has access to the store, that it is necessary to have access to all in this store. However, in post privileges, we can grant access to privileges, but these same privileges are also available in branch offices. So if I give access to the ticket creation in the default store to an employee, he will have access to create tickets in all the branches I will

[2019-04-09 20:52] JessicaSOS commented on #707
But if the person who performed the repair should have the commission, it does not matter in which shop the repair was made and especially if the ticket was transferred correctly in order to be completed in another shop.

[2019-04-10 05:11] usmanalikhan93 commented on #756
Hi @Omar1892

Thanks for the response. For now I am closing this task. If you face this issue again, you can message me here with a screenshot or a short video.

Thanks
Usman Ali.

[2019-04-10 05:11] #756 closed

[2019-04-10 05:12] usmanalikhan93 commented on #554
Hi @JessicaSOS

It was fixed on 29 march 2019. No it will not correct the commission for old dates.

[2019-04-10 05:24] usmanalikhan93 commented on #730
Hi @JessicaSOS

Let me check this again.

[2019-04-10 05:26] usmanalikhan93 commented on #716
Hi Modesto @ochoaonline

Hi again - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Thanks
Usman Ali.

[2019-04-10 05:26] #716 closed

[2019-04-10 05:27] usmanalikhan93 commented on #747
Hi @JessicaSOS

Hi again - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Thanks
Usman Ali.

[2019-04-10 05:27] #747 closed

[2019-04-10 06:51] #453 closed

[2019-04-10 06:55] usmanalikhan93 commented on #730
For Internal Use:
https://repairdesk.atlassian.net/browse/REP-1846

[2019-04-10 06:58] usmanalikhan93 commented on #746
Let me check this again.

[2019-04-10 09:47] ireparo opened #758 "Problem with refunds"
https://drive.google.com/file/d/123FsDkBg8YS9SN90CKQX6ilXMlAl3lDq/view

I get 0€from a refund

[2019-04-10 10:29] usmanalikhan93 commented on #758
Hi @ireparo

Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2019-04-10 10:57] usmanalikhan93 commented on #758
Hi @ireparo

I hope our support guy has guided you with the solution and you are now good with steps. And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.

Thanks
Usman Ali.

[2019-04-10 10:57] #758 closed

[2019-04-10 11:14] usmanalikhan93 commented on #727
Hi @JessicaSOS

It's fixed now. Please verify at your end.

[2019-04-10 12:59] usmanalikhan93 commented on #754
Hi @JessicaSOS

Your lead L-Le-20512 in Levis store has set date from 25 May 2019 to 25 March 2019. May be someone done this accidentally. This is the reason you are not seeing calendar in Appointment Widget. Now I have done it as 25 March 2019. Now everything is perfect. Please verify at your end.

Thanks
Usman Ali

[2019-04-10 12:59] #754 closed

[2019-04-10 13:03] usmanalikhan93 commented on #704
For internal Use:
https://repairdesk.atlassian.net/browse/REP-1849

[2019-04-10 13:17] bharaaus opened #759 "Need Ticket Search Filter for which invoice is not created"
Often happened in our store, regular sometimes customer pickup the phone but he want to pay later.
so staff give phone back and changed ticket status to repair and collected.
but staff forget to make invoice for that ticket.therefore, that pending payment doesn't appear in customer's acocunt.

Can you please make a filter in Ticket Section , so we can view all tickets which doesn't have invoice ge

[2019-04-10 13:39] bharaaus opened #760 "POS items disappear on checkout window"
It happens every day. 2-3 times at least.
It is very hard to make video of this bug and expalin it exactly when its appearing.
because it comes randomly and its so annoying.

What happens is :
We add some products for sale in pos . when we click checkout payment windows appear.

Now here three types of issue happening (Sometimes )
1. while this payment window is opened, the added products in pos d

[2019-04-10 13:43] bharaaus opened #761 "Need Search option in Casual Tab in POS"
we have added so many casual products in casual section.
Now its getting harder to find the products. and we are creating double entries for some items because we an't find old one quickly.

Can you consider adding this option ?

[2019-04-10 13:51] bharaaus opened #762 "Dafault Loging Page alternative opiton"
When I login to Repair Desk , It straight away shows the the Report Overview Page.
As I am a admin, so it shows all details of my profit of day . Which I dont want to see on login.
Because sometimes we have to login in front of someone else and that person can have a glance of  business privacy.

Can you add option in setting for default login page so if user want something else to view after logi

[2019-04-10 13:56] bharaaus opened #763 "Admin need Email Notification of New Ticket Created"
Admin can not be availabe in all the store location.
So option to receive an email to a particular address will be good to get instant information of new ticket .

Loging into the system every half an hour to check if something comes up or not is not a solution.

Thanks

[2019-04-10 13:58] bharaaus opened #764 "Need Color Option in POS while booking ticket"
It will be much helpful if we can choose the color of the phone while booking the repair job.

We are adding color in description, but doens't looks professional.

Can you consider adding this opiton ?

[2019-04-10 14:22] BharatPRC opened #765 "Need Smart Search Option in Inventory Section and/or on Top Menu"
In Inventory tab, There is only Search Filter, but there is no SMART SEARCH option.
Smart Search like in POS, where we type anything and it brings up the product.

Instead there is a search which demands the exact product name which is not possible for us to type exactly as product name every time.

and search filter is sometimes time consuming.

Also, it would be very usefull to have this opiton

[2019-04-10 14:36] bharaaus opened #766 "Newly added Device not showing in Repair Category in POS"
When we create new mobile device, it doesn't show in repair category in POS window.
Even if SHOW IN POS trigger is enabled.
To show it there, I will have to go to Settings>Module Configration>View All Repair Category>
and edit each Catgory/Manufacture > Find the model and add in category.
It is so time consuming.
It always cause trouble. because while booking repair, if we dont see the phone model

[2019-04-10 15:10] JessicaSOS commented on #754
oh, tnx! Is fixed ;)

[2019-04-10 15:15] JessicaSOS commented on #747
ok let's do that

[2019-04-10 15:53] Trevorshaw7 opened #767 "Intransit after accepted"
We have a phone that is in transit after it was accepted from a transfer
![image (1)](https://user-images.githubusercontent.com/43588617/55893955-7c3aaf00-5b76-11e9-99bc-6850c1391759.png)
![image](https://user-images.githubusercontent.com/43588617/55893957-7c3aaf00-5b76-11e9-84fc-1f77a5a56e87.png)

[2019-04-10 15:57] Trevorshaw7 opened #768 "Duplicating items on a stock transfer"
The ipad was added after hitting save for the second time, so it it sending 2 when there should only be 1.  It happens after you hit save
![Screen Shot 2019-04-10 at 9 50 17 AM](https://user-images.githubusercontent.com/43588617/55894202-efdcbc00-5b76-11e9-97ea-776ebb237a0f.png)

[2019-04-10 17:58] JessicaSOS commented on #727
ok tnx

[2019-04-10 20:28] JessicaSOS opened #769 "Voided Commission"
I clicked on "void" for all the commissions of Olivier dated of April 8, 2019 while it is another employee who worked on his use that day. I release this report in the detailed commission report. However, when I go into commissions payable to the employee, nothing changes. It's like I did not have to click on "void" to voided all those bills.
<img width="946" alt="Voided commission Olivier" src="h

[2019-04-11 04:43] usmanalikhan93 commented on #767
Hi @Trevorshaw7

I believe this issue has been fixed and Fayyaz has updated you on messenger. Do let me know if you have any question.

Thanks
Usman Ali.

[2019-04-11 04:43] #767 closed

[2019-04-11 04:52] usmanalikhan93 commented on #768
Hi @Trevorshaw7

Can you tell me the transfer order ID ? And in which store it is ?

[2019-04-11 05:43] usmanalikhan93 commented on #734
Hi @JessicaSOS

I hope you are doing well. I have checked your concern related to this and it is working fine. I am attaching video for reference. Kindly check this and do let me know if you have any question.

Video link: https://www.screencast.com/t/mq6ie1xQgL

Thanks
Usman Ali.

[2019-04-11 06:39] usmanalikhan93 commented on #618
Hi @JessicaSOS

Is it working fine on your end now ? I just need to confirm.

[2019-04-11 07:17] Uzair-RepairDesk commented on #765
Hey Bharat @bharaaus,
We are already working on this improvement to allow suggestive search under "Manage Inventory" when you search item from "Product/Item" name.
It's expected to GO LIVE in next week release.

Thank you for your suggestion to also search inventory item from the top bar search as well.  We can certainly look into that as well. Thanks

[2019-04-11 07:19] Uzair-RepairDesk commented on #701
#765

[2019-04-11 07:21] Uzair-RepairDesk commented on #766
@usmanalikhan93
Can you review this?

[2019-04-11 09:49] usmanalikhan93 commented on #769
Hi @JessicaSOS

Can you explain this more ?

[2019-04-11 09:50] usmanalikhan93 commented on #766
Hi @Uzair-RepairDesk

Sure thing.

[2019-04-11 09:54] usmanalikhan93 commented on #760
Hey Bharat @bharaaus ,

Usman Ali, Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2019-04-11 13:45] JessicaSOS commented on #618
yes is fixed !

[2019-04-11 13:45] #618 closed

[2019-04-11 14:26] JessicaSOS commented on #734
I can not see the video I took a lot of my time to demonstrate the problem. I showed you screenshots and a detailed text of the problem. It does not work on my side. Please check again, perhaps with our users.

[2019-04-11 14:32] JessicaSOS commented on #769
Voided serves to not pay the employees for the commits. So I "voided" the bills of the day that I did not want to pay to the employee. Once all invoices are "voided", no change is displayed. It's like nothing happened.

[2019-04-11 16:13] Trevorshaw7 commented on #768
Sugarhouse

[2019-04-11 19:11] phonefixdfw opened #770 "Request - Add images to manufacture and devices"
On POS, there is option to add image on category and part, but not manufacture, device, and problem. Would be nice if all 5 steps had images for fast selection

![image](https://user-images.githubusercontent.com/37640713/55984583-6bb43280-5c63-11e9-8dad-2de36db3145f.png)
![image](https://user-images.githubusercontent.com/37640713/55984606-740c6d80-5c63-11e9-8278-58449641cb42.png)
![image](https://

[2019-04-11 19:14] Repair-Desk opened #771 "Multiple Minor Improvements"
1- While entering employee pin it will be really helpful if you can search employee name by entering their initial. Also employee names should be listed alphabetically.

![RepairDesk - Search employee profile](https://user-images.githubusercontent.com/21986026/55984856-e444de80-5cb7-11e9-8991-e79bde8ce226.jpg)

2- It would be super helpful if you can set a default tax class for purchase orders so

[2019-04-12 06:36] usmanalikhan93 commented on #768
Hi @Trevorshaw7

I hope you are doing well. I believe this issue has been fixed by Fayyaz. I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.

Thanks
Usman Ali.

[2019-04-12 06:36] #768 closed

[2019-04-12 07:44] usmanalikhan93 commented on #769
Ok let me check this @JessicaSOS.

[2019-04-12 09:40] Uzair-RepairDesk commented on #770
Hi @phonefixdfw
Thank you for sharing your idea. There is no problem to display "Manufactures" or "Devices" images on POS but we have to keep POS super fast so you can quickly check-in. Images always take time to load that impacts the loading speed.
I will still discuss it in-house to check the possibility to enable images on POS. Thanks

[2019-04-12 09:44] Uzair-RepairDesk commented on #748
**Update:** I am adding it the sprint plan so we can give an option to set default tax class for RMA. You will be able to select the "Tax Exempt" class so there should not be any tax value once you create an RMA.

[2019-04-12 09:49] Uzair-RepairDesk commented on #771
**Update:** I have added it in sprint plan.

[2019-04-12 09:56] Uzair-RepairDesk commented on #702
Update: I have added this improvement to do list.

[2019-04-12 12:04] usmanalikhan93 commented on #769
Hi @JessicaSOS

Sure thing. Let me discuss this with my product manager then I will revert back to you.

[2019-04-12 14:04] JessicaSOS commented on #702
ok tnx

[2019-04-12 14:11] JessicaSOS commented on #746
We sold another phone online yesterday and the problem is still there. No trade woo transactions appear in repairdesk and no product adjustments are made either. It's like there's no more sync.

[2019-04-12 16:11] JessicaSOS opened #772 "Item stuck in an inventory transfer"
Item # 12161 is in stock at Ste-Foy. An error message is displayed stating that the quantity available for the transfer can not be less than the quantity in stock. However, the item is "in stock" so available. I wish to transfer this item and despite the error message, I was able to put it in the transfer from Ste-Foy to Limoilou # 3242. I can visualize the item in the inventory transfer, but as s

[2019-04-14 18:22] hitman1986 commented on #742
Thanks ,issue sloved

[2019-04-14 23:09] fahadimran303 opened #773 "Transaction ID Number on Thermal Receipt | Ben Meinhart | iHelpU.Tech"
**Hello Sir,**

Customer has reported an improvement that once we try to process payments via Credit Card [Cayan or Other], the card number should be displayed on Thermal Receipt.

There is no tag for this in Thermal Receipt Template.

Please check the attached screenshot.

**Thanks and Regards,**
![Thermal Receipt](https://user-images.githubusercontent.com/48645240/56100599-47db4000-5f34-11e9-805

[2019-04-14 23:15] fahadimran303 commented on #773
Also once we export these Invoices, Can we have a way that the Card Number entered against device can also be exported?

[2019-04-15 04:20] usmanalikhan93 commented on #772
Hi @JessicaSOS

I hope you are doing well. This issue is has already been fixed. Can you please make a new transfer order for this item ? And do let me know if you have any other question.

Thanks
Usman Ali

[2019-04-15 06:15] usmanalikhan93 commented on #746
Hi @JessicaSOS

I have checked whole scenario again today and spent a time in it. Syncing is done perfectly. Can you please check again ?

Thanks
Usman Ali

[2019-04-15 07:20] bharaaus opened #774 "Create Invoice is missing time option"
Trying to create an invoice from an old date.
It does allow me to select date, but picking up the current computer time.

On the same time, If we click on add payment, this does have option to choose date and time both.

Can you please make time option avaialbe in Create Invoice Module ?

![ice_screenshot_20190415-171407](https://user-images.githubusercontent.com/34261339/56113949-c078e580-5fa2-11

[2019-04-15 12:54] JessicaSOS commented on #746
It is during an online sale that no action takes place. This is not fixed another example: [Order # 28133] (April 13, 2019)

[2019-04-15 13:00] JessicaSOS commented on #772
I do not even believe you tested it. Nothing has changed and nothing is fixed.
<img width="945" alt="inventory transfert" src="https://user-images.githubusercontent.com/40500094/56134535-cb108c00-5f5c-11e9-9805-5c9be57d1f98.png">
<img width="941" alt="list transfert" src="https://user-images.githubusercontent.com/40500094/56134559-d5cb2100-5f5c-11e9-83be-c797e1dac32f.png">
<img width="944" alt="no

[2019-04-15 13:03] usmanalikhan93 commented on #772
I have already said please make a new transfer order for this item and ignore this one. Can you please do this ?

[2019-04-15 14:18] JessicaSOS commented on #772
That's exactly what I did.

[2019-04-16 04:21] usmanalikhan93 commented on #772
ok let me check this.

[2019-04-16 04:34] usmanalikhan93 commented on #670
Hey @faizanzaheer @fahadimran303

We have lived this improvement. Please update iRepairIT team as per discussion.

Thanks

[2019-04-16 04:34] #670 closed

[2019-04-16 04:38] usmanalikhan93 commented on #701
Hey Modesto @ochoaonline

Good news! We have added suggestive search in inventory module to help you in searching inventory. Now you can also search with Manufacturer and Device.

Please review at your end.
Thanks

[2019-04-16 04:38] #701 closed

[2019-04-16 06:58] usmanalikhan93 commented on #730
Hi @JessicaSOS

I have tried different scenarios but failed to reproduce this issue. Can you help me to find the case where this issue occurs ? In future when ever you face this issue, do let me know the steps. I will appreciate your help.

Thanks
Usman Ali

[2019-04-16 11:22] usmanalikhan93 commented on #746
Hi @JessicaSOS

I hope you are doing well. Imran (Our CTO) has enabled logs against this, so we can try why invoice is missing in RD. Now if you face again this issue do let us know so we track this from logs and try resolve this ASAP.

Thanks
Usman Ali

[2019-04-16 22:17] Trevorshaw7 opened #775 "Drop Down is behind the header on activity log"
<img width="349" alt="Screen Shot 2019-04-16 at 4 15 42 PM" src="https://user-images.githubusercontent.com/43588617/56247754-17de8a80-6063-11e9-8583-91a773a4fdaf.png">

[2019-04-17 04:42] usmanalikhan93 commented on #775
Hi @Trevorshaw7

Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!

Thanks
Usman Ali

[2019-04-17 04:48] usmanalikhan93 commented on #775
For internal use:
https://repairdesk.atlassian.net/browse/REP-1851

[2019-04-17 11:38] usmanalikhan93 commented on #772
Hi @JessicaSOS

I hope you are doing well. We have made this trade in as in stock in Limoilou store. You can verify at your end. Just ignore the transfer order as they were giving that error message. Do let me know if you have any question.

Thanks
Usman Ali

[2019-04-17 11:38] #772 closed

[2019-04-19 10:44] Uzair-RepairDesk commented on #773
What is the priority for this @fahadimran303 ?

[2019-04-19 11:31] Uzair-RepairDesk commented on #765
Hey @bharaaus
We have added "Suggestive Search" functionality under Manage inventory if you search any product/item with "Item Name" field.
Please review at your end. Thanks

[2019-04-19 12:34] Uzair-RepairDesk commented on #760
@usmanalikhan93
Are you able to replicate the reported issue?

[2019-04-19 12:37] Uzair-RepairDesk commented on #722
@fahadimran303
I believe we have made the suggested improvements. Please confirm and close this.

[2019-04-19 12:39] #712 closed

[2019-04-22 00:17] fahadimran303 commented on #773
For Internal Use:
https://repairdesk.atlassian.net/browse/REP-1912

[2019-04-22 00:23] fahadimran303 opened #776 "Thermal Receipt New Template for Create Ticket | Luis Morales | Repair Logix"
**Hello Sir,**

Customer has come up with a suggestion that he wants to have:

**Different Templates for Thermal Receipt at the time of Creating Tickets and Checking out the customer.**

Just the way we have added new triggers in Google Cloud Print, can we get a copy of Thermal Receipt Template and associate that to Thermal Receipt at the time of creating Ticket?

**Thanks and Regards,**

[2019-04-23 03:22] bharaaus opened #777 "Easy Viewing IMEI in ticket section"
We try to add imei number of all the phones which we fixed.
but sometime if we get busy, we dont fill imei info on pos .
It is really good that you have option to display the part if its been added against ticket or not.
but it will be more better, if we can see imei number against that ticket on main view.

Please consider adding this in upcoming updates.

[2019-04-23 03:24] bharaaus commented on #777
![ice_screenshot_20190423-131919](https://user-images.githubusercontent.com/34261339/56551227-21b83e80-65cb-11e9-8a85-0880c9e9de2e.png)

[2019-04-23 04:22] Uzair-RepairDesk commented on #777
Hey @bharaaus
Hope you are well. I will certainly discuss it with the team and consider to add it in the roadmap. Thanks

[2019-04-23 07:23] Uzair-RepairDesk commented on #774
@usmanalikhan93
can you create a task on JIRA for the team to look into it.

[2019-04-23 07:23] usmanalikhan93 commented on #774
Sure @Uzair-RepairDesk

[2019-04-23 07:34] usmanalikhan93 commented on #774
For internal use:
https://repairdesk.atlassian.net/browse/REP-1927

[2019-04-23 10:21] usmanalikhan93 commented on #775
Hi @Trevorshaw7

Your reported concern has been fixed and deployed on live server. Please verify at you end and do let us know if you have any question.

Thanks
Usman Ali

[2019-04-23 10:21] #775 closed

[2019-04-23 10:22] Uzair-RepairDesk commented on #651
Hello Will @TechreviveAu
We have made "Customer Facing Display" module LIVE. You need to reconfigure account settings related to the Customer Facing Display, on both the web platform and the iPad POS Register app. You can find more details from following knowledgebase article:-
https://repairdesk.uservoice.com/knowledgebase/articles/1102397-how-to-configure-customer-facing-display

[2019-04-23 10:22] #651 closed

[2019-04-23 10:23] Uzair-RepairDesk commented on #571
We have made "Customer Facing Display" module LIVE. You need to reconfigure Customer Facing Display on both the web platform and the iPad POS Register app. You can find more details from following knowledgebase article:-
https://repairdesk.uservoice.com/knowledgebase/articles/1102397-how-to-configure-customer-facing-display

[2019-04-23 10:23] #571 closed

[2019-04-23 10:40] Uzair-RepairDesk commented on #771
We have made both improvements LIVE.
1: You can now search employee while entering access PIN
2: You can select a default tax class for a purchase order from Store Settings > Module Configurations > Purchase Order > Default Tax class for Purchase orders.

[2019-04-23 10:40] #771 closed

[2019-04-23 10:48] Uzair-RepairDesk commented on #748
Hey @Trevorshaw7
We have made your requested enhancement LIVE. You can now select a default tax class for RMA from Store Settings > Module Configurations > RMA > Default Tax class for RMA's
You can select the "Tax Exempt" class if you don't want to include a tax value on items while creating an RMA.

Please review at your end. Thanks.

![uzairshah   Rma Config](https://user-images.githubuserconten

[2019-04-23 10:48] #748 closed

[2019-04-23 11:54] Uzair-RepairDesk commented on #682
Hey @ochoaonline @Repair-Desk
We have made this requested improvement LIVE. You can now see a cleaner dropdown list for status while selecting it from Manage ticket or View/Edit ticket screens. We have also improved the dropdown list of "Assigned to" and it will display employee names alphabetically.
Please review at your end and share your feedback. Thanks

[2019-04-23 11:54] #682 closed

[2019-04-23 12:38] SajAbu opened #778 "remove colour option on booking widget"
is it possible to remove the option to choose a colour on the booking widget. it confuses customers. you can see the widget/link on our website. please message me directly for the weblink. thanks

[2019-04-23 12:47] Uzair-RepairDesk commented on #610
Hey @ochoaonline
We have enhanced the "Employee Roles Permissions" module. We have added separate permissions for complete "Settings" of RepairDesk. You can select between the different modules settings to give limited access to any employee as required.
Please review at your end and share your feedback. Thanks

[2019-04-23 12:47] #610 closed

[2019-04-23 13:02] Uzair-RepairDesk commented on #677
We have made this improvement LIVE. We have added new triggers under "Roles Permissions" of "Inventory" module. You can restrict employees of specific roles to change "Category", "Manufacturer" and "Device" from "Inventory" of RepairDesk.
Please check screenshot attached.
![uzairshah   Roles Permission](https://user-images.githubusercontent.com/22955861/56582960-e3824580-65f1-11e9-9df8-801e8e4f7c1

[2019-04-23 13:02] #677 closed

[2019-04-23 13:05] Uzair-RepairDesk commented on #643
We have made this improvement LIVE. We have added new triggers under "Roles Permissions" of "Inventory" module. You can restrict employees of specific roles to change "Category", "Manufacturer" and "Device" from "Inventory" of RepairDesk.
Please check screenshot attached.
![uzairshah   Roles Permission](https://user-images.githubusercontent.com/22955861/56583041-175d6b00-65f2-11e9-9cd3-9084350d30d

[2019-04-23 13:05] #643 closed

[2019-04-23 16:15] JessicaSOS opened #779 "the refurbishment cost has been doubled in sale report"
Looks like the refurbishment cost has been doubled for no reason. Can you please check. item #9989
<img width="939" alt="item #9989" src="https://user-images.githubusercontent.com/40500094/56597805-3bed1f00-65c1-11e9-9ca0-16663c998647.png">
<img width="943" alt="sale report item 9989" src="https://user-images.githubusercontent.com/40500094/56597902-6ccd5400-65c1-11e9-9b52-19d435de5ec3.png">

--
Fr

[2019-04-23 16:33] JessicaSOS commented on #772
fixed tnx

[2019-04-23 22:04] 1TonyBA opened #780 "Front Facing Display not saving Terminal selection per-location."
Here is a video of the issue we are having
[Front facing display issue.zip](https://github.com/Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS/files/3109767/Front.facing.display.issue.zip)

[2019-04-24 04:18] Uzair-RepairDesk commented on #778
**Hi @SajAbu**

You can certainly disable the "choose color" option from "Appointment Calendar" widget. You can go to **Integrations > Appointment Calendar Widget > Configuration > Disable option 'Enable Color Pickup' under Advanced Settings**.
Please check screenshot attached.

You can review at your end. Thanks

![uzairshah   Bookrepair Config](https://user-images.githubusercontent.com/22955861/

[2019-04-24 04:19] Uzair-RepairDesk commented on #779
@usmanalikhan93 can you please check this?

[2019-04-24 07:44] usmanalikhan93 commented on #779
Hi @JessicaSOS

I have checked on my test account and it didn't replicate. I am trying to reproduce the use case. Once it will be done, I will update you.

Thanks
Usman Ali

[2019-04-24 08:08] usmanalikhan93 commented on #779
For internal use:
https://repairdesk.atlassian.net/browse/REP-1940

[2019-04-24 10:57] Cumbr1at3ch opened #781 "Appointment booking app"
Guys you have an issue - unresponsive on smartphones tablets.
When customers trying to accept t&c they can’t go beyond this. It just hangs won’t go any further

[2019-04-24 18:44] JessicaSOS opened #782 "Customer message don't work"
All my employees no longer have access to sending pre-made emails to customers. Yet they all have permission in post privileges. Can you help me with that please. See Attachment.
<img width="941" alt="customer message" src="https://user-images.githubusercontent.com/40500094/56685243-79c07500-669f-11e9-99a9-f2c395b4c584.png">
![customer message in ticket](https://user-images.githubusercontent.com/4

[2019-04-25 14:25] #780 closed

[2019-04-25 21:06] JessicaSOS opened #783 "Action button in the employee time report"
The action button no longer exists in the employee time report. I am therefore no longer able to add or modify erroneous data.
<img width="944" alt="action missing" src="https://user-images.githubusercontent.com/40500094/56768466-74852800-677c-11e9-9b56-566ca4d6c1f2.png">

--
French:
Le bouton "action" n'existe plus dans le rapport d'heure des employés. Je ne suis donc plus en mesure d'ajouter ou

[2019-04-25 22:21] JessicaSOS commented on #746
item #11532
customer are in Repairdesk because she already exist.

[2019-04-25 22:48] JessicaSOS commented on #782
Impossible for my 5 stores to contact customers ... not very practical! Thank you to correct quickly.

[2019-04-25 23:44] JessicaSOS commented on #730
I have no idea how this happens because it looks like it happens randomly. I will inform you if I come across these files personally.

[2019-04-26 17:27] JessicaSOS commented on #753
I give access to all employees in all branches in order to be able to see inventory in the summary of invention and to be able to send e-mails to our colleagues from other stores. All the worlds can therefore do in all stores. It was not what I wanted, but since you closed this task, I understood that it was the only solution ...

[2019-04-29 02:52] bharaaus commented on #765
I have review at my end.
Its not working still.

[2019-04-29 04:26] usmanalikhan93 commented on #783
Hi @JessicaSOS

Usman Ali here, Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2019-04-29 04:26] usmanalikhan93 commented on #782
Hi @JessicaSOS

Usman Ali here, Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2019-04-29 04:26] usmanalikhan93 commented on #781
HI @Cumbr1at3ch

Usman Ali here, Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2019-04-29 04:27] Uzair-RepairDesk commented on #765
Hi @bharaaus
Can you please share screenshot where you exactly reviewing it so I can look into it. Thanks

[2019-04-29 04:28] bharaaus commented on #765
![ice_screenshot_20190429-142840](https://user-images.githubusercontent.com/34261339/56876496-1a8da680-6a8b-11e9-816d-2e6a00f42aee.png)

[2019-04-29 04:44] usmanalikhan93 commented on #783
Hi @JessicaSOS

I have checked with Admin account and it does show "update" option in Employee Payroll Report. Can you please provide more info on this ? are you login through admin account or employee account ?

[2019-04-29 04:59] usmanalikhan93 commented on #782
Hi @JessicaSOS

I have checked this in your account and it seems to be working fine. Please check screenshot
![Jessica_Github_782](https://user-images.githubusercontent.com/39614480/56877154-780efc80-6a65-11e9-9a6d-8b1d5eabc684.png)

[2019-04-29 05:05] Uzair-RepairDesk commented on #765
@bharaaus
Thank you for highlighting this. We reverted the code from this specific area. I have discussed it with the team to update it. I will inform you once it's updated again.

[2019-04-29 05:18] usmanalikhan93 commented on #781
Hi @Cumbr1at3ch

I have checked you concern on iPad tablet. It is working fine after checking terms and condition. Can you please try it again ?

[2019-04-29 13:03] #778 closed

[2019-04-29 16:05] JessicaSOS commented on #746
New sale still today and the customer does not exist in Repairdesk, the item is still "in stock" and no invoice is produced. In short, no change is made. Can you look at this problem carefully please. It becomes hard to follow for accounting!
Cistomer:
amanjot singh
79 rue lucie
Montreal QC  J6A 4K1
5145524027
driipp25@gmail.com

Item: # 11457

woo commerce ID: [SOS Phone] Nouvelle vente en ligne

[2019-04-29 17:44] JessicaSOS commented on #782
Thank you for trying with the pre-made messages as mentioned with the big red arrow!

[2019-04-29 18:05] JessicaSOS commented on #783
I am logging on my user who is admin. See Attachment. There is no cursor at the bottom to move to the right and there is no "action" button to change the current data.
<img width="943" alt="punch" src="https://user-images.githubusercontent.com/40500094/56916827-e2d12f80-6a87-11e9-98ee-33ac34678847.png">

--
french:
Je suis connecter sur mon usager qui est admin. Voir pièce jointe. Il n'y a pas de

[2019-04-30 05:59] usmanalikhan93 commented on #783
Ok let me check this @JessicaSOS

[2019-04-30 06:00] usmanalikhan93 commented on #782
Ok let me check this with pre made messages. @JessicaSOS

[2019-04-30 06:07] usmanalikhan93 commented on #746
Hi @JessicaSOS

I have informed to relevant developer, he said ok let me debug this today. I will reach you out if I need more info on this.

[2019-04-30 10:10] usmanalikhan93 commented on #783
Hi @JessicaSOS

I have checked in your admin account and it does show the update option for it. See screenshot for reference
![Jessica_github_783](https://user-images.githubusercontent.com/39614480/56955158-0664aa80-6b5a-11e9-89d3-f154d89240b8.png)

[2019-04-30 10:54] usmanalikhan93 commented on #782
Hi @JessicaSOS

I have checked and yes it seems that there is some issue. I have forwarded this to development team.

For internal Use:
https://repairdesk.atlassian.net/browse/REP-1969

[2019-04-30 11:03] usmanalikhan93 commented on #782
Hi @JessicaSOS

Can you please give a try again ?
![Jessica_github_782_2](https://user-images.githubusercontent.com/39614480/56957686-6a3ea180-6b61-11e9-8dac-b5891b60940b.png)

[2019-04-30 13:32] JessicaSOS commented on #782
fixed tnx !

[2019-04-30 13:32] #782 closed

[2019-04-30 14:21] JessicaSOS commented on #783
I understand, but did you see my screenshot? It misses the last collonne and it is not a question of zoom. What's the problem?

[2019-04-30 14:23] JessicaSOS commented on #746
Thank you, I will wait for your news. Have a good day

[2019-04-30 15:22] JessicaSOS commented on #730
Exemple: SOS Phone Limoilou ticket L-12585

[2019-04-30 17:13] Omar1892 opened #784 "Issue with tickets at check out"
We flag our notes at the end of the repair and when ever were about to check a costumer out at the pos. The notes pop up but the ticket closes and I have to close the notes and re-open the ticket once again for the notes to pop up and for the ticket to stay. This has happens every day.

[2019-05-01 16:33] JessicaSOS commented on #730
Exemple: SOS Phone Limoilou ticket # L-12406

[2019-05-01 16:35] JessicaSOS commented on #730
Exemple: SOS Phone Limoilou ticket: # L-12468

[2019-05-02 04:22] usmanalikhan93 commented on #784
Hi @Omar1892

Usman Ali here, Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2019-05-02 04:24] usmanalikhan93 commented on #781
Hi again @Cumbr1at3ch  - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2019-05-02 04:24] #781 closed

[2019-05-02 04:26] usmanalikhan93 commented on #730
Let me check this @JessicaSOS and I will try to reproduce a use case for this.

[2019-05-02 07:08] Uzair-RepairDesk commented on #783
@JessicaSOS
can you highlight the browser you are using? Moreover, you can also update log from "Timesheet". Please check screenshot attached
![SOS Phone Limoilou  Employee TimeSheet](https://user-images.githubusercontent.com/22955861/57060459-f6bca180-6cd2-11e9-827e-e8f5706b45fc.png)

[2019-05-02 10:09] usmanalikhan93 commented on #784
Hi @Omar1892

I have checked your concern and it seems like everything is working fine. Can you please check this video and guide me if you are performing some other tasks.

Video link: https://drive.google.com/file/d/146NJK65NeT96Kn0RtZX8nNQL8g3XLisR/view

[2019-05-02 12:30] JessicaSOS commented on #783
I use Google Chrome as always. I did not make any changes at this level.

The timesheet is accessible only by the employee. I can not edit or even view other timesheets than mine. So, since I am the owner and do not use time sheets, I do not see any data at this location.

I am looking to change the timesheets of my employees in the usual place, but it does not work. As many of my employees forget

[2019-05-02 12:42] usmanalikhan93 commented on #783
That's totally strange @JessicaSOS as when I reviewed it shows update option there. Can you share the login details which you are using to access this and video on this email address usmanali@repairdesk.co. I will appreciate that.

[2019-05-02 12:47] JessicaSOS commented on #783
I used the same software as you to record videos, but I only have the trial version. So I can not record any videos apart if I can be on your account.

The login information is the same as you have, those have my email address. I will send them privately to usmanali@repairdesk.co

[2019-05-02 14:45] JessicaSOS commented on #702
Hello,
The deadline has expired and I still pay commissions to my employees for products that I would not want. Can you tell me when it will be effective?
Thank you and good day

[2019-05-03 05:26] usmanalikhan93 commented on #783
Hi @JessicaSOS

The credentials you have sent to me on my email was an employee account and from that you can not update employee time report. But the fournier account has access to update because it's an admin account.
These are my findings. Do guide me if I am missing something.

[2019-05-03 05:51] usmanalikhan93 commented on #783
As you can see in the picture this role is not a super user. If you want make these changes you need to be admin/super user.
![Jessica_github_783_001](https://user-images.githubusercontent.com/39614480/57121403-bc193e80-6d90-11e9-8172-f8590fd62d0d.png)

Other workaround you can do is do make an access to these triggers in role "proprio" so you can view other employees times and can update from Emp

[2019-05-03 14:51] JessicaSOS commented on #783
Oh my God! It was only that! It works. Thank you!

[2019-05-03 14:51] #783 closed

[2019-05-05 23:31] fahadimran303 commented on #377
Another customer has 2 Store Locations has came up with the same request:
https://app.intercom.io/a/apps/mq09yl4f/inbox/inbox/search/conversations/21866246855?q=Anthony

For now we have told him a work around however any idea when we can implement that.

Thanks,

[2019-05-06 04:35] usmanalikhan93 commented on #784
Hi again @Omar1892 - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2019-05-06 04:35] #784 closed

[2019-05-06 05:58] Repair-Desk opened #785 "Transaction ID On Payment Screen is Not Saving Unless You Click Save Button"
If you don't press the green icon it doesn't save transaction ID.

![ecef8d5f-663c-4eb5-8dee-88a4c3675e59](https://user-images.githubusercontent.com/21986026/57208545-c2f0bd00-6fed-11e9-83bc-fba8d2aad735.jpeg)

Clicking on the green button and then clicking on the confirmation will be a hassle when the store gets busy.

It should be saved when we click on confirm or full payment.

[2019-05-06 07:12] Uzair-RepairDesk commented on #785
Noted

[2019-05-06 08:06] Uzair-RepairDesk commented on #734
@usmanalikhan93
Whats the update on this?

[2019-05-06 14:13] JessicaSOS opened #786 "Error in Employee Commissions Report"
Jimmy is an employee who works only in the Lévis store. He regularly repairs tablets from other stores, but works in Lévis. In order to know his commissions on the sold accessories and on the carried out repairs, I go in the report of commissions of employee. I select in the search filter the month of April 2019, the employee "Jimmy Fortin" and I tick all stores. Then I start the search. When I cl

[2019-05-06 15:54] JessicaSOS opened #787 "Traduction in customer facing display widget"
Hello,
I would like to change the translation of the widget "customer facing display" since since the update of the widget, all is displayed in English. When I go to the widget "language manager", all is currently translated. I do not understand why these are the words in English that appears. Can you inform me about please.
Thank you and good day

--
French:
Bonjour,
J'aimerais modifier la traduc

[2019-05-07 05:56] usmanalikhan93 commented on #779
Hi @JessicaSOS

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-05-07 05:56] #779 closed

[2019-05-07 06:04] usmanalikhan93 commented on #774
Hi @bharaaus

I hope you are doing well. We have added time option on creating new invoice. Please verify at your end and do let us know if you have any question.

Thanks
Usman Ali

[2019-05-07 06:04] #774 closed

[2019-05-07 08:09] Repair-Desk commented on #787
Sure thing Jessica! Let us take a look to see if we're getting the same issue as you and we'll circle back to you.

[2019-05-07 08:12] Repair-Desk opened #788 "Display serialize inventory info under product tab"
we would like to change the listing of the device inventory so that the serials available are listed under product info tab rather stock tab

![Serialized Inventory](https://user-images.githubusercontent.com/21986026/57284011-ca859400-70c9-11e9-9685-ffd9bde3938a.jpg)

[2019-05-07 09:00] Uzair-RepairDesk commented on #788
@Repair-Desk the reason to keep it under "Stock" tab is that "serials count is directly associated with On Hand stock". Admin/users can easily visualize the on hand stock and create serials/count or manage serials accordingly.

[2019-05-07 09:01] Uzair-RepairDesk commented on #786
@usmanalikhan93 can you please review this? Thanks

[2019-05-07 18:41] JessicaSOS commented on #779
This has not been corrected for this item.

[2019-05-08 07:34] usmanalikhan93 commented on #779
Hi @JessicaSOS

I hope you are doing well. It has been now fixed for this item too. Please verify at your end and do let us know if you have any question.
![779_cost_issue](https://user-images.githubusercontent.com/39614480/57357913-94a9e380-718d-11e9-8140-7cd8fde7ae49.png)

[2019-05-08 09:17] usmanalikhan93 commented on #787
For Internal Use:
https://repairdesk.atlassian.net/browse/RB-45

[2019-05-08 09:23] usmanalikhan93 commented on #787
Hi @JessicaSOS

For now you can change these through setting section in language translator. See screenshot for reference.
Once these will be transferred to Customer facing display, I will let you know.

Thanks
Usman Ali

[2019-05-08 10:17] usmanalikhan93 commented on #786
Sure @Uzair-RepairDesk

[2019-05-08 11:14] bharaaus commented on #760
This is tagged as HELP Wanted ?

This is a serious Bug which we face everyday.

Any update on this ?

My staff is so pissed due to this bug

[2019-05-08 11:22] usmanalikhan93 commented on #760
Hi @bharaaus

I have tried this so many times but it was not appear on our test accounts. Did you open POS in multiple tabs on same browser ?

[2019-05-08 11:25] usmanalikhan93 commented on #766
Hi @bharaaus

I hope Danish has messaged to discuss this issue. Do let me know if you have any question.

[2019-05-08 16:12] ThinkDigitalSoftware opened #789 "Automatically Calculate end of day cash payout amount by bill denomination"
At the end of the day, I always take out all bills larger than $10 and leave the rest for change for the next day. This means I have to manually total up the total and put it in the payout withdrawal section each day. It would be nice to be able to set a flag ( right there in that section, not in the settings) that would allow me to automatically select bills that are withdrawn and total it up for

[2019-05-09 00:05] fahadimran303 opened #790 "Option to Give Access to Integrations | Modesto | DrPhone Fix"
Hello Sir,

Customer is looking to give access to its Franchise Owner the permission to play around with the Integrations.

For all the integrations which are set store wise, they are looking for a permission in which they can grant access to Store Owners.

Thanks,

[2019-05-09 01:32] bharaaus commented on #760
no .
only one tab.

have tried clear caches/history etc.

[2019-05-09 05:19] usmanalikhan93 commented on #787
Sorry. I am attaching it again. Hopefully it will be transferred to customer facing display in next week. I will let you know.
![Jessica_Github_787](https://user-images.githubusercontent.com/39614480/57428904-c3829100-7243-11e9-8f7d-add3882b0fc4.png)

[2019-05-09 05:27] Uzair-RepairDesk commented on #760
Hey @bharaaus
Is it possible to share a video if you randomly face it so we can replicate it at our end and get it fixed?

[2019-05-09 06:18] Uzair-RepairDesk commented on #790
@fahadimran303

We already updated it under "Employee Roles Permissions". You can allow or restrict specific employee role to access "Integrations". Please check screenshot attached

![uzairshah   Roles Permission](https://user-images.githubusercontent.com/22955861/57431370-05afd080-724c-11e9-89d9-3784fc90b487.png)

[2019-05-09 09:04] Cumbr1at3ch opened #791 "INVENTORY"
3 items sold over last few weeks
item numbers
Samj320case inv 4050
i4sb16 inv 4078
iPhone SE Space Grey 16GB  inv 4066

[2019-05-09 09:28] usmanalikhan93 commented on #786
For internal Use:
https://repairdesk.atlassian.net/browse/RB-48

[2019-05-09 11:13] bharaaus commented on #760
I can't put the camera on the computer whole day and wait for it to happen.

[2019-05-09 14:40] JessicaSOS commented on #787
He was actually with the "setting". It's settled, thanks!

[2019-05-09 14:40] #787 closed

[2019-05-09 19:11] JessicaSOS commented on #416
Hello,
are you ready to deploy the live version soon? I have one of my employees working with Dispatch and I could share her comments. However, I do not want to spend time writing to you and translating comments if you do not intend to fix it quickly.

[2019-05-10 04:29] usmanalikhan93 commented on #791
Hi @Cumbr1at3ch

Can you please provide more info on this ?

[2019-05-10 04:32] Uzair-RepairDesk commented on #760
I understand this. I just requested that if you face it again and if it possible then please share a video with us.
@usmanalikhan93
I believe you have already escalated it in the team, please keep track on it and keep trying to replicate it.

[2019-05-10 04:34] usmanalikhan93 commented on #760
@Uzair-RepairDesk Sure, I will try to replicate this on my test account.

[2019-05-10 05:50] Uzair-RepairDesk commented on #761
Update: I have marked this improvement in "To-Do" list in next sprint.

[2019-05-10 06:08] Uzair-RepairDesk commented on #702
Hey @JessicaSOS
We have already updated it on your request that if you will set commission value "0" for the inventory item or service then the commission will not be applied on that product/service. We are expecting to push it on LIVE in our upcoming release. Thanks.

[2019-05-10 08:26] Cumbr1at3ch commented on #791
Hi Usman
It would appear that the majority of non-stock items the stock level isn't been updated to reflect a sale of this.
Even though the item has been sold - stock level is remaining on here.
Having said that, There has been over these last few months whereby its stock which isn't been updated when the item has been sold.
I have found many items where the stock is showing when in actual fact ph

[2019-05-10 10:34] usmanalikhan93 commented on #791
Hi Sean @Cumbr1at3ch

Let us check this on our end. I will revert back to you once I get more info on this.

Thanks

For internal use:
https://repairdesk.atlassian.net/browse/RB-53

[2019-05-10 13:01] JessicaSOS commented on #702
Ok good. When will you talk about next version, when?

[2019-05-10 14:36] JessicaSOS opened #792 "Notification in appointement calendar"
Hello,
A client told us that he had not received confirmation of his appointment. My employee believed the client was wrong. She did a test with her cell number by creating an appointment via the widget. She told me that she did not receive any confirmation. I went to see all the notification settings and nothing was changed, the sms are activated for the creation of a new appointment. (see pictur

[2019-05-10 23:44] Omar1892 opened #793 "Monthly Sales and Sales Tax HUGE ISSUE!"
Hello,

Monthly Reports; The monthly reports are always off by penis to +$100 dollars off. The report from the Over View are always different from the Reports from Sales By Item Type and Location Method Payment. This always happens. My bookkeeper uses this 3 reports to verify that all amounts are matching and correct to what it was collected. This issues has been on going since we first started an

[2019-05-10 23:45] Omar1892 commented on #793
![Screen Shot 2019-05-10 at 4 39 33 PM](https://user-images.githubusercontent.com/47898011/57561815-f2cbf780-7342-11e9-8bf3-bcfb57cace93.png)
![Screen Shot 2019-05-10 at 4 39 27 PM](https://user-images.githubusercontent.com/47898011/57561816-f3648e00-7342-11e9-96db-ee45d8db74a0.png)
![Screen Shot 2019-05-10 at 4 39 20 PM](https://user-images.githubusercontent.com/47898011/57561817-f3648e00-7342-11

[2019-05-11 02:28] bharaaus commented on #760
[New Project.zip](https://github.com/Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS/files/3168534/New.Project.zip)

Video of Bug !

For password plz contact me private, because video has customer detail .

Please note that this error is random. In video we have two tabs opened, and item asked for serialization.
But bug occurs even for common sale items as well.

[2019-05-11 02:28] bharaaus commented on #760
@usmanalikhan93  . Try to replicate this error in you test account with USER PIN enabled.
May be its due to that.

[2019-05-11 02:37] bharaaus opened #794 "Adding Customer phone number picking up PAKISTAN as default country"
It used to be very easy to add customer number.
buy now it gives error everytime.
We have to select Australia manually or enter the number with +61 to add the mobile number.
Its time consuming .
Please revert back the setting as it was before.

Please check video.

[ScreenRecorderProject2.zip](https://github.com/Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS/files/3168540/ScreenRecorderProject2.zip)

[2019-05-11 03:01] bharaaus commented on #760
[New Project-123.zip](https://github.com/Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS/files/3168560/New.Project-123.zip)

Another video of bug occurs again.

We prefer to use Mozilla Firefox because this bug appears less in Mozilla. In chrome it trouble us more.

Im surprise you guys can not replicate this at your end.
and my topic is still marked as " Help Wanted "

[2019-05-13 04:24] usmanalikhan93 commented on #760
Hi @bharaaus

Thanks for the information you provided. Let me try these steps and replicate this issue on my end.

[2019-05-13 04:38] usmanalikhan93 commented on #794
Hi @bharaaus

I hope you are doing well. Sorry for the inconvenience. I have reported to dev team and hopefully it will be fixed soon and ready to go live in 2 - 3 days.

[2019-05-13 04:38] usmanalikhan93 commented on #794
For internal use:
https://repairdesk.atlassian.net/browse/RB-58

[2019-05-13 04:39] usmanalikhan93 commented on #793
Hi @Omar1892

Can you please share you login details with Fahad ? So I can look this into your account in detail.

[2019-05-13 04:40] usmanalikhan93 commented on #792
Hi @JessicaSOS

Usman Ali here, Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2019-05-13 04:43] Uzair-RepairDesk commented on #702
Hey @JessicaSOS
Our release is expected in this week.

[2019-05-13 07:35] usmanalikhan93 commented on #792
Hi @JessicaSOS

I have checked this on my test account by enabling clickatell integration. It is working fine. Can you please try once more ? Then do let me know if you still face issue.

[2019-05-13 07:47] Uzair-RepairDesk commented on #785
We have split payment functionality available in RepairDesk where you can record payment with more than one payment method in one specific transaction.
It's important to keep "green button" to log and confirm payment from one specific payment method after you enter "transaction id/reference or cheque no".
If we remove it to directly record the reference with the payment might conflict the split pa

[2019-05-13 13:42] JessicaSOS commented on #792
is not working
<img width="932" alt="appointement on our website" src="https://user-images.githubusercontent.com/40500094/57626188-69474000-7563-11e9-950d-a9d3fea159d6.png">

[2019-05-13 13:45] JessicaSOS commented on #702
Nice !!

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579> 418 999.1579 |  <tel:4506771579> 450 677.1579 |  <tel:18559991579> 1 855 999.1579
 <mailto:jessica@sosphone.ca> jessica@sosphone.ca
 <https://sosphone.ca/?utm_source=signature&utm_medium=urlsite&utm_content=sosphone.ca&utm_campaign=outils> sosphone.ca
5375, boul. Guillaume Couture, Lévis, G6V 4Z3
2750, 1re Avenue, Limoilou, G1L

[2019-05-13 21:36] JessicaSOS opened #795 ""repair tracking" page (follow up)"
Hello,
The "repair tracking" page on our website no longer works. When we go, we are able to access the selection of the store, but after this step, the page is only downloaded, without ever being available. I put an image as an attachment. You can try it yourself by following this link: https://sosphone.ca/reparation-de-cellulaire/verifier-le-statut-de-votre-reparation/
<img width="938" alt="foll

[2019-05-13 21:56] Omar1892 commented on #793
Yes, Ill have him call me tomorrow. I was able to take the call today.

[2019-05-13 21:58] Omar1892 opened #796 "Part Auto Selection"
The system is auto selection the same part multiple times for the same repair. Picture below is shows issue were having.
![Screen Shot 2019-05-13 at 2 55 09 PM](https://user-images.githubusercontent.com/47898011/57657223-81cd4f80-758f-11e9-893b-121e6c199c9e.png)

[2019-05-14 04:17] usmanalikhan93 commented on #791
Hi Sean @Cumbr1at3ch

I hope you are doing. I hope Danish has guided you and all is settled down. If you have any question do let me know.

Thanks
Usman Ali

[2019-05-14 04:25] usmanalikhan93 commented on #796
Hi @Omar1892

Thank you for bringing this to our attention. It's already been fixed and is on beta server. It will be go live today or hopefully tomorrow. I will let you know once it will be pushed on live server.

Thanks
Usman Ali

For internal use:
https://repairdesk.atlassian.net/browse/RB-46

[2019-05-14 04:34] usmanalikhan93 commented on #795
For internal use:
https://repairdesk.atlassian.net/browse/RB-59

[2019-05-14 04:54] usmanalikhan93 commented on #792
Hi @JessicaSOS

Can I test this with my number on your Appointment Calendar ? Just need to verify this.

[2019-05-14 10:58] Uzair-RepairDesk opened #797 "Parts Consumption Report Improvements"
Show revenue and cost separately against each line-item in Parts Consumption Report

[2019-05-14 11:43] bharaaus commented on #766
I have made a video of this bug.

It was reported more than year ago, but nothing is done with it.
New Model added outside pos windows are not showing in POS when chossing repair. Even though option of " SHOW IN POS " is active.

This is happeing because whenever we add new model in pos window, it doenst have option to choose Category which we have enabled in pos.

[ice_video_20190514-213226.zip](

[2019-05-14 16:30] phonefixdfw opened #798 "US phone number format messed up"
wrong flag, and no longer pre-selecting the +1 like it did before
video https://drive.google.com/file/d/1hdXRBvQ-KylLHXw4Edqzj2oaWHfGjyar/view

[2019-05-15 05:37] usmanalikhan93 commented on #798
Hey! @phonefixdfw

Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!

[2019-05-15 05:46] usmanalikhan93 commented on #796
Hi @Omar1892

I hope you are doing well. Your reported issue has been fixed and available on live server. Please verify at your end and do let us know if you have any question.

Thanks
Usman Ali.

[2019-05-15 05:46] #796 closed

[2019-05-15 05:52] usmanalikhan93 commented on #766
Thanks for the information @bharaaus . Let me check this.

[2019-05-15 09:39] rlltd opened #799 "Option to merge existing customer data at check in"
Hello.

When entering customer data which turns out to be a duplicate, we only get an option to "choose existing record".

This might not be suitable as their phone number or email may have changed, or I may have taken other new information like their address and license number when trading in a phone.

An option to merge new info to the existing customer record (or create a new record) would be e

[2019-05-15 13:08] JessicaSOS commented on #792
Of course! You only have to do the lead later or cancel it.

[2019-05-16 16:07] JessicaSOS commented on #718
???

[2019-05-16 16:07] JessicaSOS commented on #706
not fixed yet !

[2019-05-16 16:14] JessicaSOS opened #800 "Missing transaction again"
Post on the 5th of September 2018 and we still have this problem!

transactions are disappearing again. See picture. We go from 10 to 9 without any reason ...
![#2347](https://user-images.githubusercontent.com/40500094/57869713-9e59c980-77d3-11e9-94cb-b01cb81011c7.jpg)
yesterday:
<img width="946" alt="#9148 item" src="https://user-images.githubusercontent.com/40500094/57869856-eaa50980-77d3-11e9-9

[2019-05-17 09:46] usmanalikhan93 commented on #795
Hi @JessicaSOS

I hope you are doing well. Your reported issue has been fixed and I have verified through given link. Please verify at your end and do let us know if  you have any question.

Thanks
Usman Ali

[2019-05-17 09:46] #795 closed

[2019-05-17 09:46] usmanalikhan93 commented on #794
Hi @bharaaus

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if  you have any question.

Thanks
Usman Ali

[2019-05-17 09:46] #794 closed

[2019-05-17 09:46] usmanalikhan93 commented on #798
Hi @phonefixdfw

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if  you have any question.

Thanks
Usman Ali

[2019-05-17 09:46] #798 closed

[2019-05-17 10:13] Uzair-RepairDesk commented on #799
Hey @rlltd

Thank you for your post. Currently, there are 2 following primary keys in the customer record:-
1: Email Address
2: Mobile Number

If any of the above fields match with an existing record, the system notifies so admin/users can select the existing record. Admin/users can also edit existing customer information if it's updated.

Regarding merging details of 2 customers, currently its no

[2019-05-17 10:29] usmanalikhan93 commented on #800
HI @JessicaSOS

Sure let me review this. I will revert back to you once I have more info on this.

[2019-05-17 12:41] JessicaSOS commented on #795
fixed tnx

[2019-05-17 20:43] JessicaSOS opened #801 "Mail problem"
Hello,
emails @ me.com does not work. Customers tell us all that they do not receive our messages. Also, in the ticket history, we see the email status as "bounced" or "deffered".
<img width="941" alt="@me 2" src="https://user-images.githubusercontent.com/40500094/57955072-d429ab80-78c2-11e9-9cb6-2d7dd31b4b72.png">
<img width="944" alt="@me" src="https://user-images.githubusercontent.com/40500094/

[2019-05-20 03:35] fahadimran303 commented on #776
@Uzair-RepairDesk Sir, We have another customer with 4 Stores on Annual Plan coming up with the same requirement.

He is looking to have Different Terms and Conditions printed on Thermal Receipt at the time of creating Ticket and Checking Out the customer.

Please look into this as discussed.

Thanks,

[2019-05-20 04:13] usmanalikhan93 commented on #801
Hi @JessicaSOS

I hope you are doing well. Let me check with developer why it is bounced emails on this domain. I will revert back to you with more information.

Thanks

[2019-05-20 04:16] usmanalikhan93 commented on #791
Hi Sean @Cumbr1at3ch

since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Thanks
Usman Ali

[2019-05-20 04:16] #791 closed

[2019-05-20 04:17] usmanalikhan93 commented on #793
Hi @Omar1892

I hope you are doing well. I believe you have a call with Fahad and he has guided you. I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Thanks
Usman Ali

[2019-05-20 04:17] #793 closed

[2019-05-20 07:49] usmanalikhan93 commented on #801
For internal use:
https://repairdesk.atlassian.net/browse/RB-98

[2019-05-20 17:39] Mariaaredondo opened #802 "Allowing Rolls Access to Settings> Manage Employee> Issue with Role Assignment"
Currently if I allow a "store owner" role the rights to Settings>Manage Employees they are able to add a new employee which is what I need them to be able to do. However the issues im having are as follow:

-The "Store Owner" Role gets access to all employees company wide
-The "Store Owner" Role can assign this new employee any role including "Super Admin"

Fixes Needed:
-Besides Super Admin, ever

[2019-05-21 06:22] Uzair-RepairDesk commented on #702
Hey @JessicaSOS
We have made your requested improvement LIVE. If you want to exclude a product/service from the commission, you can go to the specific product/service and set individual commission value to "0". Once you do that, the commission will not be calculated on that specific product/service.
Check screenshot attached. You can review at your end and share your feedback.

![uzairshahEdit Mob

[2019-05-21 06:22] #702 closed

[2019-05-21 07:37] usmanalikhan93 commented on #801
Hi @JessicaSOS

I hope you are doing well. I have discussed this with developer and he said these our i Cloud domains. Cannot send emails on these domains.
Can you confirm me is it working in the past ? Or can you can give me any ticket so I can show this to developer. I will appreciate your help.

Thanks
Usman Ali

[2019-05-21 08:05] Uzair-RepairDesk commented on #765
Hey @bharaaus
We have added "Suggestive Search" functionality for "Item Name" under "Manage Inventory > Mobile, Accessories & Parts".
Please check screenshot attached.
![search](https://user-images.githubusercontent.com/22955861/58078778-f83e0300-7bc8-11e9-99d4-f35924db6c8f.png)

We are also working on the document to add "Inventory" search in the global search along with Invoices, Tickets & Custo

[2019-05-21 08:15] Uzair-RepairDesk commented on #564
Hey @ochoaonline

We have added "Damage Part Report" in RepairDesk that will allow you to keep a list of all the faulty items and devices. In this report, you can find all the inventory items, accessories or parts that have been marked as ‘faulty’ and you can either create RMA against them, mark them broken or can add them back into the inventory.
Please review at your end.

![DPF Control Center

[2019-05-21 08:15] #564 closed

[2019-05-21 18:48] Mariaaredondo opened #803 "Purchase orders: Remove Tax being the default."
Most parts that a repair shop purchases are through wholesalers. Therefore we do no pay tax. When creating a purchase order we have to manually change each and every line to no tax. sometimes we are creating purchase orders of over 100 items for new stores.

Fix: Please make the default to be "no tax"

[2019-05-22 01:20] bharaaus opened #804 "Inventory Adjustment from POS - Never Worked for me"
Inventory Adjustment from POS
![RD Attached](https://user-images.githubusercontent.com/34261339/58140389-64307200-7c82-11e9-865f-8ab4ef9f22f1.png)

It was released on Mid January.
According to this update, if item is not in stock, We should be able to update stock from POS window popup rather than going to a different tab to increase qty.

But when i click on it, instead of opening pop-up, it open

[2019-05-22 05:26] usmanalikhan93 commented on #804
Hi @bharaaus

I have reviewed this video. From where you are trying to add adjustment, it will redirect to you item master page. When you go to Accessories tab on POS and you have inventory item which is in stock = 0,
you will click on that item and it will show you pop and you can add adjustment from there on POS page.
Please check this video for better understanding
Video link: https://www.scree

[2019-05-22 05:31] usmanalikhan93 commented on #803
Hi @Mariaaredondo

I hope you are doing well. You can make it as tax exempt. When you select items in purchase order, there tax class will be as tax exempt (no tax). Go to Settings > Module Configuration > Purchase Order > Select "Default Tax class for Purchase orders" as Tax Exempt.
![Drphonefix_803](https://user-images.githubusercontent.com/39614480/58149511-bc647580-7c7c-11e9-9e6c-b98e8f798ca7.

[2019-05-22 07:28] usmanalikhan93 commented on #746
Hi @JessicaSOS

I hope you are doing well. We have figured out the issue and now it's been resolved. We have also make this invoice correct "woo commerce ID: [SOS Phone] Nouvelle vente en ligne (28477) - avril 27, 2019"
Issue was due to MTS, your one of webhook was not working. Now it's been working fine. Do verify at your end. Let me know if you have any question.

Thanks
Usman Ali.

[2019-05-22 07:28] #746 closed

[2019-05-22 07:30] usmanalikhan93 commented on #433
Hi @JessicaSOS

Please find developer's feedback below
"If Order is transferred into different store which is not synced with WC then it will not update on RD when item sold on WC this is the functionality"

[2019-05-22 11:22] bharaaus commented on #804
Thank you for explaining the process.
But Wouldn't be nice if pop up window comes on the position where i suggest in my video ?

Can you consider adding this feature over there?

[2019-05-22 11:24] usmanalikhan93 commented on #804
Thanks for the suggestion @bharaaus , I will discuss this with @Uzair-RepairDesk and will revert back to you.

[2019-05-23 03:59] phonefixdfw commented on #803
I have this turned on in po settings and it only works randomly. Some lines will get tax, some won't. Very inconsistent

[2019-05-23 09:54] usmanalikhan93 commented on #804
@Uzair-RepairDesk can you check this whether we can add this functionality or not ?

[2019-05-23 09:56] usmanalikhan93 commented on #803
Hi @phonefixdfw

Let me check and I will revert back to you if I need more info.

[2019-05-23 16:37] Mariaaredondo commented on #803
Thank you! Somehow I missed the release of this improvement.

*Maria Arredondo*
*Director of Operations*

*Office:* 754-200-8917

*Mobile:* 305-600-9204

*Email:* Maria@drphonefixfrancise.com

*LinkedIn*: mariacarredondo <https://www.linkedin.com/in/mariacarredondo/>

On Wed, May 22, 2019 at 1:31 AM Usman Ali Khan <notifications@github.com>
wrote:

[2019-05-24 06:18] usmanalikhan93 commented on #803
Hi @phonefixdfw

I have checked your concern but it seems it's working fine may be there was some glitch. Can you please try it again ? Do let me know if you find any problem.

Thanks
Usman Ali.

[2019-05-24 06:18] #803 closed

[2019-05-24 13:33] usmanalikhan93 commented on #786
Hi @JessicaSOS

I hope you are doing well. We have identified the case in which this issue is coming. Now it's been resolved. But for old invoices, we have to manually make them correct. Can you help to identify those so we can do the needful ?

Thanks
Usman Ali

[2019-05-27 07:00] usmanalikhan93 commented on #792
Hi @JessicaSOS

I hope you are doing well. I was testing this but I am unable to login in your clickatell account. Can you please share your updated clickatell credentials on this email usmanali@repairdesk.co. So I can check this further.

Thanks
Usman Ali

[2019-05-27 08:05] #433 closed

[2019-05-27 08:07] usmanalikhan93 commented on #437
Hi @JessicaSOS

I hope you are doing well. Can you please explain this issue in detail to Fahad (our support guy). If it is not fixed then I can do some action item against this task.

Thanks
Usman Ali

[2019-05-28 09:56] Uzair-RepairDesk commented on #804
Hi @bharaaus
Thanks for highlighting the above Issue, I am discussing it with the development team to check it's possibility. I will update you once I get feedback.

[2019-05-28 20:58] JessicaSOS commented on #433
I understand what you are saying, but there should be an option that we can add when the device is no longer available in the store synchronized with Woocommerce. Or change your settings so that when a phone is sold, that it changes status or that it is transferred, that it withdraws it from Woocommerce. I have waited a long time for a solution / correction for this problem, thank you for reopenin

[2019-05-28 20:58] JessicaSOS commented on #433
reopen please

[2019-05-28 21:57] JessicaSOS commented on #746
OK, the problem should be solved. Is it possible to enter the following invoices as paid (since they are in woo commerce)?
FL 16093
FL 16027

Thank you

[2019-05-29 04:21] usmanalikhan93 commented on #433
ok @JessicaSOS let me discuss this with our CTO then I will update you with more info.

[2019-05-29 04:38] bharaaus commented on #760
Any luck fixing this issue ?
Its still poping up everyday.

[2019-05-29 05:14] usmanalikhan93 commented on #760
No @bharaaus didn't replicate on my side but I am trying to do so, so we will fix this. Once we get the use case it will easy for developer to fix this issue. I will update you once I get any luck on this.

[2019-05-29 05:25] bharaaus commented on #760
you couldn't get it from video ?
It is happeing now at leaset 5-10 times a day.
I can send you more videos of it if you like.

[2019-05-29 05:27] bharaaus commented on #760
check my store settings as well, and try to do same settings on your account to see if its something from settings. ?

Such as :
Employee Pin Activate
Number of Employee Registgerd
etc.

or anything.

You guys are the expert , you should figure it out quickly that why im facing this issue everyday, but you are not.

[2019-05-29 05:33] usmanalikhan93 commented on #760
@bharaaus ok let me try to replicate these settings on my test account and check with this.

[2019-05-29 05:35] bharaaus commented on #760
did you try before by enabling the emplyee pin, or without pin ?

[2019-05-29 05:37] usmanalikhan93 commented on #746
Hi @JessicaSOS

I have checked these invoices and it shows source as web. Are you sure you want to make them as paid ?

[2019-05-29 05:37] usmanalikhan93 commented on #760
Yes I have checked by enabling the employee pin.

[2019-05-29 06:40] usmanalikhan93 commented on #792
Hi @JessicaSOS

I have checked this with updated credentials also I have changed the password of clickatell integration with updated one on your RD account. It sent the message and I have checked log in clickatell reporting.
I have created lead L-L-20982 in Limoilou store. Please check screenshot for reference.
![Github_792_2](https://user-images.githubusercontent.com/39614480/58535125-8ab45700-82

[2019-05-29 19:11] JessicaSOS commented on #792
I did a test on the shop of Sainte-Foy and the shop of Limoilou and I did not receive any SMS on my phone. Did you receive the SMS on your side or did you only have the confirmation on the clickatell website?

[2019-05-29 19:15] JessicaSOS commented on #746
These are invoices that were paid via woo commerce, but that did not appear as such because of the problem that is now resolved. Maybe you can not do it manually, but if you can, I would like both bills to be listed as paid in repairdesk since they are in the woo trade and paid for by customers .

[2019-05-29 19:16] JessicaSOS commented on #433
thank you,
I await your news,

[2019-05-29 21:01] JessicaSOS commented on #786
I only noted the one listed previously.

[2019-05-29 21:10] JessicaSOS commented on #437
The devices that are displayed on our website in the woo commerce are those that have the status "in stock" in repairdesk. When someone wants to buy a phone online, but the transaction fails (for whatever reason), an invoice is created in Repairdesk. This should not be because the transaction failed. So there should be a barrier that prevents invoice creation automatically if the transaction has f

[2019-05-29 21:22] JessicaSOS commented on #801
The examples were in the photos attached. Here they are:
SOS Phone St-Roch: Ticket # R-1847
SOS Phone Sainte-Foy: Ticket # F-5103

[2019-05-29 21:35] JessicaSOS commented on #702
Ok good! It does not work for the past?
I will check in the next weeks

[2019-05-30 04:26] usmanalikhan93 commented on #792
Hi @JessicaSOS

I did not receive the SMS on my phone. I have checked this with developer and he said if you see log on clickatell website it means RD is sending SMS but clickatell is not.
Please contact to clickatell support for this issue. It's not a RD end issue.

Thanks
Usman Ali

[2019-05-30 04:28] usmanalikhan93 commented on #437
Hi @JessicaSOS

I have noted your concern. I will discuss this with developer and will revert back to you.

[2019-05-30 06:17] usmanalikhan93 commented on #786
Ok @JessicaSOS

[2019-05-30 06:30] usmanalikhan93 commented on #801
Hi @JessicaSOS

I have reviewed these in detail and found out that email used in these tickets are not valid. Please check these again or contact to these person for valid email address.

Thanks
Usman Ali

[2019-05-31 07:19] Uzair-RepairDesk commented on #777
Hey @bharaaus
Good News, We have made this improvement LIVE. You can now view IMEI/Serial on Manage ticket page below the device.
Please review at your end. Thanks

[2019-05-31 07:19] #777 closed

[2019-05-31 07:21] #690 closed

[2019-05-31 07:24] bharaaus commented on #777
Amazing !
Thanks a lot.
This is really really helpful to track tickets with missing imei info.

You guys are amazing.

[2019-05-31 07:25] Uzair-RepairDesk commented on #773
Hey @fahadimran303
We have made this improvement LIVE. You can now enable the triggers under Module Configurations > Receipt to show transaction ID/Cheque # on service or thermal receipt.
You can also enable it for Invoice.

Please review at your end. Thanks

[2019-05-31 07:25] #773 closed

[2019-05-31 18:53] Omar1892 opened #805 "Tickets Update"
Hello,

when ever I try to look up an old ticket in the ticket search box it takes me to the ticket section but it won't look up the ticket that Im looking for. I have to enter the ticket number in the new search box that you guys have created in the ticket section. I don't know if this is due to the new update you guys have done to the ticket section.
![Screen Shot 2019-05-31 at 11 52 13 AM](http

[2019-05-31 20:26] Omar1892 opened #806 "Serialized Merchandize"
I have a suggestion, in the inventory items when ever an item is instock and serialized it comes up all the way at the bottom or on the next page. And this is do because the merchandise that was already sold shows up on the first lines. Why not do it the other way around. The merchandise that sold last or sold already should be shown last and what ever is in stock shows up fist. That way we don't

[2019-06-01 04:06] ThinkDigitalRepair opened #807 "Allow Incrementing count for bills when closing register"
Sometimes I'm counting money and I find a bill that I need to add. It would be easy to increment the count instead of having to delete it and add the new total.

[2019-06-02 02:01] hitman1986 opened #808 "I cant change price"
I cant change the price for any ticket from 0(just 0) to any price by ipad app it give error (nan) why?

[2019-06-02 02:06] hitman1986 opened #809 "Error refund!!!??"
When refunding any invoice containing more than one item and specifying any item for return, delete another item, just by ipad app

[2019-06-02 02:10] hitman1986 opened #810 "Error in status ticket"
When I add any payment for any ticket that has not yet expired, it has been repaired and completed, but I do not activate the option to end the repairs.why?
(Just on ipad app)

[2019-06-03 04:26] #792 closed

[2019-06-03 04:26] #801 closed

[2019-06-03 04:30] usmanalikhan93 commented on #807
Hi Jonathan @ThinkDigitalRepair

Can you explain this more if possible with screenshot ?

[2019-06-03 04:31] usmanalikhan93 commented on #810
Hey @hitman1986

Usman Ali here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2019-06-03 04:31] usmanalikhan93 commented on #809
Hey @hitman1986

Usman Ali here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2019-06-03 04:31] usmanalikhan93 commented on #808
Hey @hitman1986

Usman Ali here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2019-06-03 04:35] usmanalikhan93 commented on #805
Hi @Omar1892

Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!

[2019-06-03 04:38] ThinkDigitalRepair commented on #807
Something like this. But prettier 😄
<img width="642" alt="Screen Shot 2019-06-02 at 9 37 51 PM" src="https://user-images.githubusercontent.com/23037821/58776279-b7f26380-857e-11e9-9718-729bf8efc99c.png">

[2019-06-03 04:42] usmanalikhan93 commented on #805
For internal use:
https://repairdesk.atlassian.net/browse/RB-140

[2019-06-03 04:57] Uzair-RepairDesk commented on #732
Hi @Omar1892

We have introduced a new report name with "Profit & Loss Reports" that is solely on a cash basis. Currently, we pushed it on LIVE for limited users to BETA test it.
If you want to review it, can you please share your account credentials with me at uzair@repairdesk.co s I can make it enable to your account as well. Thanks

Hope to hear from you soon. Thanks.

[2019-06-03 05:03] Uzair-RepairDesk commented on #806
Hey @Omar1892

Thank you for your post. We certainly had the same functionality that On Hand serials use to come first in the list and sold status is last.

It looks like there's a bug that just popped up 🐛.

I'm gonna reach out to our Engineers to get this taken care of.

@usmanalikhan93 I have asked Humza to create a task for this to get it done. Can you please track this. Thanks.

[2019-06-03 05:03] usmanalikhan93 commented on #806
For internal use:
https://repairdesk.atlassian.net/browse/RB-141

[2019-06-03 06:20] #785 closed

[2019-06-03 09:01] usmanalikhan93 commented on #810
Hi @hitman1986

We have reviewed your concern and fond that may be you have enabled this trigger "Close Ticket once invoice is created" which is in Settings > Module Configuration > Tickets. That's why your ticket status gets completed when add payment of it. Please unchecked it and then try again. If you find any confusion do ask me.

Thanks
Usman Ali

[2019-06-03 09:02] #810 closed

[2019-06-03 13:13] usmanalikhan93 commented on #805
Hi @Omar1892

Your reported issue has been fixed and pushed on live server. Please verify this at your end and do let us know if you have any question.

Thanks
Usman Ali

[2019-06-03 13:13] #805 closed

[2019-06-04 02:26] hitman1986 commented on #810
Thank you

[2019-06-04 02:40] hitman1986 commented on #742
Yes working now

[2019-06-04 02:40] hitman1986 commented on #742
Thank to you and danish

[2019-06-04 02:41] hitman1986 commented on #741
Thanks its working

[2019-06-04 02:53] bharaaus commented on #760
Any update on this guys !
This bug is so annoying

[2019-06-05 20:01] Omar1892 commented on #805
Its working fine now. Thank you!

[2019-06-10 04:48] Uzair-RepairDesk commented on #760
Hey @bharaaus
We are just back to work after EID Holidays.

@usmanalikhan93 Can we have an update for our friend?
Can you again post an update on an internal task and request all QA team to replicate it?
Also, discuss it with CTO once. Thanks

[2019-06-10 04:54] usmanalikhan93 commented on #760
Sure @Uzair-RepairDesk.

For internal use:
https://repairdesk.atlassian.net/browse/RB-147

[2019-06-10 06:36] usmanalikhan93 commented on #809
Hi @hitman1986

Your reported issue has been fixed. Please download our latest release in order to get the fixes. Please verify at your end and do let us know if you have any question.

Thanks
Usman Ali

[2019-06-10 06:37] usmanalikhan93 commented on #808
Hi @hitman1986

Your reported issue has been fixed. Please download our latest release in order to get the fixes. Please verify at your end and do let us know if you have any question.

Thanks
Usman Ali

[2019-06-10 06:37] #808 closed

[2019-06-10 06:37] #809 closed

[2019-06-10 11:30] hitman1986 commented on #808
Thank you

[2019-06-10 12:01] hitman1986 commented on #809
Thank you, its working

[2019-06-11 05:26] #669 closed

[2019-06-11 13:08] usmanalikhan93 commented on #806
Hi @Omar1892

Your reported concern has been fixed. Please verify at your end and do let us know if you have any question.

Thanks
Usman Ali

[2019-06-11 13:08] #806 closed

[2019-06-12 16:57] JessicaSOS commented on #801
Why do you say these addresses are invalid? We checked with one of these two clients, several times the email address with him. The customer really wanted to receive our emails and invoice by email. He told us that he never received it, and it looks like the email is not sending properly. This does not happen regularly, but this task has not been evaluated correctly.

--
french:
Pourquoi dites-vou

[2019-06-12 17:36] JessicaSOS commented on #792
Ok, thank you for this clarification, I will look with Clickatell what is the problem.

[2019-06-12 23:19] phonefixdfw opened #811 "custom status' and notifcations"
Thanks for the improvements in custom ticket status' and notifications... but still a long way to go.

I wanted to do ALL custom ticket status' so that I could control
a) Status name
b) Status Color
c) Status type (open, closed, on hold, etc)

So I made all new status', notifications for those status', etc. But Repairdesk keeps wanting to use the original 'default' status options even though I hav

[2019-06-13 07:50] usmanalikhan93 commented on #811
Hi @phonefixdfw

Usman Ali here, Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2019-06-14 06:13] usmanalikhan93 commented on #811
@Uzair-RepairDesk can you please check this ?

[2019-06-14 10:37] Uzair-RepairDesk commented on #811
Hi @phonefixdfw

Thank you for sharing your feedback. I will review it in detail and revert back to you. Thanks

Regards,
Uzair

[2019-06-14 22:22] Omar1892 commented on #806
Thank you it works great now.

[2019-06-14 22:23] Omar1892 opened #812 "Life Time Warranty"
Hello,

In the life time warranty their should be an option in witch we can set a limit of how many times the warranty can be claimed. This could be applied to all types of warranties. Because so far the costumer can come in for a warranty replacement but theirs no record that pops up when a costumer has come in once or twice for a warranty replacement.

[2019-06-14 22:28] Omar1892 opened #813 "Invoice and Receipt Pictures"
The system gives you the option to upload picture in the invoice or receipt. When I try to upload two different pictures in the invoice the picture in the receipt sections changes to what I just uploaded. I would like to upload two different pictures but it doesn't seem to work.

[2019-06-14 22:29] Omar1892 opened #814 "Check Out Reminder"
A pop up screen should appear once were checking a costumer out reminding the employee to offer the costumer a tempered glass or a case. This could increase sales in stores.

[2019-06-14 22:31] Omar1892 opened #815 "Cash basis and Sales Reports"
I would like to know if you when will their be in improvements in the Sales Reports and an option to change to Cash basis instead of doing Accrual basis? Its really important for the numbers to match since they never do, do to issues on the reports. And cash basis could let us do deposits. We need updates soon for this thins since we have had been requesting this issues for the past 1 year 1/2

[2019-06-14 23:48] mobilebarn opened #816 "Need an option when adding inventory to be store specific or universally available at all stores"
hey guys is there a way to keep inventory store specific instead of universal. i.e store 1 adds a brand of cable to theyre inventory but store 2 does not stock this, is there a way to keep that seperate rather than being availble in all stores?

[2019-06-15 00:44] bharaaus opened #817 "Ticket Filter has become so annoying and bug in ticket section"
the new ticket filter is so annoying and its not user-friendly at all.
We mainly search by filtering Device | IMEI |  Task .
But these field we have to select every time when we want to search something.

![ice_screenshot_20190615-103503](https://user-images.githubusercontent.com/34261339/59544904-11349c80-8f5a-11e9-81f7-9d375d91ad93.png)

and bug in ticket section please see attached video.

[ice

[2019-06-16 10:18] hitman1986 opened #818 "New issue in search filter section"

[2019-06-16 10:19] #818 closed

[2019-06-16 10:21] hitman1986 opened #819 "Error in search in manage ticket"
When search in manage ticket by status ticket You will be able to modify the status of any ticket and then return you to the first page of tickets!!??

[2019-06-16 13:12] BRZLab commented on #749
Hi Uzair,

I would like to bring this topic to your attention.
Is it possible for one of your engineers to write a code that has a table without pricing information that i can copy into the service receipt template?

This would help solve the problem, while you guys improve the template editor.

[2019-06-17 04:30] usmanalikhan93 commented on #819
Hi @hitman1986

Can you provide more info on this ?

[2019-06-17 04:49] Uzair-RepairDesk commented on #816
Hi @mobilebarn
Yes, you can certainly do that.
If you want to add a new product/item and you don't want to create it on another store, you can go to Store Settings > General Settings and mark the trigger "Auto create inventory & service items on other stores" to "NO".
Please check screenshot attached.
Hope it helps. Thanks

![uzairshah   Settings Stores](https://user-images.githubusercontent.com/2

[2019-06-17 05:03] usmanalikhan93 commented on #817
Hi Bharat @bharaaus

Thank you for highlighting these issues. Let me forward this to development team and I will update you once issue will be fix.

Thanks
Usman Ali.

[2019-06-17 05:05] Uzair-RepairDesk commented on #812
Hi @Omar1892

Hope you are well. Currently, if you set "Lifetime warranty" you can claim warranty multiple times. If you are claiming it for "Repair parts" from the ticket section, you can track it from "Admin History" of a specific ticket where it shows that part is marked "Faulty/Broken".
Moreover, if you are doing for a repair service, you can search for tickets for a specific customer to see t

[2019-06-17 05:17] usmanalikhan93 commented on #817
For internal use:
https://repairdesk.atlassian.net/browse/RB-182

[2019-06-17 05:18] usmanalikhan93 commented on #819
For internal use:
https://repairdesk.atlassian.net/browse/RB-182

[2019-06-17 06:36] Uzair-RepairDesk commented on #813
Hi @Omar1892
Can you please elaborate it in detail? Are you uploading the "Logo" image for invoice and receipt that changes?
Screenshots will be appreciated from your side. Thanks

[2019-06-17 08:07] hitman1986 commented on #819
When enter in atlassian show me error account

[2019-06-17 08:14] hitman1986 commented on #819
![Screenshot_٢٠١٩٠٦١٧-١١١٢٠٢_Samsung Internet](https://user-images.githubusercontent.com/44485797/59588743-ffd1c880-90f0-11e9-8b68-a5abc2e96121.jpg)

[2019-06-17 08:15] usmanalikhan93 commented on #819
Hi @hitman1986

It for our internal use. I have identified the issue. I will try to resolve this ASAP. I will update you once it is fixed.

Thanks
Usman Ali

[2019-06-17 10:01] Uzair-RepairDesk commented on #814
Hi @Omar1892

I really appreciate that you took the time to share your idea.

I can certainly see how the suggested improvements would be useful. We certainly have the plan to add "Suggestive Sales Alert" functionality in RepairDesk that will allow marking items to populate in sales alert and when admin/users make a sale, they will get a pop-up window with the selected items list to upsell.

Howev

[2019-06-17 10:05] Uzair-RepairDesk commented on #815
Hi @Omar1892

Your same request is already logged here #732
I updated it with the following and waiting for your response:-

We have introduced a new report name with "Profit & Loss Reports" that is solely on a cash basis. Currently, we pushed it on LIVE for limited users to BETA test it.
If you want to review it, can you please share your account credentials with me at uzair@repairdesk.co s I can

[2019-06-17 11:08] usmanalikhan93 commented on #817
Hi @bharaaus

**We mainly search by filtering Device | IMEI | Task .
But these field we have to select every time when we want to search something.**
We have improved it like our reports filter section. So for we can't display all things in filter search. You have to apply criteria for search.

[2019-06-17 11:15] Uzair-RepairDesk commented on #804
Hi @bharaaus
I have checked with the development team, unfortunately, the requested option is not possible As the system doesn't allow such functionality.

[2019-06-17 18:42] Omar1892 opened #820 "Serialized Merchandize"
Hello, a suggestion. The way the serialized merchandize was under stock made more since than having it on the product info. The reason why is because when ever inventory count is done or if you want to check the inventory items have to be checked. Both the inventory on hand and serialized merchandise have to be checked just by staying on stock tab. Now we have to go to Product info and back to Sto

[2019-06-18 05:39] Uzair-RepairDesk commented on #749
Hey @BRZLab

Can you please let me know about the service receipt template you are using? Is it Classic or Perforated?

Can you also highlight the table with the screenshot that you want to hide from service receipt?

Once you share the information, I will be able to check the development if we can assist you to customize it with the current scope of the template editor. Thanks

Regards,
Uzair

[2019-06-18 11:08] usmanalikhan93 commented on #819
Hi @hitman1986

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-06-18 11:08] #819 closed

[2019-06-18 11:08] usmanalikhan93 commented on #817
Hi @bharaaus

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-06-18 11:08] #817 closed

[2019-06-18 11:10] #816 closed

[2019-06-18 11:35] hitman1986 commented on #819
Thank you is sloved

[2019-06-18 11:43] hitman1986 opened #821 "Error in expense"
When make any expense from wep app and in end shift i find that the total money is incorrect and the expenses were not deducted

[2019-06-18 11:45] hitman1986 opened #822 "Issue in rma"
When I allow the employee to set up RMA he shows his cost price with I did not let him see it in settings

[2019-06-18 12:32] BRZLab commented on #749
<img width="454" alt="Service receipt" src="https://user-images.githubusercontent.com/46997379/59681924-5adceb80-91d5-11e9-86cc-8c85f229383f.png">
<img width="1009" alt="Service receipt part 2" src="https://user-images.githubusercontent.com/46997379/59682050-adb6a300-91d5-11e9-8e53-f4d99d45adbe.png">

Hi Uzair,
Thanks for looking into this. Please see attached screenshot, should be pretty self-exp

[2019-06-18 13:02] Uzair-RepairDesk commented on #820
Hi @Omar1892
Thank you for sharing your concern. I agree with you. I have asked the team to replicate the same section under "Stock" tab as well so you can have less confusion about this.
We will keep it at both 'Product Info' and 'Stock' tab.

I will update you once it's done and we make the changes LIVE. Thanks

[2019-06-18 13:06] usmanalikhan93 commented on #822
Hey @hitman1986 ,

Usman Ali here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2019-06-18 13:06] usmanalikhan93 commented on #821
Hey @hitman1986 ,

Usman Ali here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2019-06-19 05:59] usmanalikhan93 commented on #822
For internal use:
https://repairdesk.atlassian.net/browse/RB-194

[2019-06-19 06:31] usmanalikhan93 commented on #822
Hi @hitman1986

From where you are setting to hide RMA cost price to employees ?

[2019-06-19 07:12] usmanalikhan93 commented on #821
Hi @hitman1986

I have checked this on my end and it looks it's working fine. Can you provide more info on this ? It will be really appreciate if you attach screenshots or a video so it will be helpful for me to replicate this issue.
Waiting for your response.

Thanks
Usman Ali

[2019-06-19 19:01] Omar1892 opened #823 "No Tax"
Hello,

Hello, Im having issues when I choose not to charge taxes at check out it won't accept that option. I have checked my stetting but they seem to be they way they have always been.

[2019-06-19 19:02] #815 closed

[2019-06-19 19:02] Omar1892 commented on #815
Ill just wait till you guys have it ready. Thank you for the update!

[2019-06-19 19:04] Omar1892 commented on #813
yes, so for example in the Invoice I would like it to have the Business logo. And on the thermal receipt I want it to have another logo that says Limited Life Time Warranty.

[2019-06-19 19:06] #744 closed

[2019-06-19 19:12] Omar1892 commented on #812
It makes since what you saying. But even if we set the warranty for 90-Days for example and our store terms and condition are that a costumer can only come in for 3 warranty claims during the 90-Days warranty. And they come in a 4th time during the 90-Days their should be a limit of how many times they can claim the warranty. The limit should be marked as "limit has been reached" or a pop up scree

[2019-06-20 02:46] hitman1986 commented on #822
From employee role -inventory- uncheck cost price

[2019-06-20 04:27] usmanalikhan93 commented on #823
Hi @Omar1892

Can you please tell us are you referring to iPad or Web app ?

[2019-06-20 06:16] Uzair-RepairDesk commented on #813
Hey @Omar1892
We certainly allow uploading different logo files for invoice and receipt.
@usmanalikhan93
Can you check if its work with the scenario shared in the description?

[2019-06-20 06:41] usmanalikhan93 commented on #813
For internal use:
https://repairdesk.atlassian.net/browse/RB-204

[2019-06-21 04:44] usmanalikhan93 commented on #821
Hi @hitman1986

Just wanted to know that are you still facing this issue ?

[2019-06-21 04:46] usmanalikhan93 commented on #822
Hi @hitman1986

We are adding trigger in RMA settings of employee role permission on which if you apply this trigger then employe can't see the cost price, tax and total. I will update you once it will be push on live.

Thanks
Usman Ali

[2019-06-21 10:36] usmanalikhan93 commented on #820
Hi @Omar1892

Your reported concern has been added. Now you can also Add or See serialized inventory in "Stock" tab. Please verify at your end and do let us know if you have any question.

Thanks
Usman Ali

[2019-06-21 10:40] usmanalikhan93 commented on #822
Hi @hitman1986

I hope you are doing well. We have added trigger of "Show price, tax and total" in RMA. If you uncheck this trigger then your employee belongs to that role can't see the cost price, tax and total in RMA. We have verified on live. Please verified at your end and do let us know if you have any question.

Settings > Employees > Manage Roles Permission > RMA > Show Price, Tax and Total

[2019-06-21 12:01] hitman1986 commented on #822
Thank youuuuuu, great.

[2019-06-21 12:02] #822 closed

[2019-06-21 16:25] Omar1892 commented on #823
Its on my computer

[2019-06-21 16:31] Omar1892 commented on #813
I was trying to do it couple of times in different ways. But it seems that if I change one the other logo will get replaced by what I had change.

[2019-06-21 16:32] Omar1892 commented on #814
Sounds good. Hopefully it can be added soon, it will make a difference in sales.

[2019-06-21 16:32] #814 closed

[2019-06-21 16:33] #755 closed

[2019-06-22 18:48] Omar1892 commented on #820
Thank you, yes its on both tabs now.

[2019-06-22 21:31] hitman1986 commented on #821
Yes im tell to mr danish about this issue and im sended video to explaind about this issue

[2019-06-23 15:36] #820 closed

[2019-06-24 04:39] usmanalikhan93 commented on #821
@hitman1986  ok let me discuss this with Danish Hassan.

[2019-06-24 05:00] bharaaus opened #824 "Tranaction Logs are not showing the detail of Ticket invoice payments"
have a look at 2 pics below.
its from today's tranactions.

Some inovices info is missing in transaction logs.

![ice_screenshot_20190624-145436](https://user-images.githubusercontent.com/34261339/59992777-c240e280-9690-11e9-8f18-efd17fe1ec9e.png)

![ice_screenshot_20190624-145804](https://user-images.githubusercontent.com/34261339/59992783-cbca4a80-9690-11e9-9d09-dd26030eb0fb.png)

[2019-06-24 06:31] usmanalikhan93 commented on #823
Hi @Omar1892

I have checked your concern and it seems to be working fine. Can you please provide screenshots or a short video so we can check this at our end with those steps. Also please provide your credentials via email at danish@repairedesk.co

[2019-06-24 07:15] usmanalikhan93 commented on #824
Hi @bharaaus

Usman Ali here, Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

For internal use:
https://repairdesk.atlassian.net/browse/RB-216

[2019-06-24 07:39] bharaaus commented on #824
Just doing End Shift now,
and there is lot of discrepancy due to missing invoice.

Please fix this urgently .

[2019-06-24 12:48] usmanalikhan93 commented on #824
Hi @bharaaus

We have added these three invoices in register Robin. Please verify at your end and do let us know if you have any question.

Thanks
Usman Ali

[2019-06-24 17:56] Omar1892 commented on #823
It seems to be working fine now. I wasn't deducting the taxes when I was choosing not to. Thanks.

[2019-06-24 17:56] #823 closed

[2019-06-25 06:02] #824 closed

[2019-06-25 06:13] bharaaus commented on #824
Yes ! Fixed.
Thanks

[2019-06-25 06:33] usmanalikhan93 commented on #821
Hi @hitman1986

I have checked your video and discussed this with iPad team. Yes it seems like there is some issue, data is not fetching on iPad. I have reported this and it will be fixed soon. I will update you once this issue pushed on our live server.

Thanks
Usman Ali

[2019-06-25 10:45] usmanalikhan93 commented on #813
Hi @Omar1892

Your reported issue has been fixed. Please verify at your end and do let us know if you have any question.

Thanks
Usman Ali

[2019-06-25 12:58] #786 closed

[2019-06-25 21:31] Omar1892 opened #825 "Sales and Tax Reports Don't Add Up"
Hello,

We've been having issues with this reports for the past year or since we started using the system. I've been told that fixes are on their way but nothing has happened. The screen shots show the sales from April 2019 and Sales from May 2019 are starting to not match with the reports. The only report that acuity makes sense it the "Transaction Log". But we need the reports in the front of th

[2019-06-25 23:18] Omar1892 opened #826 "Check Out Button Frozen"
When ever we try to check out for a sale or when we finish a repair the check out is the only button thats frozen and it won't let us check out.

[2019-06-26 05:40] usmanalikhan93 commented on #826
Hi @Omar1892

I have checked your concern but it's working fine on our end. Can you please attach any screenshot or steps to reproduce this issue so I can look into it ?

[2019-06-26 09:37] #813 closed

[2019-06-27 00:34] Omar1892 commented on #826
Its doing it on the my HP 15 computer. It freezes and it won't let us check out. We have deleted all cookies, history and cache from the computer. But it does it randomly.

[2019-06-27 04:37] usmanalikhan93 commented on #826
Hi @Omar1892

Definitely strange, Let me check again today while testing, If I will face this issue I will get back to you.

[2019-06-27 05:54] usmanalikhan93 commented on #825
Hi @Omar1892

I hope you are doing well. Our support ninja Fahad will contact you on this query and will guide you accordingly.

Thanks
Usman Ali

[2019-06-27 18:10] ben-ihelputech opened #827 "PassCode Field limited to 20 characters."
The password field on the POS window and in the 'Pre / Post Device Condition' tab is limited to 20 characters. This poses a problem when a customer brings a device with a password that is more than 20 characters long or is unsure of one single password.

[2019-06-27 22:03] hitman1986 commented on #821
I hope add this expense tab in ipad app.

[2019-06-28 04:22] usmanalikhan93 commented on #826
Hi @Omar1892

I have checked your concern but I am unable to replicate this on my end. It seems it's working fine. Are you still facing this issue ?

[2019-06-28 06:55] #804 closed

[2019-06-28 10:13] Uzair-RepairDesk commented on #827
Hey @ben-ihelputech

Thank you for your suggestion. I will discuss it with the team about the feasibility of this request and update you soon.

Regards,
Uzair from RepairDesk

[2019-06-28 10:48] #790 closed

[2019-06-28 10:52] Uzair-RepairDesk commented on #765
Hey @bharaaus
We are going to develop a dedicated global inventory search inventory module that will allow you to search inventory item from the popup that will come up from the global search. Hopefully, we will start the development next week.
Please review and share your feedback. Thanks

Check screenshot attached.

![search-inventory-popup-dpdated-1](https://user-images.githubusercontent.com/22

[2019-06-28 10:54] Uzair-RepairDesk commented on #700
We have already made this improvement. You can select a store while setting up the integration now. Thanks

[2019-06-28 10:54] #700 closed

[2019-06-28 10:59] #628 closed

[2019-06-28 11:10] Uzair-RepairDesk commented on #788
We have made this improvement LIVE

[2019-06-28 11:10] #788 closed

[2019-06-29 01:00] bharaaus commented on #765
Thanks, But on your above picture, it doesnt looks like it has smart search option, please make sure to add that in the update

[2019-06-30 22:48] hitman1986 opened #828 "Seling after end shift"
There is an issue selling after end shift without start shift in ipad app

[2019-07-01 04:23] usmanalikhan93 commented on #828
Hi @hitman1986

Can you please provide more information on this ?

[2019-07-01 06:46] usmanalikhan93 commented on #826
Hi again @Omar1892 - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Thanks
Usman Ali

[2019-07-01 06:46] #826 closed

[2019-07-02 00:32] hitman1986 opened #829 "Another time app ipad crash"
Another time ipad app crash when change price ticket from 0 to any price،
Note that this problem was previously resolved by you earlier but returned.

[2019-07-02 00:39] hitman1986 opened #830 "Ipad app crash when search in invoice by customer name"
Ipad app crash when search in invoice by customer name , knowing that not every customer has some customers working properly and some of them crash the app , note : i use arabic language when search

[2019-07-02 00:42] hitman1986 commented on #828
When you end shift in ipad app you can checkout any item without start shift ,this wrong.

[2019-07-02 00:54] hitman1986 opened #831 "Suggestion: purchase order"
Add a reminder of the payment date of the purchase orders.  And to remind the supplier of the payment date

[2019-07-02 00:56] hitman1986 opened #832 "Add payments for purchase order"
I need when add payment to purchase order discount this payment from cash in end shift

[2019-07-02 01:00] hitman1986 commented on #828
Im sorry for bad my English language

[2019-07-02 05:16] usmanalikhan93 commented on #829
Hi @hitman1986
Thank you for bringing this to our attention! It looks like there's a bug that just popped up 🐛.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information! 😃

Thanks
Usman Ali

[2019-07-02 05:17] usmanalikhan93 commented on #830
Hi @hitman1986

Can you specify any customer on which you are getting app crash ?

[2019-07-02 05:46] usmanalikhan93 commented on #828
Hi @hitman1986

Did you checked option of mandatory start shift from web app in Settings > Cash Register > Mandatory to start shift ?

[2019-07-02 06:17] Uzair-RepairDesk commented on #832
Hi @hitman1986
Thank you for your post. When you add payment in a Purchase order, it's actually your expense that you pay to your supplier.
Currently its not automatically logged in RepairDesk however once you add payment in the Purchase order, we suggest to go to the expense and log the same payment value in the expense. You can create an expense code with a relevant name like "Supplier's payment

[2019-07-02 07:01] usmanalikhan93 commented on #828
Hi @hitman1986

Sorry for the misunderstanding. I have checked this with iPad team and this trigger is not implemented yet on iPad. We will work this on future. I will update you once it will be live. For now please start manually before any transaction on iPad app.

Thanks '
Usman Ali

[2019-07-02 11:20] hitman1986 commented on #832
How to make it remind me of the payment date

[2019-07-02 11:25] hitman1986 commented on #832
I hope you will add this feature in the future

[2019-07-02 11:27] hitman1986 commented on #830
الدعجة

[2019-07-02 12:02] usmanalikhan93 commented on #830
Hi @hitman1986

I have checked your concern on iPad and it is working fine. Can you please check it again ? If you still face an issue please send us a video so we can look it into further.

[2019-07-02 13:20] hitman1986 commented on #830
Im sended video to mr danish to explain this issue

[2019-07-02 13:27] usmanalikhan93 commented on #830
Thank you @hitman1986

[2019-07-03 03:48] benjamingartner opened #833 "NEW Feature: Discount For Online Book Ins"
We would like to offer a $ off repairs that are booked online.

It would be good if the option for the widget allows for % or $ off if bookings are made online. This would automatically apply a % or $ discount to the lead generated which could flow onto the invoice.

[2019-07-03 10:37] Uzair-RepairDesk commented on #833
Hey Benjamin @benjamingartner

I really appreciate that you took the time to share your idea.

I can certainly see how the suggested improvements would be useful. We have plan to add a global promotion functionality in RepairDesk where you will be able to apply for promotion on the price for repair categories, specific services, product categories or specific products. We can add a trigger to appl

[2019-07-03 10:40] Uzair-RepairDesk commented on #832
I believe you have already logged it here #831

I hope the above description will assist you in logging expense in RepairDesk when you add payment in RepairDesk. Thanks

[2019-07-03 10:40] #832 closed

[2019-07-04 05:31] usmanalikhan93 commented on #830
Hi @hitman1986

I believe Danish has updated you on this issue. Do let me know if you are still facing this issue.

[2019-07-04 05:55] Uzair-RepairDesk commented on #831
Hi @hitman1986
Thank you for your post. Can you elaborate that how you exactly want to add reminder feature of the payment in purchase order so I can check the feasibility? Thanks

[2019-07-04 11:52] hitman1986 commented on #830
yes im still facing issue
.

[2019-07-04 12:02] usmanalikhan93 commented on #801
Hi @JessicaSOS

This issue has been fixed. iCloud was blocking our ip address that's why this issue happened. Please verify at your end and do let us know if you have any question.

Thanks
Usman Ali

[2019-07-04 12:06] hitman1986 commented on #831
The reminder is displayed on the screen when you open the application or website as how your alert displays an update and display learn more or send email to manager .

[2019-07-05 07:02] usmanalikhan93 commented on #825
Hi @Omar1892

I believe our support guy Fahad has explained you about the scenarios and I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up.

Thanks
Usman Ali

[2019-07-05 07:02] #825 closed

[2019-07-05 07:15] usmanalikhan93 commented on #750
Hi @JessicaSOS

I understand but we have also maintain a standard so only I can say you is that you can use another workaround by creating custom status for that. Those phones which were repaired but not ready for sale, you can change there status by any custom status. And when they are good to sale, you can change back it as "in stock". I hope it will help.

Thanks
Usman Ali

[2019-07-05 07:15] #750 closed

[2019-07-05 10:17] usmanalikhan93 commented on #704
For internal Use:
https://repairdesk.atlassian.net/browse/RB-258

[2019-07-05 10:47] usmanalikhan93 commented on #769
For internal use:
https://repairdesk.atlassian.net/browse/RB-259

[2019-07-06 03:13] benjamingartner opened #834 "Purchase Order Not Displaying on Inventory Admin History"
When i enter into the single page of a part and go to the "Admin History" section at the bottom of the page even though the product is on an active PO it does not show in this section.

From the product page i am unable to identify if the product has been placed onto a PO already. I have to manually open the PO page and go through them to find the product.

[2019-07-08 06:08] usmanalikhan93 commented on #834
Hi @benjamingartner

Thanks for highlighting this concern. Let us check all the scenarios and I will update you once I will discuss this with our product manager.

Thanks
Usman Ali

[2019-07-08 06:11] usmanalikhan93 commented on #829
Hi @hitman1986

I hope you are doing well. Our iPad release has been live. Please update your version. This bug has been resolved. Do let me know if you have any question.

Thanks
Usman Ali

[2019-07-08 06:11] #829 closed

[2019-07-08 06:28] benjamingartner opened #835 "Purchase Order Template"
Default Purchase order template does not display correctly when you add internal notes to the PO.

The internal notes box on the left causes the display errors for the totals on the right when exporting to PDF.

[2019-07-08 06:35] usmanalikhan93 commented on #704
Hi @JessicaSOS

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have any question.

Thanks
Usman Ali

[2019-07-08 06:35] #704 closed

[2019-07-08 13:13] usmanalikhan93 commented on #835
Hi @benjamingartner

Usman Ali here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2019-07-09 03:49] benjamingartner opened #836 "Ticket Task Type is Defaulting to Refurbishment"
Every ticket we create it is defaulting to Refurbishment instead of Walk-in etc.

[2019-07-09 04:27] usmanalikhan93 commented on #836
HI @benjamingartner

Can you provide more information on this ?

[2019-07-09 06:21] usmanalikhan93 commented on #834
For internal use:
https://repairdesk.atlassian.net/browse/REP-2119

[2019-07-09 08:20] benjamingartner commented on #836
This is the default everything is going to when we create new tickets.
![image](https://user-images.githubusercontent.com/39751801/60871464-f9f38100-a271-11e9-9cd3-5ff5728b7132.png)

[2019-07-09 08:21] benjamingartner commented on #836
I dont know why it is defaulting to Refurbishment when these other options are available.
![image](https://user-images.githubusercontent.com/39751801/60871556-2909f280-a272-11e9-8436-414eaf698478.png)

[2019-07-09 09:21] usmanalikhan93 commented on #836
Thanks @benjamingartner

Let me check this.

[2019-07-09 10:01] usmanalikhan93 commented on #836
Hi @benjamingartner

It is just coming as default as it is on top of the list I think.

[2019-07-10 10:29] usmanalikhan93 commented on #835
Hi @benjamingartner

Your reported issue has been fixed. Please verify at your end and do let us know if you have any question.

Thanks
Usman Ali

[2019-07-10 10:50] benjamingartner commented on #835
Thank you.

[2019-07-10 10:50] #835 closed

[2019-07-10 10:54] benjamingartner opened #837 "Allow for multiple 'Manufacturer' and 'Devices' to be selected"
Currently if i was to create a new product like a Wireless Charger for mobile phones which works for both Samsung and Apple devices (etc) it only allows for one to be selected.

It would be better if the options were box selections to allow for multiple selections.

![image](https://user-images.githubusercontent.com/39751801/60963668-faf4e300-a343-11e9-9801-4ee72661b821.png)

[2019-07-10 11:00] BG-RLTech opened #838 "Mailchimp Tags in RD"
We have recently started organising our customers in Mailchimp with tags, Such as Apple, iPhone X, Education, Commercial etc.

It would be handy to select the Tag within RD upon creation so it automatically assigns that Tag in Mailchimp.

When we create a campaign in Mailchimp and select the Tag it has already populated from RD.

[2019-07-10 11:06] benjamingartner opened #839 "Predicted Date covers actual Calendar In PO "Add Payment""
When you select "Add Payment" to the Purchase Order section the pop up window appears.

If you select the date field the calendat normally pops down for a selection to be made.

Recently a predictive popup appears with dates that covers the calendar.

![image](https://user-images.githubusercontent.com/39751801/60964417-db5eba00-a345-11e9-89bf-19424eb13f82.png)

[2019-07-10 11:21] benjamingartner commented on #836
This seems to be fixed.

[2019-07-10 11:21] #836 closed

[2019-07-10 11:42] usmanalikhan93 commented on #839
Hi @benjamingartner

Thank you for bringing this to our attention! I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information! For now you can press "esc" button and then select date.

For internal use:
https://repairdesk.atlassian.net/browse/RB-273

Thanks
Usman Ali

[2019-07-10 11:58] Uzair-RepairDesk commented on #837
Hey Benjamin @benjamingartner

Thank you for sharing your idea. Currently, you can associate a single item with multiple devices. If you want to add it with a different manufacturer we advise to add a new product with a different manufacturer and its supported devices.

We are not able to allow selection of multiple manufacturers because of cross impacts while a selection of Manufacturer and its a

[2019-07-10 11:58] #837 closed

[2019-07-10 12:07] Uzair-RepairDesk commented on #838
Hi Benjamin @benjamingartner

I really appreciate that you took the time to share your idea. Currently, our MailChimp integration is supported with a single list of MailChimp. Once you select the list while integrating it with RepairDesk, all the customers sync to that specific list.
You can find more information from the following link:-
https://repairdesk.uservoice.com/knowledgebase/articles/119

[2019-07-11 08:58] BG-RLTech opened #840 "Merge Customers"
We are seeing a number of customer with duplicate entries, one with an email address and another with mobile number under the same name.

Can you merge contact to save having to manually enter each ticket and change over etc.

[2019-07-11 08:59] benjamingartner opened #841 "Correct Format for Mobile Number"
We have found many of our customer profiles has the mobile number in the incorrect format.

Is there a way the 0 can be removed and +61 added without doing it manually?

[2019-07-11 11:24] usmanalikhan93 commented on #840
Hi @benjamingartner

It will be difficult to merge these because it may cause any issue in tickets data. Anyhow I will discuss this with relevant developer for the feasibility and I will update you on Monday.

[2019-07-11 11:25] usmanalikhan93 commented on #841
Hi @benjamingartner

Let me discuss this with relevant developer whether it can be done or not.

[2019-07-11 11:43] benjamingartner commented on #840
Thanks Usman, basically i am having to open one of the customers. Edit the ticket and re-search for the correct customer. Surely this process can be automated if you tick two customers and select which one you want to make primary? Maybe not i just thought if the process can be done manually maybe it can be done automatically.

Cheers for considering.
![image](https://user-images.githubusercontent

[2019-07-11 11:53] benjamingartner opened #842 "Repair Widget Mobile Phone Field"
The Mobile Phone Number field on the Repair Widget is the cause of alot of our customers being entered into our database incorrectly.

It would be good if this saved the mobile number (0424******) in the correct format as required by RD (+61 424******) instead of just how it was entered.

![image](https://user-images.githubusercontent.com/39751801/61048770-62c72e80-a415-11e9-80ed-074cf63df164.png)

[2019-07-12 00:58] BG-RLTech opened #843 "SMS Broadcast Two Way SMS Integration"
Looking to enable the SMS Broadcast 2 Way Message integration a few questions before we pay out.

Scenario 1: We advertise the mobile number and a customer initiates a sms (not rply message) what happens to that message? Does it go to RepairDesk? If so how does it display/be received.

Scenario 2: We send the customer a message and the customer reply's. Is it the case of:
- If the message is sent

[2019-07-12 02:07] benjamingartner opened #844 "Appointment Reminder SMS"
Can you automate a SMS reminder to be sent to a customer that has a lead/repair booked in 1 hour before the appointment time?

Also if you have 2 Way SMS Integration with that appointment reminder you can include the following.

"Simply reply with 'book' to keep your appointment or 'cancel' and we will phone to re-schedule.

[2019-07-12 02:15] BG-RLTech opened #845 "Response Emails Saving In RD"
We have found with the 2 Way Messaging customers responses to messages automatically save in RD in a tree like conversation. This feature is amazing and shows continuity of conversation.

Can this same process be applied to the email functions. If we send a email and the customer replies it is saved in the location the email was sent from (Customer Profile, Ticket, Lead).

There is currently no pr

[2019-07-12 04:11] lopugit opened #846 "Import/export support for serialized items"
When exporting/importing your inventory using excel, serialized items are not included, it would be really good if you could edit serialized items through excel too! because right now incrementing quantity, then adding serialized item takes quite a while.

maybe the excel sheet could have a column for parentItemNo which links the child/serialized item with that parent

[2019-07-12 04:12] lopugit opened #847 "PUT/POST api for inventory"
Managing serialized inventory has been a pain for us.

the GET /inventory api returns something like this

{
"prod_type": "1",
"id": "15573890",
"item_no": "1869",
"name": "DC in Board",
"sku": "",
"upc_code": "",
"in_stock": "1",
"tax_inclusive": "1",
"tax_class": {
"tax_class": "",
"id": "0",
"tax_percent": ""
},
"warranty": "",
"warranty_timeframe": "",
"supplier": "",
"description": "",
"image

[2019-07-12 05:14] usmanalikhan93 commented on #842
Hi @benjamingartner

You can change it by unchecked the trigger in Appointment Calendar "Pick phone number in any format". It will resolve your issue. Settings > Integrations > Appointment Calendar > Configuration. Please check Screen shot for reference.
![Github-842](https://user-images.githubusercontent.com/39614480/61103977-ddcc2b80-a48d-11e9-8de2-ab5c37242234.png)

[2019-07-12 05:28] usmanalikhan93 commented on #840
@Uzair-RepairDesk can you please review this ?

[2019-07-12 06:43] usmanalikhan93 commented on #830
Hey @hitman1986

Just wanted to confirm are you still facing this issue ?

[2019-07-12 11:25] Uzair-RepairDesk commented on #845
Hi @benjamingartner

Thank you for your appreciation regarding 2 way SMS functionality and sharing your idea regarding email.
We are already aware of the above request however 2-way email needs our own "Email Server" that required extra resources and involved cost factor. 2 way SMS is possible because we have integrated RepairDesk with 3rd party service providers. Based on our current pricing mode

[2019-07-12 11:37] Uzair-RepairDesk commented on #843
Hi Benjamin, @benjamingartner

Please find answers to your each question below:-

Scenario 1: We advertise the mobile number and a customer initiates a sms (not rply message) what happens to that message? Does it go to RepairDesk? If so how does it display/be received.
**It's not possible to directly receive SMS. Since SMS Broadcast is 3rd party integration for 2-way SMS so you need to send a requ

[2019-07-12 11:45] Uzair-RepairDesk commented on #840
Hey Benjamin @benjamingartner

Currently, it's not possible to merge the customers in RepairDesk. We recommend the following solution if you find a duplicate customer in RepairDesk.
You can edit its ticket and invoices and mark with the primary customer details. Once you do that you can update details of the primary customer and delete the secondary customer.

Hope it helps.

However, I am marking

[2019-07-12 12:08] Uzair-RepairDesk commented on #844
Hey Benjamin @benjamingartner

I really appreciate that you took the time to share your ideas. I can certainly see how the suggested improvements would be useful. It will certainly add value and help you to close the lead from the customer.
Currently, it's not possible to set it with specific time however you can use the following two functionalities to make it work for you.

1: You can set a noti

[2019-07-12 12:13] Uzair-RepairDesk commented on #846
Hi @lopugit

I really appreciate that you took the time to share your idea.

I can certainly see how the suggested improvements would be useful. It will certainly save time and effort to create serials however there are multiple criteria's available to create serials that are not possible to add with excel file to import items in bulk.
At the moment, we won’t be able to make this one work during o

[2019-07-13 18:02] BRZLab opened #848 "VAT - incorrect rounding"
Repairdesk is incorrectly rounding the vat.

**Actual calcution**
Cost: 102,39
VAT (21%):  21,5019
Total:  123,89

**Repairdesk calculation**:
Cost 102.39
VAT (21%): 21,51
Total: 123,90

It's not a big difference, but its creating minor inconsistencies with our corporate customers and is not in line with tax regulations. (NL)

Background:
3rd number behind the comma decides whether the figure is r

[2019-07-15 05:09] cupell08 opened #849 "Woocomerce integration enabled by default on new items"
Can there please be an option to have Woocomerce integration enabled by default on new items created?

[2019-07-15 06:40] usmanalikhan93 commented on #842
Hi again @benjamingartner - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2019-07-15 06:40] #842 closed

[2019-07-15 06:40] usmanalikhan93 commented on #830
Hi again @hitman1986  - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2019-07-15 06:40] #830 closed

[2019-07-15 07:00] usmanalikhan93 commented on #848
Hi @BRZLab

I have reviewed your concern but it is working fine. You can check this in video it's calculating correctly.
Video link: https://drive.google.com/file/d/1armhugkWXDNplPyJTSLq8XxeYm_afQdL/view

[2019-07-15 11:04] usmanalikhan93 commented on #841
Hi @benjamingartner

We have added +61 where 0 is in start of the number. Please check this at your end and do let me know if you have any question.

Thanks
Usman Ali.

[2019-07-15 11:58] usmanalikhan93 commented on #839
Hi @benjamingartner

Your reported issue has been fixed. Please verify at your end and do let us know if you have any question.

Thanks
Usman Ali

[2019-07-15 11:58] #839 closed

[2019-07-15 12:57] usmanalikhan93 commented on #834
Hi @benjamingartner

We have added PO history in inventory item. Please verify at your end and do let us know if you have any question.

Thanks
Usman Ali

[2019-07-15 13:00] Uzair-RepairDesk commented on #849
Hi @cupell08

Thank you for sharing your idea. Currently, we allow marking specific categories to sync with the woocommerce.
It's not always necessary that user wants to sync a new item automatically so we didn't add a default option to sync a new item with woocommerce. However, while adding a new item, there is an option available to mark an item to sync with woocommerce under "Triggers". You can

[2019-07-15 13:01] Uzair-RepairDesk commented on #847
@usmanalikhan93
Can you please check with the product development team about the possibility of the above API. Thanks

[2019-07-15 19:28] JessicaSOS opened #850 "Note to customer in ticket message section"
Regularly and randomly, we are not able to send an email to the customer via a ticket. We are not able to enter a private note or diagnostic note. In short, nothing is accessible except the first column "all". We can send emails to employees, but not write diagnostic notes or contact the customer via the ticket. Here is some example:
SOS Phone Lévis: LE-4826
SOS Phone Ste-Foy: F-4939

Thank you an

[2019-07-15 19:43] JessicaSOS opened #851 "Keyboard shortcuts in trade-in section"
Hello,
Since a few days, we are no longer able to click on "enter" to start the search, for fields circled in red in the attachment. This is the tradein section. To start the search, we must absolutely click on the "search" button in blue with our mouse instead of clicking on the "enter" button on our keyboard. Fields that are not outlined in red work well with the "enter" key. Before, all the fie

[2019-07-15 20:16] Omar1892 opened #852 "Refurbishment Batch"
Hello,

I'm having an issue with the adding parts to a Refurbish Batch. A category and parts have been created for this especific category. This issue happens for iPhone 7 when I try to add any parts to the batch. The Select Device Problem doesn't appear altho their are parts already signed to this category. For the iPhone 6 it works just fine.

![Screen Shot 2019-07-15 at 11 38 15 AM](https://use

[2019-07-15 20:21] Omar1892 opened #853 "UNLOCKING TAB"
I have an issue with writing notes when adding a new unlock to the unlocking tab. As you can see in the screen shot the description of what it is that has to be done to unlock or to offer the service is pretty crowded. When I try to space them out in the instruction box it does it but when I save the info entered it gets really crowed and it makes it harder for the person to do the unlock to read

[2019-07-16 04:21] benjamingartner commented on #841
Hi Usman, for the most part this seems to have worked however there are quiet a few anomolies like the attached which i will have to go through and rectify. But not as many as doing it the other way.
![image](https://user-images.githubusercontent.com/39751801/61265736-2c4a3480-a7c4-11e9-915d-a84075a3b6f5.png)

My bigger problem is since having this fix done we seem to have lost our customised 'Ite

[2019-07-16 04:38] Uzair-RepairDesk commented on #852
Hi @Omar1892

Repair service is associated with the device of the serial. When you select a serial and there is a specific device, you are able to see the device problem. When you select the problem and create a ticket from refurbishment batch, then the part is automatically populated on the ticket if it is bundled with the repair service.
You can find more information regarding refurbishment batc

[2019-07-16 04:59] benjamingartner commented on #841
PLEASE UNDO WHAT EVER YOU HAVE DONE!

Not sure what was changed but all of our custom settings have gone also. The customised payment options we set up have gone also, there were others populated here.

![image](https://user-images.githubusercontent.com/39751801/61267225-987b6700-a7c9-11e9-866a-3ec03665dd08.png)

[2019-07-16 06:09] usmanalikhan93 commented on #841
Hi @benjamingartner

Sorry for the trouble. It was not because of phone number fix. Let me investigate this case what happened to inventory condition. I will update you once I get more info from development team.

[2019-07-16 06:10] #834 closed

[2019-07-16 06:41] usmanalikhan93 commented on #851
Hi @JessicaSOS

Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!

Thanks
Usman Ali

For internal Use:
https://repairdesk.atlassian.net/browse/RB-299

[2019-07-16 07:39] usmanalikhan93 commented on #850
Hey @JessicaSOS ,

Usman Ali here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

Thanks
Usman Ali

[2019-07-16 07:54] usmanalikhan93 commented on #850
For internal use:
https://repairdesk.atlassian.net/browse/RB-301

[2019-07-16 12:51] hitman1986 commented on #821
It sloved thank you and thank to mr danish

[2019-07-16 12:51] #821 closed

[2019-07-16 20:54] JessicaSOS commented on #706
Hello,
Several TAGs still do not work. It really does not work when we send messages to customers. When will it be corrected? It was planned for March but it was not done. I followed you in May, but I never got a return. When will it be done? This is a problem and I think I have been patient ...
--
_French:
bonjour,
Plusieurs TAG ne fonctionennt toujours pas. Ça ne fait vraiment pas professionel l

[2019-07-16 20:58] JessicaSOS commented on #735
reopen please... nothing is fixed yet....

[2019-07-16 21:15] Omar1892 commented on #852
Im going to close the issue for now and have one of the reps help understand how it works. If anything ill get back to you guys. Thank you.

[2019-07-16 21:15] #852 closed

[2019-07-16 21:59] Omar1892 opened #854 "PARTS ARE SHOWING IN THE ACCESSORIES TAB"
Hello,

The repair parts are showing in the wrong tab. Parts are showing in the accessories tab but the parts show no inventory in this section. But when you look in the parts tab and click on the galaxy parts it does show that we have parts. I would like the galaxy parts not to show on the accessory tab
![Screen Shot 2019-07-16 at 2 55 34 PM](https://user-images.githubusercontent.com/47898011/613

[2019-07-17 02:31] benjamingartner opened #855 "Due Time Does Not Remove Time From Appointment Calendar"
If we open Repair - Manage Tickets and view all our current outstanding tickets.

If we proceed to the 'Due Time' field and change that to a date in the future, it does not remove that time from the appointment calendar on our website.

This means that we are getting double bookings and it is causing a backlog.

Can this be changed to block out the time on the appointment calendar?

[2019-07-17 05:32] Uzair-RepairDesk commented on #706
Hey @JessicaSOS

We already updated macro's that you highlighted. We also updated macro's in other email templates as well. However, if it's not working for you then please highlight the email template and macro's that are not working and I will get it fixed for you.

Thank you for your patience. Appreciate it.

[2019-07-17 05:46] Uzair-RepairDesk commented on #855
Hey @benjamingartner

There is no direct relation of Manage tickets with Appointment widget.
We have separate configurations available in the Appointment calendar widget. You can set your schedule of appointment with specific time slots or time windows (i.e. based on your store timings). You can also mark "Number of booking per slot" to avoid the multiple appointments at one time.

You can go to *

[2019-07-17 05:49] usmanalikhan93 commented on #854
Hi @Omar1892

I hope you are doing well. I have assigned this task to development team. I will update you once I get more info on this.

[2019-07-17 05:52] usmanalikhan93 commented on #854
For internal use:
https://repairdesk.atlassian.net/browse/RB-292

[2019-07-17 05:54] usmanalikhan93 commented on #848
Hi again @BRZLab  - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Thanks
Usman Ali

[2019-07-17 05:54] #848 closed

[2019-07-17 06:49] usmanalikhan93 commented on #851
Hi @JessicaSOS

We have added some validations against these fields that only number will be acceptable. That's why it is taking Enter as special character and do not work. It is in library which we were using for the validation. So developer said you have to click on search button.

[2019-07-17 07:21] usmanalikhan93 commented on #854
Hi @Omar1892

Developer said "Manufacturers are mutual between Repairs and Accessories. Currently it is not possible to hide it from Accessories only."

[2019-07-17 10:19] Uzair-RepairDesk commented on #847
Hi @lopugit

I have checked with our CTO about your above request. Currently, it's not possible to provide the above-required POST API for serialized items. We have multiple criteria's available in serialized inventory that can make an API complicated.

However, I have logged your request under enhancements so we can either provide required POST API or proceed with import/export functionality for

[2019-07-17 13:39] JessicaSOS commented on #851
Perfect, I wait for your news.

[2019-07-17 13:43] JessicaSOS commented on #706
I have seen lately that it was not fixed, but you mention me that it is suposed to be reglued in all the issue # enumerated previously?

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579> 418 999.1579 |  <tel:4506771579> 450 677.1579 |  <tel:18559991579> 1 855 999.1579
 <mailto:jessica@sosphone.ca> jessica@sosphone.ca
 <https://sosphone.ca/?utm_source=signature&utm_medium=urlsite&utm_co

[2019-07-17 13:43] JessicaSOS commented on #706
I have seen lately that it was not fixed, but you mention me that it is suposed to be reglued in all the issue # enumerated previously?

[2019-07-17 15:43] Omar1892 commented on #853
??

[2019-07-17 15:46] Omar1892 commented on #854
But it isn't showing any inventory in that tab and we have inventory that tab in the part section. Is their any way that, that tab can be removed from the accessories section since its causing confusion? I don't want to get rid of any inventory in this tab just not to show in the Accessories side.

[2019-07-18 05:25] usmanalikhan93 commented on #853
Hi @Omar1892

Sorry for the delay. Let me check this for you.

[2019-07-18 06:23] usmanalikhan93 commented on #853
Hi @Omar1892

I have checked with developer and he said it can be done. I will schedule this for next week. I will update you once it will be done.

Thanks
Usman Ali

[2019-07-18 06:33] usmanalikhan93 commented on #853
For internal use:
https://repairdesk.atlassian.net/browse/RB-311

[2019-07-18 10:34] usmanalikhan93 commented on #850
Hi @JessicaSOS

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-07-18 10:36] usmanalikhan93 commented on #851
Hi @JessicaSOS

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-07-18 10:40] usmanalikhan93 commented on #769
Hi @JessicaSOS

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-07-18 11:02] usmanalikhan93 commented on #841
Hi @benjamingartner

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let Danish know if you have any question.

Thanks!
Usman Ali

[2019-07-18 11:05] benjamingartner commented on #841
I noticed the conditions came back Yesterday. I allocated about 50 products again. I just noticed 10 minutes ago you wiped them all. Is that final now. I can start repopulating our item conditions for every product?

[2019-07-18 13:03] Uzair-RepairDesk commented on #827
Hi @ben-ihelputech

I am pleased to inform you that we have increase limit of passcode field to 30 characters.

Please review at your end. Thanks

[2019-07-18 13:03] #827 closed

[2019-07-18 15:48] JessicaSOS commented on #695
tested and fixed

[2019-07-18 17:27] JessicaSOS opened #856 "Still problems in employee commissions"
The commissions on the accessories should be to the person who made the sale, and the commissions on the repairs should be to the person who is assigned the repair.

Employee commissions are set as follows in the settings: 1% repairs and 5% accessories.

Stacey was at SOS Phone Sainte-Foy on July 16th and worked all day. When I look at her commission report, it's as if she did not make any commiss

[2019-07-18 17:46] JessicaSOS opened #857 "more than 20 item in a purchase (trade in)"
It is impossible to add more than 20 phones in a single purchase. The 20th device always erases the 19th.

It was 20 item maximum yesterday and 23 item maximum 2 weeks ago. I tried different days, different computers and different items.

_--
french:
Il est impossible d'ajouter plus de 20 téléphones dans un même achat. Le 20ème appareil efface toujours le 19ème.

C'était 20 item maximum hier et 23

[2019-07-18 18:00] JessicaSOS opened #858 "Cost price not the same in each store"
Hello,
When we transfer inter-branch items, we have noticed that some products have no cost price. Yet, by going to see the item (example # 11137) we can see that there is indeed a cost. The problem is that the cost is not in all shops. As if he had gone to Limoilou's shop only. Many items are like that. Can you correct the problem please.
<img width="946" alt="From Lévis to Limoilou item #11137"

[2019-07-18 18:06] JessicaSOS opened #859 "Price that appears on the customers facing display"
Hello,
the price that appears on the iPad signing customers is not good. This is the selling price before taxes plus the first tax. Its should be the price before or after both taxes. Can you correct please.
![price on iPad](https://user-images.githubusercontent.com/40500094/61480848-e11b5780-a964-11e9-9106-b3d873f42e58.jpg)
<img width="933" alt="LG-372" src="https://user-images.githubusercontent.

[2019-07-18 18:45] Omar1892 commented on #853
Sounds good thank you!

[2019-07-18 20:49] usmanalikhan93 commented on #841
Hi @benjamin

Yes it is final now. You can add item conditions in products.

[2019-07-19 01:18] BG-RLTech opened #860 "Customer facing display no signature"
The signature is only working some customers, and not at all for the converted leads.

[2019-07-19 04:40] Uzair-RepairDesk commented on #859
@usmanalikhan93
This could be the case in case of dual tax. Please get it checked with Afnan today and give a hotfix by Uzair dev. Thanks

[2019-07-19 04:42] usmanalikhan93 commented on #859
Sure @Uzair-RepairDesk

[2019-07-19 04:42] Uzair-RepairDesk commented on #860
Hey Benjamin, @benjamingartner

Can you please elaborate? Is there any specific case when it doesn't work for you?

Your detailed description with screenshots will be highly appreciated. Thanks

[2019-07-19 05:22] #851 closed

[2019-07-19 05:22] #850 closed

[2019-07-19 05:22] #841 closed

[2019-07-19 05:23] #769 closed

[2019-07-19 05:25] usmanalikhan93 commented on #857
Hey @JessicaSOS

Usman Ali here, Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

Thanks
Usman Ali

[2019-07-19 06:39] usmanalikhan93 commented on #857
For internal use:
https://repairdesk.atlassian.net/browse/RB-320

[2019-07-19 07:14] usmanalikhan93 commented on #859
For internal use:
https://repairdesk.atlassian.net/browse/RB-321

[2019-07-19 07:45] usmanalikhan93 commented on #856
Hey @JessicaSOS

Usman Ali here, Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

Thanks
Usman Ali

[2019-07-19 10:13] usmanalikhan93 commented on #858
Hi @JessicaSOS

Every store has it's own inventory cost price. Cost price doesn't sync between stores. That's why you are seeing item cost 0 in second store. You have to manually update in store to store.

[2019-07-19 13:31] JessicaSOS commented on #858
But the costing item was put in item # 11137 in Limoilou's shop at $ 259.48 and then the item was transferred to Inventory Transfer # TO-3790. In the transfer, we can see that the cost is $ 0. it's not normal. The transfer was made after adjusting the cost price.
See picture:
<img width="946" alt="#11137 sos phone LImoilou history" src="https://user-images.githubusercontent.com/40500094/61538584-b

[2019-07-19 22:46] Omar1892 opened #861 "Refurbishment Ticket Costumer info"
We are having issues when we edit the refurbishment ticket. Once edited it ask us to enter the costumer info. But their is no costumer, so were just putting our business info as a costumer if we don't do it this way it won't let us save the ticket with the parts that where add it to the repair. We have enable the setting for any new ticket that is created for costumer information to be taken. Coul

[2019-07-19 23:20] Omar1892 commented on #861
![Screen Shot 2019-07-19 at 3 41 53 PM](https://user-images.githubusercontent.com/47898011/61570379-08475700-aa41-11e9-8236-1e713d948c9e.png)

This is where it ask us to enter the costumer info.

[2019-07-20 01:32] bharaaus commented on #766
Guys !
This is so frustating that this issue is not fixed yet.

Everytime I had to go to settings>product category> then rechoose the model to add under that category , which should be added by itself.

and i have already disucussed with you that when we make new model in pop up menu, it doesn't have option to choose category, that is why new model doens't sit under any category.

Are you guys wil

[2019-07-23 09:20] usmanalikhan93 commented on #854
Hi @Omar1892

For now it is impossible according to developer. And I hope Fahad has also guided you on this piece.

[2019-07-23 09:23] usmanalikhan93 commented on #766
Hi @bharaaus

We are doing internal QA of Repairs section and I will try to accommodate this task in it once I get approval by our product manager. I will update you once I have more information on this.

Thanks
Usman Ali

[2019-07-23 09:26] usmanalikhan93 commented on #858
Hi @JessicaSOS

Ok let me check with this case.

[2019-07-23 09:35] usmanalikhan93 commented on #858
Hi @JessicaSOS

I believe this issue has been fixed on 15th July 2019. There is some case in which it was causing cost price as 0. Can you give it another try and let me know it it works or not. Because I have checked and it is working for me. I will wait for your response.

Thanks
Usman Ali

[2019-07-23 09:37] usmanalikhan93 commented on #860
Hi again @BG-RLTech - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Thanks
Usman Ali

[2019-07-23 09:37] #860 closed

[2019-07-23 09:55] usmanalikhan93 commented on #861
Hi @Omar1892

Yes you are right basically ticket page is same on which you are adding repair. So when you mark mandatory customer information, you can't save ticket without it.

[2019-07-23 10:30] rajeshdungrani opened #862 "Modify Inventory Adjustment Report"
I would like you to add Item Name and Cost in Inventory adjustment report.
![image](https://user-images.githubusercontent.com/12892217/61705210-fcba9f80-ad62-11e9-82db-56d931edf6c9.png)

[2019-07-23 10:49] rajeshdungrani opened #863 "Need on the Fly Item Purchase"
In your current system, we need to raise a PO to purchase items and then receive the items. Now at times we have to do on the fly purchases. Like I need Iphone X LCD urgently, I wud purchase it on the shelf by paying cash. Here I do not need to send any purchase order.
Request you to provide option for Parts purchase without raising purchase order

[2019-07-23 12:12] rajeshdungrani opened #864 "All items appear when adding Item line"
When we add Parts on edit ticket, and search for parts all parts are visible. For e.g If have created a ticket for Iphone X, and after diagnosis I require Battery for Iphone X, I would go to Add Item and try to add battery for Iphone X. Now when I type battery in search box, it shows all batteries of all models which are present.
![image](https://user-images.githubusercontent.com/12892217/61711240

[2019-07-23 14:12] JessicaSOS commented on #858
It was not the same problem, but I will watch and come back to you.

[2019-07-23 17:26] Omar1892 commented on #861
It would be good to have an option that it won't make it mandatory for Refurbishing tickets only.

[2019-07-23 17:27] #861 closed

[2019-07-23 17:28] #854 closed

[2019-07-23 17:29] #812 closed

[2019-07-24 05:43] usmanalikhan93 commented on #536
Hi @phonefixdfw

I hope you are doing well. I have discussed this with developer and he said, for now we cannot do it store wise as it may cause problem in existing functionality. And for point 2 regarding flag, he said, Clickatell does not send us any response like Sendgrid send response for our emails tracking, So it is not possible to that.

Thanks
Usman Ali.

[2019-07-24 05:43] #536 closed

[2019-07-24 06:02] rajeshdungrani commented on #534
Hi @Uzair-RepairDesk
Since you already have the feature in Manage Ticket section, I would also like to have auto create function enabled from POS section. The solution you mentioned is a work around, which we can use till you enable that functionality. Workaround cannot be permanent solution.

[2019-07-24 06:04] usmanalikhan93 opened #865 "Problem task's price issue on POS - Marcus Cupello"
Example:

Change iPhone 8 Screen Repair price from $159 to $149 on main store.

On POS it shows $149 at main store , but other stores shows $159 . But if you add to ticket , shows accurate price . And if you look in manage  repair , shows accurate price

[2019-07-24 06:09] usmanalikhan93 commented on #865
For internal use:
https://repairdesk.atlassian.net/browse/RB-330

[2019-07-24 14:23] JessicaSOS commented on #416
Hello,
I have several comments to follow the use of "dispatch". Before you share it, can you settle those I previously told you? Here they are:

**In the calendar section:**
1- the names of the clients do not appear. The majority are in "walkin customer"
2- Critical files should appear by default first since they are late, they must be done immediately. They should appear in red.
3- When the ticke

[2019-07-24 15:25] Omar1892 opened #866 "INVOICE EMIALS ARE NOT BEEN SENT"
Hello,

Email ticket aren't been received once tickets are created and are sent by us to costumers.

![Screen Shot 2019-07-23 at 5 25 07 PM](https://user-images.githubusercontent.com/47898011/61806410-75197300-adec-11e9-906a-ad991e7851e7.png)
![Screen Shot 2019-07-23 at 5 24 56 PM](https://user-images.githubusercontent.com/47898011/61806418-777bcd00-adec-11e9-800c-7a78a2de1a5a.png)

[2019-07-25 01:01] BG-RLTech opened #867 "Error 524 When opening new tab"
So perform the below actions and get a Error 524 page on the new tab.

Inventory > Manage Inventory > Mobile Accessories and Parts > Right Click on Item ID > Open Link In New Tab.

I get the below page every time and i was wondering if this is a RD problem or specific to my computer.
![image](https://user-images.githubusercontent.com/39751801/61838279-22f35300-aebb-11e9-8ca2-25e39f052da9.png)

[2019-07-25 05:46] usmanalikhan93 commented on #867
Hi @BG-RLTech

Sorry for the inconvenience you faced. It may be server glitch. Can you please check now and inform whether you are still facing this issue or not. Waiting for your reply.

Thanks
Usman Ali

[2019-07-25 05:48] usmanalikhan93 commented on #866
Hey @Omar1892

Usman Ali here, Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2019-07-25 05:48] BG-RLTech commented on #867
Please disregard this is rectified

[2019-07-25 05:48] #867 closed

[2019-07-25 07:23] usmanalikhan93 commented on #866
Hi @Omar1892

I have checked your concern but it is working fine on my test account. Can you please check triggers in Email and Notifications ?

[2019-07-25 08:46] Repair-Desk opened #868 "Minor Improvements In Customer Search"
You should be able to search customer by organization name. Also if you've created a customer group and added contact person name you should be able to search by contact person name

[2019-07-25 08:50] Repair-Desk opened #869 "Add Customer - Custom Fields"
When adding or editing a customer profile there should be an option to customize this form.

- It would be handy to add secondary contact mobile number
- Also it would be handy to make some fields mandatory
- Lastly it would be great if we can choose which items should display on the first page

[2019-07-25 08:54] Repair-Desk opened #870 "Multiple terms & conditions"
There should be able to add multiple terms and conditions and based on a category chosen **(repair, bill payment, accessories, mobile)** at time of checkout RepairDesk should display terms and conditions on service receipt or an invoice.

[2019-07-25 08:56] Repair-Desk opened #871 "Display Store Logo On Customer Portal & RepairDesk Login Page"
With the custom sub-domains now, is it possible to have our own logo on the login page.

[2019-07-26 06:26] rajeshdungrani commented on #868
Infact, we shud be able to search customer by all fields that we enter in customer details like - City, Network Type, referred by. Since we are feeding all details, let all fields be available in search option

[2019-07-26 06:30] rajeshdungrani commented on #863
No update from team???

[2019-07-26 06:31] rajeshdungrani commented on #862
Waiting for an update

[2019-07-27 05:03] mobilebarn commented on #840
Surely there has to be a way @Uzair-RepairDesk ? This is a badly needed feature, one that would benefit many.

[2019-07-27 05:08] mobilebarn opened #872 "universal settings for multi-store"
Hey guys, can we implement a feature that allows the settings to be synced across all stores so each stores logo and terms and conditions ect. are all the same and dont have to be setup for each store.

[2019-07-27 05:11] mobilebarn opened #873 "hide part cost on ios app"
can we have the ability to hide the part cost on ios app, so if customer is standing with you they dont see :)

[2019-07-27 05:17] mobilebarn opened #874 "Improvement in Mail Chimp for Single or Multi-stores"
does mailchimp integration work with multi store and if not is this something you could add to your roadmap

[2019-07-27 05:23] mobilebarn opened #875 "dont allow a sale untill a shift is started in pos"
hey guys is there any way to not allow a sale when a register is not opened?

[2019-07-27 05:31] mobilebarn commented on #833
nice idea! Perfect addition for marketr

[2019-07-27 05:36] mobilebarn commented on #875
found the setting guys :)

[2019-07-27 05:36] #875 closed

[2019-07-27 08:55] Repair-Desk commented on #874
Hello @mobilebarn 👋

Happy to help with this! At present, our mailchimp integration doesn't work with multiple stores.

This do sounds like a great idea! I could see adding support for multiple stores will be super useful for a ton of merchants who has more than one store location where they would like to create Google listing for an individual store and direct customers to leave review there.

I

[2019-07-27 08:56] Repair-Desk commented on #873
@mobilebarn

Are you referring to the iPAD POS app or mobile app?

[2019-07-27 09:02] Repair-Desk commented on #862
**Hello @rajeshdungrani 👋**

Happy to help with this. At present, if you click on inventory adjustment ID e.g. Adj-005 which is in blue color in your shared screenshot it opens a detailed report that displays item name, unit cost and other details.

Since each inventory adjustment report can have multiple items it will create confusion for other merchants when they're looking at this report.

With

[2019-07-27 09:03] #862 closed

[2019-07-27 09:05] Repair-Desk commented on #864
@Uzair-RepairDesk Is it possible to display iPhone X parts first? I believe when you click on the parts it should automatically start display iPhone X parts so its easier for user to pick one.

Please also check with Imran if it will not slow down the search or have any other issues

[2019-07-27 09:06] Repair-Desk opened #876 "Ticket Listing - Option to filter tickets by Network"
We should add another criteria which allow merchants to search for customer profile through customer network

[2019-07-27 09:12] Repair-Desk opened #877 "Minor Improvement In Inventory Summary Report"
It would be great if we can display total inventory value along with total inventory items on top of inventory summary report.

Currently a user has to download the inventory summary report to view this info

[2019-07-27 10:04] mobilebarn commented on #873
iPad pos app. I noticed since we made our pos all organised and pretty with pictures the customers tend to watch as we book them in and at the inventory selection screen the part cost is visible

[2019-07-27 10:06] mobilebarn commented on #873
Btw we use our iPad POS as a backup to main terminals that utilize the web app on a PC when busy. Thats the only reason customers see the iPad and what were booking in as we're usually on the shop floor with them :)

[2019-07-27 17:41] ben-ihelputech opened #878 "Tickets panel is always hiding closed tickets"
When I search for a customer who's ticket has closed out, it will always hide the ticket regardless of whether or not the "Hide Tickets" button is checked. This is frustrating as it makes it difficult to search for a customer's ticket when you need to reference something.

[2019-07-28 18:55] Repair-Desk commented on #878
Hello @ben-ihelputech,

Happy to help with this. Can you please check if you've following trigger switched on "Hide Closed &: Cancelled Ticket on Listing page"

In the meantime I'll work with the development team so that even if a trigger is switched on and you search for a closed ticket it should display in search results.

[2019-07-28 18:58] Repair-Desk opened #879 "Option to add notes against line item & overall discount"
When adding a discount there should be an option for employees to add notes against a discount so admin can review it later.

Also a dedicated report or a filter inside a report that lets you view discounted report will be super helpful.

In case of overall discount we let customers enter discount in a popup window.

[2019-07-28 19:42] Repair-Desk opened #880 "Self Check-In - Customer Phone number should automatically add +1"
I think I am having issues with the sms service, it does not send customers sms like it should when the repair is done. I believe it is because they don't have the +1 area code from self check in sheet.

Is there a way to add the +1 automatically somehow or make it work without the +1, because here no one will manually write +1 when checking in.

[2019-07-29 05:09] usmanalikhan93 commented on #866
Hi again @Omar1892 - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Thanks
Usman Ali

[2019-07-29 05:09] #866 closed

[2019-07-29 05:11] rajeshdungrani commented on #862
Currently you have provide 2 ways for inventory adjustment.
Method 1 : From Inventory Management
http://postimg.cc/YhNqR7bC
Method 2 : From Inventory Count
http://postimg.cc/4n6gk5t8
Now you have merged both adjustment in your "Inventory Adjustment"
Now if you consider Method 1 only, then you can get the report I am looking for. Actually, I would like to use this feature as "Purchase of Spares" on

[2019-07-29 06:06] Uzair-RepairDesk commented on #877
Added in the current sprint

[2019-07-29 06:08] Uzair-RepairDesk commented on #871
@Repair-Desk  We can certainly do it however we need to strategize if we have to add it in the add-on.
What're your thoughts on this?

[2019-07-29 06:14] Uzair-RepairDesk commented on #872
Hi @mobilebarn

Thank you for sharing your idea. We are already working to improve the onboarding process. Once you add a new store, we will give an option to replicate all the settings from your default store. You will be able to select specific settings as well.

I will update you once we GO LIVE. Thanks

[2019-07-29 06:23] Uzair-RepairDesk commented on #874
https://github.com/Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS/issues/838

[2019-07-29 06:52] Uzair-RepairDesk commented on #413
Hey @JessicaSOS
I have initiated this request for the documentation. We will be able to start its development in the sprint of August. I will keep you posted on this. Thanks

[2019-07-29 07:02] Uzair-RepairDesk commented on #873
Hi @mobilebarn

I have reviewed it at my end. When you select a part while booking a repair job from iPad POS Register, there is a "Retail Price" that displays with the item on POS.

It will be appreciated if you provide more information along with screenshot where it's displaying cost price with the part item on iPad POS Register app? Thanks

[2019-07-29 10:07] Uzair-RepairDesk commented on #863
Hi @rajeshdungrani

Currently, it's not directly possible to log the purchase without creating a purchase order. However, i would suggest the following workaround.

1: Once you purchase the item, you can directly add an inventory item with all the relevant item details, supplier and the cost of an item.
2: You can create an expense code in RepairDesk and log expense entry of your purchase by using

[2019-07-29 10:15] rajeshdungrani commented on #863
Thank you very much for suggeting a workaround. Can we get a summary report of this workaround done, so that we can track total purchases done and cost

[2019-07-29 10:15] Uzair-RepairDesk commented on #868
@Repair-Desk
Currently, you can search a third party customer of a specific customer group. You can go to
"Manage Customer > Select Customer Grup and check "Display third party customers"
Can you please specify the area where you want to search customer by "Organization". Is it about a global search of customers? Currently, we have an option available to search customer by the organization under "

[2019-07-29 10:30] rajeshdungrani opened #881 "Add Device filter in making purchase order"
Currently while adding item in PO we have option of SKU and Name (Item name). But it is difficult to remember SKU and in Name box all the items apear. Now if you can provide an addtional filter of Device (Model) before Name, it wud be more efficient. After selecting Device from the dropdown filter, it will display parts related to that model only.

![image](https://user-images.githubusercontent.co

[2019-07-29 11:56] Uzair-RepairDesk commented on #863
I will recommend you to keep a dedicated "Expense Code" in this case. So once you log the expense of your purchase with that specific code, you can track your expense of purchase from expense report.

Please check screenshots attached for your assistance.

![AwesomeScreenshot-uzairshah-Manageexpense-Expenses-2019-07-29-16-07-86](https://user-images.githubusercontent.com/22955861/62046572-b0b7a100-

[2019-07-29 12:08] Uzair-RepairDesk commented on #881
Hey @rajeshdungrani

Thank you for sharing your idea. However, we have already given the "Suggestive Search" option to search item from "Name". If you don't remember an SKU/ID of the item you can easily search item from following 2 way after selecting a supplier of an item:-

1: You can start typing relevant keywords of an item under the name and it gives you a list of the item along with Manufact

[2019-07-29 17:04] JessicaSOS commented on #413
excellent, the sooner the better!

[2019-07-30 05:44] rajeshdungrani commented on #881
Yes. That suggestive search is working beautifully. But we have a different concern in that. In India we are catering more than 15 Brands. Few Indian brands like Micromax, Lava etc have more than 200 models which are very difficult to remember. Suggestive search is very good, no doubt about it. But in our case, if we had option of selecting device (As we get option while raising new ticket from Ma

[2019-07-30 06:17] mobilebarn commented on #873
ah my apologies you are right :)

[2019-07-30 06:20] Uzair-RepairDesk commented on #881
Hi @rajeshdungrani

Thank you for your response and for sharing your concern. I can certainly see how suggested improvements would be useful specifically for you. Currently, we have to pick new features based on the value they’ll add to the most users possible.

I am adding your request under enhancements so we can discuss it in-house in next quarter plan. Thanks

[2019-07-30 07:28] Uzair-RepairDesk commented on #873
No problem. Thank you for the confirmation.

[2019-07-30 07:28] #873 closed

[2019-07-30 10:25] Uzair-RepairDesk commented on #228
Hi Andrew @afrahm,
We have already added separate permissions for each report under employee roles permissions module.
Please check screenshot attached.

![AwesomeScreenshot-uzairshah-Roles-Permission-2019-07-30-15-07-94](https://user-images.githubusercontent.com/22955861/62122044-487ac500-b2de-11e9-8f2b-6e59c9e0a22d.png)

[2019-07-30 10:25] #228 closed

[2019-07-30 10:28] Uzair-RepairDesk commented on #255
We have added an option to select serials while creating an RMA

[2019-07-30 10:28] #255 closed

[2019-07-30 13:13] rajeshdungrani commented on #869
I agree, certain fields should be made mandatory. I also would like to have that feature. So that we can have customer data in uniform format.

[2019-07-30 13:57] JessicaSOS opened #882 "Ticket display"
There is a small problem with the display of open tickets in progress. the number is the one of all the tickets created in the store and it's like this for all the stores. Nothing has been changed in the settings, and I'm going to uncheck them and recocher to be certain, but the problem is still present.
![billet](https://user-images.githubusercontent.com/40500094/62135542-64677200-b2b0-11e9-8062-

[2019-07-30 18:01] Omar1892 opened #883 "Page refreshes and it takes me to the repair category"
Its being happening today when I modify an inventory item in stock and I hit SAVE the page refreshes. But once it refreshes it takes me to the Repair category. Its a glitch from what I can tell.

[2019-07-30 18:03] Omar1892 opened #884 "Email Receipt Not Being Sent"
Hello,

When ever I create a Ticket or at check out costumer aren't receiving our emails receipts. I have checked my spam folder and trash folder and they don't arrive.

[2019-07-31 05:59] Uzair-RepairDesk commented on #883
Hey @Omar1892 it seems to be working fine at my end, can you please share more detail or a video so that I can look into it.
Regards

[2019-07-31 06:14] Uzair-RepairDesk commented on #882
@usmanalikhan93  kindly check this at your end. and proceed accordingly

[2019-07-31 06:30] rajeshdungrani opened #885 "Date issue in Register Sales Report"
In register sales report, it is showing payment date in column of invoice date.
![image](https://user-images.githubusercontent.com/12892217/62188670-b381d580-b38a-11e9-8d22-efe5a43ef523.png)

![image](https://user-images.githubusercontent.com/12892217/62188699-c98f9600-b38a-11e9-8c6c-a19157007b4a.png)

[2019-07-31 06:40] rajeshdungrani opened #886 "Show Ticket No in Register Sales Report"
Need to show Ticket No along with Invoice No in Register Sales report.

[2019-07-31 09:09] rajeshdungrani opened #887 "Category Filter option in Manage Ticket Search"
Need to have Category Option in Manage Ticket search screen. This would help me if want to check only laptops or only mobiles etc

[2019-07-31 09:52] Uzair-RepairDesk commented on #886
Hey @rajeshdungrani   purpose of register sales report is to record payments which are received from customers against invoice.
if you want to know invoice status based on tickets you can apply the filter from manage invoice and get the desired result.
Hope this helps, if you have further queries feel free to ask.
![image](https://user-images.githubusercontent.com/22955861/62202309-804b4080-b3a2-1

[2019-07-31 10:18] rajeshdungrani commented on #886
Thanks for your quick reesponse. I very well understand your point. But I am not wanting to know the status. I also need the same report - Payment Register, but need additional information of ticket as each invoice is mapped to ticket.

[2019-07-31 10:27] Uzair-RepairDesk commented on #887
Hi @rajeshdungrani

Thank you for sharing your idea. Currently, it's not possible to search for specific tickets with a category. We are working to introduce categories while making a ticket from Manage Tickets, once we do that we will be able to add criteria to search for tickets by "Category" as well.

Currently, if you want to view sales from a specific category then you can track it from "Sale

[2019-07-31 15:32] #883 closed

[2019-08-01 10:39] Uzair-RepairDesk commented on #884
Hey @Omar1892

Can you check if you have trigger enabled to send an automatic email to the customer while creating a repair ticket?
You can go to Store Settings > Email & Notification > Customer Events > Repair Ticket > 'Send Email Automatically' trigger in turned ON

Please also make sure that you are using the right email address of a customer in customer details.

Once you check it, please do l

[2019-08-01 16:45] JessicaSOS opened #888 "employees Time sheet edit"
I am no longer able to change the hours of my employees on the report of their timesheets. I do not have the option anymore. Thank you for viewing the attachment.
<img width="938" alt="punch employé" src="https://user-images.githubusercontent.com/40500094/62311597-2a39d400-b45a-11e9-81fa-cd1ebee55793.png">

--
French:
Je ne suis plus capable de modifier les heures de mes employés sur le rapport de

[2019-08-01 20:57] Omar1892 commented on #884
Hello, yes I have enabled the settings and I had a rep called me and the emails are not been sent to my email address.

[2019-08-01 21:07] Omar1892 opened #889 "GRN Wrong Inventory Value"
Hello, Im having an issue with the Goods Received Note. When the items have arrived to the store and a GRN is created with already existing inventory is calculating the wrong inventory value for example:

I have 6 batteries at total value of $54.66 (quantity of 6) + new inventory total value of $65.10 (quantity 7) = The total value is $119.76 / 13 items = $9.21 (actual inventory Value). The system

[2019-08-02 01:24] hitman1986 opened #890 "Error in search invoice"
When search any invoice in invoice manage by customer name in arabic language not showing any result,
And new issue :
When press export excel in search invoice after showing result not export any file why?!

[2019-08-02 03:44] #865 closed

[2019-08-02 03:47] Repair-Desk commented on #865
Marcus,

It looks like this bug has been squashed! Can you refresh your browser and let me know if you're able to see correct price on the point of sale?

[2019-08-02 05:57] Uzair-RepairDesk commented on #889
Hey @Omar1892 I have checked this issue it seems to be working fine, kindly share screens so that we can view the issue in detail and rectify the issue.
kind Regards

[2019-08-02 09:58] usmanalikhan93 commented on #882
@JessicaSOS

Sorry for the trouble. We have created a ticket for the development team https://repairdesk.atlassian.net/browse/RB-353.

We will inform you, once its been fixed.

Thanks for your patience.

[2019-08-02 10:01] usmanalikhan93 commented on #885
Hello @rajeshdungrani ,

Thanks for highlighting it. We have created a ticket in development environment for changing the name of it https://repairdesk.atlassian.net/browse/RB-354.

I will updated, once the fixed pushed on live.

Thank you for your patience and time.

[2019-08-02 10:12] usmanalikhan93 commented on #890
Hello @hitman1986 ,
Sorry for the trouble. We have created a ticket for the development https://repairdesk.atlassian.net/browse/RB-355.

Issue 2:
We have verified this scenario it is working fine at our end. Can you please share the video so we can drill down the root cause of the issue. I hope it will work better for us.

Thank you for your patience and time.

[2019-08-02 10:16] usmanalikhan93 commented on #888
Hello @JessicaSOS ,

Sorry for the trouble. We have created a ticket for the development team https://repairdesk.atlassian.net/browse/RB-356.

We will update you on it after the fix.

[2019-08-02 10:59] usmanalikhan93 commented on #882
Hey @JessicaSOS ,

Sorry for the trouble, i have tried to understand but i am not clear about the issue. Can you please elaborate more.

Thanks in advance and sorry for the inconvenience.

[2019-08-02 11:27] Uzair-RepairDesk commented on #884
Hey @Omar1892

Can you confirm if you are using a web app or iPad app when it's not working? Can you also please share your account details at uzair@repairdesk.co with an example of an event that doesn't send an email so I can personally check it at my end. Thanks

[2019-08-02 13:57] JessicaSOS commented on #882
We do not have 14207 current tickets, but rather 109. On the user interface, when we look at the tickets, we see 14207 ticket currently. It looks like it's all the tickets we've created since we're with RepairDesk. The number is huge! Still, if I go to see the list of tickets in "repair", "manage tickets", I see a total of 109. 109 is the right number of open ticket currently.
<img width="942" alt

[2019-08-02 14:08] JessicaSOS opened #891 "Tax problem ?"
Hello,
It's been a few times that we see that there is nothing registered in the fields reserved for taxes. Yet, in the repair ticket, the taxes were properly set. We see that taxes have been calculated correctly, but they do not appear in the POS or it should appear. This problem is not with all tickets, only a few and randomly. We had this problem in SOS Phone Limoilou's L-13984.
I send you in a

[2019-08-02 17:22] Omar1892 commented on #884
We only use computers. I don't how to share detail aside from explaining whats going on. So when we check out the system gives you several options to hand out a receipt including sending an email receipt to the costumer. We have chosen the email receipt and when we send it it doesn't arrive. We have tried several different emails on our side and the emails don't arrive.

[2019-08-02 17:38] Omar1892 commented on #889
I have 6 batteries at total value of $54.66 (quantity of 6) + new inventory total value of $65.10 (quantity 7) = The total value is $119.76 / 13 items = $9.21 (actual inventory Value). The system is saying that the total value is $9.30 the price is higher by $0.08 per item. Its a small amount but after a while it will add up and reports will be miss leading.

![Screen Shot 2019-08-02 at 10 23 57 A

[2019-08-03 00:40] hitman1986 commented on #890
Im sended video to mr danish
When search invoice by customer group or customer name and export result to excel not export it.

[2019-08-05 05:11] usmanalikhan93 commented on #853
Hi @Omar1892

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-08-05 05:11] #853 closed

[2019-08-05 05:12] usmanalikhan93 commented on #857
Hi @JessicaSOS

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-08-05 05:12] #857 closed

[2019-08-05 05:12] usmanalikhan93 commented on #859
Hi @JessicaSOS

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-08-05 05:12] #859 closed

[2019-08-05 05:13] usmanalikhan93 commented on #878
Hi again @ben-ihelputech  - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2019-08-05 05:13] #878 closed

[2019-08-05 05:59] usmanalikhan93 commented on #891
Hey @JessicaSOS

Usman Ali here, Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2019-08-05 06:00] usmanalikhan93 commented on #882
Thanks for the information @JessicaSOS . Let me check this.

[2019-08-05 06:26] usmanalikhan93 commented on #882
For internal use:
https://repairdesk.atlassian.net/browse/RB-353

[2019-08-05 06:49] Uzair-RepairDesk commented on #889
@Omar1892  in the first post you said that the value should be 9.21, and now in a second post, you are saying that it should be 9.30.
kindly share your credentials so that it can look into it. but 9.20 seems fine as per calculation.

kind regards

[2019-08-05 07:50] Uzair-RepairDesk commented on #884
Can you also please share your account details at uzair@repairdesk.co with an example of an event that doesn't send an email so I can personally check it at my end. Thanks

[2019-08-05 12:01] rajeshdungrani opened #892 "Ticket No in Search option while searching Invoice"
Manage Invoice - Search Invoice, also need Ticket Number. It is assumed that every ticket number is mapped to invoice no. Sometimes we want to know invoice details from ticket no.
![image](https://user-images.githubusercontent.com/12892217/62463136-da834180-b7a6-11e9-9156-8277da353fcd.png)

[2019-08-05 14:19] JessicaSOS commented on #859
fixed yes ! Tnx

[2019-08-05 16:40] Omar1892 opened #893 "Issues With Tickets"
Hello,

when the tickets get the status changed to any status the page refreshes like it has been since we started using the system. But lately the system when it refreshes the page the tickets get moved around. Take explore of picture below.

First picture shows how the tickets look before, we change the category status.

![Screen Shot 2019-08-05 at 9 30 28 AM](https://user-images.githubuserconte

[2019-08-05 20:06] JessicaSOS commented on #857
It is settled and it is also much faster, thank you!

[2019-08-05 23:39] bharaaus commented on #766
Any update ?
This is fricking annoying.
This is a freaking bug , not a new task which needs approvals.

[2019-08-06 03:48] hitman1986 opened #894 "Smart search parts in edit ticket"
Suggestion: We want the search to be smarter and faster in selecting the item  of the ticket, for example when we search for a spare part for a phone that shows the search results only of the type of spare parts and not search all the stock ,just show the parts from spare parts category.

[2019-08-06 03:50] #480 closed

[2019-08-06 05:44] usmanalikhan93 commented on #766
Hi @bharaaus

I have tried this to reproduce on my end but it does display on POS. Please see video.
Video link: https://drive.google.com/file/d/10NgNAwW2xgK_dtumXqTbSOwEfQRqM5VZ/view

[2019-08-06 06:13] usmanalikhan93 commented on #893
Hi @Omar1892

I hope you are doing well. It is working fine. Please see the video attached.
Video link: https://drive.google.com/file/d/1IwKUWC7AHwiXIimrdl-Xr1n6eg8gngwh/view

[2019-08-06 07:58] bharaaus commented on #766
Bravo !!!

It took you 4 months to get back to me with this Answer?
And if there is no issue, why you guys were waiting for approval from product manager?
What were you guys doing from last 4 months?

[2019-08-06 07:59] Uzair-RepairDesk commented on #892
Hi @rajeshdungrani

Currently, it's not possible to search invoice from specific ticket ID however we have "Criteria" available to search invoice from a specific ticket "Status".
Along with that if you want to view invoice for a specific ticket, we advise you to search and open the specific ticket from manage ticket and click on "View Invoice" to view details of an invoice for a specific ticket.

[2019-08-06 08:01] bharaaus commented on #766
The issue is still there.
You guys are just ignoring it and not discussing it.

https://www.screencast.com/t/K9bXlmslkS

[2019-08-06 10:01] usmanalikhan93 commented on #766
Hi @bharaaus

What you were saying is only possible when you disable repair category then it will work accordingly. But we cannot map devices like this as it may rush on POS. So you have to map it in that category in which you show it on POS.
Danish will also guide you tomorrow on call. I apologize for the delay but I can say its not a "BUG", it's our workflow.
Do let me know if you have any quest

[2019-08-06 10:23] usmanalikhan93 commented on #890
Hi @hitman1986

Your issue no. 1 is fixed. Please check this at your end.

[2019-08-06 10:24] usmanalikhan93 commented on #888
Hi @JessicaSOS

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-08-06 10:24] #888 closed

[2019-08-06 10:25] usmanalikhan93 commented on #882
Hi @JessicaSOS

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-08-06 10:25] usmanalikhan93 commented on #885
Hi @rajeshdungrani

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-08-06 10:25] #885 closed

[2019-08-06 10:29] usmanalikhan93 commented on #880
Hi @Repair-Desk

Reported issue has been fixed and pushed on live server. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-08-06 10:29] #880 closed

[2019-08-06 12:19] hitman1986 commented on #890
Thank yo issue no. 1 it fixed and no. 2 is fixed thank you

[2019-08-06 12:44] #890 closed

[2019-08-06 15:25] JessicaSOS commented on #882
Nothing has changed, thank you to check on your side because it is not fixed. Please reopen.

[2019-08-06 15:47] JessicaSOS commented on #888
fixed tnx

[2019-08-06 23:22] bharaaus commented on #766
No Question Mate!
You guys have already wasted my 4 months just in the wait of reply that there is nothing you can do about it.
Appreciate it!

[2019-08-07 04:20] Uzair-RepairDesk commented on #877
it's done and lived.

[2019-08-07 04:20] #877 closed

[2019-08-07 06:44] BG-RLTech opened #895 "Allow the ability to edit the default Ticket Status"
I would like the ability to change the colour of the default Ticket Status Label Colour instead of having to create a duplicate item just because i want the colour different.

![image](https://user-images.githubusercontent.com/39751801/62600552-c152d000-b921-11e9-97e9-f63510337a7e.png)

![image](https://user-images.githubusercontent.com/39751801/62600571-ce6fbf00-b921-11e9-93d4-70417c7963b1.png)

[2019-08-07 07:49] rajeshdungrani opened #896 "Spares Consumption Report date issue"
Hi, Spares consumption report is shown as per ticket date and not actual spares consumption date. Let me explain further:
1. Ticket Created date - 2nd August 2019
2. After diagnosis, spares consumed on 6th August 2019
 Now this spares is shown on date 2nd and not on 6th. Actually it shud show when we search for date 6th bcos we actually consumed the spare on 6th.
![image](https://user-images.githu

[2019-08-07 09:20] rajeshdungrani opened #897 "Wrong Customer group fetched when creating ticket"
While creating ticket thru Manage Ticket, when we search for customer, it fetches all cistomer details except the customer group. Also on saving, the customer grp changes to default grp
![image](https://user-images.githubusercontent.com/12892217/62611177-b8aec980-b922-11e9-9765-3890cf55b0dc.png)

[2019-08-07 09:45] usmanalikhan93 commented on #882
Hi @JessicaSOS

It's fixed. I have verified again. Can you please check again by clearing you browser cache ? And do let me know if it still exists.

[2019-08-07 14:46] usmanalikhan93 commented on #897
Hi @rajeshdungrani ,

Sorry for inconvenience. This issue has been reported to the development team https://repairdesk.atlassian.net/browse/RB-367.
Its been resolved in beta  environment. We will push it on live tomorrow.

Thanks for the patience.

[2019-08-07 15:11] JessicaSOS commented on #882
Hello,
The problem is still apparent to us. I connected in private browsing on a new page with a new user (2 weeks) and who is never connected to my personal computer, and the problem is still present. See picture.
<img width="945" alt="number" src="https://user-images.githubusercontent.com/40500094/62634587-28618c00-b904-11e9-9e53-2e5e1771a8c2.png">

[2019-08-08 04:43] usmanalikhan93 commented on #893
Hi again @Omar1892 - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2019-08-08 06:27] usmanalikhan93 commented on #882
Hi @JessicaSOS

Issue has been fixed. Please check this at your end. And if still find something wrong I will guide you.
![Github_882](https://user-images.githubusercontent.com/39614480/62679961-8313ea00-b9cf-11e9-9588-ef970695c2c2.png)

Thanks
Usman Ali

[2019-08-08 06:38] #766 closed

[2019-08-08 06:42] usmanalikhan93 commented on #858
Hi again @JessicaSOS - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Thanks
Usman Ali

[2019-08-08 06:42] #858 closed

[2019-08-08 07:02] usmanalikhan93 commented on #891
Hi @JessicaSOS

I have tried with multiple use case to reproduce this issue but I am unable to do this. Can you please check again when you face this issue do let me ho you created ticket and added items in it ? May be it will help.

[2019-08-08 07:23] usmanalikhan93 commented on #760
Hi @bharaaus

I have tried almost every scenario to reproduce this issue but it doesn't come on our browsers once. What I get in my mind is that install your browser again may be that will resolve this issue. Do let me know once you do this.

[2019-08-08 07:27] usmanalikhan93 commented on #730
Hi @JessicaSOS

Just wanted to know are you still facing this issue ?

[2019-08-08 07:27] usmanalikhan93 commented on #734
Hi @JessicaSOS

Can you confirm me is this issue fixed or not ?

[2019-08-08 07:36] rajeshdungrani commented on #897
Have you pushed it live? Becos facing lot of inconvenience

[2019-08-08 09:24] usmanalikhan93 commented on #896
@Uzair-RepairDesk can you please review this ?

[2019-08-08 10:29] rajeshdungrani opened #898 "Export Customers need details - Ticket Generated and Ticket amount"
When I am exporting customer details from manage customers, I am not getting Tickets Generated and Ticket amount
But I can see the same on screen.
Can we have the Tickets Generated and Ticket amount in the exported excel file, it will help us for analysis