[2019-01-24 15:24] JessicaSOS commented on #619
#1, I'm talking about both. When adding an item, there must be new data in history and also with each change of size, network, status, color, etc. There are already notes at the moment, but missing several changes that we do not get in the history.

#2, I think the best would be a mix of notes and history in one place. A bit like tickets, we can see the creation, changes and notes in one place. Se

[2019-01-24 15:35] JessicaSOS commented on #487
# 1, I'm waiting for your news.

# 2, you're right, it works perfectly!

# 3, Yes the positive fit works manually, but it does not work in inventory count when taking inventory.

[2019-01-24 16:08] JessicaSOS opened #621 "image display error in email mass mailing"
I made a template for e-mail sending satisfaction to our customers following their repair (mass mailing). I did it with images, but even if I have "open in a browser", the images do not load. (see attachment and see the email below)

I check with the person who takes care of our emails and he says:
The concern seems to be with your provider, sendgrid, because the images are hosted on the server.
C

[2019-01-24 21:59] Trevorshaw7 opened #622 "Inventory Adjustment"
Inventory adjustment isn't showing cost on the adjustment report.
<img width="1429" alt="screen shot 2019-01-24 at 2 57 00 pm" src="https://user-images.githubusercontent.com/43588617/51711182-94c01200-1fe8-11e9-8e98-dfd0a1c0f855.png">
<img width="1435" alt="screen shot 2019-01-24 at 2 57 19 pm" src="https://user-images.githubusercontent.com/43588617/51711195-9db0e380-1fe8-11e9-9bec-c9727ea89243.pn

[2019-01-24 22:01] Trevorshaw7 opened #623 "Inventory Adjustment Tracking"
Can we get the Inventory Adjustment number listed in the admin history of the part similar to how the Transfer orders are in this picture?
<img width="1435" alt="screen shot 2019-01-24 at 2 57 19 pm" src="https://user-images.githubusercontent.com/43588617/51711303-e5376f80-1fe8-11e9-9b3d-ec0bf874fae6.png">

[2019-01-25 00:21] Repair-Desk commented on #620
**@brazelab**

Hey Adeel, Usman here 👋 Sure thing! Let us take a look to see if we're getting the same issue as you and I'll circle back to you.

FYI, we're working on a new label design and you can checkout the thread here: @ #569

@usmanalikhan93 Please check this early next week

[2019-01-25 04:50] usmanalikhan93 commented on #488
ok @JessicaSOS. Let me take a look on this.

[2019-01-25 04:55] usmanalikhan93 commented on #494
Sure @JessicaSOS. If you face this issue again, you can reopen this task and I will check.

[2019-01-25 04:55] #494 closed

[2019-01-25 05:17] usmanalikhan93 commented on #617
Hi @Trevorshaw7

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!

[2019-01-25 05:21] usmanalikhan93 commented on #508
Hi @phonefixdfw

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!

[2019-01-25 05:30] usmanalikhan93 commented on #603
Hi @Trevorshaw7

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

"If inventory item has status as shipped and it not received then the user should not able to delete that record. he can change its status to canceled if that item is not received from another store."

Thanks!

[2019-01-25 05:30] #603 closed

[2019-01-25 05:53] usmanalikhan93 commented on #581
Hi @phonefixdfw @afrahm

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!

[2019-01-25 05:53] #581 closed

[2019-01-25 05:58] usmanalikhan93 commented on #398
Hi @JessicaSOS

I hope you are doing well. This module is now live. You can test at your end and do let me know if you have any question.

Thanks!
Usman Ali.

[2019-01-25 05:58] #398 closed

[2019-01-25 06:02] usmanalikhan93 commented on #615
Hi @JessicaSOS

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-01-25 06:02] #615 closed

[2019-01-25 06:04] #508 closed

[2019-01-25 06:33] Uzair-RepairDesk commented on #592
Hey @Trevorshaw7
We have updated it on your request. You can review all the reports on "Admin Dashboard" as well once you log in with RepairDesk. Check screenshot attached.
Please review at your end.
![uzairshah dashboard](https://user-images.githubusercontent.com/22955861/51729315-fccc3200-2094-11e9-96f5-3cd691ff3224.png)

[2019-01-25 06:33] #592 closed

[2019-01-25 06:42] Uzair-RepairDesk commented on #579
Hey @Trevorshaw7
We have updated the Manage Customer on your request. You can view tickets and invoices of all stores for each customer. You can also search for any specific ticket and invoice as well. Please check the screenshot attached.
You can find more details of our release from the following link:-
https://www.repairdesk.co/blog/2019/01/25/release-notes-improvements-fixes

![improvements-fi

[2019-01-25 06:42] #579 closed

[2019-01-25 06:48] Uzair-RepairDesk commented on #567
Hey @Trevorshaw7
We have updated the Manage Customer on your request. You can view tickets and invoices of all stores for each customer. You can also search for any specific ticket and invoice as well. Please check the screenshot attached.
You can find more details of our release from the following link:-
https://www.repairdesk.co/blog/2019/01/25/release-notes-improvements-fixes

We have planned t

[2019-01-25 06:51] Uzair-RepairDesk commented on #582
@usmanalikhan93
Can we have an update on this, please?

[2019-01-25 06:55] Uzair-RepairDesk commented on #599
Hey,
We have updated roles permission module for this request.
Admin can give permission to any specific employee role to access the Admin Dashboard.
We have also added permission to allow any employee role to update the clock in/out information.

More details are available in the following release notes:-
https://www.repairdesk.co/blog/2019/01/25/release-notes-improvements-fixes

[2019-01-25 06:55] #599 closed

[2019-01-25 06:59] #561 closed

[2019-01-25 07:00] Uzair-RepairDesk commented on #561
We have updated to give an insight of all In/Out for each payment method under "Location Payment Method".

[2019-01-25 07:00] usmanalikhan93 commented on #585
@ali-repairdesk @Repair-Desk

According to fayyaz comment, this issue has been fixed.

[2019-01-25 07:00] #585 closed

[2019-01-25 07:49] Uzair-RepairDesk commented on #375
We have concatenated the Manufacturer and Device with Problem on Manage Customers page under task field.
@bharaaus
Please review at your end

[2019-01-25 07:49] #375 closed

[2019-01-25 09:57] usmanalikhan93 commented on #618
Hi @JessicaSOS

Thank you for bringing this to our attention! It looks like there's a bug that just popped up 🐛.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information! 😃

Thanks
Usman Ali.

[2019-01-25 11:20] TechreviveAu opened #625 "Multiple invoices per ticket"
The ability to have multiple invoices generated against a single repair ticket would be very handy especially for corporate customers who may need to individually pay for a repair and require a seperate invoice for each repair/device on that ticket.

Alternatively the option to move a selected device on a repair ticket to a new ticket would make life easier rather than manually creating a whole ne

[2019-01-25 11:23] TechreviveAu opened #626 "Webcam integration for tickets/trade in"
Webcam integration for tickets and trade in purchases would give users a streamlined approach to taking a photo of a device or ID when a customer enters the store to trade in a device.

Currently we have to scan the customers drivers licence, save it, then upload it against a ticket or trade in

[2019-01-25 11:33] Uzair-RepairDesk commented on #625
Hey Will @TechreviveAu
Since our call is scheduled, we can discuss this over the call in next week 👍

[2019-01-25 18:56] Repair-Desk commented on #623
![drphonefix hq retail - adjustmentreportdetail inventoryadjustment](https://user-images.githubusercontent.com/21986026/51766617-d5a94b00-20fc-11e9-8c71-31f578ccae48.jpg)

[2019-01-25 19:01] Repair-Desk commented on #623
![inventory count](https://user-images.githubusercontent.com/21986026/51766893-89123f80-20fd-11e9-989f-57fe3e217d37.jpg)

[2019-01-25 19:23] Repair-Desk opened #627 "Minor Improvements In Multi - Store Report"
1- Add 2 new columns:
Franchise Fee
Payments Received

2- Add an option in store type of "franchise fee" where admin can enter there franchise fee. It can be set to be charged on total sales or payment received in the selected duration.

Franchise fee can be same for all stores or can be different for each store.

![multi-store report improvements](https://user-images.githubusercontent.com/2198602

[2019-01-25 19:31] Repair-Desk commented on #623
![colors](https://user-images.githubusercontent.com/21986026/51768295-b6f98300-2101-11e9-9bbd-566980b63a3e.jpeg)

[2019-01-25 19:39] Repair-Desk opened #628 "Language Editor - Option to copy language settings from HQ to all stores"
If you're using language editor module and when you make an edit on the HQ store, their should be an option that allow you to copy language settings to other stores.

![copy language changes](https://user-images.githubusercontent.com/21986026/51768684-d2b15900-2102-11e9-89c7-6923330d912d.jpg)

[2019-01-27 14:36] Repair-Desk commented on #609
Will be great to display opening cash balance

[2019-01-27 16:10] Repair-Desk opened #629 "Address auto fill through Google location API"
It would be great if you can enter customer zip code and it automatically populate customer address.

This should be available on point of sale new customer (pop-up), appointment calendar, self check-in and buyback.

[2019-01-27 20:43] ali-repairdesk commented on #515
Please close this ticket. Customer has already been updated on this.

[2019-01-28 04:35] usmanalikhan93 commented on #618
For internal use:
https://repairdesk.atlassian.net/browse/REP-1234

[2019-01-28 04:42] usmanalikhan93 commented on #620
For internal use:
https://repairdesk.atlassian.net/browse/REP-1235

[2019-01-28 04:45] usmanalikhan93 commented on #621
For internal use:
https://repairdesk.atlassian.net/browse/REP-1236

[2019-01-28 05:13] usmanalikhan93 commented on #593
Hi again @ireparo   - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2019-01-28 05:13] #593 closed

[2019-01-28 05:16] Uzair-RepairDesk commented on #610
@Repair-Desk  I believe he is asking to add drill-down permissions for settings

[2019-01-28 05:33] #515 closed

[2019-01-28 06:03] usmanalikhan93 commented on #620
Hi @brazelab

I hope you are doing well. Please find QA feedback on this:

"The Actual problem is that customer name Tag is not working/displaying when user preview that ticket label after edit
Steps:
1-Go to Ticket label and edit tag and save it
2- preview that ticket label tag from there (Template Editor-->Ticket label)
3-customer name tag is not working there

But if user print it from any tick

[2019-01-28 06:05] YusraZakir commented on #612
It has been fixed for iPad. Verified by QA

[2019-01-28 06:12] #612 closed

[2019-01-28 06:13] Repair-Desk commented on #612
@YusraZakir Thanks for the update and I've asked mark to verify this 👍

[2019-01-28 07:01] usmanalikhan93 commented on #628
For internal use:
https://repairdesk.atlassian.net/browse/REP-1242

[2019-01-28 09:19] usmanalikhan93 commented on #554
For internal use:
https://repairdesk.atlassian.net/browse/REP-1243

[2019-01-28 10:58] usmanalikhan93 commented on #621
Hi @JessicaSOS

I have checked with Developer and he said you have to use some third party like dropbox or google drive to upload images and give link of that in campaigner email source.

Developer's comment:
"As checked in HTML content of client. client is using the images uploaded from The Internal WIKI widget .
Internal wiki provides a feature to upload image and show in-bound for display only.

[2019-01-28 12:01] usmanalikhan93 commented on #623
For internal use:
https://repairdesk.atlassian.net/browse/REP-1240

[2019-01-28 13:21] ali-repairdesk commented on #562
He is referring to Sales Summary Report.
He is off the point of view that in case he wants to run report on the basis of days. Lets Suppose he wants to fetch all the sales which were did on Sundays.

Do let us know in case more elaboration is required.

Thanks,

[2019-01-28 18:51] Trevorshaw7 opened #630 "Cost of Good is still not being accurate"
When we are changing cost of Goods it does not actually change.  this is causing our reporting to be off.
<img width="1428" alt="screen shot 2019-01-28 at 11 49 09 am" src="https://user-images.githubusercontent.com/43588617/51858857-f4713280-22f2-11e9-8c72-54523df301ca.png">
<img width="1425" alt="screen shot 2019-01-28 at 11 48 59 am" src="https://user-images.githubusercontent.com/43588617/518588

[2019-01-28 18:57] Trevorshaw7 commented on #630
<img width="1178" alt="screen shot 2019-01-28 at 11 55 59 am" src="https://user-images.githubusercontent.com/43588617/51859174-c50ef580-22f3-11e9-925b-ba5ea8843159.png">
<img width="1422" alt="screen shot 2019-01-28 at 11 56 14 am" src="https://user-images.githubusercontent.com/43588617/51859197-d0fab780-22f3-11e9-909b-cffc0f331e45.png">

[2019-01-28 19:03] Trevorshaw7 commented on #630
This shows the cost price update in the admin history but not in the cost of the part
<img width="1423" alt="screen shot 2019-01-28 at 12 02 24 pm" src="https://user-images.githubusercontent.com/43588617/51859562-a826f200-22f4-11e9-989d-4d3aa7aaf3cb.png">

[2019-01-28 19:59] Trevorshaw7 opened #631 "Inventory counts are not posting accurate adjustments"
Inventory counts are not posting accurate adjustments
<img width="1430" alt="screen shot 2019-01-28 at 12 57 28 pm" src="https://user-images.githubusercontent.com/43588617/51862685-5d10dd00-22fc-11e9-880b-e555728a3270.png">
<img width="1429" alt="screen shot 2019-01-28 at 12 57 20 pm" src="https://user-images.githubusercontent.com/43588617/51862693-60a46400-22fc-11e9-8f66-c7d050e95b5b.png">
<img w

[2019-01-28 20:02] Trevorshaw7 commented on #631
The cost variance is so off as well. It is not even close to accurate.
<img width="1425" alt="screen shot 2019-01-28 at 1 00 59 pm" src="https://user-images.githubusercontent.com/43588617/51862896-e0cac980-22fc-11e9-8686-8aeaf3fbde62.png">

[2019-01-29 05:19] usmanalikhan93 commented on #582
Hi Will @TechreviveAu

Did you check with Danish on this issue ?

[2019-01-29 06:09] usmanalikhan93 commented on #631
Hi @Trevorshaw7

Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!

For internal Use:
https://repairdesk.atlassian.net/browse/REP-1257

[2019-01-29 06:37] Uzair-RepairDesk commented on #627
@Repair-Desk
Can i have more details on the concept of “Franchise Fee” in the above given description?
What is the priority to add this field along with “Payments Received”?
Your response will be appreciated. Thanks

[2019-01-29 09:33] TechreviveAu commented on #582
Hi there,
No it wasn’t discussed.

[2019-01-29 11:39] Repair-Desk opened #632 "Option to filter unpaid tickets"
Currently on tickets page there is no way to view against which tickets invoice has been paid.

We need to add a filter that allow us to filter tickets that has no invoices

[2019-01-29 12:55] ali-repairdesk opened #633 "Multiple Issue with RMA | Modesto | DrPhone Fix"
**Hi Sir,**

**Business Name:**
Modesto | DrPhone Fix

**Store Name:**
Coral Spring

**Module:**
RMA

**Configuration Setting:** Correct
**Roles & Permissions:** Correct

Issue:
Customer is facing an issue that once we search for RMA-031. You will see the Submitted Date as 28 Dec, 2019. Once I edit it and make it 2018, it still goes back to 2019.

For the very same reason if we apply the filter da

[2019-01-29 13:13] Uzair-RepairDesk commented on #631
Hey @Trevorshaw7
Hope you will be fine,
1. Your reported issue regarding posting to count entries to adjustment report has been fixed and live. Can you please check and verify?
2. Your reported issue of variance on Inventory count listing page is due to the reason that there are a number of items in the count, few counts have positive value and others have negative count. This is specific reason,

[2019-01-29 13:40] Uzair-RepairDesk commented on #630
Hey @Trevorshaw7
We have tried to reproduce this issue at your end with all the possible scenario’s but couldn’t find the exact scenario that made this issue.
It certainly should update the COGS if adjustment is made from Goods receiving note or adjustment.
Fayyaz has placed a specific parameter is the database that will allow us to receive an error log email and we can figure out the reason if th

[2019-01-29 15:25] brazelab commented on #620
<img width="296" alt="after edit" src="https://user-images.githubusercontent.com/46997379/51918726-5a88b300-23e2-11e9-85fe-6a31e19e044a.PNG">
<img width="289" alt="original" src="https://user-images.githubusercontent.com/46997379/51918728-5a88b300-23e2-11e9-8104-a97111c190b6.PNG">

It shows incorrectly in the editor preview and the print preview,

I have tried to open the new template in the topic

[2019-01-29 21:58] ochoaonline commented on #627
@Uzair-RepairDesk idea is to add an option on back end where Franchisors can specify a Franchise Fee percentage and this percentage is displayed next to payments received
 **For Example** $1,000 Received in payments x 25% Franchise fee = $250
and option to either multiply it by **"Payments Received**" or **"Total Sales"** this might vary by franchisors

[2019-01-29 22:06] ochoaonline commented on #541
@Uzair-RepairDesk @ali-repairdesk Another idea for this, we might not need to make it mandatory, but maybe a pop up saying you forgot to add a part this this repair, and maybe two buttons on pop up - **Add Part** or **Continue** this way it wont cause issues on services that do not need a part

[2019-01-30 03:32] Repair-Desk commented on #565
Dear Uzair,

Thanks for sharing additional info however they are a franchise store and they want their store manager or people who has access to this trigger to update time-log of other employees. Please add it to next week release.

Best,
Usman

[2019-01-30 04:54] Repair-Desk commented on #627
Have a look at how Franchise fee Setup screen should be designed.

![franchise fee](https://user-images.githubusercontent.com/21986026/51959172-f95def80-2474-11e9-8928-b0e4625b7243.png)

[2019-01-30 06:13] usmanalikhan93 commented on #620
Hi @brazelab

Sorry for the continued inconvenience. We have fixed this issue and it is on demo server. We are expecting to go live with this in current week release. I will update you once it will be available on live server.
Thanks for the patience.
Usman Ali.

[2019-01-30 06:17] usmanalikhan93 commented on #618
Hi @JessicaSOS

Please find Dev feedback below:

I have tested on live on test account. Integration working fine as you can see in below video
https://drive.google.com/file/d/1Ns7i5sqX3owoeVhraqhEPweEzzDkDJAK/view
I have checked Jessica's account as its showing some network Error
![jessica_mailchimp](https://user-images.githubusercontent.com/39614480/51962055-a5590800-2480-11e9-8ec5-2c62dd5f1252.p

[2019-01-30 11:46] Uzair-RepairDesk commented on #627
**In House Task Reference:-**
https://repairdesk.atlassian.net/browse/REP-1241

[2019-01-30 19:25] Trevorshaw7 opened #634 "Not being able to sale a serial without selecting the serial"
We need to not be able to sale a serial without selecting the serial.
<img width="1430" alt="screen shot 2019-01-30 at 11 57 05 am" src="https://user-images.githubusercontent.com/43588617/52006739-1cdf6500-248a-11e9-98b7-e212e006f0b2.png">

[2019-01-30 19:26] Trevorshaw7 opened #635 "We have a tablet not being able to look up on sales by item report"
We have a tablet not being able to look up on sales by item report
<img width="1425" alt="screen shot 2019-01-30 at 12 17 01 pm" src="https://user-images.githubusercontent.com/43588617/52006797-40a2ab00-248a-11e9-88af-ae3c8353e69a.png">
<img width="1427" alt="screen shot 2019-01-30 at 12 16 38 pm" src="https://user-images.githubusercontent.com/43588617/52006802-44363200-248a-11e9-821d-bca42edbbdba

[2019-01-31 02:41] Trevorshaw7 opened #636 "Not all Adjustments are being recorded"
Not all Adjustments are being recorded
<img width="1430" alt="screen shot 2019-01-30 at 7 37 48 pm" src="https://user-images.githubusercontent.com/43588617/52026974-fee42580-24c6-11e9-83ce-ec6743c7dff4.png">
<img width="1419" alt="screen shot 2019-01-30 at 7 38 00 pm" src="https://user-images.githubusercontent.com/43588617/52026975-fee42580-24c6-11e9-8e35-a7ccdda5cbf2.png">
<img width="1127" alt="

[2019-01-31 02:43] Repair-Desk opened #637 "Expense Module"
If you copy $12 and then paste it into the column it will record 0

![e3685a59-6953-41e4-9dab-96c6524663d5](https://user-images.githubusercontent.com/21986026/52027069-e4906300-252b-11e9-88bc-16d4cbf18747.jpeg)

[2019-01-31 02:44] Repair-Desk commented on #637
Adding a row its for the same expense code, would be cool if added row would be different expenses code and you can just add all 10 expenses from 1 shot

![e05996df-9163-44df-99cb-0d27edec56e3](https://user-images.githubusercontent.com/21986026/52027107-fffb6e00-252b-11e9-88c2-784151bdd400.jpeg)

[2019-01-31 04:51] usmanalikhan93 commented on #635
Hi @Trevorshaw7

Usman Ali here, Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2019-01-31 05:40] Uzair-RepairDesk opened #638 "Estimate Issue with Serial"
If you create an estimate for a serialized item when you convert it to an invoice it takes the serial off

[2019-01-31 05:41] usmanalikhan93 commented on #638
For internal use:
https://repairdesk.atlassian.net/browse/REP-1274

[2019-01-31 05:44] Uzair-RepairDesk commented on #636
Hi @Trevorshaw7
I have checked the above reported issue. There is only specific adjustment entry in the item admin history and we can certainly track it from "Adjustment report".
Please check screenshots attached.
Can you please provide more information on this?

![bad apple edit mobile accessories parts iphone 7](https://user-images.githubusercontent.com/22955861/52033012-34c7ef00-2545-11e9-8a69-

[2019-01-31 05:49] Trevorshaw7 commented on #636
Look between 1-14 and 1-21.  How did those QTY change?

[2019-01-31 06:54] Uzair-RepairDesk commented on #636
Thank you for highlighting this. The missing quantity from admin history is actually transferred to Warehouse to Valley Fair that increased the on-hand quantity of the item. Somehow, the log is not coming to the Valley fair store who received the items because of the same transfer order issue for serials we are working on and expected in the coming release.
Please check screenshot from transfer or

[2019-01-31 11:13] brazelab opened #639 "Repair services - inconsistent across integrations"
Dear Repairdesk team,

I am experiencing some inconvenience

**Background**
We have recently introduced new names and pricing for our repair services.
We uploaded a new list of items. for all the old repair items, we have disabled the following triggers: Show on POS, Show on widget.

We don't want to delete the old items, because we dont want to lose ticket information and because they allow us to

[2019-01-31 12:03] usmanalikhan93 commented on #637
For internal use:
https://repairdesk.atlassian.net/browse/REP-1278

[2019-01-31 12:07] usmanalikhan93 commented on #636
For internal use
https://repairdesk.atlassian.net/browse/REP-1279

[2019-01-31 13:15] usmanalikhan93 commented on #633
For internal use
https://repairdesk.atlassian.net/browse/REP-1282

[2019-01-31 13:20] ali-repairdesk opened #640 "Item populating with HTML codes | Modesto | DrPhone Fix"
**Hi Sir,**

**Business Name:**
Modesto | DrPhone Fix

**Store Name:**
Coral Spring

**Module:**
POS

**Configuration Setting:** Correct
**Roles & Permissions:** Correct

**Issue:**
Customer is facing an issue that once they try to populate any item on the POS screen the HTML codes are coming up in the suggestion box.

I am attaching relevant screenshots for the assistance.
![item populating wrong

[2019-01-31 20:31] JessicaSOS commented on #398
Perfect and fixed :)

[2019-01-31 20:45] JessicaSOS commented on #494
I have not seen this problem this week and since it is a random and intermittent problem, it is harder to test. I'll let you know if I see this problem again.

[2019-01-31 20:53] JessicaSOS commented on #414
I can assure you that these payments have never been used: "CHROME PAYMENT REQUEST (STRIPE)" "APPLE PAY (STRIPE)". This one had been used when you had suddenly a problem with the accents of the modes of payments: "D? BIT". This task is not fixed and you have examples in photos. Please check correctly and please re-open as I can not do it myself.

--
 Je peux vous assurer que ces paiement non jamai

[2019-01-31 21:01] JessicaSOS commented on #418
I agree to close task # 407 and # 432 since this is the same problem. However, as I wrote to you recently in task # 418, you mentioned that this has been fixed since 2019. I returned you an example in 2019 of an item that had the same problem. This is not corrected. Thank you for reopening the task.

--
french:
Je suis d'accord a fermé la tâche #407 et #432 puisqu'il s'agit du même problème. Cepen

[2019-01-31 21:10] JessicaSOS commented on #413
Hello,
Do you have a delivery date for this task that promises to be very useful?

[2019-01-31 21:10] JessicaSOS commented on #411
Hello,
Do you have a delivery date for this task that promises to be very useful?

[2019-01-31 21:36] JessicaSOS commented on #618
I checked the connection information (user and password) and everything is correct. I did not make any changes in the settings and I only have 1 Mailchimps list. I do not know where the "network error" came from.

In addition, I can see that all customers created in Limoilou this Saturday, January 25, 2019 do not appear in our Mailchimps. In Repairdesk, we can see that all clients created on this

[2019-01-31 21:41] JessicaSOS opened #641 "Modification for customer communication in LEAD"
Was a reporter for Ali in March of last year (2018).... Still waiting

Hello Ali,
I need to have programmed messages in the lead for communication with customer. Exactly like in the notes. We need to copy and paste for the moment and the "Tag" does not work anymore (because of the copy paste). Is it possible to make this change quickly?
Have a good day
<img width="937" alt="lead programed answer"

[2019-01-31 21:44] JessicaSOS commented on #463
can you do it please ?

[2019-01-31 21:45] JessicaSOS commented on #462
can you checkt this task please ?

[2019-01-31 21:45] JessicaSOS commented on #464
Tag problem here too ....

[2019-01-31 21:46] JessicaSOS commented on #464
In campaigner too

[2019-02-01 04:45] Trevorshaw7 commented on #634
Not 100 percent sure

[2019-02-01 04:47] Trevorshaw7 commented on #597
The inventory count amounts are all wrong. The costs it shows in the total value is not correct at all

[2019-02-01 04:55] usmanalikhan93 commented on #597
Hi @Trevorshaw7

Let me assign this to respective QA. I will revert back to you if I need more info on this.

[2019-02-01 04:57] usmanalikhan93 commented on #597
For internal use
https://repairdesk.atlassian.net/browse/REP-1287

[2019-02-01 07:22] usmanalikhan93 commented on #640
For internal use
https://repairdesk.atlassian.net/browse/REP-1293

[2019-02-01 09:34] Repair-Desk commented on #606
This option has been added 😊

[2019-02-01 09:52] #590 closed

[2019-02-01 09:58] Uzair-RepairDesk commented on #607
Hey @Trevorshaw7
The above reported issue has been fixed and verified on LIVE. Please review at your end. Thanks

[2019-02-01 09:58] #607 closed

[2019-02-01 10:03] Uzair-RepairDesk commented on #590
Hey @Trevorshaw7
We have made all the requested improvements live in Inventory Summary Report. You can find more details of release from the following link:-
https://www.repairdesk.co/blog/2019/02/01/end-january-release-notes

We have added "Total" field, CSV improvements based on search criteria and also added criteria of "Serialized Inventory" and "Exclude 0 value".

Please review at your end.

[2019-02-01 10:04] Uzair-RepairDesk commented on #600
We have made this improvement live. You can view more information from our last release notes:-
https://www.repairdesk.co/blog/2019/02/01/end-january-release-notes

[2019-02-01 10:12] Uzair-RepairDesk commented on #591
Hey @Trevorshaw7
We have made the above improvement live in the release. It will keep you on the same page if you switch the store now.

[2019-02-01 10:12] #591 closed

[2019-02-01 10:17] Uzair-RepairDesk commented on #584
We have concluded the design in this week and start development in early next week Will @TechreviveAu

[2019-02-01 10:23] Uzair-RepairDesk commented on #638
Issue has been fixed

[2019-02-01 10:23] #638 closed

[2019-02-01 10:33] Uzair-RepairDesk commented on #627
We are completing designs for "Franchise Fee" functionality in this week and start development early next week
@ochoaonline @Repair-Desk FYI

[2019-02-01 10:34] usmanalikhan93 commented on #418
OK @JessicaSOS Let me try to reproduce this issue on my test account.

[2019-02-01 10:37] Uzair-RepairDesk commented on #609
We have added the above-requested improvement and currently in BETA testing. We will GO LIVE next week release along with other Transaction log improvements.
Screenshot from the beta server is attached below:-
![cm repair center transactions log](https://user-images.githubusercontent.com/22955861/52118124-530e1780-2637-11e9-8886-029293be3444.png)

[2019-02-01 10:40] Uzair-RepairDesk commented on #565
We have already added the permission under employee roles that allow specific role employee to update working hours from timesheet.

[2019-02-01 10:42] #621 closed

[2019-02-01 10:46] Uzair-RepairDesk commented on #622
@Trevorshaw7
We have made this improvement LIVE. Other improvements for "Inventory Adjustment Report" are also done and under BETA testing. These are scheduled to GO LIVE next week.

[2019-02-01 10:46] #622 closed

[2019-02-01 10:49] Uzair-RepairDesk commented on #411
Hey @JessicaSOS
I have scheduled it to work on it in this coming week.

[2019-02-01 10:52] Uzair-RepairDesk commented on #628
We have developed it and under testing. We will GO LIVE next week. @Repair-Desk

[2019-02-01 10:56] usmanalikhan93 commented on #500
Hi @JessicaSOS

Sorry for the delay. Yes issue is present. Let me assign this to dev.

Thanks
Usman Ali

[2019-02-01 10:57] usmanalikhan93 commented on #500
For internal use
https://repairdesk.atlassian.net/browse/REP-983

[2019-02-01 11:16] Uzair-RepairDesk commented on #639
Hey @brazelab
Thank you for posting your suggestion. Currently, our customer portal is not linked with the "Show on Widget" trigger.
I will discuss it with the team and revert back to you. Thanks

[2019-02-01 13:25] Repair-Desk opened #642 "Cayan - Some invoices are not marked as paid however they are paid in Cayan Portal"
We need to enable a log for Cayan transactions so that we know if a payment was initiated, collected or refunded.

The log should be displayed in the invoice footer.

Also the User Interface for Cayan transactions should be improved.

Icing on cake will be to add Key-ed transaction option

[2019-02-01 15:23] ochoaonline opened #643 "Blocking Access to Change Name / Category of Items"
On the system, we created a control center location in the which we create / update items so the names, categories for these parts / accessories are the same across all locations, we also use a special category **Inventoried Screens / Inventoried Batteries** we would like for only super admins to be able to edit names / change categories for items that have already been created by Control Center,

[2019-02-01 15:30] ochoaonline opened #644 "Options to Control Payments Options for POS / Register"
If there can be an option to have payment types be separated, to control payment types for POS side separate from payment types for Expense module, i went ahead and added many types like Check, ACH, and other methods to the payment types to use on expense module now those are also showing on POS side when trying to check out and store's dont use those methods

**Mainly should be 3-4 Methods top fo

[2019-02-01 17:42] Trevorshaw7 commented on #607
<img width="683" alt="screen shot 2019-02-01 at 10 42 03 am" src="https://user-images.githubusercontent.com/43588617/52139677-0b26ca80-260e-11e9-8e59-c4f43f6f9fb6.png">
Still only list the serial number without the details

[2019-02-01 23:53] Trevorshaw7 opened #645 "Inventory summary store name is not the alternate anymore"
<img width="600" alt="screen shot 2019-02-01 at 4 52 33 pm" src="https://user-images.githubusercontent.com/43588617/52155805-e2b8c380-2641-11e9-83fe-bbb4889694e3.png">

[2019-02-02 04:40] Repair-Desk opened #646 "Total Revenue by Customer Report Issue While Exporting to CSV"
When exporting the Total Revenue by Customer Report the following outlets will not export:
Valley Fair
West Valley
Draper

![unnamed](https://user-images.githubusercontent.com/21986026/52160003-7df77a80-26ce-11e9-817c-4a836d10cdb4.png)

[2019-02-02 19:32] Trevorshaw7 opened #647 "Inventory Transfers are duplicating"
<img width="1409" alt="screen shot 2019-02-02 at 12 31 58 pm" src="https://user-images.githubusercontent.com/43588617/52168358-a68b6e80-26e6-11e9-840d-89203fc95546.png">

[2019-02-03 05:15] Repair-Desk commented on #644
Note for developers: When this option is added make sure "show on POS" is automatically enabled for all customers so that they can go and switch it off when required

[2019-02-03 05:16] Repair-Desk commented on #643
@ #610

[2019-02-04 05:56] usmanalikhan93 commented on #618
Ok let me check with developer if he can do anything on this. I will revert back to you once I need more info on this.

[2019-02-04 06:07] Uzair-RepairDesk commented on #647
@usmanalikhan93
It should be reproduced as its important. Please discuss it with the development team. Thanks

[2019-02-04 06:14] usmanalikhan93 commented on #647
Sure @Uzair-RepairDesk I am reviewing this issue and trying to reproduce this issue on my test account.

[2019-02-04 06:19] usmanalikhan93 commented on #635
For internal use:
https://repairdesk.atlassian.net/browse/REP-1300

[2019-02-04 07:18] Uzair-RepairDesk commented on #607
Hey @Trevorshaw7
Currently, its just display list of serials.
I will discuss it with the team if we can improve the UI of the popup to display serial information along with serial.

[2019-02-04 09:32] usmanalikhan93 commented on #647
For internal use
https://repairdesk.atlassian.net/browse/REP-1305

[2019-02-04 11:21] usmanalikhan93 commented on #411
For internal use
https://repairdesk.atlassian.net/browse/REP-1307

[2019-02-04 18:12] ochoaonline commented on #627
Thanks

[2019-02-04 18:15] ochoaonline commented on #627
@Uzair-RepairDesk Can you change name of it to "Royalty Fee" once its created, Thanks

[2019-02-04 18:19] ochoaonline commented on #565
@Uzair-RepairDesk @Repair-Desk This is not completed yet,

**Previous Message**
Dear Uzair,

Thanks for sharing additional info however they are a franchise store and they want their store manager or people who has access to this trigger to update time-log of other employees.
-------

The current Trigger only allows Employee 1 to update his / her own hours, not for Employee 1 to update hours of ot

[2019-02-04 18:22] ochoaonline commented on #628
Great

[2019-02-04 18:37] Repair-Desk commented on #565
@uzair: Can you please confirm if this is planned for current release

[2019-02-06 07:45] usmanalikhan93 commented on #618
Hi @JessicaSOS

I hope you are doing good. I have checked with developer and he said he needs your mailchimp credential to check this. Can you provide mailchimp credentials to Ali ? So he can give to us.

[2019-02-06 14:30] brazelab commented on #639
Thanks Uzair,
Appreciate it

[2019-02-07 11:11] usmanalikhan93 commented on #647
Hi @Trevorshaw7

@Trevorshaw7 there are two solution for this:

1) We can update your respective inventory with quantity and log will be remain same. Because if we delete any log, it will create problem.
2) Just receive this  transfer in another store and from that store, transfer back your inventory in Warehoue. It will not disturb anything.

Although developer has put a check on it and hopefully

[2019-02-07 11:24] TechreviveAu opened #648 "Open shift function"
Currently RD allows you to take payment and create invoices without starting a shift.

During this process you are alerted to start the shift but you can simply cancel the dialogue box and continue on.

If this is done, EOD payments are completely out of whack.

The system needs to prevent users from taking any form of payment unless the shift is started and the day has started.

[2019-02-07 11:26] TechreviveAu opened #649 "Clock in / out issues"
Currently staff can click in, out or start a break.
They can also edit their times for each.

This needs to be prevented and should only be edited with an admin role or an admin pin to stop dishonest staff or overpaying a staff member

[2019-02-07 11:27] TechreviveAu opened #650 "WordPress integration overhaul"
WordPress integration is terrible and needs to be completely overhauled. Ongoing issues with syncing products and it's very easy to duplicate products each manual / auto sync.

Is this on the cards ?

[2019-02-07 11:28] TechreviveAu opened #651 "CFD slow / overhaul"
Customer front facing display is slow, at times re displays prior tickets for signature and the "accept terms" check box takes for ever to enable.

[2019-02-07 11:31] TechreviveAu opened #652 "Purchase order issues"
Ongoing issues with purchase order module.
Incorrect calculations for line items and total cost.
Takes 4 to 5 times longer than it should.

" Need to add inclusive / exclusive tax option for each line item.

* Option to pay and complete a purchase order / grn without affecting daily takings (paid via external source)

[2019-02-07 13:02] Repair-Desk commented on #649
@TechreviveAu Happy to help with this. Currently under employee roles and permission, we have a trigger that allow you to set access for who can update the clock in time

[2019-02-07 13:07] Repair-Desk commented on #651
@TechreviveAu We're re-writing customer facing display module and looking to relaunch it before end of this quarter. I've attached designs for your perusal.

![customer-signature](https://user-images.githubusercontent.com/21986026/52413340-25c3dc80-2b03-11e9-927b-02833fe0b136.jpg)

![select-products-1-a](https://user-images.githubusercontent.com/21986026/52413341-25c3dc80-2b03-11e9-8509-a109fb50e9

[2019-02-07 14:16] Uzair-RepairDesk commented on #652
@usmanalikhan93 Can you please check this tomorrow?

[2019-02-07 17:22] Repair-Desk commented on #606
Please add back the option of "Yesterday" as some of the users have requested it

[2019-02-07 20:28] ChelseyShannon opened #653 "Report by Supplier"
I wanted to request an improvement that has become extremely essential the balancing my clients accounting books. They have requested to be able to pull a report by supplier. When I uploaded all the inventory it had a column for suppliers but there is no way to see what inventory has been sold by supplier name. Please let me know your thoughts on possibly adding this to the sales by item report, s

[2019-02-07 22:36] JessicaSOS commented on #554
Do you misunderstand the problem or do you want another example?

[2019-02-07 22:50] JessicaSOS opened #655 "Over stock categorie in tradein section"
Hello,
Be able to published on our website more than the category "in stock". Example, you do not have an "over stock" category. It could be good to present to our customers phones that are also in over stock, or those "in stock" but in another store.
I launch the idea, give me your opinion.

--
french:
Bonjour,
Être en mesure de publié sur notre site internet plus que la catégorie "in stock" . Ex

[2019-02-07 23:11] TechreviveAu commented on #649
Hi there,
Technician in question is set up as a "technician" with restricted access. Under his permission settings the "Edit" field for clock in/clock out is missing and can physically edit his own hours without an admin pin.

What you have mentioned in your statement above is not correct for our RD account.

[2019-02-07 23:13] TechreviveAu commented on #651
Looks amazing!

[2019-02-07 23:27] JessicaSOS opened #656 "Color in device"
Hello,
We are able to choose in a "device" what color it is. Black & white example. Why when the device is programmed with the color black and white (example), we are not able to see the colors in the POS? The color is therefore useless. I would like to be able to choose the color so as not to have to create the same problem twice (once in the dark and once in the white). This will allow you to pr

[2019-02-07 23:37] Repair-Desk opened #657 "Sales By Item Type - Option to filter sales by suppliers"
I wanted to request an improvement that has become extremely essential the balancing my clients accounting books.

They have requested to be able to pull a report by supplier. When I uploaded all the inventory it had a column for suppliers but there is no way to see what inventory has been sold by supplier name. Please let me know your thoughts on possible adding this to the sales by item report,

[2019-02-08 01:57] TechreviveAu opened #658 "Ticket / Invoice number displayed in POS"
It would be great to have the invoice number / ticket number displayed in POS when ticket has been confirmed and receipt prints.

[2019-02-08 02:25] faizanzaheer opened #659 "Location Sales By Item Type Report on Dashboard is not working | Deepak Sharma | Apps Plaza"
**Business Name / Store Name:**
Deepak Sharma | Apps Plaza

**Customer Credentials:**
Shared on Jira

**Module:**
Reports

**Configuration Setting:** Correct
**Roles & Permissions:** Correct

**Issue:**
Location Sales By Item Type Report on Dashboard is not working

**Steps to Reproduce Issue/Provide Video:**
a) Go to Reports >> On dashboard if you click to open the Location Sales By Item Type Rep

[2019-02-08 04:35] usmanalikhan93 commented on #618
Thanks.

[2019-02-08 04:37] Uzair-RepairDesk commented on #658
Hey Will @TechreviveAu
Can you highlight it with a screenshot where you exactly referring it? Thanks

[2019-02-08 04:50] Uzair-RepairDesk commented on #653
Hi @ChelseyShannon

I really appreciate that you took the time to share your idea.
I can certainly see how the suggested improvements would be useful. We can certainly add supplier criteria in "Sales by Item type" however the only challenge to apply it if there is "Multiple Supplier SKU's" or "Serialized Inventory" exist for the items.

I will discuss it with the team to check the possibility to a

[2019-02-08 04:51] Uzair-RepairDesk commented on #657
@Repair-Desk
He has already requested the above improvement here #653

[2019-02-08 04:52] usmanalikhan93 commented on #659
For internal use
https://repairdesk.atlassian.net/browse/REP-1319

[2019-02-08 05:13] Uzair-RepairDesk commented on #655
Hey @JessicaSOS

Are you referring to Woo-Commerce integration?
Can you elaborate it please with the example? Thanks

[2019-02-08 05:46] usmanalikhan93 commented on #652
Hi Will @TechreviveAu

I hope you have done screen share with Danish Hassan and all is good. :)

[2019-02-08 05:46] #652 closed

[2019-02-08 05:52] usmanalikhan93 commented on #554
Ok let me check again.

[2019-02-08 06:11] usmanalikhan93 commented on #618
@JessicaSOS

It has two factor authentication. Can't check.
![jessica_mailchimp_001](https://user-images.githubusercontent.com/39614480/52461760-45561600-2b92-11e9-99ac-e5bc79dfa320.png)

[2019-02-08 06:17] usmanalikhan93 commented on #646
Hi @Repair-Desk

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-02-08 06:17] #646 closed

[2019-02-08 06:18] usmanalikhan93 commented on #645
Hi @Trevorshaw7

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-02-08 06:18] #645 closed

[2019-02-08 06:18] usmanalikhan93 commented on #640
Hi @ali-repairdesk

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-02-08 06:18] #640 closed

[2019-02-08 06:19] usmanalikhan93 commented on #633
Hi @ali-repairdesk

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-02-08 06:19] #633 closed

[2019-02-08 06:19] usmanalikhan93 commented on #620
Hi @brazelab

Sorry for the delay. I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-02-08 06:19] #620 closed

[2019-02-08 06:45] Uzair-RepairDesk commented on #623
Hey @Trevorshaw7
We have made your above-suggested improvements LIVE. Please review at your end. Thanks

[2019-02-08 06:45] #623 closed

[2019-02-08 06:49] Uzair-RepairDesk commented on #611
Hey @Trevorshaw7
This is to update you that we have already made this improvement and currently available on the BETA server for testing. We will make it LIVE in our next release.

[2019-02-08 06:57] Uzair-RepairDesk commented on #628
Hey @ochoaonline @Repair-Desk

We have made this improvement LIVE. You can go to the Language Editor > Select language, Once you update the text/translation to the selected language you can click "**Copy selected language to other stores**" > Select store or multiple stores and click on Proceed

[2019-02-08 06:59] Uzair-RepairDesk commented on #613
Hey Modesto @ochoaonline
This is to update you that we have already made this improvement in "Sales by Item Type Report" and currently available on the BETA server for testing. We will make it LIVE in our next release.

[2019-02-08 07:06] Uzair-RepairDesk commented on #584
Hi Will @TechreviveAu
This is to update you we have started development of above feature enhancement. We are expecting to conclude and GO LIVE in next release.

[2019-02-08 07:07] Uzair-RepairDesk commented on #333
Hey Brandon @phonefixdfw
I have already sent you details on Facebook so you can review the updated module on BETA server and share your feedback before we GO LIVE. Thanks

[2019-02-08 07:17] Uzair-RepairDesk commented on #610
Hey Modesto @ochoaonline

This is to update you that we are working on the documentation to start working on it.
We are expecting to start development next week. Thanks

[2019-02-08 07:43] Uzair-RepairDesk commented on #637
We have made this improvement LIVE. If you copy and paste the value in amount for the expense. The system will pick up the value rather than 0.

[2019-02-08 07:43] #637 closed

[2019-02-08 07:53] Uzair-RepairDesk commented on #411
Hello Jessica @JessicaSOS
I am pleased to inform you that we have made this improvement LIVE. You can view "Physical Location" of ticket item on Manage Tickets now.
Please review at your end. Thanks

[2019-02-08 07:53] #411 closed

[2019-02-08 07:59] Uzair-RepairDesk commented on #609
Hey @Trevorshaw7
We have made this improvement LIVE. You can view "Opening Cash Balance" and "Closing Cash Balance" at Start/End shift.
Please review at your end. Thanks

[2019-02-08 07:59] #609 closed

[2019-02-08 08:07] Uzair-RepairDesk commented on #569
We have made this improvement LIVE.
Admin/Users can select "Professional" template label design for Inventory and Ticket.
We have also updated RMA label design that will be print by default from a specific RMA.

[2019-02-08 08:07] #569 closed

[2019-02-08 09:50] Uzair-RepairDesk commented on #608
Hey @Trevorshaw7
We have added search by IMEI in "Inventory Adjustment Report".
Please review at your end. Thanks

[2019-02-08 09:50] #608 closed

[2019-02-08 09:57] Uzair-RepairDesk commented on #594
Hey @Trevorshaw7
We have updated the "Employee Activity Log" report on the new design. We are updating it with missing cases and we are expecting to GO LIVE in next release.

[2019-02-08 10:04] brazelab commented on #620
Not entirely solved, see attached screenshot. Labels don't organize themselves when there are multiple devices.

<img width="280" alt="repairdesk ticket" src="https://user-images.githubusercontent.com/46997379/52471432-299e4000-2b91-11e9-9740-f5bc95ce8eaa.png">

[2019-02-08 10:07] Uzair-RepairDesk commented on #627
Hey Modesto @ochoaonline
We have added "Payment Received" field on "Multi-Store Sales Breakdown" report and under QA review.
We have also completed the "Franchise Fee" design's HTML and start development in early next week.
We are expecting to complete it before the next release.
I have added your request to add a translation to make it "Royalty Fee" field on the task.
I will keep you posted on th

[2019-02-08 10:24] Uzair-RepairDesk commented on #648
Hey Will @TechreviveAu
Thank you for your post. As you mentioned, we already notify admin/users to start a shift on the POS screen if there is no shift log so admin/users must start a shift.
Do you want us to add a trigger to don't allow the user to make any transaction from POS if the shift is not started?

[2019-02-08 10:25] TechreviveAu commented on #648
Yes this would be a great idea

[2019-02-08 10:26] TechreviveAu commented on #584
Brilliant !

[2019-02-08 10:29] usmanalikhan93 commented on #620
@brazelab what size you are using ? Are you using code 128 ?

[2019-02-08 10:29] Uzair-RepairDesk commented on #650
Hey Will @TechreviveAu
We improved Woo-Commerce integration in the last quarter and it's quite working well for most of the customers.
Can you please let me know what are the specific concerns you have with the integration so I can assist you accordingly. Thanks.

[2019-02-08 10:35] Uzair-RepairDesk commented on #639
Hey Adeel @brazelab
I have discussed it with the team. Currently, repair services for "Customer Portal" is linked with the trigger "Show on POS". If you disable the trigger, it doesn't display on Portal.
Can you please try at your end?
@usmanalikhan93
Can you please verify it early next week? Thanks.

[2019-02-08 10:52] Uzair-RepairDesk commented on #568
Hey Will, @TechreviveAu
We need more details on this. Please let me know if we can schedule a call in next week so we can discuss this in detail. Thanks

[2019-02-08 10:57] Uzair-RepairDesk commented on #565
Currently, If new "Update Clock In/Out" trigger is enabled, it allows the specific role to update only his/her timesheet because we don't allow users to view timesheet of other users.
We need to add another permission to allows users to view timesheet of other users, once they are able to do that it will also allow users to update clock in/out time for other users.
I am adding in the coming week p

[2019-02-08 11:06] TechreviveAu commented on #568
Sure thing

[2019-02-08 11:16] Uzair-RepairDesk opened #660 "COLUMN TO SEE PARTS ON TICKETS"
The easy way to see if parts added on the ticket, without having to view/edit each ticket. Maybe add a column for it and also for this to be on CSV export file.
![repairdesk features feb 6th 2019 google docs](https://user-images.githubusercontent.com/22955861/52475244-c2968080-2bbc-11e9-88f9-41c59a34c2cf.png)

[2019-02-08 11:16] TechreviveAu commented on #650
last time it was used we had problematic syncs and duplicate products created.
it has since been disabled however I will re-test and revert back

[2019-02-08 11:31] TechreviveAu commented on #658
Sure thing

[2019-02-08 11:32] TechreviveAu commented on #658
![untitled](https://user-images.githubusercontent.com/46398112/52475995-63069800-2bf1-11e9-8b93-e91ee35a2712.png)

[2019-02-08 11:41] brazelab commented on #620
<img width="650" alt="label siz" src="https://user-images.githubusercontent.com/46997379/52476432-e054ed00-2b9e-11e9-82d1-cd9a02ff77b4.PNG">

[2019-02-08 11:45] Uzair-RepairDesk opened #661 "CREATING NEW PART ON POS - CATEGORY (TYPE) POPULATES"
When Creating new part for default Category not to be Inventoried item, if this can be kept as blank and made mandatory for them to choose a category since this can lean them to picking the right category for item, for example below and this only happens on the Repair side, if you add new parts from the Part menu or new parts under accessory all comes blank for you to have to fill it all out.
![1e

[2019-02-08 11:50] brazelab commented on #639
<img width="477" alt="item triggers" src="https://user-images.githubusercontent.com/46997379/52476790-10e95680-2ba0-11e9-864a-3b306920c9fb.PNG">
<img width="608" alt="partner portal" src="https://user-images.githubusercontent.com/46997379/52476791-10e95680-2ba0-11e9-831e-3679321f683d.PNG">

I can confirm that the POS trigger is *not* linked to the partner portal

[2019-02-08 12:02] Uzair-RepairDesk commented on #658
It can only be possible if you reopen ticket/invoice on POS and checkout Will @TechreviveAu

[2019-02-08 12:09] Uzair-RepairDesk commented on #650
We already fixed syncing and duplication problem Will @TechreviveAu
Please review and let me know. Thanks

[2019-02-08 14:02] Uzair-RepairDesk commented on #639
I am planning it for the next week Adeel @brazelab
@usmanalikhan93 FYI

[2019-02-08 16:40] JessicaSOS commented on #411
Perfect! :)

[2019-02-08 16:41] JessicaSOS commented on #618
I can give you the code. Please let me know on whatsapp or text message when you go on mailchimp and im gonna approuve and send you the verification code

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579> 418 999.1579 |  <tel:4506771579> 450 677.1579 |  <tel:18559991579> 1 855 999.1579
 <mailto:jessica@sosphone.ca> jessica@sosphone.ca
 <https://sosphone.ca/?utm_source=signature&utm_med

[2019-02-08 23:11] Trevorshaw7 opened #662 "Inventory transfers are not actually putting the Serialized item in stock."
Inventory transfers are not actually putting the Serialized item in stock.  Even though they are received it keeps them in Transit which doesnt allow them to sale it.
<img width="1423" alt="screen shot 2019-02-08 at 4 09 11 pm" src="https://user-images.githubusercontent.com/43588617/52511208-35ebc280-2bbc-11e9-9da9-4147c72e0e55.png">
<img width="1411" alt="screen shot 2019-02-08 at 4 09 28 pm" src

[2019-02-10 11:11] TechreviveAu commented on #658
ok no worries thanks Uzair

[2019-02-10 11:11] #658 closed

[2019-02-10 11:15] TechreviveAu opened #663 "FreePBX / Asterisks Integration"
RepairShopr currently has an integration allowing you to connect your PBX phone system to your ticketing system so that when a customer calls, FreePBX grabs the ticket via the incoming phone number and then displays the ticket status on your handset.

This feature would allow us to great our customers over the phone without looking up the ticket and be much more efficient. is any thing like this p

[2019-02-10 16:03] #662 closed

[2019-02-10 16:46] #657 closed

[2019-02-11 07:01] usmanalikhan93 commented on #639
For internal use:
https://repairdesk.atlassian.net/browse/REP-1344

[2019-02-11 20:44] Repair-Desk commented on #594
It would be great if employee activity log also shows information on when and by whom a new payment method is added / updated or removed

[2019-02-11 21:14] ochoaonline commented on #633
![rma 2](https://user-images.githubusercontent.com/35181467/52593785-d689ee80-2e17-11e9-860d-10ea00bc50b1.png)

Just checked the RMA, the submitted or returned on dates are still showing up blank on the main screen can this be fixed

[2019-02-12 12:35] usmanalikhan93 commented on #633
Hi @ochoaonline

Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!

For internal use:
https://repairdesk.atlassian.net/browse/REP-1370

[2019-02-12 12:48] ali-repairdesk commented on #610
Hello,

As per discussion with @ochoaonline , Wages can only be done by Super Admins , Store Owners who have Access to all settings on back end, he is not able to set Employee Wages.

Please have this catered in the same task.

Regards,

[2019-02-12 13:48] wirelessrepairzone opened #664 "Tax issue"
In one of the recent updates both "Charge tax on replacement part cost price" and "Charge tax on replacement part retail price" were turned on in our system. We are in Michigan so we only charge tax on the retail cost of the part not on the full price. With both options turned on the system only charges tax on the cost of the part not the retail this caused us to uncharged the customer on every re

[2019-02-12 14:35] ali-repairdesk opened #665 "PrintNode Activated with same account details - Modesto | DrPhone Fix"
**Hi Sir,**

**Business Name / Store Name:**
Modesto | DrPhone Fix

**Module:**
PrintNode Integration

**Configuration Setting:** Correct
**Roles & Permissions:** Correct

**Issue:**
Customer has reported an issue that once we enable PrintNode account, it shows the same username and password.

I have discussed this issue with development team and it seems that we need to look into this.

For bette

[2019-02-12 14:55] JessicaSOS opened #666 "Problem with the cost of RMA labels"
Hello,
RMA labels have changed. This is not a problem because we can change them. However, as soon as we remove the cost price (because we do not want everyone to know the cost price) the details "reason" and "RMA #" automatically clears. See picture.
Thank you to correct quickly.
<img width="939" alt="rma classic" src="https://user-images.githubusercontent.com/40500094/52644051-2c0fdb00-2eac-11e9

[2019-02-12 15:49] ochoaonline commented on #613
@Uzair-RepairDesk Thanks for update

[2019-02-12 16:05] ochoaonline commented on #627
Thanks

[2019-02-12 16:07] ochoaonline commented on #633
Your welcome

[2019-02-12 20:14] ochoaonline commented on #610
Thank you all

[2019-02-13 04:30] Uzair-RepairDesk commented on #666
@usmanalikhan93 Can you get it checked

[2019-02-13 05:00] usmanalikhan93 commented on #666
Sure @Uzair-RepairDesk

[2019-02-13 05:21] usmanalikhan93 commented on #664
Hey @wirelessrepairzone

I hope our support guy Faizan Zaheer has guided you on this. And do let us know if you have any question.

Thanks.
Usman Ali

[2019-02-13 05:21] #664 closed

[2019-02-13 05:25] usmanalikhan93 commented on #666
For Internal Use:
https://repairdesk.atlassian.net/browse/REP-1375

[2019-02-13 09:56] brazelab commented on #620
Hi RD team,

Can you please confirm that you are not seeing the incorrect label printing issues

[2019-02-13 10:07] usmanalikhan93 opened #667 "Sales tax is not updating in case of edit ticket."
Sales tax is not updating in case of edit ticket when we have selected customer group against any customer.
Video link: https://www.screencast.com/t/V0rvKNJwqh

[2019-02-13 10:12] usmanalikhan93 commented on #667
For internal use:
https://repairdesk.atlassian.net/browse/REP-1380

[2019-02-13 10:20] usmanalikhan93 commented on #620
Hi @brazelab

Danish will contact you and he will resolve your issue regarding ticket label.

[2019-02-13 12:45] ali-repairdesk opened #668 "Click on Store Name Behavior | Modesto | DrPhone Fix"
**Hi Sir,**

**Business Name / Store Name:**
Modesto | DrPhone Fix

**Module:**
Store Settings

**Configuration Setting:** Correct
**Roles & Permissions:** Correct

**Improvement:**
Customer has reported an improvement that once once you click on Store Name, it should redirect to the home page.

So lets suppose you were viewing Transaction Log on Weston Store and you switched to Cape Coral. You wi

[2019-02-13 12:46] ali-repairdesk commented on #668
Internal Task Link:
https://repairdesk.atlassian.net/browse/REP-1373

[2019-02-13 13:08] ali-repairdesk opened #669 "2nd Time Warranty Claim | Modesto | DrPhone Fix"
**Hi Sir,**

**Business Name / Store Name:**
Modesto | DrPhone Fix

**Module:**
Warranty Claim

**Configuration Setting:** Correct
**Roles & Permissions:** Correct

**Issue:**
Customer has reported an issue that once we claim Warranty for the 2nd time against the same repair ticket, it doesn't give the option to claim warranty.

I have discussed this issue with development team and it seems that w

[2019-02-13 17:29] Repair-Desk commented on #567
When you use the store filter for the first time it works however when you use it for the second time it doesn't work. Please release a fix.

Usman

[2019-02-13 17:49] faizanzaheer opened #670 "Issue with Purchase Order and RMA | Shahzad Pirani | iRepairIT"
Hi Sir,

**Business Name / Customer Name:**
• Shahzad Pirani | iRepairIT

**Customer Credentials:**
[Jira reference ](https://repairdesk.atlassian.net/browse/REP-1255)

**Issue:** The Customer wants more Search Options when Creating a Purchase order or an RMA besides SKU/ID or Name. He wants to be able to search Items according to Manufacturer and Devices when he is creating an RMA or a Purchase O

[2019-02-13 22:58] ochoaonline opened #671 "STEND TIMEOUT / DELAY ON PO SCREEN / AUTO SAVE"
Is there any way we can increase the delay time before screen times out on PO , when they are creating a large PO, the screen times out and they lose the information and have to Recreate the PO, they also reported similar issue on the Inventory Counts , it timed out and didnt auto save.

[2019-02-14 07:27] Uzair-RepairDesk commented on #82
We added improvement a few months back that allows you to search ticket from the header as well as you can search ticket by Ticket id, Phone or Mobile number as well from Manage ticket search filters.

[2019-02-14 07:27] #82 closed

[2019-02-14 07:32] Uzair-RepairDesk commented on #85
we fixed this issue already. Closing this post.

[2019-02-14 07:32] #85 closed

[2019-02-14 07:34] #113 closed

[2019-02-14 07:34] #130 closed

[2019-02-14 07:35] #134 closed

[2019-02-14 07:38] Uzair-RepairDesk commented on #138
You can do partial refunds in "Amount" or "Qty" for fully paid invoices. You can find details from the following link:-
https://repairdesk.uservoice.com/knowledgebase/articles/895113-how-can-i-process-refund-exchange-in-repairdesk

[2019-02-14 07:38] #138 closed

[2019-02-14 07:38] #146 closed

[2019-02-14 07:44] Uzair-RepairDesk commented on #139
We fixed this issue a while ago. You can mark the ticket "Repaired & Collected" while checking out.

[2019-02-14 07:44] #139 closed

[2019-02-14 07:47] Uzair-RepairDesk commented on #218
We have updated "Sales by Item type" report that has both "Repairs" and "Products" criteria to see the insights.
You can check the report from the following URL:-
https://app.repairdesk.co/index.php?r=stats/salesbyitem

[2019-02-14 07:47] #218 closed

[2019-02-14 07:49] Uzair-RepairDesk commented on #216
We have updated the "Sales by Item Type" report.
You can check the updated report from the following URL:-
https://app.repairdesk.co/index.php?r=stats/salesbyitem

[2019-02-14 07:49] #216 closed

[2019-02-14 07:52] #206 closed

[2019-02-14 07:54] Uzair-RepairDesk commented on #215
We have already updated the multi-store sales report that allows you to apply custom date filter.
You can check the updated report from the following URL:-
https://app.repairdesk.co/index.php?r=stats/multiStoreSales

[2019-02-14 07:54] #215 closed

[2019-02-14 08:06] #205 closed

[2019-02-14 08:09] Uzair-RepairDesk commented on #172
We added functionality that allows you to refund a partial amount with respect to "Quantity" or "Amount" for fully paid invoices. You can find more details from the following link:-
https://repairdesk.uservoice.com/knowledgebase/articles/895113-how-can-i-process-refund-exchange-in-repairdesk

[2019-02-14 08:09] #172 closed

[2019-02-14 08:13] Uzair-RepairDesk commented on #201
Hey @wirelessrepairzone
You can try our updated Campaigner module that allows you to create a campaign with different criteria's of repairs or products. You can also view insights of the campaigns.
https://repairdesk.uservoice.com/knowledgebase/articles/1126435-how-can-i-send-follow-up-emails-to-customers

[2019-02-14 08:13] #201 closed

[2019-02-14 08:19] Uzair-RepairDesk commented on #212
This issue already fixed and we have also updated the "Register Sales Report".
You can check the updated report from the following URL:-
https://app.repairdesk.co/index.php?r=stats/registersales

[2019-02-14 08:19] #212 closed

[2019-02-14 08:22] Uzair-RepairDesk commented on #264
We have an option to Print RMA label from "View RMA" screen.
Please check screenshot attached.
![rma label](https://user-images.githubusercontent.com/22955861/52772936-94e98580-305b-11e9-98c4-e9057fc6678f.png)

[2019-02-14 08:22] #264 closed

[2019-02-14 08:23] #261 closed

[2019-02-14 08:23] #259 closed

[2019-02-14 08:24] #258 closed

[2019-02-14 08:24] #257 closed

[2019-02-14 08:27] Uzair-RepairDesk commented on #249
We already have a "Transaction Log Report" that allows you to view "Open Cash Registers" and transactions.
You can check transaction log report from the following link:-
https://app.repairdesk.co/index.php?r=cashDrawer/transactionLog&shift_id=

[2019-02-14 08:27] #249 closed

[2019-02-14 08:28] #251 closed

[2019-02-14 08:30] Uzair-RepairDesk commented on #244
RepairDesk allows adding "Custom Ticket Status" option with a specific type.
You can check more information from the following link:-
https://repairdesk.uservoice.com/knowledgebase/articles/1121176-how-to-manage-ticket-status

[2019-02-14 08:30] #244 closed

[2019-02-14 08:37] Repair-Desk commented on #671
@ochoaonline #
Usman here 👋 Sure thing! Let us take a look to see if we're getting the same issue as you and I'll circle back to you.

@usmanalikhan93 Please check timeout time on Purchase order with Fayyaz.

@ochoaonline do you think option to create purchase order using a CSV/xls file will help?

[2019-02-14 08:39] Repair-Desk commented on #670
@faizanzaheer Thanks for submitting enhancement request in Purchase order on behalf of iRepairIT team. We will review it with the product team and update the thread early next week.

Working together,
Usman

[2019-02-14 08:55] usmanalikhan93 commented on #671
Sure @Repair-Desk

[2019-02-14 13:59] JessicaSOS opened #672 "Copy selected language to other store"
In the "Language Editor" widget, the "copy selected language to other store" option does not work. After clicking on the language and then selecting the stores, I click on "proceed". A message mentions me "laguage is copied successfully". However, the translation does not copy (see example). This is one of the examples of translation.

<img width="942" alt="language copied" src="https://user-image

[2019-02-14 15:16] ochoaonline commented on #671
@usmanalikhan93 it would speed up process, for some stores that are CSV / Excel savy vs having to type it in manually

[2019-02-14 17:16] ochoaonline commented on #671
@Repair-Desk @Uzair-RepairDesk
Additional idea, can PO side be scannable like we can use the gun to scan item we want to order, each store can have a binder with items and they just scan UPC Code x amount of time for how many items they need

[2019-02-14 18:14] ochoaonline commented on #644
@Uzair-RepairDesk @Repair-Desk  can we increase the priority of this, also something that can probably fix it also if its not Business Wise, only location wise, because if i delete a payment type from one location or add it will add or delete it in all

[2019-02-14 19:47] ochoaonline opened #673 "Delete Device Physical Locations"
![image](https://user-images.githubusercontent.com/35181467/52813212-47731580-3067-11e9-807b-ad0c6205e4a6.png)
System has 85 Pages of Device locations with just numbers can we delete them all to be able to add our own, Thanks

[2019-02-14 20:04] ochoaonline commented on #628
@Repair-Desk @Uzair-RepairDesk  Checking in on the language editor not copying languages over to other stores, i did id by selecting language and also by selecting the module but neither copied

[2019-02-14 22:35] phonefixdfw commented on #333
Sorry I have been sick and haven't got to test this yet. I will now. It
will only use these alerts for tickets i make on the beta login, not our
normal site, correct?

9034 Garland Rd, Dallas 75218
4321 Lemmon Ave, Dallas 75219
7340 Highway 78, Suite 260, Sachse 75048
972-587-7433 <https://mail.google.com/mail/u/0/> | www.phone-fix.com

On Fri, Feb 8, 2019 at 1:07 AM Muhammad Uzair Shah <notificat

[2019-02-15 05:19] Uzair-RepairDesk commented on #673
Hey Modesto @ochoaonline
Do you want to delete all of them?

[2019-02-15 06:40] usmanalikhan93 commented on #628
Hi @ochoaonline

Let us check this again.

[2019-02-15 06:58] usmanalikhan93 commented on #672
Hi @JessicaSOS

Usman ali here, Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2019-02-15 07:14] usmanalikhan93 commented on #659
Hi @faizanzaheer

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-02-15 07:14] #659 closed

[2019-02-15 07:34] usmanalikhan93 commented on #639
Hi @brazelab

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-02-15 07:34] #639 closed

[2019-02-15 07:43] Uzair-RepairDesk commented on #639
Adeel @brazelab
You can disable "show on widgets" trigger for repair services and they will not come up in "Customer Portal".
Please review

[2019-02-15 07:45] Uzair-RepairDesk commented on #611
Dear Trevor @Trevorshaw7
We have made above improvement LIVE in "Sales by Item Type" report.
You can now apply criteria with serial as well.
Please review at your end. Thanks

[2019-02-15 07:45] #611 closed

[2019-02-15 07:47] Uzair-RepairDesk commented on #627
Hey Modesto @ochoaonline
GOOD NEWS! We have added "Payments Received" field in "Multi-Store Sales report". Please review.
We have also started development to add "Franchise Fee" feature in RepairDesk.
Hopefully, we will GO LIVE with it in next release. Thanks

[2019-02-15 07:48] usmanalikhan93 commented on #635
Hi @Trevorshaw7

I hope you are doing well. We have made some improvements in Sales by item type report. I hope now this issue is resolved in it. If you face again this issue, you can open this task anytime.

Thanks
Usman Ali.

[2019-02-15 07:48] #635 closed

[2019-02-15 07:50] Uzair-RepairDesk commented on #660
Hey Modesto,
We have added a field to display associated "Ticket Items" with each ticket on Manage Tickets listing page on your request.
Please review at your end.

[2019-02-15 07:50] #660 closed

[2019-02-15 07:54] Uzair-RepairDesk commented on #661
Hey Modesto,
We have made this improvement LIVE. Item Type (Category) will not come up in the list automatically when you add "Part" while booking a repair job.
Please review at your end.

[2019-02-15 07:54] #661 closed

[2019-02-15 07:59] Uzair-RepairDesk commented on #565
Hey @ochoaonline Modesto,
We have made this improvement LIVE. You can give permissions to specific employee role to access the "Timesheet" of other employees.
Once you enable the permissions, an employee of a specific role will be able to view timesheet of other employees as well and if you also enable the trigger "Update Clock In/Out", they will also be able to update In/Out time of any specific

[2019-02-15 07:59] #565 closed

[2019-02-15 08:01] Uzair-RepairDesk commented on #632
We have added search filters to view tickets with specific invoice status. Please check screenshot attached.
@Repair-Desk
Can you please update the customer where he placed the request. Thanks
![uzairshah ticket](https://user-images.githubusercontent.com/22955861/52842715-c7f64c80-3121-11e9-92d3-08364bead10c.png)

[2019-02-15 08:01] #632 closed

[2019-02-15 08:04] Uzair-RepairDesk commented on #613
Hey Modesto @ochoaonline
We have made this improvement LIVE. We have added criteria to filter sales by item type report with "Repair Category".
Please review at your end. Thanks.

[2019-02-15 08:04] #613 closed

[2019-02-15 09:55] usmanalikhan93 commented on #671
Hi @ochoaonline

Can you help me that how many items you are adding in PO/Count when it timed out ? Just need an estimate, it will help in replicating this issue.

[2019-02-15 10:41] Uzair-RepairDesk commented on #589
We added criteria in "Inventory Summary Report" that allows you to view the report by excluding all the 0 qty values of inventory.

[2019-02-15 10:41] #589 closed

[2019-02-15 10:42] usmanalikhan93 commented on #597
Hi @Trevorshaw7

I hope you are doing well. I hope with inventory count improvement update your issues related to these has been fixed now. Can you verify at your end and do let us know if you have any question .

Thanks
Usman Ali

[2019-02-15 10:44] Uzair-RepairDesk commented on #595
Hey @Trevorshaw7
We have improved the "Sales by Item Type" report.
We have also added "Repair Categories" criteria separately that allows you to view specific repair categories report or you can also select "Products" and filter report from "Product Categories".
Please review our updated report. Thanks.

[2019-02-15 10:44] #595 closed

[2019-02-15 10:51] Uzair-RepairDesk commented on #284
Hi @phonefixdfw
We made this improvement that if you select a category and there is no manufacturer and you try to add existing manufacturer in the list, the system displays you alert and allows you to associate manufacturer and device with the specific category.
Please check screenshot attached.

You can review at your end. Thanks.

![uzairshah pos](https://user-images.githubusercontent.com/22955

[2019-02-15 10:51] #284 closed

[2019-02-15 11:21] usmanalikhan93 commented on #672
Hi @JessicaSOS

Can I try to copy language from limoilou store to levis store just for testing ?

[2019-02-15 11:36] usmanalikhan93 commented on #671
For internal use:
https://repairdesk.atlassian.net/browse/REP-1397

[2019-02-15 11:40] Uzair-RepairDesk commented on #649
Can you elaborate this Will @TechreviveAu ?

[2019-02-15 11:49] Uzair-RepairDesk commented on #479
Hey @hitman1986
We made this improvement LIVE on iPad POS Register.
If you made the trigger mandatory in web app under Store Settings > Module Configurations > Repairs i.e "Admin/Employee must add customer information before booking a repair job", It also applies on iPad and doesn't allow admin/users to create a ticket without customer information.
Please review at your end. Thanks

[2019-02-15 11:49] #479 closed

[2019-02-15 12:10] TechreviveAu commented on #649
Essentially I don’t want my staff to be able to adjust their own time sheets with out a managers pin being entered

[2019-02-17 08:04] TechreviveAu opened #674 "Custom fields - appointment calendar widget"
I’d like the ability to add custom fields to the appointment calendar widget on our website
Specifically on the customer details page. Can this be acheIced easily and quickly?

[2019-02-17 08:07] TechreviveAu commented on #625
Can we follow up on this during the week please

[2019-02-17 08:07] TechreviveAu commented on #582
Can we follow up on this during the week please

[2019-02-17 11:40] Repair-Desk opened #675 "Line item discount - iPad app"
If you are based out of Australia, all items should be GST inclusive.

let me explain it.

On a $65 Inc tax item, when a $10 discount is applied it should total $55

The ipad app treats the discount as an ex tax figure. Please look into it ASAP and release a fix in next version.

Also check this scenario in the web app.

Customer: iBroken Australia

[2019-02-17 11:46] Repair-Desk opened #676 "IPad app crashes"
When you are booking a new repair and go to parts screen to select part.

If the part is a serialize item you can select it however when you hit save the app crashes.

Customer: Jason | iBroken

[2019-02-17 11:46] Repair-Desk commented on #676
Crashes when adding inventory items but only during the first time. It works most of the time if creating the ticket first.

[2019-02-17 22:01] ali-repairdesk commented on #669
Internal task link:
https://repairdesk.atlassian.net/browse/REP-1405

[2019-02-18 06:22] Uzair-RepairDesk opened #677 "CATEGORIES / NEW ITEMS / ITEM NAMES"
No one under any role other than changes being made under control center and
by Super Admins, should affect / make changes on any other store

Shouldn’t be able to make changes to
Existing Devices (Manufacturers, Categories , etc.)
Existing Services (Manufacturers, Categories , etc.)
Existing Inventory items / Parts (Manufacturers, Categories , etc.)
Is ok for them to add new device / new part as

[2019-02-18 06:28] Uzair-RepairDesk commented on #582
Hey Will @TechreviveAu
I have followed up with Danish on this.

[2019-02-18 07:02] Uzair-RepairDesk commented on #675
@Repair-Desk
I believe it's according to the standard formula applies on Tax inclusive item with "In-line amount discount".
In case of tax inclusive item/service, the discount applies on "Base Price" and then apply a tax on discounted value. This is a specific reason it calculates "Total" value accordingly.
We have the same scenario's in both web and iPad app.

[2019-02-18 12:37] Uzair-RepairDesk commented on #674
Hey Will @TechreviveAu
I really appreciate that you took the time to share your idea.

I can certainly see how the suggested improvements would be useful. You can set custom fields of your choice and customer can fill the required details while booking an appointment from the widget. However, with a small team and a big roadmap, we have to pick new features based on the value they’ll add to the mo

[2019-02-18 13:26] usmanalikhan93 commented on #671
Hi @ochoaonline

I have tried to reproduce this issue but unable to reproduce it, I have added more than 50 items after some interval of time and also make it idle for half an hour it doesn't timed out.
Video link: https://www.screencast.com/t/LLyJmjpDu

Can you please help us in replicating this issue ?

[2019-02-18 15:09] JessicaSOS commented on #672
Yes you can

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579> 418 999.1579 |  <tel:4506771579> 450 677.1579 |  <tel:18559991579> 1 855 999.1579
 <mailto:jessica@sosphone.ca> jessica@sosphone.ca
 <https://sosphone.ca/?utm_source=signature&utm_medium=urlsite&utm_content=sosphone.ca&utm_campaign=outils> sosphone.ca
5375, boul. Guillaume Couture, Lévis, G6V 4Z3
2750, 1re Avenue, Limoilou,

[2019-02-18 15:09] JessicaSOS commented on #672
yes you can

[2019-02-18 15:24] ochoaonline commented on #673
@Uzair-RepairDesk yes please, only one to have a yes and no option on all the stores we will currently be using it to upsale tempered glass

[2019-02-18 15:26] ochoaonline commented on #628
@usmanalikhan93 Thanks

[2019-02-18 17:28] ochoaonline commented on #613
@Uzair-RepairDesk Thanks

[2019-02-18 21:04] JessicaSOS commented on #655
Hello,
It would be nice if repairdesk has a category "over stock" for over phone. Currently I have created one manually. This status "over stock" could appear on our website and the status "in stock" of different shops. Example that I have 5 shops in 5 different cities. The current sync between repairdesk and woo commerce only allows us to display the main store on our website (store # 1). In this

[2019-02-19 05:06] Uzair-RepairDesk commented on #676
It was already reported by QA and fixed with the new release.
In-House Task Reference:-
https://repairdesk.atlassian.net/browse/RI-445
@Repair-Desk
Please update customer or let me know about the source so I can do the needful. Thanks

[2019-02-19 05:06] #676 closed

[2019-02-19 09:13] Repair-Desk commented on #672
@usmanalikhan93 What's the latest on this?

[2019-02-19 09:16] Repair-Desk commented on #600
Can we make this trigger to work with iPAD app as well? Currently on iPAD app it displays all categories however on web app if you've switched off some categories they are not displayed.

See below:

![ipad](https://user-images.githubusercontent.com/21986026/53003510-e4abc080-3450-11e9-9076-436246cac67a.jpg)

![web](https://user-images.githubusercontent.com/21986026/53003527-f2f9dc80-3450-11e9-842

[2019-02-19 09:44] usmanalikhan93 commented on #672
@Repair-Desk
Just trying to reproduce a use case. It is creating issue but it's coming random. I will work with dev on this today.

[2019-02-19 09:55] usmanalikhan93 commented on #672
For internal use:
https://repairdesk.atlassian.net/browse/REP-1430

[2019-02-19 09:58] usmanalikhan93 commented on #647
Hi again @Trevorshaw7   - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Thanks

[2019-02-19 09:58] #647 closed

[2019-02-19 09:59] #597 closed

[2019-02-19 12:15] Uzair-RepairDesk commented on #600
Already noted and forwarded to Yusra for iPad. @Repair-Desk

[2019-02-19 15:54] ali-repairdesk opened #678 "RMA Feedback - Modesto | DrPhone Fix"
Hell Team,

Feedback of RMA will be shared in the comments.

Regards,

[2019-02-19 16:11] ali-repairdesk commented on #678
Internal Task Link:
https://repairdesk.atlassian.net/browse/RD-86

[2019-02-20 06:55] usmanalikhan93 commented on #486
Hi @JessicaSOS

Can you send me a video of this issue please ?

[2019-02-20 07:23] usmanalikhan93 commented on #490
Hi @JessicaSOS

I hope you are doing well. Please check this video, are you performing these steps ?
Video link: https://www.screencast.com/t/NFKBZkFdIUi

[2019-02-20 11:10] usmanalikhan93 opened #679 "Appointment widget: if user click on the device, unable to select the device and user will not be able to select the device"
The Booking Calendar integration for mobile versions SUCKS. It won't let my customers choose their device if the list of device is longer than like 8 options. It keeps jumping the page back to the top. Please check it out on your phone so you can see what I'm talking about. Try to book a repair for an iPhone 7 Plus. https://www.crakdrepair.com/repairs
Please review the attached video: https://repa

[2019-02-20 12:28] Uzair-RepairDesk commented on #333
Hey Brandon @phonefixdfw
We have made the updated module LIVE.

[2019-02-20 12:31] Uzair-RepairDesk commented on #673
Hey Modesto @ochoaonline
I didn't get the following point:-
"only one to have a yes and no option on all the stores we will currently be using it to upsale tempered glass"
I have asked Fahad to ask details over the call.

[2019-02-20 18:11] ochoaonline opened #680 "RMA Set Sent to Supplier Not in Parts Admin History - DrPhoneFix"
RMA-069 under HQ Retail iPhone 7+ Battery, RMA was sent to supplier but does not show on the history
![hq retail battery](https://user-images.githubusercontent.com/35181467/53114057-f18fe900-3510-11e9-8466-a526420a22f8.png)
and the inventory of item did not get adjsuted

[2019-02-20 19:58] ochoaonline commented on #610
@Uzair-RepairDesk Hello Uzair, on this settings section i know you guys are working to be able to sectionalize settings to different users, in the meantime if this is easier if there's a way to remove this option from all stores Except Control Center. , some of the main stuff i dont want them having access to is Business Wise settings and this is one of the big ones

![drphonefix hq retail setting

[2019-02-21 04:51] Uzair-RepairDesk commented on #680
@usmanalikhan93
Please check this

[2019-02-21 05:22] Bluepointrepairs opened #681 "Birthday / Marketing / Promo"
Hi guys!

I like to know if on New Costumers Tab: can u guys add a new field call DOB.

so the system can auto send a **Electronic Birthday Card** **and a Alert in our POS System**, so we can call them with a Gif in store using a QRCode or Bar Code, and the gifts can be like a Free Temper Glass, a Free Case, a Free USB Cable, Headphones, Holders, 10% off  =, Etc Etc, or anything in our choice, who

[2019-02-21 05:52] usmanalikhan93 commented on #680
Sure @Uzair-RepairDesk

[2019-02-21 06:16] Uzair-RepairDesk commented on #610
Hey Modesto @ochoaonline
The reason for this specific trigger is because most of the customers request that if they create new inventory/services other than the control center, they still want to create them in other stores.
If you don't want to make it possible, I will recommend you to keep it "**NO**" for all other stores.
I also advise you to restrict specific employee roles to access/update se

[2019-02-21 12:27] Uzair-RepairDesk commented on #606
@Repair-Desk
Filter from "Yesterday" has been added in search filters of reports

[2019-02-21 12:27] #606 closed

[2019-02-21 12:29] #333 closed

[2019-02-21 12:48] usmanalikhan93 commented on #667
Reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!

[2019-02-21 12:48] #667 closed

[2019-02-21 12:51] usmanalikhan93 commented on #668
Reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali.

[2019-02-21 12:51] #668 closed

[2019-02-21 13:18] Uzair-RepairDesk commented on #594
Hey @Trevorshaw7
We have updated Employee Activity log report. Please review at your end. Thanks

[2019-02-21 15:38] ochoaonline commented on #673
@Uzair-RepairDesk just the deleting is fine, i'll take care of the yes and no part thanks

[2019-02-21 15:42] ochoaonline commented on #610
@Uzair-RepairDesk a like that security check, question it there a history for settings? so see who made what change on the settings side Thanks

[2019-02-21 16:49] ochoaonline opened #682 ""Ticket Status, Assigned to" to be a cleaner Drop Down Menu and alphabetically- DrPhoneFix"
if we can make it so we can see all status available, when you click to change status you only see a few
![image](https://user-images.githubusercontent.com/35181467/53186062-4a718700-35ce-11e9-9534-4f4efb6c7c03.png)
Vs the way it look on front side POS
![image](https://user-images.githubusercontent.com/35181467/53186136-61b07480-35ce-11e9-8bf6-e1c8f0475f79.png)
or the way assigned tech looks on ti

[2019-02-21 18:12] JessicaSOS opened #683 "* * * URGENT * * * Trouble with all emails ! * * *"
When we send an email via a ticket, we see the green message "the email was sent successfully". However, when we wake up the message, it is written "Not translated data!" In replacement text of the initial message. The message guesses cleared. See picture.
Thank you for settling quickly, because all our communication is reached!
<img width="561" alt="not translated data" src="https://user-images.g

[2019-02-21 19:10] JessicaSOS opened #684 "transferred tradein phone"
A tradein item has been transferred from store # 1 to store # 2. Several days later, he was transferred from store # 2 to number # 1. Still, I can not see the item in store # 1. See example item # 10221.
<img width="947" alt="10221" src="https://user-images.githubusercontent.com/40500094/53194685-f96b8e00-35e1-11e9-8e25-c56bf4337697.png">
<img width="940" alt="10221 search" src="https://user-image

[2019-02-21 20:24] JessicaSOS opened #685 "Custom canned responses"
I lost some of my programmed responses I made before changing the "notification" settings tab. Can you give me the messages or the source code of these please.

--
J'ai perdu certaines de mes réponses programmées que j'avais faite avant la modification de l'onglet "notification" des réglages. Pouvez-vous me redonner les messages ou le code source de ces dernières svp.

[2019-02-22 01:52] cupell08 opened #686 "Technician Performance"
Productivity report is (almost) perfect.  It doesn't show amounts connected to tickets where that technician is assigned,but did not originally create/generate the ticket.

For example, sales person "Tyler" creates ticket and Assigns Tech "Ben" , under this report the amount that Ben invoices in that ticket would only show under Tyler's productivity Report and not Ben's.

Now when I run report it

[2019-02-22 02:42] phonefixdfw opened #687 "repair in progress email"
typo in the spelling of this macros but more importantly its not working, i renamed to receipt just to test and that didnt populate either

![image](https://user-images.githubusercontent.com/37640713/53216137-3dc65080-3619-11e9-999c-c11c0c45f61a.png)
![image](https://user-images.githubusercontent.com/37640713/53216142-41f26e00-3619-11e9-87fb-55604b39f2ea.png)

[2019-02-22 04:36] usmanalikhan93 commented on #683
Hi @JessicaSOS

Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2019-02-22 04:37] usmanalikhan93 commented on #684
Hi @JessicaSOS

Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2019-02-22 04:42] usmanalikhan93 commented on #687
Hi @phonefixdfw

Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2019-02-22 04:46] usmanalikhan93 commented on #680
Hi @ochoaonline

I hope you are doing well. I have checked your concern but It does show in history if you make RMA of an item. Can you guide how you are making RMA of this item ? It will be helpful for us to track the the issue.

Thanks
Usman Ali

[2019-02-22 04:52] Uzair-RepairDesk commented on #680
@usmanalikhan93
Also discuss it with Fahad today and he can confirm it from Modesto @ochoaonline

[2019-02-22 04:53] usmanalikhan93 commented on #685
Hi @JessicaSOS

Sure, Let me check this with developer.

[2019-02-22 04:53] usmanalikhan93 commented on #680
Sure @Uzair-RepairDesk

[2019-02-22 05:04] Uzair-RepairDesk commented on #681
Hey @Bluepointrepairs

I really appreciate that you took the time to share your idea.
I can certainly see how the suggested improvements would be useful. It will really help to delight and retain your existing customers.

However, with a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible.
At the moment, we won’t be able to make it r

[2019-02-22 05:09] usmanalikhan93 commented on #685
Hi @JessicaSOS

Can you specify which were missing ?

[2019-02-22 05:09] phonefixdfw opened #688 "clicking part order in ticket under inventory item changes ticket status to "waiting for parts""
![image](https://user-images.githubusercontent.com/37640713/53221131-a15a7900-362d-11e9-830a-1f35df913d1b.png)

The reason this is a problem, I have that default status inactive/disabled. I use my own called "parts ordered" but it changes it automatically to a status I have as inactive. Can you either make it not auto-change, or have it a setting to choose which status it turns to?

[2019-02-22 05:16] Uzair-RepairDesk commented on #682
Hey Modesto @ochoaonline,
It already gives a complete list of status. Do you want to change the view to view all the status with complete text?

[2019-02-22 05:20] Repair-Desk commented on #686
Can we add a filter to display sales by technician?

[2019-02-22 05:24] cupell08 commented on #686
Would that solve our issue? Can you explain more what that would do

Thanks for the reply!

[2019-02-22 05:26] usmanalikhan93 commented on #684
Hi @JessicaSOS

I have reviewed in your account. It is present in store 1(Limoilou). Please have a look on screenshot.
![jessica_trade_in_transfer](https://user-images.githubusercontent.com/39614480/53221676-4d32b180-368c-11e9-9c71-2108b0b8a0c8.png)

[2019-02-22 05:48] Uzair-RepairDesk commented on #686
Hi @cupell08
This is Uzair from RepairDesk.
I suggested the above workaround to you so you can get the sales insights with respect to your technician.

**_Please find my comments to both of your concerns below:-_**
1. it's  tedious for the tech to remember to create  invoice
**When a technician edits the ticket and saves it, RepairDesk automatically gives a notification to ask if the user wants to

[2019-02-22 06:48] Uzair-RepairDesk commented on #686
Hi Marcus @cupell08
As discussed over WhatsApp, let's connect on Monday same time so I can view your workflow and advise accordingly. Thanks.

[2019-02-22 06:55] usmanalikhan93 commented on #683
Hi @JessicaSOS

Can you please verify at your end ? We have release a fix for this, now it showing correct email. Please do let us know if you have any question.

Thanks
Usman Ali

[2019-02-22 07:03] Uzair-RepairDesk commented on #610
Modesto @ochoaonline
You can track it from "Employee Activity log" report:-
https://app.repairdesk.co/index.php?r=stats/employeeActivityLog

[2019-02-22 07:04] Uzair-RepairDesk commented on #627
Hey Modesto @ochoaonline
We have added Franchise fee functionality on your request.
You can set a specific percentage on the basis of specific criteria to calculate the "Franchise Fee" on "Multi-Store Sales Breakdown" report.

You can also add a translation of fields from Language editor under dashboard section.
You can review and find more information in the following knowledgebase article:-
http

[2019-02-22 07:04] #627 closed

[2019-02-22 07:05] Uzair-RepairDesk commented on #673
@usmanalikhan93
Can you create a task for this and add it in sprint so it can be done in next week.

[2019-02-22 07:06] usmanalikhan93 commented on #673
Sure @Uzair-RepairDesk

[2019-02-22 07:15] usmanalikhan93 commented on #673
For internal use:
https://repairdesk.atlassian.net/browse/REP-1468

[2019-02-22 07:19] Uzair-RepairDesk commented on #651
**Update**: We have completed the design and HTML of front and backend. We will proceed with development from next week.
Backend design is also attached
![configuration-settings-2](https://user-images.githubusercontent.com/22955861/53226187-211f2c80-369c-11e9-8223-d3fb07261cdc.jpg)

[2019-02-22 07:20] Uzair-RepairDesk commented on #651
Linked with #571

[2019-02-22 07:21] #272 closed

[2019-02-22 07:26] Uzair-RepairDesk commented on #254
We already added {{device_location}} macro in ticket label under Template Editor.
Please check screenshot attached
![uzairshah update template](https://user-images.githubusercontent.com/22955861/53226530-1c0ead00-369d-11e9-8376-be4f42d60b45.png)

[2019-02-22 07:26] #254 closed

[2019-02-22 07:27] #252 closed

[2019-02-22 07:49] Uzair-RepairDesk commented on #644
Hey Modesto @ochoaonline
I have prioritized it and adding it in the plan. Thanks

[2019-02-22 09:41] Uzair-RepairDesk commented on #582
I discussed it with Danish. He said you are good to go. If you still face any issue. You can contact him directly. Thanks

[2019-02-22 09:41] #582 closed

[2019-02-22 10:09] #319 closed

[2019-02-22 10:09] #275 closed

[2019-02-22 11:52] Uzair-RepairDesk commented on #655
@usmanalikhan93
Please check this

[2019-02-22 12:00] Uzair-RepairDesk commented on #416
Hey @JessicaSOS
We have gone live with Dispatch module in BETA.
Please review and share your feedback on that.
You can find more information from the following link:-
https://repairdesk.uservoice.com/knowledgebase/articles/1888324-dispatch-module

[2019-02-22 17:55] ochoaonline opened #689 "Payments Received Currently has Tax included - DrPhonefix"
Can We remove the taxes from payments received please we use payments received as our method to charged Franchise fee, and taxes are not included in franchise fee payments

![drphonefix cape coral dashboard](https://user-images.githubusercontent.com/35181467/53261021-faafc000-36a0-11e9-9d00-40f34a3c1ba1.png)

![drphonefix cape coral registersales stats](https://user-images.githubusercontent.com/35

[2019-02-22 18:23] Repair-Desk commented on #689
I believe we should have a filter in the right which has following option

With tax
Without tax

This option should be available in store setting as well so they can setup against business profile.

So if there is a customer in australia who wants to see his sales he wants them GST inclusive

[2019-02-22 19:10] ochoaonline opened #690 "Daily and Hourly Sales Report but via Payments received not Accrued Basic"
If we could have a  Daily Sales / Sales by Hour report similar to these pictures below,
but for it to be Cash Basis (Payments Received) so we can track the actual daily sales of each store
Thanks
![sales by day lightspeed retail](https://user-images.githubusercontent.com/35181467/53264967-fe484480-36aa-11e9-928a-50c544f2e5c1.png)

![sales by hour lightspeed retail](https://user-images.githubuserco

[2019-02-24 20:59] ali-repairdesk opened #691 "Documentation on Business Wise / Store Wise Components | Modesto | DrPhone Fix"
Hello Sir,

As per reference of email to Sir Uzair, Sir Usman and Fahad, Modesto from DrPhone Fix is looking for:

Do you guys have any documentation / guide we can look at to see what features / settings are Business wise / Store wise.

For the past week plus almost daily we keep getting random changes being made by techs / employees at store level and keep affecting all of us Business wise, and

[2019-02-24 21:00] ali-repairdesk commented on #691
@Uzair-RepairDesk Lets meet today on this.

Moreover I will appreciate if you may see with the team if they have a doc which we can share with Modesto.

Thanks a lot

[2019-02-25 04:42] Uzair-RepairDesk commented on #690
Hey Modesto @ochoaonline

Thank you for sharing the report formats. Above requirement falls in "Cash Basis" reporting. I shared a document with you on "Cash vs Accrual Basis Reporting" by email.
We certainly wanted to proceed with Cash basis reporting however we have few challenges before starting the development with respect to the current behavior of partial payment and refunds. We have listed t

[2019-02-25 04:46] Uzair-RepairDesk commented on #691
**He actually listed the following concerns:-**

•	Employee changing name's of parts for example iphone 7+ was changed to Galaxy Edge 7 affected all locations
•	Items being removed from our Inventoried Categories to new or fake categories affecting all locations inventory counts
•	Parts being added on store level and showing up on all stores, when only one store Control center has that setting ena

[2019-02-25 05:48] #545 closed

[2019-02-25 06:23] usmanalikhan93 commented on #671
Hi again Modesto@ochoaonline   - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2019-02-25 06:23] #671 closed

[2019-02-25 06:24] usmanalikhan93 commented on #683
Hi again @JessicaSOS   - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2019-02-25 06:24] #683 closed

[2019-02-25 06:24] usmanalikhan93 commented on #684
Hi again @JessicaSOS   - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2019-02-25 07:05] Uzair-RepairDesk commented on #688
Hi @phonefixdfw
Currently, its a system default behavior. When you add a part for special order system changes the status to "Waiting for Parts".
If you don't want to keep the default status, I recommend you to manually change the status from same view/edit page of a ticket to "Parts Ordered" from "Waiting for Parts" once you place an order for the ticket part item.
Hope it helps.

[2019-02-25 07:59] Uzair-RepairDesk commented on #686
Hey Marcus @cupell08
As discussed over the call, I have reported the issue to the development team with Urgent priority so it should keep the same employee name who created the invoice rather than updating it with the employee name who created the ticket if you update it from Manage Tickets section.
I will update you once it's fixed. Thanks.

[2019-02-25 11:09] usmanalikhan93 commented on #673
Hi Modesto@ochoaonline

We have deleted your Device Physical Locations. Please verify at your end and do let us know if you have any question.

Thanks
Usman Ali.

[2019-02-25 11:09] #673 closed

[2019-02-25 13:22] usmanalikhan93 commented on #687
For internal use:
https://repairdesk.atlassian.net/browse/REP-1487

[2019-02-25 15:50] JessicaSOS opened #692 "The signatures in widget"
The signatures do not work this morning in the widget, in all store. Yet nothing was changed and Saturday everything worked well. Can you fix that and stop breaking what works well.

--
french:
Les signatures ne fonctionnent pas ce matin dans le widget, dans toutes les boutiques. Pourtant, rien n'a été changé et samedi tout fonctionnait bien. Pouvez-vous corriger ça et arrêter de briser ce qui fon

[2019-02-25 15:57] phonefixdfw commented on #688
the problem is, its sending email notificaiton when it changes it
automatically to "waiting for parts" even though i dont have it set to do so

its not possible to make an option to select a status as default vs keeping
same default?

On Mon, Feb 25, 2019 at 1:05 AM Muhammad Uzair Shah <
notifications@github.com> wrote:

[2019-02-25 17:41] Repair-Desk commented on #594
If you remove multiple inventory items from the inventory listing page there is no record of it. Would be great if we can display the item numbers

item # 991, item # 992, item # 311 were deleted from Manage Inventory. See below:

![dpf control center - employeeactivitylog stats](https://user-images.githubusercontent.com/21986026/53356960-7a15eb80-394e-11e9-851a-d17d21a77094.jpg)

[2019-02-25 17:45] Repair-Desk opened #693 "Ability to delete item from all store"
If an employee doesn't have access to delete an item he can still click on action and delete it from selected or all stores. This should be role based

<img width="1280" alt="screen shot 2019-02-25 at 10 44 16 pm" src="https://user-images.githubusercontent.com/21986026/53357145-00cac880-394f-11e9-9a47-8463dd09be04.png">

[2019-02-25 18:08] ochoaonline commented on #627
Thank guys it works great

[2019-02-26 05:00] Uzair-RepairDesk commented on #691
Fahad @ali-repairdesk
As discussed please proceed and advise Modesto according to the cases document I sent to you. Thanks

[2019-02-26 05:05] Uzair-RepairDesk commented on #692
Hey @JessicaSOS

In order to improve software browsing faster, we've created a custom domain for SOS Phone team which they can use to access RepairDesk below. Please have your team bookmark the URL for easier access:

DOMAIN: https://sosphone.repairdesk.co/

**Usman sent you an email on this as well.**

Please note that you need to update following widget iframe code on your website:
•	Repair Trac

[2019-02-26 06:08] Uzair-RepairDesk commented on #693
**In-House Task Reference:-**
https://repairdesk.atlassian.net/browse/REP-1495

[2019-02-26 07:01] Uzair-RepairDesk commented on #594
**In-House Task Reference:-**
https://repairdesk.atlassian.net/browse/REP-1497

[2019-02-26 12:47] Uzair-RepairDesk commented on #686
Hey Marcus @cupell08
I am pleased to inform you that your reported issue has been fixed.
It will keep the same username that creates the invoice when you update the ticket and save it.
Now you will be able to view the sales analysis with respect to the technician when you will follow the above workflow and allow your technician to create an invoice.

Please review at your end and confirm. Thanks

[2019-02-26 15:12] JessicaSOS commented on #692
I understand well thank you very much
fixed

[2019-02-26 15:12] #692 closed

[2019-02-26 15:24] JessicaSOS commented on #692
Perfect tnx

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579> 418 999.1579 |  <tel:4506771579> 450 677.1579 |  <tel:18559991579> 1 855 999.1579
 <mailto:jessica@sosphone.ca> jessica@sosphone.ca
 <https://sosphone.ca/?utm_source=signature&utm_medium=urlsite&utm_content=sosphone.ca&utm_campaign=outils> sosphone.ca
5375, boul. Guillaume Couture, Lévis, G6V 4Z3
2750, 1re Avenue, Limoilou,

[2019-02-26 15:35] JessicaSOS commented on #685
It misses more than one but among others that concerning refunds. "remboursement"

[2019-02-26 15:46] JessicaSOS commented on #490
Hello,
yes we are doing all the same steps. The only thing I see different is that we click on "add line" before writing the note in customer comment. Maybe that's the problem. Can you test it?

[2019-02-26 15:55] JessicaSOS commented on #486
Video of tax problem in lead attached

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579> 418 999.1579 |  <tel:4506771579> 450 677.1579 |  <tel:18559991579> 1 855 999.1579
 <mailto:jessica@sosphone.ca> jessica@sosphone.ca
 <https://sosphone.ca/?utm_source=signature&utm_medium=urlsite&utm_content=sosphone.ca&utm_campaign=outils> sosphone.ca
5375, boul. Guillaume Couture, Lévis, G6V 4Z3
2

[2019-02-26 15:56] JessicaSOS commented on #486
I sent you the video by email because here I am not able to send it.

[2019-02-26 16:44] JessicaSOS commented on #683
fixed

[2019-02-26 16:59] JessicaSOS commented on #684
It was impossible to view it from SOS Phone Limoilou. I do not know what you have changed but actually, it works in itself. There was another item that I was not able to view at Limoilou (the main store) but I did not notice it. I'll let you know if the problem comes back.
Have a good day

[2019-02-26 19:06] JessicaSOS commented on #416
Hello,
It is very interesting this tab. Here are my comments:

- My employee has access only to his assignment and I can not find any option concerning the dispatch module in the post privileges.

- We should be able to access the ticket when we click on the ticket number or the name of the customer.

- Being able to send text messages is great. If you could add email addresses, it could be fine.

[2019-02-26 21:20] JessicaSOS commented on #684
I find another example. Item # 10438 is not visible in Limoilou. It is "in stock" in Lévis but I do not see it in the list of devices "in stock" of Lévis.

[2019-02-27 04:30] usmanalikhan93 commented on #490
Hi @JessicaSOS

It's the flow. You have to click on add line after writing the note in customer comment. As it is in video.

[2019-02-27 04:39] usmanalikhan93 commented on #684
Sure. Let me check this.

[2019-02-27 04:47] usmanalikhan93 commented on #486
Hi @JessicaSOS

I didn't receive any video in email. Can you send me again ?

[2019-02-27 07:54] usmanalikhan93 commented on #684
Hi @JessicaSOS

I have test this on my test account and it works according to the flow. Can you help me to reproduce this issue ? I saw some abnormal behavior in admin history. It will be very helpful for me if you tell me how did you transfer this item.

[2019-02-27 09:41] usmanalikhan93 commented on #680
For internal use:
https://repairdesk.atlassian.net/browse/REP-1403

[2019-02-27 14:00] JessicaSOS commented on #486
I sent you the video by email because here I am not able to send it.

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579> 418 999.1579 |  <tel:4506771579> 450 677.1579 |  <tel:18559991579> 1 855 999.1579
 <mailto:jessica@sosphone.ca> jessica@sosphone.ca
 <https://sosphone.ca/?utm_source=signature&utm_medium=urlsite&utm_content=sosphone.ca&utm_campaign=outils> sosphone.ca
5375, boul. Guil

[2019-02-27 14:00] JessicaSOS commented on #486
Is sending again, please let me know if you don’t received

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579> 418 999.1579 |  <tel:4506771579> 450 677.1579 |  <tel:18559991579> 1 855 999.1579
 <mailto:jessica@sosphone.ca> jessica@sosphone.ca
 <https://sosphone.ca/?utm_source=signature&utm_medium=urlsite&utm_content=sosphone.ca&utm_campaign=outils> sosphone.ca
5375, boul. Guillaume Cout

[2019-02-27 16:07] ochoaonline commented on #682
@Uzair-RepairDesk  it does not give you a complete list, after the dropdown is open you have to scroll down or search to find the right status you need , on the ticket side it only shows like 4 status, vs front end on POS it shows 16+

[2019-02-27 16:17] ochoaonline commented on #689
@Repair-Desk Filter works for everyone :)

[2019-02-27 16:59] ochoaonline commented on #644
@Uzair-RepairDesk Thanks

[2019-02-27 17:00] ochoaonline commented on #671
@usmanalikhan93  yes we can disregard this one for now, no one else has reporting anything else towards it so not big priority on it thanks

[2019-02-27 17:00] ochoaonline commented on #673
Thank you

[2019-02-27 20:48] ochoaonline commented on #690
Some Thoughts:
1. Tax would be calculated on the remaining balance would probably be easiest route. or 2. a complicated formula would be the other route but this would be using backwards taxing having the system to figure out  X + Tax = $50 (Deposit) , if deposit was taken if i recall correctly, lightspeed wouldn't show deposit / data until full sale was completed

For COGS- maybe they can create

[2019-02-28 04:49] usmanalikhan93 commented on #486
Naa didn't receive any video. Please send on this email address "usm.khan83@gmail.com".

[2019-02-28 05:54] usmanalikhan93 commented on #486
Got it!

[2019-02-28 10:47] benjamingartner opened #694 "Trigger Switchs (Description & Images) for WooCommerce"
Can you please add a trigger switch for the RD/WooCommerce Description/Short Description Sync.

I would like this to be optional as i would prefer to create the description in Wordpress and nor RD.

[2019-02-28 12:41] benjamingartner commented on #694
Can you also please out a trigger for syncing product images. I would like to attach images to RD for viewing on the POS but upload seperately to WooCommerce.

[2019-02-28 13:08] #562 closed

[2019-02-28 17:35] JessicaSOS commented on #684
The device has not been transferred differently than usual. It looks like this problem occurs when a device is transferred more than once. I do not know exactly where the problem comes from so I can not help you any more. Try to make several transfers and maybe change the status. You have to test ...

[2019-02-28 17:42] JessicaSOS commented on #684
other exemple: #11248

[2019-02-28 17:47] JessicaSOS commented on #684
By changing the status, it does not change anything. Maybe this happens when an item has been sold and is transferred again after a return to inventory?

[2019-03-01 04:24] usmanalikhan93 commented on #679
Issue has been fixed.

[2019-03-01 04:24] #679 closed

[2019-03-01 06:34] #665 closed

[2019-03-01 06:42] Uzair-RepairDesk commented on #600
We have implemented it on iPad POS Register as well.

[2019-03-01 06:42] #600 closed

[2019-03-01 06:43] #686 closed

[2019-03-01 06:43] Uzair-RepairDesk commented on #686
We have fixed the issue and i have informed to Marcus @cupell08 over Whatsapp.

[2019-03-01 06:44] Uzair-RepairDesk commented on #684
@usmanalikhan93

[2019-03-01 07:06] usmanalikhan93 commented on #486
For internal Use:
https://repairdesk.atlassian.net/browse/REP-1518

[2019-03-01 07:19] usmanalikhan93 commented on #684
Hi @JessicaSOS

Ok let me try to reproduce this on my end. Thanks for information.

[2019-03-01 08:00] Uzair-RepairDesk commented on #693
We have fixed this issue.

[2019-03-01 08:00] #693 closed

[2019-03-01 08:03] Uzair-RepairDesk commented on #653
Hey @ChelseyShannon
We have made your suggested improvement LIVE. We have added criteria by "Supplier" in "Sales by Item Type" report.
Please review at your end. Thanks

[2019-03-01 08:03] #653 closed

[2019-03-01 09:40] usmanalikhan93 commented on #554
Hi @JessicaSOS

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali.

[2019-03-01 09:47] Uzair-RepairDesk commented on #670
**Update:** I will get the story for this improvement in this weak so we can prioritize and add it in next week sprint.

[2019-03-01 09:56] usmanalikhan93 commented on #680
Hi @ochoaonline

I hope you are doing well. We have added logs against RMA. We hope you will note face this issue again.
In any confusion or you have any question you can ask Fahad or message here so we will look into it ASAP.

Thanks!
Usman Ali.

[2019-03-01 09:56] #680 closed

[2019-03-01 10:04] usmanalikhan93 commented on #685
Ok. Let me check this with developer.

[2019-03-01 10:08] usmanalikhan93 commented on #685
For internal Use:
https://repairdesk.atlassian.net/browse/REP-1525

[2019-03-02 14:50] JessicaSOS opened #695 "Stock warning in Min-Max report"
Hello,
the stock warning of the product does not work when it is zero. The low inventory report does not see the item (example with the Nexus 5 screen). I have to manually click for each item on the saved button (even without having modified anything in the item). Following this, the report can see the item. Unfortunately, I can not do this for every item. Can you quickly fix this bug please.

--

[2019-03-02 18:28] Repair-Desk opened #696 "Print Label & Print Thermal Receipt Buttons For iPAD App"
Since not a lot of customers has recommended printer and using google cloud print / PrintNode.

On checkout screen it will be good to have a button which they can click to manually print out a label or receipt as well.

Also a button to delete repair ticket or invoice based on employee permission will be good too.

Also Sync Products manually should be renamed to Sync products + Settings (Manually

[2019-03-04 06:49] Uzair-RepairDesk commented on #695
Hey @JessicaSOS
Can you please elaborate it along with screenshots so we can look into it. Thanks

[2019-03-04 08:12] usmanalikhan93 commented on #695
Hi @JessicaSOS

I hope you are doing well. I have reviewed your concern on my test account with this scenario and it is working fine. I have checked in your account in store Saint-Roach, you didn't update Re-Order Level of most of the items. May be that's why you were facing this issue. Please kindly review this at your end and do let me know if you have any confusion.

Thanks
Usman Ali.

[2019-03-04 12:13] ali-repairdesk commented on #691
Sure Uzair Bhai,

Thanks

[2019-03-04 22:39] ochoaonline opened #697 "Employee Activity Logs - Possibility of making it business wise search"
Employee activity log, if there's a way for it to have option to search more than one store, or a check to search all stores, kind of like the
**Multi Store Sales Breakdown Report** has option to select a few or all and show report for those
![image](https://user-images.githubusercontent.com/35181467/53767660-729d9780-3ea4-11e9-92db-42efe03edf16.png)

, trying to make an easier way to track when e

[2019-03-05 08:06] usmanalikhan93 commented on #685
Hi @JessicaSOS

Here is your HTML source code for "remboursement"
[remboursement.txt](https://github.com/Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS/files/2929860/remboursement.txt)

Please verify at your end and do let us know if you have any question.

Thanks
Usman Ali

[2019-03-05 08:06] #685 closed

[2019-03-05 10:12] Repair-Desk opened #698 "Display Billing Error To Store Owner / Super Admin Only"
Dear @Uzair-RepairDesk

It would be great if we can display billing error to store owners only. See below:

![billing](https://user-images.githubusercontent.com/21986026/53797958-15afe900-3f59-11e9-9c30-a309dc432051.jpg)

[2019-03-05 10:25] Uzair-RepairDesk commented on #698
Noted. Will add it in next sprint.
@Repair-Desk

[2019-03-05 10:49] Uzair-RepairDesk commented on #697
Hey Modesto @ochoaonline
Thank you for sharing your idea. I can certainly discuss it with the development team if we can enhance the employee activity log report and provide a multi-store selection in criteria of store filter so you will be able to track the activity of a specific employee across multiple stores.
Can you define the priority of this request so I can plan it accordingly? Thanks

Reg

[2019-03-05 12:29] ali-repairdesk opened #699 "WooCommerce Integration with Other Than Main Store | Modesto | DrPhone Fix"
**Hello Sir,**

Customer has come up with a concern that he will like to use WooCommerce Integration on a store which is NOT the MAIN Store.

I have discussed this with Imran and he has said that we will need to make the changes in the default behavior of WooCommerce Integration.

So I am creating a task in this regards,

**Thanks,**

[2019-03-05 12:30] #699 closed

[2019-03-05 12:31] ali-repairdesk opened #700 "WooCommerce Integration with Other Than Main Store | Modesto | DrPhone Fix"
**Hello Sir,**

Customer has come up with a concern that he will like to use WooCommerce Integration on a store which is NOT the MAIN Store.

I have discussed this with Imran and he has said that we will need to make the changes in the default behavior of WooCommerce Integration.

So I am creating a task in this regards,

**Thanks,**

[2019-03-05 12:31] ali-repairdesk commented on #700
Internal Task Link:
https://repairdesk.atlassian.net/browse/REP-1557

[2019-03-05 13:18] ochoaonline commented on #697
@Uzair-RepairDesk is not to track particular employee across multiple locations, is more track specific activity across multiple locations / employees , one search will let me know every time someone deleted a ticket in entire system vs doing a search per location

[2019-03-05 17:33] ochoaonline opened #701 "Broad Search Fix on Parts / Accessories Management Module"
A lot of users , techs , owners, managers are having issues on using the Parts Management module, since the search is exact [iPhone Screen] vs broad iPhone Screen and it takes a long time to find the part you are specifically looking for

![drcomputerfix accessories inventory](https://user-images.githubusercontent.com/35181467/53824694-91526b80-3f42-11e9-9e46-c63abfc73500.png)
vs the same search o

[2019-03-05 17:42] ochoaonline commented on #677
@Uzair-RepairDesk you can maybe can combined this one with #643

[2019-03-05 18:55] ochoaonline commented on #541
@Uzair-RepairDesk @usmanalikhan93  you guys can close this task

[2019-03-05 19:05] Repair-Desk commented on #696
Would be great if there is a button to print A4 service receipt or invoice via printnode as well

[2019-03-05 19:27] JessicaSOS opened #702 "Exclude a commission from a product"
Initial problem: I'd like to know how to exclude a commission from a product. The products "prepay card" and "gift card" must have no commission. As mentioned before, I can not put them in the category "casual" because it does not maintain any sales history in the product. (history that may be necessary sometimes)

When do you think it can be corrected?
--
French:

Problème initial: J'aimerais sav

[2019-03-05 19:28] JessicaSOS commented on #702
What you wrote to me:

Hello Jessica,
I hope you are doing well.
Faizan passed on your information related to Commission Issue which you are facing for 1 Product item.
Before I come to your concern, I will like to mention here the current work flow of the commission module:
In RepairDesk Commission can be granted on the following basis:
1.	Product Based Commission [Highest Priority]
2.	Product Cat

[2019-03-05 20:19] JessicaSOS commented on #695
I am not able to put a video in github so can you do it for me please. I sent it to Usman by email.

Thank you

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579> 418 999.1579 |  <tel:4506771579> 450 677.1579 |  <tel:18559991579> 1 855 999.1579
 <mailto:jessica@sosphone.ca> jessica@sosphone.ca
 <https://sosphone.ca/?utm_source=signature&utm_medium=urlsite&utm_content=sosphone.ca&utm_cam

[2019-03-05 20:19] JessicaSOS commented on #695
I am not able to put a video in github so can you do it for me please. I sent it to Usman by email.
Thank you

[2019-03-05 21:19] JessicaSOS commented on #666
That's gonna be fixed this week ?

[2019-03-05 21:40] JessicaSOS commented on #554
Thank you to reopen, it is not fixed. See image attached.

--
Merci de réouvrir, ce n'est pas réglé. Voir image en pièce jointe.

Commission report:
<img width="945" alt="stacey commission report" src="https://user-images.githubusercontent.com/40500094/53838490-3c731d00-3f63-11e9-90d2-1bced1bebea5.png">

<img width="939" alt="invoice fl-15267" src="https://user-images.githubusercontent.com/4050009

[2019-03-05 21:42] JessicaSOS commented on #618
any news ?

[2019-03-06 04:26] usmanalikhan93 commented on #666
Hi @JessicaSOS

It is fixed and on beta server. Hopefully we will go live with this in this week release. I will update you once it will be available on live server.

[2019-03-06 04:27] usmanalikhan93 commented on #554
OK Let me check.

[2019-03-06 04:28] usmanalikhan93 commented on #618
Hi @JessicaSOS

We will do this to do, once Ali will be in office.

[2019-03-06 05:29] Uzair-RepairDesk commented on #702
Hey @JessicaSOS

Hope you are well. Regarding your above request, I will recommend you to keep "Prepay Card" or "Gift Card" in the "Casual Item" and keep them without commission percentage.
Yes, we don't have transaction history for a casual item but you can go to Manage Invoices and apply search filter with type "Casual" to filter the invoices of casual items.

However, if you still keep it in "P

[2019-03-06 05:30] #541 closed

[2019-03-06 06:02] Uzair-RepairDesk commented on #690
Further conversation is by email. In-House task reference is as follows. I have logged the conversation on the task:-
https://repairdesk.atlassian.net/browse/RD-332

[2019-03-06 06:43] Repair-Desk commented on #628
It appears that following labels are not transferred over.

Repair Tickets under repairs doesn't translate or its translation is not copied over

<img width="1280" alt="translate 3" src="https://user-images.githubusercontent.com/21986026/53861119-01292a80-4005-11e9-9987-3b8b5f705e6e.png">

![translate 2](https://user-images.githubusercontent.com/21986026/53861075-dc34b780-4004-11e9-960d-e37dccbe96

[2019-03-06 13:10] Repair-Desk commented on #697
@Uzair-RepairDesk I believe we should include an option to select multiple or all store locations so that an administrator can run desired query to find out who created a inventory item, removed it etc..

[2019-03-06 13:26] Repair-Desk commented on #697
Also we should add a column for store name so that its easier to trace in which store this change was made.

I've checked with Bilal and he has confirmed this is possible. Please add this for next sprint

[2019-03-06 13:27] Repair-Desk commented on #697
Also we should add a column for store name so that its easier to trace in which store this change was made.

I've checked with Bilal and he has confirmed this is possible. Please add this for next sprint

[2019-03-06 17:07] JessicaSOS commented on #666
Ok, i await yours news, tnx

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579> 418 999.1579 |  <tel:4506771579> 450 677.1579 |  <tel:18559991579> 1 855 999.1579
 <mailto:jessica@sosphone.ca> jessica@sosphone.ca
 <https://sosphone.ca/?utm_source=signature&utm_medium=urlsite&utm_content=sosphone.ca&utm_campaign=outils> sosphone.ca
5375, boul. Guillaume Couture, Lévis, G6V 4Z3
2750, 1re A

[2019-03-06 18:04] JessicaSOS commented on #702
Thank you for this idea to bypass the automatism in order to have a similar result. Even I select VOID, the item still appears in the commissions payable to the employee, so it does not solve my problem. I would prefer to be able to remove a commitison rather than put all my products in the "Casual" category.
For the following reasons:
- Since the products are already well categorized and that cat

[2019-03-06 18:27] JessicaSOS opened #703 "Alert of the appointement widget calendar"
Employees do not receive notifications when a new lead is generated via the "appointement calendar" widget. Still, the alerts are correctly configured. I tested 2 shops (Lvis and Sainte-Foy) but I think this problem is present in all stores.
<img width="938" alt="appointement calendar widget" src="https://user-images.githubusercontent.com/40500094/53904263-9f23f180-4013-11e9-89ba-a77420fd9a63.png"

[2019-03-07 04:16] usmanalikhan93 commented on #703
Hi @JessicaSOS

Usman Ali here, Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2019-03-07 06:52] Repair-Desk commented on #642
We're redesigning checkout which should fix the above issues.

When a transaction is approved following screen will be displayed:

![approved-1](https://user-images.githubusercontent.com/21986026/53937427-e4f1c000-40ce-11e9-9d77-1c828143b02b.jpg)

If there is an issue with transaction or payment is declined following screen will be displayed:

![decline-2](https://user-images.githubusercontent.com

[2019-03-07 07:41] Uzair-RepairDesk commented on #273
QuickBooks integration is working fine since a while now.
You can find more information on QuickBooks integration from the following link:-
https://repairdesk.uservoice.com/knowledgebase/articles/1200730-how-can-i-integrate-quickbooks-with-repairdesk

[2019-03-07 07:41] #273 closed

[2019-03-07 07:42] #229 closed

[2019-03-07 07:46] Uzair-RepairDesk commented on #416
Thank you so much for your feedback @JessicaSOS on dispatch module.
Currently, our module is in BETA and we will certainly consider your feedback while updating dispatch module.

[2019-03-07 07:48] #392 closed

[2019-03-07 07:53] usmanalikhan93 commented on #703
Hi @JessicaSOS

I have reviewed your concern but it is working fine. Notification comes to those employees on which it is enable. Can you please again verify at your end and let me know if you are still facing this issue.

Thanks
Usman Ali

[2019-03-07 13:24] usmanalikhan93 commented on #618
Hi @JessicaSOS

you have replied to Ali:
Both Problems are fixed?
1- all customer create un limoilou store was automatically unsubscribed. In other store is subscribed
2- we are not able to change unsubscribed to subscribed
Can you try both issue to confirm if is fixed ?

I have checked for few customers and they were as subscribed. Can you check at your end and let me know if it's working ?

[2019-03-07 15:08] JessicaSOS commented on #618
1- all customer create un limoilou store was automatically unsubscribed. In other store is subscribed ****FIXED****
2- we are not able to change unsubscribed to subscribed ****NOT FIXED****

[2019-03-07 15:58] JessicaSOS opened #704 "Notification for LEAD"
Hello,
Lead notifications do not work properly. I activated the option when a new lead is generated, to automatically send an email to the customer. It works, but not the sms.
I did the test myself by creating a new appointment via the widget, and there are 3 emails that have been sent. You can see in the attached image, that the customer receives the same message as in-house employees. However, t

[2019-03-07 16:14] JessicaSOS commented on #490
Fixed !

[2019-03-07 16:17] JessicaSOS commented on #486
Hello,
this task is not settled yet and we use more and more lead. Can you please correct.
Thank you and good day

[2019-03-07 16:27] JessicaSOS opened #705 "Estimate Notification"
Hello,
When we create an estimate via a lead, there is no email that is sent to the client, even if the programming is configured so that an email is sent.

<img width="939" alt="estimate notifictaion" src="https://user-images.githubusercontent.com/40500094/53971677-52035680-40cb-11e9-8855-ef66efcbd7d1.png">
--
french:
Bonjour,
Lorsque nous créons une estimation via un lead, il n'y a aucun courrie

[2019-03-07 16:52] usmanalikhan93 commented on #486
Hi @JessicaSOS

It's on beta server. And we will push it on live tomorrow hopefully. If you want to check, you can test it on beta. Here is the link app.repaircrm.co

[2019-03-07 17:08] JessicaSOS opened #706 "Macros problem (Tag)"
Hello,
All tags "Macros" do not work in the notifications and email programs. Thank you for correcting quickly, because it's been a long time since the problem is present and every day, dozens of customers receive
Hello Customer name,
{store_name}
{store_address}
{store_email}
{store_website}
{store_phone}
  It's not very professional.

See example:
Issues already reported (October 2018) that corr

[2019-03-07 17:20] JessicaSOS commented on #486
Taxes seem to work. I tried to enter a price manually and I tried to enter an item with a price already configured and both work. However, as much in the live version as the beta version, I am not able to put two repairs. When I want to add the repair by clicking "add to line", an error message is displayed.
See Attachment.
<img width="939" alt="unable to add a second line" src="https://user-image

[2019-03-07 17:35] JessicaSOS commented on #704
To rectify, the sms work but the text does not include the accent. It is therefore illegible because the accents are replaced by "?".
--
French:
Pour rectifier, les sms fonctionnent mais le texte n'inclus pas les accent. C'est donc illisible, car les accents sont remplacé par des "?".

[2019-03-07 17:38] JessicaSOS commented on #703
I did the test myself being connected with the user of Kelsye Bélair (SOS Phone Lévis) and I have received no sound alert. I will send to Usman a video with we transfer.

[2019-03-07 19:53] JessicaSOS commented on #437
Hello,
Regarding this problem, the item no longer withdraws from the inventory. It remains "in stock" when the sale is unsuccessful. Which is perfect. However, a "unpaid" invoice creates this even if the transaction is unsuccessful. Is there any programming I could add to prevent an invoice from being created if the transaction is unsuccessful in woo commerce?

--
French:
Bonjour,
Concernant ce pr

[2019-03-07 22:30] JessicaSOS opened #707 "assignment disapear when a ticket is transfered"
Hello,
when we transfer a ticket, the assignment automatically disappears. It's a shame for the technicians' commissions. Can you fix that?
Have a good day

--
french:
Bonjour,
lorsque nous transférons un billet, l'assignation s'efface automatiquement. C'est dommage pour les commissions des techniciens. Pouvez-vous corriger cela ?
Bonne journée

[2019-03-08 04:59] usmanalikhan93 commented on #486
Hi @JessicaSOS

Yes you are right it gives error on second line item when adding it. It's already been reported as In House bug. I have discussed with our CTO Imran, we have planned it for next week.

Thanks
Usman Ali.

[2019-03-08 06:45] Uzair-RepairDesk commented on #702
Thank you for the details @JessicaSOS . I will check with the team about the possibility of above-requested enhancement and update you accordingly.

[2019-03-08 06:59] Uzair-RepairDesk commented on #584
Hey Will @TechreviveAu
We have made this enhancement LIVE.
1: You can now choose to view the pre/post conditions of a device as a dropdown or in the toggle mode.
2: From now on, you’ll have the device conditions against every category in the POS section.
3: Default conditions have been specified for your convenience, also you can add/edit any other condition if required against specific category.

[2019-03-08 06:59] #584 closed

[2019-03-08 07:04] Uzair-RepairDesk commented on #644
Hey Modesto @ochoaonline

We have made this improvement LIVE.
A new trigger called “Show on Checkout” has been added against every payment method in the ‘Store Settings’ that will let you select what methods of payment would you allow to display on checkout or while adding payment.
You can disable it for the payment methods that you only use while recording the expenses.
Check screenshot attached

[2019-03-08 07:04] #644 closed

[2019-03-08 07:07] Uzair-RepairDesk commented on #498
**Update:** We have completed development on this enhancement and it's expected to GO LIVE in our next release. Thanks

[2019-03-08 08:01] Uzair-RepairDesk commented on #678
Requested improvement listed here #614

[2019-03-08 11:16] usmanalikhan93 commented on #666
Hi @JessicaSOS

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-03-08 11:16] #666 closed

[2019-03-08 11:17] usmanalikhan93 commented on #486
Hi @JessicaSOS

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-03-08 11:18] usmanalikhan93 commented on #687
Hi @phonefixdfw

[2019-03-08 11:19] #687 closed

[2019-03-08 12:39] usmanalikhan93 commented on #707
Hi @JessicaSOS

Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you

[2019-03-08 12:39] usmanalikhan93 commented on #705
Hi @JessicaSOS

Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you

[2019-03-08 12:39] usmanalikhan93 commented on #703
ok Let me test again.

[2019-03-08 13:56] ochoaonline opened #708 "Register Sales Check Mark Issue"
![drphonefix leesburg registersales stats 1](https://user-images.githubusercontent.com/35181467/54032475-b1bb3980-417f-11e9-9b32-e0b8e1e73934.png)

Little glitch on the register sales report, When you click the check mark for criteria, the 2nd menu doesn't always come out, you have to click the name, and once you get the 2nd menu to come out and you check mark Cash, credit card, or any of the Meth

[2019-03-08 15:51] JessicaSOS commented on #486
It is indeed corrected! Thank you
It only misses the problem for the second item.
Have a good day

[2019-03-08 16:26] JessicaSOS commented on #666
fixed tnx

[2019-03-08 20:09] ali-repairdesk opened #709 "Inventory Count 500 Error | Modesto | DrPhone Fix"
Hello Sir,

Customer has reported an issue that once they click on Save in order to save Inventory Count, it throws 500 Error.

Store Name: DPF Oldsmar

Development team will be checking the logs and sharing the feedback. Screenshot attached as well.

Regards,

[2019-03-08 20:10] ali-repairdesk commented on #709
![Inventory Count](https://user-images.githubusercontent.com/26381305/54053128-25088e00-4208-11e9-813f-47fa115c9e17.jpg)

[2019-03-08 20:27] ali-repairdesk opened #710 "Cross Sales on Locations for Employee Nicole | Modesto | DrPhone Fix"
**Hello Sir,**

Customer has reported an issue that Not sure whats causing cross sales on locations but its happened a few times when one of our employees Nicole visits some of the stores and use the training pos to train the employees, basically shift is opened on Leesburg Register, but somehow later in day all sales showed up under training register, so when closing Leesburg register sales are o

[2019-03-08 20:29] ali-repairdesk commented on #710
![Nicole 1](https://user-images.githubusercontent.com/26381305/54053945-b37e0f00-420a-11e9-858c-6a03aca24121.jpg)
![Nicole 2](https://user-images.githubusercontent.com/26381305/54053951-b7aa2c80-420a-11e9-9d7f-9a52a947e664.jpg)
![Nicole 3](https://user-images.githubusercontent.com/26381305/54053952-b973f000-420a-11e9-933a-340f48691370.jpg)

[2019-03-08 20:46] ali-repairdesk opened #711 "RMA Issue | Modesto | DrPhone Fix"
**Hello Sir**

Customer has reported an issue that the RMA's not triggering inventory. A new RMA that didn't deduct from system.

RMA-071 - HQ RETAIL
RMA-069 also with Item # 1315

**Regards,**

[2019-03-08 20:48] ali-repairdesk opened #712 "List of Deleted Items from All Stores | Modesto | DrPhone Fix"
**Hello Sir,**

Customer is looking to have all the deleted items in 2019.

Can we share a list with him.

**Regards,**

[2019-03-10 11:56] Repair-Desk opened #713 "Trade-In Module - It doesn't reflect in customer profile"
Hi we did a trade in purchase from a customer, out trade in item # 0791 shows that it was traded in, however if we go to the customer it does not show under their name that we purchased from them.

Store: WirelessER Inc

[2019-03-10 13:35] Repair-Desk commented on #682
@Uzair-RepairDesk

I believe most commonly used status should display first or they should be sorted alphabetically. Github issue tracker has a really great label dropdown which we can use for the same :)

[2019-03-10 23:25] ali-repairdesk commented on #691
We discussed with Modesto and this will be catered during the whole module of Store and Business Wise Settings.

So closing the ticket for now.

[2019-03-10 23:26] ali-repairdesk commented on #678
This is covered in below ticket:
https://github.com/Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS/issues/711

So closing this ticket after discussing with Modesto.

[2019-03-11 04:11] #678 closed

[2019-03-11 04:11] #691 closed

[2019-03-11 04:45] usmanalikhan93 commented on #708
Hi Modesto @ochoaonline

Usman Ali here, Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

Thanks

[2019-03-11 05:25] usmanalikhan93 commented on #705
Hi @JessicaSOS

I have discussed this and this does not send email automatically in case of Estimate. You have to send manually to that customer. We will exclude those responses which does not sent automatically. Thanks for highlighting it and sorry for the inconvenience.

Thanks
Usman Ali.

[2019-03-11 05:39] usmanalikhan93 commented on #703
Hi @JessicaSOS

I have reviewed it again and it is working fine. Just a quick question, are you making appointment from Levis store ?
Or can I make a test appointment on your account to check ?

[2019-03-11 06:06] usmanalikhan93 commented on #707
For internal use:
https://repairdesk.atlassian.net/browse/REP-1587

[2019-03-11 06:32] Uzair-RepairDesk commented on #713
Dan from Technology traders also requested the same and it was included in our new "Manage Customers" module and we never got a chance to work on it.
@Repair-Desk

[2019-03-11 06:55] usmanalikhan93 commented on #710
For internal use:
https://repairdesk.atlassian.net/browse/REP-1591

[2019-03-11 06:56] usmanalikhan93 commented on #709
For internal use:
https://repairdesk.atlassian.net/browse/REP-1590

[2019-03-11 07:11] usmanalikhan93 commented on #618
Hi @JessicaSOS

Please find developer feedback below:

Mailchimp integration working absolutely fine.
As this error occured on submission of page if record exist more than one with the same mobile/email.
After mailchimp button click. form submitted and it shows customer validation error nothing else. as you can see in attached following video.
https://drive.google.com/file/d/1qC-bWSB1NHHu8dIaJ2FvS

[2019-03-11 07:58] usmanalikhan93 commented on #712
For internal use:
https://repairdesk.atlassian.net/browse/REP-1592

[2019-03-11 10:50] usmanalikhan93 commented on #708
For internal use:
https://repairdesk.atlassian.net/browse/REP-1589

[2019-03-11 10:53] usmanalikhan93 commented on #486
For internal use:
https://repairdesk.atlassian.net/browse/REP-1008

[2019-03-11 12:47] Uzair-RepairDesk commented on #682
I will see the best possible solution and add it in the sprint as per the priority list of Modesto. @ochoaonline

[2019-03-12 06:30] zoombiefone opened #714 "Woocommerce Stock Sync"
Hi,
Does anyone have problems with stock level sync with woocommerce? I sold an item through repairdesk app, the stock level does not change in Woocommerce.

[2019-03-12 09:57] Uzair-RepairDesk commented on #714
Hi @zoombiefone
Do you have same SKU of an item in both RepairDesk inventory item and WooCommerce item details?
Also, web job takes time to sync stock? If you want to instantly sync it, you can go to Integrations > WooCommerce Integration > Setup > Triggers > Click on "Manual Sync Now".

Please do let me know if it works. Thanks

[2019-03-12 11:04] Repair-Desk commented on #701
@Uzair-RepairDesk As discussed, can you discuss with imran if we can include manufacturer and device model in the search. I would also recommend to get suggestive search dropdown redesigned

[2019-03-12 11:05] Repair-Desk commented on #689
@Uzair-RepairDesk As per today's meeting please discuss your challenges with @ochoaonline and move forward accordingly

[2019-03-12 15:28] JessicaSOS opened #715 "Tests don't work in a ticket"
The tests do not work anymore. See videos, nothing appears! (Video sending to usman)

--
french:
Les tests ne fonctionnent plus. Voir videos, plus rien apparait !

[2019-03-12 15:35] JessicaSOS commented on #618
I understand that the system does not show any error code, but I am not able to subscribe people who are in unsubscribed. Help me please.

[2019-03-12 15:46] JessicaSOS commented on #703
Hello,
For this example, yes the appointment was taken in Lévis. We also tested it with other shop and we have the same problem. You can try to create appointments without problems. Let me know the numbers and I will erase them later.

[2019-03-12 15:47] JessicaSOS commented on #705
ok tnx

[2019-03-12 15:47] #705 closed

[2019-03-12 15:57] JessicaSOS commented on #715
It did not work anymore because of the change in the options. I corrected them and it works well. Thank you !

[2019-03-12 15:57] #715 closed

[2019-03-12 21:40] ochoaonline opened #716 "Cannot Send Emails to Our Domain - Send Invoices or Forgot Password"
![DrPhoneFix Training Pos   Invoice](https://user-images.githubusercontent.com/35181467/54238014-b79d7b80-44ed-11e9-98f8-2ea693ad1926.png)

Still having issue being able to send emails to @drphonefix.com wether from the Email Invoice on Manage Invoices, also tried forgot password on front end trying to log in and no emails, and havent seen to many notifications lately think those are also down

[2019-03-12 23:08] zoombiefone commented on #714
The SKU is the same. I've waited for hours and the stock doesn't change. I'm fairly sure it doesn't.

[2019-03-13 06:14] usmanalikhan93 commented on #554
Hi @JessicaSOS

I have drilled down your issue and yes issue exists. Now I have scheduled this in next week with it's developer. Then we will try to reproduce the case which is causing this issue. I will update you once the issue is fix.

For internal use:
https://repairdesk.atlassian.net/browse/REP-1628

[2019-03-13 06:52] usmanalikhan93 commented on #618
Hi @JessicaSOS

I have checked with developer, when I try to subscribe or unsubscribe it shows missing email address. Developer said this issue comes from mail chimp. It is not syncing these email addresses..

[2019-03-13 11:07] Uzair-RepairDesk commented on #714
Hey @zoombiefone
Thank you for your response. Can you share your account credentials along with item details by email so I can check it from your account?
My email address is uzair@repairdesk.co

[2019-03-13 11:08] Uzair-RepairDesk commented on #716
@usmanalikhan93
Can you please check this?

[2019-03-13 11:31] usmanalikhan93 commented on #684
Hi @JessicaSOS

Your reported issue has been fixed. But there is one thing the old records needs to be update manually. So if you know the items which were transferred and not showing, you can mention here there transfer order and our developer will check that and fix those.

[2019-03-13 11:40] usmanalikhan93 commented on #716
Sure. Let me check this @Uzair-RepairDesk

[2019-03-13 12:51] usmanalikhan93 commented on #716
@Uzair-RepairDesk Modesto @ochoaonline

We have verified this issue on our test accounts with gmail domain and it is working fine. However once our CTO will be in office, I will discuss this with him and I or Fahad will update here about the fix/solution.

For internal use:
https://repairdesk.atlassian.net/browse/REP-1639

[2019-03-13 14:29] ochoaonline commented on #716
@Uzair-RepairDesk @usmanalikhan93  @gmail addresses and all others work on our end as well is just the @drphonefix that has the issue , before i added an IP via whitelist not sure if maybe IP changed or if there's another ip i need to whitelist

[2019-03-13 15:20] ali-repairdesk opened #717 "Issue With Register Sales Report - Modesto | DrPhone Fix"
**Hello Sir,**

Customer has reported an issue that Register Sales Report and Register Sales via Excel don't match up for dates: 6 March, 7 March, 9 March and 11 March.

[Relevant Screenshot Attached]
![Screenshot 2](https://user-images.githubusercontent.com/26381305/54290757-5ea51480-45cd-11e9-847d-e299668df917.JPG)
![IMG 1](https://user-images.githubusercontent.com/26381305/54290758-5f3dab00-45c

[2019-03-13 15:20] ali-repairdesk commented on #717
Internal task link which was fixed previously:
https://repairdesk.atlassian.net/browse/REP-1534

[2019-03-13 15:42] JessicaSOS commented on #684
Here are the items I spotted:
# 12060 - K4 2017 which is in Longueuil (which I have not been able to put in a bill)
# 10438 - S7 of levis that is in stock but not seen
# 11248 - G5 to Limoilou which always appears transfered in over.

--
 Voici les item que j'ai repéré:
#12060 - K4 2017 qui est à Longueuil (que je n'ai pas été en mesure de mettre dans une facture)
# 10438 - S7 de lévis qui est in

[2019-03-13 15:46] JessicaSOS commented on #618
But a customer who has an email address but is in "unsubscribed", I should be in order to put it in "subscribed"? Which is not the case...

[2019-03-13 15:47] JessicaSOS commented on #554
ok tnx to let me know

[2019-03-13 19:43] JessicaSOS opened #718 "Notifications combined with statutes"
Hello,
I really like the new way notifications work. I would like to know how I send a notification to the customer when creating the new ticket without having to necessarily have a status? At this moment, the status "in progress" is put and it works very well. The only thing is that the customers receive a notification when we change the statutes and put back the "in progress". I would like to be

[2019-03-13 20:25] Trevorshaw7 opened #719 "Serialized inventory error"
It says I have an item to serialize,  but when i go to correct the inventory it says they are all serialized.
<img width="518" alt="Screen Shot 2019-03-13 at 2 22 20 PM" src="https://user-images.githubusercontent.com/43588617/54312141-d3f7f180-459b-11e9-82ba-3088b3464379.png">
<img width="1066" alt="Screen Shot 2019-03-13 at 2 22 57 PM" src="https://user-images.githubusercontent.com/43588617/54312

[2019-03-13 20:53] Repair-Desk commented on #719
**@Trevorshaw7**

Happy to help with this. It appears that you already have on hand stock due to which you're unable to apply an adjustment entry. See below:

![WarehouseEdit Mobile, Accessories   Parts Galaxy S7](https://user-images.githubusercontent.com/21986026/54313832-eb66c700-45fb-11e9-89d7-8be67aecb9f8.jpg)

[2019-03-13 20:57] Trevorshaw7 commented on #719
<img width="518" alt="Screen Shot 2019-03-13 at 2 22 20 PM" src="https://user-images.githubusercontent.com/43588617/54314067-49fe5780-45a0-11e9-8787-705110e37809.png">

[2019-03-14 05:17] usmanalikhan93 commented on #717
I have made a new task for this.
https://repairdesk.atlassian.net/browse/REP-1650

[2019-03-14 05:22] usmanalikhan93 commented on #719
Hi @Trevorshaw7

I have reviewed your concern and I have checked in your account it works fine. I have made a video for reference. Please check and if you have any question you can ask here.
Video link: https://www.screencast.com/t/tTCpRIzx

Thanks
Usman Ali.

[2019-03-14 05:32] usmanalikhan93 commented on #719
I have just checked it's been fixed by Fayyaz.

[2019-03-14 05:32] #719 closed

[2019-03-14 05:50] usmanalikhan93 commented on #684
For internal use:
https://repairdesk.atlassian.net/browse/REP-1651

[2019-03-14 05:51] Uzair-RepairDesk commented on #718
Hey @JessicaSOS

Thank you for your post. There is always a certain action required to send an automatic notification by Email/SMS unless its a specific system action.
Automatic tickets email notifications are linked with ticket status.
If you want to link it up with specific "Custom Status", I advise you to the following:-

**1:** You can create a new custom status with type "Open" under Store Se

[2019-03-14 06:19] usmanalikhan93 commented on #703
Hi @JessicaSOS

I have checked by creating a lead in your account and yes notification does not appear. I have made a lead in Levis store L-Le-20496. You can delete it. Let me discuss this with developer and then I will update you accordingly.

Thanks.
Usman Ali

[2019-03-14 06:30] usmanalikhan93 commented on #703
For internal use:
https://repairdesk.atlassian.net/browse/REP-1655

[2019-03-14 08:07] usmanalikhan93 commented on #719
For internal use:
https://repairdesk.atlassian.net/browse/REP-1656

[2019-03-14 09:18] Repair-Desk opened #720 "iPAD - Deposit Feature"
**Suggestion # 1**
I've created a product under iPhone 7 >> deposit / bench fee which is not refundable. Lets say customer comes to our store and using the iPAD I check in this customer >> tap on checkout and collect the deposit amount. This works fine

However when I open the device to find device issue and edit the ticket with new device issue, as soon I click on checkout it says invoice is alre

[2019-03-14 15:12] JessicaSOS commented on #703
Ok !

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579> 418 999.1579 |  <tel:4506771579> 450 677.1579 |  <tel:18559991579> 1 855 999.1579
 <mailto:jessica@sosphone.ca> jessica@sosphone.ca
 <https://sosphone.ca/?utm_source=signature&utm_medium=urlsite&utm_content=sosphone.ca&utm_campaign=outils> sosphone.ca
5375, boul. Guillaume Couture, Lévis, G6V 4Z3
2750, 1re Avenue, Limoilou, G1L 3N

[2019-03-15 10:34] #630 closed

[2019-03-15 10:35] #631 closed

[2019-03-15 10:37] usmanalikhan93 commented on #636
Hi @Trevorshaw7

Reported issue has been fixed. Please verify at your end and do let us know if you have any question.

Thanks.

[2019-03-15 10:37] #636 closed

[2019-03-15 19:34] ochoaonline opened #721 "Clocking in and Timesheets"
when techs are tying to clock in they keep seeing full list of names even though most of those people are not assigned to their store, can we make it so only employees assigned to that store show up under clocking in

Also We have an employee that we created and assigned to Davie store as default, but he is not showing up under davie to clocking but somehow shows up under Headquarters (Another Loc

[2019-03-15 20:12] ali-repairdesk opened #722 "RMA Improvements - Modesto | DrPhone Fix"
Hello Team,

Modesto will be sharing his feedback related to RMA here.

Thanks,

[2019-03-15 21:03] wasimafsarkhan opened #723 "Category Display in Appointment Calendar"
1. Customer Name / Business Name:
• Jorge Garcia | iBuy and Repair LLC

2. OS: Windows / MacBook

3. Module: Integrations

5. Configuration Setting: Correct

6. Roles & Permissions: Correct

7. Issue:
Category Display in Appointment Calendar

8. Steps to Reproduce Issue /Provide Video
Home >> Integrations >> Appointment Calendar
Moreover, Screenshot attached.

9. Current Result:
The category is no

[2019-03-16 23:30] hitman1986 commented on #695
This issue just when upload item by excel sheet
When upload for any item stock warning 0 and stock level any thing 1,2,3,.. when stock becom 0 not showing in low stock report
Im talking to you for this issue but not sloved, im tired
When upload 0= empty but when enter the item by web and press save 0 becom 0

[2019-03-16 23:34] hitman1986 commented on #695
Im talking to mr danish for this issue

[2019-03-16 23:45] hitman1986 opened #724 "Error when search in manage inventory"
When searching for any item it is in Arabic language in manage inventory No result found
Just in arabic item

[2019-03-17 17:24] Repair-Desk commented on #721
**When techs are tying to clock in they keep seeing full list of names even though most of those people are not assigned to their store, can we make it so only employees assigned to that store show up under clocking in**
@Uzair-RepairDesk can we add the following to our roadmap?

**Also We have an employee that we created and assigned to Davie store as default, but he is not showing up under davie

[2019-03-17 18:08] fahadimran303 commented on #721
**Also We have an employee that we created and assigned to Davie store as default, but he is not showing up under davie to clocking but somehow shows up under Headquarters (Another Location) that he is not assigned to. employee name is Evan R.**

Internal Jira Link for this issue:
https://repairdesk.atlassian.net/browse/REP-1673

[2019-03-18 04:25] usmanalikhan93 commented on #695
Sure @hitman1986 . Let me check with Danish.

[2019-03-18 05:07] usmanalikhan93 commented on #695
Hey @hitman1986

Danish will contact you on personal chat and will try to resolve your issues ASAP.

Thanks.

[2019-03-18 05:51] usmanalikhan93 commented on #695
For internal use:
https://repairdesk.atlassian.net/browse/REP-1683

[2019-03-18 06:07] usmanalikhan93 commented on #724
Hi @hitman1986

Sorry for the inconvenience. I have checked this issue and it exists. Let me assign this to development team. Once it will be fix, I will update you here.

Thanks
Usman Ali

[2019-03-18 06:07] usmanalikhan93 commented on #724
For internal use:
https://repairdesk.atlassian.net/browse/REP-1685

[2019-03-18 06:09] usmanalikhan93 commented on #721
Sure @Repair-Desk

[2019-03-18 11:46] Uzair-RepairDesk commented on #723
Currently, our category module is not linked with Appointment Calendar Wiget.
We planned to do it when we start working on enhancements of "Appointment Calendar Widget".
Please confirm what is the priority to do it?
@wasimafsarkhan @Repair-Desk

[2019-03-18 11:53] Uzair-RepairDesk commented on #721
@usmanalikhan93
As discussed, the list of employees should be according to the access to the stores. Please also get it done in the same task.

[2019-03-18 12:23] usmanalikhan93 commented on #721
Sure @Uzair-RepairDesk

[2019-03-18 13:52] irepairsharlow opened #725 "Feature Request - Disable "Due On" feature"
Hello,
My business does not and will never use the "Due On" feature, the pink highlighting and additional field in the ticket management are disruptive to our processes and it would be better if we had the option to disable this feature so it no longer appears.

Regards
Brendan

[2019-03-18 14:02] JessicaSOS commented on #684
Hello,
I hope this problem is solved for the future. For now, the devices cited in issue # 684 are all fixed.
Thank you

[2019-03-18 14:31] JessicaSOS commented on #706
I receive emails every day from customers telling us that his name is not David Fournier because this name appears in all appointments confirmations. There is also plenty of unfilled placeholder or not working properly.
Thank you so quickly correct.
Have a good day

[2019-03-18 14:50] JessicaSOS commented on #486
This problem had been corrected but, I noticed a file on March 14 (last Thursday) that the problem had reappeared. SOS Phone Ste-Foy Lead: L-F-20580, Coverti ticket: F-4828. Thank you for reopening this problem.
--
Ce problème avait bien été corrigé mais, j'ai remarquer un dossier le 14 mars (jeudi dernier) que le probème était réapparu. SOS Phone Ste-Foy Lead:L-F-20580, Coverti en billet: F-4828.

[2019-03-18 15:48] JessicaSOS commented on #702
Are you thinking of making any changes at this level or are I likely to wait a very long time and spend months paying too much commissions to my employees?

[2019-03-18 16:27] ochoaonline commented on #722
We would like to add a couple more status to the RMA, or if there's a way we control the status , 1. Denied 2. Damaged by Employee 3. Exchanged and also an area with Dropdown so Tech can select his name: Submitted by:

[2019-03-18 17:29] JessicaSOS commented on #684
#11869 make the same thing...

[2019-03-19 04:25] usmanalikhan93 commented on #486
Hi @JessicaSOS

I have checked it but it is working fine.

[2019-03-19 04:59] usmanalikhan93 commented on #706
Hi @JessicaSOS

Sure let me check this on my end and will revert back to you with more information.

[2019-03-19 06:29] Uzair-RepairDesk commented on #725
Hi Brendan @irepairsharlow

Thank you for sharing your idea. Currently, it's not possible to hide "Due On" feature/field from RepairDesk. "Due Date" is one of the most important criteria to find out the "Due" or "Critical" tickets.
With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make thi

[2019-03-19 06:47] usmanalikhan93 commented on #707
Hi @JessicaSOS

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-03-19 06:47] #707 closed

[2019-03-19 06:49] usmanalikhan93 commented on #708
Hi Modesto@ochoaonline

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali khan

[2019-03-19 06:49] #708 closed

[2019-03-19 06:55] usmanalikhan93 commented on #706
Hi @JessicaSOS

I hope you are doing well. Your reported issue related to {device} and {date_time} has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-03-19 07:19] usmanalikhan93 commented on #500
Hi @JessicaSOS

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-03-19 07:19] #500 closed

[2019-03-19 07:55] Uzair-RepairDesk commented on #648
Hey Will @TechreviveAu

Good News. We have made your suggested improvement LIVE. A new trigger named as ‘Mandatory to start shift’ has been introduced under ‘**Store Settings > Cash Register Settings > Module Configurations**’ to keep accurate records of all the cash inflows and outflows. If this trigger is enabled, the employees must start their shift to make a payment transaction.

Please review

[2019-03-19 07:56] #648 closed

[2019-03-19 08:02] Uzair-RepairDesk commented on #498
Hey @Trevorshaw7
This is to inform you that we have made this improvement LIVE. Now you can send inventory back to "On Hand" stock once you mark the cancelled status of "Inventory Transfer". You can also do the same from the "Inventory In-Transit Report".
Please review improvement at your end and share your feedback. Thanks

[2019-03-19 08:02] #498 closed

[2019-03-19 08:04] Uzair-RepairDesk commented on #552
We have added a "Total Cost" field on "Inventory Transfer" listing page so you can see the "Cost Value" of transferred inventory.

[2019-03-19 08:04] #552 closed

[2019-03-19 08:11] Uzair-RepairDesk commented on #614
Hey Modesto @ochoaonline

We have made this improvement LIVE. When you claim the warranty or refunds, mark the item faulty and add it to RMA, you can now select the supplier and mark the status of RMA directly from the same pop up (as suggested in above mockup). Supplier automatically populates if it is associated with a specific item.

**Please review at your end.**

With regards to your other su

[2019-03-19 08:11] #614 closed

[2019-03-19 08:21] Uzair-RepairDesk commented on #697
Hey Modesto @ochoaonline
We have made this improvement LIVE. You can now select multiple stores in "Employee Activity Log" report to check the activity logs.
Please review at your end. Thanks.

[2019-03-19 08:21] #697 closed

[2019-03-19 09:32] usmanalikhan93 commented on #684
Hi @JessicaSOS

Can you tell us in which store it should be ? #11869

[2019-03-19 10:17] usmanalikhan93 commented on #717
Hi @ali-repairdesk

Reported issue has been fix. Please update Modesto about the fix.

Thanks

[2019-03-19 10:17] #717 closed

[2019-03-19 10:24] usmanalikhan93 commented on #709
Hi @ali-repairdesk

Query has been executed on live. Hopefully this error will not come again. Please update customer.

[2019-03-19 10:24] #709 closed

[2019-03-19 12:42] JessicaSOS commented on #684
the item does not appear in transfered when we connect to the Limoilou store. It's as if he never existed, no result. However, the device has been transferred to Lévis and is now in stock in Lévis.
--
l'item n’apparait pas en transfered lorsque nous somme connecter dans le magasin de Limoilou. C'est comme s'il n'avait jamais existé, aucun résultat. Pourtant, l'appareil a été transféré à Lévis et e

[2019-03-19 13:27] JessicaSOS opened #726 "Employee privilege Options"
Nothing appears in the privileges of the employees' positions. I do not have access to modify anything, no options are present.
<img width="944" alt="employee privilege" src="https://user-images.githubusercontent.com/40500094/54609361-31bb8c00-4a29-11e9-9903-8de6b4a5a258.png">

--
French:
Plus rien n'apparait dans les privilèges des postes des employés. Je n'ai pas accès a modifier quoi que se soi

[2019-03-19 13:34] JessicaSOS opened #727 "Problem with transfers"
I am trying to transfer a tradein that is "in stock". Once the item is added in an inventory transfer, an error page appears (error 500). I try with 2 different products and the same thing is produced. These are items #12072 and #12064. The inventory transfer does not exist (probably because of the error page). However, the item is floating as a "transfered". It's like he's been put in inventory t

[2019-03-19 13:45] MrMacDK opened #728 "Calendar in customer portal"
Hi.

We are considering moving over to repairdesk. We are a company that does on-site repair of smartphones and tablets for companies and private customers. 90% of our intake is from recurring clients, big companies who frequently need repairs, and who use the same information for every order and need an overview of all their orders.
We really like repairdesk, but something we find is lacking, is

[2019-03-19 14:49] JessicaSOS commented on #706
To test # 706 & # 462
For text messages it is corrected, but not for emails. I do not receive them all during an appointment confirmation or when sending the portal link to the client. And, in Lévis store, despite the fact that the message is the same as limoilou in the configuration, I received the message of a ticket "waiting for parts", instead of a confirmation of an appointment a lead. I do n

[2019-03-19 15:02] JessicaSOS commented on #707
I tested the ticket transfer between the branches. Assignments remain according to the store. They should remain as in the last configuration. Example, I assign a repair to David at Limoilou. I transfer the ticket to Lévis because in the end, will be our technician Lévis Jimmy who will make the repair. Once the repair finishes, he completes the ticket, assigns the repair and makes "transfer back".

[2019-03-19 15:08] JessicaSOS commented on #486
Does not work in Ste-Foy, I just tested it. See lead # L-F-20584 that I created at the moment via the widget. I did not test the other shops ...

Ne fonctionne pas à Ste-Foy, je vien de le tester. Voir lead #L-F-20584 que j'ai créé à l'instant via le widget. je n'ai pas tester les autres boutiques...

[2019-03-19 17:43] JessicaSOS opened #729 "Cost price in inventory transfers"
An employee who does not have access to viewing cost prices should not be able to see them. You have added cost prices in inventory transfers. You have taken care to remove the costs in the inventory transfer for employees who do not have access. However, you forgot to remove the cost price total on the main inventory transfer page. See the view of an employee who does not have access to the cost

[2019-03-19 18:39] JessicaSOS opened #730 "Generated by and created by in a ticket"
Sometimes a ticket that is created by my employee "Stacey Rheault" is written that the ticket was generated by another of my employees "Luca Bertrand". We can see from the ticket history that it was created by Stacey. In addition, my employee Luca never creates a ticket. It's like regularly, but not in every ticket. I do not know in which context precisely this problem appears. Can you look at thi

[2019-03-19 20:24] Omar1892 opened #731 "Taxes showing on none taxable items"
Taxes are still showing on none taxable items. Its causing for the bookkeeping department to charge does taxes as none paid taxes and its also given reflecting the amount as due or over once the costumer has already paid for the item.

[2019-03-19 20:34] Omar1892 opened #732 "Accrual Basis VS Cash Basis"
Ive been working with you guys for the past 1 1/2 and from day one we can't take a deposit from a costumer because the system reflects the payment as accrual basis. Accrual Basis works on other countries or bigger companies. But not for small companies. For example: If we take a deposit on accrual basis the system reflect that we took the payment all at once when we only took part of the payment n

[2019-03-19 21:02] JessicaSOS commented on #500
We are not able to delete an item, a box is gray. By cons, we are now able to put it in canceled and there is an automatism in status that puts the piece in inventory. I tested it and all worked very well. Thank you !

[2019-03-20 02:29] Trevorshaw7 opened #733 "Updating Parts consumption report with Category Criteria"
Have the ability to search parts consumption report by category similar to how the inventory summary operates.

[2019-03-20 05:18] Uzair-RepairDesk commented on #726
Hey @JessicaSOS
I have just checked it and its working fine at our end. Are you facing it on all accounts? Can you please logout and login again and clear the cache of the browser?
Please do let me know if there is a specific case when you are facing this issue?

[2019-03-20 05:27] Uzair-RepairDesk commented on #731
Hi @Omar1892
Can you please specify the report that you are tracking and able to see taxes on non-taxable items?
Can you also elaborate with screenshot and description so I can further assist you? Thanks.

[2019-03-20 05:30] Uzair-RepairDesk commented on #730
@usmanalikhan93
Can you please log the ticket and try to reproduce this issue at your end?

[2019-03-20 06:02] Uzair-RepairDesk commented on #729
Hey @JessicaSOS
We added the "Total Cost" field in inventory transfer. You are 100% right "Hide Cost Price" trigger should also apply to this. I have added a task to make this improvement.
I will update you once we go LIVE with this improvement.
I appreciate your patience. Thanks

[2019-03-20 06:46] Uzair-RepairDesk commented on #728
Hi @MrMacDK
Thank you for sharing your idea. Our customer portal allows creating a repair ticket from their specific account and ticket is created in RepairDesk automatically with their information. Customer doesn't need to fill out the information.

You can check details about customer portal from following knowledgebase article:-
https://repairdesk.uservoice.com/knowledgebase/articles/1846624-cu

[2019-03-20 08:40] MrMacDK commented on #728
Hello Muhammed.
Let me try to be a little clearer.

We would like our customers to be able to make time slot booking requests
with the calendar widget through the customer portal. As it is right now
with what we have seen in our presentation of Repairdesk, the two systems
are kept separate and booking through the calendar can’t be done in the
customer portal by the customers, which is too bad, bec

[2019-03-20 14:27] JessicaSOS commented on #726
it works well today, problem solved.

[2019-03-20 14:27] #726 closed

[2019-03-20 14:30] JessicaSOS commented on #729
When should this be? Because for the moment, all the employees who do not have access to see the cost price have now access ...

[2019-03-20 15:11] JessicaSOS opened #734 "Notifications & email"
There is now just one place where we can create notifications. Whether it is a message sent to the customer automatically or a message that we send manually via a ticket, there is only one place. It's in "settings" then "notification and email".

I created a message in the ticket tab when we use the "repaired and collected" status. This message asks customers if they liked their experience by sugg

[2019-03-20 15:20] JessicaSOS commented on #718
My question was rather how to set up an automatic email to the customer (a system message or custom) when a new ticket is created, no matter what status the ticket has. I do not want the system to automatically send an email when the status "in progress" is set, but rather when a ticket is created, regardless of the status.
--
french:
Ma question était plutôt comment configurer l'envoie d'un courr

[2019-03-20 15:27] JessicaSOS opened #735 "Du invoice reminder (Invoice) + (automatically)"
I would like to have a box "attach invoices" to send statements of customers. Currently, almost all customers send us an email telling us to send them invoices regarding their statement of account. We know that the invoices have already been sent to them, but almost all of our clients with an open account request them.

Also, regarding task #417 (3) the client group's statement of account should a

[2019-03-20 19:25] ochoaonline opened #736 "Manual in and Out Transaction - Option to Upload Receipt"
![DrPhoneFix Training Pos  Transactions Log](https://user-images.githubusercontent.com/35181467/54713322-b7703200-4b24-11e9-921b-98227e550631.png)

If is possible to be able to upload receipt of what was bought , to reflect on the Manual Out , this way management can easily see, the Transaction, the reason for it and the actual receipt for it

[2019-03-21 03:15] Trevorshaw7 commented on #733
<img width="1395" alt="Screen Shot 2019-03-20 at 9 13 04 PM" src="https://user-images.githubusercontent.com/43588617/54731677-39784f00-4b55-11e9-8fc7-5bad103a6799.png">
<img width="843" alt="Screen Shot 2019-03-20 at 9 12 29 PM" src="https://user-images.githubusercontent.com/43588617/54731680-3c733f80-4b55-11e9-924e-827a342b98a4.png">

[2019-03-21 03:16] Trevorshaw7 commented on #733
Have the same search criteria,  as well as have the store drop downs and the ability to . select multiple stores

[2019-03-21 03:18] Trevorshaw7 commented on #733
But with the category as the search it will still list individual parts.  basically the inventory summary with the parts consumption data

[2019-03-21 05:09] usmanalikhan93 commented on #734
Hi @JessicaSOS

Usman Ali here, Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2019-03-21 05:15] usmanalikhan93 commented on #734
For internal use:
https://repairdesk.atlassian.net/browse/REP-1722

[2019-03-21 05:46] usmanalikhan93 commented on #703
Hi @JessicaSOS

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.
I have made a test lead L-Le-20509 in Levis store. You can delete it.

Thanks!
Usman Ali

[2019-03-21 05:46] #703 closed

[2019-03-21 06:42] Uzair-RepairDesk commented on #736
Hey Modesto @ochoaonline
Thank you for sharing your idea. We have plan to work on Manual In/out feature to give an option to "Edit" the record during the shift. #469
I can link the above-requested improvement with the same so we can proceed with this at the same time.

[2019-03-21 06:43] usmanalikhan93 commented on #727
For internal use:
https://repairdesk.atlassian.net/browse/REP-1713

[2019-03-21 06:44] usmanalikhan93 commented on #730
Sure @JessicaSOS @Uzair-RepairDesk

Let me check this and try to reproduce this issue on my end.

[2019-03-21 07:42] usmanalikhan93 commented on #486
Hi @JessicaSOS

Sorry for the inconvenience. Yes it is not working. I have checked it and yes issue exists. I have highlighted to dev team. I will inform you when it will be fix.

[2019-03-21 11:51] ochoaonline commented on #736
Thank You

[2019-03-21 12:22] usmanalikhan93 commented on #714
Danish had a detail session with Danny and now he is clear about everything. So I am closing this task as per Danish instrustion.
@Uzair-RepairDesk FYI

[2019-03-21 12:22] #714 closed

[2019-03-21 14:47] JessicaSOS commented on #704
Yes it works well!
I wanted to change a turn of phrase in the SMS message confirmations appointments and once the message changed, the old appears in a text message. He does not take the new message but the old one. I tried to activate and deactivate the auto send but without success. It is always the old man who sends himself away. Why is it not correct?
--
french:
Oui sa fonctionne bien!
J'ai vo

[2019-03-21 14:48] JessicaSOS commented on #703
Yes it works well!
I wanted to change a turn of phrase in the SMS message confirmations appointments and once the message changed, the old appears in a text message. He does not take the new message but the old one. I tried to activate and deactivate the auto send but without success. It is always the old man who sends himself away. Why is it not correct?
--
french:
Oui sa fonctionne bien!
J'ai vo

[2019-03-22 04:30] usmanalikhan93 commented on #704
Hi @JessicaSOS

Can you send me a screenshot ?

[2019-03-22 04:39] usmanalikhan93 commented on #486
Hi @JessicaSOS

I hope you are doing well. Your both issues are now fixed. Please verify at your end and do let us know if you have any question.

Thanks
Usman Ali

[2019-03-22 04:39] #486 closed

[2019-03-22 05:14] usmanalikhan93 commented on #695
Hi @JessicaSOS @hitman1986

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-03-22 05:14] #695 closed

[2019-03-22 05:16] usmanalikhan93 commented on #724
Hi @hitman1986

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-03-22 05:16] #724 closed

[2019-03-22 06:24] usmanalikhan93 commented on #729
For internal use:
https://repairdesk.atlassian.net/browse/REP-1711

[2019-03-22 10:00] Uzair-RepairDesk commented on #702
I have certainly marked it under enhancements. Meanwhile, i will advise you to use "Void" commission functionality. Once you void the commission, it's not payable to the customer.
Hope it helps

[2019-03-22 10:06] Uzair-RepairDesk commented on #732
Hi Omar @Omar1892,

Thank you for your suggestion.
We are certainly looking to add a "Cash Basis" report in RepairDesk. We will develop a dedicated "Cash Bases Report" so you will be able to track down the actual payment received each day.
Same request is listed here #690
We have few challenges with current system behavior so we cannot replicate it in all our existing reports, however, we are work

[2019-03-22 10:44] Uzair-RepairDesk commented on #728
Hi @MrMacDK

Thank you for your response. The scope of "Appointment Calendar Widget" is different from "Customer Portal".
Our "Calendar Widget" is specifically for leads generation, Customer can book a repair job by widget and it directly comes in RepairDesk under leads section that you can convert it into a ticket whereas Customer Portal allows corporate customers to create repair tickets directl

[2019-03-22 12:22] usmanalikhan93 commented on #735
Hi @JessicaSOS

I have discussed your concern related to **Also, regarding task #417 (3) the client group's statement of account should automatically send itself according to the due date. In this sense, no email is sent automatically now.**, It does not sent email automatically as it is action based. There are few canned response which we need to exclude. I will update you once it will be done.

[2019-03-22 13:10] JessicaSOS commented on #702
When do you think that this option will be effective, because even I select VOID, the item still appears in the commissions payable to the employee.

--
french:
Quand penser vous que cette option sera effective, car même je sélectionne VOID, l'item apparait quand même dans les commissions payable à l'employé.

[2019-03-22 13:11] JessicaSOS commented on #735
ok tnx

[2019-03-22 13:21] JessicaSOS commented on #486
fixed tnx !

[2019-03-22 13:26] JessicaSOS commented on #486
It is also fixed for the addition of a second line.

[2019-03-22 13:30] JessicaSOS commented on #704
Regarding this: _"To rectify, the sms work does not include the accent." It is therefore illegible because the accents are replaced by "?"_. I do not know what the error was but it works well.

Regarding this, _"Hello, Lead notifications do not work properly. I activated the option when a new lead is generated, to automatically send an email to the customer. It works, but not the sms.
I did the te

[2019-03-22 20:12] fahadimran303 opened #737 "Serialized Inventory option in RMA - Trevor | Bad Apple"
Hello Team,

Trevor from Bad Apple has come up with a request that he will like to send a Serialized Phone to supplier via RMA.

Currently we don't have the feature of sending serialized inventory item via RMA.

Thanks,

[2019-03-22 22:04] TechreviveAu opened #738 "Add clone button within item view"
Request to add clone button within item view so you can easily and quickly add and clone new products.

[2019-03-23 10:14] TechreviveAu opened #739 "Delete multiple tickets"
It would be great to select multiple tickets in the "Ticket View" screen so you can delete them instead of deleting one by one.

[2019-03-23 20:03] fahadimran303 commented on #722
Internal Task Link:
https://repairdesk.atlassian.net/browse/REP-1739

[2019-03-24 06:21] TechreviveAu opened #740 "Individual stock costings"
Stock has different cost prices depending on when it was purchased.
For example a supplier may have a special on iPhone 6 screens and they are significantly cheaper than other iPhone 6 screens purchased at a different time.

How can Repair Desk differentiate the cost of individual parts?

Currently repair desk only allows for cost price as a whole against stock.

Would i have to start serializing

[2019-03-24 16:43] hitman1986 commented on #724
yeah its great , this working

[2019-03-24 16:47] hitman1986 opened #741 "error when search a ticket in ipad app"
When you search for any ticket in ipad app in view ticket by entering the customer name in Arabic, no result is shown, why?

[2019-03-24 17:06] hitman1986 opened #742 "error in label print"
When I print the ticket label from the iPad application it prints it incorrectly, sometimes it does not print the customer's name and sometimes does not print the problem of the device and sometimes prints it correctly knowing that when I print the same ticket that was printed incorrectly by the web program by google print cloud prints it correctly,why ?
Note that I write in Arabic.

[2019-03-24 18:09] Repair-Desk commented on #742
Hi @hitman1986

Can you please share a screenshot of ticket label that is printed through iPAD app?

[2019-03-24 18:11] Repair-Desk commented on #741
**Hey @hitman1986,** Sure thing! Let us take a look to see if we're getting the same issue as you and we'll circle back to you next week.

**@usmanalikhan93** Can you please check with iPAD team if customer name search supports arabic / unicode characters?

[2019-03-24 18:17] Repair-Desk commented on #739
Hey Will,

Happy to help with this. We're looking to re-write repair ticket module that will allow you to

1- Delete multiple tickets
2- Update ticket status of multiple tickets
3- Option to display certain fields based on repair ticket workflow e.g. computer repair / MSP
4- Deposits
5- Create multiple invoice against a ticket

We're looking to launch new ticket module hopefully by mid of Q3 howev

[2019-03-24 18:21] Repair-Desk commented on #740
Hello @TechreviveAu

In the above scenario we would recommend you to use any of the below Inventory valuation methods:

- Weighted Average Cost (WAC)
- First In, First Out (FIFO)
- Last In, First Out (LIFO)

The major difference b/w the method is how COGS is calculated. Most businesses in cellphone repair space prefer WAC (Weighted average cost) or FIFO (first in, first out). More info is availabl

[2019-03-24 23:39] fahadimran303 commented on #670
Internal task link:
https://repairdesk.atlassian.net/browse/REP-1255

[2019-03-25 06:13] usmanalikhan93 commented on #741
Sure @Repair-Desk

[2019-03-25 09:23] TechreviveAu commented on #740
Thank you. Speaking with Danish now :)

[2019-03-25 09:24] TechreviveAu commented on #739
No worries, looking forward to it :)

[2019-03-25 09:36] Uzair-RepairDesk commented on #738
Hi Will @TechreviveAu
We have an option to "Clone" product from listing page. You can go to Action and clone the product to add a new product with the same details. Check screenshot attached.
Currently, we don't have any specific action item available on the view ticket page. Is there any specific reason if you want it on the view page as well?

![clone product](https://user-images.githubuserconte

[2019-03-25 10:12] usmanalikhan93 commented on #707
Hi @JessicaSOS

I understand what you said but it will cause issues in reports and commission module. So, we can't do like this.

Thanks
Usman Ali.

[2019-03-25 11:48] MrMacDK commented on #728
Hello Muhammed.

Thank you for your response.
For us it is important for the customer to be able to select a date and
place through the customer portal, since it is through the customer portal
that our customers book their orders.

Is this a matter of the functionality not being available right now or are
there no plans to create such a functionality?

Med venlig hilsen / Best regards

*Mr. Mac*

[2019-03-25 22:04] 1TonyBA opened #743 "Refund a with Square not an option on the iPad APP."
When doing a refund on the iPad there is not an option to process it through Square, it only gives you a "Cash" option. Is there a setting for this or something we are overlooking?
![img_0012 3 57 26 PM](https://user-images.githubusercontent.com/44849184/54957209-b02b9880-4f17-11e9-90a7-646f755338f7.png)
![IMG_0011](https://user-images.githubusercontent.com/44849184/54957210-b0c42f00-4f17-11e9-8ae

[2019-03-26 06:29] Uzair-RepairDesk commented on #743
Hey @1TonyBA
The refund option is available with "Square Deep" integration if you process it with iPad POS Register. The above transaction seems to be done using Square redirect integration.

You can find more details about our "Square Deep" integration from the following knowledgebase article:-
https://repairdesk.uservoice.com/knowledgebase/articles/1877980-square-deep-integration-and-repairdesk-

[2019-03-26 07:35] usmanalikhan93 commented on #741
Hi @hitman1986

I have checked with iPad team and they said iPad app does not support multilingual language for now.

Thanks
Usman Ali

[2019-03-26 11:04] Uzair-RepairDesk commented on #567
We are not able to replicate this issue. It was a cache issue. Closing this now.

[2019-03-26 11:04] #567 closed

[2019-03-26 11:22] usmanalikhan93 commented on #704
Hi @JessicaSOS

Can you confirm me on this that is this fixed ? Because I didn't understand what you said in last comment.

Thanks
Usman Ali

[2019-03-26 11:27] usmanalikhan93 commented on #742
Hi @hitman1986

We have checked your concern on our test account and it is printing successfully. Can you please check your printer settings with Danish ?

And do share a screenshot with us of ticket label when it prints incorrectly.

[2019-03-26 12:18] usmanalikhan93 commented on #741
Hi @hitman1986

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-03-26 12:18] #741 closed

[2019-03-26 12:40] usmanalikhan93 commented on #716
Hi Modesto @ochoaonline

I hope you are doing well. I have checked this with development team and they said your domain @drphonefix.com is rejecting sendgrid mails. I believe Fahad already provided you IP Address (167.89.9.142) so that you can whitelist that.
Please confirm this also check with your domain why it is rejecting this domain.
![image](https://user-images.githubusercontent.com/39614480

[2019-03-26 12:49] usmanalikhan93 commented on #721
For internal use:
https://repairdesk.atlassian.net/browse/REP-1225

[2019-03-26 15:24] JessicaSOS commented on #704
concerning this message, no it is not fixed:

Lead notifications do not work properly. I activated the option when a new lead is generated, to automatically send an email to the customer. It works, but not the sms.
I did the test myself by creating a new appointment via the widget, and there are 3 emails that have been sent. You can see in the attached image, that the customer receives the same me

[2019-03-27 01:17] Omar1892 commented on #732
Thats great news! It will help my account business a whole lot. Since for the past few months we have had to hold meetings since the system is glitchy and cash is being projected in the wrong way in some accounts. Hope fully you guys can look in to the report as well.

[2019-03-27 01:21] Omar1892 opened #744 "Partial Refunds"
Hello,

today I had an issue with a costumer where we had to downgrade the repair to a cheaper repair on an invoice that was paid for 1 month ago. At check out the system would not recognize the due refund amount and was projecting the amount as a pending balance that the costumer owed us. I had to do the refund from the ticket it self as on the Add A Payment. It did let me do the refund but I was

[2019-03-27 01:22] Omar1892 commented on #731
I will get back to you with that info.

[2019-03-27 06:38] Uzair-RepairDesk commented on #744
Hi @Omar1892
Currently, RepairDesk allows doing refunds for full "Paid" invoices from POS.
If you proceed with refunds from POS, you can refund with respect to quantity or amount.
You can find more details from the following link:-
https://repairdesk.uservoice.com/knowledgebase/articles/895113-how-can-i-process-refund-exchange-in-repairdesk

If you want to refund for "Partial" paid invoices, you c

[2019-03-27 07:17] usmanalikhan93 commented on #727
Hi @JessicaSOS

We have again changed the status of item 12072 as in stock. And I have checked item 12064, it is already sold and can be open. You can verify at your end and do let me know if you have any question.

Thanks
Usman Ali

[2019-03-27 07:17] #727 closed

[2019-03-27 12:42] ochoaonline commented on #716
I had server team added the IP as whitelist again, can you please test on your end see if it still gives you same error Thanks and i'll test invoices on my end

[2019-03-27 12:59] usmanalikhan93 commented on #716
Hi @ochoaonline

Let me check this tomorrow and will revert back to you with information.

[2019-03-27 21:42] Omar1892 commented on #731
![Screen Shot 2019-03-27 at 2 39 04 PM](https://user-images.githubusercontent.com/47898011/55114226-98cae780-509e-11e9-84ac-c91b5c217936.png)

[2019-03-27 21:54] Omar1892 commented on #731
I have uploaded the image the transaction where I was having issue. In the casual we don't charge taxes to the costumer and in this case the system was charging 0.02cents. The reason why it came to 2cents it was because we choose the option to no taxes on the drop box

[2019-03-27 21:55] Omar1892 commented on #731
And this is the way we have to do deposits. Since with the accrual basis doesn't work for us.

[2019-03-27 22:00] Omar1892 commented on #744
Thats the way we usually we do it. But this is what happened. The costumer had came in 2 months ago for a repair thats worth $129.99 he had come back in because he was having an issue with the part we had installed and the only way to fix it was to downgrade the repair from $129.99 to $89.99 so we had to do a partial refund on the already paid invoice/ticket. When we did the modification the syste

[2019-03-28 12:48] Uzair-RepairDesk commented on #731
@usmanalikhan93
Can you please check this?

[2019-03-28 12:57] Uzair-RepairDesk commented on #744
Thank you for your response @Omar1892
I have asked one of my "Customer Relationship Executive" to give you a call on this. He can check the scenario in detail and advise you accordingly. Thanks

[2019-03-28 13:01] Uzair-RepairDesk commented on #732
Hey @Omar1892 |

Thank you for your response. We are going to develop a dedicated "Cash Basis Report" so you will be able to track the sales that you actually make.
Please find report design attached for your perusal. You can review and share your feedback.

![With-Note](https://user-images.githubusercontent.com/22955861/55159658-6646ea80-5183-11e9-9cb7-bad34b1078eb.jpg)

The estimated time for th

[2019-03-28 13:03] MrMacDK commented on #728
Hello Muhammed.

Would it be possible for us to discuss this feature?

We feel like we are very close to being onboard with repairdesk as our
solution, and believe that some kind of solution can be found to this issue.

Can we reach you by phone at some time soon?

Med venlig hilsen / Best regards

*Mr. Mac*

 *Reparation på stedet af smartphone, tablet eller computer*

*iPhone +45 70 60 60 77 *

[2019-03-29 00:24] hitman1986 commented on #482
Thanks,it work

[2019-03-29 00:26] hitman1986 commented on #742
I dont know ,how i can import screen shot in github

[2019-03-29 00:29] hitman1986 commented on #742
No this issue not in printer setting,because it printing normaly in wep by defulte or by google print , issue just when print by ipad app

[2019-03-29 01:07] Omar1892 commented on #732
Hello, thank you for sharing. An issue that we constantly have is that we can't take deposits do to actual basis. If you could create a ticket and take a partial payment to see how the system reflects the payment if as accrual basis or cash basis? If we can take a partial payment via cash basis than we would be able to take deposits and the system should reflect the second payment on the day that

[2019-03-29 01:07] Omar1892 commented on #744
Thank you, they did. 
    On Thursday, March 28, 2019, 5:57:49 AM PDT, Muhammad Uzair Shah <notifications@github.com> wrote:

Thank you for your response @Omar1892
I have asked one of my "Customer Relationship Executive" to give you a call on this. He can check the scenario in detail and advise you accordingly. Thanks

—
You are receiving this because you were mentioned.
Reply to this email direct

[2019-03-29 01:07] Omar1892 commented on #731
Yeah I already did 
    On Thursday, March 28, 2019, 5:48:05 AM PDT, Muhammad Uzair Shah <notifications@github.com> wrote:

@usmanalikhan93
Can you please check this?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-03-29 04:32] Uzair-RepairDesk commented on #732
Hi @Omar1892
Thank you for your feedback. With the help of new above report, you will be able to track deposit payment on the cash basis (that you actually receive). You can check the report format for more details.

If you currently want to track the actual payment received, you can go to "Register Sales Report" that gives you insights of actual "Payment Received" and "Account Receivables" with t

[2019-03-29 06:17] Uzair-RepairDesk commented on #733
Hey @Trevorshaw7

I am pleased to inform you that we have added "Category" criteria in the search filter of "Parts Consumption Report".
You can filter the report with any specific category.
Please check screenshot attached.

![FIXAPHONE-Part-Consumption-Report](https://user-images.githubusercontent.com/22955861/55213084-08161800-5214-11e9-8b87-583162c723af.png)

[2019-03-29 06:17] #733 closed

[2019-03-29 06:30] usmanalikhan93 commented on #672
Hi @JessicaSOS

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali.

[2019-03-29 06:30] #672 closed

[2019-03-29 06:30] usmanalikhan93 commented on #721
Hi Modesto@ochoaonline

I hope you are doing well. Your both reported concerns has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-03-29 06:30] #721 closed

[2019-03-29 06:32] usmanalikhan93 commented on #554
Hi @JessicaSOS

I hope you are doing well. I have identified one case in which it was causing this issue. Now this issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali.

[2019-03-29 06:32] #554 closed

[2019-03-29 06:39] Uzair-RepairDesk commented on #698
With reference to updates. Billing message displays to "Admin" and 'Super Admin" only.

[2019-03-29 06:39] #698 closed

[2019-03-29 06:48] Uzair-RepairDesk commented on #729
Hi @JessicaSOS
I apologize for the delay in this task. We have already fixed this issue. We will deploy it early next week.

[2019-03-29 07:10] Uzair-RepairDesk commented on #694
Hey @benjamingartner

I am pleased to inform you that we have added a trigger that will allow you to stop syncing the "Description" on your website with "Woo Commerce" integration of RepairDesk.
Please check screenshot attached.

![uzairshah   Woocommerce](https://user-images.githubusercontent.com/22955861/55215457-b1144100-521b-11e9-91c1-9eaddc6cac1b.png)

Regarding "Images" request, we only sync

[2019-03-29 07:10] #694 closed

[2019-03-29 07:17] Uzair-RepairDesk commented on #642
**Update:**
We have updated payment process from Cayan with new pop up designs.
Payment log from Cayan in Invoice footer is pending that will be done in next week.
In-House Task Reference: https://repairdesk.atlassian.net/browse/REP-1749

[2019-03-29 07:17] #642 closed

[2019-03-29 07:20] usmanalikhan93 commented on #706
Hi @JessicaSOS

Just for an update, we are making an improvement in Macros. Once it will be done, I will update you here.

Thanks
Usman Ali

[2019-03-29 13:05] GR-Phones opened #745 "Not being able to revert Trade-in from sold to in stock."
I am trying to change a Trade-in from sold to back in stock as this was returned from a customer.

![image](https://user-images.githubusercontent.com/49067571/55234476-27687180-5223-11e9-9b9c-b9f9c5796918.png)

I have had no issues previously it would let me change this no problem.

Please can you revert this option as it is something that I need to do daily.

I am unsure as to why you removed thi

[2019-03-29 14:50] JessicaSOS opened #746 "Unable to find the Repairdesk invoice connected to the online sale of a tradein item"
I am unable to find the Repairdesk invoice connected to the online sale of the phone # 10991. I searched the client with several fields (email-phone, name), it does not exist. I looked for the invoice, it does not exist. I tried to go into the product history to find the invoice or the customer, but despite the successful sale, the device is still "in stock" as if no sale had been made. Still, the

[2019-03-29 16:03] fahadimran303 commented on #745
Hello Alexandros,

I hope you are doing well.

**Not being able to revert Trade-in from sold to in stock**

In order to standardize the reports, we have added this functionality that **Sold Status of Trade In** can't be changed.

Appreciate your understanding,

Regards,

[2019-03-29 17:10] JessicaSOS opened #747 "Problem with "marketing automation""
Hello,
While doing tests, I created repair tickets in my name. I received the automatic email that is in the "marketing automation" (see attachment). However, the setting is not enabled. So, I do not understand why I received this. In addition, I imagine that all my clients receive this and it should not be the case since the option is disabled. Can you please come back to me.
Have a good day
<img

[2019-03-29 17:18] Trevorshaw7 opened #748 "RMA has tax listed"
RMA has tax listed, this does not make sense, because this isn't a sale and tax wouldn't be applicable in this scenario.  Can we delete the tax category from the RMA, because currently it is overstating the RMA amount by this tax amount
<img width="1425" alt="Screen Shot 2019-03-29 at 11 18 02 AM" src="https://user-images.githubusercontent.com/43588617/55250679-5deac000-5214-11e9-903f-bf9b6d194e23

[2019-03-29 17:38] Repair-Desk commented on #748
****Hello @Trevorshaw7****

Thanks a lot for sharing your feedback. I see where you are coming from on this though, so I'm happy to pass on this feedback to the team for you

We will discuss this internally early next week and update this thread accordingly.

If you ever have any other questions, or if I can do anything else at all for you, you know where to find me! Have a great day! 🎉

Best,
**U

[2019-03-29 17:40] #743 closed

[2019-03-29 17:45] Trevorshaw7 commented on #733
Thank you for this.  Is there also a way to make it so we can select multiple stores as well?

[2019-03-29 19:26] JessicaSOS commented on #672
Fixed tnx !

[2019-03-31 16:55] #738 closed

[2019-03-31 16:55] #740 closed

[2019-04-01 04:35] usmanalikhan93 commented on #747
Hi @JessicaSOS

Usman Ali here, Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2019-04-01 04:36] usmanalikhan93 commented on #746
Hi @JessicaSOS

Usman Ali here, Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2019-04-01 09:15] brazelab opened #749 "Customize service receipt"
We have been requested by our customer to provide an overview of repairs with repair description and without pricing information.

We have tried to edit the service receipt through the editor. Unfortunately, it is impossible to change the table in the service receipt. It would be nice to have the ability to change the layout of the table on the service receipt.

Thanks,

[2019-04-01 11:27] usmanalikhan93 commented on #742
Hi @hitman1986

I hope your issue has been now resolved. I have talked to danish he has confirmed that we are good now.

[2019-04-01 11:27] #742 closed

[2019-04-01 12:27] Uzair-RepairDesk commented on #749
Hey @brazelab

Currently, it's not possible to edit the table to remove specific fields and their values. We certainly have the plan to improve "Template Editor" functionality that should allow you to keep/remove specific fields and their values from the table.
I will discuss it with our team if we can prioritize to make this specific enhancement with priority. Thanks.

[2019-04-01 13:23] brazelab commented on #749
Thanks Uzair, that would be very helpful since the current service receipt and the invoice currently provide pretty much the same info. It would be very useful to have the service receipt as sort of a packaging slip.

Thanks,

[2019-04-01 15:42] GR-Phones commented on #745
Hi,
Is there a way to revert 2 items as i can not add the sales details for this to keep our sales up to date. They were just manually changed before a sale was created.

Also how do we put the item back in to stock if the customer returns the item? As we would not want to add the item again as the sales figure would then show as sold twice.

This has made it harder to use your software and if thi

[2019-04-01 21:21] JessicaSOS opened #750 "Statut tradein"
I do not know if others have been deleted or modified, but I am no longer able to find the status "pending refurb". All the trades I had with this status went into "in stock" for no reason. Status no longer exists Can you help me please.
exemple: SKUxxx9981    SKUxxx2974

--
french:
Je ne sais pas si d'autre ont été effacer ou modifier, mais je ne suis plus capable de trouver le statut "pending re

[2019-04-01 21:42] Omar1892 opened #751 "RMA Uploading Issue"
When editing an RMA and pressing save once all the modifications have been done. My computer screen turns white and it won't upload do anything else. This just started happening.

[2019-04-02 04:28] usmanalikhan93 commented on #751
Hi @Omar1892

Usman Ali here, Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2019-04-02 04:28] usmanalikhan93 commented on #750
Hi @JessicaSOS

Usman Ali here, Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2019-04-02 04:33] usmanalikhan93 commented on #751
For internal use:
https://repairdesk.atlassian.net/browse/REP-1767

[2019-04-02 04:46] usmanalikhan93 commented on #750
Hi @JessicaSOS

It may be because now when you mark your refurb ticket as "repaired and collected" your trade in status will be "in stock". Can you please check this ?

Or Send me just store name and trade in item id.

[2019-04-02 04:51] usmanalikhan93 commented on #745
Hi @GR-Phones

Sure thing. Let me discuss this with developer and sort your query ASAP.

[2019-04-02 06:05] usmanalikhan93 commented on #745
For internal use:
https://repairdesk.atlassian.net/browse/REP-1786

[2019-04-02 06:21] usmanalikhan93 commented on #746
For internal Use:
https://repairdesk.atlassian.net/browse/REP-1787