[2020-07-28 18:44] Repair-Desk commented on #1234
It would be good to search an inventory item by SKU, UPC or item name

[2020-07-28 23:55] Cybertekww opened #1235 "Customer Portal Username - Cybertek"
When creating a new customer portal, as we can only use 1 email address in the system can we use the email address as the username? Maybe have the email address auto fill as I am copying and Pasting their email address in at the moment.

[2020-07-28 23:57] Cybertekww commented on #1065
Thanks Uzair, I am putting the SKU in the description

[2020-07-29 00:01] Cybertekww opened #1236 "Scanning purchase order - Cybertek"
When scanning items for a purchase order, I would like to be able to scan the item I am ordering and not scan the item, select it, select how many and press next line. We use the barcodes on the price tags and when ordering it would be nice to scan 5 lightning cables, 10 iphone cases etc and have them add themselves to the PO

[2020-07-29 00:03] Cybertekww opened #1237 "Scanning GRN - Cybertek"
When scanning in a GRN can all the items be set t "0" as when we get large orders come in and get distracted halfway through there is no easy way of knowing what was scanned and what was not. This means that all items left at "0" can be removed from the GRN until those parts have been sent in.

[2020-07-29 00:08] Cybertekww opened #1238 "Scanning stock counts - Cybertek"
When scanning stock counts, there is a delay in scanning, I will scan 5 items and only 2 will show up. I am having to scan, count one-mississippi, two-mississippi, and then scan the next item. This takes too long, especially if the item is not in the system and there is no way of telling if it is or not.
Can we have a chime when an item scans succesfully and an error alert when something is scanne

[2020-07-29 04:13] MuhammadAdnan32 commented on #1212
Hello @Omar1892 ,
I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have any questions.
Thanks!
Regards,
M Adnan

[2020-07-29 05:14] usmanalikhan93 commented on #1237
Hi @Cybertekww

I hope you are doing well. Can you provide more information on this ?

[2020-07-29 06:13] Cybertekww commented on #1237
For instance if I select to accept a PO it creates a GRN and all my items are listed as Ordered quantity and received quantity. The ordered quantity should be 5 if I ordered 5 of those items but the received quantity is set to 5 already in the GRN. The received quantity should be set to 0 so I can either scan the items in, or count them and manually add them in.

[2020-07-29 06:21] usmanalikhan93 commented on #1237
Thanks for the additional info @Cybertekww. Let me forward this to product development team.
@Uzair-RepairDesk FYI

[2020-07-29 06:56] Uzair-RepairDesk commented on #1233
Hi @TechTraders
Thank you for the suggestion. We have a plan to add the "Sub Categories" module in RepairDesk. I have marked it under enhancements of the inventory module.
I will update you on this thread once we start working on it. Thanks.

[2020-07-29 07:07] Uzair-RepairDesk commented on #1238
@usmanalikhan93
Can you check the first part that is about the delay in scanning the items?

[2020-07-29 07:14] #1065 closed

[2020-07-29 07:31] Uzair-RepairDesk commented on #1231
Any update on this @usmanalikhan93 @jawad-Repairdesk

[2020-07-29 16:51] Omar1892 commented on #1212
@MuhammadAdnan32 thank you.

[2020-07-29 16:52] Omar1892 commented on #1164
@jawad-Repairdesk

Hello,

just to be sure that you know. We are still having the same issue in the store. Fahad told me that you guys are working on a permeant solution.

[2020-07-30 14:55] R2Repair commented on #1208
Hi,

Is there any update on this?

Thank you,

R2 Repair Team

[2020-07-31 01:29] BharatPRC commented on #1228
Yes ! Thats Correct.
I will appreciate if you can work on it as a priority basis.

[2020-07-31 18:57] yourrepairdepot opened #1239 "Customer Comments on Leads Management"
![Customer Comments Field Repair Desk](https://user-images.githubusercontent.com/69055067/89067907-0a671580-d325-11ea-8900-43969d73392a.JPG)
When entering a customer comment in the customer comment on Leads Management field doesn't save.

[2020-08-01 14:33] TechTraders commented on #1233
Thanks Uzair I look forward to seeing the update come out

Thanks,
Nat
Technology Traders

[2020-08-01 14:36] TechTraders opened #1240 "Ability to trigger a manual sync for stock warning & re-order amounts"
I think it would be a vital option to be able to set a manual one time trigger to sync the stock warning and re-order amounts across selected stores.

e.g. I have 3 retails stores and whenever I add new products or need to update stock warning on old stock I need to manually edit it at every store, it would be good to just be able to set a trigger for the changes I make to effects all store or sel

[2020-08-01 14:38] TechTraders commented on #1238
I 2nd this! :)

[2020-08-03 01:50] BharatPRC opened #1241 "Tickets and Inventory label are not printing barcode and product code"
printing label is only printing item name.
nothing else.
can you please check this ?
![Screenshot 08-03-2020 11 49 33](https://user-images.githubusercontent.com/34261339/89138604-780e7e00-d57f-11ea-995a-ca6b4f679528.jpg)
![Screenshot 08-03-2020 11 49 52](https://user-images.githubusercontent.com/34261339/89138607-793fab00-d57f-11ea-8319-0bdd893425b5.jpg)

[2020-08-03 02:02] BharatPRC opened #1242 "Purchase Order PO Toggle " Add tax on Cost Price " doesn't work"
![Screenshot 08-03-2020 11 52 32](https://user-images.githubusercontent.com/34261339/89138738-da677e80-d57f-11ea-8e5b-ea25053336be.jpg)

Either if this option ticked or not ticked we still have to keep the calculator with us to add cost price and tax.

can you guys please fix this asap.

[2020-08-03 02:30] BharatPRC opened #1243 "Print Node is not receiving any command - Not Printing"
Hi Print node is not working.

RD shows msg that printing job is sent to print node, but nothing gets to print out.

I have check Integration settings, that seems ok.

I have logged in to Print Node account to see any pending job, and I found out that its not even receiving the command from RD.
No job in quoue .

![Screenshot 08-03-2020 12 29 28](https://user-images.githubusercontent.com/34261339/

[2020-08-03 03:58] Uzair-RepairDesk commented on #1240
Hello Technology Traders @TechTraders team,

Thank you for your suggestion. Currently, we didn't keep a global option to set stock warning and reorder level value for the inventory items because each item has a different nature to stock the value and required quantity for each store.

However, let me mark it under enhancements of the inventory module so we can check the feasibility to add it.

[2020-08-03 04:34] MuhammadAdnan32 commented on #1242
Hey @BharatPRC ,
Adnan here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Regards,

[2020-08-03 04:49] Uzair-RepairDesk commented on #1243
We have fixed the issue @BharatPRC
Can you please check at your end?

[2020-08-03 04:54] BharatPRC commented on #1243
Thank you for the quick fix.
It also has fixed the other issue I reported #1241
Great.

[2020-08-03 04:54] BharatPRC commented on #1241
Thanks.
Its fixed by thread #1243

[2020-08-03 05:09] #1243 closed

[2020-08-03 05:09] #1241 closed

[2020-08-04 05:21] BharatPRC commented on #1242
This issue and #1228  are going side by side.
so please consider both at the same time when you work on it.  thanks

[2020-08-04 05:33] BharatPRC opened #1244 "Toggle in Purchase Order to add up percentage markup/Calculator for overseas purchase"
Please Note :
You can consider this while working on #1228 and #1242

Often we buy lots of stuff from overseas. Every overseas purchase is made in US Dollar.
So what is happening is, when we tell the staff to make PO for overseas order which has prices marked in USD. They need to take the calculator and add 30% / 40 % ( depending on current conversion rate ) on top of the marked USD price and then

[2020-08-05 08:08] BharatPRC opened #1245 "Tickets are not showing Added Parts items"
When we add items in tickets, it doesn't show it.
Outside its visible.
plz, check the video to see what exactly is happening.

http://sc.com.ly/show/5BfI6qxFzXC9yDVpiudtTHbL7NaP1m8k

[2020-08-05 08:14] usmanalikhan93 commented on #1242
For internal use:
https://repairdesk.atlassian.net/browse/REP-2717

[2020-08-05 09:30] usmanalikhan93 commented on #1239
Hi @yourrepairdepot

Sorry for the delay response. I have made a video in which I have explained how you add customer comments in manage leads section. Please check and do let me know if you have any questions.
Video link: https://drive.google.com/file/d/1l7pyHfd3_X56sso-tGW3a0dgefXH19D6/view

Thanks
Usman Ali

[2020-08-05 11:26] BharatPRC commented on #1242
I think there is a confusion between two triggers with the same/similar functionality.
One is in " Store General Setting "
and
One is in " Purchase Order "

I have tried to explain the issue in the following video. Please watch it for clear understanding.

http://sc.com.ly/show/upSrFHAQtVg85J094lzECbheBY6Wcf3y

[2020-08-05 12:01] usmanalikhan93 commented on #1245
Hi @BharatPRC

I hope you are doing well. It's fixed now. Can you please check now by creating a new ticket with ticket items? For the old tickets, please share the ticket id's and credentials with Danish and then we will update it from Database.

Thanks
Usman Ali

[2020-08-05 12:07] BharatPRC commented on #1245
Thanks! It's all good and working now.
I will fix old tickets by myself. Cheers !!!

[2020-08-05 12:24] #1245 closed

[2020-08-05 12:35] usmanalikhan93 commented on #1213
@Uzair-RepairDesk I have discussed this with Humza Mehmood, He will check the feasibility of this with developer.

[2020-08-05 12:36] #1212 closed

[2020-08-06 07:06] usmanalikhan93 commented on #1230
Hi again @tekkies1 - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Regards,
Usman Ali

[2020-08-06 07:06] #1230 closed

[2020-08-06 14:05] MyTechnopolis opened #1246 "REPORTING - Year and Month Comparison"
The ability to compare sales (including graphics);
- Current Year to the previous Years
- Current Month to the previous Months
- Month to Date
- Year to Date

-=-**Examples** -=-
**Current Year to the previous Years**
2020: 1 456 258$
2019: 1 298 336$
2018: 1 117 250$
Etc.

**Current Month to the previous Months**
February 2020: 80 985$
January 2020: 66 785$
December 2019: 109 325$
Etc.

-=- **DES

[2020-08-06 14:13] MyTechnopolis opened #1247 "CUSTOMER LANGUAGE PREFERENCE applied to printing and customer portal."
The ability to print anything and display the customer portal based on a customer's language preference.

The objective is to better customize the system to increase the satisfaction of customers by making everything available is their language of choice (English, Spanish, French, Etc.)

[2020-08-06 14:13] MyTechnopolis opened #1248 "PENNY ROUNDING"
The ability for the POS to round the change due to the nearest penny.

Since Canada, New Zealand, Australia, Netherlands, Finland, Sweden, etc. no longer uses pennies.

Example - The change due of 14.68$ would be rounded up to 14.70$. And 14.66$ would be rounded down to 14.65$.

**IMPORTANT** for accounting : On the end of the day report, a section with ROUNDING ADJUSTMENTS should indicate the amo

[2020-08-06 14:39] tekkies1 commented on #1230
also where building a new website, can someone add under mail in repair tab
repairdesk checkin the status and appointment booking?

On Thu, Aug 6, 2020 at 2:07 AM Usman Ali Khan <notifications@github.com>
wrote:

--

*Brian *

* Tekkies*  * Inc. *

972 S Bartlett Rd*|* Bartlett IL 60103

M 630-246-4441

*pcoak1@gmail.com <pcoak1@gmail.com> **|** www.tekks.net
<http://www.playntrade.com>*

[2020-08-07 00:35] TechTraders opened #1249 "Ticket assigment not clickable when ticket is open"
Please make the ticket assigned section clickable when you are viewing the ticket,
![image](https://user-images.githubusercontent.com/68912093/89596100-b2d32780-d899-11ea-9b1c-9d014b9e7e7a.png)

[2020-08-07 04:21] usmanalikhan93 commented on #1230
Hi @tekkies1
I hope you are doing well. For this you reach out to our live support and they will guide you accordingly. Hope this helps.

[2020-08-07 04:23] usmanalikhan93 commented on #1239
Hi again @yourrepairdepot - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2020-08-07 04:23] #1239 closed

[2020-08-07 10:49] usmanalikhan93 commented on #1249
For internal use:
https://repairdesk.atlassian.net/browse/REP-2721

[2020-08-07 12:18] BharatPRC opened #1250 "Uniqueness in UPC Code Trigger"
Hi Team !
Sorry to bug you everyday.

But I just noticed that the system is allowing to have same UPC on separate prodcuts.
Is there any change to make similar trigger as sku to not allow same UPC .

Thanks.
![Screenshot 08-07-2020 22 16 07](https://user-images.githubusercontent.com/34261339/89644766-e8106180-d8fb-11ea-9769-5a8537808f37.jpg)

[2020-08-07 13:10] BharatPRC opened #1251 "Sync UPC to WooCommerce"
Most of the branded products item have UPC, but they are not getting synced to WooCommerce.
Any change of syncing it online?
Regards.

[2020-08-08 00:52] MyTechnopolis commented on #1234
I agree with this post. It's a great idea. We've seen other system with a search bar to search anything and it works amazingly without the need to select the category in what to search in.

It's surprising we can't search the inventory from there. It a duly needed addition.

[2020-08-08 00:59] MyTechnopolis commented on #1229
Very good idea. We have that feature in our current POS and we would like to see something like this implemented in RepairDesk before we switch over

And this should be applied to every SKU, not just services.

As a source of idea, the way it works with our current POS is that each item in the inventory as a note section called SHOW IN POS so that anything you write here will show up only to the e

[2020-08-08 01:06] TechTraders commented on #1240
I understand he reasoning behind it but i feel like at least having the option for it would not hurt because i am sure there would be other customers in the same situation as i am. :)

[2020-08-08 01:08] MyTechnopolis opened #1252 "FEATURE REQUEST: Items on Route Column"
The ability for any employee to see from the inventory section the amount of units ordered and on route based on open purchase orders.

This would allow a better overview of incoming inventory for the staff to advise our customers and maximize sales.

The idea would be to add a column "On Order" on the right on the "On Hand" column and display the total quantity expected from recent orders.

[2020-08-08 01:19] MyTechnopolis commented on #1048
I agree.

#1 would make it easier for customers, more relatable.

#2 would allow stores to save time by allowing customers to manage that on their own.

[2020-08-08 01:47] MyTechnopolis commented on #1250
I agree.

There's an option  to make SKU's unique but not for UPC.

[2020-08-10 04:14] Uzair-RepairDesk commented on #1251
Hey @BharatPRC
You should keep the same in the SKU field to make it able to sync with wooCommerce. Item syncs based on the SKU.

[2020-08-10 04:18] Uzair-RepairDesk commented on #1252
Hi @MyTechnopolis

Thank you for your suggestion. Currently, we have this information available under "Inventory Summary Report". You can track all the inventory items details along with their on-hand value, reorder level value, On PO, and required qty. Do you prefer to check it?

[2020-08-10 04:20] #166 closed

[2020-08-10 04:21] BharatPRC commented on #1251
Yeh! I know products are syncing through SKU. That's why I am asking to make UPC syncing possible in the next update if possible.

Even if I put my UPC on SKU field, it will still sync as SKU, and woocommorce still having UPC field empty. I have to enter in manually over there for all required products which is time-consuming.

[2020-08-10 04:21] Uzair-RepairDesk commented on #227
We have custom fields options available under manage customer's now that allow you to create a text field to record VAT/Registration number.

[2020-08-10 04:21] #227 closed

[2020-08-10 04:23] Uzair-RepairDesk commented on #240
It's available now
https://help.repairdesk.co/knowledgebase/articles/1949434-how-to-use-special-order-for-non-catalogue-items

[2020-08-10 04:23] #240 closed

[2020-08-10 04:26] Uzair-RepairDesk commented on #241
Hi @josephifixhq
We have already given an option to set a default due date & time for repair jobs. You can go to Store Setting > Module Configurations > Repairs > Default due date & time for repairs

Hope it helps

[2020-08-10 04:26] #241 closed

[2020-08-10 04:29] Uzair-RepairDesk commented on #359
Hi @Billsalih
Under manage customer section, we have given an option to add "Contact Person Details" with "Relation". You can edit the customer profile and add it.

Check screenshot attached
![uzairshahRepairDesk-Update-Customer](https://user-images.githubusercontent.com/22955861/89752016-fb821f00-daeb-11ea-9538-dc10fa0f6cfc.png)

[2020-08-10 04:29] #359 closed

[2020-08-10 05:16] #338 closed

[2020-08-10 05:18] Uzair-RepairDesk commented on #305
We have the Import/Export feature available under manage devices.

[2020-08-10 05:18] #305 closed

[2020-08-10 05:22] Uzair-RepairDesk commented on #263
Hey @kristan79
When you create a refurbishment ticket from the trade-in module, there is trade-in info rather than a customer info.
Please check at your end and confirm. Thanks.

[2020-08-10 05:22] #263 closed

[2020-08-10 07:46] usmanalikhan93 commented on #1238
Hi @Cybertekww

I hope you are doing well. I have checked your concern related to scanning but it's working fine. And if item is not present in the system, it does prompts a message. Please check video and do let me know if you have any question.

Video Link: https://drive.google.com/file/d/1jWhxHkCotjkZ1RgQ1xPPxLtvIES3zN36/view

[2020-08-10 07:47] afrahm opened #1253 "Be able to add multiple SKUs from one supplier to an inventory item"
Need to be able to add multiple SKUs from the one supplier to an inventory item.

Would still be good to have the uniqueness of a SKU not being added twice, but make the uniqueness the SKU and the Supplier together.

[2020-08-10 07:48] afrahm commented on #1253
![Screen Shot 2020-08-10 at 4 54 12 pm](https://user-images.githubusercontent.com/1414304/89761428-b385eb00-db31-11ea-9dfd-f5597e4549a7.png)

[2020-08-10 07:50] afrahm opened #1254 "Unable to select supplier when adding part to ticket"
Unable to add a part to a ticket that has uses the Suppler/Vendor SKU

![Screen Shot 2020-08-10 at 5 50 08 pm](https://user-images.githubusercontent.com/1414304/89761544-f647c300-db31-11ea-9450-eef13ee7a2eb.png)
![Screen Shot 2020-08-10 at 5 49 56 pm](https://user-images.githubusercontent.com/1414304/89761550-f942b380-db31-11ea-96b3-573fb56abd4c.png)

[2020-08-10 08:17] Uzair-RepairDesk commented on #394
We have this option available to send an email after creating a ticket.

[2020-08-10 08:17] #394 closed

[2020-08-10 10:24] usmanalikhan93 commented on #1254
Hey @afrahm

Usman Ali here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2020-08-10 10:32] afrahm commented on #1254
Here is a short video on the problem - https://www.screencast.com/t/fVPLjbRle1A

[2020-08-10 10:42] usmanalikhan93 commented on #1254
For internal use:
https://repairdesk.atlassian.net/browse/RB-1612

[2020-08-10 13:39] R2Repair opened #1255 "Multiple Currencies Access for Quotes, Invoices, POs, Estimates and inventory Items"
Hi,

Would like the ability to make the repair quotes, sales estimates, POs, Inventory, and Invoices, in desired currencies US$ & CAD.

Currently, the system only supports one currency but our suppliers are from different countries and our customers can require quotes and invoices in either USD or CAD.

This also makes an impact COGS and revenue reports due to multiple currencies involved as our r

[2020-08-11 01:38] TechTraders opened #1256 "Low Stock Report Not able to add to exsisting PO"
Please fix this!! half the time when I try to add items to an existing PO through the low stock report it does not give me the option to add to the existing PO???
![Captu123re](https://user-images.githubusercontent.com/68912093/89847342-25f4da80-dbc7-11ea-9195-f32b9048ac91.PNG)
![12312 3](https://user-images.githubusercontent.com/68912093/89847350-29886180-dbc7-11ea-8343-a6ef3dac754d.PNG)

[2020-08-11 06:00] usmanalikhan93 commented on #1077
Hi @Cybertekww

I hope you are doing well. I have discussed with Danish that you said you are not facing this issue now. I am closing this task for now. But in future, if you face this issue again, you reopen this task.

Regards,
Usman Ali

[2020-08-11 06:00] #1077 closed

[2020-08-11 06:01] usmanalikhan93 commented on #972
Hi again @JessicaSOS - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Regards,
Usman Ali

[2020-08-11 06:01] usmanalikhan93 commented on #882
Hi again @JessicaSOS - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Regards,
Usman Ali

[2020-08-11 07:00] usmanalikhan93 commented on #1256
Hey @TechTraders

Usman Ali here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2020-08-11 09:58] usmanalikhan93 commented on #1256
Hi @TechTraders

I have reviewed your issue bu I am unable to replicate this on my test account. Can you please tell me that are you facing this issue every time when perform these steps or this is random ?

[2020-08-11 10:35] #1157 closed

[2020-08-11 18:46] MyTechnopolis commented on #1252
For some reason, the Inventory Summary Report is not working for me. I get error 404.

But what I mean is to get a quick access to "INCOMING" stock for employees working with customers. They would go in the inventory, scan a product and know exactly how many is on order. This would also be useful on from the POS when OUT OF STOCK is displayed, it could show how many is on order beside it.

See att

[2020-08-12 03:38] afrahm opened #1257 "Report on number of tickets marked as repaired on a particular day"
Need to be able to see how many tickes a tech has marked as repaired on any given day.

We should be able to filter report listing by more date options.

[2020-08-12 08:30] hanimof opened #1258 "Monthly report"
We need the Monthly report to show only the end of day data ( Cash and Eftpos ) amount the we enter at the end of the day without any other data eg ( cash out ) .

[2020-08-12 10:03] Uzair-RepairDesk commented on #1258
Hi @hanimof

Did you check our "Total Amount by Payment Method" report that gives you the sales data with each payment method. You can apply the relevant search filters of each date and 'month' to view the report at end of the day or at end of the month.

Also, you can track the same from our "Transaction log report" by applying a filter of "Payments" only. We also have option to track 'Location S

[2020-08-12 11:21] TechTraders commented on #1256
it does not always but most of the time It does it...

[2020-08-12 11:22] hanimof commented on #1258
Hi Uzair , yes i am aware of that but still the reports generated showing extra information which i do not want , All i am After , A report that show ( only )  the total of the amount entered by us at the end of each shift ( cash and EFTPOS ) .

i.e does not show any other amount , Very simple report of CASH amount and EFTpos Input by us at the end of the day not that recorded by the system.

[2020-08-12 11:24] TechTraders opened #1259 "Confirm if you want to delete pop up"
Hi There, Can you please add a confirmation pop up when you go to delete a Purchase order. I have accidentally deleted Purchase Orders multiple times now and it would be good if that pop came up to give me a chance to cancel the deletion.

Thanks

[2020-08-12 11:26] hanimof commented on #1258
i am after a sales summary report format to be exact

[2020-08-12 11:37] hanimof commented on #1258
so regardless of the amount and transaction recorded in the system , Assuming for month of July 31 days , if every day at the end of every shift when i count the cash in the till and do eftpos settlement , Assume if i made every day for the whole month ( $300 in cash and $400 in eftpos )  which total of $700 per day and we entered this amounts on the system at the end of each shift and close the s

[2020-08-12 11:58] usmanalikhan93 commented on #1256
Hi @TechTraders

Thanks for the information. I will try on my end to reproduce this issue. Meanwhile if you face this issue do let me or Danish know so we can check this in detail.

Regards,
Usman Ali

[2020-08-12 14:12] MyTechnopolis commented on #1257
Yes, I agree. This could go in the "Employee Productivity".

It should include;
- Total Ticket Completed by Employee
- Average Ticket Completed per Day by Employee
- Total Ticket Completed by employee or store (set by a date range)

[2020-08-12 14:20] MyTechnopolis opened #1260 "FEATURE REQUEST: Multiple Vendors per item"
We understand that we can already set multiple vendors per item but it doesnt seem to serve any purpose when placing purchase orders.

This would allow **more control** on placing orders to ensure we are _not forgetting any products_ and also, getting the _best possible costs_.

**Example:** If I assign that a specific product is available from supplier A (Main) and from supplier B (Secondary), th

[2020-08-12 14:34] MyTechnopolis commented on #1233
Great! To add on this...

It would be great to see departements, categories and sub-categories for store like us who are not just in repairs.

Example:

Mobile (Department 1)
   - Cases
        - Otterbox
        - MyBat
        - Puregear
    - Cellphones
        - Bell
        - Rogers
        - Refurbished
Audio (Departement 2)
    - Speakers
         - Bluetooth
         - Others
Etc...

[2020-08-12 16:45] antoinegali opened #1261 "Dual Tax on iPad POS"
Hello,

It's already have been discussed with Riz from the support team but I really need dual-tax support for the iPad POS.

Thanks!

[2020-08-12 21:53] antoinegali opened #1262 "FEATURE REQUEST: Online Price on CSV file"
Hello,

It would be useful to be able to change "Online price" when exporting items to a CSV file.

Thanks.

[2020-08-13 00:22] afrahm commented on #1257
Also being able to see average time taken to complete a ticket. This would be based on the date/time the ticket goes from In Progress to Repaired. And be able to have this based on ticket type.

[2020-08-13 10:26] Uzair-RepairDesk commented on #1261
Hi @antoinegali

Thank you for your post. We have already in the roadmap to add "Dual tax" support for our iPad POS Register in Q4 of 2020.

We will keep you posted about our progress. Thanks

[2020-08-13 10:29] Uzair-RepairDesk commented on #1260
Hi @MyTechnopolis

How exactly you want to see the stock information and track the low stock items from the low stock report if you keep it for different suppliers?
Do you want to view the low stock items if you have set up multiple supplier SKU and search it with that specific supplier?

Looking forward to hearing from you

Regards,
Uzair

[2020-08-13 10:30] Uzair-RepairDesk commented on #1259
Hello @TechTraders,
Thank you for your suggestion. It should certainly give an alert popup if you go to delete the purchase order. I am adding it under enhancements so we can add it to our current sprint. Thanks.

[2020-08-13 13:07] Cybertekww opened #1263 "Employee Productivity Report - Cybertek"
for the Employee Productivity Report can I see all employees from all stores at once? instead of selecting one store and then the other to see who is being the best sales person across all the stores.

[2020-08-13 13:13] Cybertekww commented on #1238
In the video you scan items and the error comes up, at the top of the page where it is unseen unless you scroll up to the top. this means I need to scan items into the computer and stare at the computer screen to make sure it goes in to the system instead of being able to walk around the store scanning items. If there is an audible charm that alerts me to an item being scanned in that would be ver

[2020-08-13 13:25] Cybertekww opened #1264 "Leads upgrade - Cybertek"
We dont use the leads much for what they are made for and want to be able to use it for quoting custom built computers for customers. The issue I am having is that the lead only lets me add items that are in the repair category and there is a lot of mucking around to try make it work. What we would like is to be able to create a lead for a custom build, list the parts and then send it to the custo

[2020-08-13 13:40] TechTraders commented on #1259
It does not pop up when you select it through this list
![image](https://user-images.githubusercontent.com/68912093/90141326-5a7eb700-ddbe-11ea-874f-b31a7fdc29a2.png)

[2020-08-13 13:44] TechTraders commented on #1264
have you tried using the estimate system?

https://help.repairdesk.co/knowledgebase/articles/1174753-how-can-i-create-an-estimate

[2020-08-13 13:52] Cybertekww commented on #1264
Estimates are just invoices that arent registered to receive payment. What we are currently doing is putting all the info in a spreadsheet with the sku, buy price, sell price, profit etc. and then we put all the details of the spreadsheet in to the system as an invoice, create and estimate and send the estimate to the customer. then we create a ticket so we can track everything and leave notes etc

[2020-08-13 14:02] Uzair-RepairDesk commented on #1259
@TechTraders
We have local holiday tomorrow

@usmanalikhan93
Please check this on Monday

[2020-08-13 14:28] TechTraders commented on #1259
no worries have a good holiday 😄

[2020-08-13 14:31] TechTraders commented on #1264
Fair enough 😄 just thought to check since we just use the estimate system for all of our build quotes and it seems to work alright for us. but I do see the value in what you are suggesting though. I guess we just worked with what we had haha

[2020-08-13 14:47] usmanalikhan93 commented on #1238
Hi @Cybertekww

Sure I will discuss this with development team and will try to implement something like this as you mentioned. I will update you once I get more info on this.

Regards,
Usman Ali

[2020-08-13 14:47] MyTechnopolis commented on #1260
Our current POS as that ability and we would like to see it in RepairDesk before we move over.

The idea is to use a "MAIN" vendor and "SECONDARY" vendor(s). The system keeps track what came from who and at which cost. When selecting to create a purchase order with a specific vendor, the system asks if you want to only include MAIN ITEMS that are low in stock or include SECONDARY ITEMS also.

See

[2020-08-13 15:33] TechTraders opened #1265 "Editing Line Items on PO"
With editing a PO if I delete a line item it will reset all of the quantities I just edited beforehand.

E.g. if I am going through my PO list and editing quantities on items and then I decided to remove an item from the list. unless I save and then re-open the edit window I will lose all of my progress on editing the quantities. can this be fixed please. it is just really time-consuming and frust

[2020-08-13 15:58] TechTraders opened #1266 "Filtering Options in Inventory Summary Report"
Hi Guys, Are we able to add the "Supplier" search Criteria in the inventory summary report?

[2020-08-13 17:58] iMrPhix commented on #1120
There is no current sales dashboard on the app
So as a manager when I login I can’t see current sales on the app

[2020-08-14 01:08] Cybertekww opened #1267 "Discount Issues - Cybertek"
When we make customer codes to receive discounts the discounts sometimes dont apply and when we add the 10% the math is all wrong. The discounts dont show on the invoice either so that the customer knows they are getting a discount as well.

[2020-08-14 01:09] Cybertekww commented on #1267
![badmath](https://user-images.githubusercontent.com/61297564/90201581-a3665800-de1e-11ea-90de-ce579eb7c63f.PNG)

[2020-08-14 02:17] hanimof commented on #1258
Any update please ???

[2020-08-14 06:45] BharatPRC opened #1268 "Uniqness in SKU not working when Using Custom SKU settings"
I am using SKU Generation Custom Setting as in picture below :
![Screenshot 08-14-2020 16 39 00](https://user-images.githubusercontent.com/34261339/90221086-d7f10880-de4c-11ea-8cfc-429d1af297c7.jpg)

I am re-organising my inventory by re-assigning SKU's starting from the letter " P "
When I delete my old SKU and save the product, it doesn't regenerate new SKU automatically from P series.
and when

[2020-08-14 16:25] R2Repair opened #1269 "Barcode Scan error while creating Repair Tickets"
Hi,

While receiving parts for Repairs in POS, as soon as we scan the Serial Number with a barcode scanner, the system automatically saves the part without letting us entering the rest of the fields like Repair Task status, Repair Task type, Physical location, etc.

Please find the video attached for your reference.

https://drive.google.com/file/d/12yWVSB5Tzuhf_wvbUkXKG6_fRwmHhv6M/view?usp=sharin

[2020-08-14 18:25] R2Repair opened #1270 "Sorting available in Manage Inventory for SKUs"
Hi,

Is it possible to add a sorting feature for SKUs in the Manage Inventory section?

Thank you,
R2 Repair Team

[2020-08-16 17:24] Eliezer138 opened #1271 "Text"
i want to know the customer receive in the message the name of the shop not a phone number

[2020-08-17 03:42] BharatPRC commented on #1268
Please try to look at it today.

System is generating SKU which is already available in system

[2020-08-17 04:44] Uzair-RepairDesk commented on #1259
@usmanalikhan93

[2020-08-17 05:31] Uzair-RepairDesk commented on #1269
Hi @R2Repair
Can you share the file with open access?

[2020-08-17 05:38] Uzair-RepairDesk commented on #1120
Hi @iMrPhix
Thank you for your feedback. Appreciate it. We have a plan to make dashboards for managers/admin and employees separately. It is included in our roadmap. Here is a link from our public roadmap:-

https://trello.com/c/pI8XcwDr/42-repairdesk-mobile-app-admin-employee-dashboards-and-kpis

[2020-08-17 05:40] Uzair-RepairDesk commented on #1258
Hi @hanimof
Thank you for your details and follow up. I have marked it under enhancements of reports.

[2020-08-17 05:50] MuhammadAdnan32 commented on #1268
Hey @BharatPRC,
Adnan here Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanaks & Regards,

[2020-08-17 06:03] usmanalikhan93 commented on #1259
For internal use:
https://repairdesk.atlassian.net/browse/RB-1638

[2020-08-17 06:58] usmanalikhan93 commented on #1271
Hi @Eliezer138

I hope you are doing well. Can you please provide more info on this ? As I am unable to understand your query. It will be helpful if you explain this with some relevant screenshots or a video.

Regards,
Usman Ali

[2020-08-17 09:46] alanstarkie opened #1272 "New customer 'country' not autocompleting - intermittent."
When booking-in a number of jobs, on entering new customer information, autocomplete of 'Country' only works correctly for the first one or two jobs. After that, it is very time consuming to have to scroll down and manually select from the list.

[2020-08-17 11:05] usmanalikhan93 commented on #1272
Hi @alanstarkie

I hope you are doing well. Would be great if you can share a screenshot or a video of this issue so we can release a fix during our next release. You can put together a video using Screencastify.
If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.

Regards,
Usman Ali

[2020-08-17 11:07] usmanalikhan93 commented on #1265
Hi @TechTraders

I have checked your concern but unfortunately, I am unable to reproduce your issue on my test account. Would be great if you can share a video of this issue so we can release a fix during our next release. You can put together a video using Screencastify.
If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.

Regards,

[2020-08-17 11:26] BharatPRC commented on #1268
any update ?

[2020-08-17 11:39] Eliezer138 commented on #1271
Please if you can call me to explain more clear thanks

+44 747 135 2465

*KEZ SERVICES*

Your one stop shop for data recovery and computer services,

63 Fairholt Road Lower ground floor London N16 5EW

T: 020 3886 0045 Ext.202

W: https://kezservices.co.uk/

E: *admin@kezservices.co.uk <admin@kezservices.co.uk>*

We always appreciate your feedback

king regards,

*Director of KEZ SERVICES*

*Mr E

[2020-08-17 13:21] MuhammadAdnan32 commented on #1268
Hello @BharatPRC ,
I have checked your concern but unfortunately, I am unable to reproduce your issue. Would be great if you can share a video of this issue so we can release a fix during our next release. You can put together a video using Screencastify.
If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.
Regards,
M Adnan

[2020-08-17 14:22] R2Repair commented on #1269
Hi,

I have removed the restrictions from the file. Please use the link below:

https://drive.google.com/file/d/12yWVSB5Tzuhf_wvbUkXKG6_fRwmHhv6M/view?usp=sharing

[2020-08-17 20:40] alanstarkie commented on #1272
Hi Usman,

it isn’t something that would really benefit from a screenshot - there isn’t really anything to see.

We only do mail order. Imagine we have several items to book-in. We enter the customer’s name etc, then go onto the address.

To begin with, if you start to type in the name of the country, the field autocompletes with the nearest suggestions.

After one or two jobs have been booked in,

[2020-08-17 23:54] BharatPRC commented on #1268
I thought so. Because every time I get a late reply from you, it means you couldn't find the issue. :-)
I will try to post all issues with the video next time.

Anyways!

Here is the video.:

http://sc.com.ly/show/gLT1ROpFyNXErt8oMHicnGhKfaC90I2Zhttp://sc.com.ly/show/gLT1ROpFyNXErt8oMHicnGhKfaC90I2Z

[2020-08-18 05:32] MuhammadAdnan32 commented on #1268
Hey @BharatPRC ,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up.

I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks & Regards,
M Adnan

[2020-08-18 05:36] MuhammadAdnan32 commented on #1268
For internal use:
https://repairdesk.atlassian.net/browse/RB-1647

[2020-08-19 04:44] usmanalikhan93 commented on #1269
Hi @R2Repair

I hope you are doing well. I have watched your video and just wanted to let you know that, that field does not support scan. It is only for manual entry. Hope it helps. Do let me know if you have any questions.

Regards,
Usman Ali

[2020-08-19 04:47] usmanalikhan93 commented on #1267
Hey @Cybertekww

Usman Ali here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2020-08-19 05:13] usmanalikhan93 commented on #1271
@Uzair-RepairDesk customer wants that when system sends sms, it should be display with store name, not as phone number.

[2020-08-19 07:34] usmanalikhan93 commented on #1259
Hi @TechTraders

I hope you are doing well. We have added a confirmation pop up when you delete a PO in view mode. Kindly verify at your end and do let me know if you have any question.
![image](https://user-images.githubusercontent.com/39614480/90605802-4ac8fd80-e218-11ea-90d5-da5138814a3b.png)

Regards,
Usman Ali

[2020-08-19 07:36] usmanalikhan93 commented on #1254
Hi @afrahm

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2020-08-19 07:43] afrahm opened #1273 "Search Ticket Listing by Device Location"
Need to be able to search ticket listing by device location so we can see by search what devices are in any given location.

[2020-08-19 07:59] Uzair-RepairDesk commented on #1234
Hey @Repair-Desk
Hope you are doing well, we have update the search that allows you to search for a repair ticket, customer, or an invoice by customer phone or a mobile number.
we have also added the options for the inventory item. user can search them by  SKU, UPC, Serial, or item name.
![image](https://user-images.githubusercontent.com/22955861/90608309-d85a1c80-e21b-11ea-9fad-21884711cc48.png)

[2020-08-19 07:59] #1234 closed

[2020-08-19 08:05] Uzair-RepairDesk commented on #1141
Hey @fahadimran303
Hope you are doing well, we have made this improvement live,   now if the commission is set against any service then the commission percentage or amount sent on the service will be split in both technician and salesperson.E.g. if the commission on service is $10 then $5 will be given to each employee.

[2020-08-19 08:05] #1141 closed

[2020-08-19 21:58] Omar1892 opened #1274 "Low Stock Report"

[2020-08-19 22:01] #1274 closed

[2020-08-20 01:37] Cybertekww opened #1275 "Emails going to Junk - Cybertek"
We keep emailing customers their invoices or suppliers a PO but they arent receiving them in their inbox as it goes straight to their junk mail. Can we fix this?

[2020-08-20 08:19] gsmgps-star opened #1276 "Loyalty point - Facing display"
hi

Is it possible to display loyalty points on the facing display?

https://i.imgur.com/fHmJ7VK.jpg

so that the customer could immediately see how many points he has before repair

tnx

[2020-08-20 10:35] #1259 closed

[2020-08-20 10:35] #1254 closed

[2020-08-20 12:10] usmanalikhan93 commented on #1249
Hi @TechTraders

I hope you are doing well. We have now changed the behavior on your request on view ticket page that you can change the assignee in view page. Please check at your end and do let me know if you have any question.

Thanks,
Usman Ali

[2020-08-20 12:14] MuhammadAdnan32 commented on #1268
Hi @BharatPRC ,
I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have any questions.
Thanks & Regards,
M Adnan

[2020-08-20 12:35] Uzair-RepairDesk commented on #1264
@Cybertekww
We have introduced our new "Estimate" module that covers most of your requirements.

- A completely new section is created to show estimates’ records and details.
- On the estimate listing page, you can view all the previously created estimates with their relevant status.
- Whenever an estimate is created, the customer will be notified via email.
- Customers can either view, approve, o

[2020-08-20 12:38] Uzair-RepairDesk commented on #1263
Thank you for your idea. We are introducing a KPI dashboard that will allow you to track store & employee performance so you can make better decisions.
I will update you on this soon.
@Cybertekww

[2020-08-20 13:56] Uzair-RepairDesk commented on #1102
Hey @fahadimran303
Hope you are doing well, we have made this improvement live. now at the time of slot selection on the option will be selected and the user needs to select the option all by himself.

[2020-08-20 13:56] #1102 closed

[2020-08-20 14:22] maychaudhry opened #1277 "Warranty for trade in devices"
Hi,

We sell, tradin devices with a 12 month warrenty to compete with national chains like CEX.

the system does not allow us to do any repairs under this warrenty. can you have an option where we can add a warrenty period according to our preference please?

[2020-08-20 17:30] R2Repair commented on #1269
Hi Usman,

Thank you for your email,

This functionality was actually working properly until last month and it
was discussed in the earlier meetings with RepairDesk team as well that
this function was required by our team.

Even right now it is able to scan the part but instead of just scanning, it
directly saves the device and moves to the next one.

Thank you,

Rishab Bhalla

R2 Repair

[image:

[2020-08-20 20:59] Omar1892 opened #1278 "Costumer Facing Display"
Hello, the costumer facing display hasn't being working correctly for the past few months. When ever we select an option to have a  costumer checked in or to have them sign for our terms and conditions the display will not reload. It goes to a blank white page we have to manually reload it our self every time it has to be used.

The video was sent to Costumer

fahadimran85@gmail.com

[2020-08-21 00:42] hanimof commented on #1258
Hi , when i can expect this to be done , i need this report urgently please ,

[2020-08-21 05:07] MuhammadAdnan32 commented on #1278
Hey @Omar1892 ,
Adnan here Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Regards,

[2020-08-21 05:27] usmanalikhan93 commented on #1269
Hello @R2Repair

I have just checked again your issue and yes in case of Serial it confirms the ticket, which is wrong. I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information! 😃

Regards,
Usman Ali

[2020-08-21 05:52] usmanalikhan93 commented on #1238
For internal use:
https://repairdesk.atlassian.net/browse/RB-1663

[2020-08-21 05:52] usmanalikhan93 commented on #1269
For internal use:
https://repairdesk.atlassian.net/browse/RB-1662

[2020-08-21 05:55] usmanalikhan93 commented on #1267
Hello @Cybertekww

I hope you are doing well. I believe Danish has guided you on this task. Do let me know if you have any questions.

[2020-08-21 06:15] #1249 closed

[2020-08-21 06:15] #1268 closed

[2020-08-21 20:40] DOM260096 opened #1279 "date entry box on new expense form"
hi please add a date entry box on the expenses form so my staff can add previous expences for differnt dates. this issue must be seen by other people , thank you.

[2020-08-22 03:14] afrahm opened #1280 "Search Ticket Listing by Repair Category"
Be able to filter the ticket listing based on Repair category. So we can look at all PC repairs, or all tablet repairs etc.

[2020-08-24 04:28] usmanalikhan93 commented on #1267
Hi again @Cybertekww  - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Regards,
Usman Ali

[2020-08-24 04:28] usmanalikhan93 commented on #1275
Hi again @Cybertekww  - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Regards,
Usman Ali

[2020-08-24 04:28] #1275 closed

[2020-08-24 04:33] usmanalikhan93 commented on #1272
Hey @alanstarkie

Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2020-08-24 04:35] usmanalikhan93 commented on #1175
Hi @DOM260096

I hope you are doing well. Let me check this with my team and I will update you.

[2020-08-24 05:35] Cybertekww commented on #1275
Sorry I didnt see this update until now. It works fine for some accounts but others like office 365 or hotmail accounts it goes to their junk mail.

[2020-08-24 05:37] Cybertekww commented on #1267
The discounts were working fine and then over the weekend the POS system was a mess. Payments for some items were showing up on other invoices. THe guys were calling me to let me know but I had no idea what they were saying as I had not seen the issue before but it seemed like the system would freeze and when refreshed accept the payment but then on the next invoice it was added on to the new invo

[2020-08-24 05:37] Cybertekww commented on #1267
The same with a refund. the purchase amount was wrong and the figures were a bit odd

[2020-08-24 05:38] Cybertekww commented on #1267
![20200822_124122](https://user-images.githubusercontent.com/61297564/91007659-de873900-e61f-11ea-957a-0ea32cdb21f1.jpg)

[2020-08-24 05:39] Cybertekww commented on #1267
![20200822_123302](https://user-images.githubusercontent.com/61297564/91007676-ea72fb00-e61f-11ea-8e95-f6f58bad91b5.jpg)

[2020-08-24 06:15] MuhammadAdnan32 commented on #1278
Hey @Omar1892 @afrahm ,
I hope you doing well. Could you guys please share your IOS version of IPAD, Browser name, and Browser version which you are using CFD?
Thanks & Regards,
M Adnan

[2020-08-24 07:06] Uzair-RepairDesk commented on #1279
Hi @DOM260096

Thank you for your post. Currently, our expense is linked up with our "Start / End Shift" i.e. "Register Shift" functionality. You can log expense entry during a specific shift only.
This is the reason, we cannot allow changing date when you log the expense. However, I still discuss with a technical team if we can allow using the expense without shift log and if we can also add an o

[2020-08-25 07:10] usmanalikhan93 commented on #1275
Hi @Cybertekww

I hope you are doing well. This needs to be fix by them self by click on looks safe when they receive email in spam. Hope it helps.

Regards,
Usman Ali

[2020-08-25 07:12] usmanalikhan93 commented on #1267
Hello @Cybertekww

I hope you are doing well. Can you please reach out to Danish and explain this issue via screenshare ?

[2020-08-25 07:53] canofwhoop opened #1281 "Importing Customers"
I am trying to import about 3000 customers into Repair Desk, but I have more categories than you have available. For example, I want to import ticket information with the customer so I can access it in the future. Some categories I would like to add are like Tech, Device Type, passcode, IMEi, and information on past purchases (made outside of RepairDesk). I see that I can add custom categories for

[2020-08-25 09:32] Uzair-RepairDesk commented on #334
We have introduced our new iOS that allows you to upload pre/post repair images

[2020-08-25 09:32] #334 closed

[2020-08-25 09:50] Uzair-RepairDesk commented on #688
Hi @phonefixdfw
We have introduced new functionality for special part ordering. You can create a special part order request and you can also create a PO for the special order. You can also disable the automatic notification to customers when you create a special part order and status is marked with "Waiting for Parts". You can learn more about it from the following knowledgebase article:-

https:/

[2020-08-25 09:50] #688 closed

[2020-08-25 10:28] TechTraders opened #1282 "CSV function for PO"
as of late I have been creating large purchase orders when they are large adjusting things like cost price or QTY it freezes up for a minimum of 10 seconds per change. (please speak to Arnold about details on this)

for this reason. can I please stress to you to add CSV export and import functionality for Purchase orders, please... having that would mean if I need to update cost prices in bulk I c

[2020-08-25 10:34] Uzair-RepairDesk commented on #1281
Hi @canofwhoop
Hope you are doing well

Thanks for sharing your concern. I have discussed it with our development team and currently, it's not possible for us to customize the import process as it will lead to several challenges. However, what we can do for you is we can manually import the customer information in your account. If possible then please do us a favor and create the required custom f

[2020-08-25 11:04] Uzair-RepairDesk commented on #1282
@usmanalikhan93
Can you please check with Arnold on this and first see if we can improve the speed while updating cost price/qty while creating a PO. Thanks

[2020-08-25 18:08] ciprianro opened #1283 "Phone repair report"
I need a report showing how many phones each technician repaired daily. I want to see how many phones a technician repaired today even if the repaired phones are from older tickets. Now I can only see from today's tickets. It is an urgent report because this is how I see the productivity of technicians every day.

[2020-08-25 19:57] canofwhoop commented on #1281
Ok, I will do that shortly.

[2020-08-25 19:58] #1281 closed

[2020-08-25 19:59] canofwhoop opened #1284 "Connection with Zapier"
Is it possible to create the ability to connect other apps to Zapier or other similar services?

[2020-08-25 21:06] Omar1892 commented on #1278
Yes, its the iPad air 2 13.1.6 - browser would be Google Chrome, browser should be the latest I see no new updates for the app it self.

[2020-08-25 21:11] mathchouinard opened #1285 "Selecting print barcodes in GRN with serialized inventory does not work"
When using a serialized inventory, and on the GRN page, selecting all items and then pressing the print barcode button to print all barcodes does not print the serialized inventory label, but rather the regular inventory label. Clicking the print button next to every time prints the serialized inventory label, but is annoying to do for every single item.

[2020-08-26 08:06] MuhammadAdnan32 commented on #1278
Hey @Omar1892 ,
I hope you are doing well. I have checked your reported issue on your account and also attached a video
https://drive.google.com/file/d/1du6bGdiaDU59GTq8wkRpvMauNlxrz4DY/view?usp=sharing
kindly look into this and also kindly make sure your iPad and chrome browser version is up to date.
Do let me know if you have any questions?
Thanks & Regards,
M Adnan

[2020-08-26 08:34] Uzair-RepairDesk commented on #1283
Hi @ciprianro
Did you try to track it from our "Employees Productivity Report"? You can track completed, failed or overdue jobs with respect to each technician in specific time duration. You can check the report from Employees Reports > Employee Productivity Report and apply the relevant search filters.

Please check screenshot attached

![Employee-Productivity-Report](https://user-images.githubus

[2020-08-26 10:09] Uzair-RepairDesk commented on #1273
Hey @afrahm
Hope you are doing well, we have made this improvement live , now you will be able to search ticket by device location.
![image](https://user-images.githubusercontent.com/22955861/91291161-191edc00-e7ae-11ea-84af-e6dd37bf5b07.png)

[2020-08-26 10:09] #1273 closed

[2020-08-26 10:27] Uzair-RepairDesk commented on #1174
Hey @fahadimran303
Hope you are doing well, it is to inform you that we have made this improvement live, now you will be able to search customer by the organization from POS screen, customer organization is available under customer detail in ticket listing section. In the invoice section, customer organization is available in a separate column and you can also search for specific tickets or invoic

[2020-08-26 10:27] #1174 closed

[2020-08-26 11:21] ciprianro commented on #1283
Yes i did.

in this report I can only see the phones repaired from today's tickets. I
want to see how many phones he repaired today from all the tickets. Even if
the tickets are older. For example, yesterday a technician appears to have
repaired only one phone, because the report shows the repaired phones from
the tickets created yesterday. The technician has several phones repaired.
phones that h

[2020-08-26 11:33] usmanalikhan93 commented on #1285
Hey @mathchouinard

Usman Ali here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2020-08-26 11:34] usmanalikhan93 commented on #1269
Hello @R2Repair

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2020-08-26 11:36] usmanalikhan93 commented on #1238
Hello @Cybertekww

I hope you are doing well. We have improved your below point which you have highlighted.

[2020-08-26 12:53] usmanalikhan93 commented on #1282
Sure @Uzair-RepairDesk

[2020-08-26 12:58] usmanalikhan93 commented on #1285
Hello @mathchouinard

I hope you are doing well. I have checked your issue but it seems like it is working fine. Can you please check this video and do let me know if you are following the same steps or not.
Video link: https://drive.google.com/file/d/1Jx0uM2dW8qich41ot-fbcOqJ9oNQUrMz/view

Thanks
Usman Ali

[2020-08-26 15:20] R2Repair commented on #1269
Thank you Usman!

We have checked this and this is working fine now! Really appreciate your help.

Best Regards,
Rishab Bhalla

[2020-08-26 16:38] nic05050 opened #1286 "TimeLine for Services"
Hello,

Can you make it so that you can choose between **minutes**, **hours** and **days** for average repair time in services?

[2020-08-27 01:17] Omar1892 opened #1287 "Refunds (crashing)"
Hello,

when we try to make a refund with the new set up you guys just added its crashing.

We tried to due a warranty replacement by exchanging a faulty item with a new item and at the moment we try to due the refund the thing crashes

[2020-08-27 04:12] mathchouinard commented on #1285
I believed it was because it was using the inventory label, I was wrong, but there is something different depending on which you choose. if I select them and press the "Print barcode" button, I get this:
![image](https://user-images.githubusercontent.com/59777705/91383310-d682f100-e7f9-11ea-8470-1484165035d0.png)
Instead, if I press the print button, I get this:
![image](https://user-images.github

[2020-08-27 05:17] #1269 closed

[2020-08-27 05:46] usmanalikhan93 commented on #1287
Hey! @Omar1892

Thank you for bringing this to our attention! It looks like there's a bug that just popped up 🐛.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information! 😃

Regards,
Usman Ali

[2020-08-27 10:23] Uzair-RepairDesk commented on #377
We have added an option to refund the invoices that are partially paid.

[2020-08-27 10:23] #377 closed

[2020-08-27 10:28] Uzair-RepairDesk commented on #1199
Hi @hitman1986
We have made a cash basis accounting feature LIVE. You can go to Store Settings > Select "Cash basis" under the Accounting method.
Once you do that, you will be able to track all the reports with cash basis and also view "Profit and Loss Report" under "Sales Reports".

We are also going to work to improve register shift functionality and you will be able to track each shift record i

[2020-08-27 13:38] usmanalikhan93 commented on #1287
Hello @Omar1892

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2020-08-27 21:09] Omar1892 commented on #1287
Its working fine now. Thanks

[2020-08-28 04:21] Uzair-RepairDesk commented on #1280
Hey @afrahm
Hope you are doing well, the above improvement is now live and you can now search for tickets by repair category from manage ticket listing.
![image](https://user-images.githubusercontent.com/22955861/91520887-e3920400-e90f-11ea-9392-88b373bab082.png)

[2020-08-28 04:21] #1280 closed

[2020-08-28 04:25] Uzair-RepairDesk commented on #887
Hey @rajeshdungrani
Hope you are doing well, the above improvement is now live and you can now search for tickets by repair category from manage ticket listing.
![image](https://user-images.githubusercontent.com/22955861/91521099-5307f380-e910-11ea-83fd-afabe62a0df3.png)

[2020-08-28 04:25] #887 closed

[2020-08-28 04:43] #1287 closed

[2020-08-28 05:52] Uzair-RepairDesk commented on #1266
Hey @TechTraders
Hope you are doing well, we have added "Supplier" search Criteria in the inventory summary report. now you can filter your results based on supplier.
![FIXAPHONE-Inventory-Summary-Report123](https://user-images.githubusercontent.com/22955861/91526209-89e40680-e91c-11ea-8fb8-96ae15e35dd8.png)

[2020-08-28 05:52] #1266 closed

[2020-08-28 07:52] usmanalikhan93 commented on #1285
Hello @mathchouinard

I hope you are doing well. Can you please reach out to live chat and share some information as required with them ? So I can look further in your account.

[2020-08-31 12:02] usmanalikhan93 commented on #1285
Hello @mathchouinard

I hope you are doing well. I have received your information from Danish. I will check your query and update you accordingly.

Thanks,
Usman Ali

[2020-08-31 12:03] usmanalikhan93 commented on #1278
Hi again @Omar1892  - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2020-08-31 12:03] #1278 closed

[2020-08-31 13:04] Eliezer138 opened #1288 "Causal"
I want to make my Rental Module which is on my POS to be like Repair Module so get the status and so i can also tag down the return date of the devices i give for rental, and i want it to show on the manage Rental just like i can see Manage tickets
![image](https://user-images.githubusercontent.com/69765024/91722907-dc2e5d00-eb92-11ea-8bf7-286f578f3c23.png)

[2020-08-31 13:09] Eliezer138 commented on #1288
Along with the I would also like to have Notes Option in the my store as i have to record many detail from the customer and then have to write it out side  ,

Kindly look at this image so you can understand better what i want
![image](https://user-images.githubusercontent.com/69765024/91723352-873f1680-eb93-11ea-8a19-6616e8e1ca15.png)

[2020-08-31 13:12] Uzair-RepairDesk commented on #1288
hey @Eliezer138
Can you please share more details on this? What is your workflow with rental services?
Can you also please specify your business name associated with RepairDesk? Thanks

[2020-08-31 13:13] Eliezer138 commented on #1288
KEZ Services

[2020-08-31 13:16] Eliezer138 commented on #1288
![image](https://user-images.githubusercontent.com/69765024/91723977-7f33a680-eb94-11ea-9454-0f3b567dca54.png)

[2020-08-31 13:16] Eliezer138 commented on #1288
or maybe you can give me a call if you prefer like this

[2020-08-31 13:18] Eliezer138 commented on #1288
07471352465

[2020-08-31 14:08] JessicaSOS commented on #734
fixed now

[2020-08-31 16:58] Eliezer138 commented on #1288
any update?

[2020-08-31 18:02] antoinegali opened #1289 ""PENDING REFURBISHMENT" and Woocommerce stock"
Hello,

Since my serialized stock is synced with Woocommerce, the inventory is based on "On hand".

But when an item is "PENDING REFURBISHMENT", it should not be counted as "On hand", and thus sync to the online store.

Is it possible to hide those "PENDING REFURBISHMENT" from stock so they don't sync?

Thanks!
![Screen Shot 2020-08-31 at 2 02 01 PM](https://user-images.githubusercontent.com/37091

[2020-09-01 04:39] Uzair-RepairDesk commented on #1288
Hey @Eliezer138
Thank you for the details.
I will review your account and revert back and we can schedule a call to discuss your requirements. Thanks.

Regards,
Uzair

[2020-09-01 05:06] #734 closed

[2020-09-01 05:30] Uzair-RepairDesk commented on #1289
Hi @antoinegali

Thank you for your post. Currently, woocommerce stock value is according to the "On Hand" value of RepairDesk. There is no impact on stock value from serialized inventory and the specific status.
However, I will discuss it with the engineering team and if it is feasible to add impact, we will add it under woocommerce improvements that is a plan in our roadmap of Q4 2020.

Regards,

[2020-09-01 05:31] #1080 closed

[2020-09-01 07:51] Uzair-RepairDesk commented on #1200
Hi @orvarb
Hope you are doing well

We have already implemented the functionality where you can search for any customer details using the custom fields data which has been added to the system. Please see if it fulfills your request. Otherwise we will be happy to assist you further on it.

Regards,

[2020-09-01 13:59] Eliezer138 commented on #1288
PLEASE PLEASE it's Emergency this for me thanks 0747.135.2465

[2020-09-01 14:43] antoinegali commented on #1289
Thanks Uzair. It would be very useful to have this feature.

[2020-09-01 20:33] JessicaSOS commented on #882
User Nancy is effectively disabled. You can try with user Stacey. This problem has never been fixed. Please read again above.

[2020-09-01 20:36] JessicaSOS commented on #972
You can try with user Stacey. This problem has never been corrected. Please read again above.

[2020-09-01 20:38] JessicaSOS commented on #414
Nothing has been done for this problem. Please go to "Transaction log" and you will see that the payment methods displayed are not those entered in the settings. To reopen

[2020-09-01 20:48] JessicaSOS commented on #1122
I tested today and here are the results IN ALL CAPLOCK:

1- the tags do not all work. I have taken care to look at the list of macros available below so as not to be mistaken in their spellings. I also re-initialized the model to make sure there is no other problem.
**NOT FIXED YET**

2- the summary in table with the date, the invoices, the amounts etc, which is attached in the pre-defined message

[2020-09-01 21:37] JessicaSOS commented on #414
all the payments entered in the excel sheets have been modified. You can delete these payment methods, they are no longer charged to any invoice.

[2020-09-02 06:54] usmanalikhan93 commented on #1285
For internal use:
https://repairdesk.atlassian.net/browse/RB-1724

[2020-09-02 07:11] usmanalikhan93 commented on #972
Hello @JessicaSOS

I hope you are doing well. Thank you for the information. Let me check with this employee and I will update you accordingly.

Regards,
Usman Ali

[2020-09-02 07:12] usmanalikhan93 commented on #882
Hello @JessicaSOS

I hope you are doing well. Thank you for the information. Let me check with this employee and I will update you accordingly.

Regards,
Usman Ali

[2020-09-02 07:12] usmanalikhan93 commented on #414
Hello @JessicaSOS

I hope you are doing well. Thank you for the information. Let me check with this with developer and I will update you accordingly.

Regards,
Usman Ali

[2020-09-02 11:35] Cybertekww commented on #1275
This is still happening. We are getting emails replied to from the customer and automatic emails generated from repair desk going straight to peoples junk mail. This cant happen as we are missing out important updates and the customers are missing out on their invoices and updates.
This is a photo of the emails in our junk mail at the moment. Nearly all of them are repair desk.
![20200902_212958](

[2020-09-02 17:57] Omar1892 commented on #1278
Hello, the issue still there. Ive tried it with multiple other tablets and it continues to due the same thing. And with different computers as well using the browser chrome on both the tablet and computer.

[2020-09-02 22:09] orvarb commented on #1200
Hi @Uzair-RepairDesk

Thank you, hope you are also doing well.

I've looked at the implemented functionality and there looks like my ticket was mistaken, at least it does not meet my request unfortunately. I've spoken to your customer service and he said that the field which was added is for Manage customer group but the data we are inserting and trying to pull is from the tickets so I was asked t

[2020-09-02 22:15] orvarb opened #1290 "Improved search functionality"
Hi!

After a discussion with your support team I was asked to create a ticket here on GitHub regarding improving the search functionality.

The thing is, let's say we've created a ticket and the customer name is "Örvar Blær Guðmundsson". If I try to search "Örvar Bl", that is to say, I don't write the full name and stop somewhere in the middle of the name, the search query returns "No results foun

[2020-09-02 23:22] ciprianro commented on #1283
Hi. Any news?

[2020-09-03 04:47] Uzair-RepairDesk commented on #1283
Hi @ciprianro

We have date filter above in the same report that you can apply to view the report from specific day or duration. Please check screenshot attached

![uzairshah-Employee-Productivity-Report](https://user-images.githubusercontent.com/22955861/92072355-847a3680-edca-11ea-8d22-39acf3992240.png)

[2020-09-03 14:40] usmanalikhan93 commented on #1285
Hi @mathchouinard

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2020-09-04 10:49] #1285 closed

[2020-09-04 16:15] JessicaSOS opened #1291 "Customer name error"
Hello,
This problem had already been mentioned and it had already been fixed. However, he's back. All EMAIL and TEXT with the "customer_name" tag displays the name of "David Fournier" instead of the customer's name. All the customers therefore tell us that there is an error in their name because his name is all David Fournier. See example of this email.
<img width="689" alt="david fournier" src="h

[2020-09-07 05:29] usmanalikhan93 commented on #1291
Hello @JessicaSOS

Usman Ali here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2020-09-07 06:39] usmanalikhan93 commented on #1291
Hello @JessicaSOS

Jessica I have just checked and wanted to update you that please change Macro {RECIP_NAME} with {Customer_name} where you want to display customer name. {RECIP_NAME} displays admin name. Please change these.
![image](https://user-images.githubusercontent.com/39614480/92355973-beb34300-f0fe-11ea-9e76-7da480b1ff23.png)

Do let me know if you find any confusion.

Thanks,
Usman Ali

[2020-09-07 09:19] jonahcockshaw opened #1292 "Customise the Widget Appearance"
It'd be great if we could access some additional styling functionality, with regards to the appearance of the Widget when embedded on a website. We can already change the basic colours, but we'd like to also be able to adjust other basic CSS attributes, too. Even just a CSS editor in the admin dashboard would be great!

[2020-09-07 16:45] Omar1892 opened #1293 "Prices don't change after being updated"
Hello,

I've sent a video regarding this issue to fahadimran85@gmail.com

[2020-09-07 16:47] Omar1892 opened #1294 "Inventory items not marked as used"
Hello,

Ive sent a video of the issue to fahadimran85@gmail.com

[2020-09-07 16:48] Omar1892 opened #1295 "Repair Categories Admin Section"
Hello,

Ive sent a video to fahadimran85@gmail.com

[2020-09-08 11:27] usmanalikhan93 commented on #1290
Hello @orvarb

I hope you are doing well. We have improved the search now as you said above. Please verify at your end and do let us know if you have any question.

Regards,
Usman Ali

[2020-09-08 16:39] iMrPhix commented on #1292
I feel strongly that the device should be shown with the ticket so t-123456 iPhone 8 screen replacement

[2020-09-08 16:41] iMrPhix commented on #1292
You have to click completely into the ticket to see the device model

[2020-09-08 16:48] Omar1892 commented on #1295
Along with the video I sent you, I also have issues were the wrong devices will appear on the wrong repair category and I can't  no longer remove the from the "Repair Categories" since as stated on the video last time I moved one of the device the Repair Category it messed up my inventory, trade in, repair buttons and who knows what else.
![Screen Shot 2020-09-08 at 9 45 50 AM](https://user-images

[2020-09-08 18:26] JessicaSOS commented on #1291
Hello,
its actually seems to be working well. I will contact you if there is anything but at the moment it seems to be fixed. Thank you for your observation and your speed.

[2020-09-08 18:26] #1291 closed

[2020-09-09 04:30] #1290 closed

[2020-09-09 04:50] MuhammadAdnan32 commented on #1295
Hey @Omar1892 ,
Adnan here Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Regards,

[2020-09-09 04:50] MuhammadAdnan32 commented on #1294
Hey @Omar1892 ,
Adnan here Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Regards,

[2020-09-09 04:51] MuhammadAdnan32 commented on #1293
Hey @Omar1892 ,
Adnan here Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Regards,

[2020-09-09 11:17] orvarb commented on #1290
Hi @usmanalikhan93
Thank you for a fast work, I can confirm that the search function has been improved and is working properly.
Thank you!

[2020-09-09 15:40] Omar1892 opened #1296 "Problem Button/Repair buttons"
Hello, I've removed the buttons (AAA) Battery Swapp and (AAA) Screen Swapp from my system but they still appear in my system. I try to manually remove them but I get an error message as well. They no longer exist in my system but they are still there.
![Screen Shot 2020-09-09 at 8 36 23 AM](https://user-images.githubusercontent.com/47898011/92620970-1e812980-f278-11ea-898e-5234c792f40e.png)
![Scre

[2020-09-10 04:45] nic05050 commented on #1286
Any Progress?

[2020-09-10 04:46] nic05050 opened #1297 "Can you make it so that it is possible to attach Files to PO's?"

[2020-09-10 05:55] MuhammadAdnan32 commented on #1294
Hey @Omar1892 ,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks & Regards,
M Adnan

[2020-09-10 06:04] MuhammadAdnan32 commented on #1294
For internal use:
https://repairdesk.atlassian.net/browse/RB-1760

[2020-09-10 06:11] MuhammadAdnan32 commented on #1293
Hey @Omar1892 ,
I hope you doing well. I have checked your concern on your account and seen that you have set sale price with the device issue and we have a high priority of sale price instead of the retail price. So, if you have set a sale price of a repair problem then it will not change with retail on POS when you set it. If you want to change prices on the runtime of the repair problem on POS

[2020-09-10 07:34] Uzair-RepairDesk commented on #1292
@jonahcockshaw
Can you specify the widget where you need custom CSS?

[2020-09-10 07:36] Uzair-RepairDesk commented on #1292
@iMrPhix
Can you share a screenshot where you want to display the device on the ticket?

[2020-09-10 07:52] Uzair-RepairDesk commented on #656
Hey @JessicaSOS
Currently, it is not possible to add an extra step to choose color of the device. However, we introduced the "Custom Fields" functionality that allows you to add the "Color" field to input the color of the device on the details page of the ticket.
You can learn more about it from the following knowledgebase article:-

https://help.repairdesk.co/knowledgebase/articles/1921693-custom

[2020-09-10 07:52] #656 closed

[2020-09-10 13:06] MuhammadAdnan32 commented on #1294
Hey @Omar1892 ,
I hope you are doing well. Your reported issue related to change status from the ticket view page has been fixed. Please verify at your end and do let us know if you have any question.
Thanks!

[2020-09-10 13:10] MuhammadAdnan32 commented on #1294
Hey @Omar1892 ,
I hope you are doing well. For second concern related automatically change ticket part status when we make an adjustment against the part added in the ticket. Kindly found the developer comment below.
Technically it's not possible in current behavior as we have no link of that line item in which stock is going to be adjust.

For example if stock is less than 0 and if we click on Or

[2020-09-10 17:23] Omar1892 commented on #1294
@MuhammadAdnan32 Hi, so unless we do it from the ticket it self we will not updated once we receive it on our regular P.O? We usually just create a P.O with out looking at the ticket that needs the parts since we buy in whole sale. Once the part arrives we create a GRN and I tough that once the GRN would go in the system it would update the stock with in the ticket as well. Before the system would

[2020-09-10 17:25] Omar1892 commented on #1293
@MuhammadAdnan32 Hello, I really understand your feedback. Usually we would be able to change the price from the button it self and the price would update automatically. In this case, we can update the price but once the price is saved with in the button it will not updated. It will remain at the same old price.

[2020-09-10 17:30] Omar1892 opened #1299 "Repair Problems"
Hello,

The I was going through Repair Buttons under manage repair and services and I notice that when I looked up certain models such as the iPhone 8 a lot of the service were missing from their. But when I would go to the POS system under problems all the buttons that are missing from the back end are showing in the POS system under problems. Can you please look in to this.
![Screen Shot 2020-09

[2020-09-10 17:31] Omar1892 opened #1300 "Repair buttons"
Hello,

The I was going through Repair Buttons under manage repair and services and I notice that when I looked up certain models such as the iPhone 8 a lot of the service were missing from their. But when I would go to the POS system under problems all the buttons that are missing from the back end are showing in the POS system under problems. Can you please look in to this.
![Screen Shot 2020-09

[2020-09-10 17:53] Honeybee5058 opened #1301 "Need alerts for overdue tickets"
It would be great if there was a way for repair desk to notify if a ticket has not been updated within a certain amount of time other than the due date option. For example, we work on a ticket but then it gets buried in additional work. Would be nice if after a determine amount of time it would alert that the ticket needs attention again.

[2020-09-10 17:55] Honeybee5058 opened #1302 "Sorting by device"
Would be REALLY great if we sort by mobile vs computer repair etc

[2020-09-10 19:45] ciprianro commented on #1283
Sir, please read again what i wrote above

"Yes i did.

in this report I can only see the phones repaired from today's tickets. I
want to see how many phones he repaired today from all the tickets. Even if
the tickets are older. For example, yesterday a technician appears to have
repaired only one phone, because the report shows the repaired phones from
the tickets created yesterday. The technicia

[2020-09-10 20:47] tinkertechguy opened #1303 "POS item lines for customer payments and reporting credits to employee by item lines and tickets."
I spoke to  Fahad today about the challenges of one ticket number with multiple repair items for a customer.

I am requesting to have the ability to include Ticket Number to be looked up and added to the Item line from the Scan/Item lookup/ and SKU search bar on the POS screen during check out.  This should allow a customer with multiple repair tickets to be paid at once but still allow each ticke

[2020-09-10 22:54] Omar1892 opened #1304 "GRN and Inventory count"
Hello,

I would like to suggest an improvement in this two side of the systems. Video was sent to Fahadimran85@gmail.com

[2020-09-11 04:45] Uzair-RepairDesk commented on #1304
Hi @Omar1892
We will ask fahad about the video. Thanks

[2020-09-11 05:10] MuhammadAdnan32 commented on #1293
Hey @Omar1892 ,
I hope you are doing well. If you have set a sale price of a repair problem then it will be updated only from  Inventory=>Manage services=>Repairs=>update the repair problem=>Update sale price then it will be updated on POS as well. And If you want to change prices on the runtime of the repair problem on POS then you have to clear the sale price from the repair problem as we have a

[2020-09-11 05:18] MuhammadAdnan32 commented on #1294
Hey @Omar1892 ,
I hope you are doing well. Technically it's not possible in current behavior. If you want to update the ticket part status automatically then you have to create a purchase order by clicking on the "Part Order" link On the ticket view page under the "On hand" field then it will automatically update the ticket item status when GRN will be created against PO.
If you have any questions

[2020-09-11 06:04] MuhammadAdnan32 commented on #1300
Hey @Omar1892 ,
I hope you are doing well. I have looked into your concern, In current functionality, problems are mapped with devices and not mapped with the repair category. That's why the system is showing more repair problems on POS because these are mapped with the Devices. If you want to match the result then kindly apply the device filter on the manage repair services page and then look int

[2020-09-11 06:04] MuhammadAdnan32 commented on #1299
Hey @Omar1892 ,
I hope you are doing well. I have looked into your concern, In current functionality, problems are mapped with devices and not mapped with the repair category. That's why the system is showing more repair problems on POS because these are mapped with the Devices. If you want to match the result then kindly apply the device filter on the manage repair services page and then look int

[2020-09-11 06:32] ireparo opened #1305 "Show if every Ticket has an invoice associated"
Hi, I would like to see a report where all the tickets appear and if they have an associated invoice or not and the status of the repair since in this way you can control if a repair has been delivered without making an invoice, I know you can Force to create invoice when closing the ticket, but without that option I would like to see this report. Thanks

[2020-09-11 09:13] BharatPRC opened #1306 "HIDE NOTEs Date and Time printed on Invoice"
If we add any notes on ticket the inovie printing showing the date and time of added notes.Which is not neccessory and most of the time we don't need to tell customer when the ticket was last updated.
Any way to remove date and time on notice from invoice ?

![Screenshot 09-11-2020 19 10 24](https://user-images.githubusercontent.com/34261339/92900176-cbb79580-f462-11ea-9955-5a867afb07c6.jpg)

[2020-09-11 09:13] BharatPRC commented on #1306
Also , hiding warranty information from invoice.

[2020-09-11 09:49] Uzair-RepairDesk commented on #1306
Hello @BharatPRC

Currently, it is not possible to hide the date & time for notes and the warranty information. We have a plan to make improvements to the template editor that will allow you to update the line items of the template as well. I have marked it under enhancements so we can pick up your request once we start working on this improvement.

[2020-09-11 10:19] Uzair-RepairDesk commented on #1302
Hey @Honeybee5058
Did your setup our repair categories module that allows you to setup categories like "Mobile" / "Computer Repair" etc?

You can setup repair categories and place manufacturers and relevant devices.

You can learn more about the following knowledgebase article:-
https://help.repairdesk.co/knowledgebase/articles/1166230-how-to-enable-repair-categories-on-pos

Please check the scree

[2020-09-11 14:05] Honeybee5058 commented on #1302
Actually what I meant was in the manage tickets window, it would be nice to be able to sort them by mobile vs computer repair.

Melissa Turski
Vice President
Down the Street IT
410-864-9894
www.downthestreetit.com<http://www.downthestreetit.com>

________________________________
From: Muhammad Uzair Shah <notifications@github.com>
Sent: Friday, September 11, 2020 6:20:08 AM
To: Repair-DeskPOS/Repa

[2020-09-11 17:12] Omar1892 commented on #1299
Hello,

I've I looked in to it before bring this issue up, but the buttons are not appearing in the category they are supposed to be in. And they don't appear in any other category as well. This happen after my system cracked and you guys had to restore my account 4 days back.

[2020-09-11 17:13] Omar1892 commented on #1300
Hello,

I've I looked in to it before bring this issue up, but the buttons are not appearing in the category they are supposed to be in. And they don't appear in any other category as well. This happen after my system cracked and you guys had to restore my account 4 days back.

[2020-09-13 14:36] #1294 closed

[2020-09-13 14:36] #1293 closed

[2020-09-14 04:41] Uzair-RepairDesk commented on #1302
Hi Melissa @Honeybee5058
Thank you for your response. Do you mean that tickets should be filtered with category or you want to differentiate ticket-workflow with the category? Can you please elaborate on your request?

[2020-09-14 09:17] Honeybee5058 commented on #1302
When I go into manage tickets, I would like for us to be able to sort by device. Some of my technicians only work on phones and some only work on computers. Currently you can click on the due date column and sort or click on the created by column and sort. It would be nice to be able to click on the device column in manage tickets and sort

Sent from my Verizon, Samsung Galaxy smartphone
Get Outlo

[2020-09-14 16:30] Naegele412 opened #1307 "Serial # Entry for Devices = Limit to 15 spaces only Amazon Kindle HD 10 has 16 digits"

[2020-09-15 03:26] Miggy230 opened #1308 "ShipStation integration for mail in repairs"
Requesting an integration with ShipStation for mail in repairs.

[2020-09-15 05:16] #1300 closed

[2020-09-15 11:28] MuhammadAdnan32 commented on #1130
Hey @Omar1892 ,
I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have any question.
Thanks & Regards,
M Adnan

[2020-09-15 13:37] KEZSVS opened #1309 "Expense"
Please if you can do to get the opcion to change the date of any payments

like if i do a payment last week i can change the data

[2020-09-16 06:04] Uzair-RepairDesk commented on #1309
Hey @Eliezer138
Hope you are doing well, we are already working on the improvement where you can add expense in previous dates.
We will keep you posted once this improvement will be live.

Regards,

[2020-09-16 06:10] Uzair-RepairDesk commented on #1309
Internal Task:
https://repairdesk.atlassian.net/browse/REP-2708

[2020-09-16 09:23] #1130 closed

[2020-09-16 10:46] #1267 closed

[2020-09-16 10:53] usmanalikhan93 commented on #1203
Hello @DOM260096

I hope you are doing well. I just wanted to know that are you still facing this issue or not ? Just let me know so we can connect offline and see what's the actual issue and we can try to resolve this issue for you.

Regards,
Usman Ali

[2020-09-16 10:53] usmanalikhan93 commented on #1175
Hello @DOM260096

I hope you are doing well. I just wanted to know that are you still facing this issue or not ? Just let me know so we can connect offline and see what's the actual issue and we can try to resolve this issue for you.

Regards,
Usman Ali

[2020-09-16 10:53] usmanalikhan93 commented on #1204
Hello @DOM260096

I hope you are doing well. I just wanted to know that are you still facing this issue or not ? Just let me know so we can connect offline and see what's the actual issue and we can try to resolve this issue for you.

Regards,
Usman Ali

[2020-09-16 12:13] DOM260096 commented on #1204
Yes we are mate

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Usman Ali Khan <notifications@github.com>
Sent: Wednesday, September 16, 2020 11:53:53 AM
To: Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS <RepairDesk-BUGS-IMPROVEMENTS@noreply.github.com>
Cc: DOM260096 <info@techni-callsolutions.com>; Mention <mention@noreply.github.com>
Subject: Re: [Repair-Des

[2020-09-16 12:33] Uzair-RepairDesk commented on #1307
Hello @Naegele412
Can you please specify where are exactly you have a limit for serial entry for devices? We already allow entering more than 16 characters in serial.
Please check the screenshot attached

![uzairshah-POS](https://user-images.githubusercontent.com/22955861/93337529-b071cf00-f842-11ea-9336-4f0c6a6c5949.png)

[2020-09-16 12:38] Uzair-RepairDesk commented on #1302
Hi @Honeybee5058
You can apply the search filter with the device to filter the tickets. Currently, we cannot allow to sort the tickets with devices like due date and assigned to because there are no specific criteria to sort the devices.

Also, I will suggest you display the tickets to an employee that is assigned to a specific employee rather than displaying all the tickets to all the employees.

[2020-09-16 20:57] JessicaSOS opened #1310 "Tag in du invoice reminder doen'st work"
Try to email you invoices to pay with the "from invoice reminder" in "manage invoices" + "action". Once the reminder is received by email, you can see "store_name" for example instead of the company name.
<img width="935" alt="invoice reminder" src="https://user-images.githubusercontent.com/40500094/93391761-ad281480-f83d-11ea-9040-dbb0854fa6ba.png">

Essayer de vous envoyez un courriel des factur

[2020-09-17 04:11] Naegele412 commented on #1307
It’s may be related to the self check in widget... I’m not 100% certain but I believe that is where the limitation was - then after it is imported to repairdesk POS you still can’t go past 15 digits - you also cannot alter the address info etc while in the import screen. You have to save it or create a ticket then go back and edit it.

[2020-09-17 04:41] Naegele412 opened #1311 "We need an option to “MERGE” device models..."
Currently with all the different integrations and everything there are so many different versions of the same model being imported or already in the system and there should really be some way for us to merge these into one device.
For instance: Mobile Sentrix might have an iPhone XR, Injured Gadgets might have an Apple iPhone XR, and Repair Parts USA maybe has an XR (A1984) (not actual examples -

[2020-09-17 04:58] Naegele412 commented on #1272
to chine in on this... IMO it should auto fill for us based on OUR COUNTRY. In other words, if the repair shop is in USA, it should auto complete with USA then have option to update if needed vs having to select each time. If your shop is in Australia, dedault country s/b Australia, etc.

[2020-09-17 06:18] Uzair-RepairDesk commented on #1311
Hi @Naegele412
Can you please specify your business name associated with RepairDesk so I can ask your success manager to personally reach out to you to check this request in detail?

Waiting for your response.

Regards,
Uzair

[2020-09-17 06:19] Naegele412 commented on #1311
IFIX Enterprises Inc or IFIX (Oneida) under andrew@ifixcny.com

[2020-09-17 10:40] usmanalikhan93 commented on #1310
Hey @JessicaSOS

Usman Ali here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2020-09-17 11:18] usmanalikhan93 commented on #1310
Hey! @JessicaSOS

Thank you for bringing this to our attention! It looks like there's a bug that just popped up 🐛.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information! 😃

[2020-09-17 11:28] usmanalikhan93 commented on #1310
For Internal use:
https://repairdesk.atlassian.net/browse/RB-1791

[2020-09-17 11:54] usmanalikhan93 commented on #972
Hey @JessicaSOS

Thank you for bringing this to our attention! It looks like there's a bug that just popped up 🐛.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information! 😃

For internal use:
https://repairdesk.atlassian.net/browse/RB-1792

[2020-09-18 07:56] #165 closed

[2020-09-18 21:28] JessicaSOS opened #1312 "SMS Problem with accent"
Hello,
We have sentence templates already made for texting. However, when the customer receives the message, full punctuation marks are displayed instead of the normal text accents.
See example text:

Bonjour Maxime Perron,
votre appareil a été réparé et est maintenant prêt à être récupéré.
SOS Phone Limoilou

We've had issues like this in the past and it had been fixed, but it's now back.
![texto

[2020-09-19 21:06] tego101 opened #1313 "Terms & Conditions accordion tab issue"
Inside Intergrations -> Customer Facing Display -> Terms & Condition.
The arrow to expand the accordion section is WAAAY to close to " Add Sample Text ". I think that should be inside above the Text Area. Not next to the arrow where its Super easy to hit and wipe clean everything.

[2020-09-19 21:07] tego101 opened #1314 "Customer Facing Display"
Customer facing display needs to ask customer for device password so it can be saved with the ticket automagically.

[2020-09-21 12:47] Uzair-RepairDesk commented on #1314
Hi @tego101
Thank you for your suggestion. Currently, the self-check-in option with the customer-facing display is just to take customer information. The device passcode/password comes under device details so we didn't allow it to enter from the customer side.
I have marked your request under enhancements so we can check the feasibility in the future. Thanks

[2020-09-21 12:50] Uzair-RepairDesk commented on #1313
Hi @tego101
We will check to slightly update the user interface.

[2020-09-21 18:47] Omar1892 opened #1315 "Tax Box & Refurbishing batch"
Hello,

When editing the ticket, we try to remove the taxes from the tax box to $0.00 dollars. When the ticket is saved the tickets go back to what they were before.

Refurbishing Batch: When creating the refurbishing batch, the system will auto select the wrong model. We ran the serial number for an iPhone 8 and the system select an iPhone Xs Max.

Videos where sent to:

fahadimran85@gmail.com
--

[2020-09-21 21:35] mathchouinard commented on #1285
@usmanalikhan93 Hi, while it is better, it is not quite fixed yet.  The space at the top is not the same. I have modified my template because thwhen I press the "Print barcode" button, text would not print fully, as dymo cuts off some text.
To fix it, I added padding and now both print fully, but I now have this problem.
When I press "Print barcode", here is what it gives:
![image](https://user-im

[2020-09-21 23:44] Omar1892 commented on #1315
This is a pic from one of our refurbishing batch.

![Screen Shot 2020-09-21 at 4 41 34 PM](https://user-images.githubusercontent.com/47898011/93832149-b47a6400-fc29-11ea-8258-35fa00278893.png)

[2020-09-22 10:57] usmanalikhan93 commented on #1310
I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!

[2020-09-22 10:58] usmanalikhan93 commented on #972
Hello @JessicaSOS

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!

[2020-09-22 10:58] #972 closed

[2020-09-22 10:59] #1310 closed

[2020-09-22 11:21] MuhammadAdnan32 commented on #1315
Hey @Omar1892 ,
Adnan here Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Regards,

[2020-09-22 13:22] JessicaSOS commented on #1310
Here are the tags that are registered in the model:

Regards,

{store_name}
{store_address}
{store_email}
{store_mobile}

What is displayed is only the: {store_email}
look at the attachment.

So it's not settled.
<img width="528" alt="taggg" src="https://user-images.githubusercontent.com/40500094/93887792-25b32900-fcb5-11ea-97b1-7560f5481799.png">

-- french: --

Voici les tag qui sont inscrit dan

[2020-09-22 13:26] JessicaSOS commented on #972
fixed yeah !

[2020-09-22 13:42] usmanalikhan93 commented on #1310
Hi @JessicaSOS

I have fixed the issue on your account. And also verified by making invoice FL-26020. Now it's working. Please check and you can delete this invoice.

Regards,
Usman Ali

[2020-09-22 14:30] JessicaSOS commented on #1310
fixed Usman Tnx a lot :)

[2020-09-22 14:33] JessicaSOS commented on #1122
1- fixed
2- fixed
3- not done
4- not done

--

1- réglé
2- réglé
3- pas fait
4- pas fait

[2020-09-22 18:22] ciprianro commented on #1283
nothing?

[2020-09-22 18:23] ciprianro opened #1316 "Expense delete or edit option"
Will be great to have the edit or delete expense option. also the expense code edit  option. Thank you

[2020-09-23 04:34] usmanalikhan93 commented on #1122
Update:
Bugs are resolved now. Enhancements are left.
@Uzair-RepairDesk FYI

[2020-09-23 04:46] Uzair-RepairDesk commented on #1122
Hello @JessicaSOS
Hope you are well. Is it possible to log points 3, 4 with a new task as it is a request for a new feature so we can log it separately on your behalf. Thanks.

Regards,
Uzair

[2020-09-23 06:08] Uzair-RepairDesk commented on #1283
Thank you for your follow up @ciprianro
We will check it at our end and revert back to you.

[2020-09-23 06:20] Uzair-RepairDesk commented on #1316
Hi @ciprianro
Currently, our expense module is linked up with Start/End shift functionality. Once you enter the expense, you can edit/delete it before you actually post it and end the shift. Once you post it and end the shift, it means that you have reconciled the shift transactions and then system doesn't allow you to edit/delete the expense transaction. If we allow to edit/delete after you end t

[2020-09-23 12:13] usmanalikhan93 commented on #1312
Hi @JessicaSOS

I hope you are doing well. I just to ask from you that can I made a test on your account ? And do let me know any template in which you were facing issue.

Regards,
Usman Ali

[2020-09-23 12:14] usmanalikhan93 commented on #414
Hello @JessicaSOS

I hope you are doing. Just for the reminder, can you please highlight again those payment methods which you need to remove from the stores.

[2020-09-23 15:22] adigsm07 opened #1317 "Mail notification from Appointment calendar"
Hello All!   I use the appointment calendar with success every day but the big problem for me is with notifications. I can't receive notifications on mail who is selected from settings. Only way to receive is to set that mail on Store Email.  I want to receive this notification for 3 people. How can I make this?

[2020-09-23 15:30] adigsm07 opened #1318 "Manufacturers can't be deleted."
Hi! This days I delted some old devices and I want to delete some Manufactureres but I can't. The problem is very old, have 6 months and it's still here.  Can you make something with this error/bug ?

Screenshot with error --> https://ibb.co/S02qVLv

[2020-09-23 15:38] adigsm07 opened #1319 "Customer Facing Display - issue"
I use this function from the begging and it's a big deal to have in our shop. 1 year ago after an update ( I think), my signature was affected. Actually, my signature is very small on receipt paper and looks like an dotted line. For intake signature I use an iPad which display was tested and everything it's oke.

[2020-09-23 16:14] adigsm07 opened #1320 "Suggestion - Leads on Ticket Counter"
As you can see on my title. I want to suggest this option to be implemented on this integration. We use all day ticket counter and it's very easy to track our phones. We want to view our leads to make this work more comfortable.

[2020-09-23 16:19] adigsm07 opened #1321 "Suggestion - New tab with "County" on Appointment calendar"
I see your new update for appointment calendar with a new tab "City" and we consider a good option but we think to suggest a new tab "county" down the actually tab.

[2020-09-23 16:57] adigsm07 opened #1322 "Suggestion - Leads with more distinctive category"
Now the appointment calendar has 5 different types of services ( mail-in, walk in, on site, pickup, drop off). Currently, this services are totattly different and I think it's a better idea to have distinct notification from wich of one of them. (Leads now are mixed doesen't matter form where the leads are coming.) Or this way we can search by leads category, make statistics. Most important think.

[2020-09-23 20:36] JessicaSOS commented on #1312
Of course you can! This is the SMS related to the completed repair. See red box. There is also the same problem with all SMS including among others the one framed in blue also.
<img width="944" alt="notiff" src="https://user-images.githubusercontent.com/40500094/94066788-f555b280-fdba-11ea-8597-1c2476224014.png">

[2020-09-23 21:22] Miggy230 opened #1323 "Zapier integration request"
It will be great if we can get Zapier integration so our Birdeye account can work

[2020-09-23 21:23] Miggy230 opened #1324 "ShipStation Integration"
Integration with ShipStation for all our mail in repair returns

[2020-09-24 05:23] usmanalikhan93 commented on #1318
Hello @adigsm07

I hope you are doing well. I have checked your concern and found that there is a repair in your account which has this Manufacturer. So if you want to delete this manufacturer, you have to delete this repair first then delete this device and then you can delete manufacturer because they are interlinked with each other. Hope this help.
![image](https://user-images.githubusercontent

[2020-09-24 05:25] usmanalikhan93 commented on #1317
Hello @adigsm07

I hope you are doing well. Currently it is not possible to email all the employees. Only Admin receives the email about Lead. Let me forward this query to my Product Manager so he can look into the feasibility of it.

Regards,
Usman Ali

@Uzair-RepairDesk FYI

[2020-09-24 05:27] usmanalikhan93 commented on #1319
Hello @adigsm07

I hope you are doing well. Is it possible for you to share a video with us about this query ?

[2020-09-24 16:09] adigsm07 commented on #1319
Of course

--> here is the video: https://youtu.be/KDqGOW_-EyE

[2020-09-24 16:42] adigsm07 commented on #1317
![ggg](https://user-images.githubusercontent.com/65545272/94174469-fca1bc80-fe9d-11ea-83d0-ae30ff212fd0.png)

The option is already integrated but is not working.

[2020-09-24 16:50] usmanalikhan93 commented on #1317
Hello @adigsm07

This is only for the notification POP up when lead created. It does not send email to these employees.

[2020-09-26 19:41] ceoboost opened #1325 "RepairDesk Pay/Blockchyp Card Report Audit"
We need the ability to see a total credit/debit cards by transaction level and totals and have the ability to match that against Blockchyp batch totals.  Currently, RD does not account for gratuity in the totals.  It makes it difficult to do a credit card batch audit.

My suggestion is to make a new Report called: RepairDesk Pay Report.  In the report include detailed line transactions with a colu

[2020-09-26 19:45] ceoboost opened #1326 "Commission Split between reps at transaction level"
We need the ability to split commissions on a per transaction level.  Meaning at checkout, we can select reps name and divide the commission from the 100% total commission.  Meaning if the transaction generated $10 commission, we can say Rep A gets 70% ($7) and Rep B gets 30% ($3).  We also need the ability to go back into the system and reassign commissions from previously closed tickets/invoices

[2020-09-26 19:50] ceoboost opened #1327 "Tax"
THE TAX LOGIC ON REFUNDS SHOULD CALCULATE TAXES ON THE PARTIAL REFUND AND SHOULD NOT BE INCLUD TAX IN THE PARTIAL REFUND AMOUNT.  ex: If we want to refund someone $20 of the original purchase price of $39.99, and sales tax is 7%, the system should calculate a refund of $21.40.  $20 for the product, and $1.40 in sales tax for a total of $21.40.  Currently when you refund $20.00, the system does a r

[2020-09-28 06:05] Uzair-RepairDesk commented on #1327
Hi @ceoboost
Thank you for your post.
Is it possible to share screenshots for the above scenarios so we can look into it in detail? Thanks

[2020-09-28 10:44] buybackwidgy opened #1328 "Urgent Suggestion for BuyBack Widget"
Please add some sort of ability to add Google Ads Conversion tracking to the buyback widget. It would be invaluable to the already great widget and will really help tracking KPI's and ROAS.

[2020-09-29 04:25] usmanalikhan93 commented on #1318
Hi again @adigsm07 - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2020-09-29 04:25] #1318 closed

[2020-09-29 09:35] adigsm07 commented on #1319
Any News?

[2020-09-29 09:36] adigsm07 commented on #1321
Any news?

[2020-09-29 09:56] adigsm07 opened #1329 "Different terms&conditions for Leads"
Hello everyone!  The appointment calendar is great! We use PickUp function and now we want to use MAIL IN but we have a problem. There is no different section for Terms&Conditions. We can't use 1 type of terms and condition because pick&up and mail in are very different services.  You cand make and update for this integration?

[2020-09-29 11:42] adigsm07 commented on #1322
any news?

[2020-09-29 12:18] Uzair-RepairDesk commented on #1321
Hi @adigsm07
Thank you for your follow up. We have added it under enhancements request with reference to the appointment widget so we can pick it up when we proceed with improvements of the widget in the future.

There are 2 criteria we follow for the enhancements request:-

1: We log it in our product backlog and pick up based on community feedback in our future roadmap
2: If you want to prioriti

[2020-09-29 12:21] Uzair-RepairDesk commented on #1328
Hi @buybackwidgy
Can you please specify your name and your business name that is associated with RepairDesk?
I have logged your request under enhancements so we can check the feasibility and make it part of our future roadmap based on our community interest. Thanks

[2020-09-29 12:33] Uzair-RepairDesk commented on #1327
@ceoboost Also, can you please tell whether you include tax in the prices or is it exclusive? Thanks

[2020-09-29 14:39] usmanalikhan93 commented on #1319
Hello @adigsm07

I hope you are doing well. I have performed a inhouse testing regarding your issue but it is printing fine. Please check screenshot
![image](https://user-images.githubusercontent.com/39614480/94573446-892bf080-028b-11eb-93ea-f2243e3925ca.png)

[2020-09-30 04:29] Uzair-RepairDesk commented on #1326
Hey @ceoboost
Hope you are doing well, I have reviewed your request and discussed it with the development team. Currently, it is not possible as the workflow is totally different, I am adding it under enhancements and if we started working on it I will keep you posted on that.
Regards

[2020-09-30 08:25] adigsm07 commented on #1319
Hi Usman! Today I tested the signature and now it's visible. However the signature is small, it's any setting that can adjust the size?

[2020-09-30 11:07] adigsm07 commented on #1322
Here is our video to understand our suggestion.
https://www.youtube.com/watch?v=UFN822fyIds&feature=youtu.be

[2020-09-30 11:43] Uzair-RepairDesk commented on #1322
Hi @adigsm07
Thank you for sharing the video. We will check it in detail.

[2020-09-30 17:56] jphansendk opened #1330 "Custom color under specific device in "Manage Devices" vs adding device in "Trade-in"."
When you add a new device in "Manage Devices" you have an option to select custom colors for a specific model you add. The problem is that the choice doesn't show when you add a new device in Trade-in. Right now we have 119 different colors in the "Manage Device Colors". That means that it's way to hard to find the right color for - lets say Huawei Honor 8 color option "Pearl White" and I have to

[2020-09-30 19:56] Omar1892 commented on #1315
Any updates?

[2020-09-30 21:22] Omar1892 commented on #1315
@MuhammadAdnan32 Hello, do you have any updates? We're having a lot of issues due to this problem. We're not able to not charge taxes in certain occasions.

[2020-10-01 00:55] Omar1892 commented on #1155
Hello, do you guys have any updates on this matter? Or im doing something wrong when applying a warranty claim?

Example: When we sale a device we give out a one year warranty with a limit of 2 claims for the whole year. Costumer came in may 5th for warranty claim that would be the 1st warranty claim, he than came in yesterday for another warranty claim. This would make it his 2nd warranty claim.

[2020-10-01 02:29] Shane-RepairDesk opened #1331 "Inventory Items not adding correctly while editing a ticket"
![Capture](https://user-images.githubusercontent.com/60683772/94758811-3bd38000-036c-11eb-8fea-6721a71c3d55.PNG)
![Capture2](https://user-images.githubusercontent.com/60683772/94758815-42fa8e00-036c-11eb-931c-93ae42f550da.PNG)

Show correct amount while editing ticket once saved the totals are wrong.  Trying to re-edit the ticket you can see the totals are wrong as well after that initial save.

[2020-10-01 02:32] Shane-RepairDesk commented on #1331
I think this is also causing a random issue of (inventory items) not loading into the POS while checking out.  We are on the fly using casual to correct the cart and check out.

[2020-10-01 02:40] Shane-RepairDesk opened #1332 "FreePBX View ticket button"
![Capture](https://user-images.githubusercontent.com/60683772/94759398-c9639f80-036d-11eb-9bd2-3286e272f138.PNG)
![Capture2](https://user-images.githubusercontent.com/60683772/94759404-cbc5f980-036d-11eb-9e8b-5c16e142793f.PNG)

The View ticket button is forwarding to a login screen, It was opening the actual ticket.

[2020-10-01 04:47] MuhammadAdnan32 commented on #1331
Hey @Shane-RepairDesk ,
Adnan here Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Regards,

[2020-10-01 04:57] TechTraders opened #1333 "Option to Sync cost prices accross all stores"
Please Please Please!!!! add the ability to sync the cost price from the main to store to the rest!!

[2020-10-01 06:10] MuhammadAdnan32 commented on #1331
Hey @Shane-RepairDesk ,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks & Regards,
M Adnan

[2020-10-01 06:10] MuhammadAdnan32 commented on #1331
For internal use:
https://repairdesk.atlassian.net/browse/RB-1862

[2020-10-01 06:17] MuhammadAdnan32 commented on #1315
Hey @Omar1892 ,
I hope you are doing well. Kindly found our product team comment bellow.
This is the current functionality that tax is charged on the part cost price, if you will change the tax for the service then it will have no impact on the part tax. change in tax on run time is not possible.
For your second concern if you add a serial number in Refurbishing Batch and then create a ticket then

[2020-10-01 06:22] MuhammadAdnan32 commented on #1332
Hey @Shane-RepairDesk ,
Adnan here Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Regards,

[2020-10-01 06:26] MuhammadAdnan32 commented on #1330
Hey @jphansendk ,
Adnan here Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Regards,

[2020-10-01 06:42] Uzair-RepairDesk commented on #1330
Hey @jphansendk
I have checked the reported issue, we have added this request in Sprint. I will keep you posted once it's done.

Regards,

[2020-10-01 06:42] Uzair-RepairDesk commented on #1330
For Internal use:
https://repairdesk.atlassian.net/browse/REP-2910

[2020-10-01 06:46] MuhammadAdnan32 commented on #1332
Hey @Shane-RepairDesk ,
I hope you are doing well. I have checked your concern but unfortunately, I am unable to reproduce your issue.
Would be great if you can check it again at your end and if the issue is still there please do let us know. It may be an account-specific issue or browser cache or session expire issue.
If you have any questions or if there is anything else with which I may assist,

[2020-10-01 06:47] Uzair-RepairDesk commented on #1333
Hey @TechTraders
Hope you are doing well, we have planned an improvement release in a couple of weeks related to inventory module revamp, in that you will be able to sync cost price once at the time product creation to other stores. I will keep you posted on that.

Regards,

[2020-10-01 07:06] jphansendk commented on #1330
Thanks Guys.. would actually be cool to do the same with sizes - not as important but a cool feature 👍🏻

[2020-10-01 08:57] tompeet-ml opened #1334 "Allow the use of ticket id or invoice id as a tag in campaigner"
i'm trying to get up a Repair jobs follow up email that includes a dynamic link to our reviews platform. the link must include an order reference

Having the ticket id or invoice id available to use in campaigner would be really useful.

Thanks

[2020-10-01 10:02] Uzair-RepairDesk commented on #1171
Hey @fahadimran303
As discussed we can not proceed with this request as the commission is set once the trade-in item is purchased, we cannot add commission before that. The commission is for the employee once they sell a particular trade-in item, not at the time of purchase.

[2020-10-01 10:02] #1171 closed

[2020-10-01 10:24] #1315 closed

[2020-10-01 10:26] usmanalikhan93 commented on #1319
Hello @adigsm07

I hope you are doing well. Currently there is no option like this, because it takes an image of that signature and show it on receipt.

Regards,
Usman ali

[2020-10-01 14:32] Shane-RepairDesk commented on #1332
Cleared cache etc.,   Does on all machines and employee's homes.

[2020-10-01 20:52] Shane-RepairDesk opened #1335 "look wild to me--showing two devices but not two"
![Capture](https://user-images.githubusercontent.com/60683772/94861994-5fe39f80-0406-11eb-82e1-77cc85738bcb.PNG)
![Capture 2](https://user-images.githubusercontent.com/60683772/94862010-6540ea00-0406-11eb-8898-73985941f1ea.PNG)

[2020-10-01 20:52] Shane-RepairDesk commented on #1335
We are seeing this here and there

[2020-10-01 22:52] TechTraders commented on #1333
That is not what i am meaning....

what i need to be able to happen is that if i change the cost price on a particular product at our main store, i need that cost price to update at our other stores too.

[2020-10-02 04:36] Uzair-RepairDesk commented on #1332
@Shane-RepairDesk
Is it possible to test it from your account? You can provide relevant credentials of your account and PBX at adnan@repairdesk.co and uzair@repairdesk.co
Looking forward to hearing from you.

[2020-10-02 05:08] MuhammadAdnan32 commented on #1335
Hey @Shane-RepairDesk ,
I hope you are doing well. Just an update we have fixed the reported issue and it’s available for beta testing on the app.repaircrm.co. We are hoping to go live with this today or Monday hopefully.

[2020-10-02 05:08] MuhammadAdnan32 commented on #1335
For internal use:
https://repairdesk.atlassian.net/browse/RB-1847

[2020-10-02 12:50] usmanalikhan93 commented on #1335
Hi @Shane-RepairDesk

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!

[2020-10-02 12:50] #1335 closed

[2020-10-02 12:50] #1319 closed

[2020-10-02 13:42] Shane-RepairDesk commented on #1332
@Uzair-RepairDesk Will DM credentials on Monday out of town.

[2020-10-02 16:59] Omar1892 opened #1336 "Merchandise Showing as in stock when it isn't"
We've being having a lot of issues still with the serialized merchandise. The items are marked are still being stocked once an RMA is created on them and the RMA is marked as sent to supplier. Video of the issue was sent to

Video proof was sent to fahadimran85@gmail.com

[2020-10-02 17:09] Shane-RepairDesk opened #1337 "Remove special order item from ticket (not removing tax)"
Archived a special order item,  removes  cost of part from ticket, no way to remove the item as a whole and it's still charging tax on the special order item...Having to completely delete the ticket and start over.

[2020-10-02 17:10] Shane-RepairDesk commented on #1337
![Capture](https://user-images.githubusercontent.com/60683772/94950408-9675f480-04b0-11eb-9c5f-95b5ca26e6eb.PNG)

[2020-10-03 17:30] Omar1892 opened #1338 "Sales Tax Issue"
I sent a video to Fahadimran85@gmail.com

Taxes are still appearing in the ticket section even if we mark the ticket as no tax or mark the tax to 0.00.

[2020-10-03 19:37] Uzair-RepairDesk commented on #1083
Its live. Please update customer

[2020-10-03 19:37] #1083 closed

[2020-10-03 19:38] Uzair-RepairDesk commented on #1029
@dfazal-RD its live. Please update customer

[2020-10-03 19:38] #1029 closed

[2020-10-03 19:40] Uzair-RepairDesk commented on #1002
Its live

[2020-10-03 19:40] #1002 closed

[2020-10-04 11:30] DavidTsangFixpod opened #1339 "Paypal & Refund amount missing in Shift End Reconciliation report sent to XERO"
Hi Repairdesk,

Thank you for intergrating XERO and repairdesk.

At the end of each shift the reconcilation report that gets sent to XERO is missing Paypal sales figures and also refund figures. There are two bugs here.

1) There is two scenarios where the paypal function can be used. One method works, the other doesn't. If the ticket has been repaired and an email was sent to with the paypal link

[2020-10-05 05:50] MuhammadAdnan32 commented on #1338
Hey @Omar1892 ,
I hope you are doing well. Kindly found our product team comment bellow.
This is the current functionality that tax is charged on the part cost price, if you will change the tax for the service then it will have no impact on the part tax. So the change in tax on run time is not possible if tax is has been applied on the part cost price.
If you have any questions or if there is anyt

[2020-10-05 05:51] MuhammadAdnan32 commented on #1336
Hey @Omar1892
Adnan here Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Regards,

[2020-10-05 06:43] Uzair-RepairDesk commented on #1332
ok @Shane-RepairDesk

[2020-10-05 07:12] MuhammadAdnan32 commented on #1337
Hey @Shane-RepairDesk ,
I hope you are doing well. You can delete a special part item from the listing page of Special Ordered Items with pending status only in current functionality and it will be removed from the ticket as well and tax will also remove from the ticket.
Just an update we have fixed the reported issue and it’s available for beta testing on the Beta server (app.repaircrm.co). We ar

[2020-10-05 07:12] MuhammadAdnan32 commented on #1337
For inter use:
https://repairdesk.atlassian.net/browse/RB-1716

[2020-10-05 12:33] Afnan-Mahmood opened #1340 "Low stock report data export request"
Customers want to export data from the low stock report. If data is less than 3000 than data should be exported in excel and PDF file. If data quantity is greater than 3000 then the exported file will be forwarded to logged in user email. Users should able to export filtered data files.
There should be the permanent message shown which educates the user will the file exported in the system or will

[2020-10-05 14:05] jawad-Repairdesk commented on #1340
https://repairdesk.atlassian.net/browse/REP-2920 here is the internal link. @Uzair-RepairDesk kindly ask the customer (Elise), if he/she is satisified wiht the above story.

[2020-10-05 14:59] Shane-RepairDesk opened #1341 "FreePBX Turn OFF all call caller ID"
Non Client caller id's are removing client caller id's,  seeming the system can only display one at a time making the use for clients little less useful when taking multiple calls.

[2020-10-05 15:00] Shane-RepairDesk opened #1342 "FREEPBX Turn OFF Caller id on all calls..."
Non Client caller id's are removing client caller id's,  seeming the system can only display one at a time making the use for clients little less useful when taking multiple calls.

[2020-10-05 15:02] #1341 closed

[2020-10-05 15:40] Shane-RepairDesk commented on #1331
appears to me that it's just tax exempt inventory items...

[2020-10-05 18:06] Shane-RepairDesk opened #1343 "FreePBX--Call in issue"
If we answer the phone and are talking to client A,   The next or even third call regardless if a existing client or not will still show Client A in caller id pop-up as long as that client is still on the phone some where in shop..

[2020-10-06 01:10] Omar1892 commented on #1338
@MuhammadAdnan32 Hello, but it doesn't make any since that its "impossible" how come it was possible before? The box gives the option to change the tax collected by how ever much you want it. If im doing a refurbishing batch and the system is collecting the taxes who im I going to be charging those taxes to if im the one fixing the device for our own benefit. The taxes will still be collected and

[2020-10-06 02:12] Cybertekww opened #1344 "Emails still going to Junk - Cybertek"
Hi team,

We still have emails going to junk, most commonly emails that are hotmail, live or office 365 which mine are. All emails from the system go straight to my junk, this includes end of day reports, updates and even setting up a customer portal for myself.

Can we please get this fixed as I am wanting to start using the customer portal but looks really unprofessional when my emails go into a

[2020-10-06 05:17] Uzair-RepairDesk commented on #1342
@usmanalikhan93 Can you please check this with Kamran?

[2020-10-06 06:22] usmanalikhan93 commented on #1342
Hello @Shane-RepairDesk

I hope you are doing well. Since we haven't test this on live environment so we need to review this case and I will let you know once I have more information on this from dev team.

For internal use:
https://repairdesk.atlassian.net/browse/RB-1886

[2020-10-06 06:22] usmanalikhan93 commented on #1343
Hello @Shane-RepairDesk

I hope you are doing well. Since we haven't test this on live environment so we need to review this case and I will let you know once I have more information on this from dev team.

For internal use:
https://repairdesk.atlassian.net/browse/RB-1885

[2020-10-06 16:08] Shane-RepairDesk opened #1345 "Email-inbox"
We have been trying to use the email feature but with multiple people it's just not there,  If i delete a email all others still can see them causing confusion,   There are other issues as well there more in depth but still causing confusion.

Not asking to be fixed i don't think, probably is what it is....We are moving back to a single human receiving support emails and distribute them as needed

[2020-10-07 01:49] #1345 closed

[2020-10-07 06:31] adigsm07 commented on #1322
Any news?

[2020-10-07 07:19] MuhammadAdnan32 commented on #1331
Hey @Shane-RepairDesk ,
I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have questions.
Thanks & Regards,
M Adnan

[2020-10-07 07:25] MuhammadAdnan32 commented on #1337
Hey @Shane-RepairDesk ,
I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have questions.
Thanks & Regards,
M Adnan

[2020-10-07 08:04] adigsm07 commented on #1320
Any news?

[2020-10-07 08:14] adigsm07 commented on #1329
any news? will be implemented?

[2020-10-07 12:01] Uzair-RepairDesk commented on #1322
Hi @adigsm07
Thank you for your follow up. We have added it under enhancements request with reference to the appointment widget so we can pick it up when we proceed with improvements of the widget in the future.

There are 2 criteria we follow for the enhancements request:-

1: We log it in our product backlog and pick up based on community feedback in our future roadmap
2: If you want to prioriti

[2020-10-07 12:02] Uzair-RepairDesk commented on #1320
Hi @adigsm07
Thank you for your follow up. We have added it under enhancements request with reference to the "Ticket Counter Display" so we can pick it up when we proceed with improvements of the widget in the future.

There are 2 criteria we follow for the enhancements request:-

1: We log it in our product backlog and pick up based on community feedback in our future roadmap
2: If you want to pr

[2020-10-07 12:02] Uzair-RepairDesk commented on #1329
Hi @adigsm07
Thank you for your follow up. We have added it under enhancements request with reference to the "Appointment Calendar" so we can pick it up when we proceed with improvements of the widget in the future.

There are 2 criteria we follow for the enhancements request:-

1: We log it in our product backlog and pick up based on community feedback in our future roadmap
2: If you want to prio

[2020-10-07 15:13] jonahcockshaw commented on #1292
@Uzair-RepairDesk - the booking widget primarily. Anything that can be embedded onto a website, so that it can match the look and feel of that website. :)

[2020-10-08 05:16] wp-evince opened #1346 "Repair Category image issue"
We upload bigger images for repair category but they are still showing small images. We checked with inspect the image and found that they are coming from small folder instead of medium also the view of image div is very small. Kindly make it proper as per the layout and show bigger image.
Business Name : Phonesurgery

[2020-10-08 05:38] wp-evince commented on #1346
Suggested layout for this improvement. Check the screenshot below

https://gyazo.com/6e6ccfecd560073a85855db4afc5c907

[2020-10-08 07:39] usmanalikhan93 commented on #1339
For internal use:
https://repairdesk.atlassian.net/browse/RB-1890

[2020-10-08 07:39] #1331 closed

[2020-10-08 07:40] usmanalikhan93 commented on #1203
Hi again @DOM260096 - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2020-10-08 07:40] #1203 closed

[2020-10-08 07:41] usmanalikhan93 commented on #1175
Hi again @DOM260096 - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2020-10-08 07:41] #1175 closed

[2020-10-08 11:58] adigsm07 commented on #1329
Hi Uzair! Thanks for reply! Can you tell me where I can post this enhancements for vote?

[2020-10-08 12:12] usmanalikhan93 commented on #1343
Hello @Shane-RepairDesk

I hope you are doing well. Please find developer comments on this
"for reference please see attached video. It's working fine. Please ask from client to create the video and provide FreePBX details and VPN also."
https://drive.google.com/file/d/1EXTpDQtgSgr-ZaQGSoQiSOlbdlCVaMj0/view?usp=sharing

Kindly provide the details which developer asked on adnan@repairdesk.co

Thank

[2020-10-08 12:13] usmanalikhan93 commented on #1342
Hello @Shane-RepairDesk

I hope you are doing well. Please find developer comments on this
"for reference please see attached video. It's working fine. Please ask from client to create the video and provide FreePBX details and VPN also."
https://drive.google.com/file/d/1EXTpDQtgSgr-ZaQGSoQiSOlbdlCVaMj0/view?usp=sharing

Kindly provide the details which developer asked on adnan@repairdesk.co

Thank

[2020-10-08 14:11] Shane-RepairDesk commented on #1342
I suppose if you consider that working fine it is.......But in our
situation when i client call and] are a existing client we want to click
view ticket,  With caller id popping up on every call it overrides the last
popup as you can see in your video  making it hard to ever click view
ticket when we need to for a actual client.......Caller id for a non client
in the system is a waste causing actua

[2020-10-08 14:14] Shane-RepairDesk commented on #1343
again  caller id is a wreck....Yesterday alone we had a instance where
every call was the same caller id from a call 30 minutes earlier....All
this started Monday when every call started popping up...You can close on
our accord as we are dumping the integration.

On Thu, Oct 8, 2020 at 8:13 AM Usman Ali Khan <notifications@github.com>
wrote:

--
Kind Regards,

Shane Moreland
502-385-0600 Ext 404

[2020-10-08 16:41] KevinMarquess opened #1347 "Include shipping tracking number on the repair tracker"
By including the tracking number customers will be able to know where their special ordered part is and not call in several times for several different people. They can track it online and see for themselves right there without having to bother anyone at the store. Covid has shown the flaw in the system because of the influx of business. Back when my company was doing a lot less business I was abl

[2020-10-08 17:35] jphansendk commented on #1347
I also would like to be able to add tracking number. We have no where to put the tracking number for a ticket we ship to the client.

[2020-10-10 22:12] jphansendk commented on #1330
Any news on this topic? We now have 144 different device colors to choose from when adding a device in Trade-in. It's impossible to remember what is the right color for a special model. :-(

[2020-10-10 22:19] jphansendk opened #1348 "Trade-in Barcode label with 2 barcodes"
How can I add both Item ID barcode and IMEI barcode to the Trade-in barcode label. I only seem to be able to add the item ID as a barcode?
<img width="341" alt="Screenshot 2020-10-11 at 00 15 39" src="https://user-images.githubusercontent.com/68819320/95666163-5f11e280-0b57-11eb-89fb-ce2f9fa5771b.png">

[2020-10-12 04:46] Uzair-RepairDesk commented on #1348
Hi @jphansendk
We recommend putting IMEI under the "SKU" field while adding a trade-in device. If there will be an SKU with the IMEI number, the barcode will automatically be generated based on the IMEI number.
Hope it helps.

[2020-10-12 05:25] Uzair-RepairDesk commented on #1329
Hi @adigsm07
You can share this link (GITHUB Request) in our user group to take the attention of our community.

[2020-10-12 06:25] Uzair-RepairDesk commented on #1330
Hi @jphansendk
It is expected to go live in our next release

[2020-10-12 06:32] Uzair-RepairDesk commented on #1342
Hi @Shane-RepairDesk
I personally apologize for the inconvenience. I can understand the frustration. Since we don't have a live environment to test the integration so we cannot actually realize your concern.

You always support us where we need your assistance. Is it possible to share a quick video with the team so they can actually understand your issue and I will personally make sure to fix/impr

[2020-10-12 12:53] Uzair-RepairDesk commented on #1292
Hi @jonahcockshaw
Can you share your business name associated with RepairDesk at uzair@repairdesk.co so I can provide you the relevant information? Thanks.

[2020-10-13 00:31] Omar1892 opened #1349 "Inventory item disappeared"
Video was sent to: @fahadimran303

[2020-10-13 06:57] adigsm07 commented on #1329
Hi Uzair! Can you be more specific? Give me the link address. I tried to talk with your guys form support but they respond very slowly.

[2020-10-13 07:28] Uzair-RepairDesk commented on #1329
Hey @adigsm07
Here is a link of our Facebook user group

[2020-10-13 12:32] MuhammadAdnan32 commented on #1349
Hey @Omar1892 ,
Adnan here Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Regards,

[2020-10-14 08:48] bockhauzen commented on #1188
Hi @Uzair-RepairDesk any news?

[2020-10-14 09:54] Uzair-RepairDesk commented on #1188
Hi @bockhauzen
Can you drop me an email at uzair@repairdesk.co so I will be able to share our updated API document for appointments? Thanks.

[2020-10-14 10:33] Uzair-RepairDesk commented on #1330
Hey @jphansendk
Hope you are doing well, we have made is improvement live, now while creating trade in colors will be populated based on the selected device, and if no color is associated with the device then all the clours will be shown against that device.
![image](https://user-images.githubusercontent.com/22955861/95977633-86f09700-0e32-11eb-8c1d-27b6c1e8f8aa.png)

Regards,

[2020-10-14 10:34] jphansendk commented on #1330
Thank you sooooo much 👍🏻🤘🏻🙌🏻🙏🏻

[2020-10-14 11:22] #1330 closed

[2020-10-14 22:58] TechTraders opened #1350 "Ticket Assigned Staff Bugged"
The assigned to drop down for tickets are bugged.

in the general queue it shows who is assigned to it but when you open the ticket every ticket is listed as unassigned

see photos below.

![Capture](https://user-images.githubusercontent.com/68912093/96054195-77ba2980-0ec4-11eb-9789-6a471726a339.PNG)
![Captur3e](https://user-images.githubusercontent.com/68912093/96054202-7a1c8380-0ec4-11eb-9e6f-7c

[2020-10-15 00:49] hitman1986 opened #1351 "Error when edit ticket"
When edit ticket service information hidden in the tab look photo
![C287466E-1B31-4D72-A8FF-AF210AD85610](https://user-images.githubusercontent.com/44485797/96060527-660f5c80-0e99-11eb-8239-e936ac0b0b43.jpeg)

[2020-10-15 04:44] Repairdesk-QA commented on #1350
Hey,
Afnan here 👋 Sure thing!
Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2020-10-15 04:49] Repairdesk-QA commented on #1351
Hey,
Afnan here 👋 Sure thing!
Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2020-10-15 06:18] Repairdesk-QA commented on #1351
Hello @hitman1986

Hope you are doing well and staying safe.

I have tried to reproduce your issue currently, it's working fine on our side. It might be a temporary system glitch.
Please double-check at your side and let me know if you are still facing the same issue.

Thanks and Regards

[2020-10-15 08:00] Repairdesk-QA commented on #1350
Hello @TechTraders

Hope you are doing well and staying safe.

I have just checked your issue and found out that your employee named "johnathan honhke" is no more on your employee list. If you delete an employee then on the ticket listing page it still shows the assignee name. If you open the same ticket in edit mode ticket will be unassigned because the employee has been deleted.

To sort out thi

[2020-10-15 10:05] #1337 closed

[2020-10-15 18:59] vertechd opened #1352 "Google Contacts sync"
It would be most helpful to have the customer contacts synced with a google account. Can this feature be integrated?

[2020-10-16 05:15] TechTraders commented on #1350
Right i Understand. thanks for clarifing

[2020-10-16 05:15] #1350 closed

[2020-10-16 06:01] Uzair-RepairDesk commented on #189
You can track all of the above from our "Employee Activity Log" report by applying the relevant criteria filter. Hope it helps.

[2020-10-16 10:19] #239 closed

[2020-10-16 10:33] Repairdesk-QA commented on #573
**Update on Bug**

I have checked the bug and it looks likes it is resolved.

[2020-10-16 10:35] ciprianro commented on #1283
nothing yet?

[2020-10-16 11:06] ciprianro opened #1353 "tickets report"
we need a report to see who created the tickets and how many! because we have seller persons who create the tickets and technicians who repair phones and who are assigned the tickets. we can see this report only if we download the excel but we don have time to download this excel every hour.
![Screenshot 2020-10-16 140530](https://user-images.githubusercontent.com/68465561/96251177-c0530f00-0fb8-1

[2020-10-16 11:09] ciprianro commented on #1353
![Screenshot 2020-10-16 140809](https://user-images.githubusercontent.com/68465561/96251482-36f00c80-0fb9-11eb-853e-1736a437daf1.jpg)

[2020-10-17 02:53] TechTraders opened #1354 "New Inventory View bug report & suggestion"
Hi There,

Just 2 things with the new inventory system update.

1. (Bug) - when cloning an item when you save it does NOT give you the option to sync to other stores.

![Capture](https://user-images.githubusercontent.com/68912093/96326799-21411c80-1077-11eb-996c-0eed90d493a6.PNG)

2. (Valuable Enhancement) - Can we have a tool that we can select certain items etc. and have a manual sync request wi

[2020-10-17 02:57] TechTraders commented on #1282
Is there any updates regarding this issue?

[2020-10-17 19:19] jphansendk opened #1355 "My future wish :-D"
Would be SOOO cool if repairdesk was able to hook up with a device database so you automatically either have all devices by a brand named, memory sized and pre configured the right colors.. So my idea was to get presented by a list of - lets say Samsung. You select the models you want in the system (Manage devices) and they are automatically generated with the right name, the colors it's made in a

[2020-10-17 19:28] jphansendk opened #1356 "Template edit barcode size."
Is there a way to edit the size of the barcode on labels templates? Right now mine is dithered and looks unprofessional for some reason. I dont see what I did wrong. I'm on mac and has not the possibility to remove dithering on our Zebra printer? And for me it looks like the barcode is getting converted to a picture instead of making it in vector like the rest of the label?
<img width="1407" alt="

[2020-10-19 05:36] Repairdesk-QA commented on #1354
For internal use:
https://repairdesk.atlassian.net/browse/RB-1936

[2020-10-19 06:24] Uzair-RepairDesk commented on #1352
Hi @vertechd
Thank you for your suggestion. We have a plan to integrate with Zapier in 2021 that will allow you to sync your contacts with Google account with one of the zaps of this integration.

[2020-10-19 07:42] #1351 closed

[2020-10-19 07:42] #1069 closed

[2020-10-19 08:08] Repairdesk-QA commented on #1282
Hello @TechTraders ,

Hope you are doing well and staying safe and sorry for the delay.

Thank you for bringing this to our attention! It looks like there's a bug that just popped up 🐛.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information! 😃

Regards,
Afnan Mahmood

[2020-10-19 17:22] superhitech opened #1357 "Automate Invoice Mail With United States Postal Service"
In my old CRM, we were able to purchase credits for the ability to send an invoice to the customer using the United States Postal Service. This was done via API using: https://www.postalmethods.com/postal-api/

This would be a huge benefit for our staff as we have some customers that we invoice that either require snail mail invoices or that do not utilize e-mail in a timely fashion.

[2020-10-20 04:33] TechTraders opened #1358 "Merge Customer Not Working"
I am trying to merge customers and it will not give me the option to select any customers to merge with

![Capture](https://user-images.githubusercontent.com/68912093/96540442-1ee1fb00-12e1-11eb-860a-1bd09f2679e0.PNG)

[2020-10-20 06:35] Repairdesk-QA commented on #1358
Hey @TechTraders ,

Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2020-10-20 06:42] Repairdesk-QA commented on #1358
Hello @TechTraders

I hope you are doing well. Customer merge functionality works on the basis of First name and Last name. E.g. If you have Customer with name John smith and you want to merge customer with him, only those customer's will come up for merge who's first name is "John" or last name is "Smith".
Do you have customers with Ian or Blackwood more in your Manage Customer ?

Usman Ali

[2020-10-20 07:17] Repairdesk-QA commented on #1358
Hello @TechTraders,

Hope you are doing well and staying.

I have checked in detail on your account. There is different customers with same First and Last name. These supposed to show while merging customers. This looks like account specific issue. Same functionality working fine on other accounts. I have created an internal task to sort this out. I will keep you posted about the progress.
For int

[2020-10-20 16:36] CommCentral opened #1359 "PhoneCheck integration"
This would be a huge timesaver for us -- ability to import phones/IMEI's from Phonecheck database
to RepairDesk.  WholeCell is already doing it.

Gordon

![Screen Shot 2020-10-20 at 11 30 20 AM](https://user-images.githubusercontent.com/73189092/96616904-8a6b9e80-12c8-11eb-8b2f-9b897b5fca9a.png)

[2020-10-20 19:05] CMCMario opened #1360 "Review module"
Any chance to design some kind of Customer experience survey/ review module? 10/10 would be when:
-Customer survey Us not in front of Staff to have comfort to give lower rating
-Results are available in chart
-Results can be linked with related staff / ticket/ time

[2020-10-20 19:14] CMCMario opened #1361 "Customer counter sensor integrations"
Hi. Thank You for created invoices/tickets times chart. Exellent job. A dream now would be to ask to integrate any door sensor, so another chart can be created how many Customers visited shop vs created invoices / tickets. Really any sensor brand, make of Your choice

[2020-10-21 05:56] Uzair-RepairDesk commented on #1360
Hi @CMCMario

We are going to add "Review Campaign" in our campaigner module that will cover your partial request and you will be able to customize the campaign.

We will add a campaign that will allow you to send an automatic email/SMS or manual email/SMS to request a review from the customer. You can place a link where customers can redirect and post a review about his experience.
You will be ab

[2020-10-21 06:14] Repairdesk-QA commented on #1344
Hello @Cybertekww

I hope you are doing well. Sorry for the delay response. I have discussed this with developer and he said the email address which is going in spam, please add that in your hotmail contact so that hotmail will not cater that email as suspicious. And hopefully it will resolve your issue.

Regards,

[2020-10-21 06:27] Repairdesk-QA commented on #1358
Hello @TechTraders,

Hope you are doing well and staying safe.

We have checked this issue in your account in detail. There is a minor system limitation that you can merge only those customers who fall in the same store. Customers those created in-store 2 can't be merged in-store 1.

Hope this helps. Please give it try at your end and let us know if you need further assistance.

Regards,
Afnan Mah

[2020-10-21 06:29] Cybertekww commented on #1344
Hi team,

This doesnt work for our customers as they might not know how to do this and as we rely on the automatic emails to keep our customers in the loop on all changes to their tickets we really need a fix for this one

[2020-10-21 06:35] Repairdesk-QA commented on #1344
Let me discuss this today with our CTO.

[2020-10-21 07:30] Uzair-RepairDesk commented on #1361
Hi @CMCMario
Can you please specify the business name associated with RepairDesk? Also, can you elaborate on your above request in detail? Thanks

[2020-10-21 10:46] Repairdesk-QA commented on #1282
Hello @TechTraders ,

We tried to improve PO but due to system limitations, this is not possible for the time being.
We planned to develop import functionality in PO. It might take a couple of weeks. We will keep you posted as we are done with this improvement.

For internal use:
https://repairdesk.atlassian.net/browse/REP-2964

[2020-10-21 11:08] Repairdesk-QA commented on #1356
Hey ,
Amy here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

Regard,
Afnan Mahmood

[2020-10-21 11:26] Repairdesk-QA commented on #1344
Hello @Cybertekww,

There is one more thing to test. Go to your store setting and left blank store verified email field.
![Domain](https://user-images.githubusercontent.com/39614480/96713357-525e6d00-1355-11eb-829f-304c0fd613bd.PNG)

Hope this will sort out your issue. Please let us know which email you are using like, Gmail, Yahoo, or something else.

Regards,
Afnan Mahmood

[2020-10-21 19:46] techm89 opened #1362 "Dual sales tax in purchase order from MS"
Could we add dual sales tax in Mobile Sentrix purchase order. They support it on the website but not in RD. I cannot modify the options under supplier since I use their imported inventory integration.

[2020-10-21 19:49] techm89 opened #1363 "Sales tax on shipping in purchase order"
Most of the suppliers charge sales tax on the shipping. Currently we don't have the option to add sales tax on top of the shipping fee in purchase orders. I would need dual sales tax if possible.

[2020-10-21 22:55] Omar1892 opened #1364 "Part Price issues"
If you look at picture one the price for a product says that its $14.01 and when that same item is looked up on the inventory on hand and price the price for the same item is at $0.38

![Screen Shot 2020-10-21 at 3 53 16 PM](https://user-images.githubusercontent.com/47898011/96798568-0394ef80-13b6-11eb-858f-69d472a18484.png)

![Screen Shot 2020-10-21 at 3 50 30 PM](https://user-images.githubuserco

[2020-10-22 00:03] TechTraders commented on #1358
Is this somthing that will be fixed though? because a lot of our Duplicates are from different stores?

[2020-10-22 00:03] TechTraders commented on #1354
Any updates on this issue?

[2020-10-22 01:36] afrahm opened #1365 "Include Tracking Categories in Xero Integration"
We use a tracking category in Xero to track income and expenses for different store locations. Would be good to be able to select that in the Xero integration in RD for each Store.

[2020-10-22 01:40] afrahm opened #1366 "Repair Service POS popup"
Have a popup based on the repair service selected show at POS to specify specific information based on that service for that device.

eg. For any data recovery service we have a popup would show up for the staff member during the POS intake to say "Ensure full payment is taken and that Passcode is noted. No Passcode, NO Data".

[2020-10-22 04:47] TechTraders opened #1367 "Trade in Refund Bug"
Please fix the issue that i am having... if you refund a trade in device and we do select to add back into inventory but i still is listed as sold... please fix this.

![Capture1123](https://user-images.githubusercontent.com/68912093/96825864-774a0180-1475-11eb-92e4-8200b0820a5a.PNG)
![capture123](https://user-images.githubusercontent.com/68912093/96825866-787b2e80-1475-11eb-884e-44a3eed07389.PNG)

[2020-10-22 05:30] Uzair-RepairDesk commented on #1354
Hey @TechTraders
This issue has been fixed and verified on our beta server.
We will make it live in our release.

[2020-10-22 05:32] TechTraders commented on #1354
is that both things or just the clone issue?

[2020-10-22 05:41] Uzair-RepairDesk commented on #1363
Hi @techm89

Currently, there is no option to apply sales tax on shipping value automatically however you can keep the accumulative value of shipping with tax while creating a PO. E.g. if the shipping price is 10 and tax is 2, you can keep 12 in the shipping value and keep the notes that shipping value is included sales tax with ___%.

Hope it helps.

[2020-10-22 05:52] Uzair-RepairDesk commented on #1366
Hi @afrahm

Currently, you can make default fields mandatory with each specific category. E.g. if you have a data recovery service and you are managing it under a specific repair category, you can make "Passcode" mandatory and also add a custom field "Full Payment" with the checkbox "Ensured" to make sure that your employee marks the passcode and make a full payment.
Please check the screenshot at

[2020-10-22 05:55] #248 closed

[2020-10-22 05:57] #596 closed

[2020-10-22 05:57] #457 closed

[2020-10-22 06:00] afrahm commented on #1366
That doesn't quite serve the purpose. As those are going to show up with every single repair service. Data recovery we put under phone repairs.

This should function like a flagged note for a ticket or customer but be on the repair service itself.

[2020-10-22 06:06] Uzair-RepairDesk commented on #1362
Hey @techm89
Hope you are doing well, I have discussed your requirement with the engineering team, we can certainly add an option to enable or disable dual tax against Mobile sentrix.  I  will keep you posted on that once we start working on this improvement.

For Internal Use:
https://repairdesk.atlassian.net/browse/REP-2929
Regards

[2020-10-22 06:08] Repairdesk-QA commented on #1358
@TechTraders

We can delete duplication customers. Our development team will check duplication on the base of name, email, phone, mobile in your account. If duplication found in the different stores than we will check for transactions against that customer in each store. If we found customers with no transaction then we will delete it from that store.

If you want us to delete then please allow us

[2020-10-22 06:14] Repairdesk-QA commented on #1354
@TechTraders

The clone issue has been resolved. I believe this will be live in our today release. Enhancement is pending.

[2020-10-22 06:16] TechTraders commented on #1354
Ok thanks for the update

[2020-10-22 06:21] Repairdesk-QA commented on #1367
Hey ,
Afnan here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

Regards,
Afnan Mahmood

[2020-10-22 08:18] Repairdesk-QA commented on #1364
Hey @Omar1892 ,

Hope you are doing well and staying safe.

I have checked this on different tickets and found out that it showing the exact price on every ticket. Please have a look at the attached image.
![omer](https://user-images.githubusercontent.com/39614480/96843725-8001ef80-1403-11eb-8993-d0cbe59478f1.PNG)
Can you please specify the ticket number?

Regards,
Afnan Mahmood

[2020-10-22 10:32] Repairdesk-QA commented on #1367
Hello, @TechTraders

I have tried to reproduce this bug at my end with your specified case. It seems everything is working fine.
To sort this out the issue we have changed this trade-in status from sold to In stock from the backend.
Please verify this at your end. I hope this will fulfill your need.

Regards,
Afnan Mahmood

[2020-10-22 13:06] Gofixmobile opened #1368 "Campaigner/Text Characters way too short please remove 160 character limit"
can you remove the 160 character limit on the sms sections?

[2020-10-22 13:11] Repairdesk-QA commented on #1354
Hello @TechTraders

I hope you are doing well. Your reported issue has been fixed related to clone inventory. Please verify at your end do let me know if you have any question.

Thanks

[2020-10-22 14:07] techm89 commented on #1363
I understand, this is what I am doing actually. But the problem is we get the tax back from government so it need to be accounted in Quickbooks. If I include the amount in the shipping I am losing tax return each time because Quickbooks won't see it in the tax section. It would be greatly appreciated if this was possible to fix this.

[2020-10-22 19:19] jphansendk opened #1369 "URGENT: API GET devices problem."
Hi.

I was just told by our development team that when our client are looking in our trade-in stock through the API and search for - lets say iPhone 7. The API doesn't show each iPhone 7 in different colors or sizes when they request device_id.. only "iPhone 7 Black 128GB" and it bundles alle the iPhone 7's and Black 128GB models even though we also have other colors and sized.. Thats a HUGE probl

[2020-10-22 22:22] TechTraders commented on #1358
Hi Afnan,

Sure go ahead, but if there is a duplicate customer with transactions on both records are you still able to merge them without loss of data?

[2020-10-22 22:25] TechTraders commented on #1354
Hi there,

Yes the clone is working correctly now thank you,

please keep me posted about the enhancement

Thanks
Nat

[2020-10-23 04:10] Repairdesk-QA commented on #1368
Hello @Gofixmobile,

Hope you are doing well.

Let me discuss your concern with the team. I will get back to you after the Rediscussion.

Regards,
Afnan Mahmood

[2020-10-23 06:16] Repairdesk-QA commented on #1368
Hey @Gofixmobile,

I have discussed this with the team. For the time being, we can't do this if the character length increases then SMS will not show in the correct format. It will show like small empty boxes.

Hope you understand.

Regards,
Afnan Mahmmood

[2020-10-23 06:37] Repairdesk-QA commented on #1358
@TechTraders

If any customer falls in both stores with a transaction record then we are unable to merge these due to data loss.

[2020-10-23 10:24] Repairdesk-QA commented on #1358
@TechTraders

We have merged customer on the base of first name, last name, mobile, and email. Only 27 customers merged from the backend other than this we also found 223 duplicate entries but these have transactions as well on different stores so, we can't delete them to avoid data loss.

[2020-10-23 11:08] jphansendk commented on #1369
I think our dev team has found a solution.. Dont know what yet :-/

[2020-10-24 11:25] applemastes opened #1370 "PO and GRN"
Hi guys,

You have done a great job with this project., As in every project remain always space for improvement here is one.

there is an issue with the "Purchase Order" section and "Good Received Note"

If you change the status of PO to "Received" you cannot edit anymore the PO, that's fine but when you are asked to Generate the Good Received Note "GNR"once change the PO status, if you ignore thi

[2020-10-24 15:19] #1368 closed

[2020-10-24 15:20] #1367 closed

[2020-10-24 15:20] #1364 closed

[2020-10-24 15:20] #1358 closed

[2020-10-24 15:21] #1344 closed

[2020-10-24 15:22] #414 closed

[2020-10-25 17:11] orvarb opened #1371 "Ensure loan device is returned"
Hi!

Our workshop sometimes gives a loan device to customers, for example when you bring a phone to the workshop you can get a loan phone while your phone is being repaired. The devices we have for loan are very well marked with their own code (for example, let's say we have 50 loan phones and their code starts with 'LS' and ranks up, LS1 - LS2 - LS3 - etc.) and we've created a custom field when c

[2020-10-26 05:27] Uzair-RepairDesk commented on #1369
Hi @jphansendk
If you are able to sort out this concern, we can close this task. Please confirm?

[2020-10-26 05:33] Repairdesk-QA commented on #1356
Hello @jphansendk,

Hope you are doing well. Sorry for the delayed response.

I have tried printing label from your account. It seems everything is working fine in your account. I am unable to find the same item from your account with ID:12616. Please give it try at your end if still there is an issue regarding this please mention item ID, store name so I can test at my side as well.

Regards,
Afn

[2020-10-26 05:38] Uzair-RepairDesk commented on #1371
Hi @orvarb

Thank you for sharing your workflow. Please find a quick solution to your problem below:-

- We have "Flag" functionality available in RepairDesk that allows you to mark "Diagnostic Note" or "Customer Profile" note with a flag. When you enter the note and make it flag, the system gives you an alert with the same note when you open the ticket.
In your case, when your employees mark the

[2020-10-26 17:57] Omar1892 commented on #1364
Hello, I had to fix the prices manually. You have to add a second repair to a ticket that has being created for the issue to replicate.

[2020-10-26 17:58] Omar1892 commented on #1315
So if the taxes are shown in the Refurbishing batch it will have no affect on my Tax reports?

[2020-10-27 04:42] Repairdesk-QA commented on #1364
Hey @Omar1892,

Thanks for the confirmation about the case. I have tested this and found the reason. Tow parts are bundled with a repair problem
(A)Mobile > (A) Apple parts > iPhone 8 > (A) Screen white code 25 > here you can find two parts bundled one with cost $0.38 and the other is with cost $14.04. Due to this, it's showing $14.04 cost as well. You need to un-bundle the second part from pos.
I

[2020-10-27 12:17] jphansendk opened #1372 "Thermal Receipt Template not showing "{{technical_repair_report}}""
Im trying to set up a "Thermal Receipt Template" for our micro-solder so he can print a ticket receipt including post rep cond. and any notes under "{{technical_repair_report}}". But for some reason the "{{technical_repair_report}}" doesn't show?
![ticket_T-761](https://user-images.githubusercontent.com/68819320/97299989-1a27c480-1856-11eb-923b-7fa7435c41de.jpg)

Here is the template code..
One mo

[2020-10-27 12:28] jphansendk commented on #1369
Yes.. found a solution thanks.

[2020-10-27 12:28] #1369 closed

[2020-10-27 12:53] Repairdesk-QA commented on #1372
Hey,

Afnan here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

Regards,
Afnan Mahmood

[2020-10-27 18:09] JessicaSOS opened #1373 "Phantom issue with customer groups"
Several of our customers with the customer group: Customer Group: "Business Customers (Open Account Net 30) (Third Party Billing)" change into cutomer group: "individual" without us making these changes. This is done by the system by itself. It is an intermittent problem that lasts for a long time. Here is a client for whom we noticed that yesterday he was in a Third party billing group and that t

[2020-10-27 20:30] techfix757 opened #1374 "Screen doesnt rotate when using the square stand"
I signed up for this program today and was excited to use it. Then I found out (chatting with a rep) that the screen image isnt designed to rotate.

Is there any way that this can be changed in the software? The square program rotates

This is a deal breaker for me. It's a shame, because the program seemed perfect for our mobile repair business.

Can you please update me on this?

Thanks,
Mobile R

[2020-10-28 04:15] Repairdesk-QA commented on #1373
Hey ,
Afnan here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

Regards,
Afnan Mahmood

[2020-10-28 07:24] Repairdesk-QA commented on #1372
Hey! 👋
Thank you for bringing this to our attention! It looks like there's a bug that just popped up 🐛.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information! 😃

For internal use:
https://repairdesk.atlassian.net/browse/RB-1972

Regards,
Afnan Mahmood

[2020-10-28 07:59] Uzair-RepairDesk commented on #1374
Hi @techfix757
Thank you for your post. Can you please specify that where exactly screen doesn't rotate? Are you specifically asking about our web app screen or using our iPad POS App?

A screenshot and details will be highly appreciated so we can look into it. Thanks

Looking forward to hearing from you.

[2020-10-28 08:35] gijoe911 opened #1375 "mandatory customer signature"
Is there a way to mandate customer signature on every ticket/invoice? i cant seem to find this option anywhere. this is important as to prevent our asses being sued.

anyone knows? thanks

[2020-10-28 09:56] Uzair-RepairDesk commented on #1375
Hi @gijoe911

Can you please specify how exactly you are taking signatures? Did you try our "Customer Facing Display" widget that allows you to display order information to your customer and you can take a signature while creating a ticket or an invoice?

Please check the screenshot attached below:-

![uzairshah-Customer-Facing-Display-Widget-Configuration](https://user-images.githubusercontent.co

[2020-10-28 10:01] gijoe911 commented on #1375
Hi uzair,

we currently don't use customer facing display and just rely on our ipad to take signatures as below. it lets me create tickets and check out without taking signatures. any ideas i can make this mandatory?

![WeChat 圖片_20201028175959](https://user-images.githubusercontent.com/25240657/97421429-76b6dc80-1947-11eb-86c4-b1b52060244f.jpg)

[2020-10-28 10:13] Repairdesk-QA commented on #1373
Hello @JessicaSOS,

Hope you are doing well.

I have tried to reproduced this in our testing account everything seems to working fine.
I would suggest for the next time if issue happen again then please don't update the customer grouph and let us know to investigate. We are unable to track the record because customer updated manually.

Looking forward for your cooporation.

Regards,
Afnan Mahmood

[2020-10-28 10:28] Uzair-RepairDesk commented on #1375
Hi @gijoe911

Currently, it is not possible to mark it mandatory to take the signature. We can log it on behalf of your request to check the feasibility to add it.

Most of the customers use a customer-facing display widget that is really easy to set up and allows a better customer experience for your customers. You can setup it on any touch, tablet screen even on an iPad. We can also assist you i

[2020-10-28 10:46] gijoe911 commented on #1375
would be great if u can make it mandatory. it's probably a couple simple lines of code. some of our staffs doesnt know how to work a computer and can only use an ipad so it's best to keep it simple for them. looking forward for this on the next update.

[2020-10-28 10:47] gijoe911 commented on #1375
also they dont know english so the facing display is harder for them.

[2020-10-28 13:40] jphansendk opened #1376 "Sort Tickets by "Date last status change""
Would be very helpful of we could sort the "Manage Tickets" list by "Date last status change". That way we can keep an eye out for Tickets not received via shipping. It's already in the Excel file when you export tickets.

[2020-10-28 13:48] jphansendk opened #1377 "Change selected tickets status to.."
We have between 30 - 100 ticket through our system a day. Would be SO helpful if you could change the status of all selected tickets to another status.. It's a pain to click every single status to change status several times a day when you handle 20-30 tickets at the same time.. Also the ticket status right now needs to be clicked 3 times scroll and click the new status to change the status.. Slow

[2020-10-28 13:55] techm89 opened #1378 "Automatic Dual tax on Deposit"
Can we get an update for dual tax on the new deposit feature? I know we can add the second tax manually in the POS but this isn't the best when you process lots of transactions each day. Would it be possible to add this feature?

[2020-10-28 15:10] JessicaSOS commented on #1373
ok i will wait for the next problem and not update. Please leave the ticket open.
--
ok, je vais attendre le prochain problème et ne pas mettre à jour. Merci de laisser le billet ouvert svp.

[2020-10-28 19:44] techfix757 commented on #1374
IOS ipad App "Repair desk"

On Wed, Oct 28, 2020 at 3:59 AM Muhammad Uzair Shah <
notifications@github.com> wrote:

--

*Pricing Estimates are subject to change due to market pricing and
condition of device.*

TechFix
954 W 21st Street, STE D
Norfolk, VA 23517

757.359.2818
techfix757.com

  Facebook: *techfix757   Twitter: @techfix757   *

[2020-10-28 19:52] techfix757 commented on #1374
![20201028_154449](https://user-images.githubusercontent.com/73556671/97489192-9d6c1780-1935-11eb-86d5-d6e6f9b2a373.jpg)
![20201028_154425](https://user-images.githubusercontent.com/73556671/97489195-9e9d4480-1935-11eb-8ee4-e42bba961824.jpg)

[2020-10-28 21:21] JeffFIZUAS opened #1379 "Sales Tax Integration"
We sell products online and are using Repair Desk to manage that store. Sales tax have specific rules by zip code and state and other factors. We would like to be able to automatically calculate sales tax either via an integration with a widget or having the sales tax updated. These taxes can change as well and that can create a problem if they aren't current.

jeff@fizuas.com
Fix In A Zip, LLC

[2020-10-28 21:56] JeffFIZUAS opened #1380 "Shopify Integration"
We would like to see an integration with Shopify as well so we can use Repair Desk as our inventory management and to bring sales in from that system. That would be great. At least the inventory would be great to sync up with Shopify.

[2020-10-29 04:46] Uzair-RepairDesk commented on #1379
Hi @JeffFIZUAS

Thank you for your post. Can you please share more information on this? How exactly you are selling products online? Are you using our API or WooCommerce integration?

Your details will be appreciated before I give a response to your question. Thanks.

[2020-10-29 04:57] Uzair-RepairDesk commented on #1374
Hi @techfix757
You are actually using our mobile app on your iPad. We recommend using our dedicated "RepairDesk POS Register" app on your iPad device.
Here is the link to our app from "App Store":-
https://apps.apple.com/pw/app/repairdesk-pos-register/id1246495656

Hope it helps.

[2020-10-29 07:13] Repairdesk-QA commented on #1356
Hi again @jphansendk - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2020-10-29 07:13] #1356 closed

[2020-10-29 08:00] jphansendk commented on #1356
Sorry just haven't had time to test it.. Maybe it's a conversion issue on mac.

[2020-10-29 12:35] Repairdesk-QA commented on #1315
Hello @Omar1892,
I hope you are doing well. Yes, it does"t have any impact on the tax report because until the invoice has been not created there is no impact on the tax report and we don't allow to create an invoice for refurbishment ticket.
If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.
Thanks & Regards,
M Adnan

[2020-10-29 12:43] Repairdesk-QA commented on #1372
Hello @jphansendk,

Hope you are doing well and staying safe.

This issue has been sorted out in the case of tickets. To show this on thermal receipt it's mandatory to select repair reference first from a dropdown. If repair reference is selected then it will show on thermal receipt otherwise it will show only on manage tickets technical repair report section.

Please verify it at your end. Hope i

[2020-10-29 12:50] JeffFIZUAS commented on #1379
We currently use shopify. We have two ways to sell.

We can sell immediately online and take payment via shopify processes.

The second way we sell is we create a quote send to the purchaser they
issue a P.O. and then we make the transaction. We would like to use Repair
Desk for this.

We would also like to use Repair desk to keep inventory in one place and
possibly sync with sales etc.

I think y

[2020-10-29 12:58] jphansendk commented on #1372
hmm.. Now it's only showing repair report.. Not the device info?

<img width="911" alt="Screenshot 2020-10-29 at 13 56 59" src="https://user-images.githubusercontent.com/68819320/97576657-b97fbf80-19ee-11eb-9cbd-9fd2675dd6a8.png">

[2020-10-29 13:00] techfix757 commented on #1374
Ok, thanks.

On Thu, Oct 29, 2020, 12:57 AM Muhammad Uzair Shah <notifications@github.com>
wrote:

[2020-10-29 14:48] #1348 closed

[2020-10-30 05:24] protechrepairs opened #1381 "Pop up Prompt in POS"
hey team, ia there a way we can setup a pop up message for example when we book in a iphone 11 for repair a message can pop up reminding staff to explain that after repair it prompts the non genuine display message.
staff keep forgetting to mention certain things about certain repairs

[2020-11-01 17:03] Gofixmobile opened #1382 "Booking Widget/ All Bookings are classified as "Quotes""
Everytime someone books online, I receive a text saying " Customer's Name and then followed by : is requesting a "quote" even when they pay.

and when its an actual quote, and I create an estimate. the estimate is sent out and the price shows "$0.00"

I need to be able to know what's a quote and an actual booking request.

[2020-11-02 04:34] #1374 closed

[2020-11-02 05:36] Uzair-RepairDesk commented on #1381
Hi @protechrepairs
We have the functionality to flag the diagnostic note.
If you flag the note and open the same ticket again on manage tickets or POS screen, the same note appears automatically.

Please check the screenshot attached to flag the note.
![flag note](https://user-images.githubusercontent.com/22955861/97833422-2056ee80-1cf7-11eb-8cd1-6460c67934cb.png)

If you have any questions, pleas

[2020-11-02 05:40] protechrepairs commented on #1381
unfortunately this will only work if the ticket is already created. the receptionists don't know every model so id love something to pop up when they select the model from the pos

[2020-11-02 05:55] Repairdesk-QA commented on #1372
@jphansendk,

Currently, It'showing repair line items. We are working on it. I will update as soon as this issue is sorted out.

Regards,
Afnan Mahmood

[2020-11-02 06:11] Uzair-RepairDesk commented on #1381
Hi @protechrepairs
Currently, it is not possible to display an alert when you select a model. I have marked it under enhancements so we can check the feasibility to add it in future. Thanks

[2020-11-02 07:16] Uzair-RepairDesk commented on #1379
Hi Jeff @JeffFIZUAS, Currently we have "Woocommerce integration" available that allows you to sync your inventory with your online website and the invoice also syncs with RepairDesk. If you want to use "Shopify", currently you can only use our open API. We don't have integration with "Shopify" yet. You logged another request #1380 for the same.

**Please find my comment below for the second way:-*

[2020-11-02 07:56] Uzair-RepairDesk commented on #1375
Hi @gijoe911
Thank you for your feedback. Appreciate it. It is not just about the simple line of code, we check the feasibility of the request and our audience response before we start working on the enhancement.

There are 2 criteria we follow for the enhancements request:-

1: We log it in our product backlog and pick up based on community feedback in our future roadmap
2: If you want to priorit

[2020-11-02 08:05] waynza opened #1383 "Additional tab in manage tickets"
Can you add an additional tab in "manage tickets," or possible customise the tabs that are available.
We outsource some of our repairs, and we would like to have the suppliers case/ticket number clearly visible as a tab.

[2020-11-02 10:31] jphansendk commented on #1347
@Uzair-RepairDesk Any news on this topic?

[2020-11-02 10:39] jphansendk commented on #1200
We really need this feature as well.. @Uzair-RepairDesk Any news? :-)

[2020-11-02 10:48] Uzair-RepairDesk commented on #1383
Hi @waynza
You can add "Custom Fields" for tickets with respect to the repair category. Once you fill the field, you are also able to see/track it on the manage tickets page.

Please check the screenshot attached below. You can learn more about the custom fields functionality from the following knowledgebase article:-
https://help.repairdesk.co/knowledgebase/articles/1921693-custom-fields

![uzair

[2020-11-02 20:16] Omar1892 commented on #1349
Hello, do you guys have any updates on this matter? Its causing issues with our staff.

[2020-11-02 21:04] JessicaSOS opened #1384 "import / export inventory problem"
hello,
I am not able to change the cost prices and the quantity in inventory using import / export in "inventory", "manage inventory", "part and accessory". I have no problem with the export. I have no problem modifying the file. I have no problem importing the file. I have no errors during the import and I see in green the confirmation that all the items have been modified. However, no data actua

[2020-11-03 05:09] Repairdesk-QA commented on #1384
Hello @JessicaSOS,

Hope you are doing well.

Happy to help with this. You need to update column "New Stock Adjustment" with the quantity which you want to update and update column "New Inventory item cost" with the new price which you want to update.

Hope it helps and works well for you.

Regards,
Afnan Mahmood

[2020-11-03 05:32] Uzair-RepairDesk commented on #1200
Hi @orvarb @jphansendk
We have already noted it down to add it to the roadmap. We will update you once we plan to add it to the system. Thanks for helping us make this a platform you'll depend on and we hope to support your business for many years to come.

[2020-11-03 05:50] Repairdesk-QA commented on #1382
Hey @Gofixmobile  ,
Adnan here Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Regards,

[2020-11-03 05:52] Uzair-RepairDesk commented on #1347
Hey @KevinMarquess  @jphansendk
Hope you are doing well, can you please explain how the tracking number functionality works and what exactly you want. Share more detail so that we can proceed accordingly.

Regards,

[2020-11-03 08:38] jphansendk commented on #1347
@Uzair-RepairDesk In my case we have an external shipping company. We have the possibility to use their API. I guess that will be a lot harder to integrate this. Maybe a start could to be able to add tracking numbers to the ticket. Right now we have to add them to private comments and diagnostics notes.
In our case we receive an order via the API and get it as a ticket. We then ship a SWAP device

[2020-11-03 14:40] JessicaSOS commented on #1384
As mentioned previously, this does not work. Please test on your side and read what I have tried to do before contacting you so as not to answer me what I have already tried.  I have already tried to modify these columns.

[2020-11-03 16:16] Omar1892 commented on #1349
MuhammadAdnan32 we are starting to have more issues due to this problem. We can't create purchase orders because the system says that the item doesn't exist in the inventor altho it does and it has being in the inventory for years.

[2020-11-04 06:04] Repairdesk-QA commented on #1349
Hey @Omar1892 ,
I hope you are doing well. Can you please share the video of the issue at adnan@repairdesk.co?
Thanks & Regards,
M Adnan

[2020-11-04 09:35] Repairdesk-QA commented on #1384
Hello @JessicaSOS,

I have tried inventory adjustment by importing excel. Everything is working fine. Below is the short video link. Kindly have a look and please use the steps as mentioned in the video.
https://www.awesomescreenshot.com/video/1592537?key=75299d4f437bf47134adcf67db77ccd9

If you still face issues after this then please share a video with us so we can trace out this issue.

Regards

[2020-11-04 12:36] jphansendk opened #1385 "Question about "Custom Fields""
I just found the "Custom Fields" function.. Didn't see that before..
Anyway.. If I make 3 Custom Fields are they editable via "Manage Tickets" and are they searchable and included in the API data?

[2020-11-04 22:33] afrahm opened #1386 "Ticket Line Item Total Including Tax"
Have option to show line item total as tax inclusive.

Or make it so certain security level only see tax inclusive amount.

Our techs and front counter staff don't need to see the amount of tax in each line item. Sometimes this causes confusion when customer only wants to pick up one device and they charge them the pre-tax amount.

[2020-11-05 04:37] Repairdesk-QA commented on #1385
Hi @jphansendk,

Hope you are doing well.

You can edit custom fields values from Manage ticket, not the custom field. Just open the ticket in edit mode and from the Custom field column you update their values only.
![image](https://user-images.githubusercontent.com/39614480/98198212-5229aa00-1edd-11eb-92ad-2edffbfbccec.png)

Search on the base of custom fields is not available and they are not in

[2020-11-05 04:44] Uzair-RepairDesk commented on #1386
Hi Andrew @afrahm
We always display the value of tax for each line item and total tax value in the cart.
Can you elaborate on your request in detail? Do you want to restrict the employee to see the tax value?
A screenshot with a description will also be appreciated. Thanks

[2020-11-05 04:54] afrahm commented on #1386
![Annotation 2020-11-05 145223](https://user-images.githubusercontent.com/1414304/98199291-8bfabf00-1f76-11eb-993d-aa63873e4430.png)

I want just one total that includes tax.

In Australia we don't really need to see the tax, as everything is always tax inclusive. So an option to only show tax inclusive total would be good.

[2020-11-05 07:46] jphansendk commented on #1385
@Repairdesk-QA So does that mean that is it possible with a custom solution to get them available as searchable fields and added to the API?

[2020-11-05 07:54] Repairdesk-QA commented on #1385
@Uzair-RepairDesk Can you please review this improvement and suggest accordingly?

[2020-11-05 13:05] Repairdesk-QA commented on #1372
Hello @jphansendk,

Hope you are doing well.

Your reported issue has been fixed. Please verify at your end and do let us know if you have questions. Now line items and technical repair report note both will show.

Regards,
Afnan Mahmood

[2020-11-05 13:18] jphansendk commented on #1372
Thanks.. Working now.. Great work people :-)

[2020-11-05 13:18] #1372 closed

[2020-11-05 23:11] techm89 opened #1387 "Sales tax option when buying phones on Trade-In"
Do you guys have any plan on adding sales tax option on buying devices on Trade-In? Let me give an example.

Normally when you buy phone from customer, you don't have to pay taxes. This part is OK, everything is working well. But when you buy phones from a business, you have to pay the taxes and then you get em back later. This is the issue I got. If I buy a device from a business I have to create

[2020-11-06 04:35] Uzair-RepairDesk commented on #1385
Hi @jphansendk
Currently, you can edit custom fields from the ticket.

Regarding the search filter option of custom fields, we have already logged this request in enhancement so we can pick it up to add improvement.

I will also confirm the API from the engineering team and update you accordingly. Thanks

[2020-11-06 04:45] Uzair-RepairDesk commented on #1387
Hi @techm89   you can create a refurbishment ticket for inventory Items if you can make them serialized.
Attached is the link for knowledge for the refurbishment module.
https://help.repairdesk.co/knowledgebase/articles/1906375-refurbishment-module
if you have any more questions do let us know.
Hope this helps

Regards,

[2020-11-06 07:47] jphansendk commented on #1385
Hey @Uzair-RepairDesk

Would be great if this could be implemented.. It's a essential part of our flow.. Right now we have to write this info in comments and it's really bad solution..

[2020-11-06 08:29] jphansendk opened #1388 "Random listing in dropdows?"
Is there a way to arrange the dropdown menu's better.. the listing in the menu's seams to be listed random? Where can I control this?
![Screenshot 2020-11-06 at 09 26 27](https://user-images.githubusercontent.com/68819320/98343711-82bf3000-2012-11eb-9779-b659bc4fdf9c.png)

[2020-11-06 08:32] jphansendk commented on #1388
weird the screenshots gets toned down when I upload them?

[2020-11-06 15:33] fahadimran303 opened #1389 "Improvement in Item-wise Sales Report | Phone Clinic - Novi | Landen Denha"
**Hi Sir**,

**Business Name**:
Phone Clinic - Novi

**Customer Stature**:
4 Store Location with Professional Monthly Plan.
High Presence on Social Media.Can help us a lot in other verticals as well.

**Module**:
Reports(Item-wise Sales Report)

**Improvement**:

The customer had made a request that he would like to add Search by Employee Name filter in the Item-wise Sales Report. Please find the

[2020-11-06 15:34] fahadimran303 commented on #1389
Jira link:
https://repairdesk.atlassian.net/browse/REP-3004

[2020-11-06 17:45] techm89 commented on #1387
My bad, thanks. I didn't see that.

[2020-11-06 17:45] #1387 closed

[2020-11-07 14:45] techm89 opened #1390 "Trade-in COGS not syncing on quickbooks"
Hi guys, talked to with CS about this and I was told this is not a feature that is available right now.

Every time I buy a device under Trade-In and then sell it to a customer, the cost of the device doesn't sync with Quickbooks, only the sale does. So the COGS of each device is not synced leaving me with the task to add each one manually. Is there a way I don't know to settle this?

I find it co

[2020-11-09 10:40] Repairdesk-QA commented on #1390
@Uzair-RepairDesk FYI.

[2020-11-09 11:31] Uzair-RepairDesk commented on #1390
Hey @techm89
I really appreciate that you took the time to share your ideas. I can certainly see how the suggested improvements would be useful. I have added your request to the product backlog and will keep you posted once we initiate this request.

Regards,

[2020-11-09 16:23] fahadimran303 opened #1391 "Improvement in Inventory Bundles Module | Rogastan Ellis | Fiks-IT Shop 85711"
**Hi Sir**,

**Business Name**:
Fiks-IT Shop

**Customer Stature**:
1 Store on Enterprise Package with Annual Plan.
High Presence on Social Media.
Can help us a lot in other verticals as well.

**Module**:
Inventory Bundles

**Improvement**:

The customer logged 2 improvement request, which are as followed:

- He should be able to search/scan a service bundle using its SKU just like we can search/

[2020-11-09 16:24] fahadimran303 commented on #1391
Jira link:
https://repairdesk.atlassian.net/browse/REP-3006

[2020-11-09 21:24] JessicaSOS opened #1392 "How do I deactivate a company in the "repair tracking" widget"
Hello,
How do I deactivate a company in the "repair tracking" widget? By default, all companies are displayed. I haven't found an option where we can check or uncheck the companies we want displayed. I would like to keep the history of SOS Phone Lévis (old) since this company has been replaced by SOS Phone Lévis which is now a franchisee. How could I do without deleting the old one? The same goes

[2020-11-10 04:50] Uzair-RepairDesk commented on #1391
Hey, @fahadimran303  hope you are doing well,  service bundle is associated with the tickets so we can not give the option to simply search them by SKU, if the user wants to use the service bundle he can only use them while creating a ticket,  so that is not possible. The same reason is that we can not show all the bundles separately in a  tab. Hope this helps

Regards,
Humza Mehmood

[2020-11-10 05:14] TechTraders opened #1393 "Inventory Summary Filter Request"
Hi, I would like a filter to be appied to the Inventory summary report for me to be able to view all item that are out of stock ( 0 qty in all stores) i understand that the low stock report exists but i want to be able to see absolutely every item regardless of if there is low stock warnings set. can this happen?

[2020-11-10 09:30] Repairdesk-QA commented on #1392
Hello @JessicaSOS,

Hope you are doing well.

As currently, this option is not available in the system. I have forwarded your request to the Product team. They will look into possibilities for this improvement and add to the road map accordingly.

Regards,
Afnan Mahmood

[2020-11-10 09:43] Uzair-RepairDesk commented on #1393
Hey @TechTraders
For now, you can click on the total value column in the report and sorting will be applied.you can get your desired result, a screenshot is attached for reference.
![store-1-Inventory-Summary-Report](https://user-images.githubusercontent.com/22955861/98656869-ffc80d80-2362-11eb-8021-19f4cb943ed7.png)
Hope this helps

Regards,

[2020-11-10 14:56] fahadimran303 opened #1394 "Improvement in Inquiry Module | Dillon Denha | Phone Clinic - Novi"
**Hi Sir**,

**Business Name**:
Phone Clinic - Novi

**Customer Stature**:
4 Store Location with Monthly Plan on Professional Package.
High Presence on Social Media.Can help us a lot in other verticals as well.

**Module**:
Inquiries

**Improvement**:

The customer came up with a request that once an inquiry is approved the system should mark an event on the admin's calendar associated with the ad

[2020-11-10 14:56] fahadimran303 commented on #1394
Jira link:
https://repairdesk.atlassian.net/browse/REP-3010

[2020-11-10 18:03] GeniusRepair1 opened #1395 "Task Alerts with Due Dates"
We have due dates for repairs but we would love to be able to have a pop up reminder or notification about the repairs that are coming up

[2020-11-11 01:06] vertechd opened #1396 "Customize Appointment Calendar Widget"
We office remote and on-site services... not everything is a device that needs to be checked in.
It would be awesome if we had the ability to  pick and choose the steps needed for booking an appointment.

[2020-11-11 06:41] Uzair-RepairDesk commented on #1395
Hi @GeniusRepair1

RepairDesk certainly gives you a notification if the due date is passed for the repair job. Also, if you enable email/SMS notification, the system sends an alert by email/SMS that the due date has passed for the job.

Please check the screenshots attached

![image](https://user-images.githubusercontent.com/22955861/98777430-81c33f80-2412-11eb-8984-94a30a57461f.png)

![image](htt

[2020-11-11 20:59] JeffFIZUAS opened #1397 "Invoice Pulling Wrong Terms & Conditions / Estimate Form Has issues"
The terms and conditions in the invoice are pulling it from somewhere else not from the store that we are working in. Can this be resolved?

Also, when we make a change to the invoice or estimate it changes the fields shift. Doesn't really matter what fields we shift?

On Estimate it says GST, we need it to read Sales Tax. When we modify GST to says Sales Tax it shifts fields around.

We need thes

[2020-11-12 04:32] TechTraders commented on #1393
not what i was asking at all... i want to filter the list so it wil ONLY populate 0 QTY items. i did not say anything to do with the total value.

also selecting the "sort by" option for QTY is not what i am asking either because that will still show the in stock items in the list if i go to print it out or export.

[2020-11-12 04:44] Uzair-RepairDesk commented on #1393
Hey, @TechTraders  Hope you are doing well.
Sure thing I have added your request to the product backlog and I will keep you posted on this.

Regards.

[2020-11-12 04:47] TechTraders commented on #1393
thank you, can i request you to add the "technology traders" label to this post please

also can this filter include anything that is a negative QTY as well please

[2020-11-12 15:17] fahadimran303 opened #1398 "Request to Add Payment Method Filter in Manage Invoice | Shavaiz | iTech Office"
**Hi Sir**,

**Business Name**:
iTech Office

**Customer Stature**:
8 Store Locations on Professional Package with Monthly Plan.
High Presence on Social Media.
Can help us a lot in other verticals as well.

**Module**:
Invoices

**Improvement**:

Need to add a filter in which we can pull up all Invoices on the basis of Payment Method like TSYS, Cash, Offline Credit Card

**Source**:
Intercom

_Tha

[2020-11-12 15:17] fahadimran303 commented on #1398
Jira link:
https://repairdesk.atlassian.net/browse/REP-3025

[2020-11-13 04:33] Uzair-RepairDesk commented on #1398
Hi @fahadimran303  , Faisal,

Currently, a filter is not available under "manage invoice" however we have a "Register Sales" report that is specifically linked with the invoices and cash basis report. You can apply the filter with "Method" under the criteria to filter the report with a specific payment method.
Please check the screenshot attached.

![image](https://user-images.githubusercontent.co

[2020-11-13 05:08] rajgrphones opened #1399 "Old Employee Management as User"
Hi Team,
Quick suggestion about employees.
If my employee left organisation’s and we remove from system all old tickets are getting Un allocated. If I keep that employee as it is, then It’s increasing users and if we have only 5 or 10 users limitations in our subscription we are running out of users.
Till today we are just changing name of employee but it changes our All old tickets and notes in s

[2020-11-13 15:48] Cumbr1at3ch opened #1400 "Customer Facing Display"
hi guys
Just a quick thought after discussions with your arnold re the customer facing display. Im taking advantage of the facility to capture customers signatures pre- repair after them agreeing our t+c of business. On this marvellous software there is the capability for us to capture these signatures post repair and yet I cant do this and Arnold suggested I escalate this to you as a suggestion ?

[2020-11-13 20:19] KevinMarquess commented on #1347
I'd like my customer to be able to track the parts progress with the
carrier on our repair tracker integration. EVERY SINGLE special order
customer calls in to ask if their parts are here. We could mitigate a lot
of headache and wasted time by letting us type in a tracking number on our
side and letting the customers click that link to track the carrier's
progress. My suggestion is using a google

[2020-11-13 20:25] jphansendk commented on #1347
May a good idea would be to be able to add a tracking number to an inventory product or trade-in item.. that way we are able to use the tracking wide and attach a tracking number to phones, parts or what ever needed? Just like you add a color or a size to an trade-in product 🙌🏻

[2020-11-15 00:48] Gofixmobile opened #1401 "Bookings"
Hello

I have noticed that every time a booking is made, its notifies us a “quote” even when the customer has paid for an on-site repair. Can you make it so it notifies with the proper language, so if a customers book, it sends a “ you have a new order or booking” as opposed to it just saying “customer has requested a quote”

[2020-11-16 04:44] Uzair-RepairDesk commented on #1401
Hi @Gofixmobile
You can customize the email template and text according to your choice from Emails & Notifications.
You can go to **Store Settings > Email & Notifications > In-House > Leads/Appointments > Select the template and update it > Save**

Please check the screenshot attached

![image](https://user-images.githubusercontent.com/22955861/99213752-39c86200-27f0-11eb-83bd-bf2ca8b6529d.png)

P

[2020-11-16 05:03] Uzair-RepairDesk commented on #1400
Hi @Cumbr1at3ch

Hope you are well. Thank you for your post. Perhaps, Arnold didn't get your query properly. I apologize on his behalf.
We have already an option available to take the signature of "Post-repair" terms.
You can set the post-repair terms & conditions from configurations of the customer-facing display widget.
Once you repair the device and checkout to make the payment, you can enable

[2020-11-16 13:29] ciprianro commented on #1283
????

[2020-11-16 13:30] ciprianro commented on #1353
Nothing?

[2020-11-17 02:08] waynza opened #1402 "email generated from RepairDesk"
We created a ticket for a repair, email was send from repair desk to customer.
THe email sent to the customer is missing data, background, text etc.
<img width="728" alt="Screenshot 2020-11-17 at 12 32 36 pm" src="https://user-images.githubusercontent.com/64277204/99337220-c72fb300-28d1-11eb-852c-81514bff5f09.png">

[2020-11-17 05:53] #192 closed

[2020-11-17 06:29] Uzair-RepairDesk commented on #1402
Hey, @waynza  did you check the email template from Settings **=>** Email Notification section. kindly check the template.
if the issue still there do let us know.

Regards

[2020-11-17 14:08] techm89 opened #1403 "Price changing after pressing save item when creating new inventory item"
When I create a new item under inventory. I enter the coast price: 651.60$, then the retail price: 699$. When I press Save Item, the price is changing to 698.97$ by itself. I think this might have something to do with the markup % but I am not sure.

[2020-11-18 04:28] Repairdesk-QA commented on #1403
Hey @techm89 ,
Adnan here Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Regards,

[2020-11-18 04:35] Repairdesk-QA commented on #1403
Hey @techm89 ,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks & Regards,
M Adnan

[2020-11-18 04:35] Repairdesk-QA commented on #1403
For internal use:
https://repairdesk.atlassian.net/browse/RB-2075

[2020-11-18 04:50] Uzair-RepairDesk commented on #1401
Hey @Gofixmobile
Hope you are well. Can you please confirm if you got the solution above? Please feel free to let me know if you have any questions. Once you confirm, we can close this. Thanks

[2020-11-18 04:50] Uzair-RepairDesk commented on #1400
Hey @Cumbr1at3ch
Hope you are well. Can you please confirm if you got the solution above? Please feel free to let me know if you have any questions. Once you confirm, we can close this. Thanks

[2020-11-18 04:52] Uzair-RepairDesk commented on #1333
hey @TechTraders
We have made this improvement live that allows you to sync cost price across all stores. Please feel free to reopen this thread if you have any further questions. Thanks.

[2020-11-18 04:52] #1333 closed

[2020-11-18 04:53] Uzair-RepairDesk commented on #1395
Hey @GeniusRepair1
Hope you are well. Can you please confirm if you got the solution above? Please feel free to let me know if you have any questions. Once you confirm, we can close this. Thanks

[2020-11-18 05:05] Uzair-RepairDesk commented on #1360
Hi @CMCMario

We have added a review campaign under our campaigner module that allows you to send an automatic email/SMS or manual email/SMS to request a review from the customer. You can place a link where customers can redirect and post a review about their experience.
You will be able to view the report of the campaign that how many customers opened the review campaign email and clicked on the

[2020-11-18 05:06] Uzair-RepairDesk commented on #1353
Hi @ciprianro

Hope you are well. Thank you for your follow up. We have already marked it under enhancements so we can review it to add it to our future roadmap.

There are 2 criteria we follow for the enhancements request:-

1: We log it in our product backlog and pick up based on community feedback in our future roadmap
2: If you want to prioritize your requests you can list all your enhancement

[2020-11-18 05:36] Uzair-RepairDesk commented on #1283
Hey, @ciprianro hope you are doing well.  The above-reported issue is in development and I will update you once it's done. Hopefully, it will be live next week.

Regards

[2020-11-18 06:24] Repairdesk-QA commented on #1388
Hey @jphansendk ,
I hope you are doing well. Currently, the listing in the menu's to be listed randomly on the basis of the selected manufacturer. Thanks for your suggestion, I will forward this to the product team and will keep you updated.
Thanks & Regards,
M Adnan

[2020-11-18 06:24] Uzair-RepairDesk commented on #277
Hey, @rlltd  we have an updated tax report from where you can view the accurate tax amount for each transaction. you can access the report under the sales report.
Hope this helps.

Regards.

[2020-11-18 06:24] #277 closed

[2020-11-18 07:42] Uzair-RepairDesk commented on #876
Hey @rajeshdungrani you can search customers using the network from manage customers.
![image](https://user-images.githubusercontent.com/22955861/99499898-679dda00-299b-11eb-8df7-825e7994e085.png)
Hope this helps.

Regards,

[2020-11-18 07:42] #876 closed

[2020-11-18 19:07] vertechd opened #1404 "Cant change quality"
Cant change quality for labor when device is checked in.

[2020-11-19 06:20] Repairdesk-QA commented on #1397
Hello @JeffFIZUAS,

Hope you are doing well and sorry for the delayed response.

I need more details regarding this to verify. Please share Estimates, invoice id's in which you are facing the reported issue. It will be highly appreciated if you can share your RepairDesk Login details at afnan@repairdesk.co

Regards,
Afnan Mahmood

[2020-11-19 06:35] yourfone opened #1405 "Item serial missing in inventory report"
i registed my phone device
Under manage inventory--mobile. acceccories-----then serialise the item based on IMEI...
So that i can categorize a particular model of phones based on color and memory.....the serial number there is my IMEI number...

now on the inventory report....i can get the list of all my phones with their imei..

how can it be solved

thanks

[2020-11-19 06:53] Uzair-RepairDesk commented on #1405
Hey, @yourfone  you can view all your serials from the inventory summary report, by searching the specific item and then click on view serials for a specific store. or you can search from any specific serial and view all details.

![image](https://user-images.githubusercontent.com/22955861/99631668-ca57aa00-2a5d-11eb-8f65-55b31b6c15e5.png)
Hope this helps

Regards

[2020-11-19 07:23] Repairdesk-QA commented on #1404
Hello @vertechd,

Hope you are doing well.

Can you please share more info on this so we can understand and proceed with the solution.

Regard,
Afnan Mahmood

[2020-11-19 12:37] Repairdesk-QA commented on #1403
Hey @techm89 ,
I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have questions.
Thanks & Regards,
M Adnan

[2020-11-19 20:27] Lchapmanrepairs opened #1406 "Be able to take a deposit when sending a ESTIMATE!"
im a watch repair company and i use a deposit system where the cusotmer must pay half the cost of the repair before i start.

i always send a estimate before repair and it would be really good to have a button after the approve for them to pay the deposit ammount.

Thanks

[2020-11-19 21:13] JessicaSOS opened #1407 "tradein item when is transfered by inventory transfert"
We can see the full history of the trade-in item that has been transferred to another store (its transfer, modifications, etc.) but not its sale! The status "sold" is set correctly, but we are not able to visualize in which invoice it was sold. See SOS Phone Lévis trade-in item # 13625, # 13601.

Thank you

_----French:

Nous pouvons apercevoir l'historique complet de l'item trade-in qui a été tra

[2020-11-20 04:34] Uzair-RepairDesk commented on #1406
Hi @Lchapmanrepairs

Thank you for sharing your workflow. Once the estimate is approved it means that the customer is willing for the job. Our current recommended solution is this case to convert an estimate into a repair ticket and go to the ticket page or POS to reopen the ticket and to add partial payment against the job.

Please let me know if it could work for you. Thanks

[2020-11-20 04:37] Uzair-RepairDesk commented on #1401
Hi @Gofixmobile
Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up. Thanks.

[2020-11-20 04:37] #1401 closed

[2020-11-20 04:38] Uzair-RepairDesk commented on #1400
Hi @Cumbr1at3ch
Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up. Thanks.

[2020-11-20 04:38] #1400 closed

[2020-11-20 05:03] Repairdesk-QA commented on #1407
Hey @JessicaSOS ,
Adnan here Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Regards,

[2020-11-20 05:11] Repairdesk-QA commented on #1407
Hey @JessicaSOS ,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks & Regards,
M Adnan

[2020-11-20 05:12] Repairdesk-QA commented on #1407
For internal use:
https://repairdesk.atlassian.net/browse/RB-2090

[2020-11-20 09:57] #1403 closed

[2020-11-20 14:27] Cumbr1at3ch opened #1408 "suggestion ?"
HI Guys
suggestion ?
Inventory > Services > Repairs any chance of having the ability to be able to capture a icon in there? So we can put a battery image beside a battery replacement or a spark of lightning beside a charging issue a cracked screen beside a screen replacement ?
![download](https://user-images.githubusercontent.com/40138325/99811045-85567500-2b3c-11eb-8d86-4b5f943e1b1e.png)

[2020-11-21 22:43] JeffFIZUAS commented on #1397
001

It does it on all of them pulling the wrong field. We need this fixed quickly we are about to go live

[2020-11-22 13:10] Eliezer138 commented on #1271
Hi,

What is doing with this issue? I need the sender ID for the SMS to be set for the shop name, like all companies have.

See https://www.textmagic.com/sms-sender-id/ if you need more info

[2020-11-23 03:01] BharatPRC opened #1409 "Estimate not letting us to change date"
if i want to edit date on esitmate it goes to year 1970.
and another bad thing is : when we update,
it ONLY giving two option, Send for approval and Approve quote.
what if , after updating thickt we want to reveiew it ?
like in my scenario, it sent couple of emails to customer with wrong date.
have a look at the video

http://sc.com.ly/show/iuzkmpAyVfR325X1YD7PIdg4NbUJsnFl

[2020-11-23 03:23] BharatPRC commented on #1409
other annoying things is , whatever we do with ticket, it is just sending emial to customer automatialy,
and there is no trigger to stop it.
what is this guys ?

[2020-11-23 04:32] Uzair-RepairDesk commented on #1409
Hey, @BharatPRC  Hope you are doing well.
sure thing I will check the date issue at my end and circle back to you.
2nd thing, we are already adding the option to just save an estimate upon update so that you can review them. will keep you posted once it's done.
3rd we have functionality that every time an estimate is created email is sent to the customer for approval, but if you want to stop sendi

[2020-11-23 04:50] Repairdesk-QA commented on #1409
For internal use:
https://repairdesk.atlassian.net/browse/RB-2101

[2020-11-23 05:08] Uzair-RepairDesk commented on #1408
Hey, @Cumbr1at3ch  Hope, you are doing well. Currently, this is not possible, I will add your request to the product backlog and will update you here once we start working on this.

Regrds,

[2020-11-25 13:10] Repairdesk-QA commented on #1409
Hey @BharatPRC ,
I hope you are doing well. Your reported issue related to "Estimate not letting us change date" has been fixed. Please verify at your end and do let us know if you have questions.

Thanks! & Regards,
M Adnan

[2020-11-26 10:00] adigsm07 commented on #1329
Hi guys! Any news about this subject? Last time when we discussed was when you say it will be on roadmap.

[2020-11-26 10:00] adigsm07 commented on #1322
Hi guys! Any news about this subject? Last time when we discussed was when
you say it will be on roadmap.

On Wed, 7 Oct 2020 at 15:02, Muhammad Uzair Shah <notifications@github.com>
wrote: