[2020-11-26 10:38] Uzair-RepairDesk commented on #1322
Hi @adigsm07
Thank you for your follow up. We have already marked the relevant labels with this suggested improvement and as I mentioned in my last comment up that "we can pick it up when we proceed with improvements of the widget in the future".

If you have any further questions, please feel free to ask. Thanks

Regards,
Uzair

[2020-11-26 12:00] SajAbu opened #1410 "Report for Created ticket time and date to predict footfall"
it would be useful to have a report which tells us when the ticket was created so we can work out footfall. at the moment we cant see what time/day is the busiest for time/date created tickets. This would also help manage our staff rota as we could employee more people on the busiest times and days.

[2020-11-28 16:37] techm89 opened #1411 "Make possible to select which device we can mark as Repaired and Collected upon payment"
Title says it all. Sometimes I got customer coming in to get 1 device out of 2 that are on the ticket. When they pay the invoice, I cannot select which one is collected.

[2020-11-30 05:37] #1409 closed

[2020-11-30 07:03] Uzair-RepairDesk commented on #1411
Hi @techm89
Thank you for the suggestion. I have marked it under enhancement request.

If you have this case, the recommended solution is to mark the status from the ticket for each individual device separtely and mark "Repaired & Collected" as "No" when you checkout.

[2020-11-30 15:24] fahadimran303 opened #1412 "Improvement in SMS Template | Vartan | iFone Repair Service"
**Hi Sir**,

**Business Name**:
iFone Repair Service

**Customer Stature**:
1 Store Location with Professional Plan on Annual Billing.Can help us a lot in other verticals as well.

**Module**:
Email & Notifications.

**Improvement**:

The customer had made an improvement request that when he tries to update the SMS template for any event of different modules he is restricted to use not more than 1

[2020-11-30 15:24] fahadimran303 commented on #1412
Jira link:
https://repairdesk.atlassian.net/browse/REP-3059

[2020-12-01 22:23] JessicaSOS opened #1413 "The estimate notes created from the leads are no longer displayed on the estimate"
The estimate notes created from the leads are no longer displayed on the estimate. In order for it to be visible to the customer, we must enter a note BEFORE CLICKING ON ADD LINE and this is what we do but after trying several times, the notes still do not appear. I tried to create multiple leads and reset the template, but no luck. You can run tests in my account without any problem.
<img width="

[2020-12-02 05:27] Repairdesk-QA commented on #1413
Hey @JessicaSOS,
Adnan here Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Regards,

[2020-12-02 05:46] Repairdesk-QA commented on #1413
Hey @JessicaSOS,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks & Regards,
M Adnan

[2020-12-02 05:46] Repairdesk-QA commented on #1413
For internal use:
https://repairdesk.atlassian.net/browse/RB-2161

[2020-12-02 07:18] Uzair-RepairDesk commented on #245
Hi @josephifixhq
There is an option to add a tracking code as explained here:
https://help.repairdesk.co/knowledgebase/articles/791394-repairdesk-appointments-booking-widget

![tracking code](https://user-images.githubusercontent.com/22955861/100840636-00eae700-3498-11eb-8764-9dedab75d59e.jpg)

[2020-12-02 07:18] #245 closed

[2020-12-02 07:20] #573 closed

[2020-12-02 07:22] Uzair-RepairDesk commented on #797
We introduced "Ticket Items Report" for the same.

[2020-12-02 07:22] #797 closed

[2020-12-02 07:26] #689 closed

[2020-12-02 07:28] #843 closed

[2020-12-02 09:42] Uzair-RepairDesk commented on #1410
Hey @SajAbu  Hope you are doing well, you can view the required stats from the KPI baseboard that what time was the busiest time/date created ticekts.
 Simply go to the **Admin Dashboard**, where you will see two different tabs. Click on the **Store KPIs** and you will be able to view the KPI Dashboard.
In order to view more details for the KPI dashboard, I am attaching a link for the knowledge ba

[2020-12-02 13:08] Uzair-RepairDesk commented on #1200
Hey @orvarb
Hope you are doing well. we have added an option to search tickets using repair custom fields, now you can search specific ticket based on the custom field. you need to go to the manage ticket page and then select repair custom fields from search criteria.
![FIXAPHONERepairDesk-Ticket](https://user-images.githubusercontent.com/22955861/100876419-2fcd8100-34c9-11eb-9289-9ea6c3099169.png

[2020-12-02 13:08] #1200 closed

[2020-12-02 17:47] KEZSVS opened #1414 "Keep newlines in the comment editor"
Can you please respect newlines as entered in the comment editor.

![newlines-issue](https://user-images.githubusercontent.com/69765024/100910913-753c7f00-34c6-11eb-8623-bb7d27ccb7cc.png)

Thank you

https://www.php.net/manual/en/function.nl2br.php

[2020-12-03 04:58] Repairdesk-QA commented on #1407
Hey @JessicaSOS,
I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have questions.

Thanks! &  Regards,
M Adnan

[2020-12-03 06:34] TechTraders opened #1415 "Customer Custom Field Suggestion"
I am wanting to have a custom field to account manager assigment. so can we add a custom field option for the staff list drop down to be a option? like the staff assigned on a repair ticket

[2020-12-04 04:45] Uzair-RepairDesk commented on #1415
Hey @TechTraders
Hope you are doing well, can you provide more detail for the above request so that we can look into this.

Regards,

[2020-12-05 01:40] Omar1892 opened #1416 "Loyalty Points"
Issues with loyalty points. Video was sent to Fahad via email.

[2020-12-05 01:42] Omar1892 commented on #1349
@Repairdesk-QA Video was forward

[2020-12-07 04:39] Repairdesk-QA commented on #1416
Hey @Omar1892 ,
Adnan here Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Regards,

[2020-12-07 05:25] Repairdesk-QA commented on #1414
Hello @KEZSVS,

Hope you are doing well and sorry for the delayed response.

We have logged this as an improvement and assigned it to the developer. I will update once this is done.
Please expect an update from us on coming Thursday.

Regards,
Afnan Mahmood

[2020-12-07 22:59] homesick4de opened #1417 "Special Orders - Allowing us to Delete Mistakes or at least "void/nullify""
BIGGEST issue I was worried about the Special Order tab is that if someone makes a mistake. In my case, I had a tech put two of the same part order on one ticket. This has caused our numbers to appear as a negative. Effecting my reporting and liabilities.

Sure, I can archive it. Although, this still has it's value saved against the ticket making my ticket look like a lose. If there is a way we ca

[2020-12-07 23:02] homesick4de commented on #1399
It would be nice to see an "archival" of the old names for our employees. At least an option to "archive" employees who are marked for "to be removed" or "deactivated."

This will allow accountability and not messing with others. I feel this is a big need.

[2020-12-08 05:54] Repairdesk-QA commented on #1416
Hey @Omar1892 ,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks & Reagrds,
M Adnan

[2020-12-08 06:00] Repairdesk-QA commented on #1416
For internal use:
https://repairdesk.atlassian.net/browse/RB-2188

[2020-12-08 08:31] adigsm07 opened #1418 "Searchable field for customers who have phone from us."
Hi Guys! We propose to implement a system that can be searchable or a special box who semnalize tickets with phones from us.
In our shop, we give our customers phones from our requisite when they let a phone to repair.
All is good but we can't search what tickets have a phone from us.
I think it's a better idea for everyone who uses this platform and will be a good benefit for customers when all s

[2020-12-08 10:40] Uzair-RepairDesk commented on #1418
Hey, @adigsm07
you can use the custom fields option for tickets and you can add the phone details in the custom field. once you add the phone against the custom field, after creating a ticket you can also search those tickets with phone via search criteria using custom feild
![FIXAPHONERepairDesk-Ticket](https://user-images.githubusercontent.com/22955861/101473185-54af7180-396b-11eb-88ca-9858ed0ab

[2020-12-08 17:03] icare-howell opened #1419 "remove email requirement"
Please remove the email requirement for an Inquiry.

[2020-12-09 05:13] Uzair-RepairDesk commented on #1419
Hey @icare-howell
Hope you are doing well. thanks for your feedback we have already planned this improvement and it's under development. I will update you here as well once it's live.

Regards,

[2020-12-09 05:21] Uzair-RepairDesk commented on #1419
For internal Use:
https://repairdesk.atlassian.net/browse/REP-3028

[2020-12-09 13:04] Repairdesk-QA commented on #1414
Hello @KEZSVS,

Hope you are doing well and staying safe.

Your reported issue has been fixed. Please verify at your end and do let us know if you have questions.

Thanks!

[2020-12-09 13:05] #1414 closed

[2020-12-09 23:10] KEZSVS commented on #1414
Confirmed.

Working fine, thank you.

[2020-12-11 04:10] gijoe911 opened #1420 "cannot sync unit cost in inventory in a multi store setup"
Hello, is there a way to sync unit cost in inventory in a multi-store setup? i checked with the support team the other day and they said it cannot be synced like retail prices can. this is a serious issue because we don't want to repeat inputting unit cost for each store and each item. please help!

[2020-12-11 05:03] Uzair-RepairDesk commented on #1420
Hey @gijoe911
Hope you are doing well, Yes you can sync the cost price for the product, at the time of creating the product when you click save a pop appear and you can select store and option to sync the cost price.
![image](https://user-images.githubusercontent.com/22955861/101865250-96246480-3b97-11eb-962e-6b1b16a1d1e7.png)
in this popup, all the stores are listed on which you wish to sync item

[2020-12-11 06:34] gijoe911 commented on #1420
Thanks Uzair for your reply, i notice u said i can only sync when creating the product. Is there a way i can sync existing inventory between stores now?

[2020-12-11 12:56] Uzair-RepairDesk commented on #1420
Hey @gijoe911
For now, you can not do that for existing items. it will only sync on item cost price on creation.

[2020-12-11 12:58] gijoe911 commented on #1420
That won’t do much unfortunately since 99% of the items are already
created. Can u please assist further?

On Fri, Dec 11, 2020 at 8:56 PM Muhammad Uzair Shah <
notifications@github.com> wrote:

[2020-12-11 13:08] Uzair-RepairDesk commented on #1420
Let me discuss this with the development team and I will let you know accordingly on Monday.

[2020-12-14 06:14] Uzair-RepairDesk commented on #1420
Hey @gijoe911
Can you please send the details for the inventory whoese cost price you want to sync on other stores.
kindly send detail in PM at following email.
 usmanali@repairdesk.co
Regards,

[2020-12-15 07:09] MH-RLTech opened #1421 "Allow payment info on outstanding invoices to be updated"
Having just taken over an existing company I need to update the bank info for open existing invoices. Unfortunately this is not possible and i would either have to create new invoice for each or contact each customer and inform them of the changes instead of simply sending the invoice with new details. Having an option where payment info is automatically updated for outstanding invoices or an opti

[2020-12-15 07:43] Repairdesk-QA commented on #1404
Hi again  - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2020-12-15 07:43] #1404 closed

[2020-12-15 07:43] Repairdesk-QA commented on #1402
Hi again - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2020-12-15 07:43] #1402 closed

[2020-12-15 07:44] Repairdesk-QA commented on #1382
Hi again - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2020-12-15 07:44] #1382 closed

[2020-12-15 07:49] Repairdesk-QA commented on #1413
Hey @JessicaSOS,
I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have questions.
Thanks & Regards,
M Adnan

[2020-12-15 13:51] adigsm07 opened #1422 "Extract info - Popular customers / Popular phone with many repairs."
Hi Guys!
I want to extract from my database top 10 customers who are come many times at my shop, also I want to know which phone was popular at repairs. What steps do I need to do for these requirements?

[2020-12-15 14:51] jphansendk opened #1423 "Add info to Custom fields on existing ticket and repair task?"
Odd behavior on some of our test tickets. We are not able to edit the info? They are added via API?

Actually we need to add some of the data for the custom fields via API when they are created..

What are we doing wrong?

https://drive.google.com/file/d/19SKjSbDdpZrnWEEtf6iqBBwPKgKoQTw5/view

[2020-12-15 15:50] jphansendk opened #1424 "Info missing on tickets when adding a Trade-in item"
When adding a trade-in item to a ticket it's not possible to see SKU, color or size on the device?

<img width="1969" alt="Screenshot 2020-12-15 at 14 32 11" src="https://user-images.githubusercontent.com/68819320/102237956-85585380-3ef5-11eb-85f0-a408a40ae94d.png">

[2020-12-15 17:47] JessicaSOS commented on #1413
the notes in "additional information" work, but the notes in "customer comment" do not work, even if they are entered before adding the line "add row".

--
les notes dans "aditional information" fonctionnent, mais les notes dans "customer comment" ne fonctionnent pas, même si elles sont inscrites avant d'ajouter la ligne "add row".

[2020-12-15 18:52] JessicaSOS commented on #1407
Did you test something? I can't see the refurbrish tickets that were created for the trade-in item, nor the invoices in which the items were sold.

**Not fixed, please reopen!**

[2020-12-15 19:20] JessicaSOS commented on #1384
No modification appeared on my side. I tried to do it on my own and this time I saw some changes, but not the right ones. watch my video: https: //www.awesomescreenshot.com/video/2088725? key = 130757639a47e9d32254d38f4be602a6

[2020-12-15 20:00] JessicaSOS commented on #414
you have closed this task but it is not resolved. Can you refer to the image above with the colors red, orange and green in order to know which one to keep and which to delete.

[2020-12-15 20:05] #1122 closed

[2020-12-15 20:06] JessicaSOS opened #1425 "Due invoice reminder 3 & 4"
Formerly: Resume of due invice reminder problem # 1122 updated with tasks 3 & 4 only

more in the # 735 reporter on March 20, 2019 here is what we found:
3- I would like to have a box "attach invoices" to shipments of customer statements. Currently, almost all customers send us an email telling us to send them the invoices regarding their statement of account. We know that the invoices have alread

[2020-12-15 20:14] JessicaSOS commented on #437
did you opt to close the task instead of correcting it?

[2020-12-16 04:58] Uzair-RepairDesk commented on #1422
Hi @adigsm07
You can check the "Total Revenue bu Customers" report and click on "Revenue" or "Total Profit" to filter the customers with the most revenue/profit.
If you want to check the most popular repairs, you can go to the "Sales by Item Type" report and apply the filter with type "repairs" and relevant search filters to check the report.

Please check the screenshots attached below:-

![uzair

[2020-12-16 05:12] Uzair-RepairDesk commented on #1407
@Repairdesk-QA
Please check and verify it

[2020-12-16 05:15] Uzair-RepairDesk commented on #1384
@Repairdesk-QA
Please check

[2020-12-16 05:18] Uzair-RepairDesk commented on #437
Hey @JessicaSOS
I apologize for the inconvenience. Can you please confirm if you are still facing specific issues with woocommerce so we can look into it? Thanks

Appreciate your patience.

[2020-12-16 05:52] Repairdesk-QA commented on #1424
Hey @jphansendk,
I hope you are doing well. I have checked your concern on my test account and it's working fine for me. Unfortunately, I am unable to reproduce your issue. Would be great if you can share detailed steps or a video of this issue so we can release a fix during our next release. You can put together a video using Screencastify. Kindly also see the attached screens shots as well.
![Sc

[2020-12-16 07:16] Repairdesk-QA commented on #1423
Hey @jphansendk,
Adnan here Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Regards,

[2020-12-16 08:02] adigsm07 commented on #1422
Thank you very much Uzair! I will be back with feedback after I will check this category.

[2020-12-16 11:07] jphansendk commented on #1424
Here it is: https://drive.google.com/file/d/1Q7HnE2tC2KKYZGoSCvAa4xOo96oqoQMQ/view

[2020-12-16 11:13] jphansendk commented on #1423
Is there a way to add data to custom fields on an existing ticket if none is entered from start?

[2020-12-16 19:14] blowdell opened #1426 "Selection box widget block colours"
Hi there

I'm developing a site and integrating RepairDesk using the widget codes ... Found out via your support chat that I can't change the colours on the customer portal select?! ... I've tried it with CSS web side but no joy ... . that's a really simple integration option perhaps you guys could think about including?

Many thanks

[2020-12-17 13:14] Repairdesk-QA commented on #1423
Hey @jphansendk,
I hope you are doing well. Your reported issue has been fixed on beta. Please verify at your end on the Beta server(https://app.repaircrm.co/) and do let us know if you have any questions.

Thanks & Regards,
M Adnan

[2020-12-17 13:50] TechTraders commented on #1393
Hi there, any updates on this request?

[2020-12-17 13:52] TechTraders commented on #1415
nevermind i have found a workaround that suits my custom needs.

[2020-12-17 13:52] #1415 closed

[2020-12-17 13:53] TechTraders commented on #1354
Hi, is there any updates on the enhancment? thanks

[2020-12-17 14:04] jphansendk commented on #1423
Yes now it shows.. But the custom fields doesn't show in the once added via API?
<img width="1973" alt="Screenshot 2020-12-17 at 15 01 01" src="https://user-images.githubusercontent.com/68819320/102497404-e5c3ce00-4078-11eb-9beb-4676da9b4bca.png">

This one is manual added..

<img width="1973" alt="Screenshot 2020-12-17 at 15 01 15" src="https://user-images.githubusercontent.com/68819320/102497453

[2020-12-18 05:00] Uzair-RepairDesk commented on #1282
Hi @TechTraders

Hope you are doing well. As we updated above that due to certain system limitations, this is not possible for now. We are working on a new UI/UX in RD2.0 and we can pick it up at that point in time.
We will prefer to keep it open in our product backlog so we can make it part of the updates in the future. Thanks

[2020-12-18 05:17] Uzair-RepairDesk commented on #1354
Hi @TechTraders

We have a default trigger available under store settings "Automatically create inventory & service items on other stores" when you create an item/service. Currently, you cannot manually check and sync the items across all stores or selected stores.
You can check the "Inventory Summary" report that allows you to review items summary across stores.

We have logged your request under

[2020-12-18 05:33] Uzair-RepairDesk commented on #1393
Hey @TechTraders
Hope you are doing fine. we have made this imoprovmetns live , now you can apply fitler and check all the item with zero  stock or negative stock. when you apply filter will show zero quantity item then items with zero qty and negatvie will be displayed in the report.
**Note: if you apply Exclude zero qty and show zero quantity item filter at the same time then their will be no im

[2020-12-18 05:34] Uzair-RepairDesk commented on #1421
Hi @MH-RLTech
I would like to take more information on this:-

1: Where exactly you are using bank details on the invoice? Is it about terms & conditions, notes, etc?
2: Is it possible to share relevant screenshots/video for our assistance so we can look into it.

I look forward to hearing back from you. Thanks

[2020-12-18 05:43] Repairdesk-QA commented on #1423
Hey @jphansendk,
I hope you are doing well. Can you please share the Payload of your API? So I will check with the development team why custom fields data is not showing?
Thanks & Regards,
M Adnan

[2020-12-18 05:50] Repairdesk-QA commented on #1413
Hey @JessicaSOS,
I hope you are doing well. In current functionality, if notes in the "customer comment" are entered before adding the line "add row" the notes will be displayed on the lead history only and the notes added in the Additional Info field will be displayed on the estimate. Kindly also see the attached screenshots as well.
![Screenshot_185](https://user-images.githubusercontent.com/396

[2020-12-18 05:56] #1406 closed

[2020-12-18 09:17] jphansendk commented on #1423
We need to know what the payload in a POST /ticket request should be, in order for the value of those custom fields to show in the Repairdesk UI.
This is taken from a GET /tickets/xxxxxxxx:

[code]

[2020-12-18 12:25] jphansendk commented on #1424
Found it my self..
<img width="1914" alt="Screenshot 2020-12-18 at 13 23 55" src="https://user-images.githubusercontent.com/68819320/102614452-8cb97000-4134-11eb-89ca-9576ee6d9c1d.png">

[2020-12-18 12:25] #1424 closed

[2020-12-21 05:31] Repairdesk-QA commented on #1423
Hey @jphansendk,
I hope you are doing well. let me check this Payload with our development team and I'll get back to you as soon as I have more information!
Thanks & Regards,
M Adnan

[2020-12-21 10:41] adigsm07 opened #1427 "Issue on Appointment calendar widget"
Hello Guys! I found a bug in the appointment calendar widget. The finish button isn't working. I make a video to explain.
Actually the SUBMIT BUTTON isn't working.

https://www.youtube.com/watch?v=pXBoTtkSzng&feature=youtu.be

[2020-12-21 12:03] Repairdesk-QA commented on #1423
Hey @jphansendk ,
I hope you are doing well. Kindly Found our developer comment below.
Please inform the customer that our post API cannot understand the exact payload he gets from GET API. The response is different and the payload for the custom field is different.

Can you please confirm the endpoint which you are using for creating ticket?
Thanks & Regards,
M Adnan

[2020-12-21 14:36] jphansendk commented on #1423
This is the endpoint we use when creating a ticket: POST https://api.repairdesk.co/api/web/v1/tickets?api_key=
Can you show us how we create a ticket with the custom fields in the body so the value of those custom fields is shown on the ticket in the user interface?

[2020-12-22 06:30] Repairdesk-QA commented on #1427
Hey @adigsm07,
I hope you are doing well. Sorry for the inconvenience. I have checked your issue on your website and it's working fine for me. I have also created 3 test leads from your website appointment widget and you can check on your Manage lead section with the name of the test at Repairdesk.
I have also created a video and attached the link below.
https://drive.google.com/file/d/1BYP342sT8F

[2020-12-22 06:56] Repairdesk-QA commented on #1423
Hey @jphansendk,
I hope you doing well. This is a sample payload of custom fields to create ticket API.
For each device object in the array, you have to set an object in custom fields, in which you have to set the custom fields of that device.
In a respective example, I have set custom fields as
color: gold
size: large

For a device in the device's array.

"customFields": [
{
"color": {
"field_typ

[2020-12-22 10:01] ciprianro opened #1428 "Need some changes"
According to the laws in my country, I need some changes in addition to the existing options.
Changes in PO: 1. total quantity. 2. the selling price of each product and total 3. mark up% for each product and total%.

Changes in Inventory Transfer: 1. total quantities. 2. hide the cost of products. (this option is needed only for the franchise). 3. The sale price and the total.
![Screenshot 2020-12

[2020-12-22 10:41] jphansendk commented on #1423
So I tried to create a ticket with the custom field “ibsuiteclaimnumber” to this endpoint: https://api.repairdesk.co/api/web/v1/tickets?api_key=nYxH8G3-jvbg-ckGA-1bhc-MCr46MzPm <https://api.repairdesk.co/api/web/v1/tickets?api_key=nYxH8G3-jvbg-ckGA-1bhc-MCr46MzPm>

{
    "summary": {
        "customer_id": "4488729"
    },
    "devices": [
        {
            "staff_comments" : "TESTORDRE",

[2020-12-22 10:49] jphansendk commented on #1423
So I tried to create a ticket with the custom field “ibsuiteclaimnumber” to this endpoint: https://api.repairdesk.co/api/web/v1/tickets?api_key=nYxH8G3-jvbg-ckGA-1bhc-MCr46MzPm

{
    "summary": {
        "customer_id": "4488729"
    },
    "devices": [
        {
            "staff_comments" : "TESTORDRE",
            "name": "SWAP TEST 233",
            "device": "13327142",
            "task_typ

[2020-12-22 12:14] Repairdesk-QA commented on #1423
Hey @jphansendk,
Happy to help with this. You have added custom fields payload inside the Device array, that's why it's not working for you. It should be separate according to the device’s attached like mentioned. Your Payload should be like this.
"devices": [
{
"staff_comments" : "TESTORDRE",
"name": "SWAP TEST 233",
"device": "13327142",
"task_type": "102"
],
"custom_fields": [
{
"ibsuiteclaimnu

[2020-12-22 12:39] jphansendk opened #1429 "Manage Tickets > Edit Ticket feature question"
Right now im doing a painful job, by adding A LOT of trade-in items to existing tickets.. (Dont ask why) ;-)

Anyway.. It is possible to make the "Inventory items" fan open as default, instead of the "Repair items (parts being used)".

This is the default now.
<img width="1914" alt="Screenshot 2020-12-22 at 13 29 58" src="https://user-images.githubusercontent.com/68819320/102889281-a91e1b00-445a-1

[2020-12-22 14:47] jphansendk commented on #1423
t still doesn’t show in the Custom Field section in the UI when doing that.

"devices": [
        {
            "staff_comments" : "TESTORDRE",
            "name": "SWAP TEST 233",
            "device": "13327142",
            "task_type": "102"
        }
    ],
    "custom_fields": [
                {
                   "ibsuiteclaimnumber": {
                        "name": "ibsuiteclaimnumber",

[2020-12-23 09:50] Repairdesk-QA commented on #1423
Hey @jphansendk,
I hope you are doing well. We have created a test ticket on your account using your key and the URL is https://api.repairdesk.co/api/web/v1/tickets?api_key=nYxH8G3-jvbg-ckGA-1bhc-MCr46MzPm using the payload mentioned below.

{
    "summary": {
        "customer_id": "388",
        "signature": ""
    },
    "customFields": [
        {
                    "Color": {

[2020-12-23 09:57] jphansendk commented on #1423
I will send this to our development team.. Please next time do not post our API key in a public forum.. We have a lot of partners that needs to change the key now :-(

[2020-12-23 10:22] Repairdesk-QA commented on #1423
Hey @jphansendk,
Sure! I have also hight light above please don't share the API key in Public.
Now kindly reset your API key from the store setting.
Thank you

[2020-12-23 10:25] jphansendk commented on #1423
I will as soon as I have a response from our involved partners.. They have to be aware of this as well..

[2020-12-24 05:19] Uzair-RepairDesk commented on #1429
Hello @jphansendk
We are working on a new UI for ticket management in our new UI of RD 2.0. Our MVP is expected before the end of Q1 2021.

Please find a few screenshots attached.

![manage tickets](https://user-images.githubusercontent.com/22955861/103062824-3e432000-45d1-11eb-9d16-fd6c8a55e93b.png)

![ticket view](https://user-images.githubusercontent.com/22955861/103062861-59ae2b00-45d1-11eb-9e

[2020-12-24 05:46] Uzair-RepairDesk commented on #1233
Hi @TechTraders
I am pleased to inform you that we have introduced the "Subcategories" module in RepairDesk. You can not create multiple subcategories under a specific category.
You can go to Store Settings > Module Configurations > Manage Product Categories to create and manage subcategories.
Please check the screenshot attached.

![image](https://user-images.githubusercontent.com/22955861/103064

[2020-12-24 05:46] #1233 closed

[2020-12-24 05:47] Uzair-RepairDesk commented on #1219
Hi @BharatPRC
Did you try our new one-page inventory UI. Does it help you to solve the above concerns?

Please feel free to share your feedback. Thanks.

[2020-12-28 09:48] jphansendk commented on #1423
Just tested the one you made - When I click edit the box is empty. :-/
<img width="1973" alt="Screenshot 2020-12-28 at 10 32 19" src="https://user-images.githubusercontent.com/68819320/103205577-2681d980-48fa-11eb-807d-bdf84d42e47f.png">

[2020-12-28 09:57] jphansendk commented on #1429
Looks amazing.. Please let me know if/when we can test the new interface.. Would it be possible to get a list of some sort, with the new features (besides layout) and improvements? We need to be 2 steps ahead in our development because we have several partners involved in the development of our integration. :-)

[2020-12-28 22:28] Omar1892 commented on #1416
Any updates yet?

[2020-12-28 22:28] Omar1892 commented on #1416
@Repairdesk-QA Any updates yet?

[2020-12-28 22:31] Omar1892 opened #1430 "RMA + Inventory"
When creating an RMA, the inventory will not update the inventory on hand. I have sent a video to fahadimran85@gmail.com

[2020-12-29 00:52] Omar1892 opened #1431 "Inventory items not appearing"
I have sent the video about the times that won't apear in the search box by name and we can't also create a PO due to this issue. Video was sent to fahadimran85@gmail.com

[2020-12-29 07:07] Repairdesk-QA commented on #1431
Hey @Omar1892 ,
Adnan here Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Reagrds,

[2020-12-29 07:07] Repairdesk-QA commented on #1430
Hey @Omar1892 ,
Adnan here Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Regards,

[2020-12-30 08:06] Repairdesk-QA commented on #1431
Hey @Omar1892,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up.

I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks & Regards,
M Adnan

[2020-12-30 08:06] Repairdesk-QA commented on #1431
For internal use:
https://repairdesk.atlassian.net/browse/RB-2297

[2020-12-30 19:46] KEZSVS commented on #1414
Can you fix this for all messages, including SMS and email?

[2020-12-30 22:39] rileyjpollard opened #1432 "RepairDesk SMS + VOIP"
As a business, i don't want to be confusing customers with what number to call me at or what number to text me at. I thought I could semi get around this with RepairDesk SMS as under the virtual number section it said "A virtual phone number is a telephone number that allows you to redirect and route calls from one number to another number." But turns out this is not the case and this number is ON

[2020-12-31 05:39] #1393 closed

[2021-01-01 04:46] #1418 closed

[2021-01-01 05:17] #1405 closed

[2021-01-01 06:12] Repairdesk-QA commented on #1397
Hello @JeffFIZUAS,

Please share your login details with me at afnan@repairdesk.co So I can verify this in your account.

Regards,
Afnan Mahmood

[2021-01-01 06:13] Repairdesk-QA commented on #1407
Hey @JessicaSOS,
I hope you are doing well. Sorry for the trouble. We have resolved the issue and It's working fine with new Trade-Ins items sold. For old Trade-in items sold, you can view invoice numbers and further details from the Trade-in report.
I hope it helps. If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.
Thanks & Regard

[2021-01-01 07:45] Uzair-RepairDesk commented on #1279
Hey @DOM260096
Hope you are doing well, we have updated the expanse module where you can add expanse entry without using shift functionality, moreover, you can also add expanse in back dates.

Note: if the shift is started then you can not add expanse in back dates as it's associated with Register/ shift.
Hope this helps, fell free to share your feedback.
Regards,

[2021-01-01 07:45] #1279 closed

[2021-01-01 13:08] Repairdesk-QA commented on #1430
Hey @Omar1892,
I have checked your concern but unfortunately, I am unable to reproduce your issue. Would be great if you can share a video of this issue or detailed steps so we can release a fix during our next release. You can put together a video using Screencastify.
If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.
Thanks & Rega

[2021-01-03 17:30] Omar1892 commented on #1430
@Repairdesk-QA Have you logged in to my account to see if you can replicate the issue? Because its very real to us that we can't create PO or look for items in our system due to this issue.

[2021-01-03 18:42] Omar1892 commented on #1430
@Repairdesk-QA I already have. This isn't my first time. It has being about 1 year since I have being asking for this issue to be fixed. I have proof of it happening an its messing up my inventory on hand as well as the orders we place for products. So I should be expecting this to never be fixed since this is the same answer I get every single time.

[2021-01-04 10:42] Repairdesk-QA commented on #1416
Hey @Omar1892,

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have questions.

Thanks & Reagrds,
M Adnan

[2021-01-05 01:54] Omar1892 commented on #1416
It is fixed, thank you.

[2021-01-05 07:48] Uzair-RepairDesk commented on #1430
@Repairdesk-QA
Can you discuss this with Fahad to find out the exact issue/concern?

[2021-01-05 07:50] Uzair-RepairDesk commented on #1432
Hi @rileyjpollard
Thank you for the suggestion. I have logged it under enhancements so we can check the feasibility of the request in the future.

Regards,
Uzair

[2021-01-05 20:25] Omar1892 commented on #1430
@Repairdesk-QA I already have so many times, that doing it one more time is just a waist of time.

[2021-01-06 04:44] #1416 closed

[2021-01-08 18:03] icare-howell opened #1433 "Customize Home (top) menu"
It would be nice if we could have a bit of flexibility to customize the top menu bar. We use Inquires alot and would like to be able to have direct access to it.

[2021-01-11 06:37] gijoe911 opened #1434 "iPad App crashes all the time"
As video shows.. the ipad app crashes all the time. we experience this multiples a day and it's getting out of hand. please issue a fix for this. Thanks

https://user-images.githubusercontent.com/25240657/104152431-7d1f0580-541a-11eb-9cc5-b3a7544ab744.mp4

[2021-01-11 06:53] adigsm07 opened #1435 "FreePBX Integration - help to integrate FreeSwitch"
Hi Guys!

We used freePBX from the beginning. This integration is very useful, but now we change our provider for calls and we can't use now freepbx.
I talked with my provider about this integration and he offered us his integration "Free Switch".
I discussed with your guys from support 1.5 months ago to integrate this future in RD but nothing happened. Danish told me to write on github for help.

[2021-01-11 07:54] Repairdesk-QA commented on #1434
Hey @gijoe911,
Amy here Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Regards,

[2021-01-11 11:20] Repairdesk-QA commented on #1434
Hey @gijoe911,
I have checked your concern but unfortunately, I am unable to reproduce your issue. It's working fine for me.
Can you please Logout and Re-login again? It will be working fine for you. Kindly also see the attached video as well.
 https://drive.google.com/file/d/171iaYgQthJVe5XnOoW-8mMowfhzDjkPX/view?usp=sharing
If you have any questions or if there is anything else with which I may

[2021-01-11 11:48] Uzair-RepairDesk commented on #1435
Hi @adigsm07
Thank you for your post. Currently, we are working on RepairDesk2.0 and we are not picking up any custom feature/enhancement requests in the current quarter. The goal of a new version is to provide a better user interface, experience, and stable platform. Please find a few screenshots attached from RepairdDesk 2.0 below.

I have marked your request under enhancements so we can pick it

[2021-01-12 10:38] gijoe911 commented on #1434
yes in fact i've just experienced this same issue 5 minutes ago. i think another video wouldn't make a difference. we experience this issue multiple times everyday across all our stores so please test extensively before coming to a conclusion. Appreciate it!

[2021-01-12 17:39] JessicaSOS commented on #1407
I can't see the refurbrish tickets that were created for the trade-in item, but for invoices it has been fixed.

[2021-01-12 17:42] JessicaSOS commented on #437
Hey @Uzair-RepairDesk

This problem is still present. We have disabled all woocommerce sales for this reason.

[2021-01-12 17:54] JessicaSOS commented on #1413
Hello M Adnan,
The two places weren't working when I first wrote to you. Now the notes in "additional information" are displayed in the lead estimate. Thank you for this change. Before your changes, it was the other way around. As long as there are notes showing up, that's fine with me.

Have a good day

[2021-01-12 17:54] #1413 closed

[2021-01-13 05:06] Uzair-RepairDesk commented on #1407
@Repairdesk-QA

[2021-01-13 05:08] Uzair-RepairDesk commented on #437
Hey @JessicaSOS
I apologize for this. This is definitely strange. Do you have any video, screenshots, or particular use case to share with us so we can check it again?

[2021-01-13 05:08] #1422 closed

[2021-01-13 17:19] foneworkshop opened #1436 "Device check warning"
Is it possible to add a warning when booking in a job. Example when an iPhone 7 is booked in for any type of repair something flashes up to remind of audio ic and must be tested. This way we can inform others in the group of possible recurring faults and it can be implemented.

this is totally different from pre device checks it needs to be a warning just for a specific device

[2021-01-13 17:21] foneworkshop opened #1437 "Device specific warning"
Is it possible to add a warning when booking in a job. Example when an iPhone 7 is booked in for any type of repair something flashes up to remind of audio ic and must be tested. This way we can inform others in the group of possible recurring faults and it can be implemented.

this is totally different from pre device checks it needs to be a warning just for a specific device

[2021-01-13 17:47] KEZSVS opened #1438 "Update Stripe integration for SCA in EU countries"
Hi,

As can read on the [Stripe website](https://stripe.com/docs/payments/checkout/migration), the checkout integration you have does not support SCA payments as required in EU countries.

Are you able to update the integration with [Stripe Elements](https://stripe.com/docs/stripe-js) so that SCA payments are supported?

Thanks!

[2021-01-14 07:15] Uzair-RepairDesk commented on #1436
Hey @foneworkshop  Hope you are doing well, I have adde the sugessted improvment in product backlog and will update you once we start work on it.
but meanwhile what you can do is create a custom feilds aganist that specficrepair  catagoery and mark it as mandatory so taht specfic infomartion can be gathered at the time of creating ticket.

Regards,

[2021-01-14 16:11] JessicaSOS opened #1439 "Signatures via POS and via repair tickets problems"
We are having difficulty with signatures via POS and via repair tickets. Here are the 3 different problems:

1) **Missing signature via POS**
For several weeks and randomly, from the POS, the signature window for customers (and the order confirmation window for us) simply does not appear when we click on "create a ticket". See attached image "missing step".
<img width="937" alt="Missing step" src=

[2021-01-14 16:19] techm89 opened #1440 "Ticket number resetting after estimate conversion"
Everytime a customer clicks on approval on an estimate, it auto convert to a ticket. This ticket numbers goes back to 0-1. Then every new ticket I am creating in POS goes 0-2, 0-3, 0-4 and is messing up everything. I need to manually change the numbers for each ticket for it to work properly again.

[2021-01-15 12:54] jphansendk opened #1441 "Tickets Counter Display to look further back than 7 days?"
Is it possible to make the "Tickets Counter Display" look further back then 7 days? We have tickets way older than that and would like to display them to poke the tech guys in the eye and make them "work faster" :-)

[2021-01-15 13:06] Uzair-RepairDesk commented on #1438
Hi @KEZSVS

I will post your request for our engineering to check. I will revert back to you with their response on this. Thanks

[2021-01-15 13:07] Uzair-RepairDesk commented on #1439
Hi @JessicaSOS
Thank you for notifying this. Our QA representative will check it in detail and revert back to you early next week. Thanks.

[2021-01-15 13:13] Repairdesk-QA commented on #1440
Hey @techm89,
Adnan here Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Regards,

[2021-01-15 13:14] Repairdesk-QA commented on #1439
Hey @JessicaSOS,
Adnan here Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Regards,

[2021-01-17 19:35] Omar1892 commented on #1431
@Repairdesk-QA Any updates?

[2021-01-18 07:17] adigsm07 opened #1442 "Extract data from operations"

[2021-01-18 07:18] CrescentMobiles opened #1443 "GST on Trade in"
The GST on trade in is coming up as zero.. While I sell a product I collect 10% gst, same as in when I buy a product I pay 10% gst.. On trade in receipt the 10% gst is not coming up. It shows as zero making my profit to zero. For example  if I buy a phone for 1000 and sell it for 1100, my profit is $100..but if I don't pay gst, but only collect GST, that entire 10% of gst become payable to taxatio

[2021-01-18 07:48] #1442 closed

[2021-01-18 11:17] Repairdesk-QA commented on #1443
Hey @CrescentMobiles,
I hope you are doing well. In the current workflow, it is not possible to charge tax while buying a Trade-Ins product. I have sent your concern to the product team and I will let you know as I have more info.
If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.
Thanks & Regards,
M Adnan

[2021-01-18 11:35] Repairdesk-QA commented on #1440
Hey @techm89,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks & Regards,
M Adnan

[2021-01-18 11:43] Repairdesk-QA commented on #1440
For internal use:
https://repairdesk.atlassian.net/browse/RB-2408

[2021-01-18 12:55] Repairdesk-QA commented on #1439
Hey @JessicaSOS,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks & Regards,
M Adnan

[2021-01-18 12:59] Repairdesk-QA commented on #1439
For internal use:
https://repairdesk.atlassian.net/browse/RB-2387

[2021-01-18 14:56] JessicaSOS commented on #1439
thank you

[2021-01-18 21:31] Naegele412 commented on #1307
bump

[2021-01-18 21:32] Naegele412 commented on #1311
Didn't hear back on this anywhere....

[2021-01-18 21:39] Naegele412 opened #1444 "NO RECORDS of Deleted Invoices/Tickets"
There are no records of deleted tickets/invoices etc. Which should not be the case... There should be some sort of an archive where these can be restored from or where we can at least see what they were. In cases where someone that has the access is deleting the invoice or ticket but we still want to be able to see what was deleted and/or why...

[2021-01-18 21:41] Naegele412 opened #1445 "Ability to take a TRADE as a (-) negative product against an invoice..."
I have always been able to take a trade on the same invoice as a purchase on other POS's and it would seem like it would make a lot more sense to have this ability enabled in the POS so we could sell a new device, on the same ticket take a trade from that customer, and be left with a "NET" figure to cash out. Versus having to do multiple invoices, one to buy, one to sell, etc.

[2021-01-19 02:37] eronink opened #1446 "Requesting New SMS Integeration"
We are using SMS Global for now. We would like to have an integration with https://smspoh.com/
As we are planning to use SMS feature widely in the near future and SMS Global rates are a bit expensive.

[2021-01-19 04:46] Uzair-RepairDesk commented on #1444
Hey, @Naegele412  hope you are doing well, right now there is no such option to archive the deleted invoice and ticket. But I will add this request to the product backlog and will let you know once we initiate this request.

Regards,

[2021-01-19 05:18] Uzair-RepairDesk commented on #1311
Hey, @Naegele412  Hope you are doing well, sorry for the delay.
I have shared the details again with the accounts manager he will contact you today or tomorrow.

Regards,

[2021-01-19 15:53] JessicaSOS opened #1447 "Problem with phone numbers"
As of this morning, there have been errors with the telephone numbers. First, it is not possible to register a new number from the POS without having the message "invalid format" even if the format is valid.

Then, if we want to change an existing customer, the customer registers, but does not register the change or addition of the phone number that we just made.

We can see 3 phone numbers for so

[2021-01-19 16:21] JessicaSOS opened #1448 "problem with manufacturers and devices in inventory items"
Many inventory items no longer have the manufacturers and the devices for which they are associated. I have had this problem for a long time, but I didn't know where it came from. I corrected ALL the items in November 2020. However, I still see that this problem is present, but not on all the items. I believe it is present on the items after we have received new quantities. This is the only recurr

[2021-01-19 16:27] JessicaSOS commented on #1447
Please send me your email address for sending the videos since I received an error message with the existing addresses I had.

Merci de m'envoyer vos adresse courriel pour l'envois des vidéos puisque j'ai reçu un message d'erreur avec les adresses existantes que j'avais.

[2021-01-19 20:13] Omar1892 opened #1449 "Costumer Mobile + Phone Number"
The Phone and mobile number are just adding extra work to the work of booking in a repair. Because we now have to manually add more stuff to the booking in repair ticket. A video was sent to Fahadimra85
![Screen Shot 2021-01-19 at 11 42 21 AM](https://user-images.githubusercontent.com/47898011/105084660-7eb88100-5a4b-11eb-8e26-7ca87e584aa3.png)

[2021-01-19 20:22] JessicaSOS commented on #1373
Here is a client who is modified without anyone making this modification. You asked me to touch nothing so that's what we did. Usually as a business client, see this client who is now an individual client:
https://sosphone.repairdesk.co/index.php?r=customer/customerdetail&id=684168
Nixon Florez
Je n'y ai pas apporter de modification comme demander la dernière fois.
![compte client (002)](https://u

[2021-01-20 05:17] Repairdesk-QA commented on #1449
Hey @Omar1892,
Amy here Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Regards,

[2021-01-20 05:18] Repairdesk-QA commented on #1448
Hey @Omar1892,
Adnan here Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Regards,

[2021-01-20 05:19] Repairdesk-QA commented on #1447
Hey @Omar1892,
Adnan here Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Regards,

[2021-01-20 07:54] eronink opened #1450 "Cannot Print Ticket Lable from iPad POS"
When i add brother QL-810W from iPad POS, it got connected. But when i test print, it says "Alert - Please check your printer Settings"
I've checked paper size also.
we are using the same label printer with macbooks and it works fine.

[2021-01-20 08:14] eronink commented on #1450
it has been sorted.

[2021-01-20 08:14] #1450 closed

[2021-01-20 12:21] Repairdesk-QA commented on #1447
Hey @JessicaSOS,
Sorry for the continued inconvenience. Your reported issue has been fixed. Please verify at your end and do let us know if you have questions.
Thanks & Reagrds,
M Adnan

[2021-01-20 12:22] Repairdesk-QA commented on #1449
Hey @Omar1892,
Sorry for the continued inconvenience. Your reported issue has been fixed. Please verify at your end and do let us know if you have questions.
Thanks & Regards,
M Adnan

[2021-01-20 13:36] Repairdesk-QA commented on #1439
Hi @JessicaSOS

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!

[2021-01-20 13:38] Repairdesk-QA commented on #1431
Hi @Omar1892

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!

[2021-01-20 13:41] #1332 closed

[2021-01-20 13:42] #1339 closed

[2021-01-20 13:42] #1342 closed

[2021-01-20 13:42] #1343 closed

[2021-01-20 18:42] JessicaSOS commented on #1439
yes fixed thank you !

[2021-01-20 18:54] Omar1892 commented on #1449
@Repairdesk-QA Thank you for fixing the issue. The only thing that were experiencing is that we have to add the +1 for the second phone number. In the USA no one uses +1 its usually the area code and followed by the phone number. Could you guys not have us add the +1 or if its a must can you make the system do it for us manually like it was before? Thanks

[2021-01-20 19:20] KEZSVS commented on #1438
So any update on this?

[2021-01-20 19:32] Omar1892 commented on #1431
Hello, the issue hasn't being fixed yet. Picture for the items we have in stock are not appearing in our inventory, when creating a PO the system will say that the item doesn't exist in our inventory altho it is in our inventory.
![Screen Shot 2021-01-20 at 10 59 59 AM](https://user-images.githubusercontent.com/47898011/105225286-35cbff80-5b13-11eb-89a2-21dd0940391d.png)
![Screen Shot 2021-01-20 a

[2021-01-20 20:58] JessicaSOS commented on #1447
Most of the errors have been corrected, thanks. Here's what's left:

For the first point, it is now possible to add a phone number from the POS. Thanks for this correction. However, it is not possible to add a second telephone number without having to enter the "+" followed by the "space" key and the telephone number.

This point is not corrected: "We can see 3 phone numbers for some customers who

[2021-01-20 21:53] Omar1892 commented on #1449
Were having an issue were the phone number will replicated in this ticket up to 5 times. And also its not leaving any type of space in between the phone number its a single digit phone number example 123-123-123 the phone number are being register as 123123123

![Screen Shot 2021-01-20 at 1 48 51 PM](https://user-images.githubusercontent.com/47898011/105245497-ceb84600-5b26-11eb-8df9-dc6d75cebcb0.

[2021-01-21 00:47] Omar1892 opened #1451 "Costumer Self Check In + Mobile Number + Email"
When we have a costumer due a self check in, for some reason the information will not be transferred over to the POS system. This information is the Mobile number, Phone number and email. What we only get is the costumer name and last name.

[2021-01-21 06:31] Uzair-RepairDesk commented on #1446
Hi @eronink

Thank you for the suggestion to add a new SMS integration however it is not potentially possible to check the feasibility of the new integration. I have logged it under enhancement request so we can check the feasibility in the future. Thanks.

[2021-01-21 06:42] #44 closed

[2021-01-21 06:43] #1120 closed

[2021-01-21 06:44] #59 closed

[2021-01-21 06:45] #141 closed

[2021-01-21 06:55] #559 closed

[2021-01-21 06:59] #696 closed

[2021-01-21 07:03] #1012 closed

[2021-01-21 07:40] Uzair-RepairDesk commented on #1316
Hey @ciprianro

we have added an option where you can edit expenses and also add an expense in the back date.
Note: Expenses can be added in backdate only when a shift is not strated.
Hope this helps.

Regards,

[2021-01-21 07:41] adigsm07 opened #1452 "Bug/problem with signature (customer facing display)"
Hello, it is the third time when I post this problem and nothing happened.  Guys, the signature is small and it's made from dots I think.  So in conclusion is not clear and enough to be oke.  I'm using an iPad for signature, I tested the screen for this tablet and don't have any problems. Can you check on your systems the signature to show me your examples?

Link with video -- > https://www.youtub

[2021-01-21 07:47] adigsm07 opened #1453 "Sub-Sub Category? It's available?"
Hello, my colleague who is working to add a new category to our store has a problem.  So he can create and Category and SubCategory but he needs more. For example

Category: Laptop     SubCategory: Series of laptop   SubSub Category: Model from series.

It's an option for that?  Or if it's not an option now, can be in the near future?

Thanks.

If you don't understand please feel free to ask me.

[2021-01-21 07:52] Repairdesk-QA commented on #1449
Hey @Omar1892,
Sorry for the continued inconvenience. We have changed the phone format library from "International to default" that's why it's not leaving any type of space in between the phone number. There is an issue with phone number duplication and we are looking into it. Thank you for bringing this to our attention! It looks like there's a bug that just popped up.

I'm gonna reach out to our

[2021-01-21 07:56] Repairdesk-QA commented on #1452
Hey @adigsm07,
Sorry for the inconvenience. Thank you for your patience and understanding through some of the bumps in the road – I am working with our product team to make sure we solve these problems more quickly and avoid them going forward.
Thanks & Regards,
M Adnan

[2021-01-21 13:10] Uzair-RepairDesk commented on #1438
Hey @KEZSVS
I hope you are doing well, as per discussion with the engineering team your requested improvement not possible for now.
if I could help you with any other issue do let me know.

Regards

[2021-01-21 14:45] ciprianro commented on #1316
Hi, i cant find the option to edit an expense

În joi, 21 ian. 2021 la 09:40, Muhammad Uzair Shah <notifications@github.com>
a scris:

[2021-01-21 18:30] Fix-N-Flex opened #1454 "We need an easy way to add a labor charge automatically for every repair, rather than doing it manually every time"

[2021-01-21 18:32] JessicaSOS commented on #1439
PLEASE REOPEN
Signatures are no longer displayed at all since today when we create a ticket via the POS and this, for all tickets created. The same problem is present for the signature after repair during the checkout.

--
Les signatures ne s'affiche plus du tout depuis aujourd'hui lorsque nous créons un billet via le POS et ce, pour tous les billets créé. Le même problème est présent pour les sig

[2021-01-21 21:31] NickSteinbeck opened #1455 "Sub Categories"
When an inventory item is assigned a sub category the item no longer shows that it is assigned to a category on the Inventory Summary Report. This causes the item not to be included in the filter feature to drill down by category.

[2021-01-21 22:17] iTechConnectionsWC opened #1456 "Error with Canned Responses for SMS"
![RD_Issue](https://user-images.githubusercontent.com/77811200/105419056-1b298180-5c0c-11eb-8a24-bb36e2ce3938.png)
There are duplicates of different canned responses and there is no option to edit or delete them. I would also like to have the ability to edit these canned responses like we can for the automatic text messages. I would like to have the option to remove the name of repairs from the SM

[2021-01-22 05:12] Uzair-RepairDesk commented on #1316
Hi @ciprianro
Can you please make sure that you haven't posted the expense yet. You are only allowed if your expense entry is Unposted. Once it is posted, the system doesn't allow editing it.
You can just save the entry of the expense in case you want to edit it later and once you are confirmed, you can post the expense.

Hope it helps.

[2021-01-22 05:12] #1316 closed

[2021-01-22 05:19] Uzair-RepairDesk commented on #1454
Hi @Fix-N-Flex
Can you please elaborate on your concern? How you exactly use labor at this point in time? Will be happy to advise you once you share additional details.

[2021-01-22 05:23] Uzair-RepairDesk commented on #1453
Hi @adigsm07

If you are asking multi-level subcategory option, it is not possible to do it right now.
Currently, you can create a 1 level subcategory for a specific category. E.g. If the Laptop is a category, you can only create one subcategory like Refurbished or New. etc.

If you want to specify it with a specific model, you can assign a specific Manufacturer and Device in a product to differen

[2021-01-22 05:26] #1371 closed

[2021-01-22 05:35] #1383 closed

[2021-01-22 09:47] adigsm07 commented on #1453
Can be added in near future?

[2021-01-22 09:48] adigsm07 commented on #1453
I think will be a plus for everyone to make more structured all manufacturers.  For e.g. on Samsung Phone can be    (S series),  (A series),  etc, with models.

[2021-01-22 10:09] Repairdesk-QA commented on #1456
Hey @iTechConnectionsWC,
Adnan here Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Regards,

[2021-01-22 10:18] Repairdesk-QA commented on #1455
Hey @NickSteinbeck,
Adnan here Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Regards,

[2021-01-22 10:45] Repairdesk-QA commented on #1439
Hey @JessicaSOS,
I have checked your concern but unfortunately, I am unable to reproduce your issue. Would be great if you can share a video of this issue so we can release a fix during our next release. You can put together a video using Screencastify.
If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.
Regards,
M Adnan

[2021-01-22 11:00] Repairdesk-QA commented on #1451
Hey @Omar1892,
I hope you are doing well. Sorry for the continued inconvenience. Your reported issue has been fixed. Please verify at your end and do let us know if you have questions.
Thanks & Regards,
M Adnan

[2021-01-22 11:02] Repairdesk-QA commented on #1449
Hey @Omar1892,
I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have questions.
Thanks & Regards,
M Adnan

[2021-01-22 13:20] ciprianro commented on #1316
Sometimes your answers seem like jokes to me. What options have you
added? These options were before. This is not an answer I have been
waiting for since September 2020! I'm sorry to say this, but with such
answers I will definitely be a lost customer.

În vin., 22 ian. 2021 la 07:13, Muhammad Uzair Shah <
notifications@github.com> a scris:

[2021-01-22 17:42] Omar1892 commented on #1449
Hi @Repairdesk-QA Theirs isn't any away to put some spaces in the phone number. Its pretty difficult to call back a costumer who's number looks like 9253201215 rather than 925 - 320 - 1215

[2021-01-22 19:30] JessicaSOS commented on #1439
Its seems to be settled today. Thank you

[2021-01-22 19:30] #1439 closed

[2021-01-23 20:16] thecellplug opened #1457 "Add the ability to check customers out on another computer without opening a separate cash register"
at this time we only have one cash register set up but we have 3 tech computers in the back. Is there a way to keep the register pop from coming up. We only want to keep one but sometimes we need to cash out trade ins from another computer and the front counter pays the customer out. is that possible?

[2021-01-25 01:24] danmurari opened #1458 "Invoice option enabled even though item not in stock"
Hello Team

we having issues as my employees can invoice any products even though units are not in stock.

We mainly invoice only through create invoice option ( we don’t use POS) and it’s creating a large data base of negative stock .

We are about to take stock so fix will be really appreciated.

Thanks
Dan

[2021-01-25 05:55] Uzair-RepairDesk commented on #1458
Hi @danmurari

We recommend POS screens to sell items (create invoices). We have also a trigger available under Store Settings > Module Configurations > POS > Hide Out of stock items from POS product listing. If you enable it, users are not able to view out of stock items to sell.
![RepairDesk-Pos-Config](https://user-images.githubusercontent.com/22955861/105666609-7a80dd80-5efb-11eb-8cce-62132215

[2021-01-25 06:02] Uzair-RepairDesk commented on #1457
Hi @thecellplug

If you want to use one cash register but with different computers, we have the functionality available to "Join the register" even if you login with a separate computer.
If the same user signs it on another computer, the system asks to "Continue using the same shift"
![image](https://user-images.githubusercontent.com/22955861/105667119-90db6900-5efc-11eb-9202-ffefd7db6101.png)

If

[2021-01-25 06:19] Uzair-RepairDesk commented on #1316
Hi @ciprianro
I sincerely apologize if you didn't like my response. I just updated you about the option we already have. I have also explained to you the reason in my first comment to restrict users to edit the expense once you post it. Please check my response above or check the screenshot attached below:-

![image](https://user-images.githubusercontent.com/22955861/105668469-31328d00-5eff-11eb-9

[2021-01-25 07:12] Repairdesk-QA commented on #1455
Hey @NickSteinbeck,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up.

I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks & Regards,
Ayesha

[2021-01-25 07:21] Repairdesk-QA commented on #1455
For internal use:
https://repairdesk.atlassian.net/browse/RB-2472

[2021-01-25 07:21] #1455 closed

[2021-01-25 10:44] gijoe911 commented on #1434
HI @Repairdesk-QA this issue still haunts us everyday. can u please look into it?

[2021-01-25 12:57] #1451 closed

[2021-01-25 15:50] creator72 opened #1459 "Customer portal -> cannot type problem description"
My customers cannot type a problem description into the dropdown list, converting it into a text field would be great!

[2021-01-26 04:59] Repairdesk-QA commented on #1452
Hey @adigsm07,
I have checked on my test account, it is the current functionality of our software, also the signature depends on the printer and the size of the paper you are using and at the moment we are not working on our iPad app development or bug fixing.

If you still have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.

Thanks & Regar

[2021-01-26 05:39] Repairdesk-QA commented on #1456
Hey @iTechConnectionsWC,

You can edit the canned responses from web app Emails & Notifications settings by simply clicking on the Action button and then hit the Update button present against every canned response as marked in the screenshot attached below. Currently, the user cannot delete any canned response from the web app but if you want to remove duplicate canned responses then kindly highli

[2021-01-26 06:44] Uzair-RepairDesk commented on #1283
Hey @ciprianro hope you are doing well, we have made this improvement live, Now you can apply criteria as repair wise and based on that you can view the phones a technician repaired today even if the repaired phones are from older tickets.
![image](https://user-images.githubusercontent.com/22955861/105809662-c0a57200-5fcb-11eb-9a28-dea0d433ff6f.png)

Regards,

[2021-01-26 06:49] Uzair-RepairDesk commented on #1263
Hey, @Cybertekww  Hope you are doing well, here is the link for the KPI dashboard knowledge base.
Now in RepairDesk, you can view the Employee and Store KPIs through the Admin Dashboard. Simply go to the Admin Dashboard, where you will see two different tabs. Click on the Store KPIs and you will be able to view the KPI Dashboard. With the help of this dashboard, you will be able to make decisions

[2021-01-26 06:49] #1263 closed

[2021-01-26 07:53] Repairdesk-QA commented on #1448
Hye @JessicaSOS,
I hope you are doing well.

I have checked your concern but unfortunately, I am unable to reproduce the issue on my end. If you face this issue again it would be great if you can share a video so we can release a fix during our next release.
If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.

Thanks & Regards,
Ayesh

[2021-01-26 08:54] jphansendk opened #1460 "Primary unticked when editing ticket under "Manage Tickets""
We suddenly have to tick "Primary" under phone number when we edit a ticket. For some reason it's unticed when we access "edit ticket"? How can we fix this? All the tickets with this "bug" is added via the API? Was not a problem until mid last week?

[2021-01-26 09:00] jphansendk opened #1461 "Add data to custom fields on already added ticket"
How can I add data to our custom fields on a already created ticket?

[2021-01-26 09:37] Uzair-RepairDesk commented on #1461
Hey, @jphansendk  hope you are doing well, yes you can update a custom field via manage ticket section by editing the specific ticket. under the custom field column, click on **view all** to update the custom field.
Hope this helps.

Regards,

[2021-01-26 09:46] jphansendk commented on #1461
Can you show me where? I dont see the "view all"?
<img width="1694" alt="Custom fields editing" src="https://user-images.githubusercontent.com/68819320/105828658-af586780-5fc3-11eb-8b1e-5191f0b70689.png">

[2021-01-26 09:50] Uzair-RepairDesk commented on #1461
Have you selected the repair category, because based on that custom fields are populated?
Have you added custom fields against the repair category?
OR
you can connect with over live chat, over support executive will help you out in detail.

[2021-01-26 10:05] jphansendk commented on #1461
yes sir - but the custom fields are not filled when the ticket is created via the API. We need to fill out the custom fields after the ticket is created?
<img width="1985" alt="Screenshot_2021-01-26_at_10_55_08" src="https://user-images.githubusercontent.com/68819320/105830766-31499000-5fc6-11eb-8091-642ea87ff162.png">

[2021-01-26 10:17] Uzair-RepairDesk commented on #1461
@jphansendk  kindly connect on live chat so that the support executive can understand your issue in detail and we can resolve it.

Regards,

[2021-01-26 11:18] Uzair-RepairDesk commented on #1353
Hey, @ciprianro Hope you are doing well, we have made this improvement live, now you can view created by and assigned to in ticket item report. This report is available under  **Products & Inventory Reports**
![image](https://user-images.githubusercontent.com/22955861/105836782-88178f80-5fef-11eb-8f72-2e36eb6dfa0f.png)

Hope this helps
Regards,

[2021-01-26 11:39] Uzair-RepairDesk commented on #238
We have added details CSV file for invoice and ticket.

Hope this helps.
Regards,

[2021-01-26 11:39] #238 closed

[2021-01-26 11:55] Uzair-RepairDesk commented on #1309
Hey @Eliezer138
Hope you are doing well, we have made this improvement live where you can add an expense in backdate.
Note: this can be done only when the shift is not started, once the shift is started then you will not be able to add an expense in backdate.

Hope this helps.
Regards,

[2021-01-26 11:55] #1309 closed

[2021-01-26 12:03] ciprianro commented on #1283
This report doesn't work either. Technician Vlad mehedincu repaired 2
phones today.
Ticket 19747 which appears in Assigned Jobs and 19730 which appears in
Completed Jobs check the images.
How do I know in this case how many phones he repaired today if there are
others that were not repaired today?

În mar., 26 ian. 2021 la 08:44, Muhammad Uzair Shah <
notifications@github.com> a scris:

[2021-01-26 12:05] ciprianro commented on #1353
In Ticket Items Report there are 104 tickets created in January by employee
Ana Maria Spataru.
If I export excel from manage tickets, for the same employee I see that he
has 135 tickets created with status repaired and collected.
If I choose all the statuses, there are 175 tickets created by Ana Maria
Spataru. If I choose the repaired status and the repaired and collected
status, there are 138 tic

[2021-01-26 12:06] jphansendk commented on #1461
I will.. TIA

[2021-01-26 12:06] #1461 closed

[2021-01-26 12:19] ciprianro commented on #1316
I don't like to lose my time and prove something. Please check the image.
In the email you said that you *ADDED THE OPTION TO BE ABLE TO EDIT AN
EXPENSE.*
This option was already there. Maybe you *JUST* added the option to add an
expense for a previous date.
and now in this email you turn it around and say that you just reminded me
of an already existing option.
Please next time check the request

[2021-01-26 13:22] Uzair-RepairDesk commented on #1353
Hey @ciprianro, the updated report shows those ticket in which part was associated with the ticket, the data shown is correct because it shows those records which have parts associated with them.
whereas we are working on Repairdesk 2.0   where the ticket listing page is updated and you can customize your ticket listing view based on your desired columns.
![image](https://user-images.githubusercon

[2021-01-26 13:24] Uzair-RepairDesk commented on #1283
Hey @ciprianro can you share your login details in PM so that I can look into the specific cases you are suggesting.
Here is the email id where you can share the details.
hamza.mehmood@repairdesk.co

Regards,

[2021-01-26 13:29] ciprianro commented on #1353
Are you sure that in RD 2 you have Created by option in listing ticket view, because i cant see it in your image?

[2021-01-26 13:32] Uzair-RepairDesk commented on #1353
It's in the development phase and this option will be added so that you can customize your ticket listing view as per your accordance.
Regards,

[2021-01-26 13:38] ciprianro commented on #1353
ok. Thank you

[2021-01-26 17:04] adigsm07 commented on #1452
Actually the signature it's viewed just on receipt, when we make checkout on invoice is not appear the signature, but in app is taken.

[2021-01-27 05:51] Repairdesk-QA commented on #1460
Hey @jphansendk,
I hope you are doing well. We sincerely apologize for the inconvenience, this issue is already in our notice and we are working on it. Hopefully, the fix will be available with our next release which is planned for next week. We really appreciate your patience.
Thanks & Regards,
Ayesha Aamer

[2021-01-27 05:51] Repairdesk-QA commented on #1460
For internal use:
https://repairdesk.atlassian.net/browse/RB-2488

[2021-01-27 12:14] Zain-javed commented on #1440
Hi @techm89,
I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have any questions.

Thanks
M.Zain

[2021-01-27 12:17] Repairdesk-QA commented on #1440
Hi @techm89,
I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have any questions.

Thanks
M.Zain

[2021-01-28 05:03] Shane-RepairDesk opened #1462 "Adding inventory (Clone) randomly not saving"
While adding inventory i am experiencing it not saving randomly, screen will flash and be same page....When it does save it ends back at the repairs page.....Having to re-due and save again.   (this is also working from adding inventory by cloning)  So far +Product is working fine.

[2021-01-28 06:17] Uzair-RepairDesk commented on #1419
Hi @icare-howell, Hope you are doing well we have made this improvement live. Now email address is not mandatory while creating an inquiry.
And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.

Thanks,

[2021-01-28 06:17] #1419 closed

[2021-01-28 06:21] Uzair-RepairDesk commented on #1394
Hi @fahadimran303

At present, We have decided not to release new features on the iPad and web app for the next few months as one of the feedback we constantly receive is to simplify RepairDesk, make it more stable, and remove unnecessary options.
With that in mind, we've decided to pause "new feature development" and over the course of the next few months our entire team will be working on "Repai

[2021-01-28 06:21] #1394 closed

[2021-01-28 12:50] Repairdesk-QA commented on #1462
Hey @Shane-RepairDesk,
I hope you are doing well.

Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Regards,
Ayesha Aamer

[2021-01-28 13:49] adigsm07 commented on #1452
Actually the signature it's viewed just on receipt, when we make checkout on invoice is not appear the signature, but in app is taken.

[2021-01-28 13:58] CaseyFMC opened #1463 "Physical Location not showing when adding part to Ticket"
Screencast - https://drive.google.com/file/d/1l8hww-m_Vupo3lVfMeh0IQ-ahrRCVotg/view

When selecting an adittional part to be used in a ticket, the physical location field shows no value. Critical bug for us as we have multiple part stores.

Thank you!

[2021-01-29 06:54] Repairdesk-QA commented on #1463
Hey @CaseyFMC,
I hope you are doing well. Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!

Thanks & Regards,
Ayesha Aamer

[2021-01-29 06:58] Repairdesk-QA commented on #1463
For Internal Use:
https://repairdesk.atlassian.net/browse/RB-2514

[2021-01-29 07:12] Repairdesk-QA commented on #1462
Hey @Shane-RepairDesk,
I have checked your concern but unfortunately, I am unable to reproduce your issue. Would be great if you can share a video of this issue or detailed steps so we can release a fix during our next release. You can put together a video using Screencastify.
If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.
Thank

[2021-01-29 09:30] jphansendk opened #1464 "Custom fields not editable from Manage Tickets"
We are running some tests from the API.. And for some reason I suddenly can not edit the custom fields.. This is what I get when I click "View All"?

<img width="1814" alt="Custom_fields_veiw_all_bug" src="https://user-images.githubusercontent.com/68819320/106257477-e1183b00-621c-11eb-9d19-99e02af6eb37.png">

[2021-01-29 10:42] Repairdesk-QA commented on #1452
Hey @adigsm07,
I hope you are doing well. Sorry for the delay but I was pulled away and caught up with work. Can you please connect on live chat with our support guy so that he can assist you via screen share.
Thanks & Regards,
Ayesha Aamer

[2021-01-29 15:27] Shane-RepairDesk commented on #1462
It's there on my build.......Go to any item select clone>  change name
etc.  and save it and doesn't save...i Checked it again last night and
still do the same.   I'm cool with not using clones so no biggy to me.

On Fri, Jan 29, 2021 at 2:13 AM Repairdesk-QA <notifications@github.com>
wrote:

--
Kind Regards,

Shane Moreland
502-385-0600 Ext 404

[2021-01-29 22:53] Shane-RepairDesk opened #1465 "MS Integration out of stock"
MS integration not showing availability of items or accounting for out of stock.

[2021-01-29 22:57] Shane-RepairDesk commented on #1465
![Capture](https://user-images.githubusercontent.com/60683772/106335797-7df9c900-625b-11eb-9d1f-bb00b0f952ad.JPG)

[2021-01-29 22:58] Shane-RepairDesk commented on #1465
![snippet2](https://user-images.githubusercontent.com/60683772/106335817-894cf480-625b-11eb-8765-982739016298.JPG)

[2021-01-30 17:28] mathchouinard opened #1466 "Bring back dashes in phone numbers"
Dashes used to be inputted automatically on the POS when putting in a customer phone number. Now, you have to put them in manually or else they do not appear. How is this an improvement ?

Mistakes by reading 4527773495 can happen a lot easier than by reading 452-777-3495.

[2021-01-31 16:13] istationonline opened #1467 "Estimates Module Attachements"
Unable to attached files in estimates

Always greyed out

<img width="747" alt="Screenshot 2021-01-31 at 16 12 51" src="https://user-images.githubusercontent.com/59316784/106390234-503d8d00-63df-11eb-8e89-980309c68d11.png">

[2021-02-01 02:35] Shane-RepairDesk commented on #1465
Verified on demo account as well.

[2021-02-01 02:41] Shane-RepairDesk opened #1468 "Stock Value Wrong"
Stock Value is wrong, i have in the past looked for reason for this and no luck.
![Capture](https://user-images.githubusercontent.com/60683772/106408732-04094180-640d-11eb-8c5d-ad1e29265fb9.JPG)

[2021-02-01 02:42] Shane-RepairDesk commented on #1468
verified works fine in demo account.

[2021-02-01 05:42] Uzair-RepairDesk commented on #1464
Hi @jphansendk

Happy to help you with your question. Custom fields are always set on behalf of a specific repair category. Once you select a specific category, custom fields come up to update on the edit ticket screen. Once you receive the ticket info with API you can make sure that you get the category information or you can go to the edit ticket page to select the category, device, and device i

[2021-02-01 06:04] #1464 closed

[2021-02-01 06:05] Repairdesk-QA commented on #1423
Hi again @jphansendk  - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2021-02-01 06:05] #1423 closed

[2021-02-01 06:45] Repairdesk-QA commented on #1468
Hey @Shane-RepairDesk,
Ayesha here. Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Regards!

[2021-02-01 07:01] Repairdesk-QA commented on #1467
Hey @istationonline,
I hope you are doing well. I have checked the above mentioned scenario and its working fine on my end, attached is the screenshot. It seems to be an account specific issue. Can you please connect with our support team on live chat so that we can further investigate the issue.
Thanks & Regards,
Ayesha Aamer

![Estimate upload attachment](https://user-images.githubusercontent.co

[2021-02-01 07:09] Repairdesk-QA commented on #1468
Hey @Shane-RepairDesk,
I hope you are doing well. I have checked the above mentioned scenario and it's working fine on my end. It seems to be an account specific issue. Can you please share your login details with me via email at ayesha.aamer@repairdesk.co, so that I can further investigate this issue.
Thanks & Regards,
Ayesha Aamer

[2021-02-01 07:46] Repairdesk-QA commented on #1465
Hey @Shane-RepairDesk,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up. I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks & Regards,
Ayesha Aamer

[2021-02-01 07:57] Repairdesk-QA commented on #1465
For internal use:
https://repairdesk.atlassian.net/browse/RB-2526

[2021-02-01 10:27] Repairdesk-QA commented on #1462
Hey @Shane-RepairDesk,
I hope you are doing well.

Thank you for your patience. I have checked on my end according to the above mentioned scenario, the cloning option is working absolutely fine for repairs as well as for inventory items. It is the current functionality of our RepairDesk web app that when we make a clone of a repair problem, after saving the user is redirected to the listing screen

[2021-02-01 10:27] adigsm07 commented on #1452
https://www.youtube.com/watch?v=2OcXVVl8MA0&feature=youtu.be

[2021-02-01 10:58] Repairdesk-QA commented on #1465
Hey @Shane-RepairDesk,
Ayesha here. I hope you are doing well. I have checked the above reported issue with our development team and found that this issue is occurring due to the service provider API's call from the Mobile Sentrix side. We have forwarded the request to them. I'll get back to you as soon as I have more information.

[2021-02-01 11:51] Repairdesk-QA commented on #1447
Hey @JessicaSOS,
I hope you are doing well. Thank you for bringing this to our attention! It looks like there's a bug that just popped up while adding the second number with the country code & number duplication in mobile & phone number fields. I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Further tab key functionality is w

[2021-02-01 12:04] Repairdesk-QA commented on #1447
For internal use:
https://repairdesk.atlassian.net/browse/RB-2529

[2021-02-01 12:45] adigsm07 opened #1469 "Edit template mail."
Hi Guys, I want to edit my template mail but I don't find anything in language template editor.
I just want to translate this into my country language.

![rrtemplate mail](https://user-images.githubusercontent.com/65545272/106460416-023a8f00-649c-11eb-843c-26e6b42904fe.png)

[2021-02-01 12:59] Repairdesk-QA commented on #1452
Hey @adigsm07,
I hope you are doing well. I have just checked the above-reported scenario on your account and found that the trigger to **show the signature on the Invoice** is OFF on your account. I have just turned it ON on your account and verified after creating a test invoice, signatures are now displaying, reference screenshots are attached below. Can you give it another try?

Thanks,
M.Zain

[2021-02-01 14:59] Shane-RepairDesk commented on #1462
Don't think this is my case, as i have tried 8 times or more and not at end of first page or the end of last page, let me verify though with a video.

[2021-02-01 20:52] JessicaSOS commented on #1448
I gave you several examples and I corrected them all manually. I mentioned to you that these were items that we had received a new quantity in inventory, but it was only a lead. the problem may not be directly related to adding new inventory quantity to the items. It's up to you to find the source of the problem. I still have this problem and it is very unpleasant. Please see items 13742, 13288, 1

[2021-02-01 21:01] JessicaSOS commented on #1447
I'm waiting to hear from you on the phone number problem.
We tried again with the tab key and here is the summary. The "no" and Last name "box works with this keyboard shortcut, but the problem is from the" email "box that this key no longer works.

--
J'attends de vos nouvelles pour le problème des numéros de téléphone.
Nous avons essayer a nouveau avec la touche tab et voici le résumé. La case "

[2021-02-02 04:42] Uzair-RepairDesk commented on #1469
Hey @adigsm07
We have already given an editor within the template that allows you to change the text according to your language. You can go to Store Settings > Email & Notification > Edit Template > You can update the text in the editor > Save Changes

Please check the screenshot attached

![image](https://user-images.githubusercontent.com/22955861/106553288-ec2fdb80-653a-11eb-9cbd-0a19b68fce77.pn

[2021-02-02 12:37] Repairdesk-QA commented on #1463
Hey @CaseyFMC,
Ayesha here. I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have any question.
Thanks!

[2021-02-02 12:41] Repairdesk-QA commented on #1455
Hey @NickSteinbeck,
Ayesha here. I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have any question.
Thanks!

[2021-02-02 13:11] Repairdesk-QA commented on #1447
Hey @JessicaSOS,
I hope you are doing well. I have checked your numbers duplication concern with our development team and get to know that this is the part of the number library that we are currently using and we cannot customize it else will affect the functionality of this module.
Regarding your tab key concern can you please let me know that to which screen you are referring i.e. adding/editing

[2021-02-02 13:53] adigsm07 commented on #1469
Thank you very much, I succeeded to update my template.

[2021-02-02 20:25] mathchouinard commented on #1468
I have this problem as well, it seems to take a moment for it to update on the inventory page. If I go a couple minutes later after having added items, the new value is updated.

[2021-02-03 04:57] #1469 closed

[2021-02-03 04:58] Uzair-RepairDesk commented on #1468
@Repairdesk-QA

[2021-02-03 09:08] adigsm07 opened #1470 "Module - Check status verification on our website"
Hello. On our website, we have integrated a module for checking the status of repairs from RepairDesk. The problem of this module is with translated sentences/ words.  Is translated in Romanian language but not correct. How to edit these words?

Link from our website: https://www.gsmzone.ro/verificare-status-reparatie/
![RF](https://user-images.githubusercontent.com/65545272/106723908-46e73700-661

[2021-02-03 10:16] adigsm07 commented on #1452
Thanks,  it's working after cleared cache from browsers.

[2021-02-03 11:04] #1452 closed

[2021-02-03 12:25] Repairdesk-QA commented on #1470
Hey @adigsm07,
Ayesha here. I hope you are doing well. You can edit the words in the repair tracker widget by just simply following these steps i.e. Open Integration settings > select "Language Editor" > click on the "Edit" button present against the default "English" Language > select "Order LookUp Widget" option > edit the template as per your requirements > once done with editing kindly refresh

[2021-02-03 19:09] screenfixing opened #1471 "Bug/Feature - Make the content in "Details" part of a session"
If I go to Category > Manufacturer > Devices > Problems > Parts > Details as I am creating a ticket in the POS and I type a large amount of details. Then I realize that the Device is say an iPhone 7 and not a 7 plus. I click Devices and go back through the steps. When I get back to the fields to input the data, I would think this would be part of the session and stored. If not I have to reenter a

[2021-02-03 19:14] screenfixing opened #1472 "Allow User to Select "Won" In Leads"
When a customer is won but doesn't pass through the system, perhaps correctly, we need to be able to change the status to "Won". I realize how they become "Won" in the system but we'd like to be able to select it as well.

[2021-02-03 19:29] screenfixing opened #1473 "Improve the Manage Ticket Screen"
In a competitor's ticket view, it's much cleaner than what we look and see in RepairDesk. Attached is some of the sort and group features. Grouping tickets by status allows us to see all the "New" Tickets in a block and then all the "In Progress" Tickets in a Block. This is something we miss from the old system a lot! I don't love the Manage Ticket Page and feel like it could be significantly clea

[2021-02-03 19:35] screenfixing opened #1474 "Create Ticket from Customer Profile"
We look up the customer sometimes first and then create a ticket. It would make sense if we had a "Create Ticket" button the customer profile and that gave us the POS with Customer populated so we can start through the ticket creation processes.

[2021-02-03 19:56] screenfixing opened #1475 "Do not Require "Repair Charges" to take Bench Fee"
Bench fees. The repair cost should be allowed to be $0 as we don't know what it is yet. If we have an unknown cost of repair, we still need to charge a bench fee to check in a device and do diagnostics and give a quote. This amount should optionally (some people don't do this) come off the  invoice at the end of the repair as it's prepaid.

![image](https://user-images.githubusercontent.com/601977

[2021-02-03 19:58] screenfixing opened #1476 "Create invoice payable by iPad RD app when charging a bench fee/deposit"
When we create an invoice for a deposit. We have to run it in Square Separately and process it on a workstation. If this invoice was viewable by the iPad it would make our lives a lot easier. We do not process cards on our computers so we are not able to charge these using our standard process.

[2021-02-04 05:04] #1476 closed

[2021-02-04 05:21] Uzair-RepairDesk commented on #1475
Hi Nate @screenfixing

If you setup the diagnostic fee/bench fee and enable "Charge Deposit" while creating a ticket, you can charge the same amount initially from the customer without the actual repair charges. There is a separate invoice for the deposit/bench fee that is adjusted in the actual invoice when you checkout and take the repair charges from the customer.
You can learn more about the e

[2021-02-04 05:26] Uzair-RepairDesk commented on #1474
Hey Nate @screenfixing

Thank you for the suggestion. We can check the feasibility of your request for RepairDesk 2.0 once we add the customer's module in Q2 of 2021.

Regards,
Uzair

[2021-02-04 05:37] Uzair-RepairDesk commented on #1472
Hi Nate,
Currently, the system marks the "Won" status when you convert a lead into a repair ticket. It means that the lead has actually closed. If you don't want to create a ticket but want to place a specific status, the workaround is that you can create a custom status of lead to mark it.
You can manage the lead statuses under Store Settings > Order Status > Lead Status > New

Hope it helps.

[2021-02-04 05:39] Uzair-RepairDesk commented on #1471
Hey Nate @screenfixing,

Thank you for the suggestion. We will discuss it with the engineering team to make it possible in RepairDesk 2.0. I will keep you posted on this. Thanks

[2021-02-04 05:50] Uzair-RepairDesk commented on #1476
Hey Nate @screenfixing
We are not making further updates on our iPad app. You can make a transaction with a web app if you want to charge a deposit. Thank you for your understanding.

[2021-02-04 05:54] Uzair-RepairDesk commented on #1473
Thank you for sharing the idea Nate @screenfixing . We will definitely review it.

[2021-02-04 07:08] Repairdesk-QA commented on #1448
Hey @JessicaSOS,
I hope you are doing well. Thank you for your patience but I have checked this issue on the specific item id(13742) you have mentioned earlier and get to know that the manufacturer is removed by one of your employee as you can see in the reference screenshot attached below. Can you please investigate this on your end?

I hope that if there’s anything else I can do for you, you won

[2021-02-04 16:02] JessicaSOS commented on #1448
Hello,
We can indeed see in the history that the item has been deleted by Simon. On the other hand, Simon has no access to modify the manufacturers. See a screenshot of the settings and another connected with its user.
So he was not the one who made these changes. Thank you for further research.
![manufacter simon](https://user-images.githubusercontent.com/40500094/106919681-5cc02f00-66d8-11eb-858

[2021-02-04 19:37] Omar1892 commented on #1431
Any updates?

[2021-02-04 19:51] spenco100 opened #1477 "Cannot PUT or PATCH to existing tickets"
I am working on a RepairDesk integration using your open API. The only documentation I've found on it is [here](https://help.repairdesk.co/knowledgebase/articles/1189105-public-api)

Using that information, I'm trying to be able to add a note to a ticket using PATCH, as described in your documentation. When I PATCH to
```https://api.repairdesk.co/api/web/v1/tickets/3280051?api_key=${MY_KEY}```
wit

[2021-02-04 21:12] JessicaSOS commented on #1447
The phone numbers appear in duplicate and you mention that you do not want to correct this problem since it is part of the functionality of your new module? It is the module which is in error ....

For the "tab" key, these are entered via the POS.

---french:
Les numéros de téléphone aparaissent en double et vous mentionnez que vous ne souhaitez pas corriger ce problèeme puisqu'il fait partie de l

[2021-02-05 00:13] UNIFIX1 opened #1478 "Customers' SIGNATURES NOT SHOWING ON THE TECKET ANY LONGER"
Customers' SIGNATURES NOT SHOWING ON THE TECKET ANY LONGER

<img width="769" alt="Screen Shot 2021-02-04 at 7 03 32 PM" src="https://user-images.githubusercontent.com/78572530/106971468-02958d00-671d-11eb-88ed-b5ea5855fb0a.png">

[2021-02-05 15:16] icare-howell opened #1479 "More report options"
We have the availability to see reports based on monies; which is great. However, this system takes in so much more information that could be useful for marketing purposes. Like how they heard about us or what zip code they are from. I would like to see a way to be able to create even custom reports based on criteria the system takes in. Not just at the customer level either. Maybe I want to see h

[2021-02-05 15:19] icare-howell opened #1480 "More information added to notifications"
It's great we have the Inbox and the Outbox for messages. However, unless you are constantly watching those pages, you don't know if a response has been received. It would be great to have a notification show up in the Notification area of a new email/SMS.

[2021-02-05 15:30] Honeybee5058 commented on #1479
Yes this would be great! I would love an option to run reports on how many customers and also by what time people are coming

[2021-02-05 15:33] Honeybee5058 opened #1481 "Improvement to ticket management"
When technicians add notes/updates to a ticket, I would like there to be a way to sort the tickets by most recently updated. Or if a technician flags something, it would nice to have an alert so that we know that it was flagged

[2021-02-05 15:47] Honeybee5058 opened #1482 "Switch user option on iPad POS app"
Please add the option for switching users on the iPad POS app so that we can correctly track which employee is creating tickets and managing transactions. Thank you

[2021-02-05 22:36] Shane-RepairDesk opened #1483 "Searching issues"
Along with some last names we have now seen a ticket number that is not searching.
![Capture](https://user-images.githubusercontent.com/60683772/107096382-a728d500-67d8-11eb-9bf0-4f38c56e909a.JPG)

[2021-02-06 14:41] Cumbr1at3ch opened #1484 "MANAGE CUSTOMER"
Hi

When entering one mobile number the software is duplicating this so there is two of the same mobile numbers showing
![image](https://user-images.githubusercontent.com/40138325/107121253-54f3bc80-6889-11eb-9340-15fb6b1c8925.png)

[2021-02-08 04:44] Uzair-RepairDesk commented on #1482
Hi @Honeybee5058
At present, We have decided not to release new features on the iPad and web app for the next few months as one of the feedback we constantly receive is to simplify RepairDesk, make it more stable, and remove unnecessary options.
With that in mind, we've decided to pause "new feature development" and over the course of the next few months our entire team will be working on "RepairD

[2021-02-08 04:44] #1482 closed

[2021-02-08 04:45] Uzair-RepairDesk commented on #1482
Hi @Honeybee5058
Thank you for your request. We are not making any updates to our iPad POS Register app at this time. If you want to use an iPad for a transaction with a different employee, you can logout and login with another employee. Thanks

[2021-02-08 06:41] Repairdesk-QA commented on #1448
Hey @JessicaSOS,
Thanks for the update on this. We will investigate it internally and let you know once we have further information on it.

Please let me know if there’s anything else I can do for you.

Thanks,
Zain

[2021-02-08 07:22] Repairdesk-QA commented on #1468
Hey @mathchouinard,
I believe this issue has been fixed in a recent update. Can you give it another try?

Please let me know if there’s anything else I can do for you.

Thanks,
Zain

[2021-02-08 07:24] Repairdesk-QA commented on #1447
Hey @JessicaSOS,
I hope you are doing well. We sincerely apologize for the inconvenience you have faced. Thank you for bringing this to our attention! It looks like there's a bug that just popped up with the tab key on POS. I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Regarding your second concern related to numbers duplic

[2021-02-08 10:13] Repairdesk-QA commented on #1447
For internal use:
https://repairdesk.atlassian.net/browse/RB-2569

[2021-02-08 10:47] Repairdesk-QA commented on #1484
Hey @Cumbr1at3ch,
I hope you are doing well. Thank you for bringing this to our attention! It looks like there's a bug that just popped up. I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks,
Ayesha Aamer

[2021-02-08 10:50] Repairdesk-QA commented on #1478
Hey @UNIFIX1,
It looks like this bug has been resolved! Can you please refresh your browser and let me know if you are able to print the signature in the Receipt?

If there’s anything else I can do for you please let me know.

Thanks,
Zain

[2021-02-08 11:23] Repairdesk-QA commented on #1477
Hey @spenco100,
First of all the endpoint https://api.repairdesk.co/api/web/v1/tickets/3280051?api_key=${MY_KEY} you are using is just for updating ticket items. you cannot add notes with this endpoint. The above endpoint requires 4 basic objects to create/update tickets.
"devices" : {},
"items" : {},
"summary":{},
"customFields" : {}
there is no option for add note.
However, you can add notes by

[2021-02-08 11:39] Repairdesk-QA commented on #1484
For internal use:
https://repairdesk.atlassian.net/browse/RB-2570

[2021-02-08 11:57] Repairdesk-QA commented on #1483
Hey @Shane-RepairDesk
I hope you are doing well. I have checked your concern but unfortunately, I am unable to reproduce your issue. Would be great if you can share a video of this issue or detailed steps so we can release a fix during our next release. You can put together a video using Screencastify.
If you have any questions or if there is anything else with which I may assist, please do not he

[2021-02-08 17:05] spenco100 commented on #1477
Thanks for the quick response and full explanation.

I can successfully add notes to tickets, but I have 2 new problems with the newly created notes. After creating the note, when I GET the /ticket/:ticket_id, or opening the ticket from RepairDesk itself, I see the ticket is created by the owner's name and id/

Even when I've set the "employee_id", "assigned_to", and "employee_name", I only see th

[2021-02-09 06:08] TechTraders opened #1485 "Ability to add additional barcode templates"
We are trying to move away from using price stickers on our products in our showroom to having inventory labels on each hook with the price on them (simalar to what you would see in a supermarket) but since some of our products that we stock do not have UPC codes we need to use the inventory label to generate a barcode sticker.
![image](https://user-images.githubusercontent.com/68912093/107322762-

[2021-02-09 10:40] Uzair-RepairDesk commented on #1485
Hi @TechTraders, hope you are doing well.
 if you want to generate barcodes based on UPC then you need to go to **Setting**, click on **Module Configuration** **Inventory** and select the option "generate barcodes based on UPC".

 Can you please explain this "is there a way that we could add customer labels to this list so we could have e.g. Default inventory label & then be able to have a 2nd inv

[2021-02-09 12:27] TechTraders commented on #1485
Hi Uzair, Sorry my bad i was meant to say "custom" not "customer"

but to elaborate further, currently we use the "Inventory label" to print barcodes for our products. (See below)

![image](https://user-images.githubusercontent.com/68912093/107363148-7a9cf200-6b25-11eb-838b-df739dcd0bbc.png)

![image](https://user-images.githubusercontent.com/68912093/107363205-8d172b80-6b25-11eb-8949-9e479b72e761

[2021-02-09 19:38] Shane-RepairDesk commented on #1468
Problem still there.

[2021-02-10 06:38] Repairdesk-QA commented on #1468
Hey @Shane-RepairDesk,
I have checked your concern on our test accounts but unfortunately, I am unable to reproduce your issue. Would be great if you can share a video of this issue so we can release a fix during our next release. You can put together a video using Screencastify.

Please let me know if there’s anything else I can do for you.

Thanks,
Zain
![is1](https://user-images.githubuserconte

[2021-02-10 09:14] adigsm07 opened #1486 "New integration for everyone - FreeSwitch"
Hi Guys!

We used freePBX from the beginning. This integration is very useful, but now we change our provider for calls and we can't use now freepbx.
I talked with my provider about this integration and he offered us his integration, "Free Switch".
I discussed with your guys from support 3 months ago to integrate this future in RD but nothing happened. Danish told me to write on github for help.

[2021-02-10 11:05] Repairdesk-QA commented on #1477
Can you explain more with the payload you sent to which API? or provide us your credentials and ticket number as reference to check it further

[2021-02-10 11:07] Repairdesk-QA commented on #1477
The employee_id and employee name is the one who will enter the note against that ticket. there is no link with the creator of that ticket. creator of the ticket can be any other employee

[2021-02-10 15:42] Shane-RepairDesk commented on #1468
Yeah cool,  i have already supplied a image above nothing has changed..........You can show things work on your side all day long but it does not change that i have and have had multiple problems for long time that are on my build alone.

[2021-02-10 15:45] Shane-RepairDesk commented on #1468
![Capture](https://user-images.githubusercontent.com/60683772/107533537-08f88e80-6b8d-11eb-9064-9bc0641560a7.JPG)
Here is another snippet,  don't really think video will change anything..

[2021-02-10 20:39] technofuse opened #1487 "Inventory item does not appear in the purchase order"
I have an item that is out of stock and when I go to the purchase orders to order some more, the item does not appear as an item I can order.
![Screenshot 2021-02-10 153334](https://user-images.githubusercontent.com/78879436/107569196-078f8c00-6bb6-11eb-82d0-6207215b41c2.png)
![Screenshot 2021-02-10 153525](https://user-images.githubusercontent.com/78879436/107569245-170ed500-6bb6-11eb-9717-014d25

[2021-02-10 20:52] technofuse opened #1488 "Iphone App Crashs and Android App crashes"
I start by creating a refurbishment ticket in the webapp, then when I try to open that ticket in the android repair desk mobile app and the Iphone app, the app just crashes and disappears.
![Screenshot_20210210-154442_RepairDesk](https://user-images.githubusercontent.com/78879436/107570789-01021400-6bb8-11eb-8523-54f5c069492b.jpg)

[2021-02-10 21:05] technofuse opened #1489 "Customized device tests do not save"
I created these custom device pretests. I click all of them to pass and then click save. Then click save for the ticket.

![Screenshot 2021-02-10 153525](https://user-images.githubusercontent.com/78879436/107571677-3a874f00-6bb9-11eb-8869-154c0f7f0e82.png)

Then when I click on the ticket again to see the device tests again, the results all say fail

![Screenshot 2021-02-10 155758](https://user-im

[2021-02-10 21:21] technofuse opened #1490 "Android Repair Desk App doesn't save the pre test device photos I take."
I created a repair ticket through the Android mobile app. Then I click the pre-test device photos to take a photo. I get this screen then click Save, after I took the photo. So it should upload the file so I can then view it.

![Screenshot_20210210-160955_RepairDesk](https://user-images.githubusercontent.com/78879436/107573671-d31ece80-6bbb-11eb-9428-64fcf9a34fb8.jpg)

But the picture is not saved

[2021-02-11 06:41] Repairdesk-QA commented on #1488
Hey @technofuse,
I hope you are doing well. At present, Currently, we are not working on the new features/bug fixing on the Mobile App and iPad app for the next few months as one of the feedback we constantly receive is to simplify RepairDesk, make it more stable, and remove unnecessary options. With that in mind, we've decided to pause working on iPad & Mobile app and over the course of the next

[2021-02-11 06:43] #1488 closed

[2021-02-11 06:59] Repairdesk-QA commented on #1490
Hey @technofuse,
I hope you are doing well. At present, we are not working on the new features/bug fixing of the Mobile App and iPad app for the next few months as one of the feedback we constantly receive is to simplify RepairDesk, make it more stable, and remove unnecessary options. With that in mind, we've decided to pause working on iPad & Mobile app and over the course of the next few months

[2021-02-11 07:00] #1490 closed

[2021-02-11 07:04] Uzair-RepairDesk commented on #1485
Hi @TechTraders,hope you are doing well.
 Right now it's not possible to have both templates at a time.

[2021-02-11 07:10] Uzair-RepairDesk commented on #1487
@Repairdesk-QA  can you please check this issue.

Thanks

[2021-02-11 07:50] Repairdesk-QA commented on #1468
Ok, let me check this again

[2021-02-11 12:24] Repairdesk-QA commented on #1489
Hey @technofuse,
Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

Thanks,
Zain

[2021-02-11 12:26] Repairdesk-QA commented on #1487
Hey @technofuse,
Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

Thanks,
Zain

[2021-02-11 13:14] TechTraders commented on #1485
Hi Uzair, Im aware that it is currently not possible, but could this please be implemented in the future? im sure this would be a valuable thing for many users

[2021-02-11 17:40] Uzair-RepairDesk commented on #1485
Hi, @TechTraders  I have noted your request , but for now I can not provide you TAT for this improvement. But if we planned to work on this improvement in future I will let you know.

Thanks.

[2021-02-12 06:57] Repairdesk-QA commented on #1487
Hey @technofuse,
Thank you for reaching us Can you please go to Store **Settings > Module Configuration > Inventory** and see if your trigger  **Hide Out of Stock Serialize Item** is checked or Unchecked, If the trigger is checked you are not able to search Out of stock serialized item.

Please let me know if I can do anything else for you.

Thanks,
Zain
![tech](https://user-images.githubuserconte

[2021-02-12 12:13] technofuse commented on #1487
It was checked but that doesn’t make any sense. I’m using a purchase order to buy more of those out of stock items. It shouldn’t be hidden on that form.

From: Repairdesk-QA <notifications@github.com>
Sent: Friday, February 12, 2021 1:58 AM
To: Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS <RepairDesk-BUGS-IMPROVEMENTS@noreply.github.com>
Cc: technofuse <ceo@technofuse.co>; Mention <mention@noreply.

[2021-02-12 12:45] Repairdesk-QA commented on #1487
Hey @technofuse,
Thanks for the update on this. Your reported issue has been assigned to the development team and hopefully, it will be fixed.

Your patience would be highly appreciated.

Thanks,
Zain

[2021-02-13 16:38] rporco opened #1491 "Add the sub category to the inventory count"
Since you've added sub category to inventory module, could you please add it to the inventory count module. It would make this process so much faster.

Thank you.

[2021-02-15 06:00] Repairdesk-QA commented on #1489
Hey @technofuse,
Can you please connect with us on a live chat with our support team as we need to make a test ticket on your account because we are unable to regenerate this issue on our end?

Please let me know if I can do anything else for you.

Thanks,
Zain

[2021-02-15 14:46] KEZSVS opened #1492 "Request to have dates column added in Total revenue reports by cusotmer"
![image](https://user-images.githubusercontent.com/69765024/107960329-65e4b200-6f9c-11eb-8117-2acfe9aa2249.png)

Kindly review his screenshot and reply to me  when can this be done .

[2021-02-15 14:57] KEZSVS commented on #1271
SMS Company name instead of number I have had set this request many many many Months ago and still no one has been able to even reply to this,

All i want to that when from my Rd SMS a SMS routes out instead of that Virtual Number can my Company name be shown every time , ????

Look at this very very ugly way it is being send out no order and no lining of context,

![image](https://user-images.git

[2021-02-15 21:02] KEZSVS opened #1493 "New Customer details"
Please if some one can do anything about this

![image](https://user-images.githubusercontent.com/69765024/107992689-1f5d7a80-6fd1-11eb-935c-9d8bc3e1353b.png)

[2021-02-16 05:00] Repairdesk-QA commented on #1468
Hey @Shane-RepairDesk,
Your reported issue has been assigned to the development team and hopefully, it will be fixed in the next release.

Your patience would be highly appreciated.

Thanks,
Zain

[2021-02-16 05:01] Repairdesk-QA commented on #1468
For internal Use [https://repairdesk.atlassian.net/browse/RB-2638](url)

[2021-02-16 06:10] Repairdesk-QA commented on #1493
Hello @KEZSVS

I hope you are doing well. Can you please upload the image again as we are unable to see it ?

Thanks

[2021-02-16 10:18] Repairdesk-QA commented on #1468
Hey @Shane-RepairDesk,

Item 3033 which has serial 9076104617255 has an invalid cost price against it that's why your inventory total is not correct on the Manage products and Inventory summary report, For the time being, we have updated the cost price to zero, you can update the cost price later if you want to.

Please verify at your end and do let us Know.

Thanks,
Zain

[2021-02-16 12:08] Repairdesk-QA commented on #1487
Hey @technofuse,
Your issue regarding the purchase order has been fixed.

Please verify at your end and do let us know.

Thanks,
Zain

[2021-02-16 12:20] Repairdesk-QA commented on #1465
Hey @Shane-RepairDesk,
I hope you are doing well. I believe this issue has been fixed in the recent update. Can you give it another try?
I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.
Thanks,
Ayesha Aamer

[2021-02-16 12:39] Repairdesk-QA commented on #1447
Hey @JessicaSOS,
I hope you are doing well. I believe your POS tab key related issue has been fixed in the recent update. Can you give it another try? And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.
Thanks,
Ayesha Aamer

[2021-02-16 14:26] AMott-2020 opened #1494 "Adding weekly payment option"
add an option for the customer to pay weekly in the recurring invoices module.

[2021-02-16 14:31] AMott-2020 opened #1495 "Add smaller payment option"
add an option to break the total owed into smaller payments that the customer pays till the ticket is paid in full.

[2021-02-16 15:44] technofuse opened #1496 "Goods Note Received cannot be deleted"
I can't delete or undo a Goods Note received if I make a mistake. Just using the inventory adjustment feature isn't the correct way to adjust the inventory.

[2021-02-16 20:49] dc417 opened #1497 "Please add LEADS to the API"
We are working with other software developers who need LEADS added to the API to add the full range of functionality to the marketing, sales, & repair processes with integration. Thank you!

[2021-02-17 05:21] Uzair-RepairDesk commented on #1496
Hi, @technofuse  Hope you are doing well. By default, there is no option to Deleted GRN, because once GRN is created against a specific purchase order stock is updated and on-hand quantity is increased.
But if you want a specific GRN to be deleted then you can contact over support representative and he can do that needful.

Hope it helps

[2021-02-17 05:21] #1496 closed

[2021-02-17 05:23] Uzair-RepairDesk commented on #1495
Hi, @AMott-2020  Hope you are doing well, can you please share more information on this.

Thanks

[2021-02-17 05:54] Uzair-RepairDesk commented on #1497
Hi @dc417
Can you share your business name and email address so I can send you our open API document for leads management. Thanks

[2021-02-17 11:46] itaha1 opened #1498 "every user only have his status"
hello dear

[2021-02-17 13:24] AMott-2020 commented on #1495
For example so if the customers total is $318 and they want to pay a set amount a week until the ticket is paid in full

[2021-02-17 16:08] dc417 commented on #1497
Hi. Yes. My name is David Collins with Oops Repair. Email address is
davidcollins417@gmail.com. Thank you!

David

On Wed, Feb 17, 2021 at 12:54 AM Muhammad Uzair Shah <
notifications@github.com> wrote:

[2021-02-18 04:41] Repairdesk-QA commented on #1498
Hey @itaha1,
I hope you are doing well. Could you please provide more information? Thanks!
Regards,
Ayesha Aamer

[2021-02-18 05:17] Repairdesk-QA commented on #1493
Hi again @KEZSVS  - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2021-02-18 05:18] #1487 closed

[2021-02-18 05:18] #1483 closed

[2021-02-18 05:19] Repairdesk-QA commented on #1478
Hi again @UNIFIX1  - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2021-02-18 05:19] #1478 closed

[2021-02-18 05:19] Repairdesk-QA commented on #1477
Hi again @spenco100  - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2021-02-18 05:19] #1477 closed

[2021-02-18 05:20] #1468 closed

[2021-02-18 05:20] Repairdesk-QA commented on #1467
Hi again @istationonline  - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2021-02-18 05:21] #1465 closed

[2021-02-18 05:23] Repairdesk-QA commented on #1470
Hi again @adigsm07 - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2021-02-18 05:23] #1470 closed

[2021-02-18 05:23] Repairdesk-QA commented on #1463
Hi again @CaseyFMC - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2021-02-18 05:24] #1463 closed

[2021-02-18 05:24] Repairdesk-QA commented on #1462
Hi again @Shane-RepairDesk  - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2021-02-18 05:24] #1462 closed

[2021-02-18 05:25] Repairdesk-QA commented on #1456
Hi again @iTechConnectionsWC  - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2021-02-18 05:25] #1456 closed

[2021-02-18 05:28] #1440 closed

[2021-02-18 05:28] Repairdesk-QA commented on #1434
@Repairdesk-QA FYI

[2021-02-18 05:28] Repairdesk-QA commented on #1431
@Repairdesk-QA FYI

[2021-02-18 05:29] #1397 closed

[2021-02-18 05:30] spenco100 commented on #1477
I apologize! I am not yet situated completely, but another client's project has kept me busy this past week. Can I reopen this ticket this coming Monday (22nd), or should I create a new issue then?

[2021-02-18 05:38] Repairdesk-QA commented on #1477
Hey @spenco100,
I hope you are doing well. Kindly reopen the same ticket & please provide details regarding your concern. Thanks!
Regards,
Ayesha Aamer

[2021-02-18 09:38] istationonline commented on #1467
Still the same we can’t add attachement to the estimate module

Regards

iStation Team

This e-mail may contain confidential and/or privileged information. It is for the exclusive use of the intended recipient(s). If you are not the intended recipient(s), you must not use, distribute, copy or take any action in reliance on it, since to do so is strictly prohibited and may be unlawful. If you have

[2021-02-18 10:53] Repairdesk-QA commented on #1467
Hey @istationonline,
I hope you are doing well.
Definitely strange! I have checked your concern with the product team and it's working fine on your account as well, screenshot attached below. I think there’s some wonky data hung up in your browser. Can you try clearing your cache, cookies, and logout & login again in the software?
If this doesn’t work or you have more questions, just let me know a

[2021-02-18 16:32] KEZSVS commented on #1493
Please stop validating the phone number every time, I want the number to be treated as a string, DO NOT VALIDATE, I also want to format it like I want.

NOT FORCED like now, with no spaces or dashes (-).

I WANT a number like this: 11345-7852-5241

OR like this: 05421 452 000

Understand?

[2021-02-18 16:45] KEZSVS commented on #1493
Please reopen issue

[2021-02-18 18:40] itaha1 commented on #1498
i want there to be special cases for each employee
For example, a customer service employee transfers the device to a maintenance technician
After the repair, the technician transforms the case into a repairer case
The customer service officer transfers the case to ready for delivery
And the technical employee is prevented from changing the status to delivered

In addition, there is a final status

[2021-02-19 01:40] afrahm opened #1499 "SMS Inbox only shows todays SMS"
When viewing the SMS inbox, you can't filter the list view by date as it only shows todays inbox.

[2021-02-19 05:17] Repairdesk-QA commented on #1499
Hey @afrahm,
I hope you are doing well. I have checked your concern on my end and worked fine for me, screenshot attached below. Can you please give it another try and let me know if you still face the same issue. Thanks!
Regards,
Ayesha Aamer

![SMS Inbox filter](https://user-images.githubusercontent.com/39614480/108461032-b2c9d080-729b-11eb-8067-dd109b7b3b52.png)

[2021-02-19 05:30] Repairdesk-QA commented on #1493
Hey @KEZSVS,

[2021-02-19 05:36] Repairdesk-QA commented on #1493
Hey @KEZSVS,
I hope you are doing well. Sorry for the inconvenience. Could you please share your store name & login credentials with me via email at ayesha.aamer@repairdesk.co so that we can look into your concern? Thanks!
Regards,
Ayesha Aamer

[2021-02-19 06:34] afrahm commented on #1499
OK, seems to be working now. However when you click the 'Today, This Week' buttons it loads but doesn't change the listing, you have to click run report again.

[2021-02-19 06:37] Repairdesk-QA commented on #1498
Hey @itaha1,
Ayesha here. I hope you are doing well! Let me assign your query to our business analysis department. And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.
Thanks!

[2021-02-19 07:07] Repairdesk-QA commented on #1499
Hey @afrahm,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up with the main filters in the Inbox section. I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Regards,
Ayesha Aamer

[2021-02-19 07:16] Repairdesk-QA commented on #1499
For internal use:
https://repairdesk.atlassian.net/browse/RB-2678

[2021-02-19 15:54] Shane-RepairDesk opened #1500 "Inquiry Enhancement"
Ability to add part to inventory during workflow if feasible.

[2021-02-19 21:00] JiwanGrewal commented on #1196
Hi,

IS there any update on this?

[2021-02-19 21:02] JiwanGrewal commented on #1206
Hello, is there any update to this ?

[2021-02-19 21:02] JiwanGrewal commented on #1270
Hello, please provide an update on this matter

[2021-02-19 21:04] JiwanGrewal commented on #1189
Hi,

Do you have any update on this?

[2021-02-19 21:06] JiwanGrewal opened #1501 "Ticket and parts repair status"
Hi,

on the ticket dashboard there is no status for ticket itself. we can assign multiple status to parts associated with it but there is no status for ticket, is it something that can be added ?

[2021-02-20 15:30] AMott-2020 opened #1502 "Renewal Tracking"
a way to track renewal of antivirus and to remind customer it is time to come back for renewal preferably 30 days before the expiration date

[2021-02-22 04:51] Uzair-RepairDesk commented on #1501
Hi, @JiwanGrewal  Hope you are doing well, can you please some more detail for better understanding.

Thanks,

[2021-02-22 06:03] Uzair-RepairDesk commented on #1502
Hi @AMott-2020
Thank you for your post. How you currently manage the anti-virus installation services in RepairDesk? Do you manage it under services? It will be appreciated if you can share the workflow. Thanks

[2021-02-22 06:05] Uzair-RepairDesk commented on #1500
Hey @Shane-RepairDesk
Can you please elaborate on this for a better understanding?

[2021-02-22 07:57] Uzair-RepairDesk commented on #1270
Hi @JiwanGrewal @R2Repair
We are working on RepairDesk 2.0 items module and we will allow you to sort the items based on SKU's. Please check the screenshot attached.
![image](https://user-images.githubusercontent.com/22955861/108678446-e7908e80-750c-11eb-9d66-b2a6c404ebd4.png)

By the way, are there any specific criteria of sorting based on SKU's that you are looking for?

[2021-02-22 08:07] Uzair-RepairDesk commented on #1189
Hi @R2Repair @JiwanGrewal
Thank you for your follow up. Unfortunately, we are not able to pick up this request at this moment. We have plan to re-write our supply chain (purchase order) module in RepairDesk 2.0 during Q2 of 2021 and we will be able to introduce the option to update PO template at the same time.
I have already marked it under enhancements of purchase order so we can track it. Thank

[2021-02-22 08:08] Uzair-RepairDesk commented on #1206
Hi @JiwanGrewal
We have already optimized it based on your request. Please review it again and confirm if it works for you. Thanks.

[2021-02-22 08:15] Uzair-RepairDesk commented on #1196
Hi @R2Repair @JiwanGrewal
We have already covered this request in our new tickets UI under RepairDesk 2.0
You will be able to view each device separately with all the details under manage tickets.
Please check the screenshot attached.

I will update you once we go live with RepairDesk 2.0 major release. Thanks

![image](https://user-images.githubusercontent.com/22955861/108680677-fa589280-750f-11e

[2021-02-22 14:59] AMott-2020 commented on #1502
Currently, I am using an excel spreadsheet that has the following columns:
Renewal Date
Brand of Antivirus
Client Name
Term of Antivirus
and Client phone number

I would like to have something built into repairdesk that would remind me of upcoming renewals and allow me to send a email or SMS or both out customers.

[2021-02-22 15:15] Shane-RepairDesk commented on #1500
Will make a video and dm

[2021-02-22 15:32] icare-howell opened #1503 "Print "ticket label"

[2021-02-22 15:35] icare-howell commented on #1503
We sometimes have a need to be able to print a "ticket label" for a task that is not a ticket. Like if we are just diagnosing for just charging labor for an item. These end up as invoices and we can not print labels for an invoice.

[2021-02-22 15:37] icare-howell commented on #1474
YES!! This would be great!!!

[2021-02-22 15:41] icare-howell opened #1504 "Adding items (images) (attachments) to ticket"
I know we can add attachments but it so labor intensive.

1. take the picture
2. email/upload to computer
3. find image
4. attach to ticket

It would be AMAZING if we could have a piece of hardware (like a thermal camera of some sort) connected to the system (similar to our label and receipt printers), that would allow for us to take before and after images of a device AS we do our pre-condition c

[2021-02-22 15:56] AMott-2020 commented on #1503
Love the idea it would be awesome

[2021-02-22 15:57] AMott-2020 commented on #1504
love the idea would be so helpful

[2021-02-22 17:00] RakeshR2 commented on #1206
It still taking long time to add inventory items. Please find the video attached for reference.

https://user-images.githubusercontent.com/79470484/108741624-ea878100-7504-11eb-8738-73501b77fbc4.mp4

[2021-02-22 17:21] AMott-2020 opened #1505 "Battery Health"
A place where we can put battery health and recommended replacement date.

[2021-02-22 20:13] loganvaughtsf opened #1506 "Special Order Parts Editing"
Hello we'd like the ability to remove special order parts or edit them after they've been created.

For instance, we order a palmrest for a laptop that ends up being defective. We've placed that special order part and created a PO from the ticket.

If we want to return that palmrest and order another one, we cannot add the other one to the ticket without having the tax go up again.

If we could re

[2021-02-22 20:22] KEZSVS commented on #1271
Any update on this case?

[2021-02-22 20:22] KEZSVS commented on #1492
Any update on this case?

[2021-02-22 20:29] KEZSVS commented on #1493
![image](https://user-images.githubusercontent.com/69765024/108766091-9d2f0200-754c-11eb-92f0-6763aaec1907.png)

[2021-02-22 20:30] KEZSVS commented on #1493
@Uzair

Kindly see this is the image that went missing previously , Kindly see if this is possible as its very helpful for my business flow.

[2021-02-22 20:33] KEZSVS opened #1507 "New Customer Details"
Please stop validating the phone number every time, I want the number to be treated as a string, DO NOT VALIDATE, I also want to format it like I want.

NOT FORCED like now, with no spaces or dashes (-).

I WANT a number like this: 11345-7852-5241

OR like this: 05421 452 000

Understand?

[2021-02-23 03:44] TechTraders commented on #1485
is there a way to even use API or anything to intergrate with Dymo Connect or anything?

[2021-02-23 06:06] Uzair-RepairDesk commented on #1206
@Repairdesk-QA
Can you please check this?

[2021-02-23 06:17] Repairdesk-QA commented on #1493
@Uzair-RepairDesk FYI

[2021-02-23 07:15] Uzair-RepairDesk commented on #1505
Hi @AMott-2020
You can create custom fields and fill in the data while creating a ticket for each device. You can learn more about custom fields from the following knowledgebase article:-
https://help.repairdesk.co/knowledgebase/articles/1921693-custom-fields

[2021-02-23 07:18] Repairdesk-QA commented on #1206
Sure @Uzair-RepairDesk

[2021-02-23 07:20] Uzair-RepairDesk commented on #1503
Hi @icare-howell
Can you explain your workflow you are using with RepairDesk? How exactly you add diagnosing and labor in a ticket right now with RepairDesk?

[2021-02-23 07:25] Repairdesk-QA commented on #1206
Hey @RakeshR2,
Sure thing! Let me look into this and I'll circle back to you.

Please let me know if I can do anything else for you.

Thanks
Zain

[2021-02-23 11:19] Uzair-RepairDesk commented on #1492
Hi @kezsvs Hope you are doing well, for now, we can not work on the above-requested improvements. But I have noted it down and will keep you posted once we start working on it.

Thanks,

[2021-02-23 11:50] Uzair-RepairDesk commented on #1507
Hi, @KEZSVS  Hope you are doing well,  sorry for the inconvenience but this option is available for the international phone format library but that is now deprecated from the back end and we can not change it now.

Thanks

[2021-02-23 11:50] #1507 closed

[2021-02-23 12:12] #1505 closed

[2021-02-23 12:13] AMott-2020 commented on #1505
ok sounds good thanks for the help

[2021-02-23 12:38] Uzair-RepairDesk commented on #1493
Hi @KEZSVS,
Hope you are doing well. I can understand that it is important to record the phone number in this format and sorry for the inconvenience, however, this option is available for the international phone format library only and the library has been depreciated from the backend. Currently, it is not possible for us to write the custom library for this option. We will certainly consider this

[2021-02-23 12:50] Uzair-RepairDesk commented on #1506
Hi @loganvaughtsf ,
Hope you are doing well.

 We have marked it under enhancements of the Special order module. We can certainly see how suggested improvements would be useful. We are short-staffed because of COVID 19. We have to pick new enhancements based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one however we can consider it in the futur

[2021-02-23 12:55] Uzair-RepairDesk commented on #1500
Thank you for sharing the details @Shane-RepairDesk
As discussed, I will keep this open and marked it under enhancements of the inquiry module so we can pick it up in the future while replicating the inquiries module in RepairDesk 2.0. Thank you for your understanding.

[2021-02-23 14:10] Shane-RepairDesk commented on #1500
Thank you for your time.

On Tue, Feb 23, 2021 at 7:55 AM Muhammad Uzair Shah <
notifications@github.com> wrote:

--
Kind Regards,

Shane Moreland
502-385-0600 Ext 404

[2021-02-23 15:06] icare-howell commented on #1503
Generally labor is incorporated into our cost. However, we do have situations when a customer brings us the part and we only charge them the labor. Or we are just looking at a device for the customer. As they are not sure it is worth the money to fix it.

From: Muhammad Uzair Shah <notifications@github.com>
Sent: Tuesday, February 23, 2021 2:21 AM
To: Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS <R

[2021-02-24 04:07] TechTraders opened #1508 "improvements to POS / cash registers"
can i make a very important improvement suggestion. currently your POS / cash registers are designed to be one employee per register or using the switch user function to switch between employees to process transactions. im my company, our sales staff jump between serving customers all the time so an option would be nice that at the start of any transaction on the POS that the confim pin displays s

[2021-02-24 18:00] FixItWireless opened #1509 "$5 off Coupon on Receipt"
Hi, Id like to offer my customers a $5.00 off on the Receipt or offer them a special offer. However there isn't an option to do so. Can you please add this. Thank you.

[2021-02-24 19:16] moeeztahir opened #1510 "Need Unlocked option on Add payment Popup"
![image](https://user-images.githubusercontent.com/48925720/109048172-ad6eea80-76ce-11eb-80b2-8e0d8883a949.png)

Kindly let me know if this can be done need this importantly.

Thanks

[2021-02-24 19:20] AMott-2020 commented on #1509
yes please

[2021-02-24 23:23] screenfixing opened #1511 "Improve In System Two Way Mail"
Inbox and Outbox should be merged. No reason to not see replies to incoming emails in the interface. They should be threaded as a communication. Bouncing between outbox and inbox is inefficient for my customer service people and technicians.

If an email comes in regarding a ticket (recently closed or currently open) it should be in the ticket. I don't see this occurring in every circumstance.

[2021-02-25 05:45] TechDoctors opened #1512 "Tickets & Invoices disappearing"
I found out today that if you create a ticket through the "Manage Ticket" fill everything out and hit create invoice - BOTH the ticket and new invoice disappears from the Manage pages

Can you guys just have everything save automatically

[2021-02-25 07:09] Uzair-RepairDesk commented on #1508
Hi, @TechTraders Hope you are doing well, We can certainly see how suggested improvements would be useful. We are short-staffed because of COVID 19. We have to pick new enhancements based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one however we can consider it in the future while updating the feature in RepairDesk 2.0.
I really appreciate tha

[2021-02-25 07:19] Uzair-RepairDesk commented on #1510
Hi @moeeztahir  Hope you are doing well, The amount payable automatically comes from the **total of the item added in the invoice**, if we allow a user to change it while adding payment, it will disturb the reports. it is advised that you edit the invoice and add your desired amount against each item so that amount payable is according to your choice and you don't need to change it.
Hope it helps,

[2021-02-25 07:32] Uzair-RepairDesk commented on #1508
Hi @TechTraders ,

Happy to help with this. You can certainly assign multiple employees to a single register with our updated cash register functionality where your employees will be allowed to join the existing shift and enter access pin to confirm the transaction. For more information, please visit the knowledgebase article: http://help.repairdesk.co/knowledgebase/articles/810153-how-to-use-the-

[2021-02-25 07:33] Uzair-RepairDesk commented on #1511
Hi @screenfixing

If an email comes in regarding a ticket (recently closed or currently open) it should be in the ticket. I don't see this occurring in every circumstance.

**Can you please elaborate on this? Can you please share the example where it doesn't work for you?**

[2021-02-25 07:39] Repairdesk-QA commented on #1512
Hey @TechDoctors,
Ayesha here. I hope you are doing well. Could you please try to create a ticket & invoice by following the steps as mentioned in the video attached below? Thanks!
https://drive.google.com/file/d/1_UPYvgYvyv2W8KqN9AynZjlI2-OYgN2s/view

[2021-02-25 07:40] Uzair-RepairDesk commented on #1509
Hi @FixItWireless @AMott-2020

We don't have a coupon functionality in RepairDesk however, we have a "Store Credits" feature available in the RepairDesk that allows you to add store credits for the customer for promotion and you can redeem the store credits for their transaction.
If you add a store credit for the customer, you can add the "Invoice Notes" to display it on the receipt/invoice to off

[2021-02-25 15:41] AMott-2020 opened #1513 "Recalls"
a place to put battery health and recommended replacement date to help increase battery sales.

doesn't just have to be for batteries can be used for general maintenance and things like that

also would like to be able to send an email to the customer when the date is coming up just as a reminder

[2021-02-25 17:09] jphansendk opened #1514 "Nsys integration"
Any plans on integrating the nsys platform in Repairdesk 😁

[2021-02-25 17:17] jphansendk opened #1515 "Problems with trade-in module"
We sometimes have issues with the trade-in module in a weird way. For example: if we need to take back a trade-in device we have placed on a ticket. Sometimes it gets back in stock without problems, other times we have to contact the support to make them get it back in stock through the backend. Yesterday we had a device that by et self had put itself in pending refurbish status. And we had to get

[2021-02-25 21:35] TechDoctors commented on #1512
This does not help us! It is not every time we make a ticket/invoice. It happens randomly. We will make a ticket. It will show up for a while then randomly disappears. This is completely unacceptable to us as it is wasting our time and money! This is an internal issue with your software. Please fix.

Henri Grimm
Owner & Technician
M (805) 201-1211
P (805) 698-1450
E Henri@techdoctors.io
Tech Docto

[2021-02-25 23:10] TechTraders commented on #1508
Hi Uzair, i have looked into your suggestion. one main issue i faced with testing it. can we make it so anyone that joins the shift can end it? i believe that would be an important aspect to this function so that if the original emplyee who opens the shift does not need to be the one who closes the shift.

[2021-02-25 23:29] afrahm opened #1516 "Customer Not listed on Employee Productivity Report"
When looking at Repair listing on Employee Productivity Report it shows as 'Walkin Customer' not the actual customer.

![Annotation 2021-02-26 092755](https://user-images.githubusercontent.com/1414304/109233190-2c6e3b00-7815-11eb-9bb0-3b060a2a848a.png)

[2021-02-26 02:59] afrahm opened #1517 "Loyalty Points not removed when invoice deleted"
When you delete an invoice that a customer earned loyalty points on, it does not remove the loyalty points from the customer, it just deletes the invoice number.
![Annotation 2021-02-26 125743](https://user-images.githubusercontent.com/1414304/109248856-5aae4380-7832-11eb-825c-7c7331619126.png)

[2021-02-26 04:54] Repairdesk-QA commented on #1499
Hey @afrahm,
I hope you are doing well. It looks like this bug has been squashed! Can you please give it another try.
And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.
Regards,
Ayesha Aamer

[2021-02-26 04:56] Uzair-RepairDesk commented on #1513
Hey @AMott-2020
Is this request the same as #1502 ??

[2021-02-26 05:11] Repairdesk-QA commented on #1512
Hey @TechDoctors,
I hope you are doing well. Currently, it's not possible to save the ticket and invoice automatically if the create invoice button from the Manage Tickets is clicked. If you want to save the ticket and invoice while creating kindly follow the steps that I have mentioned above. Thanks!
If you have any questions or if there is anything else with which I may assist, please do not hes

[2021-02-26 05:34] Uzair-RepairDesk commented on #1508
@TechTraders,

Currently if you want your employee to end the shift, simply switch the user and the employee will be allowed to end the shift. At the moment, we won’t be able to make this one, however we can consider it in the future while updating the cash register feature in RepairDesk 2.0.

I really appreciate that you took the time to share your idea. Thanks for helping us make this a platform

[2021-02-26 05:36] TechTraders commented on #1508
Ok thanks for informing me.

From: Muhammad Uzair Shah <notifications@github.com>
Sent: Friday, 26 February 2021 3:34 PM
To: Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS <RepairDesk-BUGS-IMPROVEMENTS@noreply.github.com>
Cc: TechTraders <nathaniel@technologytraders.com.au>; Mention <mention@noreply.github.com>
Subject: Re: [Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS] improvements to POS / cash regi

[2021-02-26 05:36] TechTraders commented on #1508
Ok thanks for letting me know.

[2021-02-26 05:36] #1508 closed

[2021-02-26 05:37] TechTraders commented on #1485
Any update on this question?

[2021-02-26 05:44] Uzair-RepairDesk commented on #1508
You are most welcome!

[2021-02-26 05:48] TechTraders commented on #1240
Hi there, has there been any updates on this enhancment?

[2021-02-26 05:51] #1256 closed

[2021-02-26 05:51] TechTraders commented on #1256
Seems to work fine now

[2021-02-26 05:54] TechTraders commented on #1265
Here is a video link for this issue
https://drive.google.com/file/d/1_SeQ5_vsxB38QBjpomT1S045oWuxHQHz/view

[2021-02-26 05:56] TechTraders commented on #1282
Hi Uzair, just wanting to follow up that this function will be added to Repair desk 2.0?

[2021-02-26 05:57] TechTraders commented on #1354
Hi Uzair, just checking on whether this enhancement will be implemented in the future?

[2021-02-26 06:01] Uzair-RepairDesk commented on #1485
Hi @TechTraders
I am not sure if you are aware that we have introduced direct printer integration with "[DYMO Labelwriter 450](https://app.repairdesk.co/index.php?r=Hardwaresettings/dymoLabelConfiguration)". Please check if you can use it.

You can learn more about it from the following knowledgebase article:-
https://help.repairdesk.co/knowledgebase/articles/1143649-dymo-labelwriter-450-setup

[2021-02-26 06:03] Uzair-RepairDesk commented on #1265
@Repairdesk-QA can you please check this?

[2021-02-26 06:09] Uzair-RepairDesk commented on #1282
Hey @TechTraders
I have already marked the labels with enhancements of PO so we can check the feasibility in RD2.0 during updates of the supply chain module (purchase ordering).

[2021-02-26 06:12] Uzair-RepairDesk commented on #1354
Hey @TechTraders
I have already marked the labels with an enhancement. We can check the feasibility in RD2.0 during updates of the items module for the multi-store environment.

[2021-02-26 06:17] Repairdesk-QA commented on #1516
Hey @afrahm,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up. I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Regards,
Ayesha Aamer

[2021-02-26 06:20] Repairdesk-QA commented on #1516
For internal use:
https://repairdesk.atlassian.net/browse/RB-2723

[2021-02-26 06:32] Repairdesk-QA commented on #1515
Hey @jphansendk,
Ayesha here. Can you please elaborate on your concern? How you exactly use the trade-in module at this point in time? Will be happy to advise you once you share additional details.
Thanks!

[2021-02-26 07:05] Uzair-RepairDesk commented on #1240
Hi @TechTraders,

Currently our team is working on RD 2.0. We will certainly look for the possibility to add the manual sync option for reorder level across the selected stores in the 2.0 version.

Thanks for helping us make this a better platform.

[2021-02-26 08:30] jphansendk commented on #1515
Sure. Our workflow is as follows. We receive an order via API on a repair from our client (Insurance agency). We add a matching refurbished device to the ticket from the trade-in module and ship this device to the customer. When the customer receives the refurbished device they return the damaged device to us in the same box. Normally we then add the damaged device to the trade-in module and make

[2021-02-26 10:18] Repairdesk-QA commented on #1517
Hey @afrahm,

Thank you for bringing this to our attention! But in our current workflow if you want loyalty points to remove for the customer which he earned against some invoice you have to refund that invoice. On deleting the invoice it didn't revert back loyalty points for the customer.

Hope it helps and Please let me know if I can do anything else for you.

Thanks,
Zain

[2021-02-26 10:37] afrahm commented on #1517
That is still a bug.. as sometimes we delete an invoice that is created incorrectly. Rather than having to refund it then delete it.

[2021-02-26 10:45] Repairdesk-QA commented on #1517
Hey @afrahm,

Thanks for the update on this. Your reported issue has been assigned to the development team and hopefully, it will be fixed soon.

Please let me know if I can do anything else for you.

Thanks,
Zain

[2021-02-26 10:51] Repairdesk-QA commented on #1517
Jira link : https://repairdesk.atlassian.net/browse/RB-2725

[2021-02-26 11:45] Repairdesk-QA commented on #1517
Hey @afrahm,

I just discussed this with my development team and it seems it is not possible in our current workflow. Sorry for the inconvenience.

Please let me know if there anything else I can help you with.

Thanks,
Zain

[2021-02-26 11:56] afrahm commented on #1517
How is it not possible?

So you're happy to let our customers get free loyalty points and cost
repair shops money...

On Fri, 26 Feb 2021, 9:45 pm Repairdesk-QA, <notifications@github.com>
wrote:

[2021-02-26 12:42] Repairdesk-QA commented on #1517
Hey @afrahm,

Sorry for the inconvenience, As loyalty points are associated with the invoice and they revert back only once you refund that invoice (not on the deletion of invoice). However, here is the workaround for deleting the loyalty points given to the customer when invoice is created.

**After deletion of Invoice**

1. Open that customer in point of sale.
2. Click on the small + sign on the

[2021-02-26 14:04] AMott-2020 commented on #1513
no #1502 is for tracking renewals I guess they could kinda work together but they are different

[2021-02-26 18:53] hitman1986 opened #1518 "Suggestion"
Is there a way to hide some item category of employees from the pos?
And show it to others on the same store

[2021-02-28 07:25] waynza opened #1519 "Quickbooks Integration"
We have been using quickbooks for a few Months.
Invoices in repairdesk , do not sync with quickbooks.
All we get is "in queue" on repairdesk, it says it will sync in 10 minutes when I try sync manually.

Any help would be great.

[2021-03-01 06:57] Uzair-RepairDesk commented on #1513
Hi @AMott-2020
Thank you for your response. Can you explain how exactly it all works and how you are managing it with RepairDesk right now?

[2021-03-01 07:24] Repairdesk-QA commented on #1519
Hey @waynza,
Ayesha here. I hope you are doing well. Can you please connect with Danish our support agent on live chat so that he can look into the issue you are facing in detail. Thanks!

[2021-03-01 08:43] waynza commented on #1519
Hi Ayesha,

We are waiting for Danish to get back to us regarding the problem.

Thank you
Wayne Susman
Mobile: 0481 748 961

[2021-03-01 09:53] Repairdesk-QA commented on #1519
Thanks for sharing your number @waynza, Danish would be calling you by tomorrow after 3 pm AEST.
Regards,
Ayesha

[2021-03-01 22:06] screenfixing opened #1520 "Add ticket column for "Last updated""
I love created date and due date but I am really often curious about the last time the ticket was updated.

For example....

![image](https://user-images.githubusercontent.com/60197797/109565424-71fa6480-7ab0-11eb-880b-93df575b8488.png)

![image](https://user-images.githubusercontent.com/60197797/109565382-5f802b00-7ab0-11eb-80c6-30f89b6b8533.png)

[2021-03-01 22:06] screenfixing commented on #1520
These examples are from RepairShopr.

[2021-03-01 23:26] CommCentral1 opened #1521 "15 Digit IMEI requirement an issue .."
Many phones we get in have different serial types, ie: an MEID (CDMA) number which is more than 15 digits.
We need this to be a flexible field.  Or at the very least, you need to incorporate and MEID to IMEI converter
so that when we import MEID's on an XL spreadsheet, RD converts it to an IMEI.

I'm not sure what the formula is, but you can find a converter here:   https://www.imei.info/meid

Gor

[2021-03-02 06:05] Uzair-RepairDesk commented on #1520
Hi @Screenfixing
Hope you are doing well.

We have marked it under enhancements of the Ticket module. We can certainly see how suggested improvements would be useful. We are short-staffed because of COVID 19. We have to pick new enhancements based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one however we can consider it in the future while upd

[2021-03-02 06:10] Uzair-RepairDesk commented on #1521
Hi @CommCentral1
Hope you are doing well.

 We can certainly see how suggested improvements would be useful. We are short-staffed because of COVID 19. We have to pick new enhancements based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one however we can consider it in the future while updating this section in RepairDesk 2.0.
I really appreciate

[2021-03-02 07:33] Uzair-RepairDesk commented on #1521
Hi, @CommCentral1
Hope you are doing well,  can you please explain your workflow with screenshots so that we can get a better understanding.

Thanks,

[2021-03-02 08:00] ZombiePhoneRepair opened #1522 "Lack of integration for Germany"
I need an integration for a telephony system for Germany as an example https://www.placetel.de/

Then an integration for my webshop at Ionos https://www.ionos.de/

[2021-03-02 21:02] CommCentral1 commented on #1521
Hello,

First, we have the RD trade-in template spreadsheet in google dox.

Then we take the invoice from our supplier (image #1 below) and paste the appropriate columns into the RD template.
In this case, it would be columns E, G, H, I, and L

The problem is, with CDMA phones, our suppliers show MEID’s (as seen in image #2).

Currently we are having to convert them one by one BEFORE import, since

[2021-03-03 04:43] Uzair-RepairDesk commented on #1521
Hi @CommCentral1  Hope you are doing well, thanks for the quick response, however, i am not able to find the attached images as described. Can you please check?

Thanks,

[2021-03-03 17:20] jphansendk commented on #1514
Nothing?

[2021-03-04 05:03] Uzair-RepairDesk commented on #1514
Hi @jphansendk
Thank you for your follow-up. I have marked the labels.
Currently, we don't have a plan to integrate with new platforms as our current focus is the stability and the new version i.e RepairDesk2.0.
However, can you please explain what exactly you want to achieve with NSYS for our better understanding? Thanks

[2021-03-04 18:30] TechDoctors opened #1523 "Google Contacts integration with customer database"
Can you guys create an integration for google contacts to be synced with RepairDesk customers?

[2021-03-04 19:44] onebitetechnology opened #1524 "Inventory Label Offset depending on where it is printed from"
When I print labels from a GRN, they are cut off along the top. When I print from the inventory screen, they work out as I've set them up in the template.

I am using MacOS with Dymo 450 printer.

![IMG_3419](https://user-images.githubusercontent.com/80067352/110020851-49a87b00-7ce7-11eb-8c81-93ba60a94693.jpeg)

[2021-03-04 19:59] #1524 closed

[2021-03-04 20:00] onebitetechnology commented on #1524
Seems it was an issue within MacOS handling the print job. Assigned it a paper size and reset all my templates, and they are printing consistently in all areas.

[2021-03-04 20:26] mattwood84 opened #1525 "Adding a fee to thermal receipts/invoices"
My credit card processor pushes a 3.99% service fee to the customer for card transactions.  I need to be able to add that fee to the thermal receipt and invoice for card transactions.  It would need to be a separate line on the receipt.

[2021-03-04 20:32] mattwood84 commented on #1525
I need it look like this print off from the terminal.
![Uploading 9D61DA13-E0F6-41DD-80D0-C368796E4430.jpeg…]()

[2021-03-04 20:36] mattwood84 commented on #1525
![5C2CBD13-0CB3-44DA-B5F6-1F24207DACB8](https://user-images.githubusercontent.com/80069229/110026947-59cc5480-7cff-11eb-9813-2276f34b8da3.jpeg)

[2021-03-05 06:43] Uzair-RepairDesk commented on #1525
Hi @mattwood84
Are you using specific integration with RepairDesk for payment processing? How exactly service fee applies to the transactions? Once you answer, I will be able to give a better response to your post. Thanks.

[2021-03-05 06:58] Uzair-RepairDesk commented on #1523
Hi @TechDoctors
Hope you are doing good. We are going to introduce "Zapier Integration" that will allow you to connect "google contacts" zap.  You can have all your customers go into your Google Contacts automatically from RepairDesk.

If you would like to assist with beta testing please register your interest here:
https://docs.google.com/forms/d/e/1FAIpQLSdM3AiRGlLa6ve5YKioi68pnkuCau6vM4gJYFJ0c7

[2021-03-05 16:08] mattwood84 commented on #1525
No, it’s a standalone processor

[2021-03-06 18:11] onebitetechnology opened #1526 "Add Warranty period to Trade-In items"
Trade-In devices include a warranty, but there is no where to attach this information. It would be great to have a field, and then to have it show up on the invoice similar to inventory items that show their warranty period.

Thank you!

[2021-03-07 16:52] onebitetechnology commented on #1307
I would also appreciate is the self check-in widget would list "Serial/IMEI" for the field, or give the option in the preferences to choose one. I only take in serial numbers for MacBook repair, and my customers never fill it in because they don't know what IMEI is.

[2021-03-08 06:28] Uzair-RepairDesk commented on #1484
@Repairdesk-QA
Can you update the status of this? Thanks

[2021-03-08 18:52] AMott-2020 commented on #1513
i don't really have a way to manage it now but it would work like you put the current battery health and then determined on that % it recommends a date for replacement and it has a popup for you to send an email to the customer.

[2021-03-09 09:11] jphansendk commented on #1514
Sure. NSYS has a diagnostics tool.. Would be an extremely nice feature to scan a BuyBack/Trade-in device with NSYS Diagnostics, and after automatically add the device to the Trade-in stock with Device name, IMEI, color, size, grade, and so on.. Maybe even connect it with your BuyBack module to automatically add the price of the device? This would save hours of work. This could be used for diagnost

[2021-03-09 21:08] DarrinCart opened #1528 "Website imported items from Repairdesk"
Can imported items to my website from repairdesk be sized smaller to fit more items on a page ? Or at least more than what is currently being displayed?

https://www.myphonedr.com/start-repair

[2021-03-10 20:03] onebitetechnology opened #1529 "Device Images Missing at first in POS"
When navigating through the repair section to create a ticket in the POS, the first time you click on the device category, the device images are missing. You can then click on "Device" in the navigation and the images show up. See linked vid:

https://youtu.be/pL82BsdMgwg

[2021-03-11 06:01] Uzair-RepairDesk commented on #1528
Hi, @DarrinCart  Hope you are doing well, can you please share more detail for better understanding.

Thanks,

[2021-03-11 06:06] DarrinCart commented on #1528
Hello Muhammad,

I got it resolved changing properties within squarespace.. But thank you for looking into this.

Darrin
________________________________
From: Muhammad Uzair Shah ***@***.***>
Sent: Thursday, March 11, 2021 1:01 AM
To: Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS ***@***.***>
Cc: Rollyn Cartwight ***@***.***>; Mention ***@***.***>
Subject: Re: [Repair-DeskPOS/RepairDesk-BUGS-IMPROV

[2021-03-11 06:34] Repairdesk-QA commented on #1529
Hey @onebitetechnology,
Ayesha here. Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks!

[2021-03-11 06:55] Repairdesk-QA commented on #1529
Hey @onebitetechnology,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up. I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks,
Ayesha Aamer

[2021-03-11 06:59] Repairdesk-QA commented on #1529
For Internal Use:
https://repairdesk.atlassian.net/browse/RB-2820

[2021-03-11 07:04] #1528 closed

[2021-03-11 10:53] Adski01 opened #1530 "Customer Salutation"
I'm surprised that the customer does not have a Salutation option available to set for each customer?  Can this be added?

I understand that sometimes the customer does not require one, but it would be good to have this as an option when required.

[2021-03-11 12:06] Repairdesk-QA commented on #1516
Hey @afrahm,
I hope you are doing well. I believe this issue has been fixed in the recent update. Can you give it another try?
If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.
Thanks!
Ayesha Aamer

[2021-03-11 12:19] Repairdesk-QA commented on #1529
Hey @onebitetechnology,
I hope you are doing well. I believe this issue has been fixed in the recent update. Can you give it another try?
If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.
Thanks,
Ayesha Aamer

[2021-03-11 14:24] onebitetechnology commented on #1529
Confirmed it has been fixed :)

[2021-03-11 14:24] #1529 closed

[2021-03-12 10:42] KEZSVS commented on #1271
Why i can't see any update on this?

[2021-03-15 12:00] Adski01 commented on #1365
I think we want this too (if I'm understanding your request correctly).  We would like to see Sales Accounts categories split out into deeper more granular level of mapping.

[2021-03-15 13:54] MmiddletonSC opened #1531 "Feature Request - Estimates Save Button"
Often times at my company we start an Estimate for a client, and we come back to it at a different time. I think there should be a save button added so that you can save the estimate and then have the option to send it to the client once it is completed. Or add something so the estimate would need to get approval before sending to client.

[2021-03-15 13:59] MmiddletonSC opened #1532 "Feature Request - Multiple Taxes plus show on invoice"
This feature is more towards to help my company consolidate to one invoicing system. We have VoIP services we resell, and with that comes multiple taxes that are having to be paid. If we would to use Repair Desk for all of our invoicing needs we would need to be able to have multiple taxes show up for invoicing. If example is needed let me know I can show you.

[2021-03-15 14:03] MmiddletonSC opened #1533 "Invoice numbering issue"
At the current moment if a tech "creates" a new invoice and then closes that invoice without actually creating anything that invoice number gets used and cannot use it. This throws off the invoice numbering and leaves gaps at times. Is there a way that we could fix this or be able to fix the numbering? I tried to manually use the number that was skipped but it would not be accepted.

[2021-03-15 20:33] KEZSVS opened #1534 "Edit contact information"
Hi,

Please if you can sorted this ASAP it's making a lot of problem when i change any detail of delete any detail from a customer is delete another information Terrible

Please see the video bellow

https://www.awesomescreenshot.com/video/3069877?key=5823e234c301ccbc4f3e18dd74b65194

[2021-03-16 04:34] Uzair-RepairDesk commented on #1531
Hi, @MmiddletonSC  Hope you are doing well. we have already added functionality through which you can send the estimate for approval to the customer.
For more detail, you can review the Knowledge base article.
https://help.repairdesk.co/knowledgebase/articles/1174753-how-can-i-create-and-manage-an-estimate

Hope it helps.

Thanks,

[2021-03-16 04:37] Uzair-RepairDesk commented on #1532
Hi, @MmiddletonSC  Hope you are doing well. Can you share more details so that I can get a better understanding?

Thankx

[2021-03-16 07:04] Zain-javed commented on #1534
Hey @KEZSVS,

Sorry for the inconvenience, your reported issue has been assigned to the developer and it will be fixed soon.

Please let me know if there anything else with which I may assist.

Thanks,
Zain

[Jira](https://repairdesk.atlassian.net/browse/RB-2837)

[2021-03-16 07:33] Repairdesk-QA commented on #1533
Hey @MmiddletonSC,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up. I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information! Thanks.
Regards,
Ayesha Aamer

[2021-03-16 07:39] Repairdesk-QA commented on #1533
For internal use:
https://repairdesk.atlassian.net/browse/RB-2839

[2021-03-16 10:38] Repairdesk-QA commented on #1533
Hey @MmiddletonSC,
Hope you are doing well. As I have discussed your reported issue with our development team they told me that this is our system behavior that we are logging unsaved tickets and invoices too, so we have to save the sequence with those invoices as well.
And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.
Thanks,
Ayesha Aamer

[2021-03-16 11:41] MmiddletonSC commented on #1531
At the current moment it sends it automatically once the estimate is created. I was saying to have a save button or a draft button so it doesn't send right away. We are an IT company and for our big jobs where we are buying and installing a lot of equipment we usually will start and estimate and update it as we research products if we don't have it in stock. Having the save button or draft button

[2021-03-16 13:20] AMott-2020 opened #1535 "Device Passcode"
unable to type letters in passcode box
can you make it where you can type both letters and numbers for customers device passcodes?

[2021-03-17 08:16] Repairdesk-QA commented on #1535
Hey @AMott-2020,
Ayesha here. I hope you are doing well. Can you please elaborate on your concern? Which screen you are referring to? Will be happy to advise you once you share additional details. Thanks!

[2021-03-17 08:41] #1512 closed

[2021-03-17 08:45] #1533 closed

[2021-03-17 08:48] Repairdesk-QA commented on #1519
Hey @waynza,
I hope you are doing well. Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Regards,
Ayesha

[2021-03-17 08:50] Repairdesk-QA commented on #1516
Hi @afrahm,
Ayesha here. Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up! Thanks!

[2021-03-17 08:50] #1516 closed

[2021-03-17 08:58] Repairdesk-QA commented on #1499
Hey @afrahm,
Ayesha here. I hope you are doing well. Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up! Thanks!

[2021-03-17 08:59] #1499 closed

[2021-03-17 09:14] Repairdesk-QA commented on #1489
Hey @technofuse,
Ayesha here. Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up! Thanks!

[2021-03-17 09:30] waynza commented on #1519
Hello,

Your team were working on the problem. Hopefully it will be sorted out.

Regards

[2021-03-17 09:39] Repairdesk-QA commented on #1467
Hey @istationonline,
Ayesha here. I hope you are doing well. Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up. Thanks!

[2021-03-17 09:39] #1467 closed

[2021-03-17 14:40] MmiddletonSC opened #1536 "Missing Invoice"
Is there a way we can find a deleted invoice. I have the original printed so I know it was created but it is not in repair desk. My techs say they did not delete it, but we cannot find it. When I look up the Customer it says there are no invoices for him. Thank you for the help.

[2021-03-17 15:11] techm89 opened #1537 "Add photo attachment to diagnostic comment"
Would it be possible to add the option to put a picture with diagnostic notes. Sometimes we need to add image to show customer the issue.

[2021-03-17 15:33] AMott-2020 commented on #1535
it is on the POS screen when you're creating a ticket and it asks for a passcode for the device but it only allows numbers no letters.

[2021-03-17 15:38] jphansendk opened #1538 "Add trade-in devices via Refurbishment Batch"
I would really like to be able to add trade-in devices via "Refurbishment Batch" in Manage Refurbishment. Doesn't make sense not to be able to do that? Right now I have 75 refurbishment tickets I need to transfer 1 by 1 to another store + I need to create tickets on new devices to refurbish.

[2021-03-17 16:03] KEZSVS commented on #1534
Hi

It's two days over and i can't see any Update on this please

[2021-03-18 04:34] Uzair-RepairDesk commented on #1538
Hi @jphansendk
Hope you are doing well.

We have marked it under enhancements of the Trade-In module. We can certainly see how suggested improvements would be useful. We are short-staffed because of COVID 19. We have to pick new enhancements based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one however we can consider it in the future while upd

[2021-03-18 06:24] Uzair-RepairDesk commented on #1536
Hi @MmiddletonSC
If you are sure about the invoice, can you please go to the Reports > Employee Reports > Employee Activity Log Report and apply the filter with the criteria " Delete Invoice". It will give you insight if an invoice is deleted from your account. You will also be able to find the user who deleted it.

Please check the screenshot attached.

![uzairshahRepairDesk-EmployeeActivityLog-S

[2021-03-18 06:29] Uzair-RepairDesk commented on #1537
Hi @techm89

Currently, you cannot add a picture while entering a diagnostic note however RepairDesk allows you to upload "Pre/Post Images" or "Attachments" with the ticket.
You can go to the specific ticket and upload the attachment or pre-repair images along with the reference of the diagnostic note.
You can learn more about it from the following knowledgebase articles:-

https://help.repairdesk

[2021-03-18 06:32] Uzair-RepairDesk commented on #1535
Hi @AMott-2020
It certainly allows you to enter letters in the passcode/pattern field on POS. Please check the screenshot attached.
Can you please share details along with a screenshot / a quick video if it is not working for you?

![image](https://user-images.githubusercontent.com/22955861/111583052-9eff8480-87dd-11eb-892f-f9108be823b1.png)

[2021-03-18 08:01] Zain-javed commented on #1534
Hey @KEZSVS,

Your reported issue has been fixed and hopefully, it will be lived today.

I'll update you once the release is live.

Thanks,
Zain

[2021-03-18 13:05] Zain-javed commented on #1534
Hey @KEZSVS,

The release is live and your reported issue has been fixed, can you please verify at your end and update us.

Thanks for your patience and is there anything else I can help you with.

Thanks,
Zain

[2021-03-18 14:57] AMott-2020 commented on #1535
it seems to be working now if I have the problem again ill upload a picture of the issue.

[2021-03-18 20:33] dhauke89 opened #1539 "Ability to restrict customer created leads/appointments from current or next day appointments."
Essentially, I would like to see the ability to restrict the appointment calendar integration from booking same or next day appointments.
For example, all appointments must be made 48 hours in advance of the desired time.

[2021-03-19 12:50] MmiddletonSC commented on #1532
For our VoIP services we are required to pay several state, local, and federal taxes and fees.  We use zoho invoice to bill these because we it displays the information for the client to see. Attached is a copy of one of our invoices so you could get an idea of what we are currently using.
[INV-10537 (1).pdf](https://github.com/Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS/files/6171167/INV-10537.1.

[2021-03-20 17:27] screenfixing opened #1540 "Allow deletion of Special Order Parts"
When a special order part is created it is not able to be deleted. This throws off profitability and taxes. We need to be able to delete special order parts, not just archive them.

[2021-03-20 17:34] screenfixing opened #1541 "Allow modification of retail price of special order part."
We had an instance where the special order part was put in and a GRN and PO were created. We needed to update/add the retail cost of the part back in to the special order part but we were unable to modify the retail price.

We can I guess modify the unit cost, but that does not impact tax. This impacts the final reporting for sales tax and other things as far as profitability. Retail cost should b

[2021-03-20 17:39] screenfixing opened #1542 "Allow permission change to make retail price required on inventory/special order parts"
We need to be able to make retail price required as we can't always count on everyone to make sure all the fields are filled out. If we have "Charge tax on replacement part retail price" selected then we have to have a retail price. If we can't edit the retail price after creation. I need this to be a required field.

[2021-03-20 17:41] screenfixing opened #1543 "Show tax on unit cost if no retail field is present. (Special Order Part/Inventory) - Sales Tax Report"
In the case a special order part is put in and has a unit cost. We should at a minimum show tax on the unit cost on the sales tax report.

Currently if no retail price is present on an item, it will not show in the sales tax report because we (technically) did not charge tax on the item when "Charge tax on replacement part retail price" is selected.

[2021-03-20 17:43] screenfixing commented on #1011
Would love to see this moved up again. The ability to schedule reports would save me a ton of time.

[2021-03-20 17:53] screenfixing commented on #1511
Seems to be working in most cases, I am not sure what was goin on with that.

Ignore the not working part.

Add enhancement:

Primarily I want the Inbox/Outbox threaded like, well this interface. You don't have to go to Outbox to see what you sent me and Inbox to see what I sent you.

[2021-03-22 04:08] simonchunk opened #1544 "Ticket Counter Real Estate Waste"
![aa1](https://user-images.githubusercontent.com/652173/111939440-61be2e00-8b20-11eb-821d-c9814798042c.jpeg)

[2021-03-22 06:05] Uzair-RepairDesk commented on #1541
Hi, @screenfixing  Hope you are doing well, while creating a special order you can add the retail price as shown in the image attached below.
![image](https://user-images.githubusercontent.com/22955861/111946898-388ca600-8afe-11eb-80ba-ede03d58f2b1.png)
whereas the option to edit part retail price is not possible for now.
We have marked it under enhancements of the Special order module. We can cer

[2021-03-22 06:08] Uzair-RepairDesk commented on #1542
Hi, @screenfixing Hope you are doing well. We have marked it under enhancements of the Special order module. We can certainly see how suggested improvements would be useful. We are short-staffed because of COVID 19. We have to pick new enhancements based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one however we can consider it in the future wh

[2021-03-22 06:16] Uzair-RepairDesk commented on #1543
Hi, @screenfixing  Hope you are doing well, I have marked this as the enhancement, it issue will be solved once we mark the retail price for special order as mandatory.

Thanks.

[2021-03-22 07:26] Uzair-RepairDesk commented on #1544
Hi @simonchunk  Hope you are doing well. can you please share more information so that I can better understand your request?

Or if you want to limit the ticket status on your ticket counter then there is an option in the ticket counter setting.
![image](https://user-images.githubusercontent.com/22955861/111954163-7e9b3700-8b09-11eb-9d5b-f56643b6b75b.png)
For more details here is the link below.
h

[2021-03-22 07:47] simonchunk commented on #1544
The entire top area is pointless. At a minimum, it should be much smaller in size. It takes up half the screen on PC and almost 2/3 on the iPad.

There is no use for see how many of each status we have as we can already see the status for each ticket

[2021-03-22 07:49] Uzair-RepairDesk commented on #1544
Hi @simonchunk  you can disable the ticket status from the ticket counter setting. but if you do, the ticket will also disappear with that specific status.

[2021-03-22 07:53] simonchunk commented on #1544
No, you've missed the point entirely. I want all the status available, but why would I want a list of the types of status at the top?

I already have the tickets listed, with the current status. What benefit are the giant numbers telling me how many I have for each status? My techs now need to scroll constantly because the numbers take up so much of the screen space

[2021-03-22 07:56] Uzair-RepairDesk commented on #1544
Got it, I have to share your request with the development team and check either it's possible or not, I will keep you posted or ask Danish to update you once I get the update from development team.

[2021-03-22 07:59] simonchunk commented on #1544
Fantastic. Here's a picture of the ipad for reference to see how inconvenient it is...

![1616399947974672316580475733407](https://user-images.githubusercontent.com/652173/111957908-b83b6480-8b40-11eb-8713-f930ac0be33a.jpg)

[2021-03-22 16:23] Adski01 opened #1545 "Discount Reason field - make mandatory or provide option setting"
When selling an item, there is a discount option for each item.  When setting discount for that item, there is a field where you can enter a reason for providing a discount.  I suggest that it should be possible to set the system so this field should be mandatory or not.

[2021-03-24 07:51] #1535 closed

[2021-03-24 07:52] #1534 closed

[2021-03-24 07:54] Uzair-RepairDesk commented on #1545
Hi @Adski01
Hope you are doing well.

We have marked it under enhancements. We can certainly see how suggested improvements would be useful. We are short-staffed because of COVID 19. We have to pick new enhancements based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one however we can consider it in the future while updating this feature .
I rea

[2021-03-24 11:48] Adski01 commented on #1545
Ok thanks Humza.  Do you have any idea of where this sits on the priority list?  Likely timeframe for it to be developed or similar?

[2021-03-24 19:18] techm89 opened #1546 "Feature Suggestion: Database of IMEI/Serial number of each device"
Don't know if it's planned in 2.0 but it would be incredible if there was an option to store each device with IMEI or S/N in a database so when we enter the IMEI of device into a new ticket it gives us some kind of history about the device (notes taken of previous repairs, or repairs done). It's especially useful if we notice a problem with the device that the customer don't want to repair (eg: to

[2021-03-25 04:51] Uzair-RepairDesk commented on #1545
Hi, @Adski01Hope you are doing well.
I cannot give you a specific timeline right now. I will keep you posted when we prioritize this particular request.
Thanks for helping us make this a platform you'll depend on.

Thanks,
Humza

[2021-03-25 18:39] jphansendk opened #1547 "Ticket status bug?"
I just discovered a "bug" - kindda anyway. We just changed the spelling in a ticket status. For some reason the tickets with that status dont get updated with the new spell corrected status.. and we are not able to search these tickets by status anymore. The only way is to extract the excel file of all the tickets and via that list find them and give them the "new" status.. Hope this makes sense..

[2021-03-25 19:31] AMott-2020 opened #1548 "outgoing email"
out going email keeps popping up failure to send email when send customer a estimate but when I go to my outbox it sent it but I click on it to view the estimate and it says page not found 404

[2021-03-26 12:02] Zain-javed commented on #1548
Hey @AMott-2020,

Sorry for the inconvenience, Your reported issue has been assigned to the development team and hopefully, it will be fixed early next week.

Thanks,
Zain

[jira](https://repairdesk.atlassian.net/browse/RB-2860)

[2021-03-29 05:38] Repairdesk-QA commented on #1547
Hey @jphansendk,
Ayesha here. Hope you are doing well. I have checked your concern but its not a bug but the current functionality of the system i.e. if you change the spellings or delete any custom created ticket status, the tickets related to that status will not get associated with the updated ticket status/any other status & user have to manually update the ticket status against each and every

[2021-03-29 11:25] jphansendk commented on #1547
So how can we change a ton of status that needs to be corrected in one or another way?

[2021-03-30 09:49] Adski01 opened #1549 "Assign/Link a purchase order to a customer"
We would like to be able to assign or link purchase order items to customers

[2021-03-30 10:55] RYSKWAN opened #1550 "Print receipt after payment"
It would be great to be able to print receipt after customer comes to pick up their job.

Managing Tickets > Ticket Action > Add Payment

Should prompt if you would like to print receipt after payment is made, otherwise the user need go back and forth with the action button

A smoother workflow :)

[2021-03-30 10:58] RYSKWAN opened #1551 "Display deposit paid on Manage Ticket"
Display a column for 'Amount Paid' in Manage Tickets.

[2021-03-30 11:26] AMott-2020 opened #1552 "label for customer devices"
I need to be able to make a label with the customers name and number from the POS screen before creating a ticket or estimate to be able to keep track of devices.

[2021-03-30 11:39] Repairdesk-QA commented on #1549
Hye @Adski01,
I hope you are doing well. Can you please elaborate on your concern? Will be happy to advise you once you share additional details.
Thanks!
Ayesha Aamer

[2021-03-30 11:52] Uzair-RepairDesk commented on #1552
Hi, @AMott-2020 Hope you are doing well, there is no option to print a label before creating a ticket or estiamte. or you can provide more detail on this.

Thanks
Humza

[2021-03-30 11:56] AMott-2020 commented on #1552
yeah i know there isn't an option I'm saying I would like for one to be integrated into RepairDesk

[2021-03-30 12:09] Uzair-RepairDesk commented on #1551
Hi @RYSKWAN  Hope you are doing well, can you please share more details as we have already an option where you can view the total paid amount on the edit ticket screen as shown in the image attached.
![image](https://user-images.githubusercontent.com/22955861/112986207-a8dc9c80-917a-11eb-9b6a-7fd56f302d64.png)

Hope it helps,

Thanks
Humza

[2021-03-30 12:42] RYSKWAN commented on #1551
sorry, should have wrote on the dashboard
![image](https://user-images.githubusercontent.com/81623396/112990229-8ade5e80-91b1-11eb-9a2f-dfe0d25d508d.png)

[2021-03-30 13:01] Zain-javed commented on #1548
Hey @AMott-2020,

Your reported issue has been fixed can you please check on your end and let us know.

Thanks,
Zain

[2021-03-31 05:37] #1517 closed

[2021-03-31 05:38] #1489 closed

[2021-03-31 09:05] adigsm07 opened #1553 "Search tickets with discount."
Hello Guys!
Sometimes we make discounts to our clients. But the problem is when we want to identify what tickets have discounts. Is any option filter for this? Or can I make other steps to see what percent from my tickets have discounts?

Thanks in advance!

[2021-03-31 09:44] Adski01 commented on #1549
What would be great is another column added to the purchase order detail to assign specific items to a customer.  This helps us to streamline our processes of delivering the products to customers, or using them to complete our tickets and get the work done faster for our customers.  Does that make sense?  If not, can we do a screenshare?

[2021-03-31 10:09] Uzair-RepairDesk commented on #1550
Hi @RYSKWAN
Thank you for your suggestion. We are improving the workflow in our new version RepairDesk2.0 that will take you to the direct POS screen if you want to check out and make the payment rather than directly adding the payment from the ticket screen.

Once you make the payment, you will be able to directly print the receipt from POS. You can have a look at the screenshot attached below fr

[2021-03-31 10:10] Uzair-RepairDesk commented on #1553
Hi @adigsm07
Currently, it is not possible to filter the tickets with discounts. You can open the ticket to find the value of the discount (if any).
I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.

Regards,
Uzair

[2021-03-31 10:13] Uzair-RepairDesk commented on #1453
Hi @adigsm07
We have added your request to the product backlog under the enhancements of the sub-categories module. We can check the feasibility to prioritize it in the future for RepairDesk2.0. Thanks

Thanks for helping us make this a platform you'll depend on.

Regards,
Uzair

[2021-03-31 10:22] ZombiePhoneRepair opened #1555 "Missing Action"
Unfortunately there are no actions yet, only a trigger I need an action when a customer calls and the customer data is displayed at repairdesk similar to ringcentral

[2021-03-31 10:26] Uzair-RepairDesk commented on #1549
Hi @Adski01

We have special order functionality available in RepairDesk that allows you to create a special purchase order for out-of-stock or new items based on the specific customer request. You can order an item or part in a special order.
Once you do that, PO is automatically linked with special order. You can also track it from the "Special Ordered Items" listing. Please check the screenshot

[2021-03-31 10:35] RYSKWAN commented on #1550
Hi Uzair!

I would be happy to be part of your beta testing. it was actually alot more appealing and looks simpler to use compared to the Web based pos.

the business name is Blacktown Watch Express

Thankyou Uzair!

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Product Team - RepairDesk ***@***.***>
Sent: Wednesday, March 31, 2021 9:09:23 PM
To: Repair-De

[2021-03-31 10:38] Repairdesk-QA commented on #1547
Hey @jphansendk,
Ayesha here. I hope you are doing well. Can you please connect with one of our support agent on live chat so that he can look into the issue you are facing in detail? Thanks!

[2021-03-31 10:50] Uzair-RepairDesk commented on #1555
similar to #1554
Closing this one

[2021-03-31 10:50] #1555 closed

[2021-04-01 15:19] TechTraders opened #1557 "Cash Register System Enhancement."

[2021-04-02 10:36] Uzair-RepairDesk commented on #1557
Hi @TechTraders,

Currently it is not possible for the user to end the shift who has joined it. However, we will certainly look for the possibility to add this improvement when revamping our cash register module in RD 2.0.

Hope this helps. Let me know if there are any further questions related to this. Thanks.

[2021-04-02 19:45] screenfixing opened #1558 "Create a Round Up for <<Blank>> Donation Button"
Add a button that allows an untaxed amount of money to be added to the total of the transaction for a donation.

We want to do a program where we collect donations for something, like maybe Right to Repair, Cancer research, something. I would like to do Round Up Donations, for example.

Customer Pays $20.01 and opts to Round Up for Repair. During the payment of the invoice a pop up reminds the csr

[2021-04-05 11:03] danmurari opened #1559 "Adding store location in manage inventory"
Team

Can we able to add one more search option as location or engineer as filter option while searching stocks . Please see picture

thanks
Dan
![image](https://user-images.githubusercontent.com/64082678/113567680-2a449b00-9663-11eb-8827-be533f674d26.jpg)

[2021-04-06 04:28] Uzair-RepairDesk commented on #1559
Hey @danmurari
Hope you are doing well, are you referring to the physical location search filter In inventory?

Thanks
Humza Mehmood

[2021-04-06 04:35] danmurari commented on #1559
Yes please

On Tue, 6 Apr 2021 at 4:29 PM, Product Team - RepairDesk <
***@***.***> wrote:

--
Thanks for your time.

Kind Regards,

*Dan Murari*

[2021-04-06 04:50] Uzair-RepairDesk commented on #1559
Hey, @danmurariphysical location filter is already available under select criteria. image is attached for reference.
![image](https://user-images.githubusercontent.com/22955861/113660357-4e34ca80-96bd-11eb-8626-e5040f95b17f.png)

Is there anything else I can help you with? Feel free to share your feedback.

Thanks
Humza Mehmood

[2021-04-06 05:55] danmurari commented on #1559
Thank you.

Kind Regards,

*Dan Murari*

On Tue, Apr 6, 2021 at 4:50 PM Product Team - RepairDesk <
***@***.***> wrote:

[2021-04-06 05:59] #1559 closed

[2021-04-06 06:19] adigsm07 opened #1560 "Appointment calendar - doesn't work."
Hello, yesterday I reported a problem with the appointment calendar and I didn't received an answer in this way.
I recorded my screen to show the problem.

Link with the problem --> https://youtu.be/S3SsF0MT0Dw

Many clients call us because they can't make an appointment on our website.

I talked yesterday on WhatsApp group support but nothing happened.

thanks...

I'm very disappointed because th

[2021-04-06 06:44] adigsm07 opened #1561 "How to calculate a fix commission per repair/operation."
Hello guys,

We want to put a fixed commission for a specific category of repair.
For example:  Changing battery: 22$,  Changing display 40$.
How to show this on POS?  This commission is not the final price, is just for our technicians

If you want more details, just feel free to ask me.

[2021-04-06 12:33] afrahm opened #1562 "Sales Summary Report"
When viewing the sales summary report, it shows the total sales before tax, but when looking at the COGS it includes tax. Can this be fixed to be no tax?

[2021-04-06 13:05] Repairdesk-QA commented on #1560
Hey @adigsm07,
I hope you are doing well. Sorry for the inconvenience you have faced. I have discussed your concern with the support team for a better understanding of it. Danish from support told me that he has guided you with some steps. Kindly follow them and let me know if you still face the same issue, would be more than happy to help. Thanks!
Regards,
Ayesha Aamer

[2021-04-07 07:24] Uzair-RepairDesk commented on #1561
Hey, @adigsm07
 Hope you are doing well, currently we don't have the option to add commission against repair catagoery, you need to give specific commission while creating each service.  However, we will certainly look for the possibility to add this improvement when revamping our Commission module in RD 2.0.

Thanks,
Humza Mehmood

[2021-04-07 11:57] adigsm07 commented on #1561
Can you show me how to put a specific commission on each service?

Hey, @adigsm07
Hope you are doing well, currently we don't have the option to add commission against repair catagoery, **you need to give specific commission while creating each service**. However, we will certainly look for the possibility to add this improvement when revamping our Commission module in RD 2.0.

[2021-04-08 04:20] Uzair-RepairDesk commented on #1561
Hey, @adigsm07

Once you click on add service there is an option to activate commission once you activate commission you have the option to give either percentage or amount commission.
![image](https://user-images.githubusercontent.com/22955861/113967916-79e5bb00-984b-11eb-82c3-a18b8dcbce48.png)

Hope this helps.
Humza Mehmood

[2021-04-08 05:51] Repairdesk-QA commented on #1562
Hey @afrahm,
Ayesha here. I hope you are doing well. Can you please elaborate on your concern? As I have checked on my account and it's showing COGS correct value without including tax in it, as you can see in the screenshots attached below.
Thanks!

![Sales Summary report 1](https://user-images.githubusercontent.com/39614480/113975009-4b221180-9858-11eb-96c5-4d9e51d6f645.png)
![Sales Summary repo

[2021-04-08 07:05] adigsm07 commented on #1561
Oke and this commission where will be visible?

[2021-04-09 00:48] TechTraders commented on #1557
This i a really important change to us as our staff are split shift sometimes and if it comes to a point that the POS gets logged out for some reason if the person who opened the shift is not there to log back in then we cannot end that shift.... i would appeciate it if this could be fast tracked. even if you just give the capability for the superuser or manager to override the shift so it can be

[2021-04-09 12:34] Adski01 opened #1563 "Xero Integration - automatically populate account on invoices"
At the moment, the RepairDesk-Xero integration creates invoices in Xero once they are created in RepairDesk.  It creates the invoices but does not populate the account field automatically.    We would like this field to automatically populate based on the account integration chosen for the various types of Sales accounts.

![image](https://user-images.githubusercontent.com/80407173/114180408-108fa

[2021-04-09 14:11] creator72 opened #1564 "Some invoices paid via stripe have unpaid status"
Some of my invoices in "invoices" list have the status "unpaid" but when you view the invoice its marked as "paid". no matter what I do, in the list view it remains status "unpaid".

[2021-04-12 05:41] Uzair-RepairDesk commented on #1561
Hi @adigsm07  You can view employee commission in commission reports.

you need to go to **Reports section** => **Employee reports** and then you can view commission reports.
![image](https://user-images.githubusercontent.com/22955861/114345703-a1a28f00-9b7b-11eb-971b-0722ae4b440c.png)

Hope it helps,
Thanks,
Humza Mehmood

[2021-04-12 11:39] jphansendk opened #1565 "WooCommerce integration to use PNG images as well.."
I just discovered with the support team that RepairDesk doesn't support PNG images. That would be more than useful when you have the integration running with WooCommerce. Our site uses PNG because transparency is a part of the design of the site. So at the moment, we need to reupload the device images in PNG to WordPress to have the images working.. The conversion RepairDesk use makes a REALLY ugl

[2021-04-13 12:15] Repairdesk-QA commented on #1564
Hey @creator72,
I hope you are doing well. I believe this issue has been fixed in the recent update. Can you give it another try?
Plus the fix will only work on the newly created invoices, for the already created ones you just need to edit the invoice and hit the save button without changing anything & the system will automatically update the invoice status as paid on the Manage Invoice Listing pa

[2021-04-14 08:05] #1548 closed

[2021-04-14 08:06] Repairdesk-QA commented on #1562
Hi again @afrahm - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2021-04-14 08:06] #1562 closed

[2021-04-14 08:07] Repairdesk-QA commented on #1549
Hi again @Adski01 - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2021-04-14 08:07] #1549 closed

[2021-04-14 08:59] afrahm commented on #1562
All our parts/accessories are marked as inclusive of tax, as that is
default for Australia, so all our cost prices are entered inclusive of tax.

Regards,

[image: Kixup iPhone Repairs] <https://htmlsig.com/t/000001C2V70S>

Andrew Frahm / General Manager
***@***.***

Kixup Repairs
www.kixup.com.au

[image: Facebook]  <http://facebook.com/kixuprepairs> [image: Instagram]
<http://instagram.com/kixup

[2021-04-14 11:35] Uzair-RepairDesk commented on #1565
Hi @jphansendk
Thank you for the suggestion. I discussed this with our technical team. There are security concerns attached with the PNG images. We will not be able to allow PNG images with the items to support with WooCommerce.
Hope you can understand.

[2021-04-14 11:35] #1565 closed

[2021-04-14 14:42] jphansendk commented on #1565
Ooh ok. Didn't know PNG could be a risk? Is there an alternative if I want transparency in images?

[2021-04-15 14:30] onebitetechnology commented on #1560
Don't forget to join the facebook group: https://www.facebook.com/groups/1566154750347714

Have you double checked/repasted the widget code in the back end of your website? Try creating a new blank page with the code, see if it shows up.

[2021-04-15 14:50] onebitetechnology opened #1566 "PO Organization for 2.0"
- On the PO screen, it would be nice to see all open/partially received POs by default, not just “today”. I have open POs generally for 1-2 weeks while we wait for goods to arrive.

[2021-04-15 14:56] onebitetechnology opened #1567 "Allow Freight/fee spreading on item cost - 2.0"
- In PO or GRA screen, allow a field to spread the cost of freight/fees among the received items

In RepairShopr, there is a field in the PO to allow you to add "Shipping Price". The amount entered here is spread equally amongst the cost of the items being received.

Ideally, the amount would be spread and calculated according to the item value. Ex: A $400 logic board should get appropriate value

[2021-04-15 15:03] JessicaSOS opened #1568 "Picture in Wiki"
Hello,
It is not possible for me to add an image in the wiki whether it is in .jpg or in .png. Despite the fact that I click on "import to server", the image does not upload.
<img width="933" alt="image impossible 111" src="https://user-images.githubusercontent.com/40500094/114891692-17a43180-9dda-11eb-93a6-04b9fb8cdb48.png">
<img width="939" alt="image impossible" src="https://user-images.githubu

[2021-04-15 15:09] onebitetechnology opened #1569 "Notification when receiving inventory to be used in a ticket - 2.0"
- Have a popup notification when receiving inventory that is slated for a ticket

Ex: Out of stock on a battery for a MacBook Pro
- Create a Part Order for the item
- Submit the PO/order product from vendor
- Shipment is received

When receiving the shipment, after the GRN is saved, have a popup notification that says "This battery is required for Ticket #1234".

[2021-04-15 15:12] onebitetechnology opened #1570 "Receiving inventory/GRA using a scanner"
Scenario: I have a PO with 10 items, and several items are a quantity of 1, several items are more than 1.

I receive the shipment, unbox it, create the GRA, and then start scanning items.

Right now, RepairDesk automatically defaults all the items to "1" received when you start scanning. It should default to 0, until the item is scanned.

The problem would be if the vendor forgot to include an it

[2021-04-15 15:14] onebitetechnology opened #1571 "Receiving Items on a GRA that aren't on the PO/GRA"
- When scanning onto a GRA, have an audible feedback if product is not on the PO

Scenario:
- Vendor shipped wrong item
- When you can the item onto your GRA to receive it, I would love to have the system give an audible error noise so that you can catch the fact that the item wasn't scanned/received. This is useful in a larger warehouse/large shipment situation where the receiver isn't looking at

[2021-04-15 17:42] onebitetechnology opened #1572 "Sales Summary Report Improvement"
Every morning I run the current Sales Summary Report to see my profit from the previous day so I can do my banking.

Since I'm still new to the workflow of inventory items & ticket items on a repair ticket, I find myself sometimes forgetting to add an item being used as part of a service. I'm sure new staff will make this mistake as well.

Right now, there doesn't seem to be a report that shows al

[2021-04-15 17:43] onebitetechnology opened #1573 "Seperate Customer Tickets from Refurb Tickets"
- In the ticket section, separate (or give the option to separate) customer work, and refurbishment tickets.

I sometimes sit on refurbishment inventory for weeks while I'm busy with customer jobs. It would be nice to separate those tickets form the customer work.

[2021-04-15 21:23] sebhyork opened #1574 "iPad app"
iPad app keeps on freezing when trying to add a ticket
when trying to take a signature its grayed out
if I close a ticket and forgot to take a signature why it won't allow me to re open it and get the signature

[2021-04-15 21:25] sebhyork opened #1575 "portal upgrades"
can the expenses code and the expenses have the option to delete and edit for the admin user only instead of calling the back end

Can the repair categories have the option to re arrange them according to the business priority

[2021-04-16 04:10] sebhyork opened #1576 "New Updates"
is there any way we can connect apple business chatting with your platform instead of using zendesk?
I am a partner with apple and we have api for many apple systems, currently we are using siebel from oracle. I want to be able to connect gsx parts ordering with your system like how we connected mobile Sentrix as an example

is there any way you can add tasks on the system where admin can set task

[2021-04-16 05:19] Uzair-RepairDesk commented on #1571
Hi @onebitetechnology
Thank you for your suggestion. I am not sure about audible error however we can certainly check the feasibility to display text error. I have logged it under enhancements.

[2021-04-16 05:22] Uzair-RepairDesk commented on #1572
Hi @onebitetechnology
Thank you for the suggestion. By the way, did you try "Parts Consumption Report", or "Ticket Items Report" to track the parts with the ticket?

[2021-04-16 14:53] onebitetechnology commented on #1572
Ah excellent! I'd prefer to see it in a single report (I'll leave that to your capable hands to squeeze that info into a readable format hehe). The Ticket Items Report will help me make sure I don't miss any parts. Looks like I haven't missed any yet, so that's good!

[2021-04-16 14:53] #1572 closed

[2021-04-16 14:57] onebitetechnology commented on #1571
Currently there is a text error, but a noise (like the little dingle when a new lead comes in) is what I'm hoping for :)

[2021-04-18 00:52] DavidReyes27 opened #1577 "Buy Back Module"
Under Buy Back module
-add the phone number section so the phone number can be entered in USA format +1 otherwise customer can't receive automatic SMS.
-Be Able to deactivate the Icloud Agreement for Apple Devices because not all the devices purchased are apple (or be able to select to which manufacturer apply it) example if a customer is selling us a Samsung device need to Agree icloud Agreement

[2021-04-19 07:37] Repairdesk-QA commented on #1568
Hey @JessicaSOS,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up. I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks,
Ayesha

[2021-04-19 07:54] Repairdesk-QA commented on #1568
For internal use:
https://repairdesk.atlassian.net/browse/RB-3048

[2021-04-19 08:23] Repairdesk-QA commented on #1560
Hey @onebitetechnology,
Ayesha here. I hope you are doing well. Are you still facing this issue?

[2021-04-19 10:30] adigsm07 commented on #1560
Hello! The problem was resolved. Thanks for asking!

[2021-04-19 12:29] Repairdesk-QA commented on #1568
Hey @JessicaSOS,
I hope you are doing well. Could you please just rename the jpg image that you are trying to upload & then give it another try, as the same scenario worked for me? Let me know if it works for you?
Thanks,
Ayesha Aamer

[2021-04-19 15:45] JessicaSOS commented on #1568
I try to rename the file and import it again ... but without success.

[2021-04-20 07:55] Repairdesk-QA commented on #1568
Hey @JessicaSOS,
Hope you are doing well. Definitely strange! Could you please share any of the two images that you are trying to upload, so that I can further investigate the reported issue with our development team?
Thanks,
Ayesha Aamer

[2021-04-20 08:02] Repairdesk-QA commented on #1564
Hye @creator72,
Ayesha here. I hope you are doing well. Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up. Thanks!

[2021-04-20 08:03] Repairdesk-QA commented on #1574
Hey @sebhyork !

Can you please tell which IOS version of IPAD you are using is it (12,13 or 14)?

Thanks,
Zain

[2021-04-20 08:06] Repairdesk-QA commented on #1560
Hey @adigsm07,
That's great! And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.
Thanks,
Ayesha Aamer

[2021-04-20 08:07] #1560 closed

[2021-04-20 12:02] adigsm07 commented on #1561
This is a single way to put a commission?  In Integrations, I see an option to put commission. Percentage or fix commission. But we can't put a fixed commission on all operations because they are not equal. Changing display with changing the button.
There is not a future update to answer with RD 2.0... this is a bug... All responses now are with "maybe will be added on RD2.0". This is not a soluti

[2021-04-20 12:16] Uzair-RepairDesk commented on #1561
@Repairdesk-QA
Can you please check this?

[2021-04-20 14:17] sebhyork commented on #1574
The current 14 update

________________________________
From: Repairdesk-QA ***@***.***>
Sent: Tuesday, April 20, 2021 3:04:11 AM
To: Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS ***@***.***>
Cc: sebhyork ***@***.***>; Mention ***@***.***>
Subject: Re: [Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS] iPad app (#1574)

Hey @sebhyork<https://github.com/sebhyork> !

Can you please tell which IOS version

[2021-04-20 15:20] JessicaSOS commented on #1568
Here is the picture
![ipad 129](https://user-images.githubusercontent.com/40500094/115421975-772f8200-a1ca-11eb-8828-bc3d4a85dd3e.jpg)