[2019-08-08 10:53] usmanalikhan93 commented on #897
Hi @rajeshdungrani

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-08-08 10:53] #897 closed

[2019-08-08 14:14] rajeshdungrani commented on #897
Thank you for quick response. It is working fine now

[2019-08-09 01:51] hitman1986 commented on #894
And show parts for same phone model,and then show more parts for others model,thanks for assist.

[2019-08-09 02:08] hitman1986 opened #899 "Please add (assigned to) in report by sales item"
Please add (assigned to) in report by sales item in repair ticket section in Criteria filter, To know the performance of each employee and compare them In net profit.

[2019-08-09 02:17] hitman1986 opened #900 "Easy to use po"
When you make purchase order first select supplier and then select item by search name,
Can you when tybing the name of item just show item from this supplier and skiping other item ?

[2019-08-09 11:03] rajeshdungrani opened #901 "All defined Status Summary on Dashboard"
You have made a wonder Dashboard when we open Manage Ticket. I have a suggestion, if we could have all defined status update there intead of just Open, On Hold, Closed.
For e.g
1. Under Repair - 9
2. Repaired - 10
3. Customer Approval - 5
4. Oustseide Repair - 10
5. Parts Pending - 5
 and likewise all status

![image](https://user-images.githubusercontent.com/12892217/62774762-68bb3880-bac3-11e9-8

[2019-08-09 16:28] Omar1892 commented on #884
I have already sent you an email.

[2019-08-09 16:30] Omar1892 commented on #889
I spoke to Fahad and he's going to set up my inventory method as WAC thats the reason why it wasn't doing what I wanted. Thank you

[2019-08-09 16:32] Omar1892 commented on #893
Sorry I could not get back to you we were really busy at the store. But the issue still there. The pictures I showed you its doing what I had told you. Im going to share my credentials by email and take a look at it because it could be a bud in my account. Thank you.

[2019-08-10 09:46] hitman1986 opened #902 "Lock ticket manualy"
I know about lock ticket after invoice created, but i need lock ticket manualy by select one ticket or many ticket and press new button (lock ticket), this option new feauture, can you add it?

[2019-08-12 15:15] JessicaSOS commented on #702
tested and fixed

[2019-08-12 16:10] Repair-Desk opened #903 "Purchase Order - Improvement In add line item feature"
I was wondering if you could study to make a change. When I am entering a purchase order and the item does not exist, there is an option to create a new product. But when created it does NOT appear on the purchase order line. I have to look for it and since there are many items with the same name (let's say LCD screen) and I cannot look for device model, there is no way I can find it. I have to op

[2019-08-12 16:12] Repair-Desk opened #904 "Option to view empty slot while booking a repair job"
Another thing I was having trouble with and want you to study if we can have a different view when entering a new repair ticket and press the task due date and time to show the calendar view with actual tickets and select a free window instead of just a monthly calendar and a watch. By doing that we will know which free windows we have and we will stop receiving emails saying task past due date. I

[2019-08-12 16:14] rajeshdungrani commented on #864
Any update?

[2019-08-12 21:11] JaviPlana opened #905 "Add Payment on Action Button"
I'd like you to consider to add another action (Add Payment) to the Action Button when listing ticket so, once found the ticket once the customer comes to collect their device, we can immediately do the check out. Instead of editing the ticket, make invoice, add payment as we are doing now. Unless we're doing it wrong.

[2019-08-12 21:17] JaviPlana commented on #572
We usually charge $xx for a deposit if we need to buy some part we do not use to work with. This is a ticket and the customer pays in advance. Sometimes if the part takes long the customer wants to cancel. This ticket has already been paid and an invoice created. To cancel we need to delete the invoice and then the ticket. Is there a way to cancel all automatically?

[2019-08-13 05:05] rajeshdungrani commented on #896
Any update

[2019-08-14 17:31] #889 closed

[2019-08-14 17:56] Omar1892 opened #906 "Purchase order duplicating orders"
Hello,

I was checking the re-order report for phones and I notice that it said that I have 6 phones coming in and we only order 3 device. The system is duplicating the purchase orders. But when I went to the purchase order to fix the error the 2nd order is missing and isn't showing. I checked the purchased order to see if the quantities are correct and they are. I took some screen shots of the is

[2019-08-16 04:29] Uzair-RepairDesk commented on #896
Hi @rajeshdungrani

Thank you for your follow up. We are just back to work after religious holidays.

Currently, date filter works according to the created date rather than the data when a specific part is associated as we recommend to auto bundle the parts with repair service when you create a ticket.

However, I will discuss it in-house with the development team if it's possible to also apply da

[2019-08-16 04:49] Uzair-RepairDesk commented on #905
Hi @JaviPlana

Thank you for your suggestion. Currently, it's important to create an invoice with a ticket before you add a payment. We have a few validations on manage tickets listing page so we have options to "Make Invoice" and "Add Payment" available on Add/Edit ticket page.

We give a quick option to checkout to create an invoice from an existing ticket on "Point of Sale" screen. You can eith

[2019-08-16 05:17] usmanalikhan93 commented on #906
Hey @Omar1892

Usman Ali here, Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2019-08-16 10:39] Uzair-RepairDesk commented on #864
Hi @rajeshdungrani
Thank you for your follow up. We are already discussing it in-house to check the speed impact of search if we give priority to a device in search results. I will update you soon on this.

[2019-08-16 10:53] Uzair-RepairDesk commented on #572
Hi @JaviPlana
Thank you for sharing the scenario.
I will recommend the following solution in this case rather than deleting an invoice.

1: You should create a ticket and invoice by checking out on POS
2: If it takes a longer time and customer wants to cancel, you should refund the invoice
https://repairdesk.uservoice.com/knowledgebase/articles/895113-how-can-i-process-refund-exchange-in-repairdes

[2019-08-16 11:01] Uzair-RepairDesk commented on #884
Thanks. I got your following email:-
**Hello, its actually happening on all my tickets. So if you go to one of the tickets that has already been Repaired and Collected and send a receipt or invoice by email it won't arrive. You can try any ticket in any status.**

I have checked it at my end and its working for me in all the scenarios. It will be appreciated if you can share a screenshot/short vid

[2019-08-16 11:10] Uzair-RepairDesk commented on #901
Hi @rajeshdungrani

I really appreciate that you took the time to share your idea.

I can certainly see how the suggested improvements would be useful. Currently, the idea to keep the dashboard insights simple so you can have a quick overview of open closed or on-hold tickets. There might be alot of custom statuses and we cannot exceed it with a specific limit on a dashboard area.

l advise you to

[2019-08-16 11:14] Uzair-RepairDesk commented on #898
Hi @rajeshdungrani

Thank you for sharing your idea. Currently, there could be multiple tickets and invoices linked with a specific customer. With a small team and a big roadmap, we have to pick new features that are feasible for us and based on the value they’ll add to the most possible users.

At the moment, we won’t be able to add it in RepairDesk. However, we can consider after we update our c

[2019-08-16 11:58] Uzair-RepairDesk commented on #904
Great Idea @Repair-Desk. However, we need the following pre-requisites to add this functionality:-

1: Currently we don't have a set schedule functionality (time slots/windows) for repair tickets. We can make it on Due Date basis but it may conflict as due date might change every time.
2: We also need to add functionality to add "Limit" of repair job in a particular timeslot. It will allow for avo

[2019-08-16 12:16] Uzair-RepairDesk commented on #900
Hey @hitman1986

Thank you for your suggestion. Currently, we allow users to select a specific supplier but we give an option to select any specific item for a purchase order. The reason is that you might purchase an item from different suppliers. We have "Multiple Supplier SKU" and "Serialized Inventory" feature available for the same reason.

https://repairdesk.uservoice.com/knowledgebase/articl

[2019-08-16 12:16] #900 closed

[2019-08-16 12:18] Uzair-RepairDesk commented on #902
Thank you for sharing your idea. It seems a great option. However, there could be a possibility that you need to update the ticket later on. How do you deal with such a situation?

[2019-08-16 12:23] Uzair-RepairDesk commented on #895
Hi @BG-RLTech

Thank you for sharing your idea. However, currently, default status values are linked with specific actions along with default color codes.
We will not be able to give an option to update the color code of default status.

You can disable the default status if you don't want to use them and add "Custom" statuses with the specific type and colors of your choice. Hope it helps.

Thank

[2019-08-16 12:23] #895 closed

[2019-08-17 02:07] hitman1986 commented on #902
Simple, lock the ticket is only by the manager and given within the permissions of the employees and the manager can only modify the ticket or open it to the employee to modify it and then the manager closes it

[2019-08-17 02:10] hitman1986 commented on #902
This is done by adding the Ticket Lock or Lock Tickets button as selected from the Ticket Manager menu

[2019-08-17 02:30] hitman1986 opened #907 "Issue with barcode reader in ipad app"
When connect barcode scanner to ipad by bluetooth, keyboard it hidden , problem of this issue when i select in keyboard language arabic and connect barcode scaner and read any barcode on ipad app ,read barcode number exambl : (٤٢٦٣٢٦) And on this version does not read the application and show me a message there is no item or ticket
Just accept numper same: (426326).
The solution to this problem is

[2019-08-17 02:34] hitman1986 commented on #907
It is also better to always show the keyboard and not hide it when the barcode Reader connected with the iPad

[2019-08-19 15:28] JessicaSOS commented on #734
Not fixed yet!

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579> 418 999.1579 |  <tel:4506771579> 450 677.1579 |  <tel:18559991579> 1 855 999.1579
 <mailto:jessica@sosphone.ca> jessica@sosphone.ca
 <https://sosphone.ca/?utm_source=signature&utm_medium=urlsite&utm_content=sosphone.ca&utm_campaign=outils> sosphone.ca
5375, boul. Guillaume Couture, Lévis, G6V 4Z3
2750, 1re Avenue, Limoil

[2019-08-19 15:28] JessicaSOS commented on #734
not fixed yet

[2019-08-19 15:30] JessicaSOS commented on #730
Yes we still have problems with this.

[2019-08-19 15:36] JessicaSOS commented on #882
It's not settled. When an employee goes into "manage tickets", he sees only those who were created today. All other open tickets do not appear.

Moreover, on the attachment that you sent me, we only see the notes that I think are in "progress" status. it is impossible for us to have only 10 open tickets. We are over 80 at any time in Limoilou.

In addition, when I click on the "repair" over the to

[2019-08-19 15:47] JessicaSOS commented on #858
I confirmed with my staff and they told me that the problem was fixed.
Thank you

[2019-08-19 16:51] JessicaSOS opened #908 "Ticket search"
Can not search for a ticket by entering a date or status. No results are displayed.
<img width="938" alt="ticket search" src="https://user-images.githubusercontent.com/40500094/63283754-0d860480-c280-11e9-8d11-6c48e0d1b482.png">

--
french:
Impossible de rechercher un ticket en entant une date ou un statut. Aucun résultat ne s'affiche.

[2019-08-19 16:54] JessicaSOS commented on #891
This happens to us occasionally, I can not tell you how to reproduce it. What I can tell you is that it happens when we are in the POS.

[2019-08-19 17:11] JessicaSOS opened #909 "History in ticket"
A ticket from the Limoilou shop has had activities in the history. Then, the ticket was transferred to Lévis. There were also activities in Lévis. Following this, the ticket returned to the Limoilou shop. However, we can not view the notes, system activity, history or other activity that was done in Lévis during the transfer. Although it was made in another shop, since it is a ticket originally fr

[2019-08-20 05:21] usmanalikhan93 commented on #882
Ok let me check again.

[2019-08-20 06:19] usmanalikhan93 commented on #908
Hi @JessicaSOS

I have checked this on your account and it looks like it is working fine. You have to apply created date filter for 5th May 2019 to 29th Jun 2019 and you will see the tickets but there is no repaired tickets in that. You are not fetching data because you are also applying due filter 5th May 2019 to 29th Jun 2019 and none of the ticket has this date. Please check again and do let me

[2019-08-20 06:34] usmanalikhan93 commented on #907
Hi @hitman1986

Can you please share the video to Danish ? So we can check it accordingly.

[2019-08-20 07:38] usmanalikhan93 commented on #909
Hi @JessicaSOS

I have noted down you request. We have to check the feasibility of this task with developer. I will update you once I get more information on this task.

For internal use:
https://repairdesk.atlassian.net/browse/RB-391

[2019-08-20 07:41] usmanalikhan93 commented on #891
For internal use:
https://repairdesk.atlassian.net/browse/RB-392

[2019-08-20 07:49] usmanalikhan93 commented on #882
HI @JessicaSOS

I have checked again in detail and everything is working fine. I have checked in your account and it displays correct result on dashboard. Can you please again verify at your end and let me know if you are still facing any issue.

[2019-08-20 13:02] Uzair-RepairDesk commented on #902
I really appreciate that you took the time to share your feedback on this.

I can certainly see how the suggested improvements would be useful. With a comprehensive roadmap and stability of the platform in mind, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work during this Quarter, however, I have marked it

[2019-08-20 13:36] hitman1986 commented on #907
Im sended video to mr danish

[2019-08-20 14:08] JessicaSOS commented on #908
If I use Search Filter and select "creation date" from May to July 2019 and click on search (without any other filters), I only have 4 results. As if in 3 months I would have created 4 results only.
<img width="944" alt="4 result" src="https://user-images.githubusercontent.com/40500094/63354429-69a96100-c332-11e9-8cb3-5ae66b4f7cf1.png">

[2019-08-20 17:21] JessicaSOS commented on #882
I do not know why you do not have this problem anymore. Never mind, we still see thousands of tickets on our side. I do not know why this problem is still present on our side.

Looking at your image, I realize that even on your side, the problem is not corrected in full. By hiding the closed ticket display (which does not work on our side yet), you have hidden the open ticket display as well. It i

[2019-08-21 04:29] #893 closed

[2019-08-21 07:01] usmanalikhan93 commented on #908
Hi @JessicaSOS

I have checked in you account and found that you have enabled these triggers that's why it is showing you less results while search.
![Jessica_902](https://user-images.githubusercontent.com/39614480/63409868-72219a80-c40b-11e9-8929-53eeeea7e481.png)

[2019-08-21 07:05] jpcodev opened #910 "WooCommerce Product Sync with Variants for Serialised Inventory"
Hey RepairDesk Team !

I'm currently building our online store for our shop and have ran into a few issues with variant & attribute information syncing to WooCommerce.

Our Variant Info needs to sync with the WooCommerce server so we can accurately sell & track our inventory.

You can see from the screen shot below that our retail price is directly related to the specific serial number, color, siz

[2019-08-21 07:23] jpcodev opened #911 "Quick Improvement - Additional Identifier for Devices"
Hey Team !

I was hoping that you guys could code in an additional information field or control group for the individual "devices" back end. Currently the only way to " look up " devices through our point of sale is by attaching model numbers to the end of the Device Name. We work with iPhones & Macbook Computers that have multiple model numbers for the same devices.

<img width="739" alt="Screen

[2019-08-21 12:59] Uzair-RepairDesk commented on #911
**Hi John @jpcodev ,**

Thank you for your suggestion. I can certainly see how suggested improvements would be useful in your case.

Currently, our device workflow is dependent on the Manufacturer. If it's really important for you to log the "Model" of the device, you are using the right way with respect to the data required for the ticket for now.
We will not be able to add additional identifier

[2019-08-21 15:09] JessicaSOS commented on #908
These triggers were not changed and it worked well before. Closed notes never appeared. The problem is open tickets; "waiting for part", "waiting on customer", "waiting for received", "in progress" and others ...

[2019-08-22 01:45] hitman1986 commented on #907
It would be great!  If you have supported the barcode reader via Bluetooth properly will facilitate the work on the iPad application

[2019-08-22 11:45] Uzair-RepairDesk commented on #910
Hi John @jpcodev

Thank you for your post. Currently, Serialized inventory of RepairDesk is not integrated with WooCommerce. There is the following reason behind this:-

- You can manage variants of product/item by creating a serial of an item and WooCommerce doesn't allow to manage serials in default functionality. You can only create direct variants in WooCommerce.

I will still discuss it with

[2019-08-22 12:36] usmanalikhan93 commented on #909
Hi @JessicaSOS

Your reported issue has been fixed. Please verify at your end and do let us know if you have any question.

Thanks
Usman Ali

[2019-08-22 12:36] #909 closed

[2019-08-23 07:39] rajeshdungrani opened #912 "Status Summary report"
Need to have a status summary report. This will help to check the no of tickets lying in each status bucket on any given time.
I think currently I do not see any such report

[2019-08-26 01:28] hitman1986 opened #913 "issue withe epson printer"
im sended report of issue and video to mr danish from since 1 month, please slove it

[2019-08-26 04:21] usmanalikhan93 commented on #913
Hi @hitman1986

Let me check with Danish and he will update you further.

[2019-08-26 10:06] rajeshdungrani opened #914 "Unrepaired Devices Status"
Currently when we do checkout, the final status comes is "Repaired and Collected". Now there are cases where devices are Unrepaired and Collected. How do we get this status

[2019-08-26 16:00] Omar1892 opened #915 "Serialized Merchandise issue"
Hello,

Serialized merchandise once selected to be used on a repair, isn't been marked as used on the inventory section. The quantity goes down to what we have instock but the serial number(s) won't get marked as used and they remain as if they were in stock. I have take a video of the issue. I will send it via chat to one fo the reps. Or if theirs an email where I can send it to let me know. Than

[2019-08-27 00:12] jpcodev opened #916 "Quick Improvement - Default Repair Time Due Adjustable"
Hey Team,

When we are checking customers in for repairs through our point of sale system the time due is set by default to 1 hour.

<img width="280" alt="Screen Shot 2019-08-27 at 10 04 54 am" src="https://user-images.githubusercontent.com/36390402/63731402-b224c980-c8b2-11e9-8d77-93f3f8372cec.png">

Our mobile repair division has a default of 2 1/2 hours for repair time due. In your back end mod

[2019-08-27 04:25] usmanalikhan93 commented on #915
Hi @Omar1892

I hope you are doing well. Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

You can send the video on fahad@repairdesk.co.

[2019-08-27 05:11] usmanalikhan93 commented on #907
Hi @hitman1986

This issue has been fixed in our new release. Once our release goes live, I will update you and you can download it.

Thanks
Usman Ali

[2019-08-27 05:23] offrocks opened #917 "Exporting employee productivity report"
Wondering if we could export employee productivity report. Also, we've more than 30 stores and could consolidate employee productivity for all the stores. thanks

[2019-08-27 05:23] #917 closed

[2019-08-27 05:41] offrocks opened #918 "Exporting the employee productivity report"
Wondering if we could import the productivity report. Also, we have more than 30 outlets and could consolidate the report to export. Thanks

[2019-08-27 10:58] Uzair-RepairDesk commented on #918
Hi @offrocks
Thank you for sharing your idea. Can you please mention your name and business name so I can mark your request with your reference?

Also, can you please share more insights on your request?

1: We give a report of each employee working on a specific store/outlet separately. Do you want to export the same report for each employee based on the report?
2: Can you also mention about the

[2019-08-27 11:07] Uzair-RepairDesk commented on #916
Hi John, @jpcodev

Thank you for sharing your idea. Currently, the idea is to keep the default 1 hour (60min) time because generally there are 60min repair job services that most of the businesses offer.
You can also quickly change it according to your schedule while booking a repair job.

I can certainly see how suggested improvements would be useful if you offer it in 2 and 1/2 hours (150min) an

[2019-08-27 11:14] Uzair-RepairDesk commented on #912
Hi @rajeshdungrani

I really appreciate that you took the time to share your ideas. I can certainly see how the suggested improvements would be useful.
We have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able a develop a separate report based on the status summary, however, you can use the following workaround to find the tickets based

[2019-08-27 11:20] Uzair-RepairDesk commented on #914
Hi @rajeshdungrani

Hope you are well. Repaired & Collected option on the checkout page is to facilitate the customer's to quickly mark it when you checkout, handover the device and take payment from the customer.

In your above case, I will recommend you to mark the status of a ticket to "Canceled" or you can add and mark a custom status "Unrepaired & Collected" with type "Closed. You can mark th

[2019-08-27 11:22] rajeshdungrani commented on #912
Thanks for taking time to reply. Your software is self explanatory and I very well know that I can get the status as suggested by you. But what I am taking is about summary i.e count and not details. Like:
Pending : 10
Waiting for Spares : 20
Estimation Pending : 30
and similar.
This will give any owner a idea of what devices are at what stage at any given point of time.
Also I see your standard a

[2019-08-27 11:23] Uzair-RepairDesk commented on #896
Hi @rajeshdungrani

This is to inform you that we have scheduled this improvement for development. We will add new criteria to filter the records with the date when the part is consumed on the ticket.

I will keep you posted about the progress of this improvement.

[2019-08-27 11:23] rajeshdungrani commented on #914
Ok. Thanks for the workaround

[2019-08-27 11:26] #914 closed

[2019-08-27 12:36] usmanalikhan93 commented on #915
Hi @Omar1892

I have checked your concern and when I add serialized part with repair and made its ticket, then it does marked as used. Can you please check again on your side and let me know if you still face issue.

Thanks
Usman Ali

[2019-08-27 13:26] Uzair-RepairDesk commented on #413
Hey @JessicaSOS
This is to inform you that we have added "Average Repair Time" along with repair service on POS based on your request. Once you set time, it will be displayed on POS now.
Please check screenshot attached.

![uzairshah - POS1](https://user-images.githubusercontent.com/22955861/63775095-161db100-c8f8-11e9-97a2-9131e50da867.png)

[2019-08-27 13:26] #413 closed

[2019-08-28 04:51] offrocks commented on #918
Hello Uzair,

We are *Mobile Experts Pty Ltd* based in Sydney, Australia.
I'm planning to draft KPI's for the team member and I would require the
following data for those indicators:

- Who's Selling how much in x number of hours
- The percentage share of their sale.
-Number of items in every sale- to analyze the upsell trend

So, yes, you are right. Employee productivity is a useful report if it

[2019-08-28 05:34] offrocks commented on #918
![image](https://user-images.githubusercontent.com/54569360/63828160-f2667380-c9a8-11e9-8f38-3c60ea2de095.png)

That's the report I want to export. In addition, the filter can only give us a store. It would be helpful if we could select multiple stores and export the whole lot.
Thanks

[2019-08-28 23:55] Omar1892 commented on #915
Hello, thank you for getting back to me. When we do an inventory check every week it will do it on some random parts. But theirs always 1 that isn't marked at used or some times 2 - 3 items. It might not do it on 1 part you would have to do it on a bunch of inventory for it to do it. But this issue has being happening for a long time. But as you can see in the video its happening.

[2019-08-29 22:49] hitman1986 commented on #907
Thanks, im wating the new update

[2019-08-30 11:02] Uzair-RepairDesk commented on #918
Thanks. I will look into it in detail and revert back to you about the feasibility of the requested enhancement. Thanks

[2019-08-30 11:15] usmanalikhan93 commented on #891
Hi @JessicaSOS

I hope you are doing well. Issue has been fixed from now onward. You will not face this bug again in tickets. Please verify at your end and do let us know if you have any question.

Thanks
Usman Ali

[2019-08-30 11:15] #891 closed

[2019-09-02 04:41] Uzair-RepairDesk commented on #872
Hi @mobilebarn
We have gone LIVE with our new "onboarding/sign up funtionality". Once you add a new store, system asks you to replicate all the settings from the default store to a new store.

Please review at your end. Thanks.

[2019-09-02 04:41] #872 closed

[2019-09-02 11:35] usmanalikhan93 commented on #907
Hi @hitman1986

Our ipad version 4.1 is now live. You can download it and verify the fix. Do let me know if you have any question.

Thanks
Usman Ali.

[2019-09-02 11:35] #907 closed

[2019-09-02 11:37] #126 closed

[2019-09-02 11:38] #149 closed

[2019-09-02 14:06] fahadimran303 commented on #915
Hello @usmanalikhan93 ,

Please check the video below:
https://drive.google.com/file/d/1FWMKBZJjuz-uH2-PvQPwQhZJHcy4eT-n/view

[2019-09-03 12:51] usmanalikhan93 commented on #915
Thanks @fahadimran303

I will check and try to reproduce in my test account.

[2019-09-03 12:53] Uzair-RepairDesk commented on #910
Hey John @jpcodev

As mentioned above, serialized inventory is not supported in WooCommerce. However, we have made the updates and you can follow the following steps to make it possible to sync serialized inventory with RepairDesk.

1: Once you sync items/products from RepairDesk to woocommerce website, you can create variants of each item manually from your website. You can check the following vi

[2019-09-03 12:53] #910 closed

[2019-09-03 16:44] Omar1892 opened #919 "Ticket Items (Repair Parts Being Used) Serial numbers missing"
Hello,

It seems that you guys updated the ticket section in the repair category. I just notice that the serial numbers aren't showing up when the parts have being selected in the repair ticket. Before it was showing the serial number that we had to choose for the repair now it isn't showing anything and we don't know what serial number to get. We keep 80%-90% of our inventory serialized and it wa

[2019-09-04 04:06] jpcodev commented on #910
Hi Muhammad,

Thank you for outlining the current process of the way that WooCommerce integrates with RepairDesk.

The main issue I’m facing now is that when a serialised phone with multiple variants is sold in our local store it will only remove the total amount of phones available.

For example when a iPhone 7  | 32gb | Black | A grade | is sold in store it will change the WooCommerce level from

[2019-09-04 06:00] MuhammadAdnan32 commented on #919
Hey @Omar1892
Thank you for bringing this to our attention! It looks like there's a bug that just popped up 🐛.

I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
For internal use:
https://repairdesk.atlassian.net/browse/RB-418

[2019-09-04 06:22] Uzair-RepairDesk commented on #910
Hi John @jpcodev

I understand your concern. Since we have integrated with a third-party platform, we are restricted with this. Perhaps, Shopify allows doing that however, WooCommerce doesn't allow to sync serialized inventory variants.

Our idea to integrate with woocommerce is that you can manage your online stock by keeping it sync with RepairDesk and also you can track your online invoice.
Wit

[2019-09-04 18:56] kristan79 commented on #919
That is not the only issue.  You are able to select the serial number to be used but it is staying in inventory showing still "On HAND"

[2019-09-04 21:01] Omar1892 opened #920 "In-Stock Inventory Issue"
Hello,

the in-stock inventory is been miscount counted. It shows that we have 0 items in stock with 1 item serialized. We do have the item in stock and the serial number that is been displayed is correct to the item that we have in-stock. This has been happening for the last couple of weeks. The other thing it was doing yesterday it was that it was going to 1 item in stock with 1 item serialized

[2019-09-05 05:48] MuhammadAdnan32 commented on #920
@Omar1892 Please, Can you share your RD credentials? So I can check it on your account. Thanks

[2019-09-05 07:47] usmanalikhan93 commented on #919
Hi @kristan79

Thank you for bringing this to our attention. We have reproduced this issue and it is coming from Manage ticket section. Kindly use POS for the time to attach serial part with problem. I will let you know once this issue will be fixed. Your cooperation will be highly appreciated.

Thanks
Usman Ali

For internal use:
https://repairdesk.atlassian.net/browse/RB-420?oldIssueView=true

[2019-09-05 07:56] usmanalikhan93 commented on #920
For internal use:
https://repairdesk.atlassian.net/browse/RB-420

[2019-09-05 08:12] Uzair-RepairDesk commented on #764
Hi Bharat, @bharaaus

Hope you are well. I am pleased to inform you that we have added "Custom fields functionality" in RepairDesk.

Our goal at RepairDesk is to empower repair shops including cell phone and computer repair stores, by providing them tools that help them move forward and today, we’re a step closer to that goal, with the release of custom fields.

With custom fields, now you can cre

[2019-09-05 08:12] #764 closed

[2019-09-05 08:13] #760 closed

[2019-09-05 08:15] usmanalikhan93 commented on #913
Hi @hitman1986

I believe Danish has updated you on live chat. Do let me know if you have any question.

[2019-09-05 16:52] Omar1892 commented on #920
Information has been sent to the email you sent me.

[2019-09-06 05:07] MuhammadAdnan32 commented on #920
I have received your you email. Sure thing! Let me take a look and I'll circle back to you. Thanks

[2019-09-06 06:47] rajeshdungrani opened #921 "Send Invoice Oustanding Reminder to multiple customers at a time"
Currently we have to send Invoice Outstanding Payment to individual customer. But we need option to send Outstanding reminder to multiple or all customers at a time. Can we have such option.

[2019-09-06 06:50] rajeshdungrani commented on #876
Any update on this

[2019-09-06 07:36] Uzair-RepairDesk commented on #921
Hi @rajeshdungrani

Thank you for your post. Yes, you can certainly send an "Invoice Reminder" to multiple customers at one time.

You can use the following steps to enable this functionality.

1: You can go to Store Settings > Module Configurations > Invoices > Enable trigger "Enable partial/UnPaid Invoice Reminder".

2: You can go to Manage Invoices, filter unpaid/partial paid invoices to send r

[2019-09-06 07:36] #921 closed

[2019-09-06 09:21] rajeshdungrani commented on #912
Is anything going to happen to this request. Believe me it will be very helpful report for every repairer.

[2019-09-06 09:45] Uzair-RepairDesk commented on #912
Hi @rajeshdungrani

Thank you for your followup. Currently, we are not going to work on it in this quarter since we have a workaround available for this request.
I added your couple of requests like 864, and 896 for development in this quarter roadmap. 👍

We will check the feasibility of this request in next quarter. Hope you can understand. Thanks

[2019-09-06 09:56] usmanalikhan93 commented on #920
Hi @Omar1892

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-09-06 09:57] usmanalikhan93 commented on #919
Hi @Omar1892 @kristan79

I hope you both are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-09-06 09:58] usmanalikhan93 commented on #915
Hi @Omar1892

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-09-06 18:20] Omar1892 commented on #920
Hello, still saying that I have 1 item serialized and 0 instock. Should I just updated the inventory and let you know if it happens again?

[2019-09-06 18:22] Omar1892 commented on #919
Its fixed. Thank you!

[2019-09-06 18:22] #919 closed

[2019-09-06 18:25] MuhammadAdnan32 commented on #920
Hi,
Yes Omar, you need to update it manually. We have fixed this issue and it
don't happen again. And let us know if you have any query.Thanks,
Regards,
Repairdesk QA

On Fri, 6 Sep 2019, 11:20 pm Omar1892, <notifications@github.com> wrote:

[2019-09-06 19:45] Omar1892 opened #922 "Pre/post device condition"
Hello,

We have been having an issue with the Pre/Post Device condition. When ever we add a new item to a repair on a existing ticket 2 pop up screen apear. 1 to write notes and the second one is the Pre/post device condition. The Pre/post device condition we have it set up to do the Toggle selection, but when it apear it doesn't give me any option to mark the part as if its working or not it only

[2019-09-06 20:20] #920 closed

[2019-09-07 17:45] Omar1892 commented on #915
ill let you know if it happens again with in the next couple of days/weeks. Thank you.

[2019-09-10 15:58] JessicaSOS opened #923 "Problem with employees commission !"
-- Employee commissions still do not work. Look at this example. Stacey created the L-14604 ticket at the Limoilou store. There is no accessory, only a repair. Repair commissions are set to 1%. It was the Sybile employee who did the repair. The ticket has been assigned to Sybile. Stacey billed and paid with the client (Invoice FL-18997). The commission for the repair goes to Stacey. however, she s

[2019-09-11 06:04] usmanalikhan93 commented on #923
Hey @JessicaSOS

Usman Ali here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2019-09-11 06:04] usmanalikhan93 commented on #922
Hey @Omar1892

Usman Ali here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2019-09-11 06:27] Uzair-RepairDesk commented on #911
Hey John @jpcodev

This is to inform you that we have made "Custom features" LIVE. You can proceed to update the "Device Model" field against relevant categories. You can log the model number while booking a repair ticket (as suggested above in the screenshot).

You can find more details regarding custom fields functionality from following knowledgebase article (you can also watch a video for your

[2019-09-11 06:27] #911 closed

[2019-09-11 09:46] usmanalikhan93 commented on #922
For internal use:
https://repairdesk.atlassian.net/browse/RB-430

[2019-09-11 16:46] morrisbw opened #924 "POS Does Not Total Repairs Correctly"
If I add a Device Issue “*Screen Replacement Service” with no part, the price is correct. $70.00 for labor with no tax applied.
![Screen Shot 2019-09-11 at 10 10 14 AM](https://user-images.githubusercontent.com/38365839/64716532-c4d8fa00-d47f-11e9-95c0-ed259d3156a7.png)
![Screen Shot 2019-09-11 at 10 07 13 AM](https://user-images.githubusercontent.com/38365839/64716584-d7ebca00-d47f-11e9-8620-02a1

[2019-09-12 04:13] kefaae opened #925 "Tax option - Expenses"
Hi,
I highly recommend you add an option (tax) in the expenses section.
in Canada, it's very important for us, because of some times theres expenses but without tax.
its big mass if you keep running it like that way. if theres no solution we gonna leave!.
I like your software, but fix that big issue!

Thanks

[2019-09-12 04:23] usmanalikhan93 commented on #924
Hi @morrisbw

I hope you are doing well. When you add problem and part for repair and it does not include part price in retail. It only took repair retail price.

And for the tax issue, can you please share your credentials on danish@repairdesk.co I have to check your settings.

[2019-09-12 05:24] morrisbw commented on #924
We must be able to charge Labor + Price of Part + Tax on Part.

The system does not include the price of the part in the repair. Please see my example above.

[2019-09-12 05:59] Uzair-RepairDesk commented on #925
**Hi @kefaae**

Thank you for your post and notifying us on the specific requirement of tax in expense required in Canada.

It will be appreciated if you share more details on this that how it works while you log the expense? **Can you also answer the following questions?**

**1:** Do you want us to add an optional field to choose tax class so system calculates tax accordingly?
**2:** Is tax inclu

[2019-09-12 06:16] MuhammadAdnan32 commented on #923
Hey! @JessicaSOS
-Employee commissions are working fine. I have checked in you account and found that you have enabled this triggers "Commission is splitted between technician and a sales person who books a repair job" that's why it is showing you commission for both.
![Setting-Employee-commison2](https://user-images.githubusercontent.com/50608942/64758634-83fbe680-d54e-11e9-95a2-10430b6b06bf.png)

[2019-09-12 06:17] MuhammadAdnan32 commented on #923
For internal use:
https://repairdesk.atlassian.net/browse/RB-434

[2019-09-12 06:20] usmanalikhan93 commented on #924
Hi @morrisbw

Can you please come on our live chat so our support ninja can guide you with the proper workflow ?

[2019-09-12 07:47] MuhammadAdnan32 commented on #856
Hey! @JessicaSOS
**1-The employee commission report that employees view is inconsistent with the employee commission report detailed in the reports.**
![image](https://user-images.githubusercontent.com/50608942/64763119-d215e780-d558-11e9-89dc-80da931a5ca1.png)
Thank you for bringing this to our attention! It looks like there's a bug that just popped up 🐛.
I'm gonna reach out to our Engineers to g

[2019-09-12 07:48] MuhammadAdnan32 commented on #856
For internal use:
https://repairdesk.atlassian.net/browse/RB-436

[2019-09-12 13:36] MirkazFMP opened #926 "Price display - Retail and SALE"
Hi,
I need retail and sale price to be displayed same time on the calendar widget.

like :
retail : 100 USD
Sale : 75 USD
Discount : 25%

Beeing able to translate (Retail, Sale, Discount from language addon in Widget tab)

[2019-09-13 11:01] MuhammadAdnan32 commented on #923
Hey @JessicaSOS ,
I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have a question.

Thanks!

[2019-09-13 11:06] MuhammadAdnan32 commented on #856
Hey @JessicaSOS
I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have a question.

Thanks!

[2019-09-13 12:14] usmanalikhan93 commented on #922
Hi @Omar1892

I hope you are doing well. Your reported issue has been fixed. Do verify at your end and do let us know if you have any question.

Thanks
Usman Ali

[2019-09-16 07:37] #923 closed

[2019-09-16 07:37] #922 closed

[2019-09-16 07:37] #856 closed

[2019-09-16 07:38] #913 closed

[2019-09-16 08:17] Uzair-RepairDesk commented on #242
The feature is available to print an invoice from iPad

[2019-09-16 08:17] #242 closed

[2019-09-16 08:23] #722 closed

[2019-09-16 18:51] Omar1892 commented on #915
Hello,

The issues is still happening. As you can see in the picture we have 1 item in stock and ill explain why in a sec. The system is showing us that we have (0) items in stock with 2 serial number that haven't been used. When we checked our inventory on hand we have 1 item in-stock and still 2 serial numbers in-stock, so I checked the serial number history and it says that the 0015258 serial n

[2019-09-17 06:15] MuhammadAdnan32 commented on #915
Hey Omar1892,
 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you. Thank you

[2019-09-17 11:33] Uzair-RepairDesk commented on #899
Hey @hitman1986

I am pleased to inform you that we have added "Assignee" criteria in search filters of "Sales By Item Type" report based on your requirement. You can filter the report accordingly.
Please check screenshot attached
![uzairshah- Sales By Item Report](https://user-images.githubusercontent.com/22955861/65038218-e7c84a00-d968-11e9-825d-02b9a44dc07e.png)

Please review at your end. Than

[2019-09-17 11:33] #899 closed

[2019-09-17 11:38] Uzair-RepairDesk commented on #896
Hi @rajeshdungrani

We have added search criteria "Part Consumed Date" based on your requirement. You can now filter the report based on the date when a part is consumed on the ticket. Please check screenshot attached

![image](https://user-images.githubusercontent.com/22955861/65038458-70df8100-d969-11e9-8e27-cc697c0aece1.png)

Please review and share your feedback on this. Thanks

[2019-09-17 11:38] #896 closed

[2019-09-17 11:40] MuhammadAdnan32 commented on #915
Hey @Omar1892,
I have reproduced the same case on my test account and I have also review your admin history. We have allowed creating a ticket from POS with In-stock Zero. When we create ticket from POS and attach part on hand quantity goes 0 to -1. In your case, you use serial and then you created a ticket from POS with the same part and delete the serialized part from the ticket which makes you

[2019-09-17 11:52] Uzair-RepairDesk commented on #723
Hey @wasimafsarkhan

Please inform "Jorge Garcia from iBuy and Repair LLC" that we have added "Repair Category" option in Appointment Calendar Wiget.
User can go to "Configurations" of "Appointment Calendar Widget" and "Enable repair category" option.
We have also added an option to change "Primary and Secondary background colors" of the widget.

You can view the demo from the following the link:-

[2019-09-17 11:52] #723 closed

[2019-09-17 18:57] Omar1892 commented on #915
Hi, I don't understand stand the explanation. Is there any way I can get a call? This issue just got repeated on another inventory item. This happens a lot in my inventory.

[2019-09-19 06:47] Uzair-RepairDesk opened #927 "Inventory transfer amount in report"
Need a report I can pull to get the total dollar amount of transfers a store has received?

Alternatively is there a report that includes the amounts from transfers as the total cost of parts received?

[2019-09-19 06:48] Uzair-RepairDesk commented on #927
Hey @Maria

Currently, there is no dedicated report to find the analysis of the total cost of items transferred or received.

However, you can use the following workaround to find the accumulative value. We give the cost value of each transferred items so you can go to "Transfer Out", apply the relevant search filter to find the records of inventory transferred and accumulate their cost.
Similarly

[2019-09-21 10:49] rajeshdungrani commented on #896
Thanks you very much. I tried to download sample reports and found some descripency  Few spares not showing even if consumed on same day. For e.g I checked for 19th Sept 2019
![image](https://user-images.githubusercontent.com/12892217/65372282-700d5e80-dc8b-11e9-85aa-9c973ca77866.png)
But this part is not showing when we extract spares consumption report for 19th Sept

[2019-09-21 20:29] myadak opened #928 "Can we have an option to offer discounts and/or promo code"
Is there a good way to offer discounts on certain repair catagories and devices that can go in general way?
meaning
i want to offer disounts on iphone screens this months for 15% or give promo code to reflect discount. the reason when we run ads we want entice customer to book the repair through the booking widget through mass email or social media adds.
the booking widget is very nice addition to

[2019-09-23 07:06] Uzair-RepairDesk commented on #896
Hi @rajeshdungrani
Can you share your RD account credentials at uzair@repairdesk.co so we can verify it from your account to find the exact use case? Thanks

[2019-09-23 09:11] rajeshdungrani commented on #896
rajeshdungrani@gmail.com
Kshem#212

On Mon, Sep 23, 2019 at 12:36 PM Muhammad Uzair Shah <
notifications@github.com> wrote:

[2019-09-23 10:07] Uzair-RepairDesk commented on #896
Hi @rajeshdungrani

Thank you for the credentials. I just verified from your account. "LCD Screen - Oppo A5" certainly consumed on ticket ID: 24737 at 19 September 2019.
However, the invoice is not created yet for the same ticket. "Parts Consumption Report" is accrual-based sales report and data comes up when a sale actually happens (when you create an invoice in the system).

It will certainly co

[2019-09-23 10:16] rajeshdungrani commented on #896
Ok. But we create invoice only at the time of delivery. It should show when
I consume the spares. Is it possible to track repair ticket wise and not
invoice created

On Mon, Sep 23, 2019 at 3:37 PM Muhammad Uzair Shah <
notifications@github.com> wrote:

[2019-09-23 10:21] Uzair-RepairDesk commented on #896
Currently, it's not possible without an invoice.

[2019-09-23 12:17] BG-RLTech opened #929 "Repairs Description - WYSIWYG"
Can you make the description field in repairs formatable.

If you put spaces or line spaced currently it disregards those and just puts is continuos. Are you able to make it formattable so we can centre, skip a line, bold, italic etc?

[2019-09-23 13:03] MuhammadAdnan32 commented on #929
Hey BG-RLTech ,
Can you please share an image or video with us where you are referring?
Regards,
Repairdesk QA,

[2019-09-23 17:41] Omar1892 commented on #915
The issue with the inventory been incorrectly and the serialized merchandise not been removed once the product are used are still happening. The issue right now is that the system is showing that we have 0 items in stock and 1 item serialized. We do have 1 item instock but it shows as zero, and the serial number is correct we do have that serial number instock.
![Screen Shot 2019-09-23 at 10 35 05

[2019-09-24 13:17] rajeshdungrani opened #930 "Default Status "Waiting""
When creaeting a new ticket, if no status is assigned then a default status "Waiting" is assigned. Now the issue is I cannot search for these "Waiting" status calls as there is no filter available to check it. Need option to get default Status or a filter to search such "Waiting" status

[2019-09-25 07:42] afnanforex commented on #930
Hello Rajes, I just want to update you about the "waiting" status in Manage tickets section. I discussed with my team.
If you create ticket then status by default will be "In Progress". Once you open ticket in edit mode and left blank the ticket status field. It will become "waiting". So I will recommend please do not left blank ticket status field.
To sort this out you can create custom ticket st

[2019-09-25 12:59] Uzair-RepairDesk commented on #928
Hi @myadak

I really appreciate that you took the time to share your idea.
I can certainly see how suggested improvements would be useful to increase the customer base and maintain customer loyalty.

We have the plan to introduce global discounts functionality that will allow you to select specific category/products or services to set discounts for a particular duration. It will be like a promotio

[2019-09-29 13:59] usmanalikhan93 commented on #915
@MuhammadAdnan32 can you please update on this ?

[2019-09-29 14:00] usmanalikhan93 commented on #929
Hi again @BG-RLTech - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2019-09-29 14:01] usmanalikhan93 commented on #930
Hi again @rajeshdungrani  - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2019-09-29 14:01] #930 closed

[2019-09-30 09:46] Uzair-RepairDesk commented on #926
![Retail-and-sales-price-update-1](https://user-images.githubusercontent.com/22955861/65868067-05e27100-e391-11e9-8d50-139b7a977b03.jpg)

[2019-09-30 09:59] MirkazFMP commented on #926
OK for me, please make sure i can translate
"Retail Price"
"Sale price"
In Translator in Apointment calendar widget tab !
Thanks

[2019-10-01 10:31] rajeshdungrani opened #931 "Dashboard items - Clickable"
You have a veru wonderful dashboard. To make it more friendly, you can make all items clickable where we can get the report on clicking the item.
![image](https://user-images.githubusercontent.com/12892217/65954988-c2f1cd80-e464-11e9-8a76-14a9a8657e31.png)

[2019-10-01 22:11] BG-RLTech commented on #929
Hey Usman, no it hasnt been rectified i was just busy and couldnt update. In an individual repairs item you can write a description as below.

It would be best if all formatting in this description replicated what shows on the website widget. It would be great if this field allowed formatting like bolding text etc.

When it displays on the widget it ignores any formatting which is slightly annoyin

[2019-10-02 05:43] usmanalikhan93 commented on #929
Hi @BG-RLTech

Thanks for the information. Let me check this on my end and report it to development team. I will update you once it will be live.

Usman Ali

[2019-10-02 05:53] usmanalikhan93 commented on #929
For internal use:
https://repairdesk.atlassian.net/browse/RB-500

[2019-10-04 06:59] usmanalikhan93 commented on #929
Hi @BG-RLTech

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-10-04 07:40] #929 closed

[2019-10-04 18:14] Omar1892 opened #932 "Costumer Facing Display"
Hello,

When opting for the costumer to enter their personal information such as phone number and name. The iPad will display the information on the screen but when it get successfully saved on my computer the costumer info doesn't show up. This happens on 2 computers.

[2019-10-04 18:49] Omar1892 opened #933 "Serialized Merchandise Condition Selection"
When a GRN is created and the option to create a serial number is chosen it gives you the option to select the condition the product is in. The system isn't given us that option when option to select the condition of the product in the GRN. The system is only given us the option to add a condition description once the item is in the added to the system and you go to the inventory for the item and

[2019-10-04 19:21] Omar1892 opened #934 "Inventory Count"
On Inventory Count the system isn't recognizing that some item are missing when ever the count is paused. It only recognizes that items are missing when you look at the Unmatched item report. Today it only showed that 2 items are missing when it was 3 items that where missing. Yesterday it didn't on a bigger scale it was showing that 2 where missing but after checking the other report it was 10 it

[2019-10-07 05:18] MuhammadAdnan32 commented on #933
Hey @Omar1892,
Adnan here, Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks

[2019-10-07 05:20] MuhammadAdnan32 commented on #932
Hey Omar1892,
Adnan here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you. Thanks

[2019-10-07 05:20] MuhammadAdnan32 commented on #934
Hey Omar1892,
Adnan here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.Thanks

[2019-10-07 06:10] MuhammadAdnan32 commented on #933
Hey!
Thank you for bringing this to our attention! It looks like there's a bug that just popped up.

I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information! Thanks

[2019-10-07 06:10] MuhammadAdnan32 commented on #933
For internal use:
https://repairdesk.atlassian.net/browse/RB-520

[2019-10-07 06:48] MuhammadAdnan32 commented on #932
Hey Omar1892,
Its working fine for me. Could you please share a video or detailed steps to reproduce the issue?
Thanks

[2019-10-07 06:52] MuhammadAdnan32 commented on #934
Hey! Omar1892,
Can you please elaborate more on the issue as its working for me?
Thanks

[2019-10-07 06:55] Uzair-RepairDesk opened #935 "Points Reward System"
Tal from The Gadget Clinic
Request: https://app.intercom.io/a/apps/mq09yl4f/inbox/inbox/3443960/conversations/23977635783

Really wanted to have the pints reward system in place. I want the feature pre built-in within RepairDesk

[2019-10-07 15:47] Omar1892 commented on #934
When im doing an inventory count and I paused the count on the home screen of the inventory count it gives you the items that are missing if any. Well the item that aren't missing isn't the right quantity of items that aren't missing. How do I know this is because when you start counting item by item on the report you can start to notice that their are more than what the report is showing in missi

[2019-10-07 15:55] Omar1892 opened #936 "GRN Received Notes"
When ever we get new inventory we have to count everything manually and make sure that all items arrived match the GRN. This takes a long time depending one how big the order we made is. Instead of counting everything manually it would be a good idea if you guys can add a box where we can scan the items that arrived and once scanned the received quantity can get updated with the items that just ar

[2019-10-07 18:30] Omar1892 commented on #932
/var/folders/w4/w40bg7vs1kz5_wfnlh63wr580000gn/T/com.apple.iChat/Messages/Transfers/IMG_3155.mov

[2019-10-07 18:33] Omar1892 commented on #932
I sent an email of the issue that Im having to usmanalik93@gmail.com

[2019-10-07 19:48] JessicaSOS commented on #856
A sale for you is the person who cashes the money? For me, a sale is the one that makes the ticket or invoice. In the options, it is written that it is the person who reserves a repair order. So it's not very clear.

For example, if Stacey creates a repair ticket and David performs the repair. Simon puts the repaired status and the ticket asks us "do you want to apply the changes to the invoice?"

[2019-10-07 19:54] JessicaSOS commented on #923
Sybile had no commission and she did the repair. I understand that you give 1% commission, but it is to Sybile that it should have gone, it is she who made the repair!

--
French:
Sybile n'avait aucune commission et c'est elle qui a fait la réparation. Je comprend que vous donnez 1% de commission, mais c'est à Sybile que sa l'aurait du aller, c'est elle qui a fait la réparation!

[2019-10-08 04:18] usmanalikhan93 commented on #923
@MuhammadAdnan32 can you please check ?

[2019-10-08 04:19] usmanalikhan93 commented on #856
@MuhammadAdnan32 can you please check ?

[2019-10-08 09:59] Uzair-RepairDesk commented on #934
Hello 👋
 @Omar1892 Omar
Just wanted to double-check and see if you can share a video of what you're seeing here so I can see exactly what is happening on your end. Thanks!

[2019-10-08 10:02] Orpingtonitcentre opened #937 "Buy Back Widget improvement"
In this widget you can't customise the WiFi and Colour option for different categories. For example if you buying a laptop there is no point to ask for network option like Vodafone , EE, etc. or if you buying an iMac the colour is not a matter.

The easy way to fix this
  if we leave a section empty, skip that part and ask for the next available option. For example if the Available Colors was left

[2019-10-08 10:05] MuhammadAdnan32 commented on #933
Hi @Omar1892

I hope you are doing well. I have discussed with my development team, it's not a bug. It looks like it's an improvement. I will discuss this with the product manager about this functionality and will update you in 12 - 24 hours.
Thanks

[2019-10-08 15:42] Omar1892 commented on #934
Ill share a video by tomorrow. We aren't doing an inventory count until than.

[2019-10-08 19:44] Omar1892 commented on #932
Do you have any updates? Its slowing us down when were booking in the repair.

[2019-10-09 07:16] Uzair-RepairDesk commented on #937
Hi @Orpingtonitcentre

I really appreciate that you took the time to share your idea. I can certainly see how the suggested improvements would be useful.
Currently, it's not possible to skip the colors or network option however you can add the option "Any Color" rather than entering color option and add "Unlocked" in network option so a user can select any color and then select unlocked option to

[2019-10-09 07:18] Uzair-RepairDesk commented on #935
We need to update the Tal once we go live with store credits module

[2019-10-09 15:56] Omar1892 commented on #932
Do you have any updates? Its slowing us down when were booking in the repair.

[2019-10-09 21:02] JessicaSOS commented on #718
I am still without news SINCE MARCH!! I would like to know how to put a notification when a new ticket is created. Instead that is related to the status "in progress".

[2019-10-09 21:07] JessicaSOS commented on #463
Happy birthday Task #463, One year !!

[2019-10-09 21:07] JessicaSOS commented on #462
Happy birthday Task #462, too,  One year !!

[2019-10-09 21:08] JessicaSOS commented on #464
A year that our customers do not see the right signature. It's very professional!

[2019-10-09 21:10] JessicaSOS commented on #706
Same here ....

[2019-10-10 07:42] gijoe911 opened #938 "cannot update ticket price/add items once invoice been paid on ipad"
im not able to add/modify ticket prices and items on the ipad once the invoice has been paid. I know i can make those changes on the webapp, however, most of the storefront staff don't have access to the webapp so that makes it quite inconvenient.

anyone experiencing the same issue?

![WeChat Image_20191010154221](https://user-images.githubusercontent.com/25240657/66548832-97fa2e80-eb74-11e9-9633

[2019-10-10 07:47] gijoe911 opened #939 "Making customer signature mandatory before creating a ticket or checkout on ipad?"
is it possible to make customer signature mandatory before creating a ticket or checkout on the ipad? similar to making referral source a mandatory field when adding new customers. reason being is a lot of staff will miss the signature unintentionally if it's not bounded by the system. thanks

[2019-10-10 07:49] gijoe911 opened #940 "Not able to input alphabetical password on ipad"
As titled, this becomes trouble especially when we get computer repairs. Can we solve this?

[2019-10-10 07:54] gijoe911 opened #941 "add/remove fields at the add new customer page"
is it possible to add/remove fields at the add new customer page on the ipad app?

for example the "select network" for me is almost useless because it's not really an attribute. so instead could i change that field into something like gender or age range? that way i could capture more info about my customers and do better analysis.
![WeChat Image_20191010155357](https://user-images.githubusercont

[2019-10-10 10:35] gsmgps-star opened #942 "add widgets to the template editor"
hi.
It would be nice if you can add to the template editor also Customer Self Check-In Widget and Tracker Widget?

tnx

[2019-10-10 10:48] Uzair-RepairDesk commented on #942
Hi @gsmgps-star

Thank you for your post. Can you share more information on this? What you exactly want to update/edit in widgets so I can assist you accordingly. Thanks

[2019-10-10 11:03] gsmgps-star commented on #942
1.some parts of the box dont nedded...also i dont need on tracker widget print button and sign option.... here in slovenia dont nedded this :-)
2. i cant translate submit button in Customer Self Check-In Widget...yes i already translate this text :-)

tnx

[2019-10-10 15:19] Repair-Desk opened #943 "Trade in - Barcode scanning"
Hello! When I print the barcode for trade in items it is scanning as the SKU. Can i change this to be only the item number?

[2019-10-11 05:26] Uzair-RepairDesk commented on #943
I believe by default, barcode should be generated on the basis of IMEI/Serial of the device in trade-in. Your thoughts @Repair-Desk ??

[2019-10-11 12:02] MuhammadAdnan32 commented on #933
Hi @Omar1892,
I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have a question.
Thanks!

[2019-10-14 06:10] Uzair-RepairDesk commented on #718
Hey @JessicaSOS
Hope you are doing great.
Thank you so much for the follow up post. I apologize for the delayed response. Currently in our RepairDesk, **email responses are sent against certain actions.** So whenever a ticket is created, by default, the In Progress status is attached to it and email is sent to customer.

For now, there is no such way that you can send an email without associating

[2019-10-14 06:15] Uzair-RepairDesk commented on #940
Hello **@gijoe911**
Hope you are doing great.
I am delighted to inform you that we have made this improvement for you and sent a release last week which is expected to get LIVE in a day or two. I will keep you updated on it so that you can check it at your end once the iPad Release 4.4 is LIVE.

Please let us know if there is something else I can assist you with.

Kind Regards,

[2019-10-14 18:17] Omar1892 commented on #932
Do you have any updates? Its slowing us down when were booking in the repair.

[2019-10-14 21:09] Omar1892 opened #944 "Supplier/Vendor"
Hello,

After you guys upgrade my account to a new account the vendors in all of the items for sale that we have didn't get added. Witch is causing us an issue with placing orders and other inventory issues. If possible can you guys get it fixed ASAP because to place an order we have to go through all the sales reports to see what has sold during the past weeks.

[2019-10-15 05:54] Uzair-RepairDesk commented on #940
**Hi @gijoe911**
Hope you are doing great!

I am delighted to inform you that the above mentioned improvement regarding alphanumeric keyboard for entering pass code has been Live. Please download our latest iPad Release from App Store and verify it at your end.

If there is anything else we can assist you with, please don't hesitate to reach out to us.

**Best of Luck,**

[2019-10-15 05:54] #940 closed

[2019-10-15 06:53] Uzair-RepairDesk commented on #944
Hey @Omar1892
I will ask Fahad to give you a call on this so he can assist you with your concern.

[2019-10-15 06:57] gijoe911 opened #945 "comprehensive report for data analytics"
another request here is for a more comprehensive report. again this was raised several times previously. i would like a report that has the following columns. granted i understand these info are in different reports, but having to go thru different reports on a daily basis instead of a single sourced report makes it very inconvenient.

invoice number
ticket number
invoice date
item code
item categ

[2019-10-15 06:59] #933 closed

[2019-10-16 09:40] gijoe911 opened #946 "warranty period imported not aligned with ipad POS"
there’s an issue with the warranty period imported in the device issues not aligning with the warranty period in the iPad pos. can we please look into this because staff will forget to enter in the warranty period manually. thanks

[2019-10-16 09:52] gijoe911 opened #947 "referral source changing on second visit"
if the customer comes in for the second time then he/she should become a returning customer, so the referral source should change.

for example, say a customer came referred by facebook for the first time, it makes perfect sense that this transaction is referred by facebook. but if this same customer comes in for a second time he/she is no longer referred by facebook. instead, he/she should become

[2019-10-16 16:21] Omar1892 commented on #944
Ok thanks.

[2019-10-17 06:13] Uzair-RepairDesk commented on #946
Hi **@gijoe911**
Thanks for listing down your concerns. I have checked this with development team and certainly its an improvement to align warranty period against imported items with iPad app. We will be happy to take this up for you after the launch of Offline Mode Version for iPad which will definitely be valuable for your business and will not disturb your workflow in absence of internet conne

[2019-10-17 06:20] Uzair-RepairDesk commented on #941
Hi **@gijoe911**
I really appreciate that you took the time to share your ideas. Currently its not possible in iPad app to add/edit default fields while adding customer.

I have noted it down as an enhancement and we will definitely try to take this up for you in next quarter. Meanwhile if you came across more suggestions, please don't hesitate to list them out on this platform. Customers like you

[2019-10-18 07:30] markmhq opened #948 "Email notification to Admin when a customer adds a note through customer portal"
Can we please add the function that when a customer logs into their customer portal and adds a note to a ticket that the admin user, assigned user or all of them gets a notification email.

This will help negate the current task of having to manually check each ticket to see if a customer has responded to a question or asked a question themselves.

[2019-10-19 22:27] hitman1986 opened #949 "Issue when edit stock warnin"
Thank you for modifying the inventory warning without having to enter each item , but there is a problem that I cannot modify and activate items that were not activated before, and when I edit from empty qty( value) to any number I get an error message

[2019-10-21 05:15] MuhammadAdnan32 commented on #949
Hi @hitman1986,
Could you please share a video or detailed steps to reproduce the issue?
Thanks

[2019-10-21 06:35] Uzair-RepairDesk commented on #906
@usmanalikhan93 what the update on this issue?

[2019-10-22 06:29] Uzair-RepairDesk commented on #948
Hi @markmhq

I really appreciate that you took the time to share your idea. I can certainly see how the suggested improvements would be useful. I have logged it under enhancements of the customer portal module so we can pick it up once we proceed to update this module. Thanks

And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know. Thanks

[2019-10-22 06:54] MuhammadAdnan32 commented on #906
@Uzair-RepairDesk Issue has been explained to Fahad Bhai and he will contact the customer on live chat.

[2019-10-22 07:00] MuhammadAdnan32 commented on #915
@usmanalikhan93 Issue has been explained to Fahad Bhai and he contacted the customer on live chat. We are closing this task.

[2019-10-22 07:09] MuhammadAdnan32 commented on #934
I have discussed this issue with support team and he will contact the customer.

[2019-10-22 07:12] MuhammadAdnan32 commented on #932
Its working fine for me and I have check this on the customer account as well. I have discussed this with the support team and they will contact the customer.

[2019-10-22 10:50] fahadimran303 commented on #944
We have already done a call yesterday. It will be sorted out today.

I will update this thread once done.

[2019-10-22 12:34] smartfastfix opened #950 "diagnose photo to send customer ( for example water damage)"
warranty repair:
customers breng to us their device after we chance screen( after 1 week ....etc)they say device doesnt start so we make diagnose but there is water inside so we make photo but we cant send photo directly to customer otherwise they say no water en we get problem with customer.
Samsung service use same model if we send device to warranty they make foto end send us end then we show p

[2019-10-23 06:50] Uzair-RepairDesk commented on #950
**Hi @smartfastfix**
Thank you for your post.

We don't have a direct option to send a photo to the customer within RepairDesk, however, there is following workaround functionality y**ou can follow to make it happen according to your workflow needs**.

**1:** We have a **"Pre/Post Device Image" feature that allows you to upload "Pre and Post" images of the device in a ticket**. Once you diagnose t

[2019-10-23 11:52] #915 closed

[2019-10-24 09:15] gsmgps-star opened #951 "Add more than one devices to the ticket"
hi.

it would be great if can add more than one devices and manufacturer in to ticket order?

regards

[2019-10-25 11:10] Uzair-RepairDesk commented on #951
Hi @gsmgps-star
You can certainly add multiple devices into one ticket.

You can go to Manage Tickets > Edit Ticket > Add New Line under 'Device Details' > Save
![Update Ticket](https://user-images.githubusercontent.com/22955861/67566751-feb94380-f741-11e9-8a01-b056fe75c572.png)

If you have any questions, please feel free to ask. Thanks

[2019-10-25 11:42] gsmgps-star commented on #951
ok tnx.
i will try yours method :-)
tnx

[2019-10-25 12:08] #951 closed

[2019-10-25 18:45] fahadimran303 commented on #944
Call has been. Close this task.

[2019-10-25 18:46] #944 closed

[2019-10-25 18:53] fahadimran303 commented on #934
We will have a session on Wednesday, 30th Oct in order to troubleshoot.

[2019-10-25 18:54] fahadimran303 commented on #932
Had a discussion with him. He said he will test that again and the issue will be fixed.

[2019-10-25 19:18] Omar1892 commented on #932
The issue still there. No fix. I tried it with 2 different iPads and the issue still there. Use an iPad and my account to recreate the issue other wise the issue will not be fixed if you have not done so.

[2019-10-30 03:45] gijoe911 commented on #939
or make it at least a pop-up question since staff often forgets to ask customers for passcode when dropping off their devices for diagnosis. this would be very helpful and saves lots of time calling back and forth with customers. cheers

[2019-10-30 11:02] Uzair-RepairDesk commented on #939
Hi @gijoe911
Hope you are doing well.

First of all thank you for making this useful suggestion. I have noted it down and we will surely take this up for you once we are done with the launch of iPad Offline Version. Meanwhile let me assist you with the available work around to cater this problem that you are facing.

 If you want to make passcode as manadatory field, you can easily do that using o

[2019-10-30 11:19] gijoe911 commented on #939
thanks usman, while this is not the perfect solution, it's a pretty good workaround.  appreciate your help!

[2019-10-31 16:21] Omar1892 commented on #932
Can you guys take a look it at. Its causing us a lot of issues. I know you guys have mentioned that it works on your side but I wound't be WASTING MY TIME letting you guys know that something isn't working when it is. Ive been reporting this issue since 27 days ago and its really frustrating that this hasn't been fixed and that its taking you guys so long to fix this issue!

[2019-11-01 07:35] Uzair-RepairDesk commented on #934
What's the update on this @fahadimran303 @MuhammadAdnan32 ?

[2019-11-01 07:37] Uzair-RepairDesk commented on #864
Hey @rajeshdungrani
I am pleased to inform you that we have improved the search criteria according to your request.
Please review it at your end.

When you click on the parts it will start displaying parts based on device reference so its easier for a user to pick one.

[2019-11-01 07:37] #864 closed

[2019-11-01 11:38] Uzair-RepairDesk commented on #926
Hi @MirkazFMP

I am pleased to inform you that we have made your requested improvement LIVE in our release.
Once you set the sale price and enable the trigger "Enable Sale Price if applicable" under configurations of "Appointment Calendar Widget", your customers will be able to view Sale price along with the retail price.

![uzairshah - Bookrepair Config](https://user-images.githubusercontent.com/

[2019-11-01 11:38] #926 closed

[2019-11-01 14:25] fahadimran303 commented on #932
Jira Link:
https://repairdesk.atlassian.net/browse/RB-573

[2019-11-01 14:28] fahadimran303 commented on #934
I had a session yesterday however we were not able to reproduce the issue.
Will check in next week.

[2019-11-04 05:10] #908 closed

[2019-11-04 05:58] usmanalikhan93 commented on #884
Hi again - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2019-11-04 05:58] #884 closed

[2019-11-04 05:59] usmanalikhan93 commented on #799
Hi again - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2019-11-04 05:59] #799 closed

[2019-11-04 05:59] #650 closed

[2019-11-04 05:59] #649 closed

[2019-11-04 05:59] usmanalikhan93 commented on #634
Hi again - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2019-11-04 05:59] #634 closed

[2019-11-04 05:59] #568 closed

[2019-11-04 06:00] usmanalikhan93 commented on #489
Hi again - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2019-11-04 06:00] #489 closed

[2019-11-04 06:00] usmanalikhan93 commented on #475
Hi again - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2019-11-04 06:00] #475 closed

[2019-11-04 06:01] usmanalikhan93 commented on #468
Hi again - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2019-11-04 06:01] #468 closed

[2019-11-04 06:01] usmanalikhan93 commented on #950
Hi again - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2019-11-04 06:01] #950 closed

[2019-11-04 06:01] usmanalikhan93 commented on #391
Hi again - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2019-11-04 06:01] #391 closed

[2019-11-04 06:02] #250 closed

[2019-11-04 06:02] usmanalikhan93 commented on #322
Hi again - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2019-11-04 06:02] #322 closed

[2019-11-04 06:02] usmanalikhan93 commented on #357
Hi again - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2019-11-04 06:02] #357 closed

[2019-11-04 06:13] #152 closed

[2019-11-04 06:17] usmanalikhan93 commented on #260
Hi again - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2019-11-04 06:17] #260 closed

[2019-11-04 06:17] usmanalikhan93 commented on #267
Hi again - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2019-11-04 06:17] #267 closed

[2019-11-04 06:18] usmanalikhan93 commented on #307
Hi again - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2019-11-04 06:18] #307 closed

[2019-11-04 18:18] usmanalikhan93 commented on #932
Hi @Omar1892

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-11-04 18:18] #932 closed

[2019-11-04 18:21] #625 closed

[2019-11-04 18:21] #626 closed

[2019-11-04 18:21] #663 closed

[2019-11-04 18:22] #674 closed

[2019-11-04 18:22] #739 closed

[2019-11-04 18:24] usmanalikhan93 commented on #757
Hi again - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2019-11-04 18:25] #675 closed

[2019-11-04 18:28] #29 closed

[2019-11-04 18:29] usmanalikhan93 commented on #949
Hi again - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2019-11-05 07:07] Uzair-RepairDesk commented on #863
Hi, Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2019-11-05 07:07] #863 closed

[2019-11-05 07:08] Uzair-RepairDesk commented on #905
Hi, Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2019-11-05 07:08] #905 closed

[2019-11-08 22:53] hitman1986 commented on #949
Im sended video to mr danish

[2019-11-11 06:57] usmanalikhan93 commented on #949
Thanks @hitman1986. @MuhammadAdnan32 can you please check this ?

[2019-11-11 07:22] MuhammadAdnan32 commented on #949
Hi @hitman1986 ,
I have checked it, the system doesn't allow to update reorder level and stock warning when on-hand is zero. If you have items in stock then it will be working fine for you. We advise you to set reorder level and stock warning when you have on-hand quantity of more than zero.
If you have any questions or if there is anything else with which I may assist, please do not hesitate to r

[2019-11-12 13:10] BG-RLTech opened #952 "Appointment Calendar - Suggestion"
We are starting to rely on customers booking through the widget on our website more heavily.

I think if you reschedule a ticket due time to a future date it should occupy that time slot on the appointment widget not allowing a customer to select that time in the widget.

Scenario 1:
Sometimes we are unable to clear our repairs each day so we may carry over one or two repairs which we automaticall

[2019-11-12 13:12] BG-RLTech commented on #952
If changing the due time which changes the position of the ticket on 'Dispatch (beta) does not correlate to the online widget then this is pointless if you only want one repair per time slot.

[2019-11-12 13:13] BG-RLTech commented on #952
This is a feature that just needs to be tweeked to function great. We are currently considering moving to FB appointments and removing widget from website.

[2019-11-13 20:03] Omar1892 opened #953 "Serial numbers are not being marked as USED"
Hello,

The serial number are still not being marked as used, Ive had this issue in the past and I was told that it was fixed but it still happening. We started noticing this issue when we started using the Purchase order and GRN. I took video of the issue, I will send it throughs the chat. This issue won't happen on the first try, this issue happens randomly.

This is causing us a big issue becau

[2019-11-13 20:14] Omar1892 opened #954 "Unlocks not marked as Repair & Collected"
Hello,

To unlocks phone we use a third party vendor and not the vendors you guys have on the integrations. So when ever we book in a repair and the costumer comes to pick the device up, it doesn't get marked as repaired and collected once we check out. We have to do it manually and we have to ask the staff to see if it was repair and collected because the system doesn't updated the ticket once th

[2019-11-13 21:38] Omar1892 opened #955 "Refund payment method"
The way payment methods are done when refunds are issued is confusing. The reason is because we have to refund the costumer on the payment method they choose when they first paid the invoice. For example costumer pays with Debit/Credit card, comes back and wants a refund. The system doesn't block the option to refund the costumer in cash instead it allows us to give them a refund in cash when the

[2019-11-13 22:19] Omar1892 opened #956 "Creating an invoice by accident @ Check out"
Suggestion, when you go to check out on the system it gives you 4 options to check out.

1. Enter amount --> Click on the check mark --> Confirm

2. Enter amount --> confirm

3. Full Payment Button

4. Confirm Button = it will create an invoice that it hasn't been paid for and costumer can pay at a later date.

Theres a lot of ways that a costumer can pay and all 3 can just be made in to 1 way of

[2019-11-13 23:21] Omar1892 opened #957 "Phone accessories aren't being removed from inventory"
A phone case was sold with ticket T-60 but the case was not removed from the inventory when it was purchased. The item was removed manually. Please check the records below.
![Screen Shot 2019-11-13 at 3 18 06 PM](https://user-images.githubusercontent.com/47898011/68812968-3fadc500-0629-11ea-89c7-f1c1c1fb2515.png)

[2019-11-14 04:08] gijoe911 opened #958 "invoice not able to display foreign characters"
we have an issue with the invoice not able to display chinese characters. can u please look into that?

![WeChat Image_20191114120618](https://user-images.githubusercontent.com/25240657/68826154-a25d9a00-06d7-11ea-8cdf-752d0ccdf2c7.jpg)

[2019-11-14 05:12] afnanforex commented on #958
Hello @gijoe911

Sorry for the trouble. As i have tested it on testing account it is working fine. I need to test it to your account.
Please share your repairdesk account login details so i can verify it on your account as well.
You can share your login details at afnan@repairdesk.co

I will update you as soon as i have more info on it.

Regards,
Afnan

[2019-11-14 05:51] gijoe911 commented on #958
Hi Afnan, credentials sent.

[2019-11-14 05:52] Repair-Desk opened #959 "Disable IMEI filed, only keep Serial number field"
For businesses that doesn't do cellphone repair it would be great if we can add a trigger under module configuration >> repair tickets which allow them to disable IMEI or serial number

[2019-11-14 05:52] Afnan-Mahmood commented on #958
Thank you @gijoe911 for sharing details.

Let me check it. I will circle back to you as soon as i have more info on it.

[2019-11-14 05:54] Repair-Desk opened #960 "Default status at ticket creation is "pending". I want to change that to "in progress""
It would be great if admin can select default repair ticket status from module configuration

[2019-11-14 05:56] usmanalikhan93 commented on #955
Hi @Omar1892

Thanks for highlighting this. In case of refund, you can select other payment from which it was paid. So it will mark in it.
What you are referring is to we have to mark it as mandatory from where payment has been given, it should comes on refund too ?

Regards
Usman Ali

[2019-11-14 05:56] Repair-Desk opened #961 "Can't change default ticket status color. There is no edit button"
It would be great if we can add an option to edit default repair ticket status color

[2019-11-14 06:20] MuhammadAdnan32 commented on #957
Hi @Omar1892,
I have checked your concern but unfortunately, I am unable to reproduce your issue. Would be great if you can share more details or a video of this issue so we can release a fix during our next release.
Thanks

[2019-11-14 06:56] MuhammadAdnan32 commented on #954
Hi @Omar1892 ,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up.

I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks

[2019-11-14 06:56] MuhammadAdnan32 commented on #954
For internal use:
https://repairdesk.atlassian.net/browse/RB-599

[2019-11-14 06:58] MuhammadAdnan32 commented on #953
Hey @Omar1892 ,
Adnan here Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks

[2019-11-14 07:28] Afnan-Mahmood commented on #958
Hello @gijoe911

As your issue has been resolved according to whats app discussion. Now the invoice is working fine as earlier on iPhone and web as well.
![3CDF399D-731D-46A0-AFFD-7F6AD01E811D](https://user-images.githubusercontent.com/55185653/68835597-3c264680-06da-11ea-840f-989ea13255f5.jpg)

[2019-11-14 19:09] Omar1892 commented on #955
Yeah so the refund should only be given from the payment method they used to make the purchase.

[2019-11-14 19:10] Omar1892 commented on #954
Ok, thanks.

[2019-11-14 19:20] Omar1892 commented on #957
Sorry, I gave you the wrong example. Please disregard the first post. So what happened was that we went from 0 items in stock to 2 items in stock and than 1 item was sold on invoice #183 after it was sold product was reduced from 2 to 1. but when we where doing the inventory check 1 item was missing. But the thing is that the item wasn't sold or missing. Similar things has happening and I notice t

[2019-11-14 19:22] Omar1892 commented on #953
I think that the issue is coming from the PO and GRN. The system is creating more serial numbers than what we are actually having on hand. The serial number are created on the GRN when new inventory comes in and we are sure to count all the inventory.

[2019-11-15 03:12] hitman1986 commented on #949
Thank you for assistants im sended another video to mr danish to explain this issue.

[2019-11-15 04:24] usmanalikhan93 commented on #955
Hi @Omar1892

Let me forward this to Product Manager so he can check.
@Uzair-RepairDesk can you check this ?

[2019-11-15 05:41] MuhammadAdnan32 commented on #949
Hi @hitman1986,
Adnan here! Thanks for sharing another video.Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks

[2019-11-15 06:29] Uzair-RepairDesk commented on #960
@Repair-Desk
We have already made this improvement which is expected in the next release.
We have given an option to mark a "Default" status that will populate while creating a ticket.

[2019-11-15 06:51] Uzair-RepairDesk commented on #955
Hi @Omar1892
Currently, it's not possible to restrict the system to only mark a refund with the same payment method that you take on purchase.
The reason is that payment can be logged with different payment methods (split payment) on the invoice and also you can make refunds on a specific quantity or amount.
It will not be possible to recognize the exact payment method in this case.

However, you

[2019-11-15 06:54] Uzair-RepairDesk commented on #957
@usmanalikhan93 @MuhammadAdnan32

[2019-11-15 07:02] MuhammadAdnan32 commented on #957
Hi @Omar1892,
Adnan here, Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks

[2019-11-15 09:33] gijoe911 commented on #958
seems like the issue is still there if email is sent by the system.. looks like something is wrong with the embedded pdf generator. please check

[2019-11-15 13:07] Afnan-Mahmood commented on #958
Hello joe,

Hope you are doing well
You request is forwarded to developmemt team. They are working on it. Once
we are able to reproduce the bug in our testing enviourment we will fix
this on priority basis.

Best,
Afnan

On Fri, 15 Nov 2019, 2:33 pm gijoe911, <notifications@github.com> wrote:

[2019-11-15 21:33] Omar1892 commented on #955
Ok, sounds good. Hope fully you guys can do something about it in the future.

[2019-11-15 21:33] #955 closed

[2019-11-16 02:45] Thayis opened #962 "Disable charge to Walk-In Customer"
Disable or give the option to disable being able to allow a invoice with amount due to Walk-In Customers. Prevents employees from leaving a pending bill on a walk in customer that we don't have a way to send a bill to after they have left the store.

My idea on how to do this is create walk in customer as an actual customer profile. Then adding a charge option to all customers.

[2019-11-16 10:42] gijoe911 commented on #958
checked again today with another customer. the same issue is still there. please fix it asap

![image](https://user-images.githubusercontent.com/25240657/68992032-c7e9cf80-08a0-11ea-8cd0-4d8d18aeb125.png)

[2019-11-16 11:17] Afnan-Mahmood commented on #958
Hello joe

Sorry the trouble
Issue is forwarded to our development team. I will update as soon as issue
will be fixed.

Best,
Afnan

On Sat, 16 Nov 2019, 3:42 pm gijoe911, <notifications@github.com> wrote:

[2019-11-18 04:59] Repair-Desk opened #963 "How did you hear about us - Legends are not displayed on mobile view"
On how did you hear about us report you can see legends on desktop version. **See below:**

![Desktop](https://user-images.githubusercontent.com/21986026/69025743-017a2200-09ea-11ea-894b-96cca3752887.jpg)

However while viewing the report from mobile it doesn't display anything. Is it possible to fix it.

![73358340_2409569509141210_3606917422126202880_n](https://user-images.githubusercontent.com/

[2019-11-18 05:20] hjtse opened #964 "If I edit any aspect of a estimate, ticket, or invoice, I want it to automatically email the customer."

[2019-11-18 05:21] hjtse commented on #964
Currently I have to remember to manually email the customer. Would like to automate this process

[2019-11-18 05:25] hjtse opened #965 "iPAD POS does not have an option to convert ticket to invoice"

[2019-11-18 05:25] hjtse opened #966 "When ticket status change to complete, automatically create an invoice and email invoice with link to pay via PayPal."
Currently this is done manually, but I want to automate.

This is especially important since the iPAD POS does not have an option to convert ticket to invoice (See issue https://github.com/Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS/issues/965)

[2019-11-18 05:31] hjtse opened #967 "I created a lead, but my dashboard does not show the details like number of leads, estimates, tickets, etc."
![image](https://user-images.githubusercontent.com/5474554/69026886-9f85d200-0981-11ea-81b4-202d77991b87.png)

[2019-11-18 05:32] hjtse commented on #967
I want my master admin dashboard to look like employee
![image](https://user-images.githubusercontent.com/5474554/69026910-b7f5ec80-0981-11ea-9f3c-87038c16dfad.png)

[2019-11-18 05:32] hjtse opened #968 "Employee dashboard, I want to include leads, estimates in the dashboard. Remove "unlocks" category"
![image](https://user-images.githubusercontent.com/5474554/69026927-ce03ad00-0981-11ea-8baa-e3a9658f5b60.png)

[2019-11-18 06:56] Uzair-RepairDesk commented on #964
Hi @hjtse

Thank you for sharing your idea.
Regarding tickets, RepairDesk certainly allows you to set automatic notification to send it to the customer based on a specific action. You can set notification relevant to a specific status. Once you update the ticket, you can select the specific ticket status and an automatic email will be sent to the customer.
You can learn more about email notificati

[2019-11-18 07:11] Uzair-RepairDesk commented on #967
Hey @hjtse
Currently, it's not possible to change the dashboard view for a super admin.
However, you can certainly make it possible under "Employee Roles & Permissions".
I will advise to just unchecked the trigger "Make this role a super user" but assign all the permissions to the super admin.
If you do it, specific employee role users will be able to access all the module/sub modules however, he

[2019-11-18 07:23] Uzair-RepairDesk commented on #968
Hey @hjtse

Thank you for sharing your idea.

Currently, it will not be possible to display estimates on the dashboard as estimates are not assigned to any specific user.
However, I have logged the request to hide unlocking if you hide the unlocking tab from module configurations and your request to display leads on the employee dashboard.

Thanks for helping us make this a platform you'll depend

[2019-11-18 07:44] Afnan-Mahmood commented on #965
Hello @hjtse

If you want to create invoice from iPad you need to checkout the ticket. Open existing ticket in edit mode and click on checkout this will create invoice.

As Invoice not created automatically on IPad by changing status.

Best,
Afnan

[2019-11-18 07:46] MuhammadAdnan32 commented on #953
Hi @Omar1892,
Thank you for bringing this to our attention! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks

[2019-11-18 08:17] usmanalikhan93 commented on #963
For internal use:

[2019-11-18 08:20] usmanalikhan93 commented on #968
For internal use:
https://repairdesk.atlassian.net/browse/RB-609

[2019-11-18 11:02] Uzair-RepairDesk commented on #966
Hi @hjtse
I will be happy to assist you with it.

Currently its not possible to convert a ticket directly to an invoice from iPad app. However you can create an invoice from ticket by re-opening the ticket on POS and checking it out as discussed in the [article. ](http://help.repairdesk.co/knowledgebase/articles/1810417-how-to-convert-a-ticket-into-an-invoice-via-ipad-a)

I have tested your concer

[2019-11-18 12:40] MuhammadAdnan32 commented on #953
Hi @Omar1892 ,
I have checked your concern but unfortunately, I am unable to reproduce your issue. Would be great if you can share a video of this issue so we can release a fix during our next release. If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.
Thanks

[2019-11-19 10:23] Afnan-Mahmood commented on #958
Hello @gijoe911

I want to update you regarding the issue we tried to reproduce this issue at our end from system and iphone as well but unfortunately issue was not reproduced at out testing and development environment. We are really sorry for this as until issue not reproduced at our end we can't resolve it.
Issue is not on every pdf it's very rare so there can be any other conflict which is not

[2019-11-19 10:25] gijoe911 commented on #958
I can try to send u an invoice on my end to an email of yours and see if u get the same error. can u please share email to send to?

[2019-11-19 11:07] Afnan-Mahmood commented on #958
You can share email on afnan@repairdesk.co
I already checked from your account by sending email to myself but issue not reproduced. PDF which I receive showing terms and conditions correctly. We can try to reproduce it if reproduced we will solve this for sure on priority basics.

[2019-11-19 11:28] gijoe911 commented on #958
i've sent u a pdf invoice. looks like the issue is still there per our whatsapp conversation. please check and get back to us. it looks like it's happening to all of our invoices so this requires your urgent attention. thanks

[2019-11-20 09:50] gsmgps-star opened #969 "sms notification problem"
hi.
we have more than one mobile carrier: 041, 051, 068, 070.
all clients except 070 receive SMS notification.
i bought test 070 number and tested it myself more than 6 times and I haven't received sms even 1 time.

i have number 051 myself and i always get sms.

what is wrong?
Any help please?

[2019-11-20 10:15] usmanalikhan93 commented on #968
Hi Han @hjtse

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-11-20 10:15] usmanalikhan93 commented on #954
Hi @Omar1892

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-11-20 10:15] #954 closed

[2019-11-20 11:20] Afnan-Mahmood commented on #969
Hello @gsmgps-star

Sorry for the trouble.

I discuss this issue with our development team. This issue is not from our side as from repairdesk provided number forwarded to clickatell than remaining things depends on clickatell. We are really sorry as we can't solve this bug because this is not related to repairdesk.

Can you please contact with clickatell support so they can add 070 to their libra

[2019-11-20 11:23] gsmgps-star commented on #969
ok tnx

[2019-11-20 14:12] #969 closed

[2019-11-20 18:13] Omar1892 commented on #953
Thank you for checking. But theres basically no way for me to recreate something that happens randomly in any random part category. Instead of recreating the issue on your side, once this happens you can login in to my account and you can check the issue your self. Because we can't be removed part and serial number for no reason. If this issue is happening on my account and im reporting it for the

[2019-11-20 19:13] JessicaSOS commented on #882
not fixed yet, please reopen and fixe it please !

[2019-11-20 20:38] JessicaSOS opened #970 "Estimate traduction"
The model editor is the same for all our shops (I'm going to copy the source code)
The language edit is the same for all our shops (I'm going to copy the selected language in all stores)
Still, SOS Phone St-Roch is the only store that does not have the same text that appears in the estimates created from leads. See Attachment.

The font of the text, some passages of texts and interfaces are not th

[2019-11-21 04:25] Uzair-RepairDesk commented on #882
@usmanalikhan93
Can you please check it again?

[2019-11-21 05:14] Afnan-Mahmood commented on #958
Hello @gijoe911

Hope you are doing well.

As per our whatssapp discussion your issue which is related to IPad app has been fixed. Please verify at your end. Hope it works for you as well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Best,
Afnan

[2019-11-21 05:25] MuhammadAdnan32 commented on #882
Hi @JessicaSOS,
Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you in 24-48 hours.
Thanks

[2019-11-21 05:25] MuhammadAdnan32 commented on #970
Hi @JessicaSOS ,
Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks

[2019-11-21 05:27] usmanalikhan93 commented on #958
Hi @gijoe911

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-11-21 05:31] usmanalikhan93 commented on #953
@MuhammadAdnan32 please check

[2019-11-21 05:32] usmanalikhan93 commented on #957
@MuhammadAdnan32 any update on this ?

[2019-11-21 05:47] MuhammadAdnan32 commented on #957
Hi @Omar1892,
I have double-checked it at my end. But unfortunately, I am not able to reproduce your issue at my end. Can you please check it again at your end? If the issue still persists, please help us to replicate the issue.
Thanks

[2019-11-21 05:49] MuhammadAdnan32 commented on #953
Hi @Omar1892,
I have double-checked it at my end. But unfortunately, I am not able to reproduce your issue at my end. Can you please check it again at your end? If the issue still persists, please help us to replicate the issue.
Thanks

[2019-11-21 07:33] MuhammadAdnan32 commented on #949
For internal use:
https://repairdesk.atlassian.net/browse/RB-618

[2019-11-21 08:02] MuhammadAdnan32 commented on #970
Hi @JessicaSOS,
I have checked on your account and I am not able to reproduce the issue. Could you please share more details or a video to reproduce the issue?
Thanks

[2019-11-21 12:32] #934 closed

[2019-11-21 12:32] #906 closed

[2019-11-21 12:32] #968 closed

[2019-11-21 12:33] #958 closed

[2019-11-21 13:30] rajeshdungrani opened #971 "Register Sales Report"
Can we have an additional column of COGS in Register Sales report. So that we can have a complete view of profitability Invoice wise

[2019-11-21 16:31] JessicaSOS commented on #970
I no longer have a valid license for the "snagit" screen recorder. If you have a license that you can provide me, I will be happy to make a video. In the meantime, if you want to replicate, you can log in to my user and account to test the problem.
--
Je n'ai plus de license valide pour l'enregistreur d'écran "snagit". Si vous avez une license que vous pouvez me fournir, il me fera plaisir de vous

[2019-11-21 16:43] JessicaSOS opened #972 "Customer message in customer profil"
My employees are not able to send emails to customers via client(customer) / client (manage customer). (see screenshot)
Yet, I am able to do it. So I think it's an option in access control. Can you guide me on which options are involved because the "customer messages" option is activated correctly in the "customer" tab.
![acces](https://user-images.githubusercontent.com/40500094/69357911-f9251f80-

[2019-11-21 17:09] JessicaSOS commented on #882
Still not working for ongoing tickets, unlocking and critics.

I turned off yesterday's "Hide Closed & Canceled Ticket on Listing Page" option in ticket settings, and critics began to be like unlocking and repairing. Before yesterday, it was only critics who showed the right number.
<img width="944" alt="total ticket" src="https://user-images.githubusercontent.com/40500094/69359810-4d7dce80-0c57-1

[2019-11-22 04:55] Uzair-RepairDesk commented on #972
**Hey Jessica,**

Please check following permission of employees:-
Store Settings >> Employees >> Manage Roles Permissions >> Select Roles > Set permissions "Customer Messages" under "Customers".

Please check the screenshot attached.
![Roles Permission-customers](https://user-images.githubusercontent.com/22955861/69398964-233b1800-0d0e-11ea-9d8e-c9693e9c9bbf.png)

If you still find any problem, p

[2019-11-22 06:44] MuhammadAdnan32 commented on #970
Hi @JessicaSOS,
I have double-checked it on your user account and unfortunately, the issue has been not reproduced. Can you please check it again at your end? If the issue still persists, please help us to replicate the issue.
Thanks

[2019-11-22 10:26] Repair-Desk opened #973 "Inventory Label Professional Template Should Have Character Limit For Product Description"
![Product Description](https://user-images.githubusercontent.com/21986026/69418351-54cad800-0d3c-11ea-8649-7701e4f3f64b.png)

If Inventory item has a long description it prints on 2 labels

[2019-11-22 13:29] usmanalikhan93 commented on #973
Issue has been fixed on live chat done by Danish Hassan.

[2019-11-22 13:29] #973 closed

[2019-11-22 22:47] Omar1892 opened #974 "Adding A Repair Job Button"
Creating a ticket --> Problem section ---> adding a device issue button. Can you guys place a warranty term drop down menu. So we can add the warranty term on the spot.

![Screen Shot 2019-11-22 at 2 41 24 PM](https://user-images.githubusercontent.com/47898011/69465808-09fa9180-0d37-11ea-836c-6cc3acaa5e4f.png)

[2019-11-22 22:52] Omar1892 commented on #957
@MuhammadAdnan32  Hello, I have reported this issue about 5 times in the past and you guys come around with the same answer. But I need more than what you guys have told me in the past. When I see it happen again can you guys just login in to my account and check the issue out your self. Like I have mentioned before this can't be replicated to be shared as a video because I have no control on how

[2019-11-25 05:47] hjtse commented on #965
Checkout does not create invoice
I am only presented with payment options. I dotn deal with in person payment, only online.
![image](https://user-images.githubusercontent.com/5474554/69515596-f2bccf00-0f03-11ea-948d-0957a7e23068.png)

Thus I need to have the invoice sent with paypal like this
![image](https://user-images.githubusercontent.com/5474554/69515612-fbada080-0f03-11ea-82ff-f7ab683b98e8.p

[2019-11-25 09:32] Afnan-Mahmood commented on #965
Hello @hjtse

Happy to help with this. Your need to complete the process of checkout with unpaid invoice. First click on checkout than click on "Complete payment" button. This will redirect to the next screen and unpaid invoice will be created and email forwarded to the customer with the described email template. From that email customer can click on paypal link and pay for invoice.

Please check

[2019-11-26 14:15] gsmgps-star opened #975 "Translate some text"
HI
i have issue for translate some text.
i need to translate:

1. ticket status (pending, repair...)
2. on printed ticket  (name of months)
3. on self check-in widget (submit button)

please see the attached pictures

1. https://s3.us-east-2.amazonaws.com/repairdesk/uploads/gallery/10876mediumWhatsApp%20Image%202019-10-13%20at%2019.45.21.jpeg.jpg

2. https://s3.us-east-2.amazonaws.com/repairdesk/u

[2019-11-27 05:17] usmanalikhan93 commented on #975
Hi @gsmgps-star

Usman Ali here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you within 24 hours.

[2019-11-27 10:42] usmanalikhan93 commented on #963
I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!

[2019-11-27 10:42] #963 closed

[2019-11-27 10:42] usmanalikhan93 commented on #949
Hi @hitman1986

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-11-27 10:42] #949 closed

[2019-11-27 11:04] Uzair-RepairDesk commented on #960
We have made this improvement LIVE.
You can now mark one status default from Store Settings > Order Status > Ticket Status
Please check screenshot attached

![uzairshah - Admin OrderStatus](https://user-images.githubusercontent.com/22955861/69718186-89b99f00-112f-11ea-9114-a413976cf487.png)

[2019-11-27 11:04] #960 closed

[2019-11-27 18:49] Omar1892 opened #976 "Inventory Count"
Hello,

I have a suggestion. Most of my inventory is serialized and what I notice when ever doing an inventory count is that if you scan the same serial number/barcode twice the system will still count it however many times it gets scanned and this is some cases is causing confusion. My suggestion would be that once a serial number is counted it can't be counted twice. That way if theirs serial nu

[2019-11-27 18:51] Omar1892 commented on #976
The reason why I suggest this is because it happens were we have counted multiple times the same serial number.

[2019-11-27 19:16] Omar1892 opened #977 "Serial Number on edited tickets"
@usmanalikhan93

Hello,

Ive sent a video with the explanation through email.

[2019-11-27 19:20] Omar1892 commented on #977
@usmanalikhan93

[2019-11-27 19:28] Omar1892 commented on #953
@MuhammadAdnan32 I have sent a video to Usman Ali Khan

[2019-11-28 03:17] hjtse commented on #916
BUMP

[2019-11-28 06:33] Uzair-RepairDesk commented on #976
Hi @Omar1892
Thank you for sharing your idea. I will review it in detail and revert back to you. Thanks

[2019-11-28 06:48] MuhammadAdnan32 commented on #977
Hi @Omar1892 ,
I hope you are doing well. I really appreciate that you took the time to share a video. We have no such functionality to give an option to select serials while you editing the tickets parts. If you want to change the serials you have to delete the parts first and then again select another serial. And you can see your added serials when you view the tickets and when you will edit the

[2019-11-28 07:01] Uzair-RepairDesk commented on #971
Hi @rajeshdungrani

Thank you for sharing your idea. I appreciate it. However, it's not possible to show COGS and Profit in the register sales report because of the following reasons:-

1: Register Sales report is on the basis of cash basis accounting. The cash basis is a method of recording accounting transactions for revenue when the corresponding cash is received or payments are made.
2: If an

[2019-11-28 07:01] #971 closed

[2019-11-28 07:25] Uzair-RepairDesk commented on #894
**Hey @hitman1986**

This is to inform you that we have optimized the search for ticket items (parts) under the edit ticket section. Once you search from the specific keyword, systems bring the parts relevant to the device first.
If you want to bring items from specific categories under the parts, you can go to "Manage Product Categories" and mark "Is Part" trigger to specific categories. Once you

[2019-11-28 07:25] #894 closed

[2019-11-28 09:13] hitman1986 commented on #894
Thanks

[2019-11-28 09:19] hitman1986 commented on #949
Yes thank you it working

[2019-11-28 18:33] JessicaSOS commented on #972
customer message is activate already, look attached picture
<img width="954" alt="customer message" src="https://user-images.githubusercontent.com/40500094/69827035-b6c78980-11e3-11ea-9fb7-c2e36c1eb68c.png">

[2019-11-29 06:52] Uzair-RepairDesk commented on #976
Hi @Omar1892
Just need to clear one thing, are you using simple count functionality or inventory count incase of serialized inventory. If not you can activate this functionality from **Settings** => **Module configuration** => **inventory count**
For further assistance you can go through this knowledge base article:
http://help.repairdesk.co/knowledgebase/articles/1119253-how-does-the-inventory-co

[2019-11-29 11:54] MuhammadAdnan32 commented on #975
Hi @gsmgps-star ,
I hope you are doing well. Currently, we don't have such functionality in the system which you was mentioned.
1- Ticket status (pending, repair...)> We advise you kindly create a custom status in your language as we don't have such functionality to convert default status.
2- On printed ticket (name of months) > This is not possible in the current situation.
3- On self-check-in wi

[2019-11-30 08:04] BG-RLTech opened #978 "New Feature - Online Sale Price"
I think there should be a 'Online Sale Price' for individual products that automatically populates the Sale Price field on Woocommerce.

This can be integrated and sync much like the Online Price in individual products.

![image](https://user-images.githubusercontent.com/39751801/69897741-f7153c00-138a-11ea-8309-c7d977337cda.png)

Repair Desk could then Populate the 'Online Price' and 'Online Sale

[2019-12-02 07:34] Repair-Desk opened #979 "Option to display turnaround against device issue"
It would be great if we can display turn around time against device issue on POS, edit ticket, appointment calendar and customer portal so staff can quote accurate time to the customer.

[2019-12-02 09:20] BG-RLTech opened #980 "FaceBook Appointments Integration"
Appointments on Facebook allows customers to create appointments direct through your Facebook Page. I went into the settings and changed our Page button to 'Book Now'.

![79407260_432864230735341_6275974476848955392_n](https://user-images.githubusercontent.com/39751801/69946989-ac7cf680-1527-11ea-8096-39685f594f9a.jpg)

I noticed the below which allows you to link another tool.

![77406200_2586921

[2019-12-03 04:53] BG-RLTech commented on #978
Is this on the roadmap at all?

[2019-12-03 04:57] BG-RLTech commented on #855
Uzair. I appreciate that you can set the configuration to Time Slots as mine currently is as below.

![image](https://user-images.githubusercontent.com/39751801/70021644-57df8700-15cc-11ea-9fc9-5b2a63c172ef.png)

I also have it set to 1 booking per time slot.

![image](https://user-images.githubusercontent.com/39751801/70021666-6cbc1a80-15cc-11ea-9929-ed719edab8bb.png)

[2019-12-03 05:08] BG-RLTech commented on #855
My problem is the below.

I have a ticket that is 'pending' and i want to schedule it for 04/12/2019 4:00AM.
- I got to Edit Ticket and change the Schedule/Pickup time to the above.
- I save the ticket and it appears in the Beta 'Dispatch' like below.
![image](https://user-images.githubusercontent.com/39751801/70022007-a4779200-15cd-11ea-8a8c-41ee993fbfcd.png)

Any other customer is able to go to

[2019-12-03 05:09] BG-RLTech commented on #855
Please remove customer updated for fix label as it is a genuine issue and needs considering.

[2019-12-03 06:21] Uzair-RepairDesk commented on #978
Hey @BG-RLTech

I really appreciate that you took the time to share your ideas. I can certainly see how suggested improvements would be useful in your case. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users.
Currently, you can sync "Online Price" with a product to your woo-commerce website. However, I have marked to sync "Online Sale

[2019-12-03 06:22] Uzair-RepairDesk commented on #980
Hi @BG-RLTech

Thank you for your post. I will discuss it with my technical team and update this thread.

[2019-12-03 06:27] Uzair-RepairDesk commented on #979
@Repair-Desk
Is it about to add a new field of "Turn Around Time" with each repair service like "Average Job Time" or schedule of repair jobs while booking a ticket?

[2019-12-03 06:59] Uzair-RepairDesk commented on #855
Hey @BG-RLTech
Thanks for your response, currently there is no such functionality that booking an appointment from the dispatch module will automatically book a slot from the appointment calendar widget or disable that specific time from the appointment calendar widget.

when any appointment is created from the appointment widget it falls under unassigned and you can manage it manually.

Regards

[2019-12-03 20:32] Omar1892 commented on #977
Hello, thank you for getting back to me. But you guys use to have that option once you guys did a big change on the system a couple of months back that was removed. It was a lot easier to see what serial number was used and with out having to delete the part we can switch it up.

[2019-12-03 20:34] Omar1892 commented on #976
Hello,

I didn't have the "Allow inventory count for serials" let me try this and ill see if theres a difference.

Thank you.

[2019-12-03 23:46] ThinkDigitalSoftware opened #981 "[OpenAPI] Expose last data update timestamp"
In order to minimize server load,  users can keep a synchronized version on their devices. However,  it would be good to know when changes have been made to the server and what changes those are so we can sync accordingly. Currently, each query has to ping the server in rapid succession and that leads to heavy server load and slower applications.
Proposal:
each category has a last updated timestam

[2019-12-04 07:30] MuhammadAdnan32 commented on #977
Hi @Omar1892 ,
I hope you are doing well. You can view your used serials from the ticket view page in the ticket line items. And you can update the serial by deleting the attached serials and then add new serials with the ticket. We have no such functionality to give an option to select serials while you editing the parts of the ticket. If you have any questions or if there is anything else with w

[2019-12-04 22:32] ThinkDigitalSoftware commented on #248
{
            "id": "892344",
            "item_no": "0003",
            "name": "Screen (Digitizer+LCD) Replacement",
            "~manufaturer_name~": "LG", <--- manufacturer_name
            "device_name": "Nexus 5 D821",
            "original_price": "99.00",
            "tax_class": {
                "tax_class": "Indio Tax",
                "id": "7495",
                "tax_percent": "8.750

[2019-12-04 22:35] ThinkDigitalSoftware opened #982 "[OpenAPI] Missing endpoint for device repair categories"
<img width="862" alt="Screen Shot 2019-12-04 at 2 34 58 PM" src="https://user-images.githubusercontent.com/23037821/70187520-474e1000-16a3-11ea-9717-0e266d2155a3.png">

[2019-12-05 05:33] Repair-Desk opened #983 "Automatic Email / SMS Triggers Aren't working For Custom Templates"
If you've created a custom email / sms template which should be sent to a customer when a repair status is marked as in progress or completed system does not send out the message automatically to a customer.

[2019-12-06 00:15] Omar1892 opened #984 "Product Location"
Hello,

can you guys add the Item Location on once a GRN is created. That way we can print out the receipt at the end of an GRN and we can just put everything away where it supposed to go.
![Screen Shot 2019-12-05 at 4 12 08 PM](https://user-images.githubusercontent.com/47898011/70284879-797e7100-177a-11ea-9000-153c531677e8.png)

[2019-12-06 06:27] Repair-Desk opened #985 "Improvement - Low Stock Report"
If a product has either stock warning or re-order level setup it should display on the homepage as well as low stock report.

Also, it should send an email to the administrator when an item reaches the threshold

[2019-12-06 06:29] Repair-Desk opened #986 "Improvement - Repair Category"
At present, device issues are mapped with device model whereas they should be mapped based on the repair category.

[2019-12-06 11:31] Afnan-Mahmood commented on #983
Hello @Repair-Desk

Issue with email and notification has been fixed. Now emails working properly as per custom status settings.

Best,
Afnan Mahmood

[2019-12-06 12:50] #983 closed

[2019-12-10 06:27] Uzair-RepairDesk commented on #985
@Repair-Desk
Currently, the dependency of low stock report/alert is based on both stock warning and reorder level value so we can track the required stock.
Do you want to make it dependent only on stock warning value?

[2019-12-10 06:31] Uzair-RepairDesk commented on #979
If you set up "Average Job Time" in each service, it displays the service on the POS screen.

[2019-12-10 07:10] Uzair-RepairDesk commented on #984
Hey @Omar189

Thank you for reaching out, we can certainly show item location here on the above-added popup.but just need to confirm that you also want to display item location on print PDF?

[2019-12-10 18:32] #965 closed

[2019-12-10 18:33] #964 closed

[2019-12-10 18:34] #966 closed

[2019-12-10 21:50] Omar1892 commented on #984
It could be on both the actual computer screen and on a print out. Some times we only get 1 or 2 parts so it would be a waste to be printing out pages and some times we get 100+ parts and thats when we need to do a print out.  Thank you.

[2019-12-10 21:50] #977 closed

[2019-12-10 21:59] Omar1892 commented on #976
@Uzair-RepairDesk  Hello, I did try it the way the instructions you gave me but its a little more difficult. I have sent a video via email to show you guys what I mean.

[2019-12-10 22:00] Omar1892 opened #987 "RMAs Issue"
Hello,

ive sent you a video via email of the issue that im having.

[2019-12-11 07:56] Uzair-RepairDesk commented on #295
Its working fine, upon updating the ticket its updating ticket and upon deletion ticket is removed from google calendar aswell.

[2019-12-11 16:34] Repair-Desk opened #988 "When you clone system generated serialized inventory item it generates duplicate serials"
when using self inputted serial and clone it does it the correct way, only on system generated serials it clones serials also itleast on my system.

[2019-12-11 17:41] T3KD3V1L commented on #985
No......if stock warning is zero and and reorder is 1 then it should order one when one is sold that IS the way it worked up until a couple weeks ago,

[2019-12-11 18:09] T3KD3V1L opened #989 "LCD Serialization improvement Request"
Add inventory item serial to available tags under ticket label template editor..

Purpose is so that when a employee checks in a phone and transitions to back end he can select/get the correct screen using as a reference ticket label with screens serial on it.

[2019-12-12 09:33] Repair-Desk opened #990 "Tap on each Scan – iPad POS App: "
Currently, cashiers/users have to tap every time they want to scan an item using the barcode scanner. Furthermore, once an item is scanned, to add that item to cart the user needs to tap again. That is a lot of work for users who are catering the customers who have a lot of things to buy. Therefore, to simplify the retail part of the application, these taps should be eliminated, so the user can si

[2019-12-12 09:41] Repair-Desk opened #991 "Inventory Summary Report"
You should be able to download complete inventory summary report

[2019-12-12 09:50] Uzair-RepairDesk commented on #987
Hello @Omar1892
Can you please confirm where you exactly shared the video. Thanks.

[2019-12-12 11:26] Uzair-RepairDesk commented on #879
Improvement pushed live.

[2019-12-12 13:26] Uzair-RepairDesk commented on #916
Hi @jpcodev @hjtse

We have made this improvement LIVE. You can now set the default due date & time for repair tickets.
You can go to Store Settings > Module Configurations > Repairs > Update 'Default due date & time for repairs' > Save

Please have a look at the screenshot attached.

![Repairs Config](https://user-images.githubusercontent.com/22955861/70715818-e65eb180-1d0c-11ea-9be4-69550edffede

[2019-12-12 13:26] #916 closed

[2019-12-12 13:30] Uzair-RepairDesk commented on #879
We have enabled repair shop owners to add notes in discounts now. This option is trigger-based, and the store owner can see the reason for the line item/overall discount offered to customers by store employees.

Your discount notes can be viewed in the Register Sales Report and Sales by Item Type report.

![discount-popup png  455×347 ](https://user-images.githubusercontent.com/22955861/70716068-6

[2019-12-12 13:30] #879 closed

[2019-12-12 18:09] SajAbu opened #992 "Search Serialized Items from Invoice Management"
Currently i cannot search for an IMEI through invoice management. This means i cannot search my inventory properly. this is something that is important when searching sales made by employees and to reduce potential theft. Could you please look into this and add this option?

[2019-12-12 19:23] fahadimran303 opened #993 "RMA Label Not Showing Via PrintNode | Corey Berdini | DrPhoneFix & Repair Weston"
Hello,

RMA doesn't give you the option to Print via Google Cloud Print and PrintNode.

Can we have this added.

Thanks,

[2019-12-12 19:26] fahadimran303 commented on #993
![RMA PrintNode](https://user-images.githubusercontent.com/48645240/70742382-38b8c600-1d3f-11ea-9570-ea3ebb147bcf.png)

[2019-12-12 19:53] fahadimran303 commented on #993
This option should also be in Inventory >> RMA

[2019-12-13 05:50] Uzair-RepairDesk commented on #993
@fahadimran303
Who actually requested this? Do we have a log of this improvement on JIRA? Please confirm?

[2019-12-13 05:52] Uzair-RepairDesk commented on #992
Hi @SajAbu
Thank you for bringing it out to our attention.
Can you please confirm if you are highlighting IMEI of trade-in devices or the IMEI field of "Mobile, Accessories & Parts inventory?

Once you confirm, we can look into it. Thanks

[2019-12-13 05:54] Uzair-RepairDesk commented on #990
Internal Task:-
https://repairdesk.atlassian.net/browse/REP-2331

[2019-12-13 05:55] Uzair-RepairDesk commented on #988
@usmanalikhan93
Did you check this?

[2019-12-13 05:56] Uzair-RepairDesk commented on #979
Customer updated on this

[2019-12-13 05:56] #979 closed

[2019-12-13 06:01] usmanalikhan93 commented on #988
For Internal Use:
https://repairdesk.atlassian.net/browse/RB-693

[2019-12-13 06:09] Uzair-RepairDesk commented on #943
We already informed the customer.
If there is SKU, the system generates barcode on the basis of SKU and if there is no SKU, system automatically generates barcode on the basis of item ID.

[2019-12-13 06:09] #943 closed

[2019-12-15 10:15] hitman1986 opened #994 "Not showing all item in “low stock report”"
After last update not showing all item in low stock report
![11BB055E-C41D-45BB-8B05-72F7DD995275](https://user-images.githubusercontent.com/44485797/70861294-9104e900-1f34-11ea-8d74-7250783c6ef0.jpeg)
![32CDD28E-2E29-4350-8EF1-ADCD170EF6F1](https://user-images.githubusercontent.com/44485797/70861299-995d2400-1f34-11ea-8344-143425b975f4.jpeg)
Im send video to mr danish to explain this issue

[2019-12-16 06:09] Uzair-RepairDesk commented on #994
@usmanalikhan93  can you please look into it?

[2019-12-18 11:32] usmanalikhan93 commented on #988
Hi @Repair-Desk

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2019-12-18 11:32] #988 closed

[2019-12-18 18:51] fahadimran303 opened #995 "Square Integration Issue | Sal Pirani"
Dear Sir,

Sal Pirani has reported an issue related to **Square Deep Integration** on their **Buckhead Location**.

All transactions recorded on **Buckhead Location** goes in the **Midtown Square Account**

All the settings on RepairDesk is correct and they are logged into the **Buckhead Square App**

He spoke with with square team and they believe it's not an issue with their end.

It seems like

[2019-12-18 19:04] Omar1892 commented on #987
Hello, it was sent to Muhammad Adnan

[2019-12-18 19:07] Omar1892 commented on #953
Hello, I think I know where the issue is coming from. Its coming from the RMAs. When an RMA is created we mark it as Sent to Supplier so that the part and serial number would be removed from the inventory instock. What I notice the system has being doing in some cases it removes the serial number from the inventory in stock but it won't update the inventory in-stock. And in most other cases it rem

[2019-12-19 04:59] T3KD3V1L opened #996 "RMA/Serialization Enhancement Request"
It would be nice to be able to click the barcode emblem on the repairdesk bar and scan a rma screen using the provided MS barcode and if the serial is in RMA it open the RMA up.   Would give me the choice not use RD RMA label and just use one barcode.

[2019-12-19 05:11] #996 closed

[2019-12-19 05:21] MuhammadAdnan32 commented on #953
Hi omer1892,

Adnan here 👋 Sure thing! Let me take a look to see if I'm getting the same
issue as you and I'll circle back to you. Thank you for bringing this to
our attention!

Thanks,

Regards,

Adnan

On Thu, Dec 19, 2019 at 12:07 AM Omar1892 <notifications@github.com> wrote:

[2019-12-19 05:39] MuhammadAdnan32 commented on #987
Hi @Omar1892 ,
 Sure thing! Thanks for sharing the video with us. Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks,
Regards,
Adnan

[2019-12-19 11:22] MuhammadAdnan32 commented on #953
Hi @Omar1892 ,
I have checked your concern but unfortunately, I am unable to reproduce your issue. And it's working fine for me. Kindly avoid using zero on-hand part with the ticket that creates a hurdle for you. If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out. Be sure to let us know if there's anything we can do to make it even b

[2019-12-19 11:24] MuhammadAdnan32 commented on #987
Hi @Omar1892 ,
I have checked your concern but unfortunately, I am unable to reproduce your issue. And it's working fine for me. Kindly avoid using zero on-hand part with the ticket that creates a hurdle for you. If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out. Be sure to let us know if there's anything we can do to make it even b

[2019-12-20 04:49] Uzair-RepairDesk commented on #995
@usmanalikhan93
Can you please get it checked?

[2019-12-20 05:20] usmanalikhan93 commented on #995
I believe it is fixed yesterday. @fahadimran303 can you please update here ?

[2019-12-20 12:47] Afnan-Mahmood commented on #993
@Uzair-RepairDesk

Jira created. Link is attached in live chat.

[2019-12-21 01:02] hitman1986 commented on #831
What about this suggestion?!

[2019-12-21 01:08] hitman1986 commented on #899
Thank you

[2019-12-23 00:00] hitman1986 opened #997 "Issue back again"
Issue no #890 is back again when export invoice by excel !!

[2019-12-23 07:17] usmanalikhan93 commented on #997
Hi @hitman1986

Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

Usman Ali

[2019-12-26 12:46] #995 closed

[2019-12-26 17:10] #987 closed

[2019-12-26 17:11] #732 closed

[2019-12-27 04:53] Uzair-RepairDesk commented on #959
@Repair-Desk
We have made this improvement LIVE. You can now select the default input criteria either IMEI or Serial under Store **Settings > Module Configurations > Repairs**

You can also disable the IMEI if it's not applicable.
Release Notes: https://www.repairdesk.co/blog/2019/12/26/web-release-notes-email-campaigns-for-bill-payments/

Can we please update to the customer where he actually req

[2019-12-27 04:53] #959 closed

[2019-12-27 18:10] T3KD3V1L opened #998 "RMA Enhancement add status's"
Requesting some status's to be addded:

Option to changed a new defaulted field from RMA (Default) to Swap

Swap Rejected---Closed
Swap Approved---Open
Swap in inventory---Closed

[2019-12-27 18:27] #998 closed

[2019-12-28 12:23] hitman1986 commented on #994
Urgently, i need fast fix for this issue because my work its broken down!!

[2019-12-30 08:18] MuhammadAdnan32 commented on #975
For internal Use:
https://repairdesk.atlassian.net/browse/RB-738

[2019-12-30 10:06] #997 closed

[2019-12-30 12:25] MuhammadAdnan32 commented on #882
Hi @JessicaSOS ,
I have checked again in detail and everything is working fine. As in repair, we show all the open tickets which also included critical tickets. That's why you can see 985 in Repairs tickets which also included 935 Critical tickets as shown in your shared image. And In the unlocking section, we just have shown unlocking tickets.
![employee_dashbord](https://user-images.githubuserco

[2019-12-31 13:54] antoinegali opened #999 "Refurbishment Ticket Status Update"
Hello,

When I create a refurbishment ticket for a Trade-In device, if I change the status to "Completed" before I save that ticket, it won't update the Trade-In status from "Pending Refurbishment" to "In Stock". I have to change the ticket status after I click on save to it updates.

Is this a known issue? Quite annoying since I'm going to be processing tons of Trade-ins.

Thanks,
Antoine

[2020-01-01 06:30] MuhammadAdnan32 commented on #999
Hi @antoinegali ,
I hope you are doing well. Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks,
Regards,
M Adnan

[2020-01-01 06:57] MuhammadAdnan32 commented on #999
For Internal use:
https://repairdesk.atlassian.net/browse/RB-744

[2020-01-01 06:59] MuhammadAdnan32 commented on #999
For Internal use:
https://repairdesk.atlassian.net/browse/RB-744

[2020-01-07 09:35] istationonline opened #1000 "Inventory Label (Show Supplier)"
No option to at the supplier to an inventory label.

Please make available

[2020-01-07 10:01] istationonline opened #1001 "Spelling Mistake "Deice""
![Untitled copy](https://user-images.githubusercontent.com/59316784/71886395-0af35100-3134-11ea-882c-05c0829734c9.png)

[2020-01-07 13:10] MuhammadAdnan32 commented on #975
Hi @gsmgps-star,
I hope you are doing well. Your reported issue related to the Self-check-in widget (submit button text need to be translated) has been fixed. Please verify at your end and do let us know if you have a question.
Thanks!
Regards,
M Adnan

[2020-01-08 05:36] MuhammadAdnan32 commented on #1001
Hi @istationonline,
Thank you for bringing this to our attention! I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks,
Regards,
M Adnan

[2020-01-08 09:24] usmanalikhan93 commented on #999
Hi @antoinegali

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2020-01-08 09:24] #999 closed

[2020-01-08 09:24] #975 closed

[2020-01-09 12:42] usmanalikhan93 commented on #994
Hi @hitman1986

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2020-01-09 12:42] #994 closed

[2020-01-10 05:39] Uzair-RepairDesk commented on #985
Hey @T3KD3V1L
I hope you are doing well,  Improvement - Low Stock Report is now live.
You can view the knowledge base article for Incase you have any confusion.
https://help.repairdesk.co/knowledgebase/articles/1892974-low-stock-report

[2020-01-10 05:39] #985 closed

[2020-01-10 05:40] Uzair-RepairDesk commented on #993
Hey @fahadimran303
Required improvement is live.

[2020-01-10 05:40] #993 closed

[2020-01-10 16:26] T3KD3V1L commented on #985
Yeah fahad got with me yesterday everything back to normal, thanx

On Fri, Jan 10, 2020 at 12:39 AM Muhammad Uzair Shah <
notifications@github.com> wrote:

--
Kind Regards,

Shane Moreland
502-385-0600 Ext 404

[2020-01-13 14:19] Repair-Desk opened #1002 "Improvements In Bill Payments"
Not a bad bill payment module.  It’s missing one item.

Some States like Iowa and Illinois charge (2) types of Tax on prepaid products:

1. Sales Tax
2. E911 Tax (which you already have built in)

3. Some prepaid carriers pay all taxes for the customer (Boost).  Boost Mobile does not have us collect or charge any tax to customers.  So $50, means $50.   There is no E911 Tax or Sales Tax for a Boost

[2020-01-14 08:56] gijoe911 opened #1003 "invoice terms and conditions disappear when making multiple payments"
I have an issue that when the customer makes multiple payments on an invoice the terms and conditions disappears. I have asked @Danny Hassan to address this before but haven’t heard anything. Can u guys please take a look? seems to work fine when single payment is made against an invoice. thanks

![WhatsApp Image 2020-01-14 at 4 37 27 PM](https://user-images.githubusercontent.com/25240657/72328882

[2020-01-14 11:29] usmanalikhan93 commented on #1003
Hi @gijoe911

Usman Ali here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2020-01-16 07:23] Uzair-RepairDesk commented on #982
Hey, @ThinkDigitalSoftware
 Can you please share more details so that we can look into it?

[2020-01-16 07:25] ThinkDigitalSoftware commented on #982
If we want to get a lost of these categories, we don't have a way to. Like Mac & PC, or all devices under Mobile

[2020-01-16 08:09] Uzair-RepairDesk commented on #982
@ThinkDigitalSoftware  can you please explain "lost of these categories"  means? or you can come to live chat and over customer support can guide you.

[2020-01-17 19:37] antoinegali opened #1004 "Inventory Count Problem"
While you are completing an inventory count, if you input the quantity then scan the item SKU, it adds it to the list with "1" as quantity, not considering whatever number you put first.
You then have to manually update the number of items

[2020-01-18 22:42] Thayis opened #1005 "Expense difficult to select correct payment option"
Found a small glitch that when you release the mouse click on payment option under expenses. It will scroll up to the top again. Easy to get around but i have accidentaly selected wrong payment method a few times because of it.

[2020-01-20 04:40] MuhammadAdnan32 commented on #1004
Hi @antoinegali ,
Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks,
Regards,
M Adnan

[2020-01-20 04:40] MuhammadAdnan32 commented on #1005
Hi @Thayis ,
Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks,
Regards,
M Adnan

[2020-01-20 11:15] MuhammadAdnan32 commented on #1003
Hi
I have checked your concern but unfortunately, I am unable to reproduce your issue and its working fine for me with multiple payments of invoice. It would be great if you can share a video of this issue or detailed steps to reproduce the issue.
If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.Thanks
Regards,
M Adnan

[2020-01-20 11:22] Uzair-RepairDesk commented on #838
**Hi Benjamin @BG-RLTech**

Good News, we have updated MailChimp integration with tags functionality. You can now select tags to sync with customers. You can either use tags with a single mailing list or you can also use the "Multiple Mailing List" to sync customers based on specific tags.
You can pick tags based on the following:-
- Store location
- Customer Group
- Product Category
- Repair Cate

[2020-01-20 11:22] #838 closed

[2020-01-20 11:24] Uzair-RepairDesk commented on #874
**Hi @mobilebarn **

Good News, we have updated MailChimp integration with multiple mailing list and tags functionality. You can now select tags to sync with customers. You can either use tags with a single mailing list or you can also use the "Multiple Mailing List" to sync customers based on specific tags.
You can pick tags based on the following:-
- Store location
- Customer Group
- Product Cat

[2020-01-20 11:24] #874 closed

[2020-01-20 11:48] MuhammadAdnan32 commented on #1004
Hi @antoinegali ,
I hope you are doing well. I have checked your concern in case of scan we allow only one item to count because we can scan a single item at a time and quantity directly added to cart as you have seen. So we will not allow multiple items to count in case of the scan. If you want to count multiples items you can use bulk count option.
If you have any questions or if there is anythi

[2020-01-20 12:00] Uzair-RepairDesk commented on #990
We have made this improvement LIVE in the last release of the iPad. You can simply tap on the search field, scan any item through the barcode to add it to the cart automatically.

[2020-01-20 12:00] #990 closed

[2020-01-20 12:04] Uzair-RepairDesk commented on #972
@usmanalikhan93
Please check the updated status of this

[2020-01-20 12:04] #967 closed

[2020-01-20 12:05] #927 closed

[2020-01-20 12:12] Uzair-RepairDesk commented on #976
Hey @Omar1892
Can you please confirm where you exactly sent the video? Can you please upload it on google drive and share the link here? Thanks

Regards,
Uzair

[2020-01-20 12:14] Uzair-RepairDesk commented on #992
Hi @SajAbu  - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here or reopen it if anything else comes up! Thanks

[2020-01-20 12:28] MuhammadAdnan32 commented on #1005
Hi @Thayis ,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks,
Regards,
M Adnan

[2020-01-20 12:28] MuhammadAdnan32 commented on #1005
For internal use:
https://repairdesk.atlassian.net/browse/RB-808

[2020-01-20 12:41] MuhammadAdnan32 commented on #1001
Hi @istationonline
I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have a question.
Thanks!
Regards,
M Adnan

[2020-01-20 13:00] usmanalikhan93 commented on #1001
Hi @istationonline

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2020-01-20 13:00] #1001 closed

[2020-01-20 13:03] usmanalikhan93 commented on #972
Sure @Uzair-RepairDesk

[2020-01-20 15:36] SajAbu commented on #992
hi, its not resolved yet im afraid. its when you go to search the invoices. there is no option to search by imei. any sort of imei

[2020-01-20 15:51] antoinegali commented on #1004
Hello,

Thanks for the reply. It seems like I didn't use the feature correctly. I think the actual way to do it is very convenient.

Thanks,
Antoine

[2020-01-20 15:51] #1004 closed

[2020-01-21 04:02] gijoe911 commented on #1003
Hi there, another customer made more than 1 payment yesterday and the same thing happened. did u use the ipad to make multiple payments and double check the invoice? please, this is a serious issue that should be checked and addressed thoroughly.

![Untitled](https://user-images.githubusercontent.com/25240657/72774539-f2139100-3c45-11ea-9f2a-efd3c3c51781.png)

[2020-01-21 05:30] MuhammadAdnan32 commented on #1003
Hi @gijoe911 ,
I hope you are doing well. I have double-checked your concern on my account its working fine for me. Could you please share your Repairdesk account credentials on adnan@repairdesk.co, So I will check it on your account. Thanks,
Regards,
M Adnan

[2020-01-21 07:50] Uzair-RepairDesk commented on #1002
Currently we have the following workaround for this case in our system:

1. If the user does not want to charge any tax on bill payments transaction, he can simply mark NO for 911 tax from module settings page and no tax will be charged against these transactions.
2. If he wants to charge both sales tax and 911 tax, he can rename the 911 tax to Sales Tax and its value should be equal to 911 tax+ s

[2020-01-21 08:44] BG-RLTech commented on #978
As a suggestion regarding this post.
- Can the Online Price in RD be mapped to the Regular Price on Woocommerce.
- Can the Sale Price in RD be mapped to the Sale Price on Wocommerce.

[2020-01-21 08:44] BG-RLTech commented on #978
This would ensure no additional features required and will just align the current feature better

[2020-01-21 09:00] gijoe911 commented on #1003
Yes no problem. Thanks

fly@digitalexpertmo.com
password1.

On Tue, Jan 21, 2020 at 1:30 PM RepairdeskQA <notifications@github.com>
wrote:

[2020-01-21 09:36] Uzair-RepairDesk commented on #978
Hi @BG-RLTech

It's certainly possible. If you enter "Online Price" for an item, it syncs as a retail price on woocommerce. If you don't have an online price set for an item but you enter 'Sale price' it also syncs as a retail price of an item on woocommerce.
However, the system doesn't sync any price in the sale price of woocommerce.

I have already marked it under enhancements of woocommerce.

[2020-01-21 10:04] BG-RLTech commented on #978
Surely this is not hard to change considering both fields are present.

From: Muhammad Uzair Shah <notifications@github.com>
Sent: Tuesday, 21 January 2020 5:37 PM
To: Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS <RepairDesk-BUGS-IMPROVEMENTS@noreply.github.com>
Cc: BG-RLTech <Manager@repairlogic.com.au>; Mention <mention@noreply.github.com>
Subject: Re: [Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS

[2020-01-21 10:47] gsmgps-star opened #1006 "Improvements In Ticket Counter Display"
Hi.

how to setup ticket status to be visible in colors?
Picture: https://i.imgur.com/v4mKGY3.jpg

your demo shows your ticket status in color..

regards

[2020-01-21 10:49] gsmgps-star opened #1007 "Facing display - terms text"
hi.

it is possible to set the term text to a smaller font?
picture: https://i.imgur.com/u06hiI9.jpg

regards

[2020-01-21 11:05] SajAbu commented on #992
Hi Uzair, what further information do you need from me to resolve this issue?

[2020-01-21 11:09] Uzair-RepairDesk commented on #992
Hi @SajAbu
I have reopened the post.
Can you please specify the IMEI criteria you mentioned above? Do you want to add criteria to search an invoice from a specific serial number under the manage invoices section?

[2020-01-21 11:52] SajAbu commented on #992
yes. i want to be able to search for an imei through the invoices.

[2020-01-21 11:53] SajAbu commented on #992
so i can see when a particular imei was repaired or sold to a customer

[2020-01-21 11:59] Uzair-RepairDesk commented on #992
Are you using serialized inventory feature of RepairDesk and keep IMEI's as serials @SajAbu ?

[2020-01-21 12:09] usmanalikhan93 commented on #1003
Hi @gijoe911

I hope you are doing well. I have deleted your last message which has credentials. Because it's a public so anyone can see it. I have noted down your credentials and @MuhammadAdnan32 will look into this issue and revert back to you if he needs more info.

Thanks
Usman Ali

[2020-01-21 12:17] Uzair-RepairDesk commented on #1006
Hi @gsmgps-star
​
Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
​
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information with a timeframe!
​
Please expect an update from our side in next 48 hours. Thanks

[2020-01-21 12:25] gijoe911 commented on #1003
Thank you very much.

On Tue, Jan 21, 2020 at 8:09 PM Usman Ali Khan <notifications@github.com>
wrote:

[2020-01-21 12:31] Uzair-RepairDesk commented on #1007
Hi @gsmgps-star
If you set terms & conditions, it displays complete text on the customer-facing display widget.
Can you please specify why you exactly asking for a smaller font?

[2020-01-21 12:47] usmanalikhan93 commented on #1006
For internal use:
https://repairdesk.atlassian.net/browse/RB-811

[2020-01-21 13:06] SajAbu commented on #757
is it possible to re open this. We want to be able to search for customers using their postcode. is it possible to add a search function to do this?

[2020-01-21 13:13] SajAbu commented on #992
yes

[2020-01-21 14:28] gsmgps-star commented on #1007
because my terms text occupy the full screen :-)

solved it by rearranging the text in terms

tnx

[2020-01-21 15:34] gsmgps-star commented on #1006
Ok great..
And where can i translate the text: ticket id.
, status....?

[2020-01-22 01:33] Omar1892 opened #1008 "Invoice email issue"
![Screen Shot 2020-01-21 at 5 30 34 PM](https://user-images.githubusercontent.com/47898011/72858058-67965600-3c74-11ea-8944-e18d3f4a8637.png)
When ever I we try to send a receipt email or an invoice by email the costumer never gets it. I've tried to send it to my personal email as well and it doesn't arrive. I have reported this issue on my old account but you guys told me that it was working on y

[2020-01-22 04:56] MuhammadAdnan32 commented on #1008
Hi @Omar1892 ,
Adnan here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks,

[2020-01-22 05:14] MuhammadAdnan32 commented on #1008
Hi @Omar1892 ,
Thank you for bringing this to our attention! It looks like an account-specific issue.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks,
Regards,
M Adnan

[2020-01-22 05:22] MuhammadAdnan32 commented on #1008
For internal use:
https://repairdesk.atlassian.net/browse/RB-814

[2020-01-22 05:36] Repair-Desk opened #1009 "Ability to print inventory item barcode using RepairDesk iPAD POS"
To have the ability in **[RepairDesk iPAD POS](https://www.repairdesk.co/iPAD-POS-Register)** to print inventory label, when you tap an inventory item from shopping cart and on the pop up it shall allow you to print inventory label/barcodes

![iPAD POS App](https://user-images.githubusercontent.com/21986026/72868225-2e58f700-3d03-11ea-9f85-6384b0b10191.jpg)

[2020-01-22 05:57] MuhammadAdnan32 commented on #1003
Hi @gijoe911 ,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks,
Regards,
M Adnan

[2020-01-22 05:58] Uzair-RepairDesk commented on #1007
Thanks for the update @gsmgps-star

[2020-01-22 05:58] #1007 closed

[2020-01-22 05:58] gijoe911 commented on #1003
Great thanks

On Wed, Jan 22, 2020 at 1:57 PM RepairdeskQA <notifications@github.com>
wrote:

[2020-01-22 06:09] MuhammadAdnan32 commented on #1003
For internal use:
https://repairdesk.atlassian.net/browse/RB-816

[2020-01-22 11:30] MuhammadAdnan32 commented on #1008
Hi @Omar1892 ,
I hope you are doing well. Kindly check the developer comment bellow.
We have checked our system is working fine. Emails are sending. but our SMTP blocking this email request because the sender email is from yahoo.com. It's highly recommended to not use any yahoo.com email for a store as the SMTP server considers it as a fake email request. please ask the customer  to change the sto

[2020-01-22 11:31] Repair-Desk opened #1010 "Ability to upload attachments on repair tickets / leads"
I need the ability to attach files other than images to tickets. PDF, etc. Is this going to be available? I can see you can attach any file to a customer record, so why not to a ticket?

[2020-01-22 18:12] Omar1892 commented on #1008
Ok, thank you for quickly getting back to me. Will this issue with the (yahoo) be fixed?

[2020-01-22 20:08] screenfixing commented on #344
Curious if any progress on this roadmap item?

[2020-01-22 23:07] screenfixing opened #1011 "Add ability to schedule and email reports"
Coming from RepairShopr where not all reports were capable, but many were, scheduling and emailing reports in PDF form would be great. I need to send my Sales Tax report monthly to my CPA who pays that for me. I also need to run my PNL monthly and send it to my landlord. It would be awesome if this was possible, unless I am missing something.

[2020-01-22 23:30] BG-RLTech opened #1012 "iOS App - Add Dispatch Calendar"
Can you add the Dispatch Calendar to the iOS application. This allows better management for management to review tech's jobs for the day.

[2020-01-23 06:23] Uzair-RepairDesk commented on #1012
Hey @BG-RLTech

Thank you for sharing your idea. The dispatch module is already planned in Q2 of 2020 in a new app.
Currently, we are working to revamp our mobile app and the initial version is expected before the end of Q1 2020.
The new app will be a hybrid app that will work on both iOS and Android platforms. Please check the repair ticket-workflow that is currently in development. You are welco

[2020-01-23 06:29] MuhammadAdnan32 commented on #1008
Hi @Omar1892 ,
I hope you are doing well. We will not fix this issue because our SMTP blocking this email request and the SMTP server considers it as a fake email request.  It's highly recommended to not use any yahoo.com email for a store. Kindly change the store email to any other account (non-yahoo.).
If you have any questions or if there is anything else with which I may assist, please do not

[2020-01-23 07:11] Uzair-RepairDesk commented on #1011
Hey @screenfixing

Thank you so much for sharing your idea.
Currently, you can export the report files in CSV/PDF format to send it by email. You can apply the relevant search filters to filter the data and then you can export the file to send it by email.
Please check the screenshot attached from our tax report.
![uzairshah - Taxdetail Stats](https://user-images.githubusercontent.com/22955861/729

[2020-01-23 11:57] gsmgps-star opened #1013 "Self Check-In Widget - translate, add/remove"
hi,

can i delete and add text / box in this form?

i also need to translate the text...

PICTURE: https://i.imgur.com/3gG06NT.jpg

regards

[2020-01-23 19:23] gsmgps-star opened #1014 "Customer Facing Display - text translate"
hi.

i translated all the text but it still shows me in english...
any help please
PICTURE
1. https://i.imgur.com/v0OIp7F.jpg
2. https://i.imgur.com/qCyd5VI.jpg
3. https://i.imgur.com/R4rc1se.jpg

regards

[2020-01-24 04:59] MuhammadAdnan32 commented on #1013
Hi @gsmgps-star ,
I hope you are doing well.
1- Yes, you can remove the text box on the self-check-in form.
Steps:
Login to Repairdesk account
-Go to Integrations: https://app.repairdesk.co/index.php?r=config/integration
-Select Self-check-in Widget
- On the bottom of the page, there are some triggers from where you can hide som text box.
![self_check_in_widget](https://user-images.githubuserconte

[2020-01-24 06:57] MuhammadAdnan32 commented on #1014
Hi @gsmgps-star
Thank you for bringing this to our attention! It looks like there's a bug that just popped up.

I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks,
M Adnan

[2020-01-24 07:51] gsmgps-star commented on #1013
yes...but here is not what i need..

i need:
1. Address - must be mandatory..and also i need  the change the text
2. How did you hear about us - i need to remove this box

regards

[2020-01-24 08:23] Repair-Desk commented on #1006
We should also add the option where a customer can select to display yesterday or last 7 day repair tickets

[2020-01-25 00:12] cellularport opened #1015 "Ring Central Improvement"
I want New calls to be landed as leads. OR it can give us option to save as leads.

Also leads should be not only for repairing tasks but it should work for purchasing products or for any other services like unlocking or trade ins. We receive calls for phone prices too so we need to engage them within the same lead generation module.

All calls pop up on the repair desk should be accessible

[2020-01-26 14:45] Uzair-RepairDesk commented on #1006
Hi @gsmgps-star

This is to inform you that we have fixed your reported issue. The custom status will show with the respective color on the ticket counter display.
Please check on your end and do let us know if you have any question.

[2020-01-26 17:25] gsmgps-star commented on #1006
hi..

great....now it's in colors...

i also need to translate the text.... https://i.imgur.com/0xG2xA4.jpg

[2020-01-26 17:27] gsmgps-star commented on #1006
this option is very good...
but it's not working yet?

regards

[2020-01-26 17:34] istationonline opened #1016 "Customer Facing Display Postcode Lookup"
Please make the postcode lookup option available in CFD.

This would speed up checkin & reduce customer dat input mistakes

We use craftyclicks for lookup.

[2020-01-26 17:42] istationonline opened #1017 "Customer Portal Changes"
Username Autogenerated as email address

Password Autogenerated

Password reset option for customer

Ability to remove security pattern on ticket creation, not all devices use this.

<img width="278" alt="Screenshot 2020-01-26 at 17 39 32" src="https://user-images.githubusercontent.com/59316784/73139173-22eb3000-4063-11ea-8efe-9b4d17192914.png">

[2020-01-27 12:08] Uzair-RepairDesk commented on #1006
Hi @gsmgps-star
We have started working to add the option to display yesterday, the last 3 or last 7-day repair tickets.
I have also asked the development team to place the labels so you can translate the ticket id and status.

I will update you once we go live with these improvements. Thanks

[2020-01-27 12:15] gsmgps-star commented on #1006
tnx

[2020-01-27 12:31] usmanalikhan93 commented on #1005
Hi @Thayis

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2020-01-27 12:31] #1005 closed

[2020-01-27 12:36] MuhammadAdnan32 commented on #1014
For internal use:
https://repairdesk.atlassian.net/browse/RB-824

[2020-01-27 13:26] #1008 closed

[2020-01-27 13:31] usmanalikhan93 commented on #970
Hi again @JessicaSOS - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Thanks
Usman Ali

[2020-01-27 13:31] #970 closed

[2020-01-27 13:32] usmanalikhan93 commented on #957
@MuhammadAdnan32 whats the latest on this ?

[2020-01-27 13:33] usmanalikhan93 commented on #953
Hi again @Omar1892  - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Thanks
Usman Ali

[2020-01-27 13:33] #953 closed

[2020-01-27 13:33] usmanalikhan93 commented on #882
Hi again @JessicaSOS  - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Thanks
Usman Ali

[2020-01-27 13:34] #730 closed

[2020-01-27 13:34] #800 closed

[2020-01-27 13:36] usmanalikhan93 commented on #1013
@MuhammadAdnan32 please attach internal reference task and update what's the latest on this ?

[2020-01-27 13:38] usmanalikhan93 commented on #972
@Uzair-RepairDesk I have checked and it's working fine.

Hi again @JessicaSOS - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Thanks
Usman Ali

[2020-01-27 17:03] MPrepairs opened #1018 "Tickets Counter Display"
Is there a way to add on this feature from showing tickets for the day to like tickets from last 3 days or 7 days? Or display tickets from custom days?

[2020-01-28 04:48] MuhammadAdnan32 commented on #1018
Hi @MPrepairs ,
I hope you are doing well. Are you referring Ticket counter? As on the ticket counter, we have displayed the ticket data for today only.
Thanks,
Regards,
M Adnan

[2020-01-28 06:17] MPrepairs commented on #1018
Yes, my apologies. Thats what I was referring to.

[2020-01-28 06:27] MuhammadAdnan32 commented on #1018
Hi @MPrepairs ,
Thanks for the feedback. I have forwarded this to the product manager. I will keep you posted here.
@Uzair-RepairDesk FYI
Thanks,
Regards,
M Adnan

[2020-01-28 07:24] MuhammadAdnan32 commented on #1013
Hi @gsmgps-star ,
I hope you are doing well. I have forwarded your request to the Product manager. I will keep you posted here.
If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.
@Uzair-RepairDesk FYI
Thanks,
Regards,
M Adnan

[2020-01-28 07:24] MuhammadAdnan32 commented on #1013
For internal use:
https://repairdesk.atlassian.net/browse/RB-738

[2020-01-28 07:26] Uzair-RepairDesk commented on #1018
Hi @MPrepairs
It's already in our plan. We will add an option to display tickets for the last 3 and 7 days and will release it soon.
You can track progress here #1006

Regards,
Uzair

[2020-01-28 07:56] Uzair-RepairDesk commented on #1013
Hey @gsmgps-star
Thank you for your suggestions. Our current self-check-in widget it quite outdated and we don't recommend our customers to use it. We are also going to depreciate it soon.

Since we have introduced the "Self Check-in" functionality in our "customer-facing display" widget so we recommend our customers to use the same.

You can learn more about it from the following knowledgebase ar

[2020-01-28 08:42] gsmgps-star commented on #1013
hi.

why you will depreciate?
we use this widget for customers who ship via post delivery, so they can fill out the form online.
customer-facing display is for use only if the customer comes to our store.

regards

[2020-01-28 09:33] Uzair-RepairDesk commented on #1013
Thank you for your response @gsmgps-star
I will ask the team to keep it but unfortunately, we will not be able to enhance it.

I am wondering that if your customers ship via post-delivery and you have specific customers, why you are not using our customer portal that allows your customers to login and tracks their own tickets and invoices. They can also print shipment labels once they book a repai

[2020-01-28 09:50] gsmgps-star commented on #1013
hi
but it should be as simple as possible for the customer

i will try this widget and let you know

[2020-01-28 10:11] gsmgps-star commented on #1013
I tried, but it's not for our market...it's too complicated.

We cannot create invoices through this program because we have different law and require a certificate - too much unnecessary data.

i still suggest keeping the self checkin widget!

regards

[2020-01-28 13:41] Uzair-RepairDesk commented on #442
@usmanalikhan93  kindly review at your convenience.

[2020-01-28 13:48] Uzair-RepairDesk commented on #429
Hi @rlltd
we have made improvement live where you can select specific criteria to apply commissions on "Sales" or "Profit" value.
For that, you need to go to **Settings** => **Employee** =>**Employee comission** => **Setup Comission**
![image](https://user-images.githubusercontent.com/22955861/73269353-7c3b9680-41fe-11ea-87ab-4be8db86a46e.png)

[2020-01-28 13:49] #429 closed

[2020-01-28 15:36] davidr2gaming opened #1019 "Add custom status for ticket items"
It would be a great help if we can add the customizable reason field in the inventory adjustment, so we can filter the inventory adjustment report based on the reason. This is because sometimes the parts get damaged while repairing, those parts can’t be sent back to the supplier, and we need a way to track those parts.
The main reason for this is that we do not wish to wait until we conduct our mo

[2020-01-29 20:02] cellularport opened #1020 "Additional Column for Notes in Manage Leads | Rizwan | Cellular Port"
Hey,

In our main Manage Leads page, i want a column for adding some additional notes so that we don't have to open the Lead in order t check the comments.

Thanks and Regards,

[2020-01-30 19:06] mrjoeham opened #1021 "Search All box"
I am new to repair desk and have been using repairshoppr the last two years. One of the feautre that works for us well is the search all box.  We can search any number, name, ticket number, invoice number anything that could be related to a specific search we can type in a number or a name and it will pull up all matches from all areas of the database, if there are double customer entries with the

[2020-01-31 05:04] Uzair-RepairDesk commented on #1013
Thank you for your suggestion. I have marked it under enhancements of self-check-in. We will check the feasibility to add it.

[2020-01-31 05:36] Uzair-RepairDesk commented on #1021
Hi @mrjoeham
I welcome you to RepairDesk. **Please find my feedback below:-**

- We can search any number, name, ticket number, invoice number anything that could be related to a specific search we can type in a number or a name and it will pull up all matches from all areas of the database
**We have one specific area in the header where you can select the specific section and search the desired d

[2020-01-31 06:48] gsmgps-star commented on #1013
Ok tnx.

[2020-01-31 13:23] MuhammadAdnan32 commented on #1003
Hi @gijoe911 ,
I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!

[2020-01-31 13:25] #1003 closed

[2020-02-03 12:23] Patrickskeates1977 opened #1022 "repair desk automatically is creating invoices"
hi repair desk is creating invoices for all jobs automatically please correct

[2020-02-04 05:07] Uzair-RepairDesk commented on #1022
Hey @Patrickskeates1977

You can enable the following trigger **Don't auto Create Invoice on Create Ticket** from **Settings** **Module Configuration**  **Tickets**.
![image](https://user-images.githubusercontent.com/22955861/73715398-aed11c00-4735-11ea-9ee4-7a370b1b8801.png)
once you enable this trigger invoice will not be created automatically.
Hope this helps.

Regards

[2020-02-04 11:34] Repair-Desk opened #1023 "Improvement In Campaigner Module"
At present, a follow up email is triggered based on the due date.

If the due date is empty Repairdesk won't send an automatic follow up email to a customer.

We should update the module so that if a repair ticket is marked as paid or "repaired & collected" it should trigger automated follow up email.

[2020-02-05 05:13] Shane-RepairDesk opened #1024 "RepairDesk SMS Enhancement Request"
Problem: 2way sms seems like chaos as far as incoming pop up text notifications.

Request: To allow a option that would push incoming pop up notifications to the person that the ticket is assigned to.

[2020-02-06 01:52] Shane-RepairDesk opened #1025 "LEADS Enhancement Request"
When adding a new lead, need to be able to create new task from within manage leads...

[2020-02-06 12:31] MuhammadAdnan32 commented on #1014
Hi @gsmgps-star ,
I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Regards,
M Adnan

[2020-02-06 12:44] #1014 closed

[2020-02-06 12:48] Uzair-RepairDesk commented on #1006
Hi @gsmgps-star

This is to inform you that we have added the option to display **yesterday**, **the last 3** or **last 7-day** repair tickets on the ticket counter display.
Please check on your end and do let us know if you have any questions.

[2020-02-06 12:49] Uzair-RepairDesk commented on #1018
Hi @MPrepairs

This is to inform you that we have added the option to display **yesterday**, **the last 3** or **last 7-day** repair tickets on the ticket counter display.
Please check on your end and do let us know if you have any questions.
Regards

[2020-02-06 12:59] #1018 closed

[2020-02-06 13:15] gsmgps-star commented on #1006
hi.
tnx..option display 1,3,7 days works great.

but still need to be translate this text - https://i.imgur.com/0xG2xA4.jpg

regards

[2020-02-06 13:23] gsmgps-star commented on #1014
hi.

still need to translate: https://i.imgur.com/qCyd5VI.jpg

regards

[2020-02-06 15:06] #1022 closed

[2020-02-06 15:13] Shane-RepairDesk opened #1026 "LEADS Enhancement Request (Repairdesk SMS)"
Problem: Not getting any getting any pop up notification when a client texts back and the original text are form the leads module.

[2020-02-06 15:18] Shane-RepairDesk commented on #1026
This is bad, having to go physically check each lead for response's

[2020-02-06 15:29] Shane-RepairDesk commented on #1025
@Uzair-RepairDesk  you can close this and a rabbit hole....new task leads to new device and so on.

[2020-02-06 18:30] #1026 closed

[2020-02-07 05:03] Shane-RepairDesk opened #1027 "Developement of Inventory location and Device location (asset tracking)"
Currently Inventory Location and Device Location are the same list causing a massive list to try to find a location even with search feature, They should be separated and more importantly more options added.

Many shops store device's rather it's containers or tray's and I'm sure some other methods...

I think they  following would be  very nice, once a device location is used it's not available a

[2020-02-07 05:17] MuhammadAdnan32 commented on #1014
Hi @gsmgps-star ,
I hope you are doing well.Yes, you need to translate first then it will be working fine for you.If you face any issue kindly PM me (on adnan@repairdesk.co) your store credential and your language which you have set on store, so I will do this for you.
If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.
Thanks,
Regar

[2020-02-07 05:25] Uzair-RepairDesk commented on #1025
@Shane-RepairDesk
Can you please share more details on it with screenshot?

[2020-02-07 08:33] gsmgps-star commented on #1014
ok tnx..works like a charm now :-)

[2020-02-07 09:31] marianabut opened #1028 "Suggestion about Ticket tracking by costumers"
Instead to access the website and enter the ticket number and phone number for checking the repair status,   Repair Desk can send by SMS to the customer after creating the ticket a unique weblink and there the costumes can see the status.
It is simple and  easier and can be avoided mistakes made by costumes. Sometimes they type wrong ticket numbers, wrong numbers, etc.
KEEP IT SIMPLE

[2020-02-07 15:47] dfazal-RD opened #1029 "Cell Spot - Quantity in Bill Payments"
The quantity section in bill payments is not enabled. Which means if a customer gets two top ups of the same value and network, the user has to make two separate transactions, which means checking out twice.

It would be a great help if we can have the ability to add quantity for bill payments, as it would save a lot of time and we won't have to create multiple transactions for one customer.

![im

[2020-02-08 13:25] Uzair-RepairDesk commented on #1028
Hey @marianabut

Did you try to use our "Customer Portal" module where you can create a login for the customer on the portal and send credentials by email. Customers can log in to the portal and track all their tickets and invoices and also submit a new ticket.

You can check details from following knowledgebase article:-
https://help.repairdesk.co/knowledgebase/articles/1846624-customer-portal

[2020-02-10 06:26] Uzair-RepairDesk opened #1030 "Tip payment should display on invoice in case of TSYS"
Currently, when you process payment from TSYS and take a tip, RepairDesk makes an invoice with overpaid status and there is no record of tip value on invoice.
It should display on the invoice for the record and the invoice should not be overpaid.

Reference: Intercom Chat
https://app.intercom.io/a/apps/mq09yl4f/inbox/inbox/all/conversations/25699202704

Customer: Cell Geeks

[2020-02-10 07:16] gsmgps-star commented on #1006
?

[2020-02-10 07:54] Uzair-RepairDesk commented on #1006
Hey @gsmgps-star
Thank you for your update and follow up on this. I am reopening this request so we can add a translation request in the next sprint.

[2020-02-10 08:08] gsmgps-star commented on #1006
ok..tnx

[2020-02-10 11:22] Uzair-RepairDesk commented on #1030
[In-House Task Reference](https://repairdesk.atlassian.net/browse/REP-2410)

[2020-02-11 01:21] Shane-RepairDesk commented on #1025
@Uzair-RepairDesk  I think best if we close,  current LEADS functions pretty well as it is, being built around the scheduling widget.    I'm trying to use for phone calls and other things.........I was telling usman that leads should be renamed to widget leads or something so people are not confused in thinking it's for any lead.

[2020-02-13 01:17] Shane-RepairDesk commented on #1024
@Uzair-RepairDesk  There are some other things we don't like, We are switching back to twilio....So this is not important unless it is to others.   Can close if you like.

[2020-02-13 01:17] #1025 closed

[2020-02-13 06:50] Repair-Desk opened #1031 "Loyalty Module - Automatic Loyalty points award on customer referral"
It be good to be automatic tho. So when we choose referral as the ‘how did you hear about is’ it gives the option to choose the other customer, then that customer gets an email saying “thanks for referring Bob, here is $10 in loyalty points..”

And that would be part of the setup.. setting how many points will be applied when a customer refers someone.

[2020-02-13 07:01] afrahm opened #1032 "Customer Referal Earns Loyalty Points"
When we choose referral as the ‘how did you hear about us’ it gives the option to choose the referring customer, then that customer gets an email saying “thanks for referring Bob, here is $10 in loyalty points..” etc.

The amount of loyalty $$ earned would be determined in the loyalty setup, where you would choose how many loyalty $ earned when referring a new cusotmer.

[2020-02-13 07:03] afrahm opened #1033 "Set different loyatly points for different categories"
Be able to set different earning points for Accessories vs Repairs etc.

Currently can do overall or individual product/service.

Be good to say for every $100 on products get $1
But every $50 on repairs gets $1

[2020-02-13 07:04] afrahm opened #1034 "Choose recipient or gift card"
Be able to set who the recipient is on the gift card.

This will then attach the gift card to their customer profile.

May need to separate Gift cards purchased and Gift cards received in the customer profile as well.

[2020-02-13 07:06] afrahm opened #1035 "Add Invoice# and/or Ticket ID to post sale popup"
Show the Invoice # and/or ticket ID on the popup that displays after payment is received or ticket is created.

[2020-02-13 21:03] istationonline opened #1036 "Loyalty Program opt in"
Add Abbity to opt into the loyalty program from the CFD as customer self checkin

[2020-02-14 22:21] woodlandsmacservice opened #1037 "Notification of Self Check In via email or text"
In an effort to reduce down the myriad of ways that customers use to contact us for repairs, text, email, whatsapp, phone, facebook, etc., I am offering customers 10% off their repair if they use the Customer Self Service Check-In before they come in to the shop or contact me directly, however, I was told today that there is no way for the system to notify me when someone checks in before coming i

[2020-02-17 05:17] tinkertechguy opened #1038 "Customer Portal Payments"
Problems:

- There is only one option to take payment  (PayPal) - Please add a field for Customer to Pay using Credit Card.

- Pay Pal payment does not reflect back to customer Invoices on Repair Desk

[2020-02-17 05:32] tinkertechguy opened #1039 "Sales Reports Issue"
Sales Reports only Credits the employee that checks out the customers, we verified and tested this.  It doesn't matter who makes the invoices or who is assigned to the repair work.  The sales credits only the person logged in when checking out a customer and taking payment.

- It does not credit the Tech who does the Repair ( our organization credits the repair assigned to the tech that completes

[2020-02-17 07:08] Repair-Desk opened #1040 "Gift Cards"
There should be an ability to create multiple gift cards + print a simple barcode which you can stick on the back of a card

[2020-02-17 11:33] gijoe911 opened #1041 "Adding excel export for the "How did you hear about us" report?"
As titled, possible to add excel export for this report? It is possible to export in pdf but not in excel right now.

![image](https://user-images.githubusercontent.com/25240657/74650304-5a5d8000-51bc-11ea-9bf0-9d374ff345b7.png)

[2020-02-17 20:11] antoinegali opened #1042 "Wrong Estimated Profit"
Hello,

In this example, we are repairing an Apple Watch, price is 120$, cost price of part is 46.84$. Profit is 73.16$.

We also have 2 SKU items, cost 10$ sale price 10$, profit should be 0$.

However, it seems like the system calculates only the cost of 1 item instead of two. It adds a profit of 10$ on the repair which makes it at 83.16$ (wrong).

Thanks
![Screen Shot 2020-02-17 at 3 11 05 PM](

[2020-02-17 20:13] antoinegali commented on #1042
If I separate SKU items into 2 lines, it now calculates the profit accordingly.
![Screen Shot 2020-02-17 at 3 13 03 PM](https://user-images.githubusercontent.com/37091836/74683789-06d93b00-5198-11ea-98c0-e043f73fae61.png)

[2020-02-18 04:39] MuhammadAdnan32 commented on #1042
Hi @antoinegali ,
Adnan here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Regards,

[2020-02-18 05:48] MuhammadAdnan32 commented on #1042
Hi @antoinegali ,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks,
Regards,
M Adnan

[2020-02-18 05:49] MuhammadAdnan32 commented on #1042
For Internal use:
https://repairdesk.atlassian.net/browse/RB-891

[2020-02-18 12:17] Repair-Desk commented on #1032
**Hello @afrahm**

Thanks for sharing your feedback & here's how we plan to add suggested improvements.

**Amount of loyalty $$ earned will be managed from loyalty setup screen**

![image](https://user-images.githubusercontent.com/21986026/74735284-2cd30e00-5272-11ea-8d2f-751fa6b1806b.png)

When you choose referral source ‘how did you hear about us’ it also gives the option to choose the referring

[2020-02-18 12:28] afrahm commented on #1032
That looks good. So when you select referral it gives you a lookup to search for existing customers? And that would have a trigger to add the loyalty points to the referring customer and ability to auto send email?

[2020-02-18 16:27] antoinegali commented on #1042
Thanks.

[2020-02-18 18:19] Repair-Desk commented on #1032
Correct :)

[2020-02-18 19:27] tinkertechguy opened #1043 "Gratiuity and Tips on reciepts and reports"
Gratuity and tips is not showing up on invoices and receipts, I also would like to run a report for a specific date or block of time for a total of tips.

[2020-02-18 19:30] tinkertechguy opened #1044 "Mulitple Photo Attachements on Notes, Tickets, and Email"
i had to upload about 10 photos to a ticket and then also email the customer, it was a lot of work and time having to go back and forth to copy links to add to the email.  There should be an option to do this in bulk or do it like how repairshopr does it.  the photo is uploaded to the ticket library and can is always readily available on the left side and check the box if want to add photos as an

[2020-02-19 05:46] Uzair-RepairDesk commented on #1031
This improvement is already in progress and is expected to GO LIVE in next week release IA

[2020-02-19 05:52] Uzair-RepairDesk commented on #1033
Hi Andrew,
Thanks for making this suggestion. We have added it to roadmap and will definitely take this up as an improvement to this module in near future.

Keep sharing your feedback and help us to make these modules a perfect fit for your business.

[2020-02-19 06:02] Uzair-RepairDesk commented on #1034
Hi @afrahm ,
Thanks for making this suggestion. We have pinned it to our roadmap and plan to take this up soon in near future. We are trying our best to cater as many suggested improvements as possible.

Keep sharing your feedback.

Regards,

[2020-02-19 06:06] Uzair-RepairDesk commented on #1036
We are already working on it as an improvement to loyalty modules and is expected to GO LIVE in next week

[2020-02-19 06:06] Uzair-RepairDesk commented on #1038
@usmanalikhan93
Can you please check the following:-
- Pay Pal payment does not reflect back to customer Invoices on Repair Desk

[2020-02-19 06:09] Uzair-RepairDesk commented on #1039
Hey @tinkertechguy
I hope you are doing well.
Can you please provide more details so that we can get a clear idea of what you are trying to highlight. Are you referring to employee commission?

Regards:

[2020-02-19 06:15] Uzair-RepairDesk commented on #1037
Hi @woodlandsmacservice

Thank you for highlighting your concern. Currently the focus and essence of "Self Check-In Widget" is that customers can fill out their details when they visit your store.
If you want to allow your customers to book the repair order/appointment before they visit your store, you can use our "Appointment Calendar Widget" that is quite user-friendly and intuitive.

Customers

[2020-02-19 07:51] Uzair-RepairDesk commented on #1035
Hi @afrahm
When a ticket is created or you checkout to create an invoice, we display a popup to view the ticket or invoice. Can you please specify where you exactly want to show the Invoice # and/or ticket ID after payment is received or ticket is created?

[2020-02-19 08:01] afrahm commented on #1035
On this popup.

If both a ticket and invoice have been created then show ID of both.

But if only one has been created then just show the ID of either the Ticket or the Invoice.

![Screen Shot 2020-02-19 at 6 00 29 pm](https://user-images.githubusercontent.com/1414304/74813871-c3bacb80-5341-11ea-86a2-8d90f36830d2.png)

[2020-02-19 11:45] JaviPlana opened #1045 "Alert on defaulter customer"
Is it possible to add an alert on a customer profile to alert next time you enter a new ticket that they have an oustanding debt?

[2020-02-19 13:24] JasonTechRepair opened #1046 "Adding VoiceComm as an Integration in RepairDesk"
I want to sync any products that I get with the distributer VoiceComm the same way MyCoolCell is integrated.

[2020-02-20 04:57] Uzair-RepairDesk commented on #1045
Hi @JaviPlana
You can add notes against a customer profile and "**Save and Flag**" it. Once you select the customer again for the transaction, an automatic popup alert with the same note displays automatically.
Check the screenshots attached.

![uzairshah - POS](https://user-images.githubusercontent.com/22955861/74902275-5a7d9b80-53c7-11ea-946d-2cf14f543046.png)

![uzairshah - POS1](https://user-i

[2020-02-20 05:42] Uzair-RepairDesk commented on #1046
Hi @JasonTechRepair

I really appreciate that you took the time to share your ideas.
With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. We also need to check the feasibility to integrate with VoiceComm since it's 3rd party organization.
Let me know if I can help you with anything else in the meantime! 😄

Regards,
Uzair

[2020-02-20 05:45] Uzair-RepairDesk commented on #1044
Hi @tinkertechguy
I really appreciate that you took the time to share your ideas.

I can certainly see how the suggested improvements would be useful. Option to upload attachments on the ticket is already available in our current quarter roadmap however we will see that how we can add an option to use uploaded images in the email.

Let me know if I can help you with anything else in the meantime!

[2020-02-20 07:06] Repair-Desk opened #1047 "Option to void store credits and loyalty points"
If loyalty points or store credits are added by mistake there should be a way to void them from customer profile or respective reports.

![Option to void store credit   gift card](https://user-images.githubusercontent.com/21986026/74908852-c3b9da80-53d8-11ea-96c2-6333a7b446e7.png).

At present, you can adjust store credits by making an invoice but that may mess up EOD or accounting

[2020-02-20 07:06] JaviPlana commented on #1045
Thank you!!

Javi Plana

[2020-02-20 07:22] Repair-Desk opened #1048 "Improvement In Customer Portal"
1- For bulk email sign-ups where the system enables the customer portal, the portal I think still needs changing so the email address is the username rather than random characters no customer will remember.

2- Also, customers need the ability to reset the portal password.

[2020-02-20 07:27] #1045 closed

[2020-02-20 13:25] usmanalikhan93 commented on #1042
Hi @antoinegali

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2020-02-20 13:25] #1042 closed

[2020-02-20 17:18] tinkertechguy commented on #1048
Add ablity for other options of payments at the least mininum ability to add own credit card as a payment.

Payment thru the portal to reflect on repair desk invoiuces and tickets, once invoice is paid in the portal the ticket should trigger to PAID and set status to READY TO SHIP or RESOLVED

[2020-02-20 17:31] tinkertechguy commented on #1039
Currently the sales report credits ther personnel that is sighned in and takes the payment.

we want the credit to go to the person who does the work for the ticket ASSIGNED TECH should get the credit in the reporting showing how much they made for the repair or the Sale.

I went over this with help on the phone, my account rep knows about this, but I have not heard of any updates

[2020-02-20 17:52] tinkertechguy opened #1049 "Multiple Credit Card Terminal One Till"
We have had this issue from day one and have been just trying to work around it.

We have 4 terminals with Genius TSYS with differant IP address.  We set up the intergration for multiple Registers.  However we operate with only one Cash till and use 4 credit card terminals.  The systems only works on one Terminal.  Only the Terminal that is 1st open will work even if we check someone out on a diff

[2020-02-20 23:07] Cybertekww opened #1050 "Cybertek - Loyalty point credit exclusions"
Can we block customers earning loyalty money when purchasing gift cards?
And if a customer gets a refund on something they purchased with Loyalty dollars does this convert to store credit? Or do they get the loyalty money back?

And if someone purchases with loyalty do they earn loyalty again? This could make a continuous loop that may or may not break the spacetime continuum

[2020-02-21 05:06] Uzair-RepairDesk commented on #1050
Hi,
I will be happy to help you with your queries regarding loyalty module.
1. Currently we don't have the functionality to block loyalty on selling gift cards. So your customers will earn loyalty on purchasing gift cards.

2. Invoice paid through loyalty cannot be refunded from loyalty. You can refund that invoice through any other payment method i.e. through store credits or cash or any other me

[2020-02-21 10:50] Uzair-RepairDesk commented on #1030
We have made this improvement LIVE

[2020-02-21 10:50] #1030 closed

[2020-02-22 00:56] tinkertechguy opened #1051 "Sales Performance Credit to correct employee"
We had an issue where an Employee made a sale on a Terminal that was logged in by a different user.  There is no ability to change it to the correct employee so that they get the sales credit and ensure accurate employee performance reports.  Please look into a way to make the adjustment for Managers and super users to edit whenever necessary,\.

[2020-02-22 00:58] tinkertechguy opened #1052 "Customer Duplicates"
There is no ability to merge duplicated Customer inputs.  We would like this ability to merge the customer ticket history and anything related to the customer when there are two customer profile that are the same person but was entered in twice by accident.

[2020-02-24 04:42] jawad-Repairdesk commented on #1049
@tinkertechguy Sorry for the inconvenience. It seems you are having the issue with its setup.

I have asked my support guy to contact you, he will ask your credentials and we will look at your settings and try to resolve your issue.

Secondly, if our support guy is not able to contact you. Please come over to live chat so we can help you ASAP.

Regards,

[2020-02-24 09:49] usmanalikhan93 commented on #1038
@Uzair-RepairDesk Haider Zaidi is assisting on this. I have asked him about the update on this and he said he will check with the customer today and then create a task for this.

Thanks.

[2020-02-24 12:51] Uzair-RepairDesk commented on #1051
Hi @tinkertechguy

Thank you for sharing your idea. Currently, it's not possible to change the employee record in the invoice **because of the following reasons**:-

**1:** If users use shift functionality and change the employee name in the invoice, it might disturb complete shift logs as well as reconciliation.
**2:** It might also disturb the accumulative logs in different sales reports
**3:**

[2020-02-24 12:53] Uzair-RepairDesk commented on #1052
#840

[2020-02-24 12:57] Uzair-RepairDesk commented on #1052
Hi @tinkertechguy

Thank you for sharing your idea. We have already plan to improve customer's module in Q3 of 2020 where we will also introduce the "Merge Customers" option so you will be able to merge different customers if you have duplicate records.

[2020-02-24 12:59] Uzair-RepairDesk commented on #1043
Hi @tinkertechguy

Can you please let me know if you are using an integrated payment integration with RepairDesk where you process tip/gratuity?

Waiting for your response. Thanks

[2020-02-24 22:10] JessicaSOS opened #1053 "Invoice reminder bad translation"
Hello,
In the settings of the payment reminder option for invoices (settings-notification-invoice-invoice reminder), all the shops have the French translation. This is the text I want it to be sent. However, when we send the reminder of invoices to pay (manage the invoice-selected-action: sent the reminder), the text is in English. This is the default text. Magré the fact that it is confirguré in

[2020-02-25 05:04] usmanalikhan93 commented on #1053
Hey @JessicaSOS

Usman Ali here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

Thanks

[2020-02-25 12:12] Uzair-RepairDesk commented on #1000
Hey @istationonline
I hope you are doing well. We have made this improvement LIVE. Now you can add supplier name in the inventory label. You can add **supplier macro** in the inventory label template from **the settings** => **Module Configuration** =>**Template editor**.

[2020-02-25 12:14] #1000 closed

[2020-02-25 15:40] Shane-RepairDesk opened #1054 "Loyalty Program Enhancement--When account is approved for loyalty Program send sms-email"
Problem--When at counter and activating loyalty for client in person there is no other engagement...

Solution-(automated) send email/sms just like the email blast so they can see the portal, see there sign up awards and become familiar with program.

[2020-02-26 01:32] fahadimran303 commented on #1049
I have been in contact with him on WhatsApp. Looking after the issue.

[2020-02-26 03:24] gijoe911 opened #1055 "Terms and conditions for repairs in the iPad went blank"
Hello,

Terms and conditions in the iPad went blank just now. Seems like it’s happened just now. I checked the invoice settings and all the terms are there so this looks a bit abnormal. Can you guys please look into this?

![image](https://user-images.githubusercontent.com/25240657/75308833-60252680-588a-11ea-8324-928eec9d6a60.png)

![image](https://user-images.githubusercontent.com/25240657/75308

[2020-02-26 03:25] gijoe911 opened #1056 "Incorrect due amount in invoice"
Hello, i dont understand why the due amount is -301.00 when the invoice has been paid. can u guys please look into this?

![Untitled](https://user-images.githubusercontent.com/25240657/75308949-a67a8580-588a-11ea-893f-ab469c0891f0.png)

[2020-02-26 05:10] Uzair-RepairDesk commented on #1054
Hi @Shane-RepairDesk ,
Thanks for posting your concern. Can you please clarify your request a bit that do you want to send an email to customers when loyalty is enabled against them manually?

Your help will be greatly appreciated.

Thank you.

Regards,

[2020-02-26 05:58] usmanalikhan93 commented on #1053
For internal use:
https://repairdesk.atlassian.net/browse/RB-918

[2020-02-26 06:12] usmanalikhan93 commented on #1056
Hi @gijoe911

I believe Haider has updated you on Facebook chat group. Do let me know if you have still any question.

Thanks
Usman Ali

[2020-02-26 06:26] gijoe911 commented on #1056
yes issue is resolved. thanks

[2020-02-26 06:48] Uzair-RepairDesk commented on #1055
Hi @gijoe911
Thanks for bringing this to our attention. We apologize for inconvenience. It seems like a bug that has just popped up. Our engineers are looking into it. I will update you as soon as its fixed and sent in a release.

Meanwhile please let us know if we can assist you with something else.

Thank you.

[2020-02-26 06:50] usmanalikhan93 commented on #1053
Hi @JessicaSOS

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

![image](https://user-images.githubusercontent.com/39614480/75319292-3110b400-588e-11ea-8ec2-c93e5827e58b.png)

Thanks!
Usman ali

[2020-02-26 06:50] #1053 closed

[2020-02-26 07:03] #1056 closed

[2020-02-26 10:09] usmanalikhan93 commented on #1038
Hi @tinkertechguy

I hope you are doing well. Can you please confirm are you still facing this issue or not ?

[2020-02-26 15:20] Shane-RepairDesk commented on #1054
yes, correct similar to the email blast,    allowing client to login into portal and monitor there rewards etc.    You know instead of asking them to join it would say you have joined and then related info to login in to client portal..

[2020-02-27 09:06] ireparo opened #1057 "Integration with an Automatic Cash (ImaCash)"
Hi, I am doing a RepairDesk integration with an Automatic Cash (https://www.vne.it/en/portfolio-items/automatic-cash/), it works with the API but only read the invoices and send to machine the total amount if select Cash but dont return if the transaction is completed by the machine, there ara a company that works for this integrations (ImaCash software) and i would to develope a final integration

[2020-02-27 10:13] Uzair-RepairDesk commented on #1054
Ok. Thanks for clarification. I will definitely add this to our improvements list and get it done for you.

Please keep sharing your feedback and help us to make further improvements.

[2020-02-27 12:45] Uzair-RepairDesk commented on #285
Hi @ireparo
Can you please confirm if it's sorted and working for you now?

[2020-02-27 23:07] tinkertechguy commented on #1038
This is still not working all the way correctly. I had a customer pay thru the portal today, he had to do two payments (not sure why there isn't an option to pay for entire bill together).   One of the payments did work, but the other one did not

[2020-02-28 07:54] Uzair-RepairDesk commented on #351
This improvement is already LIVE

[2020-02-28 07:54] #351 closed

[2020-02-28 07:57] Uzair-RepairDesk commented on #1048
#1017

[2020-02-28 07:58] #1021 closed

[2020-02-28 08:04] #298 closed

[2020-02-28 08:19] Uzair-RepairDesk commented on #338
Hi @kennexDEWA , @TechreviveAu
Hope you are having a great time.

I will gladly like to inform you that we have launched store credits module as an upgrade to our enterprise version. Now you can issue store credits, loyalty points and gift cards to your customers.

Also you will be able to offer store credits instead of refunding an invoice to your customers and also purchase a trade in item by of

[2020-02-28 08:20] Uzair-RepairDesk commented on #1009
This improvement has been made and is live in release version 5.0.

[2020-02-28 08:40] kennexDEWA commented on #338
Lol, way to late for my liking. I left your platform almost a year ago due to devs not fixing issues and simply adding more unstable features.

Remove me from your mailing list and cease all communication

Sent from my iPhone

[2020-02-28 10:03] Uzair-RepairDesk commented on #338
Hey @kennexDEWA

Thank you for your response.
Our platform is quite stable now and we have introduced "Enterprise Version" with loyalty, gift card and store credits module that will help you to retain customers, increase efficiency and get more customers.

Want to know how RepairDesk has helped hundreds of repair stores in growing their businesses?
Read our customer [testimonials](http://www.capte

[2020-02-29 20:28] istationonline opened #1058 "Dark Mode iPadOS issue"
When in dark mode in RD iPad App.

Text can’t be seen, see attached in various area’s

![C5B17384-7DE4-476E-A85F-B4ABEC1358FD](https://user-images.githubusercontent.com/59316784/75614564-fc248b80-5b31-11ea-96ff-f109de496331.png)
![44E752E4-64CB-44D8-9C31-41E05ABE411C](https://user-images.githubusercontent.com/59316784/75614565-fcbd2200-5b31-11ea-83b0-fbbefce173a2.png)

[2020-03-01 02:51] hitman1986 commented on #1058
Im facing same issue , although i deleted the app and reinstalled it

[2020-03-02 03:48] Cybertekww opened #1059 "Cybertek - Not importing cost prices"
When I export a spreadsheet and add a heap of items in with SKU and Barcode details as well as retail and cost price the cost prices arent importing. I can see them on the pages leading up to the final import selection but when it completes they dont include the cost price. And each time I am uploading the same spreadsheet it says that 9 items will be added and 217 will be updated but I am importi

[2020-03-02 05:40] MuhammadAdnan32 commented on #1059
Hi @Cybertekww ,
I hope you are doing well. When you are importing the inventory file you have to add cost price in the column "New Inventory Item Cost" and also you have to add quantity in the column "New Stock Adjustment" then cost price of the inventory items will update in the system.
You can see the details in the attached image as well.
![Cost price](https://user-images.githubusercontent.com

[2020-03-02 05:47] MuhammadAdnan32 commented on #1058
Hi @istationonline @hitman1986 ,
I hope you are doing well. Our RD iPad App did not support dark mode. So kindly disable the dark mode then it will work fine for you.
If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.
Thanks,
Regards,
M Adnan

[2020-03-02 07:14] Cybertekww commented on #1059
Thanks mate.

Not my first rodeo. I've done all that and have imported spreadsheets with all the cost prices in the column but nothing is being put in the system after it imports.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: RepairdeskQA <notifications@github.com>
Sent: Monday, March 2, 2020 3:40:32 PM
To: Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS <Repa

[2020-03-02 07:40] MuhammadAdnan32 commented on #1059
Hi @Cybertekww ,
Can you please share the file which you are importing and also shared your Repairdesk account credentials at adnan@repairdesk.co ,So I will check and update you accordingly.
Thanks

[2020-03-03 00:44] tinkertechguy commented on #1038
Took Payment today and nothing worked at all, customer paid thru pay pal using the customer portal and it did not clear thru Repair Desk and mark it off PAID>  I had to manually check pay pal and confirm it was paid and then go over to repair desk pull up the invoice and do a OFFLINE credit and Put PAY PAL as reference to mark it as paid.  This is annoying and a complete waste of my time going bac

[2020-03-03 04:33] usmanalikhan93 commented on #1038
Hi @tinkertechguy

Let me check this and update you in 24 hours.

[2020-03-03 12:57] usmanalikhan93 commented on #1038
Hi @tinkertechguy

Can you confirm me that when customer adds payment from portal, does it reflect on Paypal ?
If yes, then it should work fine.
But if it does not, then you have to check paypal settings that when you are confirming the payment.
In our scenario Invoice only gets paid when paypal confirms the payment right away.

Do let me know if you have any question.

Thanks
Usman Ali

[2020-03-03 15:33] tinkertechguy opened #1060 "Email Responses from Customers Does Not Show in RD"
When a customer responds to an email for the ticket respectively, how come it does not trigger the ticket in RD and notifies that a customer has responded and is waiting for us to respond back or change status?

[2020-03-03 15:34] tinkertechguy opened #1061 "Customer Estimates issue"
When creating customer estimates, it does not show up in their profile

[2020-03-04 04:23] MuhammadAdnan32 commented on #1061
Hey @tinkertechguy ,
I hope you are doing well. Currently we don't have such functionality in our system. When you will convert estimate into ticket or invoice then  it will display on customer profile otherwise not.Only tickets and invoices are display on customer profile.
If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.
Thanks,

[2020-03-04 04:46] MuhammadAdnan32 commented on #1060
Hey @tinkertechguy ,
I hope  you are doing well. Currently we don't have this functionality in RD and just SMS are two way and if customer replies to emails it will receive on admin email.
If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.
Thanks,
Regards,
M Adnan

[2020-03-04 06:23] gijoe911 commented on #1055
any updates on this?

[2020-03-04 07:01] usmanalikhan93 commented on #1055
Hi @gijoe911

We have pushed our release to App store for approval. It's been pending on Apple's end. Hopefully it will be live today or tomorrow. I will update you once it is available on App store.

Thanks
Usman Ali

[2020-03-04 07:45] Uzair-RepairDesk commented on #1031
Its LIVE now.

[2020-03-04 07:50] #1031 closed

[2020-03-04 07:56] Uzair-RepairDesk commented on #1032
Hi @afrahm
Hope you are having a good time.

I am glad to inform you that your suggested improvement to reward loyalty points to referrals has been LIVE. Please give it a review at your end and keep us updated with new suggestions and improvements.

Looking forward to some more valuable feedback from your end.

Kind regards,

[2020-03-04 11:39] afrahm commented on #1032
How do I choose who the referring customer is when I set the 'how did you hear about us' as referral? Without this there is no way for the system to know who to award the referral points to??

[2020-03-04 11:40] afrahm commented on #1032
<img width="553" alt="Screen Shot 2020-03-04 at 9 37 50 pm" src="https://user-images.githubusercontent.com/1414304/75876040-a6691f80-5e60-11ea-894d-789bcaf67609.png">
 Would have thought there would be an option to choose who the referring customer is with a lookup field..

[2020-03-05 10:24] Uzair-RepairDesk commented on #1043
Hi @tinkertechguy
I hope you are doing well. We have made this improvement live, Now you can view employee Tip/Gratuity via a report. The report will display tip received against each invoice. you can view this report under employee reports.
![image](https://user-images.githubusercontent.com/22955861/75971973-5f2c6e80-5ef4-11ea-957f-a0b75ca01ce2.png)

we have also added Tip Macro in **template edi