[2020-03-05 10:24] #1043 closed

[2020-03-05 22:53] afrahm opened #1062 "Initial diagnostic and staff comments assigned to wrong person"
When creating a new ticket through POS, the diagnostic and staff comments come through as assigned to the person signed, they ignore person actually creating the ticket from the access pin.

![Capture](https://user-images.githubusercontent.com/1414304/76033381-db23c680-5f87-11ea-8a92-b65e81f58e67.PNG)

In the above screen shot, I was the logged in User, but Tyson created the ticket through POS and

[2020-03-06 04:24] Uzair-RepairDesk commented on #1032
Hi @afrahm
I will be happy to assist.
Definitely you can check who the referring customer is. Please enable the trigger to offer loyalty to referring person from loyalty module settings and then you will get the field to choose referring person when you will select how did you hear about us.

Please check the screenshots for your reference.

![Screenshot_2020-03-06 How to use the RepairDesk Loyalt

[2020-03-06 04:28] afrahm commented on #1032
OK thanks.

So what happens when the referring customer has not yet signed up to the loyalty program. Will they still receive the points?

Will they be prompted to sign up first then receive the points?

Or will they be automatically signed up and the points applied?

[2020-03-06 04:39] Uzair-RepairDesk commented on #1032
Yes the referral will receive the points even if he is not signed up to the loyalty program. He will receive the following email about referral points which is listed under emails and notifications.

![Screenshot_2020-03-06 RepairShop - EmailContent](https://user-images.githubusercontent.com/22955861/76053201-41abe300-5f8e-11ea-860a-701b92b0d9bf.png)

Once he visits the store to redeem his loyalty

[2020-03-06 05:07] MuhammadAdnan32 commented on #1062
Hey @afrahm ,
I hope you are doing well. Thank you for bringing this to our attention! It looks like there's a bug that just popped up .
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks,
Regards,
M Adnan

[2020-03-06 05:08] afrahm commented on #1062
Thank you.. it’s always been like this though, so it’s not new.

On Fri, 6 Mar 2020 at 3:07 pm, RepairdeskQA <notifications@github.com>
wrote:

--

Regards,

[image: Kixup iPhone Repairs] <https://htmlsig.com/t/000001C2V70S>

Andrew Frahm / General Manager
andrew.frahm@kixup.com.au

Kixup Repairs
07 4764 0785
Shop 14A, 27 Simpson Street,
Mount Isa QLD 4825
www.kixup.com.au

[image: Facebook]  <htt

[2020-03-07 21:49] tinkertechguy commented on #1060
When will customer replys reflect onto RD and trigger status on tickets ?

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: RepairdeskQA <notifications@github.com>
Sent: Tuesday, March 3, 2020 8:46:06 PM
To: Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS <RepairDesk-BUGS-IMPROVEMENTS@noreply.github.com>
Cc: Joe Ham <joe@gadgetgenie.

[2020-03-09 06:10] usmanalikhan93 commented on #1060
@Uzair-RepairDesk FYI

[2020-03-09 06:12] #1055 closed

[2020-03-09 06:12] #1061 closed

[2020-03-09 06:12] #1059 closed

[2020-03-09 06:57] #1032 closed

[2020-03-09 07:01] Uzair-RepairDesk commented on #1060
Hi @tinkertechguy

Thank you for your updates. Currently, it's not possible to notify or highlight the response of email in RepairDesk. The 2-way email needs extra resources and involved the cost factors.

However, I have marked this request in enhancements so we can track it in the future and add it in the future roadmap. You can track our current roadmap from the following link:-
https://trello.

[2020-03-09 07:06] #1009 closed

[2020-03-09 11:32] Uzair-RepairDesk commented on #770
Hello @phonefixdfw
You can now enable "Manufacturer" images to show on POS. You can go to Store Setting > Module Configurations > POS and enable the trigger "Show Images of Manufacturers".
Please make sure that you upload images of each manufacturer under the "Manage Manufacturer" section.
Currently, it's not possible to show "Devices" images because of the loading speed.

Hope it helps. Thanks.

[2020-03-09 11:32] #770 closed

[2020-03-09 11:52] marianabut commented on #980
Any updates about this function?

[2020-03-09 12:07] marianabut commented on #1028
Hi Uzair, I check.  My suggestion is about normal clients, who have only one phone to repair ( is 99% of my clients).  Your suggestion is for repair stores, repair depots, etc.  NO NEED to log in, phone number, ticket number, etc ONLY one unique link, is very easy for everybody. KEEP IT SIMPLE!

[2020-03-09 13:31] marianabut opened #1063 "Appointent Calendar widget"
Hi, I try to start the pick-up & delivery service for my clients.
I give to 10 people, and nobody can finish the appointment!
Guys, did you test this module? The user experience is not good at all, is confusing, and not predictable I found a couple of bugs what report about four months ago:

APPOINTMENT CALENDAR  - on desktop
- On the calendar, randomly it’s showing just a part o it, not all the t

[2020-03-10 03:18] hitman1986 opened #1064 "Creat ticket automatically when edit ticket"
When edit on ticket and save it When I choose not to create an invoice, I find that he created an invoice automatically even though I did not ask him to do so.
Even although not get to employee to creat ticket

[2020-03-10 04:27] MuhammadAdnan32 commented on #1064
Hey @hitman1986 ,
Adnan here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks,
Regards,
M Adnan

[2020-03-10 04:42] MuhammadAdnan32 commented on #1064
Hi @hitman1986 ,
I hope you doing well.I have checked your concern at my end and its working fine for me.Can you please share a video?
Thanks,
Regards,
M Adnan

[2020-03-10 06:33] Cybertekww opened #1065 "Cybertek - Add SKU to Purchase Order"
When emailing the purchase order to suppliers they need to be able to use the item codes to make ordering easier, not just the barcode.

[2020-03-10 06:39] Cybertekww opened #1066 "Cybertek - Inventory count changes"
When doing an inventory count I would like to be able to select supplier as well, not just manufacturer.

Also with the count I would like to see a total number of items scanned so I know I have scanned the correct amount of items.

Can there also be an error when scanning an item not in the system? Sometimes I need to update items not in system but cant see any issue when scanning an item thats n

[2020-03-10 07:56] usmanalikhan93 commented on #1063
Hi @marianabut

I hope you are well. We have already escalated the task internally for Mobile Version. Developer is working on it and will provide you with the best solution. I will update you once it's done.

For the desktop issue, let me check and update you in 12 - 24 hours.

For Internal Use:
https://repairdesk.atlassian.net/browse/RB-932

[2020-03-10 07:57] Uzair-RepairDesk commented on #980
Hey @marianabut @BG-RLTech

I have internally tested it. You can use the "Link to a website" function on Facebook to provide a link to Facebook of your website URL. Once user clicks on it, it opens your website with the widget. I have made a quick video to assist you in setting this up.
Please review and let me know if you have any questions.

https://drive.google.com/file/d/1azK0HU3-NhRR5OY1pOcfO

[2020-03-10 08:13] Uzair-RepairDesk commented on #1065
Hey Adam @Cybertekww

When you email the purchase order to a supplier from RepairDesk, a PDF file of a purchase order is sent to supplier by email. SKU/Item ID of each item also displays in the PDF file so the supplier can track items with the same.

If you also want to keep a specific code for the item to aware of your supplier, you can keep it under the description of each line item while creati

[2020-03-10 08:51] marianabut commented on #980
Hi, thank you for your feedback!  great!

But the real problems are in my bug report. There are some issues that is
confusion for clients.
Can you check with your team?

Thank you!

[image: photo]
*Marian Abutoaiei*
 +40729 300 300

În mar., 10 mar. 2020 la 09:57, Muhammad Uzair Shah <
notifications@github.com> a scris:

[2020-03-10 08:54] marianabut commented on #1063
Thank you very much for your feedback.
Have great day!

[image: photo]
*Marian Abutoaiei*
 +40729 300 300

În mar., 10 mar. 2020 la 09:56, Usman Ali Khan <notifications@github.com> a
scris:

[2020-03-10 09:42] usmanalikhan93 commented on #1063
Hi @marianabut

The email will only goes to admin and customer and not to the employees which you have marked in alerts. It only displays pop up when lead creates against those employees.
Do let me know if you have any question.

Thanks
Usman Ali

[2020-03-10 09:45] marianabut commented on #1063
Ok, I understand.
I will check.
Thank you!

On Tue, Mar 10, 2020, 11:42 Usman Ali Khan <notifications@github.com> wrote:

[2020-03-10 11:13] Uzair-RepairDesk commented on #1066
Hey @Cybertekww
Thank you for bringing this to our attention!
1. When doing an inventory count I would like to be able to select suppliers as well, not just manufacturers. we can add supplier criteria in inventory count.

2. Also with the count, I would like to see a total number of items scanned so I know I have scanned the correct amount of items. This is not possible as we already have an optio

[2020-03-10 11:17] MuhammadAdnan32 commented on #1062
Hi @afrahm ,
I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.
Thanks!
M Adnan

[2020-03-10 12:58] marianabut commented on #1063
I test, it's ok the notifications. Thank you!

[2020-03-11 00:02] hitman1986 commented on #1064
Im sended video to mr danish

[2020-03-11 03:39] MuhammadAdnan32 commented on #1064
Hy @hitman,
Thanks for sharing the video with us.I will check and update you soon.
Thanks & Regards,
M Adnan

On Wed, Mar 11, 2020 at 5:03 AM hitman1986 <notifications@github.com> wrote:

[2020-03-11 06:46] MuhammadAdnan32 commented on #1064
Hy @hitman1986 ,
I hope you are doing well.I have checked on your account , system is creating the invoice on edit even if you cancelled it. The reason is that your trigger of "Don't auto create invoice on create create ticket" is disabled, that's why the system is creating the invoice.Kindly enable the trigger then it will be working for you.
Steps:
Go to Store setting
-Click on Module configurat

[2020-03-11 11:22] usmanalikhan93 commented on #1063
Hi @marianabut

I hope you are doing well. We have made some changes now and it looks like all your points are now fixed. I have checked at my end. Can you please test this on mobile and send us your feedback ?

Thanks
Usman Ali

[2020-03-11 11:33] hitman1986 commented on #1064
Thanks you👍

[2020-03-11 12:13] #1064 closed

[2020-03-11 13:23] marianabut commented on #1063
Hi!
Ok, I will give you feedback in 1h

On Wed, Mar 11, 2020, 13:22 Usman Ali Khan <notifications@github.com> wrote:

[2020-03-11 16:04] marianabut commented on #1063
Hi Usman!
The feedback is positive! Everything is working well now!
BIG THANKS to you, and to your team!

[image: photo]
*Marian Abutoaiei*
 +40729 300 300

În mie., 11 mar. 2020 la 13:22, Usman Ali Khan <notifications@github.com> a
scris:

[2020-03-12 09:31] usmanalikhan93 commented on #1063
Hi @marianabut

Glad to know that :). You are welcome.

Regards,
Usman Ali

[2020-03-12 09:32] #1063 closed

[2020-03-12 09:33] usmanalikhan93 commented on #1062
Hi @afrahm

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Regards,
Usman Ali

[2020-03-12 09:33] #1062 closed

[2020-03-12 09:34] usmanalikhan93 commented on #1049
Hi @tinkertechguy

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Regards,
Usman Ali

[2020-03-12 09:34] #1049 closed

[2020-03-12 09:34] usmanalikhan93 commented on #1038
Hi @tinkertechguy

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Regards,
Usman Ali

[2020-03-12 09:34] #1038 closed

[2020-03-12 09:46] usmanalikhan93 commented on #1066
Internal Task for Point no. 3:
https://repairdesk.atlassian.net/browse/RB-971

[2020-03-14 01:40] afrahm opened #1067 "Invoice Created By wrong"
The 'Created By' field on the invoice defaults to the logged in user, not the person that puts in their details by access pin.

![Invoice_Created_By](https://user-images.githubusercontent.com/1414304/76672446-836d0700-65e8-11ea-87bd-e30f6252c91e.PNG)

[2020-03-14 02:17] #1067 closed

[2020-03-15 11:04] istationonline opened #1068 "Appointment Calendar Widget"
Please make postcode lookup available with crafty clicks integration

When a customer creates a lead it would be a much better customer experience to use the postcode lookup.

[2020-03-17 12:42] Uzair-RepairDesk commented on #1010
#1044

[2020-03-17 12:45] Uzair-RepairDesk commented on #1044
Hey @tinkertechguy
We're going to add the option to upload attachments against a repair ticket. You will also be able to select attachment while sending an email. Here's a clickable prototype.
https://rddeveloper.invisionapp.com/public/share/CD122TXKFH#/screens/476797754

Your feedback will be appreciated. Thanks

[2020-03-19 14:10] usmanalikhan93 commented on #1066
Hi @Cybertekww

I hope you are doing well. We have added error message as "Item is not available in the system." if you scan item barcode which is not present in system. Please check at your end and do let us know if have any question.

Thanks
Usman Ali

[2020-03-20 09:53] gsmgps-star commented on #1006
hi.
you are close this ticket..but issue is the same...text is not translated...
see picture: https://i.imgur.com/6qHsZd8.jpg

regards

[2020-03-22 12:48] Repair-Desk opened #1069 "Bill Payments - Network fee doesn't display if cost price is set as zero"
![iTech Connections - West Columbia - POS](https://user-images.githubusercontent.com/21986026/77249752-354da880-6c65-11ea-877e-670614eea029.png)

If the cost is zero it doesn't display network service fee line item in shopping basket

[2020-03-22 12:49] Repair-Desk opened #1070 "Cash Register Improvement"
Should really consider setting drawers to be attached to the IP or MAC address rather than the user as now we will need to have two computers at each register to make it work under current conditions

[2020-03-22 21:35] istationonline opened #1071 "Appointment Widget (GDPR)"
Trying to edit the GDPR Compliance title in the language editor.

Made changes but they dont update

<img width="1659" alt="Screenshot 2020-03-22 at 21 31 06" src="https://user-images.githubusercontent.com/59316784/77261216-eb74ba80-6c84-11ea-96e5-574486ffb4e8.png">
<img width="737" alt="Screenshot 2020-03-22 at 21 29 34" src="https://user-images.githubusercontent.com/59316784/77261219-f16a9b80-6c

[2020-03-22 21:40] istationonline opened #1072 "Bundles"
Bundle Cost & Profit Margin not updating

<img width="492" alt="Screenshot 2020-03-22 at 21 39 02" src="https://user-images.githubusercontent.com/59316784/77261336-bae15080-6c85-11ea-940c-dae63a31a57c.png">

[2020-03-23 18:05] Repair-Desk opened #1073 "Option to create multiple estimates"
Also, we would love to have the ability to attach multiple estimates to a ticket. Like if we have a customer who comes in and needs a new hard drive. They want two estimates. 1 for standard hard drive and one for solid state drive. I know Heather asked about this and someone said it might be in the works. I still don't understand how one might do this in RD. In RS we have a create estimate option

[2020-03-24 04:36] usmanalikhan93 commented on #1071
Hi @istationonline

Usman Ali here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2020-03-24 10:06] iFoneRepair opened #1074 "Suggestion: "Last Name" placeholder."
Hello team, I am fine tuning my text message responder for: Repair status "In Progress" (see SMS template attachment) Since during most of my customer visits, I at most times typing the customer's last name manually and can possibly have a **typo** without noticing and **don't want the customer to struggle with not being able to know how i spelled their last name.**

**Suggestion**: It would be gr

[2020-03-24 12:27] gsmgps-star opened #1075 "ticket counter display"
hi.
you are close this ticket..but issue is the same...text is not translated...
see picture: https://i.imgur.com/6qHsZd8.jpg

regards

_Originally posted by @gsmgps-star in https://github.com/Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS/issues/1006#issuecomment-601615625_

[2020-03-24 12:28] Uzair-RepairDesk commented on #1027
Similar request posted by Julian on Facebook User Group 24-03-2020
https://www.facebook.com/J.A.M.CuTx/videos/10213985881795564/

[2020-03-25 03:05] phonefixcenter commented on #1071
Hi Usman, you guys definitely need to add the signature box for pre-authorization(liability waiver and such) if they making an ppoinment same as self-check-in or anything you working on it that involve pre payment from home in this covid-19 situation, you need to add the pre-signature otherwise for someone like me that before working on any gadgets before taking customer signature on my liability

[2020-03-25 06:09] Uzair-RepairDesk commented on #1072
Hey @istationonline
I hope you are doing well, the above-reproted issue is resolved on the Beta server. you can check and if you have any further feedback feel free to share.
Regards

[2020-03-25 09:37] istationonline commented on #1072
Thanks ill take a look

Regards

This e-mail may contain confidential and/or privileged information. It is for the exclusive use of the intended recipient(s). If you are not the intended recipient(s), you must not use, distribute, copy or take any action in reliance on it, since to do so is strictly prohibited and may be unlawful. If you have received this e-mail in error, please return it to the

[2020-03-25 09:49] MuhammadAdnan32 commented on #1075
Hey @gsmgps-star ,
Adnan here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks,
Regards,
M Adnan

[2020-03-25 09:55] gsmgps-star commented on #1075
ok tnx

[2020-03-25 10:03] MuhammadAdnan32 commented on #1075
Hey! @gsmgps-star ,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up .
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks,
Regards,
M Adnan

[2020-03-25 10:04] MuhammadAdnan32 commented on #1075
For internal use:
https://repairdesk.atlassian.net/browse/RB-1020

[2020-03-25 10:22] MuhammadAdnan32 commented on #1069
Hey @Repair-Desk
Adnan here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks,
Regards,

[2020-03-25 10:54] MuhammadAdnan32 commented on #1071
Hey @istationonline ,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up .
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks,
Regards,
M Adnan

[2020-03-25 10:55] MuhammadAdnan32 commented on #1071
For internal use:
https://repairdesk.atlassian.net/browse/RB-1021

[2020-03-25 11:44] MuhammadAdnan32 commented on #1069
Hey @Repair-Desk ,
I have checked your concern but unfortunately, I am unable to reproduce your issue. Would be great if you can share a video of this issue so we can release a fix during our next release.
If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.
Regards,
M Adnan

[2020-03-25 12:31] Cybertekww opened #1076 "Cybertek - Trade in pricing issue"
When we create a new trade in and then select the sell price and print the barcode, when we scan it into the system the price is incorrect. It adds on gst when gst is already included in the price and we are having to manually discount each trade in item we are selling.

[2020-03-25 12:33] Cybertekww opened #1077 "Cybertek - eftpos tabs annoying"
we disabled the eftpos receipt printing from our thermal printer but now every time we sell an item using eftpos two new tabs open up in our chrome browser, a merchant copy and customer copy. This is redundant as it is already on the thermal receipt we print for the customer or email to the customer and is annoying as if left unchecked opens a whole heap of tabs we dont need.

[2020-03-25 15:50] usmanalikhan93 commented on #1071
Hi @istationonline

I hope you are doing well. Can you please confirm are you following these steps, I have mentioned in video below in order to update this ?
Video link: https://drive.google.com/file/d/1I-wCZoKehpLbdNPyAqkB3DK8EiYTIRVD/view

Do let me know if it works.

Usman Ali

[2020-03-25 15:52] usmanalikhan93 commented on #1071
@Uzair-RepairDesk can you please check this and update accordingly ?

[2020-03-25 16:01] istationonline commented on #1071
Yes that’s how I do it…

Is there a limit on characters…?

This is what we have tried to update it with…

"I authorise iStation to hold my personal data to process repairs, in line with General Data Protection Regulation (GDPR)"

Regards

This e-mail may contain confidential and/or privileged information. It is for the exclusive use of the intended recipient(s). If you are not the intended recipie

[2020-03-26 06:01] usmanalikhan93 commented on #1071
Hi @istationonline

I hope you are doing well. I have tried with your given text and it successfully updated. Please check screenshots
![istation2](https://user-images.githubusercontent.com/39614480/77615364-024f3180-6f51-11ea-85c4-f3681aa34fdb.png)
![istation1](https://user-images.githubusercontent.com/39614480/77615367-0418f500-6f51-11ea-93ab-47fb2ecf759c.png)

If you still unable to do this, do

[2020-03-26 06:56] #1072 closed

[2020-03-26 08:41] istationonline commented on #1071
Tried it again this morning and now it's appeared, although off centre.

Elsewhere is the terms and conditions box enabled..?

Regards

This e-mail may contain confidential and/or privileged information. It is for the exclusive use of the intended recipient(s). If you are not the intended recipient(s), you must not use, distribute, copy or take any action in reliance on it, since to do so is stric

[2020-03-26 08:51] Uzair-RepairDesk commented on #1076
Hi @Cybertekww

Can you please check if you have setup the right tax settings under **Store Settings > Module Configurations > Trade-In > Buyer Invoice Settings > Trade-In Default Tax Class** and make sure that the tax inclusive trigger is enabled if you want to include tax value in the price.

Please check the screenshot attached.

![uzairshah - Tradein Config](https://user-images.githubuserconte

[2020-03-26 10:04] usmanalikhan93 commented on #1071
Hi @istationonline

Let me guide you. Go to integrations > Appointment Calendar > Advance Configuration > Go to bottom and you will see a box of Terms and Conditions.
Add terms and conditions in it and this box will be enabled on Appointment Calendar.

Regards,
Usman Ali

[2020-03-26 10:10] #1066 closed

[2020-03-26 10:15] istationonline commented on #1071
Ok thanks that s in just need to work out what’s causing it to be off set

Regards

This e-mail may contain confidential and/or privileged information. It is for the exclusive use of the intended recipient(s). If you are not the intended recipient(s), you must not use, distribute, copy or take any action in reliance on it, since to do so is strictly prohibited and may be unlawful. If you have rece

[2020-03-26 10:27] istationonline commented on #1071
Another query, what is the default font used in the calendar page so I can replicate it in my customer message…?

Regards

This e-mail may contain confidential and/or privileged information. It is for the exclusive use of the intended recipient(s). If you are not the intended recipient(s), you must not use, distribute, copy or take any action in reliance on it, since to do so is strictly prohibite

[2020-03-26 12:20] MuhammadAdnan32 commented on #1069
Hey! 👋
Thank you for bringing this to our attention! It looks like there's a bug that just popped up 🐛.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks,
Regards,
M Adnan

[2020-03-26 12:20] MuhammadAdnan32 commented on #1069
For internal use:
https://repairdesk.atlassian.net/browse/RB-1024

[2020-03-27 21:16] phonefixdfw opened #1078 "Print invoice from ipad app with printnode (manually)"
we dont always print invoice and dont use a receipt printer, so we have to go to computer and to printnode print invoice. Would be nice if we could print a printnode invoice from the ipad app after closing a ticket/invoice

[2020-03-28 11:54] Uzair-RepairDesk opened #1079 "Enhancements in Appointment Calendar for Pick-up and Mail-in"
Because of the Coronavirus crisis, the business is going down, I think there are two backup solutions:
to pick-up and delivery from the client address, (for local clients). Clients are afraid or are not allowed to go out.
receiving and sending  phones for repairing  by mail package ( for clients from other cities)
So, my suggestion is to focus on these directions, optimize the functions from Appoi

[2020-03-29 05:04] marianabut commented on #1028
So, the client receives by SMS one link and that it!  no login, no passwords or user names. Thank you!

[2020-03-30 19:07] antoinegali opened #1080 "Serialized items & WooCommerce Integration"
Hello,

Here is a suggestion.

When a customer purchases a serialized item from WooCommerce, you then have to go and edit this invoice to select the serialized item you are going to ship to them and then save the invoice.

It would be nice to choose the serial without editing the invoice, just as you can change a ticket status without editing the ticket.

Thanks for the good work

[2020-03-31 06:07] Uzair-RepairDesk commented on #1080
Hey @antoinegali
I really appreciate that you took the time to share your ideas. Selecting are serial and updating ticket status are different things, we can only select serial by editing the invoice, without editing it's not possible.
Hope this helps,let me know if I can help you with anything else
Regards

[2020-03-31 09:16] istationonline commented on #1079
Please modify the price box to centre justify the description text so its in line with the pricing format..
![Screenshot 2020-03-31 at 10 13 18](https://user-images.githubusercontent.com/59316784/78009217-94cc4800-7338-11ea-8e6d-74c15ee2a3f8.png)
![Screenshot 2020-03-31 at 10 14 15](https://user-images.githubusercontent.com/59316784/78009224-972ea200-7338-11ea-89ef-7ca9ad7d6b72.png)

[2020-03-31 15:39] Uzair-RepairDesk commented on #1054
Hi Shane
Hope you are having a good time

I would like to update you on the suggested improvement. We have made this possible for you and this improvement is LIVE in this week release which is LIVE Now.

Please check it at your end and let us know if you have any feedback to share.

Thanks

[2020-03-31 15:39] #1054 closed

[2020-03-31 15:48] Shane-RepairDesk commented on #1054
Thats awesome, that needed to be there, good work!

On Tue, Mar 31, 2020 at 11:39 AM Muhammad Uzair Shah <
notifications@github.com> wrote:

--
Kind Regards,

Shane Moreland
502-385-0600 Ext 404

[2020-03-31 15:51] Uzair-RepairDesk commented on #1054
Thank you :)

[2020-03-31 16:06] Uzair-RepairDesk commented on #1050
Hi @Cybertekww
Hope you are having a great time.

I will like to update you on the above improvement to have an option of not to issue loyalty on selling gift cards. We have added a new trigger in loyalty settings which will allow you not to offer loyalty on selling gift cards as shown in the screenshot below

![Screenshot_2020 03 31 RepairShop   Loyalty 2 ](https://user-images.githubusercontent.c

[2020-03-31 16:06] #1050 closed

[2020-03-31 16:18] Uzair-RepairDesk commented on #1047
The option to revert loyalty points manually is LIVE now. Reverting store credits is still pending

[2020-03-31 16:24] Repair-Desk opened #1081 "Ability to restrict certain ticket status to be updated by administrator"
I don't want an employee to be able to change a repair ticket status to 'Invoice Paid' because they are not the ones that check if invoices are paid

So if they were to change it to that, it would say access denied or something

But the other status' they can change

[2020-03-31 18:46] fahadimran303 opened #1082 "Import Purchase Order | Jose | iTech Connections"
**Hi Sir,**

**Business Name / Store Name**
Jose | iTech Connections

**Customer Stature:**
2 Store Location with Annual Plan.
High Presence on Social Media.
Can help us a lot in other verticals as well.{color}

**Module:**
Purchase Order

**Improvement:**
Customer has requested an improvement to have an option for Importing Purchase Orders in CSV File. This was requested by some other customers a

[2020-03-31 18:48] fahadimran303 commented on #1082
Internal Jira [Link](https://repairdesk.atlassian.net/browse/REP-2483)

[2020-03-31 22:09] fahadimran303 opened #1083 "Terms & Conditions | Jose | ITechConnections"
Hi Sir,

***Business Name / Store Name***
Jose | iTech Connections

***Customer Stature:***
2 Store Location with Annual Plan.
High Presence on Social Media.
Can help us a lot in other verticals as well.

***Module:***
Receipt/ Invoice

***Improvement:***
Customer has requested an improvement to have an option to add terms and conditions separately fora Accessories, Bill Payments, Repairs instead

[2020-03-31 22:09] fahadimran303 commented on #1083
Internal Jira [Link](https://repairdesk.atlassian.net/browse/REP-2484?atlOrigin=eyJpIjoiNGYyZGY0Yjg2M2Q0NGM0NWI1NWFhMjg5NmE3NGI1MDYiLCJwIjoiaiJ9)

[2020-03-31 22:12] fahadimran303 opened #1084 "Bill payment price | Jose | ITechConnections"
Hi Sir,

***Business Name / Store Name***
Jose | iTech Connections

***Customer Stature:***
2 Store Location with Annual Plan.
High Presence on Social Media.
Can help us a lot in other verticals as well.

***Module:***
Bill payment

***Improvement:***
Customer has requested an improvement to have an option to edit the price at the time of check out when taking bill payments.

***Video:***
https://

[2020-03-31 22:12] fahadimran303 commented on #1084
Internal Jira [Link](https://repairdesk.atlassian.net/browse/REP-2485)

[2020-04-01 07:51] #442 closed

[2020-04-01 07:51] #957 closed

[2020-04-01 14:12] Uzair-RepairDesk commented on #1083
Linked with #870

[2020-04-01 14:15] Uzair-RepairDesk commented on #1081
Is "Invoice Paid" a custom ticket status @Repair-Desk ?
Can you please elaborate on it?

[2020-04-01 14:24] Uzair-RepairDesk commented on #1084
Currently, It's not possible to allow the user to change the price of the bill payment plan. There is always a specific value for each plan and in general, they don't update the price.
There is also technical restriction so we didn't give option to change the price and in-line discount for the bill plan.
However, if a customer still wants to reduce the price please suggest applying "Overall Discou

[2020-04-02 04:31] MuhammadAdnan32 commented on #1075
Hi @gsmgps-star ,
I hope you are doing well. ​I have viewed and discussed your issue with the development team and developer comment is: All iframe’s created in system, no one is translated because iframe’s are  session less and language translator are work with store session. So Currently this is not possible.
If you have any questions or if there is anything else with which I may assist, please

[2020-04-02 19:55] fahadimran303 opened #1085 "Buy back widget color option | hattie balmer | Sell Your Bad Apples"
Hi Sir,

**Business Name / Store Name**
Hattie balmer | Sell Your Bad Apples

**Customer Stature:**
1 Store Location with Monthly lite plan.

**Module:**
Buy back widget

**Improvement:**
Customer has requested 2 improvements:
1) To have an option to disable color option on buy back widget as explained in video.
2) To have a new buy back widget option to select year as well when it was manufacture

[2020-04-02 19:56] fahadimran303 commented on #1085
Internal Jira [Link](https://repairdesk.atlassian.net/browse/REP-2488)

[2020-04-02 21:01] antoinegali opened #1086 "Refurbishment Batch Issue"
When I create a Refurbishment Batch, then it creates Ticket.

Then if I update and try to save Ticket, it says "Please select customer before creating repair ticket".

But there is no customer since it is "Refurbishment Batch".

If I select random customer and save, it works.

Thanks

[2020-04-03 00:22] antoinegali opened #1087 "Refurbishment Batch Issue"
When I create a Refurbishment Batch, then it creates Ticket.

Then if I update and try to save Ticket, it says "Please select customer before creating repair ticket".

But there is no customer since it is "Refurbishment Batch".

If I select random customer and save, it works.

Thanks

[2020-04-03 04:45] MuhammadAdnan32 commented on #1086
Hey @antoinegali ,
Adnan here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks,
Regards,
M Adnan

[2020-04-03 05:03] Uzair-RepairDesk commented on #1027
Hey, @Shane-RepairDesk I hope you are doing well. we have made an improvement live, that now users can search inventory by using inventory physical location.
![image](https://user-images.githubusercontent.com/22955861/78325705-dc99dc00-7591-11ea-9fc7-34847e59bcbb.png)
You can now filter records based on physical location.

Regards

[2020-04-03 05:54] MuhammadAdnan32 commented on #1086
Hey @antoinegali ,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks,
Regards,
M Adnan

[2020-04-03 05:55] MuhammadAdnan32 commented on #1086
For internal use:
https://repairdesk.atlassian.net/browse/RB-1065

[2020-04-03 05:55] #1087 closed

[2020-04-06 02:55] fahadimran303 opened #1088 "Option for PayOut Report | Dakota Stroud | A-1 Cellular Repair"
**Dear Hamza,**

Hope you are well.

As discussed with you last time over the call,

Customer is looking to calculate the Amount of Money Payout done by his team on daily basis at the time of ending the shift.

At the moment, the only option to view this is by going to:

**Transaction Log >> Apply Filter >> Download Daily Report 1 by 1 >> Manually Count the Payout Amount**

This is a lot difficult

[2020-04-06 02:56] fahadimran303 commented on #1088
Internal Task Link:
https://repairdesk.atlassian.net/browse/REP-2494

[2020-04-06 17:51] phonefixcenter commented on #1079
Hi you all, there is an issue in appoinment widget paying option,both boxes of terms and codition themonemt customer sign in and then moment customer pays out are the same content but Repairdesk team need to make second box so we can put our liability waiver in first box and warranty policy in second box when customer pay out and agree to that . Thank you

[2020-04-06 20:50] Cybertekww commented on #1076
Thanks mate,

That fixed it

Legends!

Adam Donovan

Store Support, Accounts

Cybertek Nambour

P: 07 5343 7590

W: www.cybertek.com.au<http://www.cybertek.com.au/>

[Capture]

________________________________
From: Muhammad Uzair Shah <notifications@github.com>
Sent: Thursday, March 26, 2020 6:52 PM
To: Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS <RepairDesk-BUGS-IMPROVEMENTS@noreply.github.com>

[2020-04-06 20:52] fahadimran303 opened #1089 "Improvements in Appointment Calendar | Rio Rayne | Consolidated Sound Services LLC"
**Hi Sir,**

**Business Name / Store Name:**
Rio Rayne | Consolidated Sound Services LLC

**Customer Stature:**
1 Store with Annual Plan. Looking to use our Shipping [FedX, UPS To be Live Integration]

**Issue:**
Customer has a unique work flow in which 100% of the business is being generated by Appointment Calendar Integration.

Customer wants the following improvements:

1) In case Price is hidd

[2020-04-06 20:52] fahadimran303 commented on #1089
Internal Task Link:
https://repairdesk.atlassian.net/browse/REP-2500

[2020-04-07 08:47] #1076 closed

[2020-04-07 13:10] Repair-Desk opened #1090 "Trade-in items should have the option for warranty duration"
We buy handsets from customers and give 15 days warranty while selling the handset. It would be good if I didn’t have to look back at when they purchased it to see if I can do the return or not and then I can just add it in the settings for how long the warranty is?

[2020-04-07 14:11] MuhammadAdnan32 commented on #1086
Hey @antoinegali ,
I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.
Thanks!
Regards,
M Adnan

[2020-04-07 15:02] fahadimran303 commented on #1082
Dakota from A1 Cellular Repair has also requested for the same feature.

He has 3 beautiful stores with us.

Regards,

[2020-04-08 06:21] #1075 closed

[2020-04-08 06:27] usmanalikhan93 commented on #1071
Hi @istationonline

I apologize for the late reply. It's "Open sans" Font.

Regards,
Usman Ali

[2020-04-08 06:30] usmanalikhan93 commented on #1077
Hi @Cybertekww

I hope you are doing well. Due to Covid-19 situation we are working from home, and our all hardware is in office. So for now it is impossible to check this on our end. I will let you know once the office will open.

Usman Ali

[2020-04-08 08:50] istationonline commented on #1071
That font isn’t available in the advanced calendar widget config.

Regards

This e-mail may contain confidential and/or privileged information. It is for the exclusive use of the intended recipient(s). If you are not the intended recipient(s), you must not use, distribute, copy or take any action in reliance on it, since to do so is strictly prohibited and may be unlawful. If you have received thi

[2020-04-08 09:30] usmanalikhan93 commented on #1071
Sorry @istationonline, Use "Arial".

[2020-04-08 15:13] marianabut opened #1091 "Appointment Calendar - 'Finalise button' on the end is not working!"
Hi guys!
I start using the appointment calendar 3 - 4 weeks ago.
I had some costumers who give us feedback about Appointment Calendar the interface. They fill all the fields, but in the end, the finalize button is not working! And they quit...

Yoiu have the link here
 https://www.gsmzone.ro/programari/

Can you check, please!

https://www.youtube.com/watch?v=BGPR2RV9Q5g&feature=youtu.be
Thank you

[2020-04-09 05:41] MuhammadAdnan32 commented on #1091
Hey @marianabut ,
Adnan here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks,
Reagrds,
M Adnan

[2020-04-09 06:27] usmanalikhan93 commented on #1091
Hi @marianabut

I hope you are doing well. Can you please share your Appointment booking link ? And can we make a test lead for test ?

Regards,
Usman Ali

[2020-04-09 08:30] marianabut commented on #1091
Hi Usman, of course!

https://www.gsmzone.ro/programari/

Thank you!

[image: photo]
*Marian Abutoaiei*
 +40729 300 300

În joi, 9 apr. 2020 la 09:27, Usman Ali Khan <notifications@github.com> a
scris:

[2020-04-09 18:07] Uzair-RepairDesk commented on #1040
Its live now

[2020-04-09 18:07] #1040 closed

[2020-04-09 18:11] Uzair-RepairDesk commented on #1034
Hi @afrahm
Hope you are doing great
I am glad to inform you that your suggested improvement to email gift card directly to receipeint is LIVE now. Please review it on Live and let me know if you have any questions.

Please refer to this [article](https://help.repairdesk.co/knowledgebase/articles/1937014-how-to-use-gift-cards-in-repairdesk) to learn more about how it works

Looking forward to your

[2020-04-09 18:11] #1034 closed

[2020-04-09 22:06] fahadimran303 opened #1092 "Need low stock parts hide trigger | Owner | SPRSC"
Hi Sir,

**Business Name / Store Name:**
SPRSC

**Improvement:**

Customer has requested to have a trigger option to hide those parts on POS which are not in stock.

**Video:**

**Chat Source:**
https://app.intercom.com/a/apps/mq09yl4f/inbox/inbox/3841891/conversations/26496492250

_**Thanks and Regards,
Talha**_

[2020-04-09 22:08] fahadimran303 commented on #1092
Internal Jira [link](https://repairdesk.atlassian.net/browse/REP-2511?atlOrigin=eyJpIjoiN2YyZGZlODY0MjFkNDY1OTlkNWYxYTgzYjI3ZDE3NWIiLCJwIjoiaiJ9)

[2020-04-10 07:07] usmanalikhan93 commented on #1091
Hi @marianabut

I hope you are doing well.  I have created one lead from Mobile device and it works perfectly. Lead PD062. Please check and do let me know if you have any question.

Thanks
Usman Ali

[2020-04-10 07:10] #1086 closed

[2020-04-10 10:43] Uzair-RepairDesk commented on #1092
If it's about out of stock products then we have already a trigger to "Hide out of stock items from POS". Please confirm? @fahadimran303

![uzairshah - Pos Config](https://user-images.githubusercontent.com/22955861/78985378-08910080-7b42-11ea-9811-263a32fafbaa.png)

[2020-04-12 07:43] marianabut commented on #1091
Thank you!
Even today we receive feedback from our clients. They have the same problem, in the end ... it is not working. The last feedback is coming from a client who uses Samsung S10 plus.    I think the problem is coming from the ''security code'' field.
Can you guys disable this field?  We no need to be mandatory. And another suggestion, when something is not filled correctly, please make red

[2020-04-12 20:46] marianabut opened #1093 "Appoiment Calendar - 'Enter your problem' field - sugestion"
Hi, I give to a couple of clients to test the Appointment Calendar Widget.

I observe when they must select the device problem they use the box field  'Enter your problem' from the top like a search box for problems.
<img width="944" alt="Screenshot 2020-04-12 at 23 13 58" src="https://user-images.githubusercontent.com/60131264/79079426-bacdf100-7d17-11ea-9b3e-50be3e20d8ed.png">

My suggestion is

[2020-04-12 21:35] fahadimran303 commented on #1092
@Uzair-RepairDesk,
I and Hamza have updated the Internal Jira Link and attached a video as well.

[2020-04-12 21:36] fahadimran303 commented on #1092
Internal Jira Link:
https://repairdesk.atlassian.net/browse/REP-2511

[2020-04-12 23:52] DVTGroup opened #1094 "Inventory Adjustment - Syntax Error / Animation Loop"
**Bug Report**
**----------**

By: DVTGroup

**POST** Data (postAdjustment)
type=1
adjustment_qty=1
new_cost_price=0
notes=test4
prod_id=21330184
idx=27250957
in_stock=41
created_on=(int variable)

**Response**:
{"error":0} - Assuming this means that there is no error

**Conclusion**:
`https://app.repairdesk.co/index.php?r=InventoryAdjustment/postAdjustment`
Fails because of the syntaxing error in

[2020-04-13 00:30] DVTGroup opened #1095 "RepairDesk - IOS App Crash + Invoice Error / null value"
**Bug Report**
**----------**

By: DVTGroup
Bug: The app crashes when adding signature to invoice payments

**Explanation**:
I found this while searching for bugs in the IOS App of RepairDesk (not the Reports app)
The app crashes when you open an invoice and try to add a signature, but also trying to add a payment (partial payment) will fail and cause an "something went wrong" popup.

**Replicate*

[2020-04-13 01:06] DVTGroup opened #1096 "HTML Code - Attributes Showing - Possible HTML Injection"
**Bug Report**
**----------**

By: DVTGroup
Bug: HTML Code starts to show when using slashes in item names.

**Explanation**:
I found this while looking for bugs in the RepairDesk web interface.
When you have a item name that includes slashes in the item name, and you search for the item at Point of Sale.
The search results will result in the item name, and the HTML attribute <b>.
(Which could be

[2020-04-13 02:32] fahadimran303 opened #1097 "Lead ID Appt Calender Email | Alexander Thompson | iCare Repair Milford"
**Hi Sir,**

**Business Name / Store Name:**
iCare Repair Milford

Admin: Yes

**Customer Stature:**
He has 5 Store Locations, Already On-Boarded with 3 Store, 2 Stores will be coming in future.

**Module:**
Integration/Appointment Calender

**Issue:**
Is there a way to add the lead number directly to the confirmation instead of just the confirmation email on the appointment calendar?

**Video Lin

[2020-04-13 02:33] fahadimran303 commented on #1097
Internal Chat Link:
https://repairdesk.atlassian.net/browse/REP-2490

[2020-04-13 05:12] MuhammadAdnan32 commented on #1094
Hey @DVTGroup ,
Adnan here Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks,
Regards,
M Adnan

[2020-04-13 05:13] MuhammadAdnan32 commented on #1096
Hey @DVTGroup ,
Adnan here Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks,
Regards,
M Adnan

[2020-04-13 05:13] MuhammadAdnan32 commented on #1095
Hey @DVTGroup ,
Adnan here Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks,
Regards,
M Adnan

[2020-04-13 05:18] MuhammadAdnan32 commented on #1096
Hey! @DVTGroup
Thank you for bringing this to our attention! It looks like there's a bug that just popped up .
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Regards,
M Adnan

[2020-04-13 05:18] MuhammadAdnan32 commented on #1096
For internal use:
https://repairdesk.atlassian.net/browse/RB-1102

[2020-04-13 05:21] MuhammadAdnan32 commented on #1094
Hey! @DVTGroup,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up .
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Regards,
M Adnan

[2020-04-13 05:23] MuhammadAdnan32 commented on #1094
For internal use:
https://repairdesk.atlassian.net/browse/RB-1103

[2020-04-13 06:29] Afnan-Mahmood commented on #1095
Dear @DVTGroup

Hope you are staying safe.

This is Afnan from iPad team. I am looking in to your reported issues.
I just tried at my side with same steps from iPad App on our testing account and found all functionality working fine. It might be account specific issues or it can be understanding issue.
Can we have a one to one discussion?
You can drop your Whatsapp number or you can reach me out d

[2020-04-13 11:02] Afnan-Mahmood commented on #1095
Dear @DVTGroup

I found out that you are using our old app which is depreciated for now. We are near to launch our very exciting new hybrid app. In this hybrid app you can do all upper mentioned functionalities with out crash.

Hope this helps.

If there is anything else we can do for you please don't hesitate to reach out.

Best,
Afnan Mahmood
RepairDesk iPad Team

[2020-04-13 14:04] #1095 closed

[2020-04-14 09:04] iFoneRepair opened #1098 "Service Bundles - "Unchecked" by default"
In order to heavily organize our operation, our company uses bundling to get rid of unrelated parts in the repair service categories. It would be a major enhancement to enable a setting found in the  store settings to "Un-check" product bundle by defult.

<img width="1248" alt="Screen Shot 2020-04-14 at 2 00 37 AM" src="https://user-images.githubusercontent.com/62595033/79206240-e45c4a80-7df3-11ea

[2020-04-14 09:11] iFoneRepair commented on #1074
This edit is **no longer needed,** as I have found a setting to enable Ticket + phone, instead of Ticket + Last name. Placeholder isnt need for "just incase" employee typos.

:)

Settings > Module > Widgets > **"Customer can check repair status by entering mobile number instead of last name from Repair Tracker widget"**

[2020-04-14 09:41] Uzair-RepairDesk commented on #1074
great. you are legend

[2020-04-14 09:41] #1074 closed

[2020-04-14 19:15] Omar1892 commented on #1090
Hello,

I've have brought this in the past as well, but I was told that it could not be done. But adding a warranty period on the Trade devices would be helpful. Most trade in my store go back to regular costumers and the few times we have tried to do a warranty claim it won't let us do it since theirs is no warranty on trade ins.

[2020-04-15 11:55] marianabut opened #1099 "Icon missing on Pick-up - Appointment Calendar"
Hi, the icon disappears...
<img width="684" alt="Screenshot 2020-04-15 at 14 51 54" src="https://user-images.githubusercontent.com/60131264/79334456-03102d80-7f29-11ea-989a-26741d9f60e5.png">
<img width="1680" alt="Screenshot 2020-04-15 at 14 49 17" src="https://user-images.githubusercontent.com/60131264/79334474-0a373b80-7f29-11ea-96d9-2a4ff2f0783d.png">

[2020-04-15 12:15] marianabut commented on #1099
...and sometimes in English sometimes is in my language

[2020-04-15 12:15] #1099 closed

[2020-04-16 22:51] fahadimran303 opened #1100 "Improvement for Imei and serial number option | Rio Rayne | Consolidate sound service LLC"
Hi Sir,

**Business Name / Store Name**
Consolidate sound service LLC

**Module:**

Appointment calendar

**Improvement:**

Customer has requested to have a trigger option to disable either imei or serial number from appointment calendar so they can only show one option. They dont deal in mobile repairing so according to them the imei number makes their customers confuse while booking through appo

[2020-04-16 22:52] fahadimran303 commented on #1100
Internal [Jira](https://repairdesk.atlassian.net/browse/REP-2527?atlOrigin=eyJpIjoiZGFkMzBlMGZiMDczNGE0Y2IxZTdkMTE0YWE0NzUxNDIiLCJwIjoiaiJ9) Link

[2020-04-16 23:03] fahadimran303 opened #1101 "Improvement to have Delivery label | Curro Quevedo Bueno | ZOOO"
Hi Sir,

**Business Name / Store Name**
ZOOO

**Module:**
Label templates

**Improvement:**

Customer has requested that because of Lock-down their business is mostly running online. He wants to have a parcel delivery Label so when he send a parcel through a courier, he can paste a particular label on it.

Kindly let us know your opinion on this request.

**Chat:**
https://app.intercom.com/a/apps/

[2020-04-16 23:03] fahadimran303 commented on #1101
Internal [Jira ](https://repairdesk.atlassian.net/browse/REP-2528?atlOrigin=eyJpIjoiZjVjNTY0OWY0YjFkNDYyZmExYTU0NTg3ZGMyYTY4YmMiLCJwIjoiaiJ9)Link

[2020-04-16 23:17] fahadimran303 opened #1102 "Improvement in selecting appointment slot | Raphael Schlemann | 4tronics"
Hi Sir,

**Business Name / Store Name**
4tronics

**Module:**
Appointment calendar

**Improvement:**
Customer has requested to have a small improvement in appointment calendar's time slot booking. When customer comes on the page where he has to select a slot, the very first time slot is already selected and that option is already blue. He wants that no option should be selected prior to the custom

[2020-04-16 23:18] fahadimran303 commented on #1102
Internal Jira [Link](https://repairdesk.atlassian.net/browse/REP-2529?atlOrigin=eyJpIjoiNDFhZGYzNjE5ZTY5NDE4M2E5ZjlkZTk5NGUwYTNmZTgiLCJwIjoiaiJ9)

[2020-04-17 07:42] usmanalikhan93 commented on #1098
Hi @iFoneRepair

I hope you are doing well. Do you want to disable these all ?

[2020-04-17 07:43] usmanalikhan93 commented on #1091
Hi @marianabut

Thank you for your suggestion. Let me discuss this with the team and revert back to you.

Thanks
Usman Ali

[2020-04-17 07:45] iFoneRepair commented on #1098
Hello, no I would like the items to be “unchecked” by default. The logic
behind this is that I use bundles not because the actual items showing are
bundles, but because i have bundled them for a sense of organization to
eliminate unneeded items from showing up.

So, unchecking them by default would be great in order for me to check mark
only 1 item myself.
(Otherwise, example: i am unchecking 9out

[2020-04-17 09:28] usmanalikhan93 commented on #1098
Thank you for the additional info. Currently it works like this. Let me tag our product manager. @Uzair-RepairDesk can you please look into this ?

[2020-04-17 12:52] Uzair-RepairDesk commented on #1101
Did you refer him existing ticket label? @fahadimran303
What's the exact information he wants on the delivery label?
The requirement seems to be incomplete with no use case.

[2020-04-20 01:52] fahadimran303 opened #1103 "Improvements in Repairs Section on POS | Mohammad | iRepair"
**Hi Sir,**

**Business Name / Store Name:**
Mohammad | iRepair

**Customer Stature:**
1 Store Location with Annual Plan.
His requirements are generic, I mean other customers would also love them

**Module:**
POS

**Improvement:**
Customer has requested the following 2 improvements:
1) Option to disable/hide a manufacturer&device only from Repairs Section
2) Option to customize the device name at

[2020-04-20 02:00] fahadimran303 commented on #1103
Internal Jira Link:
https://repairdesk.atlassian.net/browse/REP-2532

[2020-04-20 02:16] fahadimran303 opened #1104 "Force Customer to Pay Now in Appointment Calednar | Jose | iTech Connection"
**Hi Sir,**

**Business Name | Store Name:**
Jose | iTech Connection

**Customer Stature:**
2 Store Location with Annual Plan.
High Presence on Social Media.
Can help us a lot in other verticals as well.

**Module:**
Appointment Calendar

**Improvement:**
Customer has come up with a request that once we go to Appointment Calendar and we click on Pay and Book Appointment, it redirects me to a new p

[2020-04-20 02:17] fahadimran303 commented on #1104
Internal Jira Link:
https://repairdesk.atlassian.net/browse/REP-2533

[2020-04-21 10:13] CMCMario opened #1105 "Automatic parts name and stock name generated from selection fields"
Hi. I spend massive time to tidy up part names and stock names in RD. Clearly stuff is not able to follow restrict code how part / item label name shall looks like. Same time they hate to add parts as this field generate a lot potential issues.
Solution: Automatic part / stock name generated from already existing fields.
More details: When adding new stock: Item name is automatically generated fro

[2020-04-21 12:18] marianabut opened #1106 "Portable printer"
Hi guys!  We need a solution ( update  ) for the Ipad app to be able to connect a PORTABLE printer.
Recommendations are only for a wireless printer on website.   On 'Pickup service'  we must be on client location ( at his home, at his office). For the moment I improvise, I use Microsoft full Windrose with portable printer connected by wire.  Thank you!

[2020-04-21 12:36] marianabut opened #1107 "integrate WhatsApp Business with RD"
Hi guys!  I came with a suggestion to integrate WhatsApp Business with RD. Why? Because WhatsApp becomes very popular, it is connected with the client's phone number, is bi-directional, easy to send text and media files...and NO COSTS!  WhatsApp Business is promoted by Facebook hard these days, and a lot of companies start to communicate with clients this way. It is more trustable (the accounts ar

[2020-04-21 13:01] danmurari opened #1108 "Giving option add Company directory -"
Can we please have a option to add companies and search option for them when we search similar to customer search .

Example :
So there is company 3C Computers and Mobiles

Add that as a company .

Under this add contacts

Contact one : Dan

Mention notes as -  decision maker

 so he contacted only when decision need to be done . ( we can add notes like that )

Contact two : Accountant

Accounts p

[2020-04-21 15:24] MuhammadAdnan32 commented on #1096
Hey @DVTGroup ,
I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.
Thanks!
Regards,
M Adnan

[2020-04-21 15:25] MuhammadAdnan32 commented on #1094
Hey @DVTGroup ,
I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.
Thanks!
Regards,
M Adnan

[2020-04-22 06:28] #1071 closed

[2020-04-22 07:51] callitfix opened #1109 "Is there any way to send alert to two email address"
Please could you make a way or suggest a way where we are able to send alert to two different people.

[2020-04-23 05:22] arturodel opened #1110 "Cross- selling on client schedules a home repair"
It would be great ! that when a client schedules a home repair service, you can cross-sell that select an accessory or cover and thus increase the average ticket

[2020-04-23 17:45] istationonline opened #1111 "Buy & Sell Widget Issue"
URL's getting blocked in buyback widget "ICloud Agreement for Apple Devices"

[2020-04-23 18:05] Shane-RepairDesk opened #1112 "RD/Woocommmerce SUB Category Enhancement"
As one's online shop grows not having sub category support between the two via integration is becoming a massive problem...

Think about adding :)

[2020-04-24 08:06] CMCMario opened #1113 "Fast search box on POS"
Save 3 Us 3 steps by adding fast search box on POS to find device to create ticket.
Save clicking: Cathegory>Manufacture> Dev> Samsung S7, i can type in magic box above (S7) and it showing me devices with S7.
Anyway this clicking words are hard to match by finger click in iPad POS, So fast device search box will improve 2 aspects.

[2020-04-24 10:39] usmanalikhan93 commented on #1111
Hi @istationonline

I hope you are doing well. Can you provide more info on this ?

[2020-04-24 10:40] #1094 closed

[2020-04-24 10:40] #1096 closed

[2020-04-24 11:25] Uzair-RepairDesk commented on #1112
Hey @Shane-RepairDesk
Thank you for sharing your idea. We will need to add "Sub Categories" functionality in RepairDesk before integrating into WooCommerce.
We can consider looking into it in Q3. You can track current roadmap and progress from the following link:-
https://trello.com/b/iTAu9R6p/repairdesk-roadmap-2020

[2020-04-24 14:01] Shane-RepairDesk commented on #1112
Uzair,  you know I'm prolly the only client that is about to get wild as a
mofo with woocommerce,  so probably wouldn't benefit the family as a whole.
.

On Fri, Apr 24, 2020 at 7:25 AM Muhammad Uzair Shah <
notifications@github.com> wrote:

--
Kind Regards,

Shane Moreland
502-385-0600 Ext 404

[2020-04-25 10:05] fahadimran303 opened #1114 "Improvements in Inventory Count | Joel Zeitman | iPhone Repair VB Birdneck"
**Hi Sir,**

**Business Name | Store Name:**
Joel Zeitman | iPhone Repair VB Birdneck

**Customer Stature:**
2 Store Location with Annual Plan.
High Presence on Social Media.
Can help us a lot in other verticals as well.

**Module:**
Inventory Count

**Improvement:**
Customer has come up with a request that once we go to Inventory Count, he would like to:

1) Update Cost Price while updating the I

[2020-04-25 10:05] fahadimran303 commented on #1114
Internal Jira Link:
https://repairdesk.atlassian.net/browse/REP-2547

[2020-04-25 11:58] fahadimran303 opened #1115 "Ticket Status Behavior from Manage Ticket | Jose | iTech Connection"
**Hi Sir,**

**Business Name | Store Name:**
Jose | iTech Connection

**Customer Stature:**
2 Store Location with Annual Plan.
High Presence on Social Media.
Can help us a lot in other verticals as well.

**Module:**
Manage Tickets

**Improvement:**
Customer has come up with a request that once we go to Manage Ticket Section and Search for Ticket Status as Repaired and Collected, it doesn't give u

[2020-04-25 11:59] fahadimran303 commented on #1115
Internal Jira Link:
https://repairdesk.atlassian.net/browse/REP-2549

[2020-04-25 12:10] fahadimran303 opened #1116 "Force To Select Part | Jose | iTech Connection"
**Hi Sir,**

**Business Name | Store Name:**
Jose | iTech Connection

**Customer Stature:**
2 Store Location with Annual Plan.
High Presence on Social Media.
Can help us a lot in other verticals as well.

**Module:**
POS

**Improvement:**
Customer has come up with a request that there should be a trigger forcing his employees to select the part. The employees miss that and profit gets disturbed.

[2020-04-25 12:10] fahadimran303 commented on #1116
Internal Task Link:
https://repairdesk.atlassian.net/browse/REP-2550

[2020-04-26 11:04] fahadimran303 opened #1117 "Improvement in Manage Ticket Flow | Jose | iTech Connections"
**Hi Sir,**

**Business Name | Store Name:**
Jose | iTech Connection

**Customer Stature:**
2 Store Location with Annual Plan.
High Presence on Social Media.
Can help us a lot in other verticals as well.

**Module:**
Manage Tickets

**Improvement:**
Customer has come up with a request that once he edits the ticket and add a new problem, it doesn't show the Due Amount in the Invoice after the new p

[2020-04-26 11:04] fahadimran303 commented on #1117
Internal Task Link:
https://repairdesk.atlassian.net/browse/REP-2551

[2020-04-26 12:57] fahadimran303 opened #1118 "Improvement in Refund Invoice Behavior | Jose | iTech Connection"
**Hi Sir,**

**Business Name | Store Name:**
Jose | iTech Connection

**Customer Stature:**
2 Store Location with Annual Plan.
High Presence on Social Media.
Can help us a lot in other verticals as well.

**Module:**
Manage Tickets

**Improvement:**
Customer has come up with a request that Refund of OverPaid/Due Invoice is very time consuming and its very hard to implement specially with multiple

[2020-04-26 19:24] fahadimran303 opened #1119 "New Problem in Appointment Calendar | Jose | iTech Connection"
**Hi Sir,**

**Business Name / Store Name:**
Jose | iTech Connection

**Admin:**
Yes

**OS:**
Windows / MacBook

**Module:**
Appointment Calendar

**Configuration Setting:**
Correct

**Roles & Permissions:**
Correct

**Issue:**
Customer has reported an issue that Appointment Calendar books a Lead even if the customer just enter any word in Problem Section

**Steps to Reproduce Issue/Provide Video:

[2020-04-26 19:24] fahadimran303 commented on #1119
Internal Jira Link:
https://repairdesk.atlassian.net/browse/REP-2553

[2020-04-27 06:11] usmanalikhan93 commented on #1119
Hi @fahadimran303

I hope you are doing well. If customer didn't find any problem listed then he/she writes over there and proceed. This is functionality. Rest , @Uzair-RepairDesk can guide you on this.

Regards,
Usman Ali

[2020-04-27 07:36] Uzair-RepairDesk commented on #1119
@fahadimran303
This is the default functionality and option for the customer to write the problem if he doesn't find it in the list. This is not an issue. If a customer writes anything, its added and appears on the lead so admin/users can reach out to the customer to find out the details.

Hope it helps.

[2020-04-27 07:40] Repair-Desk opened #1120 "Mobile App Feedback Thread"
Creating a thread so beta users can submit feedback for the android and iOS app here

[2020-04-27 07:49] Uzair-RepairDesk commented on #1118
Dear @fahadimran303
I believe you have already suggested the right workaround based on our discussion. If the invoice is already paid, it's not suitable to update the price of service. This is a data anomaly created by the customer.
Can you please confirm that what is the feedback of Jose on this? Also, did you suggest enabling the trigger i.e. "Can't edit the ticket once the invoice is created" s

[2020-04-27 12:45] fahadimran303 opened #1121 "Edit Ticket Information Issue | Jose | iTech Connection"
**Hi Sir,**

**Business Name / Store Name:**
Jose | iTech Connection

**Admin:**
Yes

**OS:**
Windows / MacBook

**Module:**
Inventory

**Configuration Setting:**
Correct

**Roles & Permissions:**
Correct

**Issue:**
Customer has reported an issue that once we edit the ticket and add some information, we have to save the ticket on every step.

**Steps to Reproduce Issue/Provide Video:**
https://dr

[2020-04-27 12:46] fahadimran303 commented on #1121
As per feedback from Usman Ali Khan, creating an improvement request.

[2020-04-27 12:46] fahadimran303 commented on #1121
Internal Task Link:
https://repairdesk.atlassian.net/browse/REP-2556

[2020-04-27 12:52] fahadimran303 commented on #524
@Uzair-RepairDesk Jose from iTech Connection also wants US Date Format in Reports.

[2020-04-27 21:54] JessicaSOS opened #1122 "Resume of due invice reminder problem"
Hello,
# 1053 is indeed corrected, thank you. however, the # 463 reporter on October 3, 2018 and the # 706 reporter on March 7, 2019 (to name a few), still doesn't work. That is to say that the tags (macros) used do not match anything. See attached photo of what our customers have received since 2018 as being assumed to be their statement of account.
Here are the errors:
1- the tags do not all wor

[2020-04-27 21:56] JessicaSOS commented on #1053
Hello,
# 1053 is indeed corrected, thank you. however, the # 463 reporter on October 3, 2018 and the # 706 reporter on March 7, 2019 (to name a few), still doesn't work. See the full summary in the new issue: Resume of due invice reminder problem # 1122

[2020-04-27 22:07] JessicaSOS commented on #972
Hello,
Have you tested something? I showed you the accesses which are checked as well as the error page. can you correct the problems AND TEST them before closing the tasks please. There is nothing corrected in it. To reopen
Thank you
--
Bonjour,
Avez-vous testé quelque chose? Je vous ai montré les accès qui sont coché ainsi que la page d'erreur. pouvez-vous corriger les problèmes ET LES TESTER av

[2020-04-27 22:16] JessicaSOS commented on #882
Please try with my acount, this is not fixed. The problem is still here. No matter how much I try with a new computer, erase the history, new employee, different physical adress, but the problem is still present after several months. So there is a problem, since all employees in all branches have this problem. Please reopen this task.

--
french:
Merci d'essayer avec mon acompte car cela n'est pas

[2020-04-27 22:22] JessicaSOS commented on #414
You never reopened this task, despite the fact that I told you that it was not resolved on January 31, 2019. I still have this same problem. Please reopen it and correct it please.
<img width="936" alt="Payment method" src="https://user-images.githubusercontent.com/40500094/80426538-ea523100-88b3-11ea-93bb-8f55d58b918f.png">
<img width="945" alt="payment in transaction log" src="https://user-image

[2020-04-27 22:38] JessicaSOS commented on #454
I believe you have removed an employee's "show cost price" option. I would like to know what is the option which allows or not an employee to visualize the cost price of a part?
The only likely options I see now in "manage access roles" are:
1- Show Cost Price in the category: Expense_Management
2- Change Part Cost Price in the category: Ticket
3- Revalue Cost Price in the category: Inventory
4- C

[2020-04-27 22:53] JessicaSOS commented on #734
I really feel like you are closing tasks without even taking the time to look at what the problem is. there is nothing settled in this task. Do you know how much time I spend describing everything in as much detail as possible and making screenshots, retailers and identifiers so that it is easy to understand, translating each text before sending it to you? It takes me time, time I don't have. I al

[2020-04-28 06:36] Uzair-RepairDesk commented on #734
Hello @JessicaSOS
I apologize on behalf of my team. We will make sure that we don't close any task without your confirmation. I have reopened it and we will review it again. Thanks

@usmanalikhan93 FYI

Regards,
Uzair

[2020-04-28 06:38] Uzair-RepairDesk commented on #454
Thanks, @JessicaSOS for the additional information.

@usmanalikhan93 Can you please review it and discuss it with Humza.
Let me know if you guys have any questions.

[2020-04-28 06:39] Uzair-RepairDesk commented on #882
I have reopened it. @usmanalikhan93 Can you please verify it again? Thanks

[2020-04-28 07:22] usmanalikhan93 commented on #882
Hi @JessicaSOS

I hope you are doing well. We have tried to check in every possible manner, but it's working fine. Can you explain this issue again so I can check in your account ?

[2020-04-28 12:46] usmanalikhan93 commented on #1122
Hi @JessicaSOS

Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2020-04-28 12:49] usmanalikhan93 commented on #414
Hi @JessicaSOS

I hope you are doing well. As I have already told you there are some of the payments which were used in the past, that's they were appearing in Transaction log report. What we can do is delete the extra payment methods from Database but it will also delete entry if there is any. Please do let me know which payment method you want to delete then I will do as per your comment.

Thank

[2020-04-28 12:49] usmanalikhan93 commented on #454
Sure @Uzair-RepairDesk

[2020-04-28 12:52] usmanalikhan93 commented on #972
Hi @JessicaSOS

Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2020-04-28 14:09] JessicaSOS commented on #414
Several have never been used as a Chrome example. So it was not me who created them and it was never used, as mentioned. I made an image with those to keep and those to delete. Before touching on "bank transfer" which is registered in duplicate, I would like that its does not delete the payments. This payment method is used so the information related to it is important. Please look before modifyin

[2020-04-28 14:32] JessicaSOS commented on #882
Here is a screenshot of our employee Nancy. It is new and it is never connected to repairdesk via my computer. Here is the information that appears. She sees a total of 2,684 open tickets. However, if I do a search for all tickets with open status (like: in progress, waiting on customer, waiting for parts, waiting to received, etc ...) the total is 44. So there is a large error on the number displ

[2020-04-29 00:05] homesick4de opened #1123 "Invoices"
So, on previously made invoices, I see that there always an amount due. Upon research, it is adding one tax to the total then taxing it fully again.

So most orders I have say owe an additional $1-$10.

I have not tested created an invoice yet, but this is based on the few minutes I've spent checking around the Android App.

Edit: for example, one order for $30 is now $31.72 before tax and now tax

[2020-04-29 05:29] usmanalikhan93 commented on #1111
Hi again @istationonline   - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Regards,
Usman Ali

[2020-04-29 05:29] #1111 closed

[2020-04-29 06:19] usmanalikhan93 commented on #1122
@Uzair-RepairDesk can you please check point number 3 and 4 as she is asking for improvement.

[2020-04-29 06:31] usmanalikhan93 commented on #1122
For point 1 and 2 I have created a bug, for internal use:
https://repairdesk.atlassian.net/browse/RB-1152

[2020-04-29 06:53] Uzair-RepairDesk commented on #1123
Hello @homesick4de
Thank you for taking interest in beta testing of our android app. You can directly log your feedback here #1120 so we can accumulate all the feedback to work and improve the Android app. Thanks

[2020-04-29 10:11] usmanalikhan93 commented on #414
Thanks for the additional information @JessicaSOS.

[2020-04-29 10:40] gsmgps-star opened #1124 "Loyalty point - Facing display"
hi

Is it possible to display loyalty points on the facing display?

https://i.imgur.com/fHmJ7VK.jpg

so that the customer could immediately see how many points he has before repair

tnx

[2020-04-29 12:12] #285 closed

[2020-04-29 12:14] Uzair-RepairDesk commented on #154
We have already trigger available to apply tax on the cost price of parts.

[2020-04-29 12:14] #154 closed

[2020-04-29 12:25] marianabut opened #1125 "Leads counter number in Pop-up"
Hi, it is possible tu put back in pop-up leads the order number?

I remember it is was before.

It is very helpful when you receive more to
Thank you!

<img width="1263" alt="Screenshot 2020-04-29 at 13 46 22" src="https://user-images.githubusercontent.com/60131264/80595568-9f5c2900-8a2d-11ea-97c6-b673f235c20b.png">
identify by order number

[2020-04-29 16:40] fahadimran303 opened #1126 "Default Trigger Disable for New Customer | Casey S. | Forever Wireless Howard"
**Hi Sir,**

**Business Name | Store Name:**
Casey S. | Forever Wireless Howard

**Customer Stature:**
5 Store Location with Monthly Plan.
He is using RD payment on all 5 stores.
Can help us a lot in other verticals as well.

**Module:**
Manage Customer

**Improvement:**
The customer has come up with a request that once he adds a new customer the trigger for SMS is by default ON, every time he has

[2020-04-29 16:40] fahadimran303 commented on #1126
Internal task link:
https://repairdesk.atlassian.net/browse/REP-2562

[2020-04-30 00:43] Omar1892 opened #1127 "Loyalty Point"
Hello, I don't have an issues, its just a suggestion. Their should be an option to make the loyalty points to be mandatory to ask the costumer if they want to enroll. Just like setting for the costumer contact info it gives you the option to make certain things mandatory to ask the costumer for.

[2020-04-30 14:30] Uzair-RepairDesk commented on #1125
Hey @marianabut
We never had this option to display lead id on the alert popup. I am marking it under enhancements based on your request. Thanks.

[2020-05-02 07:34] Uzair-RepairDesk commented on #1119
@fahadimran303 Please update if you got the understanding of this?

[2020-05-02 07:43] Uzair-RepairDesk commented on #1084
@fahadimran303
Did we update to the customer on this?

[2020-05-02 07:45] Uzair-RepairDesk commented on #1118
@fahadimran303
??

[2020-05-02 07:46] Uzair-RepairDesk commented on #1124
Hi @gsmgps-star

[2020-05-04 11:29] usmanalikhan93 commented on #1122
Hi @JessicaSOS

I hope you are doing well. Your reported point 1 and 2 has been resolved and verified, do verify at your end and let us know if you have any question.

Thanks
Usman Ali

[2020-05-04 12:11] Uzair-RepairDesk commented on #1010
Hey @Repair-Desk
I hope you are doing well,  it is to inform you that we have added an option in the ticket section from where you can upload attachments.
you can upload attachments for the specific ticket items and with the whole ticket as well.
Here Is the link For KB article:
https://help.repairdesk.co/knowledgebase/articles/1944004-how-to-upload-attachments-while-creating-tickets

[2020-05-04 12:11] #1010 closed

[2020-05-05 02:37] EDDYAGGI opened #1128 "Repair Issues that are disabled on widgets still showing up on booking app."

[2020-05-05 05:26] MuhammadAdnan32 commented on #1128
Hey @EDDYAGGI ,
Adnan here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks,
Regards,
M Adnan

[2020-05-05 06:16] MuhammadAdnan32 commented on #1128
Hey @EDDYAGGI ,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks,
Regards,
M Adnan

[2020-05-05 06:17] MuhammadAdnan32 commented on #1128
For internal use:
https://repairdesk.atlassian.net/browse/RB-1177

[2020-05-05 08:30] Uzair-RepairDesk commented on #1044
Hey @tinkertechguy

We have made this feature LIVE. To keep a record of every repair, you can now add/attach documents with repair tickets.
You can also send attachment while sending an email to the customer from the repair ticket.

Please check following knowledgebase article for your understanding:-

https://help.repairdesk.co/knowledgebase/articles/1944004-how-to-upload-attachments-on-repair-ti

[2020-05-05 08:30] #1044 closed

[2020-05-05 08:38] Uzair-RepairDesk commented on #1092
Hey @fahadimran303
I hope you are doing well, we have made this improvement live, now you can hide out of stock repair parts from POS just by enabling this trigger added in **Module configuration**  **POS section**.
![FIXAPHONE_Pos_Config](https://user-images.githubusercontent.com/22955861/81048394-b1c6de80-8ed5-11ea-9047-18367a6ee12b.png)

[2020-05-05 08:38] #1092 closed

[2020-05-05 11:50] Uzair-RepairDesk commented on #1047
We have also added an option to "Void Store Credits".

[2020-05-05 11:50] #1047 closed

[2020-05-05 11:52] Uzair-RepairDesk commented on #476
Hey @afrahm
We have made this improvement LIVE.
You can go to Store Settings > Module Configurations > Repairs > Ticket assignment to employee > You can select the criteria "Unassigned" that will allow you to create tickets without any assignment.
Hope it helps.

![uzairshah_Repairs_Config](https://user-images.githubusercontent.com/22955861/81063184-cd8bae00-8ef0-11ea-982d-dadb4d6fc317.png)

[2020-05-05 11:52] #476 closed

[2020-05-06 00:23] Omar1892 opened #1129 "Serialized & P.O issues"
Hello,

Im having issues, with the serialized merchandized as well as the Purchase orders. I made a video and they were sent to Fahad via email.

[2020-05-06 00:26] Omar1892 opened #1130 "Ticketing Editing Issues"
Hello,

Ive created a video about an issue regarding when ever a ticket is edited the taxes are removed as well as the warranty from the parts that are going to be used. The video was sent to
fahadimran85@gmail.com

[2020-05-06 00:27] Omar1892 commented on #1129
Email address:
fahadimran85@gmail.com

[2020-05-06 05:08] jeffsand8243 opened #1131 "Customer reminder for appointments"
Can we send an auto email and text on day of appointment to remind customer to come in for booking

[2020-05-06 05:10] jeffsand8243 opened #1132 "Auto print ticket label when lead is won"
Please make a ticket label print automatically when a lead is converted to a ticket from the leads screen with the box status change

[2020-05-06 05:11] jeffsand8243 opened #1133 "Terminal not working with debit pin card"
Repair desk pay not working with debit cards when they enter pin. Only goes through when bypass the pin

[2020-05-06 05:13] jeffsand8243 opened #1134 "Need a button to pull a ticket or invoice up in the pos"
Please make a button that will open a ticket being viewed in the pos terminal. Or a invoice. It takes a while to have to leave the ticket and then type in the ticket number to pull it up in pos

[2020-05-06 05:15] jeffsand8243 opened #1135 "Need ability to take a deposit for parts via email invoice"
Please make a way to take a partial payment via email invoice toward an invoice for a diagnostic fee or a deposit for a part or phone being ordered.

[2020-05-06 05:16] jeffsand8243 opened #1136 "Item number modify won’t work on pos"
When we accidentally ring up two items of same type and you try to change it to 1 it won’t let you change the number. You have to delete the item and start over. Please fix this

[2020-05-06 05:19] jeffsand8243 opened #1137 "Tickets are not being auto marked paid and completed"
When we check out a ticket and have it set to make repaired and collected it is not marking the ticket repaired and collected. Specifically when they pay via email invoice but also sometimes when they pay with the card in person. Please fix this

[2020-05-06 06:02] Afnan-Mahmood commented on #1058
Dear @istationonline @hitman1986

Hope you are doing well and staying safe.

We have pushed our release 5.2 to app store and release has been lived. You can download the latest version from app store. Now you can use app with dark mode as well. Just enable dark mode from iPad setting and app will remains in light mode and things will be readable and will work fine.

Please try it at your side and

[2020-05-06 06:49] MuhammadAdnan32 commented on #1129
Hey @Omar1892 ,
Adnan here Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks,
Regards
M Adnan

[2020-05-06 06:50] MuhammadAdnan32 commented on #1130
Hey @Omar1892 ,
Adnan here Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks,
Regards
M Adnan

[2020-05-06 07:10] MuhammadAdnan32 commented on #1137
Hey @jeffsand8243 ,
Adnan here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Regards,

[2020-05-06 09:15] MuhammadAdnan32 commented on #1137
Hey @jeffsand8243 ,
I have checked your concern but unfortunately, I am unable to reproduce your issue. Would be great if you can share a video or images of this issue so we can release a fix during our next release.
If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.
Regards,
M Adnan

[2020-05-06 09:16] MuhammadAdnan32 commented on #1136
Hey @jeffsand8243 ,
Can you please provide more info on this as I am unable to understand this issue?
Thanks & Regards,
M Adnan

[2020-05-06 09:18] MuhammadAdnan32 commented on #1133
Hey @jeffsand8243 ,
Adnan here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Regards,
M Adnan

[2020-05-06 09:25] jeffsand8243 commented on #1137
i have a ticket in my que right now t-8951 and it was completed and paid today but the ticket still says in progress. and the option was check for mark as repaired and collected when we checked out.

Thanks,
Jeff Sandridge
The Smartphone Medics
256-414-1199 <tel:256-414-1199>
www.TheSmartphoneMedics.com <http://www.thesmartphonemedics.com/>
 <>7559 Highway 72 W. Suite B Madison, AL 35758 <x-apple-

[2020-05-06 09:26] jeffsand8243 commented on #1136
when you try to modify the quantity of an item it won’t let you on pos.  if i accidentally ring up 2 iPhone 6 trade ins then i can’t change the qty back to 1. i have to delete them both and start over.

Thanks,
Jeff Sandridge
The Smartphone Medics
256-414-1199 <tel:256-414-1199>
www.TheSmartphoneMedics.com <http://www.thesmartphonemedics.com/>
 <>7559 Highway 72 W. Suite B Madison, AL 35758 <x-app

[2020-05-06 09:46] MuhammadAdnan32 commented on #1136
Hey @jeffsand8243 ,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up .
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks,
Regards,
M Adnan

[2020-05-06 09:57] MuhammadAdnan32 commented on #1136
For internal use:
https://repairdesk.atlassian.net/browse/RB-1181

[2020-05-06 10:47] Uzair-RepairDesk commented on #1131
Hey @jeffsand8243
Yes, you can send an email or SMS to the customer to remind for the booking.
Open specific lead from mange leads click on send Email at the end on the screen and you can send email or SMS  to the customer.
![FIXAPHONE_Update_Leads](https://user-images.githubusercontent.com/22955861/81168679-e0fe4e00-8fb0-11ea-9a32-744c0c9ae9af.png)
 Hope this helps.if you have any other question

[2020-05-06 11:05] Uzair-RepairDesk commented on #1132
Hey @jeffsand8243
I really appreciate that you took the time to share your ideas.
I can certainly see how the suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users.
For now, you need to Print manually while converting lead into a ticket.
Let me know if I can help you with anything else.
Regards,

[2020-05-06 11:26] #1058 closed

[2020-05-06 13:13] usmanalikhan93 commented on #1128
Hi @EDDYAGGI

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks,
Usman Ali

[2020-05-06 15:05] phonefixdfw opened #1138 "2 Way SMS improvement request"
2 way SMS is a bit messy. There needs to be a way to dismiss or mark a text as "read" or "completed". Or maybe assign it to another user.

Example, one of my employees was off work yesterday. We had several customers text things yesterday like "thanks" in reply to their ticket being marked complete. If would be nice if yesterday, I could mark the "thanks" reply as "complete" so that when my employ

[2020-05-06 15:17] EDDYAGGI commented on #1128
Thanks brother

On Wed, May 6, 2020 at 7:13 AM Usman Ali Khan <notifications@github.com>
wrote:

[2020-05-06 15:42] jeffsand8243 commented on #1131
Thanks. I just meant was there a way to auto sent email on day of appointment

Thanks,
Jeff Sandridge
The Smartphone Medics
256-414-1199
www.TheSmartphoneMedics.com
7559 Highway 72 W. Suite B Madison, AL 35758

(Across from Academy Sports at corner of Nance Rd and 72, in front of Marcos pizza)

(Hours) 10-6pm weekdays,
10-5pm Saturday. Closed Sunday

[2020-05-06 16:08] usmanalikhan93 commented on #1091
Hi @marianabut

I hope you are doing well. We have done some changes in code in order to fix the issue related to submit and I hope now your customer's will not face this issue again. If you have any questions or find any confusion, do let us know, we will help you :)

Regards,
Usman Ali

[2020-05-07 02:32] jeffsand8243 commented on #1132
Can you put this on the to do list. It is really a pain to have to click through 3 screens just to print a label

Thanks,
Jeff Sandridge
The Smartphone Medics
256-414-1199
www.TheSmartphoneMedics.com
7559 Highway 72 W. Suite B Madison, AL 35758

(Across from Academy Sports at corner of Nance Rd and 72, in front of Marcos pizza)

(Hours) 10-6pm weekdays,
10-5pm Saturday. Closed Sunday

[2020-05-07 02:32] jeffsand8243 commented on #1136
This is still not working today

Thanks,
Jeff Sandridge
The Smartphone Medics
256-414-1199
www.TheSmartphoneMedics.com
7559 Highway 72 W. Suite B Madison, AL 35758

(Across from Academy Sports at corner of Nance Rd and 72, in front of Marcos pizza)

(Hours) 10-6pm weekdays,
10-5pm Saturday. Closed Sunday

[2020-05-07 02:33] jeffsand8243 commented on #1137
We had 4 more from today. You can check them and see the invoice is paid but the tickets say in progress still for the last 4 tickets pending today. Please fix this

Thanks,
Jeff Sandridge
The Smartphone Medics
256-414-1199
www.TheSmartphoneMedics.com
7559 Highway 72 W. Suite B Madison, AL 35758

(Across from Academy Sports at corner of Nance Rd and 72, in front of Marcos pizza)

(Hours) 10-6pm we

[2020-05-07 05:42] Uzair-RepairDesk commented on #1132
Hey @jeffsand8243
Sure I will discuss it with a team and keep you posted on this.

Regards,

[2020-05-07 05:44] MuhammadAdnan32 commented on #1137
Hey @jeffsand8243 ,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up .
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks,
Regards,
M Adnan

[2020-05-07 05:55] #1128 closed

[2020-05-07 05:55] #1091 closed

[2020-05-07 06:01] MuhammadAdnan32 commented on #1137
For internal use:
https://repairdesk.atlassian.net/browse/RB-1186

[2020-05-07 06:05] Uzair-RepairDesk commented on #1131
Hey @jeffsand8243
Thanks for your response, currently we have a trigger in appointment calendar configuration by enabling that customer gets a reminder SMS for an appointment on that specific day.
 The auto-email reminder option is not available for now.
I will forward this request to the product team and will keep you posted on this.
Regards

[2020-05-07 06:12] marianabut commented on #1091
Thank you!

On Thu, May 7, 2020, 08:55 Usman Ali Khan <notifications@github.com> wrote:

[2020-05-07 08:06] MuhammadAdnan32 commented on #1130
Hey @Omar1892 ,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up.

I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks
Regards,
M Adnan

[2020-05-07 08:10] MuhammadAdnan32 commented on #1130
For internal use:
https://repairdesk.atlassian.net/browse/RB-1188

[2020-05-07 11:16] Uzair-RepairDesk commented on #1138
Hi @phonefixdfw
What exactly you are using for 2 way SMS in RepairDesk?

[2020-05-07 11:29] Uzair-RepairDesk commented on #1135
Hi @jeffsand8243
We are going to work on the "Deposits Module" that is included in our current quarter roadmap. You will be able to charge a deposit from the customer while check-in in the device. A deposit invoice will be created separately and will be linked with the ticket.

You will be able to send an invoice to the customer to charge deposit fee. The deposit amount will be adjusted in the fin

[2020-05-07 11:32] Uzair-RepairDesk commented on #1134
@jeffsand8243
We have view tickets button available on POS that allows you to pull any specific ticket. You can also scan the ticket labels or search directly with a ticket ID. Can you elaborate where you exactly referring a button to open a ticket? Is it on the web app?
Looking forward to hearing from you.

[2020-05-07 11:49] Uzair-RepairDesk commented on #530
We have the option to set "Due Date & Time" for repairs. You can go to Store Settings > Module Configurations > Repairs > Set due date & time for repairs

![uzairshah_Repairs_Config1](https://user-images.githubusercontent.com/22955861/81291122-ae248a80-9082-11ea-81d4-f8bdca74004d.png)

[2020-05-07 11:49] #530 closed

[2020-05-07 11:51] Uzair-RepairDesk commented on #482
Hey @hitman1986
We have introduced a new "Checkout Screen" on iPad POS Register. Please update our app.

[2020-05-07 11:51] #482 closed

[2020-05-07 12:05] #935 closed

[2020-05-07 13:56] phonefixdfw commented on #1138
repairdesksms

9034 Garland Rd, Dallas 75218
972-587-7433 <https://mail.google.com/mail/u/0/> | www.phone-fix.com

On Thu, May 7, 2020 at 6:16 AM Muhammad Uzair Shah <notifications@github.com>
wrote:

[2020-05-07 15:13] jeffsand8243 commented on #1132
Ok thanks you

Thanks,
Jeff Sandridge
The Smartphone Medics
256-414-1199
www.TheSmartphoneMedics.com
7559 Highway 72 W. Suite B Madison, AL 35758

(Across from Academy Sports at corner of Nance Rd and 72, in front of Marcos pizza)

(Hours) 10-6pm weekdays,
10-5pm Saturday. Closed Sunday

[2020-05-07 15:14] jeffsand8243 commented on #1137
Ok thank you

Thanks,
Jeff Sandridge
The Smartphone Medics
256-414-1199
www.TheSmartphoneMedics.com
7559 Highway 72 W. Suite B Madison, AL 35758

(Across from Academy Sports at corner of Nance Rd and 72, in front of Marcos pizza)

(Hours) 10-6pm weekdays,
10-5pm Saturday. Closed Sunday

[2020-05-07 15:14] jeffsand8243 commented on #1131
Ok thank you!

Thanks,
Jeff Sandridge
The Smartphone Medics
256-414-1199
www.TheSmartphoneMedics.com
7559 Highway 72 W. Suite B Madison, AL 35758

(Across from Academy Sports at corner of Nance Rd and 72, in front of Marcos pizza)

(Hours) 10-6pm weekdays,
10-5pm Saturday. Closed Sunday

[2020-05-07 15:15] jeffsand8243 commented on #1135
Ok sounds good. Keep me posted.

Thanks,
Jeff Sandridge
The Smartphone Medics
256-414-1199
www.TheSmartphoneMedics.com
7559 Highway 72 W. Suite B Madison, AL 35758

(Across from Academy Sports at corner of Nance Rd and 72, in front of Marcos pizza)

(Hours) 10-6pm weekdays,
10-5pm Saturday. Closed Sunday

[2020-05-07 15:19] jeffsand8243 commented on #1134
I just mean it would be helpful to have. A button that open the ticket in pos view.

So if you are editing a ticket you could just open it in pos when it is completed and then either add more items to the ticket or take a payment. Currently if I’m editing a ticket I have to save it and then either copy and paste the ticket number or remember it. Then open the pos and paste the ticket number in. Or

[2020-05-07 15:22] jeffsand8243 commented on #1136
Any update on this?

Thanks,
Jeff Sandridge
The Smartphone Medics
256-414-1199
www.TheSmartphoneMedics.com
7559 Highway 72 W. Suite B Madison, AL 35758

(Across from Academy Sports at corner of Nance Rd and 72, in front of Marcos pizza)

(Hours) 10-6pm weekdays,
10-5pm Saturday. Closed Sunday

[2020-05-08 10:50] Uzair-RepairDesk commented on #1138
Thanks for confirmation @phonefixdfw. I have marked it under enhancements of RepairDesk SMS so we will be able to look into it in the future. Thanks.

[2020-05-08 10:54] Uzair-RepairDesk commented on #1134
Thanks for the confirmation @jeffsand8243.
I have marked it under enhancements with your reference so we will be able to check the feasibility to add in it in the future. Thanks.

[2020-05-08 10:56] Uzair-RepairDesk commented on #1136
Hey @jeffsand8243
As we have already marked the label that it has been assigned to the engineering team. We will post a comment once we get an update. Thank you for your patience.

[2020-05-08 11:19] Uzair-RepairDesk commented on #1122
@JessicaSOS
Can you please verify points 1 and 2 at your end? Thanks.

[2020-05-08 23:15] hitman1986 opened #1139 "I dont need select customer"
I dont need select customer in accessories tab checkout in ipad apps just i need select customer in creat repair ticket , this issue in new update.

[2020-05-09 06:53] Afnan-Mahmood commented on #1139
Hello @hitman1986

We fixed a bug related to this.
For customer selection there is two separate trigger.
You need to update these triggers setting from web.
One trigger is under: **Module configuration > Repairs**. This trigger only for **repairs**. If this trigger is active than in this case app makes mandatory customer info in case of repairs only.
2nd trigger is under: **Module configuration >

[2020-05-09 07:16] fahadimran303 opened #1140 "Post Signatures Behavior | Jose | iTech Connection"
**Hi Sir,**

**Business Name | Store Name:**
Jose | iTech Connection

**Customer Stature:**
2 Store Location with Annual Plan.
High Presence on Social Media.
Can help us a lot in other verticals as well.

**Module:**
Manage Tickets

**Improvement:**
Customer has come up with a request that if they have taken the complete payment up front and when the customer comes back in order to collect the pho

[2020-05-09 07:17] fahadimran303 commented on #1140
Internal Task Link:
https://repairdesk.atlassian.net/browse/REP-2579

[2020-05-09 07:18] fahadimran303 commented on #1140
I have already gave a work around to take $1 less however he is taking most of the payments via Card.

[2020-05-09 07:36] fahadimran303 opened #1141 "Commission Amount Behavior in Split Case | Jose | iTech Connection"
**Hi Sir,**

**Business Name | Store Name:**
Jose | iTech Connection

**Customer Stature:**
2 Store Location with Annual Plan.
High Presence on Social Media.
Can help us a lot in other verticals as well.

**Module:**
Employee Commission

**Improvement:**
Customer has come up with a request that there should be an option to give 50% commission to both technician or to the person who creates an Invo

[2020-05-09 07:37] fahadimran303 commented on #1141
Internal Task Link:
https://repairdesk.atlassian.net/browse/REP-2581

[2020-05-09 08:15] fahadimran303 opened #1142 "Multiple Improvements in Repair Section | Jose | iTech Connection"
**Hi Sir,**

**Business Name | Store Name:**
Jose | iTech Connection

**Customer Stature:**
2 Store Location with Annual Plan.
High Presence on Social Media.
Can help us a lot in other verticals as well.

**Module:**
Manage Services

**Improvement:**
Customer has requested for 2 improvements in Manage Services Section:

1) Filter to Search on the basis of Repair Category
2) Option to Clone Problem

[2020-05-09 08:15] fahadimran303 commented on #1142
Internal Task Link:
https://repairdesk.atlassian.net/browse/REP-2582

[2020-05-09 08:32] fahadimran303 commented on #1119
Customer is using the option of Email Invoice via RD Payment. He is getting a lot of leads with new problems with 0 price. Also he doesn’t want the customer to select any other problem.

Please check if we can make this as a trigger based.

[2020-05-09 08:36] fahadimran303 commented on #1118
Jose has a work flow in which after checking the phone, most of the time he has to adjust a different problem, Also he says its very hard for his employees as they are getting 2-4 tickets daily in which they have to adjust this

Please keep this in the loop and see when we can have this work flow a bit better.

[2020-05-09 08:43] fahadimran303 commented on #1114
Customer will not use the software untill we are going to go live with the improvement.

I will appreciate if you can share an update on when exactly this can be done so we can update customer accordingly. We can offer him free months in order to retain however we need to know when it will be Live.

[2020-05-09 09:36] usmanalikhan93 commented on #414
For internal use:
https://repairdesk.atlassian.net/browse/RB-1200

[2020-05-09 09:37] Uzair-RepairDesk commented on #1140
Is he using a customer-facing display widget or direct signature option? No clear task description of the video is attached to this.  @fahadimran303

[2020-05-09 10:38] usmanalikhan93 commented on #972
Hi @JessicaSOS

I have tested in your account with employee "Jessica" and with "Mallette" it is working fine. Can you please check again and let me know if it working for you or not ?

Thanks
Usman Ali

[2020-05-09 12:17] Uzair-RepairDesk commented on #1129
@MuhammadAdnan32 @usmanalikhan93

[2020-05-10 09:05] #1131 closed

[2020-05-10 10:04] CPCSTL opened #1143 "On sight appointment fee upfront and a pop message with location, safety restrictions"
A great step that we have an option for customers to pre-pay online for an appointment.

Needed modifications

1- For On-sight booking, we need a setting to set an additional fee to be added to the cost of service, customers have to at pre-pay online at least this none refundable fee or full payment ( cost of service + on-sight fee ) before dispatching a Technician.
It's very important in order to

[2020-05-11 05:38] #1139 closed

[2020-05-11 11:02] usmanalikhan93 commented on #414
Hi @JessicaSOS

I hope you are doing well. We have delete the empty one column and APPLE PAY (STRIPE). But we have found invoices against rest of the payment methods. So we just need to confirm from do you still needs to delete these payment methods as there is data associated with these ? If we delete these your those invoices will become unpaid. Please check excel file
[jessica-payment-methods.x

[2020-05-11 11:27] gsmgps-star commented on #1124
great.

tnx

[2020-05-11 11:38] usmanalikhan93 commented on #454
For internal use:
https://repairdesk.atlassian.net/browse/REP-2584

@Uzair-RepairDesk FYI

[2020-05-11 12:13] jawad-Repairdesk commented on #1133
Hey Jeff,

Hope you are doing great. I would say i am sorry if you see the trouble, but we are unable to test it in our development environment due to Covid-19. We are working from home and terminal is not available.
Once the office will be open we can have a clear picture of this issue.

Thanks

[2020-05-11 19:18] Omar1892 opened #1144 "Trade-In Products"
The trade-in section is very limited to what we can do. Such as warranty terms and RMAs. If we need to check the warranty terms once a device is sold the warranty comes up as NO Warranty. And if we need to create an RMA on a warranty replacement it won't let us create an RMA as well.

[2020-05-12 07:05] Uzair-RepairDesk commented on #1143
Hi @CPCSTL
As discussed on Facebook chat, you can enable "Pick up" and "On-site" price trigger and setup each again each device to charge from the customers.
Details are available from in following knowledgebase article:-
https://help.repairdesk.co/knowledgebase/articles/791394-repairdesk-appointments-booking-widget

You can also set "Safety Precaution" on confirmation pages under advance configur

[2020-05-12 12:56] MuhammadAdnan32 commented on #1136
Hey @jeffsand8243 ,
I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.
Thanks!
Regards,
M Adnan

[2020-05-13 13:31] fahadimran303 opened #1145 "Customer don't receive Email after downloading Customer data from Manage | TECNICO 2 | EXPERIMAC GALERIAS HERMOSILLOCustomer"
**Business Name / Store Name:**
TECNICO 2 | EXPERIMAC GALERIAS HERMOSILLO

**Admin:** Yes

**Store Name for the issue:**
Experimac Galerias Hermosillo

**OS:**
Windows / MacBook

**Module:**
Manage Customers

**Configuration Setting:**
Correct

**Roles & Permissions:**
Correct

**Chat Source:**
https://app.intercom.com/a/apps/mq09yl4f/inbox/inbox/conversation/26981639684

**Current Results:**
NA

[2020-05-13 13:32] fahadimran303 commented on #1145
Jira link:
https://repairdesk.atlassian.net/browse/REP-2585

[2020-05-14 10:17] Afnan-Mahmood commented on #1145
@fahadimran303

we checked this issue with the help of developer. As per our logs email forwarded to his account.
Email might goes to spam.

Jira ticket updated.

[2020-05-14 12:40] marianabut opened #1146 "Lead number on Popup notification"
Hi, it will be nice to have on pop-up notification, the number of the lead.
Is easier to keep taking the leads.
<img width="454" alt="Screenshot 2020-05-14 at 15 35 58" src="https://user-images.githubusercontent.com/60131264/81935398-47125300-95f9-11ea-9b0b-4e6b86ad90d2.png">

[2020-05-14 13:30] marianabut opened #1147 "Reports module"
To manage better your business you need numbers, statics to optimize your work.

For me is almost impossible to know at the end of the month, for example:
- which is the best selling display
- which are the most frequently repaired phones
- which are the best selling batteries, etc
- what is the income for hardware and on the software operations

If I will have this info, I will know:
-  how to op

[2020-05-14 13:47] #1146 closed

[2020-05-14 13:48] marianabut commented on #1146
Sorry, it was posted before

[2020-05-14 16:09] marianabut opened #1148 "Missing Icon on Appointment Calendar Widget"
https://www.youtube.com/watch?v=iaASSM6Lh3U&feature=youtu.be

<img width="1179" alt="Screenshot 2020-05-14 at 19 04 49" src="https://user-images.githubusercontent.com/60131264/81958090-23a9d100-9616-11ea-9cea-427360e5580a.png">

[2020-05-14 23:07] arturodel opened #1149 "Report to see which supplier was bought the most in the month"
If I have used that filter, but I have several suppliers and I have to select one by one to see the purchase amount, I would like it to be ordered by purchase amount and to know who are the suppliers that are bought the most, It would be great to know this for the shopping area to know which supplier you buy the most. thanks

[2020-05-15 05:06] MuhammadAdnan32 commented on #1148
Hey @marianabut ,
Adnan here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Regards,
M Adnan

[2020-05-15 05:56] #1136 closed

[2020-05-15 09:33] MuhammadAdnan32 commented on #1148
Hey @marianabut ,
I have double checked it at my end but I am not able reproduced the issue on my test account.It seems to be an account specific issue.
Thank you for bringing this to our attention! It looks like there's a bug that just popped up .
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks & Regards,
M Adnan

[2020-05-15 09:40] MuhammadAdnan32 commented on #1148
For internal use: https://repairdesk.atlassian.net/browse/RB-1231

[2020-05-15 11:05] MuhammadAdnan32 commented on #1137
Hey @jeffsand8243 ,
Kindly checked our Engineer comment below.
Closing ticket needs human interaction that’s why its manual in case of online payments
for example customer had just created the invoice and customer paid but technician is still working on it ,so system shouldn’t close this ticket in that case. this is why its this step is manual .
If you have any questions or if there is anything el

[2020-05-15 11:09] Uzair-RepairDesk commented on #1149
Hey @arturodel,

Thank you for sharing your idea. Currently, you can go to the "Manage Purchase Order" screen and apply the search filter with "Supplier" to see the number of the purchase order and total amount.

However, we don't have a report to find the difference between your supplier and see the insights to whom you bought the most. I have marked it under enhancements of reports and purchase

[2020-05-15 12:53] Uzair-RepairDesk commented on #1097
Hey @fahadimran303
I hope you are doing well, the above-sugessted improvement is now live. you can add **Lead Id** tag to the success page from **appointment calendar** **advance configurations**.
![FIXAPHONE_RepairDesk_Bookrepair_Config](https://user-images.githubusercontent.com/22955861/82052378-f6702800-96d4-11ea-82e3-52366a8d298c.png)
Kind regards,

[2020-05-15 12:53] #1097 closed

[2020-05-15 13:52] jeffsand8243 commented on #1137
What about if they didn’t pay and then we check them out manually in store when the repair is complete and it doesn’t mark it as paid and collected ?

Thanks,
Jeff Sandridge
The Smartphone Medics
256-414-1199
www.TheSmartphoneMedics.com
7559 Highway 72 W. Suite B Madison, AL 35758

(Across from Academy Sports at corner of Nance Rd and 72, in front of Marcos pizza)

(Hours) 10-6pm weekdays,
10-5pm

[2020-05-15 15:13] Uzair-RepairDesk commented on #1147
Hi @marianabut

Thank you for your post. Please find my comments below:-

For me is almost impossible to know at the end of the month, for example:
which is the best selling display
which are the most frequently repaired phones
which are the best selling batteries, etc
what is the income for hardware and on the software operations

**I believe to track all the above, you can check our "Sales by It

[2020-05-15 15:50] usmanalikhan93 commented on #414
Hi @JessicaSOS

I hope you are doing well. We have fixed the duplication issue regarding Payment Method. Please verify at your end and do let us know if you have any question.

Thanks
Usman Ali.

[2020-05-16 15:58] JessicaSOS commented on #1122
For now I found how desactivate other store exept Limoilou (the only one is open now)

But for this store, the modification is not working, please check Limoilou store.

The “holiday” are made for Monday but it don’t appear on the website.

If I change the normal hour in appointment widget, is not change anything on the website.

De : Usman Ali Khan <notifications@github.com>
Envoyé : 4 mai 2020 0

[2020-05-16 15:58] JessicaSOS commented on #1122
My laste emai is not for this issue, sorry, Is about the appointment calender

De : Usman Ali Khan <notifications@github.com>
Envoyé : 4 mai 2020 07:30
À : Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS <RepairDesk-BUGS-IMPROVEMENTS@noreply.github.com>
Cc : JessicaSOS <jessica@sosphone.ca>; Mention <mention@noreply.github.com>
Objet : Re: [Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS] Resume of due in

[2020-05-17 17:04] marianabut commented on #1148
OK, thank you!
I will wait for your answer.

[2020-05-18 01:20] hitman1986 commented on #1139
Thanks, its sloved.

[2020-05-18 01:44] hitman1986 opened #1150 "Suggestions: invoice and ticket"
I will present to you a suggestion that we can distinguish between tickets with an invoice and tickets without an invoice from the ticket management list in a specific color or with an invoice number beside to the ticket number.

[2020-05-18 01:48] hitman1986 opened #1151 "Suggestion : add reports tab"
I suggest you to add tab reports at the top and drop all other types of reports to make it easier to access them.

[2020-05-18 01:52] hitman1986 opened #1152 "Suggestion : expense option in ipad app"
I suggest adding an option expense on the iPad app to make it easier and faster

[2020-05-18 02:11] hitman1986 opened #1153 "Issue back again when export invoices"
When select manage invoices and search filters and select invoice status unpaid and press search and export it, not export anything and open new tab empty,why?
![ED61F996-52F6-476C-8523-9D7F0FB9D39F](https://user-images.githubusercontent.com/44485797/82167956-0f8bfb00-98c6-11ea-93f9-da0639460bf5.png)
![2C317FB5-06A7-461E-A8D4-BF396BBA7CD0](https://user-images.githubusercontent.com/44485797/8216795

[2020-05-18 05:25] Uzair-RepairDesk commented on #1122
@usmanalikhan93
Can you please check the response by Jessica. Thanks

[2020-05-18 05:41] usmanalikhan93 commented on #1153
Hi @hitman1986

Usman Ali here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

Thanks

[2020-05-18 06:25] Uzair-RepairDesk commented on #713
Its Live now

[2020-05-18 06:25] #713 closed

[2020-05-18 06:28] Uzair-RepairDesk commented on #1052
Hi @tinkertechguy
Hope you are staying safe

I am here with an update on this thread. We have added the functionality to merge customer profiles as you have requested for our customers module. Please review at your end and share any feedback if you have.

To learn more on how this functionality works, please have a walk through to our [KB Article.](https://help.repairdesk.co/knowledgebase/articles

[2020-05-18 06:28] #1052 closed

[2020-05-18 06:30] Uzair-RepairDesk commented on #840
Hi @BG-RLTech
Hope you are staying safe.

I am here with an update for you on this thread. We have added the merge customers functionality in RepairDesk as you have requested. Please give it a review and share any feedback if you have.

You can learn more about it from our [knowledgebase article](https://help.repairdesk.co/knowledgebase/articles/1945498-merge-customers-in-repairdesk).

Looking for

[2020-05-18 06:30] #840 closed

[2020-05-18 06:32] Uzair-RepairDesk commented on #526
Its Live now

[2020-05-18 06:32] #526 closed

[2020-05-18 06:35] usmanalikhan93 commented on #1122
Hi @JessicaSOS

I hope you are doing well. Can you please share your Website link here, so I can review the issue on it ?

[2020-05-18 06:36] Uzair-RepairDesk commented on #869
Hi @rajeshdungrani
Hope you are doing well

I am here with an update for you regarding custom fields functionality for our customers module. We have added this functionality for you and now you can create custom fields against customers. To learn more on how this works, please read our [knowledge base article.](https://help.repairdesk.co/knowledgebase/articles/1945435-custom-fields-against-custome

[2020-05-18 06:36] #869 closed

[2020-05-18 06:45] MuhammadAdnan32 commented on #1148
Hey @marianabut ,
I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.
Thanks!
Regards,
M Adnan

[2020-05-18 06:49] usmanalikhan93 commented on #1153
Hey @hitman1986

Thank you for bringing this to our attention! It looks like there's a bug that just popped up 🐛.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information! 😃

For internal use:
https://repairdesk.atlassian.net/browse/RB-1236

[2020-05-19 17:58] fahadimran303 commented on #1142
Nicholas having 4 Store Locations wants this improvement as well.

[2020-05-19 20:54] usmanalikhan93 commented on #1153
Hi @hitman1986

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2020-05-19 20:54] #1153 closed

[2020-05-19 20:55] #1148 closed

[2020-05-20 07:07] MuhammadAdnan32 commented on #1130
Hey @Omar1892 ,
I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.
Thanks!
Regards,
M Adnan

[2020-05-20 08:23] marianabut commented on #1148
Hi, yes, is working again!  Thank you!

[2020-05-20 08:51] marianabut opened #1154 "Appointment Calendar Widget - asking a quotation / price, not working"
Hi, on Appointment Calendar Widget, at the prices before was 0.00 price ( if I don't have a quotation for that operation), now is '' ask a quotation''...and if you click on it,  nothing is happening. It is ok?
![Screenshot 2020-05-20 at 11 04 05](https://user-images.githubusercontent.com/60131264/82426223-4150bd80-9a90-11ea-86dc-d1026d9191a9.png)
![Screenshot 2020-05-20 at 11 19 13](https://user-i

[2020-05-20 15:51] Omar1892 opened #1155 "Warranty Replacement"
Hello,

When ever a warranty claim is performed the remaining warranty should be transferred over to the new replacement device. In this case for Retail Phones. If a phone is sold with a warranty of 90 days and the costumer returns 60 days due to a manufacture issues, the remaining 30 days should be automatically transferred over to the replacement device instead of given the costumer a renewal of

[2020-05-20 15:58] Omar1892 commented on #1130
Its working but taxes are not being calculated right. To get the error Im getting what im doing is adding and removing services on the same "device issue box" as well as adding and removing parts. When you do this the taxes get distorted.

[2020-05-20 16:29] Uzair-RepairDesk commented on #344
Hi @screenfixing
Hope you are doing great
I am glad to inform you that we have added the option to set a specific tax class against a customer and customer group so that you can mark the customer as tax exampt. While adding a new customer from manage customers section or from POS, tax class field can be selected and that will be applied when an invoice is created against that customer.

Let me kno

[2020-05-20 16:29] #344 closed

[2020-05-20 16:34] Uzair-RepairDesk commented on #233
Hi @wirelessrepairzone
Hope you are doing great
I am glad to inform you that we have added the option to set a specific tax class against a customer and customer group so that you can mark the customer as tax exampt. While adding a new customer from manage customers section or from POS, tax class field can be selected and that will be applied when an invoice is created against that customer.

Let

[2020-05-20 16:34] #233 closed

[2020-05-21 05:47] MuhammadAdnan32 commented on #1130
Hey @Omar1892 ,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up 🐛.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks,
Regards,
M Adnan

[2020-05-21 06:23] usmanalikhan93 commented on #1154
Hi @marianabut

I hope you are doing well. This is the current behavior, if you have didn't set the price for repair e.g. it is 0.00, on Appointment Calendar widget it will show as "Call For Quote" against that repair.

Regards,
Usman Ali

[2020-05-21 06:44] usmanalikhan93 commented on #1129
@MuhammadAdnan32 can you please discuss this with Fahad Imran ? So he can guide Omar.

[2020-05-22 12:05] fahadimran303 commented on #1121
Another customer who recently Signed Up for Annual Plan is also reporting this. Can we have this fixed right after Eid?

[2020-05-22 12:19] Uzair-RepairDesk commented on #1150
Hi @hitman1986
Thank you for your suggestion. I believe it's a good idea to show an invoice reference with a ticket on the manage tickets section. We will discuss it it in-house to check the feasibility to add it. Thanks.

[2020-05-22 12:22] Uzair-RepairDesk commented on #1155
Hi @Omar1892
Thank you for your post and suggestion. In most of the cases, the warranty also resets if you replace the device. However, there is certainly a case when there is only the remaining warranty applies to the replacement. We will check the feasibility in the next coming quarters with respect to the current scope of the system if we can update this option based on a trigger. Thanks.

[2020-05-22 12:23] Uzair-RepairDesk commented on #1121
Let's discuss this when we meet after Eid @fahadimran303

[2020-05-23 09:16] iFoneRepair opened #1156 "SIDE Menu Interface Change"
My poor **UI design** of how the ultimate menu option should be for **DESKTOP** version as a repair shop owner.

![newandimproved](https://user-images.githubusercontent.com/62595033/82726808-649b8880-9c9b-11ea-8908-01635cdcad31.jpg)

:) Maybe one day this will come true!

[2020-05-24 18:16] Omar1892 opened #1157 "Warranty Ticket"
Hello,

Video was created and it was sent via email to

fahadimran85@gmail.com

[2020-05-24 21:23] Omar1892 opened #1158 "Store Credit"
I would like to point out something on the Store Credit. When doing a refund to add the refunded amount on to the costumer account their has to be a (-) sign added to the full amount for that amount to be applied to their account. My suggestion would be why not have the system do it automatically, since its going to be a refund. When doing a refund, theirs a lot of other things that are going on a

[2020-05-25 18:37] Omar1892 opened #1159 "Status of a part"
The system won't let us change the status on a damaged part after changing the status of one of the parts. When editing a ticket and trying to edit the status of the part from it being used to faulty or any other status it won't change.
![Screen Shot 2020-05-25 at 11 35 38 AM](https://user-images.githubusercontent.com/47898011/82836770-12fe2400-9e7c-11ea-8c75-87ac0d7f93e8.png)

[2020-05-25 18:38] #1159 closed

[2020-05-28 05:01] #1154 closed

[2020-05-28 05:01] #1145 closed

[2020-05-28 06:30] MuhammadAdnan32 commented on #1157
Hey @Omar1892 ,
Adnan here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Regards,

[2020-05-28 18:45] fahadimran303 opened #1160 "Improvement for Warranty Period for Repairs | Jose | iTech Connections - Lexington"
**Hi Sir,**

**Business Name / Store Name:**
Jose | iTech Connections - Lexington

**Customer Credentials:**

**Email:** westcolumbia@itechconnections.com
**Password:** repairdesk
Hi Sir,

Business Name / Store Name:Jose | iTech Connections - Lexington

Customer Credentials:

**Email:** westcolumbia@itechconnections.com
**Password:** repairdesk
**Access pin:** N/A

**Admin:**
Yes

**Store Name for

[2020-05-28 18:51] fahadimran303 commented on #1160
Jira link:
https://repairdesk.atlassian.net/browse/REP-2601

[2020-05-29 13:49] marianabut commented on #1125
ok, thank you!

[2020-05-29 13:56] marianabut commented on #1106
Any news?  There is in the plan for Android app ???

[2020-05-29 19:09] Omar1892 commented on #1130
If you guys can also check up on when applying a discount from the ticket edited the taxes are marked down to $0.00 in taxes.

[2020-05-30 04:16] MuhammadAdnan32 commented on #1130
Hey @Omar1892 ,
Adnan here Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Regards,

[2020-05-30 05:23] Uzair-RepairDesk commented on #1106
Hi @marianabut
Thank you for your follow up.
Currently, we are working from home because of a pandemic situation and our current focus is stability and introducing new features that are important for the app.
We don't have the plan to do it for the android app for now.
We have already logged your request and we can see the feasibility once our office is open. Thanks

Regards,
Uzair

[2020-05-30 05:26] Uzair-RepairDesk commented on #1158
Hi @Omar1892
Thank you for your suggestion. We will check the feasibility with the engineering team if it's possible to auto-populate the values in (-) sign while doing refund and adding the store credits.

[2020-06-01 00:01] marianabut opened #1161 "Let us to use SMS for EVERYBODY!"
Hi guys, I have more than two years since I use RD, and I still wait for a solution from you to use SMS for my business.
SMS notifications are something basic for any CRM these days.
SMS integration is available for SMS Broadcast, SMS Global, Clickatell, and Text Local.
SMS is available also for a monthly fee for some countries with a limited number of  SMS.

My questions are:
1. **why you did not

[2020-06-01 07:19] Uzair-RepairDesk commented on #1161
Hi @marianabut

Thank you for your suggestion. I will forward it to engineering and product team to check the feasibility of your request. However, we don't have a plan to do it for now. Thanks

Regards,
Uzair

[2020-06-01 11:35] marianabut commented on #1161
Thank you!  I wait since two years ago, I can wait another two years! :)

[2020-06-01 16:41] marianabut opened #1162 "Task Manger module"
Hi guys!
It will be great to have a task manager integrated.
When you have more than 2-3 employees/colleagues, some tasks are difficult to follow.

There are repetitive tasks, one time tasks, associated to one ticket or not.
Every task must have notification, reminders, etc.
Thank you!

[2020-06-01 18:39] hitman1986 opened #1163 "Mk"
Some

[2020-06-01 18:46] #1163 closed

[2020-06-01 18:52] hitman1986 commented on #1153
Same issue not fixed

[2020-06-02 04:51] usmanalikhan93 commented on #1153
Hi @hitman1986

I hope you are doing well. I have checked this and it is working fine. Can you please check this again ?

[2020-06-02 18:20] Omar1892 opened #1164 "Serial Number and Inventory Count"
Hello, 
The following issues having being going on for the past 1 year. I have spoken to different reps including fahad about the following issues and it seem that unless you guys can't replicated them they don't exist. I have taken video of just 1 inventory count out of the whole year to show you what inventory count is like in my store and to show you how many error in the inventory count happen

[2020-06-03 08:30] adigsm07 opened #1165 "Can't delete Manufacturers from the Inventory"
Hi, I talked with guys from support 1 month ago with a problem which persists. I can't delete any manufacturers form the inventory. Can you resolve this bug?
![rgasa](https://user-images.githubusercontent.com/65545272/83614168-821afd00-a58d-11ea-8ee8-f71d15881745.png)

[2020-06-03 09:42] usmanalikhan93 commented on #1165
Hi @adigsm07

I hope you are doing well. Can you share you RD Credentials with me at usmanali@repairdesk.co. And do let me know which Manufacturers you want delete.

Thanks

[2020-06-03 09:48] adigsm07 commented on #1165
I discuss allready with someone from support to delete some manufacurers which are flagged with DELETE in front of their name. I don't want to do this everytime when I have something to delete. It's not possible to resolve this?

[2020-06-03 10:00] usmanalikhan93 commented on #1165
@adigsm07 can you check at your end is there any device, inventory associated with this Manufacturer ?

[2020-06-03 13:42] gsmgps-star commented on #1124
hi...
it is any progress on this work?

br

[2020-06-03 22:35] Omar1892 commented on #1164
the issue still happening inventory isn't being display correctly. After doing the inventory count as shown in the videos from last week, we haven't received any new inventory and the inventory still coming up short. I have both serial number on hand, but it inventory says that I only have 1 item in stock.
![Screen Shot 2020-06-03 at 3 30 40 PM](https://user-images.githubusercontent.com/47898011/8

[2020-06-03 22:36] Omar1892 opened #1166 "SKU Pictures are not uploading"
When adding new inventory, the pictures are not being uploaded.
![Screen Shot 2020-06-03 at 3 30 53 PM](https://user-images.githubusercontent.com/47898011/83695903-f1a1e400-a5af-11ea-91ca-63a20a2e55ce.png)

[2020-06-04 04:09] MuhammadAdnan32 commented on #1166
Hey @Omar1892 ,
Adnan here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Regards,
M Adnan

[2020-06-04 04:38] MuhammadAdnan32 commented on #1166
Hey @Omar1892 ,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up .
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks & Regards,
M Adnan

[2020-06-04 04:39] MuhammadAdnan32 commented on #1166
For internal use:
https://repairdesk.atlassian.net/browse/RB-1332

[2020-06-04 06:05] MuhammadAdnan32 commented on #1166
Hey @Omar1892 ,
I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.
Thanks!
Regards,
M Adnan

[2020-06-04 08:08] #1166 closed

[2020-06-04 10:28] adigsm07 commented on #1165
Thank you very much Usman! I'm waiting for your resoults!

[2020-06-04 13:40] fahadimran303 opened #1167 "Repair Type Option in View/Edit Ticket | Rio | Consolidated Sound Services LLC"
**Hi Sir,**

**Business Name / Store Name:**
Rio | Consolidated Sound Services LLC

**Customer Stature:**
1 Store Location with Annual Plan.
She can leave us very good reviews as she is happy with the software.

**Module:**
Manage Tickets

**Improvement:**
The Customer came up with a request that when he create a ticket from a Lead in which Repair Type is enabled, Repair Type doesn't show up again

[2020-06-04 13:40] fahadimran303 commented on #1167
Internal Task Link:
https://repairdesk.atlassian.net/browse/REP-2611

[2020-06-04 14:01] jawad-Repairdesk commented on #1164
Hello @Omar1892 ,

We have a discussion with Fahad, he has a meeting with you tomorrow. We hope so we will track the root cause so that you will not face it next time.

Thanks for the patience and time.

[2020-06-04 14:51] Omar1892 commented on #1164
Hello,

We are really busy to the point that I can't take any calls at the moment. Like I have said, the issue can't be replicated and I don't know how it happens. I sent all the videos to show you guys how it happens so that you guys can try to find the root of the issue. If fahad calls me I don't see how that will change anything since I have already explain this issue multiple times in the past

[2020-06-04 16:22] tekkies2 opened #1168 "Suggest improvement add print node ticket label print option after check out"
suggesting to add print node ticket label option after transaction screen the print box come up to reprint ticket can we add print node also ticket labels, if customer comes in with laptop and charger I would like to have option to print extra ticket label for the charger.

[2020-06-04 21:03] Omar1892 commented on #1164
I have shared a new videos of other issues that are related to the issues that im experiencing. I sent the videos to Adnan Cheema

[2020-06-06 00:52] hitman1986 commented on #1153
It fixed , just i change browser from chrome to safari

[2020-06-06 00:55] hitman1986 commented on #831
تذكيري بالذمم المستحقة علي عند الدائنين

[2020-06-07 20:30] iRestoration opened #1169 "Logo Not Properly Uploading"
OS: Mac OS 10.11
Browser: Firefox, Safari

Issue: Image for logo is uploading as a broken image, despite being the proper format. I have had no issues uploading images in Safari or Firefox. I have attempted to upload in JPG and PNG formats. Minor issue, but slight inconvenience as my receipts will not have a logo for the time being.

[2020-06-08 04:44] jawad-Repairdesk commented on #1164
Alright, let me review it with Adnan and get back to you. Sorry for the inconvenience.

[2020-06-08 05:32] usmanalikhan93 commented on #1169
Hi @iRestoration

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2020-06-08 06:19] Uzair-RepairDesk commented on #831
Hey @hitman1986
Thank you for your follow up and suggestion. I have logged it in enhancement request so we can look into it in the future.

[2020-06-08 06:28] Uzair-RepairDesk commented on #1168
Hey @tekkies2

We have already an option to print labels from PrintNode once you checkout. You can also set number of labels you want to print.
You can learn more about setting up PrintNode from following knowledgebase article:-

https://help.repairdesk.co/knowledgebase/articles/1077811-how-can-i-use-printnode

Do let me know if you need further assistance. Thanks

[2020-06-08 08:01] usmanalikhan93 commented on #1069
@MuhammadAdnan32 what's the latest on this ?

[2020-06-08 10:36] jawad-Repairdesk commented on #1137
Hey @jeffsand8243 ,

Sorry for the late response. We have found a workaroud for it. Most of our customers are satisfied with the current workflow. Let me ask @Uzair-RepairDesk , how would he help us to make it as an improvement by adding the trigger for your defined case.

Thanks

[2020-06-08 12:01] MuhammadAdnan32 commented on #1069
Hello @Repair-Desk ,
I have checked your concern but unfortunately, I am unable to reproduce your issue. I have also attached a video and its working fine for me with a cost price of Zero(0.00). Kindly see the attached video.
https://drive.google.com/file/d/1lE86C8F_DJDvdYO0kYpvLXeH-bPjrJwF/view
If you have any questions or if there is anything else with which I may assist, please do not hesitate

[2020-06-09 02:37] Shane-RepairDesk opened #1170 "Enhancement-----RepairDesk Pay-Paying via Email"
Once client pays via email link,  Trigger to change status of ticket paid to RD user select-able status.

[2020-06-09 04:08] Uzair-RepairDesk commented on #1170
Hey @Shane-RepairDesk

Hope you are well. Can you please elaborate on your request? Do you mean that when client pays by email, system should change ticket status automatically?

[2020-06-09 13:31] Shane-RepairDesk commented on #1170
Yes correct,   Our structure is when something is finished we change status
to repair or Service call job completed,    If a client pays invoice via
email link would be nice if status flipped to repaired &
collected.......Thought it would be good idea to let rd user select final
status after payment  as i think people use different ones.

On Tue, Jun 9, 2020 at 12:09 AM Muhammad Uzair Shah <
notif

[2020-06-09 14:11] tekkies2 commented on #1168
i want to have option per ticket to print extra ticket labels

On Mon, Jun 8, 2020 at 1:28 AM Muhammad Uzair Shah <notifications@github.com>
wrote:

--

*Brian *

* Tekkies*  * Inc. *

972 S Bartlett Rd*|* Bartlett IL 60103

M 630-246-4441

*pcoak1@gmail.com <pcoak1@gmail.com> **|** www.tekks.net
<http://www.playntrade.com>*

[2020-06-09 16:22] Omar1892 commented on #1164
This error was just found yesterday.

![Screen Shot 2020-06-09 at 9 18 05 AM](https://user-images.githubusercontent.com/47898011/84173899-bfbad280-aa32-11ea-96a5-2c8763a6a611.png)

[2020-06-09 16:23] Omar1892 commented on #1164
This was just found yesterday.

![Screen Shot 2020-06-09 at 9 18 05 AM](https://user-images.githubusercontent.com/47898011/84174022-e842cc80-aa32-11ea-9a98-b1bfae2460eb.png)

[2020-06-10 14:39] fahadimran303 opened #1171 "Improvement for Trade-In | Kevin Lopez | Eagle Eye Repairs"
**Hi Sir,**

**Business Name | Store Name:**
Kevin Lopez | Eagle Eye Repairs

**Customer Stature:**
1 Store Location with Monthly Professional Plan.
High Presence on Social Media.
It can help us a lot in other verticals as well.

**Module:**
Trade-In

**Improvement:**

The customer had requested for improvement that every time he purchases an item through the Trade-In, there should an option avail

[2020-06-12 04:14] fahadimran303 opened #1173 "Improvement in Inventory Count | Sunny | Head office"
**Hi Sir,**

**Business Name / Store Name:**
Sunny | Head office

**Module:**
Inventory Count

**Improvement:**

The Customer came up with a request that when doing Inventory Count, Currently system shows the Counted Values exactly the same as of Expected Value

I proposed a solution that we can set a button/trigger which gives us the option to make all Counted to 0. I have explained this in the v

[2020-06-12 04:15] fahadimran303 commented on #1173
Internal Task Link:
https://repairdesk.atlassian.net/browse/REP-2623

[2020-06-12 21:09] Omar1892 commented on #1164
@usmanalikhan93 do you have any updates on the issue? or when it will be resolved by? The issue still continuing to happen.

[2020-06-13 06:03] usmanalikhan93 commented on #1164
@jawad-Repairdesk FYI

[2020-06-13 06:09] jawad-Repairdesk commented on #1164
Hello @Omar1892 ,

Sorry for the trouble, we have sorted out the issue and found the scenario how it was produced. Although the issue had been resolved but it is not possible for us to clear the data anomaly that had been produced. I will have to take a review of your inventory so that we could make it clear once for every possible scenario.
We hope after that you will not face this type of issue

[2020-06-13 18:29] Omar1892 commented on #1164
@jawad-Repairdesk Thank you! How long will this process take?

[2020-06-15 00:05] fahadimran303 opened #1174 "Option to add Customer Organization | Stacey Cossey | Powertools and Servicing Ltd"
**Hi Sir,**

**Business Name / Store Name:**
Stacey Cossey | Powertools and Servicing Ltd

**Customer Stature:**
1 Store Location with Annual Plan.

**Module:**
Manage Customer

**Improvement:**
The Customer came up with a request that he would like Customer Organization in various places in software.

I have highlighted them in the video below:

**Video:**
https://drive.google.com/file/d/1NmAglS_

[2020-06-15 00:07] fahadimran303 commented on #1174
Internal Task Link:
https://repairdesk.atlassian.net/browse/REP-2626

[2020-06-15 10:50] DOM260096 opened #1175 "Print Node doesnt Print Proper Invocie"
Hi this is difficult to explain but i feel there is an issue with the print invoice button using print node, if i manually print a A4 invoice it has no repair conditions and has a bar code showing the invoice number which fits on 1 a4 page nicely. if i select print invoice via print node it will print a similar document to the print service receipt button but the printout is stretched, has all the

[2020-06-15 10:53] DOM260096 opened #1176 "apple app printing to all printers via print node"
hi im using an ipad mini to book in jobs, when i use the browser print node work perfectly fine and the label prints fine also however when i i use the apple store app i get 2 thermal receipts 2 stickers and 2 till drawers eject all at once. if you need more information please call me on 07754584605 and i will try to show you via video or something,

[2020-06-16 10:10] Uzair-RepairDesk commented on #1176
Hi @DOM260096
Can you please specify your business name associated with RepairDesk so I will ask you account manager to get in touch with you on this?

[2020-06-16 10:43] Uzair-RepairDesk commented on #1119
Hey @fahadimran303
I hope you are doing well. We have made this feature live. now you can restrict customers from creating device issues on the go. we have added a trigger, once you enable the trigger customer will not be able to create the device issue.
attached is the screen for reference.
![FIXAPHONE_RepairDesk_Bookrepair_Config](https://user-images.githubusercontent.com/22955861/84764991-fb800

[2020-06-16 10:43] #1119 closed

[2020-06-16 10:47] Uzair-RepairDesk commented on #1142
Hey @fahadimran303
i hope you are doing well.we have this **Filter to Search on the basis of Repair Category** improvement live. now users can search on the basis of the repair category in the Manage services section.
![FIXAPHONERepairDesk_Inventory](https://user-images.githubusercontent.com/22955861/84765420-a1cc0f80-afe8-11ea-9ab5-b8a028217466.png)

[2020-06-16 10:47] #1142 closed

[2020-06-16 10:50] Uzair-RepairDesk commented on #1115
Hey @fahadimran303
I hope you are doing well. we have made this improvement live. now if the user searches with specific status the ticket will be shown despite that we have enabled the trigger of Hide Closed Tickets.

[2020-06-16 10:50] #1115 closed

[2020-06-16 15:41] DOM260096 commented on #1176
Hi its D&W Electronic Solutions Limited T.A Techni-Call

From: Muhammad Uzair Shah <notifications@github.com>
Sent: 16 June 2020 11:10
To: Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS <RepairDesk-BUGS-IMPROVEMENTS@noreply.github.com>
Cc: DOM260096 <info@techni-callsolutions.com>; Mention <mention@noreply.github.com>
Subject: Re: [Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS] apple app printing to al

[2020-06-16 17:16] Omar1892 opened #1177 "Unlocking Service Tickets"
Hello, Unlocking service tickets are not being closed once the ticket has being repaired and collected. We have to manually closed them our selfs from the tickets section.

[2020-06-17 06:51] usmanalikhan93 commented on #1177
Hi @Omar1892

I hope you are doing well. When you create a ticket and then open it up on POS again and made a full payment, you see on left it shows Repaired and Collected option. It it is yes, it does change the status to Repaired and Collected. I have verified on my end. Can you please check again ?

Thanks

[2020-06-18 05:05] cwrt opened #1178 "TICKET VIEW FIELDS OF PAYMENT STATUS"
is it possible to add a payment or total due column to this section with a pay now thats link back to the POS section? Currently you can only use the terminal from the POS section and thats a break in process flow from the ticket view,.

![Screen Shot 2020-06-18 at 12 00 38 AM](https://user-images.githubusercontent.com/67088924/84980249-2ad16c80-b0f7-11ea-8565-ef44e6b15f9e.png)

[2020-06-18 06:47] Uzair-RepairDesk commented on #1176
Thanks. I will ask your account manager to give a call to you.

[2020-06-18 16:02] marianabut opened #1179 "Save time scanning IMEI with barcode scanner?"
We have a barcode scanner on RD, to scan the ticket or the invoice, etc.

Why can we use for scanning the IMEI form phones?
![104352708_314999362847822_4381233544963344436_n](https://user-images.githubusercontent.com/60131264/85044291-155f4f80-b196-11ea-8547-27b9e426c7dd.jpg)
![Screenshot_20200618-121347_Service mode](https://user-images.githubusercontent.com/60131264/85044299-17291300-b196-11ea-9

[2020-06-19 01:25] fahadimran303 commented on #1176
I have asked Danish Hassan to connect with him today.

[2020-06-19 01:25] fahadimran303 commented on #1175
I have asked Danish Hassan to connect with him today.

[2020-06-19 06:32] gsmgps-star commented on #1124
hi...
it is any progress on this work?

br

[2020-06-19 23:08] RepairPros opened #1180 "Can't 'Update Ticket' on POS Web App"
We cannot update a ticket on the P.O.S web app, because there is no option. On the IOS app we can click the 'update ticket' icon and update it easily. On the web app it gives a red circle icon if you try to add anything that was not originally on the ticket. This causes us to either make an all-new ticket in a hurry, or look for the preexisting ticket and add the item, which takes a lot more time.

[2020-06-20 18:54] cwrt opened #1181 "Better slack information"
Compared to repairshopr the info being displayed coming repairdesk is very bad and pretty much give no useful information.the information inside of slack is very important for us. Can this be updated to show important data inside of slack?
I have attached screenshots of the difference.

![F360CBF1-1216-408A-B820-045646C5742A](https://user-images.githubusercontent.com/67088924/85209413-6047a700-b2f

[2020-06-20 18:55] cwrt commented on #1181
The information coming from repairdesk has nothing of value listed

[2020-06-21 00:13] hitman1986 opened #1182 "My employee cannot creat purchase order"
My employee cannot creat purchase order from low stock report just,
Although another employee in same role permission can creat it ,why?
I told Mr, Danish about this issue aweek ago.
![43B793B5-654F-44FE-B2C2-8165BFDD25C6](https://user-images.githubusercontent.com/44485797/85213928-71300100-b36d-11ea-87bb-0d315bda3aa1.png)

[2020-06-21 07:48] Uzair-RepairDesk commented on #1174
It has been assigned to developer and he is working on it already

[2020-06-21 12:34] BharatPRC opened #1183 "Add New Product in Popup Window Missing " Sync to WooCommerce " Trigger"
Hi !

If store has woo commerce integration enabled, it should show this trigger while adding a
![2020-06-21_2234](https://user-images.githubusercontent.com/34261339/85224692-67f77080-b40f-11ea-9e8e-a5972924a1cc.png)
new product in popup module.
At the moment, after creating the new product I have to go to Inventory and manually enable it one by one which is very time-consuming.
![2020-06-21_2235]

[2020-06-21 16:41] BharatPRC opened #1184 "No UniqueNess on SKU when do Clone"
Hi !
Some products are saved under separate Product ID but with same SKU code.
![2020-06-22_0240](https://user-images.githubusercontent.com/34261339/85230194-de0ccf00-b431-11ea-8658-6ec074e3ecf9.png)

I have noticed , it is happening when we use CLONE option to create new product.
SKU should change automatically when Uniquenss trigger is on.
![2020-06-22_0239](https://user-images.githubusercontent

[2020-06-21 19:23] Omar1892 commented on #1164
@jawad-Repairdesk Thank you! How long will this process take?

[2020-06-22 04:24] MuhammadAdnan32 commented on #1182
Hey @hitman1986 ,
Adnan here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Regards,

[2020-06-22 05:04] Uzair-RepairDesk commented on #1179
Hey @marianabut
Do you have the same IMEI record with the item in RepairDesk?

Waiting for your response

[2020-06-22 05:11] usmanalikhan93 commented on #1182
For internal use:
https://repairdesk.atlassian.net/browse/RB-1403

[2020-06-22 05:12] usmanalikhan93 commented on #1177
Hi again @Omar1892  - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2020-06-22 05:13] #1177 closed

[2020-06-22 05:20] Uzair-RepairDesk commented on #1180
Hey @RepairPros
Thank you for your post. The behavior of our iPad POS Register is different than a web app.
However, I have marked your request under enhancements so we can check the feasibility to add it in our future roadmap. Thanks.

[2020-06-22 06:04] geelongmicrosoldering commented on #1179
Hey there, I can answer this.

A standard laser barcode scanner doesn't have the hardware to "see" the barcode. They rely on the laser producing the light, and the reflection of that light translating into a barcode. The phones produce their own light, and this is why a barcode scanner like the LS2208 for example cannot see them.

If you have a more expensive barcode scanner, like a 2D barcode sca

[2020-06-22 06:48] Uzair-RepairDesk commented on #1179
Thanks for the explanation @geelongmicrosoldering.
I believe there will be no issue to scan any barcode and RepairDesk doesn't restrict any barcode scanner to scan the barcodes.
All you need to do that if you want to keep the same IMEI in SKU/UPC and scan it with a barcode, it should work.

Are you keeping the same log in item ID before you scan the IMEI from the box?

[2020-06-22 06:50] Uzair-RepairDesk commented on #1184
@usmanalikhan93
Can you please check and verify this?

[2020-06-22 07:55] Billsalih opened #1185 "RingCentral Integration doesn't work as expected, Suggestions"
We have just started using RingCentral Integration. It makes life much easier, but there's a few things that don't quite work as expected, and we have some suggestions that could make it great.

**1. The "View Ticket" button actually takes you to "Edit Ticket"**
*index.php?r=ticket/update* should be *index.php?r=ticket/view*
Even better would be an option in Settings to change this behaviour

**2.

[2020-06-22 08:26] jawad-Repairdesk commented on #1164
Hi @Omar1892 ,

I hope you had a discussion with Fahad, I had reviewed your inventory and unable to find the root cause because it has been updated already. and some of your reference inventory had already been deleted.

For now i think we should close it. But i have informed Fahad to keep in touch with you, if you face any issue in inventory please let us know so we can find out the reason. We ha

[2020-06-22 10:46] BharatPRC opened #1186 "Changing Product Category need reminder/match WooCommerce Category."
There is a very easy option in the Inventory Management to change the product's category.
![2020-06-22_2040](https://user-images.githubusercontent.com/34261339/85278859-df3d0b00-b4c8-11ea-9678-18a82b35500a.png)

But when we change the category from here, it doesn't change or even asks if the category needs to be changed for WooCommerce store for this particular product.

However, there should be a

[2020-06-22 10:56] Uzair-RepairDesk commented on #1186
Hey @BharatPRC
I believe when you change the category of an item, it updates automatically on woocommerce when it syncs the data.
Did you try it at your end?

[2020-06-22 12:25] marianabut commented on #1179
Yes, exactly!  When we make a new ticket on the IMEI field, no need to write manually, just scan with the bar code scanner. We can save time and mistakes.

[2020-06-22 13:02] BharatPRC commented on #1186
It doesn't change.

I changed categories of lots of produvts, then later on I check in woocommwece but still products we're in the old categories.
First I was thinking that changes made on products are not syncing with woo.
But later on I figure if, category is only changing in RD, I had to manually change each category manually.

I still believe you didn't understand what I am trying to say exact

[2020-06-22 16:15] Omar1892 commented on #1164
@jawad-Repairdesk I have had this issue for the past 1 year and for you not to find the issue is just not right. I can't not leave unfixed the inventory because the issues will end up buying more inventory or making mistakes on our inventory. I want to speak to a manager because I sent you like 10 videos and for you to tell me that you can't fix it its just a joke!!!

[2020-06-22 21:52] Shane-RepairDesk opened #1187 "Woo Enhancement"
make  New/Used Field to migrate and show from rd to woo

[2020-06-22 22:49] geelongmicrosoldering commented on #1179
I don't think @marianabut is suggesting there is an issue with RD restricting the scan. Just querying why the particular setup they have doesn't work. Unfortunately its hardware related

Perhaps recommended hardware article could be updated to note that typical Laser Barcode scanners (like LS2208) cannot scan LCD/LED screens, and if a user would like that ability to purchase a 2D/hybrid barcode sc

[2020-06-22 23:37] geelongmicrosoldering commented on #1186
By default, the product is updated based on the SKU. Unless you specify otherwise in WooCommerce integration settings, nothing will be changed beyond the price and quantity. For example, the photo is uploaded once, and assumed to be there from then on.

This behaviour is usually best, because uploading a bunch of images you already have is a waste of resources (both on your server, and RD's).

I a

[2020-06-23 04:54] jawad-Repairdesk commented on #1164
Hi @Omar1892 ,
I have tested it and found one issue that has already been resolved. After its resolution it will not produce with that scenario. That is why inform Fahad to contact you and to inform you that if you find the issue again please let us know the inventory. That inventory help us to find that particular case that has left (if any).

Please contact Fahad for the details. We had a long d

[2020-06-23 05:53] Omar1892 commented on #1164
Hello, don’t close it yet. I’ll close it when I see this issue not replicating in my inventory.

Sent from my iPhone

[2020-06-23 05:54] Omar1892 commented on #1164
It’s just a matter of days or hours for it to show again. It already did this morning, and fahad has seen it as well. So the issue is till there.

Sent from my iPhone

[2020-06-23 06:39] usmanalikhan93 commented on #1184
For internal use:
https://repairdesk.atlassian.net/browse/RB-1423

[2020-06-23 06:42] jawad-Repairdesk commented on #1164
Dear @Omar1892 ,
Issue has been resolved but if the inventory that had already been disturbed due to that could not correct automatically.

I have dropped a message to Fahad and will check either the issue is same with that particular inventory item or not and please share the inventory id or name so i can look into it for you.

Thanks

[2020-06-23 08:00] Uzair-RepairDesk commented on #1186
Thanks for the details @BharatPRC
However is it possible to record the video for this case so I can share it with my engineering team so they can look into it in detail? Thanks

[2020-06-23 08:26] Uzair-RepairDesk commented on #1187
Hi @Shane-RepairDesk
Can you please elaborate on this? I also sent it to Imran but we are both not able to understand this with your statement. :)

[2020-06-23 08:56] bockhauzen opened #1188 "API request"
https://help.repairdesk.co/knowledgebase/articles/1189105-public-api

Is there a way to add extra filters
https://api.repairdesk.co/api/web/v1/devices

**Type of device.**
Example: desktop, mobile or tablet

**Brand name of device**
Apple

After that I would like to get all possible reparations from that specific product.

**Example**
https://api.repairdesk.co/api/web/v1/devices/
To get all device

[2020-06-23 12:59] Uzair-RepairDesk commented on #1188
Hello @bockhauzen
Thank you for your post to request the enhancements in open API. I have already forwarded it to our engineering team to check the feasibility.
I will update you on the same GITHUB post when I find updates on your request. Thanks

[2020-06-23 13:53] bockhauzen commented on #1188
It seems that its possible;
https://www.barsttelefoonreparatie.com/reparatie/

[2020-06-23 13:58] Shane-RepairDesk commented on #1187
The field item condition (see attached) get pushed to the woo commerce site
for each item if the field is used....We are having to add new or used in
item description so people online can see if used or new.

On Tue, Jun 23, 2020 at 4:26 AM Muhammad Uzair Shah <
notifications@github.com> wrote:

--
Kind Regards,

Shane Moreland
502-385-0600 Ext 404

[2020-06-23 19:43] R2Repair opened #1189 "Can't Edit PO Template"

[2020-06-24 00:18] mathchouinard opened #1190 "IMEI verification digit"
Where there is an IMEI input, only allow 14 characters, and have a separate box that automatically updates on input that calculates the 15th digit for the IMEI. That way, the chance of mistakenly inputting the IMEI is close to null.
![Example](https://user-images.githubusercontent.com/59777705/85480697-71f3ad80-b58e-11ea-8798-b13e60bdcd52.png)
(Nevermind the little contacts icon on the screenshot,

[2020-06-24 00:33] mathchouinard opened #1191 "Better integration of serialized inventory"
While serializing inventory is a nice feature to have, the part that annoys me a little is when I choose the item during the ticket process. I have to click on the item, choose the serialized item in the list, and then continue.

An alternative and better process would be to be able to use that "Search part or scan barcode" to directly input the serialized barcode and immediately pass onto the nex

[2020-06-24 00:52] mathchouinard opened #1192 "Better translation support"
Right now, most but not everything the customer sees can be translated. For example, The warranty duration "no warranty", "days", "months", "years", "lifetime", to my knowledge (and I asked support) cannot be translated. While most of the bill is in French, that part is in English, and I have found no section in the translation module to translate that part, or a setting to edit those settings.

A

[2020-06-24 00:58] mathchouinard opened #1193 "POS custom reordering"
Allow for the different categories, manufactuers, devices, problems, and parts to be reorganized in a non-alphabetical order, depending on user preference.

For example, I'd like Apple to be at the top of the list of manufacturers, but right now, it is Alcatel. Allowing for an "unlock" of the order to be able to drag and drop the different tabs and then "lock" them in place as to not mistakenly mo

[2020-06-24 01:22] mathchouinard opened #1194 "Filter parts for ticket by repair"
Hi, as I'm guessing most people have a ton of different parts for certain models, iPhones for example. It would be nice to add a filter where when you select a repair and go to the part selection screen, only parts filtered as possibly needed for the repair appear.

If for whatever reason, a part is needed that is not in the list, it could then be searched for using the search bar, or added to the

[2020-06-24 06:17] Uzair-RepairDesk commented on #1190
Hey @mathchouinard
Thank you for your post. There are usually 15 digits IMEI input we have set the limit of 15.
You can put one less digit in the case of 14 digits. The extensions seem great as well.

We have the plan to introduce the IMEI check tool in RepairDesk to verify the IMEI of devices. That will be super helpful for you in this case. I am logging your request under enhancements for the sa

[2020-06-24 06:29] Uzair-RepairDesk commented on #1191
@usmanalikhan93
Can you please check the scan option of the barcode for the serialized item on the ticket page to populate the part?

[2020-06-24 06:34] Uzair-RepairDesk commented on #1193
Hey @mathchouinard

We already got this request from other customers as well and it's already in a plan to add in RepairDesk so all the categories, manufacturers, devices, problems should come up with the order you select.
Currently, the customers who want to see data according to their required order, they put it with alphabetical order by themselves e.g. if you want to display the "Screen Replac

[2020-06-24 06:39] Uzair-RepairDesk commented on #1194
Hello @mathchouinard

We recommend to auto bundle the parts with the repair service. We have option available to bundle the parts with the repair service so the part will be auto-selected and you don't need to select it.

![Untitled](https://user-images.githubusercontent.com/22955861/85509370-5086d600-b60f-11ea-937b-d47b15ccd187.png)

Please check following knowledgebase article for your understan

[2020-06-24 06:40] Uzair-RepairDesk commented on #1192
@usmanalikhan93
Can you please check if we have labels available that @mathchouinard has highlighted above?

[2020-06-24 10:15] usmanalikhan93 commented on #1191
@Uzair-RepairDesk
Yes currently we don't have the option to scan serialized item on selecting part while creating a ticket.

[2020-06-24 10:27] usmanalikhan93 commented on #1191
For internal task:
https://repairdesk.atlassian.net/browse/REP-2646

@Uzair-RepairDesk  FYI

[2020-06-24 11:33] usmanalikhan93 commented on #1165
For internal use:
https://repairdesk.atlassian.net/browse/RB-1432

[2020-06-25 08:07] hitman1986 commented on #759
Good idea

[2020-06-25 12:07] adigsm07 opened #1195 "Tickets who disapper from my platform"
Hi guys, this week I found a new bug on repairdesk. Actually I didn't find an ticket. I searching on logs, I see the the people who comments on this but If I want to search on platform it didn't find, has gone.

![ggg](https://user-images.githubusercontent.com/65545272/85716666-61117c00-b6f5-11ea-9c9c-97628b97207a.png)
![fsafa](https://user-images.githubusercontent.com/65545272/85716797-7c7c8700-b

[2020-06-25 13:04] usmanalikhan93 commented on #1184
Hi @BharatPRC

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2020-06-25 13:05] usmanalikhan93 commented on #1182
Hi @hitman1986

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2020-06-25 13:09] usmanalikhan93 commented on #1165
Hi @adigsm07

I hope you are doing well. We have released on fix for this issue. Can you please try now to delete this Manufacturer ? And do let me know if it deletes or not.

Thanks
Usman Ali

[2020-06-25 13:56] adigsm07 commented on #1165
Hi Usman,
I'm doing well, thanks for asking. I tried now to delete manufacturers but
I received same error message.

Kind regards!
~Addis.

On Thu, 25 Jun 2020 at 16:09, Usman Ali Khan <notifications@github.com>
wrote:

[2020-06-25 20:10] R2Repair opened #1196 "Manage Tickets Dashboard View Consolidation"
Hi,

Just reporting an Item that our team thinks if implemented will make it easier to track open repair tickets for technicians.

Items in the Manage Tickets view should be consolidated to 1 line instead of being able to see all the parts of a repair ticket in the main Manage Repairs screen

Currently, all the repair orders in Manage tickets are scattered which means they cover most of the screen

[2020-06-26 02:01] BharatPRC commented on #1184
Not fixed yet.
Now it is just showing that sku is same , but it doesn't generate a new one automatially

[2020-06-26 05:24] usmanalikhan93 commented on #1184
Hi @BharatPRC

I hope you are doing well. When you clone item it replicated all the information from it. You just need to clear the SKU field and save it. It will generate new Unique SKU for that clone item. Please check at your end.

Thanks
Usman Ali

[2020-06-26 09:51] usmanalikhan93 commented on #1165
Hi @adigsm07

Can you send me your RD Credentials on usmanali@repairdesk.co

[2020-06-26 09:56] adigsm07 commented on #1165
adi.gsmzone@gmail.com
pw: accesadi8899

On Fri, 26 Jun 2020 at 12:51, Usman Ali Khan <notifications@github.com>
wrote:

[2020-06-26 09:59] Uzair-RepairDesk commented on #1165
@adigsm07
We have noted down your credentials and I have removed your comment because of the privacy policy. It's an open and public forum.

[2020-06-26 10:19] usmanalikhan93 commented on #1165
Hey @adigsm07 I have checked in your account and didn't find Archoss and Archosss. Can you please check again ?

[2020-06-26 11:50] MuhammadAdnan32 commented on #1192
@Uzair-RepairDesk  @usmanalikhan93 FYI,
1-The warranty duration label for "no warranty", "days", "months", "years" are available but don't work and label for lifetime warranty are not available.
2-Also, while it is possible to add new item conditions, it is not possible to edit the default ones. The default one is in English, and again, cannot be translated. It would be nice to either be able to t

[2020-06-26 12:25] #1182 closed

[2020-06-26 14:25] hitman1986 commented on #1182
It fixed , thank you.

[2020-06-27 01:20] BharatPRC commented on #1184
Yes , its working that way.
thanks

[2020-06-27 09:25] marianabut opened #1197 "Tickets are disappearing!"
Hi guys, this bug is back again.
https://www.youtube.com/watch?v=lpKREo72Szk&feature=youtu.be

[2020-06-28 22:52] fahadimran303 opened #1198 "Improvements in Repair Section | Corey Andreoni | TME"
**Hi Sir,**

**Business Name | Store Name:**
Corey Andreoni | TME

**Module:**
Manage Services

**Improvement:**
Customer has requested for an improvements in Manage Services Section:

Option to Clone Problem against Multiple Devices

**Video:**
https://drive.google.com/file/d/1BJ3FFPYY4GZW8g7vh0yeu_avS1qqgc5W/view

**Source:**
Intercomm

**Thanks and Regards,**
Fahad Imran

[2020-06-28 22:53] fahadimran303 commented on #1198
Internal Task Link:
https://repairdesk.atlassian.net/browse/REP-2655

[2020-06-28 23:29] fahadimran303 commented on #1173
Another customer with 2 Stores on Annual Plan also reported the same problem.

Can we prioritize this and push an update soon?

[2020-06-28 23:30] fahadimran303 commented on #1173
Andrew Mourer | YCD Ionia

[2020-06-29 01:22] hitman1986 opened #1199 "New suggestion"
I need a page on your site that contains a complete and detailed report on one page that facilitates access to a full report for all stores that includes the sales report, profits, and cash in out, expenses and money in the cash of all sales employees, refunds and account Receivables  on customers and the remaining tickets and assigned to each employee all this in One page, including the ability t

[2020-06-29 04:47] #1184 closed

[2020-06-29 11:01] usmanalikhan93 commented on #1197
Hi @marianabut

I hope you are doing well. We have recovered this ticket 13489. Please verify at your end and do let us know if you have any question.

Thanks
Usman Ali

[2020-06-29 11:02] usmanalikhan93 commented on #1195
Hi @adigsm07

I hope you are doing well. We have recovered this ticket 13445. Please verify at your end and do let us know if you have any question.

Thanks
Usman Ali

[2020-06-29 11:13] marianabut commented on #1197
Ok, I confirm, is recovered. Thank you!

[2020-06-29 11:41] #1197 closed

[2020-06-29 23:22] orvarb opened #1200 "Improvement in the customised field - e.g. search option"
Our workshop handles repairs for walk-in customers as well as wholesale customers (for example when a customer purchases a phone from his / her phone company and the phone needs repair, the customer brings the phone to his / her phone company. The phone company then brings the phone to our workshop). Repairs that come through wholesale customers have a specific ticket number from THEIR system and

[2020-06-29 23:42] orvarb opened #1201 "Database of serial numbers for warranty purposes (not serialized inventory)."
Hi!

Our company has stores which sell all kinds of consumer electronics (phones, vacuums, scooters, etc.). Each and every product that is sold has a unique serial number (S/N) and for every order this serial number is kept. If you are wondering why this is done, it's because of the warranty. The same products we sell can be purchased elsewhere but those products are not in warranty from our store

[2020-06-30 04:35] arturodel opened #1202 "integration with parcel service"
If a client wants to send some device to repair, and does not live in the same city, it would be great to do the integration with a package such as UPS, Fedex, DHL, etc., so that the client, without leaving his house, just print the guide and ask for collection or Take the package to an office, and on our side that the notification arrives, as well as the tracking of the route of the package to th

[2020-06-30 08:31] usmanalikhan93 commented on #1165
Hi again @adigsm07 - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Regards,
Usman Ali

[2020-06-30 08:31] #1165 closed

[2020-06-30 08:31] usmanalikhan93 commented on #1195
Hi again @adigsm07 - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Regards,
Usman Ali

[2020-06-30 08:31] #1195 closed

[2020-06-30 08:37] adigsm07 commented on #1195
Hi Usman! Yes, the ticket is now available. Can you tell me if I make something wrong? What happened exactly with this ticket?

[2020-06-30 08:41] usmanalikhan93 commented on #1195
Hi @adigsm07

Can't say exactly but may be it didn't save right or may be a glitch. However just do notice if you face the same issue again and just do let me know the steps that what did you update or did to ticket.

[2020-06-30 11:17] Uzair-RepairDesk commented on #1201
Hi @orvarb
You can easily manage this from our serialized inventory and warranty claim module where you can search product item from a serial number and process it under the warranty claim.

Can you please let me know what challenges you are facing with our serialized inventory module and did you use our warranty claim module?

Looking forward to hearing from you.

[2020-06-30 11:31] Uzair-RepairDesk commented on #1199
Hi @hitman1986

You can track most of the information from the dashboard. We are also going to work on "Cash Basis" accounting and 'Profit and loss report" that will allow you to track most of the information across all stores.

Please check the design attached.
Please let me know if something like this will work for you?
![multistore report](https://user-images.githubusercontent.com/22955861/8612

[2020-07-01 13:27] usmanalikhan93 commented on #1123
Hi @homesick4de

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2020-07-01 13:27] #1123 closed

[2020-07-01 21:34] DOM260096 commented on #1176
hi nobody has called ref this

[2020-07-01 21:36] DOM260096 commented on #1175
nobody has called ref this.

[2020-07-01 21:38] DOM260096 opened #1203 "ticket status"
hi having used this software for about 1 months fully we have noticed ticket status changing them selves, especially to repaired and collected or cancelled, we are a small shop so its easy to ask if anybody changed the status we notice quite a lot. I wonder if anybody else sees this issue.?

[2020-07-01 21:40] DOM260096 opened #1204 "print node and reconcillation reports"
hi i have two till drawers and two thermal printers that all work independently until we close the till sessionsat the endof the day and print the reconciliation report automatically with print node. both printers print and both drawers eject, this happens on either till.

[2020-07-02 06:15] Uzair-RepairDesk commented on #1175
@fahadimran303 can you please update the thread or @usmanalikhan93 Can you please follow up with Danish on this?

[2020-07-02 08:02] usmanalikhan93 commented on #1175
@Uzair-RepairDesk I have asked Danish Hassan again to check this issue with customer.

[2020-07-02 08:54] mobilemastersuk opened #1205 "Loyalty Changes to show as discount rather than "tender""
HI,

So we are new to RepairDesk and running Enterprise, the Loyalty scheme is something we have wanted to push for a while.

Its set up, so when someone joins they earn £5, and then £0.05 per £1 after.  We may adjust this moving forwards.   Customers who sign up cannot use loyalty on their first purchase.

Yesterday we had a customer come in who wanted a phone repair, they signed up for Loyalty a

[2020-07-03 04:55] usmanalikhan93 commented on #1203
Hi @DOM260096

I hope you are doing well. I have asked Danish Hassan who is our customer support guy to contact you and note down your queries.

[2020-07-03 04:55] usmanalikhan93 commented on #1204
Hi @DOM260096

I hope you are doing well. I have asked Danish Hassan who is our customer support guy to contact you and note down your queries.

[2020-07-05 01:10] hitman1986 commented on #1199
Its very good, But you can add a report of how much cash is left in the cash of each of the sales staff,
Make us access to the details of these reports by clicking on them through this page above;  Example expenses details and ...

[2020-07-05 18:42] Uzair-RepairDesk commented on #1205
Hi @mobilemastersuk
Thanks for sharing your concern.
I will be happy to help you on it.

Please just reconfirm did you mean to exclude the loyalty value from total sales value?

[2020-07-05 19:32] mobilemastersuk commented on #1205
Yes.

Example

We don’t see it as currency, if it’s loyalty reward. They can redeem against sales but shouldn’t show in financial report, or if it does should be a discounted

If we have

£100 cash
£350 card
£18 loyalty

End of the day report shows £468 and we should have received these values, but in reality we only received £450

Regards
John Weston
Mobile Masters Limited

Sent from my iPhone

[2020-07-06 04:58] Uzair-RepairDesk commented on #1199
Hey @hitman1986
Do you mean the closing balance of the cash? It will be appreciated if you can elaborate on this.

[2020-07-07 14:43] R2Repair commented on #1196
Hi,

Is there any update on this?

[2020-07-07 14:58] R2Repair opened #1206 "Inventory items adding Process delays - Issue"
Hi,

Reporting an Issue, that when adding any Inventory item for a Repair part in a repair Ticket is taking a lot of time to process, sometimes from 2 to 5 minutes just to update one inventory item (Repair ticket Item). The issue has been noticed mostly when there are more than 6 to 7 parts in a Repair ticket. Also for bigger repair Tickets, sometimes it takes a lot of time to open and Edit Ticket

[2020-07-07 16:08] hitman1986 commented on #1199
Yes

[2020-07-07 17:15] Omar1892 opened #1207 "Ticket Status"
Hello, we're having issues with the ticket status on Unlocking service. They won't marked them self as repaired and collected once we have received the payment.

Please check tickets T-1063 and T-1009. We had other tickets with the same issue but they were marked manually as repaired and collected. Ive left this two tickets unchanged so that you can see the issue.

[2020-07-07 17:18] Omar1892 commented on #1130
@MuhammadAdnan32 Hello, it seemed that the issue had being fixed until yesterday. We had created a ticket with no parts and once the parts were placed in the ticket. The taxes were being calculated on the total repair cost. I had to calculate them manually.

[2020-07-07 17:51] R2Repair opened #1208 "Ability to print Packing Slip Document"
Hi,

When shipping the parts back to the Customers, we need to have the ability to print a document to send to the customer along with the shipping label **which lists all the devices received in a repair order without showing the repair pricing**  (Commonly known as Packing Slip). This document should be editable so the customer's reference or Purchase Order# can be added to the document.

Please

[2020-07-07 19:47] R2Repair commented on #1189
Hi,

Do you have any update on this?

[2020-07-08 04:18] MuhammadAdnan32 commented on #1206
Hey @R2Repair,
Adnan here Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Regards
M Adnan

[2020-07-08 04:18] MuhammadAdnan32 commented on #1207
Hey @Omar1892 ,
Adnan here Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Regards
M Adnan

[2020-07-08 04:57] MuhammadAdnan32 commented on #1207
Hey @Omar1892 ,
Could you please share your updated Repiardesk account credentials in PM at adnan@repairdesk.co?
Thanks & Regards,
M Adnan

[2020-07-08 04:59] simonchunk opened #1209 "Customer Portal, Remove Default Store"
The Customer portal screen asks for 'Default Store' OR 'Select Store'

This is counter-intuitive and suggests the customer should use the default regardless of their location or proximity to their local store.

Ideally the customer should just choose a store.
![aa1](https://user-images.githubusercontent.com/652173/86878097-8fe31580-c12b-11ea-85d5-e1904ee1f752.jpg)

[2020-07-08 05:51] MuhammadAdnan32 commented on #1206
Hello @R2Repair ,
I have checked your concern but unfortunately, I am unable to reproduce your issue. Would be great if you can share a video of this issue so we can release a fix during our next release. You can put together a video using Screencastify.
If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.
Regard,
M Adnan

[2020-07-08 15:43] R2Repair commented on #1206
Hi Adnan,

Please find the requested video attached.

It took about 8 minutes 40 seconds to add 2 inventory parts starting from
Manage tickets to adding the 2 items in edit ticket. Also, it takes as much
time in deleting the Inventory item as well.

Please let me know if you require more information.

 Adding Inventory part- delay.mp4
<https://drive.google.com/file/d/1EfaTyA0d6OHSfsGgUf_Ys4V9HtmQD

[2020-07-08 15:44] R2Repair commented on #1206
Hi Adnan,

I have emailed you the video, It took about 8 minutes 40 seconds to add 2 inventory parts starting from Manage tickets to adding the 2 items in edit ticket. Also, it takes as much time in deleting the Inventory item as well.

Please let me know if you require more information.

Thank you,

R2 Repair Team

[2020-07-09 05:25] MuhammadAdnan32 commented on #1206
Hey @R2Repair,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks & Regards,
M Adnan

[2020-07-09 05:28] MuhammadAdnan32 commented on #1206
For internal use:
https://repairdesk.atlassian.net/browse/RB-1487

[2020-07-09 21:11] R2Repair commented on #1206
Thank you Adnan, Let us know if there is any progress on that.

[2020-07-10 03:12] iFoneRepair opened #1210 "Customer Self Check-In Widget- Improvment/Bugs"
1. Need customer phone number field to automatically include  "+1 "
2. Need entry fields to shown in 2 columns in order to fit everything including terms & conditions and signature field in one screen.
3. Improve bug with signature pad not responding and in scroll mode.
4. Enable custom entry filed or selection menu.

[2020-07-10 06:25] Uzair-RepairDesk commented on #1210
Hi @iFoneRepair
Are you using our "Self Check-in widget" or "Self-check-in" with a customer-facing display?

[2020-07-10 06:44] iFoneRepair commented on #1210
Using "Self Check-in widget" via iFramecode on company website.

Device: iPad Air

[2020-07-10 06:58] Uzair-RepairDesk commented on #1210
Hi @iFoneRepair
Thank you for the confirmation. We will not be able to make improvements in this specific widget as we recommend our customers to use self-check-in with customer-facing display widget that is easier to use and also allow you to take in-take signatures from the customer as well.

However, we will check the issues for you.

@usmanalikhan93 can you please review? Thanks

[2020-07-13 05:27] usmanalikhan93 commented on #1210
Hi @iFoneRepair

I hope you are doing well. Can you please share your self check in widget link ?

[2020-07-13 05:29] iFoneRepair commented on #1210
Hi Usman, thanks for asking.
Here is the link:

https://www.ifonerepairservice.com/self-checkin/

On Sun, Jul 12, 2020 at 10:27 PM Usman Ali Khan <notifications@github.com>
wrote:

--

<http://www.ifonerepairservice.com/>
iFone Repair Service
iPhone & iPad Repair Services
[image: T]  (818)639-3009  <(818)639-3009>  [image: M]
info@ifonerepairservice.com
  225 E Broadway Ste 102D Glendale, CA 91205

[2020-07-13 06:45] usmanalikhan93 commented on #1206
Hi @R2Repair

I hope you are doing well. Yes we have assigned this to developer. He said we need to optimize the code for this section. @MuhammadAdnan32 will update you once it will be done. Do let me know if you have any questions.

Thanks
Usman Ali

[2020-07-13 08:16] #1147 closed

[2020-07-13 11:42] #1179 closed

[2020-07-13 11:45] usmanalikhan93 commented on #1207
Hi again @Omar1892 - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2020-07-13 11:45] #1207 closed

[2020-07-13 13:34] Uzair-RepairDesk commented on #1192
@MuhammadAdnan32
Can you ask Hamza Mahmood to review this?

[2020-07-13 17:50] Omar1892 opened #1211 "Tickets Not Closing"
Hello,

I had brought up an issue regarding the tickets not closing. And it was closed? The issue still the same. When ever we check check out for a Unlocking service the ticket remains open altho its already repaired and collected.

The following tickets have invoices and have already paid for but haven't being automatically closed. T-1118 / T-1114 / T-1110 / T-1095 / T-1063 / T-1009

[2020-07-13 22:31] Omar1892 opened #1212 "Warranty Claims and No Warranty"
Hello,

we've being having the following issues. On the following ticket it shows that the costumer doesn't have any warranty altho we offer a Limited Life Time Warranty and on the second ticket it won't give us the option to due a warranty claim. This happens randomly.

Ticket with not warranty: T937

Ticket No option for a warranty claim: T-1028
![Screen Shot 2020-07-13 at 3 23 27 PM](https://us

[2020-07-14 04:32] MuhammadAdnan32 commented on #1212
Hey @Omar1892 ,
Adnan here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2020-07-14 04:34] MuhammadAdnan32 commented on #1211
Hi @Omar1892 ,
Can you please share your updated credentials in PM on adnan@repairdesk.co?
Thanks & Regards,
M Adnan

[2020-07-15 06:51] usmanalikhan93 commented on #1210
Hi @iFoneRepair

I hope you are doing well. I have checked your concern related to scroll and signature on Device "iPad Air" and it's working fine. Please check the attached video. An do let me know if you have any question.

https://drive.google.com/file/d/1XCI13HrAN6uI0VSLtjRxUWu-g5Yf5krz/view?usp=sharing

Thanks
Usman Ali

[2020-07-15 10:57] alexgricgroup opened #1213 "We need the ticket items statuses to be manageable"
In any ticket when you add an item there is a status (for example used, faulty, broken, etc.). We need these statuses to be manageable, so we can report for any kind of broken (by the technician for example) or faulty (DOA for example) item at any time.

[2020-07-15 17:05] Omar1892 commented on #1211
@MuhammadAdnan32  They have being sent via email

[2020-07-15 18:38] Repair-Desk opened #1214 "Improvements in Gift Card"
At present, it says 36 months. Is it possible to display the actual date?

![Expiry](https://user-images.githubusercontent.com/21986026/87582729-4464d480-c6f4-11ea-9a9c-75ff760f12a8.png)

[2020-07-15 18:40] Repair-Desk opened #1215 "Improvements In Loyalty Module"
Margins on bill payments are very slim. Is there a way to exclude bill payments from loyalty

or

Set a different loyalty amount for bill payments?

[2020-07-15 18:46] Repair-Desk opened #1216 "RepairDesk Recurring Billing Improvements"
**Email Notification:** At present, successful and failed payment notification can be sent to admin. It would be great if there was a way to select which employee shall receive email notifications.

**Reference:** RepairDesk SMS Alert Settings

**Subscription Period:**
While creating a subscription it would be great if we can also specify the subscription end date
- 1 month,
- 6 months
- 1 year,
-

[2020-07-16 04:05] MuhammadAdnan32 commented on #1211
Hi @Omar1892 ,
Received and thank you for sharing.

[2020-07-16 06:18] Uzair-RepairDesk commented on #1214
Noted and forwarded to Yusra to check this. @Repair-Desk

[2020-07-16 06:20] Uzair-RepairDesk commented on #1216
We can accumulate all the feedback once we go live and make improvements in phase II

[2020-07-16 06:26] Uzair-RepairDesk commented on #1215
@Repair-Desk
We have an option to set "Custom" loyalty for each bill payment plan. However, I just checked that it's not working. I have asked team to check this.
![image](https://user-images.githubusercontent.com/22955861/87634685-34321100-c757-11ea-8633-2e68d3572683.png)

[2020-07-16 06:31] Uzair-RepairDesk commented on #1213
Hi @alexgricgroup

Currently, the ticket item status are based on a specific action.
When you mark the item "Faulty" or you do a warranty claim, the specific part goes to our "Damaged Part Report" that allows you to track all the faulty parts.
Did you check it? Please let me know if it works for you. Thanks

[2020-07-16 06:32] Uzair-RepairDesk commented on #1212
What's the update on this @MuhammadAdnan32 @usmanalikhan93 ?

[2020-07-16 07:14] alexgricgroup commented on #1213
We did check that out, but we also need to be able to separate witch items are faulty and need an RMA to our supplier, and witch items are being broken in our service due to our technicians' mistakes. For example some items/parts are marked as faulty, that shows in the damaged parts report, and some are being marked as broken, in witch case they don't show up anywhere.

[2020-07-16 07:35] Uzair-RepairDesk commented on #1213
You can certainly do that @alexgricgroup

You can always just mark the part as faulty on the edit ticket screen and from damage part report, you can see that what specific parts need to send in RMA or you can mark it as breakage. You can also filter and search part with status like "IN RMA, FAULTY or BREAKAGE" from the same report.

Please check the screenshots attached. I hope it helps. Please le

[2020-07-16 07:40] alexgricgroup commented on #1213
The problem here is that the technicians are not able to view or edit the damaged part report, and we don't want them to. So anything that is to be done must be doable in the repair ticket environment.

[2020-07-16 10:19] MuhammadAdnan32 commented on #1212
@Uzair-RepairDesk I am waiting for customer credentials and today I have received. I will update this task soon.

[2020-07-16 11:15] Uzair-RepairDesk commented on #1117
Hey @fahadimran303
Hope You are doing well,  the above mention improvement is now live. you can view due amount upon edit from manage tickets section and from the POS section as well.
attached is the reference screen from POS.
![FIXAPHONE_POS](https://user-images.githubusercontent.com/22955861/87664902-78390c00-c77f-11ea-9927-b33a76a87fe5.png)

[2020-07-16 11:15] #1117 closed

[2020-07-16 11:22] Uzair-RepairDesk commented on #1114
@fahadimran303
Hope you are doing well,  it is to inform you that we have made this (Update Cost Price while updating the Inventory)improvement live,  Based on the trigger in the setting part user can now update the cost price for those items which have increase in stock.
![FIXAPHONE_RepairDesk_InventoryCount_Config](https://user-images.githubusercontent.com/22955861/87665454-64da7080-c780-11ea-8a

[2020-07-16 11:22] #1114 closed

[2020-07-16 11:27] Uzair-RepairDesk commented on #1173
Hey @fahadimran303
Hope you are doing well, we have made this improvement live, based on the trigger in inventory count section counted value will be zero by default.  and once you disable the trigger counted value will be the same as expected.
![image](https://user-images.githubusercontent.com/22955861/87665934-2e512580-c781-11ea-8d12-7cebfc51728c.png)

[2020-07-16 11:27] #1173 closed

[2020-07-16 13:06] BharatPRC opened #1217 "Need Product Filter which are Synced to WooCommerce"
I have about 13000 products in my inventory.
If I want to see which products are synced to my woocommerce platform, there is no filter for it.
Can you guys add toggle if we want to see products which are synced and not synced.

thanks.

[2020-07-16 13:12] BharatPRC opened #1218 "Need Easy Way To add New Item"
0.

[2020-07-16 13:13] #1218 closed

[2020-07-16 13:20] BharatPRC opened #1219 "Need Easy Way to Add New Item in Inventory"
It's taking lot of time to add new product everyday.

In our mobile phone repair industry, we always have the same products, Just model number get changed. For Example ;

OtterBox
Murcury Flip Case
Lifeproofe Case
Screen Assembly
Back Camera
Frotn Camera ,,,,, and so on.

Currtnely, to add new product we have to type all this information.

Why not we just pre-add all these products ( mentioned abo

[2020-07-16 13:46] BharatPRC commented on #1186
http://sc.com.ly/show/RVymbhBSZjMlw2LaOGF1YpcNi0X34PC6

[2020-07-16 14:02] BharatPRC opened #1220 "Woocommerce is syncing same image over and over"
Woocommerce is syncing same image over and over and filling up the media files on website.
On any product update and information edit, same image got synced to woocommerce.

can we stop this if possible ?

Please have a look at the video.

http://sc.com.ly/show/RDqQEJ9Wt0g1i6dMvlPfxn3KsFYcrV5o

[2020-07-17 04:18] BharatPRC opened #1221 "Customer Invoice and Ticket Data is GONE ?"

[2020-07-17 04:25] BharatPRC commented on #1221
http://sc.com.ly/show/UNxeEazwGpD6ok4PVOhJ1F8yTsfSmcgd

[2020-07-17 05:16] usmanalikhan93 commented on #1220
Hi @BharatPRC

I hope you are doing well. I have noted down your concern. I will discuss this with developer on Monday and update you on this,

[2020-07-17 05:17] usmanalikhan93 commented on #1221
For internal use:
https://repairdesk.atlassian.net/browse/RB-1531

[2020-07-17 06:02] BharatPRC opened #1222 "Option to add more than one image for a product"
Hi!
Just wondering if it's possible to add multiple images for one product.
I know that for Repair Desk we only need one image, which is enough. but when we sync products to woocommerce, it would be better to have multiple images there.
So there should be an option to make one picture primary, and rest of the picture get synced to website.

I have put this on a video as well to have a look what I

[2020-07-17 07:50] MuhammadAdnan32 commented on #1221
Hi @BharatPRC ,
I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have any questions.
Thanks!
Regards,
M Adnan

[2020-07-17 08:20] Uzair-RepairDesk commented on #1217
Hey @BharatPRC
Thank you for the suggestion. Perhaps, we can add criteria in the search filter of inventory to filter the products that are not synced with Woocommerce if their respective category is set to sync.
We have plan to make improvements in woocommerce integration so we can definitely consider it. Here is the link from our public roadmap:-
https://trello.com/c/bHUJJg1m/76-woocommerce-impr

[2020-07-17 08:22] Uzair-RepairDesk commented on #1215
@usmanalikhan93
Can you please check this and get it fixed? Also, discuss it with Yusra for the same.

[2020-07-17 10:20] MuhammadAdnan32 commented on #1211
Hi @Omar1892 ,
I have checked your concern but unfortunately, I am unable to reproduce your issue. Kindly see the attached video also:https://drive.google.com/file/d/17BfKLadxUnMsJyNqicXcxVHjtcMUDsei/view
 Would be great if you can share a video of this issue so we can release a fix during our next release.
If you have any questions or if there is anything else with which I may assist, please do n

[2020-07-17 10:28] BharatPRC commented on #1221
Now it showing error 500
See video, please.
http://sc.com.ly/show/kz3Ro4fb1tDqLVl2vdJ6YBs9COicUZEQ

[2020-07-17 10:40] MuhammadAdnan32 commented on #1221
Hi @BharatPRC ,
It's working fine on my test account. Can you please share your Rpairdesk account credentials in PM on adnan@repairdesk.co?
Thanks & Regards,
M Adnan

[2020-07-17 11:15] Uzair-RepairDesk commented on #757
Hi @SajAbu
Hope you are doing well
Have a good news for you! As you have requested earlier, we have added the functionality to search customer through POSTCODE and ADDRESS Field. Please give it a review at your end and let us know if it works for you.

Looking forward to your feedback.

Regards,

[2020-07-17 11:15] #757 closed

[2020-07-17 11:20] Uzair-RepairDesk commented on #898
Hi @rajeshdungrani
Hope you are doing well

Good News Here For You! We have implemented your desired functionality to have number of tickets and their overall value in exported file against the customers. Please review at your end and let us know if it satisfies your requirements.

Looking forward to your response.

Regards,

[2020-07-17 11:20] #898 closed

[2020-07-17 16:20] Omar1892 commented on #1211
@MuhammadAdnan32  Video was sent to adnan@repairdesk.co - check my account so that you can see how many tickets we have opened. The issue might not happen on your account, but its happening to us. The issue is there.

[2020-07-17 18:41] Omar1892 commented on #1212
@MuhammadAdnan32 Hello, I have already sent them. Please let me know if you got them.

[2020-07-18 00:08] Omar1892 opened #1223 "System Splitten Transactions At Check Out"
The video was sent to adnan@repairdesk.co

[2020-07-18 02:47] BharatPRC commented on #1221
Email Sent.

[2020-07-18 08:57] SajAbu commented on #757
Just tested it. works like a charm! Thank you!

Kindest Regards,

Sajid Abubaker
*Company Director*
*Capital Connection (London) Limited*
154 Mile End Road | Stepney Green | London | E1 4LJ
020 7265 9999
www.capitalconnections.co.uk

On Fri, 17 Jul 2020 at 12:15, Muhammad Uzair Shah <notifications@github.com>
wrote:

[2020-07-18 11:00] ciprianro opened #1224 "option to print bulk barcode labels"
we cant spend all day to print one by one barcode labels. please resolve this. thank you

[2020-07-20 04:17] MuhammadAdnan32 commented on #1221
Hi @BharatPRC,
Received and thank you for sharing.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks & Regards,
M Adnan

[2020-07-20 04:18] MuhammadAdnan32 commented on #1221
For internal use:
https://repairdesk.atlassian.net/browse/RB-1534

[2020-07-20 04:24] MuhammadAdnan32 commented on #1223
Hi @Omar1892 ,
Received and thank you for sharing.
Adnan here 👋 Sure thing! Let me take a look to see and I'll circle back to you.
Thanks & Regards,
M Adnan

[2020-07-20 04:52] MuhammadAdnan32 commented on #1212
Hi @Omar1892 ,
I have received and thank you for sharing and I m looking into this and I'll circle back to you soon.

[2020-07-20 05:11] Uzair-RepairDesk commented on #1224
Hi @ciprianro
Is it about inventory labels? We have already the option to select the items and print the barcode labels in bulk.
**Please check the screenshot attached.**
<img width="1272" alt="Screen Shot 2020-07-20 at 10 09 08 AM" src="https://user-images.githubusercontent.com/22955861/87901778-52f31900-ca71-11ea-9949-b98450aa71de.png">

Can you please specify where you exactly print the barcode

[2020-07-20 06:01] #1116 closed

[2020-07-20 06:15] ciprianro commented on #1224
Hi.
When making new GRN. There must be the option.

lun., 20 iul. 2020, 08:11 Muhammad Uzair Shah <notifications@github.com> a
scris:

[2020-07-20 06:38] usmanalikhan93 commented on #1220
Hi @BharatPRC

I hope you are doing well. I have discussed this with developer and he said due to this issue we have added this trigger "Sync product image on your online store when a product is updated on RepairDesk", So you need to disable this trigger and upload image manually on WooCommerce. For now this is only the solution we have.

[2020-07-20 07:33] Uzair-RepairDesk commented on #1224
@ciprianro
When you open the GRN, there is also option to select all the received items from GRN to print the barcodes at once. Please check the screenshot attached.

![uzairshahRepairDesk_View_Grn](https://user-images.githubusercontent.com/22955861/87911472-2517cf80-ca85-11ea-8d6a-82f2b26c2686.png)

[2020-07-20 07:39] ciprianro commented on #1224
Wont work.
There will print just 1 laber/ item.
Please check

lun., 20 iul. 2020, 10:33 Muhammad Uzair Shah <notifications@github.com> a
scris:

[2020-07-20 07:44] BharatPRC commented on #1186
have you checked the video ?

[2020-07-20 08:01] Uzair-RepairDesk commented on #1224
@usmanalikhan93
Can you please verify this?

[2020-07-20 09:51] MuhammadAdnan32 commented on #1223
Hi @Omar1892,
I hope you doing well. I have checked your mentioned issues in the video.
1-In case if we add more payment the system is showing change due which we have to give back to the customer. That's why system is showing like this, if you will add 1$ and invoice amount is 0.50$ then the system will show you 0.50 in change due.
2-For second case it's working fine. I have doubled checked If we

[2020-07-20 09:52] MuhammadAdnan32 commented on #1211
Hi @Omar1892 ,
Can you please allow me to create a ticket and invoice on your account for testing this issue?

[2020-07-20 09:55] usmanalikhan93 commented on #1224
For internal use:
https://repairdesk.atlassian.net/browse/RB-1540

[2020-07-20 11:39] MuhammadAdnan32 commented on #1212
Hey @Omar1892 ,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks & Regards,
M Adnan

[2020-07-20 11:40] MuhammadAdnan32 commented on #1212
For internal use:
https://repairdesk.atlassian.net/browse/RB-1541

[2020-07-20 12:40] MuhammadAdnan32 commented on #1221
Hi @BharatPRC ,
I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.
Thanks!
Regards,
M Adnan

[2020-07-20 16:31] Omar1892 commented on #1223
@MuhammadAdnan32 Ok, thank you. Ill keep on checking the system. and if it happens again i will mention it on here. Please don't close this issue.

[2020-07-20 16:33] Omar1892 commented on #1211
Yes, please go for it. If it doesn't work on the first try do it multiple times. The issue is there.

[2020-07-20 17:25] Omar1892 opened #1225 "Improvement - Coming Up Tickets or Tickets schedule to be next"
Hello,

Their should be an option to see tickets schedule for an specific day, even if they were schedule with in a week or month in advance. The option to view the tickets will only show you the ticket created on the day the were created, but not the tickets schedule to be done on a specific date. When we need to give time frames for repair that have to be done with in the same day we can't give

[2020-07-21 01:04] BharatPRC commented on #1221
Thanks . Seems OK Now :-)

[2020-07-21 01:04] #1221 closed

[2020-07-21 03:48] mathchouinard commented on #1194
@Uzair-RepairDesk bundling is not a viable solution for what I am saying. For example:
You go on the problem screen, you select "Screen repair".
Then, per your bundle, I would need to automatically put a part with it. What happens if the bundle is for a black screen, and I need a white screen ?
A solution would be to create a second bundle, but then I just went from one single problem "Screen repa

[2020-07-21 04:48] MuhammadAdnan32 commented on #1211
Ok, thank you. I will look into this and circle back to asap.

[2020-07-21 05:41] Uzair-RepairDesk commented on #1194
Hi @mathchouinard
I have reopened the post so I can review it again based on your feedback.

[2020-07-21 10:46] MuhammadAdnan32 commented on #1211
Hi @Omar1892 ,
I have checked your concern on your account with multiple tickets but unfortunately, I am unable to reproduce your issue. Would be great if you can share detailed steps of the issue whenever you will face the same issue.
If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.
Regards,
M Adnan

[2020-07-21 11:07] usmanalikhan93 commented on #1224
Hi @ciprianro

I hope you are doing well. We have added the functionality of print bulk quantity label in GRN. Just select the items, and press print barcode, it will work according to quantity. Please verify at your end and do let us know if you have any question.

Regards,
Usman Ali

[2020-07-21 12:31] alexgricgroup commented on #1213
Kind reminder

[2020-07-21 14:02] Uzair-RepairDesk commented on #1213
@alexgricgroup Thank you for your follow up.

@usmanalikhan93
Can you check and discuss with Humza and the technical team if it's possible to send the item with breakage in damage part report if technician marks the part status with "broken"

[2020-07-21 15:00] ciprianro commented on #1224
yes it's working. thank you

În mar., 21 iul. 2020 la 14:07, Usman Ali Khan <notifications@github.com> a
scris:

[2020-07-21 18:09] fahadimran303 opened #1226 "Customise Default Payment Terms | Wyman Marshall | Mac in a Snap"
**Hi Sir,**

**Business Name | Store Name:**
Wyman Marshall | Mac in a Snap

**Customer Stature:**
1 Store Location with Annual Plan.
High Presence on Social Media.
Can help us a lot in other verticals as well.

**Module:**
Invoices

**Improvement:**

The customer had made a request that there should an option for Due within 7 days for Default Payment Terms in the Invoice settings. Please find the

[2020-07-21 18:10] fahadimran303 commented on #1226
Jira link:
https://repairdesk.atlassian.net/browse/REP-2694

[2020-07-21 22:45] Omar1892 opened #1227 "Ability to select the status of the ticket at Check out"
Hello, I've sent a video to adnan@repairdesk.co explaining the issue im facing.

[2020-07-22 04:34] #1224 closed

[2020-07-22 13:17] BharatPRC commented on #1217
This won't help.
Please have a look at the real problem and situation faced in the video.
http://sc.com.ly/show/JiFhlxAGvubZYmRUQE08goprTBH3nDk1

I belive this wont be just me, but lots of other shop will start using woocommerce when the inventory is already made.

Let me know your thoughts.

[2020-07-22 14:02] BharatPRC opened #1228 "Need Invoice Format According to Australian Standard ( URGENT )"
NOTE: Below discussion is only about RETAIL Invoicing.  I will post the issue about PO for WHOLESALE invoicing format in another topic.

Hi !
The Invoice printing format needs fixing.
Repair Desk is Separating Tax and purchase price in the invoice which confuses the customer and even our own staff.
Even in the ticket section, separate tax from the price is giving us lots of heading finding out the

[2020-07-23 00:45] BharatPRC commented on #1220
ok. thank you

[2020-07-23 05:17] #1220 closed

[2020-07-23 05:18] usmanalikhan93 commented on #1210
Hi again @iFoneRepair - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2020-07-23 06:12] MuhammadAdnan32 commented on #1227
@Uzair-RepairDesk  FYI
Kindly look into this as he is looking for an improvement. https://drive.google.com/file/d/1d0JiC5fQ25j5jS6R5DdgeFbw78ZrS6c4/view?usp=drive_web

[2020-07-23 16:44] Uzair-RepairDesk commented on #1228
Hey @BharatPRC
Thank you for sharing the video. The summary is that if display price with tax rather than price without tax on thermal receipt, it will be helpful for you and your customer. Is that right?

[2020-07-23 20:29] Omar1892 commented on #1130
@MuhammadAdnan32 Hello, ive sent a video to fahadimran85@gmail.com showing how the taxes are still being miss calculated.

[2020-07-23 23:37] Omar1892 commented on #1164
Hello,

just to be sure that you know. We are still having the same issue in the store. Fahad told me that you guys are working on a permeant solution.

[2020-07-24 01:16] Omar1892 opened #1229 "Warning pop up screen on the Problem buttons."
My suggestion would be to add a pop up warning screen on the repair buttons. I have added a video explaining what I mean. Video was sent to fahadimran85@gmail.com

[2020-07-24 04:19] MuhammadAdnan32 commented on #1130
Hello @Omar1892 ,
Alright! thank you for sharing the video with us.l will take a look into this and circle back to you asap.
Thanks & Regards,
M Adnan

[2020-07-24 04:39] #1210 closed

[2020-07-24 11:46] MuhammadAdnan32 commented on #1130
Hello @Omar1892 ,
I have watched the video but video content is not visible and showing blur results. Can you please share the same video again in a better format? So I will look into the issue and update you accordingly.
Thanks,
Regards,
M Adnan

[2020-07-24 12:54] tekkies1 opened #1230 "printer ticket label issue not printing correctly"
when goto print ticket label from print node it work fine but if you manually select label to print to dymo printer it cut the ticket # off can this be fixed many people have same issue.

[2020-07-24 12:57] tekkies1 opened #1231 "Repairdesk pay freezing"
on a daily basis the repairdesk pay freezing and get stuck, even if they are quickly doing steps. we have to close browser out to reset terminal after few time it work again. it very random. we where use brave browser then switch to chrome browser still same issue. it the pos software. help

[2020-07-24 13:01] tekkies1 opened #1232 "suggestion many would like tv jobs or by departments live cute Select able"
would like to option to have few tv in shop by the different dept with current open ticket cute and nice plus is if customer comment back we can see to respond quickly to them. but back to suggestion have tv computer dept game console cell phone etc. maybe job assign to different tech can have there que pull up fifo or by departments. drop down select able menu.

[2020-07-24 16:18] Omar1892 commented on #1211
@MuhammadAdnan32 Would you mind checking this tickets are reference T-1118 / T-1114 / T-1110 / T-1095 / T-1063 / T-1009 this tickets were paid for but were never closed. The issue only happens on the unlocking sections. It hasn't happen on any other place with in the system aside from the unlocking.

[2020-07-24 16:35] Omar1892 commented on #1130
@MuhammadAdnan32 Video was resent to  fahadimran85@gmail.com let me know if it works this time.

[2020-07-27 04:59] Uzair-RepairDesk commented on #1232
Hi @tekkies1
Is this suggestion based on the "Tickets Counter Display"? Please confirm?

[2020-07-27 06:02] MuhammadAdnan32 commented on #1130
Hi @Omar1892 ,
Alright! thank you. Sure! I will update you asap.
Thanks & Regards,

[2020-07-27 06:21] jawad-Repairdesk commented on #1231
Hello Tekkies1,
Sorry for the trouble you have faced. Let me ask to support team to connect with you to resolve your issue. We need the details and identify the steps and devices you are using when the issue occurs.

Thanks

[2020-07-27 06:59] usmanalikhan93 commented on #1230
Hi @tekkies1

I hope you are doing well. Please contact live chat support so that one of the support guy can resolve this via remote screen sharing. As it seems to be incorrect label size issue. And can you please check that did you gave correct label size of the labels in module configuration under label size ?

[2020-07-28 12:51] usmanalikhan93 commented on #1229
Video Link: https://drive.google.com/file/d/1iTicqpwy9iAgtX7zNcmT_ezKlx30bcKu/view

@Uzair-RepairDesk FYI

[2020-07-28 14:23] TechTraders opened #1233 "Sub-Categories for the Accessories and Parts system"
With the category system, can I suggest maybe having sub-categories too so e.g. main category: Computer Parts | Sub-Category: Power Supplies etc.

[2020-07-28 18:42] Repair-Desk opened #1234 "Ability to search customer by their phone or mobile"
It should allow you to search a repair ticket, customer or an invoice by customer phone or a mobile number.

If a customer forgets to add - or +1 they should still be able to search a profile

![St-LouisRepairDesk-Ticket](https://user-images.githubusercontent.com/21986026/88707454-b1805d00-d12b-11ea-91b4-eaa4dfe6a7c2.png)