[2021-10-25 04:56] AVECorp opened #1744 "Custom Repair Status Not Editable"
Hi Team,

We are missing the edit function for custom statuses in Repair Desk 2.0
![image](https://user-images.githubusercontent.com/91883389/138636739-ea936a31-8903-4706-8b86-187ca3012921.png)

[2021-10-26 16:08] AbbyCSC opened #1745 "Edit Estimate - Needs to show sku/part number not just description for product"
When you create an estimate for a product you enter the part number.  Once you save it you can only see the part description not the part number/sku.  As I can have multiple products with the same description I need to see what part number was assigned to that estimate.  For example Lenovo T14 - I have multiple sku's that are all T14 i7 16gb 512.  I can't tell which unit I have assigned to the est

[2021-10-28 16:56] AbbyCSC opened #1749 "Bar codes printing & scanning wrong price"
When I printed a bar code yesterday from a GRN it printed an amount that was not in any field on the product setup.  On a different product today when we scanned bar code it brought up a sale price that was not anywhere on the product setup.

[2021-11-01 05:21] Repairdesk-QA commented on #1749
Hello @AbbyCSC,
Hope you are doing well.

By default, when we print the barcode of a GRN, it will pick the Retail Price.
Hope your query has been solved.
If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.

**_Regards,_**
Quratul Ain

[2021-11-01 05:35] Repairdesk-QA commented on #1745
Hello @AbbyCSC,
Hope you are doing well.

I have double checked but couldn't find the video.
It would be great if you check at your end and upload the video again so that we will be able to test it.
Waiting for your response.

**_Regards,_**
Quratul Ain

[2021-11-01 10:53] Repairdesk-QA commented on #1735
Hello @AbbyCSC,
Hope you are doing well.
Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Regards,
Quratul Ain

[2021-11-01 10:53] #1735 closed

[2021-11-01 10:53] #1659 closed

[2021-11-01 10:54] Repairdesk-QA commented on #1692
Hello @Rikkertsie77,
Hope you are doing well.
Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Regards,
Quratul Ain

[2021-11-01 10:54] #1692 closed

[2021-11-01 11:07] #1140 closed

[2021-11-01 11:11] Repairdesk-QA commented on #1081
Hello @Repair-Desk,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

**_Regards,_**
Quratul Ain

[2021-11-01 11:12] Repairdesk-QA commented on #982
Hello @ThinkDigitalSoftware,
Hope You are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

**_Regards,_**
Quratul Ain

[2021-11-01 11:14] Repairdesk-QA commented on #1501
Hello @JiwanGrewal,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

**_Regards,_**
Quratul Ain

[2021-11-01 15:01] KEZSVS opened #1750 "Email Status BOUNCE"
Please if can someone fix this issue ASAP when I send emails to customers or to the team emails bunce, this problem continues for the last few weeks no one help me on the phone and also remotely

So please let me see if someone from the development team can help me with this

![Capture](https://user-images.githubusercontent.com/69765024/139692874-0a9809c8-9e63-47a9-8a05-8b72c7fc4f1b.PNG)

[2021-11-02 18:36] CommCentral1 opened #1751 "Please add this feature to SMS messaging .."
Please add the ability for us to add an image to a SMS messaging campaign.

This would really help us with our marketing.

Thank you,
CommCentral

[2021-11-05 07:40] Repairdesk-QA commented on #1750
Hello @KEZSVS,
Hope you are doing well.

Can you please elaborate on your concern?
**_Are you sending the emails manually? or issue is in Auto sending the email?_**
Would be great if you can answer the above questions or share a video of this issue or detailed steps so we can release a fix during our next release. **_You can put together a video using Screencastify._**
If you have any questions or

[2021-11-05 12:17] KEZSVS commented on #1750
manually
Here you go

https://www.awesomescreenshot.com/video/5905850?key=82d628515ab6cfbf403bf7988a412af1

[2021-11-05 12:44] techm89 opened #1752 "Stripe new feature: Afterpay"
Could you guys add it to the already present Stripe integration?

It allows us to do payment plan for customer when they buy items in the store.

Here is the details: https://stripe.com/docs/payments/afterpay-clearpay/accept-a-payment?platform=checkout&utm_medium=earned-email&utm_source=418f&utm_campaign=US%2FCA_4f4b&utm_content=a86f&utm_term=dbd3bff2e08b&mkt_tok=MDcyLU1ESy0yODMAAAGAjoQkyPZDwkHjlk

[2021-11-06 02:16] techm89 opened #1753 "Pre/post repair"

[2021-11-07 03:03] JuntShake opened #1754 "Adding a feature to the Customer portal that allows end users to create an account directly from the widget integrated into your repair shops website"

[2021-11-08 04:02] ProductTeam-RepairDesk commented on #1753
Hey, @techm89  I hope you are doing well.
I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work during this Quarter. I will keep you posted once we start working on it.

And I hope that if there’s anything else

[2021-11-08 04:06] ProductTeam-RepairDesk commented on #1754
Hey, @JuntShake  hope you are doing well, can you share more details for better understanding.
I am sharing the link where you can review the functionality of the customer portal.
https://help.repairdesk.co/knowledgebase/articles/1846624-customer-portal

Regards:
Humza

[2021-11-08 06:35] Repairdesk-QA commented on #1750
Hello @KEZSVS,
Hope you are doing well.

Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
Your reported issue has been assigned to the development team and hopefully, it will be fixed in our next release.
Your patience would be highly appreciated.

**_Thanks & Regards,_**
Quratul Ain

[2021-11-08 06:35] Repairdesk-QA commented on #1750
**_For internal use only:_** https://repairdesk.atlassian.net/browse/RB-4064

[2021-11-08 15:44] JuntShake commented on #1754
Hey Humza!

No issues with it at all, i was talking to Usman if there was going to be a
feature update to API allowing clients to create their own account directly
from the customer portal widget. This would allow us or anyone to integrate
it into a website for mailins/business clients to create their own profile
for sending in units with out them having to call the store for us to
create the prof

[2021-11-09 07:01] AVECorp opened #1755 "Invoice Date Disappearing From Tickets In POS Screen"
When clicking on the Month and Year in Grey at the top of the box and then selecting a different year and month, the box disappears and nothing is changed.
Makes it time consuming to add a date that was even just a year ago as you have to keep clicking the arrows next to the month and date.

![image](https://user-images.githubusercontent.com/91883389/140877132-d05025c8-d07a-4843-b6ce-b67111df3048.

[2021-11-09 08:15] afrahm opened #1756 "Segment Customer list by store"
Want to be able to segment out customer list in the customer module so we can send bull promotional sms.

The mailchimp integration has a tag for each store so be good to segment by this tag.

[2021-11-09 11:47] Repairdesk-QA commented on #1750
Hello @KEZSVS,
Hope you are doing well.

Your reported issue has been discussed with our Development Team & they've found the issue is not from our end.
DMARC establishes a method for a domain owner to Publish its email authentication practices.
Please ask your domain registrar and get it disabled.
I hope this will solve your problem & if not, kindly let us know.

**_Regards,_**
Quratul Ain

[2021-11-09 21:05] Stylemyphones opened #1757 "PO Glitch with Tax-Exempt Items"
Hello,
There is a time consuming issue happening in the system when I am adding PO items.
The taxes show even though tax-exempt is selected, so I must click on sales-tax, then again tax-exempt for the system to reset to the correct setting needed.
PLEASE HELP!
https://user-images.githubusercontent.com/83790373/138973261-6b5cfaac-0d71-4762-8eb5-18c034598063.mp4

[2021-11-10 06:18] Repairdesk-QA commented on #1757
Hello @Stylemyphones,
Hope you are doing well.
Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Your patience means a lot!

**_Regards,_**
Quratul Ain

[2021-11-10 06:28] Repairdesk-QA commented on #1755
Hello @AVECorp,
Hope you are doing well.

Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Your patience means a lot!

**_Regards,_**
Quratul Ain

[2021-11-10 06:59] Repairdesk-QA commented on #1757
Hi again @Stylemyphones,

Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
Your reported issue has been assigned to the development team and hopefully, it will be fixed early next week.
Your patience would be highly appreciated.

**_Thanks & Regards,_**
Quratul Ain

[2021-11-10 07:00] Repairdesk-QA commented on #1757
**_For internal use only:_** https://repairdesk.atlassian.net/browse/RB-4078

[2021-11-10 07:24] Repairdesk-QA commented on #1755
Hi again @AVECorp,
I have checked your concern but unfortunately, I am unable to reproduce your issue. Would be great if you can **_share a video_** of this issue or detailed steps so we can release a fix during our next release. You can put together a **_video using Screencastify._**
If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach ou

[2021-11-10 18:53] Stylemyphones commented on #1757
Great!
Thank you for your help.

Best regards,
Alejandra Salazar

[2021-11-10 20:06] techm89 opened #1758 "Invalid Integrer error when processing manual entry with Stripe integration"
Tried today taking a deposit for an order and every time I was entering the CC information and pressing Pay button it gave me an error saying: Unable to Pay Invalid integer: 7990.000000000001 (79.99 being the deposit amount). I had this issue numerous time and it was going away when I logged out and log back on but right now I am always getting the issue. The issue in in the POS when Stripe as pay

[2021-11-11 02:14] AVECorp commented on #1755
Hi Quratul, Here is a video of the fault.This is a custom date field we are using in our ticket entry processes. https://watch.screencastify.com/v/YfoaPgK8ioW6KxzaCsWt Ben Rawnsley | Wholesale ManagerPhone: +61 3 9706 5325 | Email:  ***@***.***: 318 Hammond Road, Dandenong South, VIC 3175, AustraliaVisit us online | www.avecorp.com.au From: Repairdesk-QASent: Wednesday, 10 November 2021 6:24 PMTo:

[2021-11-11 07:43] Repairdesk-QA commented on #1755
Hello @AVECorp,
Hope you are doing well.

Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
Your reported issue has been assigned to the development team and hopefully, it will be fixed early next week.
Your patience would be highly appreciated.

**_Thanks & Regards,_**
Quratul Ain

[2021-11-11 07:43] Repairdesk-QA commented on #1755
**_For internal use only:"_**https://repairdesk.atlassian.net/browse/RB-4087

[2021-11-11 19:44] SuaySewShop opened #1759 "MUST KEEP IPAD APP!"
The ipad app is absolutely critical for our use of repair desk and customer interfacing. If the ipad app is removed from repair desk tools, we will have to cancel our subscription.

For our repair process we need to take images of all repair items and enter descriptions (we cannot do this with desktop browser/laptop). We must also take a customer signature upon intake for every repair to agree to

[2021-11-12 03:46] Cybertekww opened #1760 "Cybertek - thermal receipt layout issue"
When I change the font on the customer name, address etc to be more readable on the thermal receipt, the store logo disappears and cannot be seen unless i change the format back to default. This is annoying as the customer names and details are hard to read and making them larger and bold solves this issue but i still want the store logo to appear

[2021-11-12 03:48] Cybertekww opened #1761 "Cybertek - Inventory count quantity redundant"
When doing an inventory count, if i have 5 items, i will put 5 in the quantity box and then scan the item. The count however only shows that 1 item has been scanned.

[2021-11-12 03:51] Cybertekww opened #1762 "Cybertek - importing new items headache"
When I add multiple items using the spread sheet I would like to be able to add in the cost price of the item, even if I have 0 stock of the item. THe only way this is working is that I have to put a 1 in the "New Stock Adjustment" collumn and then add in the cost price to the "New inventory item cost" collumn. THis is annoying as I then have to manually edit each individual items stock level.
I w

[2021-11-12 03:53] Cybertekww opened #1763 "Cybertek - GRN scanning items in..."
When I make a GRN I would like all the stock levels in the GRN to be set to 0 instead of the number of items on the purchase order.
THis means that I can scan each item in to the GRN and if I get distracted can come back to the GRN and know what I have scanned and what I have not. At the moment I am having to find each item from the top to the bottom and count them manually as I cannot set the num

[2021-11-12 04:33] Repairdesk-QA commented on #1484
Hello @Cumbr1at3ch,
Hope you are doing well.

Sorry for the delay as it was a big module to fix but there's good news for you.
Your reported issue has been fixed and lived. Kindly verify at your end and do let us know if you have any questions or face any issues.
Waiting for your feedback!

**_Thanks & Regards,_**
Quratul Ain

[2021-11-12 15:28] roccor2gaming opened #1764 "Dashboard totals for Invoices are unclear"
When the dashboard shows the pie graph of invoices over a period of time, the following $ figures are shown:

Total Sales
Payments Received
Unpaid
Total Refunds

It appears that "Unpaid" is actually "Account Receivable". In other words the "Unpaid" shows the total $ amount which is due during the selected period. This means the figures are potentially referencing a different set of invoices. This

[2021-11-13 21:11] danmurari opened #1765 "Customer select ALL option"
Hello Team

how do we select all customer email list and save as excel file. Currently giving only 500 option and also if you select page 1 and go to page 2 all page 1 will be lost.

Can you please have select all customer option instead of only 500 which is consuming lot of time.
![Uploading image.jpg…]()

[2021-11-15 06:56] Repairdesk-QA commented on #1761
Hello @Cybertekww,
Hope you are doing well.
Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

**Regards,**
Quratul Ain

[2021-11-15 07:24] Repairdesk-QA commented on #1762
Hello @Cybertekww,
Hope you are doing well.
I have checked your concern and would like to inform you that your requested functionality is already in RepairDesk.
Please have this video attached for reference:
https://www.screencast.com/t/ZGOjOspY

I hope this will solve your problem but if not, please do not hesitate to reach out.

**_Regards,_**
Quratul Ain

[2021-11-15 10:05] Repairdesk-QA commented on #1765
Hello @danmurari,
Hope you are doing well.

We are not able to open the image attached in the description. Can you please share that again so that we will look into your problem?
Waiting for the information required.

**_Regards,_**
Quratul Ain

[2021-11-17 05:16] ProductTeam-RepairDesk commented on #1763
Hey, @Cybertekww  I hope you are doing well.
I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work during this Quarter. I will keep you posted once we start working on it.

And I hope that if there’s anything el

[2021-11-17 05:40] Repairdesk-QA commented on #1758
Hey @techm89,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks!
Ayesha

[2021-11-17 05:49] Repairdesk-QA commented on #1758
For internal use:
https://repairdesk.atlassian.net/browse/RB-4124

[2021-11-17 06:09] Repairdesk-QA commented on #1764
Hey @roccor2gaming,
I hope you are doing well. On Invoices listing screen the **ACCOUNT RECEIVABLE** and UnPaid Invoices value is same and it means "The total amount of outstanding or payments due against all invoices in a given period." whereas the **TOTAL ACCOUNT RECEIVABLES** means "The total amount of outstanding or payments due against all invoices to date."

Hope it helps. Please let me know

[2021-11-17 11:12] Repairdesk-QA commented on #1447
Hello @JessicaSOS,
Hope you are doing well.

We have recently fixed this issue and is live. Kindly have a look at that & please ask us if you have any questions.
Have a good day!

Closing this issue as it has been fixed.

 **_Regards,_**
 Quratul Ain

[2021-11-17 11:23] Repairdesk-QA commented on #1395
Hello @GeniusRepair1,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

**_Regards,_**
Quratul Ain

[2021-11-17 11:25] Repairdesk-QA commented on #1238
Hello @Cybertekww,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

**_Regards,_**
Quratul Ain

[2021-11-17 11:25] #1238 closed

[2021-11-17 11:25] #1395 closed

[2021-11-17 11:31] Repairdesk-QA commented on #1597
Hello @DOM260096,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

**_Regards,_**
Quratul Ain

[2021-11-17 11:32] #1597 closed

[2021-11-17 11:33] #1588 closed

[2021-11-17 11:34] Repairdesk-QA commented on #1458
Hello @danmurari,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

**_Regards,_**
Quratul Ain

[2021-11-17 11:34] #1458 closed

[2021-11-17 11:35] Repairdesk-QA commented on #1457
Hello @thecellplug,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

**_Regards,_**
Quratul Ain

[2021-11-17 11:36] #1457 closed

[2021-11-17 11:36] Repairdesk-QA commented on #1631
As per discussion with Faisal, this issue has been fixed.
Closing this issue.

[2021-11-17 11:36] #1631 closed

[2021-11-17 11:52] Repairdesk-QA commented on #1761
Hello @Cybertekww,
Hope you are doing well.

I have checked your issue and wanted to tell you that this is the flow of our system.
When you scan an item, it will increment one every time you scanned that item & if you want to count by adding item name or SKU, you first have to type the name and then the quantity.

Please have this video for reference:
https://www.screencast.com/t/mlLc9MkwaIG

I ho

[2021-11-17 11:54] roccor2gaming commented on #1764
Hi Ayesha. Please see attached screenshots of an invoice dashboard example.

If the Unpaid Invoice amount is the amount owed on invoices in the given
period, then that amount cannot exceed the Total invoices for the given
period.

Please see the attached example where the Total Invoices is less than the
Unpaid Invoices.

Hope this helps explain the situation.

Thank you,

On Wed, Nov 17, 2021 at 1

[2021-11-17 11:58] #1501 closed

[2021-11-17 12:00] ProductTeam-RepairDesk commented on #1717
Hey, @smartfixllc  I hope you are doing well.
I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work during this Quarter. I will keep you posted once we start working on it.

And I hope that if there’s anything e

[2021-11-17 12:00] Repairdesk-QA commented on #1484
Hello @Cumbr1at3ch,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

**_Regards,_**
Quratul Ain

[2021-11-17 12:00] #1484 closed

[2021-11-17 12:01] #1081 closed

[2021-11-17 12:05] #982 closed

[2021-11-17 12:09] #1731 closed

[2021-11-17 12:11] Repairdesk-QA commented on #1730
Hello @UrgentPhoneRepair,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

**_Regards,_**
Quratul Ain

[2021-11-17 12:11] #1730 closed

[2021-11-17 12:12] #1727 closed

[2021-11-17 12:16] #1708 closed

[2021-11-17 12:25] Repairdesk-QA commented on #1685
Hello @alliedcomputers,
Hope you are doing well.

Sorry for the delay.
Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks for your patience & time.

**_Regards,_**
Quratul Ain

[2021-11-17 12:29] Repairdesk-QA commented on #1637
Hello @DerrickRepairs,
Hope you are doing well.

I hope your issue has been resolved on live chat. Would be great if you can confirm here.
Waiting for your feedback.

**_Regards,_**
Quratul Ain

[2021-11-17 12:30] #1611 closed

[2021-11-17 12:33] #1553 closed

[2021-11-17 12:34] #1552 closed

[2021-11-17 12:35] #1541 closed

[2021-11-17 12:42] Repairdesk-QA commented on #1384
Hello @JessicaSOS,
Hope you are doing well.

Sorry for the delay & inconvenience.
Are you still facing this issue? Please let us know so we can check on our end.

**_Regards,_**
Quratul Ain

[2021-11-17 12:52] Repairdesk-QA commented on #1764
Hey @roccor2gaming,
I hope you are doing well. Got your point and it seems to be an account specific issue. Could you please share your business name so that I can further investigate the reported issue in detail? Thanks.
Ayesha Aamir

[2021-11-17 12:54] Repairdesk-QA commented on #1710
Hello @Stylemyphones,
Hope you are doing well.

I have gone through the above-mentioned issue and it seems that I will need more information regarding the issue.
I will request you to schedule a call with **_Fahad Imran, Manager Customer Success and Support_**. Kindly book a slot from the link in order to connect with him:
https://calendly.com/fahadimran

I am sure he will be able to assist with t

[2021-11-17 13:26] techm89 commented on #1588
Hmmm actually you guys didn't resolve this. I asked for a receipt to be included in the email we send to customer. You sent me a link to print the receipt. This is not what I was asking.

[2021-11-17 13:57] mobilexpertmiami opened #1766 "Increase item price"
I need my employees to be able to increase the price of items without having the ability to lower the retail price.

[2021-11-17 18:17] Stylemyphones commented on #1710
Done! I have scheduled for tomorrow.

Thank You & Best Regards,
Alejandra Salazar
Stylemyphones

[2021-11-17 18:34] roccor2gaming commented on #1764
Hi Ayesha. It is R2 Gaming Inc.

Thank you,

On Wed, Nov 17, 2021 at 7:52 AM Repairdesk-QA ***@***.***>
wrote:

--

Rocco DiPaola

***@***.***

O:  905-228-0322

M:  905-401-7066

*www.r2gaming.co <http://www.r2gaming.com/>m*

[2021-11-18 04:03] ProductTeam-RepairDesk commented on #1766
Hey, @mobilexpertmiami  hope you are doing well. you can restrict your employee from lowering the retail price by using roles and permission modules. whereas an option to only increase retail price is not possible for now but still, i will discuss your request internally and update you if it's doable or not.

And I hope that if there’s anything else I can do for you, you won’t hesitate to let me k

[2021-11-18 04:18] Repairdesk-QA commented on #1710
That's great!
I hope this will solve your issue.

**_Regards,_**
Quratul Ain

[2021-11-18 04:28] Repairdesk-QA commented on #1742
Hello @RDimprovement,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

**_Regards,_**
Quratul Ain

[2021-11-18 04:48] #1742 closed

[2021-11-18 04:54] Repairdesk-QA commented on #1701
Hello @afrahm,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

**_Regards,_**
Quratul Ain

[2021-11-18 04:55] afrahm commented on #1701
I’m waiting to hear back from you guys about this..

On Thu, 18 Nov 2021 at 2:54 pm, Repairdesk-QA ***@***.***>
wrote:

--

Regards,

[image: Kixup iPhone Repairs] <https://htmlsig.com/t/000001C2V70S>

Andrew Frahm / CEO & Founder
***@***.***

Kixup Repairs
www.kixup.com.au

[image: Facebook]  <http://facebook.com/kixuprepairs> [image: Instagram]
<http://instagram.com/kixuprepairs>

[2021-11-18 05:13] Repairdesk-QA commented on #1764
Hey @roccor2gaming,
Ayesha here. Thanks for providing the additional details. Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Regards,
Ayesha Aamir

[2021-11-18 05:30] Repairdesk-QA commented on #1701
Hello @afrahm,
Hope you are doing well.

I have discussed your concern with our Business Analyst and would like to tell you that there is no tax on COGS, it's always on Retail price. That's why the behaviour is as it is now.
I hope your query has been answered but if not please do not hesitate to reach out.
You can schedule a call with **Fahad Imran, _Manager Customer Success and Support_**. Kindl

[2021-11-18 07:38] afrahm commented on #1701
Tax is put against all the parts that are on Purchase orders though.. so
COGS do have tax.

I can’t book a time there as his times are between 2am-6am my time.

On Thu, 18 Nov 2021 at 3:30 pm, Repairdesk-QA ***@***.***>
wrote:

--

Regards,

[image: Kixup iPhone Repairs] <https://htmlsig.com/t/000001C2V70S>

Andrew Frahm / CEO & Founder
***@***.***

Kixup Repairs
www.kixup.com.au

[image: Facebook

[2021-11-18 07:44] Repairdesk-QA commented on #1764
Hi @roccor2gaming,
Your reported query has been assigned to the development team. I'll get back to you as soon as I have more information!
Your patience would be highly appreciated.
Thanks,
Ayesha

For internal use:
https://repairdesk.atlassian.net/browse/RB-4128

[2021-11-18 07:47] Repairdesk-QA commented on #1588
Hello @techm89,
I would like to inform you that we have done the related improvement.
If you have enabled **_PayFacto_** on RepairDesk & wanted to email the Payfacto Receipt, you can.

**_Please have this video for reference:_**
https://www.screencast.com/t/UPNrpgf0VY

Kindly check again & do let us know if you have any issues.
Waiting for your feedback!

**_Regards,_**
Quratul Ain

[2021-11-18 07:58] Repairdesk-QA commented on #1701
We totally value your time.
Kindly check our website. On live chat, you can instantly contact any support agent.
![image](https://user-images.githubusercontent.com/39614480/142375180-9c9b04eb-3dc6-4e99-881c-4faf461a802f.png)

**_Regards,_**

[2021-11-18 07:59] afrahm commented on #1701
Yeah and they directed me here…

On Thu, 18 Nov 2021 at 5:58 pm, Repairdesk-QA ***@***.***>
wrote:

--

Regards,

[image: Kixup iPhone Repairs] <https://htmlsig.com/t/000001C2V70S>

Andrew Frahm / CEO & Founder
***@***.***

Kixup Repairs
www.kixup.com.au

[image: Facebook]  <http://facebook.com/kixuprepairs> [image: Instagram]
<http://instagram.com/kixuprepairs>

[2021-11-18 12:09] Repairdesk-QA commented on #1757
Hello @Stylemyphones,
Hope you are doing well.

I would like to inform you that your reported issue has been fixed & live.
Please check at your end & do let us know if you have any questions.
Waiting for your feedback.

**_Regards,_**
Quratul Ain

[2021-11-18 12:34] Repairdesk-QA commented on #1758
Hey @techm89,
I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let me know if you have any questions.
Thanks,
Ayesha

[2021-11-18 13:07] Repairdesk-QA commented on #1764
Hello @roccor2gaming,
I hope you are doing well. I have invested your reported issue in detail and came to know that the **value of the Unpaid invoices is greater than the Total Sales value** because the Total Sales value represents the **Total amount of sales for repairs, unlocking, mobile, accessories, trade-in, casual items excluding tax in a given period** whereas the Unpaid invoices represent

[2021-11-18 13:24] roccor2gaming commented on #1764
Thank you Ayesha. So basically the Total Invoices excludes tax while the
unpaid includes tax.

Is this correct?

Thank you,

On Thu, Nov 18, 2021 at 8:07 AM Repairdesk-QA ***@***.***>
wrote:

--

Rocco DiPaola

***@***.***

O:  905-228-0322

M:  905-401-7066

*www.r2gaming.co <http://www.r2gaming.com/>m*

[2021-11-18 22:03] Stylemyphones commented on #1757
Great! Thank you it is indeed working on my end too!

Best Regards,
Alejandra Salazar

[2021-11-19 04:25] Repairdesk-QA commented on #1757
Glad you like it.
Closing this issue as it has been fixed
And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.

Thanks for your time. Enjoy your day!

**_Regards,_**
Quratul Ain

[2021-11-19 04:27] #1757 closed

[2021-11-19 05:08] Repairdesk-QA commented on #1764
Yes, @roccor2gaming that's exactly what I mean i.e. Total Sales excludes tax while the Unpaid includes tax.
And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.
Thanks for your time. Enjoy your day!
Regards,
Ayesha Aamir

Note: Closing this issue.

[2021-11-19 05:08] #1764 closed

[2021-11-19 05:37] Repairdesk-QA commented on #1765
Hello @danmurari,
Hope you are doing well.

Just checked your concern & wanted to tell you that If you want to export all the customers at once, you just have to click **_Export Customer_** in the Manage Customer Section without selecting any customer from the list.
Please have this video for reference:
https://www.screencast.com/t/Nh9FrbAm

I hope this will solve your problem but if not, please d

[2021-11-19 07:22] Repairdesk-QA commented on #1685
Hello @alliedcomputers,
Hope you are doing well.

I have checked your concern & wanted to inform you that the **_Pre- Repair & Post- Repair Device Conditions_** are linked with the **_Category._** When we create a **_ticket from the Customer Portal_**, no category will be counted in that and it will pick the **_Default Pre & Post Repair Conditions._**

**_We can set Default Conditions from_**
Stor

[2021-11-20 13:32] ZombiePhoneRepair opened #1767 "lack of opportunity"
You would need the option of a sales contract with a field to sign or to send it directly to the customer by email so that he can sign it from home so that you can also buy cell phones online

[2021-11-22 04:46] ProductTeam-RepairDesk commented on #1767
Hey, @ZombiePhoneRepair  I hope you are doing well.
I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work during this Quarter. I will keep you posted once we start working on it.

And I hope that if there’s anyt

[2021-11-22 07:47] Repairdesk-QA commented on #1637
Hey @DerrickRepairs,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

**_Regards,_**
Quratul Ain

[2021-11-22 07:48] #1637 closed

[2021-11-22 07:49] Repairdesk-QA commented on #1685
Hello @alliedcomputers,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

**_Regards,_**
Quratul Ain

[2021-11-22 07:49] #1685 closed

[2021-11-22 07:50] Repairdesk-QA commented on #1765
Hello @danmurari,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

**_Regards,_**
Quratul Ain

[2021-11-22 07:50] #1765 closed

[2021-11-22 07:53] Repairdesk-QA commented on #1749
Hello @AbbyCSC,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

**_Regards,_**
Quratul Ain

[2021-11-22 07:54] #1749 closed

[2021-11-22 07:55] Repairdesk-QA commented on #1750
Hello @KEZSVS,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

**_Regards,_**
Quratul Ain

[2021-11-22 07:55] #1750 closed

[2021-11-22 07:58] Repairdesk-QA commented on #1761
Hello @Cybertekww,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

**_Regards,_**
Quratul Ain

[2021-11-22 07:58] #1761 closed

[2021-11-22 08:07] Repairdesk-QA commented on #1707
Hello @ZAGRAL,
Hope you are doing well.

We sincerely apologize for the inconvenience and we have released a fix for this issue. Now you can see the **_Assigned To_** column while exporting tickets.
Please have this video for reference:
https://www.screencast.com/t/1TkPl7esu

Kindly check at your end and do let us know with the feedback.
And I hope that if there’s anything else I can do for you, y

[2021-11-22 11:45] ZAGRAL commented on #1707
Still u haved not resolved my issue pls its very urgentIt's was already there in manage tickets i want this option in invoice or itemwise sales report in CSV DOWNLOAD Four options are below1. Created by2. Generated by3. Assigned by4. Tickect No.

Sent from Yahoo Mail on Android

  On Mon, 22 Nov 2021 at 1:37 pm, ***@***.***> wrote:

Hello @ZAGRAL,
Hope you are doing well.

We sincerely apologize f

[2021-11-22 12:07] Repairdesk-QA commented on #1707
Hello again @ZAGRAL,
Thank you so much for your patience.
I'm going to reach out to our Engineers & Business Analyst to get this taken care of, I'll get back to you as soon as I have more information!

**_Regards,_**
Quratul Ain

[2021-11-23 07:07] ProductTeam-RepairDesk commented on #1707
Hey, @ZAGRAL  Hope you are doing well. I have read your request in detail. in invoice export, the ticket Id is already displayed. what we can do is that we can add two new columns where you can see who created the invoice and to whom the issue was assigned.

Regards:
Humza

[2021-11-23 09:56] Repairdesk-QA commented on #1758
Hi again @techm89, since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Regards,
Ayesha Aamir

Closing this task.

[2021-11-23 09:56] #1758 closed

[2021-11-23 09:57] Repairdesk-QA commented on #1760
Hi again @Cybertekww, since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Regards,
Ayesha Aamir

Closing this task.

[2021-11-23 09:57] #1760 closed

[2021-11-23 10:01] Repairdesk-QA commented on #1762
Hi again @Cybertekww, since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Regards,
Ayesha Aamir

Closing this task for now.

[2021-11-23 10:01] #1762 closed

[2021-11-23 10:03] Repairdesk-QA commented on #1745
Hi again @AbbyCSC, since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Regards,
Ayesha Aamir

Closing this task for now.

[2021-11-23 11:39] Repairdesk-QA commented on #1733
Hey @AVECorp

Thank you for bringing this to our attention! It looks like there's a bug that just popped up 🐛.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information! 😃

[2021-11-23 12:05] Repairdesk-QA commented on #1739
Hey, @AVECorp  I hope you are doing well.
I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. We have added to the backlog. I will keep you posted once we start working on it.

And I hope that if there’s anything else I can do for you, you won’t hesitate to let m

[2021-11-23 12:15] Repairdesk-QA commented on #1744
Hey, @AVECorp I hope you are doing well.
I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. We have added it to the backlog. I will keep you posted once we start working on it.

And I hope that if there’s anything else I can do for you, you won’t hesitate to let

[2021-11-23 12:45] Repairdesk-QA commented on #1737
Hi again @AbbyCSC, since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Regards,
Ayesha Aamir

Closing this task for now.

[2021-11-23 12:45] #1737 closed

[2021-11-23 12:48] Repairdesk-QA commented on #1665
Hi again @alliedcomputers, since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Regards,
Ayesha Aamir

Closing this task for now.

[2021-11-23 12:48] #1665 closed

[2021-11-23 12:49] Repairdesk-QA commented on #1664
Hi again @alliedcomputers, since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Regards,
Ayesha Aamir

Closing this task for now.

[2021-11-23 12:50] #1664 closed

[2021-11-23 12:57] ZAGRAL commented on #1707
I want in ITEMWISE SALES REPORT .csv file after downloading

Sent from Yahoo Mail on Android

  On Tue, 23 Nov 2021 at 12:37 pm, Product Team - ***@***.***> wrote:

Hey, @ZAGRAL Hope you are doing well. I have read your request in detail. in invoice export, the ticket Id is already displayed. what we can do is that we can add two new columns where you can see who created the invoice and to whom th

[2021-11-23 13:51] roccor2gaming commented on #1764
Thank you Ayesha. I do have another question:

We are using the Quickbooks Online integration and notice that when a work
order / estimate is accepted, it is automatically converted to an Invoice
and synchronized with Quickbooks. Our process involves some steps before we
want to generate an invoice once the estimate is approved.

What is the best way to deal with this?

Thank you,

On Fri, Nov 19,

[2021-11-23 15:12] AbbyCSC commented on #1737
While we were unable to figure out why inventory products were sometimes appearing as service on estimates, I now know how to fix when this happens so this can be closed.
Thank you

Abby Katz
Purchasing Manager
Computer SuperCenter of Greenwich
103 Mason St
Greenwich CT 06830
203-661-1700 option 2 Service
203-242-8654 direct line

From: Repairdesk-QA ***@***.***>
Sent: Tuesday, November 23, 2021 7

[2021-11-23 15:16] AbbyCSC commented on #1745
I would like this item to remain open as it has not been resolved.  I don't know what further information you need as I have explained the issue below.  When you edit an estimate it does not show the sku/id of the items.  Compare this to when you edit an invoice and you do see the sku/id.  The problem is I have many parts with the same description and once the estimate is created there is no way t

[2021-11-23 15:31] AbbyCSC commented on #1745
I have attached a screen shot of an estimate
Repairs - Manage Estimate - Edit existing estimate
You will see that you only see the product description  not the sku/id

I have also attached a screen shot of an invoice
Repairs - Manage Invoices - edit existing invoice
You will see that you can see the sku/id - that is what I would like to see when I edit an estimate.

Abby Katz
Purchasing Manager
Co

[2021-11-23 16:14] JessicaSOS commented on #1384
If you haven't changed anything, the problem should still be present. I no longer use this option since it has a problem, so you should do some testing on your end. You can refer to the description of the problem. Thanks for keeping me informed.

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579> 418 999.1579 |  <tel:4506771579> 450 677.1579 |  <tel:18559991579> 1 855 999.1579
 ***@***.

[2021-11-23 16:17] JessicaSOS commented on #1447
I was just talking about this to my colleague yesterday. It is still not settled and it is a handicap on a daily basis. Please read the description of the problem again because nothing is resolved. Please reopen and fix ASAP!

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579> 418 999.1579 |  <tel:4506771579> 450 677.1579 |  <tel:18559991579> 1 855 999.1579
 ***@***.***> ***@***.***
 <h

[2021-11-23 16:44] Naegele412 opened #1768 "PLEASE Update so Import Wizard MAPs Mobile Sentrix like IG"
Hey Guys,

So I've been using RepairDesk for 2 years and it's been a very frustrating 2yrs due to many issues surrounding inventory and models, mapping products, tickets, repairs, etc. I have recently deleted our ENTIRE inventory in an attempt to re-import the products from Mobile Sentrix and Injured Gadgets and have them mapped correctly WITHOUT DUPLICATES.

Herein lies the problem... Each parts

[2021-11-24 04:23] Repairdesk-QA commented on #1447
Hello @JessicaSOS,
Hope you are doing well.

Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

**_Regards,_**
Quratul Ain

[2021-11-24 04:27] Repairdesk-QA commented on #1384
Hello @JessicaSOS,
Hope you are doing well.

Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

**_Regards,_**
Quratul Ain

[2021-11-24 04:37] Repairdesk-QA commented on #1755
Hello @AVECorp,
Hope you are doing well.

Your reported issue has been fixed. Please verify at your end and do let us know if you have questions.
Waiting for your feedback.

**_Regards,_**
Quratul Ain

[2021-11-24 05:41] Repairdesk-QA commented on #1764
Hello @roccor2gaming,
I hope you are doing well. There is a trigger in **Settings > Module Configuration > Estimate > Once an estimate is approved automatically convert it to a ticket or an invoice**, kindly check if it's enabled on your account then simply disable it. Hope it will fix the problem.
![Repair Shop Repa (2)](https://user-images.githubusercontent.com/39614480/143181287-46c5ff98-38f9-4

[2021-11-24 05:53] Repairdesk-QA commented on #1707
Hey @ZAGRAL,
Ayesha here. I hope you are doing well. Sorry for the continued inconvenience. Could you please share your official email id associated with the RepairDesk account?
Thanks!

[2021-11-24 05:58] Repairdesk-QA commented on #1737
Hey @AbbyCSC,
I hope you are doing well. Thanks for the update on this. And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.
Have a good day!
Regards,
Ayesha Aamir

[2021-11-24 06:30] Repairdesk-QA commented on #1384
Hello @JessicaSOS,
Sorry for the inconvenience.

We have checked your concern and are unable to reproduce the issue.
**_Please have a look at the attached video:_**
https://watch.screencastify.com/v/lgYXsf5PeCaEH94CJo7V

Also, We are not able to watch the video you have previously attached because that might get expired.
It would be really great if you can share the new video so we can check again

[2021-11-24 06:57] Repairdesk-QA commented on #1768
Hello @Naegele412,
Hope you are doing well.

We are really sorry for the inconvenience you have been facing for 2 years.
I have noted your issue & will check at my end. Also, needs to discuss this with our Development Team & Product Team.
Will update you shortly.

Your patience means a lot to **_RepairDesk_**.

**_Regards,_**
Quratul Ain

[2021-11-24 07:32] Repairdesk-QA commented on #1745
Hello @AbbyCSC,
Hope you are doing well.

Your reported issue has been assigned to the development team and hopefully, it will be fixed in our next release.
Your patience would be highly appreciated.

**_Thanks & Regards,_**
Quratul Ain

[2021-11-24 07:32] Repairdesk-QA commented on #1745
**_For internal use only:_**https://repairdesk.atlassian.net/browse/RB-4171

[2021-11-24 08:08] ZAGRAL commented on #1707
***@***.***
    On Wednesday, November 24, 2021, 11:23:37 AM GMT+5:30, Repairdesk-QA ***@***.***> wrote:

Hey @ZAGRAL,
Ayesha here. I hope you are doing well. Sorry for the continued inconvenience. Could you please share your official email id associated with the RepairDesk account?
Thanks!

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or un

[2021-11-24 13:55] roccor2gaming commented on #1764
Thank you Ayesha. fyi: I checked this setting and it is already turned off.

Would it be worthwhile for us to show you or can you log into our account
to check this?

Thanks,

On Wed, Nov 24, 2021 at 12:41 AM Repairdesk-QA ***@***.***>
wrote:

--

Rocco DiPaola

***@***.***

O:  905-228-0322

M:  905-401-7066

*www.r2gaming.co <http://www.r2gaming.com/>m*

[2021-11-25 15:41] Repairdesk-QA commented on #1745
Hello @AbbyCSC,
Hope you are doing well.

Your reported issue has been fixed. Now you will be able to see the SKU of the product item while creating Estimate.
Kindly verify at your end and do let us know if you have any questions or issues.
Waiting for your feedback.

**_Regards,_**
Quratul Ain

[2021-11-26 07:28] Repairdesk-QA commented on #1764
Hey @roccor2gaming,
I hope you are doing well. Sorry for the delay but I was pulled away and caught up with work. I have checked on your account the above mentioned trigger is **OFF** in estimate settings so it means the estimate cannot be converted into ticket/invoice automatically.
The scenario of invoice to get sync with Quickbooks is **If an estimate is converted to an invoice and the Invoice

[2021-11-26 16:22] roccor2gaming opened #1769 "Rounding up error on quotations"
There is a rounding up error on our quotations. The HST (Harmonized Sales Tax) is 13%.
HST is being rounded up to 0.07 cents, when the tax should be 0.065 cents per unit.

Tax should be $19.50, not $20.50 as stated on the quote. Below is a link to an example invoice where the tax should have been .065 cents per unit rather than 0.07 cents per unit. Thank you,

![image](https://user-images.githubus

[2021-11-26 17:51] AbbyCSC commented on #1745
The problem is not when you create the estimate but after you have saved the estimate and go back and edit.  When you edit an estimate it only shows description not part number.  That is what I was showing in the photos.  I am out of the office today but can talk to you next week if that would be helpful.
Thank you for your attention to this matter.
Abby

________________________________
From: Rep

[2021-11-26 21:14] JessicaSOS commented on #1384
Are you able to modify an inventory quantity with the excel file? Is this new quantity changed in repairdesk after importing the file?

I cannot remake a video for all the bugs that I have reported to you, from which I await your response which takes from several months to several years. What about my other reported issues?

-----

Êtes-vous en mesure modifier une quantité en inventaire avec le fi

[2021-11-26 21:18] JessicaSOS commented on #1568
When are we going to be able to put the simple photo in our wiki article?

[2021-11-26 21:28] JessicaSOS commented on #1448
It will be 1 year since I postpone this problem. I feel like if I don't follow up you are doing nothing and paying no attention to my reported issues. After several months sometimes, you just tell me that you don't have this problem on your end. It takes me a while to list all the issues with images and translate the text into 2 languages, while keeping track of me to get the job done.

Here are i

[2021-11-29 04:42] Repairdesk-QA commented on #1769
Hello @roccor2gaming,
Hope you are doing well.

Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
Your reported issue has been assigned to the development team. I will update you shortly with the status.

**_Regards,_**
Quratul Ain

[2021-11-29 04:43] Repairdesk-QA commented on #1769
**_For internal use only:_** https://repairdesk.atlassian.net/browse/RB-4191

[2021-11-29 05:09] Repairdesk-QA commented on #1745
Hello @AbbyCSC,
Hope you are doing well.

Thank you for your patience and understanding.
Kindly inform us once you are in the office so we can discuss this in more detail.

**_Regards,_**
Quratul Ain

[2021-11-29 05:16] Repairdesk-QA commented on #1384
Hello again @JessicaSOS,
Hope you are doing well.

Sorry for the inconvenience and delay you had to face.
Yes, we can modify inventory quantity while importing excel files.
I hope this might have cleared your query.
If you still have any issues, please do not hesitate to reach out.

**_Regards,_**
Quratul Ain

[2021-11-29 05:20] Repairdesk-QA commented on #1448
Hello @JessicaSOS,
Hope you are doing well.

Sorry for the delay and inconvenience.
We will investigate it internally and let you know once we have further information on it.
Your patience means a lot to **_RepairDesk._**

**_Regards,_**
Quratul Ain

[2021-11-29 06:10] Repairdesk-QA commented on #1768
Hello @Naegele412,
Hope you are doing well.

I have checked your concern but unfortunately, I am unable to reproduce your issue.
Would be great if you can share a video of this issue or detailed steps so we can release a fix during our next release. You can put together a video using Screencastify.
If you have any questions or if there is anything else with which I may assist, please do not hesita

[2021-11-30 07:37] Repairdesk-QA commented on #1743
Hey @MyPhoneRepair,
I hope you are doing well. Sorry for the continued inconvenience. There can be multiple reasons for not importing the complete Mobile Sentrix inventory to your RepairDesk account, so can you please connect with one of our support agent on live chat so that he can look into the issue you are facing in detail?
Thanks & Regards,
Ayesha Aamir

[2021-12-01 15:13] AbbyCSC commented on #1745
Hello,
Sorry for the delay in responding. I can talk anytime today until 4:00PM EST or anytime Thursday or Friday 9:00AM to 4:00 PM EST.

Thank you
Abby

Abby Katz
Purchasing Manager
Computer SuperCenter of Greenwich
103 Mason St
Greenwich CT 06830
203-661-1700 option 2 Service
203-242-8654 direct line

From: Repairdesk-QA ***@***.***>
Sent: Monday, November 29, 2021 12:09 AM
To: Repair-DeskPOS/Re

[2021-12-02 00:19] Duinobot opened #1770 "Customer Portal login no reponse on mobile device (embedded in iFrame)"
This iframe embedded customer portal works on a computer but not on a phone.
![image](https://user-images.githubusercontent.com/22292994/144334786-30e1ec8c-f968-4e8b-8266-8ec5a73234dc.png)
![fe65163ea1cc33ed8379a70aac196ec](https://user-images.githubusercontent.com/22292994/144334964-0cb94ad7-7d25-499d-b665-0aa5698333de.jpg)

[2021-12-02 06:33] Repairdesk-QA commented on #1770
Hello @Duinobot,
Hope you are doing well.

Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Your patience would be highly appreciated.

**_Thanks & Regards,_**
Quratul Ain

[2021-12-02 10:36] Repairdesk-QA commented on #1745
Hello @AbbyCSC,
Hope you are doing well.

No issues on that. We totally value your time.
I have checked your concern in invoices too but we are also not able to see the SKU in edit mode.
Actually, this is related to the database & is our current functionality.
I hope you understand but if you still have issues you can tell us or can connect with Danish or Shakeeb our support agents on live chat so

[2021-12-02 12:41] #1755 closed

[2021-12-02 13:05] Repairdesk-QA commented on #1770
Hello @Duinobot,
Hope you are doing well.

I have checked your concern but unfortunately, I am unable to reproduce your issue. Would be great if you can share a video of this issue or detailed steps so we can release a fix during our next release. You can put together a video using Screencastify.
If you have any questions or if there is anything else with which I may assist, please do not hesitate

[2021-12-02 13:39] AbbyCSC commented on #1745
Thank you for your reply.
If I understand you correctly, you are saying you understand my issue but that the current functionality.  We don't need a call to discuss if that is the case.

Abby Katz
Purchasing Manager
Computer SuperCenter of Greenwich
103 Mason St
Greenwich CT 06830
203-661-1700 option 2 Service
203-242-8654 direct line

From: Repairdesk-QA ***@***.***>
Sent: Thursday, December 2, 2

[2021-12-03 04:34] Repairdesk-QA commented on #1745
Hello again @AbbyCSC,
Thanks for understanding.
If you have any other questions or feedback for us, please get in touch.
We really appreciate any suggestions you have.

**_Regards,_**
Quratul Ain

[2021-12-03 07:40] Repairdesk-QA commented on #1447
Hello **@JessicaSOS,**
Hope you are doing well !

I have checked your concerns, Your **first** concern regarding duplication when adding customers from POS , we have recently fix this issue and is live. So If you will enter duplicate numbers it will merge them when you will save the form.

Please have the video for reference: https://watch.screencastify.com/v/wpjx9uA2Y2NeyMrKiEXK

Your **Second**

[2021-12-06 12:22] Repairdesk-QA commented on #1769
Hello @roccor2gaming,
Hope you are doing well.

I would like to inform you that RepairDesk is supporting values up to 2 decimals.
Your reported issue has been tested & discussed with our Development Lead and according to the discussion, we have concluded that we can not change it to 3 decimals due to the dependency of the calculations in the whole software.

I hope that if there’s anything else I

[2021-12-06 15:14] ProntoFix opened #1771 "API issues"
API questions

- On the get for devices we do not receive the colour variations in the request  (Get /devices )
- On the get for problems we do not receive de detail information  (Get/problems/:id)

[2021-12-06 16:55] mobilexpertmiami opened #1772 "Item ID barcode on Item labels"
The only barcode that can be added to the Item Labels is the SKU/UPC, however I think the Item ID barcode works much better to me and I would like to have the option to add the Item ID barcode.

[2021-12-07 01:46] roccor2gaming commented on #1769
Good day. Thank you for looking into this and for your response.

It is unfortunate that the decimal places are restricted to 2 decimals and
I understand how that limitation would adversely affect the HST calculation
for goods under $1 per unit.

Can you please ask the Engineering team to consider the following fix:

a) For unit costs under $1, it is no problem to round to 2 decimal places.
For ex

[2021-12-07 04:39] Repairdesk-QA commented on #1771
Hey @ProntoFix,
I hope you are doing well. Thank you for bringing this to our attention! It's an improvement. I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks!
Ayesha Aamir

[2021-12-07 04:41] Repairdesk-QA commented on #1771
**_For internal use:_**
https://repairdesk.atlassian.net/browse/REP-3415

[2021-12-07 04:59] Repairdesk-QA commented on #1769
Hello @roccor2gaming,
Hope you are doing well.

Thank you so much for your detailed calculations and the proposed method.
This is under discussion with the development team and will let you know about the updates.

Your patience would be highly appreciated.

**_Regards,_**
Quratul Ain

[2021-12-07 05:04] ProductTeam-RepairDesk commented on #1772
Hey, @mobilexpertmiami  Hope you are doing well. you can print barcodes based on Item Id if Sku is not given while creating the product. if SKU is present then the system will barcode will be printed based On SKU.
Hope this helps, if there is anything I can help you with do let me know.

Regards:
Humza

[2021-12-07 05:16] Repairdesk-QA commented on #1770
Hye again @Duinobot.
Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Regards,
Ayesha Aamir

[2021-12-07 05:20] Repairdesk-QA commented on #1768
Hi again @Naegele412, since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
**_Regards,_**
Ayesha Aamir

[2021-12-07 05:26] Repairdesk-QA commented on #1743
Hi again @MyPhoneRepair, since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Regards,
Ayesha Aamir

[2021-12-07 05:26] #1743 closed

[2021-12-07 05:53] Repairdesk-QA commented on #1745
Hi @AbbyCSC,
I hope you are doing well. I'm closing this task for now and I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.
Thanks,
Ayesha Aamir

[2021-12-07 05:53] #1745 closed

[2021-12-07 06:19] ProductTeam-RepairDesk commented on #1629
Hey @RDimprovement  Hope you are doing well, we have updated the QuickBooks functionality where you can sync your inventory based on purchases.
Based on the trigger in quick books, you can sync Inventory based on Purchase.
<img width="1085" alt="Screenshot 2021-12-07 at 10 41 39 AM" src="https://user-images.githubusercontent.com/22955861/144973422-d1818a36-c5e4-45fc-b654-764fcf93ac8b.png">
Based o

[2021-12-07 06:21] Repairdesk-QA commented on #1707
Hi @ZAGRAL,
Ayesha here. I hope you are doing well. I'm unable to understand the email id you provided above. Can you please connect with one of our support agent on live chat so that he can look into the issue you are facing in detail? Thanks!
I'm closing this task for now and I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.

[2021-12-07 06:27] Repairdesk-QA commented on #1638
Hi again @antoinegali, since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Thanks,
Ayesha Aamir

[2021-12-07 06:27] #1638 closed

[2021-12-07 06:36] Repairdesk-QA commented on #1568
Hi @JessicaSOS,
Ayesha here. I hope you are doing well. I have checked your concern but everything is working fine on my end.
I will request you to schedule a call with **Fahad Imran, Manager Customer Success and Support**. Kindly book a slot from the link in order to connect with him:
https://calendly.com/fahadimran
I am sure he will be able to assist with the above query and take relevant inform

[2021-12-07 06:36] Repairdesk-QA commented on #1715
Hello @Omar1892,
Hope you are doing well.

We sincerely apologize for the inconvenience and we have released a fix for this issue. Can you please confirm if you are still getting the same issue?
And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.

**_Regards,_**
Quratul Ain

[2021-12-07 07:17] Repairdesk-QA commented on #1460
Hey @jphansendk,
I hope you are doing well. I believe this issue has been fixed in the recent update. Can you give it another try?
Thanks,
Ayesha Aamir

[2021-12-07 08:31] ZAGRAL commented on #1707
Sorry my issue is not solved & u have close my #1707

    On Tuesday, December 7, 2021, 11:51:32 AM GMT+5:30, Repairdesk-QA ***@***.***> wrote:

Closed #1707.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.

[2021-12-07 10:11] Repairdesk-QA commented on #1723
Hey @AVECorp

Hope you are doing well!
The reported issue has been fixed. You can check it at your end as per convenience.
And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.

Regards,
Hina

[2021-12-07 10:11] #1723 closed

[2021-12-07 10:15] Repairdesk-QA commented on #1707
Hey @ZAGRAL,
Ayesha here. I hope you are doing well. Sorry for the inconvenience. I have gone through the above mentioned issue and it seems that I will need more information regarding the issue.
I will request you to schedule a call with **Faizan Zaheer**. Kindly book a slot from the link in order to connect with him:
https://calendly.com/faizan-zaheer20111/trainings?month=2020-09
I am sure he wi

[2021-12-07 10:20] Repairdesk-QA commented on #1515
Hi again @jphansendk, since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Thanks,
Ayesha Aamir

[2021-12-07 10:20] #1515 closed

[2021-12-07 10:45] Repairdesk-QA commented on #1694
Hello **@YZFTechRepairs**,
Hope you are doing well !
I have checked your concern but unfortunately, I am unable to reproduce your issue. Would be great if you can share a video of this issue or detailed steps so we can release a fix during our next release. You can put together a video using Screencastify.
If you have any questions or if there is anything else with which I may assist, please do no

[2021-12-07 13:12] roccor2gaming commented on #1769
Thank you very much for considering my suggested resolution.

Much appreciated. Regards,

On Mon, Dec 6, 2021 at 11:59 PM Repairdesk-QA ***@***.***>
wrote:

--

Rocco DiPaola

***@***.***

O:  905-228-0322

M:  905-401-7066

*www.r2gaming.co <http://www.r2gaming.com/>m*

[2021-12-07 18:53] YZFTechRepairs commented on #1694
Here is a link to a video depicting the issue.

https://drive.google.com/file/d/13uYyEHa7SAcGrcFt3xjgCmo4HYaLu-wN/view

[2021-12-07 19:01] jphansendk commented on #1694
Did you untick "Hide Out of stock Repair parts from POS" under settings/Module Configuration/Point of Sale?

[2021-12-07 19:05] YZFTechRepairs commented on #1694
Yes, I have turned that off and the issue still persists.

On Tue., Dec. 7, 2021, 12:01 p.m. JP Hansen, ***@***.***>
wrote:

[2021-12-07 19:07] jphansendk commented on #1694
Did you give the spare part same RepairDesk category as the device?

[2021-12-07 19:10] YZFTechRepairs commented on #1694
I am not sure what you mean by that.

On Tue., Dec. 7, 2021, 12:07 p.m. JP Hansen, ***@***.***>
wrote:

[2021-12-08 08:13] jphansendk commented on #1694
Sorry, I'm mixing things up. That's in repair services.

[2021-12-08 15:33] LordofJesters opened #1773 "Ticket Search Parameter"
What if we could look up Tickets by comments? or even by most recently edited? I have had a few technicians that had forgotten the exact ticket they were looking at. and when there are multiple of the same ticket type, either of these may be useful parameters.

[2021-12-09 05:14] Repairdesk-QA commented on #1769
Hello again @roccor2gaming,
Hope you are doing well.

We really appreciate that you took the time to share your ideas.
We have discussed your proposed suggestion and concluded that this is one of the correct ways to do calculations but for now, it is not possible to change this time as our team is working on RepairDesk 2.0.
Also, we have to implement it throughout the system wherever we have calcu

[2021-12-09 06:58] Repairdesk-QA commented on #1694
Hello **@YZFTechRepairs** ,
Hope you are doing well !

Sure thing! Got your Response. Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

Regards,
**Nida Khalid**

[2021-12-09 09:47] Repairdesk-QA commented on #1594
Hello @afrahm,
Hope you are doing well.

Sorry for the delay but I would like to guide you about Employee Productivity Report.
We have an option of **_Completed Jobs_** in **_Employee Productivity Report_** which will display the completed repairs by an employee in a given period of time.
For better understanding, kindly look into these attacaements:
![image](https://user-images.githubusercontent.

[2021-12-09 09:50] Repairdesk-QA commented on #1701
Hello @afrahm,
Hope you are doing well.

You can schedule a call with **_Danish Hassan, Customer Success and Support_**. Kindly book a slot from the link in order to connect with him:
https://calendly.com/danishhassan
I am sure he will be able to assist with the above query and take relevant information so we can address your concerns timely.

**_Thanks & Regards,_**
Quratul Ain

[2021-12-09 10:16] Repairdesk-QA commented on #1771
**Hey @ProntoFix,**
I hope you are doing well. Your suggested Improvement is live now. Can you give it another try?
If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.
**Have a good day!**

**Thanks,**
_Ayesha Aamir_

[2021-12-09 10:19] #1771 closed

[2021-12-09 14:26] roccor2gaming commented on #1769
Thank you for the response Quratul. Fully understand that this may not be
able to be incorporated for the release of 2.0 but can  you please keep us
informed as to when this can be included as a bug fix after 2.0 is released.

Thank you,

On Thu, Dec 9, 2021 at 12:14 AM Repairdesk-QA ***@***.***>
wrote:

--

Rocco DiPaola

***@***.***

O:  905-228-0322

M:  905-401-7066

*www.r2gaming.co <http://w

[2021-12-09 15:57] ProductTeam-RepairDesk commented on #1773
Hey, @LordofJesters hope you are doing well, I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work.

Regards:
Humza

[2021-12-09 15:57] #1773 closed

[2021-12-09 16:00] #1751 closed

[2021-12-09 16:03] #158 closed

[2021-12-09 16:05] #598 closed

[2021-12-09 16:06] #441 closed

[2021-12-09 22:51] afrahm commented on #1594
Yes I understand how that works.

But if the employee is not assigned to a ticket that is created in the date
period it will not show up any tickets, even if they are completed during
that date period, and I want to be able to see all completed tickets in a
set date period whether they were assigned to tickets that were created in
that date period or not.

On Thu, Dec 9, 2021 at 7:47 PM Repairdesk

[2021-12-10 01:14] AMott-2020 opened #1774 "Ticket/Invoice Suggestion"
A place to add tracking numbers and carrier to tickets that carries over to invoices for the repairs that are mailed back to the customer.

[2021-12-10 05:02] ProductTeam-RepairDesk commented on #1774
Hey, @AMott-2020
 Hope you are doing well. I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work during this Quarter. I will keep you posted once we start working on it.
And I hope that if there’s anything else

[2021-12-10 05:03] #159 closed

[2021-12-10 05:04] #198 closed

[2021-12-10 05:08] #203 closed

[2021-12-10 05:10] Repairdesk-QA commented on #1769
Thanks for understanding @roccor2gaming,
Sure thing, we will definitely update you about this hopefully, in the near future.

If you still have any issues or questions, please do not hesitate to reach out.
It's our pleasure to assist you.

**_Regards,_**
Quratul Ain

[2021-12-10 05:10] #230 closed

[2021-12-10 05:15] Repairdesk-QA commented on #1770
Hello @Duinobot,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Closing this issue for now, but you can always open this when you want to.

**_Regards,_**
Quratul Ain

[2021-12-10 05:15] #1770 closed

[2021-12-10 05:20] Repairdesk-QA commented on #1768
Hello @Naegele412,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Closing this issue for now, but you can always open this when you want to.

**_Regards,_**
Quratul Ain

[2021-12-10 05:22] #1768 closed

[2021-12-10 05:23] #403 closed

[2021-12-10 05:24] #1306 closed

[2021-12-10 05:25] #376 closed

[2021-12-10 05:25] #1242 closed

[2021-12-10 05:26] #1219 closed

[2021-12-10 05:26] Repairdesk-QA commented on #1715
Hello @Omar1892,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Closing this issue for now, but you can always open this whenever you want to.

**_Regards,_**
Quratul Ain

[2021-12-10 05:26] #1715 closed

[2021-12-10 05:28] Repairdesk-QA commented on #1710
Hello @Stylemyphones,
Hope you are doing well.

Since you have scheduled a call with **_Sir Fahad Imran_**,  I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

**_Regards,_**
Quratul Ain

[2021-12-10 05:30] Repairdesk-QA commented on #1769
**Hey @roccor2gaming,**
I hope you are doing well.

I really appreciate that you took the time to share your ideas.
I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work during the 4th Quarter.
And I hope that i

[2021-12-10 05:43] Repairdesk-QA commented on #1707
Hello @ZAGRAL,
Hope you are doing well.

I hope your issue has been resolved but if not please do not hesitate to reach out.
Waiting for your response!

**_Regards,_**
Quratul Ain

[2021-12-10 05:54] Repairdesk-QA commented on #1568
Hello @JessicaSOS,
Hope you are doing well.

I hope you have scheduled a call with **_Fahad Imran_** & your issue has been resolved.
Kindly let us know if you still have the issue.
Waiting for your kind response!

**_Regards,_**
Quratul Ain

[2021-12-10 06:03] Repairdesk-QA commented on #1460
Hello @jphansendk,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up.
Closing this issue for now, but you can always open this whenever you want to.

**_Regards,_**
Quratul Ain

[2021-12-10 06:04] #1460 closed

[2021-12-10 06:23] Repairdesk-QA commented on #1447
Hello @JessicaSOS,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Closing this issue for now, but you can always open this when you want to.

**_Regards,_**
Quratul Ain

[2021-12-10 06:27] Repairdesk-QA commented on #1384
Hello @JessicaSOS,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Closing this issue for now, but you can always open this whenever you want to.

**_Regards,_**
Quratul Ain

[2021-12-10 06:32] Repairdesk-QA commented on #1265
Hello @TechTraders,
Hope you are doing well.

Thanks for your patience. Your reported issue has been fixed and is live.
Kindly verify at your end and do let us know if you still have any questions.
Waiting for your feedback!

**_Regards,_**
Quratul Ain

[2021-12-10 06:35] Repairdesk-QA commented on #1223
Hello @Omar1892,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Waiting for your response.

**_Regards,_**
Quratul Ain

[2021-12-10 06:38] Repairdesk-QA commented on #1211
Hello @Omar1892,
Hope you are doing well.

We sincerely apologize for the inconvenience and we have released a fix for this issue. Can you please confirm if you are still getting the same issue?
Waiting for your response.

**_Regards,_**
Quratul Ain

[2021-12-10 06:44] Repairdesk-QA commented on #1312
Hello @JessicaSOS,
Hope you are doing well.

We sincerely apologize for the inconvenience and we have released a fix for this issue. Can you please confirm if you are still getting the same issue?
Kindly let us know about your feedback.

**_Regards,_**
Quratul Ain

[2021-12-10 06:45] Repairdesk-QA commented on #882
**Hey @JessicaSOS,**
**I hope you are doing well.**

Ayesha here. Sorry for the delay and inconvenience you have faced. I have checked your reported issue in detail and found the functionality is working fine currently I think the reported issue is fixed now. Can you give it another try?

Attaching reference screenshots from my test account for your better understanding.

![Repair ShopRepairDesk -

[2021-12-10 07:00] ProductTeam-RepairDesk commented on #1023
Hey, @Repair-Desk Hope you are doing well, above mentioned improvements is live now if the ticket is marked as paid or repaired and collected an automated email is triggered.

Regards:
Humza

[2021-12-10 07:00] #1023 closed

[2021-12-10 07:05] Repairdesk-QA commented on #1373
Hello @JessicaSOS,
Hope you are doing well.

Thanks for your patience.
We have checked this & is working fine on our end.
Can you please check at your end if you still have this issue or not? Kindly let us know.
Waiting for your kind response!

**_Regards_**
Quratul Ain

[2021-12-10 07:07] Repairdesk-QA commented on #1206
Hello @R2Repair,
Hope you are doing well.

We sincerely apologize for the inconvenience.
We have released a fix for this issue. Can you please confirm if you are still getting the same issue?
Waiting for your response!

**_Regards,_**
Quratul Ain

[2021-12-10 07:10] #1186 closed

[2021-12-10 07:11] #765 closed

[2021-12-10 07:11] #1183 closed

[2021-12-10 07:12] #1244 closed

[2021-12-10 07:45] #199 closed

[2021-12-10 07:48] #365 closed

[2021-12-10 08:00] Repairdesk-QA commented on #1701
Hello @afrahm,
Hope you are doing well.

I have checked you concern and wanted to tell you that the Price of Part system is using for Estimated Profit is Cost Price.
Whatever the cost price in the system (Manage inventory), the calculations will be done on that.
We have no link with the Price in Purchase Order for calculating Estimated Profit.
For better understanding, kindly have a look at the at

[2021-12-10 08:06] #1701 closed

[2021-12-10 12:31] Repairdesk-QA commented on #1448
Hello @JessicaSOS,
Hope you are doing well.

I have checked your concern and have the following findings.
We will take **_item#9148_** as an example.

**_Item #9148_** first has been **_removed_** its Manufacturer from **_Apple_** on **_21 Dec, 2020_** on **_Store Levis_**
![image](https://user-images.githubusercontent.com/39614480/145573731-8964db1d-681b-4a68-b1ec-ceb5842d99d8.png)

**_On 19 Jan,

[2021-12-10 12:39] Repairdesk-QA commented on #1594
Hello again @afrahm,

Sorry to tell you but there is no filter yet to see unassigned tickets.
Employee Productivity is all related to seeing the performance of employees.
I hope you will understand.

If there is anything else I can do for you, I hope you won't hesitate to reach out.

**_Regards,_**
Quratul Ain

[2021-12-10 12:42] afrahm commented on #1594
I’m not talking about unassigned tickets.

I want the tickets that are completed between certain dates.. even if the
tech was not assigned to any new tickets in that date range.

This is how it works.. if I’m not assigned a ticket today.. it won’t show
any tickets I complete today.

On Fri, 10 Dec 2021 at 10:39 pm, Repairdesk-QA ***@***.***>
wrote:

--

Regards,

[image: Kixup iPhone Repairs] <htt

[2021-12-10 12:55] Repairdesk-QA commented on #1594
**Hey @afrahm,**
Ayesha here. I hope you are doing well. Can you please connect with one of our support agent on live chat so that he/she can look into the issue you are facing in detail and we can assist you in a better way?
**Thanks!**

[2021-12-10 18:00] Stylemyphones commented on #1710
Hello,
Thank you for your message!

There was actually still no resolution to this glitch after my call with Sir Fahad Imran, he said he would keep looking into it.
However, I will definitely be in touch if anything else comes up, and please, you do the same if you know of any advances with this issue.

Best Regards,
Alejandra Salazar.

[2021-12-10 18:20] #416 closed

[2021-12-10 18:21] #524 closed

[2021-12-10 18:22] #537 closed

[2021-12-10 18:23] #1085 closed

[2021-12-10 18:25] #1121 closed

[2021-12-10 18:26] #1118 closed

[2021-12-10 18:27] #1101 closed

[2021-12-10 18:29] #1398 closed

[2021-12-10 18:31] #1084 closed

[2021-12-10 18:32] #1391 closed

[2021-12-10 18:34] #1466 closed

[2021-12-10 18:35] #986 closed

[2021-12-10 23:07] ZombiePhoneRepair opened #1775 "Missing functions Widget BuyBack"
As an example, that several defects cannot be selected when buying a cell phone with the BuyBack widget, just like that there is no function that if you say ok, the cell phone looks like new but the charging socket does not work, that is automatically calculated as the normal one price the repair cost will be deducted from the normal price automatically

As an example invoice

The mobile phone Sam

[2021-12-11 10:33] #1493 closed

[2021-12-11 10:37] ProductTeam-RepairDesk commented on #1380
Hey, @JeffFIZUAS  Shopify integration is live now, for more detail you can review the KB article link attached below.
https://help.repairdesk.co/knowledgebase/articles/1975338-how-to-setup-shopify-integration-in-repairdesk

Regards:
Humza

[2021-12-11 10:37] #1380 closed

[2021-12-11 10:38] #961 closed

[2021-12-11 11:02] jphansendk opened #1776 "Trade-in devices and refurb tickets issue"
So.. When you do a lot of trade-in like we do you sometimes get the same device twice..
Our problem is - when you refurb the same device more then once you are not able to handle that with a trade-in device.. Once a refurb ticket is made on a trade-in device - you cannot make a new refurb ticket.. You have the option to make a new services row.. fine.. but that will not change the status of the tr

[2021-12-11 11:07] jphansendk opened #1777 "Convert ticket to BuyBack/trade-in device.."
Would be REALLY nice if you could convert a ticket to a buyback. I see this as a great function to buy a device if the customer thinks the repair is too expensive - or for other reasons. In our workflow we buy back all devices we get on tickets from a specific client.. We would use this feature every day.

[2021-12-12 07:22] ZAGRAL commented on #1707
i hope you have not understood my issue please  still my problem is not resolved
1)

2) IN EXCEL CSV FILE IN ITEMWISE REPORT ADD THREE COLUMNS TICKET NO, ASSIGNED BY & CREATED BY

HOW LONG TIME IS GONE STILL MY PROBLEM IS NOT SOLVED    On Friday, December 10, 2021, 11:14:00 AM GMT+5:30, Repairdesk-QA ***@***.***> wrote:

Hello @ZAGRAL,
Hope you are doing well.

I hope your issue has been resolved

[2021-12-13 04:31] Repairdesk-QA commented on #1776
Hello @jphansendk,
Hope you are doing well.

I have checked your concern and wanted to tell you that this is the flow of our system because when something is in refurbishment, we all not be able to sell that.
But, I've noted your enhancement will update you shortly by discussing this with our **_Business Analyst_**.
Your patience would be highly appreciated.

**_Regards,_**
Quratul Ain

[2021-12-13 05:02] Repairdesk-QA commented on #1710
Hello @Stylemyphones,
Hope you are doing well.

I've double-checked your concern and is working fine on my end. Kindly have this video for reference:
https://www.screencast.com/t/OQUKwLFIJQYb

There might be some issues with your device.
Can you please check at your end?
Also, I will keep you updated with the findings of Sir Fahad Imran.

Until then, just be with us. We really appreciate your time

[2021-12-13 05:07] Repairdesk-QA commented on #1707
Hello @ZAGRAL,
Hope you are doing well.

Sorry for the inconvenience but your improvement is in progress & will be live in the next release.
Thanks for your patience!

**_Regards,_**
Quratul Ain

[2021-12-13 05:07] Repairdesk-QA commented on #1707
**_For internal use only:_**https://repairdesk.atlassian.net/browse/REP-3383

[2021-12-13 10:27] ProntoFix opened #1778 "Model number entry box"
<img width="779" alt="Schermafbeelding 2021-12-13 om 11 24 05" src="https://user-images.githubusercontent.com/89073213/145795586-b2832277-8734-4204-bf02-49d32111d6cd.png">

It wouldn't be a bad thing if there is a "model number box". Now I have to type it next to the device name, but that doesn't look pretty in Appointment Calendar.

[2021-12-13 12:20] Repairdesk-QA commented on #1568
Hello @JessicaSOS,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Closing this issue for now, but you can always open this whenever you want to.

**_Regards,_**
Quratul Ain

[2021-12-13 12:21] Repairdesk-QA commented on #1448
Hello @JessicaSOS,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Closing this issue for now, but you can always open this whenever you want to.

**_Regards,_**
Quratul Ain

[2021-12-13 12:22] Repairdesk-QA commented on #1373
Hello @JessicaSOS,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Closing this issue for now, but you can always open this whenever you want to.

**_Regards,_**
Quratul Ain

[2021-12-13 12:24] Repairdesk-QA commented on #1312
Hello @JessicaSOS,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Closing this issue for now, but you can always open this whenever you want to.

**_Regards,_**
Quratul Ain

[2021-12-13 12:25] Repairdesk-QA commented on #1265
Hello @TechTraders ,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Closing this issue for now, but you can always open this whenever you want to.

**_Regards,_**
Quratul Ain

[2021-12-13 12:25] #1265 closed

[2021-12-13 12:26] Repairdesk-QA commented on #1223
Hello @Omar1892,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Closing this issue for now, but you can always open this whenever you want to.

**_Regards,_**
Quratul Ain

[2021-12-13 12:26] #1223 closed

[2021-12-13 12:27] Repairdesk-QA commented on #1211
Hello @Omar1892,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Closing this issue for now, but you can always open this whenever you want to.

**_Regards,_**
Quratul Ain

[2021-12-13 12:27] #1211 closed

[2021-12-13 12:28] Repairdesk-QA commented on #1206
Hello @R2Repair,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Closing this issue for now, but you can always open this whenever you want to.

**_Regards,_**
Quratul Ain

[2021-12-13 12:29] Repairdesk-QA commented on #882
Hello @JessicaSOS,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Closing this issue for now, but you can always open this whenever you want to.

**_Regards,_**
Quratul Ain

[2021-12-13 12:55] Repairdesk-QA commented on #1710
Hello again @Stylemyphones,
I have discussed your issues with Sir Fahad Imra, he is looking into this. Also, he has already reported your other issues and are in progress.
He will update you shortly about them.
Closing this task, for now, our support team will contact you shortly about the updates.

If you have any other issues, please do not hesitate to reach out.

**_Regards,_**
Quratul Ain

[2021-12-13 12:55] #1710 closed

[2021-12-13 13:09] RakeshR2 commented on #1206
Good Morning,

We are still having the same issue.

Thank you,
Rakesh Chandravadia

R2 Repair

[image: r2logo]

E:   ***@***.***

*Technical or General Inquiries: ***@***.****
***@***.***>

*Technical Support contact number: 905-901-3108 Ext 15 (or Ext 24 after
3:30 pm and at weekends)*

*Repair Services and parts quotes: ***@***.****
***@***.***>

*www.R2Gaming.com* <http://www.r2gaming.com/>

[2021-12-13 13:15] Repairdesk-QA commented on #1594
Hi again @afrahm, since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
**Thanks,**
Ayesha

[2021-12-13 14:38] R2Repair commented on #1206
Confirmed,

The issue is still happening.

Tim

On Mon, Dec 13, 2021 at 8:09 AM 'RakeshR2' via R2 Repair <
***@***.***> wrote:

--

*Technical or General Inquiries: ***@***.***
***@***.***>*

*Repair Services and parts quotes: ***@***.***
***@***.***>*

*Technical Support contact number: 905-901-3108 Ext 15 or Ext 24 after 3:30
pm and at weekends)*

"If you want to lift yourself up, lift up someon

[2021-12-13 19:18] yourrepairdepot opened #1779 "Tracking Employee Sales From Tickets"
When tracking 'Sales By Employee' in reports by the item/ticket type there is an improvement that can be added. An employee that opens a repair ticket will show all sales added to it under reports even if another employee adds those items.

**Example:**
1) Employee A creates repair ticket - $100 Total
2) Employee B adds an accessory Item to the ticket such as Tempered Glass - $30 Total

**Result:*

[2021-12-13 20:11] JessicaSOS commented on #882
1 year and a half of waiting period on my side for you to solve the problem and you give me 4 days of delay before closing the ticket ??? If the ticket is still open, it is not settled. Problems do not resolve themselves. If you didn't do anything, the problem is still there. REOPEN
<img width="943" alt="tiket" src="https://user-images.githubusercontent.com/40500094/145881368-2d28f085-9ba1-436e-9c

[2021-12-13 20:30] JessicaSOS commented on #1448
If the ticket is still open, it is not fixed. Problems do not resolve themselves. If you didn't do anything, the problem is still there. In this case, it is an intermittent and always present problem.

I still have this problem on my side, Please reopen the ticket.

[2021-12-13 20:39] JessicaSOS commented on #1568
I will not schedule a call to correct this. You have all the information on your side to be able to solve this problem. You can try to put the image yourself in the wiki text and you will see.

If the ticket is still open, it is not settled. Problems do not resolve themselves. If you didn't do anything, the problem is still there.

I still have this problem on my side, Please reopen the ticket. Se

[2021-12-13 20:57] JessicaSOS commented on #1384
Looks like you didn't watch the video or read the text of the mentioned problem. Here it is again and thank you for reopening the ticket:

Hello,
I am not able to change the cost prices and the quantity in inventory using import / export in "inventory", "manage inventory", "part and accessory". I have no problem with the export. I have no problem modifying the file. I have no problem importing the

[2021-12-13 21:05] JessicaSOS commented on #1373
Hello,

Here are the tasks / issues / bugs that are still being tracked on my end. Some date from 2018 and it hangs in my emails. I would like this to be resolved. I believe I have been more than patient.

# 415

# 417 & # 463 & # 735

# 422

# 619

# 1447

# 1568

# 1448

# 1384

# 1373

# 1312

Tnx

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579> 418 999.1579 |  <tel:4506771579> 45

[2021-12-14 05:17] Repairdesk-QA commented on #1206
Hey @R2Repair,
I hope you are doing well. Let me discuss your concern with our Business Analyst & Development Team to get this taken care of, I'll get back to you as soon as I have more information! For now, I'm re-opening this task again.
Thanks!
Ayesha Aamir

[2021-12-14 05:26] Repairdesk-QA commented on #1312
Hey @JessicaSOS,
I hope you are doing well.
Sorry for the continued inconvenience. Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Regards,
Ayesha Aamir

[2021-12-14 05:57] XRP2011 opened #1780 "Phone Number Formatting"
Could you create an option in settings that allow the user to choose how they wish to have the phone number displayed. Ex:  (123)456-7890 || +1 1234567890. For me, quickly looking at tickets it's easier to read formatted (123)456-7890. Don't know if this has been brought up before but would be awesome to be able to choose.

Thanks,
Have a great day.

[2021-12-14 05:59] Repairdesk-QA commented on #1568
Hey @JessicaSOS,
I hope you are doing well. Sorry for the continued inconvenience. I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Your patience would be highly appreciated.
Thanks!
Ayesha Aamir

[2021-12-14 05:59] Repairdesk-QA commented on #1568
**For internal use:**
https://repairdesk.atlassian.net/browse/RB-3048

[2021-12-14 06:01] Repairdesk-QA commented on #1206
**For Internal use:**
https://repairdesk.atlassian.net/browse/REP-2704

[2021-12-14 06:14] Repairdesk-QA commented on #1694
Hello **@YZFTechRepairs**,
Hope you are doing well !

I have seen the video you shared, Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
I'm going to reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!

Regards,
**Nida Khalid**

[2021-12-14 06:17] Repairdesk-QA commented on #1694
For internal use only,
Jira Task: https://repairdesk.atlassian.net/browse/RB-4277

[2021-12-14 07:13] Repairdesk-QA commented on #882
**Hey @JessicaSOS,**
Ayesha here. I hope you are doing well.  Sorry for the continued inconvenience, I'm reopening this task again and assigning it to our development team for further investigation. I'll get back to you as soon as I have more information!
**_Thanks!_**

**For internal use only:**
https://repairdesk.atlassian.net/browse/RB-4278

[2021-12-14 08:38] Repairdesk-QA commented on #1312
Hey @JessicaSOS,
I hope you are doing well.

I have checked the reported issue in detail and tested it along with one of our senior developer. We have checked from the backend and tested with the same SMS body as you mentioned above but everything seems to work fine on our end as you can see in the screenshots attached below. Quite possible this issue is from **Clickatell SMS Integration end and i

[2021-12-14 08:44] Repairdesk-QA commented on #1312
**For internal use only:**
https://repairdesk.atlassian.net/browse/RB-4280

[2021-12-14 09:58] Repairdesk-QA commented on #1384
Hey @JessicaSOS,
Ayesha here. Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2021-12-14 09:58] Repairdesk-QA commented on #1448
Hey @JessicaSOS,
Ayesha here. Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2021-12-14 10:00] Repairdesk-QA commented on #1373
Hey @JessicaSOS,
Ayesha here. Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2021-12-14 10:10] Repairdesk-QA commented on #1780
**Hey @XRP2011,**
Ayesha here. I hope you are doing well. Can you please share your business name associated with the RepairDesk account so that we can help you out with this?
**Thanks!**

[2021-12-14 10:53] XRP2011 commented on #1780
Xcell Repair Plus

On Tue, Dec 14, 2021, 5:11 AM Repairdesk-QA ***@***.***>
wrote:

[2021-12-14 12:58] Repairdesk-QA commented on #1447
**Hey @JessicaSOS,**
_**I hope you are doing well!**_

Ayesha here. Your first issue i.e. **Impossible to register extensions (extension number) of telephone number as before.** > it's not possible to fix this as this case was previously handled in the **international phone library** which is no longer supported by its developers so that's why we have to depreciate it from our software. Now we onl

[2021-12-14 13:03] Repairdesk-QA commented on #1447
**For internal use only:**
https://repairdesk.atlassian.net/browse/RB-4285

[2021-12-14 16:32] #1570 closed

[2021-12-14 16:35] #1472 closed

[2021-12-14 16:37] #1375 closed

[2021-12-14 22:15] Stylemyphones commented on #1710
Thank you Quratul Ain.

I don't think that video quite shows the areas where the issue was happening, but I have checked with the employee having the issues, and he doesn't seem to be having problems any more, so for that I thank you and the team.

Best Regards,
Alejandra Salazar.

[2021-12-15 07:00] Repairdesk-QA commented on #882
**Hello @JessicaSOS,**
**I hope you are doing well.**

I have checked from the backend on your account with our development team and found that there is a certain setting set in your account **Settings > Module Configuration > Tickets** i.e. Default ticket visibility = **ALL** this is why on Employee Dashboard you are seeing all total tickets count in Repairs section against the logged in store. K

[2021-12-15 07:13] Repairdesk-QA commented on #1780
**Hye @XRP2011,**
Thanks for sharing the details. Let me have this fixed for you. I'll get back to you as soon as I have more information!
Your patience would be highly appreciated.
_**Regards,**_
**_Ayesha Aamir_**

[2021-12-15 07:16] Repairdesk-QA commented on #1780
**For internal use only:**
https://repairdesk.atlassian.net/browse/RB-4296

[2021-12-15 09:59] Repairdesk-QA commented on #1780
Hey @XRP2011,
Ayesha here. I hope you are doing well. We have enabled the mentioned functionality on your account, but it will only work for newly added customers numbers and not for the existing customers numbers. Can you give it another try and let us know if it's working for you?

[2021-12-15 11:39] Repairdesk-QA commented on #1710
Hey @Stylemyphones,
I hope you are doing well!

Ayesha here. Glad to know that everything is working fine on your end. And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.

[2021-12-15 12:40] Repairdesk-QA commented on #1373
Hi @JessicaSOS,
Hope you are doing well !

I have checked your concern in detail with our Development Team, and I found  2 customers in Store Name **"SOS Phone Limoilou"**, 1st customer Name "Nixon Florez" with customer Group "Individual"  created at : 2017-11-15 12:10:51 and 2nd  Customer Name "Nixon Florez" with customer Group "Clients Affaire (Compte ouvert Net 30)" created at: 2018-01-23 13:44

[2021-12-15 13:03] Repairdesk-QA commented on #1384
Hey @JessicaSOS,

Ayesha here. Definitely strange. I have again tried and everything is working fine on our end. I think there’s some wonky data hung up in your browser. Can you try clearing your cache, cookies, and restarting it? It sounds intimidating but I’ve got some guides here to walk you through it.

If it’s still a no-go after that, can you try a different browser? That’ll help me rule in/

[2021-12-15 13:19] XRP2011 commented on #1780
Still doesn't show phone number formatted correctly

On Wed, Dec 15, 2021, 5:00 AM Repairdesk-QA ***@***.***>
wrote:

[2021-12-15 16:15] JessicaSOS commented on #1373
We occasionally have 2 clients with the same name as in this one. The problem mentioned is not that we got the wrong customers when selecting the customer. It is rather that certain clients (randomly) disappear from the “30-day business” client group in order to become “individual”. However, no human makes these modifications. The change takes place on its own. If we calculate the total number of

[2021-12-15 16:42] JessicaSOS commented on #1384
Here is the link to the video I just made to show you that the quantities do not change even after making the suggested changes.
https://www.awesomescreenshot.com/video/6459460?key=7475e0c27a4e22a543564b7a6201a448

[2021-12-15 16:48] JessicaSOS commented on #882
We leave that to everyone since we want to see all the tickets that are open at the moment. The selection at "today" displays only the tickets of the day and not those which are open.

[2021-12-15 16:50] JessicaSOS commented on #1312
ok, i'm waiting for your return

[2021-12-15 16:55] JessicaSOS commented on #1447
Thanks, because it's not very practical at the moment. In addition, the display of the numbers is difficult to read, unlike before where there were spaces or dashes between the numbers. I'll wait to hear from you.

[2021-12-16 07:56] Repairdesk-QA commented on #1780
**Hey @XRP2011,**
I hope you are doing well!

Definitely strange! Can you please elaborate on your concern with a relevant screenshot or you can put together a video using Screencastify? Will be happy to advise you once you share additional details.

_**Thanks,**_
_**Ayesha Aamir**_

[2021-12-16 08:18] Repairdesk-QA commented on #1448
Hello @JessicaSOS,
Hope you are doing well.

We have checked from backend and have explained this in the comment.
https://github.com/Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS/issues/1448#issuecomment-990934668

Priorly, our hiding/displaying manufacturers, devices were **_businesswise_** in **_RepairDesk_**. It means, if we hide a manufacturer from store1 it will hide it from other stores too.
T

[2021-12-16 10:25] jphansendk opened #1781 "Duplicate warning per customer.."
We have a big customer that has asked us to be able to use the same e-mail for several users. It's 2 different people in a tech department that share the e-mail for our tickets only. We need to be able to see which one of them placed the order but they need the ticket notifications on the same e-mail address.
Would be really nice if you could accept the duplicated e-mail per customer.

I know it's

[2021-12-16 11:24] Repairdesk-QA commented on #1707
Hello @ZAGRAL,
Hope you are doing well.

Your reported issue has been fixed. Kindly verify at your end and do let us know if you have any questions/issues.
Waiting for your feedback!

**_Regards,_**
Quratul Ain

[2021-12-16 12:09] ZAGRAL commented on #1707
Thanks for solving my problem but i have chat with sakib that in Created column all name is not coming pls solve this problem

Sent from Yahoo Mail on Android

  On Thu, 16 Dec 2021 at 4:54 pm, ***@***.***> wrote:

Hello @ZAGRAL,
Hope you are doing well.

Your reported issue has been fixed. Kindly verify at your end and do let us know if you have any questions/issues.
Waiting for your feedback!

R

[2021-12-16 12:58] Repairdesk-QA commented on #1384
**Hey @JessicaSOS,**
**I hope you are doing well.**

I have checked the video that you have attached above and noticed that you have entered the new stock adjustment quantity in the **On hand Quantity** field. The current inventory stock adjustment functionality doesn't work this way.

If you want to adjust the stock and cost price of the items using the import/export process then kindly use **New

[2021-12-16 13:17] Repairdesk-QA commented on #1694
Hello **@YZFTechRepairs,**

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks and Regards !
Nida Khalid

[2021-12-16 14:39] ProntoFix opened #1782 "TAX triggers"
About those triggers, here in Belgium we could use them too ;)

Is it possible to make those available for Belgium users too?

Thanks in advance!

![Uploading Schermafbeelding 2021-12-16 om 15.37.13.png…]()

[2021-12-16 14:42] ProntoFix commented on #1782
![Uploading Schermafbeelding 2021-12-16 om 15.37.13.png…]()

[2021-12-16 14:43] ProntoFix commented on #1782
<img width="695" alt="Schermafbeelding 2021-12-16 om 15 43 00" src="https://user-images.githubusercontent.com/89073213/146392728-2bb27e30-ad64-469b-a715-6931d2bb0f88.png">

[2021-12-16 21:54] YZFTechRepairs commented on #1694
It most certainly has not been fixed on my end. In fact now the issue is worse!

I will explain the issue again...

I have created a repair ticket for a Galaxy Note 20, screen replacement.

The part I would like to add:
Item Name: "OLED & Digitizer Assembly with Frame for Galaxy Note 20 (Premium) (Bronze)"
SKU: "107082066936"

See image below where I am searching for the part using the Item Name l

[2021-12-17 05:08] ProductTeam-RepairDesk commented on #1781
Hey, @jphansendk
Hope you are doing well. I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work during this Quarter. I will keep you posted once we start working on it.
And I hope that if there’s anything else I

[2021-12-17 05:17] Repairdesk-QA commented on #1707
Sure thing @ZAGRAL,
we will look into this and will update you shortly.

**_Regards,_**
Quratul Ain

[2021-12-17 05:23] Repairdesk-QA commented on #1694
Hi **@YZFTechRepairs,**
Hope you are doing well !

Let me take a look to see if I'm getting the same issue as you and I'll circle back to you !

Regards,
**Nida Khalid**

[2021-12-17 05:27] Repairdesk-QA commented on #1447
**Hi @JessicaSOS,**

Hope you are doing well. I can understand that it is important to record the phone number in this format and I am sorry for the inconvenience, however, this option is available for the **international phone format library** only and the library has been depreciated from the backend. Currently, it is not possible for us to write the custom library for this option. We will certa

[2021-12-17 08:09] Repairdesk-QA commented on #1568
**Hey @JessicaSOS,**
**I hope you are doing well.**

I have checked your concern with our development team on your RepairDesk account as well and the issue is not reproduced. Kindly have a look at the attached video. Plus the issue is not reproduced even on my test account as well. Could you please give it another try? Will be waiting for your reply.
https://watch.screencastify.com/v/CKZevRiNUDS1y

[2021-12-18 13:49] AMott-2020 opened #1783 "taxes"
a way to separate sales taxes from other fees like card processing fees, etc.

[2021-12-18 15:50] PostWireless opened #1784 "Group Discount"
Not sure if its a bug but its driving me crazy lol

This discount feature only works when there is already a set price added to an item in the problem list. But it will not work when selecting repair charges and adding a custom price. I will try to explain in more detail.

Here is the process (steps) we go through:
1- select a customer who has been added to a group that has a 30% discount.
2- sele

[2021-12-20 04:19] Repairdesk-QA commented on #1784
Hello @PostWireless,
Hope you are doing well.

Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

**_Regards,_**
Quratul Ain

[2021-12-20 04:52] Repairdesk-QA commented on #1784
Hello again @PostWireless,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
Your reported issue has been assigned to the development team and hopefully, it will be fixed in the next release.
Your patience would be highly appreciated.

**_Regards,_**
Quratul Ain

[2021-12-20 04:54] Repairdesk-QA commented on #1784
**_For internal use only:_**https://repairdesk.atlassian.net/browse/RB-4321

[2021-12-20 05:02] Repairdesk-QA commented on #1783
Hello @AMott-2020,
Hope you are doing well.

Can you please elaborate on your concern? Will be happy to advise you once you share additional details.

**_Regards,_**
Quratul Ain

[2021-12-20 05:09] Repairdesk-QA commented on #1707
Hello @ZAGRAL,
Hope you are doing well.

Your reported issue has been locked as an improvement and hopefully, it will be fixed in the next release.

**_Regards,_**
Quratul Ain

[2021-12-20 05:10] Repairdesk-QA commented on #1707
**_For internal use only:_** https://repairdesk.atlassian.net/browse/REP-3426

[2021-12-20 05:53] ProductTeam-RepairDesk commented on #1782
Hello @Repairdesk-QA
Can we create a task to enable this triggers option for Belgium as well. Thanks

[2021-12-20 06:02] Repairdesk-QA commented on #882
Hey @JessicaSOS,
I hope you are doing well.

Ayesha here. That is exactly what I'm trying to say that this is the current functionality of our system i.e. **Settings > Module Configuration > Tickets > Default ticket visibility = ALL** then on Employee Dashboard you will see the total tickets count in Repairs section against the logged in store irrespective of the **Assignee**.

Closing this task f

[2021-12-20 06:02] #882 closed

[2021-12-20 06:09] Repairdesk-QA commented on #1782
**Hello @ProductTeam-RepairDesk,**
Ayesha here. I hope you are doing well.
Acknowledged!

**Task link for internal use only:**
https://repairdesk.atlassian.net/browse/REP-3427

[2021-12-20 06:36] Repairdesk-QA commented on #1780
Hi again @XRP2011, since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
_**Regards,**_
**Ayesha Aamir**

[2021-12-20 06:40] Repairdesk-QA commented on #1594
Hi again @afrahm, since I haven't heard back from you, I’m assuming you're all set for now, closing this task for now but you can always give me a shout here if anything else comes up!
**Regards,**
**_Ayesha Aamir_**

[2021-12-20 06:57] Repairdesk-QA commented on #1384
Hi again @JessicaSOS,
I hope you are doing well.

Have you tried to import inventory items in the above explained way? Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
**_Regards,_**
_**Ayesha Aamir**_

[2021-12-20 10:42] Repairdesk-QA commented on #1312
**Hey @JessicaSOS,**
**I hope you are doing well.**

I have tested the reported issue in detail along with one of our senior developer and found that everything is working fine on our end, and there is something not right on **Clickatell Integration end** i.e. I have tested with the same Ticket SMS body as that available in your RepairDesk account but the issue is not reproduced on test account bu

[2021-12-20 16:29] XRP2011 commented on #1780
Thank you. Everything is good now. Appreciate your help.

On Mon, Dec 20, 2021, 1:37 AM Repairdesk-QA ***@***.***>
wrote:

[2021-12-20 16:53] AMott-2020 commented on #1783
ok i have a card processing fee as well as sales tax but on the overview page it groups everything together as taxes it would be nice to make it separate.

[2021-12-20 19:21] AbbyCSC opened #1785 "Cost not updated correctly on estimates when new products are used - see details"
1) I created a PO and created a new part on the PO -I did not enter a cost price when the new product was created but put the cost on the PO (point one maybe you should update the part cost to the PO amount when the PO is created)
2) I created an estimate using this new sku
3) I created a GRN.  At this time  the product unit cost is updated to the cost received on the PO
4) I approve the estimate

[2021-12-21 04:51] Repairdesk-QA commented on #1780
**Hey @XRP2011,**

Glad you like it.
Closing this issue as it has been fixed.
And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.

Thanks for your time. Enjoy your day!

**_Regards,_**
**_Ayesha Aamir_**

[2021-12-21 04:51] #1780 closed

[2021-12-21 05:18] Repairdesk-QA commented on #1785
**Hello @AbbyCSC,**
**I hope you are doing well.**

I have checked your concern but unfortunately, I am unable to reproduce your issue. Would be great if you can share a video of this issue or detailed steps so we can release a fix during our next release. You can put together a video using **Screencastify**.
If you have any questions or if there is anything else with which I may assist, please do

[2021-12-21 08:06] ProductTeam-RepairDesk commented on #1783
Hey, @AMott-2020 hope you are doing well, can you please share that from which channel you are processing payments. and can you also share the screen where it groups everything together as you said above?

Regards:
Humza

[2021-12-21 12:47] Repairdesk-QA commented on #1707
Hello @ZAGRAL,
Hope you are doing well.

Your reported issue has been fixed. Kindly verify at your end and do let us know if you have any questions.

**_Thanks & Regards,_**
Quratul Ain

[2021-12-21 13:09] Repairdesk-QA commented on #1447
Hello @JessicaSOS,
Hope you are doing well.

Your reported issue has been fixed. Kindly verify at your end and do let us know if you have any questions

**_Regards,_**
Quratul Ain

[2021-12-21 14:06] ZAGRAL commented on #1707
Alhamdulliah you have done jazakallah
Sent from Yahoo Mail on Android

  On Tue, 21 Dec 2021 at 6:18 pm, ***@***.***> wrote:

Hello @ZAGRAL,
Hope you are doing well.

Your reported issue has been fixed. Kindly verify at your end and do let us know if you have any questions.

Thanks & Regards,
Quratul Ain

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on th

[2021-12-21 14:17] AbbyCSC commented on #1785
I was able to duplicate this doing exactly what I outlined which is why I reported it as a bug.  I don't have time to create a video but will try to do it next week.  As I have a work around you can close this if you wish.
Thank you
Abby

Abby Katz
Purchasing Manager
Computer SuperCenter of Greenwich
103 Mason St
Greenwich CT 06830
203-661-1700 option 2 Service
203-242-8654 direct line

From: Repa

[2021-12-21 16:41] JessicaSOS commented on #1312
Thank you for checking out. For your information, the problem is not the currency, I tried to change it and the problem is still present. I will contact Clickatell for the rest of this problem.

Have a good day

[2021-12-21 16:41] #1312 closed

[2021-12-21 17:07] JessicaSOS commented on #1384
Hello,
Thanks for the explanatory video. If, for example, I would like to reset certain items to quantity 0, I must enter a different quantity for each item since the adjustment only makes a variation of the number requested? It does not seem to adjust the quantity to the quantity requested, but rather to modify the quantity of the number entered.

In your example, the starting quantity is 10. You

[2021-12-21 17:20] JessicaSOS commented on #882
This problem appeared and changed overnight. Before, we were able to view open tickets and not just those of the day.

[2021-12-21 17:45] JessicaSOS commented on #1448
Hello,
I would be interested in this option, but I would like to know before activating it if it is possible to withdraw access to employees? In the privileges of the stations, the access not given to them, therefore they are not supposed to be able to modify this ... See photo.
![change manufacturer](https://user-images.githubusercontent.com/40500094/146975074-33db73b7-17ff-42f9-85d4-d48f105144c6

[2021-12-21 17:46] AMott-2020 commented on #1783
i process payments thru blockchyp and yes I will upload a picture of the screen

[2021-12-21 18:17] ZombiePhoneRepair opened #1786 "Ticket Counter"
If the main language is in German you cannot use the ticket counter at all

[2021-12-22 04:07] Repairdesk-QA commented on #1707
Glad you like it @ZAGRAL,
Closing this issue as it has been fixed
And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.

Thanks for your time. Enjoy your day!

**_Regards,_**
Quratul Ain

[2021-12-22 04:07] #1707 closed

[2021-12-22 04:20] Repairdesk-QA commented on #1448
Hello @JessicaSOS,
Hope you are doing well.

Yes, you can manage the access to employees at your convenience.
If you are interested in this setting, kindly let us know.
It would be better to have a demo of these settings before activating on to your store.
Our support team is always ready for that.
You can use our live chat feature or if you want to schedule a call with any of our support agents,

[2021-12-22 04:56] Repairdesk-QA commented on #1784
Hello @PostWireless,
Hope you are doing well.

Your reported issue has been discussed with our **_Business Analyst_** and would like to inform you that this is the behaviour of the system. Group Discount will always be counted on the prices saved in the system, not with runtime changes.

I hope you understand. If you still have any issues or solutions to discuss, please do not hesitate to reach ou

[2021-12-22 08:17] Repairdesk-QA commented on #1786
**Hey @ZombiePhoneRepair,**
**I hope you are doing well!**

Your reported issue has been fixed in the recent update. Please verify at your end and do let us know if you have questions.

**_Thanks!_**
_**Ayesha Aamir**_

[2021-12-22 08:23] Repairdesk-QA commented on #1786
**Jira task link of the reported issue - For internal use:**
https://repairdesk.atlassian.net/browse/RB-4323

[2021-12-22 08:40] ZombiePhoneRepair commented on #1786
As an example, that several defects cannot be selected when buying a cell
phone with the BuyBack widget, just like that there is no function that if
you say ok, the cell phone looks like new but the charging socket does not
work, that is automatically calculated as the normal one price the repair
cost will be deducted from the normal price automatically

As an example invoice

The mobile phone Sam

[2021-12-22 09:38] Repairdesk-QA commented on #1783
@ProductTeam-RepairDesk FYI!

[2021-12-22 10:03] Repairdesk-QA commented on #1785
Hello @AbbyCSC,
Hope you are doing well.

We totally understand your time. We are closing this for now as we have to keep the record but you can open this task and share the video anytime at your convenience.

Would love to hear back from you soon!

**_Thanks & Regards,_**
Quratul Ain

[2021-12-22 10:04] #1785 closed

[2021-12-22 10:20] Repairdesk-QA commented on #1783
**Hey @AMott-2020,**
**I hope you are doing well.**

Could you please share the screenshots, or a small video using Screencastify of your process so that we can guide you in a better way?

**Thanks,**
Ayesha Aamir

[2021-12-22 10:44] Repairdesk-QA commented on #1384
**Hey @JessicaSOS,**
**I hope you are doing well.**

I got your point. But this is our system's current functionality that while adding adjustment in the quantity once the file is imported in RepairDesk the quantity of the items is adjusted along with the existing items on hand.

Further, I have forwarded your concern to our **Business Analysis Team** so that they look into it and see how we can a

[2021-12-22 10:44] #1384 closed

[2021-12-22 11:23] Repairdesk-QA commented on #1568
_**Hey @JessicaSOS,**_
**Hope you are doing well.**

As you mentioned above I have uploaded the above mentioned image to your Repairdesk account in the **Wiki > Chatr > Nip de boite vocal (code à 4 chiffres) > Requested image upload**. Hope it helps.

And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.
Closing this task for now.
Have a good day!

_**Regard

[2021-12-22 11:24] #1568 closed

[2021-12-22 11:44] Repairdesk-QA commented on #882
**Hey @JessicaSOS,**

I really appreciate that you took the time to share your ideas.

I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work during the 4th Quarter.
With that said you can use this workaround for

[2021-12-22 13:06] Repairdesk-QA commented on #1786
**Hey @ZombiePhoneRepair,**
**Hope you are doing well!**

Actually, BuyBack Widget is for customers so we cannot give an option to select the repair problem on the widget. Kindly connect with one of our support agent on live so that he can guide you better regarding our **BuyBack Widget** functionality.

**Thanks,**
**Ayesha Aamir**

[2021-12-22 13:08] Repairdesk-QA commented on #1783
Hey @AMott-2020,
Kindly share your business name as well associated with the RepairDesk account. Thanks!

[2021-12-22 13:21] ZombiePhoneRepair commented on #1786
The current problem is if you want to sell a cell phone it can look like
new but the charging socket is broken, which is why it is important to be
able to select several options at the same time

Am Mi., 22. Dez. 2021 um 14:06 Uhr schrieb Repairdesk-QA <
***@***.***>:

[2021-12-22 15:13] AMott-2020 opened #1787 "estimates"
a timer on estimates so that if they're not accepted within so many days they are canceled automatically.

[2021-12-22 17:39] roccor2gaming opened #1788 "Invoice autogenerate from Repair Ticket"
Good day. We recently integrated RepairDesk with Quickbooks Online. There is a problem with Invoices automatically being generated when a repair ticket is open. This is concerning because it is possible the customer may decide not to proceed with the repair resulting in fictitious revenue.

We check the setting for "autogenerating invoices" and it is OFF. However this is still happening.

[2021-12-22 18:06] PostWireless commented on #1784
well it is what it is i guess, seems counter intuitive if you ask me but hey thanks for looking into this. take care.

[2021-12-22 22:16] JessicaSOS commented on #1568
UPDATE

I cannot change it category. Can you go put the image please in: "reparation", "Apple", the last one "reparation iPad 12.9" and save the image under the current text please.

Thank you very much.

[2021-12-22 22:19] JessicaSOS commented on #1448
and how to withdraw access to employees? They don't already have privileges access so I don't understand why they have access right now. Please answer me in writing, it's easier for me with Google translate.

--
 et comment retirer l'accès aux employés? Ils n'ont déjà pas accès dans les privilèges donc je ne compremd pas pourquoi ils ont accès en se moment. Merci de me répondre par écrit, c'est pl

[2021-12-22 22:54] afrahm commented on #1594
Hopefully this video will show you the problem that I have been trying to explain to you guys for a very long time now - https://www.loom.com/share/61c6277292644adda2ab2b307d118cee

[2021-12-23 04:21] Repairdesk-QA commented on #1784
Thanks for understanding @PostWireless.
Actually, we are busy with RepairDesk 2.0 and for the time being, we are not doing any improvements.
But in future, if we do regarding this, we will surely update you.

And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.
Enjoy your day!

**_Regards,_**
Quratul Ain

[2021-12-23 04:21] #1784 closed

[2021-12-23 04:25] Repairdesk-QA commented on #1448
That might be issue with the permissions @JessicaSOS.
I will check this at my end and will update you shortly here.

Thansk for your explanation and time!

**_Regards,_**
Quratul Ain

[2021-12-23 04:27] Repairdesk-QA commented on #1788
Hello @roccor2gaming,
Hope you are doing well.

Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

**_Regards,_**
Quratul Ain

[2021-12-23 04:52] Repairdesk-QA commented on #1568
Hey @JessicaSOS,
Sure, will update you shortly on this.

**Regards,**
Ayesha

[2021-12-23 05:03] Repairdesk-QA commented on #1594
**Hey @afrahm,**

Ayesha here. I hope you are doing well. Thanks for the video, let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

**Thanks!**

[2021-12-23 05:28] Repairdesk-QA commented on #1786
Hey @ZombiePhoneRepair,
I hope you are doing well.

Currently, it's not possible to select several options at the same time while creating a buyback lead. But what you can do is create multiple conditions from buyback widget > device conditions settings and enter details against each condition **for example: Broker, Old, New, Like New, Damaged Parts etc...** So that the customer who is creating th

[2021-12-23 05:35] Repairdesk-QA commented on #1694
For internal use only,
Jira Task: https://repairdesk.atlassian.net/browse/REP-3429

[2021-12-23 05:45] Repairdesk-QA commented on #1373
Hello **@JessicaSOS**  ,
Hope you are doing well !

Sure thing! Got your Response. Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

Regards,
**Nida Khalid**

[2021-12-23 05:57] Repairdesk-QA commented on #1568
**Hey @JessicaSOS,**

It's done. I have put the image in: "reparation", "Apple" > "reparation iPad 12.9" under the current text.
And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.

Have a good day.

**Regards,**
**_Ayesha Aamir_**

[2021-12-23 12:48] Repairdesk-QA commented on #1782
Hello @ProntoFix,
Hope you are doing well.

Your reported improvement is now live for Belgium too.
Kindly verify at your end and do let us know if you have any questions.

**_Regards,_**
Quratul Ain

[2021-12-23 14:49] onebitetechnology opened #1789 "Changing Service Price in a ticket -> Line item doesn't show up on the invoice"
I noticed when I change the price of a service (or multiple services) on a ticket, contrary to applying a discount, the service line item will not show up on the invoice. The total is there... but the line item will be missing.

Thanks!

[2021-12-24 04:22] Repairdesk-QA commented on #1789
Hello @onebitetechnology,
Hope you are doing well.

Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

**_Regards,_**
Quratul Ain

[2021-12-24 06:30] Repairdesk-QA commented on #1789
Hello again @onebitetechnology,
Hope you are doing well.

I have checked your concern with both the cases (with/without discount) and is working fine on our end.
Kindly have a look at the attached videos for the steps I have followed.
**_Without Discount_**
https://www.screencast.com/t/fr06PJqe0Og

**_With Discount_**
https://www.screencast.com/t/OuhTqR0nIB

If you are following steps other than t

[2021-12-24 07:22] Repairdesk-QA commented on #1594
**Hey @afrahm,**
I hope you are doing well.

Thank you for bringing this to our attention and for the detailed video, it helped a lot. It looks like there's a bug that just popped up.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!

**Thanks!**
**Ayesha Aamir**

[2021-12-24 07:32] Repairdesk-QA commented on #1594
For internal use only:
https://repairdesk.atlassian.net/browse/RB-4358

[2021-12-24 08:12] ProductTeam-RepairDesk commented on #1787
Hey, @AMott-2020 hope you are doing well, the above-requested improvement is not possible for now but i have added it to the Product backlog. Once we start working on it I will update you here as well.

And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.

Regards:
Humza

[2021-12-24 11:45] Repairdesk-QA commented on #1373
Hey **@JessicaSOS**,
Hope you are doing well !

Thanks for sharing your concerns I have checked your concern with one of our senior developer from backend in my Repair Desk Test Account, we are unable to reproduce this issue with recent record at our end. If we can do anything on it kindly further Provide us with a short video using Screencastify or step to reproduce and also you can feel free to

[2021-12-24 13:59] mmahmood2014 opened #1790 "Getting an error message while creating the invoice through API"
We have used the sggested method to create invoice though API and getting below error:

"Your Request is invalid system is unable to find Items object in you request"

We are using this format:

**create POST /invoices/:id**

Request Sample:
{"summary":{"customer_id":"388","due_on":"1472122800","created_date":"1472122800"},"items":[{"product_id":"1742698","sku":"090000","name":"Antenna Interconnec

[2021-12-24 14:50] mmahmood2014 opened #1791 "Getting Trade in Items from Inventory API"
Is there any way to get tradein items using the inventory API?

[2021-12-26 18:51] ZombiePhoneRepair commented on #1786
I know, but you customer doesn’t want to have 20 fields to choose from, how
expensive it would be if they program you a function

[2021-12-26 18:56] ZombiePhoneRepair commented on #1786
I know, but you customer doesn’t want to have 20 fields to choose from, how
expensive it would be if they program you a function
Because if I only take the most important components there are about 132
possibilities in which state the cell phone is and no customer wants to
read 132 fields, so it would be useful if you can make several selections
and the price is then calculated

Am So., 26. Dez. 2

[2021-12-27 04:34] Repairdesk-QA commented on #1791
Hello @mmahmood2014,
Hope you are doing well.

This needs to be discussed with our Development Lead. I will update you shortly after the discussion.
Your patience means a lot to RepairDesk.

**_Regards,_**
Quratul Ain

[2021-12-27 04:37] Repairdesk-QA commented on #1790
Hello @mmahmood2014,
Hope you are doing well.

The API issue needs to be discussed with the Development Lead, will update you shortly after the discussion.
Your patience means a lot to **_RepairDesk._**

**_Regards,_**
Quratul Ain

[2021-12-27 05:10] Repairdesk-QA commented on #1786
**Hey @ZombiePhoneRepair,**
**I hope you are doing well.**

I really appreciate that you took the time to share your ideas.

I am forwarding your query to our concerned Business Analysis Department that how suggested improvement would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be ab

[2021-12-27 05:10] Repairdesk-QA commented on #1786
@ProductTeam-RepairDesk FYI!

[2021-12-27 05:14] Repairdesk-QA commented on #1791
Hello again @mmahmood2014,

This is the comment from our Development Lead, kindly have a look into this:
we have an inventory listing API that returns accessories and parts by default.
but if you pass an extra parameter type then it will return a trade-in
the request URL will look like this
https://api.repairdesk.co/api/web/v1/inventory?type=2&api_key=api_key

[2021-12-27 05:28] Repairdesk-QA commented on #1788
Hello @roccor2gaming,
Hope you are doing well.

I have checked your concern and would like to inform you when the trigger is not marked, it means it is OFF.
And in this condition, invoice will be created whenever the ticket does.
For avoiding this behaviour, kindly mark the trigger **_"Don't auto Create Invoice on Create Ticket"_**.

**_For better understanding, kindly look into the video attached

[2021-12-27 05:31] Repairdesk-QA commented on #1790
Hello again @mmahmood2014,

Please make sure the request type is JSON and a POST request.
the URL must be https://api.repairdesk.co/api/web/v1/invoices?api_key=api_key to create invoice

Kindly share your feedback with us, means a lot.

**_Regards,_**
Quratul Ain

[2021-12-27 06:20] ZombiePhoneRepair commented on #1786
Ok thanks and what he say

[2021-12-27 07:34] ZombiePhoneRepair commented on #1786
you have a Feedback Please

[2021-12-27 07:51] roccor2gaming commented on #1788
Thank you Quratul. I have marked the trigger for *"Don't auto Create
Invoice on Create Ticket".*

*Thank you for your assistance. Much appreciated,*

On Mon, Dec 27, 2021 at 12:28 AM Repairdesk-QA ***@***.***>
wrote:

--

Rocco DiPaola

***@***.***

O:  905-228-0322

M:  905-401-7066

*www.r2gaming.co <http://www.r2gaming.com/>m*

[2021-12-27 08:02] adigsm07 opened #1792 "POST Repair problem with Custom Status"
Hello, Adis here.
I can't use POST Repair Condition because I use custom status. Can you guys resolve this bug?

[2021-12-27 09:45] Repairdesk-QA commented on #1788
It's pleasure for us to help you @roccor2gaming.
If there is anything else with which I may assist you, please do not hesitate to reach out.

**_Regards,_**
Quratul Ain

[2021-12-27 09:46] #1788 closed

[2021-12-27 11:19] mmahmood2014 commented on #1791
Thank you for your response. We have checked and its only returning instock trade in items. Is there any parameter we can pass which can give us all tradein items no matter if they are in stock or not?

[2021-12-27 11:20] mmahmood2014 commented on #1790
It works fine, Thank you for your reply.

[2021-12-27 11:22] #1790 closed

[2021-12-27 12:01] Repairdesk-QA commented on #1790
Glad your issue has been fixed.
If there is anything else with which I may assist, please do not hesitate to reach out

**_Regards,_**
Quratul Ain

[2021-12-27 12:14] Repairdesk-QA commented on #1792
Hey @adigsm07,
Ayesha here. Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2021-12-27 12:27] Repairdesk-QA commented on #1792
Hey @adigsm07,
Hope you are doing well.

I have checked your concern but unfortunately, I am unable to reproduce your issue and everything is working fine on my end. Would be great if you can share a video of this issue or detailed steps so we can release a fix during our next release. You can put together a video using **Screencastify**.

If you have any questions or if there is anything else wit

[2021-12-27 12:51] Repairdesk-QA commented on #1791
Hello again @mmahmood2014,
your requirement has been assigned to our Development Lead and will be fixed in the next release.
Will update you shortly once done.

Your patience means a lot to RepairDesk

**_Regards,_**
Quratul Ain

[2021-12-27 12:52] Repairdesk-QA commented on #1791
**_For internal use only: _**https://repairdesk.atlassian.net/browse/RB-4367

[2021-12-27 12:54] adigsm07 commented on #1792
Oke I will be back with an video.

[2021-12-27 12:55] Repairdesk-QA commented on #1447
Hello @JessicaSOS,
Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Waiting for your feedback!

**_Regards,_**
Quratul Ain

[2021-12-27 13:50] #1782 closed

[2021-12-27 14:03] mmahmood2014 commented on #1791
How soon do you think it will take?

[2021-12-27 21:56] Jonmarr95 opened #1793 "Updated Ticket Status to custom status after payment is received."
Currently the only option after taking payment is to set the ticket to "Repaired & Collected" however for shops that have disabled the default statuses this causes confusion on the tickets screen. It would be very helpful if we could choose what the default status is after the invoice is paid.

[2021-12-27 23:54] Stylemyphones opened #1794 "New Item through PO, Model Name Glitch"
Hello,

I am writing today because there is a glitch I keep getting when I need to add a new item while creating a new PO.

I try to enter in the Manufacturer, and then the Model; however, it seems that the manufacturer doesn't always registers in the system because ALL the models from ALL manufacturers still come up.
Then I must spend extra time clearing and resetting the manufacturer's name in o

[2021-12-28 04:12] Repairdesk-QA commented on #1791
hopefully, it will be live till 6 today.

[2021-12-28 04:16] Repairdesk-QA commented on #1794
Hello @Stylemyphones,
Hope you are doing well.

Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

**_Regards,_**
Quratul Ain

[2021-12-28 04:18] Repairdesk-QA commented on #1793
Hello @Jonmarr95,
Hope you are doing well.

Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

**_Regards,_**
Quratul Ain

[2021-12-28 04:58] Repairdesk-QA commented on #1794
Hello again @Stylemyphones,
Hope you are doing well.
Thanks for sharing the detailed video. It is really time-saving and helped us to understand the issue.

I have checked your concern and would like to inform you that upon selecting a Manufacturer, the dropdown in Device/Model will show all the devices which have been mapped against that Manufacturer.
**_You can see your devices from_**
Store Set

[2021-12-28 07:20] Repairdesk-QA commented on #1793
Hello again @Jonmarr95,
We have checked your concern and it might seem like a bug.
I'm going to reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!

**_Regards,_**
Quratul Ain

[2021-12-28 07:21] Repairdesk-QA commented on #1793
**_For internal use only:_** https://repairdesk.atlassian.net/browse/RB-4371

[2021-12-28 10:34] Repairdesk-QA commented on #1791
Hello again @mmahmood2014,
Hope you are doing well.

We have added a new parameter to call api with an extra param named “tradeinstatus” with value “all“
like
 /inventory?type=2&tradeinstatus=all
so API will return all tradein items

Kindly try now and let us know if you have any issues.
Waiting for your feedback!

**_Regards,_**
Quratul AIn

[2021-12-28 12:28] mmahmood2014 commented on #1791
Dear Quratul Ain,

Thank you for your team to help us out with the API. Our client has been using your system from a while and he wanted to have access of tradein items from a while. New changes you have done are working well and we are moving forword with the integration.

Thanks again for your prompt response and support.

Ragards,

Mansoor

[2021-12-28 12:29] mmahmood2014 commented on #1791
Have another small question. The API is not returning the "Condition" column of the product. Can you tell me how we will get it using API?

[2021-12-28 18:22] Stylemyphones commented on #1794
Thank you Quratul,
I hope you're having a great day!

I have checked the section of the settings you mentioned, and also all the devices are mapped against a specific manufacturer.
However, it seems as if the manufacturer doesn't register when I select it before adding the specific model as I am creating a new item through the PO module since ALL the devices from ALL the manufacturers come up.

Pl

[2021-12-28 18:37] Stylemyphones commented on #1794
Hello,
I have now gone deeper into all the devices and I am getting error when I try to delete some that are not correctly paired.

Why is this happening?
Please help!

[2021-12-29 04:24] Repairdesk-QA commented on #1794
Hello @Stylemyphones,
Hope you are doing well.

You can schedule a call with **_Danish Hassan, Customer Success and Support_**. Kindly book a slot from the link in order to connect with him:
https://calendly.com/danishhassan

I am sure he will be able to assist with the above query and take relevant information so we can address your concerns timely.

**_Thanks & Regards,_**
Quratul Ain

[2021-12-29 04:30] Repairdesk-QA commented on #1794
It would be great @Stylemyphones  if you can share the error screen or message to help us understand the issue.

**_Regards,_**
Quratul Ain

[2021-12-29 04:39] Repairdesk-QA commented on #1791
Hello @mmahmood2014,
Hope you are doing well.

Glad you like it.
Helping you is our priority.
I will inform you about your recent query after discussing it with our Developer.
Will update you shortly.

**_Regards,_**
Quratul Ain

[2021-12-29 05:00] Repairdesk-QA commented on #1791
Our Development Lead is looking into this and will update you shortly after the fix.
Your patience means a lot.

**_Regards,_**
Quratul Ain

[2021-12-29 05:01] Repairdesk-QA commented on #1791
**_For internal use only:_** https://repairdesk.atlassian.net/browse/RB-4378

[2021-12-29 05:56] Repairdesk-QA commented on #1793
Hello @Jonmarr95,
Hope you are doing well.

I have discussed your concern with our Development Team and would like to inform you that this is the flow of our system.
But if you uncheck the **_Repaired & Collected_** when taking the payment from POS or Manage Invoices, your status will not get changed and you can set it to whatever status you want.

**_For better understanding, kindly look into the

[2021-12-29 05:58] Repairdesk-QA commented on #1694
Hello **@YZFTechRepairs,**
Hope you are doing well !

Sorry for the continued inconvenience. I believe this issue has been fixed in recent update. Can you give it another try?

There are two Triggers under settings/Module Configuration/Point of Sale, the First one is **"Hide Out of stock items from POS"**, purpose of this trigger is to Hide only inventory items (**Not Parts**) that are Out of Stoc

[2021-12-29 09:59] Repairdesk-QA commented on #1791
Hello again @mmahmood2014,

Now you can get the Condition column too.
Kindly check and let us know with your feedback.
Waiting for your feedback.

**_Regards,_**
Quratul Ain

[2021-12-29 11:31] mmahmood2014 commented on #1791
We have checked and condition column is coming up fine in API resultset. Thank you very much for taking time to add this. I will let you know if we need anything else.

[2021-12-29 11:31] #1791 closed

[2021-12-29 11:52] Repairdesk-QA commented on #1791
Glad you like it!
Please do not hesitate to reach out if you have any queries.
Have a nice day.

**_Regards,_**
Quratul Ain

[2021-12-29 18:33] Stylemyphones commented on #1794
Hello Quratul,
I hope you are having a great day too!

I have tried to schedule a call with Danish; however, he only has time slots available when I am no longer in the office as you can see below, so is there another agent with day time appointment slots or will Danish get more times?
![image](https://user-images.githubusercontent.com/83790373/147692685-427fd8a7-347d-48ef-adcd-4bc8b1acb1ad.png)

[2021-12-30 04:47] Repairdesk-QA commented on #1794
Hello @Stylemyphones,

Yes you schedule a call with our other support agents like
**_Fahad Imran, Manager Customer Success and Support._**
https://calendly.com/fahadimran
OR
**_Faizan Zaheer_**
https://calendly.com/faizan-zaheer20111/trainings?month=2020-09

I am sure they will be able to assist with the above query and take relevant information so we can address your concerns timely.

Also, the e

[2021-12-30 06:09] Repairdesk-QA commented on #1789
Hi again @onebitetechnology, since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Regards,
Ayesha Aamir

[2021-12-30 06:12] Repairdesk-QA commented on #1783
Hi again @AMott-2020, since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Closing this task for now.

Regards,
Ayesha Aamir

[2021-12-30 06:12] #1783 closed

[2021-12-30 17:36] AMott-2020 opened #1795 "recurring payment error"
i am getting this error
![IMG_3835](https://user-images.githubusercontent.com/79152498/147775086-5a1cb590-43be-4771-8d9d-fe04f23ed3fe.jpg)
.

[2021-12-30 17:37] AMott-2020 opened #1796 "recurring payment feature"
it would be great to have a start/end section for recurring payments so it automatically bills the customer for that duration and then ends once reached.

[2021-12-30 18:32] Stylemyphones commented on #1794
Hello Quratul,

Thanks so much for your message with these very helpful videos.

I have already scheduled an appointment with Sir Fahad, and also, I have one question... If I edit the devices and reset the manufacturer, will that cause for doubles?
If so, what would be most appropriate to do, or what would proceed?

Thank you in advance for your support. I wouldn't want to do all this work to rema

[2021-12-30 19:09] Stylemyphones commented on #1794
Hello,
I have also tried to remove the erroneously matched devices and have checked that there is no inventory before deleting it.
However, I get the same error as if there were inventory.

Please see the attached video.
Thank you and Best Regards,

https://user-images.githubusercontent.com/83790373/147781182-d2a99931-69a3-44bf-b706-bdba7c9b5e37.mp4

[2021-12-31 04:34] Repairdesk-QA commented on #1795
Hello @AMott-2020,
Hope you are doing well.

Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

**_Regards,_**
Quratul Ain

[2021-12-31 05:36] Repairdesk-QA commented on #1794
Hello @Stylemyphones,
It is great that you have scheduled a call with Sir Fahad Imran. I hope you will get all answers to your queries.
Also, I would like to add that editing a manufacturer against a device will not cause duplication.
And if you have an inventory item against that device, you also have to reset the Manufacturer from the inventory.
**_Please have this video for reference:_**
https:

[2021-12-31 05:40] Repairdesk-QA commented on #1794
I will check this from the backend and will update you shortly.
Your patience means a lot.

**_Regards,_**
Quratul Ain

[2021-12-31 06:02] Repairdesk-QA commented on #1795
Hello @AMott-2020,

I would like to inform you that we will get this error when we have an Invalid Card Number.
Kindly review it again and let us know if you still have any issues.

**_Thanks & Regards,_**
Quratul Ain

[2021-12-31 06:57] Repairdesk-QA commented on #1447
**Hello @JessicaSOS,**

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Closing this task for now.

**Regards,**
**Ayesha Aamir**

[2021-12-31 06:57] #1447 closed

[2021-12-31 07:00] ProductTeam-RepairDesk commented on #1796
Hey @AMott-2020  Hope you are doing well,
I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work during this Quarter. I will keep you posted once we start working on it.

And I hope that if there’s anything else

[2021-12-31 07:04] Repairdesk-QA commented on #1694
**Hey @YZFTechRepairs,**

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

_**Thanks,**_
_**Ayesha Aamir**_

[2021-12-31 07:24] ProductTeam-RepairDesk commented on #1786
Hey @ZombiePhoneRepair Hope you are doing well.
I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work during this Quarter. i have added this to the roadmap and will keep you posted once we start working on it.

[2021-12-31 07:30] ZombiePhoneRepair commented on #1786
Sorry the question but it still remains how expensive it would be if I pay
for it to be added

Am Fr., 31. Dez. 2021 um 08:24 Uhr schrieb Product Team - RepairDesk <
***@***.***>:

[2021-12-31 10:09] Repairdesk-QA commented on #1448
Hello @JessicaSOS,
Hope you are doing well.

We have checked your issue according to the previous details you have mentioned and have prepared test data for that but unfortunately, we have not seen any manufacturer removed from the inventory item.
We are still looking into it and will update you shortly as soon as the issue reproduces.
If you notice any action or case regarding this issue, kindly

[2021-12-31 12:16] #1744 closed

[2021-12-31 12:17] Repairdesk-QA commented on #1739
Hey, @AVECorp I hope you are doing well.
Issue has been fixed

I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.
Thankyou

[2021-12-31 12:17] #1739 closed

[2021-12-31 12:34] Repairdesk-QA commented on #1720
Hey, @AVECorp I hope you are doing well.
The issue has been fixed. You can check it at your convenience.

I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.
Thank you.

[2021-12-31 12:34] #1720 closed

[2021-12-31 18:08] AMott-2020 commented on #1795
still having the issue.

[2021-12-31 19:35] coreyjiles opened #1797 "Pay Now button missing from email Device Repaired template"
When you send a Device Repaired email with the {payment_button} macro, the button is not displaying in the email. This is when using RepairDesk payments as the payment processor.

[2022-01-03 04:32] Repairdesk-QA commented on #1797
Hello @coreyjiles,
Hope you are doing well.

Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

**_Thanks & Regards,_**
Quratul Ain

[2022-01-03 04:33] Repairdesk-QA commented on #1795
Hello @AMott-2020,
Hope you are doing well.

Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

**_Thanks & Regards,_**
Quratul Ain

[2022-01-03 04:51] Repairdesk-QA commented on #1797
Hello again @coreyjiles,

I have checked your concern and would like to inform you that the macro {payment_button} is working fine on our end.
**_Kindly look into the video attached:_**
https://www.screencast.com/t/K67EKoumSyjU

Kindly make sure the placement of {payment_button} macro in your email template and let us know with the feedback.
Waiting for your response.

**_Regards,_**
Quratul Ain

[2022-01-03 16:21] AbbyCSC opened #1798 "Inventory Count - Inv Adj report has bug with negative variances"
Manage Inventory Count - Inventory Adjustment Report - if the variance between the expected count and actual count is negative the cost variance should be negative.  It works correctly when the counted number is 0 but if the counted number is a positive number but less than the expected  count the cost variance is showing as a positive value instead of negative

Example Expected 10, Counted 8 Qty

[2022-01-04 04:47] Repairdesk-QA commented on #1798
Hello @AbbyCSC,
Hope you are doing well.

Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

**_Thanks & Regards,_**
Quratul Ain

[2022-01-04 04:49] Repairdesk-QA commented on #1793
Hello @Jonmarr95,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Closing this issue for now, but you can always open this whenever you want to.

**_Regards,_**
Quratul Ain

[2022-01-04 04:49] #1793 closed

[2022-01-04 04:59] Repairdesk-QA commented on #1798
Hello again @AbbyCSC,

I have checked your concern but unfortunately, I am unable to reproduce your issue. Would be great if you can share a video of this issue or detailed steps so we can release a fix during our next release. You can put together a video using Screencastify.

If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.
Wait

[2022-01-04 06:26] Repairdesk-QA commented on #1694
**Hey @YZFTechRepairs,**

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Closing this task for now.

**Thanks,**
**Ayesha Aamir**

[2022-01-04 06:26] #1694 closed

[2022-01-04 06:56] Repairdesk-QA commented on #1794
Hello @Stylemyphones,
Hope you are doing well.

Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
Your reported issue has been assigned to the development team and hopefully, it will be fixed early next week.
Your patience would be highly appreciated.

**_Thanks & Regards,_**
Quratul Ain

[2022-01-04 06:57] Repairdesk-QA commented on #1794
**_For internal use only:_**https://repairdesk.atlassian.net/browse/RB-4399

[2022-01-04 12:11] Repairdesk-QA commented on #1795
Hello @AMott-2020,
Hope you are doing well.

It seems to be an account-specific issue. One of our support ninjas will reach out to you to get more information.
OR
You can schedule a call with **_Fahad Imran, Manager Customer Success and Support._** Kindly book a slot from the link in order to connect with him:
https://calendly.com/fahadimran
I am sure he will be able to assist with the above query

[2022-01-04 16:00] AbbyCSC commented on #1798
I find it very frustrating that you have never been able to duplicate my issues despite the fact that I have explained how it failed.  I do not have time to create videos showing you bugs.  Attached is the report where I have entered a few comments so that you can clearly see there is a bug in the report.
Thank you
Abby

Abby Katz
Purchasing Manager
Computer SuperCenter of Greenwich
103 Mason St
G

[2022-01-04 17:00] YZFTechRepairs commented on #1694
Hello, I have been on vacation and have not had a chance to confirm if this
issue is resolved. I will check in the next day or so.

*Keegen Payne*

+1 (867) 322-4465
Facebook: https://www.facebook.com/yzftechrepairs.ca
Website: https://www.yzftechrepairs.ca

On Mon, Jan 3, 2022 at 11:26 PM Repairdesk-QA ***@***.***>
wrote:

[2022-01-04 21:18] coreyjiles commented on #1797
We do not use PayPal payments as shown in your video (we use RepairDesk payments through BlockChyp). The macro does show the Pay Now button when emailing an, but not on ticket.

[2022-01-04 21:21] coreyjiles opened #1799 "{amount_due} macro is not calculating correctly"
When sending an invoice via email or SMS, the {amount_due} macro is not subtracting any payments the customer has already made
![screenshot](https://user-images.githubusercontent.com/96924320/148125560-befc5b1e-94fd-4b24-8205-aa835374d63f.png)
![screenshot2](https://user-images.githubusercontent.com/96924320/148125569-85869f0e-db3e-47c3-894e-e467f61a1f8c.png)

[2022-01-04 21:35] coreyjiles opened #1800 "RepairDesk Payments not working with Customer Portal"
As the title says, there is no option in the Customer Portal to pay for an invoice with RepairDesk Payments. I am assuming this is a bug because PayPal works in the portal.
![screenshot4](https://user-images.githubusercontent.com/96924320/148126909-7ce812af-acae-427e-a3b2-9c807fc73c89.png)

[2022-01-05 04:52] Repairdesk-QA commented on #1799
**Hey @coreyjiles,**
**I hope you are doing well.**

Ayesha here. According to your above mentioned screenshots, the total amount = $125, and the $0 amount is paid that's why Amount Due = $125, which is correct.

Still, let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2022-01-05 05:06] Repairdesk-QA commented on #1800
**Hey @coreyjiles,**
**Hope you are doing well.**

Actually, the RepairDesk Payments integration is not supported with the Customer Portal. For the time being it is just supported with our Appointment Calendar widget.

Closing this task as I think your query has been answered and If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.

H

[2022-01-05 05:06] #1800 closed

[2022-01-05 05:25] Repairdesk-QA commented on #1798
Hello @AbbyCSC,
Hope you are doing well.

Sorry for the inconvenience but the purpose of asking for the video or picture of the screen is just for confirmation.
Issues with calculations would be better understood if we have screenshots or video.
We are still looking into it.
Your patience would be highly appreciated.

**_Thanks & Regards_**,
Quratul Ain

[2022-01-05 05:26] Repairdesk-QA commented on #1694
Sure @YZFTechRepairs, we are here to help you.
And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.
Thanks for your time. Enjoy your day!
Regards,
Ayesha Aamir

[2022-01-05 06:04] Repairdesk-QA commented on #1799
**Hey @coreyjiles,**
I hope you are doing well!

I have checked your concern but didn't find any issue as everything is working fine on our end. Could you give it another try plus would be great if you can share a video of this issue or detailed steps so we can release a fix during our next release. You can put together a video using **Screencastify**. Attaching a screenshot for reference.

If you

[2022-01-05 06:37] Repairdesk-QA commented on #1797
Hello again @coreyjiles,
Hope you are doing well.

I have checked again and would like to inform you that the macro {payment_button} is related to Invoices and will be working with that. We can't use this in Tickets.
This is the flow of our system.

I hope you understand but if there is anything else with which I may assist, please do not hesitate to reach out.

**_Regards,_**
Quratul Ain

[2022-01-05 06:54] Repairdesk-QA commented on #1798
Hello again @AbbyCSC,
Hope you are doing well.

We have checked and would like to inform you that Inventory Count is displaying cost variance negative in both the cases you have mentioned.
Please find the following attachment for reference:
![image](https://user-images.githubusercontent.com/39614480/148173233-f13b8f3b-b141-4556-8ba3-0f62793163f4.png)

If you have any questions or if there is anyth

[2022-01-05 14:10] AbbyCSC commented on #1798
To clarify the problem is with the report I sent you not with the actual inventory update process.  The report is displaying the cost amount incorrectly.  Please refer to my previous email and look at the REPORT I sent.
Thank you
Abby

Abby Katz
Purchasing Manager
Computer SuperCenter of Greenwich
103 Mason St
Greenwich CT 06830
203-661-1700 option 2 Service
203-242-8654 direct line

From: Repaird

[2022-01-05 15:40] YZFTechRepairs commented on #1694
Hello Ayesha,

The issue has been resolved.

Previously, "unticking" the box "Hide Out of stock Repair parts from POS" did not resolve the issue. So that leads me to conclude that whatever changes were made on the back-end are what resolved this issue. I appreciate your persistence in resolving this matter. I hope that is was more than a unique situation for just myself and that this fix will bene

[2022-01-06 05:50] Repairdesk-QA commented on #1798
Hello @AbbyCSC,
Hope you are doing well.

Sorry to inform you but we have not received any attachments in your email.Would be great if you check again at your end.
It would be really helpful.
Also, we just have stats in Inventory count so we might have an issue with the Inventory count.
The inventory adjustment report has no stats in that.
![image](https://user-images.githubusercontent.com/3961448

[2022-01-06 08:08] Repairdesk-QA commented on #1694
**Hey @YZFTechRepairs,**

Glad to know that the recent fix is working fine for you. And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.

Have a good day!

**Regards,**
**_Ayesha Aamir_**

[2022-01-06 12:52] Repairdesk-QA commented on #1794
Hello @Stylemyphones,
Hope you are doing well.

Your reported issue against devices has been fixed. Kindly verify at your end and do let us know if you have any questions or have any issues.
Waiting for your feedback!

**_Thanks & Regards,_**
Quratul Ain

[2022-01-06 12:58] Repairdesk-QA commented on #1594
**Hey @afrahm,**

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

**Thanks,**
**Ayesha Aamir**

[2022-01-07 05:27] Repairdesk-QA commented on #1799
Hi again @coreyjiles, since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Regards,
Ayesha Aamir

[2022-01-07 07:08] Repairdesk-QA commented on #1206
**Hey @R2Repair,**
I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

**Thanks,**
**Ayesha Aamir**

[2022-01-07 12:08] AbbyCSC commented on #1798
Abby – Have you gotten a response? Brian

Brian Desrosier
Lighthouse Technology Partners
President
Greenwich, CT | 203-242-8648
Managed IT Support<https://lighthousemsp.com/services/managed-services/> | Cyber Security<https://lighthousemsp.com/services/security-compliance/> | Teams & SharePoint<https://lighthousemsp.com/services/sharepoint-collaboration-intranet-portals/>
Ask me about  #Digital Tr

[2022-01-07 13:38] R2Repair commented on #1206
Good Morning,

No improvement yet, it still takes longer to add inventory items when there
are more parts in an order.

Thank you,

Rakesh Chandravadia

R2 Repair

[image: r2logo]

E:   ***@***.***

*Technical or General Inquiries: ***@***.****
***@***.***>

*Technical Support contact number: 905-901-3108 Ext 15 (or Ext 24 after
3:30 pm and at weekends)*

*Repair Services and parts quotes: ***@***

[2022-01-07 14:02] CCWTech opened #1801 "Automated backup of data - to dropbox, google drive, etc. - Feature Request."
I am not yet a client of RepairDesk but when I evaluated the product one of the first things I wanted to know is how do I get my data out if I leave (or if RepairDesk goes out of business). Of course every business says, "Don't worry, we will be here forever" but any intelligent business owner knows that trusting a company you have 0 control over is risky. Hopefully they will be here forever.

I w

[2022-01-07 14:58] AbbyCSC commented on #1798
Attached is the report I sent you with the original request for assistance.  To be clear the inventory count works properly but the attached report does not.  If you open the report you will see notations illustrating the issue.  The issue is that when the counted amount is less than the expected count but not 0 it displays the cost variance as a positive value rather than a negative value.  I'm s

[2022-01-08 02:42] afrahm commented on #1594
This is not fixed. Still does the same thing.

If I am not assigned a job today, it does not show all the tickets I have
completed that I am assigned to from previous days.

It should still show that I have completed 7 repairs today and assigned to
0.

*Mount IsaRepairDesk - Ticket - 8 January 2022* - Watch Video
<https://www.loom.com/share/91951a4b46d149b4ba0240a7b3c6cf55>
<https://www.loom.com/s

[2022-01-10 05:44] ProductTeam-RepairDesk commented on #1801
Hey, @CCWTech Hope you are doing well,
I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work during this Quarter. I will keep you posted once we start working on it.

And I hope that if there’s anything else I c

[2022-01-10 05:45] Repairdesk-QA commented on #1206
Hey @R2Repair,
I hope you are doing well.

Sorry for the continued inconvenience. Let me check this on my end and I'm gonna reach out to our Engineers to get this taken care of. I'll get back to you as soon as I have more information!

Thanks,
Ayesha Aamir

[2022-01-10 06:28] Repairdesk-QA commented on #1798
Hello @AbbyCSC,
Hope you are doing well.

It seems to be an account-specific issue. One of our support ninjas will reach out to you to get more information.
Your patience would be highly appreciated.

**_Regards,_**
Quratul Ain

[2022-01-10 06:36] Repairdesk-QA commented on #1594
**Hey @afrahm,**
**I hope you are doing well.**

I have checked your concern but it's working fine for me. i.e. If an employee is not assigned **any new ticket today** but any ticket from the **previous date is Repaired** on the selected date along with **Repair-Wise filter** it will display in the **Completed column** and **Assigned To** will be displayed as **0**. But if any new ticket is assign

[2022-01-10 11:07] Repairdesk-QA commented on #1797
Hello @coreyjiles,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Closing this issue for now, but you can always open this whenever you want to.

**_Thanks & Regards,_**
Quratul Ain

[2022-01-10 11:07] #1797 closed

[2022-01-10 11:08] Repairdesk-QA commented on #1794
Hello @Stylemyphones,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Closing this issue for now, but you can always open this whenever you want to.

**_Regards,_**
Quratul Ain

[2022-01-10 11:09] #1794 closed

[2022-01-10 11:17] Repairdesk-QA commented on #1448
Hello @JessicaSOS,
Hope you are doing well.

I would like to inform you that we have checked our test data prepared against the issue you have reported, but we have not seen any Manufacturer removed from the inventory item.
Kindly let us know if you are facing this issue on recent inventory items.
Waiting for your kind response!

**_Regards,_**
Quratul Ain

[2022-01-10 12:43] Repairdesk-QA commented on #1795
Hello @AMott-2020,
Hope you are doing well.

Kindly schedule a call with **_Fahad Imran, Manager Customer Success and Support_**. Kindly book a slot from the link in order to connect with him:
https://calendly.com/fahadimran
I am sure he will be able to assist with the above query and take relevant information so we can address your concerns timely.

**_Thanks & Regards,_**
Quratul Ain

[2022-01-10 12:44] Repairdesk-QA commented on #1798
Hello @AbbyCSC ,
Hope you are doing well.

Kindly schedule a call with **_Fahad Imran, Manager Customer Success and Support_**. Kindly book a slot from the link in order to connect with him:
https://calendly.com/fahadimran
I am sure he will be able to assist with the above query and take relevant information so we can address your concerns timely.

**_Thanks & Regards,_**
Quratul Ain

[2022-01-10 21:28] MobileFusion opened #1802 "Extra Sales Tax Account Sync Option for Dual Tax."
Hello,

To make book keeping easier we are looking to have an extra sales tax account to sync our sales tax to Xero from Repair Desk.

Current there is only one line for sales tax which throws both sales taxes into the account instead of one into GST and one into PST.

Please let me know when this will be possible as we just signed up and would like to use RepairDesk right away.

[2022-01-10 23:51] afrahm commented on #1594
OK, it appears to be working for us now.

Thank you for getting this fixed up.

Regards,

[image: Kixup iPhone Repairs] <https://htmlsig.com/t/000001C2V70S>

Andrew Frahm / CEO & Founder
***@***.***

Kixup Repairs
www.kixup.com.au

[image: Facebook]  <http://facebook.com/kixuprepairs> [image: Instagram]
<http://instagram.com/kixuprepairs>

On Mon, Jan 10, 2022 at 4:36 PM Repairdesk-QA ***@***.***>

[2022-01-11 00:32] MobileFusion commented on #1651
Has this feature been updated? I noticed that it doesn't put out a line breakdown still.

[2022-01-11 07:47] MobileFusion opened #1803 "Default SKU for newly added products"
Hello Devs.

The issue we are having is when we add a new product we select Vendor/Supplier SKU and then input the said vendors SKU so that if we need to create a P.O. it comes up with the correct part I assume that's what that feature is for?

The system then genereates a random SKU to use in store which is great so that customers don't see our supplier's SKU. Issue is that everytime we check out

[2022-01-11 07:57] MobileFusion commented on #1698
@HeisenbergTech I have the same issue as posted above, hopefully the whole xero integration can be worked on soon as we already switched over as of the new year with Xero and RepairDesk and would like to continue our service aranagement.

[2022-01-11 09:45] Repairdesk-QA commented on #1803
Hey @MobileFusion,
Ayesha here. Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2022-01-11 10:40] Repairdesk-QA commented on #1803
Hello **@MobileFusion** ,
Hope you are doing well !

I have checked your concern, according to systems current workflow **one** way is this system allowing us to sell non-serialized item with default SKU each time from POS by simple checking out the item from POS where you don't need to select any SKU, you can better check in the attached video, the **other** way is this if you want to sell non-se

[2022-01-11 10:46] Repairdesk-QA commented on #1803
If you have any other questions or if there is anything else with which I may assist, please provide us the video link using Screencastify & do not hesitate to reach out.

[2022-01-11 10:51] Repairdesk-QA commented on #1803
Hello **@MobileFusion** ,
Hope you are doing well !

I have checked your concern, according to systems current workflow **one** way is this system allowing us to sell non-serialized item with default SKU each time from POS by simple checking out the item from POS where you don't need to select any SKU, you can better check in the attached video, the **other** way is this if you want to sell non-se

[2022-01-11 11:30] Repairdesk-QA commented on #1594
Hey @afrahm,
Glad you like it.

Closing this issue as it has been fixed.
And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.

Thanks for your time. Enjoy your day!

Regards,
Ayesha Aamir

[2022-01-11 11:30] #1594 closed

[2022-01-11 12:12] Adski01 commented on #1039
Did this item get taken any further?

[2022-01-11 20:20] MobileFusion commented on #1803
Okay thank you. I noticed you cannot just input the item code, but you must scan or input the SKU code then it won't ask for the SKU before checking out. This will work as a work around for us and we will use that method going forward.

[2022-01-11 20:20] #1803 closed

[2022-01-12 04:51] Repairdesk-QA commented on #1803
**Hey @MobileFusion,**

I really appreciate that you took the time to share your idea. If you have any other questions or feedback for us, please get in touch. We really appreciate any suggestions you have.

**Thanks,**
**Ayesha Aamir**

[2022-01-12 08:15] Repairdesk-QA commented on #1792
Hi again @adigsm07, since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Regards,
Ayesha Aamir

[2022-01-12 12:33] Repairdesk-QA commented on #1799
Hi again @coreyjiles, since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Closing this task for now.

Regards,
Ayesha Aamir

[2022-01-12 12:33] #1799 closed

[2022-01-12 21:53] mobilexpertmiami opened #1804 "RMA without items"
When creating a RMA the system should prevent you to save it if no items has been added.

It had happened to me a couple of times that I forget to click add row and the RMA is saved without any item.

[2022-01-12 23:19] afrahm opened #1805 "Employee Productivity Report"
The Repair Time only shows for tickets created that day.

So when using Date Wise criteria is correct, but using Repair Wise criteria it does not change to reflect the Repair Time correctly.

[2022-01-13 00:21] AVECorp opened #1806 "Ticket Search Function Error"
Hi Team,

We are seeing a reoccuring issue when searching for a ticket in the 'manage tickets' screen.
When we filter/search a ticket using the "manufacturer" criteria search we are seeing the default ticket list, not the manufacturer that was selected. Thisis the same regradless of the manufacturer we select in the criteria search.

![image](https://user-images.githubusercontent.com/91883389/1492

[2022-01-13 05:20] Repairdesk-QA commented on #1805
Hey @afrahm,
Ayesha here. Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2022-01-13 05:21] Repairdesk-QA commented on #1806
Hey @AVECorp,
Ayesha here. Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2022-01-13 05:23] Repairdesk-QA commented on #1804
Hey @mobilexpertmiami,
Ayesha here. Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2022-01-13 05:25] ProductTeam-RepairDesk commented on #1802
Hey @MobileFusion  hope you are doing well,
I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work during this Quarter. I will keep you posted once we start working on it.

And I hope that if there’s anything els

[2022-01-13 07:50] Repairdesk-QA commented on #1804
**Hey @mobilexpertmiami,**

Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!

**Thanks!**
**Ayesha Aamir**

[2022-01-13 07:54] Repairdesk-QA commented on #1804
**For internal use only:**
https://repairdesk.atlassian.net/browse/RB-4439

[2022-01-13 10:53] Repairdesk-QA commented on #1806
Hey @AVECorp,

Thank you for bringing this to our attention! It looks like there's a bug that just popped up.

I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!

Thanks,
Ayesha Aamir

[2022-01-13 10:58] Repairdesk-QA commented on #1806
**For internal use only:**
https://repairdesk.atlassian.net/browse/RB-4441

[2022-01-13 11:12] Repairdesk-QA commented on #1448
**_For internal use only:_** https://repairdesk.atlassian.net/browse/RB-4396

[2022-01-13 12:01] mobilexpertmiami commented on #1804
Ok, do you have any updates on this?

On Thu, Jan 13, 2022, 2:54 AM Repairdesk-QA ***@***.***>
wrote:

[2022-01-13 15:55] Repairdesk-QA commented on #1804
Hello @mobilexpertmiami,
Your reported issue is identified and has been assigned to our development team.
I'll get back to you as soon as I have more information!

Thanks,
Ayesha Aamir

[2022-01-13 17:36] MobileFusion commented on #1802
Hello Humza, thank you for your reply, however we really need the secondary sales tax line to sync with Xero in either Sync Shift or per invoice. If we don’t we have to manually export the tax report everyday, make journal entry adjustments which creates 1-2 hours of work as we put through many transactions in a day. Otherwise we will have to cancel our subscription.

Another option is I can have

[2022-01-13 20:22] techm89 opened #1807 "Scanning items with a "/" is changing the character to a "é""
Let's say I have a barcode sku named: IPAD5/6.

In the inventory module when I scan the barcode on the ticket of the product it pulls: IPAD5é6 instead of IPAD5/6. Seems like the system is switching / for an é automatically. It started doing this this week.

Can this be fixed? It's kind of annoying to have to replace the é with an /  manually each time we scan an accessory.

Thanks

[2022-01-14 04:27] Repairdesk-QA commented on #1807
Hello @techm89,
Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Your patience would be highly appreciated.

**_Regards,_**
Quratul Ain

[2022-01-14 04:37] Repairdesk-QA commented on #1795
Hello @AMott-2020,
Hope you are doing well.

Kindly share your Business Name associated with RepairDesk so it will be easy for us to contact you.
Waiting for your response.

**_Regards,_**
Quratul Ain

[2022-01-14 06:12] Repairdesk-QA commented on #1448
Hello @JessicaSOS,
Hope you are doing well.

I would like to inform you that we have found your issue and have fixed it.
Kindly Set Manufacturers for the items you have mentioned**(**for example ID#9148**)** and ask the same Employee(I think he was Simon) to open the item and hit the save button.
The Manufacturer will be there.

Kindly verify at your end and do let us know if you have any question

[2022-01-14 13:41] Repairdesk-QA commented on #1805
Hey @afrahm,

Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!

Thanks,
Ayesha Aamir

[2022-01-14 13:47] Repairdesk-QA commented on #1805
**For internal use only:**
https://repairdesk.atlassian.net/browse/RB-4456

[2022-01-14 14:28] kmcorp27 opened #1808 "Need to have warranty time set on trade-ins."
We warranty our devices here and if someone comes back in for any refurbishment we dont have times set on the computer to allow our employee to know if it is within warranty period or not like our repairs do.

[2022-01-14 20:18] techm89 opened #1809 "Device issue is gone when going to edit a ticket"
Whenever I go into EDIT under a ticket to add a device issue, the previous issue I had under the ticket are gone. I need to add it back.

[2022-01-17 04:28] Repairdesk-QA commented on #1808
@ProductTeam-RepairDesk FYI

[2022-01-17 04:34] Repairdesk-QA commented on #1809
Hello @techm89,
Hope you are doing well.

Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Your patience means a lot to RepairDesk.

_**Regards,**_
Quratul Ain

[2022-01-17 05:24] Repairdesk-QA commented on #1807
Hello **@techm89**,
Hope you are doing well !

I have checked your concern, it seems its an Account Specific Issue. Would be great if you can share a video of this issue or detailed steps. You can put together a video using Screencastify. If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.

**Note: Kindly share your Business Name ass

[2022-01-17 12:44] jphansendk commented on #1808
YES please... Was on my "hit RepairDesk in the head with this" list ;-)

[2022-01-17 12:50] jphansendk commented on #1805
👀

[2022-01-17 12:59] jphansendk opened #1810 "GSX integration update?"
I know we have had it up before.. But is there any progress?
I can see others have done this.. So it must be possible.. We are IRP approved by Apple and will help in any way we can..
This would also make it So much easier getting the original Apple spare parts in RepairDesk.
Sample of others who have done it: https://www.fixably.com/features/gsx-integration

[2022-01-18 10:53] Repairdesk-QA commented on #1809
Hello **@techm89** ,
Hope you are doing well !

I have checked your concern, I have created a Ticket from Manage Tickets and from POS as well and tries to Edit Device's Issue, the issue is not reproduced. Would be great if you can share a video of this issue or detailed steps to Reproduce. You can put together a video using Screencastify. If you have any questions or if there is anything else with

[2022-01-18 12:48] Repairdesk-QA commented on #1804
Hey @mobilexpertmiami,

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks,
Ayesha Aamir

[2022-01-18 20:22] JessicaSOS commented on #1568
fixed, tnx a lot

[2022-01-18 21:02] techm89 commented on #1809
Here is the link: https://watch.screencastify.com/v/vrjXDRuIpz6zDpEZ1kG3

ALTECH Mobile

Thanks

[2022-01-19 04:29] Repairdesk-QA commented on #1568
Thanks, @JessicaSOS for your feedback.
I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.

**_Regards,_**
Quratul Ain

[2022-01-19 05:17] Repairdesk-QA commented on #1809
Hey **@techm89**,
Hope you are doing well !

Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
I'm going to reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!

Regards,
**Nida Khalid**

[2022-01-19 05:23] Repairdesk-QA commented on #1809
For internal use

Jira Link: https://repairdesk.atlassian.net/browse/RB-4472

[2022-01-19 13:50] ZAGRAL commented on #1709
SHORTCUT KEY IN VIEW TICKETS IN INDIVIDUAL INVOICE ticket : 1709 still pending

[2022-01-19 13:50] ZAGRAL commented on #1709
SHORTCUT KEY IN VIEW TICKETS IN INDIVIDUAL INVOICE

[2022-01-20 13:10] Repairdesk-QA commented on #1805
Hey @afrahm,

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks,
Ayesha Aamir

[2022-01-20 13:16] Repairdesk-QA commented on #1806
Hey @AVECorp,

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks,
Ayesha Aamir

[2022-01-21 03:11] afrahm commented on #1805
Yes looks like that has fixed the issue I mentioned.
However now the success ratio is not changing based on date or repair wise.

[2022-01-21 04:58] Repairdesk-QA commented on #1805
Hey @afrahm,
I hope you are doing well.

I have checked your concern but the above mentioned scenario is working fine for me. Would be great if you can share a video of this issue or detailed steps so we can release a fix during our next release. You can put together a video using **Screencastify**. Attaching a video from my test account for your reference.

https://watch.screencastify.com/v/NlcV8

[2022-01-21 05:01] Repairdesk-QA commented on #1809
Hello **@techm89**,
Hope you are doing well !

I believe this issue has been fixed in recent update. Can you give it another try?
And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.

Video Ref: https://www.screencast.com/t/aULISEVlyz6

**Thanks,**
Nida Khalid

[2022-01-21 05:01] afrahm commented on #1805
In your video you have 100% success ratio when you had 2 assigned jobs and only 1 completed.. should be  50%..

[2022-01-21 05:23] Repairdesk-QA commented on #1805
Hey @afrahm,

It's not an issue but the current functionality of the **Employee Productivity Report in Repair-Wise** case i.e. in this section the repair jobs completed according to the selected date will be displayed and a repair job will never be completed partially so the **Success Rate will be displayed as 100%** always.

But if you will see the success rate according to the ticket status then

[2022-01-21 05:34] Repairdesk-QA commented on #1804
Hi again @mobilexpertmiami, since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Regards,
Ayesha Aamir

[2022-01-21 05:34] #1804 closed

[2022-01-21 07:16] Repairdesk-QA commented on #1805
Hey @afrahm,
I am closing this task for now as the reported issue has been fixed. But you can always give me a shout here if anything else comes up!
Regards,
Ayesha Aamir

[2022-01-21 07:16] #1805 closed

[2022-01-21 07:18] Repairdesk-QA commented on #1448
Hi again @JessicaSOS, since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Regards,
Ayesha Aamir

[2022-01-21 07:18] #1448 closed

[2022-01-21 07:24] Repairdesk-QA commented on #1798
Hi again @AbbyCSC, since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Regards,
Ayesha Aamir

[2022-01-21 07:24] #1798 closed

[2022-01-21 07:25] Repairdesk-QA commented on #1795
Hello @AMott-2020,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Closing this issue for now, but you can always open this whenever you want to.

**_Regards,_**
Quratul Ain

[2022-01-21 07:26] #1795 closed

[2022-01-21 07:33] Repairdesk-QA commented on #1733
Hey @AVECorp

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have any question.

Thanks!

[2022-01-21 07:33] #1733 closed

[2022-01-21 07:35] Repairdesk-QA commented on #1807
Hello **@techm89,**
Hope you are doing well !

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
I have taken your **Business Name** from your other GIT issue. I have check your concern  with one of our senior Developers on your account associated with Repair Desk. . I'm unable to reproduced this issue even

[2022-01-21 13:43] AbbyCSC commented on #1798
I am going to put together a list of all my items that I need you to dial in and look at and we can setup a time next week
Thank you
Abby

Abby Katz
Purchasing Manager
Computer SuperCenter of Greenwich
103 Mason St
Greenwich CT 06830
203-661-1700 option 2 Service
203-242-8654 direct line

From: Repairdesk-QA ***@***.***>
Sent: Friday, January 21, 2022 2:25 AM
To: Repair-DeskPOS/RepairDesk-BUGS-IMP

[2022-01-21 20:53] JessicaSOS commented on #1448
REOPEN PLEASE

Simon actually no longer has access to the manufacturer, which is perfect. What is the option to check or uncheck in the privileges that gives this result?

Simon is an employee of the Lévis store only. He therefore does not have access to the limoilou store. Only David has made adjustments in certain products without having to modify the manufacturer. However, the manufacturer of t

[2022-01-21 21:13] JessicaSOS commented on #1373
REOPEN PLEASE

We don't know the source of the problem otherwise we would have told you about it. I am not able to provide you with a video since it is not during the manipulation on our side that the problem is present. We stumble upon these customers whose group has been modified without us having made any changes.

--

Nous ne connaissons pas la source du problème sinon nous vous en aurions fai

[2022-01-24 02:20] afrahm opened #1812 "Unable to edit existing customers from POS"
https://www.loom.com/share/3878843844f84ca98899d8cdbdf14f8a

I am able to edit the customer via the customer record in the customer module though, this just happens on the POS

[2022-01-24 04:40] Repairdesk-QA commented on #1812
Hey @afrahm,
Ayesha here. Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2022-01-24 04:47] Repairdesk-QA commented on #1373
Hey **@JessicaSOS,**,
Hope you are doing well !

Sure thing, Let me take a look at this, I will reach out to you if I need more information !

Regards,
**Nida Khalid**

[2022-01-24 07:54] AMott-2020 commented on #1812
I am experiencing this same issue aswell.

[2022-01-25 09:35] Repairdesk-QA commented on #1809
Hi again @techm89, since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Regards,
Ayesha Aamir

[2022-01-25 09:35] #1809 closed

[2022-01-25 09:37] Repairdesk-QA commented on #1806
Hi again @AVECorp, since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Regards,
Ayesha Aamir

[2022-01-25 09:37] #1806 closed

[2022-01-25 09:38] #1807 closed

[2022-01-25 09:41] Repairdesk-QA commented on #1792
Hi again @adigsm07, since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Closing this task for now.

Regards,
Ayesha Aamir

[2022-01-25 09:41] #1792 closed

[2022-01-25 09:42] Repairdesk-QA commented on #1789
Hi again @onebitetechnology, since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Closing this task for now.

Regards,
Ayesha Aamir

[2022-01-25 09:42] #1789 closed

[2022-01-25 12:25] Repairdesk-QA commented on #1812
Hey @afrahm,
I hope you are doing well.

I have checked your concern on your account from the backend with one of developer but the issue is not reproduced. Could you please give it another try and let us know if the issue is still occurring so that we can investigate it in detail.

@AMott-2020 could you please share your **Business Name associated with RepairDesk Account** so that we can further

[2022-01-26 22:41] afrahm commented on #1812
It appears the issue has been fixed.

On Tue, Jan 25, 2022 at 10:25 PM Repairdesk-QA ***@***.***>
wrote:

[2022-01-27 05:27] RDimprovement opened #1813 "PLEASE add ability for customer to PARTIALLY pay invoice when Paid via RepairDesk Pay email invoice link"
Hi,

At the moment there is no way for the customer to partially pay the invoice when Paid via RepairDesk Pay email invoice link without editing the price of the repair ticket. RepairDesk needs to add the ability to partially pay an invoice via email link. For example, a ticket is made for a repair costing $100 total. And customer pays $50 of the $100 today via email invoice link, and the rest at

[2022-01-27 16:38] AMott-2020 commented on #1813
yes very much needed

[2022-01-28 18:45] Repairdesk-QA commented on #1812
Hey @afrahm,
I hope you are doing well.

Glad that the issue has been fixed and working fine for you now.
Closing this issue as it has been fixed.

And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.

Thanks for your time. Enjoy your day!
Regards,
Ayesha Aamir

[2022-01-28 18:45] #1812 closed

[2022-01-29 19:03] kjtechcity opened #1814 "Purchase Orders Imports"
We would like to be able to import orders from suppliers and have a purchase ordered created.

[2022-01-29 22:35] RDimprovement opened #1815 "Sales tax not calculating accurately. Please Fix."
Hi,

Sales tax is not calculated correctly. The excel screenshot shows how the correct tax should be two cents less than what RepairDesk is calculating. The correct tax of 7.875% is in the tax configuration module. Quickbooks is also calculating the correct tax of 29.71 NOT 29.73 calculated by RepairDesk. When can this be fixed by?

<img width="395" alt="Screen Shot 2022-01-29 at 4 26 22 PM" src="

[2022-01-31 04:39] Repairdesk-QA commented on #1814
Hello @kjtechcity,
Hope you are doing well.

I would like to inform you that there is a functionality to import Purchase Order in RepairDesk.
**_For better understanding, kindly look into the video attached:_**
https://watch.screencastify.com/v/EJr6ZyhNa0eOfaj2kftL

I hope this might solve your query but if not, kindly let us know in detail.
We will surely solve your query.

**_Thanks & Regards,_*

[2022-01-31 04:49] Repairdesk-QA commented on #1815
Hey @RDimprovement,
Ayesha here. Sure thing! Let me have a look into it and I'll circle back to you.

[2022-01-31 17:02] mrfixdowntown opened #1816 "Self Check-In Widget Phone without +1"
Hello! I am using Self Check In Widget on iPad in my stores and customers creating self check in tickets there, unfortunately phone number automatically adding without +1 and after that repair desk don't recognize this number. Please, fix it.

[2022-01-31 19:24] kmcorp27 commented on #833
We need this for sure!!!!

[2022-01-31 19:38] AMott-2020 commented on #1813
will this be added in RD 2? @ProductTeam-RepairDesk

[2022-02-01 04:49] Repairdesk-QA commented on #1816
Hey @mrfixdowntown,
Ayesha here. Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2022-02-01 05:40] Repairdesk-QA commented on #1816
Hey @mrfixdowntown,
I hope you are doing well.

At present, we are not working on the new features/bug fixing on the Mobile App and iPad app for the next few months as one of the feedback we constantly receive is to simplify RepairDesk, make it more stable, and remove unnecessary options. With that in mind, we've decided to pause working on iPad & Mobile app and over the course of the next few mon

[2022-02-01 05:48] #1816 closed

[2022-02-01 06:09] Repairdesk-QA commented on #1815
**_Hey @RDimprovement,_**
_I hope you are doing well._

I really appreciate that you took the time to share your ideas.

Actually, at the moment our software supports values up to 2 decimal places and the suggested improvement is a big change as it will impact our entire software calculations. I have discussed this improvement with our Development & Business Analysis Team and added this is our 202

[2022-02-01 06:09] Repairdesk-QA commented on #1815
**For internal use only:**
https://repairdesk.atlassian.net/browse/REP-3497

[2022-02-02 07:49] TCSAresponse opened #1818 "TCSA - Ticket timer"
I would like the ticket timer to be added to the invoice and also added to the techs pay roll.

For example the tech earns $20 per hour per job, so if they work 10 minutes they charge and get paid the full hour etc. The shop charges $50 per hour with the same rule.

The starts the timer, works 10 minutes and stops the timer and once the timer is stopped the $50 charge gets put on the invoice and t

[2022-02-02 07:54] TCSAresponse opened #1819 "TCSA - Employee Payroll"
When a manager adds time in for an employee can we have a text box to add a reference?

So I can add the ticket number as a reference so we know what jobs they have done to pay them.

Alternatively have some clock in for each job?

[2022-02-02 10:10] ProductTeam-RepairDesk commented on #1818
Hey @TCSAresponse
I hope you are doing well.

I really appreciate that you took the time to share your ideas. I have discussed this improvement with our Development & Business Analysis Team and added this is our 2022 roadmap. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible.

Will keep you posted on this improvement.

And I

[2022-02-02 19:54] roccor2gaming opened #1820 ""Ready to Ship" status showing as a CLOSED ticket"
Good day. In Manage tickets, our tickets with the status "Ready to Ship" are showing up a CLOSED tickets. We would like these tickets to remain OPEN until the goods ship. Can you please assist?

Attached is an example for reference. Thank you,[
[Ready to Ship - closed ticket example.pdf](https://github.com/Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS/files/7989603/Ready.to.Ship.-.closed.ticket.exam

[2022-02-03 05:32] TCSAresponse commented on #1818
Hi team,

Is there a possibility of add in in an interface for techs that are in the field? Currently we use Aroflo for this as it lets us book jobs for the tech and they are able to add times for travel to site, travel for the job and travel back to base.

Can this be done?

Kind Regards

      [cid:eee59d2f-4696-40fa-894e-f66e9f797744]

Adam Donovan
Response Team Leader

Phone: 0748 023 123

Hea

[2022-02-03 06:21] Repairdesk-QA commented on #1820
Hey @roccor2gaming,
I hope you are doing well.

I have checked on your RepairDesk account from backend, and came to know that the custom status that you made i.e. **Ready to Ship** its Type = Closed that's why the tickets are Closed once this TICKET status is associated with them. If you want these tickets to stay **Open** after associating this status then kindly change **Ready to Ship** status T

[2022-02-03 06:44] AVECorp opened #1821 "Device Manufacturer Not Exporting On Reports"
Hi Team,

We have notriced the device manufacturer is missing when we run a report despite being set up correctly.

This is the device as it appears in RD
![image](https://user-images.githubusercontent.com/91883389/152293805-622c1b93-d372-4053-ae71-134fa088ed17.png)

This is the device export.
![image](https://user-images.githubusercontent.com/91883389/152294063-643cf352-80b8-419f-8bf2-f7bc0cb55ce

[2022-02-03 06:45] AVECorp commented on #1821
This is happening across all devices in the reports.

[2022-02-03 07:43] #262 closed

[2022-02-03 07:44] #243 closed

[2022-02-03 07:46] #318 closed

[2022-02-03 07:46] #332 closed

[2022-02-04 06:46] #1820 closed

[2022-02-04 06:48] Repairdesk-QA commented on #1814
Hi again @kjtechcity - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Regards,

[2022-02-04 06:48] #1814 closed

[2022-02-04 06:48] Repairdesk-QA commented on #1821
Hello @AVECorp,
Hope you are doing well.

Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Your patience means a lot to RepairDesk.

**_Regards,_**
Quratul Ain

[2022-02-05 19:22] RDimprovement opened #1822 "RMA excel export not working. Excel sheet blank."
When clicking the blue Export RMA button an excel sheet is downloaded but other than the header it's completely blank. No RMA items are exported. Can this be looked into?

[2022-02-06 22:05] hitman1986 opened #1823 "Suggestion"
I suggest that when entering the low stock report and specifying the required filter, sort the items in the display according to the type of product (category). This facilitates the processing of the purchase order

[2022-02-07 03:27] AMott-2020 opened #1824 "a section for donations or fundraisers"
is it possible to add a section for like donations so customers could donate to local charities when checking out

it would need to have a place for a description of the charity
a box for amount input
or a percentage option.

[2022-02-07 04:26] Repairdesk-QA commented on #1822
Hello @RDimprovement,
Hope you are doing well.

Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

**_Regards,_**
Quratul Ain

[2022-02-07 06:03] ProductTeam-RepairDesk commented on #1823
Hey @hitman1986  Hope you are doing well, you can apply a filter based on the product category from criteria and get all the low stock items related to that specific category.
<img width="1422" alt="Screenshot 2022-02-07 at 11 01 25 AM" src="https://user-images.githubusercontent.com/22955861/152733177-c0986f7a-fd3f-4ce7-bcb7-42d713d3f5bc.png">
 I hope this helps, if you have any other questions do

[2022-02-07 07:13] #506 closed

[2022-02-07 07:15] #389 closed

[2022-02-07 07:21] #802 closed

[2022-02-07 07:21] #776 closed

[2022-02-07 07:24] #601 closed

[2022-02-07 07:25] #629 closed

[2022-02-07 07:36] #962 closed

[2022-02-07 07:40] #1039 closed

[2022-02-07 08:11] Repairdesk-QA commented on #1821
Hello @AVECorp,
Hope you are doing well.

We have checked your concern and like to inform you that we are able to see devices/manufacturers in the reports exports.
![image](https://user-images.githubusercontent.com/39614480/152748823-c8887492-185c-4853-8d89-1e8e5207a7c4.png)

It would be great if you mentioned the Report Name or share your business name with us so we can check from the backend and

[2022-02-07 09:44] Repairdesk-QA commented on #1822
Hello again @RDimprovement,

Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
Your reported issue has been assigned to the development team and hopefully, it will be fixed early next week.
Your patience would be highly appreciated.

Thanks & Regards!
Quratul Ain

[2022-02-07 09:44] Repairdesk-QA commented on #1822
**_For internal use only:_** https://repairdesk.atlassian.net/browse/RB-4579

[2022-02-07 11:07] Repairdesk-QA commented on #1373
Hey **@JessicaSOS**,
Hope you are doing well !

I have checked your concern again from backend and I just have came to know a scenario hopefully with this fix your mentioned issue could be resolved. I will update you shortly once it fixed !

Regards,
**Nida Khalid**

[2022-02-07 11:07] Repairdesk-QA commented on #1373
For internal Use: https://repairdesk.atlassian.net/browse/RB-4580

[2022-02-07 18:38] AMott-2020 opened #1825 "customer waitlist"
a way to have a customer waitlist which would show on a screen in-store the position of their repair and a live update on the invoice or on the Repair Tracker so customers can see their current position of the repair.

[2022-02-07 23:49] AVECorp commented on #1821
Hi Quratul,  Here is the video link showing the missing device manufacturers.https://watch.screencastify.com/v/OGZYkUtMwmQVX4D6NV0O  Ben Rawnsley | Wholesale ManagerPhone: +61 3 9706 5325 | Email:  ***@***.***: 318 Hammond Road, Dandenong South, VIC 3175, AustraliaVisit us online | www.avecorp.com.au From: Repairdesk-QASent: Monday, 7 February 2022 7:12 PMTo: Repair-DeskPOS/RepairDesk-BUGS-IMPROVE

[2022-02-08 02:18] AMott-2020 opened #1826 "Inventory Improvement"
when you go to add a new product a place to add serial number or IMEI instead of just IMEI would be nice.

[2022-02-08 12:51] Repairdesk-QA commented on #1822
Hello @RDimprovement,
Hope you are doing well.

Your reported issue has been fixed. Kindly verify at your end and do let us know with the feedback.
Waiting for your kind response.

**_Thanks & Regards,_**
Quratul Ain

[2022-02-08 13:01] Repairdesk-QA commented on #1821
Hello @AVECorp,
Thanks for sharing the video.

I would like to add here the columns you are mentioning here are for the Parts added in the Ticket. These columns will display the manufacturers for the parts added to the ticket.
![image](https://user-images.githubusercontent.com/39614480/152991936-719776c5-155d-43e9-bb41-b1342836f258.png)

Kindly check at your end once again to clear the confusion a

[2022-02-08 18:46] RDimprovement commented on #1822
Fixed, thanks. Would it be possible to add the option to export the description and note fields as well? Would be really helpful!

[2022-02-08 23:28] AVECorp commented on #1821
Hi Quratul, Thank you for getting back to me, that makes sense and appears that the export/the report has the device manufacturer labelled incorrectly. Is there a way to run a similar report with the same details but with the device’s manufacturer listed?The purpose of this type of report is to ascertain the fail/fault rate of the products we import and provide a monthly summary to each brand.It i

[2022-02-09 06:24] Repairdesk-QA commented on #1373
Hey **@JessicaSOS**,
Hope you are doing well !

We need your little **help** here, could you please confirm us have you deleted the third party billing customer(against whom the invoice is generated) in any previous days from manage customer listing ?

Your help will be highly appreciated !

Regards
Nida Khalid

[2022-02-09 08:15] Repairdesk-QA commented on #1821
Hello @AVECorp,
Hope you are doing well.

I would like to add here that this Export you have mentioned earlier is for the Tickets.
If you want to see the same details for products, you should go to the Inventory Page and Export.
**_For better understanding, kindly look into the video attached:_**
https://www.awesomescreenshot.com/video/7288924?key=a7e131a541d718bfebbfbf82c2795bf3

If you still hav

[2022-02-09 08:35] AVECorp commented on #1821
Hi Quratul,

We are wanting the ticket information, together with the device
information. Is this possible?

On Wed, 9 Feb 2022, 7:16 pm Repairdesk-QA, ***@***.***> wrote:

--
Message  protected by MailGuard: e-mail anti-virus, anti-spam and content filtering.
https://www.mailguard.com.au

[2022-02-09 12:37] terry-hodges opened #1827 "RepairDesk Feature request, System improvement"
We have a request at United Labs in regards to the point of sale.

When a sale is created for multiple serialised products,  they are treated as individual lines.

For our needs, these need to be grouped so for example qty 100, serial number (100 listed).

Currently we are having to resort to a workaround, selling a multiple quantity of un-serialised product.
Them the serial numbers are added into

[2022-02-10 05:27] ProductTeam-RepairDesk commented on #1822
Hey @RDimprovement  we can show the notes against RMA Export as a user can add notes for an RMA, but the description is added Line wise which is not possible to Show in the export file.

looking forward to hearing from you

Regards,
Humza

[2022-02-15 10:20] ProductTeam-RepairDesk commented on #1825
Hey, @AMott-2020  Hope you are doing well. kindly refer to the attached knowledge base article link.
https://help.repairdesk.co/knowledgebase/articles/1935100-ticket-counter-display
Hope this helps. if there is anything else I can help you with please feel free to ask.

Regards,
Humza

[2022-02-15 10:24] ProductTeam-RepairDesk commented on #1826
Hey @AMott-2020
 Hope you are doing well. I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work during this Quarter. I will keep you posted once we start working on it.
And I hope that if there’s anything else I