[2018-01-03 16:08] serfma opened #272 "Customer Facing Display Signature Scrolls in Google Chrome"
I'm using a Samsung Chromebook Plus and thus Google Chrome for my Customer Facing Display. I have no iOS devices so I recently found out that in Chrome if a customer tries to sign their signature at the bottom of the order confirmation screen it will automatically scroll the page. Firefox and Safari work fine. I'm unsure if there's a workaround for Chrome or not outside of just not using the brows

[2018-01-09 11:38] remarkasillem commented on #268
This is a recurrent problem for me also...

[2018-01-09 11:42] remarkasillem opened #273 "Quickbooks integration broken"
I have been using RD for several months - but the integration into QuickBooks only worked for the first 3 weeks.  Now trying to get it to manually transfer over the RD file has a broken integration, with no ability to check configuration as i get an error window.

![image](https://user-images.githubusercontent.com/35260088/34719264-a7d8ca40-f581-11e7-8995-9554d987e2e0.png)

[2018-01-25 09:30] robertbellamypimnet opened #274 "Pricing Error with Appointment Calendar Widget"
Retail prices set in the backend have extra pennies added when displayed in the appointment calendar widget.

For example:
A repair with a retail price of £24.99 tax inclusive gets displayed as £25.00 in the widget.

See screenshots below for how these differ.

Backend price:
![backend_price](https://user-images.githubusercontent.com/35798810/35380851-55350140-01b2-11e8-9899-0d892ade5155.png)

Wid

[2018-02-09 16:46] ChrisDRT opened #275 "Google Cloud Print Broken"
Cannot print from google cloud print anymore, tried re syncing printers

[2018-02-13 00:58] rlltd opened #276 "Discount error on ticket lines"
If discount is added to a ticket line (either in the device details repair items, or inventory items) the total amount due at the bottom of the ticket is incorrect.

If the total discount is added to the bottom area it is calculated correctly.

This needs fixed as commission will be paid on the totals of the individual items without taking into account the discount. It also skews the reports as th

[2018-02-13 01:11] rlltd opened #277 "Discount and Tax report"
The Tax Collected seems to calculate tax on the full sale value instead of the amount after discount.

When I remove the discount and reduce the price of the item on an invoice to the same amount, the Tax Collected amount decreases and the Profit increases...

[2018-02-14 19:52] kristan79 opened #278 "Inventory Count Error"
Everytime  We are counting skus a different category pulls up
![screenshot 2018-02-14 13 51 53](https://user-images.githubusercontent.com/33140884/36224812-4a640612-118e-11e8-9077-ed7462f57dd1.png)

[2018-02-23 19:47] TPRS opened #279 "Help Chat Window is removed when navigating repair desk"
Hi,

If you are in a chat with the help team and move from one page on repair desk to another it will be removed and you have to pull it back up each time.

[2018-02-23 23:43] TPRS opened #280 "Form Integration"
Heyo gang,

So we get online leads in two ways. First is calls which we can track using tracking software. The other is from people filling out forms on our website. Can we set up an API so we can automatically add those to our leads? And while at it, can we make sure we get notifications as soon as we get leads?

^^^^ This ^^^^ would be awesome!

[2018-02-24 19:46] TPRS opened #281 "Serialized Parts"
The generate button won't generate a serial.

![image](https://user-images.githubusercontent.com/36774732/36634364-0c5f0e24-1969-11e8-93f3-90327e797d3b.png)

[2018-02-24 19:58] TPRS commented on #281
It only seems to happen when we have different integers.

![image](https://user-images.githubusercontent.com/36774732/36634462-9eb15f74-196a-11e8-9e04-de1341409194.png)
![image](https://user-images.githubusercontent.com/36774732/36634466-a527fa20-196a-11e8-9f03-95117d474594.png)

[2018-02-25 20:34] TPRS opened #282 "Refunds are not refunding"
Heyo,

Refunds are not going through. I've tried several different ways with test transactions and each time the money is taken out of our account but is never refunded.

[2018-02-25 20:40] TPRS opened #283 "Warranty default is years?"
At the customer intake, the warranty defaults to 'years'. Even though our default is 'days'
![image](https://user-images.githubusercontent.com/36774732/36646171-c9268610-1a39-11e8-8ef2-b007ae952fa7.png)

[2018-02-27 22:26] TPRS opened #284 "Can't add manufacturer categories on the fly"
We can't add manufacturers on the fly with the POS.

![image](https://user-images.githubusercontent.com/36774732/36758557-63938ab2-1bda-11e8-9f26-28b6326c4e0a.png)

To try and prevent this issue from happening I'm trying to add in most manufacturers I can think of for any category. However, I can't add the manufacturer to the category unless I have products under those categories.

![image](https:

[2018-02-27 22:49] TPRS commented on #284
This is what I've had to do to mask this issue. Add a 'computer' device to each manufacturer. The problem is these manufacturers have loooooads of different types which is why I wanted to just keep them blank but since I can't add manufacturers on the fly, I had to add in loads of things that we'll never use to prevent us having the add manufacturers to categories on the backend when the customer

[2018-03-01 11:28] ireparo opened #285 "Appointment calendar widget - Terms not responsive mobile"
Hi, at the final of the progress of making an appointent if you tap on terms & conditions is it not responsive from mobie because you cant read all the text and is very anoying to close it.

[2018-03-06 05:32] 406cell opened #286 "Injured Gadgets Broken Link"
![capture](https://user-images.githubusercontent.com/37097126/37015536-0fc8f850-20c5-11e8-87a2-9c809fbc1198.PNG)

bad link https://www.injureddadgets.com/

[2018-03-07 19:51] TPRS opened #287 "Multi Same Serialized Inventory Number"
![image](https://user-images.githubusercontent.com/36774732/37114682-9c89b276-220e-11e8-8a51-5feeb981fda9.png)

[2018-03-13 12:03] pyropresents opened #288 "Campaign follow up emails going out every 2hours even tho these are switched off"
![screen shot 2018-03-13 at 12 00 55](https://user-images.githubusercontent.com/8068715/37340554-6f949e46-26b6-11e8-96e1-0d540193d6b2.png)

[2018-03-16 13:31] tesuwarehouse opened #289 "Manage Tickets Screen - Change Status Error"
We can't change the ticket status from the manage tickets screen.  We get an error that the time cannot be empty.  We don't keep up with time.   Can this be corrected?

[2018-03-16 13:54] tesuwarehouse commented on #289
I was informed by one of our staff that they fixed this.  Sorry about that.  Apparently I didn't read the options properly.  Please delete this request if perfered.

[2018-03-16 13:54] #289 closed

[2018-03-17 09:07] rsrikhan opened #290 "Custom Status colours not changing"
I tried to assign a custom status colour and it is not changing the colour. I used this hex code #4DBC85

[2018-03-17 09:10] rsrikhan opened #291 "Tabbing new customer details on ticket"
When hitting the 'tab' key during the 'adding a new customer' (via new ticket creation) results in the field going down the page rather than across.

So instead of hitting tab and going from First name to last name it goes to down to email

[2018-03-21 23:04] phonefixdfw opened #292 "Notes do not save on already submitted purchase orders"
If I open a purchase order, add a note, and save... it does not save on the po. When you open again it is gone.

[2018-03-22 03:03] phonefixdfw opened #293 "Choosing "hide tax" on estimate makes it $0.00 instead of hiding it"
when selecting "hide tax" on estimate receipt settings, it does not hides it but instead makes it seem like there will be no tax. It needs to either say "plus tax" if hidden, or just actually be hidden. Otherwise, customers will say "but it says $0 tax."
![image](https://user-images.githubusercontent.com/37640713/37748929-940df86e-2d53-11e8-8fbb-1ba559da82d8.png)

would also be nice in email templ

[2018-03-26 07:26] HafizAnas commented on #291
Hi @rsrikhan,
I apologise for the inconvenience, you can not add new customer from create ticket screen, tab key looks good when you click on create ticket page.
Kindly have a look attached screenshoots and I hope it will help you.
![31](https://user-images.githubusercontent.com/22954115/37892309-e0f41a46-30f0-11e8-81a1-a72548e4b568.png)
![32](https://user-images.githubusercontent.com/22954115/378

[2018-03-26 07:29] HafizAnas commented on #286
Hi @406cell
Reported issue has been fixed and kindly verify at your end and do let us know if you have any question.

[2018-03-26 07:55] HafizAnas commented on #275
Hi @ChrisDRT
Your reported issue has been fixed.
Kindly verify at your end and do let us know if you have any question.

[2018-04-02 11:21] youzlar opened #294 "Appointment calendar widget: First name , Last name capacity one word only"
in Appointment calendar widget  after saving theses information

First Name :   Masood Ahmed
Last Name : Mohammad Jan

the remain names ignored
![2018-04-02_14-14-46](https://user-images.githubusercontent.com/2124196/38194572-fa22dde6-3680-11e8-915c-01f241369114.png)
![2018-04-02_14-16-07](https://user-images.githubusercontent.com/2124196/38194575-02251004-3681-11e8-81b4-241cb7447d12.png)
![2018-0

[2018-04-03 17:26] youzlar opened #295 "Google Calnedar integration not updating when the ticket Updated or deleted"
when  creating a ticket and assigning  to employee

it is showing on google calendar ,  but when updating the due time or even deleting the ticket   it is not affecting on google calednar

[2018-04-15 22:49] gadgetfixaustralia opened #296 "When sending quote for lead price is always $0.00?"
Please fix. I

[2018-04-17 09:30] ellbristow opened #297 "POS Quantity Calculation Error"
I have a Casual item in my POS "Quick Fix" for €10.

If I tap it once, it adds a line with quantity 1 and price €10.
If I tap the same item again, it adds a second line with quantity 2, line total €20... meaning 3 have been added rather than 2.

EllTecnico

[2018-04-26 03:35] alexdechant opened #298 "Issue when adding inventory items to ticket"
Cannot add more than 1 item to an inventory item to a ticket after it has been created. We need a solution for if a tech comes across a defective part and how we can take multiple out of iinventory

[2018-05-12 07:27] Billsalih opened #299 "Flagging"
when saving flag and save it will not flag
do we now need to manually flag

[2018-05-22 11:00] CrackdMobile opened #300 "Customer Lists based on location"
I have multiple locations and need to be able to run a report that generates a list of customers based on location. I market specific offers and I also generate feedback requests that need to be targeted to the customers from a specific location. If possible it would be nice to target customers based on the repair tech that did the work so that a personal email can be sent from that specific repai

[2018-05-23 18:35] Repair-Desk opened #301 "Google Cloud / PrintNode - Option to disable automatic label printing on iPAD app"
There should be a trigger which you can turn on / off that should disable label printing on checkout as it should only print thermal receipt on payment checkout.

On desktop POS it works fine however on iPAD POS register after the last update its printing extra label which is inconvenient!

[2018-05-23 22:58] Repair-Desk opened #302 "Stop double booking and display timeslot if tech is available or already booked!"
When creating a ticket through pos the employee is able to add unlimited repairs to a certain tech and specific time. It would be nice to have a calendar that does not allow double booking, unless overide, this also will show the employee doing the check in that the time slot is already booked. If this is already available please let me know

[2018-05-25 21:37] Repair-Desk opened #303 "Show on Widget is missing in service import / export"
When you export service item in XLS format it doesn't have "Show on widget" column. Would be good to have this option incase you want to mass update.

Also Show on widget should be available while you are importing service items

![changes](https://user-images.githubusercontent.com/21986026/40567344-54acbee4-608e-11e8-850b-501f4f99475a.png)

[2018-05-28 01:44] repairnz opened #304 "Back button not working on appointment widget."
The back button is not working once in a device, Eg if in iPad 2 does not allow the user to go back and change to a different device. This is with the appointment calendar on my website.

[2018-05-28 01:46] repairnz commented on #279
I have this issue as well, very annoying when trying to make changes or test and chat with support at the same time.

[2018-05-28 02:05] Repair-Desk opened #305 "Bulk Upload - List of devices"
Hello! I have a suggestion for you: it would be really awesome if we could add a list of devices (xls, for example) in "View all devices". We want to add charging connectors that are compatible with many models and we have to do it one by one, because the list given by you is not really complete. Having the option to import a list of devices made in Excel via a table would make things a lot easier

[2018-05-28 02:13] Repair-Desk opened #306 "Duplicate Barcodes"
Hi just curious, is there anyway for the system not to use the same UPC or SKU twice? I added two products with the same barcode would be nice to get a warning etc of duplicate codes.

[2018-05-28 19:43] handyplanet opened #307 "automatic cost estimate"
hi development team,

me and much other client of repairdesk want a future for cost estimate like in repairline.de

details:
after we create a Ticket for diagnostic of a device we create a cost estimate after the diagnose is finish
the customer gets an email with a link, from this link he can see the cost estimate for his device and have 2 Buttons with ACCEPT or REJECT.. whatever he clicks the sta

[2018-05-28 23:16] Repair-Desk opened #308 "Network Unlock - Problem with description"
If you search a network unlock product using main POS search it doesn't bring the description (see attached)

![issue](https://user-images.githubusercontent.com/21986026/40631532-15db4562-62f7-11e8-8a6b-f71ffef901b6.png)

[2018-05-29 08:05] Repair-Desk commented on #307
Sounds like a great feature suggestion. We are re-writing our tickets module where we've also planned repair estimate approval via customer portal or an external link. You will also be able to accept deposit via hosted page. You can read more about it here: https://www.facebook.com/groups/1566154750347714/

[2018-05-29 08:10] Repair-Desk commented on #304
@repairnz: I've checked this on in a sandbox environment and it seems to work. Can you please confirm in which browser you are facing this issue and also share link to your website.

[2018-05-29 08:15] Repair-Desk commented on #298
@alexdechant I believe once ticket item has been established and you increase quantity level it doesn't update the row.

Assigning it to our QA team so they can review it and release a fix early next week!

[2018-05-29 08:16] Repair-Desk commented on #297
@ellbristow Thanks for bringing this to our attention and we will try to release a fix within 1 - 2 weeks time!

[2018-05-29 08:18] Repair-Desk commented on #296
@gadgetfixaustralia Can you share more information on this issue i.e. where do you send the quote from etc

[2018-05-29 08:19] Repair-Desk commented on #295
Hello @youzlar

Thanks for sharing your feedback regarding Google Calendar integration. We will review it internally and see if we can release a fix for it in next few weeks.

If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.

Usman

[2018-05-29 08:29] Repair-Desk commented on #291
@HafizAnas When you click on customer group and press tab it shifts to ticket summary.

Also if you are on Mobile and press tab it doesn't move you to "device details"

**See below:**

![Uploading Device.png…]()

[2018-05-29 08:32] Repair-Desk commented on #290
@rsrikhan Can you please confirm if you are trying to edit default ticket status color?

Currently its not possible to edit default ticket status color!

[2018-05-29 08:33] Repair-Desk commented on #288
We sincerely apologize for the inconvenience and we have released a fix for this issue. Can you please confirm if you are still getting the same issue?

[2018-05-29 08:34] Repair-Desk commented on #287
Sure thing! Let us take a look to see if we are getting the same issue as you and we'll circle back to you.

[2018-05-29 08:37] Repair-Desk commented on #283
Sure thing! Let us take a look to see if we are getting the same issue as you and we'll circle back to you.

[2018-05-29 08:38] Repair-Desk commented on #282
Hello @TPRS

We sincerely apologize for the inconvenience. Are you currently processing refunds through one of our payment integrations i.e. Cayan. Please confirm so we can assist you accordingly.

[2018-05-29 08:40] Repair-Desk commented on #281
@TPRS Happy to help you with this. Currently RepairDesk serialized inventory module allow you to generate serials when you give out a range however I've discuss with product team and there should be an option that allow you to automatically generate serials for inventory items.

We are adding this feature to our roadmap and will keep you posted with the progress.

[2018-05-29 08:42] Repair-Desk commented on #280
@TPRS We already have appointment booking widget that allows your customers to book repair appointments. Furthermore you can also update the settings so that whenever a lead is received it display a pop up notification and play a sound alert as well.

More information on appointment booking widget is available here: https://repairdesk.uservoice.com/knowledgebase/articles/791394-how-to-set-up-appoi

[2018-05-29 08:44] Repair-Desk commented on #279
Hello @TPRS @repairnz

We are using third party chat service "Intercom" and when you move from one page on RepairDesk to another it closes automatically.

What we would recommend is to use chat service from our homepage www.repairdesk.co while we try to find a way out.

If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.

[2018-05-29 08:45] Repair-Desk commented on #278
@kristan79

Sure thing! Let us take a look to see if we are getting the same issue as you and we'll circle back to you.

[2018-05-29 08:47] Repair-Desk commented on #276
Let us take a look to see if we are getting the same issue as you and we'll circle back to you.

[2018-05-29 08:49] Repair-Desk commented on #260
@elbakh Can you share link to your repair widget so we can check this for you?

[2018-05-29 08:50] Repair-Desk commented on #261
@kristan79 @ireparo Are you guys still facing issue with printing?

[2018-05-29 08:53] Repair-Desk commented on #262
@fullrepairing  We are re-writing our tickets module and i believe we should definitely add an option to include multiple tickets in one invoice.

Added to roadmap

[2018-05-29 08:55] Repair-Desk commented on #264
@kristan79 We have already added an option to print inventory label through GRN however I am adding option to print RMA labels to our product roadmap

[2018-05-29 08:57] Repair-Desk commented on #267
@ThinkDigitalRepair Are you still getting the same issue :)

[2018-05-29 09:05] Repair-Desk commented on #273
@remarkasillem We have recently released improvements in Quickbook integration. Are you still facing the same issue?

[2018-05-29 09:10] Repair-Desk commented on #252
@wirelessrepairzone @ThinkDigitalRepair You can use our WooCommerce integration to list trade-in items. More information is available here: https://repairdesk.uservoice.com/knowledgebase/articles/1201576-how-to-set-up-woocommerce-integration-in-repairdes

[2018-05-30 00:17] Repair-Desk opened #309 "Multiple SKU - Uniqueness Validation Required"
I'm also encountering an annoying bug with multi-SKUs that I'll publish to the GitHub repo soon if I don't forget. A lot of items are saying the SKU is existing already while a few are allowing me to add the specific SKU. e.g. iPhone 6 screen has had SKU 1234 for Sentrix, I go to add multiple SKUs and add Sentrix 1234 for that same item that has existed, says SKU exists already. However a few othe

[2018-05-30 00:28] serfma commented on #309
https://youtu.be/BDrWidobGcE Video of the issue :)

[2018-05-30 00:29] Repair-Desk commented on #309
Thanks for the message, we'll get back to you as soon as
possible!

On May 29, 2018 at 5:29 PM Repair-DeskPOS/RepairDesk-Bugs
wrote:

https://youtu.be/BDrWidobGcE ( https://youtu.be/BDrWidobGcE )
Video of the issue :)

--

You are receiving this because you authored the thread.

Reply to this email directly or view it on GitHub:

https://github.com/Repair-DeskPOS/RepairDesk-Bugs/issues/309#issueco

[2018-05-30 00:38] remarkasillem commented on #273
I disconnected the integration when I wasn’t able to get any help on the issue..

With 1 month till end of financial year, I am happy to export CSV and import using a 3rd party app…

From: Repair-Desk <notifications@github.com>
Sent: Tuesday, 29 May 2018 6:35 PM
To: Repair-DeskPOS/RepairDesk-Bugs <RepairDesk-Bugs@noreply.github.com>
Cc: remarkasillem <remarkablebookkeeping@outlook.com>; Mention <m

[2018-05-30 00:39] Repair-Desk commented on #273
Thanks for the message, we'll get back to you as soon as
possible!

On May 29, 2018 at 5:38 PM Repair-DeskPOS/RepairDesk-Bugs
wrote:

I disconnected the integration when I wasn’t able to get any
help on the issue..

With 1 month till end of financial year, I am happy to export CSV
and import using a 3rd party app…

From: Repair-Desk

Sent: Tuesday, 29 May 2018 6:35 PM

To: Repair-DeskPOS/RepairDes

[2018-05-30 00:50] serfma commented on #309
To add on that will help: I had created an item with the SKU for the new vendor, Injured Gadgets. "IP6p-Assem-Midgrade-White" and "IP6p-Assem-Midgrade-Black". I deleted it and started using multiple SKUs, however when I attempt to add it it says the SKU already exists which appears the item didn't actually delete from my inventory even though I can't find it.

[2018-05-30 00:51] Repair-Desk commented on #309
Thanks for the message, we'll get back to you as soon as
possible!

On May 29, 2018 at 5:50 PM Repair-DeskPOS/RepairDesk-Bugs
wrote:

To add on that will help: I had created an item with the SKU
for the new vendor, Injured Gadgets. "IP6p-Assem-Midgrade-White"
and "IP6p-Assem-Midgrade-Black". I deleted it and started using
multiple SKUs, however when I attempt to add it it says the SKU
already exis

[2018-05-30 02:08] Repair-Desk opened #310 "Point of Sale - Quick search is missing if you browse items by category"
Under Accessories >> my point is that if you click by category, that quick search box is not there anymore

[2018-05-30 02:09] benjamingartner opened #311 "Schedule for Sale Price in Inventory"
Hi, i would like to see an option to set a period of time for a 'Sale Price' to be active.

If you set the sale price to X you could click on "Schedule" and the options for a Start and Finish Date appear to be entered. The sale price would automatically be removed at the expiration of the date selected.

[2018-05-30 02:10] Repair-Desk opened #312 "Inventory - Sale Price Schedular"
Feature Add: Just wondering if anyone else would like to see a scheduler for the 'Sale Price' field on inventory??

So you can set a sale price to begin at X and finish at X automatically.

I think this would be helpful setting up products to be on sale for a certain month.

Thoughts?

[2018-05-30 02:11] #312 closed

[2018-05-30 02:14] phonefixdfw commented on #310
![image](https://user-images.githubusercontent.com/37640713/40695106-41a6bab2-6385-11e8-9ea1-6264aaf31be3.png)

[2018-05-30 02:15] Repair-Desk commented on #310
Thanks for the message, we'll get back to you as soon as
possible!

On May 29, 2018 at 7:15 PM Repair-DeskPOS/RepairDesk-Bugs
wrote:

![image](https://user-images.githubusercontent.com/37640713/40695106-41a6bab2-6385-11e8-9ea1-6264aaf31be3.png
( https://user-images.githubusercontent.com/37640713/40695106-41a6bab2-6385-11e8-9ea1-6264aaf31be3.png ))

--

You are receiving this because you authored t

[2018-05-30 02:17] Repair-Desk opened #313 "Improve item search on entire RepairDesk just like purchase order"
would be great if u could search like you can on purchase orders from any page

[2018-05-30 02:18] phonefixdfw opened #314 "Bulk Upload of unlock services not working"
Initially appears to work but once you go through all the steps it does not import all items after the final step. I was trying to import 6 items and only 1 was added. Importing again added 1 more, then ended up causing duplicates.

[2018-05-30 02:42] Repair-Desk opened #315 "Trigger to display parts and labour seperately on invoice"
on an invoice there should be an option to display labour and parts separately.

iPhone 6 Screen Replacement LABOUR - $49
iPhone 6 LCD Part - $59

———————————-

iPhone 7 Screen Replacement LABOUR - $49
iPhone 6 LCD Part - $79

Cart Total: $236

———————-

We can add a trigger, when switched on and a ticket is created through point of sale and part is added while creating a repair ticket or through

[2018-05-30 02:44] Repair-Desk commented on #313
Would be great to search for inventory items there aswell!

[2018-05-30 02:48] Repair-Desk commented on #314
Sorry for the trouble. We have received few support requests where customers has mentioned that the import inventory module stops working if you upload more than 5000 items.

We are reviewing and monitoring the bugs closely and will try to release a fix in next 2-3 weeks

[2018-05-30 21:49] Repair-Desk opened #316 "Device Database Management - Display List of devices that are already fixed"
It would be nice if when selecting a customer from POS it gives up a populated list of devices to make check in easier. Seems logical many repair shops repair same customers same device multiple times

[2018-05-30 21:52] Repair-Desk commented on #281
There should also be an option where you can select if it should be included in low stock report or not.

[2018-05-31 03:48] Repair-Desk opened #318 "Customer Module - Improvements"
Feature Request IN CUSTOMER DETAIL MODULE :

1. When customer drop in phone for repair and we tell him to come back after sometimes or we will give him call as soon as it's done.
Mostly, customer have only one phone which he dropping in for repair , so customer gives us his friend/wife/cousin number to contact.
2. or sometimes customer just gives his name in the record and he gives phone number of

[2018-05-31 03:49] Repair-Desk commented on #318
And whilst we are at it, a field for "Loan Phones" with a simple IMEI field, then when customer picks up phone it alerts us "Has customer returned loan phone"

Or a complete module hahah, currently we either forget a loan phone has been handed to our customer, usually comes back to us as our customers are honest or we write the imei in the notes of the job

[2018-05-31 04:05] geelongmicrosoldering opened #319 "Printnode/Google Cloud Print - Rate Limiting results in lost print jobs"
If any ip address tries to submit more than 10 jobs to printnode in any given second, printnode api returns a 429, and the job does not get printed. While it might seem like a rare occurrence, its not. It happens to RD users all the time, resulting in a success "your print job was sent" message for the RD user, but no document prints.

If you debug this, the job never even makes it to the printnod

[2018-05-31 04:12] geelongmicrosoldering opened #320 "Customer Portal - Print Label causes hang"
When trying to print a label using the customer portal, nothing happens upon clicking the Print Label button.

Further attempts to click anything result in a browser stall, and the only way to recover is to refresh.

To reproduce, create a ticket via customer portal, then click print label

[2018-05-31 04:17] geelongmicrosoldering opened #321 "No indication of session timeout"
When a user is idle, apparently for about an hour, there is nothing to notify them their session has expired.

This means for a POS computer, a sales staff member can waste their time booking in a job, or processing a transaction, only to find out at the very end that their session has expired and they need to log in.

This causes embarrassment when you have to ask a customers details twice, becau

[2018-05-31 04:19] Repair-Desk commented on #319
Sure thing! Let us take a look to see if we can optimize this and we will circle back to you.

[2018-05-31 04:19] Repair-Desk commented on #320
Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2018-05-31 04:36] imiamran commented on #319
we have enabled trace log for printnode to see what's going on in background. it will help us to know if we are getting 429 code.

[2018-05-31 04:36] Repair-Desk commented on #319
Thanks for the message, we'll get back to you as soon as
possible!

On May 30, 2018 at 9:36 PM Repair-DeskPOS/RepairDesk-Bugs
wrote:

we have enabled trace log for printnode to see what's going on
in background. it will help us to know if we are getting 429
code.

--

You are receiving this because you were assigned.

Reply to this email directly or view it on GitHub:

https://github.com/Repair-De

[2018-05-31 04:45] geelongmicrosoldering opened #322 "POS - incorrect user assignment"
In a POS environment with multiple staff members, more than one person may be using the computer throughout a shift.

If User A is logged in, and User B processes a transaction, the pin number for User A is asked at the end of the transaction (if enabled).

If User B changes the user to User B and enters pin, the job or transaction is booked in or processed as User A, because that's who was logged

[2018-05-31 04:53] geelongmicrosoldering commented on #321
In response to the duplicate, it is, but the implications of this are not explained in the prior issue, and the prior issue is a feature request/enhancement.

It would appear the prior issue's author wants a little more security, in the form of an automatic timeout,.

This is fair enough, but the issue that occurs after an hour of a POS computer being idle is actually a bug, not an enhancement req

[2018-05-31 04:55] geelongmicrosoldering commented on #319
The issue occurs for some users multiple times a day, so it shouldn't be long before you see it in the trace log.

I would advise you though, to look for anything other than 200, as opposed to specifically 429, which is how the PHP example is written (if httpcode != '200')

[2018-05-31 05:05] geelongmicrosoldering opened #323 "Mandatory Email"
While this issue is new and already noted, it wasn't on github.

Suddenly, the customers email address is mandatory, regardless of configuration. This is effecting every user today.

We now have to enter an email for every job booked in, and there is no way around it

[2018-05-31 05:56] usmanalikhan93 commented on #320
Hi @geelongmicrosoldering !
I have thoroughly checked your concern, I have created a ticket via customer portal and then click on print label, and it's working perfectly fine. If you still face issue, do let me know.

[2018-05-31 06:40] usmanalikhan93 commented on #291
Hi @rsrikhan,
This issue has been fixed now. You may check. And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.

[2018-05-31 08:13] geelongmicrosoldering commented on #320
Imran Qadir has confirmed the bug exists. I sent him a portal link and he replicated it.

Other users havr also

[2018-05-31 08:59] imiamran commented on #320
@geelongmicrosoldering your reported issue has been fixed today. it was happening on those accounts who has customised their ticket labels.

[2018-05-31 09:12] geelongmicrosoldering commented on #320
Confirmed it is now working. Thanks. Closing

[2018-05-31 09:12] #320 closed

[2018-05-31 09:40] geelongmicrosoldering opened #324 "2 Way SMS Integration outside of the US"
Clickatell 2 way integration is nice, but for customers in some countries, there are no phone numbers available, so it is not possible.

Research would be required, but 2 way integration with a service like SMS Global (assuming it has available phone numbers) would be nice.

Failing that, opening the RepairDesk API to support 2 way SMS, would enable developers to achieve this task with their own p

[2018-05-31 09:57] usmanalikhan93 commented on #297
Hey @ellbristow!
Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!

[2018-05-31 10:06] geelongmicrosoldering opened #325 "RepairDesk API - Customer Portal Link"
Currently, the Customer Portal Link for a given customer has to be generated manually.

Extending the API to support scripted generation of portal link would be ideal for developers.

I have created a woocommerce plugin to integrate the portal (using embedded portal links) into user accounts, saving the need for users to remember multiple accounts for one website. The plugin stores the link in the

[2018-05-31 13:03] smmmobiles3205 opened #326 "Add Date and Technician initials"
Hi,

Please Add Date and Technician initials next to customers signature on Tax Invoices. So we have accurate info on when customers take their devices and the Tech who signed them out.

[2018-05-31 15:41] geelongmicrosoldering commented on #326
You already have almost all that information. Its all in the notes for the ticket. If you want to use paper to keep records, you can modify the template yourself.

FYI the customer signature line is actually prefilled if you use customer facing display. Thats why its there. Not for paper records.

What would be good though, is knowing who accepted a payment. Especially when multiple payments are m

[2018-06-01 05:45] usmanalikhan93 commented on #294
Hi @youzlar!
It looks like this bug has been squashed! Can you refresh your browser and let me know if you're still facing this issue.

[2018-06-01 05:46] usmanalikhan93 commented on #292
Hi @phonefixdfw!
It looks like this bug has been squashed! Can you check and let me know if you're still facing this issue.

[2018-06-01 06:23] Repair-Desk opened #327 "Import - Dual tax is not mapped against all service items"
When you import service items dual tax is not mapped against all items.

![34051766_10160311418415548_8439220302637957120_n](https://user-images.githubusercontent.com/21986026/40824651-6170cbf2-658e-11e8-8472-39426df487b3.png)

[2018-06-01 06:28] Repair-Desk commented on #325
Hello @geelongmicrosoldering,

I really appreciate that you took the time to share your ideas.

 I can certainly see how suggested improvements would be useful. With a small team and a big
roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work during 2nd Quarter. 

With that said we've pinned it to our

[2018-06-01 06:30] Repair-Desk commented on #324
**Hey @geelongmicrosoldering,**

We do want to introduce 2 way SMS option for  **SMS broadcast, Textlocal & SMS Global integration** however I don't have a timeline. I've pinned it to our roadmap and will keep you posted on our progress.

If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.

Usman

[2018-06-01 06:35] Repair-Desk commented on #323
Hello @geelongmicrosoldering,

It looks like this bug has been squashed! Can you refresh your browser and let me know if you're able to process a transaction?

Usman

[2018-06-01 07:00] usmanalikhan93 commented on #283
Hi @TPRS!
This issue has been fixed now. You may check. And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.
usman ali khan

[2018-06-01 07:39] Uzair-RepairDesk commented on #214
Hi @smarttechrepair
We have added partial refunds functionality in RepairDesk a couple of months ago. You can find details from the following link:-
https://repairdesk.uservoice.com/knowledgebase/articles/895113-how-can-i-process-refund-exchange-in-repairdesk

[2018-06-01 08:00] #214 closed

[2018-06-01 09:07] Uzair-RepairDesk commented on #322
Hi @geelongmicrosoldering

If you confirm the PIN of the user, transaction recorded with the same user. Can you please specify the above scenario with examples and screenshots so I can assist you. Thanks

Regards,
Uzair from RepairDesk

[2018-06-01 09:57] Uzair-RepairDesk commented on #306
We have already trigger available to make uniqueness across SKU.
Trigger is under [Settings > Module Configurations > Inventory ](https://app.repairdesk.co/index.php?r=config/inventory)

[2018-06-01 09:57] #306 closed

[2018-06-01 10:46] bharaaus opened #328 "PO and Inventory Transfer not showing product code"
when we transfer inventory to another store , we just make a list of product code and then add .
but when list is big , it becomes headache because it doesn't show the last entered product code. then we always confused if we missed some item.
can you please make that visible ?

also , process if adding item in Transfer Inventory and PO
is very slow. it actually reload the entire page after each st

[2018-06-01 10:59] Repair-Desk commented on #328
@Uzair-RepairDesk We should release a fix for this!

[2018-06-01 16:51] alexdechant opened #329 "Ability to change warranty period through excel doc upload"
not really a bug, but we don't have the option to update warranty period's on repairs through a excel doc upload.

[2018-06-03 03:51] Repair-Desk commented on #327
It looks like this bug has been squashed! Alex, can you try to import repairs and see if tax is mapped properly.

[2018-06-03 19:21] serfma opened #330 "Multiple SKU - POS Multi SKUs NOT Unique Per Part"
Whenever I get to the parts section of the POS and have multiple parts that have multi SKU, it will not allow me to proceed due to "Please select SKU" and every single part that has multiple SKUs have the same two SKUs for them all even though they are different in the inventory section.

Video of the problem
https://www.youtube.com/watch?v=oCa_rSNtazk

[2018-06-04 00:44] Repair-Desk commented on #330
Hey @serfma! 👋 Thank you for bringing this to our attention! It looks like there's a bug that just popped up 🐛. I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information! 😃

[2018-06-04 05:11] Uzair-RepairDesk commented on #290
I checked it, If we give custom HEX code to custom ticket status, it doesn't update it.
I believe this is the issue @rsrikhan has reported above.

@usmanalikhan93
Please discuss it with Sajjad sb if possible and report it on Jira.

[2018-06-04 05:30] usmanalikhan93 commented on #290
@Uzair-RepairDesk
It looks like there's a bug that just popped up 🐛. I'm gonna reach out to our Engineers to get this taken care of.

[2018-06-04 05:58] Uzair-RepairDesk commented on #171
We have already developed this functionality a while ago. Details are available here:-
https://repairdesk.uservoice.com/knowledgebase/articles/1166230-how-to-enable-repair-categories-on-pos

[2018-06-04 05:58] #171 closed

[2018-06-04 06:01] Uzair-RepairDesk commented on #140
We have developed payroll functionality. Information is available in following knowledgebase article:-
https://repairdesk.uservoice.com/knowledgebase/articles/1849522-how-to-setup-payroll-for-employees

[2018-06-04 06:01] #140 closed

[2018-06-04 06:17] Uzair-RepairDesk commented on #101
We added triggers to make customer details mandatory while creating a repair ticket or invoice.

**Customer Details Mandatory trigger while creating Repair Ticket**
You can go to [Settings > Module Configurations > Repairs > Enable "Admin/Employee must add customer information before booking a repair job"](https://app.repairdesk.co/index.php?r=config/repairs)

**Customer Details Mandatory trigger

[2018-06-04 06:17] #101 closed

[2018-06-04 06:53] Uzair-RepairDesk commented on #209
We have already updated our Inventory Count module that allows you to select a particular category (type) to count the items.
Please find details in following knowledgebase article:-
https://repairdesk.uservoice.com/knowledgebase/articles/1119253-how-does-the-inventory-count-functionality-work

[2018-06-04 06:53] #209 closed

[2018-06-04 06:54] #167 closed

[2018-06-05 01:07] phonefixdfw opened #331 "Clickatell SMS - 2 way kills text notifications."
Huge bug,
in clickatell settings, if you enable 2 way sms, auto sms notifications are no longer sent. If you uncheck enable 2 way, and select enable api, then sms notifications are restored but you lose 2 way sms.

![image](https://user-images.githubusercontent.com/37640713/40949213-99516238-6832-11e8-8223-760c4c59565f.png)
![image](https://user-images.githubusercontent.com/37640713/40949264-dbc3d

[2018-06-05 01:14] phonefixdfw opened #332 "Feature Request: Unlock API should update cost from vendor"
In unlocking API, cost needs to be updatable via api.

If we integrate with imeigurus for an s8 unlock that they charge $100 for and they update price to be $160, there is no way to see that in repairdesk. Therefore, we must visit the unlock website anyways to verify price and terms are current. These values should either update on the fly or have a button to click to manually refresh.

Additional

[2018-06-05 01:17] phonefixdfw commented on #292
looks like it works now

[2018-06-05 01:17] #292 closed

[2018-06-05 01:31] phonefixdfw opened #333 "Trigger Email / SMS On Custom Ticket / Purchase Order or Inventory Transfer Status"
Ticket status' and their canned responses need a major overhaul.

We have option to create a custom ticket status, but if we do that, the new status can't have any sms or email canned response/notification.

Additionally, we really have no clue what canned response gets sent when.

# There needs to be option panel for each ticket status that lets you choose a canned response/notification to trigge

[2018-06-05 05:34] Repair-Desk commented on #303
**Eric**

We've just released a fix that will now allow you to map **"Show on widget"** option through XLS spreadsheet.

<img width="1280" alt="screen shot 2018-06-05 at 10 32 44 am" src="https://user-images.githubusercontent.com/21986026/40956856-d783b780-68ab-11e8-95f3-c371f74e38d6.png">

[2018-06-05 05:36] Repair-Desk commented on #333
@phonefixdfw 100% agreed. Pinned to roadmap for improvements

[2018-06-05 05:37] Repair-Desk commented on #332
@Uzair-RepairDesk Can we have Zain look into this?

[2018-06-05 05:39] Repair-Desk commented on #331
Hey @phonefixdfw 👋 Let us take a look to see if we are getting the same issue as you and we'll circle back to you.

[2018-06-05 05:41] Repair-Desk commented on #331
@Uzair-RepairDesk We should have Saif look into it

[2018-06-05 09:45] Uzair-RepairDesk commented on #331
I have reported it to the development team

[2018-06-05 10:01] usmanalikhan93 commented on #330
Hey @serfma!
I have checked on my end but couldn't reproduce this issue. can you share your account credentials, so I can verify from it?
usman ali

[2018-06-05 10:21] usmanalikhan93 commented on #329
Hi @alexdechant!
I have checked your concern and you can update warranty period's on repairs through a excel doc. I am attaching couple of screenshots.
![36](https://user-images.githubusercontent.com/39614480/40970440-09f62324-68d4-11e8-88d9-d3aa18f6f294.png)
![36_a](https://user-images.githubusercontent.com/39614480/40970441-0a26ba3e-68d4-11e8-940e-c80778172939.png)
![36_b](https://user-images.gi

[2018-06-06 07:53] usmanalikhan93 commented on #297
Hi @ellbristow!
It looks like this bug has been squashed! Can you refresh your browser and let me know if you're still facing this issue or not?
usman ali

[2018-06-07 05:39] jwfarlow opened #334 "Photo upload “in progress” or “ post repair” iOS app"
Would it be a big problem to add a "post repair" photo upload option to the ios app?

ill give you a specific example

i had a customer that had a broken selfie cam on a 6s, she said everything was oem with no water damage, i want to be able to photograph the red indicators and aftermarket parts she has in the phone, and to have on file just in case...

i know this can be accomplished through the

[2018-06-07 06:15] usmanalikhan93 commented on #303
Hi @Eric!
Your issue has been fixed. Please verify at your end and do let us know if you have question.
Thanks!

[2018-06-07 10:15] ireparo opened #335 "Traduction of "Compliance with GDPR""
I want to translate the text "Compliance with GDPR"  in the "Appointment calendar widget" and i cant. Also, is not responsive window for mobiles if you press to read the GDPR. Thanks

[2018-06-07 17:34] Repair-Desk opened #336 "Cayan - Multiple Issues"
Since they won't approve my post, I'll ask on here.... Anyone else having an issue when we complete a payment Via Cayan terminal we get an error saying "Error occurred during payment" then we have to take 5 more minutes to go find there transaction to print a receipt etc. Then majority of the time it's not changing the ticket to "Repaired and collected" so we have about 100 tickets that look like

[2018-06-08 06:06] usmanalikhan93 commented on #290
Hey @rsrikhan!

It looks like this bug has been squashed! Can you refresh your browser and let me know if you're able to assign a custom status colour or not?
usman ali

[2018-06-09 07:25] ireparo opened #337 "Problem showing devices in Appointment calendar widget"
If you enter into the widget (https://ireparo.es/cita-previa-nova/) and press some manufacturer and type something into the searcher devices, if you delete the text of the searcher, don't show all the devices of the manufacturer.

[2018-06-09 07:58] kennexDEWA opened #338 "Store credit"
i could really use a store credit option that tracks credit for each customer.

Example, customer comes in for a repair, also wants to trade a phone in with us and use the trade in value for their repair.

Current work around is that i would purchase device for $X and use the "Cash" option to pay customer.

Then on their repair i would say ive taken $X in cash and charge them the difference.

Also

[2018-06-10 09:17] Cumbr1at3ch opened #339 "Purchase Orders"
When P.O. is created? Option to print it should be within it. We have to exit and then print it

[2018-06-10 11:52] Repair-Desk commented on #337
**Hello @ireparo,**

We sincerely apologize for the inconvenience. On the given link I've tried to reproduce the issue however the search function seems to work for me. I've also put together a video [here](https://drive.google.com/file/d/1rZQXeJwYqm2Zg9l366IeGLh0fXIl-Atq/view)

Can you perhaps share a video of this issue so we can look into it for you?

And we hope that if there’s anything else w

[2018-06-10 11:56] Repair-Desk commented on #339
**Hello @Cumbr1at3ch,**

Thanks a lot for bringing this to our attention. I believe once a purchase order is created we should have similar options in action button in below screen:

<img width="1280" alt="screen shot 2018-06-10 at 7 54 05 am" src="https://user-images.githubusercontent.com/21986026/41201324-b9f81aea-6c83-11e8-96c6-08cf1d6a2615.png">

We've pinned it to our roadmap and will try to

[2018-06-11 10:05] usmanalikhan93 commented on #330
Hey @serfma!
I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!

[2018-06-11 18:31] CandiceQuikFix opened #340 "Sales tax switches from Taxing on part to taxing whole sale"
At first the sales tax is only taxing on the part, but every time I try and edit a ticket or invoice the sales tax seems to switch from taxing on the part to taxing on the whole sale. From there I have to manually edit it, but if I add something or change the ticket/ invoice again, it will again switch to taxing on the whole price.

[2018-06-12 16:41] Repair-Desk commented on #340
Hello @CandiceQuikFix

We sincerely apologize for the inconvenience.

Can you please confirm if you want to charge tax on the entire repair or just parts only?

Look forward to hearing back from you.

Sincerely,
**Usman Butt**

[2018-06-13 14:16] githubsucks1 commented on #336
Yes, the not closing tickets thing is real. We have to go through and do weekly sweeps which is frustrating.

The double charging is a thing too, but it's random and unless you go through your Cayan gateway portal and.look over every charge, you'll never know.

[2018-06-14 04:53] usmanalikhan93 commented on #335
Hi @ireparo!

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question. Screenshot is attached.

Thanks!
![66](https://user-images.githubusercontent.com/39614480/41392203-b77c5d66-6fb8-11e8-8a12-7047f08ab798.png)

[2018-06-14 09:08] usmanalikhan93 commented on #339
Hey @Cumbr1at3ch!

It looks like this bug has been squashed! Can you give it a try? And do let us know if you have any  question. :)
Thanks!

[2018-06-14 09:10] usmanalikhan93 commented on #339
Hey @Cumbr1at3ch!

It looks like this bug has been squashed! Can you give it a try? And do let us know if you have any  question. :)
Screenshot is attached.
Thanks!
![72](https://user-images.githubusercontent.com/39614480/41402752-97360560-6fdc-11e8-98db-fb54d9d45142.png)

[2018-06-14 23:51] quangc opened #341 "Transactions from one store went to other stores"
This start to happen with our new store in the system. Transaction from one store went to other store's register and mess up the whole day of sales. Please investigate this one as it is urgent.

[2018-06-18 12:15] benjamingartner opened #342 "504 Syntax Error"
I have this Syntax error and when i am trying to select the correct Woocommerce category it is not working.

Maybe these are both linked and i cannot select it because the Syntax Error?

[2018-06-18 12:15] benjamingartner commented on #342
![image](https://user-images.githubusercontent.com/39751801/41535288-559202ca-7334-11e8-9b7a-9e73a674c898.png)

[2018-06-18 23:52] Repair-Desk opened #343 "Inventory Listing Improvement"
I have a problem, every time I search through my inventory if there is 2 pages and I click page 2. It goes back to my inventory which is sorted but item ID rather than what I searched for.

For example I’m searching IPhone 6 cases. I click page 2 and it goes back to the main inventory screen that comes up when you click manage inventory

[2018-06-19 19:47] Repair-Desk opened #344 "set a customer / customer group to tax exempt?"
Is there a way to set a customer / customer group to tax exempt?

[2018-06-19 23:27] allbbadstore opened #345 "Again the Same problem"
Hello friends
The problem is always repeated when performing some operations in the departments
Taking into consideration the main user and administrative:
The error message!
"Something Went Wrong"

<a href='https://postimg.cc/image/yztrccq0b/' target='_blank'><img src='https://s33.postimg.cc/yztrccq0b/9_EA4_C66_B-97_B1-4_CAC-_A216-812_E9_ABCC54_E.jpg' border='0' alt='9_EA4_C66_B-97_B1-4_CAC-_A216

[2018-06-20 04:43] Repair-Desk commented on #345
Hey @allbbadstore  👋 Thank you for bringing this to our attention! It looks like there's a bug that just popped up 🐛. I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information! 😃

[2018-06-20 05:14] Repair-Desk commented on #345
It looks like you were trying to add a payment method in "Arabic" and the field didn't support that. This bug has been squashed!

@allbbadstore Can you refresh your browser and let us know if you're able to process a add a new payment method?

And I hope that if there’s anything else I can do for you, you won’t hesitate to let us know.

Thanks for helping us make this a platform you'll depend on.

[2018-06-20 05:14] #345 closed

[2018-06-20 07:23] AccessOneSales opened #346 "Cayan Payment Screen NOT displaying"
After creating a sale or ticket payment screen does not consistently show on the cayan display

[2018-06-20 07:30] AccessOneSales opened #347 "Diagnostic w/Payment Option"
Need RD system to not close the ticket after taking a payment for a diagnostic fee and system automatically update the status to repaired/collected and also send completed email to the customer.

[2018-06-20 19:59] Repair-Desk commented on #346
**Hello @AccessOneSales,**

Happy to help with this however we would a bit more information before we can confirm if there is an issue with our integration with Cayan or the problem with Genius terminal.

**Here's what I would recommend:*
1- Have a look at Cayan knowledge-base to see if they already have a solution for it.

2- Share a video of test transaction using your mobile that shows RepairDe

[2018-06-20 20:12] Repair-Desk commented on #347
**Hello @AccessOneSales,**

We've put together a quick video that shows how you can take a deposit. Here is a video [link](https://drive.google.com/file/d/1Wm9Fphuffr_pfCctsFgLrm01tzEzZuJS/view)

If you are taking diagnostic fee deposit against an existing repair ticket and don't want work order status to be marked as "repaired and collected" from the checkout pop up here's what you need to do:

!

[2018-06-20 20:14] #347 closed

[2018-06-20 20:48] #335 closed

[2018-06-20 20:53] #340 closed

[2018-06-20 20:53] #339 closed

[2018-06-20 20:54] #337 closed

[2018-06-20 20:55] #330 closed

[2018-06-20 20:56] #323 closed

[2018-06-20 20:57] #299 closed

[2018-06-20 21:05] #327 closed

[2018-06-20 21:05] #291 closed

[2018-06-20 22:05] #237 closed

[2018-06-20 22:06] #268 closed

[2018-06-20 22:09] #286 closed

[2018-06-20 22:12] #294 closed

[2018-06-20 22:15] #290 closed

[2018-06-21 04:40] imiamran commented on #301
Thanks for highlighting this issue. we are working on it and it will be fixed in next 24 hours.

[2018-06-21 11:09] Repair-Desk commented on #331
@phonefixdfw It looks like this bug has been squashed! Can you create a test ticket and see if you receive SMS notification automatically?

[2018-06-21 11:09] #331 closed

[2018-06-22 13:47] #346 closed

[2018-06-22 17:46] JessicaSOS opened #348 "New Sell Device canned response"
Hello,
I do not know if this is a configuration problem, but the programmed response of a new phone sale, "New Sell Device" is correctly configured. However, the customer receives the message all wrong. The image is oversized and the majority of the text is missing. See the two attachments.

<img width="935" alt="canned response" src="https://user-images.githubusercontent.com/40500094/41790863-ee3

[2018-06-24 10:01] Repair-Desk commented on #348
@JessicaSOS  👋 Sure thing! Let us take a look to see if we're getting the same issue as you and we'll circle back to you.

[2018-06-24 10:05] Repair-Desk opened #349 "Customers module - Tickets & Invoice Listing Order"
So I'm just wondering if others have noticed this. There's no rhyme or reason to the ticket list order under a customer. There is no order to them. Not by job number or by date. Makes it frustrating. I'll confirm jobs on the first page. Yet new jobs could be at the top of the list or on the second page or even half way down. Is there a reason to this unorganisation? Even if I try to sort by id or

[2018-06-24 10:11] #282 closed

[2018-06-24 23:39] ThinkDigitalRepair opened #350 "Changing Price of a repair on the POS doesn't actually change the price"
If I change the price of an iPhone 6s repair from... $90 to $85, it'll show 85 when I click edit again, but it goes back to 90 when I hit save. It also shows 90 when about to create the ticket.

[2018-06-25 13:12] Repair-Desk commented on #350
Hello @ThinkDigitalRepair

I would be more than happy to assist with this. Would be great if you can share a video of this issue so we can release a fix during our next release. You can put together a video using **[Screencastify](https://chrome.google.com/webstore/detail/screencastify-screen-vide/mmeijimgabbpbgpdklnllpncmdofkcpn?hl=en)**

If you have any questions or if there is anything else wit

[2018-06-25 13:46] #278 closed

[2018-06-25 13:46] #270 closed

[2018-06-25 13:46] #274 closed

[2018-06-25 13:46] #308 closed

[2018-06-25 13:46] #336 closed

[2018-06-25 13:50] #297 closed

[2018-06-26 06:34] usmanalikhan93 commented on #348
Hi @JessicaSOS!

It may be an account specific issue. Because I have checked it on my end and I am unable to reproduce it. One of our support ninja will reach out to you to get more information.

Thanks.

[2018-06-26 07:42] Repair-Desk commented on #298
**@alexdechant**

We've reviewed this internally.

By default **"RepairDesk"** allows you to add one stock against a line item. I've marked the task as improvement so we can study its impact analysis and release an improvement accordingly.

If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.

Usman

[2018-06-26 12:29] Repair-Desk commented on #350
Hello **@ThinkDigitalRepair**

Looks like we don't have the video. Is it possible you can put together a new video so we can move forward.

Thanks,
Usman

[2018-06-26 15:10] foneworkshop opened #351 "Diagnostic Notes"
When I open a ticket AFTER it has been booked in through manage tickets, there is a box for diagnostic note and a flag.  When I enter notes and save the notes disappear. Nothing different if I flag it.

[2018-06-26 16:46] Repair-Desk commented on #351
**@usmanalikhan93**

Can you please check if you add a diagnostic note from manage tickets page and re-open the ticket on point of sale it automatically display the diagnostic notes.

Usman

[2018-06-26 17:32] JessicaSOS commented on #348
@usmanalikhan93

The email I receive (by being the client) is not like the template registered in the cannded response. The image appears very very big and it misses passages of the text.

We did 2 tests, Ali received the email correctly but, not me. I did a screen shot of what I received. I thought the problem probably came from my email, but some customers tell us they do not understand the emai

[2018-06-26 17:33] foneworkshop commented on #351
Tried that,  there is nothing showing on pos

[2018-06-27 05:28] usmanalikhan93 commented on #351
@Repair-Desk
@foneworkshop

Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

usman ali

[2018-06-27 07:21] usmanalikhan93 commented on #351
Hey @foneworkshop 👋
Thank you for bringing this to our attention! It looks like there's a bug that just popped up 🐛.

I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information! 😃
usman ali

[2018-06-27 09:42] Repair-Desk commented on #348
Hello @JessicaSOS

Thanks for your email.

It looks like when an email is received on Gmail it renders properly however when the same email is received on webmail or outlook it's not displayed properly.

I've advised the development team to optimize HTML for your "custom canned response"

And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.

Thanks, and I l

[2018-06-27 14:38] JessicaSOS commented on #348
Optimization will be done quickly?

Can you check all the canned responses to be sure you do not have the same problem in others?

--

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579,204> 418-999-1579 |  <tel:18559991579,204> 1-855-999-1579 | Extension : 204
 <mailto:jessica@sosphone.ca> jessica@sosphone.ca
 <https://sosphone.ca/?utm_source=signature&utm_medium=urlsite&utm_content=sos

[2018-06-27 14:43] icerepaircenter opened #352 "Google Chrome not secure only when connecting to Cayan Terminal"
When using Google Chrome browser, the https browser tab stays secure until it has to communicate with the Cayan Genius Terminal. Then browser tab stays unsecure until you close the tab and re log back into Repairdesk.

[2018-06-27 23:16] ThinkDigitalRepair commented on #350
Here ya go. The video is unlisted, but you can access it

https://youtu.be/_lJT7vUn8L4

[2018-06-28 05:42] usmanalikhan93 commented on #351
Hey @foneworkshop !

Can you check this video and let us know, you are following these steps for adding diagnostic notes ?
https://www.screencast.com/t/OhF2AYeUvpq

usman ali

[2018-06-28 07:45] Repair-Desk commented on #352
**Hello @icerepaircenter,**

We've reached out to Cayan and please find their response below:

Typically the unsecure connection is caused by the appropriate SSL certificate not being installed on the workstation. Can you please confirm that the Cayan SSL certificate is installed for this location? If this is a Windows workstation, you can confirm that by checking under the Trusted Root Certificat

[2018-06-28 07:53] Repair-Desk commented on #348
**Hello @JessicaSOS,**

I don't have a definite timeline but we will try to review it ASAP.

Our default canned response work across all email platforms however if you've customized canned response we would recommend you to test this internally.

And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.

**Usman**

[2018-06-28 09:07] foneworkshop commented on #351
Hi,

This is not what I asked,  I do not want POS I want to add and flag notes
AFTER booking in from manage tickets

-------Original Message-------

From: Usman Ali Khan

Date: 28/06/2018 06:42:35

To: Repair-DeskPOS/RepairDesk-Bugs

Cc: foneworkshop;  Mention

Subject: Re: [Repair-DeskPOS/RepairDesk-Bugs] Diagnostic Notes (#351)

Hey @foneworkshop !

Can you check this video and let us know, you

[2018-06-28 17:32] Repair-Desk commented on #350
@usmanalikhan93

Can you check this please?

[2018-06-28 18:47] icerepaircenter commented on #352
This seems to have resolved the issue. Thank you!

[2018-06-28 18:47] #352 closed

[2018-06-29 08:48] Repair-Desk commented on #351
**Hello @foneworkshop,**

Thanks for sharing more details.

I've discussed this with our product team and currently flagged diagnostic notes pop up doesn't display on the view tickets page.

I've pinned the improvement to our roadmap and hopefully we will be able to look into this in next couple of weeks.

And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know

[2018-06-29 08:57] Repair-Desk commented on #349
**Hello @usmanalikhan93,**

Can you please give it a whirl and also check with the development team that in which order does it display tickets or invoices.

**I believe we should add following improvements: -**

![improvements](https://user-images.githubusercontent.com/21986026/42083400-3ddd7c40-7ba4-11e8-92f2-68d4d602e95b.png)

[2018-06-29 08:59] Repair-Desk commented on #343
@usmanalikhan93 Can you check this early next week?

[2018-06-29 09:00] Repair-Desk commented on #342
**Hello @benjamingartner**

Sorry for the delay however it looks like the integration is not setup properly.

Also are you still getting the same error? Please advise

**Usman**

[2018-06-29 09:13] Repair-Desk commented on #271
@usmanalikhan93 Can you check this early next week?

[2018-06-29 09:47] imiamran commented on #343
@Repair-Desk this issue was already fixed last weeks.

[2018-06-29 10:30] usmanalikhan93 commented on #350
@ThinkDigitalRepair
@Repair-Desk

Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

usman ali

[2018-06-29 19:20] TPRS opened #353 "Take a Credit Card over the phone"
I'd like to think this is a pretty basic feature that should already be apart of repair desk.  Without this system, we are forced to take credit cards with an outside provider that doesn't link with repair desk. It throws off everything.

[2018-06-29 22:31] phonefixdfw opened #354 "GRN inventory labels show $0.00 if you print all"
if you 'print selected labels' (some or all) from the popup after you receive GRN, it makes inventory label show $0.00.

if you select the printer next to item in list and print 1 by 1, it shows correct price.
![printsingle](https://user-images.githubusercontent.com/37640713/42117466-47dadca6-7bc2-11e8-9589-bb85a2c36067.PNG)
![printall](https://user-images.githubusercontent.com/37640713/42117467-4

[2018-06-30 05:10] Repair-Desk commented on #354
Hey @phonefixdfw! 👋 Thank you for bringing this to our attention! It looks like there's a bug that just popped up 🐛. I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information! 😃

[2018-06-30 07:42] Repair-Desk commented on #353
**Hello @TPRS**

Happy to help you with this. We've an integration with Stripe using which you can take credit card payments over the phone.

You can learn more about it **[here](https://repairdesk.uservoice.com/knowledgebase/articles/872658-how-to-start-accepting-credit-card-payments-with-s)**

[2018-06-30 07:58] #269 closed

[2018-06-30 07:59] #353 closed

[2018-06-30 07:59] #304 closed

[2018-06-30 07:59] #280 closed

[2018-06-30 08:58] benjamingartner commented on #342
I am still getting the same errors. This image done right now
![image](https://user-images.githubusercontent.com/39751801/42123569-bf98d0da-7c86-11e8-8834-6f6dbd855196.png)

[2018-06-30 09:00] benjamingartner commented on #342
I am still experiencing this issue.

[2018-06-30 16:30] benjamingartner commented on #342
Also now receiving this error,
![image](https://user-images.githubusercontent.com/39751801/42127127-d4052034-7cc5-11e8-9859-97ec55baefe4.png) << this product is not showing in Wordpress after i deleted it because it wasnt syncing.

[2018-06-30 16:33] benjamingartner commented on #342
And my categories from WooCommerce have gone.
![image](https://user-images.githubusercontent.com/39751801/42127162-4e700b86-7cc6-11e8-98d2-44c9e0072579.png)

I would assume this has been caused by me updating to SSL on my website?

[2018-07-02 12:19] benjamingartner commented on #342
Is there any progress on this?

[2018-07-02 13:10] benjamingartner opened #355 "Quickbooks Not Syncing"
I have now realised an issue with Quickbooks not syncing. I have a bulk amount of invoices that "Failed" to sync.

I am not too happy about this because i have only just had you guys rectify this a few months ago.

As a result of you rectifying it previously, RepairDesk was synced with Quickbooks several times causing multiple copies in Quickbooks which cost me $1,700 to rectify.

Very un-happy ab

[2018-07-02 18:18] Repair-Desk commented on #355
Hey @benjamingartner 👋

Sure thing! Let us take a look and we'll circle back to you.

[2018-07-03 04:41] TheSavageCanadian opened #356 "Adding IMEI check"
Small improvement to the check-in so less mistakes are made. While it’s not overly important, it could be a nice touch. When doing the intake for the IMEI of the device, would it be possible to have it display the check digit to make sure no mistakes were made while entering the IMEI ? It uses the Lunh algorithm: https://en.m.wikipedia.org/wiki/Luhn_algorithm

It could be done by instead of limiti

[2018-07-03 04:43] TheSavageCanadian opened #357 "Add warranty length"
Would it be possible to add warranty length of the repair on the invoice for each device ? Thank you.

[2018-07-03 04:49] TheSavageCanadian opened #358 "Adding recommendations to invoice"
Just an idea, for each ticket, we could add a recommendation for the devices such as "Battery needs replacing" etc... that appear on the invoice the customer receives. It could make sure the customer knows about the issue and thinks about it later on.

[2018-07-03 04:57] Billsalih opened #359 "Using same contact number for Different members of family"
when booking in customers at counter and thet is a number that's stored in the system and they come in again and use the same number but different name it does not allow you to cancel and procveed
some families may use same contact number but Differ member of Family

[2018-07-03 08:23] Repair-Desk commented on #324
Hello @geelongmicrosoldering,

We've started development for 2 way SMS and looking to roll it out to production environment in next 2-4 weeks.

I've also attached some of the design so you can get an idea on how this will work:
![email-of-sms-alert 1](https://user-images.githubusercontent.com/21986026/42207797-3dd67e0e-7ec4-11e8-8556-1b35ca25bbd7.jpg)
![sms-alerts-dropdown 1](https://user-images.g

[2018-07-03 09:18] Repair-Desk commented on #342
@usmanalikhan93 Can you report this to product team so they can take a look?

[2018-07-03 09:22] Repair-Desk commented on #359
Hey @Billsalih

At the moment, we haven't included this option that allow you to add relative details. I see where you are coming from on this though, so I'm happy to pass on this feedback to the team for you
​
If you have any further feedback you would like to add, just let me know! Happy to pass on the best details possible for you

[2018-07-03 10:04] usmanalikhan93 commented on #342
sure @Repair-Desk

[2018-07-03 10:33] Uzair-RepairDesk commented on #349
Improvements for the listing of associated tickets and customers on the manage customers page are suggested above.

At the moment, we haven't included this option to search customer from the company name at top of the page. I see where you are coming from on this though, so I'm happy to pass on this feedback to the team for you.
We have a plan to improve our complete customer's module. We have com

[2018-07-03 12:39] usmanalikhan93 commented on #341
Hey @quangc!

I hope you are well. We are unable to reproduce your issue. Would be great if you can share a video of this issue so we can release a fix during our next release. You can put together a video using Screencastify

If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.
usman ali

[2018-07-03 12:45] usmanalikhan93 commented on #314
Sure @Repair-Desk!

Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2018-07-03 22:56] Billsalih commented on #359
All that's needed is a cancel button otherwise you can't proceed and have to start again.

[2018-07-04 04:58] usmanalikhan93 commented on #343
@Repair-Desk checked. everything is working properly.

[2018-07-04 05:36] usmanalikhan93 commented on #314
Hello @phonefixdfw!

I have checked your concern but unfortunately I am unable to reproduce your issue. Would be great if you can share a video of this issue so we can release a fix during our next release. You can put together a video using Screencastify.
If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.

Regards,
Usman Ali

[2018-07-04 05:51] #283 closed

[2018-07-04 07:02] usmanalikhan93 commented on #287
Hello @TPRS!

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!

[2018-07-04 07:51] usmanalikhan93 commented on #301
This issue has been fixed.

[2018-07-04 07:51] #301 closed

[2018-07-04 07:56] usmanalikhan93 commented on #247
Hello @mpmdover!

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!

[2018-07-04 07:56] #247 closed

[2018-07-04 08:00] zoombiefone opened #360 "Woocommerce Category Error"
Hi,
 There's a problem with the way the category within woocommerce is being mapped. Your system does not differentiate between main category and sub-category.

 In woocommerce, I would have a category called "Accessories" then a sub-category called "Screen protector" and another sub-category called "cases". Your integration pick up the category from woocommerce but it doesn't know which is a sub-

[2018-07-04 10:48] #287 closed

[2018-07-05 02:14] benjamingartner commented on #342
Any news?

The longer this takes, the longer my website is malfunctioning and i am trying to finally get more traffic through our website as times are tough atm.

[2018-07-05 04:30] quangc commented on #324
Nice, will look forward to see it works.

[2018-07-05 11:19] Repair-Desk commented on #360
**Hello @zoombiefone,**

Happy to help with this.

Currently RepairDesk inventory module doesn't allow you to create a sub-category and that's why the conflict happens however if a product has same SKU it should not allow you to create new product on WooCommerce.

Is it possible if you can reach us through live chat so we can assist you further regarding the same.

And I hope that if there’s anyth

[2018-07-05 11:19] #360 closed

[2018-07-06 11:37] usmanalikhan93 commented on #354
Hello @phonefixdfw!

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
usman ali

[2018-07-06 15:08] phonefixdfw opened #361 "commission changes on inventory import only change 1 location"
I changed commission % via export/import of inventory for certain items. When i reimport that file, the commission only changes for that location. I can't import that same file to another location because it changes the # in stock and other variables. I deleted the in stock column and tried importing, and it made inventory in stock # all 0's. I don't really want to manually edit all the #'s again.

[2018-07-06 15:09] phonefixdfw opened #362 "commission calculations include tax"
If an item is $10 plus 8% tax, a 10% commission shows at 1.08 because it calculates on the total taxed amount. It should calculate pre tax amount. No one pays commission on tax. at least make it an option.

[2018-07-06 16:55] phonefixdfw commented on #354
appears working, thanks

*9034 Garland Rd, **Dallas TX 75218*

*7340 Highway 78, Suite 260, Sachse TX 750481616 N State Highway 161, Grand
Prairie TX 75050*
*972-587-7433 <https://mail.google.com/mail/u/0/>** | www.phonefixdfw.com
<http://www.phonefixdfw.com/>*

On Fri, Jul 6, 2018 at 6:37 AM Usman Ali Khan <notifications@github.com>
wrote:

[2018-07-09 03:05] Repair-Desk commented on #361
Hey @phonefixdfw ! 👋

Thank you for bringing this to our attention! It looks like there's a bug that just popped up 🐛. I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information! 😃

[2018-07-09 03:42] Repair-Desk commented on #362
**Hello @phonefixdfw**

Thanks a lot for sharing your feedback. We are re-writing commission module and this is already part of the improvements we are working on.

I will close this thread and will keep you posted on the progress through IM.

Regards,
Usman

[2018-07-09 03:43] #362 closed

[2018-07-09 03:43] #358 closed

[2018-07-09 03:44] #354 closed

[2018-07-09 04:50] Uzair-RepairDesk commented on #362
Already listed task #265
Its included in "Employee Commission Module" improvements.
Reference Task JIRA: RD-31

[2018-07-09 09:49] usmanalikhan93 commented on #355
Hello @benjamingartner!

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!

[2018-07-09 11:48] Repair-Desk opened #363 "Multiple Issues - Bharat feedback"
on one my other comment  Usman replied saying ,  their are only 10 bugs.
I didn't reply there , coz I know there are more than 50 bugs.
but I prefer spending my time fixing phones instead of listing bugs here.

Usman , THERE IS A VERY THIN LINE BETWEEN " BUGS and IMPROVEMENT ".

Perhaps some features your team takes as improvement,,but for end users thats actually a bug.

for example ;

PO doesn't

[2018-07-09 12:09] usmanalikhan93 commented on #363
Sure thing! Let me take a look to see if I'm getting these same issues as you and I'll circle back to you.

[2018-07-10 06:11] Uzair-RepairDesk commented on #357
Hi @TheSavageCanadian , Thank you for sharing the suggestion. Can you please explain if you either want to display warranty duration on the invoice or you are looking for an option to update the warranty time frame for the customer?

Looking forward to hearing from you. Thanks

[2018-07-10 06:14] Uzair-RepairDesk commented on #1
We can check the price, stock from the search on POS screen

[2018-07-10 06:14] #1 closed

[2018-07-10 07:35] quangc commented on #341
Please see attached photos of today transactions.

[2018-07-10 07:36] quangc commented on #341
![screen shot 2018-07-10 at 5 33 18 pm](https://user-images.githubusercontent.com/22993605/42495855-a974b218-8467-11e8-96e0-5873fe4d2e3c.png)
![screen shot 2018-07-10 at 5 33 35 pm](https://user-images.githubusercontent.com/22993605/42495856-a9ace34a-8467-11e8-9d47-dce2bead85cc.png)

[2018-07-10 07:37] quangc commented on #341
When staff at Carnegie store started shift at 1:05pm, all transactions from Springvale store go to Carnegie register.

[2018-07-10 11:59] usmanalikhan93 commented on #309
Hello @serfma!

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!

[2018-07-10 16:50] phonefixdfw opened #364 "sales tax on purchase orders"
If you add a line to a po and dont select tax exempt before you add that line item, the sales tax is stuck down here.

You can edit the PO and it will show $0 sales tax in line items but still shows in summary @ the bottom.

Additionally, why does it always add sales tax by default with 99% of the time, we as a business are not paying sales tax on parts we purchase?

![image](https://user-images.g

[2018-07-12 01:45] quangc opened #365 "Customer group discount method revisions"
Please have the discount method as $ instead of % in customer groups? It is not realistic to discount % of services as some services have really low margin. A specific $ discount will make more sense.

[2018-07-12 08:10] bharaaus opened #366 "PO is Missing QTY after saving"
When we create a po, and save it.
later open it to edit / add more items.
all qty turns to zero.
so we have to update all qty again.

[2018-07-13 08:46] bharaaus opened #367 "Ticket Number are overriding"
Our tickets number was upto T-17xx .
but suddenly it has started from begining again.  Like T-031 / T-032 and so on.

Now all those old tickets are overriding.
Reported this issue from more than a week ago.
It should have done on priority basis.
Important customer data is messing up .
Still there is no fix for it from long time.
Any Idea, when will it be fixed ?

[2018-07-13 19:05] ThinkDigitalRepair commented on #350
Ok, thank you. You may have to look at mine, cause the other tech said he didn't see it. It happens on the same devices and doesn't happen on others.

[2018-07-15 06:03] Repair-Desk opened #368 "Printnode speed issue"
Printnode speeds suck lately. Is there anything we can do to have instant draw opening rather than sometimes up-to a 1 minute wait.

Source: Facebook

[2018-07-15 06:33] Repair-Desk commented on #367
Hello Bharat,

We sincerely apologise for the inconvenience.

For the second store I would recommend you to change ticket initials so RepairDesk doesn’t override the ticket number when you transfer ticket from one store to another store.

Location A ticket number T-17xx (current format)
Location B ticket number T2-xxx

Here’s an article that talks about how to change ticket number: https://repaird

[2018-07-16 05:08] Uzair-RepairDesk commented on #365
Hi @quangc
Thank you for sharing your idea. Can you confirm the following?
If you give $ value discount, do you want to apply it to the total of the item? E.g. if the Item1 price is $100 (along with tax) and you have given $10 value for a specific customer group, do you want to apply it total to make it $90 price?

Looking forward to hearing from you

[2018-07-16 05:09] Uzair-RepairDesk commented on #365
Hi @quangc
Thank you for sharing your idea. Can you confirm the following?
If you give $ value discount, do you want to apply it to the total of the item? E.g. if the Item1 price is $100 (along with tax) and you have given $10 value for a specific customer group, do you want to apply it total to make it $90 price?

Looking forward to hearing from you

[2018-07-16 06:59] usmanalikhan93 commented on #366
Hello @bharaaus!

Your reported issue has been assigned to development team and I hopefully it will be fixed this week.
Your patience would be highly appreciated.
Thanks!

Usman Ali

[2018-07-16 08:56] bharaaus commented on #367
Thank you for reply.
I will mark store A ticket like ; T-xxx
and
Store B ticket like; P-xxx

I will test that tomorrow.

[2018-07-16 10:21] usmanalikhan93 commented on #350
Hey @ThinkDigitalRepair ! 👋
Thank you for bringing this to our attention! It looks like there's a bug that just popped up 🐛.

I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information! 😃

Usman Ali

[2018-07-17 04:34] Repair-Desk opened #369 "Set Profit Margin For Repairs & Accessories"
Would it be possible for repair prices of a device to automatically me calculated based off the integrated MS or IG account?

For example, the system has the galaxy s8 screen repair priced at $229 with the part cost currently at $140. If the part cost goes up to $150, the repair price would automatically be adjusted to $239.

I’m assuming a simpler way would be to have the part and repair linked w

[2018-07-17 04:35] Repair-Desk commented on #369
I believe there should be a way where you can set profit margin on each repair and if a bundle item is created it checks price from in stock inventory or if its out of stock item it adjust price based on realtime on MS/IJ

[2018-07-17 06:56] usmanalikhan93 commented on #350
Hello @ThinkDigitalRepair!

I hope you are doing well. Did you set sale price for the specific item ? and on POS priority is set to sale price. Can you check this and inform us ?

Usman Ali

[2018-07-17 07:30] Repair-Desk commented on #342
Hellow @benjamingartner

Please find developer feedback:

It appears to their hosting provider issue. Looks like the server may not support POST or PUT request. We need WordPress login details to debug this further.

I've also sent you a PM on Facebook for these details :)

If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.

Usman

[2018-07-17 07:49] benjamingartner commented on #342
Hi Usman,

I have provided the details to you through PM.

[2018-07-17 13:14] Cumbr1at3ch opened #370 "purchase orders"
hi guys
purchase orders, Something incorrect when entering a part the software fills in the field underneath that you are currently entering. and also the description of the field concerned is blank when you print the relevant order off

[2018-07-17 23:02] alexdechant opened #371 "P.O Quantity disappear"
disappearing P.O quantities frequently happening after saving

[2018-07-18 00:46] quangc opened #372 "SMS and Email canned template does not populated correctly"
The {fields} don't get populated and stayed at it. I think the code of the fields have changed and did not get updated into the system so it does not understand those fields.

Please investigate and fix asap since we don't want to manually do it. Otherwise please advise new fields name so we can update ourselves

[2018-07-18 00:47] quangc commented on #372
![screen shot 2018-07-18 at 10 44 15 am](https://user-images.githubusercontent.com/22993605/42853129-e64be240-8a77-11e8-8d0c-bd80659c4c42.png)

[2018-07-18 03:01] quangc opened #373 "Make multiple locations selection as standard"
I would like to do reports across multiple stores at some stage but I could not. Can we have that options as standard?

One example is I want to see my staffs across all stores performance and I have to do it manually which is taking more time.

[2018-07-18 03:02] quangc commented on #373
![screen shot 2018-07-18 at 12 59 24 pm](https://user-images.githubusercontent.com/22993605/42856926-c324d8c2-8a8a-11e8-955a-a79241254a3f.png)

[2018-07-18 13:37] usmanalikhan93 commented on #371
Hi @alexdechant!

Sorry for the inconvenience. This is a known issue. We are already working on it. Hopefully it will be fixed in next 24-48 hours. Your patience would be highly appreciated.

Thanks
Usman Ali

[2018-07-18 13:40] usmanalikhan93 commented on #372
Hey @quangc @bharaaus

Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

Usman Ali

[2018-07-18 13:50] usmanalikhan93 commented on #370
Hey @Cumbr1at3ch 👋
Thank you for bringing this to our attention! It looks like there's a bug that just popped up 🐛.

I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information! 😃

Usman Ali.

[2018-07-18 21:06] ali-repairdesk opened #374 "Show on POS trigger is not working in Parts section - Cassandra"
If we've hidden a part by unchecking Show on POS trigger. It shouldn't display on POS.
But right now if we've a part and its Show on POS trigger is unchecked it still displays on POS while we are on POS and booking a Repair by selecting Category>>Manufacturer>>Devices>>Problems>>**Parts**>>Details

In **Parts** its still displaying.

Please check.
Thanks.

[2018-07-19 04:33] usmanalikhan93 commented on #374
Hey! @ali-repairdesk 👋
Thank you for bringing this to our attention! It looks like there's a bug that just popped up 🐛.

I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information! 😃

Thanks
Usman Ali

[2018-07-19 04:53] usmanalikhan93 commented on #374
Your reported issue has been assigned to development team and I hopefully it will be fixed early next week.
Your patience would be highly appreciated.
Thanks!

[2018-07-19 04:59] usmanalikhan93 commented on #370
Hey @Cumbr1at3ch!

Your reported issue has been assigned to development team and I hopefully it will be fixed early next week.
Your patience would be highly appreciated.
Thanks!

Usman Ali

[2018-07-19 05:59] Uzair-RepairDesk commented on #373
Hey @quangc

At the moment, we haven't included this option that allows you to select multiple stores to see the performance of your employees across all stores. I see where you are coming from on this though, so I'm happy to pass on this feedback to the team for you. We have the plan to improve "Employee Reports" in our current Quarter 3. I can add this feature request under the same task.

If yo

[2018-07-19 06:01] usmanalikhan93 commented on #371
Hi @alexdechant!

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2018-07-19 06:02] usmanalikhan93 commented on #366
Hey @bharaaus!

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2018-07-19 06:48] usmanalikhan93 commented on #370
Matt Smith also reported this issue on Facebook.

[2018-07-19 07:51] Uzair-RepairDesk commented on #369
@Repair-Desk
Can you please provide the source where the customer requested this one? I couldn't find it on User Group.
What is MS/IG?
A response will be appreciated.

[2018-07-19 08:05] Uzair-RepairDesk commented on #196
Hey @quangc
We are working on employee commission functionality improvements and I am pleased to inform you that I have added your above feedback under the improvements.

[2018-07-19 15:23] ThinkDigitalRepair commented on #350
Ah! Nice.  It did have a sale price set. I deleted it now. Is that what I
need to do?  Also there should be some code that automatically says that
the sale price can't be higher than the retail price

On Mon, Jul 16, 2018 at 11:56 PM Usman Ali Khan <notifications@github.com>
wrote:

--
Think Digital
323-638-9448
760-678-8833
Facebook.com/ThinkDigitalRepair

[2018-07-20 02:08] bharaaus opened #375 "Need Phone Model Visible in Customer Details"
![need phone model](https://user-images.githubusercontent.com/34261339/42979421-6bf3ce46-8c15-11e8-8c44-a086dd2f6149.png)

Its always takes few click to see customer's repair history.
Can you please add option to view phone model on same window ?

Regards,

[2018-07-20 03:55] #355 closed

[2018-07-20 03:56] benjamingartner commented on #355
Sorry, i have just gone with not syncing the two programs. It seems a little hard for now.

[2018-07-20 04:38] usmanalikhan93 commented on #350
@ThinkDigitalRepair

Yes, that's all you want to do. Did you change the price on POS now ? Is it working?

**Also there should be some code that automatically says that
the sale price can't be higher than the retail price** Noted :)

Usman Ali

[2018-07-20 04:48] Uzair-RepairDesk commented on #265
@kristan79  We are re-writing our commission's module and we are adding your above feedback in the updated module.

[2018-07-20 04:57] Uzair-RepairDesk commented on #375
Hey @bharaaus, Thank you for highlighting this. We have plan to rewrite our customer's module and I believe we should definitely display Manufacturer/Device in Repair history of the customer. I have updated the status and add it to the roadmap with "Improvements in customers module".

[2018-07-20 05:00] #367 closed

[2018-07-20 05:00] bharaaus commented on #375
Thank you.
I will update another improvement suggestion regarding customer module in future when you work on it.
Cheers !

[2018-07-20 05:01] Repair-Desk commented on #375
#349

[2018-07-20 05:01] #371 closed

[2018-07-20 05:01] #366 closed

[2018-07-20 06:34] usmanalikhan93 commented on #374
@ali-repairdesk

Issue is fixed now. Please check on your end.

[2018-07-20 06:34] #374 closed

[2018-07-20 06:40] usmanalikhan93 commented on #370
Hi @Cumbr1at3ch!

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2018-07-20 10:02] BharatPRC opened #376 "Can we Bring any New Idea to manage the color of products:"
One Item has so many colors. It's a headache to add new item every time. One item has so many different product codes.
Have a look at the picture.
Each case have so many colors. and there are so so soooo many models . Just imagine, when inventrory is growing, how hard it is to manage.

PLEAS NOTE : SERIALIZING EACH ITEM IS NOT A SOLUTION FOR THIS.
I have tried to use it, but its making things more

[2018-07-20 11:37] usmanalikhan93 commented on #372
Hey @quangc!

Just want to confirm that are you facing this issue against all canned responses?

Usman Ali

[2018-07-20 12:40] #370 closed

[2018-07-20 12:58] usmanalikhan93 commented on #372
@quangc

Can you please specify ? it will be easy for us to check then.

Usman Ali

[2018-07-20 13:18] usmanalikhan93 commented on #348
Hi @JessicaSOS

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question. :)

Thanks!
Usman Ali

[2018-07-20 19:19] ThinkDigitalRepair commented on #350
Yeah, that's it, It's working now, thank you

On Thu, Jul 19, 2018 at 9:38 PM Usman Ali Khan <notifications@github.com>
wrote:

--
Think Digital
323-638-9448
760-678-8833
Facebook.com/ThinkDigitalRepair

[2018-07-21 04:45] #309 closed

[2018-07-21 05:31] usmanalikhan93 commented on #364
Hey @phonefixdfw ,

Usman Ali here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

Thanks.

[2018-07-21 06:43] usmanalikhan93 commented on #276
Hi @rlltd,

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2018-07-21 06:43] #276 closed

[2018-07-21 12:51] usmanalikhan93 commented on #342
Hi @benjamingartner ,

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2018-07-23 02:04] quangc commented on #214
Has it been allowed for partial refunds?

[2018-07-23 02:05] quangc commented on #214
![screen shot 2018-07-23 at 12 02 31 pm](https://user-images.githubusercontent.com/22993605/43053536-94282f44-8e70-11e8-9497-712c255321b0.png)
As it can be seen here that the item is $160, and customer paid only $60, now I want to do refund and the system does not allow me.

[2018-07-23 05:02] Uzair-RepairDesk commented on #214
Hey @quangc, We have partial refund functionality available with respect to quantity and amount but its available only for "Paid" invoices. Partially paid invoices depict that sales value is not fully received so refund option doesn't come up in the above scenario. To find more information about existing partial refund functionality, you can check the articles below:-
https://repairdesk.uservoice.

[2018-07-23 05:45] benjamingartner commented on #342
Guys, thanks for fixing this..... It worked for about 2 days and this again now.

[2018-07-23 05:46] benjamingartner commented on #342
![image](https://user-images.githubusercontent.com/39751801/43059384-bbde83ea-8e7e-11e8-8cc3-ff1be9c70f6f.png)

[2018-07-23 06:03] Repair-Desk commented on #342
Hey @benjamingartner

Happy Monday and I hope the weekend went well.

Please find our developer feedback as below:

[code]

[2018-07-23 06:04] #342 closed

[2018-07-23 06:05] quangc commented on #214
Why we dont allow refund on those not fully paid invoices? What is the difficulty?

Best Regards,
Quang Cao.
General Manager.
+ Repair Centre Frankston
+ Repair Centre Springvale
+ Repair Partners
P: 1300 89 82 99
A : Shop 6 Shannon Street Mall, Frankston, Vic, 3199.

On 23 Jul 2018, at 3:02 pm, Muhammad Uzair Shah <notifications@github.com> wrote:

[2018-07-23 06:35] usmanalikhan93 commented on #341
Hi @quangc ,

Thanks for the update on this. We will need to investigate it internally and will release a fix soon.

Usman Ali.

[2018-07-23 09:57] Uzair-RepairDesk opened #377 "Refunds for Partial Paid Invoices"
Scenario: customer paid $60 for an item of $160, and they come back asks for $60 refund. The system does not show up the refund button for that invoice unless it has been paid in full.

[2018-07-23 18:31] ali-repairdesk commented on #374
Thanks @usmanalikhan93  for the quick fix. I've updated the customer on LiveChat & on call both.

[2018-07-24 07:08] benjamingartner opened #378 "Search Filter - Condition"
Under the 'Condition' tab in an inventory item we have used a few different labels.

New | Used | Discontinued | Order In

New = New and we regularily stock this item.
Used = Simply applies to Refurbished Devices.
Discontinued = Can no longer source this item, once Quantity is '0' we delete.
Order In = We don't stock this and only order it in at customer request

Is there anyway to filter Mobile,

[2018-07-24 07:13] benjamingartner commented on #378
If not already available, i think this should be a simple change yes?

[2018-07-24 13:06] benjamingartner opened #379 "Supplier/Vendor - SKU"
We want to have the same SKU for the same vendor on two seperate products.

Currently it says that SKU already exists.

[2018-07-24 21:32] bharaaus commented on #379
What's the Scenario?

[2018-07-25 04:46] jwfarlow commented on #369
ms mobile sentrix, ig injured gadgets . parts vendors

[2018-07-25 04:46] jwfarlow commented on #369
this is a hell of an idea

[2018-07-25 05:20] bharaaus commented on #368
I have noticed, the speed issue is mainly when we book repair ticket and do payment invoice,
It takes 30-40 seconds. or sometimes even a minute.

But anything else, like printing barcode from PO / GRN : It takes only 3 seconds. Which should be case in all the printing command.
Has you guys found a solution for this
?

[2018-07-25 05:49] bharaaus opened #380 "Purchase Order Default View"
Hi Team,
Is it possible that when we open PO, it only shows OPENED po only.
and All CLOSED one are hidden by default.

OPENED = Unpaid/Partially Paid, Wating / Pening.
CLODED = PAID and RECEIVED.

Reason for this is we have so many POs . And sometimes it goes too far down and it skip from our mind to complete it.

I know Search Filter option is there, but there are so many options, its hard to cli

[2018-07-25 06:28] bharaaus opened #381 "Viewing Item Sold in Transaction Logs"
Transaction Log is very helpful throughout the day.
But it will be more convenient if we could see the product name on that section as well.
See attached Pic

![transaction log](https://user-images.githubusercontent.com/34261339/43183169-852524c6-9027-11e8-8733-e91e331c71b5.png)

[2018-07-25 23:24] JessicaSOS opened #382 "Du amount error"
I do not understand why the yellow message prevents me from doing the operation. The bill has an overpaid amount of $ 17.24. I must therefore make a refund of $ 17.24 to the customer. I can not refund a bill paid too much alos, I apply a new payment in the invoice of -17.24 $. This operation has always worked but not anymore. It's not fair in this bill that this problem is present. see attachement

[2018-07-26 02:50] quangc opened #383 "Sales Summary Report only work at selected store"
It's been a while but I want this issue fixed so I don't have to jump across stores to have this report done.

Basically this report allows me to select stores, but it only works at the selected store. If I select other stores, the report is always $0.00.

It must have some settings that does not access data from other stores. But the payroll works, so I guess it can be done. Otherwise, there is n

[2018-07-26 02:50] quangc commented on #383
![screen shot 2018-07-26 at 12 47 20 pm](https://user-images.githubusercontent.com/22993605/43238659-71c8bb9e-90d2-11e8-8fc6-f68c00a7627d.png)

[2018-07-26 04:44] usmanalikhan93 commented on #379
Hi @benjamingartner ,

I hope you are doing well. Can you check in Settings> Module Configuration> Inventory> Make uniqueness across SKU is unchecked ?
If not, try this and I hope it will work for you. I am attaching screenshot for help.
If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.
![432](https://user-images.githubusercontent.

[2018-07-26 05:10] usmanalikhan93 commented on #383
Hey @quangc  👋
Thank you for bringing this to our attention! It looks like there's a bug that just popped up 🐛.

I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information! 😃

Usman Ali

[2018-07-26 05:39] usmanalikhan93 commented on #382
Hey @JessicaSOS  👋
Thank you for bringing this to our attention! It looks like there's a bug that just popped up 🐛.

I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information! 😃

[2018-07-26 07:53] Cumbr1at3ch opened #384 "Purchase Order/GRN Descriptions"
Gents
Despite inventory showing a description, When a GRN or purchase order is printed off. This description isnt replicated. The box is blank. Reported this a week or so ago. Advised this was sorted but its still happening
![image](https://user-images.githubusercontent.com/40138325/43248973-5b918e6c-90b1-11e8-9a7c-bad6d7958d78.png)

[2018-07-26 08:12] usmanalikhan93 commented on #384
Hey @Cumbr1at3ch
Thank you for bringing this to our attention! It looks like there's a bug that just popped up.

I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!

Usman Ali

[2018-07-26 12:56] usmanalikhan93 commented on #384
Hi @Cumbr1at3ch ,

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali.

[2018-07-26 16:12] JessicaSOS commented on #382
Ok tnx

--

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579,204> 418-999-1579 |  <tel:18559991579,204> 1-855-999-1579 | Extension : 204
 <mailto:jessica@sosphone.ca> jessica@sosphone.ca
 <https://sosphone.ca/?utm_source=signature&utm_medium=urlsite&utm_content=sosphone.ca&utm_campaign=outils> sosphone.ca
5375 bvd Guillaume Couture, Lévis, G6V 4Z3
2750 1re Ave, Ville de Québec, QC G1L

[2018-07-26 21:08] JessicaSOS opened #385 "Due date in ticket converting from lead"
When converting a lead into a ticket, the due date of the ticket should be the end time of the appointment entered in the lead and not the start time of the appointment. Can you make the change?

_--
french:
Lorsque l'on convertie un lead en billet, la date dû du billet devrait être l'heure de fin du rendez-vous inscrit dans le lead et non pas l'heure du début du rendez-vous. Pouvez-vous faire la

[2018-07-27 05:10] Repair-Desk commented on #380
**Hello @bharaaus,**

Thanks for sharing the feedback. Sounds like a good feature suggestion. We can add a trigger under **module configuration >> purchase orde****r** that by default it display open purchase orders.

We will try to get this released hopefully within 2 weeks.

If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.

**Us

[2018-07-27 05:34] Uzair-RepairDesk commented on #381
Hey @bharaaus
I believe it is a good idea, however, there are already a lot of relevant fields available in transaction log report. I am afraid if there are multiple payment methods and we display item names as well, it will disturb the UI/UX of the report.
Thank you for listing it over GIT. I will discuss it with the design team.

[2018-07-27 06:45] Uzair-RepairDesk commented on #376
**Hello @bharaaus**

I really appreciate that you took the time to share your idea.

Certainly, we suggest a serialized inventory feature for this but if you are not using it, can you suggest your idea to manage the color of products so we can check the feasibility and add value to your suggested idea.
With a small team and a big roadmap, we have to pick new features (Including your ideas 😃 ) base

[2018-07-27 09:38] bharaaus commented on #376
You guys are the best in developing new ideas. You would probably know better than me.
and way, what  i think is The Best possible way is by doing color matrix which we use on websites.

[2018-07-27 09:44] bharaaus commented on #368
Hi,
Thanks for the Suggestions. It worked well.
I have removed the logo from the invoice and now printing time is 10-12 Seconds.
However, when we print label or anything  else from system ( not from POS window ) it takes only 3-4 seconds.

Hope you can find something more suggestion to increase print speed from POS window.

[2018-07-27 13:03] JessicaSOS commented on #385
Tnx, let me know when is fixed please.

--

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579,204> 418-999-1579 |  <tel:18559991579,204> 1-855-999-1579 | Extension : 204
 <mailto:jessica@sosphone.ca> jessica@sosphone.ca
 <https://sosphone.ca/?utm_source=signature&utm_medium=urlsite&utm_content=sosphone.ca&utm_campaign=outils> sosphone.ca
5375 bvd Guillaume Couture, Lévis, G6V 4Z3
2750 1

[2018-07-27 14:52] usmanalikhan93 commented on #368
@bharaaus

Noted. :)

[2018-07-27 14:57] #368 closed

[2018-07-27 14:58] #348 closed

[2018-07-27 14:58] #288 closed

[2018-07-27 14:58] #296 closed

[2018-07-27 15:03] #384 closed

[2018-07-29 07:02] bharaaus opened #386 "Need Search Option wihch is Avaialbe in Ticket and PO section"
Requested this from a long time now on facebook. But got no estimate date on this. So I thought I post it here too.

In every part of search ( where-ever its avaialble ) please make a option to search like we have in PO .

Type anything and it bring up accordingly.
Mainly needed this in POS window

Please advise if you can work on this.

Thanks

[2018-07-30 00:39] bharaaus opened #387 "Need Switch User Process Faster"
Hi !
on a single store where only one register is available, but 2+ people are working,
Here Switch User process is taking few clicks,
Can we bring that Switch user button in the main tab?
and instead of drop down menu on the users, all main users are visible, and we just enter pin underneath that user's name and hit enter.

It would be much fast in this way.

[2018-07-30 00:48] bharaaus opened #388 "Need Inventory Filter by Cost Price"
![filter by cost price](https://user-images.githubusercontent.com/34261339/43372585-aa29f370-93e5-11e8-99ba-6fbaf9ea3fa5.png)

See the attached picture. It is good we can click on IN STOCK and it shows what items we have ZERO in stock and so on.

We need same thing on COST Price as well.

This would be helpful to check if any item doesn't have cost price .
As we know, PO doesn't sync cost prices t

[2018-07-31 02:39] quangc opened #389 "Employee Report Recommendations"
Hi Team,

I'm running few reports right now and I feel that it will be save me lots of time and really good for other business that you can have these reports in your system. If will help us to do our business planing, rolling out commission schedules in the right time of the year, and show the staffs to pick up their socks if their performance is bad.

Also please have all reports can be exported

[2018-07-31 04:48] Uzair-RepairDesk commented on #281
Hey @TPRS
I am pleased to inform you that we have updated create serials functionality on your request. You can provide a value and generate serials automatically.
You can find more details in following updated knowledgebase article:-
https://repairdesk.uservoice.com/knowledgebase/articles/930741-serialized-inventory

If you have further questions/feedback, please feel free to write back, Thanks

[2018-07-31 04:48] #281 closed

[2018-07-31 05:06] usmanalikhan93 commented on #383
Hey @quangc ,

Just an update we have fixed reported issue and it’s available for beta testing on sandbox server. We are hoping to go live with this either today or tomorrow hopefully.

Thanks
Usman Ali

[2018-07-31 05:30] usmanalikhan93 commented on #382
Hey @JessicaSOS  ,

Just an update we have fixed reported issue and it’s available for beta testing on sandbox server. We are hoping to go live with this either today or tomorrow hopefully.

Thanks
Usman Ali

[2018-07-31 08:12] usmanalikhan93 commented on #382
Hi @JessicaSOS ,

Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2018-07-31 10:54] #303 closed

[2018-07-31 11:43] #279 closed

[2018-07-31 13:17] usmanalikhan93 commented on #379
Hey @benjamingartner ,

It looks like there's a bug that just popped up. I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!

Thanks
Usman Ali

[2018-08-01 05:08] quangc commented on #372
![screen shot 2018-08-01 at 3 07 48 pm](https://user-images.githubusercontent.com/22993605/43502159-ae9d7f36-959c-11e8-8196-cd09203dbbbe.png)

[2018-08-01 05:10] quangc commented on #365
That is right.

[2018-08-01 05:12] usmanalikhan93 commented on #372
Thanks @quangc . I am assigning this  to developer and hope it will be fixed soon. I'll get back to you as soon as I have more information!

Usman Ali

[2018-08-01 08:15] usmanalikhan93 commented on #383
Hi @quangc ,

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali

[2018-08-01 10:12] #382 closed

[2018-08-01 11:12] bharaaus opened #390 "PrintNode missing printing sometime"
It happens at lest 4-5 time a day.
We book a ticket or make invoice , it shows the popup saying printing command is sent.
But nothing prints out.
Then we have to use manual printing.
But next transaction may work without any problem.

So it missed sometimes.not all the time.

I noticed some people have reported this issue on Facebook too.
Anything can be done about it ?

[2018-08-01 13:35] usmanalikhan93 commented on #390
Hey @bharaaus 👋

Thank you for bringing this to our attention! .
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information! 😃

Usman Ali

[2018-08-01 14:34] phyber51 opened #391 "Need more informations in reports"
For my accounting, I need more informations for reports.
All reports concern invoices paid, but i would like informations for all invoices generates, paid and unpaid.
The function (export invoices for excel ) , is great but "items category" is not in the export.

Thanks

[2018-08-01 15:13] JessicaSOS commented on #382
Is fixed :)

[2018-08-01 20:15] markster126 opened #392 "Upgrade to the Schedule an appointment widget"
On my site when you click (https://www.a1cell4u.com/Scheduleappointment.html) on the pricing and you get to the "select Manufacturer screen"  it would be nice to be able to have HTML option here for some PNG.(whatever ext) photo's

[2018-08-01 20:17] markster126 commented on #392
https://www.a1cell4u.com/Scheduleappointment.html

[2018-08-02 04:12] benjamingartner opened #393 "WooCommerce Integration - Product Syncs"
So i use a category for 'Mobile Phone Cases and Covers', In this category LifeProof Fre model cases, OtterBox Defender cases, and OtterBox Symmetry Cases.

I have been through and unticked the sync with WooCommerce on the LifeProof Fre cases that i dont want to sync.

This option is great to have but whenever i make the mistake of clicking 'Manual Sync with WooCommerce' these "unticked" products s

[2018-08-02 04:55] Uzair-RepairDesk commented on #392
Hi @markster126
Our widget is script based. We encourage our customers to use the banners/images by using CMS of their own website. Please check following examples to take inspiration to setup the Appointment Calendar Widget.
https://www.techrevive.com.au/buy-sell-trade
http://phonecarerepairs.com.au/Repair.html
https://www.1stopfix.com/repair.html

[2018-08-02 05:06] usmanalikhan93 commented on #390
Hey @bharaaus

Can you login into your PrintNode account and check printing activity there?  And I appreciate if you send a screenshot of that or you can share a video with us.

Thanks
Usman Ali

[2018-08-02 07:25] usmanalikhan93 commented on #379
Hey @benjamingartner,

I hope you are doing well. Sorry for the inconvenience. I have checked with developer and he said you can not add same SKU for Vendor/supplier.

If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.

Thanks
Usman Ali.

[2018-08-02 12:11] boriszaw opened #394 "To able to Send the ticket via email on iPad POS app after creating ticket"
Would like to request for a function where i will be able to send the Ticket via email after Creating ticket on iPad POS app.

[2018-08-03 04:39] Uzair-RepairDesk commented on #393
@benjamingartner
Can you help us to replicate this issue? Perhaps you can share relevant screenshots. It will be appreciated

@usmanalikhan93
We need to run a QA cycle to find the issue.

[2018-08-03 07:34] Uzair-RepairDesk commented on #381
Hey @bharaaus
As we informed on Facebook user group. We discussed this with Muhammad Fayyaz whose our development lead he has suggested against adding this improvement primarily because in transaction log report we fetch data from different tables and if we add item name information it will increase load time and if an invoice has 50 items it will never open.

[2018-08-03 07:34] #381 closed

[2018-08-03 10:52] bharaaus commented on #381
Now i have noticed another bug in this.

It used to be showing the same day log on this page.
Now from last two days, it shows older days details in here too.
It is bit confusing to check what we upto in the middle of the day.

Have a look in picture.
Random old days tranactions are alwasy there.

![transaction logs](https://user-images.githubusercontent.com/34261339/43639303-2166f84e-975f-11e8-8e

[2018-08-03 11:30] wirelessrepairzone opened #395 "Transaction Log now showing all item"
For the last few weeks the Transaction Log is no longer showing all item, it looks to be limited to just my the current users items not all users, when i select an employees name i get noting listed, when i leave it blank i just get my own

[2018-08-03 12:56] usmanalikhan93 commented on #395
Hey @wirelessrepairzone ,

Usman Ali here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

Thanks

[2018-08-05 11:06] #379 closed

[2018-08-05 11:10] usmanalikhan93 commented on #364
Hi @phonefixdfw

I have checked your concern but unfortunately, I am unable to reproduce your issue. Would be great if you can share a scenario with us, so we can release a fix during our next release. You can put together a video using Screencastify.
If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.
Regards,
Usman Ali

[2018-08-06 10:39] pcrevamp opened #396 "TONS OF BUGS"
1 - Bookings made on the web interface going through to my Manage Leads, but we're not getting an email to show a booking has been made. This is not on all bookings made, just random ones

2 - some bookings (not very important) have been made at the same time of the day. Causes extra workload but again, not important but still a pain.

3 - The Latest bug is very important. Bug 1 is a pain in the a

[2018-08-06 11:34] pcrevamp commented on #396
I have gone onto my web mail (not outlook) to make sure all filters and rules have been cleared. Issue is still there.

You can even see on the bookings that leads are missing. The leads go up in numbers
# L-600
# L-601
# L-602

Then all of a sudden you will see # L-603 missing

If you go to repair desk and check the leads, it will show on there.

[2018-08-06 17:07] JessicaSOS opened #397 "New Lead created in main store only"
Hello,
it looks like the new interface of the leads. However, when we are connected to a shop (example Lévis store), the lead is automatically created in Limoilou (the main store).  It is not created in the shop in which we are connected.
Have a good day

[2018-08-06 18:40] JessicaSOS opened #398 "Missing invoice by customer name"
Hello,
We are no longer able to know the number of tickets / bills a customer has had, without going to see each branch. See client example: "Renald Laperriere" and 2 screenshots.
<img width="949" alt="renal laperriere saint-roch store" src="https://user-images.githubusercontent.com/40500094/43734648-60606db8-9986-11e8-83b2-7bb56c899303.png">
<img width="944" alt="renald laperriere limoilou store"

[2018-08-06 21:03] JessicaSOS commented on #397
fixed

[2018-08-07 03:05] Repair-Desk commented on #397
Hello Jessica,

We sincerely apologise for the inconvenience. I can certainly see you are using global iFrame code here: https://sosphone.ca/reparation-de-cellulaire/prendre-rendez-vous/ that should create a lead / appointment on respective store.

We will create a test appointment to check and will revert back with an update

Usman

[2018-08-07 03:07] Repair-Desk commented on #398
Hello Jessica,

Thanks for sharing this with us. Let me discuss this with Uzair and revert back.

I believe customer invoices are displayed if they are created and viewed from the same store but I still need to verify this.

Will revert back on this thread shortly.

Usman

[2018-08-07 03:11] Repair-Desk commented on #394
Hi Boris,

Happy to help with this.

I believe when you create an email through iPad POS register it automatically sends out “repair in progress” email to the customer.

Can you perhaps trying creating a ticket as a customer and see if you receive an email or not?

Usman

[2018-08-07 03:15] Repair-Desk commented on #391
Would you like a new column added “item category” and have it say Repair, Networ Unlock, Accessories etc?

[2018-08-07 04:01] boriszaw commented on #394
Hi Usman,

That status email is sent out if create ticket on iPad POS. Thanks.

Best Regards,

Boris (Thiha Zaw)

[2018-08-07 08:06] usmanalikhan93 commented on #397
Hi @JessicaSOS ,

I have checked your concern and created a lead through Appointment Calendar and selected a Levis store. Lead comes in Levis store as you can see the screenshot 469.png. No lead comes in main store (Limoilou), see screenshot 470.png.

![469](https://user-images.githubusercontent.com/39614480/43762888-9fb6ecaa-9a42-11e8-8809-c0ecf830711b.png)
![470](https://user-images.githubuserco

[2018-08-07 14:47] kristan79 commented on #271
I would love to have this fixed also,  I have to delete my purchase orders to temp fix issue

[2018-08-07 15:49] JessicaSOS opened #399 "Problem with transaction woo-commerce"
Hello
<img width="939" alt="woocomerce sku item xxx5234" src="https://user-images.githubusercontent.com/40500094/43787001-fa4d3440-9a37-11e8-836b-4074f104a3fc.png">
,

The device was sold online via woo commerce. We do not create any items directly in woo commerce. We always go through repairdesk. This is what I mention in my previous email. "I can not find the item with sku xxx5234." Yet, we see

[2018-08-07 15:55] JessicaSOS commented on #397
Indeed, it seems to work today.

--

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579,204> 418-999-1579 |  <tel:18559991579,204> 1-855-999-1579 | Extension : 204
 <mailto:jessica@sosphone.ca> jessica@sosphone.ca
 <https://sosphone.ca/?utm_source=signature&utm_medium=urlsite&utm_content=sosphone.ca&utm_campaign=outils> sosphone.ca
5375 bvd Guillaume Couture, Lévis, G6V 4Z3
2750 1re Ave,

[2018-08-07 16:19] JessicaSOS commented on #398
This was not the case 2 days ago. We could not see all the details but we could still see the ticket / invoice if there were any.

--

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579,204> 418-999-1579 |  <tel:18559991579,204> 1-855-999-1579 | Extension : 204
 <mailto:jessica@sosphone.ca> jessica@sosphone.ca
 <https://sosphone.ca/?utm_source=signature&utm_medium=urlsite&utm_content=sos

[2018-08-07 19:34] JessicaSOS commented on #348
Hello,

Sorry for the response time. I tested and it is corrected.

Thank you very much.

--

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579,204> 418-999-1579 |  <tel:18559991579,204> 1-855-999-1579 | Extension : 204
 <mailto:jessica@sosphone.ca> jessica@sosphone.ca
 <https://sosphone.ca/?utm_source=signature&utm_medium=urlsite&utm_content=sosphone.ca&utm_campaign=outils> sosphone.ca

[2018-08-07 19:56] JessicaSOS opened #400 "Sync woo commerce with repairdesk"
Hello,
Here is a problem that is destroying our lives on a daily basis and has been postponed since at least January 8, 2018 (and maybe even before). We are still without news and the problem is still present. All the phones that are on sale on our website have almost all been sold already. The synchronization between repairdesk and woocommerce is not done correctly. I do not know how often it is,

[2018-08-08 05:42] usmanalikhan93 commented on #372
Hey @quangc

I hope you are doing well. Can you share a SMS screenshot ? Also we need a test number to test this.

[2018-08-08 05:47] usmanalikhan93 commented on #271
Hi @kristan79

I have checked your concern but unable to reproduce the issue. Can you help us to replicate the issue, so we can release a fix ASAP ?

Thanks!
Usman Ali

[2018-08-08 07:35] usmanalikhan93 commented on #395
Hi @wirelessrepairzone

I hope you are doing well. We have release a fix for Transaction log, can you check on your end and let us know ?
If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.

Thanks!
Usman Ali

[2018-08-08 10:33] wirelessrepairzone commented on #395
still not working correctly with the filter   What i use this for is to see
what older invoices have been paid. For example this morning i know the 1st
invoice from yesterday is 8088 for the Davison store so I would open the
transaction lot select yesterdays date and look for any invoice number
older then 8088 to see if anything was picked up and paid for on an older
invoice.

in the file no filte

[2018-08-08 12:08] usmanalikhan93 commented on #398
@JessicaSOS

Let me check and I will circle back to you with more information.

Usman Ali

[2018-08-08 13:29] JessicaSOS commented on #397
Hello,
it's still not settled. The problem just does not seem to be all the time. This morning, I just created a new lead by being connected to Sainte-Foy and it is created in Limoilou.

_--
french:
Bonjour,
ce n'est toujours pas réglé. Le problème semble juste ne pas être a tous les coups. Ce matin justement, je viens de créer un nouveau lead en étant connecté à Sainte-Foy et il c'est créé à Limo

[2018-08-08 14:47] kristan79 commented on #271
It happens daily.  I will have to show you.  let me know when we will get together

[2018-08-08 15:45] JessicaSOS opened #401 "Problem with receiving email"
Hello,
We had some problem last week with emails sent from ticket that was not delivered to the recipient. We thought it was a problem with the email address of one person. However, this problem has reappeared this week with other employees.

Here is the description:
- the problem is intermittent.
- This is an email sent from a ticket from one employee to another employee.
- The problem is that th

[2018-08-09 06:26] usmanalikhan93 commented on #397
@JessicaSOS

Let us look again in it and we will create a test appointment to check and will revert back with an update.

Thanks
Usman Ali

[2018-08-09 06:42] usmanalikhan93 commented on #271
Ok @kristan79 that would be great, you can contact our support team. They will assist you and you can show them the issue :)

Thanks
Usman Ali.

[2018-08-09 13:49] JessicaSOS commented on #397
No problem you can test it !

--

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579,204> 418-999-1579 |  <tel:18559991579,204> 1-855-999-1579 | Extension : 204
 <mailto:jessica@sosphone.ca> jessica@sosphone.ca
 <https://sosphone.ca/?utm_source=signature&utm_medium=urlsite&utm_content=sosphone.ca&utm_campaign=outils> sosphone.ca
5375 bvd Guillaume Couture, Lévis, G6V 4Z3
2750 1re Ave, Vi

[2018-08-09 13:49] JessicaSOS commented on #401
tnx

--

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579,204> 418-999-1579 |  <tel:18559991579,204> 1-855-999-1579 | Extension : 204
 <mailto:jessica@sosphone.ca> jessica@sosphone.ca
 <https://sosphone.ca/?utm_source=signature&utm_medium=urlsite&utm_content=sosphone.ca&utm_campaign=outils> sosphone.ca
5375 bvd Guillaume Couture, Lévis, G6V 4Z3
2750 1re Ave, Ville de Québec, QC G1L 3N8

[2018-08-09 17:41] jaytronixx opened #402 "Multiple Lead generations"
When customers are requesting a quote on the sell a device widget it always create multiple up to 6 leads sometimes. We have confirmed this happening for all users and not isolated.
<img width="1431" alt="screen shot 2018-08-09 at 1 38 34 pm" src="https://user-images.githubusercontent.com/28720537/43915860-fb340eb2-9bd9-11e8-8b0c-d2fbe9825c6e.png">

[2018-08-10 04:38] usmanalikhan93 commented on #402
Hi @jaytronixx

Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

Usman Ali.

[2018-08-10 06:51] bharaaus commented on #388
Today i noticed , we can filter inventory by cost.
but
In Stock menu has disabled.
which means we can not change the item qty from this window. we have to click on update product to change qty.

[2018-08-10 07:12] usmanalikhan93 commented on #402
Hi @jaytronixx

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks :)
Usman Ali

[2018-08-10 07:48] Uzair-RepairDesk commented on #385
Hey @JessicaSOS
We have made improvements. When you convert a lead into a ticket, the due date of the ticket is the end time of the appointment now.
Please check at your end and verify. Thanks

[2018-08-10 07:48] #385 closed

[2018-08-10 10:26] usmanalikhan93 commented on #293
Hey @phonefixdfw

Thank you for bringing this to our attention! It looks like there's a bug that just popped up.

I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!

Usman Ali

[2018-08-13 04:42] Uzair-RepairDesk commented on #380
Hi @bharaaus

I am pleased to inform you that we have added a trigger on your request under **Store Settings > Module Configurations > Purchase Order > Hide Paid or Accepted Order**
Once you enable the trigger, it will automatically hide the purchase orders that have been received and paid.

Please review at your end and verify. Thanks.
![purchaseorder config](https://user-images.githubusercontent

[2018-08-13 04:42] #380 closed

[2018-08-13 04:45] #402 closed

[2018-08-13 05:51] usmanalikhan93 commented on #293
Hi @phonefixdfw

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali.

[2018-08-13 05:51] #293 closed

[2018-08-13 05:56] usmanalikhan93 commented on #398
Hi @JessicaSOS

I hope you are well. @JessicaSOS it shows store wise.

[2018-08-13 17:58] ThinkDigitalSoftware opened #403 "Add more endpoints to the OpenApi"
Hi, can we have access to the delete endpoint for the rest api?

[2018-08-14 08:37] benjamingartner opened #404 "iOS Crashing"
Everytime i load the iOS app it loads the dashboard and then crashes closing it.

[2018-08-15 01:42] bharaaus commented on #380
![po](https://user-images.githubusercontent.com/34261339/44127340-3c40edf8-a080-11e8-911e-0f949a51fd78.png)

I was hoping something like this.

[2018-08-15 01:43] bharaaus commented on #380
I hide this opiton,
but it still shows some of the closed ones at the bottom.

please see picture
![po 2](https://user-images.githubusercontent.com/34261339/44127398-7c35a6d8-a080-11e8-9713-fda2966d4d61.png)

[2018-08-15 02:08] bharaaus commented on #380
Sorry to say, but effort you have put on adding this option is has no outcome.
Because this option is useless.
Adding this option has disabled search filter completly.
going back and forth to change this option from setting is not a solution.

[2018-08-15 04:39] usmanalikhan93 commented on #396
Hey @pcrevamp

I hope you are well. We are working on this issue. And we hope it will be fixed soon. Your patience would be highly appreciated.

Thanks!
Usman Ali

[2018-08-15 05:11] quangc commented on #383
This one is still having issues. When I select other stores, the system then filtered all staffs for that store, then I will select 1 staff, then date range, then search. The system then display the results and then refresh back to the original store, not keeping the selected store in the filter area.

[2018-08-15 05:14] usmanalikhan93 commented on #383
Hey @quangc ,

Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

Usman Ali

[2018-08-15 05:44] Uzair-RepairDesk commented on #380
Hey @bharaaus , Hope you are well. You asked to hide closed purchase orders on the default view and we added a trigger for the same specifically on your request. If you want to hide default purchase orders on default view, you can simply enable the trigger and system doesn't display closed PO's.
If you want to view closed/paid PO's later on, you can simply apply the search filter. Please check scr

[2018-08-15 10:04] usmanalikhan93 commented on #404
Hey @benjamingartner ,

Usman here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2018-08-15 10:26] Uzair-RepairDesk commented on #324
Hi @geelongmicrosoldering @quangc
We have implemented 2 way SMS feature for "SMS Broadcast" integration. You can find details from the following knowledgebase article link.
https://repairdesk.uservoice.com/knowledgebase/articles/784326-how-can-i-setup-sms-broadcast-api

[2018-08-15 11:25] usmanalikhan93 commented on #404
@benjamingartner

crashing or working fine ?

[2018-08-15 11:26] benjamingartner commented on #404
Working fine now

[2018-08-15 11:26] #404 closed

[2018-08-15 11:37] #314 closed

[2018-08-16 01:13] quangc opened #405 "Admin history missing infor"
Hey team,

There are big issues with admin history does not show enough information as before. Please see attached screenshot, it suppose to show another record explain why the stock increase or decrease value from transfer or purchase order. Before it shows, but now no more.

[2018-08-16 01:13] quangc commented on #405
![screen shot 2018-08-16 at 11 11 45 am](https://user-images.githubusercontent.com/22993605/44181491-668afc00-a145-11e8-87f4-7814021d2c15.png)

[2018-08-16 04:41] Uzair-RepairDesk commented on #403
Hi @ThinkDigitalRepair ,

I really appreciate that you took the time to share your ideas.

I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work during the 3rd Quarter.

However, we will consider it in the comin

[2018-08-16 04:42] Uzair-RepairDesk commented on #405
@usmanalikhan93
Can you review it at your end?

[2018-08-16 07:02] ThinkDigitalRepair commented on #403
No worries, thank you!

On Wed, Aug 15, 2018 at 9:41 PM Muhammad Uzair Shah <
notifications@github.com> wrote:

--
Think Digital
323-638-9448
760-678-8833
Facebook.com/ThinkDigitalRepair

[2018-08-16 12:44] usmanalikhan93 commented on #399
Hi @JessicaSOS

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali.

[2018-08-16 12:47] usmanalikhan93 commented on #400
Hi @JessicaSOS

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali.

[2018-08-16 16:49] JessicaSOS opened #406 "Double Invoice"
Hello,
Duplicate invoices are created when we apply the payment via the POS. It's not every transaction. We are not supposed to be able to create more than one invoice for the same ticket, or an invoice with the same invoice number to the same customer.
See Attachment.
<img width="928" alt="double invoice" src="https://user-images.githubusercontent.com/40500094/44222522-c4721080-a152-11e8-8590-232

[2018-08-16 16:57] #399 closed

[2018-08-16 17:03] JessicaSOS commented on #400
**It is not fixed. Thank you to compare the two results**

**What we have in stock in repairdesk:**
https://app.repairdesk.co/index.php?r=inventory%2Ftradein&page=&ids=&Inventory%5Bitem_no%5D=&Inventory%5Bname%5D=&Inventory%5Btradein_id%5D=&Inventory%5Bimei%5D=&Inventory%5Bserial%5D=&Inventory%5Bmanufacturer%5D=&Inventory%5Bdevice%5D=&Inventory%5Bnetwork%5D=&Inventory%5Bcond%5D=&seller=&Inventory%

[2018-08-16 17:43] JessicaSOS opened #407 "Missing transaction"
1) Where is the history between the 2 in inventory and the 0?
2) Why it is 1. What was the transaction?
SOS Phone Limoilou item #9557
<img width="949" alt="item 9557" src="https://user-images.githubusercontent.com/40500094/44224901-f63aa580-a159-11e8-9451-39579ff8a250.png">

_--
french:
1)Où est l'historique entre les 2 en inventaire et le 0?
2) Pourquoi il est a 1. Quelle a été la transaction?
SO

[2018-08-16 17:53] JessicaSOS commented on #398
Not fixed, Can you put it back as before? It is not settled yet.

[2018-08-16 18:15] JessicaSOS commented on #385
Fixed !

[2018-08-16 18:59] JessicaSOS opened #408 "Extensions for phones number"
Extensions for phones does not work. We are able to see the word "extention" when we want to add one, but impossible to put numbers after the phone numbers. This is not very practical when it comes to a desk phone ...
<img width="935" alt="extention" src="https://user-images.githubusercontent.com/40500094/44229002-bcbb6780-a164-11e8-828c-d858923129e4.png">

_--
French:
Les extentions pour les télé

[2018-08-16 19:39] JessicaSOS opened #409 "Employee Commission report"
postponed on October 30, 2017,

The commissions reports should correspond, but currently, this is not the case. For the same employee: Stéphanie Cloutier, at the same branch: SOS Phone Limoilou and the same period 1 to July 31, 2018, here are the results:

Connected in my admin deposit, "Report" + "Selling by Product Name" (result 235)
<img width="924" alt="selling by product name" src="https://us

[2018-08-16 19:52] JessicaSOS opened #410 "Woocomerce integration update"
I spoke with Uzair on August 30, 2017 via email.

I asked him:
9) I imagine you have thought of a situation in the world of income that the woocommerce brings us? We have given date, monthly, or other ...

Uzair had answered me:
We have already decided to add a number of different types of products. We have added it in our roadmap for the next phase of Woo Commerce integration.

It's been 1 year s

[2018-08-16 20:23] JessicaSOS opened #411 "Physical location of part in a ticket"
I had asked Ali if it was possible to put the location of the inventory part somewhere in the "used part" section of a ticket. I never had and this new and it date of October 30, **2017**.
<img width="928" alt="physical location" src="https://user-images.githubusercontent.com/40500094/44232836-47559400-a170-11e8-87bd-fb2e27bbf9e2.png">

<img width="945" alt="in ticket location of the part" src="ht

[2018-08-16 20:47] JessicaSOS opened #412 "Problem with category in commission section"
Already postponed on January 28, 2018

I found that the service category appears as an accessory. Yet, I have checked and these products are properly created in service.
See example service item # 9042 "Desjardins worker 10%". There is even an item that does not have an item number.
See Attachment
<img width="937" alt="accessories staff report" src="https://user-images.githubusercontent.com/405000

[2018-08-16 21:08] JessicaSOS opened #413 "Average repair time job"
We are opening a new shop next Monday, August 27th, and I was wondering if it would be possible to enter the "average repair time" that is recorded in the repair issues so that it is visible in the POS. It would be much easier for the training of our new employees and more convenient for our current employees in order to give customers the right repair time. Can you make this change?
Thank you and

[2018-08-16 21:29] JessicaSOS opened #414 "Payment in transaction log"
The payment methods in the transaction log are not the same in all branches. Yet, they all have the same settings.
There are currently 13 payment methods that appear while they are not in the settings (6 of created in the settings) and not in the woo trade (1 of created in woo trade).
I would like you to look at this please.
<img width="945" alt="payment in transaction log" src="https://user-image

[2018-08-16 21:36] JessicaSOS opened #415 "Confirmation of appointments in LEAD and pre-made message"
-- We would need to send email confirmation of appointments, request for information, etc., in a lead in the same way as we do for a ticket. There should be pre-programmed response (as for the ticket) but, in the lead.

-- In addition, the appointment confirmation email does not work automatically.

_--
french:

-- Nous aurions besoin d'envoyer des courriel de confirmation de rendez-vous, de deman

[2018-08-16 21:49] JessicaSOS opened #416 "Calendar"
The agenda, reported february 23, 2018

1) Customers' names do not appear every time. Many are in no customer "walkin customer" instead of displaying the name of the customer. (See attachment "walkin customer").

2) Would it be possible for critical files to appear somewhere in the calendar?

3) When the tickets are completed (with status "completed", "repaired" or "repaired and collected"), can t

[2018-08-16 21:52] JessicaSOS opened #417 "Du invoice reminder"
Resume of speak by phone with Ali on February 14, 2018

Due invoice reminder
1.	The tags in the programmed canned responses do not work. When sending an email to a customer with outstanding bills, nothing is displayed in the email.

2.	The due date should be set automatically, depending on what we have entered in the customer group. However, the customer group has a payment of 30 days and when we

[2018-08-16 22:04] JessicaSOS opened #418 "Missing transaction in a lot of item"
**Already been postponed on February 16, 2018**

There are transactions that do not appear in the history. Each inventory adjustment should appear to be a positive or negative adjustment, via a tiket, an inventory transfert, an RMA, a manual adjustment, etc...

**item #2459**
How is it possible to pass the 0 to 1 (so there are 1 in inventory) and the next transaction, to go from 0 to 2. If there w

[2018-08-16 22:08] JessicaSOS opened #419 "Refurbishment ticket option"
it would be nice to add the search field by item "Refurbishment" in "manage ticket" in order to easily find the phones of the store versus the phones of the customers. Can you add this option?

_--
French :
sa serait bien d'ajouter le champs de recherche par item "Refurbishment" dans "manage ticket" afin de trouver facilement les téléphones du magasins versus les téléphones des clients. Pouvez-vou

[2018-08-16 23:57] JessicaSOS opened #420 "iPhone 5 Battery part with other part in POS"
A part is invisible for the iPhone 5 **in the POS**

We click on "Phone" + "Apple" + (model) "iPhone 5" + (problems) Battery and Screen + (parts) Screen and battery

If we select the "battery" problem, we are able to select the "battery" part.

However, if we select the problem of "battery" + "screen", we are able to select the "screen" part, but not the "battery".

_--
french:
Une pièce est invis

[2018-08-17 00:39] JessicaSOS opened #421 "Bundle, access to edit Bundles"
I would like the bundles that are editing in the problems, (see attachment bundle) to be editable only by an admin (or with privileges). At this point, any employee can click on the "save item for the future" button at the bottom of the POS page when selecting parts. By clicking this button, the employee has access to modify the bundles that are currently being created.
<img width="935" alt="bundl

[2018-08-17 01:04] JessicaSOS opened #422 "hide price on inventory tag"
In "label size", the option "hide price on inventory tag" does not work. It does not hide the price whether it is checked or not.
<img width="935" alt="setting inventory tag" src="https://user-images.githubusercontent.com/40500094/44242462-cf9b5f80-a197-11e8-84cc-7e7f7b27887e.png">

_--
french:
Dans "taille d'étiquette", l'option "masquer prix sur étiquette d'inventaire" ne fonctionne pas. Elle ne

[2018-08-18 15:41] msams1 opened #423 "Will not find products when creating ticket"
When creating a ticket, all the sudden I can not add ticket items. It's not locating them properly and I can not adjust costs or items therefore not allowing for adjustment of inventory or proper number reporting.

[2018-08-20 01:28] quangc commented on #405
Any updates please?

[2018-08-20 04:32] Uzair-RepairDesk commented on #423
Hi @msams1
We have recently improved search filter under ticket items. When you search for items, it populates the results with suggestive search and also provides information regarding stock and location.
Can you please specify if you are facing issue to search the items.
We have disabled to update cost of the item so you can track the exact cost coming from inventory item.

Moreover, we are conc

[2018-08-20 05:57] usmanalikhan93 commented on #405
Hey @quangc

I hope you are doing well. I am reviewing this, if I'm getting the same issue as you, I'll get back to you with information!

Thanks
Usman Ali.

[2018-08-20 06:10] usmanalikhan93 commented on #400
Hi @JessicaSOS

Let us check again this.

[2018-08-20 06:16] usmanalikhan93 commented on #405
Hey @quangc

I have checked you concern but it shows every detail in admin history. Please see Screenshot
![533](https://user-images.githubusercontent.com/39614480/44323254-80d91880-a46a-11e8-92c5-e509d3843563.png)

[2018-08-20 06:36] quangc commented on #405
It does not show in my attached screenshot

[2018-08-20 06:37] quangc commented on #405
There are lots of missing info in many places, it has been happened for a while. I can try to relocate the exact items so you can investigate.

[2018-08-20 06:44] usmanalikhan93 commented on #405
Sure @quangc.

[2018-08-20 07:02] quangc commented on #405
![screen shot 2018-08-20 at 4 59 52 pm](https://user-images.githubusercontent.com/22993605/44324967-b269d800-a49a-11e8-8d75-701c7b84a3db.png)
![screen shot 2018-08-20 at 4 59 59 pm](https://user-images.githubusercontent.com/22993605/44324968-b269d800-a49a-11e8-8e0a-df79f1761a72.png)
![screen shot 2018-08-20 at 5 01 06 pm](https://user-images.githubusercontent.com/22993605/44324969-b3026e80-a49a-11

[2018-08-20 07:04] usmanalikhan93 commented on #405
Ok @quangc, let me review this.

[2018-08-20 07:04] quangc commented on #405
Checking up to 20/03/2018 is still not fixed, but from 31/3/2018 is fixed. There are a time range that affected in the system, I think you can recover those trails?

[2018-08-20 07:06] usmanalikhan93 commented on #405
Let me discuss this with developer then I will revert back to you.
@quangc

[2018-08-20 17:34] yossigrosskopf opened #424 "Export function missing ticket closed date"
There is no information as to when a ticket was closed not even in the CSV exports, this is extremely important information yet such a simple task to include.
All information should be included in the CSV exports.

[2018-08-20 22:49] rlltd opened #425 "Trade In Report - does not work for items SOLD over a period."
I have already reported this issue via chat.

I need to see a report showing details of all Trade Ins SOLD during a date range.

If I select the "SOLD" filter, and select the date range (say 1st August to 20th August), it will only show items which were purchased AND sold in the date range.

[2018-08-21 16:27] JessicaSOS commented on #400
Thank you for doing your best to solve this problem quickly.

[2018-08-23 14:39] JessicaSOS opened #426 "Ex employee status"
Hello,
Can we put employees with "ex-employee" status?
Because, at the moment, I reached the limit of 30 users and yet, I have only 17 employees. I do not want to erase them in order to keep their time card, assignment, etc. data in archive. How should I proceed?

_--
french:
Bonjour,
Pouvons-nous mettre des employés avec le statut "ex-employé"?
Car, en se moment, j'ai atteint la limite de 30 usag

[2018-08-24 05:16] usmanalikhan93 commented on #425
Hi @rlltd

I have checked your concern, but when I apply SOLD filter with date range, it only displays SOLD items.
Can you share screen shots ?

Usman Ali

[2018-08-24 05:30] usmanalikhan93 commented on #423
Hi @msams1

We have revert this. Please check on your end and do let us know if you have any question.

Usman Ali

[2018-08-24 05:30] #423 closed

[2018-08-24 05:40] #400 closed

[2018-08-24 05:49] usmanalikhan93 commented on #393
Hi @benjamingartner

I believe this issue has been fixed in recent update. Can you give it another try?

Usman Ali

[2018-08-24 05:52] usmanalikhan93 commented on #390
Hi again.
Usman Ali here - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2018-08-24 05:52] #390 closed

[2018-08-24 05:53] usmanalikhan93 commented on #364
Hi again.
Usman Ali here - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2018-08-24 05:53] #364 closed

[2018-08-24 06:11] usmanalikhan93 commented on #405
Hey @quangc

I have discussed this with developer. Kindly can you please tell us the date range from when to when we have to recover? It will be more easy for the developer.

Usman Ali

[2018-08-24 07:30] quangc commented on #405
Just to be safe. Recover month January, February and March please

Best Regards,
Quang Cao.
General Manager.
+ Repair Centre Frankston
+ Repair Centre Springvale
+ Repair Partners
P: 1300 89 82 99
A : Shop 6 Shannon Street Mall, Frankston, Vic, 3199.

On 24 Aug 2018, at 4:11 pm, Usman Ali Khan <notifications@github.com> wrote:

[2018-08-24 07:58] usmanalikhan93 commented on #405
@quangc

Developer is asking for the store name. And he said he will just provide an excel sheet, you have to search it then accordingly.

[2018-08-25 03:09] bharaaus opened #427 "Ticket Section not finding parts by Name."
When adding Ticket items in ticket section,
inventory can only be search by item code. not by name.
please have a look.

[2018-08-25 21:37] JessicaSOS commented on #400
I do not test yet if it works during the sale, but if we put the status "in stock", the item goes online. However if we remove this status to put another, it continues to be visible and "in stock" on our website.

--

French:

Je n'ai pas tester encore si cela fonctionne lors de la vente, mais si nous mettons le status "in stock", l'item se met en ligne. Cependant si nous retirons ce status pour e

[2018-08-26 15:25] Cumbr1at3ch opened #428 "Inventory"
Hi Gents
My invoice 3336 17/7/18
Bought one and sold one yet the part 9kinfire7 is still showing one in free stock. There are other issues where i am find physical stock is lower than free stock in RD. When a sale is made the inventory isnt updating and the whole thing is falling down. I need this to be correct. I could scream at you becuase issues are becoming apparent. If this whole RD and its i

[2018-08-26 23:38] rlltd opened #429 "Total Sales value on Commission Report doesn't account for discount"
Hi,
I pay my staff a bonus for the volume of accessories they sell.
When i check the commission report it shows the total sales value as the total BEFORE discount (but it does give the proper commission based on the actual sale value)

My issue is that the total sales is way higher than it should be so i cannot determine who actually sold the highest value of accessories.

If there is another repo

[2018-08-26 23:44] rlltd commented on #425
Ok i will attach 3 screen shots. One of the report filters, one of the total shown in the report, and one of the actual total trade ins sold.

Report shows: 18
Actual sold: 48

Also, there is no paper trail for items which have been returned and resold...
A report to show precise movement of trade ins would be necessary for shops like mine where we need to keep a separate spreadsheet.

[2018-08-26 23:45] rlltd commented on #425
<img width="268" alt="screen shot 2018-08-27 at 00 41 46" src="https://user-images.githubusercontent.com/36428178/44634473-6d5e0e00-a992-11e8-9e62-aeaa8eff08c1.png">
<img width="602" alt="screen shot 2018-08-27 at 00 41 10" src="https://user-images.githubusercontent.com/36428178/44634474-6d5e0e00-a992-11e8-88f2-c8e46ba2770f.png">
<img width="2" alt="screen shot 2018-08-27 at 00 41 43" src="https:/

[2018-08-26 23:45] rlltd commented on #425
<img width="2" alt="screen shot 2018-08-27 at 00 41 43" src="https://user-images.githubusercontent.com/36428178/44634487-85359200-a992-11e8-86f0-522806ad4c27.png">

[2018-08-26 23:46] rlltd commented on #425
<img width="617" alt="screen shot 2018-08-27 at 00 46 11" src="https://user-images.githubusercontent.com/36428178/44634499-a5fde780-a992-11e8-832a-201a5ac4663a.png">

[2018-08-27 01:58] quangc commented on #405
This is no good since your system stuffed up and we have to spend more time to reconcile it?

[2018-08-27 04:48] usmanalikhan93 commented on #425
@rlltd

Ok, Let me check this again.

[2018-08-27 04:49] usmanalikhan93 commented on #427
Hey @bharaaus

You can only search accessories whose type is part in ticket items. Kindly check the accessory you are searching for is it's type is part ?
I hope this will help.

Thanks.
Usman Ali

[2018-08-27 05:46] #313 closed

[2018-08-27 05:48] Uzair-RepairDesk commented on #328
Hey @bharaaus
We have added this feature on your request. If you add an item in PO or Inventory Transfer and there is no SKU exist for the specific item, system displays item ID now.
Please review at your end. Thanks.

[2018-08-27 05:48] #328 closed

[2018-08-27 06:02] Uzair-RepairDesk commented on #429
Hi @rlltd
Thank you for sharing your thoughts. We are already working to update "Employee Commissions" module including the report. You will be able to set specific criteria to apply commissions on "Sales" or "Profit" value.
You will be able to get the right report according to your configurations.

I will let you know once the new module is available for beta testing. Thanks

[2018-08-27 06:28] Uzair-RepairDesk commented on #410
Hey @JessicaSOS
I filtered the email I sent to you. The questions and answer in the email are as follows:-

9) I imagine you have thought of a search option in the reports to find out the income and expenses that the woocommerce brings us? On a given date, monthly, or other ...
**We have already planned to add search filters in our couple of reports that will allow you to find online sales with di

[2018-08-27 07:47] #427 closed

[2018-08-27 08:05] usmanalikhan93 commented on #361
Hi @phonefixdfw

We are working on Employee commission module. And we hope after the update you issue will be fixed.
I will let you know once the new module is available for beta testing. Thanks

Thanks
Usman Ali.

[2018-08-28 13:12] usmanalikhan93 commented on #395
Hi @wirelessrepairzone

We have close the shift, now I hope your issue will be resolved. Can you verify on your end? and do let us know if you have any question.

Usman Ali.

[2018-08-28 19:14] Repair-Desk commented on #333
Hello Brandon,

I hope you have been well. Based on your feedback our design team has proposed below designs that will fulfil your workflow needs.

![Image](https://i.imgur.com/XsLkgsX.jpg)

![Image](https://i.imgur.com/jQKZcjR.jpg)

Do let us know if this will work so we can move forward with the development.

Kind Regards,
Usman

[2018-08-28 20:02] wirelessrepairzone commented on #395
looks to be working now thank you

On Tue, Aug 28, 2018 at 9:13 AM Usman Ali Khan <notifications@github.com>
wrote:

[2018-08-29 03:59] bharaaus opened #430 "DUAL Transfer Inventory Created a blunder."
DUAL Transfer Inventory Created a blunder.

Look at the photo below.

Staff clicked save, it was loading for more than 1 minute.
then they click save again, then it worked.
But we noticed it created two transfer order with same ID.
and stock got reduced from inventory TWICE.

Its OK if it happned, BUT  there was no option to redo the mistake.

We tried updating TO by:
Deleting Items,
Change Status

[2018-08-29 04:03] bharaaus commented on #380
"Regarding "Hide Closed Ticket" check (you posted now) on ticket search filter doesn't hide closed PO's on default view, it just hides the closed tickets if you don't want to view closed tickets in search results.
"

I was hoping similar to that.
Sorry it was my mistake, I couldn't explain it properly in the beginning.

Anyways,
Still In future ( If Possible) you can add this option in PO. That wo

[2018-08-29 05:31] usmanalikhan93 commented on #400
Hi @JessicaSOS

Please find developer feedback:-

"Trade in items only synced when they are in stock or when they are sold. after sale it doesn't synced with WC. as i said earlier there was a bug when trade in item sold on repairdesk it doesn't update it on WC which is fixed last month. our system is unable to synced items which were sold on repairdesk before this fix go live. so she need to manua

[2018-08-29 05:32] usmanalikhan93 commented on #428
Hi @Cumbr1at3ch

Usman here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2018-08-29 05:46] #395 closed

[2018-08-29 06:46] usmanalikhan93 commented on #430
Hey @bharaaus ,

Usman ali here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2018-08-29 13:20] JessicaSOS commented on #400
Yes I know. I erased everything and did manual setup. I am waiting for a customer to test.

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579> 418 999.1579 |  <tel:4506771579> 450 677.1579 |  <tel:18559991579> 1 855 999.1579
 <mailto:jessica@sosphone.ca> jessica@sosphone.ca
 <https://sosphone.ca/?utm_source=signature&utm_medium=urlsite&utm_content=sosphone.ca&utm_campaign=outils> sospho

[2018-08-29 13:31] JessicaSOS commented on #397
As I said, it's not all lead creation. Look at the name of Limoilou's leads on the attachment. They were not transferred ... they were created to limoilou ...
<img width="949" alt="lead" src="https://user-images.githubusercontent.com/40500094/44790848-43f9d980-ab6e-11e8-9415-d3c7b1e07500.png">

[2018-08-29 13:35] JessicaSOS commented on #410
Hello,

Thank you for this follow-up. How to visualized all WooCommerce invoice between one date and another?

Have a good day

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579> 418 999.1579 |  <tel:4506771579> 450 677.1579 |  <tel:18559991579> 1 855 999.1579
 <mailto:jessica@sosphone.ca> jessica@sosphone.ca
 <https://sosphone.ca/?utm_source=signature&utm_medium=urlsite&utm_content=sos

[2018-08-30 07:03] usmanalikhan93 commented on #393
Hi @benjamingartner

Since I haven't heard back from you, Please find developer's feedback:-

"there must be flow issue he hit on sync button without hitting save button after mapping categories. can you ask him if those items are still syncing which are unchecked?"
If yes, then please share screenshot of trigger tab of that specific product.

[2018-08-30 08:09] usmanalikhan93 commented on #428
Hi @Cumbr1at3ch

Please contact our customer support and provide RD credentials, and do tell them the issues you are facing so we can fix them.

Thanks
Usman Ali.

[2018-08-30 09:42] itzcomputers opened #431 "Sorting in Customer Details"
I have brought this up before, but nothing seems to have been done about it.

So you can sort jobs on a customers detail page possibly by date or ticket ID, problem is there is no order to it. So when im trying to find the customers latest job and sort by date or ticket ID there seems to be no rhyme or reason to its results. This can be verified on any of my regular customers. Only one of many iss

[2018-09-03 04:42] Uzair-RepairDesk commented on #431
Hey Michael @itzcomputers
We already placed your request in our Roadmap earlier when you requested it.
#349
Good News is that we have prioritized it to do it in this week. I will update you once its done. Thanks

[2018-09-03 05:30] Uzair-RepairDesk commented on #426
Hey @JessicaSOS
I will ask Ali to get in touch with you on this. Thanks

[2018-09-03 05:42] Uzair-RepairDesk commented on #419
Hey @JessicaSOS
I really appreciate that you took the time to share your idea.
I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work during 3rd Quarter. We can either add it in our future roadmap. Thank you for

[2018-09-03 05:48] Uzair-RepairDesk commented on #413
Hey @JessicaSOS
I really appreciate that you took the time to share your idea.
I can certainly see how suggested improvement would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work during 3rd Quarter. We can either add it in our future roadmap. Thank you for y

[2018-09-03 05:48] Uzair-RepairDesk commented on #416
Hey @JessicaSOS
We are working on "Dispatch Module" that will allow you to view all "Leads & Tickets" on Calendar.
I will ask the team if we can give you access to test it. Thanks

[2018-09-03 05:49] Uzair-RepairDesk commented on #421
Hey @JessicaSOS
I really appreciate that you took the time to share your idea.
I can certainly see how suggested improvement would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work during 3rd Quarter. We can add it in our future roadmap. Thank you for your und

[2018-09-03 07:26] usmanalikhan93 commented on #271
@kristan79

Hi again - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Usman Ali

[2018-09-03 07:26] #271 closed

[2018-09-03 10:49] usmanalikhan93 commented on #409
Hi @JessicaSOS

[2018-09-03 11:02] usmanalikhan93 commented on #409
Hi @JessicaSOS

We are improving our Employee Commission Module. So all your issues related to Commission will be cover in this improvement. I will let you know once the new module is available for beta testing.

Thanks
Usman Ali.

[2018-09-03 11:06] usmanalikhan93 commented on #424
Hey @yossigrosskopf ,

Usman Ali here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2018-09-03 11:16] usmanalikhan93 commented on #372
Hi @quangc

We are improving this module, See the screenshot
![572](https://user-images.githubusercontent.com/39614480/44983940-7e131300-af94-11e8-8edf-3a025b3bd481.PNG)
I will let you know once the new module is available for beta testing. Your patience would be highly appreciated.
Thanks!
Usman Ali.

[2018-09-03 12:51] usmanalikhan93 commented on #424
Hi @yossigrosskopf

Can you provide more information on this ?

[2018-09-03 13:03] yossigrosskopf commented on #424
When the ticket status type is changed to closed there indicates the date and time in the System messages but when it comes to bulk billing for business customers there should be a "Ticket Closed Date" on every single ticket and at least in the CSV export.

[2018-09-04 05:54] usmanalikhan93 commented on #393
Hi again @benjamingartner   - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Usman Ali

[2018-09-04 05:54] #393 closed

[2018-09-04 07:58] Uzair-RepairDesk commented on #411
Hey @JessicaSOS
I really appreciate that you took the time to share your idea.

I can certainly see how suggested improvement would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work during the 3rd Quarter.

And I hope that if there’s anything else I can do for

[2018-09-04 08:01] Uzair-RepairDesk commented on #424
@usmanalikhan93
Currently, it's not possible to view "Ticket Closed" date when you export tickets data. However, we can add this request to our roadmap.

Hey @yossigrosskopf
I really appreciate that you took the time to share it with us.

I can certainly see how suggested improvement would be useful. With a small team and a big roadmap, we have to pick new requests based on the value they’ll add t

[2018-09-04 08:04] Uzair-RepairDesk commented on #415
@usmanalikhan93
Can you review this?

[2018-09-04 17:44] JessicaSOS commented on #411
Is it possible to do it in a second quarter?

Going to check the location in the POS when we are in the ticket slowed down our work and since we have a very large inventory, we are often looking for it.

[2018-09-04 17:46] JessicaSOS commented on #409
It should be around when? because I have several problems with few commissions reports...

[2018-09-04 17:48] JessicaSOS commented on #421
In your roadmap of which quarter?

[2018-09-04 17:50] JessicaSOS commented on #416
I know but when will it be? I had been told for a few days, but it's been weeks / months ...

[2018-09-04 17:53] JessicaSOS commented on #413
Hello,
I see this text answer often;). I understand that you are overwhelmed, but I am waiting for several changes, improvements and bug for several months, even, for over a year. Can we set a date, because several people ask me this question and I can not inform them.
tnx

[2018-09-04 17:55] JessicaSOS commented on #426
ok, i await him

[2018-09-04 22:47] JessicaSOS commented on #400
Oh my god, it seems to be settled! I have tests with some items and it works! Thank you ! However, it is important to note that once the item is online, only a sales transaction will allow the item to withdraw from our website. If we change the status manually for "sold", "scrapped for parts", or any other custom or default status, the item will stay online.

[2018-09-05 04:46] usmanalikhan93 commented on #409
@JessicaSOS

Most probably it will be live in two weeks. I will inform you once this module will be available on beta testing.

Thanks.
Usman Ali

[2018-09-05 04:46] usmanalikhan93 commented on #400
@JessicaSOS

Acknowledged.

[2018-09-05 05:27] usmanalikhan93 commented on #420
Hi @JessicaSOS

Can you provide your RD account credentials to Ali Hassan ? I need to review your bugs.

[2018-09-05 13:30] usmanalikhan93 commented on #430
Hi @bharaaus

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali.

[2018-09-05 14:48] JessicaSOS opened #432 "Inventory quantity error"
Hello,
Look at 1 example as an attachment (item #2342). The last inventory adjustment mentions that we went from 1 to 5. Why do we only have 3 of them in the inventory quantity then? Physically we have 5 and not 3. We rely on repairdesk for our inventory, but the quantities do not work. It is not suposed happened!
<img width="933" alt="item 2342" src="https://user-images.githubusercontent.com/4050

[2018-09-05 17:17] yossigrosskopf commented on #424
The data is already there in the logs, the first step that needs to be taken is adding it into the CSV ticket export.
How do you bill business customers with multiple tickets per month without that information, it is extremely vital information, you can't create an invoice for each ticket as there will be hundreds of invoices per client and We can't even create an export to use in a different syst

[2018-09-05 19:34] JessicaSOS opened #433 "Woo commerce Tradein item #10370"
Hello,
I mentioned to you that the problem woo commerce was settled and it is the case. It is settled when the item has been put in an invoice. However, here we have a case where a device has been transferred to another branch for sale. It still appears on our website even if it sells because no sales transaction in Limoilou has been made. I did not think it would be a problem, but yes. As soon as

[2018-09-06 00:34] JessicaSOS opened #434 "Sale price in trade in ticket"
All tradein tickets we create are now with the sale price. This was not the case last week. I do not know what you touched, but it should be returned to normal please. It is not supposed to have any selling price in a tradein ticket.

_French:
Tous les billets tradein que nous créons sont maintenant avec le prix de vente. Ce n'était pas le cas la semaine dernière. Je ne sais pas a quoi vous avez t

[2018-09-06 05:26] Uzair-RepairDesk commented on #431
Hey Michael @itzcomputers ,
Hope you are well. This is to inform you that we have made improvements based on your request. On customer details page, tickets and invoices listing data will display in order now. You can also sort tickets and invoices listing with respect to "ID" and "Date".
Note: You need to click on "Date" twice if you want to sort tickets/invoices from "Date" field because system

[2018-09-06 05:26] #431 closed

[2018-09-06 05:27] Uzair-RepairDesk commented on #349
We have made improvements. On customer details page, tickets and invoices listing data will display in order now. You can also sort tickets and invoices listing with respect to "ID" and "Date".
Note: You need to click on "Date" twice if you want to sort tickets/invoices from "Date" field because system clears the ID sorting first and then sort the listing with dates.

[2018-09-06 05:27] #349 closed

[2018-09-06 14:46] JessicaSOS opened #435 "Registrer problem in transaction log"
For several weeks, it is impossible to search by a checkout in the search filter of the transaction log. It does not matter if we add other search filters, no results come out.
<img width="936" alt="registrer" src="https://user-images.githubusercontent.com/40500094/45165098-075b5d00-b1c2-11e8-8e55-3bdfa88a9b45.png">

_--
French:
Depuis plusieurs semaines, il est impossible de rechercher par une ca

[2018-09-06 14:47] JessicaSOS commented on #434
tnx

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579> 418 999.1579 |  <tel:4506771579> 450 677.1579 |  <tel:18559991579> 1 855 999.1579
 <mailto:jessica@sosphone.ca> jessica@sosphone.ca
 <https://sosphone.ca/?utm_source=signature&utm_medium=urlsite&utm_content=sosphone.ca&utm_campaign=outils> sosphone.ca
5375, boul. Guillaume Couture, Lévis, G6V 4Z3
2750, 1re Avenue, Limoilou, G1L 3N8

[2018-09-06 14:49] JessicaSOS commented on #420
You have Ali?

[2018-09-06 14:50] JessicaSOS commented on #409
Ok tnx

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579> 418 999.1579 |  <tel:4506771579> 450 677.1579 |  <tel:18559991579> 1 855 999.1579
 <mailto:jessica@sosphone.ca> jessica@sosphone.ca
 <https://sosphone.ca/?utm_source=signature&utm_medium=urlsite&utm_content=sosphone.ca&utm_campaign=outils> sosphone.ca
5375, boul. Guillaume Couture, Lévis, G6V 4Z3
2750, 1re Avenue, Limoilou, G1L

[2018-09-07 04:35] usmanalikhan93 commented on #420
@JessicaSOS

Thanks. He provided me the details.

[2018-09-07 06:45] usmanalikhan93 commented on #435
Hi @JessicaSOS

I have checked your concern. Everything is working fine. You have select Store and its Register/Checkout then search. Please check on your end with these steps.
See Screenshot for reference
![transaction_log](https://user-images.githubusercontent.com/39614480/45202765-748af300-b293-11e8-944b-d9c5dd96fe22.png)

[2018-09-07 07:09] usmanalikhan93 commented on #406
@JessicaSOS

We are already working on this issue, trying to reproduce on our end. Once we find a solution for this, I will update you.

Thanks.
Usman Ali.

[2018-09-07 07:16] usmanalikhan93 commented on #401
Hi @JessicaSOS

A lot of our customers recently requested that they wanted an ability to track if an email has been sent, delivered or opened by a customer which we rolled out recently. Now you can check whether the email is sent or not.

See screenshot for reference
![568](https://user-images.githubusercontent.com/39614480/45204143-c766a980-b297-11e8-91b8-7a711c8a89b0.png)

[2018-09-07 07:17] usmanalikhan93 commented on #396
Hi @pcrevamp

A lot of our customers recently requested that they wanted an ability to track if an email has been sent, delivered or opened by a customer which we rolled out recently. Now you can check whether the email is sent or not.

[2018-09-07 09:55] #430 closed

[2018-09-07 14:38] JessicaSOS commented on #401
yes, but we had a problem with emails sent between employees. We unfortunately can not see this detals with the mails between employees. Only mail with customer.

[2018-09-07 14:38] JessicaSOS commented on #406
Ok tnx

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579> 418 999.1579 |  <tel:4506771579> 450 677.1579 |  <tel:18559991579> 1 855 999.1579
 <mailto:jessica@sosphone.ca> jessica@sosphone.ca
 <https://sosphone.ca/?utm_source=signature&utm_medium=urlsite&utm_content=sosphone.ca&utm_campaign=outils> sosphone.ca
5375, boul. Guillaume Couture, Lévis, G6V 4Z3
2750, 1re Avenue, Limoilou, G1L

[2018-09-07 14:43] JessicaSOS commented on #435
ok so if I understand correctly, we must absolutely select the store associated with the case for it to work. It was the step I did not do.
Thank you !

[2018-09-07 14:43] #435 closed

[2018-09-10 02:45] ibroken-aus opened #436 "iPad POS App - Thermal Print Function Does Not Work Correct..."
The thermal printer does not remain connected and does not cut after printing a receipt. In my opinion this app should use Printnode rather than the direct connection from the iPad to the printer as an iPad does not have drivers for direct printing.

[2018-09-10 04:29] usmanalikhan93 commented on #435
Yes indeed @JessicaSOS  :)

[2018-09-10 06:29] #396 closed

[2018-09-11 13:19] JessicaSOS opened #437 "Woocomerce failed transaction"
We have somebody who has tried to buy devices online. The transaction did not work, yet 2 of the 3 devices in the list were removed from our inventory. So we still have a problem with woo commerce integration. Thank you for correcting quickly!
<img width="951" alt="woocomerce failed transaction" src="https://user-images.githubusercontent.com/40500094/45362755-ae197200-b5a3-11e8-9dca-585d2fe8464e.p

[2018-09-11 13:58] JessicaSOS opened #438 "Double invoice"
I do not know how it is possible that an invoice is created in duplicate. With the same invoice number, same customer, same date, all are the same.
![double invoice in transaction log](https://user-images.githubusercontent.com/40500094/45364768-fb4c1280-b5a8-11e8-928d-bb8235d4335b.png)
![double invoice in customer view](https://user-images.githubusercontent.com/40500094/45364777-ff783000-b5a8-11e8

[2018-09-11 18:41] JessicaSOS opened #439 "Lead expired"
Leads are expired on their own. I would like to know after how long?

Moreover, we can see in the history of the leads, that it is certain employee who made the modifications of the leads by changing it from "in progress" to "expired". However, it is not these employees who made the change. perhaps you should replace the user who makes the changes for the real user, in this case if, repairdesk. Se

[2018-09-11 21:04] Repair-Desk commented on #436
@ibroken-aus Thanks for your feedback. If you've configured PrintNode whenever you create a repair ticket or an invoice using RepairDesk iPAD POS Register it will automatically print a thermal receipt.

Moreover we're also introducing direct print support for the iPAD POS Register through **Star TSP 100** Lan printer early next week. I've also attached list of features that will be released this m

[2018-09-12 04:05] ibroken-aus commented on #436
Printnode config only provides the following relevant options for automatic receipts.

1) Thermal Receipt - A docket receipt printed on thermal paper with customer & item information.

This is fine for providing the customer without a reference of the repair when a device is checked in for repair.

2) Invoice - Invoice printed on A4 paper with customer & item information.

Useless in terms of ther

[2018-09-12 06:12] usmanalikhan93 commented on #422
Hi @JessicaSOS

Please find developer feedback:-
"This trigger works for Default Inventory Label, if user customizes his/her label and add item_price tag it will definitely show price on label. If he/she wants to hide it, then he should not add this tag."

I hope it will be helpful.

Usman Ali khan.

[2018-09-12 13:43] bharaaus opened #440 "Transaction log/ End Shift has issue"
Explained in this video.

https://drive.google.com/file/d/1wH5wHaS2mQDon4ruOF5276lHS2UgTxb-/view

two registers got combined together for no reason.

It create big confusion for staff at the end of the day.

[2018-09-12 14:10] usmanalikhan93 commented on #434
Hi @JessicaSOS

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali.

[2018-09-12 19:47] #406 closed

[2018-09-12 19:49] Repair-Desk commented on #422
Hi again Jessica - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Usman Butt

[2018-09-12 19:49] #422 closed

[2018-09-12 19:52] Repair-Desk commented on #401
Hey @JessicaSOS

Sure thing! Let me take a look to see if we're unable to view tracking option against emails that are sent b/w emails using private comments and I'll circle back to you.

Regards,
**Usman Butt**

[2018-09-12 19:59] Repair-Desk commented on #420
@usmanalikhan93 Can you share an update on this?

[2018-09-12 20:00] Repair-Desk commented on #397
@usmanalikhan93 An update would be great :)

[2018-09-12 20:05] Repair-Desk commented on #383
**Hey @quangc**

Sorry for the delay.

We're re-writing our reports module and your feedback will surely be accommodated.

Also want to share a quick snapshot of Multi-Store sales report that will be rolled out hopefully next week and we will use similar layout for upcoming reports.

![multi-store-sales-report-updated 1](https://user-images.githubusercontent.com/21986026/45450242-1033bd80-b6f1-11e

[2018-09-12 20:05] #383 closed

[2018-09-12 20:06] #363 closed

[2018-09-12 20:11] Repair-Desk commented on #361
Hello @phonefixdfw,

Just wanted to let you know that I went ahead and flagged this with my product team so they know this is something you'd like to see. Definitely makes sense if you import a commission on head office it should be updated on other locations.

I'll make sure your voice is heard here.

**Usman Butt**

[2018-09-12 20:14] Repair-Desk commented on #440
Hey Bharat, Usman here 👋 Sure thing! Let us take a look to see if we're getting the same issue as you and one of our teammate will circle back to you.

[2018-09-12 20:18] Repair-Desk commented on #438
Hello @JessicaSOS,

Sorry for the inconvenience.

Can you please confirm how do you currently create an invoice. Through Point of sale, manage ticket or manage invoice. That might help us track the issue

[2018-09-12 20:29] Repair-Desk commented on #428
@Cumbr1at3ch Definitely strange,

One of our support ninja will be in touch with you tomorrow to help you with this!

Usman Butt

[2018-09-12 20:32] Repair-Desk commented on #433
**Hello @JessicaSOS,**

Thanks for bringing this up!

I'll go ahead and flag this with my product team so they know this is something you'd like to see. Definitely makes sense how that will improve your workflow. I'll make sure your voice is heard here

Feel free to reach out next time you have any other questions or feedback for us - we always appreciate it!

[2018-09-12 22:53] #324 closed

[2018-09-13 05:10] Repair-Desk commented on #401
Hey @Jessica

I have just heard back from the development team that they have already added the ability to track if an email to an employee was sent or not.

I would recommend to give it another whirl and let us know if this works for you or not.

Thanks,
Usman Butt

[2018-09-13 05:25] BharatPRC opened #441 "Need Item Description Printed Out on Receipt"
Currently, Item Description is only get printed out on A4 Invoice, But on Thermal Invoice, its not showing.
Can you plz enable this option. ? ( Staff saying it used to print out before, but i dont remember )

The main reason for this is for SPECIAL TERMS & CONDITION.

When we sell phones, it has special terms, and we mention them in Description.
So when we print out invoice, it shows that to custo

[2018-09-13 05:30] bharaaus opened #442 "Need Option of NOT TO print receipt automatically"
Most of the times, customer doesn't need invoice or receipt. or we dont want to waste paper.
But every transaction prints out the Cloud Printing.

Is it possible to add option to NOT TO SEND CLOUD PRINT COMMAND TO SERVER ?

![ice_screenshot_20180913-152803](https://user-images.githubusercontent.com/34261339/45468806-f5e9f600-b769-11e8-8bc3-5872900dfd5a.png)

[2018-09-13 05:44] usmanalikhan93 commented on #439
Hi @JessicaSOS

Usman Ali here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2018-09-13 05:49] usmanalikhan93 commented on #432
Hi @JessicaSOS

I hope you are doing well. We are reviewing your issue internally but unable to reproduce this issue. If I get something on this, I will let you know ASAP.

Thanks
Usman Ali.

[2018-09-13 05:51] usmanalikhan93 commented on #329
Hi @alexdechant

I hope you are doing well. Can you check again this ? I hope it's fixed now. If you have any question do let us know.

Usman Ali.

[2018-09-13 05:51] #329 closed

[2018-09-13 05:54] usmanalikhan93 commented on #398
Hi @JessicaSOS

I have noted your concern. Let me discuss this with my product team. Then I will circle back to you.

Usman Ali.

[2018-09-13 05:56] usmanalikhan93 commented on #405
Hi @quangc

Can you contact our support ninja to provide him more details on this?

[2018-09-13 05:58] usmanalikhan93 commented on #407
Hi @JessicaSOS

Sorry for the inconvenience.
We are reviewing this issue internally. Once I get something on this, I will circle back to you.

Usman Ali.

[2018-09-13 05:58] usmanalikhan93 commented on #408
Hi @JessicaSOS

Just an update we have fixed reported issue and it’s available for beta testing on sandbox server. We are hoping to go live with this either tomorrow or Monday hopefully.

[2018-09-13 06:00] usmanalikhan93 commented on #412
Hi @JessicaSOS

Usman Ali here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2018-09-13 06:00] bharaaus opened #443 "REPAIR AND COLLECTED option is Gone from CHECKOUT Window"
![ice_screenshot_20180913-155837](https://user-images.githubusercontent.com/34261339/45469709-f71d2200-b76d-11e8-9087-e40388b264d0.png)

We noticed that after checkout, repair ticket status remains the same.
Then we noticed , there is no option of " REPAIR AND COLLECTED " option on checkout window anymore.

Have a look guys.

[2018-09-13 06:00] usmanalikhan93 commented on #414
Hi @JessicaSOS

Usman Ali here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2018-09-13 06:00] usmanalikhan93 commented on #415
Sure @Uzair-RepairDesk

[2018-09-13 06:01] usmanalikhan93 commented on #417
Hi @JessicaSOS

Usman Ali here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2018-09-13 06:02] usmanalikhan93 commented on #418
Hi @JessicaSOS

Sorry for the inconvenience.
We are reviewing this issue internally. Once I get something on this, I will circle back to you.

Usman Ali.

[2018-09-13 06:02] usmanalikhan93 commented on #420
Sure @Repair-Desk

[2018-09-13 06:42] bharaaus opened #444 "New Manufacture or Model Created is not showing up in POS Window"
Any new model or new manufacture we create  outside POS Window is not showing up in POS Window.

I believe main reason of this , because when we create new, it doesn't have option to choose Category.

So if you guys add option to select Category over there, it should solve the issue.

Am I right ?

![ice_screenshot_20180913-163938](https://user-images.githubusercontent.com/34261339/45471290-f38c99

[2018-09-13 06:50] usmanalikhan93 commented on #442
@Uzair-RepairDesk  can you check this?

[2018-09-13 07:16] usmanalikhan93 commented on #443
Hi @bharaaus

Usman Ali here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2018-09-13 07:16] usmanalikhan93 commented on #444
Hi @bharaaus

Usman Ali here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2018-09-13 07:28] usmanalikhan93 commented on #443
Hi @bharaaus

Your reported issue has been assigned to development team and I hopefully it will be fixed today or tomorrow.
Your patience would be highly appreciated.
Thanks!
Usman Ali

[2018-09-13 11:36] usmanalikhan93 commented on #443
Hi @bharaaus

![629](https://user-images.githubusercontent.com/39614480/45486058-369a3d00-b773-11e8-9a5f-ffa7d8b1e5b2.png)

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali.

[2018-09-13 11:37] #443 closed

[2018-09-13 11:45] bharaaus commented on #443
Thanks for quick fix.
I'll test it by tomorrow.

[2018-09-13 12:07] usmanalikhan93 commented on #443
Welcome @bharaaus :)

[2018-09-14 02:58] ibroken-aus commented on #436
Possibly, i'll check the new release once it's available.

[2018-09-14 05:21] usmanalikhan93 commented on #436
ok @ibroken-aus

[2018-09-14 10:37] usmanalikhan93 commented on #341
Hi @quangc

We have checked your concern but we are unable to reproduce it. Can you check is it now working fine or not?

[2018-09-14 13:03] quangc commented on #341
How can u reproduce it after 2 months?

You will need to log into our system and look back on that time frame and see the system logs to find out what happened.

Best Regards,
Quang Cao.
General Manager.
+ Repair Centre Frankston
+ Repair Centre Springvale
+ Repair Partners
P: 1300 89 82 99
A : Shop 6 Shannon Street Mall, Frankston, Vic, 3199.

On 14 Sep 2018, at 8:37 pm, Usman Ali Khan <notificat

[2018-09-14 13:06] usmanalikhan93 commented on #341
@quangc

We have checked this in that time frame. Let us check once again this on Monday.

[2018-09-17 04:41] Uzair-RepairDesk commented on #441
Hey @bharaaus
Thank you for highlighting this. However, we never had this option or "Description" tag under "Thermal Receipt" to display for each line item. The reason is "Thermal Receipt" is short in size.
I really appreciate that you took the time to share it with us.

We have a plan to improve "Template Editor" functionality in the next quarter so we can accommodate your above feedback in the i

[2018-09-17 05:08] usmanalikhan93 commented on #440
Hi @bharaaus

I have checked your concern on my end. It looks like everything is working fine. Can you help me to reproduce this issue ? When it comes up or what steps have you perform ?

[2018-09-17 07:10] usmanalikhan93 commented on #444
Hi @bharaaus

You have to enable it "Show on POS" trigger. Go to settings > Module Configuration > View All Manufacturer > Enable that Manufacturer "Show on POS".
I hope it will be helpful.

Usman Ali.

[2018-09-17 07:14] usmanalikhan93 commented on #397
Let me check this again.

[2018-09-17 20:21] ThinkDigitalRepair opened #445 "Item Search in POS Sort by Relevance [Enhancement]"
![2018-09-17 13_17_57-window](https://user-images.githubusercontent.com/23037821/45648058-4fa93380-ba7c-11e8-892f-909d70a4b7b5.jpg)

When searching for an item, I feel that items that contain the exact text should come up first in the list. Items should be searched and sorted by name first, then SKU or item number, then description.

[2018-09-18 04:33] usmanalikhan93 commented on #397
Hi @JessicaSOS

I have checked your concern but on my end, it seems everything is working fine. Can you check again and let us know if you are still facing this issue or not ?

Thanks
Usman Ali.

[2018-09-18 04:34] #401 closed

[2018-09-18 07:37] Uzair-RepairDesk commented on #445
Hey @ThinkDigitalRepair
Thank you for highlighting this.

@usmanalikhan93
Can you check it at your end? I believe it should certainly bring it on top of the results.

[2018-09-18 09:41] #372 closed

[2018-09-18 09:44] usmanalikhan93 commented on #420
Hi @JessicaSOS

Your reported issue has been assigned to development team and I hopefully it will be fixed early next week.
Your patience would be highly appreciated.

Thanks!
Usman Ali

[2018-09-18 13:20] JessicaSOS commented on #420
ok thank you, I'm waiting for your news.

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579> 418 999.1579 |  <tel:4506771579> 450 677.1579 |  <tel:18559991579> 1 855 999.1579
 <mailto:jessica@sosphone.ca> jessica@sosphone.ca
 <https://sosphone.ca/?utm_source=signature&utm_medium=urlsite&utm_content=sosphone.ca&utm_campaign=outils> sosphone.ca
5375, boul. Guillaume Couture, Lévis, G6V 4Z

[2018-09-18 13:27] JessicaSOS commented on #397
We are still faced with this problem. It occurs mainly when a Lead is assigned to an employee. He then transfers to another branch. These are Leads that are created via "manage lead" and not via our website.

[2018-09-18 13:34] usmanalikhan93 commented on #397
@JessicaSOS

Ok thanks. I will check this now with this scenario. And will update you accordingly.

[2018-09-18 13:34] usmanalikhan93 commented on #401
@JessicaSOS

Let me check again.

[2018-09-18 13:41] usmanalikhan93 commented on #401
@JessicaSOS

Sorry for the inconvenience. I think something went wrong. It will be fixed tomorrow on urgent basis. I will update you once it will be live.

[2018-09-18 13:51] usmanalikhan93 commented on #401
@JessicaSOS

See screenshot for reference. I am sending email Employee to Employee.
![email](https://user-images.githubusercontent.com/39614480/45692263-c7a65500-bb73-11e8-8037-b4099abe3ecc.png)

Can you tell me are you selecting email in via box?

[2018-09-18 13:54] JessicaSOS commented on #408
Excellent ! let me know when it’s gonna be live

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579> 418 999.1579 |  <tel:4506771579> 450 677.1579 |  <tel:18559991579> 1 855 999.1579
 <mailto:jessica@sosphone.ca> jessica@sosphone.ca
 <https://sosphone.ca/?utm_source=signature&utm_medium=urlsite&utm_content=sosphone.ca&utm_campaign=outils> sosphone.ca
5375, boul. Guillaume Couture, Lévis,

[2018-09-18 13:57] JessicaSOS commented on #433
Soon I hope ..

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579> 418 999.1579 |  <tel:4506771579> 450 677.1579 |  <tel:18559991579> 1 855 999.1579
 <mailto:jessica@sosphone.ca> jessica@sosphone.ca
 <https://sosphone.ca/?utm_source=signature&utm_medium=urlsite&utm_content=sosphone.ca&utm_campaign=outils> sosphone.ca
5375, boul. Guillaume Couture, Lévis, G6V 4Z3
2750, 1re Avenue, Limoil

[2018-09-18 14:08] JessicaSOS commented on #437
Hello,

See my answers in red below.

Have a good day

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579> 418 999.1579 |  <tel:4506771579> 450 677.1579 |  <tel:18559991579> 1 855 999.1579
 <mailto:jessica@sosphone.ca> jessica@sosphone.ca
 <https://sosphone.ca/?utm_source=signature&utm_medium=urlsite&utm_content=sosphone.ca&utm_campaign=outils> sosphone.ca
5375, boul. Guillaume Couture,

[2018-09-18 14:12] JessicaSOS commented on #438
My employees use the POS for invoice creation or to apply a payment on an existing invoice.

[2018-09-18 14:27] JessicaSOS commented on #422
Please reopen this task.
It was not like that before. You continually change things that work well. "Hide Price on the Inventory Tag", his says what he says. There are inventory tags (such as accessories for sale at the front of the store) that must have a price and others (such as parts in the repair shop) that must not have a price. Thank you for making this option work correctly.

[2018-09-18 14:29] JessicaSOS commented on #434
Can you test before mentioning that it is corrected. It is not the case at all. Thank you for reopening this task.

[2018-09-18 14:31] JessicaSOS commented on #406
This is still not fixed, please do not close this task.

[2018-09-18 14:57] JessicaSOS commented on #434
Not fixed, please test it

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579> 418 999.1579 |  <tel:4506771579> 450 677.1579 |  <tel:18559991579> 1 855 999.1579
 <mailto:jessica@sosphone.ca> jessica@sosphone.ca
 <https://sosphone.ca/?utm_source=signature&utm_medium=urlsite&utm_content=sosphone.ca&utm_campaign=outils> sosphone.ca
5375, boul. Guillaume Couture, Lévis, G6V 4Z3
2750, 1re Ave

[2018-09-18 16:01] JessicaSOS commented on #401
actually it's fixed. Sorry for the confusuion. I did not know that we had to refresh on the page to visualize.
Have a good day !

[2018-09-18 17:51] ireparo opened #446 "Translate ADD AN OTHER DEVICE"
Hi, i cant translate ADD AN OTHER DEVICE in the Appointment Calendar widget.

Thanks

[2018-09-19 02:31] ThinkDigitalRepair commented on #445
No problem

[2018-09-19 04:29] usmanalikhan93 commented on #434
Hi @JessicaSOS

I have checked again but it seems to work fine. Can you explain this through screenshot ?

[2018-09-19 05:40] usmanalikhan93 commented on #422
Hi @JessicaSOS

Sorry for the inconvenience. I have noted your concern. Will update once get more info on this.

[2018-09-19 06:06] usmanalikhan93 commented on #438
OK thanks @JessicaSOS  for information.

[2018-09-19 06:07] usmanalikhan93 commented on #406
Hi @JessicaSOS

we have your another task which is I think same as this
https://github.com/Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS/issues/438
That's why we have just closed one issue.

[2018-09-19 06:08] Uzair-RepairDesk commented on #378
Hey @benjamingartner
We added a feature to search for items from a specific condition. You can find "Condition" search filter under "Manage Accessories & Parts". Check screenshot attached.
Please review at your end.
![condition search](https://user-images.githubusercontent.com/22955861/45734040-624a7680-bbfc-11e8-8fc8-f772d14644c8.png)

[2018-09-19 06:08] #378 closed

[2018-09-19 06:10] Uzair-RepairDesk commented on #388
We added this before on your request and issue of "In Stock" is also fixed

[2018-09-19 06:10] #388 closed

[2018-09-19 07:34] usmanalikhan93 commented on #408
Hi @JessicaSOS

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have question.

Thanks!
Usman Ali.

[2018-09-19 08:33] Uzair-RepairDesk commented on #421
Hopefully, we will add it in the next quarter. Thank you for your patience

[2018-09-19 13:18] JessicaSOS opened #447 "Translation !"
You broke the translation. It was not even like a little earlier in the morning. Now, all the texts do not want to say anything anymore and all the employees are lost.

![translation](https://user-images.githubusercontent.com/40500094/45755593-dc72ff00-bbec-11e8-980b-791f4073c856.jpg)

_French:
Vous avez briser la traduction. Ce n'était même pas comme ca un peu plus tôt se matin. Maintenant, tous

[2018-09-19 13:31] JessicaSOS commented on #447
fixed !

[2018-09-19 13:31] #447 closed

[2018-09-19 13:38] JessicaSOS commented on #408
Fixed ! 👍

[2018-09-19 13:38] #408 closed

[2018-09-19 13:46] JessicaSOS commented on #434
I made a video but I am not able to send it via this platform. please ask Ali or add any repair task in a trade in ticket and you will see!

[2018-09-22 06:18] bharaaus commented on #443
It Came Back Again.
Whats going on ?

[2018-09-22 18:26] SamHext opened #448 "option for printnode to print thermal receipt ONLY when invoice is paid"
I don't give thermal reciepts to customers until invoice is paid so it doesn't help me any that thermal reciepts only print when ticket is created.  can you please either add the option for printnode to print the reciept once invoice is paid or add the option to manually print receipt through ipad app via printnode

[2018-09-23 11:31] ireparo commented on #446
Yes
Edgar@ireparo.es
iReparo2017

Enviado desde mi iPhone

[2018-09-24 04:31] usmanalikhan93 commented on #446
Hi @ireparo

Please delete your credentials from here. As it's public. Do change your password once you get this message.

[2018-09-24 05:05] #436 closed

[2018-09-24 05:44] usmanalikhan93 commented on #446
Your credentials said invalid email.
@ireparo

[2018-09-24 05:45] usmanalikhan93 commented on #434
ok @JessicaSOS

[2018-09-24 06:05] usmanalikhan93 commented on #434
Hi @JessicaSOS

I have seen your video, it looks like you are confusing in task price and trade in price. When you add a task in trade in ticket, it displays the task price.
If you still find any confusion do contact Ali Hassan. Or you can explain me the scenario.

Thanks
Usman Ali

[2018-09-24 06:10] usmanalikhan93 commented on #440
Hi @bharaaus

I think it may be some glitch. Now it seems everything is working fine. If it happens again you can reopen this task anytime.

Usman Ali.

[2018-09-24 06:10] #440 closed

[2018-09-24 06:14] usmanalikhan93 commented on #437
@JessicaSOS  Can you reply again ? I think your message is missing.

[2018-09-24 06:16] usmanalikhan93 commented on #428
Hi again @Cumbr1at3ch - Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2018-09-24 06:16] #428 closed

[2018-09-24 07:29] usmanalikhan93 commented on #425
Hi @rlltd

Can you share your login details with our support team? I have to investigate this internally.

[2018-09-24 08:33] Uzair-RepairDesk commented on #448
@usmanalikhan93
Can you please review it first on both web and iPAD?

[2018-09-24 09:07] rlltd commented on #441
Hi,
I think this is a great idea. We have special terms on things like batteries (how to treat them and what voids the warranty), and as the OP mentioned, a phone with one feature not working, like Touch ID, should be printed on the thermal receipt to avoid any confusion or conflict with a customer. We only use thermal receipts in my shops and I don't care if a thermal receipt is 1 metre long, as

[2018-09-24 09:08] rlltd commented on #425
Hi, I provided these to support.

[2018-09-24 09:42] usmanalikhan93 commented on #425
Got it. Thanks

[2018-09-24 10:18] bharaaus commented on #441
Yes rlltd,
I have noticed that as well.
When we sell 5 items or more in one transaction then we can not read anything because text shrinks too much.
And I had tried changing the receipt size to longer , then it prints good but for 1 item sale it prints a lot of blank paper which is annoying.

I hope they will bring auto adjust paper size according to text .

[2018-09-24 14:52] JessicaSOS opened #449 "Remove a Discount"
When we withdraw the discount previously added to a ticket, it stays there. We put it in and pull it out at the end of the line, but it stays at the bottom of the page. It is a problem !

_--
french:
Lorsque nous retirons le rabais préalablement ajouter a un billet, il y reste. Nous le mettons et le retirons au bout de la ligne, mais il reste dans le bas de la page. C'est un problème !_

[2018-09-25 07:38] ibroken-aus opened #450 "Automatic Serial Generation Problem"
When making GRN for a PO, the automatic serial generation does not follow on from the last serial in stock. It always starts at 1 which then requires manual adjustment.

![serial err](https://user-images.githubusercontent.com/42330383/45999646-d3949880-c0d8-11e8-8162-e49332f023a3.PNG)

[2018-09-25 07:40] ibroken-aus opened #451 "GRN Fails to save"
When creating a GRN off an existing PO, I proceed to generate serials for all the stock and then 'save' but it does nothing and simply returns me to a blank GRN. There's no GRN showing as saved anywhere in the system.

[2018-09-25 08:03] usmanalikhan93 commented on #450
Hi @ibroken-aus

Usman Ali here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2018-09-25 08:03] usmanalikhan93 commented on #451
Hi @ibroken-aus

Usman Ali here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2018-09-25 08:04] usmanalikhan93 commented on #449
Hi @JessicaSOS

Usman Ali here 👋 Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2018-09-25 21:28] Trevorshaw7 opened #452 "Variations on Products"
I have 16 outlets with repair desk and it would really help to add the following for inventory management.
I would like to request that variation be added to products.
Similar to how you do serialized inventory but allow multiple QTY of each variant.  I am not saying replace serialized just more use that as a base to add variants.  For iPhone 5 LCD I would like 1 product but have 2 variants White/

[2018-09-26 05:14] Uzair-RepairDesk commented on #452
**Hi @Trevorshaw7**
We certainly have the option to add variants of a specific item while creating serials. When you click on "Create Serials" and click on "Additional Information", the system allows you to set variants like "Colors, Size, Network, Condition or Warranty"
E.g. If you have 10 items stock available, 5 with black color at different retails and cost. 5 with white at different retails a

[2018-09-26 05:27] Trevorshaw7 commented on #452
No, I do not want the variants serialized

On Tue, Sep 25, 2018, 11:14 PM Muhammad Uzair Shah <notifications@github.com>
wrote:

[2018-09-26 05:49] usmanalikhan93 commented on #450
Hi @ibroken-aus

I have checked your concern. But it seems everything is working fine. I am attaching Screenshots for reference kindly check
![grn1](https://user-images.githubusercontent.com/39614480/46059714-e4e1b180-c179-11e8-91a1-f8993f1ff796.png)
![grn2](https://user-images.githubusercontent.com/39614480/46059715-e4e1b180-c179-11e8-973e-cb783cd966c0.png)

[2018-09-26 05:59] usmanalikhan93 commented on #451
Hi @ibroken-aus

I have verified this on my end. Please check this video, I have created same you said in above comment. And it's working fine.
Video link: https://www.screencast.com/t/0Ngpv0yCrV

[2018-09-26 06:11] bharaaus commented on #452
User request is Color Matrix option.
I want this option too. But unfortunatly Usman said its not on roadmap till 2019

[2018-09-26 06:19] Uzair-RepairDesk commented on #452
Thank you for your response @Trevorshaw7 and @bharaaus
Currently, it's not possible to add "Variants" in single items as we have the standard serialized functionality available in RepairDesk that allows you to do that. It also helps you to have clearly traced your inventory items.

With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users po

[2018-09-26 06:47] usmanalikhan93 commented on #448
Sure @Uzair-RepairDesk.

[2018-09-26 06:51] usmanalikhan93 commented on #405
Hi @quangc   - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2018-09-26 06:51] #405 closed

[2018-09-26 06:54] usmanalikhan93 commented on #444
Hi again - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2018-09-26 06:54] #444 closed

[2018-09-26 08:00] usmanalikhan93 commented on #425
Hi @rlltd

I have checked in your account. It shows everything accurate. Please see screenshots of your account
![trade in report](https://user-images.githubusercontent.com/39614480/46065665-1fece080-c18c-11e8-8bf1-522bc1643394.png)
![trade in](https://user-images.githubusercontent.com/39614480/46065666-1fece080-c18c-11e8-9d4e-d4233eaa1a23.png)

[2018-09-26 10:33] rlltd commented on #425
HI,

It still is not right.
For the period we are comparing: 1st August to 25th September.
On the report which breaks down Accessories, Repairs, Trade Ins, it shows 48 sold. That is the actual number of devices sold.
The filters on both the trade in report and trade in page show 56.

Lets check this month so far:
1st September to 25th September
On the sales report we see that 47 trade in devices h

[2018-09-26 10:36] rlltd commented on #425
Can you block out the customer names and costs on the screenshots please?

[2018-09-26 10:45] usmanalikhan93 commented on #425
@rlltd So sorry for that. I am hiding it

[2018-09-26 10:56] rlltd commented on #425
thanks!

[2018-09-26 11:05] rlltd commented on #425
Hi,

It still is not accurate.

Why is it showing 56, when the sales report show 48?

Also check for September 1st to 25th, sales report shows 47 sold, trade in report with sold filter shows 17.

I need an accurate way to keep track of this.

One report shouldn’t be different to another report.

[2018-09-26 11:07] usmanalikhan93 commented on #425
Alright @rlltd I am looking into it.

[2018-09-26 11:14] rlltd commented on #425
Sorry i didn't realise the email response was delayed.

[2018-09-26 13:58] JessicaSOS commented on #437
Question #1: Did it create an invoice on RepairDesk? If Yes, please share invoice #
My Answer: The woocommerce automatically created the invoice in Repairdesk. I erase it manually.

Question #2: •	Was the order on woocommerce store was completed successfully? If yes, please share woocommerce order # and email us your backend details for woo-commerce so we check this further
My Answer: The order in