[2016-10-20 09:01] Repair-Desk opened #1 "Feature Request - Price Check button"
I think that there should be a price check button on POS that we can look up a price easily and will also show how many are in stock or if not in stock at all. This would be for employees only. They do not need to be in inventory tab doing anything.

[2016-10-20 09:02] Repair-Desk opened #2 "Issue with tax calculation"
My biggest problem is an accountant problem and my tax accountant always tells me, that we have to fix that very quickly.

For example, at my account, the invoice number: Da-2016-06387

(Usman, you have my login details). Please check the foto. if you see the invoice, i am not sure, if the right amount is 67.50 euros or 90 Euros. Both amounts are on the invoice. the invoice ofter takes away one it

[2016-10-20 09:03] Repair-Desk opened #3 "Device/model Issue - New Product Add Via POS"
Also, there is a problem when you add an inventory item on pos it is not recording the device/model. I am going to have to redo so many entries because I don't know what device they are for

![](https://cloud.githubusercontent.com/assets/21986026/19545252/333375c0-969e-11e6-8795-a8b5a5369f42.jpg)

[2016-10-20 09:03] Repair-Desk opened #4 "Multiple Issues"
The system can be quite slow at times.
Would be great to show prices including GST instead of including
At the manage tickets page would be ideal to customize which columns are visable.
A pattern lock option would be great.
Having the option so when the device is collected it removes off the manage ticket tab. (as it is no longer in the shop)
Also being able to remove the primary statuses as most

[2016-10-20 09:04] Repair-Desk opened #5 "Supplied items not appearing on Ticket"
When the customer selects supplied items just before checkout, even though if all are selected, only two supplied items are displayed on the ticket: sim card, memory card.
Kindly see the ticket mini receipt and screenshot attached below

![](https://cloud.githubusercontent.com/assets/21986026/19548356/6dd7337e-96b7-11e6-913d-933327bb87a2.png)
[Supplied.Items.Sajid.pdf](https://github.com/Repair-De

[2016-10-20 09:05] Repair-Desk opened #6 "Issue With Payroll calculation"
Employee total pay is not accurate.
65:06hrs X 12.50 =$813.25 not $798.13
Issue with the formula for calculating employee pay, the minutes in the working hour should be first divided by "60" and then multiplied by hour rate.

![](https://cloud.githubusercontent.com/assets/21986026/19548783/fc6c9352-96b9-11e6-906a-3d825eef5544.jpg)

[2016-10-20 09:06] Repair-Desk opened #7 "Disable / Remove Default Ticket Status"
There should be a way to disable default ticket status so it doesnt appear in dropdown

![](https://cloud.githubusercontent.com/assets/21986026/19548858/6090e676-96ba-11e6-88b4-0a4bf46aacf7.png)

[2016-10-20 09:07] Repair-Desk opened #8 "Feature Request - Add IP Address Against Each Store Location"
Admin should be able to add static IP address against each store location.

When an employee logs in he should be able to access that location he is in physically at present and should not be able switch b/w store locations.

[2016-10-20 09:07] Repair-Desk opened #9 "Total Sales value different from Actual Sales"
The statistics page display different "total sales value" and different "location sales value".
please refer to the image attached below

![](https://cloud.githubusercontent.com/assets/21986026/19549677/12c90ba8-96bf-11e6-8a0d-f442259edd49.jpg)

[2016-10-20 09:08] Repair-Desk opened #10 "Device/Model Displays twice in Add New Part on POS"
"Add new part" on pos and "view this part" from inventory, displays "Device/model name" twice
Please refer to the image attached below

![](https://cloud.githubusercontent.com/assets/21986026/19550581/912bcca2-96c3-11e6-9d7e-1ae76107d43e.png)

[2016-10-20 09:08] Repair-Desk opened #11 "Tax showing up as due amount even after full payment"
Even after full payment, amount equal to tax shows up in due amount.

When the client gives a 100% discount to an accessory it doesn't take the tax off on the invoice after it is created. It looks fine initially on the POS but when he reviewd the invoice later, it has a small amount due, and this is always the tax amount for the discounted product.

It appears to be a Tax issue. Client is saying t

[2016-10-20 09:09] Repair-Desk opened #12 "Discount not appearing on POS screen"
When adding a discount to products, they disappear from the POS window and the customer has to add them again. It keeps doing it, so he cannot discount at all currently

[2016-10-20 09:09] Repair-Desk opened #13 "Problem adding new user"
I am trying to create the new user, however when I hit save it doesn't actually save anything..

[2016-10-20 09:10] Repair-Desk opened #14 "Ticket from one store location doesn't show in other location"
please refer to the below attached images.

![](https://cloud.githubusercontent.com/assets/21986026/19551885/e92f0182-96c6-11e6-8b6d-df5c264b0293.png)

![](https://cloud.githubusercontent.com/assets/21986026/19551886/e92f9638-96c6-11e6-8b3d-83c4bfea0c15.png)

[2016-10-20 09:10] Repair-Desk opened #15 "Line Total in invoice incorrect"
Line total is not showing correctly. Please find screenshots below. Please fix it so that it is displayed correctly.

![](https://cloud.githubusercontent.com/assets/22954033/19552155/1b3386f2-96c8-11e6-9c71-1048304269eb.png)

![](https://cloud.githubusercontent.com/assets/22954033/19552153/1b3048a2-96c8-11e6-88cd-2ae0b7fe911d.png)

![](https://cloud.githubusercontent.com/assets/22954033/19552152/1

[2016-10-20 09:46] Fazal-RepairDesk opened #16 "GST not included in Accessories/ Parts"
In parts inventory the GST is not included in most of the parts.
Store: ANZAC Highway
Customer: Store Name GR Phones

CSV files not uploading here. therefore uploading them as excel files
[Accessories-ANZAC HWY xlxs.xlsx](https://github.com/Repair-DeskPOS/RepairDesk-Bugs/files/541316/Accessories-ANZAC.HWY.xlxs.xlsx)
[Accessories-SEFTON PRK xlxs.xlsx](https://github.com/Repair-DeskPOS/RepairDesk-Bu

[2016-10-20 09:49] Fazal-RepairDesk opened #17 "Employee Roles Cost Price + Employee Location"
1. User has assigned a superuser account the role of manager. However the manager cannot see the Cost Price anymore.
"We have created a Manager Role which is Super User and assign a user into this Role but seem that account cannot access Cost Price."
Although I have confirmed the customer login details I'm unable to login. Please check into that as well.
2. Customer tried to update location for st

[2016-10-20 09:51] Fazal-RepairDesk opened #18 "GST issue while adding part in multiple locations"
"when we add any new part or accessories in our Sefton Park store everything gets added in our Anzac store except GST. GST of the Anzac store doesn’t get checked even though we check tax inclusive box in Sefton store while adding a new part. And same is the case with repair inventory and as the GST does not get included it creates problem in our Anzac store. Please find attached screen shots for y

[2016-10-20 09:59] Fazal-RepairDesk opened #19 "Invoices showing Overpaid when it is not"
The system show that some customer overpaid sign whenin reality but the customer never did overpay
Inside the invoice it won't show overpaid and At the bottom it only show one payment but on manage invoices show overpaid

Hafiz Anas please review it. I guess Imran Qadir has already fixed it.

Sir Imran: "issue has been fixed. issue was only if you search for accessories and if a invoice has multip

[2016-10-20 10:03] Fazal-RepairDesk opened #20 "Issues Capalaba Admin"
Capalaba Store is facing the following issues.
1. PrintNode Configuuaration
"here is our print node configuration. I am not sure if it has been setup yet, but rd does not auto print via printnode once a trade-in ticket has been created" (See screenshot)
2. "when manually printing via print node - mini receipt will print to our label printer and not mini receipt"
3. when searching problems for a de

[2016-10-20 10:04] Fazal-RepairDesk opened #21 "Discount not appearing on POS screen"
When adding a discount to products, they disappear from the POS window and the customer has to add them again. It keeps doing it, so he cannot discount at all currently

[2016-10-20 10:46] Fazal-RepairDesk opened #22 "Invoice Amount Issue"
Customer is facing an issue regarding invoice.
For example, if repair cost is $100, basic is $90.91 and GST is $9.09.
In the ticket page, there is no problem before making invoice.
But, when the payment is made, invoice shows wrong amount.
In the invoice, total is $90.91. basic is $82.65 and GST is $8.26.
So, he currently edits it manually.
He can't issue invoice when my customer makes payment
He

[2016-10-20 10:50] Fazal-RepairDesk opened #23 "Multiple Error 404 in different sections"
Customer: Luis
Business: Movilsat

Issues:
1. Google calendar integration replies with 404 error.
2. Also SMS notification (Error 404)
3. {STORE_NAME}
We have received it with the FIELD NAME instead of actual name. Only telephone number appeared correctly. In the email we have no problem.
4. "Also we cannot create employees. We save them but they do not appear.
We see customers are shared between

[2016-10-20 10:54] Fazal-RepairDesk opened #24 "Supplied items not appearing on Ticket"
Business Name: Capital Connections

When the customer selects supplied items just before checkout, even though if all are selected, only two supplied items are displayed on the ticket: sim card, memory card.

Kindly see the ticket mini receipt and scr
![sajid_1](https://cloud.githubusercontent.com/assets/22954033/19556997/3ac828b4-96dd-11e6-9dec-44b363f376b3.png)
[Supplied Items Sajid.pdf](https:/

[2016-10-20 11:06] #16 closed

[2016-10-20 17:08] wirelessrepairzone opened #25 "Customer information missing after pulling in from View Walkin"
A large number of times now (maybe 1 out of 5) we have customers fill out the Walk In from our website, then from POS we hit View Walk in confirm the information (The customer info does show up), update the price and other items then checkout. Normally we then hit Checkout then confirm without entering a payment as the customer pays when they pickup the item. The label that prints (both the recept

[2016-10-21 05:43] Fazal-RepairDesk opened #26 "Unable to Add a new Employee [Urgent]"
Many customers are reporting that they are unable to add a new employee in RepairDesk. I've tried it myself on one of the accounts. When the employee details are entered and saved the screen shows that it is refreshing and it goes back to the page where details about the new employee can be added. When you go back to the Manage Employees section the newly added employee is still not visible, even

[2016-10-21 06:14] Fazal-RepairDesk commented on #26
@muhammadfayyaz3 Also please change the label in from of the default store from select role to select default store. Please see the attached screenshot below
![add employee  @issue](https://cloud.githubusercontent.com/assets/22954033/19588487/7f204544-977f-11e6-8c1d-6c94bfafeaef.png)

[2016-10-21 06:34] Fazal-RepairDesk commented on #26
@muhammadfayyaz3 As discussed this error is also showing even if the store is selected
![add employee issue_2](https://cloud.githubusercontent.com/assets/22954033/19588906/450e677a-9782-11e6-8bdb-b60047d5a399.png)

[2016-10-21 06:49] TechnologyTraders opened #27 "Duplicate customer names in drop-down search box"
Please fix duplicate customers shown in customer drop-down search box.
![customer drop box](https://cloud.githubusercontent.com/assets/22953208/19589126/c657b734-97ad-11e6-8125-d75c4cd29f6a.jpg)
![customer drop box-2](https://cloud.githubusercontent.com/assets/22953208/19589127/c66628b4-97ad-11e6-8495-0a0a97eafdf0.jpg)

[2016-10-21 06:51] TechnologyTraders opened #28 "Cannot Cancel in POS when no item is entered"
If the default customer is updated then we should be able to cancel the invoice..
![cannot cancel with customer name](https://cloud.githubusercontent.com/assets/22953208/19589257/87b7adc6-97ae-11e6-9499-663280664a1b.jpg)

[2016-10-21 06:59] TechnologyTraders opened #29 "Update Customer Form in POS"
Why does it give me the option to choose network when editing customer from pos instead of license no. like when editing customer details from trade-in. Why is everything redundant. Everything should be unified...
![update customer form in pos](https://cloud.githubusercontent.com/assets/22953208/19589468/a9e508e8-97af-11e6-87b2-2a1b5c2eaff4.jpg)
![update customer form in trade-ins](https://cloud.g

[2016-10-21 07:07] TechnologyTraders opened #30 "Exporting Customers Error 403"
It's been like this for a long time and last time I requested this to be fixed including duplicate customers in search box I have heard nothing..Please fix this so that we can easily filter through all those duplicates due to RD creating duplicates from editing customers a while back. This error occurs with limited account, but when I use my account with super user access I am greeted with a blank

[2016-10-21 07:14] TechnologyTraders opened #31 "Re-Open Repair Tickets in POS"
Why still have 2 methods when we are told not to use 'tickets' from the drop down? make everything unified..Just allow the search bar for inventory.
![remove this drop-down menu](https://cloud.githubusercontent.com/assets/22953208/19589809/cab27658-97b1-11e6-9948-cdca949f892c.jpg)

[2016-10-21 07:20] TechnologyTraders opened #32 "Rounding Issues"
Still occurs a lot and not only when finalising payments. Should be $50.00...but instead there are 3 different figures. $50 due, balance of $49.99 and apparently CASH received is $49.995. This is a refund, but the same thing happens with sales. We also have values jumping around when in edit ticket which I don't have time to go in to.
![rounding issues](https://cloud.githubusercontent.com/assets/2

[2016-10-21 07:24] TechnologyTraders opened #33 "Adding more stock using serial no.s"
Why on Earth do we need to add stock 1st in-order to add serial no's. We should be able to enter the serial no and repair desk will add that stock. e.g. if we enter 10 serial no's then repair desk should automatically add 10 to our inventory from that supplier.
![adding serialised stock](https://cloud.githubusercontent.com/assets/22953208/19590041/19d0ad12-97b3-11e6-8455-2e731e925cca.jpg)

[2016-10-21 07:30] TechnologyTraders opened #34 "Transfer of inventory items (not Trade-ins)"
Why is transferring of stock so complicated and slow for serialised stock. Why not allow us to use the sku number or simply scan in the serial no... If the items have the same sku no. then rd can group them automatically. Just think how long it will take to enter sku and the manually click each and every serial no. related to that sku.
![transfering inventory](https://cloud.githubusercontent.com/a

[2016-10-21 10:05] Uzair-RepairDesk commented on #28
@TechnologyTraders
If you select/update customer and want to switch the customer to default, you can again select "Walk In Customer" or other customer.
Cancel button works if you add any item in the order and want reset the screen.

[2016-10-21 10:18] Uzair-RepairDesk commented on #33
@TechnologyTraders
We are going to release Good Receiving Notes (GRN) funtionality next week that will allow you to receive items with reference of Purchase Order (PO) and you will be able to create serials while receiving inventory . Currently its necessary to update stock value if you want to create serials of items. Please do let me know if you are interested in beta testing of GRN functionalit

[2016-10-21 10:18] #33 closed

[2016-10-21 10:19] Uzair-RepairDesk commented on #32
@HafizAnas
can you please review and get it fixed.

[2016-10-21 10:19] #28 closed

[2016-10-21 11:00] Uzair-RepairDesk commented on #34
@TechnologyTraders
We can enhance it by giving following scenario:-
Admin/User will be able to search and scan item by IMEI/Serial in SKU field to add it in "Inventory Transfer". Trade in devices will also be included in it.

[2016-10-21 11:02] Uzair-RepairDesk commented on #34
@aishahanif
Can we add it in update and take timeline from @muhammadfayyaz3

[2016-10-21 11:19] Raheel-RepairDesk opened #35 "Uploading customer CSV"
Dear,

   Please add the functionality of uploading max customers through one CSV file,

Regards,

[2016-10-21 11:25] Raheel-RepairDesk opened #36 "Test 1"
Test 1

[2016-10-21 22:39] TechnologyTraders commented on #33
Sure. That would be great.

[2016-10-21 22:42] TechnologyTraders commented on #28
Then please improve the speed to look up customers. I would have to waste up to 10sec wanting for the list to cache again just to change back to walkin customer..

[2016-10-22 06:32] quangc opened #37 "Transfer Order Issues"
We are facing some issues with Transfer Order function.

1. Transfer stocks from Store A to Store B has error message below
Please fix the following input errors:
Recieved By cannot be blank.
Where the fieldl Received By is grayed out, cannot input.

![image](https://cloud.githubusercontent.com/assets/22993605/19617476/5f8d3ac6-987d-11e6-9bad-1ad45e032e74.png)

2. Transfer from Store B to Store A.

[2016-10-23 12:08] RepairDeskPOS opened #38 "Pattern Lock For Android Phones"
There should be a way to store pattern lock for android phones

[2016-10-23 12:30] #36 closed

[2016-10-23 12:36] #4 closed

[2016-10-23 12:48] #24 closed

[2016-10-23 13:05] #21 closed

[2016-10-24 05:14] muhammadfayyaz3 commented on #26
Issue Fixed
@HafizAnas kindly have look

[2016-10-24 05:16] Repair-Desk opened #39 "Cost of cell phones are not calculating in Rd reports."
This is in reports by type
![14680489_10205991190013839_4139061474708051876_n](https://cloud.githubusercontent.com/assets/21986026/19634266/d2463486-99d2-11e6-856c-9b52ce5c2deb.jpg)

[2016-10-24 05:16] Repair-Desk opened #40 "Couldn't add a new part today,"
Couldn't add a new part today, it kept deleting anything entered into the field.

[2016-10-24 05:42] Uzair-RepairDesk commented on #33
https://repairdeskdemo3.azurewebsites.net
You can login to above staging server with following test account details:-
Username: josh@repairdesk.co
Password: welcome

You can go to Inventory > Goods Received Notes to test GRN functionality.

If you have any other queries/concerns, please feel free to ask. Thanks

[2016-10-24 05:47] muhammadfayyaz3 commented on #17
Issue Fixed
@HafizAnas kindly review

[2016-10-24 05:47] Uzair-RepairDesk commented on #39
Issue Reported by Michael ST John on Facebook User Group

[2016-10-24 05:49] Uzair-RepairDesk commented on #40
Jonathan White from Think Digital reported this on Facebook User Group

[2016-10-24 05:51] Fazal-RepairDesk commented on #26
@HafizAnas any update?

[2016-10-24 05:56] Uzair-RepairDesk opened #41 "Template Editor Issue"
"Miko" from "Campus Mobile Solution"
He is still facing the following issues:-
1: When customer opens "Mini Receipt" from template editor. He is facing the error 500 issue.
2: He has edited canned response of High Five. It display edited canned response in ticket section but when customer sends email, it doesn't display correctly. Please have a look at screenshot attached. Can you please it so if

[2016-10-24 06:30] Uzair-RepairDesk opened #42 "Help to Replicate Issues and Fixing"
Hi @HafizAnas ,

As discussed Andrew from Pimp My Gadget is one of our good customers. He is facing few issues on POS that are hard to replicate and issues are just on his personal account.
I have taken permission from him to use his account. You can use RepairDesk Test customer for orders. Can you please login and try to replicate following issues. Once you figure our the problem, can you get the

[2016-10-24 09:57] Repair-Desk commented on #35
@muhammadfayyaz3 As discussed with @aishahanif please get it fixed by tomorrow.

[2016-10-24 10:12] muhammadfayyaz3 commented on #26
@Fazal-RepairDesk Issue fixed kindly review at your end.

[2016-10-24 10:22] muhammadfayyaz3 commented on #37
Dear @aishahanif @Fazal-RepairDesk Issue fixed.

[2016-10-24 10:23] muhammadfayyaz3 commented on #13
Dear @HafizAnas @Fazal-RepairDesk Issue Fixed.
Kindly review it.

[2016-10-24 12:50] muhammadfayyaz3 commented on #35
Dear @aishahanif issue fixed. kindly make it live after review.

[2016-10-24 17:16] Repair-Desk opened #43 "Feature Request - Related Products"
Sometimes we want to add an optional or mandatory add-on to another item we sell. Like an activation always comes with a plan, or a phone sometimes comes with screen protector. It would help with speed and boost accessory sales by our techs.

[2016-10-24 17:24] Repair-Desk opened #44 "Feature Request - Insurance Quote"
On POS you can create an insurance quote (just like estimate but with a customize able template)

**The insurance quote should have following information:**
Customer full name, telephone number, email ,claim number, color, size, model number, IMEI or Serial, diagnose notes, fees they pay inc GST, report number.

Once insurance quote is approved you can convert it to a Repair Ticket.

Once a repair

[2016-10-24 18:04] ThinkDigitalRepair opened #45 "Ability to deduct Trade-in from current sale"
Sometimes customers want to buy a phone and trade in another. Say they want to buy a $200 phone and sell us one for $100,  their total is $200. Currently, we have to charge them $200 and then buy their phone for $100. Can we have the process more integrated so it shows their total as $100 and limits it to one transaction?

[2016-10-24 18:23] Repair-Desk opened #46 "Issue With Role"
I've created a new store profile & when you try to **[update personal profile](https://app.repairdesk.co/index.php?r=user/profile)** it gives attached error

![profile](https://cloud.githubusercontent.com/assets/21986026/19658271/cac836b4-9a40-11e6-9ac6-3226972bd134.png)

[2016-10-24 22:51] TechnologyTraders opened #47 "Printnode label only auto-printing one device"
Hey Guys,

When we add more than one device to the same ticket Printnode only auto-prints the 1st device on the ticket. We then have to manually select the 2nd device and print label manually to our label printer. Please refer to ticket no.: CPT-2472.

[2016-10-24 22:59] TechnologyTraders opened #48 "Repairdesk calculating different values"
Hey Guys,

This ticket was updated from 'diagnostics' for $50 to 'Battery Replacement' for $150.00. During the 1st update it will some how calculate the tax value wrongly. In such case we need to save the ticket and re-edit to get the correct value..

![wrong values](https://cloud.githubusercontent.com/assets/22953208/19666994/4a6dc37a-9a91-11e6-850f-f3f8fd870bf0.jpg)
![reedit fix wrong values](ht

[2016-10-24 23:12] quangc opened #49 "Serialised item does not get back In Stock after Refund"
Please be investigate the case that Refund Item does not become In Stock but it is still showing as Sold in our Inventory. Our staff had to Delete that Serial and Re-Create that Item which should not be the way.

[2016-10-25 05:09] Uzair-RepairDesk commented on #37
@HafizAnas can you please review this?

[2016-10-25 05:16] Uzair-RepairDesk commented on #47
Hey there,
Imran will fix this issue once he come back from his holidays. It is expected to be fixed in 2nd Milestone Release.

[2016-10-25 05:43] Fazal-RepairDesk commented on #5
@aishahanif Sajid is asking for an update. What's the status?

[2016-10-25 05:58] Fazal-RepairDesk opened #50 "Issue while switching users"
When the same user signs up in two windows, then while switching users its working fine. But when the user logs off from one of the windows, a different list of several users pops up. @aishahanif  your name aslo shows up on the list. However once the user signs up again in the second window, the usual number of users appear.
Customer: Jonathan White
Business: Think Digital

He has submitted a vide

[2016-10-25 06:08] Fazal-RepairDesk opened #51 "Crafty Clicks Postal Code Issue + Last Customer Details"
1. He has a post code plug  which helps me search for an address in the pos screen. but if he wants to change the customer details, i cannot search for the address using the postcode. He is using Crafty Click,s.
2. today the customer  logged into his computer to generate a ticket for a new customer and when he clicked on the pos screen, the last customer he dealt with has their details on the scre

[2016-10-25 06:28] TechnologyTraders opened #52 "Issue when Updating tickets"
Hey Guys,

Please refer to Ticket no. CPT-2454. Originally generate via POS, Device: PC & Mac and Task: Diagnostics, for $50.00. I changed the Task from 'diagnostics' to 'data recovery' which went smoothly and total cost was all good this time round. The problem I encountered, was when I added an inventory item it refreshed the page and reset the task back to 'diagnostics' before I could save the

[2016-10-25 06:32] Fazal-RepairDesk opened #53 "Invoice not searchable in POS Refund Tab"
When the user tries to refund an invoice from the Refund Tab in the POS section, the invoice is not searchable. No results found. Even though if the invoice exists in the list of invoices from the View Invoices  Tab.

Customer: Arno
Business:  Dr. Smartphone

[2016-10-25 07:09] muhammadfayyaz3 commented on #46
Dear @aishahanif issue has been fixed. kindly find Revision # 642, Branch v1.9.2.7

[2016-10-25 07:48] TechnologyTraders opened #54 "Rounding issues to values calculating tax on top of input values"
Hey All,

Just recently we have been facing some weird issues in POS. Ticket in question is CPT-2472. Brought it forward in to POS. 1st value is $25.00 and 2nd value is $80.00, a total of $105.00 inclusive of TAX. Somehow 1 cent is added to the total. I adjusted the values in POS as above and RD added tax on top of $105.00 when it should have calculated prices to a total of $105.00. Please refer t

[2016-10-25 23:39] quangc commented on #37
Confirmed that the issues are fixed, all working today.

[2016-10-25 23:54] quangc opened #55 "Cannot add Ticket Item"
Just found another issue with adding ticket item. The Action button does not have any menu items, but showing another Action menu.

The Add Line Item at below also not clickable. Nothing happens when clicking it. Refer the below Screenshot.

![image](https://cloud.githubusercontent.com/assets/22993605/19708479/8feb46f0-9b6a-11e6-9986-18ffe9753f5a.png)

[2016-10-26 00:43] Repair-Desk commented on #55
@aishahanif can you check and fix it Asap

[2016-10-26 00:45] Repair-Desk opened #56 "Not all tickets are displayed"
when i go to tickets and click all is dosent bring up my current tickets? only from may?

Reported by
Akash Malhotra

[2016-10-26 00:50] Repair-Desk commented on #55
@quangc sorry for inconvenience and i will try to get it fixed in few hours!

[2016-10-26 04:37] Repair-Desk commented on #52
@HafizAnas can you check this issue and assign it to a developer

[2016-10-26 06:34] Repair-Desk commented on #2
Reported issue was fixed few days ago. If there is an issue against an invoice plead edit and click on save again.

[2016-10-26 06:35] #2 closed

[2016-10-26 08:17] Repair-Desk commented on #55
**@quangc** reported issue has been fixed. Please verify it on your end.

[2016-10-26 08:18] #55 closed

[2016-10-26 15:53] Repair-Desk commented on #56
Reported issue has been fixed.

[2016-10-26 15:54] #56 closed

[2016-10-26 15:55] Repair-Desk commented on #30
@aishahanif If the customer size is more than 3000 it times out and gives error

[2016-10-26 16:43] simardm opened #57 "Trade-in reciept template editing [enhancement]"
Hi, I need to edit the template to traslate elements on the reciept. So far, i was able to edit every other reciept that we needed but now we need the trade-in to be in our local language, for legal reasons.

[2016-10-26 19:17] simardm commented on #57
Also, it would be nice if the description field would stick trough reciepts, so that if we have to comment what details those devices have (like if I want to say that an iPhone wont have it's touchID working) so it could convert into a public comment on the reciept. It would be easier for the seller to disclose things about the device (like in this case, to warn a customer the iPhone wont have tou

[2016-10-26 21:29] RepairDeskPOS commented on #7
You should be able to edit default status

[2016-10-27 06:23] quangc opened #58 "Transferred ticket is still showing in original store"
We've transfered a ticket from a store to another and it is now showing in both store. Please see screenshots below.

![screen shot 2016-10-27 at 5 11 58 pm](https://cloud.githubusercontent.com/assets/22993605/19756666/0e603b3a-9c6a-11e6-8b6a-f9ebedcc93ca.png)
![screen shot 2016-10-27 at 5 12 20 pm](https://cloud.githubusercontent.com/assets/22993605/19756667/0eb06196-9c6a-11e6-807e-623928fbb945.p

[2016-10-27 06:32] #46 closed

[2016-10-27 06:36] aishahanif commented on #23
@Fazal-RepairDesk  please provide us customer reply on this  so we can complete this task

[2016-10-27 07:00] imiamran commented on #31
By default setting is set to inventory search, its not a bug . if you don't need to use ticket and invoice search just don't click on this dropdown .

[2016-10-27 07:03] HafizAnas commented on #37
Fixed, It's working fine.

[2016-10-27 07:03] #37 closed

[2016-10-27 07:09] HafizAnas commented on #3
Issue has been fixed and It's working fine now.

[2016-10-27 07:09] #3 closed

[2016-10-27 07:53] HafizAnas commented on #17
Issue has been fixed and second point for feature/improvement, so added into feature.

[2016-10-27 07:53] #17 closed

[2016-10-27 07:54] Repair-Desk opened #59 "Notify user logged in when trying to change his store location."
Customer tried to update location for staff and the system shows it as saved but it reverts back to the previous ones. The reason is perhaps that when the employee is logged in at the time so the location doesn't get updated till he has logged off. The system should show the user as logged in so that he can log off for the updates to take effect.

[2016-10-27 07:58] HafizAnas commented on #19
Issue has been fixed and it's working at my end.

[2016-10-27 07:58] #19 closed

[2016-10-27 08:02] muhammadfayyaz3 commented on #39
@Uzair-RepairDesk problem is something else, User do not has permission to view Cost Price that's why in every invoice cost price is 0 and that affect shows in Report.
Kindly Give Show Cost Price Permission to that specific Role. then It works fine.

[2016-10-27 08:03] muhammadfayyaz3 commented on #39
@aishahanif I have made some changes in UserRights Model kindly make it live.
Revision #662, Branch v1.9.2.7

[2016-10-27 08:06] HafizAnas commented on #22
Issue Fixed and It's working fine at my end.

[2016-10-27 08:06] #22 closed

[2016-10-27 08:08] HafizAnas commented on #13
Issue has been fixed and it's working fine at my end

[2016-10-27 08:08] #13 closed

[2016-10-27 08:14] HafizAnas commented on #14
@aishahanif Please have a look this issue again.

[2016-10-27 09:24] imiamran commented on #25
i am unable to reproduce @HafizAnas can you help me to trace the issue please .

[2016-10-27 09:42] Repair-Desk commented on #10
issue is fixed

[2016-10-27 09:42] #10 closed

[2016-10-27 09:52] Repair-Desk commented on #11
when giving 100% discount to customer and checking out, it gives error.
please review
![untitled](https://cloud.githubusercontent.com/assets/21986026/19762833/060176da-9c55-11e6-80a1-45b6036b71b9.png)

[2016-10-27 09:53] Repair-Desk commented on #31
@imiamran can we get rid of it so by default it only search inventory items

[2016-10-27 09:59] Repair-Desk commented on #58
@quangc when you transfer ticket from one store to another store it doesn't remove it from original store rather update its status to in-house transfer on original store.

@hafeezshahid @HafizAnas can you check this issue?

[2016-10-27 10:05] Repair-Desk commented on #5
@aishahanif Please ask Sajjad to update design for custom supplied items. Right now it appears in one line and overlaps

[2016-10-27 15:38] wirelessrepairzone commented on #25
im not sure, i happoned again yesterday  the customer fill out the
information at http://wirelessrepairzone.com/checkin.aspx  then we pull up
on POS and verifyall the customer info is filled in. we finish the order
adding the repair then hit checkout. Normally from the checkout screen we
simply hit Confirm without entering any payments (as they pay at pickup)
it then prints them a receipt that we

[2016-10-27 16:52] aishahanif commented on #41
1. mini receipt template is working fine.
2. in email templates he did a complete change in html and css that creates the problem as discussed every email server has different settings to cover. thats why he is facing problem.
3. not reproduce. i have checked his store script in  a web page and it shows in the center of page.
please share his testing page link to verify the problem.

[2016-10-27 19:38] simardm opened #60 "Additional notes bound to a Customer's file. [enhancement]"
It would be nice if we could add some form of comments tied to the Costumer's file, like adding credits to his file (like a promotion buy this and receive this many credits towards a future repair or accessory), or explaining if he has an aggressive temperament (could be!). Point is, in a multi employee environment, details about a specific costumer gets lost. Would be nice also if theres informat

[2016-10-27 23:20] quangc opened #61 "URGENT: Cannot Start Shift"
This morning the Start Shift button is disappeared from our Staff accounts. My owner account is still seeing them.

Please fix this one ASAP we are opening the stores now.

![screen shot 2016-10-28 at 10 16 47 am](https://cloud.githubusercontent.com/assets/22993605/19789032/195c4db0-9cf8-11e6-9e8c-3255a7243f40.png)

[2016-10-28 04:41] #41 closed

[2016-10-28 05:05] Fazal-RepairDesk opened #62 "Customer Facing Display - Issue"
You can still hit confirm without ticking the agree to terms checkbox. It shouldn't let you submit the form if it's either not signed and/or that checkbox isn't ticked.

Also make landing & order detail page translatable.

[2016-10-28 05:11] Fazal-RepairDesk opened #63 "issues with capalaba store (End shift + Transaction Log)"
Capalaba Admin reported two issues:
1. Booval store had an error while trying to end shift just after 7pm
2. Toowong and Capalaba stores cannot access trans log or end shift
![capalaba_shift](https://cloud.githubusercontent.com/assets/22954033/19795614/9d81e674-9cf6-11e6-8ac4-55c350e6873d.png)

[2016-10-28 06:39] Repair-Desk opened #64 "Ticket Listing - Update Due Date & Time Error Message"
You get an error when you try to update or change due date or time on tickets listing page.

But if you refresh it updates the record however it just errors for no reason.

Also the error has a typo (spelling mistake)

![image](https://cloud.githubusercontent.com/assets/21986026/19797196/0845d4aa-9d03-11e6-9f4b-99170e986a83.png)

[2016-10-28 06:48] Uzair-RepairDesk commented on #60
Hi There,
Its a good idea, We can add "Notes" filed in customer details so admin/user can enter comments for a particular customer.
We will keep in mind once we proceed with updating customers module and add "Pricing for Wholesale Customers" feature in RepairDesk.
We can expect to add it in 4th Release of November.

[2016-10-28 07:03] quangc commented on #61
All working now.

[2016-10-28 07:03] #61 closed

[2016-10-28 07:07] Uzair-RepairDesk commented on #63
Issue has been fixed

[2016-10-28 07:07] #63 closed

[2016-10-29 06:33] quangc opened #65 "Enhancement: Purchase Order showing one column with payment status"
It will be nice if there is extra column to show the payment status for Purchase Orders so we can quickly pinpoint to the one which is not paid or partial paid.

This will save our time to View every single PO to find out if it has been paid or not. If there is other ways please advise.

[2016-10-30 07:30] quangc opened #66 "Roles is not working properly"
We have setup few Roles and one Role which is Technician has very limited access to Settings and Admin Functions. We are having 2 Staffs under this Role and yet they can access all Settings and other functions as Super User.

Please investigate since we don't want our staffs to see our sensitive information.

[2016-10-30 15:06] RepairDeskPOS opened #67 "Edit lead email template"
You should be able to edit email template that is sent to a customer and administrator once a customer fills up a form using repair booking booking

[2016-10-31 00:17] quangc opened #68 "Stock does not added into Inventory after GRN is done"
We've just found out that our stock does not get updated after GRN is done.

Refer to below screenshots. Screenshot 1 showing the latest update into inventory for an item. Screenshot 2 showing the lasted Purchase Order which contains 10 items and after GRN, these 10 items did not get added into Inventory as in the Screenshot 1 shows.

<img width="1040" alt="stock update issue 1" src="https://cloud

[2016-10-31 00:27] quangc commented on #68
It may got updated into Inventory but did not showing up in the Admin History.

[2016-10-31 03:31] Repair-Desk commented on #68
@HafizAnas Can you check this and assign it to developer

[2016-10-31 04:39] Uzair-RepairDesk commented on #66
@muhammadfayyaz3
I have checked Quang account. He has 2 users under Technician role with limited access. He is saying that technicians are still able to access restricted areas. Can you please check and fix it.

[2016-10-31 04:42] muhammadfayyaz3 commented on #66
@Uzair-RepairDesk let me check it.

[2016-10-31 04:54] aishahanif commented on #11
Dear Anas,
please verify the issue because same issue is not reproduced on my end.

[2016-10-31 05:57] muhammadfayyaz3 commented on #68
@Uzair-RepairDesk Issue fixed. GRN actually working fine but It didn't update admin history.
Miss @aishahanif kidnly find Revision # 680, Branch v1.9.2.7

[2016-10-31 06:19] Repair-Desk opened #69 "Low Stock Report"
Admin should be able to search Low Stock Report Via Store wise.

When you export CSV file it doesn't export in correct format.

[2016-10-31 06:33] quangc opened #70 "GRN make PO Partially Received"
This issue is just happens now. After create GRN fully received stock, the PO become Partially Received instead of Received.

Please look into this. Used to work fine before.

![grn issue](https://cloud.githubusercontent.com/assets/22993605/19845974/122f0c7c-9f90-11e6-81cc-35b76a4b4ffa.png)

[2016-10-31 06:54] Repair-Desk commented on #68
@muhammadfayyaz3 Thanks for your prompt action

[2016-10-31 07:14] Uzair-RepairDesk commented on #70
@muhammadfayyaz3
As discussed, can you please check and fix this issue

[2016-10-31 07:47] muhammadfayyaz3 commented on #69
Dear Miss @aishahanif Issue fixed, Rev # 682, Branch V1.9.2.7

[2016-10-31 07:48] HafizAnas commented on #11
Dear @aishahanif
when we add an tax inclusive accessory item on POS and give 100% discount, Click on check out and make full payment. System returns error as you can see in above screenshot.

[2016-10-31 09:36] quangc opened #71 "Cannot see Cost price for Items with owner account"
It got fixed recently but happens again today. My account cannot see Cost Prices.

<img width="737" alt="screen shot 2016-10-31 at 8 34 06 pm" src="https://cloud.githubusercontent.com/assets/22993605/19849879/9dc1935e-9fa9-11e6-9c02-3bdf6472760c.png">

[2016-10-31 10:34] muhammadfayyaz3 commented on #71
Dear @Uzair-RepairDesk Issue fixed. @aishahanif kindly update Rev# 681, on live.

[2016-10-31 10:35] HafizAnas commented on #42
Dear @Uzair-RepairDesk

I have reviewed with different scenarios but I am not able to reproduce these issues except number 2 and assign to developer. I have also noted down these issue at my end if i find in future during testing then I will try to fix them asap.

[2016-10-31 10:44] HafizAnas opened #72 "Issue with Total amount"
When I give 100% Discount on Accessories app display s- $0.00 whereas it should display $0.00.

![pos-image1](https://cloud.githubusercontent.com/assets/22954115/19851658/d2141baa-9f80-11e6-9c12-a69b374454ba.png)

[2016-10-31 11:02] andrewg1639 commented on #42
Thanks guys, issue #4&3 are not as important but #1 is extremely important.

Someone else (Jonathon white) has reported the same issue on the RepairDesk user group in Facebook.

We are having issue #1 with roughly 25% of transactions we do, it's extremely frustrating for our staff as sometimes it can happen 3-4 times in one transaction.

I've demonstrated the issue to Uzair through teamviewer and

[2016-10-31 11:25] Uzair-RepairDesk commented on #42
Hi Andrew @andrewg1639 ,
Thanks for your quick response. @HafizAnas As discussed, can you please give another try from Andrew account and see if you are able to replicate the issue # 1. Thanks

[2016-10-31 11:38] HafizAnas commented on #42
Hi Andrew @andrewg1639
Sorry for inconvenience. Let me check one more time for you, I will try my best to replicate this issue and solve it asap that is panic for you.

[2016-10-31 17:04] simardm opened #73 "Phone number extentions [bug]"
Some of our costumers need to be called when they're at work, but they have extentions. They seem to be supported but they dont actually work. The field stops adding numbers once the [ext.] appears. And then a weird error happens. See screencap below. (Note: Screencap shows a 1-418-555-5555 but the problem persists with any other phone number)

![eureka mobile pos_phoneissues](https://cloud.github

[2016-11-01 05:20] muhammadfayyaz3 commented on #6
@aishahanif issue fixed

[2016-11-01 05:33] muhammadfayyaz3 commented on #30
I am on it @aishahanif

[2016-11-01 12:43] Uzair-RepairDesk commented on #29
@TechnologyTraders
We have plan to update customers module and Wholesale Pricing Functionality for B2B customer. I will make sure to take of this part once we do that in couple of weeks.

[2016-11-01 12:45] Uzair-RepairDesk commented on #32
@TechnologyTraders
Can you review and check if its fixed at your end. Please do let me know if the issue still persists

[2016-11-01 15:10] RepairDeskPOS commented on #73
We are using Google Api which automatically check if entered number is valid or not.

Please ensure when entering mobile or phone number it doesnt starts with 0.

Also dont enter mobile number under phone column

Incase it doesnt show country flag type +1
Hope it helps

[2016-11-01 15:12] RepairDeskPOS opened #74 "Issue with commission report"
Every employee making same commission?? This is incorrect

**Issue Reported By: Michael St John**

![commission](https://cloud.githubusercontent.com/assets/21986026/20057187/080831ca-a50c-11e6-9012-03644eac86a8.jpg)

[2016-11-01 15:18] simardm commented on #73
As you can see on screencap, the numbers format is correct, doesnt start with 0, we ask the costumer wether it's a mobile or landline number, but we cant add extentions. It stops adding numbers after the 10th number is entered and it puts the [ext.]. I can try any number other than 418-555-5555 or 418-555-5556 and I still have the same problem. And also the API is unreliable, once we tried to reac

[2016-11-01 23:18] quangc commented on #66
Any updates @muhammadfayyaz3 ?

[2016-11-01 23:23] quangc commented on #71
Any updates on this issues @muhammadfayyaz3 ?

[2016-11-02 02:48] RepairDeskPOS commented on #73
The Api doesnt allow you to add extension at this point.

Secondly it doesnt check if the number is in service or not but just validate number format.

[2016-11-02 05:52] HafizAnas commented on #42
Hi Andrew @andrewg1639
I tried again to replicate the 1st issue but I am not able to catch it. Please make a gif image or video if you face this again so we can look into it

[2016-11-02 06:48] muhammadfayyaz3 commented on #66
@quangc issue fixed. 👍

[2016-11-02 06:56] quangc commented on #66
All good!!!

[2016-11-02 06:56] #66 closed

[2016-11-02 07:18] muhammadfayyaz3 commented on #71
@quangc issue fixed.

[2016-11-02 11:38] Fazal-RepairDesk opened #75 "Lead Notification Error + Default Spanish Error"
Customer: Admin | Movilsat
When the customer books a repair from the repair booking widget, a lead generation notification appears on the bell shaped notification icon. When the user opens the notification an error message opens (Please see the screenshot attached). I've checked it. I get the same error from user's account.
![movilsat_3](https://cloud.githubusercontent.com/assets/22954033/19927248

[2016-11-02 14:14] RepairDeskPOS opened #76 "Exporting Customers Error 403"
If customer list contains more than 5000 customers it gives error

[2016-11-02 15:48] simardm commented on #73
Oh ok, thanks for the info.

[2016-11-03 04:45] #8 closed

[2016-11-03 05:31] qn1715 commented on #62
Its working fine with signature and term & condition validation on order detail form view
![order-form](https://cloud.githubusercontent.com/assets/22954560/19956617/85d4ca50-a1b0-11e6-88b4-a8123d48dd29.png)
.

[2016-11-03 08:12] #71 closed

[2016-11-03 15:04] muhammadfayyaz3 commented on #9
Issue Fixed and working fine on live.

[2016-11-04 04:17] fetchwireless opened #77 "Problem creating new customer - cant add phone number"
When creating a new customer as of today we can no longer add the phone number.  the phone number drop down is stuck on the flag for a particular country code and the number entry box will not allow any text to be entered.

[2016-11-04 04:21] fetchwireless opened #78 "Manual Out does not consistently work"
When performing a manual out a notice appears saying reason cannot be blank, even when there is text in the reason box.  Sometimes the manual out amount is subtracted. Sometimes does not get subtracted.

[2016-11-04 04:24] fetchwireless opened #79 "Rounding problems with checkout and refunds"
When accepting a payment if the full payment button is clicked the payment is rounded off by part of a cent causing the payment to end up off by a penny.  It doesn't happen unless the full payment button is selected.  Then when trying to refund an item where the rounding issue has occurred the refund fails because of the rounding.

[2016-11-04 04:28] fetchwireless opened #80 "Searching for product on POS search"
On POS search when typing in a barcode id or key word, the search function is very slow.  Sometimes taking a minute or more to find the item we are searching for.  This is a big issue.  It significantly slows down checkout.  Sometimes it will error and say the product is not there at all but it then displays the second time we search for it.  Search should take no longer than a few seconds per lin

[2016-11-04 04:31] fetchwireless opened #81 "Trade-Ins not working properly"
We have a few problems with trade-ins

1. Fails to set up the trade in stating it is due to the customer contact details missing. even for a customer that is a previous trade in customer.

2.  The cost line constantly clears out the details so we are never sure if the cost was deducted from the daily cash count.

[2016-11-04 04:34] fetchwireless opened #82 "Feature Request: Add phone type to ticket search"
If we need to look up a ticket by the phone or ticket item it is very tedious.  There should be a search option for searching by device or repair ticket item.

[2016-11-04 05:44] muhammadfayyaz3 commented on #49
Dear @quangc
Everything  is  working fine on our end kindly do check it again.

[2016-11-04 06:04] muhammadfayyaz3 commented on #70
Dear @quangc you are adding same item with different cost price and description that is creating the problem. If you have one item please do not add it multiple times in purchase order PO or if you have different description of an item, I recommend you to add separate item in the inventory and then add it into PO to avoid this problem.
If we update the same item, cost price doesn't justify or upda

[2016-11-04 07:41] Uzair-RepairDesk commented on #79
@fetchwireless
Hi, Can you please share relevant screenshots so we can look into it.

[2016-11-04 07:51] Fazal-RepairDesk opened #83 "Terms & Conditions not appearing on Receipt"
Customer: Zarna | GR Phones
When the customer prints the mini receipt, the terms and conditions are not displaying on the receipt. I've checked it myself as well. The Terms and Conditions are written and saved in the receipt
![zarna_gr phones_tc_receipt](https://cloud.githubusercontent.com/assets/22954033/19998195/46eb8c92-a28d-11e6-90bc-b752a62f8b9f.JPG)
![zarna_gr phones_tc_receipt2](https://clo

[2016-11-04 09:50] #20 closed

[2016-11-04 09:54] hafeezshahid commented on #18
Issue not fixed @HafizAnas

[2016-11-04 09:56] #6 closed

[2016-11-04 09:57] #5 closed

[2016-11-04 09:58] #68 closed

[2016-11-04 09:58] #69 closed

[2016-11-04 09:59] #35 closed

[2016-11-04 10:21] #18 closed

[2016-11-04 12:02] muhammadfayyaz3 commented on #30
Issue has been fixed

[2016-11-04 12:05] fetchwireless commented on #79
Here is the screenshot of the rounding  on sale.  We pressed the full
payment button and you can see it shows 4.203 for cash paid.  depending on
how it rounds off, sometimes it will say that the payment is a penny
short.  When that happens we have problems with the refunds.
[image: Inline image 1]

On Fri, Nov 4, 2016 at 3:41 AM, Muhammad Uzair Shah <
notifications@github.com> wrote:

--

www.fetc

[2016-11-05 06:00] quangc opened #84 "Serialised inventory issues with Status"
Our inventory does not show the right Status. Please see below screenshot. It is none left in stock but inside the item it is still showing 5 items In Stock. The first item is actually transferred to another store which also has issue which will be posted in a separate thread. The last 4 items are sold long time ago.

<img width="1249" alt="screen shot 2016-11-05 at 4 53 46 pm" src="https://cloud.

[2016-11-05 06:07] quangc opened #85 "Transfer serialised items issues"
We transferred one serialised item today to another store and select the correct Serial. The item actually transferred successfully to that store but the stock Status in the original store is still showing as In Stock.
In that receiving store, the stock got increased 1 but it does not showing up the Serial number of that item. When we tried to create the Serial, the system complaint about the Seri

[2016-11-05 11:56] Fazal-RepairDesk commented on #83
@HafizAnas @aishahanif any progress??

[2016-11-06 11:27] Repair-Desk commented on #85
@HafizAnas please review and assign it to @muhammadfayyaz3

[2016-11-06 11:28] Repair-Desk commented on #84
@HafizAnas please review and assign it to @muhammadfayyaz3

[2016-11-06 11:30] Repair-Desk commented on #81
@HafizAnas please review and assign it to @imiamran

[2016-11-06 11:32] Repair-Desk commented on #80
@fetchwireless can you put together a quick video and share a link here as we don't get speed issue on our end?

[2016-11-06 11:33] Repair-Desk commented on #79
@fetchwireless The image is missing. Can you re-upload image please

[2016-11-06 11:35] Repair-Desk commented on #78
@HafizAnas can you please test if reason support special character and also double check why the cash out amount is not subtracted on continuous basis

[2016-11-06 11:40] Repair-Desk commented on #77
@fetchwireless we are using Google API for phone and mobile number verification. Sometimes due to high traffic it doesn't display country flag by default.

If it happens please enter the number in international format. i.e. +1 3109281115

In the meantime we will look for alternative.

[2016-11-06 11:41] #77 closed

[2016-11-06 11:50] Repair-Desk commented on #82
@fetchwireless We will be look into it during mid of January.

[2016-11-06 12:40] Repair-Desk opened #86 "Issue With Receiving Inventory Against Old Purchase Order"
If you are receiving an older PO, it creates GRN with empty line items.

**Video Link:** http://www.screencast.com/t/zCzkkkzca4Gg

[2016-11-06 12:41] Repair-Desk commented on #86
@HafizAnas please review and report it to developer.

[2016-11-06 12:47] Repair-Desk opened #87 "Restrict Employees to view their timesheet only"
At present an employee can view hours worked and pay of other employees.

Is there a way to make it so each employee can only see their hours and time only?

![Uploading Timesheet.png…]()

[2016-11-06 13:03] Repair-Desk commented on #67
@muhammadfayyaz3 A lot of customers has requested this feature recently. Can you please add it to your task list?

[2016-11-06 13:34] fetchwireless commented on #79
Here is the screenshot  <img width="1280" alt="screen shot 2016-11-04 at 8 13 40 am" src="https://cloud.githubusercontent.com/assets/23252331/20038107/bba602dc-a3fb-11e6-8ad4-5a8aa44a34d6.png">

[2016-11-07 05:35] Fazal-RepairDesk opened #88 "Error on Time-sheet regarding working hours"
Customer: Andrew Frahm (Kixup Mobile)

The working hours on time-sheet are showing more than what they really should be. For example if the Clock in is at 9:34 am and clock out is at 1:02 pm, then instead of 3.5 hours to be displayed as working hours it is showing it as 27:207. Please see the screenshot attached below for the issue.

<img width="1482" alt="working hours_kixup" src="https://cloud.g

[2016-11-07 05:45] Fazal-RepairDesk commented on #88
The customer is facing another issue. An error notification displays when the customer tries to clock in/ out. Please see this screenshot. However I could not replicate this issue.
@HafizAnas please see if you could reproduce this error message?
<img width="921" alt="timesheet_kixup" src="https://cloud.githubusercontent.com/assets/22954033/20047560/3dfa991a-a4d7-11e6-9abb-ca7844ff42df.png">
 attac

[2016-11-07 05:55] afrahm commented on #88
The issue with the error message appears to be gone. My staff can now clock in

[2016-11-07 05:59] Uzair-RepairDesk opened #89 "Sales Value Issue"
Dear @HafizAnas

One of our customer Andrew from "Kixup iPhone Repairs" reported the issue that sales value is different between the sales summary report and the reports dashboard.
I checked it from my side. Sales Value is different in dashboard, sales summary report and Reports Dashboard. Tax value is correct on all places.
Can you please check why difference is coming up in "Sales" value and ass

[2016-11-07 06:40] Repair-Desk commented on #88
@HafizAnas please review and assign it to Fayyaz

[2016-11-07 06:58] Jamal-repairdesk opened #90 "training in process"
fazal  is introducing GitHub for me ,complaint w.r.t product not showed up...

[2016-11-07 06:59] Fazal-RepairDesk commented on #90
Acknowledged.

[2016-11-07 07:01] Jamal-repairdesk commented on #90
reassign as customer is facing the same issue again..

[2016-11-07 07:16] hafeezshahid commented on #9
Issue is fixed and reviewed

[2016-11-07 07:16] #9 closed

[2016-11-07 07:42] hafeezshahid commented on #58
@quangc According to our functionality at the moment, When you transfer ticket from one store location to another, the ticket will show in both store locations with the status of in house transfer and when you transfer that ticket back to the original store it will change the status to pending.

Please refer to the following article for further queries https://repairdesk.uservoice.com/knowledgebas

[2016-11-07 07:42] #58 closed

[2016-11-07 07:54] hafeezshahid commented on #26
Issue Fixed and reviewed.

[2016-11-07 07:54] #26 closed

[2016-11-07 07:58] muhammadfayyaz3 commented on #88
Timesheet updated a day ago and all issues fixed. You can check attachment as below.
![firefox_screenshot_2016-11-07t07-57-09 779z](https://cloud.githubusercontent.com/assets/22974191/20050231/e29c643c-a4e9-11e6-8a23-dc54840e1dea.png)

[2016-11-07 07:58] #90 closed

[2016-11-07 08:22] Repair-Desk commented on #88
@afrahm Can you verify it on your end.

[2016-11-07 08:27] hafeezshahid commented on #30
Issue Fixed and reviewed on staging
@aishahanif please make it live.

[2016-11-07 08:56] hafeezshahid commented on #83
@Fazal-RepairDesk Issue Fixed and Reviewed, please update the customer.

[2016-11-07 08:57] aishahanif commented on #14
@HafizAnas @hafeezshahid  fix is on staging please review

[2016-11-07 09:06] aishahanif commented on #27
@hafeezshahid @HafizAnas  fix is on staging please review

[2016-11-07 09:18] hafeezshahid commented on #27
Reviewed on staging, issue fixed.
@aishahanif please make it live.

[2016-11-07 09:44] hafeezshahid commented on #39
Issue Fixed and reviewed.

[2016-11-07 09:44] #39 closed

[2016-11-07 09:45] Jamal-repairdesk opened #91 "(Training) issue customer part"
customer is unable to add new product at POS error " Not allowed" occurred every time

[2016-11-07 09:53] hafeezshahid commented on #88
@muhammadfayyaz3 Working hours calculation is still wrong, hours are calculated correctly whereas the minutes are not calculated correctly. Please look into this.

[2016-11-07 09:55] HafizAnas commented on #89
Dear @muhammadfayyaz3 Muhammad Fayyaz

I have also confirmed this at my end. Both reports stats and dashboard has different values. Please fix  this issue asap.

[2016-11-07 10:33] HafizAnas commented on #87
Dear @muhammadfayyaz3
Please have a look this enhancement and provide a needful feedback.

[2016-11-07 10:41] HafizAnas commented on #86
@muhammadfayyaz3  Muhammad Fayyaz
I have reviewed at my end as well. There is something wrong with Create GRN against old PO. Please can you look into this and fix it asap.

[2016-11-07 10:42] hafeezshahid commented on #49
Please look into the exisitng issues according to our discussion today.

[2016-11-07 10:50] hafeezshahid commented on #70
@Fazal-RepairDesk Please read the above comments by @muhammadfayyaz3  and update customer.

[2016-11-07 10:50] #70 closed

[2016-11-07 11:00] Repair-Desk commented on #65
@quangc Sounds like an interesting option. We would be able to look at it at the start of next year. At this point our goal is to fix existing bugs and improve application speed.

[2016-11-07 11:00] Fazal-RepairDesk commented on #75
Any update? @HafizAnas @hafeezshahid

[2016-11-07 11:01] #73 closed

[2016-11-07 11:02] Repair-Desk commented on #76
@hafeezshahid can you check this bug?

[2016-11-07 11:02] Fazal-RepairDesk commented on #23
I'm redirecting the customer here so that he can reply to your comments

[2016-11-07 11:11] Fazal-RepairDesk commented on #91
Just testing github

[2016-11-07 11:11] #91 closed

[2016-11-07 11:13] Fazal-RepairDesk commented on #53
What's the update? Mam @aishahanif @hafeezshahid @HafizAnas

[2016-11-07 11:15] hafeezshahid commented on #75
@imiamran Please look into this issue, when booking a ticket from repair booking widget, the user gets a notification and when the user clicks on the notification on POS it returns the error as shown in above screenshot.

[2016-11-07 11:15] HafizAnas commented on #85
Hi @quangc

Sorry for inconvenience. I have reviewed this issue but I am not able to reproduce at my end. Please refresh the page,  once employee of other store received the inventory. I hope it will be fine at your side as well after doing this.
Do let me know or share steps with me if you are still facing this issue.

[2016-11-07 11:20] hafeezshahid commented on #76
@Repair-Desk This is a duplicate issue with issue #30 ,this issue is fixed on staging and reviewed as well, waiting for it to go live.
https://github.com/Repair-DeskPOS/RepairDesk-Bugs/issues/30

[2016-11-07 11:20] #76 closed

[2016-11-07 11:22] HafizAnas commented on #84
@muhammadfayyaz3
Please have a look this issue and fix it asap. It usually happens when you refund against serialize item.

[2016-11-07 11:22] Repair-Desk opened #92 "Application Speed Optimization"
Is there a chance we can improve speed for following:

1) Search inventory items on POS takes 30 - 60 seconds **(https://www.youtube.com/watch?time_continue=4&v=OGMl0sh7E44)**
2) POS, Inventory Listing, Ticket Listing, Edit ticket, Save Ticket, Invoice Listing & edit invoice, login takes considerable amount of time to load.
3) Index Newly Added Database tables

[2016-11-07 11:25] Fazal-RepairDesk commented on #31
@imiamran can you please update about it?

[2016-11-07 11:37] hafeezshahid commented on #89
@aishahanif Issues Fixed and Reviewed on Staging, Please make it live.

[2016-11-07 11:45] Uzair-RepairDesk commented on #70
@quangc
You can read @muhammadfayyaz3 comment to get understanding regarding this issue.

[2016-11-07 11:53] HafizAnas commented on #78
Hi @fetchwireless

I have double checked at my end it's working fine at my end. I am not able to reproduce this issue again.
Please check at your end and share steps or screenshots if you are still facing this issue. (See Screenshot)

![a manual in out history](https://cloud.githubusercontent.com/assets/22954115/20056932/7e99ea74-a50a-11e6-9e1f-fb5b71a643ab.png)

[2016-11-07 11:56] fetchwireless commented on #78
I did 2 yesterday and right now it is working fine.  The issue is that it
will work fine some days and others it will not.  Some days it will behave
like it accepted the transaction but does not.  Other days it will give the
error.  The next time it does this I will try to capture it with a
screenshot or video.

On Nov 7, 2016 6:53 AM, "HafizAnas" <notifications@github.com> wrote:

[2016-11-07 11:58] Repair-Desk commented on #78
@fetchwireless Please share a video when it happens again so we can look into it.

@HafizAnas can you mark it as closed please?

[2016-11-07 11:59] #78 closed

[2016-11-07 12:00] Repair-Desk commented on #54
@HafizAnas can you review at your conveneince.

[2016-11-07 12:09] HafizAnas commented on #64
@imiamran
I have reviewed, there is something wrong when admin/user update Due Date on listing page

[2016-11-07 12:22] HafizAnas commented on #74
@aishahanif
Please have a look this issue from client account if you have credential because I am not able to reproduce this issue at my end.

[2016-11-07 12:30] #62 closed

[2016-11-07 12:35] HafizAnas commented on #54
@aishahanif
Client has reported this again. Please have a look this issue on urgent basis. See more details and screenshot from given link below.

https://github.com/Repair-DeskPOS/RepairDesk-Bugs/issues/32

[2016-11-07 12:40] HafizAnas commented on #53
@aishahanif
Please have a look this issue on urgent basis.

[2016-11-07 15:28] RepairDeskPOS opened #93 "Issue with Stripe"
Just took a payment using stripe and payment was successful but it did not close out the invoice. Instead it left it unpaid.

Reported By Michael St John

Source: Facebook Usergroup

[2016-11-08 06:32] imiamran commented on #64
issue has been fixed.

[2016-11-08 06:33] imiamran commented on #64
@HafizAnas issue has been fixed

[2016-11-08 06:49] Uzair-RepairDesk opened #94 "Tax value became positive while doing refund"
Dear Miss @aishahanif

Michael from CV cellular reported the following issue.

He has invoice # 2002 with total 103.19 (Price 99.99 + GST 3.20). When he did refund system took negative price but not GST and displayed total of -96.79. Invoice Number is : # 2040

I have checked it from my account. Its working fine at my end. System certainly takes negative tax value in case of refunds. But somehow M

[2016-11-08 08:03] HafizAnas opened #95 "Issue with Cash Drawer"
@Micheal st John  Reported this issue
So today has been nothing but system problems all day. My end shift was 318$ over. I did take out 480 to deposit, and used manual out to show it, but how does that even make sense. So I use manual in and put back the 480 and it says we only make 3 something but said 111 at first. How many of you guys have end shifts totals wrong quite often?

@John Wehbe also

[2016-11-08 12:14] HafizAnas opened #96 "Refund Button Issue on POS"
@aishahanif

Refund Button on POS is not working please fix this issue on urgent basis.

![refund-button-issue](https://cloud.githubusercontent.com/assets/22954115/20098654/b84f63b2-a5d6-11e6-9786-8f6627a12b33.png)

[2016-11-08 12:20] aishahanif commented on #96
issue is fixed uploaded on both servers live (due to critical issue) and staging

[2016-11-08 13:11] muhammadfayyaz3 commented on #95
@HafizAnas issue reported by you is fixed. Let @Micheal share screens of his issues.

[2016-11-08 13:22] HafizAnas commented on #96
Issue has been fixed and It's working fine.

[2016-11-08 13:23] #96 closed

[2016-11-08 13:31] HafizAnas commented on #14
Issue has been fixed on Staging please do it live and let me know once you will live.

[2016-11-08 17:40] #64 closed

[2016-11-08 17:59] Repair-Desk opened #97 "Issue with Invoice -"
I have noticed that if you open a ticket, with various ticket items, and produce an invoice - if you want to subsequently delete the ticket and invoice, the inventory items are not re-stated back into the counts. For example:

I raise a ticket with a screen protector attached and raise an invoice

I then delete the ticket and invoice due to an error

The screen protector from this ticket should be

[2016-11-09 00:28] quangc opened #98 "[Enhancement]Make Transfer Order sorted newest first as default"
We only need to see the latest Transfer Order first thing when we go into this section. Otherwise we have to click many times to go to the latest one which take more time.

Please have them sorted to show the newest Order first will be neat.

[2016-11-09 00:43] micheal commented on #95
You've got the wrong Micheal. :)

[2016-11-09 04:53] aishahanif commented on #53
@HafizAnas  please review the fix on staging

[2016-11-09 05:13] HafizAnas commented on #81
Hi @fetchwireless

I have tried many times at my end but I am not able to reproduce this issue.
Please can you share screenshot or video regarding this issue, if possible

[2016-11-09 05:30] fetchwireless commented on #81
We did a trade in today and it didn't work properly.  We had to do a manual
out for the cash payout.  I will ask the staff to record a video tomorrow

On Nov 9, 2016 12:14 AM, "HafizAnas" <notifications@github.com> wrote:

Hi @fetchwireless <https://github.com/fetchwireless>

I have tried many times at my end but I am not able to reproduce this issue.
Please can you share screenshot or video regar

[2016-11-09 06:04] aishahanif commented on #31
@Fazal-RepairDesk  we have  already updated you its no a bug. by default inventory option is selected. user can search ticket and invoices according to selected option.

[2016-11-09 06:07] aishahanif commented on #25
@HafizAnas  please confirm

[2016-11-09 06:38] #31 closed

[2016-11-09 08:03] muhammadfayyaz3 commented on #74
Dear @hafeezshahid I just checked @Michael account and found this report perfect like I attach screen below. Would you please check at your end.
![cv cellular solutions employee commission report](https://cloud.githubusercontent.com/assets/22974191/20131063/cdf1af1c-a67c-11e6-8bba-b6214796581c.png)

[2016-11-09 09:24] aishahanif commented on #94
@Uzair-RepairDesk  i tried many time but unable to reproduce the issue. kindly provide the steps so i can fix.

[2016-11-09 10:49] hafeezshahid commented on #74
@Fazal-RepairDesk  Please contact customer, as we are not able to generate this issue at our end.

[2016-11-09 12:08] aishahanif commented on #11
@HafizAnas ,
Said issue "when we add an tax inclusive accessory item on POS and give 100% discount, Click on check out and make full payment. System returns error as you can see in above screenshot." is fixed and live on staging please review.

above client  said issue is not reproduced on my end. please provide the steps.

[2016-11-10 00:04] quangc commented on #87
This will making workplace more peaceful :D.

[2016-11-10 00:06] quangc commented on #85
So if an item with serial is transferred to another store, will it disappeared from original store or simply showing some Status?

[2016-11-10 00:39] Repair-Desk commented on #87
@quangc Agreed

[2016-11-10 01:04] #94 closed

[2016-11-10 01:07] #23 closed

[2016-11-10 01:11] Repair-Desk commented on #42
@HafizAnas Here are the videos: https://www.youtube.com/watch?v=KqhOLyrP0Gc

I believe you have recently assigned this task to imran over asana as well

[2016-11-10 06:53] muhammadfayyaz3 commented on #84
Dear @HafizAnas I have reviewed it with @hafeezshahid and it is working fine in every scenario.

[2016-11-10 07:41] muhammadfayyaz3 commented on #87
Dear @quangc changes has been updated. Now only superuser can filter by employees and view other employees timesheet and normal user can view their own timesheet.

[2016-11-10 08:18] HafizAnas commented on #11
@Fazal-RepairDesk
Reported Issue regarding discount has been fixed on staging and we will live it asap but I am not able to reproduce second issue " Tax showing as due amount" .

[2016-11-10 11:29] hafeezshahid commented on #50
Reviewed on staging, issue fixed.
@aishahanif  please make it live.

[2016-11-10 11:32] hafeezshahid commented on #15
Reviewed on staging, issue fixed.
@aishahanif  please make it live.

[2016-11-10 11:35] hafeezshahid commented on #98
Reviewed on staging, issue fixed.
@aishahanif  please make it live.

[2016-11-10 16:09] jeffsand8243 opened #99 "Issue with repair cost and profit not being accurate"
I enter a screen cost as $143 and the repair cost as $199 plus tax on part. Then it says my cost is $165 and my profit is $35 and tax is $25. Then in the final report it shows my net income is $30 minus the tax $25 for some reason and that my profit is $10. Can you fix this please.

[2016-11-10 16:10] jeffsand8243 opened #100 "Issue with time clock registering 2 shifts on the same day for the same employee"
Duplicate Overlapping shifts being recorded and making me pay twice for the same shift.

[2016-11-10 16:11] jeffsand8243 opened #101 "Need customer details mandatory option"
I want to be able to make it mandatory to enter customer info so we don't forget that part when checking a customer in

[2016-11-10 16:12] jeffsand8243 opened #102 "Option to make "where did you hear about us" manditory"
I want to make sure employees have to ask where customers heard of us.

[2016-11-10 16:14] jeffsand8243 opened #103 "Option to edit titles and repair/ part info on the pos section without having to go to inventory module"

[2016-11-10 23:02] Repair-Desk commented on #99
@jeffsand8243 can you share screenshot of report and the repair ticket.

Also are you using trigger to charge tax on repair part only?

[2016-11-10 23:05] Repair-Desk commented on #100
@jeffsand8243 we apologize for inconvenience. Can you share screenshot?

[2016-11-10 23:35] afrahm opened #104 "Be able to Delete a GRN. Also have a cancel button to cancel creating a GRN"
Be able to delete created GRN's.
When creating a new one be able to cancel creating it instead of only having a save button.

[2016-11-10 23:49] afrahm commented on #89
Has this been applied into production environment yet? As the sales values are still different. The attached image is for Nov. 10
![screenshot 2016-11-11 09 48 31](https://cloud.githubusercontent.com/assets/1414304/20199104/0f53f7c6-a7f4-11e6-8a43-6705c54bcb1b.png)

[2016-11-11 00:19] TechnologyTraders opened #105 "Cannot update description field for 'Sell Your Device Widget'"
Hey Guys,

Please Go to Settings > Integrations >Language Editor > Edit (English) > Sell Your Device Widget. I am using a Super SU account to update. When Clicking 'Save All' nothing happens, even after multiple tries at once.

We need to update in this area ASAP.

RD displays content updated as soon as the page is loaded.

![language editor](https://cloud.githubusercontent.com/assets/22953208/201

[2016-11-11 00:26] Repair-Desk opened #106 "Self Check In Widget - Suggested Improvements"
It would be great if we can display all information on one page so the customers can fill out an easy and straight forward information page, with their contacts phone, address, email, pass code, device, model and then sign terms.

![walk in](https://cloud.githubusercontent.com/assets/21986026/20199769/bead5332-a7ce-11e6-8473-8b29b31fb140.png)

There should be a trigger as well that allows you to s

[2016-11-11 00:38] Repair-Desk commented on #105
@HafizAnas can you please look into this at your convenience

[2016-11-11 04:53] imiamran commented on #80
this issue has been fixed 3 days ago .

[2016-11-11 04:55] #80 closed

[2016-11-11 06:10] HafizAnas opened #107 "Wrong Total against Old Invoice"
Once I create Invoice with 50% discount and make full payment. Later if I open this invoice/order from POS again through view invoice button.

it shows wrong Total amount. (See Screenshot)

![old calculation-issue1](https://cloud.githubusercontent.com/assets/22954115/20205999/33b0d840-a7ff-11e6-82bd-e6f8ec5c34a0.png)
![old calculation-issue2](https://cloud.githubusercontent.com/assets/22954115/202

[2016-11-11 06:17] HafizAnas commented on #89
Hi @afrahm
Sorry for this trouble again, your reported issue has been fixed and we will live it with in few hours.

[2016-11-11 06:47] Repair-Desk commented on #106
@imiamran please take a look at this one please to see if its possible to update workflow

[2016-11-11 11:13] HafizAnas commented on #32
![rounding issue](https://cloud.githubusercontent.com/assets/22954115/20213294/c8933898-a829-11e6-82a4-e3f882eeb5f2.png)

[2016-11-11 11:28] HafizAnas commented on #32
![rounding issue1](https://cloud.githubusercontent.com/assets/22954115/20213652/87528292-a82b-11e6-9f0d-c67aa2097665.png)

[2016-11-11 12:18] HafizAnas opened #108 "Issue with Reports (Stats)"
@muhammadfayyaz3
 There is something wrong when I refund discount item/Ticket.
I make a Ticket with two items one is 35$ and 2nd one is 100% (use part against 2nd item cost price is 25$) and give 50% inline discount on 2nd one.

Total is 85 and make payment, later I refund this repair order, that display wrong stats. In location Sale by item type and Location Daily sales display almost correct amo

[2016-11-11 18:41] Repair-Desk opened #109 "Order Now - Hyperlink on purchase order"
For special orders sometimes staff enter **eBay, amazon or product link in description.** It would be great if it shows **_"CLICK HERE TO ORDER"_** on purchase order listing so the manager / owner doesn't have to open each PO manually.

![po](https://cloud.githubusercontent.com/assets/21986026/20226023/2dd719e8-a868-11e6-8469-3ed9fdb829d1.png)

[2016-11-11 18:49] #98 closed

[2016-11-11 19:01] #95 closed

[2016-11-11 19:05] #50 closed

[2016-11-11 19:31] HafizAnas commented on #49
Hi @quangc
Thanks for your patience, I am glad to inform you that your reported issue has been fixed and it's working fine at my end.  there is only thing " If technician/admin use any serialize part against repair ticket and refund it later, this part will not be added back into stock"
we are working to improve it and hopefully we will fixed it with best solution asap.

[2016-11-11 19:41] #86 closed

[2016-11-11 19:44] #88 closed

[2016-11-11 19:54] HafizAnas opened #110 "Serialize Inventory Transfer issue"
When I click on select serial option, system display Array where as it shows serials against selected item,
and Sku field is not working properly on Create Inventory page. (See Screenshot)

![serialize-inventory](https://cloud.githubusercontent.com/assets/22954115/20228311/7e1b9f46-a872-11e6-8964-d66c6d06ba52.png)

[2016-11-11 20:05] HafizAnas commented on #84
@muhammadfayyaz3
Problem is, as you can see in above screenshot, admin have total five serialize items and he created inventory transfer order without selecting serial, inventory stock also transferred successfully but serilize still remains in stock.
You can fix this by applying check like invoice,  system doesn't allow to create/add transfer order without selecting serials.

[2016-11-11 20:14] #51 closed

[2016-11-11 20:14] #53 closed

[2016-11-11 20:27] HafizAnas commented on #30
Hi @TechnologyTraders
Your Reported issue has been fixed and it's working fine at my.
Please do let me know if you still have any problem against this issue.

[2016-11-11 20:29] HafizAnas commented on #27
@TechnologyTraders
Your Reported issue has been fixed and it's working fine at my end.
Please do let me know if you still have any problem against this issue.

[2016-11-11 20:32] #15 closed

[2016-11-11 20:33] #14 closed

[2016-11-11 20:41] #11 closed

[2016-11-12 01:54] afrahm commented on #89
Has this been made live now? As I am still having the same issue??
<img width="1430" alt="screen shot 2016-11-12 at 11 50 21 am" src="https://cloud.githubusercontent.com/assets/1414304/20234837/858547c6-a8ce-11e6-8811-42e02970d4c1.png">

[2016-11-12 03:56] Repair-Desk commented on #67
@muhammadfayyaz3 can we add it to RepairDesk first thing Monday morning

[2016-11-12 03:58] Repair-Desk commented on #101
@aishahanif we need to add this check on **_invoice, ticket and POS section_**

[2016-11-12 03:59] Repair-Desk commented on #102
@aishahanif We need to add this check while accepting payment on POS screen. By default it should say Facebook

[2016-11-12 04:11] Repair-Desk commented on #87
An employee can still view Employee Payroll Report button from which he can view other employee wages **(see attached)**

![issue](https://cloud.githubusercontent.com/assets/21986026/20235587/b36d9bc8-a8b7-11e6-8daf-62018a971aa2.png)

![issue 1](https://cloud.githubusercontent.com/assets/21986026/20235595/e4a101b2-a8b7-11e6-9320-85c9f8684821.png)

[2016-11-14 02:48] Repair-Desk commented on #105
@aishahanif When you edit default language (english) and hit save all nothing happens. It should display a loader and shows changes has been saved.

[2016-11-14 02:49] Repair-Desk commented on #75
@imiamran can you fix it by Tuesday please

[2016-11-14 02:52] #74 closed

[2016-11-14 02:54] Repair-Desk commented on #85
@Uzair-RepairDesk Can you update @quangc?

[2016-11-14 02:56] Repair-Desk commented on #72
What's the update on this one @aishahanif

[2016-11-14 02:58] #30 closed

[2016-11-14 02:58] #27 closed

[2016-11-14 03:02] Repair-Desk commented on #81
@fetchwireless i am closing this issue and in case you face this issue again. Please upload the video so we can fix it for you.

[2016-11-14 03:02] #81 closed

[2016-11-14 03:47] quangc commented on #85
As far as I can inform your team. Every time we transfer serialised items to another store. We do have  the ability to select which serials to transfer but those items, after got transferred   to another store the serials do not come over. The quantity does increased, but no serials are created. And in the original store, they are still showing as in stock.

Not sure how your team can get them tra

[2016-11-14 03:49] Repair-Desk commented on #85
@HafizAnas can you review above scenario?

[2016-11-14 07:44] Uzair-RepairDesk opened #111 "Lead Email is not coming to admin - PimpMyGadget"
Dear Sir @imiamran

One of our customer @andrewg1639 from PimpMyGadget is reported the issue that once a lead is placed, admin of store doesn't receive any email.
I have checked it from my account its working fine but when i checked it from Andrew account. Its not working on his particular account.
I changed email address from store general settings and placed a test lead but i didn't get any emai

[2016-11-15 09:54] Fazal-RepairDesk commented on #51
Customer updated

[2016-11-15 11:50] aishahanif commented on #109
@HafizAnas enhancement is complete and live on staging please review

[2016-11-15 11:52] aishahanif commented on #65
@HafizAnas  said enhancement is live on staging for QA review.

[2016-11-15 16:11] Repair-Desk commented on #109
When you view purchase order it doesnt display link as hyperlink **(see attached)**

![hyperlink](https://cloud.githubusercontent.com/assets/21986026/20313175/e5bad132-ab77-11e6-8755-f192a65e158f.png)

It still doesn't say Order now on Purchase order listing page

[2016-11-15 16:14] Repair-Desk commented on #65
@muhammadfayyaz3 Can we move payment status so its less confusing?

![po](https://cloud.githubusercontent.com/assets/21986026/20313333/728470f0-ab78-11e6-9269-51db01ef3474.png)

[2016-11-15 20:53] simardm opened #112 "Repair booking Widget tax class"
Hi, we would like to remove the tax displayed on the widget when selecting a repair, so our potential costumers wont assume that we will charge tax on top of the displayed price which already tax included. See screencap below, the highlighted price should have been 79.99$ instead of 91.97$
![prix eureka mobile reparation et deverrouillage d appareils mobiles au quebec](https://cloud.githubusercont

[2016-11-16 06:33] Fazal-RepairDesk commented on #83
@hafeezshahid @HafizAnas customer is still facing the issue

[2016-11-16 10:24] HafizAnas commented on #47
Hey @TechnologyTraders
I have tested at my end and it's working fine. Please can you check at your end and share screenshots or video with us if you still have any issue. Thanks

[2016-11-16 10:33] HafizAnas commented on #48
@imiamran
Please have a look this issue. It usually happens due to change tax class or price.

[2016-11-17 09:14] Fazal-RepairDesk opened #113 "Security Code | Sajid | Capital Solutions"
Customer is facing issue regarding security code.
If he clicks on manage tickets and then select a ticket number, he should be able to click on pre conditions and see the security code. But it does not show. Instead he has to save the ticket and then click print which is where he would be able to see it. It only shows up during print.

Customer: Sajid | Capital Solutions

[2016-11-17 16:09] HafizAnas commented on #87
@Repair-Desk
For now, Admin can view Payroll report of all employees but employees will be able to view only their reports.

[2016-11-17 17:45] HafizAnas commented on #65
@muhammadfayyaz3
Please have a look above feedback and screenshot

[2016-11-18 06:53] Repair-Desk commented on #113
@Fazal-RepairDesk Can you share screenshot for better understanding?

[2016-11-18 06:58] Repair-Desk opened #114 "Post Device Repair Condition -"
When you save post device repair condition and hit save nothing happens.

![firstcall velachery view ticket](https://cloud.githubusercontent.com/assets/21986026/20421533/5b1c5c10-ad86-11e6-8917-8874b1a9cd8c.png)

[2016-11-18 12:46] #102 closed

[2016-11-18 12:48] #72 closed

[2016-11-18 15:14] #65 closed

[2016-11-18 15:24] #110 closed

[2016-11-18 15:31] #47 closed

[2016-11-18 15:35] #87 closed

[2016-11-18 15:59] HafizAnas commented on #75
@Fazal-RepairDesk
I have reviewed it again, it's working fine now.

[2016-11-18 16:00] #75 closed

[2016-11-18 16:29] HafizAnas commented on #112
Hi @simardm
we have updated repair booking widget and your reported issue has been fixed as well.
Please confirm at your end and do let us know if you have any question.

[2016-11-18 16:29] #112 closed

[2016-11-18 20:22] simardm commented on #112
Same problem still...

![prix eureka mobile reparation et deverrouillage d appareils mobiles au quebec](https://cloud.githubusercontent.com/assets/23082016/20445351/c2ca3316-ada2-11e6-98cc-054b814112b4.png)

[2016-11-19 00:48] afrahm opened #115 "Popup to create invoice on ticket has OK/Cancel instead of Yes/No"
When you save a ticket that doesn't have an invoice, it asks if you want to create one. The popup has two buttons (OK or Cancel). These should be Yes or No, as it is sometimes a little confusing for staff.

<img width="588" alt="screen shot 2016-11-19 at 10 46 05 am" src="https://cloud.githubusercontent.com/assets/1414304/20451493/b36845fe-ae45-11e6-89e8-b5227ee7662a.png">

[2016-11-19 00:49] afrahm opened #116 "Edit Customer Button on Ticket says Email"
The button to edit customer details on a ticket currently says email, not edit.

<img width="723" alt="screen_shot_2016-11-19_at_10_45_52_am" src="https://cloud.githubusercontent.com/assets/1414304/20451518/01e07f76-ae46-11e6-9929-4754dba17b1c.png">

[2016-11-19 05:24] Repair-Desk commented on #7
@HafizAnas I can't seem to disable default ticket status.

[2016-11-19 05:25] Repair-Desk commented on #12
@hafeezshahid is it completed?

[2016-11-19 05:25] #12 closed

[2016-11-20 19:00] Repair-Desk opened #117 "Add part on ticket"
@HafizAnas Can you check following scenario

If charge tax on repair cost trigger is enabled.

On edit ticket page when I add a new part or change a part on repair in the ticket section will it accurately change the tax amount?

[2016-11-20 19:03] Repair-Desk commented on #105
@TechnologyTraders We apologize for inconvenience. At present RD doesn't allow you to edit default language.

[2016-11-20 19:03] #105 closed

[2016-11-20 19:10] Repair-Desk commented on #115
@afrahm Sorry for the confusion.

I believe you should use trigger under **settings << module configuration << tickets**  that stops you from creating repair ticket whenever it is updated **(see attached)**

![create invoice](https://cloud.githubusercontent.com/assets/21986026/20465432/c6ffdc3c-af7e-11e6-97c5-f819b3f52804.png)

[2016-11-20 19:10] #115 closed

[2016-11-20 19:11] Repair-Desk commented on #109
@muhammadfayyaz3 is it deployed on live?

[2016-11-20 19:12] Repair-Desk commented on #104
@muhammadfayyaz3 have you made any progress on this one?

[2016-11-20 19:13] Repair-Desk commented on #101
@Uzair-RepairDesk can you prepare a quick FS document before end of next week?

[2016-11-20 22:56] TechnologyTraders commented on #105
@Repair-Desk We know RD doesn't allow us to edit default languages, so when will this be fixed? Is it going to be fixed?

[2016-11-21 04:45] muhammadfayyaz3 commented on #99
@hafeezshahid can you replicate this issue your end.

[2016-11-21 05:11] Uzair-RepairDesk opened #118 "Offline Credit Card Option should be in the list of Payment Methods"
@muhammadfayyaz3
We updated the concern of offline credit card option, however from that update few customers are not able to view "Offline Credit Card" option in the Payment Method and Checkout list.
Can you please execute a query to check where its missing and make sure its should be display in the payment method list and checkout page as well.
Please make sure that it should not be duplicated.

[2016-11-21 05:39] HafizAnas commented on #117
When I change Tax class of part on Ticket edit page, System display NaN against Tax and Cost field, where as it should be amount in figure.

![tax-nan](https://cloud.githubusercontent.com/assets/22954115/20471836/a1a2bf7e-afd6-11e6-9729-6952d112a753.png)

[2016-11-21 06:19] muhammadfayyaz3 commented on #118
@Uzair-RepairDesk All done

[2016-11-21 06:22] quangc opened #119 "Cannot order PO"
PO is not sorted. It used to sort from latest to oldest. but now it doesn't sort. It's very hard to find the PO now. Can you check this issue.

![screen shot 2016-11-21 at 5 19 28 pm](https://cloud.githubusercontent.com/assets/22993605/20472550/bc1fabe0-b00e-11e6-9950-29321bb0c668.png)

[2016-11-21 06:34] HafizAnas commented on #119
Hi @quangc
Sorry for inconvenience, Let me check at our end.

[2016-11-21 06:40] HafizAnas commented on #119
Hi @quangc,
your reported issue has been fixed. Please confirm at your end and do let me know if youstill have any question.

[2016-11-21 07:18] afrahm commented on #115
OK thanks. So that will stop that popup?

Even still it should say Yes/No not OK/Cancel

[2016-11-21 07:37] HafizAnas commented on #114
@Repair-Desk
I have reviewed, it's working fine and I am not able to reproduce it. Please have a look attach screenshots.

![post-condition1](https://cloud.githubusercontent.com/assets/22954115/20474157/fcc54e70-afe6-11e6-8c5e-d54c43ffafe2.png)

![post-condition2](https://cloud.githubusercontent.com/assets/22954115/20474174/1068fa3a-afe7-11e6-8dc3-b92a0b1955de.png)

![post-condition3](https://clou

[2016-11-21 07:57] HafizAnas commented on #52
@imiamran @aishahanif
Please have a look attached screenshots for more understanding.

![add-item1](https://cloud.githubusercontent.com/assets/22954115/20474729/e373476c-afe9-11e6-808b-71869fa07c84.png)

![add-item2](https://cloud.githubusercontent.com/assets/22954115/20474735/eb3c82ec-afe9-11e6-92f5-6ecda3f82854.png)

[2016-11-21 07:58] #114 closed

[2016-11-21 07:58] Repair-Desk commented on #114
Thanks @HafizAnas its working now

[2016-11-21 07:59] Repair-Desk commented on #115
@afrahm That will certainly stop pop up.

[2016-11-21 10:20] Fazal-RepairDesk commented on #113
![sajid github](https://cloud.githubusercontent.com/assets/22954033/20478909/e805a54a-affd-11e6-9d4c-d4a62041c995.png)

[2016-11-21 10:20] Fazal-RepairDesk commented on #113
When Sajid create an estimate in pos, it shows up as an invoice and it shows the wrong tax. check invoice 003

[2016-11-22 04:28] itskamran opened #120 "Label not printing with barcode."
Upon creating a trade-in the label does not print with bar code automatically. If I manually print via printnode after the tradein is created then it prints with the barcode.

**- Capalaba Admin | Capalaba Store**

[2016-11-22 04:55] itskamran opened #121 "Remove Duplicate Customers"
We only have all these duplicates, if you remember, when editing a customer RD would create a duplicate. not anymore of course, but it needs to be cleaned ASAP.
**-Capalaba Admin | Capalaba Store**

[2016-11-22 04:59] itskamran opened #122 "Column 'Buyer First Name' are all blank"
I am clearing up duplicate customers. It’s a pain simple because it takes forever to search. Because RD does not show trade-ins when viewing customer I have exported all my trade-ins to make sure I don't delete the wrong customer.. to only find out that for some reason the column 'Buyer First Name' are all blank.

**- Capalaba Admin | Capalaba Store**

[2016-11-22 05:06] itskamran opened #123 "RD does not show the number of trade-ins when viewing a customer"
RD does not show the number of trade-ins when viewing a customer, any customer. It shows the headings: Total, Repairs, Unlocks, Accessories & Parts, Casual, and Trade-in. _**But it does not show us if there are any trade-ins by that customer. It just shows up as 0.**_

**Capalaba Admin | Capalaba Store**

[2016-11-22 06:24] Uzair-RepairDesk commented on #120
@HafizAnas
Can you please confirm this from Sir @imiamran and test it from Cabalaba account. If issue persists please assign it to sir imran to get it fixed.

[2016-11-22 06:25] Uzair-RepairDesk commented on #123
We need screenshot for this to proceed. I have asked them on Intercom

[2016-11-22 10:21] Uzair-RepairDesk commented on #123
Its working fine. Enhancement needed to also view the trade in value for a customer who sell the device. Customer is updated on Intercom that he can share the idea on user community page and we can deal it once we update customers module.

[2016-11-22 10:21] #123 closed

[2016-11-22 10:47] Uzair-RepairDesk opened #124 "VAT Tax issues on previous Invoices"
Dear Sir @imiamran
One of our customer Peter from "Foxfones Repairs" reported the following issues:-
1: If order is open from the previous invoice "2320", the price of "iPad Mini Digitiser replacement is "84.99" but somehow it displays price "85" (Please check with Miss @aishahanif is this issue is because of rounding issues.
2: The same item is tax inclusive item, it i change the price of item, i

[2016-11-23 05:25] itskamran opened #125 "CSV Import"
we should allow import via excel

[2016-11-23 05:44] #122 closed

[2016-11-23 05:48] #116 closed

[2016-11-23 05:52] #109 closed

[2016-11-23 05:59] #100 closed

[2016-11-23 06:15] #49 closed

[2016-11-23 06:23] #25 closed

[2016-11-24 02:21] afrahm opened #126 "Allow automated email to be sent out 2-3 days after repair is collected"
This would allow us to checkin with the customer to ensure that their device is running as expected. We also have a monthly insurance style product that I want to offer them in this email. Or offer referral bonus' etc.

[2016-11-24 06:46] Uzair-RepairDesk commented on #120
@HafizAnas
Customer has given approval to use his account . You can test this one with Sir @imiamran  in our 2nd half (after the business hours of Australia)

[2016-11-25 01:29] quangc opened #127 "PO Not Sorted"
Hi team, the PO are still not sorted. We brought this issue up a few days ago, it was said to be resolved. But it still occur at the moment. Please review this issue
![screen shot 2016-11-21 at 5 19 28 pm](https://cloud.githubusercontent.com/assets/22993605/20612130/c7dbd874-b30a-11e6-91d2-3105c75c97d4.png)

[2016-11-25 02:23] Repair-Desk commented on #127
@quangc can you elaborate

[2016-11-25 03:53] quangc commented on #127
The Purchase Order Screen used to display in descending order with the newest order come first. But lately, it doesnt. It doesn't display based on any order. There is no sorting function as well so the PO screen display everything randomly
![screen shot 2016-11-25 at 2 46 47 pm](https://cloud.githubusercontent.com/assets/22993605/20614063/468aaf98-b31e-11e6-9e12-67626fa96e47.png)

[2016-11-25 12:39] #104 closed

[2016-11-25 12:42] #118 closed

[2016-11-25 13:52] Uzair-RepairDesk commented on #104
@afrahm
We have added cancel button on creating GRN. Please review at your end.
Regarding delete GRN functionality, its not possible to give the option because its dependent on PO and inventory is also updated against GRN.
I hope it helps

[2016-11-26 04:56] quangc opened #128 "POS Repair Price"
On POS screen, Repair price cannot be change.
For example, in this case we set the price to be $180
![price](https://cloud.githubusercontent.com/assets/22993605/20638109/85e2f358-b3f0-11e6-995d-8154066c6952.png)
but then, it doesn't use that price but change back to the original price which is $120
![price 2](https://cloud.githubusercontent.com/assets/22993605/20638118/ad585ad6-b3f0-11e6-8130-6ffa

[2016-11-26 23:03] iCellsouthcity opened #129 "Unable to scan/type in job number tickets on the POS system"
![image](https://cloud.githubusercontent.com/assets/23712887/20644439/1ebc5fd0-b499-11e6-801c-96450be60072.png)

When we scan the ticket on the POS system it come up with the following message as in the screenshot, this really needs to be fixed fast because when customer buy accessories at the same time they do a repair we have to go into the ticket and add the items from there which is time consu

[2016-11-26 23:24] iCellsouthcity commented on #99
When you go into reports, even though we have entered the cost price for items. Some items does not show the cost price Eg: Invoice ID 3655 and invoice ID 3708
![image](https://cloud.githubusercontent.com/assets/23712887/20644542/74bdcef2-b49c-11e6-9c33-15d332bd82e1.png)

[2016-11-26 23:41] iCellsouthcity commented on #99
![image](https://cloud.githubusercontent.com/assets/23712887/20644583/b783abf6-b49e-11e6-9baa-b68be602d5a2.png)

The system gets the sale prices wrong which is affecting the profit for that particular product for Eg: Invoice ID 3652
The sale price is $113.04   Cost price is $45.00 (which is correct)  and GST is $14.74  Profit = $53.30

but actually the prices should have been

The sale price is $1

[2016-11-27 13:29] Repair-Desk commented on #129
@iCellsouthcity We apologize for inconvenience. I will ask one of our developer to look into this.

In the meantime you can manually enter Ticket ID, add accessories to order and checkout.

[2016-11-27 13:29] Repair-Desk commented on #129
@HafizAnas Can you please look into this

[2016-11-27 13:32] Repair-Desk commented on #128
**Hi @quangc**

We sincerely apologize for inconvenience. We believe the issue has been fixed already. Please log out, clear browser cache and try again.

Please do let us know if the error persist.

[2016-11-27 13:33] #128 closed

[2016-11-27 13:40] quangc commented on #119
This closed issue has been reappeared again, please fix it as last time?

[2016-11-27 20:27] iCellsouthcity commented on #129
Thanks the problem is sorted! 👍

[2016-11-28 01:38] quangc opened #130 "PO Received"
Purchase Order cannot fully received. When i clicked on Received status, it generate GRN. I checked all items on GRN and click received. But PO status show Partially Received, when it should be Received. Please review this issue.

[2016-11-28 04:44] #129 closed

[2016-11-28 04:44] Repair-Desk commented on #129
@iCellsouthcity Glad its working for you now!!

[2016-11-28 04:47] HafizAnas commented on #119
Hi @quangc
Sorry for inconvenience, Let me check and revert back to you.

[2016-11-28 04:51] HafizAnas commented on #130
Hi @quangc
Sorry for inconvenience, Let me check at our end and revert back to you.

[2016-11-28 09:52] RichieRichNZ commented on #7
I would also like to see this done. I only use a third of the defaults and would rather remove the ones we dont need. Would also be good to modify the colours of the defaults as well.

[2016-11-28 12:04] HafizAnas commented on #130
Hi @quangc

I have reviewed at my end and I am not able to reproduce this issue. Please can you share screenshot/small video or steps with us so we can track this issue.

Thanks!

[2016-11-28 12:10] HafizAnas commented on #127
Hi @quangc
I am really sorry for this trouble again. we will fix this issue asap

[2016-11-28 12:51] Uzair-RepairDesk commented on #127
Hey @quangc
Your reported issue has been fixed. Please verify at your end. Thanks

[2016-11-29 00:08] #127 closed

[2016-11-29 07:27] imiamran commented on #117
we added this functionality on on POS . it will not changed overall ticket tax if changed from parts

[2016-11-29 09:17] phonefix opened #131 "Category view in Accessories"
If we add an item to a specific category and select only one model from the list, in POS it actually displays all the models as if they have items available in them instead of just the one model "i.e iPhone 6"

[2016-11-29 11:08] quangc commented on #130
Will upload screenshot soon and more explain into this one.

[2016-11-29 11:24] Uzair-RepairDesk commented on #124
@HafizAnas
Once you review this on staging server please make sure that you also review this same issue with following scenario:-
"If we change the value to Zero (because we may not want to charge the customer) it calculates VAT amount of £4 or £5 something like that"

[2016-11-29 11:39] foxfones commented on #124
Please also check that when putting a zero value in that there is no VAT calulated

[2016-11-30 04:18] Repair-Desk opened #132 "Issue with purchase order & GRN"
When you mark the purchase order as received via GRN it automatically marks them as paid.

[2016-11-30 04:19] afrahm opened #133 "Set Date range for Sale Price"
Have a date range for sale price so that you can set a particular part/accessory/repair to be on sale only between certain dates and then it automatically reverts back to the retail price outside of those dates.

[2016-11-30 04:19] Repair-Desk commented on #83
@HafizAnas any update on this one?

[2016-11-30 05:27] iCellsouthcity opened #134 "Unable to process payments when tickets are imported from another branch if they have the same ticket ID"
![new](https://cloud.githubusercontent.com/assets/23712887/20740719/54a68d9e-b72a-11e6-8a2c-4cb9c66de5ed.jpg)

![image](https://cloud.githubusercontent.com/assets/23712887/20740690/06bb0fb0-b72a-11e6-923d-5143e332f0a9.png)

When we import a repair ticket from another branch and if we have the same job number for another job that was booked under our branch we can not process the payment for the jo

[2016-11-30 05:49] iCellsouthcity opened #135 "Total Prices for products not been set right by the system."
![new](https://cloud.githubusercontent.com/assets/23712887/20741038/881a76de-b72c-11e6-84dc-2fbfc0f0ea29.jpg)

Our retail price for a screen is $130.00 and the system as you can see on the ticket above is say that its $98.30 and if we add the GST amount the system say which is $14.74 this will make the total price for the screen repair $98.30+$14.74 = $113.04
Where as it should have been Screen pr

[2016-11-30 06:03] iCellsouthcity opened #136 "The price for repair changes once we edit signature after creating the job."
![new](https://cloud.githubusercontent.com/assets/23712887/20741441/096c4486-b72f-11e6-94a5-16b44bca3ce9.jpg)

![new](https://cloud.githubusercontent.com/assets/23712887/20741462/2a2f3228-b72f-11e6-8f0b-397edf005aae.jpg)

Once we have created a job on the POS system and if we need to edit the customer signature the ticket changes the repair prices as soon as the customer enters the signature. So i

[2016-11-30 06:17] iCellsouthcity opened #137 "Unable to edit discount on total bill if we edit discount per product."
![new](https://cloud.githubusercontent.com/assets/23712887/20741727/fd4c9910-b730-11e6-9bed-46e3b19830d0.jpg)

![new](https://cloud.githubusercontent.com/assets/23712887/20741769/2d30e8de-b731-11e6-8237-f92c1ff71a8b.jpg)

When add a discount to the total bill and then if we have to give more discount just for an individual product the discount that we gave for the total bill disappears. When we ha

[2016-11-30 06:32] iCellsouthcity opened #138 "Unable to do partial refund."
Unable to do partial refund. Not a major problem as we are not doing refunds all them time but plz do look into it when you have time.

[2016-11-30 10:11] HafizAnas commented on #99
Hi @iCellsouthcity Thanks for sharing screenshots with us.

[2016-11-30 10:12] HafizAnas commented on #99
@muhammadfayyaz3
Please fix the above issue asap. @iCellsouthcity  has shared screenshots and description as well.

[2016-11-30 16:13] foneworkshop opened #139 "Not Closing Tickets"
Still having problems where tickets are not "Repaired and collected" when payment has been taken

i have pages of "PINK" tickets that need to be resolved

[2016-11-30 17:48] HafizAnas commented on #132
@Repair-Desk
I have reviewed, Currently it  working according to this scenario. if I mark purchase order as received via GRN it doesn't mark them as paid. I have to add payment through action button to change status unpaid to paid or partial.

[2016-12-01 04:44] HafizAnas commented on #134
Hi @iCellsouthcity,
Sorry for Inconvenience. Let me check at our end and revert back to you soon.

[2016-12-01 04:50] HafizAnas commented on #135
Hi @iCellsouthcity,
Sorry for Inconvenience. Let me check at our end and revert back to you soon.

[2016-12-01 05:01] HafizAnas commented on #137
Hi @iCellsouthcity,
Sorry for Inconvenience. Currently our system support only one discount type at a time, either you can give overall discount or Inline discount.
Like once you give over all discount then you are not able to give individual discount against specific item.

[2016-12-01 05:15] HafizAnas commented on #138
Hi @iCellsouthcity
Currently, Our system is not dealing with partial refund and it only allows you to do overall refund but I will add your suggestion for enhancement.

 Scenario currently dealing with Refund
Suppose you sold out more than one item against one Invoice and customer want to returns/refund one of them against this invoice. you can do that but if you make invoice for $100 and wants to

[2016-12-01 05:17] HafizAnas commented on #139
Hi @iCellsouthcity,
Sorry for Inconvenience. Let me check at our end and revert back to you soon.

[2016-12-01 05:23] HafizAnas commented on #133
@Repair-Desk  Please look into this.

[2016-12-01 05:44] Repair-Desk commented on #134
@iCellsouthcity

We are sorry about processing payment issue.

You might be facing this issue because **Ticket ID** needs to be unique among all stores. To avoid this issue I would recommend you to update ticket number initial i.e. C-101 or I-101 for all locations.

**Here is a guide on how you can update ticket ID:** **https://repairdesk.uservoice.com/knowledgebase/articles/922107-how-do-i-change

[2016-12-01 05:45] #137 closed

[2016-12-01 05:51] Repair-Desk commented on #136
@iCellsouthcity

I'm sorry about issue with the price. While we are working on fixing this issue you can use customer facing display integration tp display order details & save customer’s signature on a work order using an iPAD.

You can check out how you can setup customer facing display at the link here:
**https://repairdesk.uservoice.com/knowledgebase/articles/1102397-how-to-configure-customer-

[2016-12-01 05:54] Repair-Desk commented on #133
@afrahm

Thanks for using our app!

We haven’t added a date range feature that allow you to set sale price only between certain dates into RepairDesk yet. But I think that’s an awesome idea! Having it would definitely improve your daily workflow.

We’re not working on that at the moment but I’ll pitch it to the team and see what they think.

If you have any other questions, just let me know and I’

[2016-12-01 06:49] Jamal-repairdesk opened #140 "Payroll date range feature"
One of our client **Reece Baldwin from Elite Repairs** wants to add payroll feature in Repair Desk that allow administrator to mark time sheet as paid between certain dates.

His employees get payed on Friday and he would like to start the new week on Saturday.

[2016-12-01 12:31] HafizAnas commented on #131
@aishahanif  Please have a look this issue and fix it asap.

[2016-12-02 03:44] quangc commented on #70
Just get back to this issue since we have the reason that we will need to have different prices for the same item. Please see the below screenshot. We serialised our inventory in a way to  optimise the database so we have created one item as iPhone 6 and inside the serials, we then distinct the Capacity, Colour, Conditions, etc. So the prices are different if the Capacity is different, for example

[2016-12-02 03:47] quangc commented on #138
Load the invoice back into POS and then delete individual item before processing to check out. This may go around for this to be done. I guess.

[2016-12-02 10:56] Uzair-RepairDesk commented on #111
Email is sent to store email address when new lead is created. if email is not coming, please change store email address from store setting

[2016-12-02 10:56] #111 closed

[2016-12-03 04:51] Repair-Desk opened #141 "Add Previous Or Next Item Button"
It would be super duper incredibly useful if when I go in to edit a part or repair, next to the 'save' button there is a 'previous item' and 'next item' option, instead of going back to the original screen and having to remember which parts I edited already.

[wish+list+repair+desk.pdf](https://github.com/Repair-DeskPOS/RepairDesk-Bugs/files/657925/wish.list.repair.desk.pdf)

**Customer: Matrix Mo

[2016-12-04 01:49] iCellsouthcity opened #142 "System not recognizing the bar codes for some products."
![1](https://cloud.githubusercontent.com/assets/23712887/20863465/f7436e8e-ba2f-11e6-92c9-f4b694840e6c.jpg)

![2](https://cloud.githubusercontent.com/assets/23712887/20863482/267030e8-ba30-11e6-863a-1678a4d1060b.jpg)

When we scan some items on POS the system does not recognize the bar-code even though its been correctly entered in the inventory and the following error message pops up.

[2016-12-05 02:59] Repair-Desk commented on #142
@HafizAnas Can you check this at your convenience?

[2016-12-05 03:20] Repair-Desk commented on #142
@iCellsouthcity

**Show on POS** trigger was switched off which stopped the item to display on POS.

![trigger](https://cloud.githubusercontent.com/assets/21986026/20872823/8ef9a642-bac3-11e6-96fb-340e50b2eb5d.png)

[2016-12-05 03:21] Repair-Desk commented on #139
@Uzair-RepairDesk can you reach out to client today and do screenshare to see why its happening?

Thanks

[2016-12-05 03:23] Repair-Desk commented on #142
@HafizAnas if the trigger is disabled and if you search for a product admin should still be able to add this line item to register

[2016-12-05 07:47] Uzair-RepairDesk commented on #139
I have contacted Ian @foneworkshop him on Facebook and requested him to add me over Skype so I can give him a call

[2016-12-06 01:43] RepairDeskPOS opened #143 "Email invoice / receipt on POS"
When you create repair ticket or hit checkout it would be great if you have a button that says email invoice which opens up a pop up window to enter customer email and notes (just like invoice section)

![email](https://cloud.githubusercontent.com/assets/21986026/21050736/4e38d06e-be3e-11e6-9d13-b95b8edadc9b.png)

[2016-12-06 01:45] RepairDeskPOS opened #144 "HTML Issue"
Hey. Could you ask them to fix the issue when entering customer info that when you press tab it goes down to number instead of last name. I have seen other request this as well and it should be super easy and fast to fix. It is just very annoying to have to go click on last name instead of being able to tab over to last name after entering first name.

[2016-12-06 02:43] RepairDeskPOS opened #145 "Issue with commission"
There seems to be an issue when you add accessories from the ticket menu instead of pos that it doesn't give commission can you have them fix this as well?

Customer - Jeff (The smartphone medics)

[2016-12-06 05:03] jeffsand8243 commented on #120
I have same issue and I have to save the trade in twice before it prints

[2016-12-06 05:06] jeffsand8243 opened #146 "Search function for repairs or parts/accessories not working"
When you try to search for a keyword it doesn't do anything when searching repairs or parts or accessories.

[2016-12-06 05:08] jeffsand8243 opened #147 "System gets slow and freezes and crashes"
Please make software faster and more reliable

[2016-12-06 05:11] jeffsand8243 opened #148 "Stock report shows things that have not reached stock warning"
Please make the stock report only show items that need to be ordered and have reached the stock warning level or below not just things that are not fully stocked

[2016-12-06 05:12] jeffsand8243 opened #149 "Auto log out employee when they clock out"

[2016-12-06 05:16] jeffsand8243 opened #150 "Fix issue with a search resetting every time you edit or delete a listing"
On payroll and in inventory search when you enter specific search criteria and pull up results when you edit any of the search results or delete a listing it returns you to the unfiltered presearch starting point. This is very time consuming and annoying when you need to edit several things in the same search field and you have to reser the search criteria after ever change to an item or employee.

[2016-12-06 05:21] jeffsand8243 opened #151 "Add current profit calculation display to each ticket"
Other repair softwares have a sidebar next to each ticket internal view that shows cost total and profit. That would be nice so we can make sure each ticket is making a good profit.

[2016-12-06 05:25] jeffsand8243 commented on #102
When will this gonlive?

[2016-12-06 05:31] jeffsand8243 opened #152 "Integrate payroll with quickbooks payroll"
Or add ability to show a weekly or bieeekly payroll hours summery for all employees on one sheet so we can quickly see total hours for the pay period for all employees at once to be able to pay them quickly

[2016-12-06 05:33] jeffsand8243 opened #153 "Make employees have to login with pin before use"
Have system auto log out employees after a few minutes of inactivity and have a pop up screen that forces them to login with pin before using software again so no one can use the software using another employees login or name and it will show who does what in the software.

[2016-12-06 11:52] Uzair-RepairDesk commented on #124
Peter @foxfones
Your reported issue has been fixed. if you change the price on previous invoice with Tax (VAT) inclusive item. It doesn't make it exclusive now and its also working fine in case of 0 value.

Please review at your end. Please do let me know if further assistance required. Thanks

[2016-12-06 11:52] #124 closed

[2016-12-06 12:22] Uzair-RepairDesk commented on #48
@TechnologyTraders
The above reported issue has been fixed and live now. Please review at your end and do let me know if further assistance required. Thanks

[2016-12-06 12:22] #48 closed

[2016-12-06 12:26] Uzair-RepairDesk commented on #92
As discussed with anas, all the possible optimizations have been completed by imran. Task will be closed now. Thanks

[2016-12-06 12:26] #92 closed

[2016-12-06 12:52] Uzair-RepairDesk commented on #83
According to Mam Aisha, Issue has been fixed and working fine on live

[2016-12-06 12:52] #83 closed

[2016-12-06 14:41] #132 closed

[2016-12-07 03:58] jeffsand8243 opened #154 "tax is being applied to cost of parts when calculating store cost and profit in reports"
tax on part should not be added to my cost when calculating totals in reports.  tax should only be applied to a part that is bundled with a repair or if customer is purchasing.  we don't pay tax on parts so that is not part of our cost.  it is only paid by customer and therefore should only show up on pos for customer not on my summary sales reports raising the cost of all of my parts.

[2016-12-09 13:19] Repair-Desk opened #155 "Automatic Email"
@HafizAnas  Software does not automatically send confirmation email to customer when you create ticket through POS

[2016-12-09 13:25] Repair-Desk opened #156 "IMEI / Serial number character length ON POS & tickets page"
Cannot input long serial numbers as there is a limit on characters. Some desktop computers has serial number that is greater than 15 digit.

![imei](https://cloud.githubusercontent.com/assets/21986026/21050475/ba78b1e2-be3c-11e6-8552-75b030fe678a.png)

[2016-12-09 13:29] Repair-Desk opened #157 "Unable to enlarge uploaded pre/post repair images"
We cannot enlarge uploaded pictures which is very important for warranty checks

![enlarge image](https://cloud.githubusercontent.com/assets/21986026/21050594/682285ca-be3d-11e6-9225-54cdba045674.png)

[2016-12-09 13:31] Repair-Desk commented on #144
@itskamran can you ask sajjad to fix this one please

[2016-12-09 13:33] Repair-Desk commented on #143
@itskamran can we add this in December release

[2016-12-09 13:38] Repair-Desk opened #158 "Create Job Report"
It would be good if Repair desk allows you to create job report, **including notes, pictures and device condition?**

[2016-12-09 13:42] Repair-Desk commented on #7
@itskamran can we get this done in December release?

[2016-12-09 13:43] Repair-Desk commented on #38
@itskamran once sajjad gets free can you have him develop this one?

[2016-12-09 13:46] #67 closed

[2016-12-09 13:47] Repair-Desk commented on #106
@itskamran can you have imran get it done in December release

[2016-12-09 13:51] Repair-Desk commented on #145
@HafizAnas can you check this one please?

[2016-12-09 13:53] Repair-Desk commented on #146
@jeffsand8243 can you elaborate this issue please. Perhaps share a screenshot with a product name example

At present keyword field allows you to search item by name.

[2016-12-09 13:54] Repair-Desk commented on #147
@jeffsand8243 We have recently updated RepairDesk database and optimize queries which has improved software speed.

FYI we will continue to improve software speed during the next 2 months so you can expect it to be faster and more reliable

[2016-12-09 13:54] #147 closed

[2016-12-09 15:03] Repair-Desk commented on #148
@jeffsand8243 The low stock report lists all products which are low on inventory based on minimum stock level defined against each product.

If current on hand inventory is above the product minimum level or the product has no minimum stock level set, it will not be displayed on the low stock report.

 A **reorder level** indicates that the item must be purchased where as to prevent outages **"sto

[2016-12-09 15:03] #148 closed

[2016-12-09 15:10] Repair-Desk commented on #153
@jeffsand8243 I believe you should enable this trigger **"Employee should enter access pin before each sale transaction"** here: https://app.repairdesk.co/index.php?r=config/pos

[2016-12-09 15:10] #153 closed

[2016-12-09 15:12] Repair-Desk commented on #152
Already on our roadmap: #140

[2016-12-09 15:15] Repair-Desk commented on #150
@itskamran  This is important. Can we look into this please?

[2016-12-09 15:17] Repair-Desk commented on #151
@jeffsand8243 I believe it will be a nice add-on. Do you know where should we display overall profit since a repair ticket can have multiple line items?

[2016-12-09 15:22] Repair-Desk commented on #151
@jeffsand8243 What are your thoughts on this:

![screenshot](https://cloud.githubusercontent.com/assets/21986026/21053883/27846a28-be4d-11e6-85e4-d5e76635fd20.png)

[2016-12-09 18:53] jeffsand8243 commented on #151
Hi. That looks good! Thanks for working on my ideas!

Thanks,
Jeff Sandridge
The Smartphone Medics
256-414-1199
www.TheSmartphoneMedics.com
7449 Highway 72 W. Suite D Madison, AL 35758

Locations

Madison (main location) -
7449 Hwy 72 between Nance Rd. and Jeff rd. across from the new Hobby Lobby (next to Valley pools and Whiskers barber shop) suite D

(Hours) 10-6pm weekdays,
10-3pm Saturday. Clo

[2016-12-09 18:58] jeffsand8243 commented on #152
Great thank you!

Thanks,
Jeff Sandridge
The Smartphone Medics
256-414-1199
www.TheSmartphoneMedics.com
7449 Highway 72 W. Suite D Madison, AL 35758

Locations

Madison (main location) -
7449 Hwy 72 between Nance Rd. and Jeff rd. across from the new Hobby Lobby (next to Valley pools and Whiskers barber shop) suite D

(Hours) 10-6pm weekdays,
10-3pm Saturday. Closed Sunday

Huntsville (drop off loc

[2016-12-09 19:00] jeffsand8243 commented on #153
Hi. Yes. I do this already. And that is good for  ringing up customers. But I was thinking it would be better if this login box popped up automatically after a few minutes of inactivity so that everything that each employee does would be under their login instead of someone else's who was still logged in when the other user got on the computer. Do you understand?

Thanks,
Jeff Sandridge
The Smartp

[2016-12-09 19:03] jeffsand8243 commented on #148
Hi. It seems like this is backwards to me and I have seen that other users think the same as me. That the reorder level should be the total amount you want to have in stock and the stock warning should show red when an item is at or below the warning level. But that is just my opinion.

Thanks,
Jeff Sandridge
The Smartphone Medics
256-414-1199
www.TheSmartphoneMedics.com
7449 Highway 72 W. Suite D

[2016-12-09 19:04] jeffsand8243 commented on #147
Ok sounds good! Glad you guys are working hard on it! Keep up the good work!

Thanks,
Jeff Sandridge
The Smartphone Medics
256-414-1199
www.TheSmartphoneMedics.com
7449 Highway 72 W. Suite D Madison, AL 35758

Locations

Madison (main location) -
7449 Hwy 72 between Nance Rd. and Jeff rd. across from the new Hobby Lobby (next to Valley pools and Whiskers barber shop) suite D

(Hours) 10-6pm weekda

[2016-12-11 03:39] RepairDeskPOS opened #159 "Enter PIN After 5 Minutes Inactivity"
Maybe software should have a timer so if not in use after 5 minutes it goes into mode where u have to enter pin??

Admin should be able to setup session duration

Also if someone close browser and re-open RepairDesk on new window it should show same window or ask them to login again

[2016-12-11 03:43] RepairDeskPOS commented on #153
Thanks for your feedback and we have added it to our roadmap. You will be notified once its added to RepairDesk

[2016-12-11 03:44] ibroken commented on #153
Yes great idea
I would say even 60 sec of software not being used
As if your a manager and walk away from the pos it great to know that a sales rep can just go a view cost and or edit inventory..

[2016-12-11 03:45] RepairDeskPOS commented on #159
@ #153

[2016-12-11 14:21] jeffsand8243 commented on #153
60 second logout would be good

Thanks,
Jeff Sandridge
The Smartphone Medics
256-414-1199
www.TheSmartphoneMedics.com
7449 Highway 72 W. Suite D Madison, AL 35758

Locations

Madison (main location) -
7449 Hwy 72 between Nance Rd. and Jeff rd. across from the new Hobby Lobby (next to Valley pools and Whiskers barber shop) suite D

(Hours) 10-6pm weekdays,
10-3pm Saturday. Closed Sunday

Huntsville

[2016-12-12 05:10] Repair-Desk opened #160 "Import Inventory Issue"
When you import Repairs/Accessories CSV for the first time you have to go to each Manufacturer and enable trigger **"SHOW ON POS"** or the products doesn't appear on POS.

It should be done automatically as a lot of new customers doesn't know how it works.

Also if a manufacturer / device doesn't contain an item it doesn't allow you to delete it

[2016-12-12 05:43] Repair-Desk opened #161 "Minor Issue with accessories under POS"
If only one device has an accessory it still shows all device models which makes it hard to browse. Only Manufacturer or devices that has products should be displayed.

If possible please add search as well.

![pos](https://cloud.githubusercontent.com/assets/21986026/21089173/b64cba1a-c057-11e6-8afd-a8d6f667d2e1.png)

[2016-12-12 05:50] Repair-Desk commented on #120
@jeffsand8243 I believe the issue has been fixed. Can you double check on your end?

[2016-12-12 05:57] Repair-Desk opened #162 "De-activate Employee Account"
If you delete an employee account all tickets assigned to him are lost. It would be great they can de-activate employee account and that allows them to create a new account.

[2016-12-12 18:26] Repair-Desk opened #163 "Repair Tracker - Last Name In Arabic"
If you enter customer last name in Arabic to find repair ticket it doesn't work

[2016-12-13 06:53] Repair-Desk commented on #145
There seems to be a problem with commission. It seems to work properly when you ring up an accessory directly from POS

But if you add accessory to a ticket before or after creating the ticket it doesn't show in commission. Seems like the act of creating a ticket takes away the commission.

It seems to be putting the commission under my name instead of the employee maybe.

@HafizAnas can you check

[2016-12-13 07:03] Repair-Desk commented on #131
@imiamran can you take a look at this at your convenience

[2016-12-13 07:05] #161 closed

[2016-12-13 18:24] jeffsand8243 commented on #120
I believe it is fixed! Thank you!

Thanks,
Jeff Sandridge
The Smartphone Medics
256-414-1199
www.TheSmartphoneMedics.com
7449 Highway 72 W. Suite D Madison, AL 35758

Locations

Madison (main location) -
7449 Hwy 72 between Nance Rd. and Jeff rd. across from the new Hobby Lobby (next to Valley pools and Whiskers barber shop) suite D

(Hours) 10-6pm weekdays,
10-3pm Saturday. Closed Sunday

Huntsvi

[2016-12-14 04:07] TechnologyTraders opened #164 "PrintNode only prints one label for multiple devices on the same repair ticket"
RepairDesk only prints the 1st device label listed on the repair ticket. Even if we view the repair ticket and manually print via PrintNode it only prints the 1st device label. We then have to manually print through the PDF viewer and can only select one device at a time even though it offers a check box for all devices. Please fix this ASAP as it is a disruption to business.

[2016-12-15 04:58] Repair-Desk opened #165 "Accept Payment Via Stripe on Invoice"
Imran: There are a lot of customers who doesn't use POS section so there should be an option to accept payment via stripe on invoice section.

[2016-12-15 05:01] Repair-Desk opened #166 "Accept Payment Via PayPal (On POS)"
There should be an option that allows you to send PayPal payment request via email from POS section.

[2016-12-15 06:51] Repair-Desk commented on #101
@jeffsand8243 do you think this will suffice?

![mandatory](https://cloud.githubusercontent.com/assets/21986026/21214455/a5957dd0-c2bc-11e6-82ff-32300cff2933.png)

[2016-12-15 09:41] itskamran commented on #107
Issue has been resolved.

[2016-12-15 09:42] #107 closed

[2016-12-15 10:07] itskamran commented on #136
Dear @iCellsouthcity,

Issue has been resolved. Kindly check and let us know. Thanks

[2016-12-15 10:07] #136 closed

[2016-12-15 10:53] Uzair-RepairDesk commented on #89
Hi Andrew @afrahm
Our QA resource has checked your account in detail and he also checked invoices of 10 November.
Actually the system takes line total values from each invoice and sum up all the individual line total in "Location Sales by Item Type" report. If you give overall discount, it doesn't exclude it from Sales Value so total sales value may differ in case of "Location Sales by Item Type"

[2016-12-15 10:53] #89 closed

[2016-12-15 11:49] Repair-Desk opened #167 "Dedicated Triggers Page Under Module Configuration"
There should be a page where we should display all triggers by section.

**POS**

1- Hide unlocking tab - also if you hide it from POS it should be removed from other pages
2- Show bill payments

**Tickets**

1- Show tickets to all employees

**Invoice**

1- Employee cannot delete invoices

[2016-12-15 12:52] itskamran commented on #54
Dear Technology Traders,

Issue has been resolved, so kindly test at your end and let us know if there is any problem. Thanks

[2016-12-15 17:00] jeffsand8243 commented on #101
Yes that's should be good!

Thanks,
Jeff Sandridge
The Smartphone Medics
256-414-1199
www.TheSmartphoneMedics.com
7449 Highway 72 W. Suite D Madison, AL 35758

Locations

Madison (main location) -
7449 Hwy 72 between Nance Rd. and Jeff rd. across from the new Hobby Lobby (next to Valley pools and Whiskers barber shop) suite D

(Hours) 10-6pm weekdays,
10-3pm Saturday. Closed Sunday

Huntsville (dr

[2016-12-16 07:14] itskamran commented on #97
Issue has been resolved. Thanks

[2016-12-16 07:14] #97 closed

[2016-12-16 07:16] itskamran commented on #42
Dear @andrewg1639,

Issue has been resolved.

[2016-12-16 07:16] #42 closed

[2016-12-16 07:20] itskamran commented on #163
Issue has been resolved. Kindly check screenshot. Thanks

![fixtag 8 ticket](https://cloud.githubusercontent.com/assets/23633903/21254846/0c4b7854-c38a-11e6-8278-6fda5e248bd3.png)

[2016-12-16 07:20] #163 closed

[2016-12-16 07:50] itskamran commented on #52
Dear @TechnologyTraders,

Issue has been resolved. Thanks

[2016-12-16 07:50] #52 closed

[2016-12-16 08:05] itskamran commented on #135
Issue has been resolved. Thanks

[2016-12-16 08:05] #135 closed

[2016-12-16 08:50] Repair-Desk commented on #163
@itskamran @HafizAnas

Can you also check on **Repair Tracker** (see attached)

![image](https://cloud.githubusercontent.com/assets/21986026/21256849/8d147cae-c396-11e6-8334-84c1639bcbdf.png)

[2016-12-16 08:52] Repair-Desk commented on #119
@HafizAnas what's the status on this one?

[2016-12-16 09:23] Repair-Desk opened #168 "Update Clock In / Out Issue"
Dear Kamran

Can you ask fayyaz to check this issue.

It doesn't show update Clock In / Out button. Please fix it asap

**Reported by Jeff "the smartphone medics" Andrew "kixup repair"**

**Here is the screenshot:**

![image](https://cloud.githubusercontent.com/assets/21986026/21257680/39b632d2-c39b-11e6-9ec6-1e02da7ae1ee.png)

[2016-12-16 09:24] #120 closed

[2016-12-16 09:25] itskamran commented on #119
Issue has been resolved. Thanks

[2016-12-16 09:25] #119 closed

[2016-12-16 09:32] itskamran commented on #117
Issue has been resolved. Thanks

[2016-12-16 09:32] #117 closed

[2016-12-16 09:43] itskamran commented on #99
Dear @iCellsouthcity, Issue has been resolved, Kindly check and let us know if problem still presist. Thanks

[2016-12-16 09:43] #99 closed

[2016-12-16 09:45] itskamran commented on #93
Resolved. Thanks

[2016-12-16 09:45] #93 closed

[2016-12-16 10:33] itskamran commented on #155
It is working fine. Thanks

[2016-12-16 10:33] #155 closed

[2016-12-16 12:06] quangc opened #169 "Commissions for other types"
We will need to set commissions for other types not only default types in the system. We have higher margins of other things that we sell and we want to have ability to pass on some comms to our staffs.

[2016-12-16 12:28] muhammadfayyaz3 commented on #168
Issue Fixed

[2016-12-16 12:36] HafizAnas commented on #168
@Repair-Desk
Your reported issue has been fixed.

[2016-12-16 12:58] #168 closed

[2016-12-16 17:49] RepairDeskPOS commented on #169
@quangc have you checked this knowledgebase article: https://repairdesk.uservoice.com/knowledgebase/articles/895878-how-can-i-setup-employee-commission

[2016-12-16 18:14] Repair-Desk opened #170 "Select Product Type - HTML Issue"
Product Type **_Pop-up window_** should be centrally aligned. Please ask sajjad to fix it.

![image](https://cloud.githubusercontent.com/assets/21986026/21273431/6317a90e-c3e5-11e6-9e74-a1fd474b50e6.png)

[2016-12-16 18:22] Repair-Desk opened #171 "Add Product Type On POS"
On POS we should add product type to improve check in workflow.

Admin can add new product type or disable/edit existing type _**i.e. mobile, tablet, etc**_

If someone doesn't want to keep workflow simple he can disable it via trigger.

![pos-category-images](https://cloud.githubusercontent.com/assets/21986026/21273668/6e2493b0-c3e6-11e6-816f-787713e4276c.jpg)

[2016-12-16 18:33] Repair-Desk commented on #145
@HafizAnas can you check this one once you get a chance?

[2016-12-16 18:35] Repair-Desk commented on #142
@itskamran can you assign it to imran so he can fix?

[2016-12-16 18:43] Repair-Desk commented on #108
@HafizAnas @itskamran what's the progress on this one?

[2016-12-16 18:44] Repair-Desk commented on #84
@HafizAnas @itskamran please advise updated status?

[2016-12-17 04:46] RepairDeskPOS opened #172 "Partial Refund"
We should add an option for partial refund.

Let's say customer buys 3 cases on one invoice how do I just return and refund just one or how about restocking fee like a 15% restocking fee

[2016-12-17 04:48] ibroken commented on #172
Yes please
Some companies may have a restocking fee for cases and such
Or many other situations where we may not want to refund full invoice amount

[2016-12-18 17:22] Repair-Desk opened #173 "Language Editor - Issue With English"
At present you cannot edit & save English language. A lot of customer has requested this feature as it was possible to edit before.

Please ask imran if he can find a solution.

![Uploading Edit Language.png…]()

[2016-12-19 02:09] quangc opened #174 "Ticket shows as Completed but not all the jobs are done"
Hi Team, please see the attached photos for the issue.

There is one job is waiting for part but the Ticket is showing as Completed, so we will not know if this ticket is overdue by looking at its status. Please look into this.

![issue with ticket](https://cloud.githubusercontent.com/assets/22993605/21299094/673a1ec8-c5ec-11e6-9b5e-5e02a9cb0afe.jpg)

[2016-12-19 06:13] itskamran commented on #84
@Repair-Desk It is complete, tommorow miss aishe will upload it. Thanks

[2016-12-19 06:15] itskamran commented on #108
@Repair-Desk It is to be discussed between development team tommorow and than it will be finished on priority basis. Thanks

[2016-12-19 06:16] itskamran commented on #142
@Repair-Desk Already assigned to imran for tommorow. Thanks

[2016-12-20 08:43] itskamran commented on #54
Dear @TechnologyTraders,

Mentioned issue is  working fine.
Kindly verify at your end and in case of any problem share the values against which you are facing rounding issue. Thanks

[2016-12-20 08:43] #54 closed

[2016-12-20 18:30] Repair-Desk opened #175 "Issue With Trade-In Deposits"
Had a phone for sale at £450.00. Sold it through the trade in section on RD but customer only gave me £20 deposit. When I do end of day it comes up as sold for the full amount on register sales and sales summary. Still shows I only took the £20.00 This means I would be looking for £430.00 when cashing up?

[2016-12-20 18:31] Repair-Desk commented on #175
@itskamran can you assign it to fayyaz

[2016-12-20 18:33] itskamran commented on #175
Dear @Repair-Desk , Assigned to fayaz here and on asana. Thanks

[2016-12-21 09:48] Uzair-RepairDesk commented on #171
@Fazal-RepairDesk is working on functionality specification document of this task @aishahanif @itskamran

[2016-12-21 11:06] Fazal-RepairDesk commented on #164
@TechnologyTraders
Just wanted to update you about the issue. We've verified from you account and it is working fine.

May be there is an issue with your printer which doesn't allow you to print 2nd page or there is some issue with its setting. But we have tested it twice and it's working fine by using our printers on your account.

The following labels are generated from your account on our print

[2016-12-22 13:08] Uzair-RepairDesk commented on #150
@jeffsand8243
If you apply search filter on inventory or services, pull up the results and update item/service. It doesn't return to unfiltered pre-search starting point. It keeps the search criteria same. Can you please check again at your end?
On Payroll and time sheet, it certainly needs to be updated and I will ask the development team to do the needful.

[2016-12-22 18:26] Repair-Desk opened #176 "Issue With French Language"
**Dear @itskamran**

One of our customer who translated the software in French is unable to create repair ticket because of special characters in it.

![sos phone pos](https://cloud.githubusercontent.com/assets/21986026/21435915/f41d8d62-c89d-11e6-8546-9845564f81e9.png)

You can check login details from intercom.

Please ask aisha or imran to fix it ASAP.

[2016-12-23 10:27] HafizAnas commented on #175
@Repair-Desk
we are not able to reproduce this issue at my end and we have also confirmed from client account it's working fine.

[2016-12-23 12:46] hafeezshahid commented on #176
Customer Update through e-mail.

[2016-12-23 12:46] #176 closed

[2016-12-23 13:08] Repair-Desk commented on #106
@itskamran what's the status on this one?

[2016-12-23 13:15] itskamran commented on #106
@Repair-Desk

It's working fine on Staging server and will be verifies again once mam Aisha Hanif make it live after 25.

[2016-12-24 04:24] Repair-Desk commented on #174
**@quangc** can you email us your login details at support@repairdesk.co

[2016-12-29 09:56] Repair-Desk commented on #7
Option to hide default ticket status has been added.

![how to disable default ticket status](https://cloud.githubusercontent.com/assets/21986026/21541281/e086741a-cdd6-11e6-9e54-6740650a9054.png)

[2016-12-29 09:56] #7 closed

[2016-12-29 10:03] Repair-Desk opened #177 "Select Serial Option - Create Ticket"
If you have created repair bundle it doesnt display select serial option on create ticket screen. Please have the developer add this option

![captura de pantalla 2016-12-29 a las 10 56 09](https://cloud.githubusercontent.com/assets/21986026/21541410/d4637308-cdd7-11e6-8f6b-9931f0ca17fd.png)

[2016-12-29 10:25] Repair-Desk opened #178 "Repair Tracker - Multi Store Location"
If a customer has multiple store location there should be an option on backend that also allows you to generate iFrame code which than automatically display all locations on his website

![multi location](https://cloud.githubusercontent.com/assets/21986026/21541771/e6ac87d6-cdda-11e6-86b2-a0d5a72a68ec.png)

[2016-12-29 10:28] Repair-Desk opened #179 "Email Reconciliation Report Option"
It would be nice if there was an option to receive daily reconciliation report via email. Admin should be able to specify email address where it should be sent.

![image](https://cloud.githubusercontent.com/assets/21986026/21541830/63ef55d4-cddb-11e6-947b-1574718c8bc0.png)

[2016-12-29 11:18] #170 closed

[2016-12-29 11:21] #175 closed

[2016-12-29 11:25] HafizAnas commented on #144
@RepairDeskPOS
Your reported issue has been fixed.

[2016-12-29 11:27] #144 closed

[2016-12-29 11:29] HafizAnas commented on #142
@iCellsouthcity
Your reported issue has been fixed. Kindly verify at your end and do let me know if you have any question.

[2016-12-29 11:29] #142 closed

[2016-12-29 11:42] HafizAnas commented on #163
@Repair-Desk
Your reported issue has been fixed.

[2016-12-29 11:45] HafizAnas commented on #106
@Repair-Desk
Your requested changes has been done.

[2016-12-29 11:46] #106 closed

[2016-12-29 11:48] HafizAnas commented on #84
@quangc

Your reported issue has been fixed. Kindly verify at your end do let us know if you have any question.

[2016-12-29 11:48] #84 closed

[2016-12-29 11:50] #164 closed

[2016-12-29 11:56] HafizAnas commented on #151
Hi @jeffsand8243

Your requested changes has been end. Kindly check at your end and do let us know if you have any question. I am going to close this ticket for now.

Thanks!

[2016-12-29 11:58] #151 closed

[2016-12-29 11:59] HafizAnas commented on #156
@Repair-Desk
Your requested changes has been done.

[2016-12-29 11:59] #156 closed

[2016-12-29 12:02] HafizAnas commented on #57
@simardm

 Your requested changes (Template Editor Mini Receipt for Trade In) has been done. Kindly check at your end and do let us know if you have any question. I am going to close ticket for now

[2016-12-29 12:03] #57 closed

[2016-12-29 12:07] HafizAnas commented on #174
@quangc

Your reported issue has been fixed. Kindly verify at your end and do let us know if you have any question.

Thanks

[2016-12-29 12:07] #174 closed

[2016-12-29 12:21] HafizAnas commented on #143
@RepairDeskPOS

Your requested changes has been done. kindly verify at your end.

[2016-12-29 12:22] #143 closed

[2016-12-30 06:27] HafizAnas commented on #157
@Repair-Desk
Your reported issue has been fixed.

[2016-12-30 06:28] #157 closed

[2016-12-30 18:26] smarttechrepair opened #180 "Print Docket Option On End Shift"
There should be an option to **print reconciliation report** on mini receipt that will which will also open cash register and assist employees with the counting

Sample:

No Sale

Schaumburg

Do, Peter

30 - December 12:31 PM

Cash on Hand: $100.00
Net Receipts: $0.00
![image](https://cloud.githubusercontent.com/assets/24845573/21570382/2521093c-ce8b-11e6-9f45-818ad9f83cc5.png)

[2016-12-30 18:35] smarttechrepair commented on #180
I've enabled bluefin but it doesn't display on end shift pop up window

[2016-12-31 01:55] quangc opened #181 "Invoice terms and conditions don't change"
Just found this issue yesterday. We are trying to change the default terms and conditions for Invoice (not Receipt), and the changes are not applied. I think there is a bug, please review below screenshots.

<img width="955" alt="screen shot 2016-12-31 at 12 49 55 pm" src="https://cloud.githubusercontent.com/assets/22993605/21575167/4a613492-cf58-11e6-848d-6c9aac425843.png">
<img width="814" alt="

[2017-01-01 07:54] quangc opened #182 "What setting for roles to access My Commissions?"
I'm working on role settings and cannot work out which settings will enable staff to see My Commissions, in the sense that they cannot access other settings.

At this stage, they will see access denied page.

[2017-01-02 09:52] luisvae opened #183 "Customer driving license tag on invoice template editor"
For legally working and issuing invoices in Spain, the customers ID number (customer driving license in Repair desk) must appear on the invoice. Otherwise it is illegal to issue invoices.
Please provide the tag customer driving license at the template editor.

[2017-01-02 11:55] Repair-Desk commented on #183
****Dear @itskamran****

Can you ask a developer to add a trigger that allows you to add customer driving license. If possible try to get this shipped in next bug release (10th Jan, 2017)

![add customer - repairdesk](https://cloud.githubusercontent.com/assets/21986026/21588810/1f7fdc14-d10c-11e6-9656-03f6c389a910.png)

[2017-01-03 05:54] itskamran commented on #183
Dear @Repair-Desk,

Assigned to developer. Soon we will have updates. Thanks

[2017-01-05 11:35] YAZE82 opened #184 "Organizatino"
Hi,

can you add Mr/Mrs / Company to the customer section

[2017-01-06 02:26] Repair-Desk commented on #180
Hi @smarttechrepair

We have started working on this issue and hopefully it will be released during next week.

[2017-01-06 11:57] HafizAnas commented on #108
Dear @muhammadfayyaz3
Issue has been fixed.

[2017-01-06 11:58] #108 closed

[2017-01-06 12:02] HafizAnas commented on #145
@RepairDeskPOS
Your reported issue has been fixed.

[2017-01-06 12:03] #145 closed

[2017-01-06 12:13] HafizAnas commented on #150
Hi @jeffsand8243,
your reported issue has been fixed. Kindly verify at your end and do let us know if you have any question.

[2017-01-06 12:13] #150 closed

[2017-01-06 18:02] smarttechrepair opened #185 "Payroll reports"
Should have a "view all" stores function when selecting the store locations during payroll reports.  Being able to view all store location's employees payroll times would be more convenient.

[2017-01-06 18:06] smarttechrepair opened #186 "Closing Cash Count Drawer Report Print"
When ending the store pos for the day, there should be a button so a summary report is printed through the receipt printer so the cash drawer can be opened and the currency counted and entered into the cash reconciliation screen.

[2017-01-09 06:33] Repair-Desk commented on #186
@smarttechrepair thanks alot for your feedback.

We will be releasing option to print out summary report before end of this week.

[2017-01-09 06:38] Repair-Desk opened #187 "Multiple Device Upload Via CSV (Accessories Section)"
Under accessories tab if you import csv that has multiple device i.e. **iPhone 6, iPhone 6s, iPhone 7, iPhone 7** plus it creates one item with multiple devices. which is wrong.

![multiple device](https://cloud.githubusercontent.com/assets/21986026/21758684/e653d054-d65f-11e6-8c89-0519c75f0b91.jpg)

![multiple device1](https://cloud.githubusercontent.com/assets/21986026/21758709/14067182-d660-11e

[2017-01-09 07:00] Repair-Desk opened #188 "Search By UPC Is not working"
When you enter UPC code and scan it on POS it doesn't show anything on POS

[2017-01-09 10:58] luisvae opened #189 "Log for system"
It would be great to have a log of all actions of every user in the system. Including:

- Invoice creation
- Invoice update
- Invoice delete
- Product creation
- Stock update
- Product delete
- Ticket created
- Ticket updated
- Payment modification

This way admins can check if something goes wrong, what has happened and which user has done it.

[2017-01-09 17:06] luisvae commented on #179
It would be great to have in the reconciliation report the Totals, totals per payment method, total in repairs, total in sales and listing the sales in a PDF.

[2017-01-09 17:42] Repair-Desk commented on #179
@Uzair-RepairDesk

[2017-01-09 20:24] smarttechrepair opened #190 "Print Node"
There should be a print node receipt button under the POS.  Currently cannot print using print node under POS.

[2017-01-10 07:35] muhammadfayyaz3 commented on #180
Hi @smarttechrepair
kindly explain Net **Receipts: $0.00**.

[2017-01-10 09:44] HafizAnas commented on #183
Hi @luisvae
Your requested changes has been added in invoice template editor. So kindly verify at your end and do let us know if you have any question.

[2017-01-10 09:44] #183 closed

[2017-01-11 07:27] HafizAnas commented on #188
@Repair-Desk
I have reviewed at my end it's working fine at my end and I am not able to reproduce this issue.
Kindly verify it again at your end.

[2017-01-11 07:56] HafizAnas commented on #190
Hi @smarttechrepair

I have verified your reported issue at my end it's working fine at my end. Kindly verify at your end again and one more thing look into setting page once before verify. Do let us know if you have further any question. (See Attached Screenshots for detail)

![modsindex printnode](https://cloud.githubusercontent.com/assets/22954115/21840070/33e82a24-d7fd-11e6-8788-81aa7f4714c4.p

[2017-01-11 11:16] Repair-Desk opened #191 "Show repair status when you re-open repair ticket"
When you are checking in customer or re-open an existing repair ticket it would be great if we can display repair status. See attached screenshot

![point of sale - repairdesk changes](https://cloud.githubusercontent.com/assets/21986026/21846471/1f10bc94-d819-11e6-8e07-6207acc1d43d.png)

[2017-01-11 12:05] Uzair-RepairDesk commented on #182
@HafizAnas Can you please check this one?

[2017-01-11 13:15] Raheel-RepairDesk opened #192 "Selling contract phones!"
Dear,

    Some customers are selling contract phones along with carrier plans.  And in this scenario they give free phone along with let say $50 plan, And then later on they charge the phone price from carrier (Vodafone).

Workflow in this case would be, if we ring up a phone on dashboard, software should ask whether its a new phone or a contract phone. If customers select contract then software

[2017-01-12 05:53] Repair-Desk opened #193 "Display inventory items in different color codes on invoice"
Just like inventory search we have on Point of sale screen, we should display inventory items in different color codes & also display heading like its an accessory or a casual item etc

![image](https://cloud.githubusercontent.com/assets/21986026/21878546/d553445e-d8b4-11e6-8852-ac4534a87fe6.png)

Reference:
![image](https://cloud.githubusercontent.com/assets/21986026/21878615/3fc99824-d8b5-11e6-9

[2017-01-13 07:07] HafizAnas commented on #180
Hi @smarttechrepair
Your reported issue has been fixed and it working fine at our end. Kindly verify at your end and do let us know if you have any query.

[2017-01-14 11:41] Repair-Desk opened #194 "Improvement in Booking widget"
On booking widget there should be an option for drop off where a customer can select drop-off location

[2017-01-17 05:09] RepairDeskPOS opened #195 "Self check in module"
**Issue:**
it allow customer to submit without adding signature. Please test and fix.

**Enhancements:-**
Also customer phone number should be a mandatory field.

Also terms and condition checkbox should display under signature

[2017-01-17 05:22] itskamran commented on #121
Dear All, Duplicate customers deleted. Ticker is going to be closed now. Thanks

[2017-01-17 05:22] #121 closed

[2017-01-17 05:33] itskamran commented on #186
Dear All, It is fixed in new release. Ticket will be close now. Thanks

[2017-01-17 05:33] #186 closed

[2017-01-17 06:11] HafizAnas commented on #178
Hi @Repair-Desk
Your requested changes has been completed. Kindly verify at your end.

[2017-01-17 06:11] #178 closed

[2017-01-17 07:57] itskamran commented on #160
Dear All,
Issue is fixed and reviewed. Ticket is going to be closed now. Thanks

[2017-01-17 07:57] #160 closed

[2017-01-17 10:34] quangc opened #196 "Commission behaviours"
How the commission will be if the sales are refund? Will the commission will be deducted or not?

Also how we know which commissions have been paid or not paid? Since it has status as Paid, Not Paid.

Thanks.

[2017-01-17 10:37] quangc commented on #185
There is option for this one already. Not sure if it's just been added but I've been using it for a while now.

[2017-01-17 10:39] quangc commented on #182
If allow access Settings it will work.

[2017-01-17 10:40] quangc commented on #181
Apparently, it only appear on the invoices created after the time you change the terms, the previous invoices stays the same.

[2017-01-18 00:31] quangc opened #197 "Refund invoice should be linked to invoice"
I found it a bit hard to audit refund invoices since there is no records. Can we have a refund invoice shows in the original invoice so we can quickly go to the refund invoice and audit?

I think we should have a link like PO links to GRN.

If there is already a way then please tell me. Thanks.

[2017-01-18 10:34] luisvae opened #198 "Suggestion: Formatting thousands"
It would be great to have the numbers formatted with points or commas on thousands as in the screenshot:

![captura de pantalla 2017-01-18 a las 11 31 57](https://cloud.githubusercontent.com/assets/18724945/22060686/14e5c79c-dd72-11e6-84f5-626743423298.png)

[2017-01-18 17:49] Repair-Desk opened #199 "Bulk Update Repair Ticket Option"
Just Like **GitHub** we should have a bulk update option that allows you to mark **multiple tickets as repaired** or assign them to a technician.

**Requested by Jordan | Repair Lab**

[2017-01-19 09:18] Repair-Desk commented on #195
There should also be an option that allows you to hide Manufacturer, device and network using a trigger. There are few customers who doesn't want to display this option

[2017-01-19 15:38] luisvae opened #200 "Totals in Reports Not Shown Properly"
The totals in the reports do not match properly. Some payments do not reflect on the totals. Others instead of adding value, they subtract and viceversa. We have seen it in various cases. Please look at this example where the payment is reflected below as "bank transfer" but it shows the amount to be due. If we removed the payment from the invoice, the due amount disapears. Logically the inverse o

[2017-01-20 05:30] HafizAnas commented on #177
Hi @Repair-Desk
your requested change has been added so kindly verify at your end.

[2017-01-20 05:31] #177 closed

[2017-01-20 13:53] Repair-Desk commented on #105
@TechnologyTraders Now you can edit default language & translate Sell your device or other modules according to your business requirements  :)

[2017-01-23 05:31] HafizAnas commented on #173
Hi @Repair-Desk
Your reported issue has been fixed.

[2017-01-23 05:32] #173 closed

[2017-01-23 05:32] #190 closed

[2017-01-24 04:52] #180 closed

[2017-01-24 15:39] wirelessrepairzone opened #201 "Report on email sent"
Would like to see a report or any reporting options on Automated Followup Email Campaign

i have tested so i know emails are being sent but it would be nice to have a report or the option to create a campaign based on type of device or other condition to send out emails to past customers

[2017-01-26 08:15] HafizAnas commented on #191
Hi @Repair-Desk

Your requested feature has been added on POS.
Kindly verify at your end and do let us know if you have any question.

[2017-01-26 16:04] Repair-Desk commented on #191
**Please display a colored label so its more visible.**

![repairdesk pos](https://cloud.githubusercontent.com/assets/21986026/22339213/06128a8a-e40b-11e6-8db3-90ad1f631ce2.png)

[2017-01-26 17:58] RepairDeskPOS opened #202 "Edit ticket option on POS"
Just like we can re-open ticket to create invoice we should be able to just edit ticket only and make changes on it i.e. Lets you book a repair for Diagnostic and now want to Update problem or add an accessory item or you can add part so you dont have to switch b/w different screens

[2017-01-26 19:38] #103 closed

[2017-01-27 13:33] #188 closed

[2017-01-30 23:23] smarttechrepair opened #203 "Automatic logout of user accounts"
Stores with multiple users should have an auto logout feature built in system after 2 minutes of inactivity.  Prevents user's with different access privileges from accessing system and also allows proper recording of which users took in the initial customer ticket.

[2017-01-31 01:18] smarttechrepair opened #204 "Error message when closing shift print reconcilation report"
{"token":"1485825430588fe5962dc8e","status":1}

Message received when trying to print reconciliation report when ending shift.

[2017-01-31 01:20] smarttechrepair opened #205 "Start Shift/End Shift"
Error when one person start shift and another user tries to end shift.  Same person who start shift must end shift.  However this is not how we run the business.  Opening person start shift and closing employee will close shift.

[2017-01-31 06:41] quangc opened #206 "Refund showing $0.00"
For some reasons, refund invoice is now always showing as $0.00, instead of the original amount and this has create big issues for us.

Please look into this one ASAP.

![screen shot 2017-01-31 at 5 37 51 pm](https://cloud.githubusercontent.com/assets/22993605/22454775/7fcffffe-e7dc-11e6-96a7-c7c65446909b.png)

[2017-01-31 08:01] HafizAnas commented on #205
Hi @smarttechrepair

Yes, It's right same person who start shift must end shift but we have an option in repiar desk to switch user. I believe it will help you to solve your problem.

Suppose we have two users Hafiz Anas and Alex Hales
Hafiz Anas who started shift and Alex Hales wants to close the shift. Simply Click on email and store name drop down (right side from header) and click on switch us

[2017-01-31 08:22] HafizAnas commented on #200
Hi @luisvae
We have tried many times but we are not able to reproduce this issue. Kindly check at your end again and share steps with us.

[2017-01-31 08:57] smarttechrepair commented on #205
Does not work.

On Tue, Jan 31, 2017 at 2:01 AM, HafizAnas <notifications@github.com> wrote:

--
Peter Do
Smart Techs Inc
(P) 847-907-4735
(F) 847-454-7577
www.mysmarttechs.com

[2017-01-31 10:09] HafizAnas commented on #204
Hi @smarttechrepair

I apologize for inconvenience,
your reported issue has been assigned to developer and it will be fixed soon.

[2017-01-31 11:38] HafizAnas commented on #206
Hi @quangc

We have tried many times at our end, even from your account but we are not able to reproduce this issue It would be appreciated if you share steps or more screenshots with us.

Thanks!

[2017-01-31 21:19] smarttechrepair opened #207 "Reports"
When checking reports, multi store statistics screen opens.  However multi store statistics should not be default page that opens, instead statistics page should be the default page for reports.  From statistics page we should be able to pull any report we would like to see, such as multi store stats, payroll, etc...

[2017-01-31 21:22] smarttechrepair opened #208 "Refunds"
When issuing refunds on tickets with multiple line items, we cannot give a refund for just one line item.  Also cannot issue partial refunds.  Refunds are necessary part of running any business.  Please test and correct the problems with refunds.

[2017-02-01 06:35] HafizAnas commented on #205
Hi @smarttechrepair
Sorry for inconvenience,
Please can you elaborate what is not working at your end?

[2017-02-01 06:38] smarttechrepair commented on #205
After switching user cannot end shift. Asks to start a register. However
register already started. Then asks to create a new register. Only way to
end shift is to switch user back to person who started shift. I mentioned
issue many times. Test then you will see.

On Wed, Feb 1, 2017 at 12:35 AM HafizAnas <notifications@github.com> wrote:

[2017-02-01 06:45] HafizAnas commented on #205
Let me check and revert back to you soon.

[2017-02-01 07:11] HafizAnas commented on #205
Hi @smarttechrepair

Kindly can you send me your account details to our customer support or through email because it's working fine at our end.

You can contact with our support by following steps on screenshot.

![repair desk support](https://cloud.githubusercontent.com/assets/22954115/22497975/20bc8dd4-e877-11e6-9a5b-2f648a79879e.png)

[2017-02-01 12:22] HafizAnas commented on #208
Hi @smarttechrepair

I apologize for inconvenience, Kindly click on the below link it will help you about refund issue against refund on single line item and do let us know if you still have any question.

https://repairdesk.uservoice.com/knowledgebase/articles/895113-how-can-i-process-refund-exchange-in-repairdesk

One more thing we have already added in our future road map to add partial refund

[2017-02-02 19:00] luisvae opened #209 "SUGGESTION - Inventory Count per Inventory type"
It would be great to be able to choose which kind of product are we going to count on inventory count. Now, if we miss counting 1 product, it will not be reflected as missing.

By choosing inventory type (eg spare parts, mobile phones, accessories) if we miss 1 product counting, it will be reflected as missing, without having to count the whole inventory.

[2017-02-05 16:48] jelder09 opened #210 "Multiple location log in"
Companies with multiple locations when logging in, a box should pop up prompting you to select your location.  My employees move store to store and occasionally run sales or open the register for a different location because they did not notice what store the system logged them into.

[2017-02-06 07:01] HafizAnas commented on #185
Hi @smarttechrepair

Your reported issue has been fixed. Kindly verify at your end and do let us know if you have any question.

[2017-02-06 07:03] #185 closed

[2017-02-06 13:02] HafizAnas commented on #204
Hi @smarttechrepair

Your reported issue has been fixed. Kindly verify at your end and do let us know if you have any question.

[2017-02-06 13:02] #204 closed

[2017-02-07 01:46] smarttechrepair opened #211 "Sales By Repairs Reports Error"
Sales by repairs report does not allow you to print.  Also the totals on multiple pages do not add.  If there are multiple pages in Sales By Repairs, the last page should have a total showing the sales for the entire day.

[2017-02-07 01:50] smarttechrepair opened #212 "Register Sales Report Error"
The total for the Paid column does not add properly.

[2017-02-07 01:52] smarttechrepair opened #213 "Multiple Store Reports Error"
Cannot check reports for multiple stores without having to log into a particular location and then pulling the reports.  Should be able to pull daily reports from the multiple store reports, however reports only show for the particular location we are logged in.

[2017-02-07 01:55] smarttechrepair opened #214 "Partial Refunds !!!"
Must be able to issue partial refunds for single or multiple line items.  For example with the customer purchased an iPhone 6 screen replacement for $100 cash or credit.  We should be able to give a partial refund for any amount in either cash or credit depending on the initial payment method used.  At the least we must be able to give a partial refund in cash when customer initially paid with cre

[2017-02-07 02:10] smarttechrepair opened #215 "Multi Store Reports Date Ranges"
When pulling store reports, there must be a way for pulling report dates by calendar months and weeks.  A calendar week starts on Monday and ends on Sunday.  A calendar month starts on the 1st.    Currently reports can only be pulled based on months based on numerical 30 days or weeks based on 7 days.  No business in the real world runs this way thus reports are worthless.  Please make the changes

[2017-02-07 02:33] smarttechrepair opened #216 "Sales by Item Report Does not Work PropErly."
When pulling a sales by item report, the totals are not shown correctly for that day.  The only way to pull the correct report is by using search filter and selecting the dates manually.  By default the sales by repairs pulls reports correctly for the current day.  Sales by item should also by default report current day sales.

[2017-02-07 02:35] smarttechrepair opened #217 "Sales by item category is very confusing"
The sales by item should be consistently labeled using "Mobile, accessories, & parts" such as location sales by item type.

[2017-02-07 02:40] smarttechrepair opened #218 "Sales by Repairs & Sales by Items Reports"
Must be able to track invoice and ticket numbers on both of these reports.  It is useless having a report that we cannot audit and trace back to original tickets and original dates of transactions.

[2017-02-07 02:59] smarttechrepair opened #219 "Location sales report by item type"
Within multi store report the sales report is separated into 2 categories: by repairs or mobile, accessories, & parts.  It is very useful to pull reports by date however when pulling reports with a longer date such a month, the separation of the reports into 2 categories is useless since it is difficult to track invoices since they don't have the combined totals from the 2 categories.  Please just

[2017-02-07 11:12] HafizAnas commented on #195
Hi @RepairDeskPOS
Your reported issue has been fixed. Kindly verify at your end.

[2017-02-07 11:12] #195 closed

[2017-02-07 21:45] josephifixhq opened #220 "Calendar book in widget not saving customer address"
When a customer books in using the calendar book In widget the address is not saved to the new lead. Makes it especially difficult when 100% of our repairs are pick up or on site, and we don't have an address stored.

[2017-02-07 21:47] josephifixhq opened #221 "SMS canned response not being sent when a lead is converted to a ticket"
I have selected *send customer SMS when a new ticket is created. However when I convert a lead to a ticket the SMS is not being sent.

[2017-02-08 04:54] HafizAnas commented on #211
Hi @smarttechrepair

Sorry for inconvenience, Your reported issue has been assigned to developer and it will be fixed soon.

[2017-02-08 05:14] HafizAnas commented on #212
Hi @smarttechrepair

we have tried at our end and we are not able to reproduce this issue. Kindly check at your end again if problem still exist then It would be really appreciated to share screenshots with us.

[2017-02-08 05:37] HafizAnas commented on #213
Hi @smarttechrepair

Currently, you can not view any specific report  without log into particular location but you can view main stats (facts and figures) of any particular location through Multi store reports.

[2017-02-08 05:52] HafizAnas commented on #214
Hi @smarttechrepair,
Sorry for Inconvenience, We are already working on it and It will be live soon.

[2017-02-09 01:56] smarttechrepair opened #222 "Create Ticket Button in POS"
I do not like the create ticket button since my sales is not accurately being accounted.  I only would like use the checkout button.  Please allow for a feature that will turn off the create ticket button in Point of Sale.  If technicians accidentally press create ticket it would throw off our sales figures. Thanks.

[2017-02-12 12:46] andrewg1639 opened #223 "Repair booking widget not creating lead emails"
Our repair booking widget has been working perfectly, however today I have edited a setting in.
Settings>Integration>Appointment calendar widget>Alerts
I have ticket display alerts to two of our users.
However I noticed as soon as this has been done the display comes up to the user as it should, however no email is generated anymore.
I have tried to un tick the users however it will not allow me t

[2017-02-13 09:58] andrewg1639 commented on #223
Emails were temporarily coming through last night again, however today we had two more leads created, we got the notifications however no email was sent, have we got a setting wrong or is it a bug?

[2017-02-14 08:05] Repair-Desk commented on #223
**Hi @andrewg1639**

We apologize for inconvenience. Our QA team will review and revert back to you.

@itskamran Can you please have someone test this issue.

[2017-02-14 08:07] Repair-Desk commented on #222
@smarttechrepair If an employee creates a ticket by mistake you can quickly convert it to an invoice. More information is available here: https://repairdesk.uservoice.com/knowledgebase/articles/921069-how-to-create-invoice-for-an-existing-repair-ticke

[2017-02-14 08:07] #222 closed

[2017-02-14 08:09] Repair-Desk commented on #220
@josephifixhq We sincerely apologize for inconvenience & hopefully it will be fixed before end of this week.

[2017-02-14 08:09] Repair-Desk commented on #220
@itskamran I've already assigned it to you on asana.

[2017-02-14 08:11] Repair-Desk commented on #221
@itskamran can you check this please

[2017-02-14 08:13] #213 closed

[2017-02-14 08:15] Repair-Desk commented on #209
@Uzair-RepairDesk Do you think we can add the ability to choose item type for inventory count?

[2017-02-14 08:17] itskamran commented on #221
@Repair-Desk Assigned to developer, soon we will have updates. Thanks

[2017-02-14 08:26] itskamran commented on #223
@Repair-Desk: Assigned to QA, soon we will have updates. Thanks

[2017-02-14 08:37] itskamran commented on #200
Hi @luisvae, If you face this issue again, please feel free to reopen this ticket. Thanks

[2017-02-14 08:37] #200 closed

[2017-02-14 09:06] Uzair-RepairDesk commented on #209
Hi @luisvae
Thanks for your suggestion. I think that’s an awesome idea! Having it would definitely provide the ease during inventory count. Admin/users will be able to select item type e.g. "Accessories" and only accessories items will come up in the list to count.

We’re not working on that at the moment but I’ll pitch it to the team and see what they think.

If you have any other questions, just

[2017-02-14 11:55] luisvae opened #224 "ISSUE Exporting CSV delimited by commas"
When exporting files on CSV delimited by commas and there are text fields with commas this destroys the possibility of separating the fields as each comma on text generates a new field / column.

**It would be great to use semicolon ; to separate fields or use " " between text fields.**

This happens in invoice exporting and customer exporting.

[2017-02-14 12:34] itskamran commented on #224
Hi @luisvae, Thanks for reporting this issue, I have assigned it to the developer to look in to it on priority basis. I will update you very soon. Thanks

[2017-02-14 19:22] RepairDeskPOS commented on #187
While importing a CSV file now you can use " | " to seperate devices.

[2017-02-14 19:35] #187 closed

[2017-02-14 23:38] quangc opened #225 "Purchase Order total cost changes in GRN"
The total cost of a Purchase Order changes in GRN for some reasons, not sure why it does this.

Please see the attached image of the Purchase Order and GRN links to it.

<img width="1191" alt="screen shot 2017-02-15 at 10 32 19 am" src="https://cloud.githubusercontent.com/assets/22993605/22954492/d6ec23fa-f36a-11e6-8b55-a3d5d1f1479f.png">
<img width="1212" alt="screen shot 2017-02-15 at 10 32 36 a

[2017-02-15 00:17] #225 closed

[2017-02-17 00:57] RepairDeskPOS commented on #220
@josephifixhq reported issue with address has been fixed. Please verify it on your end

[2017-02-17 14:16] Repair-Desk opened #226 "Option for IMEI / Serial Number on Appointment Calendar"
When using the appointment integration on the website can you add a field for the customer to enter the serial number / IMEI

[2017-02-20 09:37] Repair-Desk opened #227 "Customer VAT Number"
While entering customer information there should be a field to enter customer VAT / Registration number

[2017-02-21 04:43] Fazal-RepairDesk commented on #32
@TechnologyTraders Hi There! We have not seen any issue on POS page after last change in pricing behavior for POS.
Can you please verify this at your end as well?

[2017-02-21 04:44] Fazal-RepairDesk commented on #79
@fetchwireless Hi there! The issue is resolved. Please verify at your end and let us know.

[2017-02-21 08:07] Fazal-RepairDesk commented on #223
@andrewg1639 Hi Andrew! Our team had a look at this issue and it's working fine. Please check your Spam Folder, perhaps the mail got in there. Also my development team has recommended that you should test by changing your store email addresses.

[2017-02-21 09:52] Fazal-RepairDesk commented on #32
Our team has tested all rounding issues faced by customers and now it is working smoothly. Customers have verified this on their end as well. Everything is being calculated now in a much refined and effective manner, without any error. Therefore, we are closing this issue.
In case if you are still facing this issue, please don't hesitate to contact us! If you're facing this issue again at some fut

[2017-02-21 09:54] Fazal-RepairDesk commented on #79
Our team has tested all rounding issues faced by customers and now it is working smoothly. Customers have verified this on their end as well. Everything is being calculated now in a much refined and effective manner, without any error. Therefore, we are closing this issue.
In case if you are still facing this issue, please don't hesitate to contact us! If you're facing this issue again at some fut

[2017-02-22 07:37] Fazal-RepairDesk commented on #211
Hi @smarttechrepair !
Regarding your issues here is the following feedback:
1. _Sales by repairs report does not allow you to print_ (**This issue has been resolved**)
2. _The totals on multiple pages do not add_ (**It cannot be added on multiple pages. Instead it would be added on a single page, which is working fine. You can use pagination feature and expand number of results per page.**)
3. _If

[2017-02-22 09:30] Fazal-RepairDesk commented on #193
@Repair-Desk
![github_193](https://cloud.githubusercontent.com/assets/22954033/23205379/78c521ea-f90b-11e6-9a7f-2bfa7c90610c.png)
The said issue has been fixed. Please see the attached screenshot for clarification.

[2017-02-22 14:56] Repair-Desk commented on #224
@luisvae We have added requested enhancement to RepairDesk platform. Please verify the changes on your end.

[2017-02-24 01:44] andrewg1639 commented on #223
Thanks Fazal

Yes they seem to be working fine again now, it must have been a bug that’s disappeared.

     Kind Regards

     Andrew Gardiner

Brisbane Airport DFO : 07 3114 1177 – Shop 206 DFO Shopping centre, Ninth Ave, Brisbane Airport

Jindalee DFO : 07 3114 1177 – Shop 73 DFO Shopping centre, 16 Amazons place, Jindalee

***Disclaimer

This email and any attachments transmitted with it may co

[2017-02-24 01:47] #223 closed

[2017-02-24 01:48] #220 closed

[2017-02-24 01:48] Repair-Desk commented on #221
@itskamran What's the update on this one?

[2017-02-24 01:54] Repair-Desk commented on #205
@HafizAnas can you advise an update please?

[2017-02-24 02:04] #193 closed

[2017-02-24 02:05] #191 closed

[2017-02-24 02:09] #207 closed

[2017-02-24 05:11] itskamran commented on #221
@Repair-Desk, It is on demo server now, soon it will be finished. Thanks

[2017-02-24 05:41] Uzair-RepairDesk commented on #197
Hi @quangc
Currently you can filter the refund invoices from "Refund" status on Manage Invoices page. Once you refund the invoice and go to the "View" page of original invoice the internal status is also change to "Refund". There is also a reference of original invoice on refund invoice. Once you check the refund invoice and find out the customer name, you can also search original invoice from cus

[2017-02-24 05:56] Uzair-RepairDesk commented on #196
Hi @quangc

I hope you are doing good. There is no possibility to deduct commission if invoice is refund right now. In a logical point of view, once sales commission is calculated, specific employee owns it. There could also be a scenario when you already pay commission to the employee and customer comes for refund after that so there should not be a negative value of commission for employee.

Reg

[2017-02-24 06:12] Uzair-RepairDesk commented on #214
Hi @smarttechrepair

I hope you are doing good. This is to to inform you that we have completed Functionality specification document for partial refunds and development of this functionality is part of our roadmap.

Regarding Payment method for refunds, you can certainly use different payment method for refunds right now. E.g. if you have taken the payment of invoice from credit card and you go fo

[2017-02-24 11:52] Fazal-RepairDesk commented on #224
Hi@lui

[2017-02-24 11:54] Fazal-RepairDesk commented on #224
Hi @luisvae!
We've added the said functionality and it's working fine. Therefore we're closing this.
In case you face any issue in it, please feel free to open this issue again and do let us know.
For further assistance you may contact our support team as well.

Team RepairDesk

[2017-02-24 11:54] #224 closed

[2017-02-28 10:56] HafizAnas commented on #221
Hi @josephifixhq

I hope you are doing well. Your reported issue has been fixed, Kindly verify at your end and do let us know if you have any question.

Thanks!

[2017-03-01 02:48] afrahm opened #228 "Set access permissions for employee role per report"
Be able to set which reports an employee role can access. Rather than them having full access or no access. In particular the employee productivity report. Also being able to restrict to only viewing their own data within the report.

[2017-03-06 12:38] luisvae opened #229 "SUGGESTION Separate receipt and invoice channels"
It would be great to have a separate channel for receipts and invoices. Some events are not worth of issuing an invoice, such as repairs to cost zero.

It would be great that for every repair or sale a receipt was issue and creates the possibility of generating and invoice for the receipt or ticket.

[2017-03-07 23:18] Celeste110 opened #230 "Have button on the manual in/out page that opens cash drawer"
I was looking for a button on repair-desk that would allow us to open the cash drawer but couldn't find it.

It would be great if a button could be added to the manual in/out page that would open the cash drawer.

[2017-03-08 13:54] Repair-Desk commented on #162
We have added support so that if an employee account is deleted, it will still display their information against tickets.

[2017-03-08 13:54] #162 closed

[2017-03-08 13:57] Repair-Desk commented on #230
@Celeste110

Thanks a lot for your feedback. It sounds like a great idea and having it would really improve your workflow. However since RepairDesk is a cloud based point of sale solution you cannot open a cash drawer until we send a print command to your receipt printer.

[2017-03-08 14:03] Repair-Desk commented on #229
@luisvae

Thanks for your feedback. If you just want to create a receipt for a repair simply you **create ticket feature** on the point of sale because sometimes you can book in a water damage phone but its not repairable or you might create a warranty ticket with 0 value.

Incase you want to issue invoice simply hit checkout and it will create a ticket and invoice as well.

Hope it helps

[2017-03-08 14:05] Repair-Desk commented on #228
@afrahm

Thanks for your feedback. It sounds like a great idea and we will definitely include it along with other improvements once we re-write employee permission module

[2017-03-09 09:30] andrewg1639 opened #231 "Calendar booking widget mobile. Number not working"
When booking a repair through the calendar widget app, if a customer leaves their mobile phone number it is not currently coming through on the lead.
Instead it comes through as {customer_phone} on the email notification and when you check the lead in RD it is blank.
This has only happeded within the last week and we haven't changed anything from our end.

Here's where our widget is located

http:

[2017-03-14 16:27] luisvae opened #232 "ISSUE - Tax not calculated properly on purchase order section"
The tax is not calculated properly on purchase order. We need to change tax type several times to get final good result.

We enclose a video.

[20170314_172334.mp4.zip](https://github.com/Repair-DeskPOS/RepairDesk-Bugs/files/842011/20170314_172334.mp4.zip)

[2017-03-14 16:41] HafizAnas commented on #232
Hi @Luisvae
I apologise for inconvenience, Let me check and revert back to you soon.

[2017-03-16 11:52] Uzair-RepairDesk commented on #231
Hi @andrewg1639
Andrew, We have fixed this issue yesterday. If customer enters phone number, system considers it Mobile number of the customer and it comes under Mobile field into the lead.
We have also added a check "Pick phone number in any format" in configuration of "Appointment Calendar Widget" that will allow customer to enter mobile (phone) number in any format rather than restriction of a

[2017-03-16 12:26] andrewg1639 commented on #231
Thanks Uzair
Looks like it works great.

     Kind Regards
     Andrew Gardiner | Pimp my Gadget | Manager

Brisbane Airport DFO : 07 3114 1177 – Shop 206 DFO Shopping centre, Ninth Ave, Brisbane Airport
Jindalee DFO : 07 3114 1177 – Shop 73 DFO Shopping centre, 16 Amazons place, Jindalee
Wholesale inquiries : 1300 790 430

***Disclaimer
This email and any attachments transmitted with it may conta

[2017-03-16 12:39] #231 closed

[2017-03-17 11:08] HafizAnas commented on #232
Hi @luisvae
Your reported issue has been assigned to developer and it will be fixed soon.

[2017-03-17 11:09] #211 closed

[2017-03-19 13:56] wirelessrepairzone opened #233 "Tax ID number"
I see someone also asked for the VAT number, here in the US we deal almost the same with a Tax ID number assigned to non-profits and government customers. We do the repairs for 4-5 school systems as well as a non-profit health care system. I have no way to configure the customer to default to no tax or record the tax ID number for the customer. This will be needed once the system is linked to quic

[2017-03-21 02:21] afrahm opened #234 "Average Ticket Completion Time"
Have a report or dashboard that tracks the average completion time of a ticket. This would be the difference between the ticket created time and the time it is changed to 'repaired' status, and then also time to 'repaired & collected' status.

This would help to keep track of how long we are holding devices for and actual time to completion.

[2017-03-21 05:14] afrahm opened #235 "Be able to search tickets by Repair & Collected Date/Time field"
![screenshot_2017-03-21_15_10_49](https://cloud.githubusercontent.com/assets/1414304/24133487/0b94e4fe-0e49-11e7-8ddd-0a949d675c2e.png)

[2017-03-21 05:21] afrahm commented on #235
![screenshot_2017-03-21_15_18_42](https://cloud.githubusercontent.com/assets/1414304/24133615/fa9cd1a6-0e49-11e7-94f6-abf44f1966cb.png)

[2017-03-22 05:56] Fazal-RepairDesk commented on #38
'Saving Pattern Lock for Android Phone' functionality has been added to RepairDesk and is live.
To know about how this functionality works, please refer to this article: https://repairdesk.uservoice.com/knowledgebase/articles/1148578-how-can-i-save-an-android-phone-pattern-lock

[2017-03-22 05:56] #38 closed

[2017-03-22 06:00] #32 closed

[2017-03-22 06:01] #79 closed

[2017-03-22 06:01] #221 closed

[2017-03-22 06:47] Fazal-RepairDesk commented on #219
@smarttechrepair
Thanks for your feedback. It sounds like a great idea and we will definitely include it along with other improvements.

[2017-03-22 06:49] Fazal-RepairDesk commented on #218
@smarttechrepair Thanks for your feedback. It sounds like a great idea and we will definitely include it along with other improvements once we improve our reports section.

[2017-03-22 09:33] Fazal-RepairDesk commented on #215
@smarttechrepair Thanks for your feedback. It sounds like a great idea and we will definitely include it along with other improvements.

[2017-03-22 10:23] #182 closed

[2017-03-22 10:34] HafizAnas commented on #181
Dear @quangc

I hope you are doing well. It's working fine at my end now so kindly verify at your end and do let us know if you have any question.

Thanks for patience.

[2017-03-22 11:37] #181 closed

[2017-03-23 06:44] Fazal-RepairDesk commented on #210
Hi @jelder09. In Employee Settings we have an option to choose default store and access for employee for a particular store. Admin can choose default store for employee, and system will automatically log him in that default store.
To set default store for an employee, please go to **Settings >> Employees >> Manage Employees**. Click on **Action** button against an employee and select **Edit**.
Und

[2017-03-23 06:44] #210 closed

[2017-03-25 17:36] wirelessrepairzone opened #236 "View invoices and tickets from Point of Sales - Limit to open items"
When checking out a customer inside the POS module we hit view invoices and all invoices show including ones that have been paid, when checking out a customer this should default to only show open invoices (same with view by ticket) you could still have a button for view all but unless we are doing a return we only need to see the open items and if they are picking up a few days later its hard to

[2017-03-25 17:40] wirelessrepairzone opened #237 "checkout in POS with 0 dollar sale"
when checking out a customer we cannot close the sale/workorder inside POS if there is no charge. We do not charge to do a diag on a device, so when a customer comes in we ring up a new sale as a diag with no charge, it lets us hit checkout and they sign that they are dropping off the equipment. If we complete an actual repair we update the ticket with the approved repair and dont have any issues

[2017-03-27 07:08] HafizAnas commented on #232
Hi @luisvae
Your reported issue has been fixed. Kindly verify at your end and do let us know if you have any question.
Thanks!

[2017-03-27 10:27] #232 closed

[2017-03-29 11:50] HafizAnas commented on #197
Hi @quangc

Hope you are well. Your requested suggestion related to Refund Link on invoice like PO has been added. You can view link very next to Payment Invoice # ,

I would highly appreciate if you can confirm if it's working on your end .

![invoice4](https://cloud.githubusercontent.com/assets/22954115/24452717/fc7b1726-149d-11e7-8934-791a03bb724e.png)

Please feel free to reach out if you have

[2017-03-30 07:19] HafizAnas commented on #226
Hi @Repair-Desk

Your requested suggestion regarding add Serial number/IMEI has been added on Appointment calendar. Kindly verify at your end.

Thanks!

[2017-03-30 07:19] #226 closed

[2017-03-31 06:22] HafizAnas commented on #194
Hi @Repair-Desk

Your requested suggestion regarding add Drop off location option in Booking Widget has been added.
Kindly verify at your end.

Thanks!

[2017-03-31 06:25] #194 closed

[2017-03-31 06:25] #197 closed

[2017-04-03 07:35] josephifixhq opened #238 "Detailed info in Exported CSV files"
nclude more detailed information in the exported CSV files especially the invoices file. Currently the file doesn't include the device colour, or the ticket items/parts used on the repair.
theses details would have to be in seperate columns for it to be functional though. I.E the current *description* field contains the due date of the repair and in 99% of cases i have to delete the due date befor

[2017-04-05 02:44] Repair-Desk opened #239 "Save & Add new item button"
When Adding an item, would be nice to-have to add a button Reviews another item. Very useful When Creating a basic inventory of what I sell most ...

[2017-04-16 00:32] Repair-Desk opened #240 "Feature Suggestion - Special Part Order"
One of the things we do on a daily basis is monitor Special Order parts.  We have direct accounts with FedEx, UPS, DHL, and USPS and we monitor all incoming special orders.  Almost everything we order has a tracking #.

What would be great is to have optional fields for "special order parts" where you can fill in a short description, carrier, and tracking #.  The carrier will be from a pre-defined

[2017-05-05 07:16] josephifixhq opened #241 "Add the option to automatically assign a due date"
We have some issues where employees are not following up with customers when their device is kept on site for a period of time due to a more involved repair being required. It would be advantageous for us to automatically set due dates to a date 24/48/72 hours in the future, this way we are notified as admin when the job has not been completed by the due date and can take action to ensure the cust

[2017-05-09 04:23] RedgumPC opened #242 "ios App Enhancement"
Have the ability to print an invoice from an iPad.

[2017-05-14 21:21] wirelessrepairzone opened #243 "Cayan Integration - Invoice number"
The invoice number displayed or passed to Cayan is the record ID, can this be changed to the actual invoice number for example

Invoice Number  433526 as reported on Cayan links back to https://app.repairdesk.co/index.php?r=invoice/view&id=433526   its using the ID number not the system invoice number, is this something that can be modified? If so it would make things a lot easier to match

[2017-05-26 14:19] mlisb0n opened #244 "Ticket statuses not translating to Portuguese"
The tickets statuses are not translatable or not showing the translation.

<img width="1032" alt="2017-05-26 15 17 22" src="https://cloud.githubusercontent.com/assets/6557013/26498359/b7469660-4226-11e7-8ceb-6ce4976c42fa.png">

[2017-06-08 12:15] josephifixhq opened #245 "Add Google Analytics function to Website widgets."
Adding the ability to easily track events with Google Analytics  inside the book-in and sell device widgets. We would love to know where exactly our customers are closing the widgets. We could achieve this by adding Google Analytics events to individual CSS classes. The ability to target particular CSS classes would possibly help with this, in addition to google analytics targeting particular CSS

[2017-06-13 05:19] Fazal-RepairDesk commented on #245
Hi @josephifixhq
Thanks for sharing. I've noted down and forwarded your feature request to our development team. I'll keep you posted here about it's progress.

Thanks,
Fazal
RepairDesk.

[2017-06-13 05:27] Fazal-RepairDesk commented on #244
Hi @mlisb0n
Thanks for sharing. I've noted down and forwarded your feature request to our development team. I'll keep you posted here about it's progress.

Thanks,
Fazal
RepairDesk.

[2017-06-13 05:37] Fazal-RepairDesk commented on #243
Hi @wirelessrepairzone
Thanks for sharing. I've noted down your request and will discuss it with our team.  I'll keep you posted here about it's progress.

Thanks,
Fazal
RepairDesk.

[2017-06-13 05:47] Fazal-RepairDesk commented on #242
Hi @RedgumPC
We're currently working on our iPAD app and this feature is included. I'll keep you posted here.

Regards,
Fazal
RepairDesk

[2017-06-13 05:50] Fazal-RepairDesk commented on #241
Hi @josephifixhq
Thanks for sharing. I've noted down and forwarded your feature request to our development team. I'll keep you posted here about it's progress.

Thanks,
Fazal
RepairDesk.

[2017-06-13 06:10] Fazal-RepairDesk commented on #239
Feature request forwarded to planning team

[2017-06-13 06:12] Fazal-RepairDesk commented on #240
Feature request forwarded to planning team

[2017-06-13 06:18] Fazal-RepairDesk commented on #238
Hi @josephifixhq
Thanks for sharing. I've forwarded this feature request to my team and I'll keep you posted here about the latest developments.

Best,
Fazal
RepairDesk

[2017-06-13 07:51] Fazal-RepairDesk commented on #237
Hi @wirelessrepairzone
Thanks fro your feedback. I've forwarded request to our team and will keep you posted about latest developments.

Regards,
Fazal
RepairDesk

[2017-06-13 07:52] Fazal-RepairDesk commented on #236
Hi @wirelessrepairzone
This functionality has been added.

[2017-06-13 07:52] #236 closed

[2017-06-13 07:56] Fazal-RepairDesk commented on #235
Hi @afrahm
Thanks for your valuable feedback. I've forwarded this request to our team. And will keep you posted about latest development.
Regards,
Fazal
RepairDesk

[2017-06-18 05:21] EliteRepairs opened #246 "Printnode not working"
Auto print has stopped working completely since changing plan

[2017-06-18 05:24] EliteRepairs commented on #246
error code when trying to disconnect print node and re sync printers
Caught exception: HTTP Error (403): Account id `36320` has been deleted.

[2017-06-22 20:02] mpmdover opened #247 "estimate receipt"
will not show security code on estimate thermal receipt and unable to change the default receipt title for the estimate thermal printout

[2017-06-25 22:40] ThinkDigitalSoftware opened #248 "Spelling errors"
Just checking the JSON for the customers and wanted to submit a few spelling corrections. Here's the sample. Corrections are in bold:
{
            "driving_licence": "",  "**driving_license**": "",
            "city": "",
            "refered_by": "", "**referred_by**": "",
            "contact_person": "",
            "cid": "579992",
            "mobile": "+1 555-555-5555",
            "address

[2017-07-04 05:52] Fazal-RepairDesk commented on #246
Hi @EliteRepairs,

Thanks for sharing this information. I'm forwarding your request to our team. Once I get a feedback I'll update you accordingly.

Best,
Fazal

[2017-07-04 05:58] Fazal-RepairDesk commented on #247
Hi @mpmdover

I've noted down you issue and forwarded it to our team. Once I get a feedback. I'll update you.
Thanks for your patience.

Regards,
Fazal

[2017-07-04 06:01] Fazal-RepairDesk commented on #248
Hi @ThinkDigitalRepair

Thank you for your valuable feedback. I've forwarded this to my team.

Have a great day!

Regards,
Fazal

[2017-07-06 07:07] Fazal-RepairDesk commented on #247
Hi @mpmdover
We're able to change the title of the estimate thermal receipt using Integrations>Template Editor> Estimate Thermal Receipt Template> Edit
We're checking the security code issue as well.

[2017-07-06 10:44] Fazal-RepairDesk commented on #246
Hi @EliteRepairs

Can you please verify the issue is fixed?

Thanks,
Fazal

[2017-07-06 15:15] wirelessrepairzone opened #249 "Cash drawer"
Currently there is no way to see who has a drawer open or for a manager to override and close it. At times employees forget to close the drawer at the end of the shift, The next morning someone else comes in and cant use the register, they call me and there is nothing I can do but to lookup the employees access pin, login as them and check to see if the register is open.   I can sort of tell from

[2017-07-06 15:19] wirelessrepairzone opened #250 "Tax issue"
When we change the tax code to out of state or another code set to 0 its still charging the tax from the parts to the customer.

[2017-07-06 21:15] EliteRepairs commented on #246
Issue is fix yes

On Thu., 6 Jul. 2017 at 8:44 pm, Fazal Ur rehman <notifications@github.com>
wrote:

--
Kind Regards

Director/manager
Reece Baldwin
mobile :0428159310

[2017-07-08 15:43] mpmdover commented on #247
thanks

[2017-07-10 05:26] Fazal-RepairDesk commented on #246
Thanks for confirming :)

[2017-07-10 05:26] #246 closed

[2017-07-13 06:10] Fazal-RepairDesk commented on #249
Hi @wirelessrepairzone ,
Thanks for your feedback. I'm forwarding this suggestion to our Project Manager.
I'll keep you posted here.

Regards,
Fazal

[2017-07-13 06:16] Fazal-RepairDesk commented on #250
Hi @wirelessrepairzone

Can you please elaborate a bit more so that I can guide you accordingly?
It would be great if you could share a screenshot as well.
I think perhaps you've activated the trigger which causes tax to be charged on parts as well.

Regards,
Fazal

[2017-07-13 06:52] quangc opened #251 "Filtering purchase order by due date"
We should have a filter to sort all unpaid purchase orders by its due date. Since we always have credit account and for us to make payment for due invoices will become much easier if we know which purchase order is due for payment.
In the purchase order it has the due date for delivery which can be used as due date, simply allow us to filter that field will resolve this query.

Many thanks.

[2017-07-13 10:51] wirelessrepairzone commented on #250
We do have the system configured to charge tax on parts, we are based in
michigan and this is the way we have to calculate tax. As a matter of fact
the tax on on part module was built based on our case.

If I change the tax rate to Out of State, this is a code we created with a
tax rate of 0  then it removed all other tax from the sale (for example
accessories) but not the tax for parts associated

[2017-07-14 04:53] Fazal-RepairDesk commented on #251
Hi @quangc

Thanks for sharing your feedback! I'm forwarding this request to my team. Once I get a feedback, I'll update you accordingly.

Best,
Fazal

[2017-07-14 11:29] wirelessrepairzone opened #252 "Trade in API"
Looking for a way to list the equipment we have for sale on our website, is there any way to link this to the Tradein on the POS system

[2017-07-31 00:12] ThinkDigitalRepair commented on #252
According to RepairDesk, this is all the endpoints they support. The closest one is inventory, but that doesn't seem to include trade-in inventory
[https://repairdesk.uservoice.com/knowledgebase/articles/1189105-public-api](url)

[2017-07-31 00:44] ThinkDigitalRepair opened #253 "Invoices API"
The Invoice API URL isn't working.
https://api.repairdesk.co/api/web/v1/invoices?api_key=xxxxxxxxxxxxxxxx
returns
`{
  "success": false,
  "statusCode": 100,
  "message": "No Result Found",
  "data": []
}`

all other endpoints return valid data.

[2017-07-31 10:41] wirelessrepairzone commented on #250
Any update on this? Do you have the information needed to review?

[2017-08-01 13:04] Uzair-RepairDesk commented on #253
Hi Jonathan,
**I got the following update from our development team:-**
"You are missing parameter. We also highlighted the following text in our [Knowledge base](https://repairdesk.uservoice.com/knowledgebase/articles/1189105-public-api) article:- "

"By default, it returns today invoices if no parameter is passed for the search. If you want to get yesterday, 7 days 30 days invoices pass a parame

[2017-08-01 13:04] #253 closed

[2017-08-03 17:28] ireparo opened #254 "Recipt and ticket label"
it will be very helpfull if we can add on the recipt or ticket the physical location of the repair job because the technicians have to entrer to the program to see where is the mobile phone.

[2017-08-08 07:58] Fazal-RepairDesk opened #255 "Serialized Items in RMA"
Suggestion by Quang:

In the RMA, system does not allow to select serials, so we have to manually delete them from our system. Is this the way at the moment?

The steps are you will create RMA to return some serialized stock and they system did not ask for serials. So the system will not know which item to be returned.

[2017-08-08 08:01] Fazal-RepairDesk commented on #254
Hi @ireparo Thanks for the suggestion! I'm forwarding it to our team.

[2017-08-09 07:59] Hunterpacd opened #256 "Commonwealth Bank Australia EFTPOS Machin (Albert) API"
Hello,

Lots of small businesses in Australia use [Albert EFTPOS Machine ](https://www.commbank.com.au/business/merchant-services/eftpos-options/in-store/albert.html?ei=albert) as their payment method. This machin is based on Android and have alot of useful apps in Australia.
Just wanted to say it would be perfect if RepairDesk add an API for this  machine as well.

Thanks
Matthew

[2017-08-11 16:32] ChrisDRT opened #257 "Point of Sale Barcodes"
Whenever scanning a product bar-code, I always reciev an error saying 'product not available on Point of Sale'

[2017-08-15 09:54] Uzair-RepairDesk commented on #257
Hey Chris,
Can you answers the following question so I can assist you:-

1: Did you generate product barcodes from RepairDesk?
2: Can you specify where you exactly scan the barcode from POS screen?
3: Can you please share a screenshot or a video?

Looking forward to hearing from you

Regards,
Uzair from RepairDesk

[2017-08-16 06:13] Fazal-RepairDesk commented on #256
Hi @Hunterpacd
Thanks for sharing your suggestion. I'm forwarding your query to our project manager.
Once I get a feedback I'll you know.

[2017-08-24 04:47] Fazal-RepairDesk commented on #256
Hi @Hunterpacd,
Hope you're well. So I had a discussion regarding your request for an integration with Alber ETTPOS Machine.
Can you share API for common wealth bank so that we can plan it in the near future? These banks don;t offer API. We tried reaching out to them before.

[2017-08-24 05:42] Hunterpacd commented on #256
Hi Fazal,

Would you please tell me how should I share API for albert ?

[2017-08-24 11:22] Fazal-RepairDesk commented on #251
Hi @quangc
Following your suggestion, we have added a filter to sort all paid/ unpaid purchase orders called **Payment Status**.
![filter_1](https://user-images.githubusercontent.com/22954033/29664250-48fb363a-88e8-11e7-8caa-b6c0b93e611b.png)

[2017-08-24 13:50] jjjonesjr33 opened #258 "Negative Integers - Allow negative numbers to create coupons"
Create a separate section under Inventory drop down called "Coupons" in this section allow for the user to create a negative price item to create a coupon.

*Have a statistic setup in the dashboard for how many coupons have been used.
*And the option under the coupon to only be applied at checkout as well as one per customer.

[2017-08-25 05:13] Fazal-RepairDesk commented on #256
Dear Matthew,

[2017-09-29 00:36] EliteRepairs opened #259 "Ipad App POS"
when pressing save on new customer data , ipad pos app crashes , running ios 11

[2017-09-30 19:40] elbakh opened #260 "Missing resource in widget"
Using the repair widget/add in on my website and I'm getting a 404 for the following resource:
https://app.repairdesk.co/themes/repairdesk/fonts/AvenirNextLTPro-Regular.otf

[2017-10-04 15:24] ireparo opened #261 "Google print"
There is a problem printing from google print with the recipt because don't print the correct size but if i print directly it prints correct. is any way to change the parameters form printer? Thamns

[2017-10-17 09:42] fullrepairing opened #262 "Some tickets one invoice"
Please, some clients want to have only an invoice for some tickets, please do it possible.

Thanks!

[2017-10-27 02:03] kristan79 opened #263 "Customer Info Required"
The  new trade in module  is awesome.  The only issue is when you create ticket,it requires you to put in a customer.  I require all tickets to have a customer and do not want to stop that feature.  We need to save the ticket with the trade in info and not a customer.  Thank you in advance for the fix

[2017-10-27 02:08] kristan79 opened #264 "Printing Labels from PO and RMA section"
We need to be able to print inventory labels in the Purchase order section.  It is a pain to have to go to inventory for every item to print inventory labels.  The same with the RMA Labels.  You are able to print RMA labels through ticket but if you had an item that you do a RMA for prior to the repair you should be able to print a label from the RMA screen

[2017-10-27 02:14] kristan79 opened #265 "Commisson including Tax"
Commission Report includes taxes.  We should not pay commission on tax to our employees. The report total should only include subtotal not total including tax

[2017-10-28 23:39] ThinkDigitalSoftware opened #266 "Getting an Error when Posting a Customer with the OpenAPI"
I'm using the openAPI customers post function to try to upload a customer, but no matter what I try, I keep getting an error. Here's what I'm submitting using [Postman](https://www.getpostman.com/):

URL:
`https://api.repairdesk.co/api/web/v1/customers?api_key=vrvEPmn-11GC-pRlj-8Fze-VmfTrelf8`

Body:
`"first_name": "Test", "last_name": "Customer", "phone": "", "mobile": "+1 555-555-5555", "address

[2017-10-30 19:38] ThinkDigitalSoftware opened #267 "IPad app incorrectly marking tickets as paid when opened in the POS"
I opened up the ticket in the position to see how it looked and then closed it but when I opened it again and tried to take a payment, it said the invoice was already paid although an invoice hasn't even been created yet.
![975034a4-a7b3-43a1-b56c-9869a4c6f825](https://user-images.githubusercontent.com/23037821/32191721-4396cfa4-bd6f-11e7-8485-08b30e8c1f66.jpeg)
![8e6b98ad-be0f-48e5-860e-33ff26e26

[2017-11-01 05:46] ThinkDigitalRepair commented on #266
![screenshot from 2017-10-31 22-45-56](https://user-images.githubusercontent.com/23037821/32261658-50925be6-be8d-11e7-9158-fe8596c38eea.png)
Nothing with Postman either.

[2017-11-01 05:55] ThinkDigitalRepair commented on #266
Got it submitted with this information. Is there any way you can change the response to include correct formatting?
![screenshot from 2017-10-31 22-55-00](https://user-images.githubusercontent.com/23037821/32261880-94c2dc40-be8e-11e7-85e1-e8402c547329.png)

[2017-11-02 09:36] Fazal-RepairDesk commented on #60
Issue already resolved and is on live. Closing it here.

[2017-11-02 09:36] Fazal-RepairDesk commented on #60
Issue already resolved and is on live. Closing it here.

[2017-11-02 09:40] #60 closed

[2017-11-03 15:27] kristan79 opened #268 "Transaction Log Discrepancy"
Transaction Log is missing tickets everyday.  For instance my Transaction Log shows $647.21 to Cayan on 11/2 and the actual received is 804.15

[2017-11-03 15:29] kristan79 commented on #261
I have change all parameters on my end.  It has something to do on the back end.  It does it with Print Node also

[2017-12-13 11:13] bharaaus opened #269 "Edit Invoice in POS Window"
There is an issue in editing invoice in POS screen.
Example : Invoice made with 3 products. Customer came back , he want to swap one item with a different color. We click on VIEW INVOICES > Open the invoice > Delete the returned item > Scan the new item.
and confirmed.

All Process upto here is smooth. Deleted item get added to inventry. and new item get deducted from inventry.

But here comes the

[2017-12-22 00:43] CrackdMobile opened #270 "Customer Group Discounts Incorrect on Invoice"
I have a friends and family discount group that provides a 25% discount on all accessories.  The discount applies properly to the ticket, but when it creates an invoice the discount calculates wrong.

Look at open ticket #0-110 in my RepairDesk right now and you will see a tempered glass screen protector for $34.99 that is discounted 25% to $26.24

If you look at invoice #93 for the same transacti

[2017-12-27 23:50] kristan79 opened #271 "Multi Store Low Stock Inventory"
Every time I go to Low Stock inventory there is a amount in PO.  It is combining both stores.  This need to be separate.  Also all of my Purchase orders are closed and there is still an in PO amount.  Please advise