[2022-02-16 07:48] Repairdesk-QA commented on #1821
Hello @AVECorp,
Hope you are doing well.

I would like to add here that when we export a ticket, there is a column name Devices Category which displays the devices
![image](https://user-images.githubusercontent.com/39614480/154219171-169578ac-b26b-4fbf-92cc-6ca2235c54f4.png)
![image](https://user-images.githubusercontent.com/39614480/154219217-1011b220-ecc1-4a5d-9bc4-c0d9df4ad8f9.png)

I hope you

[2022-02-16 08:00] Repairdesk-QA commented on #1822
Hello @RDimprovement,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Waiting for your response.

**_Thanks @ Regards,_**
Quratul Ain

[2022-02-18 03:49] AVECorp opened #1828 "Estimates showing 0 value"
Hi Team,

When we create an estimate using a custom ticket status the estimate is showing as a $0 value, despite having a cost on the ticket.
If we try with one of the default system statuses then the estimate shows the correct amount.

[2022-02-19 23:12] hitman1986 opened #1830 "Suggestions"
In stores that contain one cash box and more than one sales employee, we need a way to know the sales of each employee individually only with a special report, this can be done at the payment screen, choosing the employee who made the sale with a simple click, what do you think, I expect it will be a good feature for everyone

[2022-02-21 04:36] Repairdesk-QA commented on #1828
Hello @AVECorp,
Hope you are doing well.

I have checked your issue and is working fine on our end.
**_Kindly look into the video attached:_**
https://watch.screencastify.com/v/zy6ijT48oDtxzDnRPS1z

Would be great if you share your business name with us so that we can check the settings you have made from the backend.
You can also provide us with a short video to elaborate on the steps that lead y

[2022-02-21 04:48] ProductTeam-RepairDesk commented on #1830
Hey, @hitman1986
Hope you are doing well. I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work during this Quarter. I will keep you posted once we start working on it.
And I hope that if there’s anything else I

[2022-02-21 13:07] hitman1986 commented on #1830
Thanks

[2022-02-21 13:13] hitman1986 commented on #1823
I need when press on category sort by it
![C70B8067-F84A-4A24-9435-39DF38250302](https://user-images.githubusercontent.com/44485797/154962099-e9b2103c-f704-455c-a695-bcfd84a71dfb.jpeg)

[2022-02-21 15:32] tomdamman opened #1831 "Calendar view"
Hello,

It would be nice that you could see the tickets in the calendar view for all employees.

Currently it only works for the default store/main store of the employee.

I however have roaming employees who also go to different stores -> they don't see their calendar there.

Kind regards

[2022-02-21 15:38] tomdamman opened #1833 "Ticket pane customization"
Hello,

A feature that would be handy is to be able to add priorities to certain tickets and to lock in the presets.

For example, sort on priority, then date & filter on certain employee & date and keep this the standard view.

Kind regards

[2022-02-22 14:27] ProntoFix opened #1834 "Retail price of used parts for repair on invoice"
In Belgium we are obliged to state on the invoice which parts we have used for the repair and which profit/sales price we include here, on the part separately.

Now it is only possible to charge a price for the service, but the invoice does not state which part was used and what the retail price was for this.

[2022-02-23 04:34] ProductTeam-RepairDesk commented on #1833
Hey, @tomdamman  Can you please explain it in detail for better understanding?

Regards:
Humza

[2022-02-24 11:47] GlobalLinksBrighton opened #1835 "Trade-In, Pending Purchase Receipt"
Hi There.

We are a mobile phone store that buys and sells second hand goods.
Follows are the simple steps for buying from the public:
1. You walk in with the device(s) that you are looking to sell.
2. We offer you price(s) and estimated time for testing the device(s).
3. Once agreed, we book in the device(s) in for testing in RepairDesk .
4. Once booked, then the device(s) status becomes "Pending

[2022-03-01 04:33] ProductTeam-RepairDesk commented on #1834
Hey @ProntoFix
Hope you are doing well, we have a trigger in setting under Module configuration => Receipts => Show part details on the receipt. Enabling this will allow users to view the part being used.
for now, you can view the part used.
Rest of the details I have noted and will add to the roadmap.
Hope this helps if there is anything else I can help you with do let me know.

Regards:
Humza

[2022-03-04 18:29] RakeshR2 commented on #1206
Good Afternoon,

Any update on this?

Thank you,

Rakesh Chandravadia

R2 Repair

[image: r2logo]

E:   ***@***.***

*Technical or General Inquiries: ***@***.****
***@***.***>

*Technical Support contact number: 905-901-3108 Ext 15 (or Ext 24 after
3:30 pm and at weekends)*

*Repair Services and parts quotes: ***@***.****
***@***.***>

*www.R2Gaming.com* <http://www.r2gaming.com/>

[2022-03-07 08:16] Repairdesk-QA commented on #1206
Hello @RakeshR2,
Hope you are doing well.

We are working on your issue but would like to inform you that it is connected with a number of modules from the coding point of view and need more time.
We will surely update you about the status in a week.
We really appreciate your patience and time.

**_Regards,_**
Quratul Ain

[2022-03-09 17:37] karatopia opened #1836 "Shopify product condition sync"
Hey there! I've got a Shopify store set up for a cell phone and accessory store and found that the condition field does not sync to Shopify. This would be a great feature to further encourage shoppers to purchase! :-)

[2022-03-11 06:31] Repairdesk-QA commented on #1373
Hi **@JessicaSOS**,
Hope you are doing well !

**Closing** this issue as it has been fixed
And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.

Closing this issue for now, but you can always open this whenever you want to.

Regards,
**Nida**

[2022-03-16 04:54] #1822 closed

[2022-03-16 04:54] Repairdesk-QA commented on #1828
Hi again @AVECorp   - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2022-03-16 04:54] #1828 closed

[2022-03-16 04:55] #1821 closed

[2022-03-16 04:55] #1373 closed

[2022-03-16 16:54] kmcorp27 opened #1838 "Cant finish an unlocking ticket because repair time obligatory"
.

[2022-03-17 04:24] Repairdesk-QA commented on #1838
Hello @kmcorp27,
Hope you are doing well.

Would be great if you can provide us with a short video or screenshots of where you are facing this issue.
This would be really helpful for us to understand this issue.
Waiting for your kind response.

**_Thanks & Regards,_**
Quratul Ain

[2022-03-17 07:13] #1834 closed

[2022-03-17 07:15] ProductTeam-RepairDesk commented on #1836
Hey @karatopia
Hope you are doing well. I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work during this Quarter. I will keep you posted once we start working on it.
And I hope that if there’s anything else I c

[2022-03-17 07:16] ProductTeam-RepairDesk commented on #1835
Hey @GlobalLinksBrighton
Hope you are doing well. I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work during this Quarter. I will keep you posted once we start working on it.
And I hope that if there’s anythin

[2022-03-17 07:17] ProductTeam-RepairDesk commented on #1831
Hey @tomdamman
Hope you are doing well. I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work during this Quarter. I will keep you posted once we start working on it.
And I hope that if there’s anything else I c

[2022-03-19 19:03] bonbon12 opened #1839 "Is it possible to create our own custom payment ingregation?"
Would like to create a custom payment method which when confirmed fires off a call to another POS API.

I have read: https://help.repairdesk.co/knowledgebase/articles/1189105-public-api

[2022-03-21 05:26] Repairdesk-QA commented on #1839
Hello @bonbon12,
Hope you are doing well.

I have discussed your concern with our development lead and as per discussion with him, I would like to add that it is not possible to create custom payment integration as there is no Open APIs are available for this.
You can contact our support agents via live chat to figure out the best solution.

If you have any questions or if there is anything else w

[2022-03-22 15:20] cglinks commented on #1835
Hi Huzma,

Thank you, I will be waiting :)

Kind regards
Hani

[2022-03-25 14:33] tomdamman opened #1840 "Customer reply doesn't get into repairdesk"
When a client replies to us by mail, our email forwards this to repairdesk.

With a certain client this does not work. I suppose this is because the title of the message is changed to include their reference number (also a ticketing system).

They reply with this title "Informatie nodig ticket 8696 (message id:22832172552) com346.765.087"

The "com346.765.087" is added, all other customers this is

[2022-03-28 04:56] Repairdesk-QA commented on #1840
Hello @tomdamman,
Hope you are doing well.

Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Your patience means a lot.

**_Regards,_**
Quratul Ain

[2022-03-28 05:43] Repairdesk-QA commented on #1840
Hello again @tomdamman,

I have checked your concern and would like to add that **_Message-Id_** in the subject line should remain at the end.
If it remains so, you would be able to receive the email with an edited subject line.

**_For better understanding, kindly look into the video attached:_**
https://www.screencast.com/t/06bOaZGPmEW

I hope this will solve your issue but if you still have any

[2022-03-28 07:28] tomdamman commented on #1840
Hello,

I understood this already like i said in the report.

The problem is that the other party adds this for their internal systems.
And will not remove this (since they are a stock listed company with > 10
000 employees). Even if i remove it manually (which i for sure won't do),
they will not allow it bc they need it for their communication.

My request is that you fix the bug so it doesn't ma

[2022-03-29 06:25] Repairdesk-QA commented on #1840
Hello again @tomdamman,
Hope you are doing well.

Your reported improvement has been assigned to the development team and hopefully, it will be fixed early next week.
Will update you shortly with the status.

**_Regards,_**
Quratul Ain

[2022-03-29 06:31] Repairdesk-QA commented on #1840
**_For internal use only:_** https://repairdesk.atlassian.net/browse/REP-3571

[2022-03-29 12:02] tomdamman commented on #1840
Hey Quratul!

Thanks for the update!

Kind regards

Op di 29 mrt. 2022 13:30 schreef Repairdesk-QA ***@***.***>:

[2022-03-29 19:55] techm89 opened #1841 "Transaction receipt not being sent by email after payment (PayFacto)"
A while back we asked for the card payment transaction receipt to be sent to customer directly via email instead of having to print the receipt each time since invoice is already sent by email anyway.

Someone got back to me saying this had been done. I just tested today and the receipt is not included with the invoice by email. Could someone look into this?

[2022-03-29 23:15] RDimprovement opened #1842 "RMA file export improvement"
Would you please be able to add an SKU and Notes column to the RMA export excel file?

Thanks.

[2022-03-30 04:32] Repairdesk-QA commented on #1841
Hello @techm89,
Hope you are doing well.

Let me check at my end and will surely update you in a while.
Your patience means a lot to RepairDesk.

**_Regards,_**
Quratul Ain

[2022-03-30 04:43] Repairdesk-QA commented on #1840
Hello @tomdamman,
Hope you are doing well.

It's great to assist you and I hope you will be happy with the fix.
Closing this issue for now, but you can always open this whenever you want to.

 And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.

**_Thanks & Regards,_**
 Quratul Ain

[2022-03-31 04:38] ProductTeam-RepairDesk commented on #1842
Hey @RDimprovement,
I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work during this Quarter. I will keep you posted once we start working on it.
And I hope that if there’s anything else I can do for you, you w

[2022-04-01 08:44] tomdamman opened #1843 "Bug in invoice numbering"
Hello,

When creating a standalone invoice, and you don't save it, the numbering goes up anyway. And you can't use the invoice number anymore afterwards. (new invoice skips a number and you can't change the new invoice number).

I guess somehow the invoice number is assigned as "being used" in the database but not in reality?

This should be an urgent fix since the numbering should be correct for

[2022-04-01 12:09] Repairdesk-QA commented on #1843
Hello @tomdamman,
Hope you are doing well.

This is our current flow of the system.
We have criteria in the search to see unsaved invoices and you can edit those from there.
_Kindly find the following attachment:_
![image](https://user-images.githubusercontent.com/39614480/161260382-f715c5b4-887a-4fa6-84e7-d27b0f7a2343.png)

If there is anything else with which I may assist, please do not hesitate

[2022-04-03 01:05] Kevinljh commented on #1815
Same problem. Please fix this!

[2022-04-04 07:39] tomdamman commented on #1840
Dear Sir/madam,

The ticket comes into the system (inbox) and recognized the ticket. But
doesn't show up in the ticket itself?

Kind regards

Op wo 30 mrt. 2022 06:43 schreef Repairdesk-QA ***@***.***>:

[2022-04-04 07:56] Repairdesk-QA commented on #1840
Hello @tomdamman,
Hope you are doing well.

I have checked your concern and is working fine on my end.
![image](https://user-images.githubusercontent.com/39614480/161498870-931f8e32-fbe1-4a27-9deb-9cf1cd95669f.png)
 Would be great if you can share your business name and the ticket number with us so we can check from the backend and would be able to track the issue.
 If you are not comfortable here

[2022-04-04 13:50] RakeshR2 opened #1844 "Template for Invoice and Estimate"
Hi All,

Can you please remove HST column for each item on Invoice and estimate template? We will only require HST total in these templates.

[2022-04-05 15:01] techm89 commented on #1841
Has this been resolved?

[2022-04-06 04:39] rabidnerd opened #1845 "Sales Tax Not Calculating Correctly on Services"
Services need sales tax in PA when the service is on a taxable item.

However, when I add a taxable service to a ticket, it may show it on the line when added, but not in the total, it may or may not show it in the invoice, and it virtually never applies it when cashing out the invoice using the POS.

![63ticket34](https://user-images.githubusercontent.com/5092412/161896887-2909d395-334f-4c51-941a

[2022-04-06 06:40] Repairdesk-QA commented on #1841
Hello @techm89,
Hope you are doing well.

We have checked your concern and would like to inform you that this is under development.
Also, I would like to mention that if we sent an email from the Manage Invoice section,  the email contains PayFacto and Invoice Receipt both.
https://watch.screencastify.com/v/pLT4APCkE6ayi1FwwwuP
But we are working on automatic email too and also from POS. Hopefully

[2022-04-06 06:46] Repairdesk-QA commented on #1841
**_For internal use only:_** https://repairdesk.atlassian.net/browse/RB-4830

[2022-04-06 07:17] Repairdesk-QA commented on #1845
Hello @rabidnerd,
Hope you are doing well.

I believe you are using one of these triggers (mentioned below)
![image](https://user-images.githubusercontent.com/39614480/161916858-010c90fb-b139-439b-a64d-b582c1997955.png)

When we use these triggers, the tax will be calculated on the parts attached to the ticket, not on the service.
If there is no part in the ticket, the tax would be 0.

I hope this

[2022-04-08 05:46] Repairdesk-QA commented on #1844
Hello @RakeshR2,
Hope you are doing well.

We have locked your improvement and hopefully, it will be fixed in our next release.
We will update you once it is live.
Thanks for your patience & time.

**_Regards,_**
Quratul Ain

[2022-04-08 05:47] Repairdesk-QA commented on #1844
**_For internal use only:_** https://repairdesk.atlassian.net/browse/REP-3586

[2022-04-09 22:13] rabidnerd commented on #1845
Yes, that was precisely it.

Although, I had done it when going through and saw "Florida, Michigan, OTHER US STATES...", I just chose tax on full retail price and moved on.

Both are unselected now, and it appears to calculate right now.

[2022-04-09 22:13] #1845 closed

[2022-04-11 08:07] Repairdesk-QA commented on #1845
Hello @rabidnerd,
Hope you are doing well.
It's great to know that you have found the solution.
If there is anything else with which I may assist, please do not hesitate to reach out.

**_Regards,_**
Quratul Ain

[2022-04-11 11:56] tomdamman commented on #1840
works

[2022-04-11 12:00] tomdamman opened #1847 "Customer portal showing service details instead of tickets"
Dear Sir/Madam,

The customer portal shows all service details instead of a ticket overview. So if a ticket has more then 1 service selected (for example something stupid as "shippingcosts". It shows it too on the overview.

It would be logical that it's the same way as we would see it when we click a customer. One line per ticket.

[2022-04-12 04:25] Repairdesk-QA commented on #1840
Good to know.
If there is anything else with which I may assist, please do not hesitate to reach out.

**_Regards,_**
Quratul Ain

[2022-04-12 04:25] #1840 closed

[2022-04-12 04:29] Repairdesk-QA commented on #1843
Hello again @tomdamman,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Closing this issue for now, but you can always open this whenever you want to.

**_Regards,_**
Quratul Ain

[2022-04-12 04:29] #1843 closed

[2022-04-12 04:30] Repairdesk-QA commented on #1839
Hello again @bonbon12,
Hope you're doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Closing this issue for now, but you can always open this whenever you want to.

**_Regards,_**
Quratul Ain

[2022-04-12 04:31] #1839 closed

[2022-04-12 04:32] Repairdesk-QA commented on #1838
Hello again @kmcorp27,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

**_Regards,_**
Quratul Ain

[2022-04-12 20:30] s2tech2021 opened #1848 "Feature Request: Ability to send Invoice for Payments on Parts order without fully paying the ticket"
We would like to be able to send an invoice to our customer so they can just pay for the parts we are about to order for them if they are not in the store, in person, without having to pay for the entire invoice or entire ticket.

[2022-04-14 11:31] ProductTeam-RepairDesk commented on #1848
Hi there,
I really appreciate that you took the time to share your ideas.

I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work during 2nd Quarter.
With that said you can use this work around for now.

And I ho

[2022-04-14 15:57] AbbyCSC opened #1849 "Invoice Summary - Negative items"
When you print the report excluding items with 0 on hand it should still print those with a negative qty on hand.  The logic should be to exclude qty = 0 and it appears to be =< 0.
Also the dollar amount of items with negative on hand should be displayed as a negative amount and currently it shows it at 0.

[2022-04-15 10:06] Repairdesk-QA commented on #1849
Hello @AbbyCSC,
Hope you are doing well.

Thank you for bringing this to our attention!
Your reported issue has been assigned to the development team and hopefully, it will be fixed in the next release.
Thanks for your patience and time. We will update you shortly with the status of the issue.

**_Regards,_**
Quratul Ain

[2022-04-15 10:08] Repairdesk-QA commented on #1849
**_For Internal Use Only:_** https://repairdesk.atlassian.net/browse/RB-4877

[2022-04-15 10:15] Repairdesk-QA commented on #1838
Hello @kmcorp27
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Closing this issue for now, but you can always open this whenever you want to.

**_Regards,_**
Quratul Ain

[2022-04-15 10:15] #1838 closed

[2022-04-16 03:25] CGOwner opened #1850 ""This Week" in reports is not this week, it's the last 7 days. All the other presets dates are correct, why isn't that one?"
If I click on "REPORTS", then click on TODAY.. I get TODAYS numbers..  If I click on Yesterday, I get YESTERDAYS numbers. LAST MONTH, would be MAR 1st thru March 31st. Not the last 31 days...  if I click on LAST YEAR, guess what I get? Not the last 365 days, but Jan 1st thru Dec 31st.   Someone PLEASE FIX "This Week" to be Sunday thru what ever day you select the report on...   Yes I know I can wo

[2022-04-18 05:31] ProductTeam-RepairDesk commented on #1847
@Repairdesk-QA
Can we please review it and get more details if required?

[2022-04-18 05:58] Repairdesk-QA commented on #1850
Hello @CGOwner,
Hope you are doing well,

Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
Your reported issue has been assigned to the development team and hopefully, it will be fixed in the next release.
We will update you shortly with the status.

**_Regards,_**
Quratul Ain

[2022-04-18 05:59] Repairdesk-QA commented on #1850
**_For internal use only:_** https://repairdesk.atlassian.net/browse/RB-4882

[2022-04-18 06:50] Repairdesk-QA commented on #1847
Hello @tomdamman,
Hope you are doing well.

We have discussed your suggestion and would like to add that your reported suggestion has been assigned to the development team. Hopefully, it will be live in the next week.
We will update you shortly with the status.

If there is anything else that comes up, please do not hesitate to reach out.

**_Thanks & Regards,_**
Quratul Ain

[2022-04-18 07:25] tomdamman commented on #1847
Thanks for the update!

Op ma 18 apr. 2022 08:50 schreef Repairdesk-QA ***@***.***>:

[2022-04-19 14:23] Repairdesk-QA commented on #1849
Hello @AbbyCSC,
Hope you are doing well.

Your reported issue has been fixed. Now you are able to see the negative items in Inventory Summary Report.
But I would like to add here that showing cost for a negative On Hand is not possible as it will disturb the stats.
I hope you can understand. Kindly let us know with your valuable feedback.
Waiting for your response.

**_Thanks & Regards,_**
Quratul

[2022-04-20 05:06] Repairdesk-QA commented on #1841
Hello @techm89,
Hope you are doing well.

Your reported issue has been fixed and is live. Kindly check at your end and do let us know with your valuable feedback.
Waiting for your response.

**_Regards,_**
Quratul Ain

[2022-04-20 08:10] Repairdesk-QA commented on #1849
Hello again @AbbyCSC,
Hope you are doing well.

I have discussed your concern with our Development Lead and would like to add here that in RepairDesk, the negative cost has never been saved in the database and it has impacts on a large number of areas.
If we change this, for now, it will take a lot of time and the whole system needs this change wherever we have costs.
With a small team and a big r

[2022-04-21 10:30] tomdamman opened #1851 "tax deducted twice"
Dear Sir/Madam,

When I edit a ticket, and adjust the service problem, the price changes but the tax is deducted twice.

For example. 121€ in total with 21% included will put a 100€ total and a 82.64€ without tax. This problem started 1 or 2 weeks ago.

When i just add a completely new service line it does it correctly.

kind regards.

[2022-04-21 13:30] onebitetechnology opened #1852 "Trade-in Item missing from report if it was added to an invoice via a Ticket"
Situation: Customer bought a device (sitting in the Trade-in module). They wanted the hard drive upgraded, so I created a ticket, added the service/part, and added the device as an inventory item to the ticket. Once the upgrade was done, I invoiced it and billed the customer.

This particular trade-in device is missing from the trade-in report for the day.

[2022-04-22 06:45] Repairdesk-QA commented on #1851
Hello @tomdamman,
Hope you are doing well.

I would like to inform you that this issue has been reported by another customer and it has been fixed.
The fix is live now. Kindly check again and let us know if you still have this issue.
Waiting for your feedback.

**_Regards,_**
Quratul Ain

[2022-04-22 07:05] Repairdesk-QA commented on #1852
Hello @onebitetechnology,
Hope you are doing well.

Thank you so much for reporting this issue. It looks like there is a bug that popped up.
We have checked your concern and it has been assigned to the developer.
Hopefully, it will be fixed and live in next week.
We will update you shortly with the status.

If there is anything else with which I may assist, please do not hesitate to reach out.

**

[2022-04-22 07:05] Repairdesk-QA commented on #1852
**_For internal use only:_** https://repairdesk.atlassian.net/browse/RB-4905

[2022-04-22 07:16] tomdamman commented on #1851
Great to hear!

Op vr 22 apr. 2022 08:45 schreef Repairdesk-QA ***@***.***>:

[2022-04-22 13:58] onebitetechnology opened #1853 "WooCommerce Upload - Duplicating Product photos"
I've recently discovered the root of my integration/syncing problems. My web host has a limit on how many "files" I can have in my hosting package. I was maxed out at over 214,000 (for a single website) and that is why my WooCommerce integration was "broken" and wouldn't upload new products.

I've now discovered that it seems the integration is duplicating images. Each product uploaded from Repair

[2022-04-22 21:45] MystaFyer opened #1854 "Combining Tickets"
I'm looking for a feature to be added. We have many customers mail us devices. A new ticket is created for each device for better tracking. It would be great to be able to combine tickets together so when I invoice the customer they only need to pay once, rather than pay each ticket individually.

[2022-04-22 21:47] MystaFyer opened #1855 "Links in Tickets"
I would like the ability to post hyper links in tickets for other employees to refer to for more information. For example, I could post a youtube video link in the ticket to help an employee figure out a repair. Or I could post a link to a Google Doc with a standard operating procedure on how to complete a repair, etc...

[2022-04-22 21:54] MystaFyer opened #1856 "Customer Portal Updates"
I'm looking for an update to the Customer Portal for Repair Desk 2.0 (or sooner). On the Customer Portal, there is a button for customers to create a new ticket or submit a new ticket. The one built into the Customer Portal is a streamlined version of repair desk which causes more confusion for customers and doesn't afford us (the repair company) the ability to control as much incoming information

[2022-04-23 04:30] drphonemb opened #1857 "[SHOPIFY] - [SYNC] - [Images / Description / Price Cost]"
Hi Guys. I got all products from Mobile Sentrix using Mobile Sentrix integration, then after i did Repair Desk vs Shopify, using data from Mobile Sentrix. I just realize the cost price and images doesn't sync with Shopify, that means i don't have cost price and images in my Shopify.

[2022-04-23 04:31] drphonemb opened #1858 "[MobileSentrix] - [Product Description]"
Hi Guys,

  MobileSentrix integration didn't get the product description from MobileSentrix.

[2022-04-24 16:42] drphonemb opened #1859 "[MobileSentrix] - [Home/Settings/Mobile Sentrix Integration]"
We need one option to import ALL items from Mobile Sentrix. In this step (Home/Settings/Mobile Sentrix Integration) we can select just products on this page, if have 40 pages, we need repeat this process 40 times.

[2022-04-27 07:01] ProductTeam-RepairDesk commented on #1855
Hi @MystaFyer

Are you aware of our "Internal Wiki" module that is specifically developed for the same reason? You can put your SOP, repair tutorials, guidelines, and best practices for your employees in the internal wiki. You can also link external links in the articles.
You can directly place a reference to the article in the ticket if you want to highlight/instruct your employees.
They can open

[2022-04-27 10:22] Mobil-manden opened #1860 "Implementation? - Customer filling ticket"
my whole issue is that we are a very fast paced business and this would be a struggle for us to use in this way, what would be perfect, would be for our customers to approach an iPad, fill in the ticket themselves, sign the agreement, let them have a small reciept with a repair number, and for it print the whole ticket for us automatically with the same repair number, and then we can just put the

[2022-04-27 14:13] MystaFyer commented on #1855
I'm looking more for links in the tickets. We have many other repairs
stores that mail devices to us and we need to be able to see the notes on
their work orders, so they need to be able to link their work order.

Best Wishes,

*Alex Wasemiller*
General Manager
South Central WI | North Central IL
*UBREAKIFIX | Asurion*
*M: *608.201.4576
*E:* ***@***.***
www.ubreakifix.com

*Locations*
*Janesville,

[2022-04-27 14:14] MystaFyer commented on #1855
I'm looking more for links in the tickets. We have many other repairs stores that mail devices to us and we need to be able to see the notes on their work orders, so they need to be able to link their work order so we can quickly access it.

[2022-04-27 14:14] MystaFyer commented on #1855
I'm looking more for links in the tickets. We have many other repairs stores that mail devices to us and we need to be able to see the notes on their work orders, so they need to be able to link their work order so we can quickly access it.

[2022-04-29 12:10] Repairdesk-QA commented on #1850
Hello **@CGOwner**,
Hope you are doing well,

I believe that your reported issue has been fixed. Please verify at your end and do let us know if you have question regarding this.

**_Regards,_**
  Nida Khalid

[2022-05-01 10:12] Repairdesk-QA commented on #1850
Hi **@CGOwner,**
Hope you are doing well,

Thanks for sharing your concern in detail. I'm going to reach out to our BA Team to get this taken care of, I'll get back to you as soon as I got some feedback regarding your concern!

_Regards,_
Nida Khalid

[2022-05-06 04:31] ProductTeam-RepairDesk commented on #1850
Hey @CGOwner, I hope you're doing well.
I really appreciate that you took the time to share your ideas.

I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work during 2nd Quarter.
With that said you can use this

[2022-05-06 07:24] #1841 closed

[2022-05-06 07:26] #1849 closed

[2022-05-06 13:03] Repairdesk-QA commented on #1857
Hey **drphonemb**, Hope you are doing well !

Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

**_Regards,_**
Nida Khalid

[2022-05-09 04:28] Repairdesk-QA commented on #1853
Hello **onebitetechnology**, Hope you are doing well !

Surely by turning OFF the trigger "**Sync product image on your online store when a product is updated on RepairDesk**" will help you not to sync product image again on WooCommerece, Otherwise it will replicate the image again on WooCommerece Store Gallery.

Also its at WooCommerece End not replacing the Product image in its gallery but on up

[2022-05-10 09:02] tomdamman commented on #1847
Any update on this?

[2022-05-10 10:13] Repairdesk-QA commented on #1847
Hello @tomdamman,
Hope you are doing well.

Thank you so much for your patience and time. Your suggested improvement is aligned with the sprint and we will surely update you once it is done.
I appreciate your time and I hope you enjoy the rest of your day!

**_Regards,_**
Quratul Ain

[2022-05-10 10:16] Repairdesk-QA commented on #1847
**_For internal use only: https://repairdesk.atlassian.net/browse/REP-3636_**

[2022-05-10 12:04] Repairdesk-QA commented on #1851
Hello @tomdamman,
Hope you are doing well.

Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
If there is anything else with which I may assist, please do not hesitate to reach out.

**_Regards,_**
Quratul Ain

[2022-05-10 12:39] Repairdesk-QA commented on #1851
Hello again @tomdamman,
I have checked at my end and is working fine. Can you please share your business name and ticket id so we can check from the backend?
Waiting for your response.

**_Regards,_**
Quratul Ain

[2022-05-10 12:47] Repairdesk-QA commented on #1852
Hello @onebitetechnology,
Hope you are doing well.

Your reported issue has been fixed. Kindly check at your end and do let us know with the feedback.
Waiting for your feedback.

**_Regards,_**
Quratul Ain

[2022-05-11 04:49] Repairdesk-QA commented on #1857
Hello **_drphonemb_**, Hope you are doing well !

Thank you for bringing this to our attention! It looks like there's a bug that just popped up. Will update you soon.

**_Regards_**,
Nida Khalid

[2022-05-11 04:50] Repairdesk-QA commented on #1857
**For Internal Use**

**Jira Link:** https://repairdesk.atlassian.net/browse/RB-4970

[2022-05-11 13:00] Repairdesk-QA commented on #1851
**_For internal use only: https://repairdesk.atlassian.net/browse/RB-4978_**

[2022-05-13 22:08] conlan0 opened #1862 "Total Employee Hours"
It would be nice if when you chose a time period for an employees hours that it would just give you a total.

[2022-05-16 05:21] ProductTeam-RepairDesk commented on #1862
Hi @conlan0

Can you please elaborate on your request? Do you want to update the logs of hours for an employee? What exactly you are referring to as "Chose a time period"?

Looking forward to hearing from you

[2022-05-16 05:30] ProductTeam-RepairDesk commented on #1860
Hi @Mobil-manden

Do you want a customer to self-check in from an iPad for a ticket? Did you try our self-check-in and customer-facing display widget for the same?
https://help.repairdesk.co/knowledgebase/articles/1102397-taking-customer-signatures-through-customer-facing

[2022-05-16 07:35] Repairdesk-QA commented on #1857
Hello **_drphonemb_**, Hope you are doing well !

It is to inform you that your mentioned issue about image syncing to Shopify is fixed now, you may update the existing item or sync newly added Mobile Sentrix item in RepairDesk to Shopify.

Secondly the Cost Price issue is under Development Team, I'll get back to you as soon as I have more information about the fix!

**_Regards,_**
Nida Khalid

[2022-05-16 14:37] conlan0 commented on #1862
Yeah I'm sorry if I wasn't detailed but what I mean is when you are looking at the "Employee TimeSheet - Clock In / Clock Out Time" and select the dates you want, for it to show a total amount of hours worked between those dates.

[2022-05-17 05:44] #1852 closed

[2022-05-17 11:18] Repairdesk-QA commented on #1857
**For Internal Use

Jira Link:** https://repairdesk.atlassian.net/browse/RB-5005

[2022-05-17 13:21] Mobil-manden commented on #1860
I want the customer, to be able to do the entire check in process by themselves, via an iPad, placed at a check in counter, and then after their check in, I would want it to automatically print the repair quote for us, and print a small Order receipt for the customer, that matches the order number on our quoute. So that we are able to let the customers check in by themselves, as we are handling ot

[2022-05-20 06:11] Repairdesk-QA commented on #1851
Hello @tomdamman,
Hope you are doing well.

Your reported issue has been fixed and is live.
Kindly verify at your end and do let us know with your valuable feedback.

If you have any questions, please do not hesitate to reach out.

**_Thanks & Regards,_**
Quuratul Ain

[2022-05-20 06:25] #1850 closed

[2022-05-20 06:47] Repairdesk-QA commented on #1857
Hello **drphonemb**, Hope you are doing well !

Your reported issue has been fixed. Now when the Tigger **"Sync product cost price on your online store when a product is updated on RepairDesk"** is ON under Shopify Integration  , it will sync item's Cost Price with Shopify.

Also your concern related to image syncing was also fixed in our previous release. Please verify and do let us know.

And I

[2022-05-24 13:33] Repairdesk-QA commented on #1847
Hello @tomdamman,
Hope you are doing well.

Your reported issue has been fixed. Kindly check at your end and do let us know with the feedback.
Waiting for your feedback.

**_Thanks & Regards,_**
Quratul Ain

[2022-05-25 14:14] JessicaSOS opened #1863 "appointment time slot problem"
Hello,
Our customers are no longer able to select an appointment time slot via our website. The appointments plugin mentions that there are no appointments available. Still, there is no date restriction in plugin settings. As of June 12, the problem seems to be fixed. What's the problem ? Here is a video that demonstrates the problem: https://www.awesomescreenshot.com/video/9091576

-- French:
Bon

[2022-05-26 01:05] AVECorp opened #1864 "Invoices / Estimates Not Allowing Products to be Backordered (RD1.0)"
Hi Team,

We have noticed the system does not show out of stock inventory products when creating an estimate or invoice.
Can this please be enabled so we are able to create backorders for parts we may not have on hand at the time of the estimate or enquiry.

Thank you

[2022-05-26 04:51] Repairdesk-QA commented on #1863
Hello @JessicaSOS,
Hope you are doing well.

Sure thing. Let me take a look to see if I am getting the same issue.
Will update you shortly with the status.

**_Thanks & Regards,_**
Quratul Ain

[2022-05-26 05:27] Repairdesk-QA commented on #1864
Hello @AVECorp,
Hope you are doing well.

I would like to add here that there are two triggers in
Store Settings -> Module Configuration -> Point of Sale
If you enabled these triggers either for inventory or for parts, you would not be able to see Out of Stock items (neither on POS nor on estimates or invoices).
The triggers are highlighted in the picture,
![image](https://user-images.githubuserco

[2022-05-27 06:13] #1851 closed

[2022-05-27 06:13] #1857 closed

[2022-05-27 06:15] Repairdesk-QA commented on #1863
Hello @JessicaSOS,
I hope you are doing well.

Your reported issue has been fixed, kindly check at your end and let us know if you have any questions.
If there is anything else I may assist with, please do not hesitate to reach out.

**_Thanks & Regards,_**
Quratul Ain

[2022-05-27 13:38] JessicaSOS commented on #1863
It's fixed, thank you very much for your speed

	Jessica Fugère
Vice-présidente, SOS Phone

 <tel:4189991579> 418 999.1579 |  <tel:4506771579> 450 677.1579 |  <tel:18559991579> 1 855 999.1579
 ***@***.***> ***@***.***
 <https://sosphone.ca/?utm_source=signature&utm_medium=urlsite&utm_content=sosphone.ca&utm_campaign=outils> sosphone.ca
2750, 1re Avenue, Limoilou, G1L 3N8

5375, boul. Guillaume Cou

[2022-05-27 16:11] Repairdesk-QA commented on #1863
Glad you like it.
Closing this issue as it has been fixed
And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.

Thanks for your time. Enjoy your day!

**_Regards,_**
Quratul Ain

[2022-05-27 16:11] #1863 closed

[2022-06-02 09:19] Repairdesk-QA commented on #1864
Hi again @AVECorp   - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2022-06-02 09:19] #1864 closed

[2022-06-08 11:10] Matthewabegg commented on #1691
Hi @crinkylips , your suggestion is not lost here either, my filters are different in that I want to filter for a single customer, many tickets over a longer period, my jobs can go to months, so I want that team to see their jobs and the customer as they visit to see this. Corporate Plus in my view..
So more filters please

[2022-06-11 17:12] yourWSA2 opened #1865 "Warranty Repair Charging Customer Sales Tax"
When I enter a Warranty Repair Ticket for our customer it still charges Sales Tax on the part used no matter what Tax class I enter.

See ticket #4503 as an example

[2022-06-12 14:04] Jonmarr95 opened #1866 "Ability to replace “manufacturer” with additional “category” on"

[2022-06-12 19:28] #1862 closed

[2022-06-13 04:44] Repairdesk-QA commented on #1865
Hello @yourWSA2,
Hope you are doing well.

Sure thing!
Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

**_Regards,_**
Quratul Ain

[2022-06-13 11:55] Repairdesk-QA commented on #1865
Hello again @yourWSA2,

We have checked your issue and concluded that it is because of the bundle we have attached to our service.
Attached is the screenshot of the test account service item.
![image](https://user-images.githubusercontent.com/39614480/173347929-f4846673-5b3f-405e-a7c9-7ecfad3639f2.png)

Your issue is under discussion with the Business Analyst team. Will update you shortly once don

[2022-06-20 15:09] AMott-2020 opened #1867 "Inventory improvement"
ability to add a serial number in place of IMEI when adding a new product

[2022-06-24 20:39] yourWSA2 commented on #1865
Any update on this?

On Mon, Jun 13, 2022 at 6:55 AM Repairdesk-QA ***@***.***>
wrote:

[2022-06-27 06:13] ProductTeam-RepairDesk commented on #1865
Hey, @yourWSA2 I hope you're doing well. After the discussion, we inferred that the suggested issue is basically an improvement. We really appreciate that you took the time to share your idea.

I can certainly see how the suggested improvements would be helpful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the momen

[2022-06-27 09:57] yourWSA2 commented on #1865
What is the work around?

I cannot understand how this is considered an improvement...
There is no where on the planet that a warranty repair would charge the
customer sales tax....  Which means when a ticket is marked "warranty" the
should be no charges applied.  If charges are applied that would be
considered a bug.
Especially considering the tax is applied EVEN if the ticket is marked as
"Non T

[2022-07-04 22:40] RDimprovement opened #1869 "Customer export incomplete"
Hi,

The customer phone field in RepairDesk is not exporting to the Phone column in excel (the phone column is empty). The mobile field is exported to excel ONLY if there is one number in the mobile field in RepairDesk. If there are two numbers in the mobile field in RepairDesk only the first one exports. Could the phone fields and all numbers in the mobile fields export correctly to excel?

[2022-07-14 09:26] Repairdesk-QA commented on #1869
**_For internal use only:_** https://repairdesk.atlassian.net/browse/RB-5293

[2022-07-14 09:43] #1869 closed

[2022-07-25 17:00] AMott-2020 opened #1870 "email template"
a template that can be emailed to customers for tv repairs that shows their current place in line....like how many TVs are in front of theirs.

[2022-08-03 04:38] ProductTeam-RepairDesk commented on #1865
Hey @yourWSA2
I hope you're doing well. First of all, we would like to thank you for bringing this to our attention. We have fixed this issue. You can give it a try now. If there's anything else we can do for you, please do not hesitate to reach out.
Thanks & Regards
Product Team

[2022-08-10 01:04] JSLTechPTYLTD opened #1871 "Feature Request: Inventory Module, Product tags / status"
I would like a way to set products as unactive or discontiued. so that if a product is an old product that is not longer being reordered etc i can set it as a discontiued product without deleting from our system. the best example of this from my experience is on Dear inventory system they have a product status option and you set the product as "active" meaning it is a currently stocked item or set

[2022-08-22 00:54] JSLTechPTYLTD opened #1872 "Feature Request: Undo last change button"
On a regular basis particularly on the ticket queue screen, when updating statuses, it is very easy to mis click the wrong status or any other change similar to that. can we get an “undo” button so if that happens, we can just simply press that. it will make our lives a lot easier.

[2022-08-22 00:58] JSLTechPTYLTD commented on #1835
I 2nd this feature. Big recommendation to get this pushed through.

[2022-08-22 01:01] JSLTechPTYLTD commented on #1854
I 2nd this feature, would be extremly useful

[2022-08-25 12:40] KEZSVS opened #1873 "SenderName, RepairDesk SMS"
Hey,

I know that till the last year two was not possible to have a SenderName when you send a text, comes as a number,
i's very unprofessional, so I move the integrate to TextLocal, because they have this option,
but I'm happy to use RepairDesk SMS but I must to have this option,

waiting to hear from you,

![Capture](https://user-images.githubusercontent.com/69765024/186667116-1e3e81f3-594d-4f9c

[2022-08-25 16:51] AMott-2020 commented on #1873
would be an excellent feature.

[2022-08-29 11:11] KEZSVS commented on #1873
Why is this urgent matter being ignored?

[2022-09-15 20:04] KEZSVS commented on #1873
Can't belive it how we ignore customers, a disaster,

[2022-09-28 09:24] JNLogan commented on #1679
@ProductTeam-RepairDesk any comments on this post?

[2022-09-28 09:27] JNLogan opened #1874 "Repair Tracker Improvement"
Would be great if the Repair Tracker Iframe Tool would also accept a Ticket ID if the "T-" is left off the ticket id submission.

We have heard from several customers who have had trouble accessing their repair status after omitting these characters, even if the id digits and phone number were submitted correctly.

[2022-09-28 12:33] AMott-2020 commented on #1874
same issue here or have the "T" as a permanent character so the customer just types the ticket number

[2022-10-05 13:08] JNLogan commented on #1257
Would be a great feature to attribute true performance of technicians - repairs completed over a period.

Collection times often cannot be controlled by the individual completing the repair so it doesn't make sense to evaluate them by that metric.

[2022-10-11 08:37] kmcorp27 commented on #1838
We stopped taking in unlocks anyway, the issue still exists, but only for
people who has repair time obligatory enabled.

On Fri, Apr 15, 2022, 6:15 AM Repairdesk-QA ***@***.***>
wrote:

[2022-11-15 12:29] jphansendk commented on #1754
Totally agree.. would be a nice to have..

[2022-11-15 12:31] #1670 closed