[2021-04-21 08:04] Repairdesk-QA commented on #1561
Hey @adigsm07,
Ayesha here. Hope you are doing well. Can you please elaborate on your concern regarding integrations commission with a relevant screenshot? How you exactly use commission at this point in time? Will be happy to advise you once you share additional details. Thanks!

[2021-04-21 09:06] Repairdesk-QA commented on #1568
Hey @JessicaSOS,
Thanks for the image. I have tried with the above image as well and it worked for me. I have just changed the name of the image provided by you and it successfully gets uploaded in the Wiki. Kindly see the video attached below, hope it helps. Please let me know if I am able to answer your question.
Thanks,
Ayesha Aamer
https://drive.google.com/file/d/1NHjk9xbZBqEiuLso7w_gU1QuIVVpL

[2021-04-21 09:40] creator72 commented on #1564
Hi, I'm still testing this to see if it still happens, It didn't happen with all my invoices just some. I have another more urgent problem, that Zettle will not login on the POS app for IOS, when trying to login it comes up with an error about a URI not allowed, I have chatted with he team about it but I need this working ASAP as it's a hassle using the zettle go app to take payment then recording

[2021-04-21 10:10] Repairdesk-QA commented on #1574
Hey @sebhyork ,

Thank you for the confirmation, Ill check it on my end and revert back to you.

Please let me know if there anything else I can help you with.

Thanks,
Zain

[2021-04-21 14:09] JessicaSOS commented on #1568
The same steps are precisely done on my side, but I am still unable to import the image. I tried with google chrome and microsoft edge.

[2021-04-21 15:04] onebitetechnology commented on #1577
I 2nd all these points. I can't send a prepaid bag or label in Canada, the carriers don't offer it.

[2021-04-21 15:09] onebitetechnology opened #1578 "Daily Sales/Parts Report"
Every morning I run the Sales Summary report to see my profit and calculate how much to set aside for taxes, profit, and inventory.

Right now, if I (or a staff member), forget to add a part to a service during a ticket, there is not way to catch it. The Ticket Items report (I just discovered this morning), ONLY shows you ticket items used. It does not list all services to make sure you did add an

[2021-04-21 15:11] DavidReyes27 commented on #1577
Then be able to remove or edit this message, how about if I don't send a label neither? or a bag as stated in the defined message.

[2021-04-22 08:29] Repairdesk-QA commented on #1568
Hey @JessicaSOS,
Ayesha here. I hope you are doing well. Definitely strange! I tried again and it worked for me. Can you please connect with one of our support agent on live chat so that he can look into the issue you are facing in detail? Thanks!

[2021-04-22 08:54] Repairdesk-QA commented on #1564
Hey @creator72 ,

Sorry for the inconvenience we are looking into this hopefully it will be fixed soon.

Please let me know if there anything else I can help you with.

Thanks,
Zain

[2021-04-22 15:27] JessicaSOS commented on #1568
I don't see how anyone on the chat is going to be able to help me with this. Here is the video on my profile.

https://www.awesomescreenshot.com/video/3480230?key=5f326ffa2d8d61d87e53097187098d11

[2021-04-22 16:25] JessicaSOS commented on #1447
PLEASE REOPEN:

Here is the problem that remains in this task. It is not possible to add a second telephone number without having to enter the "+" followed by the "space" key and before entering the telephone number. We are unable to list the phone number only.

---
Voici le problème qui reste dans cette tâche. Il n'est pas possible d'ajouter un deuxième numéro de téléphone sans avoir à inscrire l

[2021-04-22 16:35] JessicaSOS commented on #437
I don't have a video and I can't see what I could film. I sent you all the acreenshots previously. Currently, no more sales are made on our website because we have deactivated the woo commerce. There was too much error and invoices were automatically created when people tried to buy an item online without the payment working. I will therefore close this task despite the fact that it is not settled

[2021-04-22 16:35] #437 closed

[2021-04-23 09:32] Uzair-RepairDesk commented on #1568
@Repairdesk-QA Can you check this again?

[2021-04-23 09:32] Uzair-RepairDesk commented on #1447
@Repairdesk-QA
Can you check this?

[2021-04-24 03:44] Chaseprogression opened #1579 "Select All hide from POS"
Need to mass select and hide from POS. Thanks

![Screen Shot 2021-04-23 at 10 43 35 PM](https://user-images.githubusercontent.com/83105574/115946210-5777b280-a485-11eb-9e64-a50fe2923fbb.png)

[2021-04-25 21:58] Yucatech2013 opened #1580 "Repairdesk iphone app bugs needing attention"
The time on your repairdesk app for iphone is wrong, it is about 1hr ahead, It shows me that a customer repair check in was 11:37AM PST when the real time on my iphone at that same time is 10:37AM

The total amount of sales is also often times wrong, some days it says that I have $3,550 in sales when in reality my total store sales is $650 all day

[2021-04-26 08:23] Uzair-RepairDesk commented on #1579
Hi @Chaseprogression
Do you want to hide "Out of stock" items from POS in one go or selective products only?

Looking forward to hearing from you

Regards,
Uzair

[2021-04-26 11:05] Uzair-RepairDesk commented on #1578
Hey, @onebitetechnology  Hope you are doing well. we have a report named as  **Item wise sales report**, in this specific report, you can view all the items sold, their cost price and margins as well.
Hope this helps. If there is anything else I can help you with do let us know.

Regards,
Humza

[2021-04-26 11:53] Repairdesk-QA commented on #1580
Hey @Yucatech2013,
Ayesha here. Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks!

[2021-04-26 12:05] Repairdesk-QA commented on #1580
Hey @Yucatech2013,
Hope you are doing well. I have checked on my end, clock in / clock out transactions are displaying the correct date & time further the sales values are also displaying correctly when transactions are made from the RepairDesk mobile app. Could you please give it another try?
Thanks,
Ayesha

[2021-04-26 13:37] Chaseprogression commented on #1579
Yes that’s correct.

Thanks
Chad
Rescuetronics 724 west Main Street #460 Lewisville, Texas 75067
Rescuetronics.com

[2021-04-27 03:29] TechTraders commented on #1567
I would love for this to be added also, having the GRN automatticly calculating the landed cost would be amazing!

[2021-04-27 03:50] onebitetechnology commented on #1578
Ah awesome! Did I miss this before or is it brand new? It did just help me find a ticket from last week I forgot to add the part. Thanks a million :)

[2021-04-27 20:21] Chaseprogression opened #1581 "Better slack notification details"
Needing better slack notifications details as we use this information daily.

please see the comparison between repairshopr and RepairDesk [bottom of screenshot)

![47E64B7C-F855-4986-B15A-22A8FF367131](https://user-images.githubusercontent.com/83105574/116307664-3d332280-a76c-11eb-9f8f-66fad5d938d2.jpeg)

[2021-04-28 06:43] creator72 opened #1582 "Review request being sent to b2b customer"
My b2b customers are complaining about reviews being sent to them, is there a way to stop review requests for b2b customers?

[2021-04-28 08:23] adigsm07 opened #1583 "2 devices in 1 tickets. (Checkout just for 1 device)"
Hello,
What's the procedure when a customer have 2 devices and we put in the same ticket and 1 device is done but 1 still remains for repair? How to make checkout for 1 device?

[2021-04-28 10:10] Repairdesk-QA commented on #1583
Hey @adigsm07,
Hope you are doing well. At the moment if a customer has 2 devices and we put in the same ticket and 1 device is done but 1 still remains for repair then you can take partial payment against that ticket during checkout & mark the Repaired & Collected status as No in the checkout pop-up so that the status of your respective ticket don't get change. Once the other problem is repaired

[2021-04-28 10:23] Repairdesk-QA commented on #1582
Hey @creator72,
I hope you are doing well. Are you using the Review Campaign for getting reviews from the customers, if yes then kindly disable it and by doing so your customers will stop getting the review emails? Hope it helps.
Thanks,
Ayesha Aamer

[2021-04-28 20:42] onebitetechnology opened #1584 "WooCommerce Integration Improvement (Trade-in devices)"
WooCommerce integration sends up multiple fields in RepairDesk into the Product Name in Woo, in regards to Trade-In Products. It takes the Manufacturer, Device type, colour, size, condition, and new/used and melts it all together into the Product Name in WooCommerce.

"Apple MacBook Pro (13-inch, 2017, 2 Thunderbolt 3 Ports) Space Grey, 8GB RAM, 1TB SSD, USED (Grade B), Wifi"

Ideally, I really ju

[2021-04-29 07:58] Uzair-RepairDesk commented on #1579
Hi @Chaseprogression

We have a trigger available under "Store Settings > Module Configurations > POS > Enable the trigger "Hide Out of stock items from POS product listing". Please check the screenshot attached.
It will allow you to hide the out-of-stock items automatically in one go. Please review at your end and let me know if you have any questions. Thanks.

![image](https://user-images.github

[2021-04-29 21:07] techm89 commented on #1363
Hello, any planned fix on this? This should be pretty basic stuff to be  included in this type of POS. Unless you guys have planned on adding it on 2.0.

[2021-04-29 21:11] techm89 opened #1585 "Separate the repairs in ticket for each device"
I checked 2.0 and I don't see it included. Would it be possible to have each repair on a separate line for each device? Let's say I need to add battery + screen replacement for an iPhone 8. In ths ticket right now both repairs are mixed with combined total. eg: 80 for screen + 40 for battery = 120 total. It would be better if there was a line for battery= 40 and one line for screen = 80. This is e

[2021-04-29 21:15] techm89 opened #1586 "Dual payment on POS"
In the POS checkout. If a customer wants to pay a repair with 2 payment methods (eg: cash + debit). Could we make it possible to do both at the same time? Right now we have to select cash, enter amount, press confirm then it takes 5 seconds for the page to refresh, then I need to select the ticket again, then select the 2nd payment (debit). This takes time and it's annoying when other customers ar

[2021-04-29 21:22] techm89 opened #1587 "Sales report (this week)"
When we look at sales report and select (This Week) it gives the last 7 days of sales. I believe this should labeled (Last 7 Days). The label (This Week) could be used to give sales on a fixed (by user) number of days. I was always used to having the sales from Sunday to Saturday in Quickbooks. Makes it easier to compare sales with previous weeks.

[2021-04-29 21:23] techm89 opened #1588 "Add payfacto receipt directly to invoice sent to customer"
Would it be possible to include the payfacto receipt directly in the invoice sent to customer by email. Right now we have no way to give it to customer directly.

[2021-04-30 05:56] Uzair-RepairDesk commented on #1586
Hey, @techm89  yes you can add split payments, on the checkout screen you need to add the payment for cash and press green checkmark, and then you can add a payment for another payment method.
kindly see the image attached,
![image](https://user-images.githubusercontent.com/22955861/116654183-16f6c800-a9a2-11eb-9636-c10d37e98dd7.png)
once you selected the first payment method then add the payment

[2021-04-30 06:07] Uzair-RepairDesk commented on #1585
Hey, @techm89  Hope you are doing well, above mentioned functionality is added in the 2.0 roadmap, and it's under the R&D phase, we need to check its feasibility with reference to the overcurrent workflow. we will keep you posted on this.

Thanks,
Humza

[2021-04-30 06:37] Uzair-RepairDesk commented on #1363
Hey @techm89
I have marked it under enhancements so we can check the feasibility in RepairDesk2.0

[2021-04-30 06:48] Uzair-RepairDesk commented on #1588
Hey @techm89
You can print the receipt of Payfacto. Please check the video attached for your assistance:-
https://www.awesomescreenshot.com/video/3575838?key=f8855b8bc087115c4a1bef9541470997

Regards,
Uzair

[2021-04-30 12:17] techm89 commented on #1586
Wow, I really did miss this. Thank you!

[2021-04-30 12:17] #1586 closed

[2021-04-30 12:19] techm89 commented on #1588
Thanks for the update. Will look into it.

[2021-04-30 20:03] Jeryswan opened #1589 "Device Physical Location Traking."
Every now and again my shop has the problem of misplacing devices. I would like to track the physical location of every device when it moves from station to station so we always know where everything is. For example: If a tech assigns the device to himself/herself or if the manager assigns the repair to that tech it would be nice if the physical location is automatically changed to that techs benc

[2021-04-30 20:55] jphansendk commented on #1584
I just had the same issue the other way around.. Try to tick the “sync attributes” under WooCommerce integration in RepairDesk

[2021-04-30 21:03] jphansendk opened #1590 "WooCommerce custom attributes"
Struggling to make a great site selling some of our refurbished phones. Now that it isn't possible to make categories in trade-in I'm trying to make a WooCommerce filter from the attributes. Now my problem is that all attributes are custom attributes and don't show in the global attributes.
Any suggestions on how to filter my trade-in devices automatically? Make categories or sort them in any way

[2021-04-30 21:06] onebitetechnology commented on #1584
I have that turned off, as the attributes that get sent up are "custom" each time, so they're not filterable. Every time I add a new device, I add the main photo in RepairDesk, then go into WooCommerce and add the rest of the photos, tag the right attributes. Now my challenge is setting up a good filter which is a whole other ballgame lol.

[2021-04-30 21:09] jphansendk commented on #1584
Haha, I have the same problem. See the post I just posted. But it's stupid that you need to do all that work manually. There must be a better and faster way to do that.

[2021-04-30 23:09] onebitetechnology commented on #1590
I second this!

[2021-05-01 16:35] onebitetechnology commented on #1578
@Uzair-RepairDesk I just noticed today, the new Item-wise Sales report does not include invoices created on one day, but paid another.

Etc, I created an invoice on April 29th. It was paid on April 30th, so it shows up in the Sales totals for April 30th. The Itemwise sales report does not pick up that invoice.

[2021-05-03 09:24] Uzair-RepairDesk commented on #1578
Hey, @onebitetechnology  Hope you are doing well, item wise sales report is basically on a cash basis, this report records data only when payment is done against the invoice. It's also mentioned on the report that it's on a cash basis.
![image](https://user-images.githubusercontent.com/22955861/116860585-3b110e00-ac1b-11eb-98d0-11226a76195a.png)

Hope this helps.

Regards,
Humza

[2021-05-03 15:40] onebitetechnology commented on #1578
Right, so if I get paid for 5 invoices on a day, it should show the data for those 5 invoices?

I'm saying it didn't... I got paid for invoices on the 30th, but because one was created (but not paid for yet) before the 30th, this report didn't show that data.

[2021-05-04 05:34] Repairdesk-QA commented on #1582
Hi again @creator72 - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2021-05-04 05:34] #1582 closed

[2021-05-04 05:35] Repairdesk-QA commented on #1580
Hi again @Yucatech2013 - since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2021-05-04 06:59] Uzair-RepairDesk commented on #1578
Hey, @onebitetechnology thanks for the feedback, I have forwarded your request to the QA department they will look into it, and once it's fixed I will update you here as well.

Thanks,
Humza

[2021-05-04 13:46] Adski01 commented on #1563
Please can I have an update?  This needs to be addressed because this should be core functionality

[2021-05-04 14:53] Yucatech2013 commented on #1580
the issue it’s not fixed,
-in my store the employee uses a destop imac to chec-in a customer for an iphone repair at 9:31am since i’m not in the store I would open the repair desk App in my iphone to check on how many tickets there are, that’s when I see that it says that the check-in the employee did at 9:31am shows 10:30am (but the real time it’s 10am here in california usa)
so it looks like the

[2021-05-05 01:36] PruittPCsolutions opened #1591 "Square integration not finalizing setup"
Enabling square integration brings up both logins, but the confirm location window is not appearing. iPad POS states "square is not set up on my account"

[2021-05-05 08:29] Uzair-RepairDesk commented on #1563
Hi @Adski01
Hope you are doing well. Thank you for your follow-up. We have already marked it under enhancements of "Xero Integration". We will check the feasibility to add this option once we proceed to update Xero integration. Thanks.

Regards,
Uzair

[2021-05-05 10:48] Repairdesk-QA commented on #1580
Hey @Yucatech2013,
I hope you are doing well. Can you elaborate on your request with a relevant screenshot? Thanks!

[2021-05-05 11:01] Adski01 commented on #1563
That is good thank you Uzair.  When will the change be made?  We have worked with many other Xero integrations on other Cloud Apps and this function is normally standard functionality.

[2021-05-05 14:46] Yucatech2013 commented on #1580
Hi there,

Notice:
-this is a screenshot from an iphone 12
-we close at 6pm (the screen shot was taken at 6:15)
-the real check-in time for the second ticket was 5:04pm NOT 6:04pm
-So the problem is that the time on your RepairDesk iphone Application it’s 1 hour ahead

Would you Please fix it?

Thank you

[2021-05-06 07:06] Repairdesk-QA commented on #1580
Hey @Yucatech2013,
Hope you are doing well. I am unable to see the screenshot, can you please upload it? Thanks!

[2021-05-06 10:51] Repairdesk-QA commented on #1591
Hi @PruittPCsolutions,

Sorry for the trouble can you please confirm which integration you are using Square or Square Deep.

Please let me know if there anything else I can  help you with

Thanks,
Zain

[2021-05-06 21:51] Stylemyphones opened #1592 "Invoices with an edited date show up on the created date"
Invoices with an edited date show up on the created date instead of the date that was meant for that particular invoice.
When I make the edit on the invoice's date, I am trying to tell the system that it is when the transaction should be reflecting in the Transaction Logs.
However, I am having discrepancies in the EOD reports due to the transactions being considered on the created date vs. correct

[2021-05-06 22:04] Stylemyphones commented on #1592
Ref. invoice # [2053](https://stylemyphones.repairdesk.co/index.php?r=invoice/view&id=4393227) and Transaction Log [with](https://stylemyphones.repairdesk.co/index.php?r=cashDrawer/transactionLog&shift_id=)

EOD ( End of Day ) Report for 23-Apr-2021

[ReconciliationReport-23-Apr-2021.pdf](https://github.com/Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS/files/6437843/ReconciliationReport-23-Apr-2021.

[2021-05-06 22:10] Stylemyphones opened #1593 "Improvement Suggestion - Shift/User Names"
It would be super helpful to have a display of the current shift/user that is being used for the different transactions.
The name could be displayed at the top left or on the right side.
This would really help make it easier to track which user is being used at the time of adding transactions, and avoid erroneous logging.

[2021-05-07 00:22] afrahm opened #1594 "Employee Productivity Report Doesn't show repairs unless assigned to one"
In the employee productivity report when in 'Repair Wise' criteria, it wont show the employee listed underthe employee jobs analysis even if they have marked a ticket as repaired, unless they are assigned to a ticket that was created today. This should ideally list all staff in that location, so that we can see if they have completed any tickets today whether assigned to a ticket today or not.

It

[2021-05-07 06:58] Uzair-RepairDesk commented on #1563
Hi @Adski01
I am not able to give you a timeline at this moment. Our criteria are that we add requests in our backlog and pick up the improvements based on the number of requests of our community.

We have added it to our backlog and we will pick it up once we plan the improvements of Xero integration. Thanks

[2021-05-07 11:29] Uzair-RepairDesk commented on #1592
Hi, @Repairdesk-QA  can you please check at your end and update here?

[2021-05-07 11:33] Uzair-RepairDesk commented on #1593
Hi, @Stylemyphones  Hope you are doing well, can you please share more details for a better understanding.

Regards,
Humza

[2021-05-07 11:36] Uzair-RepairDesk commented on #1594
Hi @Repairdesk-QA  Can you please check this in detail and update it accordingly?

[2021-05-07 11:55] Adski01 commented on #1563
Thanks for your response. How long is the backlog?  How many items will be dealt with before this one?

This is core functionality for a Xero integration.  This could reflect poorly in the Xero App Marketplace for any reviews that your customers or their accountants leave so I’m trying to help you make your Xero integration isn’t a reason why you lose customers or don’t gain potential customers.

[2021-05-10 08:36] Uzair-RepairDesk commented on #1563
Hi @Adski01
I will update you once we plan and cater to this request.

Thanks for helping us make this a platform you'll depend on.

Regards,
Uzair

[2021-05-10 10:16] DOM260096 opened #1596 "expences payee and refunds"
hi guys id like to know if you could add a payee field to the expenses input form, and a search by payee option.

also id like you guys to look into how we can process a expense refund, for example if we buy a light that if for fixtures and fittings not for stock resale, we enters it as a business expense but later find it faulty , how do we account for this at the moment. in the say way if we bro

[2021-05-10 10:18] DOM260096 commented on #1593
id also like this, just a little text in the corner to say what user is currently logged in and what till session is in use , would really be cool

[2021-05-10 10:22] DOM260096 opened #1597 "pre repair and post repair checklists"
pre repair and post repair checklists it would be great if these were in alphabetical order because some phones have  large list and ours are not in any time or order is the system could move them into an order that would be awesome.

[2021-05-10 10:23] DOM260096 commented on #1589
i love this idea

[2021-05-10 10:23] DOM260096 commented on #1589
some of the stock does this so id like to see this system used and upgraded for stock items too.

[2021-05-10 11:07] Uzair-RepairDesk commented on #1593
Hey @DOM260096 @Stylemyphones

We have already a thumbnail image option on the top right side and if you mouse hover, it also displays the active user name.
We recommend using an image of each employee so it will be easily visible.
Please check the screenshot attached.

<img width="231" alt="Screen Shot 2021-05-10 at 4 05 35 PM" src="https://user-images.githubusercontent.com/22955861/117650130-c22

[2021-05-10 11:16] Uzair-RepairDesk commented on #1597
Hey @DOM260096
Thank you for the suggestion. However, there is comma-separated (,) behavior to display the "Pre/Post Repairs" checklist. It will be a one-time effort but you can setup according to the order your want to display.
You can go to Store Settings > Module Configurations > Pre/Post Device Condition > Update for each category > Setup the order you want to display with comma separation.
It

[2021-05-10 11:27] Uzair-RepairDesk commented on #1596
Hi, @DOM260096  hope you are doing well while adding expense you can add payee detail in reason section.
![image](https://user-images.githubusercontent.com/22955861/117652242-5c8a7080-b1ac-11eb-93f7-8c79108cc45c.png)
 And in case of expense refund, you can add **cash in** by clicking 9 dots and then making a transaction for cash in(expense refund).

![image](https://user-images.githubusercontent.c

[2021-05-10 18:27] Stylemyphones commented on #1593
@Uzair-RepairDesk,
Thank you for this information and updates; however, I am talking about something for the shift that is open at the time of being logged in.
I make corrections in our system when some of our employees miss a transaction or incorrectly document amounts in invoices, etc.
However, it has happened in the past that I am utilizing an employee's shift/register for a transaction that wa

[2021-05-11 13:21] Adski01 commented on #1563
Unfortunately I doubt that the system will be depended on, unless we know when this functionality will be planned.

Adam Smith HNDip
Technology Consultant

(t) 01534766233
(m) 07797799060
---------------------------------------------------------------------
***@***.***D74670.DD7E91A0]
http://www.purpose.je/
Linkedin<http://www.linkedin.com/pub/luke-smith/10/a00/a19>
Watch our Video<https://vimeo.c

[2021-05-11 19:46] Stylemyphones commented on #1592
I'm unable to attach a video but I can connect through phone and AnyDesk or Zoom.

[2021-05-12 19:55] DOM260096 opened #1598 "hihi connect ip phones introgration"
hi UK business are using something called HiHI  IP phone system that runs on android imwondering if a interrogation is possible to link the phone with repair desk so we can bring up customer accounts and details when a call is incoming maybe also link to call recordings at stuff like that

[2021-05-12 22:11] Stylemyphones commented on #1592
No worries the issue was discussed and 95% resolved by the support team ( Arnold ) mostly.
However, I was able to make a video in case this help to have the issue resolved on your side for any future invoice edits.

Video :
https://drive.google.com/file/d/1S3oR26rhIpNCCX0sdPNtB-Uy2ifQkkwH/view

[2021-05-12 22:11] #1592 closed

[2021-05-13 12:30] AMott-2020 commented on #1552
it would just be an option where we could print a label from the POS when creating an estimate that would maybe have the customer's number and name.

[2021-05-13 12:31] AMott-2020 commented on #1495
what other information do you need?

[2021-05-13 12:32] AMott-2020 commented on #1502
what other information do you need?

[2021-05-13 22:03] onebitetechnology opened #1599 "Bug: Can't enter SKU code longer than 7 characters in primary inventory screen, modern view."
Can't enter SKU code longer than 7 characters in primary inventory screen, modern view.

[2021-05-17 04:58] Uzair-RepairDesk commented on #1593
Did you get a chance to fill the form mentioned above? @Stylemyphones

[2021-05-17 05:04] Uzair-RepairDesk commented on #1552
Hi @AMott-2020
Thank you for the explanation. The system needs a document with device details to generate a label like a ticket etc. Currently, there is no option to generate a label with customer information only.

Regards,
Uzair

[2021-05-17 05:06] Uzair-RepairDesk commented on #1495
Hey @AMott-2020
Are you asking about "Recurring Payments"?
If yes, we have a recurring billing functionality module under "Enterprise Version" that allows you to create a recurring billing option for a transaction.

You can learn more about it from the following knowledgebase article:-
https://help.repairdesk.co/knowledgebase/articles/1951459-recurring-billing-in-repairdesk

Let me know if you hav

[2021-05-17 05:11] Uzair-RepairDesk commented on #1502
Hi @AMott-2020

Did you get a chance to review our recurring billing functionality (Enterprise version) module in RepairDesk that allows you to create a recurring service with a billing option?
You can create a subscription for a customer to provide a service and charge accordingly.
You can learn more about our recurring billing functionality from the following knowledgebase article:-
http://help.

[2021-05-17 05:53] simonchunk opened #1600 "Improvement Suggestion: Screen Refurbishing Popup"
As most people now either send their screens away to be refurbished or refurbish themselves, this seems to be an overlooked component of RD entirely.

It would be amazing if when a technician marks a ticket 'Repaired' that a popup asks if the screen can be refurbished (Similar to the error if the Pre-tests have not been completed). If you select Yes it can print a label with a barcode for that scr

[2021-05-17 07:50] Repairdesk-QA commented on #1599
Hey @onebitetechnology,

Working fine on our test account Can you please share a screenshot it will be helpful to us.

Please let me know if there anything else I can help you with.

Thanks,
Zain

[2021-05-17 11:19] AMott-2020 commented on #1552
ok, but can that be implemented in Repairdesk 2.0?

[2021-05-17 11:22] AMott-2020 commented on #1494
when will this be implemented?

[2021-05-17 11:23] AMott-2020 commented on #1495
no not recurring payments but from the $318 if they want to pay $50 a week until paid in full.

[2021-05-17 11:48] Uzair-RepairDesk commented on #1495
Hey @AMott-2020
Currently, you cannot break the payments into a specific amount however, you can add partial manual payments in an invoice until a ticket is completed and the invoice is fully paid.

[2021-05-17 11:49] AMott-2020 commented on #1495
ok can this be implemented in Repairdesk 2.0?

[2021-05-17 11:50] Uzair-RepairDesk commented on #1495
Can you share example of any system if you have experienced it before so we can check the possibility?

[2021-05-17 11:51] Uzair-RepairDesk commented on #1552
There should be a source document for a label so I am not sure if we are able to implement it in RD2.0 however I can discuss with the team to check the possibility.

[2021-05-17 11:52] AMott-2020 commented on #1495
i haven't used it before this is the 1st and only POS I have used but as a programmer it shouldn't be that hard to make happen.

[2021-05-17 11:53] AMott-2020 commented on #1552
ok

[2021-05-17 12:02] adigsm07 commented on #1329
??

[2021-05-17 12:03] adigsm07 commented on #1322
??Any news?

[2021-05-17 12:16] Uzair-RepairDesk commented on #1495
Quick question, do you face any challenge if you add partial payment in the invoice each week (based on breakdown)?

[2021-05-17 12:18] AMott-2020 commented on #1495
i mean its just a manual way of doing things where as this could be something that once setup could be automated.

[2021-05-17 19:41] mathchouinard opened #1601 "API improvements"
I need the ability to POST to /inventory with the use of your API. Please let me know if there is a way to do so already or if this feature must be added.

[2021-05-17 19:43] mathchouinard commented on #1601
Additionally, is it possible to use the import feature on the inventory page to edit existing inventory items, by using the same ID as the item to edit, or does it only create new items ?

[2021-05-19 08:40] 69277 opened #1602 "RepairDesk Improvement"
I would like to suggest an improvement suggestion with RepairDesk.co.
Simplifying the Estimate page template. The current Process is creating extra long estimates if you need to display requested information to clients. Simplified look to display better and more professional.
![image](https://user-images.githubusercontent.com/84442105/118782480-6daf3d80-b88e-11eb-943e-468982d3871c.png)
![image](ht

[2021-05-19 10:35] SimonFMS opened #1603 "Serialized Product Colour"
Hi,

Would it be possible to make the POS display the available colours of a product when a Colour Option is given to a serialized product.

This would make the POS much cleaner as the alternative at present is top add every product individually for each colour and if you do serialize you have to select the serial to view the available colours, which if your selling the product and just quickly wa

[2021-05-20 08:15] Uzair-RepairDesk commented on #1540
Hi @screenfixing, hope you are doing well.

This is Faran from the Product Team. We are starting to work on special part order in RD 2.0 and would love your input on this. Can you please explain the use case in detail that why do you want to delete the special part? A real time scenario would be really helpful and we would love to incorporate your feedback. Also, please feel free to share any addi

[2021-05-20 12:34] screenfixing commented on #1540
Hi Faran.

A couple of use cases.

1. Customer comes in with a device we don’t regularly service.
2. We open ticket and determine special order part is required.
3. Someone adds the special part but clicks the button twice because of an accident.
4. We now have the part on the ticket twice.
5. Archiving does not remove the part.
6. Deleting a mistake should be possible.

1. Customer comes in with

[2021-05-20 17:18] JessicaSOS commented on #415
As proposed a long time ago, it would be nice if it worked: 1- he should have pre-made answers in the leads (as in the tickets)

[2021-05-20 17:26] JessicaSOS commented on #619
As proposed a long time ago, it would be nice if these proposals worked. See above.

[2021-05-20 17:33] JessicaSOS commented on #735
This task has never been corrected and has never been reopened. I would like to be able to attach invoices when sending a statement. Then I would like the system to automatically send the account statements on the due date.

[2021-05-20 17:47] JessicaSOS commented on #1312
We still have this problem, is someone working on it?

[2021-05-20 17:55] JessicaSOS commented on #1568
any news ?

[2021-05-21 04:41] Uzair-RepairDesk commented on #1601
Hi @mathchouinard  hope you are doing well, yes you can import inventory using import feature, here is the link to the knowledge base article.
https://help.repairdesk.co/knowledgebase/articles/1808344-how-can-i-import-multiple-inventory-items-in-repai

For  POST API below is the detail.
https://api.repairdesk.co/api/web/v1/inventory/addnewitem?api_key={{API-KEY}}
Note: {{API-KEY}} this refers to A

[2021-05-21 04:48] mathchouinard commented on #1601
@Uzair-RepairDesk This is awesome, thank you very much. Is it also possible to edit an existing item using the API ?

[2021-05-21 05:42] Uzair-RepairDesk commented on #619
Hello @JessicaSOS
We have a plan to re-write the trade-in module in RD2.0 and we have already marked it under enhancements to check the possibility.

[2021-05-21 07:29] Repairdesk-QA commented on #1568
Hey @JessicaSOS,
Ayesha here. I hope you are doing well. I believe this issue has been fixed in the recent update. Can you give it another try?
Thanks!

[2021-05-21 10:14] Repairdesk-QA commented on #1312
Hey @JessicaSOS,
I hope you are doing well. Sorry for the inconvenience, we will look into it again and revert back to you early next week. I will reach out to you if I need more information. Thanks!

[2021-05-21 10:14] Repairdesk-QA commented on #735
Hey @JessicaSOS,
I hope you are doing well. Sorry for the inconvenience, we will look into it again and revert back to you early next week. I will reach out to you if I need more information. Thanks!

[2021-05-21 11:57] Repairdesk-QA commented on #1447
Hey @JessicaSOS,
I hope you are doing well. Sorry for the inconvenience, we will look into it again and revert back to you early next week. I will reach out to you if I need more information. Thanks!

[2021-05-21 12:23] Uzair-RepairDesk commented on #1540
@screenfixing, Thank you for your valuable feedback. I will discuss this with the Product Team and check the feasibility to cover these use cases in RD 2.0.

Best,
Faran

[2021-05-21 12:30] screenfixing commented on #1540
Also from a display standpoint. The retail price is not visible after the special order part is saved. This is really inconvenient.

-- Nate Minor
-- ScreenFixing
-- 404.969.6FIX
-- We are here because you broke something.
-- As featured on Clark Howard

[2021-05-21 16:01] AbbyCSC opened #1604 "Barcodes printing $0.00"
When I print barcodes after creating a GRN it sometimes prints the retail price at $0.00 even though the product is setup correctly with a retail price.  You team connected to my system and confirmed it is a bug.  To fix it, I enter the same retail price in the promotional price field and it then prints correctly.  This makes no sense because there is no field for the promotional price setup in my

[2021-05-21 16:13] JessicaSOS commented on #619
ok great, keep me posted!

[2021-05-21 16:15] JessicaSOS commented on #1568
Still does not work

[2021-05-21 22:08] Stylemyphones commented on #1593
Hello!
Sorry but we don't have a gmail account to be able to fill it out @Uzair-RepairDesk

[2021-05-23 22:11] fahadimran303 commented on #1568
**Hello Jessica,**

Fahad here, Manager Client Success & Support.

I have been trying to reach out on your number however I am unable to connect with you.

Is there a possibility you may book a timeslot from the link below:
https://calendly.com/fahadimran

I am going to call you on Tuesday, 25th May in order to further discuss the issue you are facing. It would be great if you can book a slot from

[2021-05-24 05:03] Uzair-RepairDesk commented on #1593
Hey @Stylemyphones
Can you give me your business name and I can add your account to the beta testers list?

[2021-05-24 05:08] #266 closed

[2021-05-24 05:11] #295 closed

[2021-05-24 05:14] Uzair-RepairDesk commented on #310
We are catering this in 2.0

[2021-05-24 05:14] #310 closed

[2021-05-24 05:18] #326 closed

[2021-05-24 05:18] Uzair-RepairDesk commented on #326
We have already this information display over the invoice. You can customize it from the template editor as well.

[2021-05-24 05:20] #361 closed

[2021-05-24 05:24] Uzair-RepairDesk commented on #369
This is linked with the price calculator we are planning to introduce in RepairDesk2.0

THIS CALCULATOR IS SETUP FOR AUSTRALIAN BASED PRICING, YOU WILL NEED TO MODIFY IT AS IT AUTOMATICALLY ADD'S 10% GST TAX TO THE OUTPUT PRICE **
This works by using our own calculation method. We use the calculation of $120/h for all our Labour costs broken up into 15 minute blocks ie: 15m = $30, 30m = $60 etc. W

[2021-05-24 05:27] Uzair-RepairDesk commented on #376
Hey @BharatPRC
We are introducing the "Items Variant" functionality in RepairDesk2.0 that will allow you to create variants for each item like "Color" without creating serials.
Please let me know if you would like to have access to 2.0 to beta test it? I will be happy to give you a walk-through as well.

Regards,
Uzair

[2021-05-24 05:33] Uzair-RepairDesk commented on #454
We have already catered this request

[2021-05-24 05:33] #454 closed

[2021-05-24 05:33] #461 closed

[2021-05-24 05:36] #535 closed

[2021-05-24 05:38] #549 closed

[2021-05-24 05:46] #706 closed

[2021-05-24 05:47] #720 closed

[2021-05-24 05:47] #725 closed

[2021-05-24 05:55] Uzair-RepairDesk commented on #789
We have catered this request in our updated cash register module

[2021-05-24 05:55] #789 closed

[2021-05-24 05:57] #828 closed

[2021-05-24 06:00] Uzair-RepairDesk commented on #845
We have introduced 2-way email functionality in RepairDesk. You can find information from the following link:-
https://help.repairdesk.co/knowledgebase/articles/1950124-send-job-notifications-with-repairdesk-2-way-email

[2021-05-24 06:00] #845 closed

[2021-05-24 06:01] Uzair-RepairDesk commented on #846
Import/Export option for serialized items is available in RepairDesk

[2021-05-24 06:01] #846 closed

[2021-05-24 06:02] #849 closed

[2021-05-24 06:04] #868 closed

[2021-05-24 06:07] Uzair-RepairDesk commented on #882
@JessicaSOS
Can you please confirm if it working for you now?

[2021-05-24 06:14] #901 closed

[2021-05-24 06:24] Uzair-RepairDesk commented on #931
Most of the legends are clickable to explore the relevant data.

[2021-05-24 06:24] #931 closed

[2021-05-24 06:25] Uzair-RepairDesk commented on #936
We have introduced an option to scan the barcode in GRN to receive the quantity of the items

[2021-05-24 06:25] #936 closed

[2021-05-24 06:25] #939 closed

[2021-05-24 06:25] #941 closed

[2021-05-24 06:28] #946 closed

[2021-05-24 14:01] Adski01 opened #1605 "Xero Integration Enhancement - Invoices with refunded/returned items"
Hello, we recently noticed that invoices with returned/refunded items are not automatically synchronised into Xero.

For instance, invoice 816 in the image below has an item refunded from a previous invoice (601).  Whilst invoice 601 was synchronised into Xero, invoice 816 was not.  I'm told that this is because the Xero-RepairDesk integration is not capable of dealing with refunded/returned items

[2021-05-24 17:10] Stylemyphones commented on #1593
It is Zams Star LLC.

Thank you @Uzair-RepairDesk

[2021-05-25 14:53] JessicaSOS commented on #882
the problem is still present, it has never been corrected. Here is an image I just took.
<img width="935" alt="reparationsss" src="https://user-images.githubusercontent.com/40500094/119519399-6208be80-bd47-11eb-8a84-55dbbce34a45.png">

[2021-05-25 15:12] JessicaSOS commented on #706
You can close this task, but be aware that the problem with # 417 and # 463 has still not been fixed. It would be nice if you could close completed tasks only!
*** reopen please

[2021-05-25 15:25] JessicaSOS commented on #1568
Hello Fahad,
I know how to import an image. I demonstrated to you by video the steps that I carried out. I don't think I'm wrong, but if so, I would like you to let me know. I am very busy and would like you to look into the problem without me as much as possible. What are your questions?
I don't think I have to be "live" with you to sort this out. You can schedule a time slot in your calendar to

[2021-05-26 04:51] #464 closed

[2021-05-26 04:52] Uzair-RepairDesk commented on #882
@Repairdesk-QA
Can you please check this?

[2021-05-26 06:21] jphansendk opened #1606 "Repaired device from ticket to trade-in device"
Is there a way to “convert” a device from a repair ticket to a trade-in device. Let's say we get a device for repair and the customer want to sell us the device for refurbishment instead of getting the device repaired?

I think it would make a lot more sense if all devices was treated as "Trade-in devices" in RD. You would treat the device as an “object” in RD and not as a repair. And then add rep

[2021-05-26 16:46] SimonFMS opened #1607 "Have the ability to order the Repair Category options on POS"
Hi

Just a thought...

 would it be possible (if not already) to be able to Sort by or even manually re-arrange the Categorised options on POS?

Makes it easier when searching for a part or product where there is quite a lot of options for that category/device if you can sort by Name or Cost etc, or if you can manually order them so the more common products/repairs appear first.

![POS option Sort

[2021-05-27 12:57] Theangelofspace15 opened #1608 "Wave accounting"
Can you add support for wave accounting? A lot of small business like me use them and it is a pain to upload statements and invoices manually.

[2021-05-27 17:33] yossigrosskopf opened #1609 "Email/Notification - Added Comment"
Can we add the ability to send an email/notification to the assigned user when a comment or anything is added to the ticket by anyone other then the assigned user.
When a client adds information to a ticket via the client portal there is know way of knowing at the moment.

[2021-05-28 00:42] antoinegali opened #1610 "Issue with Woocommerce discounts"
Hello,

When the customer is placing an online order thru Woocommerce and they apply a discount coupon, RepairDesk takes the already reduced price and adds another discount.

As an example, this phone's original price is 349.99$, customer applied a 60$ coupon which downs the price to 289.99$. RD then applies another 60$ discount on that 289.99$.

Thanks
![Screen Shot 2021-05-27 at 8 39 39 PM](http

[2021-05-28 12:44] Uzair-RepairDesk commented on #1608
Hey @Theangelofspace15
 I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work during the 3rd Quarter.

And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.

Regards,
Humz

[2021-05-28 12:46] Uzair-RepairDesk commented on #1609
Hey @yossigrosskopf
 I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work during the 3rd Quarter.  But I have noted this request and I will keep you posted once we initiate this request.

And I hope that if the

[2021-05-29 14:48] Jonmarr95 opened #1611 "Request to add sub-category to POS"
It would be great to have the option to add a sub-category to the POS, so we can better organize our devices by series/generation in addition to just one category and the manufacturer. On the same note, it would be great to be able to reorganize the order of the POS, for example starting with Manufacturer and then Category.

[2021-05-31 05:20] Uzair-RepairDesk commented on #1611
Hey, @Jonmarr95  Hope you are doing well, we have already an option to add a subcategory for products on POS. if you have added any subcategory against any product category then the subcategory option will be shown on pos.

whereas for the other request, I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the va

[2021-05-31 06:12] Uzair-RepairDesk commented on #1607
Hi @SimonFMS
Thank you for sharing the great idea. We will prefer to keep it in the backlog of RepairDesk2.0

[2021-05-31 07:29] adigsm07 opened #1612 "Signature is small and almost invisibile"
Hello guys. I write you again with a problem with the signature. I post the problem every 4,5 months and the problem is in the same situation.

The signature is very small and almost invisible.

![20210531_102030](https://user-images.githubusercontent.com/65545272/120155880-02545c80-c1fa-11eb-8838-1115be1e9ec0.jpg)

[2021-05-31 10:36] Repairdesk-QA commented on #1612
Hi @adigsm07,
Ayesha here. I hope you are doing well. Sorry for the continued inconvenience. Can you please elaborate on your concern? Which screen you are referring to and which app you are using for printing our WEB or iPad app? Will be happy to advise you once you share additional details. Thanks!

[2021-06-01 01:48] TechTraders commented on #1557
Hi, can i get an update on this please.. will this be somthing that will be implemented?

[2021-06-01 06:29] Repairdesk-QA commented on #1604
Hey @AbbyCSC,
Ayesha here. Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2021-06-01 07:29] adigsm07 commented on #1612
Is the same equipment. iPad 4 ( A1460 ) - With safari browser.

[2021-06-01 22:58] TechTraders opened #1613 "Feature Suggestion - Assest Tracking"
Hi Guys, just wanting to put it out there that it would be awesome if a company assest tracking module gets implemented for company used equipment and hardware.

[2021-06-01 23:19] afrahm opened #1614 "Employee Productivity Report - Completed Repairs Show twice"
When running the Employee Productivity Report, repairs show up twice when using Repair Date criteria.

They first show up when marked as Repaired, and then again when marked as Repaired & Collected.

This stuffs up the numbers when we are tracking how many repairs each tech completes each day.

A repair may have status set to 'Repaired' on Monday, and then the customer picks it up on Tuesday and i

[2021-06-01 23:22] afrahm opened #1615 "Employee Productivity Report - Employee Only Listed if Assigned to Ticket"
Tech will only show up in the Repair Job Analysis list (under the graph at the bottom) when they are assigned to a job during the date range.

Sometimes employees will be working on jobs that came in on a previous day, outside the date range, and will complete that job, but not be assigned to any new jobs. These employees dont show up in the list, so I can't see how many jobs they have completed t

[2021-06-01 23:24] afrahm commented on #1594
Haven't heard back about this yet?

[2021-06-01 23:25] afrahm commented on #1615
Didn't realise I had already reported this issue.

[2021-06-01 23:25] #1615 closed

[2021-06-02 04:36] Uzair-RepairDesk commented on #1613
Hey @TechTraders
Thank you for the suggestion. Is it about internal equipment (assets) tracking or tracking the assets (devices) of your customers.
Is it possible to elaborate on your request in detail with a usecase? Thanks

Regards,
Uzair

[2021-06-02 04:51] TechTraders commented on #1613
Hi Uzair, I am meaning for internal equipment thanks

[2021-06-02 04:53] TechTraders commented on #1613
And please add Technology Traders Label to post thanks

[2021-06-02 06:30] Repairdesk-QA commented on #1604
Hey @AbbyCSC,
I have checked your concern but unfortunately, I am unable to reproduce your issue. Would be great if you can share a video of this issue or detailed steps so we can release a fix during our next release. You can put together a video using Screencastify.

If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.
Regards,
Ayes

[2021-06-02 09:39] Repairdesk-QA commented on #1614
Hello @afrahm,
I have checked your concern but unfortunately, I am unable to reproduce your issue. Would be great if you can share a video of this issue or detailed steps so we can release a fix during our next release. You can put together a video using Screencastify.

If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.

Regards,
An

[2021-06-02 12:13] AMott-2020 commented on #1613
both would be awesome!

[2021-06-02 12:26] Repairdesk-QA commented on #1594
Hey @afrahm,

Sorry for the late reply, Regarding your first issue it is actually the flow of our system that a person who is assigned to the ticket is populated in Employee Productivity report.

And For your second Issue, I have assigned it to the development team if it is a bug it will be fixed on a priority basis,

Thanks,
Zain

[2021-06-02 12:37] afrahm commented on #1594
So how do we check how many tickets an employee has completed in a day if
they aren't assigned to any tickets that day?

On Wed, 2 Jun 2021, 10:26 pm Repairdesk-QA, ***@***.***>
wrote:

[2021-06-02 13:10] Repairdesk-QA commented on #1594
Hey @afrahm,

Let me forward your request to our Product team.

Thanks,
Zain

[2021-06-02 16:45] cellphoneninja opened #1617 "A request for new payment integration"
Hello, we have some stores, we need new integation for processing paymnent.
"fidelity"
https://www.fidelity.com/
direct phone number: 407-625-0236

[2021-06-02 20:20] AMott-2020 opened #1618 "Issue with invoices"
Not all items are showing up on invoices.
Ref. Ticket #100 Inv. #118

[2021-06-03 08:26] Repairdesk-QA commented on #1618
Hey @AMott-2020,
I hope you are doing well. Your reported issue has been assigned to development team and hopefully it will be fixed early next week. Your patience would be highly appreciated.
Thanks!
Azka

For internal use only: https://repairdesk.atlassian.net/browse/RB-3301

[2021-06-03 10:41] AMott-2020 commented on #1618
ok thanks.

[2021-06-03 10:55] Repairdesk-QA commented on #1618
Hey @AMott-2020
I believe this issue has been fixed in recent update. Can you give it another try?
If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.
Thanks!
Azka

[2021-06-03 11:27] AMott-2020 commented on #1618
it appears to be fixed for now ill let you know if I have anymore problems

[2021-06-03 11:32] Uzair-RepairDesk commented on #1617
Hi @cellphoneninja
Thank you for the post. Currently, it is not possible for us to integrate with any third-party payment provider.
RepairDesk has its own integrated payment solution "RepairDesk Payments" that is quite convenient to use and we take the pain out of payment processing by offering clear & custom rates.
You can learn about it from the following link:-
https://www.repairdesk.co/RepairD

[2021-06-03 11:45] Uzair-RepairDesk commented on #1594
Hello Andrew @afrahm
Hope you are doing well. The real essence of the "Employee Productivity Report" is to track the productivity of the employees based on specific criteria. Currently, the criteria to track productivity is "Assignment" of the ticket.
If you leave the ticket unassigned and want to give credit to an employee/user who closes the ticket then you can ask the same user to assign the ti

[2021-06-03 11:59] afrahm commented on #1594
Yes, we assign all tickets.

But i look at this report on a daily basis to see how many tickets each
tech completes each day.

A tech may have 4 tickets assigned to him today and he completes two, and
then completes the other two tomorrow, but is NOT assigned any new tickets
tomorrow.

When I look at how many tickets that tech completed tomorrow, he will not
show up on the report.

On Thu, 3 Jun 2

[2021-06-03 12:01] isimon179 commented on #1607
Thanks Uzair.

Another thought on this, would be if on the "Service" or "Product" there is a "Display Order Priority" with the option to "display first" which can be selected for more common products/services.

[2021-06-03 20:02] RDimprovement opened #1619 "Highly Needed Improvement: Quickbooks Inventory Management"
Hi,

The way that invoices are integrated into Quickbooks (QB's) is a good start but it's missing a vital piece: inventory management. When the invoice syncs, the inventory item is not synced properly. First, the name is changed almost entirely in QB's. For example, Screen (Digitizer+LCD) Replacement is synced to QB's as c0a260---Screen-DigitizerLCD-Replacement and this is used to create a unique

[2021-06-03 20:14] RDimprovement commented on #1605
This is also the case in Quickbooks.

[2021-06-03 23:17] afrahm opened #1620 "Integration Request - Be able to Integrate with AskNicely"
Have a native integration with AskNicely to get feedback from customers.

[2021-06-03 23:32] afrahm commented on #1614
Here is a video showing what I mean.

https://www.loom.com/share/8f239bd9803a4d32a9240537cc1766a8

[2021-06-04 04:51] Uzair-RepairDesk commented on #1614
Thank you @afrahm

@Repairdesk-QA
Can you please check this?

[2021-06-04 04:52] #1618 closed

[2021-06-04 06:14] Uzair-RepairDesk commented on #1620
Hey, @afrahm  Hope you are doing well,
I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work.

And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.

Regards,
Hamza

[2021-06-04 06:20] afrahm commented on #1620
Yeah that's understandable. But be great to keep this on the radar as more people get interested in it.

[2021-06-04 08:11] Repairdesk-QA commented on #1614
Hey @afrahm!
Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
 
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information! 

Thanks & Regards,
 Annie

[2021-06-04 09:51] Repairdesk-QA commented on #1614
For Internal Use:
https://repairdesk.atlassian.net/browse/RB-3313

[2021-06-04 10:42] isimon179 opened #1621 "Integration Request - Google Reviews or Trust Pilot"
Would it be possible to have integration for Google Reviews or Trust Pilot.

Thought being that on the customer facing display or a device give the option to leave a reputable review in store.

May be farfetched or not possible but just a thought for RD2.0 maybe (Y)

[2021-06-04 11:03] AMott-2020 commented on #1620
definitely would love this feature!

[2021-06-07 06:10] Repairdesk-QA commented on #1610
Hey @antoinegali

Apologies for late reply.  Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

Regards,

[2021-06-07 09:25] jphansendk opened #1622 "Integration with Rounded.com"
I have just been on the phone with our biggest supplier "rounded.com" because we need access to their part via RepairDesk. They told me that they are already in dialog with you guys but are waiting for you guys to move on..
We would be REALLY pleased if you could prioritize this integration.. As it is now, there are no European suppliers integrated into RepairDesk.. Rounded.com could change that..

[2021-06-07 11:07] Repairdesk-QA commented on #1614
Hey @afrahm !
Thanks for your patience on this issue. I hope you are doing well.

I have been with the development team and get to know that this is not a bug but the current workflow of our system. On **11th May**, the status of ticket **T-12633** has changed to **“repaired”** and on **13th May** its status was updated to **“Repaired and Collected”**. Both of the statuses have the same status typ

[2021-06-07 11:11] afrahm commented on #1614
It doesn't help at all.. And I assumed that's why it was happening.

Because the report does not show me an accurate number of how many tickets
an employee has completed on a particular day.

How can I show this report then?

Because the way it is currently working is totally useless and I don't know
any use-case of when someone would want it to work like that.

On Mon, Jun 7, 2021 at 9:07 PM Repa

[2021-06-07 13:00] Adski01 commented on #1605
I presume you would like to see this enhancement applied for QB too?

[2021-06-08 00:05] antoinegali commented on #1610
Hello,

Thanks!

[2021-06-08 01:05] onebitetechnology opened #1623 "Warranty on receipt is different than actual"
My iPad/iPhone screen replacements have a lifetime warranty.

The service has a lifetime warranty, the part has a lifetime warranty.

On the receipt however, it is printing it as a "60 Day" warranty.

[2021-06-08 05:35] Uzair-RepairDesk commented on #1614
Hi @afrahm
I can understand your concern. I personally discuss with the engineering team that if it is possible to put a validation. The system should only consider a ticket once it is marked as repaired (status type: completed). We will update this thread if it is technically possible.

Regards,
Uzair

[2021-06-08 07:21] Repairdesk-QA commented on #1623
Hello @onebitetechnology,
I hope you are doing well! I have checked your concern but unfortunately, I am unable to reproduce your issue. Would be great if you can share a video of this issue or detailed steps so we can release a fix during our next release. You can put together a video using **Screencastify**. Or you can connect with one of our support agent on live chat so that he can look into t

[2021-06-08 07:31] Repairdesk-QA commented on #1604
Hi again @AbbyCSC, since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2021-06-08 07:32] #1604 closed

[2021-06-08 07:33] Repairdesk-QA commented on #1599
Hi again @onebitetechnology,  since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2021-06-08 07:37] Repairdesk-QA commented on #1591
Hi again @PruittPCsolutions, since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2021-06-08 07:37] #1591 closed

[2021-06-08 07:38] Repairdesk-QA commented on #1580
Hi again @Yucatech2013, since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2021-06-08 07:38] #1580 closed

[2021-06-08 07:40] Repairdesk-QA commented on #1583
Hi again @adigsm07, since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2021-06-08 07:40] #1583 closed

[2021-06-08 07:47] Uzair-RepairDesk commented on #1578
Hey, @onebitetechnology Hope you are doing well, the above mention issue is fixed.
Hope this helps. If there is anything else I can help you with do let us know.

Regards,
Humza

[2021-06-08 07:47] #1578 closed

[2021-06-08 07:48] Repairdesk-QA commented on #1561
Hi again @adigsm07, since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2021-06-08 07:48] #1561 closed

[2021-06-08 07:49] Repairdesk-QA commented on #1547
Hi again @jphansendk,  since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2021-06-08 07:49] #1547 closed

[2021-06-08 07:49] Repairdesk-QA commented on #1519
Hi again @waynza, since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2021-06-08 07:49] #1519 closed

[2021-06-08 08:02] jphansendk commented on #1547
Sure.. Sorry I did contact the support.. Don't even remember the outcome 🙈

[2021-06-08 08:10] waynza commented on #1519
Yes sir, we all good.

Thank you

On Tue, 8 Jun 2021 at 5:20 pm, Repairdesk-QA ***@***.***>
wrote:

--
Regards Wayne Susman W85 0768013068

[2021-06-08 08:24] #1431 closed

[2021-06-08 08:25] #1430 closed

[2021-06-08 08:29] #1407 closed

[2021-06-08 09:38] Repairdesk-QA commented on #1594
Hi @afrahm,

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

Thanks,
Zain

[2021-06-08 09:40] Repairdesk-QA commented on #1574
Hey @sebhyork,

It is working fine on my end, please Install the app again and see if the issue still exists.

Thanks,
Zain

[2021-06-08 09:47] Repairdesk-QA commented on #1612
Hi @adigsm07,
I hope you are dog well. Sorry for the delay but I have pulled away and caught up with work. Actually, the size of the signature is fixed and we cannot further adjust it at the moment. Further, I have noted this improvement and will certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll ad

[2021-06-08 09:51] #1349 closed

[2021-06-08 09:51] #1338 closed

[2021-06-08 09:52] #1336 closed

[2021-06-08 10:00] #1295 closed

[2021-06-08 10:02] Repairdesk-QA commented on #1272
Hi again @alanstarkie, since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

[2021-06-08 10:26] #1299 closed

[2021-06-08 10:36] Repairdesk-QA commented on #1204
Hey @DOM260096,
I hope you are doing well. Sorry for the delay but I was pulled away and caught up with work. Can you please connect with one of our support agent on live chat so that he can look into the issue you are facing in detail? Thanks!

[2021-06-08 10:43] #1129 closed

[2021-06-08 11:48] Repairdesk-QA commented on #1594
Hey @afrahm
Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks
Azka

[2021-06-08 12:05] Repairdesk-QA commented on #1515
Hi @jphansendk
I hope you are doing well. Sorry for the delay but I was pulled away and caught up with work. I have checked your concern but unfortunately, I am unable to reproduce your issue. Could you please connect with one of our support agent on live chat so that he can look into the issue you are facing in detail.
Thanks!

[2021-06-08 12:12] jphansendk commented on #1515
Haha.. Well that's what I do everytime.. And the problem still appear.. That's why I wrote in here to report the big. The only way support can help is to correct the error through the backend.. But that is a waist of time for all of us.. Would be 200% better to get the problem sorted out once and for all.. Seriously we are in contact with the live support several times a week because of this and n

[2021-06-08 19:28] Stylemyphones opened #1624 "POS and Out of Stock Inventory"
We had a situation yesterday where in the POS system the employee did not get the option of a duplicate inventory item.

One of the items was out of stock while the other was in stock.
However, in the POS he could only see the out of stock item vs. getting the option of selling against the in stock item.

Could we get multiple options showing in the system vs only one at the moment of scanning an

[2021-06-09 06:43] adigsm07 opened #1625 "Export module is not working."
Hello guys! I need to update all prices from my RepaiDesk database. I tried to export my operation but is not working. Appear a message to wait 10-15 minutes, I waited 3 hours and nothing happened.

https://youtu.be/s4DU54va8CE

This is frustrating because I can't update my price....

RepairDesk have many problems, bugs and others... Nobody wants to resolve this...Appear new and new module.... I'm

[2021-06-09 07:32] Repairdesk-QA commented on #1625
Hey @adigsm07
Hope you are doing well.
Azka here. Sure thing! Let me take a look to your issue.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks!

[2021-06-09 17:10] Jonmarr95 opened #1626 "Non-sellable inventory"
Hello, I would find it very useful if RepairDesk added an additional inventory management feature for "non-sellable inventory."

This would mainly affect the RMA process. Currently when an item is RMA'd it gets added back to inventory until it is shipped off to the supplier and then it is removed from inventory. This causes confusion in the POS as an employee may see available inventory when it's

[2021-06-09 18:11] onebitetechnology commented on #1625
Have you tried selecting (use the checkboxes) a small batch and seeing if the export works? I know not ideal, but might get you through it to get the work done.

[2021-06-09 18:22] onebitetechnology commented on #1623
https://youtu.be/mgaH-eRFu8I

[2021-06-09 18:43] onebitetechnology commented on #1599
https://user-images.githubusercontent.com/80067352/121410882-45ac7a80-c920-11eb-92c3-0b473458d89b.mov

[2021-06-10 04:39] Uzair-RepairDesk commented on #1623
@Repairdesk-QA
Please check

[2021-06-10 04:40] #1617 closed

[2021-06-10 06:19] Repairdesk-QA commented on #1599
Hey @onebitetechnology,
I hope you are doing well. I believe this issue has been fixed in the recent update. Can you give it another try? If still, you face this issue try clearing your cache, cookies, logout, and log in to your account.
If this doesn’t work or you have more questions, just let me know and I’ll be happy to help!
Thanks,
Ayesha

[2021-06-10 08:22] Repairdesk-QA commented on #1623
Hi @onebitetechnology!
Definitely strange! I have investigated on my end and it seems to be working fine. But still, thanks for the steps to reproduce the video it helped a lot, and happy to know that it worked for you will discuss this further with our development team.
If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.
Thanks,
Aye

[2021-06-10 08:24] Repairdesk-QA commented on #1623
For internal use:
https://repairdesk.atlassian.net/browse/RB-3344

[2021-06-10 11:29] Repairdesk-QA commented on #1625
Hello @adigsm07
I have checked your concern but unfortunately, I am unable to reproduce your issue. Would be great if you can share a video of this issue or detailed steps so we can release a fix during our next release. You can put together a video using Screencastify.
 If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.
Regards,
Az

[2021-06-10 11:57] adigsm07 commented on #1625
In the main post, I shared a video on youtube --> https://youtu.be/s4DU54va8CE

Actually, export module work just with  1000rows. If is many rows, appear a message "wait 10-15 minute" but after this time, remain the message..like an loop...

[2021-06-10 12:35] Uzair-RepairDesk commented on #1624
Hey, @Stylemyphones  Hope you are doing well, I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work but I will add this to the backlog and keep you posted once we start working.

And I hope that if there’s anyth

[2021-06-10 13:43] onebitetechnology commented on #1599
Solved: I had barcode set to EAN8, had to change to Code 128 :)

[2021-06-10 13:43] #1599 closed

[2021-06-10 21:07] Shoaib030080 opened #1627 "Can I use my Repair Desk Account on 2 Sites?"
I'm running a repair desk account on my business website. But KNow I want to expand my business and I want to integrate my repair dek account with the same products on another site. So, Please tell meCan I use my Repair Desk Account on 2 Sites?

[2021-06-11 05:38] Uzair-RepairDesk commented on #1627
Hey, @Shoaib030080  Hope, you are doing well. could you please elaborate your concern for us to assist you better?

Regards,
Hamza

[2021-06-11 16:33] Shoaib030080 commented on #1627
I just want to Know can I integrate my one repair desk account on two
different sites?
Is it possible?

On Thu, Jun 10, 2021 at 10:38 PM Product Team - RepairDesk <
***@***.***> wrote:

[2021-06-11 17:28] Stylemyphones opened #1628 "Repair Desk Improvement for POS"
Hello,

there is a very time consuming issue happening with the POS.
Each time that a sales representative adds a new item they must scroll back down TWICE since RD scrolls back up automatically each time, not allowing them to change the quantity and the price of the items without having to scroll down each time.

Could this be a disabled feature? Please help!

Thank you in advance and best regard

[2021-06-12 22:44] RDimprovement opened #1629 "Please Sync Purchase Orders With Quickbooks Online (Invoices are not enough)"
Hi,

Syncing invoices is great but that's only half of the equation. Repair Desk needs to be able to sync Purchase Orders in order to match expenses to the invoices. Please add this functionality to Repair Desk ASAP. Would it be feasible to implement this in the next couple of months? Thanks!

[2021-06-14 02:29] antoinegali opened #1630 ""Restock on" not working"
Hello,

In the POS, when a part is in Purchase Order, it should display "Restock on (date)". Now as you can see, it just says "Restock on 1". Am I doing something wrong?

Thanks
![Screen Shot 2021-06-13 at 10 28 04 PM](https://user-images.githubusercontent.com/37091836/121831952-d1af0100-cc96-11eb-82b2-252b66cfc3c3.png)

[2021-06-14 07:06] Uzair-RepairDesk commented on #1627
Hi @Shoaib030080

Are you asking about specific widgets or "Woocommerce integration"? If you want to setup the widgets then it is certainly possible to place the same widgets on 2 different websites. However, currently, it is not possible if you want to integrate 2 woo-commerce websites with one RepairDesk account.

Hope it helps.

Regards,
Uzair

[2021-06-15 11:45] adigsm07 commented on #1625
Toda I received an email --> Your request to export data has been successfully completed.
Please click the link below:

When I click to view my export, The page is Is's empty and the old files disappear.

[2021-06-15 19:38] JessicaSOS commented on #1373
I work to report problems to you and close tasks to you without even asking you about the problem. This is not resolved so please reopen

[2021-06-15 19:38] JessicaSOS commented on #1373
reopen

[2021-06-15 19:39] JessicaSOS commented on #1384
Same thing here. You haven't even watched!
I work to report problems to you and close tasks to you without even asking you about the problem. This is not resolved so please reopen

[2021-06-15 19:45] JessicaSOS commented on #1448
Same thing here. The problem is still here.
I work to report problems to you and close tasks to you without even asking you about the problem. This is not resolved so please reopen

example 13547, the manufacturer is no longer there but the device is. How is it possible ?

[2021-06-15 19:45] JessicaSOS commented on #1568
Same thing here. The problem is still here.
I work to report problems to you and close tasks to you without even asking you about the problem. This is not resolved so please reopen

[2021-06-15 19:46] JessicaSOS commented on #1568
We're talking about a photo and I'm still waiting ...
reopen

[2021-06-16 04:46] Uzair-RepairDesk commented on #1373
I have reopened this. Apologize for the inconvenience @JessicaSOS
@Repairdesk-QA
Can you please check this again?

[2021-06-16 05:08] TechTraders opened #1631 "Template Editor issues"
can we please have a consistent template editor that actually works how you would expect? for example if I select "reset template" to return the template to the default one, when I go to edit the newly reset template the editor does not reflect the same template??

[2021-06-16 05:09] TechTraders commented on #1613
i agree, for both would be best

[2021-06-16 05:16] Repairdesk-QA commented on #1628
Hello @Stylemyphones,
Hope you are doing well.

I have checked your concern but unfortunately, I am unable to reproduce your issue. Would be great if you can **share a video of this issue** or detailed steps so we can release a fix during our next release. You can put together a video **using Screencastify**.

If you have any questions or if there is anything else with which I may assist, please d

[2021-06-16 06:01] TechTraders opened #1632 "Admin history - Inventory items"
Can we please update the admin history logging for pretty much everything especially in the inventory to where it will show the creation details at all stores and specify which store it is created? it is a pain when i need to track down where an item was created and who created it and i have to flick between stores until i find the admin history stating it.

[2021-06-16 10:32] Adski01 commented on #1563
How long will we wait for a response on this?  What would it cost to complete changes to the Xero integration within 3 weeks?

[2021-06-16 10:33] Adski01 commented on #1365
Any news on this?

[2021-06-16 10:33] Adski01 commented on #1605
@Uzair-RepairDesk please can we discuss paying for this change to be made?

[2021-06-16 11:13] Uzair-RepairDesk commented on #1605
Hi @Adski01
I will check the possibility and feasibility of required improvements and revert back to you. Thanks

[2021-06-16 11:27] Uzair-RepairDesk commented on #1625
@Repairdesk-QA
Please check this

[2021-06-16 12:31] Uzair-RepairDesk commented on #1632
Hey @TechTraders  Hope you are doing well, let me check with the engineering team regarding the possibility that when ever an item is created its initial log should be created on all store where it is synced along with the parent store name.

Regards,
Humza

[2021-06-16 12:32] Uzair-RepairDesk commented on #1631
Hey, @Repairdesk-QA  please check this in detail and update accordingly.

[2021-06-16 13:03] Uzair-RepairDesk commented on #1632
For internal use:
https://repairdesk.atlassian.net/browse/REP-3216

[2021-06-16 13:04] Repairdesk-QA commented on #1630
Hello @antoinegali,
Hope you are doing well.

I have checked your concern but unfortunately, I am unable to reproduce your issue. Would be great if you can **share a video** of this issue or detailed steps so we can release a fix during our next release. You can put together a video **using Screencastify**.
If you have any questions or if there is anything else with which I may assist, please do n

[2021-06-16 17:51] Stylemyphones commented on #1628
Hello @Quratul Ain @Repairdesk-QA ,

Thank you very much for your response and please see the video below.
I hope this helps with understanding and resolving the issue 👍

https://user-images.githubusercontent.com/83790373/122268219-6d13c200-cea1-11eb-9ff1-d506b7357876.mp4

Best Regards,
Alejandra with StyleMyPhones

[2021-06-17 02:25] antoinegali opened #1633 "Invoices show as "Unpaid" even if they are fully paid"
Hello,

When I go to Invoices, and filter by "unpaid", there is some invoices that show as unpaid even tho they are. Please check attached pictures.

Thanks
![Screen Shot 2021-06-16 at 10 23 28 PM](https://user-images.githubusercontent.com/37091836/122321353-bb50b180-cef1-11eb-8ff8-bc37c4da0d6a.png)
![Screen Shot 2021-06-16 at 10 23 34 PM](https://user-images.githubusercontent.com/37091836/1223213

[2021-06-17 06:01] Repairdesk-QA commented on #1631
Hi @TechTraders ,
Hope you are doing well.
It is to inform you that this is the current functionality of our system as when we set "Reset to Default", it will reset to that default template provided by the Repairdesk System.
You can copy your template via the Source button and paste it again to get the expected result or get your template again.
Please find the following picture for your reference

[2021-06-17 07:51] Repairdesk-QA commented on #1623
Hey @onebitetechnology,
I hope you are doing well. We have scratched the system on your query and there's something definitely not working properly which is causing the issue, however, we are still trying to reproduce it at our end, hopefully, as soon your issue is reproduced it will be resolved!
If you have any questions or if there is anything else with which I may assist, please do not hesitate

[2021-06-17 08:18] Repairdesk-QA commented on #1633
Hey @antoinegali,
I hope you are doing well! Thank you for bringing this to our attention! It looks like there's a bug that just popped up. I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks,
Ayesha

[2021-06-17 08:26] Repairdesk-QA commented on #1633
**For internal use:**
https://repairdesk.atlassian.net/browse/RB-3383

[2021-06-17 09:29] Adski01 opened #1634 "Select/Group multiple invoices together for a single payment at the point of sale"
We have customers who purchase mulitple products and services from us, but do not pay until the end of the month.  These customers may build up 5-10 invoices over the course of a month.  When they come to pay, they have to pay for each invoice individually and this takes a lot of time with the linked paymentsense terminal.  This is terrible customer service.  The Paymentsense terminal cannot be co

[2021-06-17 19:09] antoinegali commented on #1633
Hello, thanks!

[2021-06-18 07:42] Repairdesk-QA commented on #1625
Hey @adigsm07
I hope you are doing well. Here is another way to export inventory:
1: Hit the export button
2: Cross the pop up " wait for 10-15 minutes. "
3: Go to reports --> Employee reports --> Export log --> There must be a link to download it.
If you have any other questions or feedback for us, please get in touch.
Regards,
Azka

[2021-06-18 13:16] Repairdesk-QA commented on #1633
Hey @antoinegali,
I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have any question.
Thanks,
Ayesha Aamer

[2021-06-18 14:42] antoinegali commented on #1633
Hello,

The invoice specified in my first post is indeed marked as "paid" now in the invoices list.

There is still some invoices that show as unpaid now. In my account, invoice 655 is an example.

Thanks!

[2021-06-18 15:56] baardoon1 opened #1635 "Device intake photo integrated into device intake procedure"
we set up cameras at each POS in order to take pre/post repair images but it is currently a pain as we have to take them seperately and upload them, i was hoping there may be a way to make this native during the intake procedure so my reps can press a button and take the pre image automatically and attach to the ticket

[2021-06-18 22:03] antoinegali commented on #1610
Hi, any update on this one? Thanks!

[2021-06-18 23:31] antoinegali commented on #1630
I've made this video; https://www.icloud.com/iclouddrive/01rjifKDIGM1uagMWWyA1_Nlg#RepairDesk

At the end of the video, shouldn't it display the date on which the product will be back in stock? Thanks!

[2021-06-20 17:52] Omar1892 opened #1636 "Tickets are being marked as unpaid"
Im having issues with transactions. I sent video to fahad via email.

[2021-06-20 20:15] DerrickRepairs opened #1637 "Repair Desk Bug Forces to reset subscription"
I try to set up my terminal but my account cannot access anything other than billing and it askes me to cancel my subscription first before i can do anything and now that i have its still giving me the same message , please help,

[2021-06-21 05:39] Uzair-RepairDesk commented on #1635
Hey, @baardoon1  Hope you are doing well,
I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work. but I have added it in the roadmap. I will keep you posted once we start work on it.

And I hope that if there’s a

[2021-06-21 05:40] Uzair-RepairDesk commented on #1634
Hey, @Adski01  Hope you are doing well,
I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work. but I have added it in the roadmap. I will keep you posted once we start work on it.

And I hope that if there’s any

[2021-06-21 05:50] Uzair-RepairDesk commented on #1637
Hey, @DerrickRepairs  Hope you are doing well.  can you please connect over live chat, over support executive will help you out.

Hope is there anything else I can help you with, please feel free to ask.

Regards:
Humza

[2021-06-21 06:03] Uzair-RepairDesk commented on #1630
@Repairdesk-QA
Please check

[2021-06-21 06:04] Uzair-RepairDesk commented on #1610
@Repairdesk-QA

[2021-06-21 06:05] Uzair-RepairDesk commented on #1636
Hey @Repairdesk-QA
Can we get the video from Fahad and look into it?

[2021-06-21 06:28] Repairdesk-QA commented on #1633
Hey @antoinegali,
Thank you for bringing this to our attention! I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks!
Ayesha

[2021-06-21 06:38] Repairdesk-QA commented on #1630
Hello @antoinegali,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
Your reported issue has been assigned to the development team and hopefully, it will be fixed early next week.
Your patience would be highly appreciated.
Thanks!
Quratul Ain

[2021-06-21 06:38] Repairdesk-QA commented on #1630
For internal use:
https://repairdesk.atlassian.net/browse/RB-3401

[2021-06-21 06:56] Repairdesk-QA commented on #1610
Hey @antoinegali,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up. I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks,
Ayesha

[2021-06-21 07:00] Repairdesk-QA commented on #1610
For internal use:
https://repairdesk.atlassian.net/browse/REP-3220

[2021-06-21 08:04] Repairdesk-QA commented on #1628
Hi @Stylemyphones ,

Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
Your reported issue has been assigned to the development team and hopefully, it will be fixed early next week.
Your patience would be highly appreciated.

Thanks!
Quratul Ain

[2021-06-21 08:04] Repairdesk-QA commented on #1628
For Internal Use:
https://repairdesk.atlassian.net/browse/RB-3404

[2021-06-21 09:57] Repairdesk-QA commented on #1633
Hey @antoinegali,
I hope you are doing well. Your reported issue has been fixed now for the remaining invoices as well. Please verify at your end and do let us know if you have any question.
Thanks,
Ayesha Aamer

[2021-06-21 15:10] antoinegali commented on #1633
Hello!

Looks good on my side now. I will update here if it happens again.

Thanks!
Antoine

[2021-06-21 18:38] Stylemyphones commented on #1628
Great news that it is due to a bug and that it can get fixed.

Thank you!

[2021-06-22 05:39] TechTraders commented on #1631
I had a phone call with Faisal regarding this. please speak to him regarding it.

[2021-06-22 09:57] creator72 commented on #1633
This is an ongoing bug that keeps on reoccurring every few weeks and is highly annoying for me as I have chased up said customer several times with this bug to be told by said customer that they had already paid. This looks bad and unprofessional on our part.  My accountant has access to the system and is constantly complaining that she needs to open the invoice to make sure its paid.

I'm sure al

[2021-06-22 10:02] creator72 opened #1638 "Warranty shows "out of warranty""
When checking a warranty claim from POS, no matter what ticket number, serial or customer name is used the warranty on the ticket is always "expired". When checking the warranty terms, this is set to "90 days", The warranty on the ticket is within the 90 days but the POS reports it as "expired" regardless.

[2021-06-22 10:06] creator72 opened #1639 "Special parts are not being assigned to a ticket sometimes"
I have already reported this bug to your team last week and had a remote session to show the bug to your team, the affected ticket still has no special parts on it however the the special part list shows the ticket its assigned too. I have had this problem in the past and I resolved it by creating a new ticket, however this is not a fix due to the customer then having to ticket id's sent to them a

[2021-06-22 10:45] Repairdesk-QA commented on #1639
hey @creator72
Azka here,
I hope you are doing well. Thank you for your coordination. Our teams are working to make sure we solve this problem more quickly. I believe this issue will be fixed in recent update.
Your patience would be highly appreciated.
Regards!

[2021-06-22 12:23] Repairdesk-QA commented on #1633
Thanks @antoinegali. And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.

[2021-06-22 13:43] Repairdesk-QA commented on #1633
Hey @creator72,
I hope you are doing well. Sorry for the continued inconvenience. We have fixed this issue, now it won't come on newly created invoices and for the already created invoices we are fixing it and it will be pushed live in our next release. Thanks for your patience.
Regards,
Ayesha Aamer

[2021-06-22 14:05] jphansendk opened #1640 "Inventory supplier stock count"
It would be really nice if we could have a "Remote stock count" on inventory items (like spare parts). That way we can keep an eye on low stock from our suppliers. Of cause, this is only possible if we get the remote stock count from them.. But in our case, we do get it.

[2021-06-22 14:32] isimon179 commented on #1628
if you hold "ctrl" it keeps the search menu open ;)

[2021-06-22 18:29] Stylemyphones commented on #1628
Which search menu do you mean @isimon179?

[2021-06-23 03:38] Uzair-RepairDesk commented on #1640
Hey, @jphansendk  hope you are doing well, can you please explain for better understanding.

Regards,
Humza

[2021-06-23 06:13] Repairdesk-QA commented on #1638
Hey @creator72,
Azka here. hope you are doing well.
Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

[2021-06-23 07:09] Repairdesk-QA commented on #1633
Closing this task for now, and I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.
Thanks,
Ayesha

[2021-06-23 07:49] Repairdesk-QA commented on #1630
Hello @antoinegali,
I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have any question.

Thanks!
Quratul Ain

[2021-06-23 07:51] Repairdesk-QA commented on #1639
Hey @creator72
hope you are doing well.
I believe this issue has been fixed in recent update. Can you give it another try? If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.
Regards,
Azka

[2021-06-23 07:53] Repairdesk-QA commented on #1628
Hello @Stylemyphones,

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have any question.

Thanks & Regards,
Quratul Ain

[2021-06-23 14:36] onebitetechnology opened #1641 "Invoice History (in POS) - Filtering by Customer Name doesn't work"
Example: Trying to find an old receipt to do a return

In the POS
- Click "View Invoices"
- Click "Search Filter"
- enter anything in the customer name field and search... it just seems to refresh but doesn't filter

[2021-06-23 19:42] Agman opened #1642 "Please create a way to edit the "created by" employee."

[2021-06-23 19:43] Agman commented on #1504
That would be amazing

[2021-06-23 21:26] Stylemyphones opened #1643 "Possible Bug Causing Problems"
Hello,

We are having issues with the POS due to the products being added first and then the customer says, "oh! I have a tax-ID" which would make them tax exempt.

If the customer is added after the products, the items are not updating without taxes, or vice versa with taxes if we discover that the tax permit is inactive.

We then have to take the time to go into each product and manually mark th

[2021-06-23 21:31] Stylemyphones commented on #1628
AWESOME!
Thank you so much it is working great on our side now.

Best Regards,
Alejandra

[2021-06-24 04:45] Repairdesk-QA commented on #1628
Glad you like it.
Closing this issue as it has been fixed
And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.

Thanks for your time. Enjoy your day!

Regards,
Quratul Ain

[2021-06-24 04:52] Repairdesk-QA commented on #1641
Hello @onebitetechnology ,
Hope you are doing well.
I have checked your concern but unfortunately, I am unable to reproduce your issue. Would be great if you can share a video of this issue or detailed steps so we can release a fix during our next release. You can put together a video using Screencastify.

If you have any questions or if there is anything else with which I may assist, please do no

[2021-06-24 06:24] #1628 closed

[2021-06-24 06:44] Repairdesk-QA commented on #1641
Hello @onebitetechnology,

Hope you are doing well.
I wanted to inform you that I have tested your concern with different scenarios and I have found the same issue.
Thank you for bringing this to our attention! It looks like there's a bug that just popped up.

I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks & Regards,

[2021-06-24 06:52] Repairdesk-QA commented on #1641
For Internal Use:
https://repairdesk.atlassian.net/browse/RB-3430

[2021-06-24 07:27] jphansendk commented on #1640
Sure.. We receive updates from our supplier 4-6 times a day about their stock of spare parts. We would like to be able to add that to the inventory on RepairDesk. This info is useful to us if we need to order parts and they are low on stock. We can then decide to use another supplier or pick an alternative part. This feature would be great to have - and maybe be able to enable/disable for each sup

[2021-06-24 12:47] Repairdesk-QA commented on #1641
Hello @onebitetechnology ,

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have any question.

Thanks & Regards,
Quratul Ain

[2021-06-24 12:50] Repairdesk-QA commented on #1642
Hey @Agman,
Ayesha here. I hope you are doing well. Can you please elaborate on your concern? Which screen you are referring to? Will be happy to advise you once you share additional details. Thanks!

[2021-06-24 12:58] Repairdesk-QA commented on #1643
Hey @Stylemyphones
Hope you are doing well.
Azka here. Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks.

[2021-06-24 23:27] geekszoneva opened #1644 "Price change on POS is buggy. Variable price like Square POS is needed"
It would be very helpful if there is a variable price for products and services instead of all fixed prices.

Also, there is a bug. When I try to change the price of the product or service on POS it changes the price and then when I add more products or services to the POS and click checkout it changes the price back to the old price. It is very annoying.

[2021-06-25 05:10] Repairdesk-QA commented on #1644
Hey @geekszoneva ,
Hope you are doing well.

I would like to inform you that it is not possible for us at this time to do **Variable Price Improvement** as we are short staff due to Covid. If you want to change your price, you can do it on the go while adding items to the cart.

AND

For the **bug**, I have double-checked it at my end and unable to reproduce this issue. Can you please check it aga

[2021-06-25 07:58] Repairdesk-QA commented on #1643
Hey @Stylemyphones
I hope you are doing great.
I have checked your concern but unfortunately, I am unable to reproduce your issue. Would be great if you can share a video of this issue or detailed steps so we can release a fix during our next release. You can put together a video using Screencastify.
If you have any questions or if there is anything else with which I may assist, please do not hesi

[2021-06-25 14:36] onebitetechnology commented on #1641
Nice work thanks! It now functions for me under the invoice lookup.

However... I noticed now it is also broken under the ticket lookup, lol.

[2021-06-25 17:44] Stylemyphones commented on #1643
Thank you!
Here you are,

https://user-images.githubusercontent.com/83790373/123464907-0a15df80-d5b3-11eb-9553-8edd9ee0bd5b.mp4

[2021-06-27 09:19] Uzair-RepairDesk commented on #1640
Hey @jphansendk  hope you are doing well, you basically want to have an option where you can add multiple suppliers and their respective rates so that at the time of ordering prats you can decide that from which supplier to order?
this is what i get it, correct me if i am wrong.

Regards,
Humza

[2021-06-27 09:22] jphansendk commented on #1640
No.. just an extra stock counter that is just meant for our suppliers stock.. It does not need to be adjusted by anything other than manual update.. Actually really simple

[2021-06-27 17:24] antoinegali opened #1645 "Inventory Upload Updates Cost Price To 0$"
Hi,

Here's a very annoying bug I found. Whenever you export an (or multiple) item(s) to make changes, and then re-upload it, it resets the cost price to 0$.

Attached is a video of that problem; https://www.icloud.com/iclouddrive/06g6ITSFXCuQr53cSsKNLWx3Q#Repairdesk2

Thanks

[2021-06-27 17:58] antoinegali opened #1646 "(Dual Tax) Taxes Not Loading Correctly On PO"
Hello,

When I use Dual Tax Rates, it doesn't load the 1st tax rate on the PO. Furthermore, even the rates are not correctly calculated, as in this example, TPS should be at 5% and TVQ should be at 9.975% (Total of the invoice should be 1.15$)

Attached is a video of the issue; https://www.icloud.com/iclouddrive/0UOtQKrVX3FAtxnW32OPt62XQ#RepairDesk3

Thanks!

[2021-06-28 01:03] antoinegali commented on #1630
Hello,

Looks good on my end!

Thanks

[2021-06-28 01:03] #1630 closed

[2021-06-28 01:06] antoinegali commented on #1633
Hello,

It seems to be fixed as of now. However, when I go to one of my customers, it says there's an account receivable although all their invoices are showing as paid for. Is it related to that bug, or should I open a new issue? Customer name is "Cellupro", if you want to check on my account.
![Screen Shot 2021-06-27 at 9 01 05 PM](https://user-images.githubusercontent.com/37091836/123565645-9aa

[2021-06-28 01:26] antoinegali opened #1647 "Serial Editing Should Need Permission"
Hello,

We're trying to find a way to prevent employees from editing serial inventory. Is there a way to do it? Or maybe lock that whole  "Update serial" thing altogether?

I played a lot with the permissions and it doesn't seem possible. Either I lock them out of the product editing page entirely, either they can edit the serials.

We have over a thousand phones on hand, we need to lock that inve

[2021-06-28 04:40] Repairdesk-QA commented on #1641
Hi @onebitetechnology,
Hope you are doing well.

I have checked this Ticket issue and I have found the same issue.
Thank you for bringing this to our attention! Your reported issue has been assigned to the development team and hopefully, it will be fixed early next release.
Your patience would be highly appreciated.

Thanks & Regards!
Quratul Ain

[2021-06-28 04:40] Repairdesk-QA commented on #1641
For Internal Use: https://repairdesk.atlassian.net/browse/RB-3442

[2021-06-28 04:43] Repairdesk-QA commented on #1630
Glad you like it.
Closing this issue as it has been fixed
And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.

Thanks for your time. Enjoy your day!

Regards,
Quratul Ain

[2021-06-28 08:17] Repairdesk-QA commented on #1614
Hello @afrahm,
Hope you are doing well.

Sorry for the delay but I have good news for you.
Your reported issue has been fixed. Please verify at your end and do let us know if you have any question.

Thanks!
Quratul Ain

[2021-06-28 08:23] Repairdesk-QA commented on #1643
Hey @Stylemyphones!
Hope you are doing well.
Thank you for bringing this to our attention! It looks like there's a bug that just popped up. I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as it is fixed.
Thanks!
Azka

for internal use only:
https://repairdesk.atlassian.net/browse/RB-3443

[2021-06-28 10:32] Repairdesk-QA commented on #1645
Hey @antoinegali,
Hope you are doing well.

Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
Your reported issue has been assigned to the development team and hopefully, it will be fixed early next week.
Your patience would be highly appreciated.

Thanks & Regards!
Quratul Ain

[2021-06-28 10:33] Repairdesk-QA commented on #1645
For Internal Use: https://repairdesk.atlassian.net/browse/RB-3446

[2021-06-28 11:52] Repairdesk-QA commented on #1633
Hey @antoinegali,
Thank you for bringing this to our attention! It looks like there's a bug that just popped up. I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!
Thanks!
Ayesha Aamer

[2021-06-28 11:57] Repairdesk-QA commented on #1646
Hey @antoinegali,
Hope you are doing well.

I have checked your concern and I have found the same issue. It looks like there's a bug that just popped up.
Thank you so much for letting us know. Your reported issue has been assigned to the development team and hopefully, it will be fixed in our next release.
Your patience would be highly appreciated.

Thanks & Regards!
Quratul Ain

[2021-06-28 11:58] Repairdesk-QA commented on #1633
For internal use:
https://repairdesk.atlassian.net/browse/RB-3447

[2021-06-28 12:00] Repairdesk-QA commented on #1646
For Internal Use: https://repairdesk.atlassian.net/browse/RB-3448

[2021-06-28 12:53] Shoaib030080 commented on #1627
Thanks for your reply

On Mon, Jun 14, 2021 at 12:06 PM Product Team - RepairDesk <
***@***.***> wrote:

[2021-06-28 14:12] antoinegali commented on #1645
Hello,

Thank you for the update!

Have a great one

[2021-06-28 18:41] Stylemyphones commented on #1643
Thank you so much, looking forward to hearing back.

[2021-06-29 04:45] afrahm commented on #1614
@Repairdesk-QA thanks looks like that has resolved the issue.

[2021-06-29 04:47] Repairdesk-QA commented on #1614
Glad you like it.
Closing this issue as it has been fixed
And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.

Thanks for your time. Enjoy your day!

Regards,
Quratul Ain

[2021-06-29 04:48] #1614 closed

[2021-06-29 07:09] Repairdesk-QA commented on #1633
Hey @antoinegali,
I hope you are doing well.
I believe your reported issue has been fixed in recent update. Can you give it another try?
Thanks,
Ayesha

[2021-06-29 10:10] Repairdesk-QA commented on #1646
Hello @antoinegali,
Hope you are doing well.

I have come to know about **Dual Tax**'s store settings, and I wanted to share this with you.

For setting Dual Tax,
**First**, we have to set **Tax Configurations** from Store settings. Steps for these settings are:
**Store Settings->Tax Configuration  (Set two tax classes default for use of dual tax)**

**Second**, we have to set Dual Tax Classes fro

[2021-06-29 12:16] fahadimran303 commented on #1636
@Repairdesk-QA Please close this task as we never got the email.
Also we will make sure Omar is using RepairDesk 2.0 so all such issues can be taken care off.

Thanks and Regards,
Fahad Imran

[2021-06-29 12:24] Repairdesk-QA commented on #1641
Hello @onebitetechnology,

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have any questions.

Thanks & Regards,
Quratul Ain

[2021-06-29 12:43] #1636 closed

[2021-06-29 14:29] antoinegali commented on #1633
Hello,

It seems to be working now. Thanks!

[2021-06-29 14:29] #1633 closed

[2021-06-29 14:32] antoinegali commented on #1646
Hello,

I did all these steps and it still doesn't work. I have the same issue.

Thanks

[2021-06-29 16:41] onebitetechnology commented on #1641
Confirmed it is working. Thanks for your quick response!

[2021-06-29 16:41] #1641 closed

[2021-06-30 02:20] antoinegali commented on #1638
![Screen Shot 2021-06-29 at 4 54 07 PM](https://user-images.githubusercontent.com/37091836/123892161-0d4cfa80-d928-11eb-94e4-dc1dc369ec37.png)
I think I'm having the same issue. In this screenshot, the repair is well under warranty, but the only option to "redo" the job is to take it in as a "Out of warranty".

[2021-06-30 07:32] Repairdesk-QA commented on #1646
Hello @antoinegali,

Thanks for letting us know, we are working on this.
I'll get back to you as soon as I have more information!

Thanks,
Quratul Ain

[2021-06-30 17:10] antoinegali opened #1648 "Enhancement - Export All Serialized Items"
Hi!

It's me again. lol

There should be a way to export all the serialized items (with the serials and the attributes of course).

Please let me know if it's in the works or not really.

Thanks

[2021-07-01 07:34] Repairdesk-QA commented on #1648
Hey @antoinegali
Azka here.
I hope you are doing well.
I have checked through your concern and it is not possible to do this enhancement.
As if you want to export all the serials of an inventory item, you must go to inventory detail individually and then export/import as in below screenshot
![RepairHubEdit Pr](https://user-images.githubusercontent.com/39614480/124084169-9127e500-da03-11eb-9e02-a75

[2021-07-01 10:24] Repairdesk-QA commented on #1638
Hey @antoinegali
I hope you are doing well.
I have checked your concern but unfortunately, I am unable to reproduce your issue. Would be great if you can share a video of this issue or detailed steps so we can release a fix during our next release. You can put together a video using Screencastify.
If you have any questions or if there is anything else with which I may assist, please do not hesitat

[2021-07-01 13:10] SpaceyPuppy opened #1649 "Device/s chosen disappear on "add item" screen after clicking save"
Hey, I've noticed a quirk of the add item screen, when I go to save an item after filling out the details which includes choosing a device or devices it is used with, when I click the save button the "Select devices" box goes blank again. If I don't choose the device/s again after making any other modifications to the item settings it then clears the device choice and restores the value of N/A.

[2021-07-01 13:45] Repairdesk-QA commented on #1645
Hey @antoinegali,

I hope you are doing well. Your reported issue has been fixed.
Please verify at your end and do let us know if you have questions.

Thanks!
Quratul Ain

[2021-07-01 13:54] Repairdesk-QA commented on #1643
hey @Stylemyphones
hope you are doing well.
I believe this issue has been fixed in recent update. Can you give it another try?
And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.
Thanks & Regards.
Azka

[2021-07-01 15:16] Jonmarr95 opened #1650 "Apple GSX Integration (IRP / AASP Program)"
Hello, as RepairDesk integrates with more suppliers I wanted to see if there are any plans or interest in integrating with Apple? We are an Apple partner and I would love to be able to automate parts of inventory and purchase orders. Currently the only competitor to offer GSX integration is a website called Fixably. We are willing to help with testing in any way.

[2021-07-02 05:04] Uzair-RepairDesk commented on #1650
Hey @Jonmarr95

Thank you for your post. We would love to connect with you to learn the workflow of your IRP/AASP business. We are already exploring GSX to integrate it with RepairDesk so it will be helpful for us to learn more about your needs.
Can you please confirm your business name associated with RepairDesk? Is it "Tech Bros"?
We will reach out to you to discuss this further. Thanks

Looking

[2021-07-02 06:22] Repairdesk-QA commented on #1649
Hey @SpaceyPuppy
Azka here.
Hope you are doing well.
Can you please elaborate on your concern and related video or screenshots? . Will be happy to help you once you share additional details.
Thanks & Regards.

[2021-07-02 07:09] SpaceyPuppy commented on #1649
Hi Aska. Please bear with me and I will do a video of the problem.

[2021-07-02 09:14] SpaceyPuppy commented on #1649
https://youtu.be/oPhVYyqX_7c

[2021-07-02 16:06] antoinegali opened #1651 "Dual Taxes Showing Separate On Invoice"
Hi!

Dual taxes should show separately on the invoices. We are facing legal issues because of my country's regulations.

I already contacted the team about it but never got an answer on Messenger. May I know the status of this request?

Unfortunately, we'll have to switch to another POS if taxes can't be shown separately.

Thanks!
![Screen Shot 2021-07-02 at 12 06 08 PM](https://user-images.github

[2021-07-02 17:45] antoinegali commented on #1650
Great idea!

Samsung GSPN integration would be cool too. We're going to be approved for the "Samsung IRP" in the following months and I would really love to have it integrated.

[2021-07-02 18:15] antoinegali commented on #1645
Hello,

Seems to work good on my end now!
Thanks,
Antoine

[2021-07-03 00:27] antoinegali commented on #1610
Hello,

Any update?

Thanks!

[2021-07-04 14:00] Uzair-RepairDesk commented on #1651
Hey, @antoinegali  Hope you are doing well, let me discuss this with the engineering team, I will update you on this by Monday.

Regrads,
Humza

[2021-07-05 04:15] Repairdesk-QA commented on #1645
That's good to know!
Closing this issue as it has been fixed
And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.

Thanks for your time. Enjoy your day!

Regards,
Quratul Ain

[2021-07-05 04:15] #1645 closed

[2021-07-05 05:42] Repairdesk-QA commented on #1610
Hey @antoinegali,
I hope you are doing well.
Sorry for the delayed response. Your reported issue has been assigned to development team and hopefully it will be fixed early next week. Your patience would be highly appreciated.
Thanks,
Ayesha

[2021-07-05 06:01] Repairdesk-QA commented on #1649
Hey @SpaceyPuppy
Hope you are doing well.

I checked onto your concern and observed:
1) Item details are not mandatory fields to add an item. So there is a possibility that items are being
added without details. because system cannot remove added information.

2) When you try to add device without manufacturer, it gets disappeared because devices belongs to manufacturer.
here correct flow is to ad

[2021-07-05 06:06] Uzair-RepairDesk commented on #1651
Hey, @antoinegali I have added your request in the sprint, once it's done I will update you here as well.

Regards
Humza

[2021-07-05 09:48] Adski01 commented on #1634
Hi Uzair, I've been informed that this function has been included in V2.0.  Yet to test it, but maybe worth you knowing if you didn't already

[2021-07-05 10:04] Uzair-RepairDesk commented on #1634
Hi @Adski01
Yes, we are coming up with a feature to allow you to combine multiple invoices into one single invoice.
I will let you once it is available for beta testing.

Regards,
Uzair

[2021-07-06 06:29] Repairdesk-QA commented on #1610
Hello @antoinegali,
I hope you are doing well.
We have tried to reproduce the reported issue on our end and everything seems to be working fine. According to the flow the priority is given to the **Item's online price**, if **online price** is not given then priority is given to **item's promotional price** and if **promotional price** is not given the **item's retail price** will be displayed on

[2021-07-06 12:20] jphansendk commented on #1650
GSX Yes please :-)

[2021-07-06 12:29] jphansendk opened #1652 "Request for ticket search feature.."
Would be really helpful if it was possible to search for unique ticket numbers under manage tickets.
Our ticket is set up like "T-1234" and sometimes we need to change the status on a bunch of tickets at once. Lets say I need to change the status on 50 tickets at the same time (this is not unusual to us) from pending to confirmed to a selection of tickets. If we could enter the tickets numbers wit

[2021-07-06 12:31] Repairdesk-QA commented on #1646
Hey @antoinegali ,
I hope you are doing well. Your reported issue has been fixed.
Please verify at your end and do let us know if you have questions.
Thanks!
Quratul Ain

[2021-07-06 15:50] AMott-2020 opened #1653 "diagnostic fee waiver"
Would love the ability to add a diagnostic fee and to have the diagnostic fee be waived automatically once an estimate is approved.

[2021-07-06 19:44] antoinegali commented on #1651
Thanks a lot Humza. This feature is very important for us!

[2021-07-06 19:46] antoinegali commented on #1646
Hello,

Looks great on my end. Thanks a lot again!

Does it help you guys a lot when I report some bugs like that? It seems like I always find a bug here and there.

[2021-07-07 04:44] Repairdesk-QA commented on #1646
Yes, your efforts are really helpful for us and we appreciate that.
Thanks for your time and love to RepairDesk.

[2021-07-07 04:45] Repairdesk-QA commented on #1646
Glad you like it.
Closing this issue as it has been fixed
And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.

Thanks for your time. Enjoy your day!

Regards,
Quratul Ain

[2021-07-07 04:46] #1646 closed

[2021-07-09 05:21] markmhq opened #1654 "Ticket Export "Last Status Update" field not working"
When exporting the ticket list (in my particular case I was exporting tickets with closed status) the "Date Last Status Change" was the same as "Created Time" even though it had status changes since being created.

[2021-07-09 06:06] #1643 closed

[2021-07-09 06:07] #1639 closed

[2021-07-09 06:07] #1564 closed

[2021-07-09 12:08] Repairdesk-QA commented on #1654
Hey @markmhq
Azka here.
I hope you are doing well.
Thank you for bringing this to our attention!
It looks like there's a bug that just popped up. I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as It gets fixed.
Thanks & Regards.

[2021-07-09 12:10] Repairdesk-QA commented on #1654
For internal use only:
https://repairdesk.atlassian.net/browse/REP-3233

[2021-07-09 17:50] AbbyCSC opened #1655 "Products with # print wrong on bar code"
If you product SKU has a # in the code, it causes the bar code to print on two labels and the product code doesn't print after the hashtag.  HP products (printers, ink cartridges, and computers) often have a # in the code and this is where we noticed this.

[2021-07-09 17:59] Stylemyphones commented on #1643
Yes, thank you so much!
It is indeed fixed now.

Best Regards.

[2021-07-09 19:31] Wirelesswi5345 opened #1657 "Subcription section"
Can 3 month and 6 months payment terms be added to the recurring payments section

![Improvment](https://user-images.githubusercontent.com/87206837/125127489-969fc200-e0ca-11eb-9e18-ec040c49b1a7.PNG)

[2021-07-10 01:31] AMott-2020 commented on #1657
as well as a weekly option would be great.

[2021-07-12 06:36] Repairdesk-QA commented on #1655
Hey @AbbyCSC,
Hope you are doing well.

I am looking into your issue and having a discussion over this with our development team.
I'll get back to you as soon as I have more information!

Your patience would be highly appreciated.

Thanks & Regards,
Quratul Ain

[2021-07-12 07:15] Repairdesk-QA commented on #1655
Hey @AbbyCSC,

Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
Your reported issue has been assigned to the development team and hopefully, it will be fixed in our next release.
Your patience would be highly appreciated.

Thanks!
Quratul Ain

[2021-07-12 07:16] Repairdesk-QA commented on #1655
For Internal Use Only: https://repairdesk.atlassian.net/browse/RB-3509

[2021-07-13 12:12] Repairdesk-QA commented on #1655
Hey @AbbyCSC,

I hope you are doing well. Your reported issue has been fixed.
Please verify at your end and do let us know if you have questions.

Thanks & Regards!
Quratul Ain

[2021-07-13 13:07] AMott-2020 commented on #1657
will this be implemented in Repairdesk 2.0?

[2021-07-13 13:08] AMott-2020 commented on #1653
can this be implemented in Repairdesk 2.0?

[2021-07-14 16:45] JessicaSOS opened #1658 "Tax error in sales register"
I am sending you our "sales register". My accountant has brought to my attention that the majority of the reimbursement invoices to the customer "SOS Phone Levis" contain an error. The subtotal is entered negatively as well as the total. However, "taxes" does not display negatively. At first I thought it was an error displaying the report, but it didn't. You can see some examples highlighted in ye

[2021-07-15 12:53] Repairdesk-QA commented on #1654
Hey @markmhq
I hope you are doing well.
Your reported issue has been fixed. Please verify at your end and do let us know if you have questions.
Thanks!
Azka

[2021-07-16 07:55] Repairdesk-QA commented on #1658
Hey @JessicaSOS
I hope you are doing well.
Azka here.
Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Thanks & Regards.

[2021-07-18 06:54] Repairdesk-QA commented on #1658
Hey @JessicaSOS
I hope you are doing good.
Thank you for bringing this to our attention. It looks like there's a bug that just popped up. I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as It is fixed.
Thanks!
Azka

[2021-07-18 06:55] Repairdesk-QA commented on #1658
For internal use only:
https://repairdesk.atlassian.net/browse/RB-3542

[2021-07-18 07:51] #1655 closed

[2021-07-18 07:52] #1649 closed

[2021-07-18 07:52] #1644 closed

[2021-07-18 07:53] #1642 closed

[2021-07-18 07:54] #1625 closed

[2021-07-18 07:55] #1623 closed

[2021-07-18 07:55] #1612 closed

[2021-07-18 07:56] #1610 closed

[2021-07-18 07:56] #1574 closed

[2021-07-18 07:57] #1204 closed

[2021-07-18 11:57] Repairdesk-QA commented on #1658
hey @JessicaSOS
I hope you are doing great.
We have fixed this issue for highlighted invoices. can you please give it a try?
If you face this issue again it would be great to record a video of this issue or detailed steps so we can release a fix during our next release. You can put together a video using Screencastify.
If you have any questions or if there is anything else with which I may assist,

[2021-07-19 02:46] markmhq commented on #1654
Hi Azka,

Thank you for your update.
Will this now only work for newly updated tickets or previously updated
tickets will now reflect the correct "last change" date?

I have just exported another report and the created and last change is all
still the same:
[image: image.png]

On Thu, Jul 15, 2021 at 10:54 PM Repairdesk-QA ***@***.***>
wrote:

--
*//  **1300 868 486*
*//  ***@***.*** ***@***.***>*

[2021-07-19 18:06] SandraGibbs opened #1659 "Need to get Confirmation for When will the Date ranges for the Inventory Summary Reports"
![image](https://user-images.githubusercontent.com/87668089/126206207-c326a2c7-7d15-4fec-abde-94037280a245.png)

Need to have that Date ranges filter here   ASAP/  @Uzair

[2021-07-19 18:06] SandraGibbs commented on #1659
@Uzair  Kindly look this Issue

[2021-07-19 19:06] SandraGibbs commented on #1659
How it used to work
![20201231 Total All Stores](https://user-images.githubusercontent.com/87668089/126213552-505aa465-e1c5-4d8e-bce5-507441c94a03.PNG)

[2021-07-19 19:36] Uzair-RepairDesk commented on #1659
Hey @SandraGibbs

There is a technical concern to hide the date filter from inventory summary report.
Our engineering team is away on local holidays.

I will check with the team early next week and update you accordingly.

Regards,
Uzair

[2021-07-20 13:50] alliedcomputers opened #1660 "Repair Ticket Missing without deletion"
We have faced one error which is very much frustrating.

BUG: Ticket is missing surprisingly.

We did check the employee logs but couldnt find any log which shows the deletion of the ticket or anything else.
Ticket no: RMA-751

[2021-07-21 23:18] markmhq commented on #1654
@Repairdesk-QA @Uzair-RepairDesk

[2021-07-22 08:57] JNLogan opened #1661 "Critical Issue In Self Check-In for non mobile service businesses"
Flagging something I have seen has been raised on the boards numerous times;

We have recently integrated Self Check-In Widget to our new site - the inability to hide the "Passcode" field as you can with the other fields makes the feature too confusing for non-mobile repair businesses to make use of the great feature.

Would also be good to make address field mandatory.

Thanks

<img width="1356"

[2021-07-22 17:46] Stylemyphones opened #1662 "Taxes not updating with customer update"
Hello,

We have noticed another bug in the system.
My employees check prices for different customers so they scan items and then change the customer, or vice versa.

I have attached a video link below to show what is happening.

The taxes don't come back after a tax exempt customer is selected, and then switched back to a regular customer. The item must be removed and re-scanned after the regular

[2021-07-26 05:46] Repairdesk-QA commented on #1654
Hey @markmhq
I hope you are doing well.
Thank you for your response. It had been working fine for previous and new tickets. It looks like the issue has popped up again. Let me take care of this and I will get back to you as soon as it is fixed.
Thanks & Regards
Azka

[2021-07-26 07:51] Repairdesk-QA commented on #1660
Hey @alliedcomputers,

I hope you are doing well. Your reported issue has been fixed.
Please verify at your end and do let us know if you have questions.

Thanks!
Quratul Ain

[2021-07-26 07:52] Repairdesk-QA commented on #1660
For Internal Use Only: https://repairdesk.atlassian.net/browse/RB-3550

[2021-07-26 10:38] Repairdesk-QA commented on #1662
Hey @Stylemyphones
Azka here.
I hope you are doing well.
Thank you for bringing this to our attention. It looks like there's a bug that just popped up. I'm gonna reach out to our Engineers to get this taken care of.
I'll get back to you as soon as the issue gets fixed.
Thanks!
Regards.

[2021-07-26 10:53] Repairdesk-QA commented on #1662
For internal use only:
https://repairdesk.atlassian.net/browse/RB-3562

[2021-07-26 13:25] Repairdesk-QA commented on #1661
Hey @JNLogan
Azka here.
I hope you are doing well.
Thank you for sharing your need with us. I can certainly see how suggested improvements would be useful for our clients. Let me take a look to see how we can help you. I'll get back to you soon.
Thanks & Regards.

[2021-07-26 17:16] Stylemyphones commented on #1662
You're welcome and thank you for your support.

Regards

[2021-07-26 17:53] Stylemyphones opened #1663 "Extremely Helpful Setting Addition"
Hello,
I had brought up with RD support through the live chat that our employees are not able to clock in until after they open register for the day, there is also no feature to remind them.

It would be really helpful if they would be automatically clocked in when they open register, or before they open register.
However, right now they are clocking in late, and sometimes forgetting, since they a

[2021-07-27 09:47] alliedcomputers opened #1664 "Diagnostic note not editable by super admin"
We have noticed one bug, please resolve.
Following are the test cases.

* Lead created by the customer from website
*  Mentioned the requirement in "Diagnostic Note"
* Received by super admin & convert to ticket
* Tried editing the diagnostic note because its not printing on service receipt ( ticket)

Bug: System not allowing to edit the diagnostic note even if the user is is SUPER ADMIN.

[2021-07-27 11:24] Repairdesk-QA commented on #1664
Hey @alliedcomputers
Azka here
I hope you are doing well.
thanks for reaching out to us. I have checked your concern but unfortunately, I am unable to reproduce your issue. Would be great if you can share related screenshots, a video of this issue or detailed steps so we can release a fix during our next release.
You can put together a video using Screencastify. If you have any questions or if the

[2021-07-27 12:55] Repairdesk-QA commented on #1662
Hey @Stylemyphones
I hope you are doing well.
Thank you for reaching out to us and helping us make this a platform you'll depend on.
I believe this issue has been fixed in today's update. Can you give it another try?
If you have any questions or if there is anything else with which I may assist, please
do not hesitate to let me know.
Regards
Azka

[2021-07-27 12:56] Repairdesk-QA commented on #1661
hey @
I hope you are doing well.
Thank you for reaching out to us and helping us make this a platform you'll depend on.
I believe this issue has been fixed in today's update. Can you setup self checkin again and give it another try?
If you have any questions or if there is anything else with which I may assist, please
do not hesitate to let me know.
Regards
Azka

[2021-07-27 12:57] Repairdesk-QA commented on #1654
Hey @markmhq
I hope you are doing well.
Thank you for reaching out to us and helping us make this a platform you'll depend on.
I believe this issue has been fixed in today's update. Can you give it another try?
If you have any questions or if there is anything else with which I may assist, please
do not hesitate to let me know.
Regards
Azka

[2021-07-27 17:46] Stylemyphones commented on #1662
Great! Thanks so much.
We have checked it on our side and it's working here too.

Thanks again.

[2021-07-28 04:54] #1662 closed

[2021-07-28 05:09] Repairdesk-QA commented on #1662
Thanks for the update on this.
Be sure to let us know if there's anything we can do to make it even better.
Regards
Azka

[2021-07-28 09:56] alliedcomputers opened #1665 "Ticket list sorting issue"
Whenever any new ticket is added.  It should display on top.

Bug: After creation of any new inquiry its not displaying in current page.
Click on "ID" column title 2 times, it starts displaying.

This bug has started since last couple of weeks only.

[2021-07-28 10:16] alliedcomputers commented on #1664
https://user-images.githubusercontent.com/87709069/127305984-f110f00a-0d63-44ed-825f-818ccc4cfcc7.mp4

Please find attached video where, both of the diagnostic note mentioned.
When customer made the diagnose note ( its not editable by super admin )
Super admin has to write same diagnostic note once again to edit or add some more info.

[2021-07-28 11:59] Repairdesk-QA commented on #1665
Hello @alliedcomputers,

Hope You are doing well.
I have checked your concern but unfortunately, I am unable to reproduce your issue. Would be great if you can share a video of this issue or detailed steps so we can release a fix during our next release. You can put together a video using Screencastify.
If you have any questions or if there is anything else with which I may assist, please do not h

[2021-07-29 00:32] afrahm opened #1666 "Invoice PDF Price and Discount fields are swapped"
[Invoice 417.pdf](https://github.com/Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS/files/6897079/Invoice.417.pdf)
As you can see in the attached file. The price amount is showing up in the discount column and the discount amount showing up in the price column. Shows fine within RD.

I have temporarily adjusted the template by swapping the headers.

[2021-07-29 05:08] Repairdesk-QA commented on #1664
Hey @alliedcomputers
I hope you are doing well.
Thanks for the update on this. But I am unable to reproduce this issue. attaching a video for guidelines.
https://www.awesomescreenshot.com/video/4649490?key=b415d88649963f9c8150f747b7a6ff8f
Also it is being printed on service receipt.
![image](https://user-images.githubusercontent.com/39614480/127434282-32814992-587d-4b9e-ab1d-5276eb3f3f0d.png)
Can

[2021-07-29 05:25] Repairdesk-QA commented on #1666
Hey @afrahm
I hope you are doing well.
Thank you for reaching out to us. We have provided flexibility to change settings of invoices in the system flow. You have done exactly the right step towards solution. We really appreciate your system understanding.
Please let me know if you face this issue again.

[2021-07-29 05:59] afrahm commented on #1666
But does that mean that everyone else is currently setup with them all
around the wrong way.

Regards,

[image: Kixup iPhone Repairs] <https://htmlsig.com/t/000001C2V70S>

Andrew Frahm / CEO & Founder
***@***.***

Kixup Repairs
www.kixup.com.au

[image: Facebook]  <http://facebook.com/kixuprepairs> [image: Instagram]
<http://instagram.com/kixuprepairs>

On Thu, Jul 29, 2021 at 3:25 PM Repairdesk-Q

[2021-07-29 12:07] #1661 closed

[2021-07-29 12:08] #1658 closed

[2021-07-29 12:09] #1654 closed

[2021-07-29 17:41] Mobilefix-repairs opened #1667 "Estimate"
RD2.0  have to be added button to delete approved estimate and the button we have reject estimate behalf of clients

[2021-07-29 19:46] JessicaSOS commented on #1658
The problem is well resolved! thanks a lot

[2021-07-29 20:39] Repairdesk-QA commented on #1666
Hey @afrahm
Thanks for your concern.
I will discuss the issue with business development team and we will work on what we can do to improve the software.
Regards
Azka

[2021-07-30 07:04] Mobilefix-repairs commented on #1621
We need this seriously

[2021-07-30 07:08] Mobilefix-repairs opened #1668 "Payment methods"
Please you have to add payment method to accept African payments currency

[2021-07-30 11:18] alliedcomputers opened #1669 "Customer portal ticket grid ( listing ) view. Invoice column displays wrong info."
Steps
* Login to customer portal
* Click Tickets ( from menu)
* Check Ticket listing page "Invoice Id" column.
![Capture](https://user-images.githubusercontent.com/87709069/127645456-2dfcf538-26ab-4902-a75d-756102039c10.PNG)

Bug: "Invoice ID " column showing wrong info. The invoice number displays is not associated with that particular ticket.
( image attached)

[2021-07-31 21:44] SandraGibbs commented on #1659
Please advise as you have not replied since 12 days ago.

[2021-08-01 05:53] Mobilefix-repairs commented on #1668
Here in South africa we do have ,payfast ,ozow

[2021-08-01 12:54] jphansendk opened #1670 "Export of tickets to Excel missing data."
We have finally (i hope) set up our API right with the ticket system. In our process, we add a trade-in device to the ticket. This device will be shipped to the customer. Until now we have made a cover letter from the file we export from the "manage tickets" page. Our problem is that the data of the trade-in device doesn't show in the excel file when exporting. From the ticket data, we tell the cu

[2021-08-02 04:44] Repairdesk-QA commented on #1659
Hello @SandraGibbs,
Hope you are doing well.

We sincerely apologize for the wait you had to bear.
We are actually in discussion with our development team regarding this issue as we had some technical concerns with this issue. I'll get back to you as soon as I have more information!

Be with us, your patience means a lot to RepairDesk.

Regards,
Quratul Ain

[2021-08-02 05:32] Repairdesk-QA commented on #1669
Hey @alliedcomputers
Azka here.
I hope you are doing great.
Thank you for bringing this to our attention. It looks like there's a bug that just popped up. I'm gonna reach out to our Engineers to get this taken care of. I'll get back to you as soon as I have more information.
Thanks

[2021-08-02 05:49] Shravan2095 opened #1671 "Custom fields of customer not showing up in exported invoice sheet"
Hi,
Whenever I export the invoices as an excel sheet for a certain period, the custom fields (added for customers) mentioned in the invoice do not show up in the sheet.
Please have this added, else I have to manually add each customer's detail separately in the final excel sheet, even though it shows up in the regular invoice.

[2021-08-02 06:04] Repairdesk-QA commented on #1669
For internal use only:
https://repairdesk.atlassian.net/browse/RB-3585

[2021-08-02 12:11] gijoe911 commented on #1671
i have the same issue. please help!

[2021-08-02 12:15] gijoe911 opened #1672 "Additional Columns in Item-Wise Sales Report Please"
is it possible to add "ticket id" and "device name" in the item-wise sales report? or have an option that allow us to select additional columns? that would be a big help!

cheers

![image](https://user-images.githubusercontent.com/25240657/127860327-c78bb233-df41-49a2-a999-ce146e29deaf.png)

[2021-08-02 12:20] Repairdesk-QA commented on #1660
Hey @alliedcomputers,
I hope you are doing well. Your reported issue has been fixed.
Please verify at your end and do let us know if you have questions.

Thanks!
Quratul Ain

[2021-08-02 12:44] Repairdesk-QA commented on #1666
Hey @afrahm
I hope you are doing well.
We had a discussion with our business development team and it will be fixed in next version of RepairDesk.
Thank you for your precious time.
Regards
Azka

[2021-08-02 12:44] #1666 closed

[2021-08-03 06:18] Repairdesk-QA commented on #1659
Hey @SandraGibbs,
Hope you are doing well.

Your reported issue has been assigned to the development team and hopefully, it will be fixed early next week.
Your patience would be highly appreciated.

Thanks & Regards,
Qurat ul Ain

[2021-08-03 06:18] Repairdesk-QA commented on #1659
For Internal Use Only: https://repairdesk.atlassian.net/browse/REP-3253

[2021-08-03 10:09] jphansendk opened #1673 "RD V 2.0 ticket section feedback."
Just some feedback on the tickets section so far:

In general, it's important that you can access the same data as you can access now. Some data is missing now.

Would be nice with a column with "last modified" date.

The export feature is missing a lot. Would be nice if it was possible to "tick" what you would like to export - and be able to export EVERYTHING showing on the ticket. Not just some

[2021-08-03 11:47] Repairdesk-QA commented on #1669
Hey @alliedcomputers
I hope you are doing well.
Thank you for reaching out to us and helping us make this a platform you'll depend on.
I believe this issue has been fixed in today's update. Can you give it another try?
If you have any questions or if there is anything else with which I may assist, please
do not hesitate to let me know.
Regards
Azka

[2021-08-04 19:15] onebitetechnology opened #1674 "COG showing improperly on reports when a refurbished item has "Special Order Parts""
Scenario:
- Trade-In item (iPhone)
- Purchase price of the item was $90
- Refurbished the item, and used a Special Order part with a cost of $107.
The refurb cost shows up in the item, and in the column on the trade-in listing page.

I sold the item, and in the report (Item Wise, and Sales Summary) the COG of this item specifically is only $90.

The lowdown: A "Special order part" added to a refur

[2021-08-06 06:01] Repairdesk-QA commented on #1674
Hello @onebitetechnology,
Hope you are doing well.

Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
Your reported issue has been assigned to the development team and hopefully, it will be fixed early next week.
Your patience would be highly appreciated.

Thanks & Regards!
Quratul Ain

[2021-08-06 06:24] Repairdesk-QA commented on #1674
For internal use only: https://repairdesk.atlassian.net/browse/RB-3617

[2021-08-06 06:36] #1669 closed

[2021-08-06 06:36] #1660 closed

[2021-08-06 09:48] alliedcomputers opened #1675 "Pre repair device condition is not getting saved"
After generating the ticket, the pre repair device condition is not getting populated on ticket while printing.

[2021-08-06 09:53] alliedcomputers commented on #1675
https://user-images.githubusercontent.com/87709069/128492830-ea76120e-b2d0-4b62-bcc4-6ef898a0f333.mp4

Please find the video

[2021-08-06 11:55] Repairdesk-QA commented on #1674
Hey @onebitetechnology,
I hope you are doing well. Your reported issue has been fixed.
Please verify at your end and do let us know if you have questions.
Thanks!
Quratul Ain

[2021-08-06 13:03] Repairdesk-QA commented on #1675
Hey @alliedcomputers
Azka here.
I hope you are doing well.
Thank you for bringing this to our attention. It looks like there's a bug that just popped up. I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as the issue is fixed.
Thanks & Regards

[2021-08-06 13:03] Repairdesk-QA commented on #1675
For internal use only:
https://repairdesk.atlassian.net/browse/RB-3620

[2021-08-06 13:20] onebitetechnology commented on #1674
Confirmed the report is now showing the proper cost of goods. THanks so much!!

[2021-08-06 13:20] #1674 closed

[2021-08-09 06:47] Repairdesk-QA commented on #1675
Hey @alliedcomputers
I hope you are doing well.
I really appreciate that you took the time to share your problem. I believe this issue has been fixed in recent update. Can you give it another try?
If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.
Thanks & Regards
Azka

[2021-08-11 05:00] Repairdesk-QA commented on #1675
Hey again
Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Regards
Azka

[2021-08-11 05:00] #1675 closed

[2021-08-11 08:30] jacobofj opened #1677 "Purchase orders when created a GRN not changing ticket status"
In the past when we created and finished the status of the ticket related was not changing like now. We need this work like in the past because of the way we do the orders when received.

[2021-08-11 09:53] jphansendk commented on #1673
I guess this is a small design flaw - It should be up there?
<img width="1918" alt="Screenshot 2021-08-11 at 11 45 47" src="https://user-images.githubusercontent.com/68819320/129008932-c2fd3b67-3b11-4597-a58f-8ab368908b22.png">

[2021-08-11 16:00] YZFTechRepairs opened #1678 ""Delete All" Option for "Unsaved Tickets""
When viewing your tickets, you can use the "Select Criteria" drop down to view "Unsaved Tickets". Just the other day my ticket number reached T-1000, though I know I don't actually have that many completed tickets. According to my books, I have around 800 invoices. According to RepairDesk (RD), I have 74 unsaved tickets. My assumption is that the other roughly 126 tickets that are unnaccounted for

[2021-08-11 19:06] JNLogan opened #1679 "BigCommerce Integration"
Hi There,

Being one of the fastest growing and highly used Ecommerce platforms going around I was wondering if a BigCommerce direct integration is in the works?

I am aware of the Zapier workaround but the delay/instability/use of a third platform is why I'm hoping to avoid this pathway.

Thanks,

- Big RD fan

[2021-08-13 04:30] Repairdesk-QA commented on #1677
Hello @jacobofj,
Hope you are doing well.

Can you please elaborate on your concern? Or would be great if you share the steps.
Will be happy to advise you once you share additional details.
Waiting for your response.

Thanks & Regards,
Qurat ul Ain

[2021-08-13 06:25] jacobofj commented on #1677
When we are receive the goods related to a purchase order, we create GRN and after we save it the software automatically changes the status of the ticket related to the purchase order to "In progress". We need the software dont change it

[2021-08-13 07:41] Repairdesk-QA commented on #1677
Hello @jacobofj,
Hope you are doing well.

I wanted to tell you that this is the current functionality of RepairDesk that when items in the ticket are received via GRN, the status of the ticket will be updated accordingly (to show the progress of the ticket).
We can also set the status of the ticket manually by clicking on the STATUS column in Manage Ticket or we can Create Custom Status from Stor

[2021-08-13 12:34] jasonabitech opened #1680 "Improvement to recurring Invoices"
Hi, we use recurring invoices quite a lot with renting epos and IT equipment out. we do this on a weekly and monthly bases but unfortunately there isn't an option when setting up a subscription to choose weekly.

I would really appreciate this being added,  Also an option to delete recurring invoices that have been generated but are unpaid.

Kind Regards
Jason
abiTECH

[2021-08-15 02:27] Jonmarr95 commented on #1650
@Uzair-RepairDesk Yes, our company is Tech Bros. Please connect and we’ll help however we can.

[2021-08-16 16:28] Gizmostock opened #1681 ""Modern UI" Removes all IMEIs and SNs from our tickets."
![Screen Shot 2021-08-16 at 11 23 52 AM](https://user-images.githubusercontent.com/89033727/129597197-096250fc-0d19-4ab5-ac69-7c6c70167ff7.png)
![Screen Shot 2021-08-16 at 11 24 14 AM](https://user-images.githubusercontent.com/89033727/129597206-7827ed46-0aa5-4bee-aac0-d20d2b8f2699.png)

Screenshot of the same ticket in and out of the modern UI. IMEIs are readily available. On the modern UI they a

[2021-08-17 09:34] ProntoFix opened #1682 ""Device model" back blank on inventory item update."
Every time I want to change something (price, amount, name description, etc...) in an inventory item, the "Device model" box is blank again. If it is then forgotten to fill it in again after saving, this item is no longer connected to the device and as a result can no longer be found in POS.

<img width="1280" alt="Schermafbeelding 2021-08-17 om 11 23 11" src="https://user-images.githubusercontent

[2021-08-20 07:35] Repairdesk-QA commented on #1682
Hey @ProntoFix
Azka here.
I hope you are doing well.
I have checked your concern and I believe you have not selected the manufacturer for which device model is getting disappeared again and again. Device model is dependent on manufacturer.
Kindly give it a try after setting manufacturer and device model and hit save button. If you face this issue again or  have any query with which I may assist, p

[2021-08-21 15:20] GadgetClinic opened #1683 "WooCommerce Integration - sync services from repairdesk to woocommerce"
WooCommerce Integration - sync services from repairdesk to woocommerce.

[2021-08-23 10:18] Repairdesk-QA commented on #1683
Hello @GadgetClinic,
Hope you are doing well.

Understanding your concern but we only have the functionality of syncing Inventory Items (not services) with WooCommerce Integration. If you want us to sync Inventory Items, please let us know. It would be great for us to assist you.

Thanks & Regards,
Quratul Ain

[2021-08-23 14:29] arongylfason opened #1684 "Improved search and search parameters"
The current search does not seem to gather enough information when searching for customer names / ticket id's / keywords. 1. For an example it would be extremely helpful to be able to search specific words that are located either in the repair description or comments. If a staff member is struggling to find a ticket but remembers 2-3 words that he/her wrote they would be able to search them and Re

[2021-08-24 09:34] alliedcomputers opened #1685 "Pre repair device condition glitch"
We are facing prerepair device condition error. following are the steps

* Create repair ticket from customer portal by customer
* Send the device by courier and receipt by the admin team.
* Edit ticket by admin user to update the pre repair device condition

Bug: Only partial pre repair device condition is visible to be selected.
Note: When ticket is created from POS, user can see all the pre-rep

[2021-08-24 10:19] Repairdesk-QA commented on #1682
Hey again
Azka here.
I hope you are doing well. Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Thanks and Regards.

[2021-08-24 10:19] #1682 closed

[2021-08-25 07:09] jacobofj commented on #1677
Yes we do it manually but is double work, and is not changing acording to the status of the ticket because we order and start repairing as soon as the parts comes and sometimes the ticket is already finished when we do the GRN, so is changing the status and is not acording to the real process in that situation.

[2021-08-25 07:14] adigsm07 opened #1686 "Security Code Mandatory"
Hello!
Now we have mandatory IMEI field. Is any option to have mandatory Security Code?

[2021-08-25 07:52] adigsm07 commented on #1686
![ff](https://user-images.githubusercontent.com/65545272/130749937-3140cb4d-90b5-498c-9e2f-6a373a6e2395.jpg)
![fsa](https://user-images.githubusercontent.com/65545272/130749938-82962379-fdc0-4d52-88d0-3ba88fec532b.jpg)

[2021-08-25 09:29] #1686 closed

[2021-08-25 10:06] Repairdesk-QA commented on #1685
Hey @alliedcomputers
Azka here.
I hope you are doing well.
I have checked your concern but unfortunately, I am unable to reproduce your issue. Would be great if you can share a video or screenshot of this issue for better understanding. So we can release a fix during our next release. You can put together a video using Screencastify.
If you have any questions or if there is anything else with whic

[2021-08-25 10:14] Uzair-RepairDesk commented on #1677
@Repairdesk-QA
Can you please check that if the ticket is completed and GRN is received later, is it still changing the ticket status?

[2021-08-30 04:37] Repairdesk-QA commented on #1515
Hello @jphansendk,
Hope You are doing well.

I would like to tell you that there is another way of doing tradeIn back to Repairdesk.
For such tradeIn items(you want them back to inventory), you can use Custom Status. When you mark custom status against a tradeIn and that tradeIn used in a ticket. After deleting that tradeIn from ticket, you will be able to see that instock.

You can set custom sta

[2021-08-30 06:17] jphansendk commented on #1515
hmm.. So what does this do, compared to the way we do it? The only change I see is that he changes the status to "sold to customer" before adding it to the ticket? Does this change how the system sees it when you remove it again?

[2021-08-30 06:28] Repairdesk-QA commented on #1515
This will help your tradeIn items to go back to inventory.
It would be great if you try this flow.
I hope this will solve your problem and if you still have any questions/issues, please let us know.
It's pleasure for us to assist you

Regards,
Quratul Ain

[2021-08-30 06:33] jphansendk commented on #1515
But my only concern is that we do all this via API. The trade-in device is automatically added to the ticket via API, so I don't see how we can do this via the API?

[2021-08-30 07:10] Repairdesk-QA commented on #1515
There might be some issues with your Payload of API because we are not facing any issues with our flow.
You can see in this video:
https://www.screencast.com/t/1sHyQxjen5

Can you please share your **Payload of API without HEADER INFORMATION** so we can see where's the issue.
If you are not comfortable sharing your information on git, you can share your details via our support agents.

Regards,
Qu

[2021-08-30 13:17] jphansendk opened #1687 "Missing Admin History enteries when adding trade-in device to ticket."
After we have changed our workflow from adding a device manually from "Trade-in" to a ticket, vital info has gone missing.
When we added a device to at ticket we got the following in "Admin History":
<img width="1592" alt="Screenshot 2021-08-25 at 13 38 12" src="https://user-images.githubusercontent.com/68819320/131344093-98f7d850-b979-496b-acac-3c0ef53ab6fa.png">

Now after this is done via API w

[2021-08-30 21:47] abctechco opened #1688 "Discount code"
I would like to create a barcode or QR code that generates 10% or an assigned value discount when scanned . Can you help me with this

[2021-09-02 09:11] crinkylips opened #1689 "Increasing image size limit and adding video upload"
At the moment there is a limit on adding images, as anything above 3/4MB seems to be blank? and on the Customer Facing Display it's a 2MB limit. Can both these be increased to at least 8MB? my camera takes 4MB standard and the Customer Facing Display looks terrible at 2MB.
Video upload is a must as some issues cant be caught using images I have no idea why this is not already a feat? #Enhancement

[2021-09-02 11:01] jphansendk commented on #1687
Also the customer info is missing in the GUI of RepairDesk. But not when I export the device to Excel?

[2021-09-03 06:15] Repairdesk-QA commented on #1687
Hello @jphansendk,
Hope you are doing well.

Your reported issue has been assigned to the development team and hopefully, it will be fixed in our next week.
Your patience would be highly appreciated.

Thanks & Regards!
Quratul Ain

[2021-09-03 06:16] Repairdesk-QA commented on #1515
Hello @jphansendk,
Hope you are doing well.

Your reported issue has been assigned to the development team and hopefully, it will be fixed in our next week.
Your patience would be highly appreciated.

Thanks & Regards!
Quratul Ain

[2021-09-03 06:17] Repairdesk-QA commented on #1687
For Internal Use Only:
https://repairdesk.atlassian.net/browse/RB-3742

[2021-09-03 06:17] Repairdesk-QA commented on #1515
For Internal Use Only:
https://repairdesk.atlassian.net/browse/RB-3742

[2021-09-03 06:54] Repairdesk-QA commented on #1685
Hey @alliedcomputers
Hope you are doing well.
Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Thanks and Regards
Azka

[2021-09-03 10:13] Uzair-RepairDesk commented on #1689
Hey, @crinkylips  Hope you are doing well. Thanks for sharing, we will increase the size for image upload and keep you posted once it's done. whereas uploading a video is not possible due to some technical reasons.
We have created a task internally. once it's live we will update you here as well.

Thanks,
Humza

[2021-09-03 10:15] alliedcomputers commented on #1685
Dear azka, still the issue hasnt solved.
![image](https://user-images.githubusercontent.com/87709069/131989429-af44efae-d739-43f1-9ca6-e03654424746.png)
( This ticket is created from customer portal & you can see the pre repair device condition is not same as set by admin)
RMA-852 ( Ticket number)
![image](https://user-images.githubusercontent.com/87709069/131989531-a8d22f7d-e59b-48b9-985a-ca923f2

[2021-09-03 12:02] Repairdesk-QA commented on #1685
Hey @alliedcomputers
Can you please put togather a video of detailed  work flow through screencastify for a better understanding of bug.
Regards
Azka

[2021-09-03 12:04] alliedcomputers commented on #1685
We have already provided the screenshot & explained.

Bug: Pre repair device condition is partially visible at the time of ticket is generated from customer porta.

Thanks & Regards,

                                            Technical & Customer Support

                                            T: +44 020 84276809

                                            E:  ***@***.***> ***@***.***

All

[2021-09-03 12:33] jphansendk commented on #1687
Thanks.. Yes the guys are on it.. Lets hope it's a quick fix.

[2021-09-03 17:19] macinasnap opened #1690 "Autofill address in US using Google Maps API"
One feature that RepairShopr had that made the POS much easier: When filling in the customer address, when you start typing the street name...you can select it, and then it autofill's the address/City/State/Zip. I am gussing that they use Google Maps API in their system.) Is that possible to add to RepairDesk?

[2021-09-03 23:08] crinkylips opened #1691 "Ticket Counter Display"
Ticket Counter Display Widget
Can you add a filter to this so it sorts/orders by Status, Ticket ID, Assigned to, or Time. I understand it's in "cue" order but I would like the completed repairs to move to the bottom. It seems to be set to last updated as it's not even in order of ticket number?

[2021-09-07 06:52] Rikkertsie77 opened #1692 "Invoices, estimates & tickets: difference in layout and font between printed and mailed."
There is a significant difference between a mailed or printed invoice/estimate. There is a totally different font style between the two versions. Also is the alignment different, with the mailed one being the worst. I ask to make both type of documents uniform, so that a company can keep its professional appearance.  See the different files for comparison in the attachments.
[Invoice255_1630994310

[2021-09-07 12:02] creator72 opened #1693 "Stripe and paypal"
I'd like the ability to choose what the customer can pay by when sending an invoice, currently if both integrations are enabled, you can only request payment via paypal. This is no use as my b2b customers would like the ability to pay via their portal but only paypal can be used when paying via portal.

If you can add a choice on the email invoice box for paypal or stripe. And add the ability for

[2021-09-07 20:46] YZFTechRepairs opened #1694 "Issue with Search by name function in Ticket (NOT SOLVED)"
I am not sure if I am the only one experiencing this issue. I have tried to reach out for support but nothing has changed.

I am unable to locate parts using the search by name function if the current stock for the part is zero (or less than zero).

Here is a scenario as an example:

I have a ticket open while performing some diagnostic testing on an iPhone 7. Through testing, I conclude that the

[2021-09-08 18:02] Cellpros opened #1695 "New Improvement Required in Bill Payment module"
When checking out a customer for Bill payment we need that when on POS the price is update System should Automatically adjust the price and the Airtime Margin set on the Selected network. As of now We have to manually Adjust the price and the margin as well
![image](https://user-images.githubusercontent.com/90346751/132560988-244e750d-dad5-4271-b0b8-3d813a613429.png)

![image](https://user-images.

[2021-09-08 23:23] onebitetechnology commented on #1694
I noticed that RepairDesk seems to be "smart" when it comes to searching. It appears that it prioritizes items that apply to the device on the ticket, and it prioritizes what is in stock. While inconvenient the way you describe it above, I've found it wildly more useful than RepairShopr was when searching for parts.

I'm using the MS integration as well, but I've renamed all my commonly used parts

[2021-09-08 23:25] YZFTechRepairs commented on #1694
See I have done the same but the items still don't appear. That's why I
suspect there is a bug.

On Wed., Sep. 8, 2021, 5:23 p.m. onebitetechnology, <
***@***.***> wrote:

[2021-09-08 23:25] onebitetechnology commented on #1683
Hey @GadgetClinic, what is your reasoning? I'm using the Appointment Calendar widget with great success. It pulls models/services and presents them to the customer in a clean fashion. Have a look:

https://onebitetechnology.ca/repair-check-in

[2021-09-08 23:27] onebitetechnology commented on #1694
You may be right, I just tried on a ticket and both in and out of stock items show up right away:

<img width="865" alt="Screen Shot 2021-09-08 at 5 26 43 PM" src="https://user-images.githubusercontent.com/80067352/132598561-6f894826-fe68-439c-a714-3c137c48ee61.png">

[2021-09-08 23:28] onebitetechnology commented on #1694
What happens when you punch in the EXACT title of the item? Does it show up once you type out the whole thing?

[2021-09-08 23:34] YZFTechRepairs commented on #1694
I believe I tried the full title and it still didn't work. The fact that it
is working fine for you does suggest that this might be an individual bug.
It is ultimately, more of an inconvenience than something function breaking.

On Wed., Sep. 8, 2021, 5:28 p.m. onebitetechnology, <
***@***.***> wrote:

[2021-09-08 23:35] onebitetechnology commented on #1694
Run a test and rename that battery, then try looking it up from a ticket using the new name.

[2021-09-09 06:06] Repairdesk-QA commented on #1692
Hello @Rikkertsie77,
Hope you are doing well.

I have checked your concern and I have checked at my end but it has some confusion. Would be great if you can share a video of this issue or detailed steps so we can see which screens you are using. You can put together a video using Screencastify.
If you have any questions or if there is anything else with which I may assist, please do not hesitate t

[2021-09-09 11:20] alliedcomputers opened #1696 "Customer comment not editable or printable."
**> Tried editing the customer comment as super admin but not editable, evenif the edit button is there ( BUG )

https://user-images.githubusercontent.com/87709069/132676701-32327bda-9a24-4f9c-9c06-917b66c111eb.mp4

[2021-09-09 13:23] Repairdesk-QA commented on #1687
Hey @jphansendk
I hope you are doing well.
I believe this issue has been fixed in recent update. Can you give it another try?
If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.
Thanks and Regards
Azka

[2021-09-09 13:25] jphansendk commented on #1687
Yes it has Bern fixed.. thank you.. 🙏🏻

[2021-09-09 13:27] Repairdesk-QA commented on #1515
Hey @jphansendk
I hope you are doing well.
I hope your issue has been fixed in reference to your whatsapp conversation with Mr. Saif Ali. If you have any questions or if there is anything else with which I may assist, please do not hesitate to reach out.
Thanks & Regards
Azka.

[2021-09-09 17:59] AMott-2020 opened #1697 "Interest"
adding the ability to have it auto calculate the interest to be collected for accounts making payments would be nice aswell.

[2021-09-13 04:46] Repairdesk-QA commented on #1696
Hello @alliedcomputers,
Hope you are doing well.

Thank you for bringing this to our attention! It looks like there's a bug that just popped up.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information!

Thanks & Regards!
Quratul Ain

[2021-09-13 05:41] Repairdesk-QA commented on #1696
Hey @alliedcomputers,
Your reported issue has been assigned to development team and hopefully, it will be fixed in our next release.
Your patience would be highly appreciated.

Thanks!
Quratul Ain

[2021-09-13 05:41] Repairdesk-QA commented on #1696
For Internal Use Only: https://repairdesk.atlassian.net/browse/RB-3786

[2021-09-14 00:58] HeisenbergTech opened #1698 "Better Xero intergration"
Hi,

We're hoping to move over from Repairshopr but came across an issue with how Repairdesk integrates with Xero

Currently, when we sync an invoice with Repairshopr to Xero with a payment the payment is mapped to an account in Xero that we have set per each payment type eg. if a cash payment is made then that payment is made to the cash account we have set up in Xero and card payments are made t

[2021-09-14 01:02] HeisenbergTech commented on #1563
Hi Adski01,

How did you go with this mate? we too are finding that the Xero integration is not what was promised/expected

[2021-09-14 09:51] Adski01 commented on #1563
Hi @HeisenbergTech, a fellow Xero user - your support on this would be most welcome!

After months of chasing, the RepairDesk development team finally seem to be listening.  We're now about to start talks about the changes/enhancements we want.  I've got a bunch of ideas about what should be done but I think it would be good for you to add your expectations as you may have thought of things we hav

[2021-09-14 12:11] Repairdesk-QA commented on #1696
Hello @alliedcomputers,
Hope you are doing well.

I hope you are doing well. Your reported issue has been fixed. Please verify at your end and do let us know if you have questions.
Now you can Edit Customer Comment(Diagnostic Note in Ticket) and can see in Description/Notes while printing.
Please find the attached pictures for reference:
![image](https://user-images.githubusercontent.com/39614480/

[2021-09-15 01:32] elinsse022896 opened #1699 "Better Stripe Integration :("
Hi ,

My current website supports Stripe as a payment processor and I wanted to integrate the same payment processor into my brick and mortar store.  RepairDesk shows that it can integrate with Stripe so I went ahead and purchased the terminal for my current store and once we receive the VeriFone terminal and we go through the process of setting it up. I noticed it wasn't working at all. I contact

[2021-09-15 09:17] alliedcomputers commented on #1696
Hello, It looks like you havent read or understand the bug.
Please carefully read the steps mentioned. when the bug arises.
RMA-875 still customer comment is not editable. (attached video)

https://user-images.githubusercontent.com/87709069/133406574-7755ccfb-64ec-40b0-bc11-201cb7ab7650.mp4

[2021-09-15 09:32] alliedcomputers commented on #1696
Another video when, customer created LEAD from the website booking form and after converting the lead to ticket.
Customer comment is not editable.

https://user-images.githubusercontent.com/87709069/133408749-883be1de-3618-4db5-8a74-5932487443b5.mp4

[2021-09-15 10:08] Repairdesk-QA commented on #1696
Hello @alliedcomputers,
Hope you are doing well.

I have checked your issue again and have made a short video. Kindly have a look at that:
https://www.screencast.com/t/vGLZ9bK4

If you verify at your end again on your account it would be really kind and if you think we are missing some steps, please let us know.

Your help & efforts would be highly appreciated.
Regards,
Quratul Ain

[2021-09-15 10:44] alliedcomputers commented on #1696
Thanks for the video but this is not happening on our tickets.

[2021-09-15 10:46] alliedcomputers opened #1700 "Diagnose note & pre repair device condition not appearing on print preview ( ticket)"
Please check the video.
Ticket copy print preview, doesnt show prerepair device condition and diagnose note.

https://user-images.githubusercontent.com/87709069/133419893-db46c6fd-79f4-42ce-a4ad-cace40384b75.mp4

[2021-09-15 11:30] afrahm opened #1701 "Item-wise Sales Report Doesn't take into account tax included checkbox"
I've noticed that the COGS column does not look at whether the cost of the parts/product includes tax or not. We include tax in all our part costs.. but this is showing the COGS as tax inclusive amount, but the sale column is showing as tax exclusive amount

[2021-09-15 11:53] Repairdesk-QA commented on #1696
No need to worry @alliedcomputers, we are just checking at our end. It seems an account-specific issue. I will discuss this with our development team and will let you know further.
Please be with us, your support means a lot to RepairDesk.

Regards,
Quratul Ain

[2021-09-15 11:53] Repairdesk-QA commented on #1696
For internal use only: https://repairdesk.atlassian.net/browse/RB-3799

[2021-09-15 12:26] Repairdesk-QA commented on #1701
Hey @afrahm,
I hope you are doing well. Can you please connect with Danish our support agent on live chat/messenger so that he can look into the issue you are facing in detail? Thanks!
Ayesha Aamir

[2021-09-16 07:39] Repairdesk-QA commented on #1696
Hello @alliedcomputers,
Hope you are doing well.

As per discussion with our Development Team, this Edit Customer Comment/Diagnostic Notes functionality is applicable **after the date of fix that was 14 Sep, 2021.** Comments/Diagnostic Notes before 14 Sep, 2021 will have to make Editable from backend (will be done by our developers) and it's not possible to do this for all the Tickets (that might

[2021-09-16 08:18] Repairdesk-QA commented on #1563
Hello @Adski01,
Hope you are doing well.

I have checked your concern but I am unable to reproduce this issue as I am having Account details.
Please have this image for your reference:
![image](https://user-images.githubusercontent.com/39614480/133576532-be4dbdd3-ad70-4b5e-b9b4-a999926bfc41.png)

Would be great if you can share a video of this issue or detailed steps so we can release a fix during

[2021-09-16 10:16] Repairdesk-QA commented on #1700
Hey @alliedcomputers,
Hope you are doing well.

Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

Regards,
Quratul Ain

[2021-09-17 04:29] Repairdesk-QA commented on #1694
Hello @YZFTechRepairs,
Hope you are doing well
Sure thing! Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.

Regards,
Quratul Ain

[2021-09-17 06:51] Uzair-RepairDesk commented on #1699
Hi @elinsse022896
RepairDesk is integrated with stripe to take payment with invoices online. We don't have integration with their direct VeriFone P400 terminal though.

You can learn more about our current integration with web app and iPad app from the following knowledgebase article:-

https://help.repairdesk.co/knowledgebase/articles/872658-how-to-start-accepting-credit-card-payments-with-s

htt

[2021-09-17 06:54] Uzair-RepairDesk commented on #1695
Hey @Cellpros
Can you please elaborate on your request? Do you want to update the MSRP and Airtime margin when the cost is updated? How do you actually update it on POS and want the system to automatically update the price?

Looking forward to hearing from you

[2021-09-17 09:40] ProntoFix opened #1702 "Birthday option when registering a customer in his customer profile"
Important to build a strong customer base and good customer relationships, is contacting them or offering a discount on their birthday. That is why it seems to me a crucial option to be able to save a customer's birthday and also to see it in a clear calendar.

[2021-09-17 10:23] Uzair-RepairDesk commented on #1697
Hey, @AMott-2020  Hope you are doing well,can you please share more details for better understanding.

Regards:
Humza

[2021-09-17 10:35] Rikkertsie77 commented on #1692
Hello @Repairdesk-QA,
Yes i'm fine, thank you for asking. I hope you doing well too.
Thank you for responding to my issue.

I have made a video for you with the differences of the layout and font between the printed and digital (pdf) version.
Hereby the link from WeTransfer https://we.tl/t-SlxD0pmmYZ.

Best Regards,

Rick de Graaf

[2021-09-17 10:43] Uzair-RepairDesk commented on #1691
Hey, @crinkylips Hope you are doing well.
I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work during this  Quarter. i will keep you posted once we start working on it.

And I hope that if there’s anything else

[2021-09-17 10:50] Uzair-RepairDesk commented on #1698
Hey @HeisenbergTech  Hope you are doing well,I really appreciate that you took the time to share your ideas.
I have raised a ticket for the above-mentioned request to the engineering team.i will keep you posted regarding the development.

**For internal Use**:https://repairdesk.atlassian.net/browse/REP-3292

Regards,
Humza

[2021-09-17 12:59] jphansendk opened #1703 "Choose what store customer portal customers can place orders."
Would be really nice if it was possible to choose what shop a specific customer or customer group can place orders in. We have customers who only should place orders in 1 shop because that is the shop that handles the customer (a company) only. But sometimes they sometimes place the order/ticket in one of the other shops and we need to track the order down on a weekly basis.
Would be a lot easier

[2021-09-17 13:20] AMott-2020 commented on #1702
love the idea @ProntoFix

[2021-09-17 13:23] AMott-2020 commented on #1697
so if a customer is making payments on a device or repair there would be an option to set the interest rate in the settings possibly and then it would auto calculate the interest needed on the current open invoices.

[2021-09-17 18:41] xkrypt0nx opened #1704 "Device images are too tiny"
We can add images for each device, but the images show too small. I am creating a website and using the appointment widget, and on desktop or mobile view, the image is super small. Here is an example https://prnt.sc/1slfn8k

[2021-09-17 18:41] xkrypt0nx commented on #1704
It would look way better if it could fill in the squares better

[2021-09-19 07:15] Uzair-RepairDesk commented on #1703
Hey, @jphansendk  Hope you are doing well.
I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work during this Quarter. i will keep you posted once we start working on it.

And I hope that if there’s anything else

[2021-09-19 09:11] jphansendk commented on #1703
Ok - lets hope others see the need and request it as well 😉

[2021-09-20 04:40] Repairdesk-QA commented on #1700
Hello @alliedcomputers,
Hope you are doing well.

I have checked your issue & able to find the reason.
One of our developers checked from Backend that the service(**backend id 4667**)  you are using in the mentioned ticket **RMA-171** has been deleted.
You can check your **services** from
**Inventory -> Manage Services -> Repairs**
That's why it is not displaying Pre-repair device conditions and D

[2021-09-20 07:56] ZAGRAL opened #1705 "ISSUES IN REPAIR DESK"
please my query is that in invoice DASHBOARD pls add assigned column also we don't wont to go in every ticket to see who is assigned for product repair

[2021-09-20 07:59] ZAGRAL opened #1706 "SHORTCUT KEY IN VIEW TICKET IN EVERY INVOICE"
PLEASE GIVE ANY SHORTCUT KEY ON VIEW TICKET e.g. Alt + T or any other IN INVOICE
![4](https://user-images.githubusercontent.com/91052481/133971737-3c04162c-f8a2-44db-8f8b-27b3fe91f8dd.jpg)

[2021-09-20 08:01] ZAGRAL opened #1707 "ISSUE"
3. QUERY IT IS POSSIBLE THAT WHEN WE DOWNLOAD CSV FILE IN THAT FILE IN TICKET COLUMN ALSO COME WITH ASSIGNED PERSON
![1](https://user-images.githubusercontent.com/91052481/133971916-b7d08f2e-9b2f-475d-875e-5afb3c31cdcd.JPG)

[2021-09-20 08:03] ZAGRAL opened #1708 "THREE COLUMN IN INVOICE DASHBOARD"
WE WANT TO ADD THREE COLUMN WHICH IS EASY FOR USER

![2](https://user-images.githubusercontent.com/91052481/133972062-7bea3412-9fc8-4d67-82b5-3f7a38cbc9ab.jpg)

in the month of end, we have too much difficult to go in every invoice to find who have assigned the product and help us to do work fast with creating your website easier

[2021-09-20 08:06] ZAGRAL opened #1709 "SHORTCUT KEY IN VIEW TICKETS IN INDIVIDUAL INVOICE"
PLEASE GIVE ANY SHORTCUT KEY ON VIEW TICKET e.g. Alt + T or any other IN INVOICE. ITS VERY URGENT PLS RESOLVE THIS ISSUE AS SOON AS POSSIBLE THANK YOU

![4](https://user-images.githubusercontent.com/91052481/133972502-10b183be-5f49-4902-ab47-95378f88b46b.jpg)

[2021-09-20 09:57] Repairdesk-QA commented on #1704
Hey @xkrypt0nx,
Hope you are doing well. Let me discuss your concern with our development team and I will update you accordingly. Your patience would be highly appreciated. Thanks!
Regards,
Ayesha Aamir

[2021-09-20 10:53] Repairdesk-QA commented on #1707
Hey @ZAGRAL
Azka here.
I hope you are doing well.
I have checked on to your concern but I observed that your required "assigned to" column already exists in CSV file as in attached format file.  if your concern is something different, please enlighten us.
[1632133622Tickets.xls](https://github.com/Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS/files/7195148/1632133622Tickets.xls)
Please do not hesita

[2021-09-20 11:34] Repairdesk-QA commented on #1705
Hey @ZAGRAL
Azka here
I hope you are doing well.
I have checked on your concern but we need some elaboration on the purpose of this requirement. Because invoices do not get assigned to any  employee only tickets do and tickets dashboard has a column of "assigned to" as shown in attached screenshots.
https://www.awesomescreenshot.com/image/13711418?key=4d92695255a1f00e3ec361b57558504a
https://www.a

[2021-09-20 11:36] Uzair-RepairDesk commented on #1709
Hey, @ZAGRAL  Hope you are doing well.
I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work during this Quarter. i will keep you posted once we start working on it.

And I hope that if there’s anything else I c

[2021-09-20 11:37] Uzair-RepairDesk commented on #1708
Hey, @ZAGRAL  Hope you are doing well.
I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work during this Quarter. i will keep you posted once we start working on it.

And I hope that if there’s anything else I c

[2021-09-20 11:38] Uzair-RepairDesk commented on #1706
Hey, @ZAGRAL  Hope you are doing well.
I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work during this Quarter. i will keep you posted once we start working on it.

And I hope that if there’s anything else I c

[2021-09-20 14:10] ZAGRAL commented on #1705
But in this there is no invoice number

Sent from Yahoo Mail on Android

  On Mon, 20 Sep 2021 at 5:04 pm, ***@***.***> wrote:

Hey @ZAGRAL
Azka here
I hope you are doing well.
I have checked on your concern but we need some elaboration on the purpose of this requirement. Because invoices do not get assigned to any employee only tickets do and tickets dashboard has a column of "assigned to" as sho

[2021-09-20 22:38] Stylemyphones opened #1710 "Glitchy Repairs Processing"
Hello,
Please see the attached video for more information.

This is a glitch that happens quite often when trying to select the 3 dots for in order to check details on a part before selecting it during a POS repair transaction.

It is very time consuming and sometimes prevents the processing of this type of transactions.

I hope it is a bug and that it can be fixed soon.

Thanks in advance and Bes

[2021-09-21 05:12] Repairdesk-QA commented on #1705
Hey again,
Thanks for your update on this. Let me discuss this with my development team and I will let you know once the improvement is released.
I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.
Thanks and Regards
Azka

[2021-09-21 05:38] Repairdesk-QA commented on #1710
Hey @Stylemyphones
Azka here,
I hope you are doing well.
Thanks for reaching out to us. I have checked your descriptive concern and it is working fine for us. I believe you have uploaded a wrong video as I couldn't get any help from the video.
Can you please reshare the video so I can have clarity of  bug you are facing.
I hope that if there’s anything else I can do for you, you won’t hesitate to

[2021-09-21 09:38] Repairdesk-QA commented on #1705
Hey @ZAGRAL
Hope you are doing well.
After discussion with team we have reached to the conclusion that we can add invoice id column in ticket listing where assigned to column is already added. I hope it will  work for you fulfilling your requirement.
Please let me know if I can help you in anything else.
Thanks and Regards
Azka

[2021-09-21 09:39] Repairdesk-QA commented on #1705
For internal use only:
https://repairdesk.atlassian.net/browse/REP-3298

[2021-09-21 12:31] Repairdesk-QA commented on #1704
Hey @xkrypt0nx,
I hope you are doing well. Your reported issue has been fixed. We have added a new trigger in the **Appointment Calendar Widget Configuration tab > Select image size for Manufacturers and Devices**, select **Large** option from the dropdown and hit SAVE changes. Refresh the widget & here you go the Manufacturers and Devices images will be displayed larger than before. I have also c

[2021-09-21 12:32] Repairdesk-QA commented on #1704
For internal use:
https://repairdesk.atlassian.net/browse/RB-3834

[2021-09-21 14:42] ZAGRAL commented on #1705
PLEASE CHECK ATTACHMENT IN THIS WE WANT TO ADD INVOICE COLUMN BECAUSE WE HAVE INVOICE ID IN CSV FILE ITS GOOD THAT IN CSV FILE THE TICKET ID WILL COME THEN ITS BETTER TO FIND UNASSIGNED EASILY 
    On Tuesday, September 21, 2021, 03:09:02 PM GMT+5:30, Repairdesk-QA ***@***.***> wrote:

Hey @ZAGRAL
Hope you are doing well.
After discussion with team we have reached to the conclusion that we can add

[2021-09-21 15:01] ZAGRAL commented on #1705
THEN PUT TICKET COLUMN IN CSV FILE WHEN WE DOWNLOAD DAILY REPORT. I KNOW EVERY TICKETS CONTAINS INVOICE BUT EVERY INVOICE DOES NOT HAVE TICKET BUT ITS NECESSARY TO GET TICKET COLUMN IN CSV FILE BECAUSE MANY EMPLOYEE ARE NOT PUTTING DAILY THERE NAME IN ASSIGNED TO AFTER A MONTH WE WANT TO CHECK A ASSIGNED TO EVERY MONTH. PLEASE INSERT INVOICE COLUMN IN MANAGE TICKET DASHBOARD FOR EASY TO SEARCH WHO

[2021-09-21 18:20] Stylemyphones commented on #1710
Here is a rerecorded video
https://watch.screencastify.com/v/DvF9aeCt1UOYIIs60v6J

[2021-09-22 11:03] Repairdesk-QA commented on #1710
Hey @Stylemyphones
I hope you are doing well.
I have checked your concern on windows and Mac and it didn't reproduced. Kindly please contact any of our support ninja through live chat.
Thanks & Regards
Azka

[2021-09-22 17:11] Stylemyphones commented on #1710
Hi Azka,
Thank you for your messages.

Did you by chance try this on a desktop computer or a laptop?
It seems to only be happening on a laptop :(

[2021-09-22 17:41] Rikkertsie77 commented on #1692
@Repairdesk-QA The link with the video is almost expiring.

[2021-09-23 04:13] Repairdesk-QA commented on #1692
Hello @Rikkertsie77,
Hope you are doing well.

I have downloaded the video & seen it too. I just want to know which font you are preferring? The one in Email or Invoice or Pdf.
Please let us know. After that, I have to discuss that format with our development team because there are some formats supported by the only pdf and not in Repairdesk and vice-versa.

Waiting for your precious reply.
Regard

[2021-09-23 04:48] Repairdesk-QA commented on #1710
Hi again,
Thanks for your response.
We had checked your concern on laptop with different browsers but unable to reproduce. You do not need to worry. We have got you covered here.
One of our support guy Fahad Imran has left you an email for your better assistance. Kindly collaborate with him for better understanding of the issue.
Thanks & Regards

[2021-09-23 06:02] Rikkertsie77 commented on #1692
Hello @Repairdesk-QA
Thank you for the quick response!

I prefer the printed one, because this one has the best layout. The most important thing is that the Email, Invoice & Pdf version all have the same font, fontsize and layout. So that everything looks professional and has the same feeling for the customer.

I maybe have the following solution for the problem:

Go to invoices > print invoice >

[2021-09-23 06:21] Repairdesk-QA commented on #1692
Hi again @Rikkertsie77,
Thanks for elaborating on your concern.

I am currently in discussion with our development team and will inform you about the updates.
Be with us, your patience means a lot to RepairDesk.

**Regards,**
Quratul Ain

[2021-09-23 10:32] Repairdesk-QA commented on #1659
Hello @SandraGibbs,
Hope you are doing well.

We have worked on your issue and concluded that If we add Date Filter in Inventory Summary Report, it will work for the dates after the date of fix.
For example, if it goes live next Tuesday(i-e, 28 Sept 2021) the report will work after that date.
Please let us know is it ok for you because this is the way it will work in its good way.

Waiting for you

[2021-09-23 18:30] Stylemyphones commented on #1710
Thank you, I'll look for the email.

Do you know if he emailed sarah2004_cc@yahoo.com or zams9@outlook.com?

[2021-09-24 01:56] ZAGRAL opened #1712 "PASSWORD ISSUE"
PLEASE SOLVE THIS PROBLEM AS SOON AS POSSIBLE. WHEN I HAVE NOT CHANGED ANY OF PASSWORD WHY IT SHOWING INCORRECT EMAIL & PASSWORD (AUTOMATIC ITS CHANGE THE PASSWORD) IT'S VERY URGENT MY WORK IS PENDING
PLS RESOLVE THIS PROBLEM AS SOON AS POSSIBLE ..........

![image](https://user-images.githubusercontent.com/91052481/134606634-148d7374-952a-4dd2-87a0-b5b94a261eab.png)

[2021-09-24 01:59] ZAGRAL commented on #1705
PLEASE SOLVE THIS PROBLEM AS SOON AS POSSIBLE. WHEN I HAVE NOT CHANGED ANY OF PASSWORD WHY IT SHOWING INCORRECT EMAIL & PASSWORD (AUTOMATIC ITS CHANGE THE PASSWORD) IT'S VERY URGENT MY WORK IS PENDING
PLS RESOLVE THIS PROBLEM AS SOON AS POSSIBLE ..........

[2021-09-24 02:08] #1712 closed

[2021-09-24 02:16] ZAGRAL commented on #1707
but there is no invoice number in this excel file
u can put assigned to & ticket no in csv

[2021-09-24 02:16] ZAGRAL commented on #1707
but there is no invoice number in this excel file
u can put assigned to & ticket no in csv

[2021-09-24 02:21] ZAGRAL opened #1713 "INCORRECT EMAIL & PASSWORD"
PLEASE SOLVE THIS PROBLEM AS SOON AS POSSIBLE. WHEN I HAVE NOT CHANGED ANY OF PASSWORD WHY IT SHOWING INCORRECT EMAIL & PASSWORD (AUTOMATIC ITS CHANGE THE PASSWORD) IT'S VERY URGENT MY WORK IS PENDING
PLS RESOLVE THIS PROBLEM AS SOON AS POSSIBLE ..........

![image](https://user-images.githubusercontent.com/91052481/134608562-28309a85-b308-402e-869b-cd76740dbec8.png)

[2021-09-24 02:51] SandraGibbs commented on #1659
This is fine.

Just let me know when it goes live

From: Repairdesk-QA ***@***.***>
Sent: September 23, 2021 3:33 AM
To: Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS ***@***.***>
Cc: Sandra Gibbs ***@***.***>; Mention ***@***.***>
Subject: Re: [Repair-DeskPOS/RepairDesk-BUGS-IMPROVEMENTS] Need to get Confirmation for When will the Date ranges for the Inventory Summary Reports (#1659)

Hello @Sandra

[2021-09-24 04:25] Repairdesk-QA commented on #1713
Hello @ZAGRAL,
Hope you are doing well.

We have checked your concern and assigned it to the development team, they will check and inform you about the updates.
Your patience means a lot.

**Regards,**
Quratul Ain

[2021-09-24 04:27] #1346 closed

[2021-09-24 04:38] Repairdesk-QA commented on #1713
Hi again @ZAGRAL,

We have checked from the backend, there was no update about your password change.
Please check again your password, remove extra spaces & if still, you can't log in,  you can use our **Forgot Password** option.
That would be more secure and easy for you.
I hope this will solve your issue and if there's anything else with which I may assist, please do not hesitate to reach us.

*

[2021-09-24 04:47] Repairdesk-QA commented on #1659
Sure thing @SandraGibbs,
We will update you about this.
Your patience means a lot.

**Regards,**
Quratul Ain

[2021-09-24 05:46] jphansendk commented on #1713
Maybe you should disable caps lock on your computer and try again? The password is case sensitive.

[2021-09-24 06:45] ZAGRAL commented on #1713
please reset my password and give its very urgent
    On Friday, September 24, 2021, 10:08:27 AM GMT+5:30, Repairdesk-QA ***@***.***> wrote:

Hi again @ZAGRAL,

We have checked from the backend, there was no update about your password change.
Please check again your password, remove extra spaces & if still, you can't log in, you can use our Forgot Password option.
That would be more secure and eas

[2021-09-24 06:46] ZAGRAL commented on #1713
sir i have check all keys but its showing incorrect email or password please reset my password & give me its very urgent my work is pending since last 2 days

    On Friday, September 24, 2021, 11:16:52 AM GMT+5:30, JP Hansen ***@***.***> wrote:

Maybe you should disable caps lock on your computer and try again? The password is case sensitive.

—
You are receiving this because you were mentioned.

[2021-09-24 07:25] Repairdesk-QA commented on #1713
Hello @ZAGRAL,
Hope you are doing well.

Due to privacy concerns, we can't change or update your password on Git.
Please go to live chat of the Repairdesk Website. Our support agents will fix this on live chat within 2 minutes.
Please have a look at this image attached
![image](https://user-images.githubusercontent.com/39614480/134634928-d46bbb37-5348-477a-aff4-92d8eb6a9ac1.png)

**Regards,**
Qura

[2021-09-24 08:37] rajgrphones opened #1714 "Estimate model need small update in Customer portal"
Dear Team,
Need small update on Estimate side in Customer portal.
When we create Estimates for customers they are not able to see IMEI and SR NO. Rest of things are ok.
NO IMEI and SR number makes issue for customer to recognize device which they have receive for multiple devices.
Its working in Tickets. only issue is Estimate.
![image-2](https://user-images.githubusercontent.com/74395130/13464464

[2021-09-24 11:19] Uzair-RepairDesk commented on #1714
Hey, @rajgrphones  Hope you are doing well.
I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work during this Quarter. i will keep you posted once we start working on it.

And I hope that if there’s anything els

[2021-09-24 11:22] #189 closed

[2021-09-24 11:30] Repairdesk-QA commented on #1705
Hey @ZAGRAL
I hope you are doing well.
Kindly contact live support agent for urgent reset password. we can not reset your credentials due to security concerns.
Thanks & Regards
Azka

[2021-09-26 16:42] Omar1892 opened #1715 "RMA + Inventory Bug/Glitch"
Hello, our RMA section messes up our quantity on hand numbers when the RMA status is switched from in progress to sent to supplier. I sent video to Fahad.

[2021-09-27 06:49] Repairdesk-QA commented on #1715
Hello @Omar1892,
Hope you are doing well.

Let me check this with Fahad and will update you shortly.
Your patience would be highly appreciated.

**Regards,**
Quratul Ain

[2021-09-27 06:59] Repairdesk-QA commented on #1700
Hi again @alliedcomputers,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!
Please let me know if you have any questions.

**Regards,**
Quratul Ain

[2021-09-27 07:04] Repairdesk-QA commented on #1696
Hi again @alliedcomputers,
Hope you are doing well.

Since I haven't heard back from you, I’m assuming you're all set for now, but you can always give me a shout here if anything else comes up!

**Regards,**
Quratul Ain

[2021-09-27 13:55] #1713 closed

[2021-09-27 13:56] #1705 closed

[2021-09-27 13:57] #1704 closed

[2021-09-27 13:57] #1700 closed

[2021-09-27 13:58] #1696 closed

[2021-09-28 06:21] Repairdesk-QA commented on #1715
Hello @Omar1892,
Hope you are doing well.

I have checked your concern and wanted to tell you that this is the current functionality of the RepairDesk.
When we set RMA's status In Progress, we meant to open that RMA and when we set Sent to Supplier, it means we have nothing to this with that item in the RMA because that has been sent to the supplier. That's why every time we change status from In

[2021-09-28 10:17] #681 closed

[2021-09-28 12:22] Repairdesk-QA commented on #1707
Hey @ZAGRAL
Hope you are doing well.
We are considering your concern to be fixed as soon as possible once it gets approved from development team. I will let you know as it gets fixed.
One more thing i would like to know your business name. please mention that too.
Thanks and Regards
Azka

[2021-09-29 02:59] Omar1892 commented on #1715
If we have an RMA's status Sent to Supplier, we can restrict this to not change again to In Progress. So you can't decrease your quantity more than once.
If you want us to do the above mentioned restriction, please let us know.
We will be happy to solve your issues

Yes please set it up the way it was before. Its causing a lot of issues in my store the way it is now.

Thank you.

[2021-09-29 04:30] Uzair-RepairDesk commented on #1715
Hey @Omar1892  Hope you are doing well, now we will add a restriction that once RMA is marked as **sent to supplier** then the user can not change it to **In progress** again. we will update you here once its live.

Regards:
Humza

[2021-09-29 04:32] Repairdesk-QA commented on #1715
For Internal Use Only: https://repairdesk.atlassian.net/browse/REP-3319

[2021-09-30 14:46] smartfixllc opened #1716 "Serialized Inventory Count"
When doing an inventory count, we can scan the device serial and it will count it as a sku. We then have to click on "count serials" to and scan / check mark the imei or serial to actually count it.

The module needs to be able to "count" the item and serial by simply scanning the imei or serial number without also having to click on "count serials" after the item is entered.

The reason for this

[2021-09-30 14:53] smartfixllc opened #1717 "Change Ticket Due Date without editing"
We would like the ability to change the ticket due date from the individual ticket overview screen without having to click "edit". The ability to change like on the view tickets page.

![rd3](https://user-images.githubusercontent.com/91682131/135479146-b617e921-45a5-47cf-b4fe-6752d63ea8bd.jpg)

[2021-10-01 04:22] Uzair-RepairDesk commented on #1717
Hey @smartfixllc  Hope you are doing well, you can update the due date from the ticket listing page without opening a ticket in edit mode.
Attached is the reference screenshot:
<img width="1440" alt="Screenshot 2021-10-01 at 9 13 23 AM" src="https://user-images.githubusercontent.com/22955861/135564642-59a6203f-e92b-4010-9e5d-66ce6c213ae3.png">

Hope this helps. Is there any else I can help you wit

[2021-10-01 05:20] #184 closed

[2021-10-01 05:32] #452 closed

[2021-10-01 05:50] #1536 closed

[2021-10-01 07:56] Uzair-RepairDesk commented on #1716
Hey, @smartfixllc I hope you are doing well, thanks for sharing your feedback.

We’re not working on that at the moment but I’ll pitch it to the team and see what they think. and update you here as well.

If you have any other questions, just let me know and I’ll be happy to help.

Thanks
Humza

[2021-10-01 11:38] rensmin opened #1718 "Multiple languages in emails and notifications"
We have both Dutch and English speaking customers and we are curious if we can send the standard emails in both languages. With this I mean that when customers indicate that they are Dutch, they will also receive the emails in the Dutch language.

Hope te hear from you soon!

[2021-10-01 14:01] smartfixllc commented on #1717
We are aware it’s like that on the “manage tickets” screen.

We are referring to the view individual ticket screen (without clicking edit) as pictured.

The reason is the techs look at this screen to communicate with the customer and go over each ticket. They do not click “edit” unless updating the repair being done or to add inventory. Instead of having to click “edit” or go back to the “manage t

[2021-10-02 18:02] Omar1892 commented on #1715
@Uzair-RepairDesk My question would be now. If we can't switch it back from sent to supplier to in progress it we will not be able to make any edits to the RMA if need it. How can we edit an RMA if the option to edit the RMA isn't there?

[2021-10-04 09:26] Uzair-RepairDesk commented on #1717
Hey, @smartfixllc   let me check the feasibility with the engineering team and I will update you accordingly.

Regards:
Humza

[2021-10-04 10:52] AVECorp opened #1719 "Customer Search Improvements"
In the POS screen, when creating a ticket and searching the customer the business name is not a searchable field. Only name, and email appear to be indexed.

This is the POS search
![image](https://user-images.githubusercontent.com/91883389/135838706-79122a1d-3a40-4709-b80d-d8865c2fd755.png)

This is the "Manage Customer" sectionr search.
![image](https://user-images.githubusercontent.com/91883389

[2021-10-04 11:01] #602 closed

[2021-10-04 11:04] AVECorp opened #1720 "POS Ticket Currency Setting"
Hi Team,

The default system shows the currency as USD, regardless of the setting in the Store settings.

![image](https://user-images.githubusercontent.com/91883389/135839723-5d994eea-8994-4618-af2c-fcc775de0369.png)

![image](https://user-images.githubusercontent.com/91883389/135839821-dc67e0d0-9587-4707-a1e8-0f489b50cf9b.png)

[2021-10-04 11:15] AVECorp opened #1721 "Ticket Status Housekeeping"
Is there a way to re-order the ticket status?
We are looking to improve our service workflow.

![image](https://user-images.githubusercontent.com/91883389/135841717-e430f361-15cb-46ae-ae90-05ca100811aa.png)

[2021-10-04 11:18] AVECorp opened #1722 "Time Logs"
Is there a way to start/stop the time log so that service jobs can be accurately timed?

![image](https://user-images.githubusercontent.com/91883389/135842193-9c973ec5-0166-406a-adc3-bf5705d1ba9e.png)

[2021-10-04 12:06] Repairdesk-QA commented on #1692
Hello @Rikkertsie77,
Hope you are doing well.

Your reported issue has been assigned to the development team & hopefully, it will be fixed in our next release.
Your patience would be highly appreciated.

**Thanks & Regards,**
Quratul Ain

[2021-10-04 12:06] Repairdesk-QA commented on #1692
For internal use only: https://repairdesk.atlassian.net/browse/RB-3898

[2021-10-05 01:33] AVECorp opened #1723 "Ticket Status Search Not Functioning"
Hi Team,

The status filter on the ticket window is not functioning correctly.
When a status is selected, and you click "confirm" to enable the filter no tickets are showing (example below)
![image](https://user-images.githubusercontent.com/91883389/135946145-3e673dd2-fdca-40e6-abd3-be625e8daca0.png)

But when using the advanced filter the filtered search works fine;
![image](https://user-images.g

[2021-10-05 04:53] Repairdesk-QA commented on #1723
Hey @AVECorp 👋

Thank you for bringing this to our attention! It looks like there's a bug that just popped up 🐛.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information! 😃

[2021-10-05 04:54] Repairdesk-QA commented on #1720
Hey @AVECorp 👋

Thank you for bringing this to our attention! It looks like there's a bug that just popped up 🐛.
I'm gonna reach out to our Engineers to get this taken care of, I'll get back to you as soon as I have more information! 😃

[2021-10-05 05:00] #938 closed

[2021-10-05 05:02] #1180 closed

[2021-10-05 05:02] #1152 closed

[2021-10-05 06:24] AVECorp opened #1724 "Ticket Search Parameter - Custom Fields"
Hi Team,
Is there a way to search for custom fields within the Ticket window, currently we are unable to search for custom field values.

![image](https://user-images.githubusercontent.com/91883389/135971014-09ada821-95fc-4f70-a178-d717f8d7971b.png)

[2021-10-05 06:27] AVECorp opened #1725 "Search Feature Request"
Hi Team,

Can we enable the search bar to open a searched ticket once enter is pressed?
We are using barcode scanners and are unable to open the ticket's job page when a barcode is scanned.

![image](https://user-images.githubusercontent.com/91883389/135971026-a12aef3f-4cbb-4028-9ee8-9866ffba7d1c.png)

[2021-10-05 11:52] Uzair-RepairDesk commented on #1725
Hey @AVECorp Hope you are doing well, we have added this request to the Product backlog and will keep you posted once it's done.

Regards:
Humza

[2021-10-05 11:53] Uzair-RepairDesk commented on #1724
Hey @AVECorp Hope you are doing well, we have added this request to the Product backlog and will keep you posted once it's done.

Regards:
Humza

[2021-10-05 11:55] Uzair-RepairDesk commented on #1721
Hey @AVECorp Hope you are doing well, we have added this request to the Product backlog and will keep you posted once it's done.

Regards:
Humza

[2021-10-05 11:55] Uzair-RepairDesk commented on #1719
Hey @AVECorp Hope you are doing well, we have added this request to the Product backlog and will keep you posted once it's done.

Regards:
Humza

[2021-10-06 03:45] Omar1892 commented on #1715
@Uzair-RepairDesk Can I get this fixed? or can I get an answer to my question. We've being stuck with issue for the past 2 weeks.

[2021-10-06 04:24] Uzair-RepairDesk commented on #1715
Hey @Omar1892  once you mark RMA as sent to supplier then the on-hand stock is deducted from the system. now you will have the option to either take a refund or add a credit note. I will ask Fahad to get a call scheduled and he will update you in detail.

Regards:
Humza

[2021-10-06 07:41] rensmin opened #1727 "Device Issue"
Hi Repairdesk,

When we receive a repair, we often do not repair it immediately. That is why we cannot immediately determine what the device issue is. Is it possible to leave this blank when we create a ticket? It would be great if we can leave this blank instead of adding a device issue like "unknown" or "Diagnosis". I hope you can help us out!

[2021-10-06 14:14] rensmin opened #1728 "Physical locations"
Hi!
We organized the physical locations for our repairs. Now multiple repairs can be placed in the same location. It would be great if it could be set that each repair has its own location and that the locations that are occupied are not visible when while creating a ticket.

[2021-10-06 20:38] UrgentPhoneRepair opened #1730 "Ability to report total sum of commissions against an individual employee."
After promising employees commissions on things they have sold, it is now extremely time consuming adding these up line by line. I feel there should be a way to report all total commissions within the chosen timeline. Please help find a faster solution to this. Thank you!

This is a secondary request if possible. I set quotas on certain items for them to receive commissions for our items we push,

[2021-10-07 19:42] traviswithspeedytech opened #1731 "iPad App will not transfer the +1 from phone number to the web ticket and causes error"
iPad App will not transfer the +1 from phone number to the web ticket and causes error

[2021-10-08 02:51] Omar1892 commented on #1715
I'm not sure if you understand what is going on or if you saw the video I sent you. But the issue still there and I just don't understate why you guys would change an option that need no fix. Its causing issues and I need a solution for it that doesn't include me having to go through each dam RMA manually if I have to switch them from Sent to supplier to in progress each freaking time. That is the

[2021-10-11 04:30] AVECorp opened #1733 "PDF Attachements not opening in Tickets"
Uploaded PDFs are not viewable on job tickets.
![image](https://user-images.githubusercontent.com/91883389/136733471-ff0119cd-49cb-4bf0-a2e3-719c62649b26.png)

When selected the below page is displayed;

![image](https://user-images.githubusercontent.com/91883389/136733461-a49d4d6b-df7c-49d7-8754-360bd834a3ea.png)

[2021-10-11 11:13] Repairdesk-QA commented on #1563
Hello @Adski01,
Hope you are doing well.

I am glad that your issue has been fixed.
Closing this issue as it has been fixed.
And I hope that if there’s anything else I can do for you, you won’t hesitate to let me know.

Thanks for your time. Enjoy your day!

**Regards,**
Quratul Ain

[2021-10-11 11:14] #1563 closed

[2021-10-12 20:03] AbbyCSC opened #1735 "Purchase order status not updated correctly when line items are deleted"
If you have a Purchase order with 2 lines - one received and one not received it will have a status of partially received.  If you then delete the line item that is not received (which happens often these days as orders are not being filled) the purchase order keeps the status of partially received when it should be received as there is now only one line item and it is fully received.

[2021-10-13 05:23] ProductTeam-RepairDesk commented on #1716
Hey, @smartfixllc  Hope you are doing well.
I can certainly see how suggested improvements would be useful. With a small team and a big roadmap, we have to pick new features based on the value they’ll add to the most users possible. At the moment, we won’t be able to make this one work during this Quarter. i will keep you posted once we start working on it.

And I hope that if there’s anything els

[2021-10-13 06:30] Repairdesk-QA commented on #1735
_For internal use only:_ https://repairdesk.atlassian.net/browse/RB-3942

[2021-10-14 12:46] Repairdesk-QA commented on #1692
Hello @Rikkertsie77,
Hope you are doing well.

Your reported issue has been fixed. Please verify at your end and do let us know if you have any questions.
Waiting for your feedback!

**Thanks & Regards,**
Quratul Ain

[2021-10-14 12:48] Repairdesk-QA commented on #1735
Hello @AbbyCSC,
Hope you are doing well.

Your reported issue has been fixed.
Please verify at your end and do let us know if you have any questions.
Waiting for your feedback!

**Thanks & Regards,**
Quratul Ain

[2021-10-14 13:06] AbbyCSC opened #1737 "Estimates for product converting to tickets instead of invoices"
I create an estimate that is all products (no service) when I approve it is converting as ticket instead of invoice.  I have an estimate like this now that you can look at.

[2021-10-15 03:14] Omar1892 commented on #1715
Do I really have to keep on pushing you guys for you guys to do your work. I haven't heard from you guys. This is ridiculous for me to be pushing for a service that should be provided since Im a paying costumer. I would like to talk to a manager about this issues since no one cares.

[2021-10-15 06:40] Repairdesk-QA commented on #1737
Hello @AbbyCSC,
Hope you are doing well.

Let me take a look to see if I'm getting the same issue as you and I'll circle back to you.
Your patience would be highly appreciated.

**_Regards,_**
Quratul Ain

[2021-10-16 13:25] AMott-2020 opened #1738 "shopify integration"
we need a Shopify integration.

[2021-10-16 13:26] #1738 closed

[2021-10-18 02:32] AVECorp opened #1739 "No Due Date Notifications"
We have noticed that the ticket due dates are not triggering any notification or email to the assigned users.

![image](https://user-images.githubusercontent.com/91883389/137660144-c1660382-1bc0-49ac-bbc5-09ec12650596.png)

[2021-10-21 10:44] Repairdesk-QA commented on #1737
Hi @AbbyCSC ,
Hope you are well!
Ayesha here. I have gone through the above mentioned issue and it seems that I will need more information regarding the issue.
I will request you to schedule a call with **Fahad Imran, Manager Customer Success and Support**. Kindly book a slot from the link in order to connect with him:
https://calendly.com/fahadimran
I am sure he will be able to assist with the ab

[2021-10-22 20:25] RDimprovement opened #1742 "Online payments in transaction log not showing up in excel download."
When the payment source in the transaction log is "online", the amount of the payment is not showing up in the excel download. Please fix this. Thanks.

[2021-10-23 18:41] MyPhoneRepair opened #1743 "Some Mobile Sentrix SKUs not showing up"
I just integrated MobileSentrix to R.D and got the main majority of inventory that they offer.
However, there are some parts that don't show up in Repairdesk. I can scan the barcode on M.S and it shows up with the item, so I know they aren't out of stock on anything. I've gone through multiple times trying to add any more inventory on the integration page and I have 0 SKUs to download. Any help wo